[2020-01-20 18:49] koenderks commented on #563
Do you have the option `scale variables` under 'Training parameters' on? If so, the variables are first standardized so they can have negative values

[2020-01-20 18:56] App-State-Prof commented on #563
Yes I did...turned that off and it's fixed! Thank you!

[2020-01-20 19:08] App-State-Prof commented on #563
One more question please. If I uncheck the scale variables box, I lose the color bar graphs?
![no color plots](https://user-images.githubusercontent.com/33431829/72751712-570bb000-3b8e-11ea-911a-746078043e29.PNG)

[2020-01-21 08:46] FransMeerhoff commented on #592
Hello @rtbarber

Is it possible that you send us the data set you are working on, and give us a bit more detailed description of the filters, and sequence, you are using?
If not so, can you try to reproduce the problem with one on the data sets from the  Data Library (reached  from the open tab in our main menu; E.g. Machine Learning->Telco Customer Churn is a big data set)
Sorry for the inconveni

[2020-01-21 09:03] #553 closed

[2020-01-21 09:05] #82 closed

[2020-01-21 09:38] FransMeerhoff commented on #586
Hi @ergulkara2018

At the moment we cannot solve this problem, because we do not have a reproduction path.
Some days ago a request was done by boutinb to send us the SPSS file where the problem occurs.
If this is not possible please let us know, perhaps we can find another way to generate a reproduction path.

Kind regards
Frans Meerhoff

[2020-01-21 10:07] FransMeerhoff commented on #590
HI @p-deli ,

Thanks for reporting this and sending us the the data files.
We are busy trying to find what's going on here.
@boutinb  Can you have a look at this one ?

Kind regards
Frans Meerhoff

[2020-01-21 10:30] EJWagenmakers commented on #587
I think there are two issues. The first is that you wish to do logistic regression using dichotomous/ordinal predictors. @vankesteren can confirm, but I believe that this is detected and taken into account automatically (in the corresponding R functions) The second issue is that "the study population have some sort of nested relationship and are not true independent individuals". I am not quite su

[2020-01-21 22:12] koenderks commented on #563
Oef, that is not supposed to happen. However, when I try this on my machine, this does not occur. Can you replicate this behavior using one of the built-in datasets in JASP and send a screenshot of it? Then I will try to replicate this on my machine as well.

[2020-01-21 22:15] koenderks commented on #563
Also, as a response to this:

Not yet, but for clarity (and future discussion about this topic) you can keep an eye on https://github.com/jasp-stats/jasp-issues/issues/564

[2020-01-22 08:24] FransMeerhoff commented on #583
Hi @alexsandro-DeAndrade ,

We are not able to reproduce this problem, because we do not know exactly what the problem is.
If you can tell us exactly what goes wrong we can test this problem on the upcoming version JASP 0.12  which will be released very soon.

Kind regards
Frans Meerhoff

[2020-01-22 08:34] FransMeerhoff commented on #582
@TimKDJ

A pull request is ready for this but Travis fails, can you have a look at this?

[2020-01-22 11:14] pandelis commented on #288
Hi,

Would you have any idea when the future release will be done, please ?

Best

[2020-01-22 11:34] JorisGoosen commented on #288
We begin testing next week, we are finishing all the work going into this release this week. Hopefully that way we are on time for your semester's start.

If you want to take a sneak peek you can take a look at [our nightlies](http://static.jasp-stats.org/Nightlies/), but keep in mind that there might be bugs (and if you find them let us know!).
And it would probably unwise to make JASP-files in t

[2020-01-22 11:57] MAgojam opened #594 "The names of the variables in comparison are lost."
* JASP version: 0.12
* Nightly builds: Jan 20 2020 10:52:32
* OS name and version: win10 pro (ita)
* Bug description: In the "Paired Samples T-Test" table, the gray lines lose the names of the variables in comparison.
See the attached screenshot.
![screenshot](https://user-images.githubusercontent.com/36552289/72891881-8698f480-3d15-11ea-9b9f-41741015c28e.PNG)

Thank you for your time.
Cheers,
Mau

[2020-01-22 12:05] JorisGoosen commented on #550
THis is now fixed.

[2020-01-22 12:05] #550 closed

[2020-01-22 12:09] #496 closed

[2020-01-22 12:13] JorisGoosen commented on #545
First of all, thank you for the incredibly detailed bug report!
I have just installed SPSS and will make sure the problems you noticed will not occur again.

[2020-01-22 12:17] Alan-Pickering commented on #545
Glad to have been of some help. Jasp is excellent. Thanks for making this tool available.

Best

Alan

Sent from my iPad

On 22 Jan 2020, at 12:13, Joris Goosen <notifications@github.com> wrote:

﻿

First of all, thank you for the incredibly detailed bug report!
I have just installed SPSS and will make sure the problems you noticed will not occur again.

—
You are receiving this because you author

[2020-01-22 12:42] #582 closed

[2020-01-22 12:42] TimKDJ commented on #582
This will be included in 0.12

[2020-01-22 12:49] TimKDJ commented on #594
Yeah we performed a rather big code restructure and this slipped through -- whoops! I'll fix this soon; thanks for reporting.

[2020-01-22 14:17] vankesteren commented on #160
the [mirt package](https://cran.r-project.org/web/packages/mirt/mirt.pdf) might a good start if we want to do it well, with rasch, 2pl, and 3pl models.

[2020-01-22 14:25] vankesteren commented on #587
@EJWagenmakers I agree, this is a feature request for multilevel GLM

This is indeed not yet implemented in JASP!

[2020-01-22 15:33] JorisGoosen commented on #545
Well thanks for this issue and the dataset, it helped me test the reading of sav's quite a bit.
SPSS does allow people to enter weird data though, but I think JASP can now handle it quite a bit smoother.

[2020-01-22 15:33] #545 closed

[2020-01-22 16:00] blogfrey commented on #582
Thank you.

On 1/22/2020 4:42 AM, Tim de Jong wrote:

[2020-01-22 16:11] pandelis commented on #288
Many thanks for the informations !

[2020-01-22 16:14] JorisGoosen commented on #555
So it turns out @boutinb already fixed this while working on other synchronization issues.
We are planning to start testing next week and hopefully a release soon after (barring, of course, bugs).

[2020-01-22 16:14] #555 closed

[2020-01-22 16:29] App-State-Prof commented on #563
Very odd...I tried another data set I had. Same thing, when I uncheck the scale variable box I lose the color bar graphics.

![k means JASP data 2](https://user-images.githubusercontent.com/33431829/72912962-6c0d4e00-3d0a-11ea-8056-ba1a1031c725.PNG)

[2020-01-22 16:30] boutinb commented on #288
The nightly version does not have yet a working custom contrast... At the end of the week hopefully.

[2020-01-22 16:49] JorisGoosen commented on #591
@aegemen have you tried the workaround I suggested?

[2020-01-22 16:56] Saguaroman commented on #555
Many thanks!

[2020-01-22 17:33] darcysantor commented on #160
This sounds promising. I did not realize that JASP was built on R packages.
Definitely the way to go!

[2020-01-22 18:18] koenderks commented on #563
Hmmm that's so very weird, this makes the problem hard to isolate. So this only seems to occur when you load a dataset from your computer and unscale the variables, but not if you use a data set from JASP? To try to find out what is the difference, is there anything odd about these datasets? Do they contain missing/weird values for instance? I'm in the dark about this one here

[2020-01-22 18:37] App-State-Prof commented on #563
I am not sure...my data has been cleaned. PRetty basic Likert measure variable items.

![JASP my data](https://user-images.githubusercontent.com/33431829/72923023-2fe2e900-3d1c-11ea-83c9-e32e59e1cbf1.PNG)

[2020-01-22 18:44] App-State-Prof commented on #563
Might it be...that my data is whole numbers? I noted your JASP test data is varied, some times to the right of the decimal point.

![image](https://user-images.githubusercontent.com/33431829/72923535-4473b100-3d1d-11ea-882c-c138c196f873.png)

[2020-01-22 19:05] JorisGoosen commented on #563
Is it possible for you to share the data with us?
Because if it can cause something like that, there is probably a bug somewhere in our code that gets triggered by it.

[2020-01-22 19:09] koenderks commented on #563
I can now reproduce this if I just make some random data containing whole numbers. Will look into it

[2020-01-22 19:16] App-State-Prof commented on #563
Sure here is one of the data sets I tested.

Thomas S. Mueller PhD MBA
Professor, Advertising Communication
Faculty in Residence, founder Active Living RLC
Appalachian State University
(828)262-2228
profwriter.com

On Wed, Jan 22, 2020 at 2:05 PM Joris Goosen <notifications@github.com>
wrote:

[2020-01-22 19:36] koenderks commented on #563
Alright, it was an easy fix. I created pull request https://github.com/jasp-stats/jasp-desktop/pull/3772 that fixes this issue. Thank you for spotting it!

[2020-01-22 19:44] #293 closed

[2020-01-23 09:28] DrMarkGS opened #595 "Log odds ratio plots not correct?"
* JASP version: 0.12 Dec 17 2019
* OS name and version: Windows 10
* Analysis: Bayesian contingency table
* Bug description: Log odds ratio plots annotated incorrectly

Data gives a BF10 of 5790 in favour of null hypothesis - in the plots both BFs are reported as BF-0 and the pizza plot appears to show evidence in favour of the null.
![image](https://user-images.githubusercontent.com/39003008/7297

[2020-01-23 11:02] TimKDJ commented on #595
That doesn't look right, I'll check it out

[2020-01-23 12:36] #220 closed

[2020-01-23 17:29] #594 closed

[2020-01-23 23:22] PeterKlaren opened #596 "Planned comparisons/contrasts with multiple levels"
* Enhancement: Contrasts (ANOVA) that are composed of multiple groups
* Purpose: More versatile planned comparisons.
* Use-case:

**Describe the solution you'd like**

Combining levels of a factor in a contrast. The current ones in JASP 0.11.1 (simple, deviation, Helmert, etc.) are fixed.
For instance a contrast C=(μ1+μ2)/2−(μ3+μ4)/2.
**Describe alternatives you've considered**

**Additional conte

[2020-01-24 09:38] FransMeerhoff commented on #596
Hi @JohnnyDoorn
Can you consider this request?

[2020-01-24 09:50] FransMeerhoff commented on #584
Hi @tayavictoria

Please reopen or make new issue with detailed description, if the problem still occurs.

Kind regards,
Frans Meerhoff

[2020-01-24 09:50] #584 closed

[2020-01-24 09:55] FransMeerhoff commented on #568
Hi @YifeiLi121

Can you please give us a detailed description of your problem and/or the status of this issue?
We cannot help you further without a reproduction path.

Kind regards
Frans Meerhoff

[2020-01-24 10:03] FransMeerhoff commented on #579
HI @amandairions

We are not able to solve your problem without the previous request of boutinb.
Please let us know if it is not possible to send us the JASP file, or can you provide another way so that we can reproduce your problem here, e.g. a simplified version of you dataset.

Kind regard,
Frans Meerhoff

[2020-01-24 13:46] JohnnyDoorn commented on #596
Hi Peter,

I just added this functionality last night! So it will be in the next release (scheduled for next month).

Cheers,
Johnny

[2020-01-24 13:46] #596 closed

[2020-01-24 13:54] PeterKlaren commented on #596
Hi Johnny, Wow! Thanks for your quick action! I am currently writing a syllabus for an undergraduate statistics course for bioscientists (using JASP), and just noticed that the fixed contrasts that JASP (and other software as well) offers are a bit limited. Most of all: how amazingly short the lines of communication with you people are! Problem/request/wish list solved within 24 hourse. Truly JASP

[2020-01-24 14:00] JohnnyDoorn commented on #596
Thanks Peter, that's very nice to hear - good luck with the course!

[2020-01-24 14:42] ErinMMiller opened #597 "Displaying frequency graphs"
My student has a HP Laptop 15-da0xxx and we are using JASP 0.11.1 We are doing simple distribution plots and frequency tables of interval and categorical data. The descriptive statistics are displayed but under Distribution Plots it is blank for her.

[2020-01-24 15:15] ergulkara2018 commented on #586
hi Frans

sorry data is my dissertation data and I cant share right now.
ı am using japs long time this is first time something like that happen
with last version of program.
 if can help anything else let me know..

Best regards

On Tue, Jan 21, 2020 at 12:38 PM FransMeerhoff <notifications@github.com>
wrote:

[2020-01-26 16:28] Statham-jasper commented on #569
Hi. Facing same error (also 0.11.1.0 with 64x). First few times I faced the error reinstalling worked, after a few times using software it wouldn't open again. I was using one of the 0.9 versions without issues last year, but now this is also giving the same issue. Neither will now open even after a fresh install. Following the above command prompt I get the following:

Z:\>cd "c:\Program Files\JA

[2020-01-26 17:56] kornbrot opened #598 "bayes repeated anova error"
Tried to run Bayes repeated anova
repeated factor analysis, 3 levels
between factor level, 4 levels (grand, main, 1-way, 2-way
ran perfectly well in standard repeated, gave error messages with BAYES see atached output and raw file.
really grateful for help. Jaspo ahs such a beautiful interface and so good when itworks

IF JASP cannot do it would appreciate R code
Many thanks
Diana

[DescriptiveWid

[2020-01-26 22:19] PeterKlaren opened #599 ""residual df = 0" in two-way ANOVA with one obs per cell"
Using JASP 0.11.1, performing 2-way ANOVA on a 6x5 dataset with 1 value per cell (N = 30), JASP cannot work out the interaction component and produces the error "residual df = 0."
![image](https://user-images.githubusercontent.com/43278770/73142534-26e17700-4090-11ea-88ad-cd99779b5ed7.png)

R, however, can produce a 2-way ANOVA table with interaction term:
![image](https://user-images.githubuserco

[2020-01-27 10:56] JorisGoosen commented on #591
I'm sorry to say that it won't actually be possible to select a different spreadsheet editor in JASP on linux. It cannot work due to the isolating nature of the sandbox that flatpak creates.

I'm afraid the only way to make JASP use a spreadsheet editor in linux is through selecting a different default editor for the MIME type in your OS.

[2020-01-27 10:56] #591 closed

[2020-01-27 12:29] #249 closed

[2020-01-27 12:29] #36 closed

[2020-01-27 20:57] Hskeow9 opened #600 "Unable to open dmg file to install"
* JASP version: 11.1.0
* OS name and version: macOS Catalina 10.15.2
* Bug description: Unable to open dmg file to install
* Expected behavior: The photo of my desktop screen is below. If you can't view it, can send it to you via email. I double-clicked the link, and file was trying to verify. Nothing happened after that. I've heard that there have been issues of people trying to install JASP with

[2020-01-28 08:55] FransMeerhoff commented on #600
Ii @Hskeow9 ,

We are quite sure that you have to be VERY patient. It can sometime take almost half an hour that the verifying takes. se e.eg https://appletoolbox.com/why-is-macos-catalina-verifying-applications-before-i-can-open-them/
But if this succeeds you still have to do the following
After installation:
- If you go to the application folder and you RIGHT click on the JASP app and open it, i

[2020-01-28 08:58] FransMeerhoff commented on #599
Hi @JohnnyDoorn

Can you please have a look at this issue?

Cheers Frans

[2020-01-28 09:12] FransMeerhoff commented on #597
Hi @ErinMMiller

Is it possible that you, or your student, send us the JASP or data file where this problem occurs.
Or otherwise give us some more info how to reproduce this issue, and some more details.  E.g. we assume that she is working on a Windows Laptop.

Kind regards
Frans Meerhoff

[2020-01-28 09:14] FransMeerhoff commented on #595
Hi @TimKDJ

As a reminder, can you have a look at this one?

Cheers Frans

[2020-01-28 09:17] FransMeerhoff commented on #568
Hi @YifeiLi121

Please reopen this  problem persists.

Kind regards
Frans Meerhoff

[2020-01-28 09:17] #568 closed

[2020-01-28 09:43] FransMeerhoff commented on #569
Hi @wanyue-li

We are still not able to reproduce your problem. We still like to see the results from the request that boutinb asked you to do. Could you check that again, or let us know if you have any problems with that?

@Statham-jasper
We only do such a  request if we need  some more error message info from the command  line if any problem with JASP occurs.

Kind regards
Frans Meerhoff

[2020-01-28 09:45] FransMeerhoff commented on #598
Hi @JohnnyDoorn

Can you have a look at this issue?

Cheers Frans

[2020-01-28 11:07] JohnnyDoorn commented on #598
Hi @kornbrot,

Can you please upload the .jasp file of the analyses where you get an error? Having the tables in a word document is a lot less informative. Unfortunately github does not allow uploading jasp files, so to do so, you can make a .zip first, and then upload that. When I have the file I can do some debugging and see why your analysis crashed.

Kind regards,
Johnny

[2020-01-28 11:18] JohnnyDoorn commented on #599
Hi @PeterKlaren ,

The aov function in R just fits the model to your data.
In order to get the Anova table, you can call the anova function on your aov object:
`anova(m1)`
However, if you do this in R, you get the following output:

Analysis of Variance Table

Response: Yield
                  Df  Sum Sq Mean Sq F value Pr(>F)
Spacing            4 125.661 31.4153
Replicate          5   5.410  1.08

[2020-01-28 12:32] AlexanderLyNL commented on #599
I consider this solved. Please reopen if something's still unclear.

[2020-01-28 12:32] #599 closed

[2020-01-28 12:59] frdarya opened #601 "Standard error bars in RM ANOVA plot"
* JASP version: 0.11.1
* OS name and version: MacOS, Windows 10
* Analysis: RM Anova
* Bug description: using the descriptive plots in repeated-measures ANOVA with standard error of mean as the error bar, produces error bars smaller than the actual value of the SEM (about half). I'm not sure whether this is a different way of calculating SEM for repeated measures [instead of SD/sqrt(N) ] or a bug?

[2020-01-28 19:56] Ivanbuljan opened #602 "95% CIs around median"
Hello,
My name is Ivan and I work at the medical school. Due to the small samples and asymmetrical distributions, we often use medians instead of means in data presentation. I usually use JASP for any analysis possible, but for calculation of confidence intervals around medians I need to use R, because the current versions of JASP do not have that feature. For that reason, it would be  nice to imp

[2020-01-29 08:29] FransMeerhoff commented on #602
Hi @Ivanbuljan

Thanks for this suggestion. I think this would definitely be possible.

@vankesteren
Can you have a look at this one?

Cheers Frans

[2020-01-29 08:42] FransMeerhoff commented on #593
@vandenman

As a reminder, can you please look at this issue and please respond?

Cheers Frans

[2020-01-29 08:45] FransMeerhoff commented on #590
@JorisGoosen

Can you have a look at this issue? ( I'm not really sure if not already busy with it)

Cheers Frans

[2020-01-29 10:50] vandenman commented on #593
A key difference between Wasserman & Faust (1994) and the networks currently implemented in the network analysis module is whether the edges are stochastic. In Wasserman & Faust (1994), edges are observed. In the network analysis module, edges are estimated from the data. The question is whether the statistics for observed networks also make sense for stochastic ones. Currently, there is evidence

[2020-01-29 10:53] JorisGoosen commented on #590
@p-deli It sure does sound related to that issue, I'll check if my changes there fixed this.

[2020-01-29 15:59] #590 closed

[2020-01-29 16:17] JorisGoosen commented on #146
Seeing as how I've gotten no response from either of the users with this issue and the strong suspicion that #654 will alleviate the problem I now close this issue.

[2020-01-29 16:17] #146 closed

[2020-01-29 16:18] TimKDJ commented on #36
This is implemented

[2020-01-30 09:34] vankesteren commented on #602
The sampling distribution of the median (and therefore its confidence interval) is not trivial to compute.

We can do either an approximation as follows ([Hojo & Pearson, 1931](https://www.jstor.org/stable/2332422)):

![](https://latex.codecogs.com/gif.latex?%5Csigma_%7Bmedian%7D%20%5Capprox%20%5Csqrt%7B%5Cpi%20/%202%7D%20%5Ccdot%20%5Cfrac%7B%5Csigma%7D%7B%5Csqrt%7BN%7D%7D)

(interestingly, this a

[2020-01-30 09:49] Ivanbuljan commented on #602
Hi Erik,

Well, in R I usually use MedianCI function in DescTools package (if I need
median and CI for one group), or in another case (if I need medians and CIs
for groups) I use groupwiseMedian function from rcompanion package.
I am fine with whichewever approach you decide to use, because i know it is
tricky sometimes to compute this, especially with small samples. If it
helps, I found an articl

[2020-01-30 10:31] boutinb commented on #569
Hi @Statham-jasper
You have apparently some problem during the installation of JASP. Could you try to download the ZIP version (in the Download JASP page, there is a link to download the 'pre-installed' Windows version)?

[2020-01-30 11:59] kornbrot commented on #598
ASP file attached thanks for looking into it
[BayesRepeatedproblemArchive.zip](https://github.com/jasp-stats/jasp-issues/files/4133858/BayesRepeatedproblemArchive.zip)

[2020-01-30 13:35] pandelis commented on #288
Stupid question but is it possible to install easily different versions of JASP (on Windows) ?
As it uninstall the already installed ones, I only found the following procedure for the moment:
-Installing JASP nightly
-Copy it in a directory
-Re-install JASP stable
Would there be a more direct way ?

[2020-01-30 14:12] pandelis commented on #288
I found a solution for the double install of JASP : I keep the stable one in a different folder than "Programmes|JASP" and everything is ok.

[2020-01-30 14:28] boutinb commented on #288
We will make a ZIP version of the Nightly builds. Coming soon.

[2020-01-30 14:30] boutinb commented on #288
There are there! http://static.jasp-stats.org/Nightlies/

[2020-01-31 08:47] FransMeerhoff commented on #598
Hi @kornbrot
Thanks for sending us the JASP file.

Hi @JohnnyDoorn
Can you have another look at this one?
( I reproduced the problem on the nightly 31-01 version and just found
Error in jaspResultsCPP$send() : Type is not convertible to string
..... in the engine log )

[2020-01-31 08:53] FransMeerhoff commented on #601
Hi @frdarya

Could you please send us the JASP file where this problem occurs?
(You can do this by putting it in a zip file and drag it to this issue)

Kind regards
Frans Meerhoff

[2020-01-31 08:57] pandelis opened #603 "Problem custom contrast"
* JASP version: 0.12 Jan 30
[__Tests Contrastes Regression.zip](https://github.com/jasp-stats/jasp-issues/files/4138357/__Tests.Contrastes.Regression.zip)

I guess you already know it but for a simple one factor ANOVA with 3 levels, we need to enter 2 custom contrasts to have a result. (only 1 does not work)
In a simple one factor RM Anova, for the moment I cannot make custom contrasts for the mom

[2020-01-31 08:57] FransMeerhoff commented on #560
Hi @JohnnyDoorn

Can you please respond on this issue?

[2020-01-31 08:58] pandelis commented on #288
Thanks ! Impressive !
I reported possible problems using custom contrasts in the bug section.

[2020-01-31 09:10] JohnnyDoorn commented on #560
Hi @alliecat966

In the new JASP release, the RM ANOVA has been rewritten and this error message will be clearer. What you can try for now, is using a different type of sum of squares, because different types deal with missingness in cells better than other types. If that does not work, you can try the nightly jasp build (sort of a beta version of JASP, with all new features added, but that still

[2020-01-31 09:10] #560 closed

[2020-01-31 11:14] frdarya commented on #601
Hi @FransMeerhoff ,
Here's the file, thanks!

[rt.zip](https://github.com/jasp-stats/jasp-issues/files/4139020/rt.zip)

[2020-01-31 18:04] breakbitero opened #604 "Logit regression matrix"
This analysis terminated unexpectedly.

Error in chol.default(mat): la submatriz de orden 28 no es definida positiva

Stack trace
analysis(dataset = dataset, options = options, perform = perform, callback = the.callback, state = oldState)

.glmEstimatesTable(lrObj, options, perform, type = 'binomial')

mdscore::wald.test(glmObj[[2]], term = i)

wald.default(model = model, terms)

invmat(crossprod(

[2020-02-02 19:45] Golden-Retriever-1 commented on #593
I appreciate your efforts. The difference indicated above is indeed important. It would be a pleasure adding this to the manual/documentation of JASP to make the users aware of it. Many other software tools for network analysis do not even specify the details of calculations.

I thank you for adding the topic to the to-do list. I am looking forward to its implemenation.

[2020-02-03 13:42] TomasAPalma commented on #587
@vankesteren @EJWagenmakers Any idea when you will be able to include such feature in JASP? Very looking forward for that!

[2020-02-04 08:49] FransMeerhoff commented on #604
Hello @breakbitero

Could you please send us the JASP file where this problem arise.
And send us the the information as described in the template issue;
* JASP version:

* OS name and version:
* Analysis:
* Bug description:
* Expected behaviour:

This would help us a lot reproducing and solving the problem.

Kind regards
Frans Meerhoff

[2020-02-04 10:08] pandelis commented on #288
My ANOVA lectures will begin Tuesday 11.
Is there any hope custom contrasts will work by then ?
Best

[2020-02-04 10:59] JohnnyDoorn commented on #288
Hi Pandelis,

I will implement the custom cntrasts for RM ANOVA this week, so they should be in the nightly by the end of the week. I'll also look into the one issue where you need to specify more than 1 contrast to make it work, but it might just be a necessity in custom contrasts in R.

Cheers
Johnny

[2020-02-04 13:18] pandelis commented on #288
Thanks !
I noticed another thing in between ANOVA with 2 factors.
Imagine 1 factor is gender and another is quantity of beers (0,2,4) and the effect on attractiveness.

 It would be nice to be able to do things like only for women I would like to see the effect of 0 vs (2 and 4) beers. But if I do that (1 for men and 0 for women) it complains that "Some contrasts do not sum to 0".
In other terms i

[2020-02-05 08:55] TimKDJ commented on #72
The changes you describe are incorporated in 0.12; better late than never, I suppose

[2020-02-05 08:55] #72 closed

[2020-02-05 09:12] LorentzEL commented on #587
Thank you very much for all answers. This is indeed a feature request of multilevel GLM, which I'm also looking forward to see in JASP.

[2020-02-05 10:21] redisol1621 opened #605 "Request for help in JASP cannot continue & will close problem"
* JASP version: JASP.011.1.0
 Window
* OS name and version: Window 10 64 bit
* Analysis:  Exploratory Factor Analysis
* Bug description: JASP experienced an unexpected internal error. The engine crashed ...
JASP cannot continue and will close
* Expected behaviour:

#### Steps to reproduce:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

[2020-02-05 12:37] p-deli opened #606 "[Feature Request]: date format importing of SAV files"
* Enhancement: display date instead of uninterpretable number
* Purpose: facilitate date usage/reading
* Use-case:

**Is your feature request related to a problem? Please describe.**

Although SPSS recognises/flags a variable as date, JASP (R/RStudio) interprets/transforms it as number

**Describe the solution you'd like**

A date like 26.08.2008 in SPSS translates into 13439088000 in JASP (R/RStu

[2020-02-05 12:43] JorisGoosen commented on #606
Duplicate of #30 and we have moved this issue to an internal tracker at https://github.com/jasp-stats/INTERNAL-jasp/issues/312

I agree this would be nice.
The simplest way of doing this in JASP now would be to convert it to string. But then it would not be scalar and cannot properly be ordered. We should definitely add support for this at some point but Ill be the first to admit that it is a bit

[2020-02-05 15:23] kornbrot commented on #598
what more infpormation do you need? were you able to unzip & get JASP file
Thanks for your help

[2020-02-06 09:05] FransMeerhoff commented on #605
@redisol1621

Thanks for reporting this, but can you please send us the JASP file where this problem arises?
Or give us at least a clear description how to reproduce this problem, e.g. by using a data file from the data library?

Kind regards,
Frans Meerhoff

[2020-02-06 09:07] FransMeerhoff commented on #603
HI @JohnnyDoorn

Can you have a look at this issue?

Cheers Frans

[2020-02-06 09:26] #595 closed

[2020-02-06 12:37] JohnnyDoorn commented on #598
Strangely I only see a Bayesian and frequentist T-test in your jasp file and these are all OK.

If it only concerns the Bayesian ANOVA, then maybe @vandenman knows more about this. @FransMeerhoff did you see the Bayesian ANOVA on your computer with this JASP file?

[2020-02-06 12:39] JohnnyDoorn commented on #603
Hi Pandelis,

I just implemented the RM ANOVA contrasts - they will be merged shortly and then will become available in the nightly builds, in time for your class on the 11th.

I removed the restriction where the contrasts need to sum to 0 - I guess that was a little bit of unnecessary paternalism. I am going to close this for now, please reopen if you have further questions or issues!

Cheers
Joh

[2020-02-06 12:39] #603 closed

[2020-02-06 12:47] JohnnyDoorn commented on #601
Hi @frdarya ,

We follow a special procedure for the RM ANOVA plots. This is from our helpfile:
Display:
Display error bars: By selecting this option, error bars will be displayed in the plot. The error bars can either represent confidence intervals or standard errors. In order to get accurate confidence intervals and standard errors, the data are normalized by subtracting the appropriate particip

[2020-02-06 13:18] redisol1621 commented on #605
Thank you for your reply, here below I attached the SPSS file and the
problem arise when I run Exploratory Factor Analysis. As I mentioned before
I used Window 10, 64 bit and use the latest JASP version 0.11.1.0 for 64
bit. I used only the continuous variables to run the analysis on the
datasheet.
Best regards,
Solomon Dribsa

On Thu, Feb 6, 2020 at 11:05 AM FransMeerhoff <notifications@github.com

[2020-02-06 22:55] charlesmalpas opened #607 "Enhancement: Categorical predictors in Bayesian linear regression"
Enhancement: Allow categorical predictors in Bayesian linear regression
Purpose: To be able to use categorical predictor variables in the BMA implementation.

Many thanks!

[2020-02-06 22:57] charlesmalpas commented on #154
Hi Team,

I know this is probably low priority, but I am trying to switch to JASP for my teaching. This would really helpful with teaching biostats to medical students, who have a preference for odds on the original scale.

Many thanks!

Charles

[2020-02-07 08:09] vandenman commented on #607
This is definitely on our to-do list. However, our current backend for Bayesian linear regression, the R package BAS, doesn't properly support this yet. We are working on this together with the maintainer of the BAS package. In the meantime, you could also do an ANCOVA, which should yield the same results and does allow you to use both categorical and continuous predictors.

[2020-02-07 09:51] StaerkS opened #608 "No Copy LaTeX in Reliability Analysis table "Item Reliability Statistics""
* JASP version: 0.11.1

* OS name and version: WIN10
* Analysis: Reliability
* Bug description: No Copy LaTeX in Reliability Analysis table "Item Reliability Statistics" possible, no sign "Latex code copied to clipboard" by clicking on "Copy LaTex", html works. In other tables it works but maybe more tables concerned.
* Expected behaviour: Repairing Copy to Clipboard

[2020-02-07 23:03] charlesmalpas commented on #607
Thanks for the update and advice!

[2020-02-10 02:56] anovabr opened #609 "Different results from JASP when I compare to ez package (repeated measures)"
* JASP version: 0.11.1
* OS name and version: Windows 10
* Analysis: Repeated measure (and ANCOVA)
* Bug description: Different results from R (base--ez package) and JASP
* Expected behavior: I imagine both results should be similar

Hello, I'm running two different analyses in JASP and R. The first analysis is an ANCOVA and the second one is a repeated-measures ANOVA. As always, people want to ma

[2020-02-10 14:41] JorisGoosen commented on #609
Hey @JohnnyDoorn could you have a look at this?
If it is a bug somehow it would be good to get it out before 0.12.

[2020-02-10 15:57] JohnnyDoorn commented on #609
Hi @anovabr,

Thanks for taking the effort to discuss this. I just looked at your code in R, and recreated JASP's results to see where the difference lies. JASP uses the afex package, and you can reprodce JASP's results with the following R code:
library(afex)
result <- afex::aov_car(results ~ condition*time*latino_group + Error(ID/time), data=datLong, type= 3, include_aov = TRUE)
summary(result)

[2020-02-11 01:40] anovabr commented on #609
I don't know either what's going on with ez package, I'll try to reach out to the developers and discover this issue. I always used ez package and now I'm afraid of its previous results...
Thanks for your support. I hope I had contributed to the improvement of the JASP. Keep up the good work you're doing with this software.

[2020-02-11 12:42] mike-lawrence commented on #609
If I recall correctly, afex simply calls ez beneath the hood, so I'm surprised by this discrepancy. I'll dive in now.

[2020-02-11 13:04] mike-lawrence commented on #609
So the main results returned by ezANOVA match afex/jasp:

[code]
But as you've observed, the $aov element provided by ezANOVA when `return_aov` is `TRUE` isn't matching up (even with ez's own summary). Digging into that now.

[2020-02-11 13:39] mike-lawrence commented on #609
Ah, I think I see what's going on now. The `return_aov` argument for `ez` was added in 2011 as a niche feature requested by a solitary user that wanted the equivalent stats::aov object for some post-hoc contrast calculations. It was simple to add but I didn't even think to address the unbalanced-designs case. Normally this wouldn't be a huge deal as all the ez documentation shows that the `$ANOVA`

[2020-02-11 17:15] JohnnyDoorn commented on #609
Hi @mike-lawrence,

Thank you for your quick response and diving into the issue, I am glad it is sorted out now! I think ez is a great tool (just showed it to my R students 2 weeks ago), but it's indeed an interesting point about the no-thinkingness, and something we also run into with JASP...

I am closing this issue now, @anovabr please reopen if you still have any questions!

Kind regards,
John

[2020-02-11 17:15] #609 closed

[2020-02-11 17:23] JohnnyDoorn commented on #288
Hi @pandelis

The RM ANOVA custom contrasts are now also added, so tomorrow's nightly builds will have it I think. I have also removed the sum to 0 constraint.
I am closing this issue now, please make a new one if you encounter any problems!

Kind regards
Johnny

[2020-02-11 17:23] #288 closed

[2020-02-12 08:58] FransMeerhoff commented on #608
Hi @StaerkS

I tried this here on a Windows 10, with JASP 0.11.1 but I did could not reproduce it.
That's very strange because it is quite unlikely related to data.
And did you indeed checked that nothing was copied to the clipboard, so that perhaps only the message 'Latex Code to copied to clipboard' was missing?
Could you send as a JASP file where this problem occurs?

Kind regards
Frans Meerhof

[2020-02-12 09:09] FransMeerhoff commented on #605
Hi @redisol1621

I'm sorry to say but we did receive your attached file.
Could you please try this again? You must put it in a zip file and drag and drop it to this issue.
Not from the reply of the mail message but from  this issue https://github.com/jasp-stats/jasp-issues/issues/605 in your browser.

Kind regards
Frans Meerhoff

[2020-02-12 09:15] FransMeerhoff commented on #601
Hi @frdarya

Was the answer of @JohnnyDoorn  enough explanatory?
If so then I can close this issue.

Kind regards
Frans Meerhoff

[2020-02-12 09:17] FransMeerhoff commented on #600
HI @Hskeow9

If the workaround described in the previous reply did not help, please reopen this issue.

Kind regards
Frans Meerhoff

[2020-02-12 09:17] #600 closed

[2020-02-12 09:54] StaerkS commented on #608
Hi,

yes I've checked the clipboard, really nothing in it, problem only in "Item Reliability Statistics".
Now I've tested it in a separate  JASP-File (attached+screenshot). The same problem, klick on "Copy Latex", no "Latex Code to copied to clipboard" sign, empty clipboard. I will test it later on my mac also.
Thanks for help!

Kind regards
Stefan

[JASP.zip](https://github.com/jasp-stats/jasp-is

[2020-02-12 10:18] FransMeerhoff commented on #598
@JohnnyDoorn
No only see the Paired Samples T-Test and Bayesian Paired Samples T-Test

@kornbrot
Can you please explain. Did you send the wrong file?

Kind regards
Frans Meerhoff

[2020-02-12 12:25] #601 closed

[2020-02-12 16:50] BP-sudo opened #610 "Unable to save image or JASP files on a Linux Mint 19.3 platform"
* JASP version: 0.11.1

* OS name and version: Linux Mint v19.3
* Analysis:
* Bug description: When I try to save an image or a JASP file, the new window which opens lacks a save button. Instead, it only offers 'Cancel' or 'Open'. Clicking on Open does not save anything.
* Expected behaviour: There should be a 'Save' button, and a drop-down menu offering different save formats.

#### Steps to repr

[2020-02-12 16:55] singmann commented on #609
I believe this user was me, on stats.stackexchange. See my comment here:
https://stats.stackexchange.com/a/6212/442

Let me also address one more thing:

If this is not clear from the discussion above, that is not correct. `afex` does not call `ez` at all. Both call `car::Anova` for calculating ANOVAs. The only code that `afex` uses from `ez` is for calculation of generalized eta-squared (this cod

[2020-02-12 19:53] mike-lawrence commented on #609
Yes, my apologies for this self-aggrandizing mis-memory. I knew we were connected somehow (we both call `car::Anova` as you say), but should have investigated my vague recollection before making any comment.

[2020-02-13 08:32] FransMeerhoff commented on #610
Hi @BP-sudo

Thanks for reporting this.
To get thing a bit clear first : saving an image or saving a JASP file or results can be done from different locations (from the result screen or from the file menu).  Can you tell me what you are using.

See the images below.

<img width="375" alt="Screenshot 2020-02-13 at 09 19 18" src="https://user-images.githubusercontent.com/15656960/74415009-ccdc0200-4

[2020-02-13 08:33] BP-sudo commented on #610
Thank you for your reply. I have tried saving from both the results screen and the file menu. I end up with the same problem.

[2020-02-13 08:52] FransMeerhoff commented on #608
Hi @StaerkS

Thanks for sending us the JASP file.
We are now able to reproduce the problem.

@akashrajkn  can you have a look at this one?
(The problem also occurs an the development version)

Kind regards
Frans Meerhoff

[2020-02-13 11:13] ibinsnur opened #611 "Saving into other formats"
Hi,

I have to work with SPSS a lot (workplace requirement). I do like the ease and lightness of JASP and use it because of that, but I miss the possibility to save changed .sav datasets or export into .xlsx format.
The shortcoming of the .csv format is the import process back to SPSS, which requires a lot of manual adjustments.
It's plausible, if it's left out on purpose, because of the open lice

[2020-02-13 15:14] AugustOlsson opened #612 "Enhancement: Credible intervals with informed priors / intervals from the model"
I would like the option to have credible intervals (both graphical and descriptives) based on the fitted model/actual distribution of data. To exemplify I am currently performing a repeated measure BANOVA with RMSE as the dependent variable. Because the credible intervals in JASP are based on a uniform prior I get credible intervals that include negative values (which are of course impossible for

[2020-02-13 19:14] redisol1621 commented on #605
[ezyzip.zip](https://github.com/jasp-stats/jasp-issues/files/4200509/ezyzip.zip)
here is the file

[2020-02-13 19:14] redisol1621 commented on #605
I attache the file

[2020-02-14 14:56] DrMarkGS opened #613 "Inconsistency on sequential analysis plots"
* JASP version:
0.12 Feb 5 2020 17.09
Windows 10

I have noted an inconsistency in the sequential analysis plots - for example those produced in the correlation analysis there is a line while in the t-test plots it is just data points.

![image](https://user-images.githubusercontent.com/39003008/74541662-f035a880-4f39-11ea-84c5-2e1d375546cf.png)

Cheers
Mark

[2020-02-14 16:06] vandenman commented on #613
Good catch! We'll make this consistent across analyses before the next release.

[2020-02-16 12:11] kernalnet opened #614 "Saving data in SPSS format"
It would be great if JASP could save or export data in SPSS format (.sav) just like PSPP.

Cheers

[2020-02-18 01:26] atefertiller commented on #176
This functionality is needed.

[2020-02-18 08:34] FransMeerhoff commented on #612
Hi @AugustOlsson,

Thanks for the suggestion.
@JohnnyDoorn  or @EJWagenmakers can one of you look at this one.

Best,
Frans Meerhoff

[2020-02-18 08:49] FransMeerhoff commented on #611
HI @ibinsnur

We've placed this issue on our backlog. We must admit that this issue has no very high priority at the moment.

Kind regards
Frans Meerhoff

[2020-02-18 08:51] FransMeerhoff commented on #614
Hello @kernalnet

We've placed this issue on our backlog (more general in other formats). We must admit that this issue has no very high priority at the moment.

Kind regards
Frans Meerhoff

[2020-02-18 08:51] #614 closed

[2020-02-18 09:44] FransMeerhoff commented on #605
HI @redisol1621

Thanks for sending us the data file.
We can reproduce is now.

Hi @vankesteren, can you have a look at this one ?

![Screenshot 2020-02-18 at 10 27 36](https://user-images.githubusercontent.com/15656960/74723481-f0d08680-523a-11ea-81de-edaeda1b2549.png)

Cheers
Frans Meerhoff

[2020-02-18 09:48] FransMeerhoff commented on #604
Hello @breakbitero

If this problem still occurs, please reopen  this issue (with the template questions filled in).
We cannot reproduce it.

Kind regards
Frans Meerhoff

[2020-02-18 09:48] #604 closed

[2020-02-18 09:52] FransMeerhoff commented on #592
Hi @rtbarber

We are almost in the phase of releasing a new version JASP 0.12.
Can you please reopen this issue if the problem still occurs.

Kind regard
Frans Meerhoff

[2020-02-19 08:36] FransMeerhoff commented on #597
Hi @ErinMMiller

We are in the test phase of releasing JASP 0.12
Please reopen this issue if this problem still occurs on the new version.
We are not able to reproduce it.

Kind regards
Frans Meerhoff

[2020-02-19 08:37] #597 closed

[2020-02-19 08:39] #4 closed

[2020-02-19 08:39] #5 closed

[2020-02-19 08:45] FransMeerhoff commented on #569
HI @Statham-jasper

We are in the testing phase of releasing JASP 0.12
Please wait till this version is released and check your problem on this version. Reopen it if the problem still occurs.
Because we are not able to reproduce this issue we close this issue for now.

Kind regards
Frans Meerhoff

[2020-02-19 08:45] #569 closed

[2020-02-19 11:27] DrMarkGS opened #615 "JASP not updating"
* JASP version: 0.12 Feb 19 nightly
* OS name and version: Win 10
I have just noticed while playing around with descriptives,  changes in the .csv file are not being updated by JASP any more.
Clicked on a cell to go to the .csv file - changed its value to make it seem like an outlier - saved the file and went back to JASP - no change.
If I then go to Sync data and select the .csv file it is now up

[2020-02-21 08:09] FransMeerhoff commented on #610
@JorisGoosen

Can you have a look at this one.
No idea what's going on here.

Cheers Frans

[2020-02-21 08:21] FransMeerhoff commented on #566
Hi @ToddDaniel

Sorry for the late reaction. We are quite busy at the moment releasing JASP 0.12 with all kind of new features. Anyway I've put your suggestions on the backlog, so that we can handle your feature request in the version after 0.12

Kind regards
Frans Meerhoff

[2020-02-21 09:26] JorisGoosen commented on #610
Yes, I'll take a look at what's going on.

[2020-02-21 09:39] JorisGoosen commented on #610
Hmm, if I look here on my system (arch linux) then everything works as expected. @BP-sudo could you give me the output of: `flatpak --version'

[2020-02-21 09:43] BP-sudo commented on #610
Please could you
        explain how I access this.

    Thank you.
    B

    On 21/02/2020 09:39, Joris Goosen
      wrote:

      Hmm, if I look here on my system (arch linux) then everything
        works as expected. @BP-sudo
        could you give me the output of: `flatpak --version'
      —
        You are receiving this because you were mentioned.
        Reply to this email directly, vie

[2020-02-21 10:42] JorisGoosen commented on #610
Yeah sure, just open a terminal (just typing `terminal` after you open the application menu in mint should get you one).
And then you type `flatpak --version` in there.

[2020-02-21 10:48] BP-sudo commented on #610
Thank you.
    The output is:
    Flatpak 1.0.9

    On 21/02/2020 10:42, Joris Goosen
      wrote:

      Yeah sure, just open a terminal (just typing terminal
        after you open the application menu in mint should get you one).
        And then you type flatpak --version in there.
      —
        You are receiving this because you were mentioned.
        Reply to this email directly, view it

[2020-02-21 11:10] JorisGoosen commented on #610
Aah yes, this is a pretty old version, that might be the problem here.
If you would open up your terminal again and run the following three lines:
[code]
This will prompt you for your password and will then get flatpak straight from the principal author. After that I am hoping your problem will disappear!

[2020-02-21 11:27] BP-sudo commented on #610
Thank you.
    I can now save JASP
        files!
    There are a couple of
        slight problems:

      The Save button is
          still labelled Open
      Once I save using
          the Open button, the JASP window freezes. I cannot do anything
          with it. I can't even close it. However, I can open a new JASP
          window and proceed as normal.

    I can live with both

[2020-02-21 11:41] JorisGoosen commented on #610
Great!

Something you can try in the terminal to solve these problems: 'flatpak update'.
And then probably it will update a bunch of other required components. Maybe that helps with the last problems?

[2020-02-21 11:47] BP-sudo commented on #610
Alas, this didn't
        solve the last problems. However, it seems that at least I can
        iconise the frozen JASP windows. I'm happy to leave them in that
        state and just open a new one when needed. Presumably they'll
        all close when I switch off my machine.
    Again, I am most
        grateful to you. JASP is a great program; much more intuitive
        than RStudio, which I

[2020-02-21 12:05] JorisGoosen commented on #610
Too bad that did not help.

If they do not exit by themselves you can use the following command in a terminal: `killall org.jaspstats.JASP -s 9`
Beware though, this will immediately close all running instances of JASP.

A new release is in the works and this one adds support for different file-dialogs, maybe these will help. For now I guess the current workaround will have to do and at least you c

[2020-02-21 12:05] #610 closed

[2020-02-21 12:47] DrMarkGS opened #616 "Data not synchronising"
@boutinb

Screen shots and logs as requested
![image](https://user-images.githubusercontent.com/39003008/75035715-0a2a3a80-54a8-11ea-97e9-a0a1ddc45735.png)

![image](https://user-images.githubusercontent.com/39003008/75035738-1dd5a100-54a8-11ea-91ee-14eec85705d7.png)

[JASP 2020-02-19 15_42_30 Engine 0.log](https://github.com/jasp-stats/jasp-issues/files/4236082/JASP.2020-02-19.15_42_30.Engine.0.l

[2020-02-21 14:10] DrMarkGS commented on #616
Just noted this
![image](https://user-images.githubusercontent.com/39003008/75041136-dfde7a00-54b3-11ea-9490-d9496117a858.png)

[2020-02-21 14:23] ToddDaniel commented on #566
Thank you for letting me know.

I am excited to see the new version. I expect that we will see some great additions to JASP. We appreciate your hard work on some incredible software.

Any speculation on when the new version will be released?  I am getting ready to make a video tutorial, but I would wait to use the newest version.

Todd

On Feb 21, 2020, at 2:21 AM, FransMeerhoff <notifications@git

[2020-02-21 17:07] kornbrot commented on #598
Thanks
I have redone analyses and they checked oout on my mac os1O.14.6. In the .zip please find
data as .csv
results as .htm
jasp as .jasp
Have tried other repeated measures that worked fine. No idea what problem is with tis one.
Sbhould I also post to jasp blog?
[KornbrotBayesRepeated21Feb2010.zip](https://github.com/jasp-stats/jasp-issues/files/4237174/KornbrotBayesRepeated21Feb2010.zip)

[2020-02-21 17:23] kornbrot commented on #598
should have apoligized for sending wrong file
apologies
files in last message should be correct
really appreciate help

[2020-02-24 14:46] ghost opened #617 "Memory issue with Repeated Measures"
I've thoroughly enjoyed your product thus far and am excited to have a good option for repeated measures ANOVA.

I am currently having an issue when I run a repeated-measures ANOVA. When I attempt to run one, I get an error stating "cannot allocate vector of size 325.1 Mb".

I checked R and my memory limit is 16g, so I don't understand why I'm getting this error. How do I allocate more memory to J

[2020-02-24 14:55] vandenman commented on #617
Thanks for the bug report! If you're using the 32-bit version of JASP then R can only use ~4GB of RAM.

Either way, can you perhaps attach the .jasp file or tell us about the size of your data set (no. rows/ columns) so we can see why the analysis is using so much memory?

[2020-02-25 14:22] TimKDJ commented on #598
@JohnnyDoorn could you have another look?

[2020-02-25 16:16] kornbrot commented on #598
apologies for using wrong email address
do I need to pu a pull request on this?
want to do righ thing and appreciate help

[2020-02-25 16:46] JohnnyDoorn commented on #598
Hi @kornbrot,

Could you maybe tell me more about your data and how you gathered it? There is a lot of anomalies going on, such as an extremely violated sphericity assumption (chi square of 1700), and barely any variation between the factor levels (see the descriptives plots). I think the frequentist RM ANOVA is still somewhat able to handle this, but I think the anomalies make the numerical algor

[2020-02-25 18:37] kornbrot commented on #598
Thanks

The project aims to compare the effects of using standard ANOVA (normal level under analysis factor) as opposed to a Generalised Linear Mixed Model with either profit or login link on a response variable that is a proportion. It is well known that GLMM is recommended for proportions. So we took 21 data sets with proportion as response variable and in Stage 1 conducted ANOVA, GLMM profit an

[2020-02-26 08:28] FransMeerhoff commented on #616
Hi @DrMarkGS

The log file states:
Sync file does not exist: L:/JASP/JASP data/JASP Bayes data/Bayesian correlation.csv
Like the error message but more specific.

Could you check that out please?

Kind regards
Frans Meerhoff

[2020-02-26 08:35] TimKDJ commented on #616
Let's keep this centralized in https://github.com/jasp-stats/jasp-test-release/issues/622

[2020-02-26 08:35] #616 closed

[2020-02-26 09:57] DrMarkGS commented on #616
I loaded the file directly from my external L: hard drive – so JASP must be able to see it.
Downloaded the Feb 25th nightly and everything seems ok now.
Mark

From: FransMeerhoff <notifications@github.com>
Sent: 26 February 2020 08:28
To: jasp-stats/jasp-issues <jasp-issues@noreply.github.com>
Cc: Mark Goss-Sampson <M.A.Goss-Sampson@greenwich.ac.uk>; Mention <mention@noreply.github.com>
Subject: [

[2020-02-27 12:30] LTanas opened #618 "Missing value list error"
* JASP version: 0.11.1

* OS name and version: Windows 10
* Bug description: Upon exiting the program and reloading data file the number added to the "missing values" box stays on the list and the missing data values disappear from the main screen BUT they are still considered in analyses. Deleting them from the "missing value" list and adding them again solves the issue.. up until next exit/reloa

[2020-02-27 12:37] LTanas opened #619 "Reloading data file does not work (any more) 0.11.1"
* JASP version: 0.11.1

* OS name and version: Windows 10
* Bug description: Im editing a file in SPSS and doing an analysis in JASP. After I edit and save the file in SPSS, JASP (earlier versions) used to refresh the data/synchronize with the new file. This does not work anymore. Nor does the manual Ctrl+Y option work. I need to manually re open the file "Recent files" -> "Open data file" and thi

[2020-02-27 14:57] lafanecm opened #620 "This analysis terminated unexpectedly."
When I clicked on 'Inferential Plots' for a Logistic Regression, I got this error:

Error in loadNamespace(name): there is no package called 'withr'

Stack trace
f(...)

with_seed_null(params$seed, transform_position(data, trans_x, trans_y))

withr::with_seed

getExportedValue(pkg, name)

asNamespace(ns)

getNamespace(ns)

tryCatch(loadNamespace(name), error = function(e) stop(e))

tryCatchList(ex

[2020-02-27 15:00] TimKDJ commented on #620
If memory serves this is a rather old error. Am I correct in thinking you do not use JASP version 11.1?

[2020-02-27 15:03] lafanecm commented on #620
You are correct - I'm using 0.9.2.0 release. Will update now and see what happens! Thank you!

[2020-02-27 15:36] lafanecm commented on #620
It works with the latest version - thank you!

[2020-02-27 15:36] #620 closed

[2020-02-27 15:49] TimKDJ commented on #620
That's good to hear!

[2020-02-27 20:17] MTom68 commented on #541
Hi, could you eventually get forward with this issue?
Thanks, Tamas

Dr. Tamás Martos, Ph.D., habil.
clinical health psychologist
associate professor
Institute of Psychology
University of Szeged
https://www.researchgate.net/profile/Tamas_Martos
+36 30 9649935

Martos, Tamás <martos.m.tamas@gmail.com> ezt írta (időpont: 2019. dec. 20.,
P, 11:54):

[2020-02-27 22:15] viktorsvetsky opened #621 "Missing fields in correlation matrix after copying to MS Excel"
* JASP version: 0.11.1
* OS name and version: Windows 10 Pro
* Analysis: Bayesian Correlation Matrix
* Bug description: When I chosen Copy in Results in menu of Bayesian Correlation Matrix and than make Ctrl + V, there are lot of missing fields in the Excel, especcialy correlation koeficients itself.
* Expected behaviour: Matrix should copy to Excel properly.

#### Steps to reproduce:
1. Go to 'Re

[2020-02-28 10:59] boutinb commented on #541
@vankesteren Is this implemented in 0.12?

[2020-02-28 14:38] boutinb commented on #618
Just to be sure, what is exactly your reproduction path:
. You open a Data file, add an analysis, and add a missing value that changes the analysis.
. You save the file and close JASP.
. You open the JASP file, and remove the missing value: the analysis is not changed.

If this is what you meant, I could reproduce it, and solve it. The fix will be in the next 0.12 release (over 2-3 weeks).

[2020-02-28 14:38] #618 closed

[2020-02-28 14:49] BrianFink14 opened #622 "0.11.1 Keeps Crashing"
* JASP version: 0.11.1

* OS name and version: It is an HP computer. Just installed 0.11.1 and all it does is crash. This is very annoying. Cannot call this user-friendly when I need to be able to use this to teach a statistics . I open an SPSS dataset and that comes up. As soon as try to do any sort of analysis, the program crashes and asks me to submit a bug report. This is ridiculous. If JASP i

[2020-02-28 16:57] LTanas commented on #618
Hi,
I think it might be the same.. just to be sure..
- I open JASP, open Data file, add missing value
- Close JASP (without saving the file)
- Open JASP, re-open same Data file, missing value is still on the list in
Data Preferences, but it is not taken into account in the analysis

ŁT

pt., 28 lut 2020 o 15:38 bruno boutin <notifications@github.com> napisał(a):

--

*Łukasz Tanaś, Ph. D.*

   - W

[2020-02-28 21:54] BrianFink-Lourdes opened #623 "Why does 0.11.1.0 keep crashing?"
I cannot even get a procedure to run without getting the Internal Error, crash, report to github garbage.

This is not acceptable.

And, when I click on JASP, it says this does not even have the full features yet and check back tomorrow. So, what is the most recent version?  AND, which version ACTUALLY WORKS???

[2020-02-28 22:10] EJWagenmakers commented on #623
Hi Brian,

This must be a very frustrating experience. Of course JASP is not supposed to crash like this, and, luckily for other users, it very rarely does. But to prevent the same frustration for users that happen to have the same setup as you we'd like to try and fix this for you. But in order to fix it we do need more information. Of course, if it would crash like this on our systems, we would

[2020-02-29 04:12] BrianFink-Lourdes commented on #623
There is nothing more I can provide. I downloaded JASP. If lucky, it can do a frequency table. Then, it crashes. It is not up to me. You provide the product. Your product does not work. Not my computer. It is JASP.
________________________________
From: EJWagenmakers <notifications@github.com>
Sent: Friday, February 28, 2020 5:10:26 PM
To: jasp-stats/jasp-issues <jasp-issues@noreply.github.com>
Cc

[2020-02-29 10:14] kornbrot commented on #598
Note JASP does not do multi-variate repeated measure, freuqentist or Bayes.
Since multivariate is what I need, please do not spend any more time on this.

**Suggestion: Warn users of rpearted ANOVA that mulitvariate is not** avaialble
**should I put suggestion in separate request?**
will close as soon as reesponse to this quert

Thanks for all your help.

[2020-02-29 12:21] BrianFink-Lourdes commented on #623
JASP version: 0.11.1
OS name and version: It is an HP laptop computer. Microsoft Windows 10. Just installed 0.11.1 and all it does is crash.
Analysis: Anything. It happens with t-test, ANOVA, descriptives.
Bug description: It crashes. Every time.
Expected behaviour: It should still work after ten seconds. Get the wheel of death spinning and then the same crash error box that directs me to this pag

[2020-02-29 12:39] EJWagenmakers commented on #598
Yes, suggesting the multivariate extension is a good idea!
EJ

[2020-02-29 19:34] BrianFink-Lourdes commented on #623
It sometimes runs for a few minutes where you can run some analyses. Then, it just crashes. Or, it just crashes over-and-over at the start whenever you breathe.

Heard the same horror stories of students with R. Apparently, that is why this is free. Some goofy internal engine crash error box pops up every time it crashes and then refers me to here. My students are going to go nuts dealing with thi

[2020-02-29 21:31] EJWagenmakers commented on #623
Hi Brian,

All our tests and feedback suggests that JASP is pretty stable. The kind of behavior you report is exceedingly rare, bordering on an anomaly. Of course we still want to help, but your experience is not par for the course. If your students encounter similar problems with JASP, please point them our way!

Cheers,
EJ

[2020-03-01 17:42] gbg33k commented on #556
Hello, I'm sorry for the slow response.  Ok, I support renaming the Y axis to communalities for the current plot, however, the option currently labelled "Eigenvalue > 1" will need to be updated as well.   Furthermore, is it possible to provide the true Eigenvalues in a table as an optional output?

[2020-03-02 11:15] JorisGoosen commented on #622
This is obviously a duplicate of the previous issue that you posted at https://github.com/jasp-stats/jasp-issues/issues/623 of course we want to help you. But it won't go quicker by opening more issues and shouting at us.

[2020-03-02 11:15] #622 closed

[2020-03-02 11:18] JorisGoosen commented on #623
@BrianFink-Lourdes maybe you could try the [latest test version](http://static.jasp-stats.org/Nightlies/WindowsZip/JASP-nightly-development-641578951f327cbb832b8f6f37a3189a8e5b9877.zip).
This is a zip and if you unpack this somewhere and then run "JASP.exe" we can at least figure out if we perhaps have already solved the problem. And otherwise we can take a deeper dive into this issue. If you pref

[2020-03-02 11:19] JorisGoosen commented on #619
@boutinb I can take a look and see if I can reproduce this on windows as well.

[2020-03-02 11:22] JorisGoosen commented on #611
This should however not be too hard with the [Readstat support](https://github.com/WizardMac/ReadStat) we added a while ago.

[2020-03-02 11:24] JorisGoosen commented on #586
@ergulkara2018 do you maybe have this same issue with other spss files as well?
As in, does it crash on all data?
And perhaps you can test with one of our [experimental "nightly" versions](http://static.jasp-stats.org/Nightlies/) because I've made some changes to the way spss files are read and maybe the problem is already gone. Be advised that we are still testing these versions to be sure they a

[2020-03-02 11:36] EJWagenmakers commented on #611
If it's easy to do then I think we should do it :-)

[2020-03-02 11:46] JorisGoosen commented on #611
Well it should be relatively easy for stats/sas/spss. As far as excel goes we should probably first implement reading those formats? And would we also want to support exporting to ods format?

Right now, as far as I know, we only export to csv right?

[2020-03-02 11:48] JorisGoosen commented on #474
Seeing as how the OP hasn't responded for quite a while and this is actually a different issue as far as I can see I now close this issue.

[2020-03-02 11:48] #474 closed

[2020-03-02 11:51] JorisGoosen commented on #466
@divanosport if you lookd at [this page](https://blogs.gnome.org/alexl/2019/02/19/changes-in-flathub-land/) under "Publish beta releases" you see some commands to add a "beta" branch of flathub.

I've pushed a version of JASP there that you can (after installing it) run as `flatpak run --branch=beta org.jaspstats.JASP` which has a special option under "Preferences -> Interface -> Use Native Filedi

[2020-03-02 11:54] JorisGoosen commented on #608
@FransMeerhoff you could also assign an issue to someone if they should look at it.

[2020-03-02 11:58] JorisGoosen commented on #617
@shaunstearns which operating system are you using?

[2020-03-02 12:15] boutinb commented on #619
@JorisGoosen Yes, thanks

[2020-03-02 12:20] shaunstearns commented on #617
I'm using Windows 10.

[2020-03-02 12:56] JorisGoosen commented on #617
@vandenman it looks like the data is ~10000 rows by couple of dozen columns.

If I run the 0.11.1 version on linux I get a crash. However, the 0.12 test version keeps going. Although it takes forever. And it seems to require at least 5.2GB.

So then the question for @shaunstearns is, are you using the 32bit or 64bit version of windows?
And maybe you want to test with the latest test version? See h

[2020-03-02 13:06] boutinb commented on #611
There a some free package that read/write xlsx Excel format. We can have a look.
It would be good anyway to extend our export feature: in different format, with or without computed columns, with or without filter...

[2020-03-02 13:18] JorisGoosen commented on #611
Yeah and I remember seeing an issue for better excel read support but I can't find it anywhere.

[2020-03-02 13:58] JorisGoosen commented on #619
I can confirm that the 0.11.1 does not sync when a .sav file changes. The current development does but it doesn't handle it well, I'm looking into it now.

[2020-03-02 14:09] AlexanderLyNL commented on #611
This one?

https://github.com/jasp-stats/INTERNAL-jasp/issues/412

[2020-03-02 15:17] JorisGoosen commented on #617
@shaunstearns let me know if you've tested the new version of JASP that I linked to.

[2020-03-02 16:50] JorisGoosen commented on #617
@JohnnyDoorn or @vandenman do you think a runtime >45m is reasonable? I'll leave it running to see what happens, but it feels like it is a bit long.

[2020-03-02 18:15] BrianFink14 commented on #622
No. Wrong. Download and it should work. Claiming that a new version will magically fix the problem is nonsense and you know it. Sticking with reliable programs for my students. Customer service needs as much improvement as JASP itself.

??

________________________________
From: Joris Goosen <notifications@github.com>
Sent: Monday, March 2, 2020 6:15 AM
To: jasp-stats/jasp-issues <jasp-issues@nore

[2020-03-02 18:19] JohnnyDoorn commented on #617
Here is a simple example in R of a RM ANOVA with a dataset of 10,000 rows - for me it's also running very long already so I think the problem is more related to R/afex, I'll contact Henrik about it.

library(afex)
nObs <- 1e4
x <- paste0("t_", rep(1:3, each = nObs))
y <- rnorm(3 * nObs)
id <- factor(rep(1:nObs, 3))
df <- data.frame(x = x, y = y, id = id)
aov_car(y ~ x * Error(id/x), data = df)

[2020-03-02 20:03] JorisGoosen commented on #617
Well, at least it means that the memory issue is probably solved, for me it peaked at 6GB and then went down a bit to ~4GB. Although the only person who could confirm it would be @shaunstearns, because theoretically something else could be going on there.

[2020-03-03 11:34] #619 closed

[2020-03-03 12:22] TimKDJ commented on #623
See latest response in https://github.com/jasp-stats/jasp-issues/issues/622

If you do not wish to help us debug your problem, then there is nothing we can do for you. We hope you'll find other software more to your liking.

[2020-03-03 12:22] #623 closed

[2020-03-03 12:43] JorisGoosen commented on #586
@ergulkara2018 could you test [this zipped version of the nightly](http://static.jasp-stats.org/Nightlies/WindowsZip/JASP-nightly-development-8bd2b16cbec9898ab4c272b1bd9a2ebfd079087c.zip) or [this installer of the same](http://static.jasp-stats.org/Nightlies/Windows/JASP-nightly-development-8bd2b16cbec9898ab4c272b1bd9a2ebfd079087c.msi). It would be great if you could test it so that we know we sol

[2020-03-04 15:16] vankesteren commented on #605
This is fixed in the next version of JASP!

[2020-03-04 15:16] #605 closed

[2020-03-04 21:25] ankmb1979 opened #624 "Opening files in JASP (browser)"
* JASP version: 0.9.0.1
 Windows
* OS name and version:
* Analysis: None, just opening data
* Bug description: Data files do not open in the browser/rollapp version of JASP
* Expected behaviour: When clicking on Open/Computer/Desktop to import the data file on the desktop, JASP does not correctly provide a window for opening a file. Here is a screen shot of what I get: https://www.screencast.com/t

[2020-03-04 23:19] ankmb1979 commented on #624
I figured out how to open the file.

[2020-03-04 23:19] #624 closed

[2020-03-05 12:10] AugustOlsson opened #625 "Incorrect P(inc|data) for Effects across mathed models in Mixed Bayesian ANOVA"
* JASP version: 0.11.1

* OS name and version: Windows 10 Education
* Analysis: 10(ws)x2(bs)x2(bs) Bayesian Repeated Meassures ANOVA (MIXED)
* Bug description:
When chosing the "effects across mathed models" version of effects the P(inc|data) seems to be very off.

There is a very clear effect of "Block" in my data, evident from the BFinc factor. However the P(inc|data) seems to sugest that the ev

[2020-03-05 13:01] vandenman commented on #625
Thank you for posting the report! That looks like a bug indeed. However, it is difficult for me to reproduce the problem. Could you perhaps attach the jasp file as a zip file on the issue?

[2020-03-05 13:47] AugustOlsson commented on #625
Hi Vandenman,

I cannot upload the datafile here, since the forum is public and it concerns ongoing research. However I could email it to you personally if that works (given that you of course do not disseminate the data). If that approach is feasible, could you provide med with your email adress?

Best,
August

[2020-03-05 13:51] vandenman commented on #625
Of course, I will not spread the data. My email is d.vandenbergh@jasp-stats.org.

[2020-03-05 19:38] PhilKuhnke opened #626 "Robustness check plot error"
* JASP version: 0.11.1

* OS name and version: Windows, MacOS
* Analysis: Bayesian One Sample T-Test
* Bug description: Sometimes, the robustness check plot for BF_10 shows the BF_01 value for the user prior, and vice versa. In both plots, the dot for the user prior is missing. This bug occurs on both Windows and MacOSX (I have not tested Linux yet).

![Robustness_BF01](https://user-images.githubu

[2020-03-06 09:37] pandelis opened #627 "Custom contrasts"
* JASP version: Nightly 0.12 Mar 6 2020
* OS name and version: Windows 7

On a classic ANOVA with one factor
[04 ViagraContrasteInter.txt](https://github.com/jasp-stats/jasp-issues/files/4297573/04.ViagraContrasteInter.txt)

When I try to use custom contrasts in the last nightly such as "-2 1 1"
then I get "Nonconforming number of contrasts coefficients".
So I try to add another contrast such as "

[2020-03-06 16:09] JohnnyDoorn commented on #627
Hi @pandelis

Thanks for the feedback!
I did change it so that also non-orthogonal contrasts are possible, but the check was incorrect. Also the error message about nonconforming number is a little more user friendly now.

Unfortunately we did not mange to include contrasts for interactions in this release, so it will be in the next.

Cheers,
Johnny

[2020-03-06 20:30] lukeplonsky opened #628 "95% CIs for means"
* Enhancement: CIs for means (not mean differences)
* Purpose: Help researchers understand their distributions and make more informed inferences
* Use-case: many

**Describe the solution you'd like**
- I understand that there's been a good deal of discussion and, ultimately, a decision on (not) providing CIs for means within the Descriptives function. However, there is currently no place anywhere

[2020-03-06 20:45] narcilili opened #629 "bayesian multinomial errors"
* JASP version: 0.11.1.0

* OS name and version: windows 10
* Analysis:
* Bug description:  there are two bugs. bug 1 when I use the expected counts field an error message appears. bug 2 the descriptive plot  shows the inverse of the data. in my case, yellow has 68 and green has 32 but the plot shows the inverse.
![jasp error](https://user-images.githubusercontent.com/61888367/76121286-3dcf9d80-60

[2020-03-07 11:21] PhilKuhnke opened #630 "ANOVA Interactions without main effects"
For (repeated-measures) ANOVAs, is it possible to add the option to entertain models with interactions but without the corresponding main effects? E.g. the model AxB, whereas currently only the model A + B + AxB can be entertained.
This could be an option to be ticked in the "Additional Options" tab, similar to how it is an option in the BayesFactor R package ('whichModels' option: 'all' vs. 'with

[2020-03-07 12:40] imarevic opened #631 "Renaming Option in Graphs"
It would be nice to be able to rename parts of the rendered plot (e.g. axis). I am sure there must be a way in Qt to do this.

[2020-03-07 18:52] shaunstearns commented on #617
Well, it took hours to run, gave me some omnibus stats and then immediately
crashed my computer (twice).

What is the recommended sample max for analysis in the program?

Best,
Shaun Stearns, PhD
Research Scientist
Google Scholar
<https://scholar.google.com/citations?user=yEon0LUAAAAJ&hl=en>
410-703-5645

On Mon, Mar 2, 2020 at 1:03 PM Joris Goosen <notifications@github.com>
wrote:

[2020-03-08 23:56] JimWeinrich opened #632 "Graphics missing when pasting into Microsoft Word"
* JASP version: 0.11.1
I think it also affects 0.10, but I don't have access to that version as I type this.
It did not affect 0.9.

* OS name and version: MacOS Mojave 10.14.6
Microsoft Word for Mac, version 16.34

* Bug description: Unlike JASP 9 and earlier versions, when I Copy a set of Results to the clipboard and then paste into Microsoft Word, the graphics take up space but are blank.

I ha

[2020-03-09 09:54] JorisGoosen commented on #617
Well, this seems to be more of a limitation in the actual ANOVA RM algorithm, I understood from colleagues that mixed models are more appropriate for such a large set of observations.

If I understood correctly @JohnnyDoorn or @vandenman ?

[2020-03-09 10:27] vandenman commented on #631
Hi, I assume that you're talking about plot editing? If so, this is high on our to-do list (we hope to have this not in the upcoming release but in the one after that). Either way, this issue looks like a duplicate of https://github.com/jasp-stats/jasp-issues/issues/78, so I'm closing it.

Feel free to re-open if I misunderstood the request!

[2020-03-09 10:27] #631 closed

[2020-03-09 11:51] vandenman commented on #617
The algorithm we currently use does not integrate out the random effects. Thus the resulting model scales with N and quickly becomes enormous. As a results, both R and JASP crash when analyzing this data (unless you're working on a computer with incredible specs).

A module for linear models with mixed effects is in the works, so hopefully that will solve the problem.

[2020-03-09 14:36] ibinsnur opened #633 "Using Filters as factor levels for Mann-Whitney"
Hi,

When doing a Mann-Whitney Independent Samples Test, I obviously can't use grouping variables with more than two factors. Unfortunately JASP also does not recognise filtering in this case. Thus you can't use a variable with several groups/factors as the grouping variable. In my case, there is a variable with several age groups and I'm only interested in comparing the youngest against the oldes

[2020-03-10 08:42] FransMeerhoff commented on #633
Hi @ibinsnur
Thanks for reporting this.
Please can you send us some more information about OS, JASP version etc. as in the template is asked?

@vandenman
Hi Don, can you have a look one (re-assign it)?

[2020-03-10 09:14] FransMeerhoff commented on #632
Hi @JimWeinrich

Thanks for reporting this.

But I think this problem is solved on our latest version JASP 0.12 (with a lot of new features) that will soon be released.
You could check that on our latest nightly build :
http://static.jasp-stats.org/Nightlies/
A small warning here: The data library for this version must be updated to the latest version, but we will do that just before the final rel

[2020-03-10 09:18] FransMeerhoff commented on #630
Hi @PhilKuhnke

Thanks for your suggestion.

@JohnnyDoorn Can you have a look at this one?

Kind regards
Frans Meerhoff

[2020-03-10 09:22] AlexanderLyNL commented on #630
The problem with models that include interactions without the main effects is that it leads to paradoxical inferences, which is why we did not include this option. @vandenman could you please add the relevant reference?

[2020-03-10 09:24] EJWagenmakers commented on #630
From https://link.springer.com/article/10.3758/s13423-017-1323-7:
"Consistent with the principle of marginality, JASP does not include interactions in the absence of the component main effects; for instance, the interaction-only model “Gender × Pitch” may not be entertained without also adding the two main effects (for details, examples, and rationale see Bernhardt & Jung, 1979, Griepentrog, Ryan,

[2020-03-10 09:40] FransMeerhoff commented on #629
Hi @narcilili

Thanks for reporting this.
However we think this problem is solved in our latest development version.
You could download that version at
http://static.jasp-stats.org/Nightlies/
Would you be so kind to test that.
If that is not  possible, or if it is not fixed,  could you send us the data file or JASP file?
(You could do that by putting it in a zip file and drag and drop it to this i

[2020-03-10 10:23] vandenman commented on #633
@JorisGoosen After a discussion with @TimKDJ, we decided that it's probably best that when the dataset is loaded in R, any levels that are filtered out do not appear when calling `levels(variable)`. Do you agree/ can you make that happen?

[2020-03-10 10:25] vandenman commented on #625
Just a heads up, I did not receive any email. In case you send one, something probably went wrong.

[2020-03-10 10:30] AlexanderLyNL commented on #633
@JorisGoosen didn't you do this already? I remember that you added a "drop=TRUE" in read factors, when we implemented the filter?

[2020-03-10 10:59] JorisGoosen commented on #633
Yeah, that is supposed to happen in `jaspRCPP_makeFactor`, where first the variable is given all levels and then at the end `droplevels` is called on it. And this code has been in there for quite a while.

See line 956 of jasprcpp.cpp.

So maybe there is something wrong with the analysis instead?

[2020-03-10 10:59] JorisGoosen commented on #633
@vandenman did you check if the levels are actually in the column?

[2020-03-10 11:17] ibinsnur commented on #633
@FransMeerhoff I'm won't be at the computer today, where the problem occurred. But it's Windows 10 and JASP was installed two maybe three weeks ago, so I guess it's the latest 64bit version.
Thank you guys for addressing it so fast!

[2020-03-10 11:22] JorisGoosen commented on #633
Hmm, if I look at the cpp code then I do see a border-condition where something might go different, the end is:

[code]

So if the column has no values it gets all levels. Because otherwise it might not get levels at all? Although I assume that in @ibinsnur 's case there will still be data.

@ibinsnur could you perhaps upload your jasp-file, where this problem occurs? If the data isn't sensitive o

[2020-03-10 12:10] ibinsnur commented on #633
@JorisGoosen I'm very sorry, but it actually is sensitive data. What I can do (tomorrow) is post screenshots without labels and give a more precise description of the variables used.

[2020-03-10 12:23] JorisGoosen commented on #633
Well, maybe you could make a tiny example that has the same problem? It doesn't really need to be the actual data or sensible data even, just something that gives me a working example of the problem.

[2020-03-10 12:41] ibinsnur commented on #633
@JorisGoosen Sounds good, will do. Please be patient as I maybe will need until Thursday or Friday.

[2020-03-10 13:17] JorisGoosen commented on #633
Don't worry about it, we will be more patient than that!

[2020-03-10 13:45] jspickering commented on #137
I know you've got a statement about this on your website (https://jasp-stats.org/faq/jasp-uses-r-analyses-possible-export-r-code-used-analysis/) but I was wondering if there's any more info on when there might be an update where we can view/copy the underlying R code from our output?

[2020-03-10 13:52] TimKDJ commented on #137
I can't give you an exact time frame, but it's definitely a few months out still. It'll be my #1 priority once 0.12 releases (in about two weeks).

[2020-03-10 13:56] jspickering commented on #137
Great, thank you! JASP has been a lifesaver so far, keep up the good work 😄

[2020-03-10 13:57] TimKDJ commented on #137
Glad to hear it :)

[2020-03-10 14:40] AL38000 opened #634 "Network analysis, multiple comparisons"
* JASP version:0.11.1

* OS name and version: windows
* Analysis: Network
* Bug description: impossible to obtain a threshold value corrected ofr multiple comparisons
* Expected behaviour:

#### Steps to reproduce:
1. Go to 'network'
2. Click on 'estimator/cor'
3. Scroll down to 'analysis options . cor' then 'threshold method - holm'
[Data PCB.zip](https://github.com/jasp-stats/jasp-issues/files/4

[2020-03-10 21:59] ergulkara2018 commented on #586
Ok I will and let you know

Android için Outlook<https://aka.ms/ghei36>'u edinin

________________________________
From: Joris Goosen <notifications@github.com>
Sent: Tuesday, March 3, 2020 3:43:20 PM
To: jasp-stats/jasp-issues <jasp-issues@noreply.github.com>
Cc: ergulkara2018 <ergunkara2018@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [jasp-stats/jasp-issues] internal error (#58

[2020-03-10 22:35] PhilKuhnke commented on #630
I see, thanks a lot for the explanation and references!

[2020-03-11 08:28] AugustOlsson commented on #625
Oh, thats strange. I send an email just after you posted your email (to: d.vandenbergh@jasp-stats.org). Could it have gone to junkmail? I'll try again tomorrow when I'm back at work.

/August

[2020-03-11 10:01] AlexanderLyNL commented on #630
I consider this issue fixed now. If unclear, please reopen.

[2020-03-11 10:01] #630 closed

[2020-03-11 12:47] #627 closed

[2020-03-11 15:38] PsyTechMMU opened #635 "Split parameter for all (relevant) analyses..."
* Enhancement: Add the 'Split' optional parameter to all relevant analyses
* Purpose: Analysis-specific tests on subsets of data without additional files and filtering
* Use-case: Perform any analyses on subsets of data within each analysis e.g., paired-samples t-tests within each group

[2020-03-11 15:41] PsyTechMMU opened #636 "Ability to move and re-order parts of an analysis..."
* Enhancement: Ability to re-order elements of an analysis
* Purpose: To be able to put the elements of the analysis e.g., descriptives, post-hocs, plots in a desired order
* Use-case: Setting up templates with the components of the analyses in the correct/desired order e.g., descriptives first.

**Is your feature request related to a problem? Please describe.**
Only that it is cumbersome to have

[2020-03-11 15:45] PsyTechMMU commented on #611
Reading .xlsx files would be very welcome. :)

[2020-03-11 15:47] PsyTechMMU commented on #260
Transferring and/or exporting results is where JASP falls down to me. Exporting to HTML seemed a bit weird to me anyway, but as the only option it's far from ideal. At least exporting to .doc and .pdf please. :)

[2020-03-11 16:22] PsyTechMMU opened #637 "Option to only compute and display relevant post-hocs..."
* Enhancement: Option for post-hocs to only be calculated and displayed for automatically or user-defined comparisons
* Purpose: Computing all pairwise comparisons is often unnecessary, more complicated than required, and outputs would be affected by some corrections e.g., Bonferroni.
* Use-case:

**Is your feature request related to a problem? Please describe.**
Currently, when outputting the pos

[2020-03-11 16:25] JorisGoosen commented on #260
Well, we would like to add it. We're not entirely sure how to break up the output into proper pages, Should we simply keep them inline as is and just break whenever we reach A4/paper size?
Or should we go for separate "Figures" pages.
Or something else.

If anyone has suggestions, we would love to hear them.

[2020-03-11 16:29] PsyTechMMU commented on #260
It's these kinds of formatting things that make me wonder whether export to .doc/docx might be a better and more flexible approach for a start, perhaps with an option for inline or breaking at page ends. At last with a Word document, the results can be fixed/tweaked and then easily exported to PDF.

It's just such a shame that JASP makes a number of things easier (including formatting of tables et

[2020-03-11 17:03] TimKDJ commented on #260
If you to the results panel and click on the downwards arrow next to `Results` there is a `copy` option. If you press this and then go to a Word document you can paste it.

<img width="280" alt="Schermafbeelding 2020-03-11 om 17 55 38" src="https://user-images.githubusercontent.com/18737241/76442710-9f429400-63c1-11ea-9066-5408e2af81b9.png">

Admittedly this doesn't look as nice as html, which I s

[2020-03-11 17:17] JorisGoosen commented on #260
@PsyTechMMU we really do try to not make it a pain to use... In fact, we work really hard to make things easier but sadly enough we cannot do everything at once.

I do agree that exporting it to doc(x) would make it a lot easier for the user to rearrange the contents as they see fit. I do not have word here though, so I cannot check how the copy command's output actually looks.

And as far as the

[2020-03-11 17:24] JorisGoosen commented on #260
Also exporting to PDF from html is really not that hard either, at least on Linux & MacOS this is built into the browser/OS. And Im pretty sure most pdf-readers and such software on Windows also adds this option.

Aka, print to PDF.

[2020-03-11 18:43] EJWagenmakers commented on #260
Yes. We discussed this before (save as pdf or save as word/open office; how about save as .tex?) but other issues took priority. Let's put this back on the agenda.

[2020-03-12 08:03] AugustOlsson commented on #625
Hi,

Just sent you another email. If this one doesn't find you either. Could you email me at august.collsioo@psyk.uu.se and I'll respond with the files.

[2020-03-12 09:09] ibinsnur commented on #633
I found the problem:
**TL;DR is at the bottom**

First attempt: Exported Data to csv -> edited in Excel (Deleted all other variables, renamed relevant variables) -> opened in JASP again -> JASP recognizes filtering for grouping variable

Tried it with the original Dataset (who knows...) --> JASP does not recognize filtering for the grouping variable

Second attempt: Exported Data to csv --> edited

[2020-03-12 09:18] AlexanderLyNL commented on #633
@JorisGoosen one of these windows UTF-8 encoding things again?

[2020-03-12 09:20] vandenman commented on #625
I received the email! I'll see if I can reproduce the problem and will keep you updated about any progress.

[2020-03-12 10:17] PsyTechMMU commented on #260
Exactly. It's not really copying per se, as the pasted version is very differently formatted.

Apologies if my tone sounded wrong/annoyed/disappointed; I know and appreciate that you all work to make JASP easier to use and better. I just want to provide feedback and hopefully help it be _even_ better for me, my research colleagues, and students. I wouldn't recommend it to undergrads, post-docs, an

[2020-03-12 10:58] JorisGoosen commented on #633
@ibisnur that is some good debugging there!

So, you mention "export to csv", from which application are you exporting? Just curious.
The fact that the problem recurs after adding the label says enough here, apparently there is something going wrong there.

@AlexanderLyNL thought that this might be a Windows UTF-8 thing is likely close to the mark, I just spend some time looking at related problem

[2020-03-12 11:06] JorisGoosen commented on #260
No problem! Although I am happy you clarified, sometimes tone can be hard to read from a text-only interaction. ;)

This doesn't even use the same font... And the tables aren't even remotely the same.

Ah! Oops.

Well, tex has a bit of a steeper learning curve but gives much more flexibility in pagination and formatting after export. But having it all would be best obviously.

And that is basicall

[2020-03-12 12:01] ibinsnur commented on #633
@JorisGoosen I exported the .csv file directly form JASP. Before that I used SPSS for data preparation and consolidation, imported the .sav file into JASP (most labels got lost in the process btw) and saved it as a JASP file so I can make changes.

[2020-03-12 12:15] JorisGoosen commented on #633
@ibinsnur there have been quite some improvements to reading SPSS data files in the upcoming version. I had to buy it though, because it can apparently throw quite a lot of variation in (weird) data formats/columns as it turns out.

I am working on this issue at the moment actually and it is easily reproducible. Hopefully it is as easy to fix.

When that is done I will ask you to test the new vers

[2020-03-13 13:39] ergulkara2018 commented on #586
hi current version is working fine. and problem solved thank you....

Android için Outlook <https://aka.ms/ghei36>'u edinin

------------------------------
*From:* Joris Goosen <notifications@github.com>
*Sent:* Tuesday, March 3, 2020 3:43:20 PM
*To:* jasp-stats/jasp-issues <jasp-issues@noreply.github.com>
*Cc:* ergulkara2018 <ergunkara2018@gmail.com>; Mention <
mention@noreply.github.com>
*Subjec

[2020-03-13 13:51] JorisGoosen commented on #586
Great!

We will be releasing it as a proper version quite soon, we just need to iron out a few more bugs. You can keep using the nightly if you like, but keep in mind that there might still be some small problems we are working on.

[2020-03-13 13:51] #586 closed

[2020-03-13 14:32] pandelis commented on #627
Hi,

Thanks !
I tried with the 04:10 13-03-2020 version.

In classical ANOVA it continues to be not possible to enter only one contrats with a 3 modalities factor.
In an RM ANOVA when I contrast Eye with Phasme and Larves results are different in JASP and in Statistica and UDSAnova.
![image](https://user-images.githubusercontent.com/3620214/76630061-aa233300-653f-11ea-8340-7e68ae4abe8f.png)
![imag

[2020-03-13 20:51] narcilili commented on #629
Hello @FransMeerhoff,

Thank you for your help. In JASP 0.12 the bugs were fixed.

Kind regards

narcilili

[2020-03-15 14:08] PsyTechMMU opened #638 "Pasting text when editing titles in output window overwrites all text..."
Version 0.11.1

Repro:
1. Add an analysis to create output
2. Click edit title in output window
3. Copy some text (from the title itself or from elsewhere)
4. Click anywhere in the title
5. Paste (ctrl+V)
Observed: clipboard text is pasted but replaces entire title
Expected: existing title text should remain and pasted text just added (at cursor)

[2020-03-15 17:50] PsyTechMMU opened #639 "Analyses order not retained..."
JASP version: 0.11.1
OS name and version: WIndows 10

Repro:
1. Open JASP file with mutliple analyses e.g., Album Sales from the data library (Regression)
2. Re-order one or more analyses  e.g., drag Descriptives to the bottom and save again
3. Close and reopen the JASP file
Observed: analyses are not in the saved order e.g., Descriptives is back at the top
Expected: order of analyses should be re

[2020-03-15 20:21] Statham-jasper opened #640 "Dunn's Test"
Hi
I believe there might be an error with the Dunn's Test. When calculating the z-value, the probability that should be returned should be the two-tailed probability (from my reading). The p-value being reported in the tables is 1-tail. This is occurring during ANOVA. I'm working through the Kruskall Wallis example in Hinton's textbook (pg 220-222), with the two-tailed p-value mirrored on other we

[2020-03-15 20:57] Statham-jasper commented on #640
To add to this, I have a query regarding the potential accuracy of Conover's post-hoc for Friedman test. Again, using an example dataset from Hinton given below, there are discrepancies between JASP and output from astatsa.com online calculator which is employing PMCMR package in R. Note this website has a calculator for Dunn's test also, which agrees with Hinton in above comment.

![image](https:

[2020-03-16 10:59] JohnnyDoorn commented on #627
Hi @pandelis,

I just checked your data and corresponding RM ANOVA results - are you sure you specified the same analyses in those other softwares? Because I see there you get 1 and 7 degrees of freedom, while your attached text file would lead to 2 and 14. Or do you mean that the custom contrast result differs? From the marginal means, the JASP results seem correct.

Unfortunately having to speci

[2020-03-16 17:52] App-State-Prof opened #641 "New version 12 chops off variable names in Network analysis"
* JASP version: 0.12
 Windows 10
* OS name and version:
* Analysis: Network analysis cuts off variable names
* Bug description: When I set "Show variable names in legend" the new version cuts off the variable names
* Expected behaviour: Variable names are complete, this worked in prior versions.

![image](https://user-images.githubusercontent.com/33431829/76785249-7d635b80-678b-11ea-9051-58ef8dc11

[2020-03-16 17:58] App-State-Prof commented on #641
FYI, I just checked to see if the underscore between words was the difference. It was not.

[2020-03-17 08:56] luluLeng opened #642 "Repeated Measure ANOVA cannot be run"
I ran a 2 * 3 RMANOVA, but received something like this when I added the very last variable.

This analysis terminated unexpectedly.

Error in df[[termsRM.base64[i]]]: subscript out of bounds

Stack trace
analysis(dataset = dataset, options = options, perform = perform, callback = the.callback, state = oldState)

.resultsSphericity(options, epsilon, mauchly, model)

.approxChi(df[[termsRM.base64[i

[2020-03-17 10:42] JorisGoosen commented on #641
If you resize the plot a bit by dragging the bottomright corner a bit, do they show up again?
Or do they stay out of view?

[2020-03-17 12:10] App-State-Prof commented on #641
Joris they stay out of view. They have somehow been cropped when they are
placed into that field.

On Tue, Mar 17, 2020, 6:42 AM Joris Goosen <notifications@github.com> wrote:

[2020-03-17 12:46] JorisGoosen commented on #641
@vandenman is this something that would be easy to fix?

[2020-03-17 13:04] vandenman commented on #641
Unfortunately, this is not straightforward to fix because qgraph (the R package we use to visualize networks) uses base graphics, and those don't rescale fonts when resizing an image.

[2020-03-17 13:07] App-State-Prof commented on #641
It seemed to scale the variable names to fit in the image in past versions.
Has there been some sort of change to the R code?

On Tue, Mar 17, 2020, 9:04 AM Don van den Bergh <notifications@github.com>
wrote:

[2020-03-17 13:25] PsyTechMMU opened #643 "[Feature Request]: Defining values for Grouping Variable"
* Enhancement: Ability to define which values are to be used from the Grouping Variable
* Purpose: Conducting independent-samples pairwise-based analyses on datasets with >2 groups or labelled levels
* Use-case: e.g., independent-samples t-test comparing groups 1 and 3 (when grouping variable includes 3 levels)

**Is your feature request related to a problem? Please describe.**
Independent-samples

[2020-03-17 13:25] JorisGoosen commented on #641
Could we not set the width of the graph just a bit bigger? Or does qgraph ignore that as well?

And we have changed quite some things in the r code, although qgraph seems to be the same version as before, so why it changed now?

Although, if I look at the two screenshots @App-State-Prof added then in seems that the ppi changed, the older one seems to be a factor of 2 smaller (so the ppi is double)

[2020-03-17 13:38] vandenman commented on #641
Hmm I just tried to replicate this on development but it seems to work as intended:

small image, variable names are cropped:
![image](https://user-images.githubusercontent.com/21319932/76861050-43ae5580-685c-11ea-83f7-525a0914b39a.png)

bigger image, less cropping:
![image](https://user-images.githubusercontent.com/21319932/76861112-5c1e7000-685c-11ea-9186-a0c8247aa043.png)

Perhaps this is speci

[2020-03-17 13:40] App-State-Prof commented on #641
I have never accessed that setting before. It is set to 380. I tried to low
and high of that number, no difference. Also checked "Use PPI of screen
plots" and no change, either.

[image: image.png]
Thomas S. Mueller PhD MBA
Professor, Advertising Communication
Faculty in Residence, founder Active Living RLC
Appalachian State University
(828)262-2228
profwriter.com

On Tue, Mar 17, 2020 at 9:25 AM

[2020-03-17 13:44] App-State-Prof commented on #641
When you state resizing from small to larger image, how are you doing that?
Grabbing the lower right corner of the image and stretching it larger?

Thomas S. Mueller PhD MBA
Professor, Advertising Communication
Faculty in Residence, founder Active Living RLC
Appalachian State University
(828)262-2228
profwriter.com

On Tue, Mar 17, 2020 at 9:38 AM Don van den Bergh <notifications@github.com>
wrote

[2020-03-17 13:49] vandenman commented on #641
Grabbing the lower right corner of the image and stretching it larger?

Exactly that!

[2020-03-17 13:53] App-State-Prof commented on #641
When I drag the image larger, the variable names remain cropped.

Thomas S. Mueller PhD MBA
Professor, Advertising Communication
Faculty in Residence, founder Active Living RLC
Appalachian State University
(828)262-2228
profwriter.com

On Tue, Mar 17, 2020 at 9:49 AM Don van den Bergh <notifications@github.com>
wrote:

[2020-03-17 13:59] JorisGoosen commented on #641
Thank you for testing those options.

I'm working on windows, I'll try it out as well.

[2020-03-17 16:07] JorisGoosen commented on #641
Hmm, so actually if I resize quite a bit (On windows 10) i can get:
![image](https://user-images.githubusercontent.com/29062713/76876153-d1e10680-6871-11ea-99f0-2503c3e6ed12.png)

[2020-03-17 16:09] JorisGoosen commented on #641
It's not quite optimal and I think it couldn't hurt to make the default width of the plot likes twice what it is now if a legend is to be shown?

[2020-03-17 16:15] App-State-Prof commented on #641
This is odd. I stretched the image very large. Then let go of the lower
right corner of the image. It seemed to correct for about a second, then
snapped back with variables showing! Seems one must "over stretch" to
capture the variables.

So this is about technique, rather than coding. Glad to know, I will tell
my students!

[image: image.png]

Thomas S. Mueller PhD MBA
Professor, Advertising Comm

[2020-03-17 16:38] JorisGoosen commented on #641
Ah, that certainly is odd, I can't reproduce that behaviour. For me it unflinchingly resizes the plot to wherever I let go of the the corner...

[2020-03-17 16:43] App-State-Prof commented on #641
Nonetheless is now works to capture the full variable names. I just made a
short video and sent to my students so they will know.

Thank you for helping I'm a big JASP promoter...just talking to an
analytics director at Bank of America telling her about JASP.

Thomas S. Mueller PhD MBA
Professor, Advertising Communication
Faculty in Residence, founder Active Living RLC
Appalachian State University

[2020-03-17 16:54] JorisGoosen commented on #641
I'm happy to hear you like our software that much, and good that this workaround is good enough for now.

I do think that enlarging the plot automatically with a legend would be a good plan though. @vandenman do you want to do this? I vaguely remember you being responsible for the network analysis and this seems like a small change.

[2020-03-17 17:21] vandenman commented on #641
Sure I'll take care of it. Two other issues regarding network analysis are already on my plate and this would be easy to incorporate. For now, I'll just make the width larger if there is a legend. Perhaps we should think of a more general solution though (maybe similar to how RStudio does this?) as resizing can be a bit clunky/ unintuitive.

[2020-03-17 17:30] App-State-Prof commented on #641
Thanks to you all on this fine service. I was just telling my research
methods class in a video how great you are at updates and development for
the new versions.

On Tue, Mar 17, 2020, 1:22 PM Don van den Bergh <notifications@github.com>
wrote:

[2020-03-17 20:43] kszechy opened #644 "Running a basic SEM. Measurement model was fine but structural model had this error message:"
"This analysis terminated unexpectedly.

Error in rawToChar(as.raw(out)): embedded nul in string: '�0��'

Stack trace"

* JASP version: 0.11.1

* OS name and version:  Windows 10 64 bit
* Analysis: Here is the syntax:

#measurement model
JobSat =~ JS1 + JS2 + JS3 + JS4 + JS5R
OrgComm =~ OC1 + OC2 + OC3 + OC4
EnvSupp =~ EP1 + EP2 + EP3 + EP4
AttCow = ~ AC1 + AC2 + AC3 + AC4
StayInt =~ SI1 + SI2 + S

[2020-03-18 15:53] #633 closed

[2020-03-20 15:40] divanosport commented on #466
Hello,

sorry for the delay. I can't access that blog post right now but I'll try again later. If you have the command to install the beta branch I will do it as soon as I see your response.

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
On Monday, March 2, 2020 11:51 AM, Joris Goosen <notifications@github.com> wrote:

[2020-03-20 17:49] JorisGoosen commented on #466
Aah yeah the site seems to be down...

What you do is:
`flatpak remote-add flathub-beta https://flathub.org/beta-repo/flathub-beta.flatpakrepo`
`flatpak install flathub-beta org.jaspstats.JASP`
and then to run it:
`flatpak run --branch=beta org.jaspstats.JASP`

I think it then remembers that you want that version, so to go back to the "real" released JASP, which will of course be quite useful afte

[2020-03-20 18:10] divanosport commented on #466
Same problem...

opening a file via CLI still works luckily ( flatpak run --branch=beta org.jaspstats.JASP whatever.ods), so I will still be enjoying JASP (v 0.12 looks great). Maybe you were right in the beginning, it could be some general QT problem in my distro or specific to my installation. The other day I couldn't make a graph with Julia and it gave me a qt-related error. I might try to inst

[2020-03-20 18:31] JorisGoosen commented on #466
And you realy did uncheck the native dialog box?

[2020-03-20 18:34] divanosport commented on #466
Oops, I did not. :P

And that solved the problem, so thank you for your work!

Sent from ProtonMail mobile

-------- Original Message --------
On Mar 20, 2020, 7:31 PM, Joris Goosen wrote:

[2020-03-20 19:21] #466 closed

[2020-03-20 21:14] App-State-Prof opened #645 "Import data from Google sheets?"
It has come to my attention some students do not have Microsoft products - Word, Excel, etc.

Would it be possible to work in Google sheets, then import from there into JASP?

Or, is there another open source product students could export to from Google Sheets, then import to JASP?

Considering the global community, it would be most inclusive to allow users to import from open source tools when us

[2020-03-20 23:08] EJWagenmakers commented on #645
Surely Google sheets will allow a "save as .csv"? Also, OpenOffice and LibreOffice are open source alternatives with Excel-like ability.

[2020-03-21 11:29] App-State-Prof commented on #645
Thank you!

I tried a Google sheets save to .cvs, but that downloaded and opened in Excel.

Per your suggestion, I reviewed the OpenOffice website and will recommend this to all students who may not be able to afford Microsoft products.

I'd suggest that after we get beyond the current social/health challenge, there will be a massive need for business products that do not cost employers and owners

[2020-03-21 13:19] EJWagenmakers commented on #645
So you use Google sheets to save a file as .csv; then you open JASP; then, from within JASP, you go to "open" and select the csv file from your computer. This should work, right? And yes, the corona crisis will hopefully make people realize that open-source software is the way to go!

[2020-03-21 14:51] App-State-Prof commented on #645
Right now, if I save from Google sheets to .csv it downloads and opens in Excel. I am assuming if Excel was not on my computer - but OpenOffice Calc was, it would open in that program. Then bring from there into JASP.

[2020-03-23 08:45] ymhuang1005 opened #646 "Jasp keep crashing maybe after xsplit installation"
Originally I was able to run JASP on my computer without problem. Last week, it just kept crashing when I tried to perform any analysis. It's not version issue as I just installed the latest version and it still kept complaining about an internal problem. However, I did manage to perform the analysis for once during my dozen attempts.

I've only installed xsplit in between the last time I run JASP

[2020-03-23 14:46] dustinfife commented on #320
I am also having a similar issue. I have a nominal variable I'm trying to change to an ordinal variable. It's the income variable in the enclosed dataset. I'm using the nightly build from 04:07 21-03-2020.

[paranormal.csv.zip](https://github.com/jasp-stats/jasp-issues/files/4370045/paranormal.csv.zip)

[2020-03-23 15:54] EJWagenmakers commented on #320
This is a feature, not a bug. There is no automatic way to transform a nominal scale ("banana"; "very much"; "happy"). What we should do is indicate more clearly, by changing the mouse-over, that nominal scales cannot be transformed. The dropdown option to transform should also be unavailable for nominal variables. This relates to an earlier issue. Actually, this should be re-thought. Suppose I ha

[2020-03-23 16:11] dustinfife commented on #320
But what if my scale is:

"sad", "very sad", "happy", "very happy"

Shouldn't I be able to specify orders? For most analyses, it won't matter, but for the graphics I'm creating, it does. It's a bit troubling to look at a graphic where the x axis isn't ordered correctly.

I can also see it being a problem for generalized linear models (in the visual modeling module). If a user specifies ordered cat

[2020-03-23 16:15] AlexanderLyNL commented on #320
You can still order them, but they can't be changed into numbers. If things work properly, then the ordering is also reflected in your plot.

[2020-03-23 16:50] tilltoot opened #647 "Allow frequency tables for scale data"
Many scale variables have a legitimate need for frequency tables.  For example "number of dogs in household" would be a scale (integer) variable.  It could be useful to know, for example, how many households have exactly four dogs.

Currently, to do this requires that I toggle variables back to ordinal for some reason.  It is hard to explain to my students why we need to do this.

Thanks for consi

[2020-03-23 18:36] EJWagenmakers commented on #320
I think you could also assign them numbers first (e.g., an ordinal Likert scale) and then use labels so that the figures look nice.

[2020-03-24 10:42] pandelis commented on #627
Hi,

Sorry for the delay of my response (coronavirus is complicating everything).
Unfortunately I rechecked the RM Anova contrast and I specified the same analysis in the other software.
I checked another contrast (Phasme vs Oeil) and results differ too :
Here in Statistica
![image](https://user-images.githubusercontent.com/3620214/77416431-203b5b80-6dc4-11ea-805c-cdc93b36d00c.png)
Here in JASP
![

[2020-03-24 14:27] pandelis commented on #627
I discussed with the creator of [UDSAnova](http://udsanova.jlroulin.fr/). (a powerful free software for ANOVAs [but limited to ANOVAs]
He said that he had to compute contrasts manually to have the right "error term"...

Best

[2020-03-24 15:06] JohnnyDoorn commented on #627
Does the UDSanova use the non-pooled error term? Because emmeans uses the pooled error term here, as this is in line with how the anova model is specified (we would need to fit a generalized linear model for the ANOVA instead to have an unpooled error term).

I am not getting a lot of information from teh udsanova output - such as its SE, t-value, estimated difference. These all seem to make sense

[2020-03-25 09:51] pandelis commented on #627
Hi,
With a colleague, we found in the UDSAnova documentation that:
So the error term is the general term for between factors and contrast specific for within factors.

Best

[2020-03-25 15:01] dustinfife commented on #320
A little more background: for barcharts flexplot automatically orders the
axes by sample size, unless the variable is ordinal. In R, the user can
just convert that variables to an ordinal variable. So, is the only option
to rename the labels? (e.g., low, medium, high becomes 1.low, 2.medium,
3.high)?

On Mon, Mar 23, 2020 at 2:36 PM EJWagenmakers <notifications@github.com>
wrote:

--
Dustin Fife

[2020-03-26 09:39] FransMeerhoff commented on #639
Hi @PsyTechMMU

Sorry for the late reaction, but we're in the middle of a test phase of a new JASP 0.12 release.
I'll check if this bug can be solved before that release.

Kind regards
Frans Meerhoff

[2020-03-26 10:27] pandelis commented on #627
Hi,
Here is a more precise answer from UDSAnova's author :

"There are several possible pooled error terms (depending on the location) and it also depends on the nature of the contrast and the presence or absence of an INTER factor. IF JASP uses a full pooled with Sattterwaith correction (I hope), it is for me the worst choice except in very special cases. Most generally, by default it is necessar

[2020-03-26 10:39] FransMeerhoff commented on #647
Hi @vankesteren ,

Something to reconsider? See other issue in request.

Cheers Frans

[2020-03-26 10:54] FransMeerhoff commented on #646
Hi @ymhuang1005

Thanks for reporting this but we need some  more info to help you out.

- What OS  and version has your computer (e.g. Windows 10 or Mac..) ?
- Which version of JASP it concerns ?
-  'It's not version issue as I just installed the latest version and it still kept complaining about an internal problem' I do not know exactly what you mean by that. Did you try to re-install JASP with

[2020-03-26 11:08] FransMeerhoff commented on #644
HI @vankesteren
Could you have a look at this one, or else re-assign it?
Cheers Frans

[2020-03-26 11:11] FransMeerhoff commented on #643
Hi @vandenman ,

Could you have a look at this one, or re-assign it to another?
Cheers Frans

[2020-03-26 11:15] AlexanderLyNL commented on #643
This should be fixed automatically with the general plans regarding data editing/filtering.

I have thought about this, but this could lead to idiosyncratic confusions, and it'll be hard to track computationally, if we fix specific filterings at specific levels of an analysis.

[2020-03-26 11:20] JorisGoosen commented on #639
Aah, I can take a look at this. Maybe we forgot to update a certain list in JASP.

[2020-03-26 11:23] #641 closed

[2020-03-26 11:25] AlexanderLyNL commented on #320
If I remember correctly, text nominals are internally represented by an (alpha-numerically ordered) ordinal. So the only thing you have to do is change the order in the menu. (Click nominal variable, move the variables up and down). It depends on the R function whether the ordinal information is used in the analysis. Is this correct @JorisGoosen?

[2020-03-26 11:31] FransMeerhoff commented on #642
HI @luluLeng

Could you give us some more info about this issue?
-What OS are you running ?
-Which version of JASP do you use ?
- Could you send us the datafile if possible with a clear reproduction ?

Kind regards,
Frans Meerhoff

[2020-03-26 11:33] FransMeerhoff commented on #583
Please @alexsandro-DeAndrade  reopen if this issue still occurs

[2020-03-26 11:33] #583 closed

[2020-03-26 13:18] pandelis commented on #627
I don't know if it's a good idea to post in a closed topic but I think it's the best place to post this.

In case this could be useful, here are references (from the author of UDSAnova) concerning this problem of between and within term error in contrasts:

Winer, B. J. (1971). Statistical principles in experimental design. New-York: McGraw-Hill.
Myers, J. L. (2007). Fundamentals of Experimental D

[2020-03-26 13:41] JorisGoosen commented on #320
I think the problem here is that you cannot convert nominal-text->ordinal. Because that would change the underlying data-type. I've already added a point in [the issue on data-editing in our internal issue tracker](https://github.com/jasp-stats/INTERNAL-jasp/issues/751) to allow for this.

But I think for now the workaround would be to make sure the underlying data is numerical.

[2020-03-26 13:56] vankesteren commented on #644
I am also not sure why this is occurring, but I just checked it in version 0.12 and it should be fixed once this version is released!

@kszechy if you are in a hurry, you can get the latest nightly build from [the nightlies website](http://static.jasp-stats.org/Nightlies), where this problem should no longer occur.

[2020-03-26 13:56] #644 closed

[2020-03-26 21:53] coxongithub opened #648 "Mac OS update - now JASP crashes"
* JASP version: 0.11.1.0

* OS name and version: Mac OS Mojave 10.14.6 (18G4032)
* Analysis:
* Bug description: Click on JASP icon, but crashes immediately, does not launch
* Expected behaviour: Click on JASP icon, JASP launches

#### Steps to reproduce:
1. Go to '...' JASP
2. Click on '....' JASP
4. See error: Crash report

[2020-03-27 15:51] pandelis opened #649 "Custom Contrasts and RM Anova"
Hi

In an RM ANOVA when I contrast Oeil with Phasme and Larves, results are different in JASP and in Statistica and UDSAnova. Results alos differ for other contrasts...
image
![image](https://user-images.githubusercontent.com/3620214/77773728-4ffb9500-704a-11ea-8656-d17cf30bd768.png)

image
![image](https://user-images.githubusercontent.com/3620214/77773772-5be75700-704a-11ea-9042-77cac2c028f6.png

[2020-03-27 20:03] Brennan090 commented on #279
I also have the exact same request.  Love the program but not being able to edit plots (axes values, lines, colors etc.) is making the use of these plots very limited.

[2020-03-27 21:21] EJWagenmakers commented on #279
Definitely. We are well aware of this, and hope to present a complete solution this year.
Cheers,
E.J.

[2020-03-29 00:20] JimWeinrich commented on #632
Sorry, I just downloaded the 0.12 nightly build for 2020 March 28 and it still has the problem ☹.
If you click where a graphic is supposed to be, a box highlights, but it's all white (blank).

[BayesianBeerGoggles.docx](https://github.com/jasp-stats/jasp-issues/files/4398108/BayesianBeerGoggles.docx)

[2020-03-29 02:20] carolasom99 opened #650 "Unexpected error on JASP"
* JASP version: 0.11.1.0

* OS name and version: Windows 10
* Analysis: When I try to make an independent T-Test I immediatly get an "Unespected Internal Error" message.
* Bug description: It crashes JASP and closes immediatly
* Expected behaviour: I should be able to compare the variables I am trying to calculate.

#### Steps to reproduce:
1. Open ModeraciónDhPEFAnálisis-FINAL (2).sav
2. Click on

[2020-03-30 13:25] uhkeller commented on #648
It crashes immediately for me too, also on MacOS 10.14.6. It's a fresh install of JASP, haven't run it before. I'll attach the "problem details" that the crash reporter provides.
[jasp_crash_report.txt](https://github.com/jasp-stats/jasp-issues/files/4403031/jasp_crash_report.txt)

[2020-03-30 15:32] JorisGoosen commented on #648
Thanks for reporting this issue and uploading the crash report as well, could you try out this (beta) version of the upcoming release: https://static.jasp-stats.org/JASP-0.12_notarized.dmg

I'm pretty sure this will solve that crash if the attached problem report @uhkeller is to be believed.

[2020-03-30 15:33] JorisGoosen commented on #650
Sorry to hear you got an unexpected error, we are working hard on a new release and maybe you could test out [this beta version](http://static.jasp-stats.org/Nightlies/Windows/JASP-nightly-development-f13579fc0b376d66f96084b5c1d57e2141d81588.msi)?

Maybe we already solved the problem you ran into.

[2020-03-30 15:38] JorisGoosen commented on #645
This just means that your browser automatically assumes that whenever you download/click-a-link-ending-in-csv-extension you want it to open in Excel/Calc.

No problem, this can either be disabled somewhere in your browser.
The easier options for you right now are:
- Save-as a csv from excel
- Right click the link in your downloads list in the browser and choose show-in-explorer. From there you sho

[2020-03-30 15:39] JorisGoosen commented on #645
Let me know if you run in more trouble but for the rest this isn't really a JASP issue but a local configuration thing, so Im closing this.

[2020-03-30 15:39] #645 closed

[2020-03-30 15:41] App-State-Prof commented on #645
Great thank you. I will work with students who have access problems.

Thomas S. Mueller PhD MBA
Professor, Advertising Communication
Faculty in Residence, founder Active Living RLC
Appalachian State University
(828)262-2228
profwriter.com

On Mon, Mar 30, 2020 at 11:39 AM Joris Goosen <notifications@github.com>
wrote:

[2020-03-30 15:58] uhkeller commented on #648
Yes, this version works. Thanks for the quick response!

[2020-03-30 16:03] AlexanderLyNL commented on #648
Thanks for informing us that the fix works! Joris worked hard on getting the code notarised and I'm glad that it works. Please reopen if the issue resurfaces.

[2020-03-30 16:03] #648 closed

[2020-03-30 16:12] boutinb commented on #649
@JohnnyDoorn It's quite important to know if this something we have to solve for the release next week.

[2020-03-30 16:20] #639 closed

[2020-03-30 17:22] JohnnyDoorn commented on #649
I think we can leave this for now, for the next release i'll have another look at the pooling/unpooling of error terms - we have it now as much in line with the emmeans as possible (for contrasts and post ho tests), which I think is good.

[2020-03-30 17:23] juliablumk opened #651 "Cannot Open JASP"
* JASP version: 0.11.1
* OS name and version: macOS Catalina 10.15.4
* Analysis: I have been using JASP since last year and suddenly it can't open the program anymore. Tried to download it again and it's not opening even after allowing it to open in system and preferences.
* Bug description: "JASP" can't be opened because Apple cannot check it for malicious software. This software needs to be upda

[2020-03-30 17:34] AlexanderLyNL commented on #651
I think that the following helps:

https://jasp-stats.org/installation-guide/

In particular,

If this works for you, then please close this issue.

[2020-03-30 18:20] juliablumk commented on #651
Thank you, I did follow all instructions and it does not open JASP.

[2020-03-30 18:24] AlexanderLyNL commented on #651
It's probably a notarisation issue. Could you please try the following build:

https://static.jasp-stats.org/JASP-0.12_notarized.dmg

Then follow the instructions as described in the link
- finder
- applications
- right click on jasp and select "open"

The newest version of macOS now requires notarisation, and this version should do the trick.

[2020-03-30 18:35] juliablumk commented on #651
Okay it started working using the build, but I can't open it on the normal way. Is it possible that I can open JASP the normal way one day again? Thank you for your help.

[2020-03-30 18:36] AlexanderLyNL commented on #651
It should open normally the next time you open it. Or when you click on a jasp-file. I consider the problem solved. Please reopen if the problem resurfaces.

[2020-03-30 18:36] #651 closed

[2020-03-31 09:29] FidgetteSpinneur opened #652 "Xorg forwarding"
JASP from flathub, newest as of time of writing, Linux (Ubuntu 18 as well as CentOS 7)

Greetings! We're trying to run JASP on an Xorg display forwarded over an SSH connection.

[code]

Setting the `-platform <anything>` flag in the command just yields a segfault:

[code]

Do you have any tips as to how to proceed?

Thanks!

[2020-03-31 09:57] JorisGoosen commented on #652
Aah, that is interesting. Honestly I haven't tried running JASP over ssh till now, neither flatpak nor a local build.

I will have a look to see if that could work or not. It is not the ideal software to run over one of those connections though, everything is rendered in openGL through QML and ssh-forwarding usually works best with pure X11 applications.

But turning on software rendering in JASP

[2020-03-31 11:04] JorisGoosen commented on #652
Hmm, so it seems this is related to flatpak... If I run a locally built JASP it operates fine through an SSH-X11-Forwarded display. But flatpak doesn't want to cooperate.

Apparently the Qt/kde-platform plugin for flatpak has some kind of setting or problem with xcb..

I'm afraid there isn't really a quick solution here. Well, except for building JASP yourself and running it from there.

Maybe I'l

[2020-03-31 12:46] FidgetteSpinneur commented on #652
`Which Qt do you have installed locally?`

None, just tried on a completely virgin Ubuntu 16.04 -- same symptoms, but the only QT files on the system are the ones that come with the flatpak.

`I'm afraid there isn't really a quick solution here. Well, except for building JASP yourself and running it from there.`

We'll look into that then. Thanks!

[2020-03-31 13:13] JorisGoosen commented on #652
Aah actually I just found https://github.com/flatpak/flatpak/issues/397

And I can actually run the flatpak version of JASP over SSH if I do the following:
[code]

Maybe you can try this?
And I still highly recommend switching it to safe graphics, the extra argument to the app turns it on permanently so you can leave it out after JASP started once.

[2020-04-01 00:18] nickkitchen1 opened #653 "Error for Between-Subjects Factor Marginal Means (Mixed-Design ANCOVA)"
* JASP version: 0.11.1

* OS name and version: Linux Ubuntu 19.10
* Analysis: Mixed-Design ANCOVA (One 2-level repeated measure of "TimePoint" (Early/Late), Two 2-level between-subjects factors of "AgeGroup" (Older/Younger) and "VisGroup" (Vis+/Vis-) and 1 continuous covariate of normalized physical ctivity ("PA_ZScore")
* Bug description: Error message appears when trying to get marginal means fo

[2020-04-01 00:34] juanespinoza427 opened #654 "buttons used to put variables in the dependent variables, covariates, and WLS Weights box does not work when making a linear regression"
* JASP version: 0.11.1.0
Windows
* OS name and version: Dell Inspiron 15 3000 Series
* Bug description: the 3 buttons for putting in variables in their respective box do not work
They will not let me put a variable I want into the dependent variable box.
![picture of JASP](https://user-images.githubusercontent.com/62970733/78087033-8d2a9480-7374-11ea-9358-ce4cfd1f89af.PNG)
<!--- A note from the de

[2020-04-01 08:55] FidgetteSpinneur commented on #652
`Maybe you can try this?`

I think we're in business! It's not exactly fast in any way, but there are pictures and colours on the screen.

Thanks a lot!

[2020-04-01 09:35] AlexanderLyNL commented on #654
Hi Juanespinoza427,

Your variables are identified as text variables. For instance, the symbol next to the highlighted variable "Do you know what a Super PAC is?" tells me that it's a nominal, i.e., discrete, variable and the letter "a" in that symbol tells me it's been read as a text.

A scale symbol is shown in the bottom right of "Dependent Variables", "Covariates" and "WLS Weights", which mean

[2020-04-01 11:38] vankesteren commented on #541
It seems to work on my machine. @MTom68 One more question: was the grouping variable you tried to enter here a computed column?

[2020-04-01 11:49] JorisGoosen commented on #652
Yeah that is too bad but it won't ever be fast this way I'm afraid. The way JASP is drawn is not really compatible with xorg forwarding.

I was thinking splitting up the option for safeGraphics from disabling animations. That might be useful in this scenario.

[2020-04-01 11:50] JorisGoosen commented on #652
I'll also add this info to the Linux documentation, but at least you can now use it this way!

Can I ask a question though, just curious, why do you want to run JASP through an ssh tunnel?

[2020-04-01 12:17] MTom68 commented on #541
Thanks for the feedback, we will check it out.
The grouping variables were originally assessed ones, that is, not
computed. Does it make a difference, it means?
thanks, Tamas

Dr. Tamás Martos, Ph.D., habil.
clinical health psychologist
associate professor
Institute of Psychology
University of Szeged
https://www.researchgate.net/profile/Tamas_Martos
+36 30 9649935

Erik-Jan van Kesteren <notificat

[2020-04-01 12:56] FidgetteSpinneur commented on #652
That's just the thing, I don't consider our use case particularly niche.

We provide interactive use of our HPC cluster through Thinlinc (https://www.cendio.com/thinlinc/what-is-thinlinc), but the resource-intensive processes are started via a batch system on the dedicated compute nodes, and, in case of interactive programs, the display is forwarded via SSH.

Thanks!

[2020-04-01 13:47] JorisGoosen commented on #652
Aah yeah, supporting such a setup properly is a future plan of us. Right now JASP already consists of two applications, the front-end and the separate back-end that runs R and the computational stuff.

It would be nice if the communication between them goes through https/ssh something. That way the gui could just run locally the R process(es) could be on the cluster. But because all the data is no

[2020-04-01 18:49] JorisGoosen commented on #652
So Ive added a preference in the application to disable animations without also switching to software rendering. Im curious to hear if that works a bit faster then the way you run it now.

Right now a beta is building in the flathub-beta repository. If you feel so inclined you can try it out, otherwise it will be a part of the next release anyway.

[2020-04-01 18:49] #652 closed

[2020-04-01 23:37] johncarlosignacio opened #655 "Build error: missing modules on Ubuntu"
* JASP version: git clone
* OS name and version: Ubuntu 19.10
* Analysis: Trying to build from source but Makefile is not found during qmake (since Flatpack installation fails with service unavailable)
* Bug description: Makefile (size is 34.3 kb) is in directory, but error msg returned on qmake: `Could not find absolute location of file  "make: *** [/home/carli/Softwares/build-JASP-Desktop-Debug/

[2020-04-02 10:06] Statham-jasper commented on #77
Also encountered this problem after editing column headings in the .csv (in Excel) then saving. Many of the early headings are now at the end of the document. Seems to be no order to the way it has assigned the headings (e.g. it is not in the order I edited the heading titles, nor is it alphabetical as the headings are Q1:..., Q2.... etc). As per vdsmagt, doesn't affect analysis, but very frustrat

[2020-04-02 10:12] EJWagenmakers commented on #77
Ah yes, changing column order, that would be very nice!
@JorisGoosen , what do you think?

[2020-04-02 10:33] vicenteinefo opened #656 "Relocate Dunn post hoc test"
* Enhancement: When performing the Friedman non-parametric test, the Conover's post-hoc test is located at the same menu just below the main options of the test (see the attached screenshoot below).

![Captura de pantalla 2020-04-02 a las 12 19 44](https://user-images.githubusercontent.com/29978768/78238001-57a0bb00-74dc-11ea-8653-3a4a0258f969.png)

However, this is not the case for the Kruskal-Wa

[2020-04-02 10:58] JorisGoosen commented on #77
Well, in this scenario, wouldn't it make more sense to have the column order in JASP always reflect the order in the data-file?

As in, right now whenever a column heading changes JASP just moves it entirely to the back. Even if it knows which column it used to be.

[2020-04-02 11:03] vdsmagt commented on #77
I would vote for this, yet in my original post that was not what happend.

[2020-04-02 11:18] Statham-jasper commented on #77
Similar for me also, editing the column heading did not necessarily move it to the back (.csv was saved after the edit). But agree, if JASP simply reflected the order in the .csv this would solve the issue as it is very easy to edit there.

[2020-04-02 13:14] JorisGoosen commented on #655
First of: you really shouldn't be running qtcreator as root user, you can just start qtcreator normally.
Secondly: Did you follow [the building guide for linux](https://github.com/jasp-stats/jasp-desktop/blob/development/Docs/development/jasp-building-guide.md#linux)

And last but certainly not least: maybe you should give flatpak another try?
- Possibly the server was down when you tried, trying

[2020-04-02 13:34] JorisGoosen commented on #617
@vandenman that would be referring to https://github.com/jasp-stats/jasp-issues/issues/69 right?

[2020-04-02 13:36] JorisGoosen commented on #69
@FBartos were you working on this?

[2020-04-02 13:40] JorisGoosen commented on #253
JASP is nu ook beschikbaar in het nederlands

[2020-04-02 13:40] #253 closed

[2020-04-02 13:44] vandenman commented on #617
Yes #69 can hopefully deal with it. I haven't tested that yet though.

[2020-04-02 13:48] JorisGoosen commented on #431
@JohnnyDoorn is this now implemented?

[2020-04-02 13:49] JorisGoosen commented on #432
@JohnnyDoorn is this fixed now?

[2020-04-02 13:49] JorisGoosen commented on #353
@JohnnyDoorn is this now implemented?

[2020-04-02 14:00] FBartos commented on #69
Yes, it should be out soon (not the 0.12 though).

[2020-04-02 14:19] JorisGoosen commented on #69
Good, then this is now your issue ;)

[2020-04-02 15:13] JohnnyDoorn commented on #353
No, at some point I should sit with your or Bruno to have a widget developed for this (something with tabs would be suitable here I think, and we need a similar widget for SEM anyway)

[2020-04-02 15:18] JohnnyDoorn commented on #431
Yes, fixed.

[2020-04-02 15:18] #431 closed

[2020-04-02 15:19] JohnnyDoorn commented on #432
Yes

[2020-04-02 15:19] #432 closed

[2020-04-02 15:34] JorisGoosen commented on #353
Ok, so for a future version then, we can do that then yeah.

[2020-04-02 16:31] williamares opened #657 "data upload error"
* JASP version: 0.11.1

* OS name and version: Windows 10
* Analysis:
* Bug description: I am having an upload issue.  I am uploading an excel created CSV file into JASP.  This file has 80 rows.  When uploading to JASP it is only showing 55 rows. It was showing only 59 rows with the same data yesterday.  On occasion, after resaving the data file with a different name it may work, but if I save, an

[2020-04-02 16:40] johncarlosignacio commented on #655
I have tried both sudo and non-sudo with same results. Yes, I followed that guide.

I updated flatpak from 1.4.3 to 1.7.1. Still 503: Service Unavailable. I have tried this for the past 3 weeks getting the same results. The download just stops and won't complete. This is the same case when using Ubuntu Software Center (USC). I also noticed in USC that download reaches 100% shortly then the percent

[2020-04-02 17:18] JorisGoosen commented on #655
Ok so for troubleshooting flatpak: could you give me the output of `flatpak remotes`?

And what happens if you just start qtcreator and then open JASP.pro as a project through the GUI?

[2020-04-02 17:41] johncarlosignacio commented on #655
Running non-sudo `qtcreator JASP.pro`.
![image](https://user-images.githubusercontent.com/6889059/78279825-1e6d4880-74e6-11ea-8088-b574c0946a78.png)

In the general message, I noticed only now that it shows `Project ERROR: Unknown module(s) in QT: quickcontrols2`.
![image](https://user-images.githubusercontent.com/6889059/78280415-0c3fda00-74e7-11ea-9393-c066ecb43ffb.png)

Here is the error runnin

[2020-04-02 18:11] JorisGoosen commented on #655
Aah it seems the building guide is missing the fact that you also need to install (at least) `qml-module-qtquick-controls2`.

I guess it wasn't updated for a while as the previous LTS version of ubuntu was so outdated with regard to qt that we sort of stopped looking at it. I would be grateful if you tested out if you can build it after installing that package. Then I can amend the building-guide.

[2020-04-02 19:27] johncarlosignacio commented on #655
After some iterations, I was able to complete installation but it only downloaded 96 out of 377 MB.

[code]

With `flatpak run org.japstats.JASP`, it tries to run and stalls with a black screen. I am guessing it was not a successful installation.

Installing `qml-module-qtquick-controls2` did not solve the Makefile problem. I really hope I am able to provide a more useful diagnosis but I cannot th

[2020-04-02 22:50] JorisGoosen commented on #655
Too bad that flathub is behaving so badly, I haven't really noticed this problem myself nor heard about it often. But those linked issues seemed to be by people who encounter it more often.. So let's leave that at that for now.

For a more useful diagnosis of your current problem, now that you have installed quick-controls-2 we can see if it is missing anything now. Perhaps you could open qtcreato

[2020-04-03 07:05] boutinb commented on #657
Hello @williamares, could you send the csv file (in zip format)?

[2020-04-03 10:59] drbenvincent opened #658 "unclear warning message with Bayesian regression with interaction term"
* JASP version: 0.11.1
* OS name and version: MacOS 10.15.3
* Analysis: Bayesian linear regression with 2 main effects + interaction
* Bug description: Results are outputted, but below the main comparison table the following warning message is given
![Screenshot 2020-04-03 at 11 49 44](https://user-images.githubusercontent.com/6765047/78352992-3bb31d00-75a1-11ea-9a4d-2d75cd337525.png)

Note that t

[2020-04-03 13:59] vandenman commented on #658
So the reason we show this footnote is that the `BAS` R-package gave this as a warning message. In principle, there is nothing wrong with the results though. Since then the `BAS` R package got updated and removed the warning. Likewise, we have also removed this footnote. So in the upcoming release, you can just ignore this. I've refreshed your file with the latest development version and the resul

[2020-04-03 14:11] Peeetrs opened #659 "Unexpected internal error - Exploratory Factor Analyses"
* JASP version: 0.11.1

* OS name and version: Windows 10
* Analysis: I saved my work to continue making Exploratory Factor Analyses but then when I removed one item from the variables, it reported unexpected internal error.
* Bug description: JASP couldn´t continue a closed.
* Expected behaviour: The variable will be removed and Factor Loadings will be recalculated.

#### Steps to reproduce:
1. G

[2020-04-03 14:15] AlexanderLyNL commented on #658
I consider this issue fixed. Please reopen if something's still unclear.

[2020-04-03 14:15] #658 closed

[2020-04-04 04:43] johncarlosignacio commented on #655
After installing the missing module, there is no more project error but "run qmake" still produces the same error `Could not find absolute location of file  "make: *** [/home/carli/Softwares/build-JASP-Desktop-Debug/Makefile"`

[2020-04-04 12:51] JorisGoosen commented on #655
And can you actually run `make` in a terminal?

Maybe you still need to install `build-essentials`?

[2020-04-04 14:11] haevalencia opened #660 "Error to try to install from flathub (linux)"
* JASP version:
0.11.1

* OS name and version:
fedora 31 XFCE 64bit - flatpak 1.6.3
* Analysis:
X

* Bug description:
I try to install using:
`flatpak install flathub --user -y org.jaspstats.JASP`

Output:
[code]

* Expected behaviour:
Satisfactory installation

#### Steps to reproduce:
see above

#### More info
The installation works correctly when using the old remote repo

[2020-04-04 17:58] johncarlosignacio commented on #655
First run of `make` ended in `Project ERROR: Unknown module(s) in QT: quickcontrols2` and found out [here](https://forum.qt.io/topic/90472/unknown-module-s-in-qt-quickcontrols2/5) I had to install `qtquickcontrols2-5-dev`.

Rerun of `make`ran for a while and stopped with error:
[code]

I checked if I forgot to copy `libreadstat.la` but it is there in the build folder.
[code]

Installing `build-ess

[2020-04-04 22:11] JorisGoosen commented on #655
Ah right, yeah the `-dev` packages.

So it's good you checked to see if you got `libreadstat`, the weird thing though, is that I expected to see `libreadstat.a` and if I check the {github view of `jasp-required-files` I see the same](https://github.com/jasp-stats/jasp-required-files/tree/Linux). Maybe try that one?
Where did you libreadstat.la from? You build it yourself? In that case you should h

[2020-04-06 02:22] johncarlosignacio commented on #655
Ahh I see, it was my bad, I copied the wrong `libreadstat` file. I was able to run `make` after copying the right file and it successfully compiled. What do you think is the problem?

I ran the compiled `./jasp` and it produced logs (see below) about packages that were either missing or had a wrong version.

I am trying to install all the right packages now using `installExpectedPackages.R`. I ran

[2020-04-06 03:46] johncarlosignacio commented on #655
I tried qmake and now it works fine. I am now sure what fixed it, maybe because of running the Rscripts successfuly without any errors.

[2020-04-06 04:26] haevalencia commented on #660
Changing remote repo produced some kind of error which was fixed with `flatpak repair --user`

[2020-04-06 04:26] #660 closed

[2020-04-06 04:40] johncarlosignacio commented on #655
During `Build All`, here is the error for JASP-desktop
[code]

[2020-04-06 10:51] JorisGoosen commented on #655
Maybe there were some errors before?

Maybe you can past the entire compile log, because the actual error that caused make to stop the process is probably somewhere earlier. You can also search for "error" but I do not mind helping.

[2020-04-06 10:53] JorisGoosen commented on #655
Aah and I see you are also missing `qml-module-qtwebengine`. Maybe a `-dev` variant of this as well, I checked [here](https://packages.ubuntu.com/eoan/qml-module-qtwebengine) but I couldn't see such a variant.

[2020-04-06 15:05] JoKeyser opened #661 "Translation to German: When/how to help best?"
With the first translation to Dutch becoming available, I was wondering if I can help with the translation to German?

Would it be helpful at this point in time, and if so, how best to do this? I guess the simplest approach would be to send a pull request with a `jasp_de.po` file, analogous to [jasp_nl.po](https://github.com/jasp-stats/jasp-desktop/blob/development/JASP-Desktop/po/jasp_nl.po)?

Wo

[2020-04-06 18:34] JorisGoosen commented on #661
Thank you for offering your help!

We are looking into some ways to simplify the translation process on some points. It would be a shame if you started now and it would turn out to be a waste of time.

But I think that translating an analogous file to jasp_nl.po as you suggest couldn't hurt. Right @boutinb and @FransMeerhoff ?

[2020-04-06 23:53] johncarlosignacio commented on #655
There were a total of 4 errors from `Build All` using qtcreator. Aside from `qml-module-qtwebengine`, I had to install`qml-module-qtwebchannel` and `qml-module-qt-labs-folderlistmodel`. That left me with only one error which was:

`ERROR: lazy loading failed for package 'JASPgraphs'`

I think the main reason was that I was [using a different version](https://github.com/jasp-stats/jasp-issues/issue

[2020-04-07 00:30] #655 closed

[2020-04-07 04:23] haevalencia opened #662 "separate options to control zoom of icons and fonts in advanced settings"
* Enhancement: separate zoom UX options (icons and fonts)
* Purpose: To be able to control zoom of diverse elements of the UX
* Use-case: currently on a 1366x768 resolution screen an 80% zoom is ideal for icons, but the font is very small. Other settings can be resolved by having these settings separately

**Is your feature request related to a problem? Please describe.**

**Describe the solution

[2020-04-07 08:25] JorisGoosen commented on #655
Thanks for giving me a recap!

Yeah, I noticed that they moved `graph` to bioconductor yesterday...

Glad you managed to build JASP and now I hope you will enjoy using it!

[2020-04-07 08:33] JorisGoosen commented on #655
I do hope your graphs work now. But, probably if you managed to build and run JASP it will, at some point also have installed JASPgraphs. Because it retries that every time.

[2020-04-07 08:45] JorisGoosen commented on #662
Vaguely related to the "separate ui scaling for menu" from #559

A good idea as well, maybe something to do together with that issue.

And we do use svg where we can, but sometimes we haven't gotten around to changing them and sometimes the rendering from QML makes it look like it isn't an svg while it is.

Would this also be solved by having some separate font settings? Like, setting size and fam

[2020-04-07 15:21] haevalencia commented on #662
I understand, the blurring of some icons gave another impression

The ideal is always to maintain an optimal level of personalization for the user, however, practical and usability problems should be a priority

[2020-04-07 15:59] JorisGoosen commented on #662
I love being able to tweak an application or ui and I fully agree.

[2020-04-07 16:05] janderuiter opened #663 "Crash"
I re-downloaded JASP 0.11.1 and it crashes on my mac (tried multiple times)

Report:

Process:               JASP [43714]
Path:                  /Applications/JASP.app/Contents/MacOS/JASP
Identifier:            org.jasp-stats.jasp
Version:               ???
Code Type:             X86-64 (Native)
Parent Process:        ??? [1]
Responsible:           JASP [43714]
User ID:               501

Date/Tim

[2020-04-07 16:30] Saguaroman opened #664 "Significance for path coefficients in mediation analysis"
* Enhancement: Consider including confidence intervals / significance levels for X-M and M-Y paths in mediation analysis (the component paths of the indirect effect).

At least as far as I can tell, this is not provided in the current version.   Thank you.

[2020-04-08 01:03] Mohammad-Agahi opened #665 "I can not run JASP on my MacBook with MacOS#10.15.4. It says that your software must be updated."
* JASP version:

* OS name and version:
* Analysis:
* Bug description:
* Expected behaviour:

#### Steps to reproduce:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

[2020-04-08 04:59] nahorp commented on #195
Just a follow up question on this @AlexanderLyNL - the (observed) means and credible intervals in the descriptive plots are the same as the ones obtained from the 'Descriptives' check box during the analysis, correct?

Is there a possibility to get this table only for a certain factor (e.g., only for factor A - averaged over factor B and C - instead of A * B * C in a 3 way design) as can be done w

[2020-04-08 08:31] JoKeyser commented on #661
@JorisGoosen thank you for your fast reply.
Simplifying the translation process will of course be great, but not necessary for me personally. The only blocker for me would be if the `.po`-file wouldn't be the format you need in the end. I'll wait for an answer from @boutinb or @FransMeerhoff :).

[2020-04-08 08:47] JorisGoosen commented on #661
Well, the thing is, that `.po`-file is in the right format going forward. But it is only for the application's interface. There is also a `R-nl.po` [here](https://github.com/jasp-stats/jasp-desktop/tree/development/JASP-Engine/JASP/po) that must be taken into account, it translates the messages from the analyses R-code.

Besides that we have some temporary workarounds for translating help-files an

[2020-04-08 09:34] boutinb commented on #661
Thank you really much for your offer to translate JASP in german. As said @JorisGoosen, we will have to change some algorithms for the translations. But you can already translate the 2 po files (when the 0.12 version will be released, hopefully next week), they will be used anyway. And it will easy to add them to the release.
We will make also a document for best practice (for Capital letters for

[2020-04-08 10:18] AlexanderLyNL commented on #665
Hi Mohammad-Agahi,

Apple changed their software restriction policies. Could you please give the following notarised version of jasp a try? It's a developmental build that still needs finalising, and we would appreciate it if you could tell us whether this works out for you:

https://static.jasp-stats.org/JASP-0.12_notarized.dmg

Cheers,
Alexander

[2020-04-08 10:19] AlexanderLyNL commented on #663
Hi Jan,

Apple changed their software restriction policies. Could you please give the following notarised version of jasp a try? It's a developmental build that still needs finalising, and we would appreciate it if you could tell us whether this works out for you:

https://static.jasp-stats.org/JASP-0.12_notarized.dmg

Cheers,
Alexander

[2020-04-08 12:59] janderuiter commented on #663
Hi Alexander!

Yes, this version worked! Thanks!

Best, JP

On Wed, Apr 8, 2020 at 6:19 AM AlexanderLyNL <notifications@github.com>
wrote:

[2020-04-08 12:59] janderuiter commented on #663
What's new in v0.12?

On Wed, Apr 8, 2020 at 8:58 AM JP de Ruiter <storkchen@gmail.com> wrote:

[2020-04-08 13:00] AlexanderLyNL commented on #663
Everything, but this is not necessary 0.12 yet, because it's a development build.

[2020-04-08 13:00] #663 closed

[2020-04-08 13:02] janderuiter commented on #663
OK! I'll be using this one for now then if you don't mind. When is the
official one coming out?

On Wed, Apr 8, 2020 at 9:00 AM AlexanderLyNL <notifications@github.com> wrote:

[2020-04-08 14:55] Mohammad-Agahi commented on #665
Dear Alexander

I would like to be thankful to you.
This version that you sent is working now.
I just have a question, this version has all the abilities of the normal version ?

Best Regards
Mohammad

[2020-04-08 15:23] vciocca commented on #195
Thank you for following up on this suggestion.
Best regards,
Valter

On 07-04-2020, at 9:59 PM, Rohan Puri <notifications@github.com<mailto:notifications@github.com>> wrote:

Hi Valter,

Thanks for the suggestion. The credible intervals in the descriptive plots are based on Jeffreys's parameterisation invariant priors used for estimation. I'll give the documentation project a bump.

Cheers,
Alexan

[2020-04-09 08:48] Erlix322 commented on #325
Let's reopen this one. same problem and also nothing is written to the log file

[2020-04-09 09:46] JorisGoosen commented on #325
@Erlix322 are you using the same OS and version of JASP?
Do you get the exact same errormessage?

[2020-04-09 10:47] JorisGoosen commented on #325
Sorry if you mean all of that with "same problem" but it really helps to have information explicit in these kinds of scenarios.

[2020-04-09 11:06] AlexanderLyNL commented on #325
@Erlix322 could you please open a new issue. The issue template specifies certain information that we need to get a better understanding of your problem.

https://github.com/jasp-stats/jasp-issues/issues/new?assignees=&labels=&template=bug_report.md&title=

Thanks,
Alexander

[2020-04-09 13:42] Calacio opened #666 "Service unavailable (install Jasp on Linux Mint by flathub)"
* JASP version: last one - trying download an install by flathub
* OS name and version: Linux Mint Tricia
* Analysis: error during install
* Bug description:
Hi! I am from Brazil, and I am so sorry for my poor english!
I was trying install Jasp on my Linux Mint Tricia by command line and by repository flathub, but there was a error message:

vinicius@ThinkPad-T61 ~ $ flatpak remote-add --if-not-ex

[2020-04-10 11:45] JorisGoosen commented on #665
@Mohammad-Agahi it is almost the same as the new version 0.12 we have just released. To be sure you can install that from [our website](https://jasp-stats.org)

[2020-04-10 11:45] #665 closed

[2020-04-10 11:46] JorisGoosen commented on #650
We have released a new version today that probably solves your problem.

[2020-04-10 11:46] #650 closed

[2020-04-10 15:23] JoKeyser commented on #661
Just in case anyone is interested in collaboration: I've started a branch with some initial translations, see https://github.com/JoKeyser/jasp-desktop/tree/translate-to-German.

[2020-04-10 15:24] janderuiter opened #667 "JASP "quits unexpectedly" after opening a file and then quitting by closing the menu"
If I open JASP 0.12 on Mac OS 10.14.6, then open a previously used file, wait for the analyses to recompute, and then close the JASP window by clicking on the red button top left, JASP quits, but then an error message is generated. The system dump is below.
![Screen Shot 2020-04-10 at 11 22 21](https://user-images.githubusercontent.com/13141261/79002118-ca81e580-7b1d-11ea-8c8d-499bb876caa2.png)

P

[2020-04-11 07:24] Marian-Popa commented on #552
I had the same problem in JASP 0.11.1, and it persists now, in JASP .12.
OS Win 10.
Data file: BFI
Analysis: Structural Equation Modeling, Advanced, Path Diagram
Syntax:
Agreableness =~ A1+A2+A3+A4+A5
Extraversion =~ E1+E2+E3+E4+E5
Consciousness =~ C1+C2+C3+C4+C5
Nevrotism =~ N1+N2+N3+N4+N5
Openess =~ O1+O2+O3+O4+O5

Path Diagram Error:
attempt to select more than one element in integerOneIndex

M

[2020-04-11 09:38] Marian-Popa commented on #552
Problem solved after setting to Scale the measurement level of all variables in the model!

Marian Popa

[2020-04-11 11:15] AlexanderLyNL commented on #552
Thanks for confirming it's been fixed.

[2020-04-11 11:15] #552 closed

[2020-04-11 11:39] user-group commented on #552
Could you indicate how to do this, please?

[2020-04-11 12:17] Marian-Popa commented on #552
In Data window, one left click on the icon associated to variable name, then change the level from Nominal or Ordinal, to Scale. And so on, for all variables in the model.
m. popa

[2020-04-11 13:14] JorisGoosen commented on #667
Hello jan,

Sorry to hear it is crashing. It could be that this is the same crash we've been seeing lately on mac.
Perhaps you could turn on logging in preferences/advanced and if you get another crash send us the 5 logs (1 desktop and 4 engine logs)?
This could help us greatly trying to figure out what is going wrong.

[2020-04-11 13:15] JorisGoosen commented on #666
Hi,

It seems the flathub servers sometimes have trouble processing all requests.

This can sometimes be resolved by simply trying it again. Could you try that?

[2020-04-11 14:44] janderuiter commented on #667
Sure, here they are.

On Sat, Apr 11, 2020 at 9:14 AM Joris Goosen <notifications@github.com>
wrote:

[2020-04-11 15:22] Calacio commented on #666
Hi! Yes! First time I thought it could be something like this! So I have tried several times in different days, but the error continues since a month ago... I think there is some broken or missing link for donwload Linux installation version!
For Win is everything ok, but I am not win users, I am Linux user instead!

Enviado do Yahoo Mail no Android

  <div>Em sáb, 11 11e abr 11e 2020 às 10:16, Jo

[2020-04-11 23:53] sultan-455 opened #668 "JASP issue in Windows and Macos"
* JASP version:

* OS name and version:
* Analysis:
* Bug description:
* Expected behaviour:

#### Steps to reproduce:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

[2020-04-12 00:01] sultan-455 commented on #668
Hi, I am using JASP in Windows and macOS and both of them I have issues with them, I have a Midterm Exam after a few hours and I don't know what I am gonna do. when I choose exploratory factor analysis I can't insert the variables.
<img width="1360" alt="Screen Shot 2020-04-12 at 3 59 45 AM" src="https://user-images.githubusercontent.com/63523669/79057385-21003880-7c72-11ea-8614-0cfd0e47c574.png">

[2020-04-12 07:29] EJWagenmakers commented on #668
Hi sultan-455,
You can see from the icon next to the input field that JASP expects a continuous variable here, and the one you are trying to use has been classified as ordinal (as indicated by the small histogram icon next to the variable name). To make it work, go back to the data spreadsheet view, select the measurement-level icon next to the variable, and change it to continuous (the little rul

[2020-04-12 09:53] nahorp opened #669 "Credible intervals for various levels of factors in repeated measures ANOVA"
Hello :)

I have outlined the request (an 'issue' at the time of posting it at the forum but I've since been told that it is not possible in the current version of JASP) at the link below,

https://forum.cogsci.nl/discussion/5962/credible-interval-for-repeated-measures-anova

Thank you.

[2020-04-12 09:59] nahorp opened #670 "Following up interaction effects using 'simple main effects' in Bayesian ANOVAs"
Hello :)

I have outlined the request (an 'issue' at the time of posting it at the forum but I've since been told that it is not possible in the current version of JASP) at the link below,

https://forum.cogsci.nl/discussion/5963/following-up-an-interaction-in-bayesian-rm-anova#latest

It is similar to this actioned request, which was for a frequentist ANOVA, but for Bayesian ANOVAs as well.

Than

[2020-04-12 11:47] Marian-Popa opened #671 "CFA/SEM - Measurement model"
Measurement model results in CFA and SEM (Structural Equation Modeling)
* Enhancement:
Adding Composite Reliability, Average Variance Extracted, Maximum Shared Variance, Average Shared Variance).
* Purpose:
Promote a correct and complete interpretation of the models. Structuring the results in Measurement Model and Structural Model would favor their interpretation and increase the quality of repor

[2020-04-12 11:53] Marian-Popa opened #672 "Adjusted p-value for multiple testing"
Adding adjusted p-values for multiple testing
* Enhancement:
Option for computing adjusted p-values (or both, adjusted & unadjusted) in Correlation module.

[2020-04-12 12:06] Marian-Popa opened #673 "CFA model comparison option"
Model comparison in CFA is gone in JASP .12
* Enhancement:
Reintroduce the model comparison option in CFA / Advanced options, because model comparison is a key strategy in SEM.

[2020-04-12 20:30] shiveshkabra opened #674 "JASP Engine Crashing IMMEDIATELY after clicking logistic regression"
* JASP version: 0.11.1

* OS name and version: macOS Catalina 10.15.4
* Analysis: Logistic Regression
* Bug description: Immediate JASPEngine crash notification after pressing "logistic regression" before even selecting the options
* Expected behaviour: Should not crash

#### Steps to reproduce:
1. Open data
2. Click on 'Regression'
3. From drop down, select "logistic regression"
4. See error

[2020-04-13 09:18] JohnnyDoorn commented on #670
Hi rohanp16,

The simple main effects analysis is essentially running ANOVA's for different subset of the data (conditioning on each level of the "moderator variable"). In the frequentist ANOVA this is automated for you, but unfortunately this feature is still missing in the Bayesian ANOVA.

What you can do in the meantime, is to manually subset the data yourself with the column filtering option (

[2020-04-13 09:40] nahorp commented on #670
Hi Johnny,

Thank you for the prompt and detailed reply. Couple of questions/thoughts,

1) The column filtering approach would, firstly, only work for a between-subject factor, correct? Secondly, if I do apply the column filtering, then the filtering applies to _all_ the analyses in that .jasp file, right? That is, I will have to create a new .jasp file for these subsetted analyses as there is no

[2020-04-13 11:59] boutinb commented on #674
@shiveshkabra We have just release a 0.12 version. Could you try it?

[2020-04-13 13:39] JohnnyDoorn commented on #670
Hi Nahorp,

1. I think that for RM ANOVA, you can then just specify the cells accordingly (i..e, only include the 2 RM levels that you want to compare), but again, this is a crude measure. You are right in that it is a lot of extra work since the filtering is applied to all analyses in the JASP instance.
2. For simple main effects to follow up on a three-way interaction, I think the procedure woul

[2020-04-13 16:00] Marian-Popa commented on #671
It found that lavaan do not have functions for CR, AVE, and Validity (Discriminant & Convergent), so I have to retract this sugestion.

[2020-04-13 22:25] janderuiter commented on #667
Alle files in goede orde ontvangen?

On Sat, Apr 11, 2020 at 10:43 AM JP de Ruiter <storkchen@gmail.com> wrote:

[2020-04-14 08:54] AlexanderLyNL commented on #667
Jammer genoeg niet. Zou je ze alstublieft in een zip aan deze thread kunnen toevoegen? Soms gaat het niet goed via de email. Dank je JP.

[2020-04-14 09:25] JorisGoosen commented on #666
Sorry to hear it has been giving you trouble, if however I try it right now (I like linux as well) it uhm, just works...

So despite the fact that you have tried it before I would suggest trying it again. I do hope that they manage to get it working more stably in the future.

[2020-04-14 12:36] janderuiter commented on #667
Dat is maf -- ik had ze als Zip gestuurd in deze draad (in de email van 11
April met als body "Sure, here they are."
). Ik kan ze nog steeds in deze draad zien op gmail. Ik had ze ook, voor de
dubbel-houdt-beter, ge-upload op github bij de betreffende foutmelding. Het
is kennelijk niet zo eenvoudig als het lijkt.

Okee, dan doen we het opnieuw. Ze zijn (opnieuw) als ZIP file ge-attached.
Laat me a

[2020-04-14 13:17] dustinfife commented on #320
Sorry, I just realized I never responded to this. I'm not sure if this answers your question, but if flexplot sees an **ordered** factor, it will sort the axis by the ordering. Is there any way to specify a variable type as an ordered factor for character variables?

[2020-04-14 13:24] JorisGoosen commented on #667
Beste Jan,

Ik ben bang dat het attachen van een zip aan een mailtje het dan simpelweg niet bij ons terecht laat komen. Zou je het bestand direct via https://github.com/jasp-stats/jasp-issues/issues/667 kunnen aanhechten?

Groetjes,
Joris

[2020-04-14 13:35] cbflynn1970 opened #675 "Adding PROCESS by Hayes to JASP"
* Enhancement: Andrew Hayes has published that he will be porting his moderation-mediation package PROCESS to R sometime in April 2020. I know that JASP uses a lot of R sub-processes. Any consideration for porting PROCESS for R into the JASP environment?

* Purpose: Provide a robust way to run various models of moderation and mediation
**Is your feature request related to a problem? Please describ

[2020-04-14 13:56] JorisGoosen commented on #320
Im afraid right now the only way to specify an ordered factor in R through JASP is by declaring the column Ordinal.

Which you cannot do for a character variable.

A workaround would be to specify a computed column of type Ordinal and simply referring to the character variable in it. So if the character variable is called `X` the computed column would have the RCode `X`. That should give you an or

[2020-04-14 16:38] janderuiter commented on #667
Dat had ik ook al gedaan, dus ik snap niet waarom dat niet werkt.

Er staat: attach files by dragging & dropping. Bij deze opnieuw.
[JASP-Crash.zip](https://github.com/jasp-stats/jasp-issues/files/4476574/JASP-Crash.zip)

[JASP-Crash.zip](https://github.com/jasp-stats/jasp-issues/files/4476570/JASP-Crash.zip)

[2020-04-14 16:39] janderuiter commented on #667
Als dit weer niet werkt, geef me dan AJB een normaal email adres, dan stuur ik het daarheen.
JP

[2020-04-14 18:08] Kev025 opened #676 "Error in bayesian linear regression"
Hi, I'm conduction bayesian linear regression with new JASP version. But there is the error message
![Capture d’écran 2020-04-14 à 20 06 55](https://user-images.githubusercontent.com/62613088/79258550-985ce480-7e8b-11ea-9608-6e74d244cfc3.png)

[2020-04-14 18:57] AlexanderLyNL commented on #676
Could you please fill out the bug report template?

https://github.com/jasp-stats/jasp-issues/issues/new?assignees=&labels=&template=bug_report.md&title=

Because without this additional information we cannot locate the problem exactly, and fix the bug.

[2020-04-14 19:30] Kev025 opened #677 "Bayesian Linear regression Bug"
* JASP version: 0.12

* OS name and version: MacOS Mojave 10.14.6
* Analysis: Bayesian Linear Regression
* Bug description: An error message is displayed when I compute Bayesian Linear Regression
* Expected behaviour: Corrected it if possible

#### Steps to reproduce:
1. Go to 'Regression/Bayesian Linear Regression'
2. Click on 'Variables and Covariates '
4. See error

[Bug report.jasp.zip](https:

[2020-04-14 19:31] Kev025 commented on #676
Oh sorry, I did it : https://github.com/jasp-stats/jasp-issues/issues/677

Thanks

[2020-04-14 20:02] JorisGoosen commented on #667
Nou, ik weet niet wat er de vorige keer verkeerd is gegaan, maar de bestanden zijn nu beschikbaar, te openen en volledig. Mooi!

Ik zal er morgen eens naar kijken.

[2020-04-14 21:04] janderuiter commented on #667
Bedankt voor de bevestiging. In goed Nederlands: "Héhè!"

On Tue, Apr 14, 2020 at 4:03 PM Joris Goosen <notifications@github.com>
wrote:

[2020-04-15 06:16] nahorp commented on #635
I would like to see this as well. It'd be great to be able to conduct analyses on subsetted data, all in one .jasp file rather than having multiple files.

[2020-04-15 06:55] vandenman commented on #677
Additional information from #676:

Hi, I'm conduction bayesian linear regression with new JASP version. But there is the error message
![Capture d’écran 2020-04-14 à 20 06 55](https://user-images.githubusercontent.com/62613088/79258550-985ce480-7e8b-11ea-9608-6e74d244cfc3.png)

[2020-04-15 06:56] vandenman commented on #676
Closed to avoid duplicates, let's discuss any updates in #677

[2020-04-15 06:56] #676 closed

[2020-04-15 06:57] vandenman commented on #677
@JorisGoosen I think you know most about this error.

[2020-04-15 06:57] boutinb commented on #675
@vandenman: do you know this package?

[2020-04-15 07:24] EJWagenmakers commented on #675
This is something to discuss with @vankesteren

[2020-04-15 08:02] FransMeerhoff commented on #677
HI @JorisGoosen
I tried this on the latest development version (which is still equal to the stable branch) and it seems OK there? I look further.

[2020-04-15 08:18] JoKeyser commented on #661
I've added PR #4031, not to be merged yet, but to keep track of my first steps, in case others want to collaborate.
@JorisGoosen , @boutinb , feel free to delete this, in case this creates more headaches for you than it solves.

[2020-04-15 08:38] JorisGoosen commented on #677
@FransMeerhoff can you check it out with the released installer?
Because in the error it seems like `libgfortran.3.dylib` is not signed somehow?
Which seems unlikely as Im signing basically everything...

[2020-04-15 08:40] boutinb commented on #677
I have tried on my machine (High Sierra), and it works without problem.
But the error message says that it looks for the libgfortran.3.dylib in the root library and not in the JASP R framework. This link is not ok.

[2020-04-15 08:43] FransMeerhoff commented on #677
Hi @JorisGoosen
Yes I tested it with the released installer too, and I then can reproduce it.

[2020-04-15 08:44] JorisGoosen commented on #677
Ok, so the link in libgfortran.3.dylib needs to be fixed, @FransMeerhoff can you do this?

[2020-04-15 08:45] AlexanderLyNL commented on #677
The problem doesn't occur on High Sierra. Is someone on who can check whether this occurs on Catalina?

[2020-04-15 08:46] JorisGoosen commented on #667
Maar om dit nu nog even helemaal duidelijk te krijgen, de crash komt nadat je JASP zelf handmatig probeert te sluiten toch?

[2020-04-15 08:52] JorisGoosen commented on #677
Frans is on Catalina, but there is just a small error in the dylib. I will fix it.

[2020-04-15 09:07] JorisGoosen commented on #677
This should fix it

[2020-04-15 09:12] boutinb commented on #677
This is I think worth a hotfix release.

[2020-04-15 09:38] JorisGoosen commented on #677
Yes for sure, I already built a new version, I can sign it and upload it?

[2020-04-15 09:52] boutinb commented on #677
Yes, and @Kev025 can test it.

[2020-04-15 10:18] hynekcigler opened #678 "EFA: Factor correlation"
* JASP version: 0.12

* OS name and version: Windows 10
* Analysis: Exploratory factor analysis
* Bug description: In factor correlation matrix JASP reports probably correlation of factor score estimates, not phi matrix (the model matrix of factor correlation). E.g. if no rotation is selected, there are still some non-zero values in the matrix of factor correlations.
* Expected behaviour: Model ma

[2020-04-15 11:13] JorisGoosen commented on #667
Gezien het feit dat je beschrijft hoe je op het kruisje klikt en de titel omschrijft "via het menu" neem ik maar aan dat dat in ieder geval betekent dat je JASP volledig afsluit en niet slechts de workspace.

[2020-04-15 12:43] Calacio commented on #666
Hi, Joris,

I saw the last release was april 9, and that is great! But I yet have trouble installing it:

vinicius@ThinkPad-T61 ~ $ flatpak install flathub org.jaspstats.JASP
Instalando em system:
org.jaspstats.JASP/x86_64/stable flathub af9a419bb68c
 permissões: ipc, network, wayland, x11, dri
 acesso a arquivo: home, xdg-config/kdeglobals:ro, xdg-run/dconf, ~/.config/dconf:ro
 acesso a dbus: com

[2020-04-15 13:04] janderuiter commented on #667
Ik open JASP, laad dan een .jasp file, bekijk die, en verlaat JASP weer
door op het rode bolletje rechts boven in het venster te klikken (sluiten
venster, op de Mac).

Dat werkt, maar dan komt de crash waarschuwing van Mac OS.

On Wed, Apr 15, 2020 at 7:13 AM Joris Goosen <notifications@github.com>
wrote:

[2020-04-15 13:05] janderuiter commented on #667
Overigens woon ik in de USA dus vandaar dat ik nog niet op de mail hiervoor
had gereageerd.

On Wed, Apr 15, 2020 at 9:03 AM JP de Ruiter <storkchen@gmail.com> wrote:

[2020-04-15 13:47] JorisGoosen commented on #677
@Kev025 can you test https://static.jasp-stats.org/JASP-0.12.1.0.dmg ?
It should fix the problem.

[2020-04-15 14:05] AlexanderLyNL commented on #677
@Kucharssim Do you know who's in charge of a Bayesian linear regression example file? This can then be added to our automated check.

[2020-04-15 14:27] Kucharssim commented on #677
That would be me, but I am not sure whether I follow your idea of how to add this to our automated checks.

[2020-04-15 14:30] AlexanderLyNL commented on #677
The data library is used for automatic testing, and it should have caught this bug. (That's correct isn't it @FransMeerhoff?) This raises my suspicion that there isn't a good Bayesian linear regression example in the data library. Hence, all you need to do is add a Bayesian linear regression example, then the testing is handled by the system itself.

[2020-04-15 14:33] JorisGoosen commented on #677
Yes @boutinb did that before release.

@Kucharssim just add a nice example JASP file to the regression part of the data library, then next time we catch.

But, only if we run the automatic tests on a Mac...

[2020-04-15 14:50] Kev025 commented on #677
@JorisGoosen I'm testing and that's work !!!

Thank you very much to have solve this problem. It is a pleasure to use JASP !

[2020-04-15 14:51] JorisGoosen commented on #677
Great, we will release a version with this fix (and another little one) later today or tomorrow.
You can keep using this one if you'd like, the other little fix isn't in there but will only affect you if you switch languages.

[2020-04-15 15:03] vankesteren commented on #675
Thank you for your suggestion, we'll keep an eye on this!

Just FYI, we're generally not fans of the obscure `model 17`, `model 4` etc. user interface of `PROCESS`. Which type of model do you want to run? We might be able to provide a nice user interface for that model, specifically.

Also, I was wondering what you mean by "has limits on the number of mediators one can use"? How many mediators do

[2020-04-15 15:12] vankesteren commented on #673
Hi @Marian-Popa

I'm not sure what you mean, because model comparison was never an option in the CFA section (`Factor -> Confirmatory Factor Analysis`) and has to be done by making several CFA models and comparing their AIC, BIC, Chi-square, or other relevant fit metrics.

I do see now that in the SEM analysis (`SEM -> Structural Equation Modeling`) this is no longer available, whereas it was avai

[2020-04-15 15:12] #673 closed

[2020-04-15 15:13] vankesteren commented on #671
I super agree on the restructuring of the output for SEM, we'll do this soon!

[2020-04-15 15:18] Kucharssim commented on #677
I understand that, but we have a Bayesian linear regression example in the Data Library. I am not able to reproduce the bug, so I don’t know how to create an example file that would “catch it”, since I don’t know what I should be aiming at. I can of course create a bunch of examples randomly and hope that it covers this bug, but I am not sure whether this is the best approach.

[2020-04-15 15:22] AlexanderLyNL commented on #677
No need to reopen. I thought that we didn't have a Bayesian linear regression example, but it seems that we do. You don't have to do anything.

[2020-04-15 15:22] #677 closed

[2020-04-15 15:24] cbflynn1970 commented on #675
I get the dislike of the models; I don’t particularly care for them myself, however, PROCESS does provide a variety of moderated-mediated models that are useful. Having the ability to run models with moderators before and after the mediator would be nice, but primarily before the mediation variable. I guess you can create moderated variables in the data set and just run those, but it would be nice

[2020-04-15 15:33] Marian-Popa commented on #671
I'm so glad to hear that!
You, team JASP, are doing a great job!

Marian

[2020-04-15 15:52] boutinb commented on #677
I have tested the JASP Data Library, and per chance/malchance it worked on my machine because the reference of the BAS.so library pointed to a fortran library I have in my own R framework.

[2020-04-15 16:26] JorisGoosen commented on #666
[code]

[2020-04-15 16:29] JorisGoosen commented on #666
This is a weird error indeed.

To verify that it isn't your OS that is messed up: maybe you could try a live-usb of Mint and check if you can install JASP there?

Ooh but first, which flatpak do you use?
[code]

[2020-04-15 16:30] JorisGoosen commented on #666
Because Ubuntu and Mint have a habit of using a quite old version of flatpak and you might want to add this ppa: https://launchpad.net/~alexlarsson/+archive/ubuntu/flatpak

[2020-04-15 18:27] hynekcigler opened #679 "Very slow estimation of correlation matrix"
* JASP version: 0.12
* OS name and version: Windows 10
* Analysis: Correlation (Regression -> Classical -> Correlation
* Bug description: Very slow estimation of correlation matrix

I have [not-so-big dataset](https://is.muni.cz/www/hynek.cigler/vaha4.csv) (N=1000). If I run a correlations over all the 28 items (vah.a1-vah.b28), the estimation is extremely slow and the analysis fails soon. It is s

[2020-04-15 23:57] AlexanderLyNL commented on #679
It is indeed quite slow. I did the computations for you on my own JASP development build:

[vaha4.jasp.zip](https://github.com/jasp-stats/jasp-issues/files/4484213/vaha4.jasp.zip)

Let me know if you can open it. I also added the Bayesian equivalent to the file for your convenience. Those computations are done relatively quickly it seems.

This is definitely not ideal, and it seems that some (perm

[2020-04-16 06:06] Marian-Popa opened #680 "SEM Plot readability"
![SEM_Plot](https://user-images.githubusercontent.com/30208007/79417867-ea048c80-7fbb-11ea-919c-76beb9dcd433.png)
SEM plots (SEM/Structural Equation Modeling) ilisible when regression coefficients are ploted on the paths.
* Enhancement:
Enhance lisibility of SEM plot with regression coefficients.
* Purpose:
In the current form, the SEM plots with regression coefficients are difficult to read and i

[2020-04-16 07:19] hynekcigler commented on #679
Thank you. Actually, I don't need these computations on my own as I use R usually, but my students are given this dataset for their assignment to perform exploratory factor analysis (and I would like them to report correlation matrix).
Anyway, the estimation is slow even if I did not ask for signifficance, where any permutation test is not needed (and even the permutation test performed directly i

[2020-04-16 07:32] Kucharssim commented on #679
Yes, this is likely caused by calculating CIs for Kendall’s tau which is by mistake now computed even if it’s not requested. I’ll fix this.

[2020-04-16 12:41] lilymouth opened #681 "Jasp won't open"
* JASP version: 0.12.0.0

* OS name and version: Windows 10 x64
* Bug description: JASP does not open
* Expected behaviour:

I have already removed it and downloaded it a few times, but it will not open when I click on it.

Thanks in advance!
lilymounth

[2020-04-16 13:03] JorisGoosen commented on #667
Geen probleem, ik heb een vermoeden waar deze bug door veroorzaakt wordt maar kan dit nu niet testen.

Ik vermeld het hier wel even om later op terug te komen, probeer:
[code]

[2020-04-16 13:48] janderuiter commented on #667
Dat soort bugs krijg je inderdaad vaak met geheugen-deallocatie in de
destructor van het hoofdvenster. Maar ik weet niet zeker of deze mail voor
mij bedoeld was :-).

Groetjes, JP

On Thu, Apr 16, 2020 at 9:03 AM Joris Goosen <notifications@github.com>
wrote:

[2020-04-16 13:56] JoKeyser opened #682 "Ubuntu: Font problem in plots, ugly output"
* JASP version: 0.12

* OS name and version: Linux, Ubuntu 18.04
* Analysis: Anything involving plot labels.
* Bug description: Fonts in any plot show just up as tiny squares, like "□□□□ □□□".
* Expected behaviour: Scaled font should be displayed in plot

#### Steps to reproduce:
1. Go to Descriptives > Descriptive Statistics > Check "Boxplots".
2. Boxplots show up, but any text label is messed up

[2020-04-16 14:15] JoKeyser commented on #682
Oh, found a solution, based on https://github.com/jamovi/jamovi/issues/772:

The trick is to refresh the font cache:

[code]

[2020-04-16 14:15] #682 closed

[2020-04-16 15:09] mpeters2 opened #683 "0.12.1 crashes OSX"
OSX 10.15.3
2019 iMac

1) Crashes when I try to perform a simple repeated-measures ANOVA.  Previous version (0.11.1) was able to perform these just fine with the same data set (csv file)

2) When I go to quit Jasp, it crashes.

**Error Message**
`This analysis terminated unexpectedly.

Error in ref_grid(object, ...): Can't handle an object of class  “NULL” <br> Use help('models', package = 'emmean

[2020-04-16 17:19] JorisGoosen commented on #667
Haha, nee niet per se. Was meer voor mijn eigen administratie dus zodat ik weet wat ik wilde proberen als ik daadwerkelijk aan dit issue toe kom :p

Maar ik heb het idee dat (een element van) de UI nog aan het laden is terwijl de hoofdklasse al in de destructor terechtkomt. En dat er buiten een try-catch blok pas geprobeerd wordt om dat af te kappen, waar die blijkbaar niet van gediend is. En aang

[2020-04-16 19:34] JorisGoosen commented on #681
Hello Lily,

Sorry to hear that, but to figure out what is going wrong you can help us out by downloading [dependency walker](http://www.dependencywalker.com/depends22_x64.zip).
You don't need to install it, just unpack it somewhere. Then you start it and use it to open `JASP.exe` (probably in `C:\program files\JASP`).

And then save the resulting data as a "*.dwi" and attach that here?

[2020-04-16 20:55] chantelanuit opened #684 "Adding the stem-and-leaf and dot plots in JASP"
Hello Jasp Jeam,

In his book "The Grammar of Graphics", Wilkinson (2005, p. 137) suggests that:

It would therefore be nice if the JASP team could add both the stem-and-leaf and dot plots in a future revision of the program. Here are examples of dot plots: https://www.tutorialgateway.org/r-ggplot2-dot-plot/

Michael

[2020-04-17 07:39] boutinb commented on #683
Can you send us your csv file (in a zip format), and the exact steps you do in JASP?

[2020-04-17 14:00] mpeters2 commented on #683
Attached is a simplified version of the csv file, but it also produces an error.  I tested other modules, and they all seem to work as expected. I’m only getting a crash with the Repeated Measures ANOVA.

1) “Paired Samples T-Test” works
“Bayesian Repeated Measures ANOVA” works
“Descriptives” works (see second screen shot)

2) Steps to create a crash

2.1) Import csv file
2.2) Select “ANOVA->Repea

[2020-04-17 14:21] boutinb commented on #683
I am afraid you did a reply from your email client, and the attached files do not come through. Could you use GitHub to send the files?

[2020-04-17 19:18] mpeters2 commented on #683
Here is a .zip of the .csv:
[test.csv.zip](https://github.com/jasp-stats/jasp-issues/files/4494813/test.csv.zip)

[2020-04-17 19:19] mpeters2 commented on #683
Screen shots:
<img width="347" alt="Screen Shot 2020-04-17 at 9 55 35 AM" src="https://user-images.githubusercontent.com/26334076/79605928-c7a76780-80be-11ea-8cad-cd1c2fee6f2d.png">
<img width="1190" alt="Screen Shot 2020-04-17 at 9 55 27 AM" src="https://user-images.githubusercontent.com/26334076/79605929-c7a76780-80be-11ea-8fdb-0586eb924c9c.png">

[2020-04-19 00:06] KenMavor opened #685 "(Incorrect) Negative Eigenvalues in JASP EFA Scree plot?"
* JASP version:
JASP 0.12
* OS name and version: MacOS 10.14
* Analysis: EFA
* Bug description: In the scree plot, the eigenvalues reported are below zero, which is incorrect.
* Expected behaviour: Eigenvalues in this data set are all positive (the matrix is positive definite).

#### Steps to reproduce:
The attached file shows the selected variables and the EFA output using Principal Axis Factorin

[2020-04-19 00:35] KenMavor commented on #685
Actually, further to this point, I have now read the documentation of the psych package for the parallel analysis. I can see where the confusion has arisen. It is true that the parallel analysis generates (extracts) eigenvalues based on different assumptions about the communalities. However, these eigenvalues would still all be >0.  (And the axis is definitely eigenvalues, not communalities!) What

[2020-04-19 08:21] EJWagenmakers commented on #685
@vankesteren, would be nice to get to the bottom of this before our next version

[2020-04-19 10:16] vankesteren commented on #685
Dear Ken,

Thank you for the detailed report, I will investigate this week!

[2020-04-19 11:16] KenMavor commented on #685
Dear Eric-Jan,

Thank you for your quick attention.  I was discussing the issue further with a local colleague (Justin Ales) and we can see that there is some ambiguity in the description of the parallel analysis in the psych package which has perhaps led to this situation. He also found a very useful article by Dinno (See http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.168.2473&rep=rep1&

[2020-04-20 06:58] boutinb commented on #683
@JohnnyDoorn Can you have a look?

[2020-04-20 07:23] FransMeerhoff commented on #684
Hi @vandenman @vankesteren : Do you think it's not too hard and useful? Or ask other people to have a look also?

[2020-04-20 08:05] UniM79 opened #686 "JASP crashes directly when I try to open it"
* JASP version: 0.12.1.0
* OS name and version: Mac OS 10.13.6 High Sierra
* Analysis:
* Bug description: I downloaded JASP following the installation instructions. There were no problems while doing that. But when I now click on the icon of JASP to start the program it first seems that it is opening, but after a few seconds the icon in the dock disappears and JASP just crashes. I don't get any er

[2020-04-20 08:10] vandenman commented on #669
For the time being, here's how to do it in R:

[code]
The code makes some plots to illustrate the influence of model averaging. It's not completely generic but should be easily adaptable to other data sets. I hope that helps until we implement this in JASP.

Let me know if anything is unclear or if you have any more questions!

[2020-04-20 08:10] boutinb commented on #686
Hi @UniM79
Could you open a terminal, and type the following

- cd /Applications/JASP.app/Contents/MacOS
- ./JASP

You will get many messages in terminal. Could you send me these messages?

Bruno

[2020-04-20 08:30] vandenman commented on #684
Two questions:

1. Isn't a stem-and-leaf plot is basically a table, not a plot? I think that if we make it into an actual plot (like they do [here](https://stackoverflow.com/a/26533522/4917834)) then the values cannot be copied anymore.

2. A dot plot is just a histogram with dots rather than bars?

[2020-04-20 09:25] JohnnyDoorn commented on #683
I can replicate this in JASP, but not on jaspTools. I think there is an issue when columns or factor levels are named either "b", "c", or "e". @JorisGoosen or @vandenman have you encountered anything related to this, or do you know if JASP does something with those names internally (maybe because they have a special status)?

[2020-04-20 09:28] JohnnyDoorn commented on #683
@mpeters2 maybe in the meantime you can try to run the analysis with other column names in your data and different factor level names? I think that would solve your issue in the meantime, while, we look into the underlying cause.  For me it works when I use "aa" and "bb", for instance.
Or does the analysis also crash for you with other names?

[2020-04-20 10:05] JorisGoosen commented on #683
As far as I know those names aren't special. They used to be encoded to base64 right? Did you keep that? Because the automatic encoding that took factors into account is still not turned on, so that can't be it.

[2020-04-20 13:20] chantelanuit commented on #684
**If you create it like a table, it is fine. It is useful to be able to copy the values.**

**No, it's not. On a dot plot, you see all individual scores, therefore you can see granularity in data that the histogram would have hidden. For this reason, Wilkinson (1999) suggests that a dotplot is one of the first graphs to use, before the creation a histogram. Please see the following article:

https

[2020-04-20 15:30] mpeters2 commented on #683
"a","b", and "c" were not the original columns names.

 In the original, much larger file that first demonstrated the crash, the column names were: "0above-ss6", "25above-ss6", "50above-ss6", etc.

Factor names were:
"Set Size" (with "ss6" and "ss12" as levels)
"target above/below" (with "above" and "below" as levels)
"opacity" (with "0", "25", "50", and "100" as levels)

One thing I did notice is

[2020-04-20 15:39] JorisGoosen commented on #683
Well, it seems we have figured out what the problem is. I will build a testversion so you can confirm that.

[2020-04-20 15:39] boutinb commented on #683
In 0.11.1, the variables disappear also on my mac... But I suppose it is the right thing, @JohnnyDoorn ?

[2020-04-20 15:43] #683 closed

[2020-04-20 15:45] AlexanderLyNL commented on #683
The variables should move from left to right. In RM ANOVA: Once a variable is chosen for a repeated measures cell it should not be put in another cell, in the other input fields.

[2020-04-20 15:57] JorisGoosen commented on #683
@mpeters2 could you test this version of JASP with your original dataset: http://static.jasp-stats.org/Nightlies/MacOS/JASP-nightly-stable-cd88f8ccbdfbf5f4e00b95ed088392f0a8424ade.dmg

[2020-04-20 16:21] mpeters2 commented on #683
It works!

[2020-04-20 16:24] JorisGoosen commented on #683
A new official release of JASP with this fix will probably come out later this week. But in any case soon, until then you can keep using this one if you like.

[2020-04-20 17:24] moritzkoerber commented on #89
Thank you, that is all of the information that I've needed!

[2020-04-20 17:24] #89 closed

[2020-04-20 19:34] mservantufc opened #687 "Linear mixed-effects models"
Maybe I missed something, but it looks like linear mixed-effects models are not implemented in JASP. Is it because the development team has concerns about the use of these models in psychological sciences?

[2020-04-20 19:51] EJWagenmakers commented on #687
This will be in the nexr version of JASP, complete with bells and whistles. It is 99.5% done.

[2020-04-20 19:51] #687 closed

[2020-04-20 21:02] nahorp commented on #669
Wow, thanks @vandenman! :) I'll have a play with this over the next week and get back to you if I have any questions. Thank you once again.

[2020-04-21 10:06] boutinb commented on #686
@UniM79 Could you manage to start JASP in the way I mentioned? I would like really much to know what it's going wrong on your Mac.

[2020-04-21 10:10] UniM79 commented on #686
Yes! Thanks a lot. Now it is working.

[2020-04-21 10:10] #686 closed

[2020-04-21 10:29] vsideropoulos opened #688 "Mahalanobis Distance"
* Enhancement:

**Is your feature request related to a problem? Please describe.**

Lack of filtering out outliers using a statistical measure and creating new columns

**Describe the solution you'd like**

Adding Mahalanobis analysis in regressions

[2020-04-21 11:53] boutinb commented on #686
@UniM79 But does it work now also if you start JASP by double-clicking its icon?

[2020-04-21 14:51] modelistatistik opened #689 "This analysis terminated unexpectedly."
* JASP version:JASP 0.12.1

* OS name and version: Windows 10 Turkish
* Analysis: **Flexplot**
* Bug description: **Turkish Characters**
* Expected behaviour: implementation of analysis

#### Steps to reproduce:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

Hi all,

Thanks for flexplot module. But Turkish characters not working now.
Do you check this problem?

Thanks for

[2020-04-21 14:54] modelistatistik commented on #689
Other problem.
Picture 1: https://prnt.sc/s3dxdz
Picture 2: https://prnt.sc/s3dxnn

I am exporting this figure, but eps formatting is problem.
Do you check this situation?

Thanks for interest.
Gokhan

[2020-04-21 15:09] boutinb commented on #689
@dustinfife Can you have a look to this issue?

[2020-04-21 15:16] dustinfife commented on #689
Hi @boutinb

I may need some guidance on this one. It seems like it doesn't like the special characters. How does JASP usually handle this?

As for the missing labels in illustrator, I'm not sure if that's a flexplot problem. Do you know bruno?

[2020-04-21 15:18] boutinb commented on #689
Maybe @vandenman can say more about it (Tim is unfortunately ill)

[2020-04-22 12:21] vankesteren commented on #685
Dear Ken,

I have now investigated further, with help of the paper you linked, as well as [their excellent answer on stackexchange](https://stats.stackexchange.com/a/97855). Thank you again for raising this issue and starting this discussion -- it really helps us and hopefully future users of JASP as well.

My conclusion is that the way we present the screeplot is correct. Negative eigenvalues for

[2020-04-22 12:30] AlexanderLyNL commented on #685
Would a note on this in the help file clarify things as well?

[2020-04-22 12:41] vankesteren commented on #685
yes, that is point 1 of my 2-point to-do list ;)

[2020-04-22 12:49] AlexanderLyNL commented on #685
I can't read :(

[2020-04-22 14:44] wegmannm opened #690 "Analysis terminated unexpectedly"
* JASP version:0.12.1

* OS name and version:windows 10 64 bit
* Analysis: visual modeling, mixed modeling
* Bug description:analysis terminated unexpectedly
[golfRBDlong.txt](https://github.com/jasp-stats/jasp-issues/files/4516807/golfRBDlong.txt)

* Expected behaviour:

#### Steps to reproduce:
1. Go to 'visual modeling...'
2. Click on 'mixed modeling....'
3. Scroll down to '.enter distance for

[2020-04-22 17:45] Iggy1gnasiak opened #691 "repeated measures ANOVA bugs"
* JASP version: 0.12.1

* OS name and version: Windwos 10 Enterprise (Version: 1607)
* Analysis: repeated measures ANOVA
* Bug description:

1.) I have encountered an error message running a repeated measures ANOVA in JASP 0.12.1. However, I was able to run the analysis in the previous JASP release (not sure, some 0.11. release). Please see the attached screenshot (OneWay_repANOVA.jpg) for the des

[2020-04-22 21:20] Loraageorg opened #692 "JASP crashed"
* JASP version: 0.12.1
* OS name and version: Windows 8.1 (6.3)

* Analysis:
* Bug description:
* Expected behaviour:

#### Steps to reproduce:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

-----------------------------------------------------------------------

### Debug information:
**Engine # 0** process *crashed* and it's state is *initializing*.
**Engine # 1** proce

[2020-04-23 04:52] haevalencia opened #693 "[Linux] crash to run jasp in last update"
* JASP version: 0.12.2 flathub version

* OS name and version: fedora 31 xfce 64bit
* Analysis: x
* Bug description:
[code]
* Expected behaviour:
run normaly

#### Steps to reproduce:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

[2020-04-23 06:31] nahorp commented on #669
Hi @vandenman, just touching base again.

I found the `weighted_posteriors` function in the [bayestestR package ](https://easystats.github.io/bayestestR/reference/weighted_posteriors.html) that seems to do what we want and since it accepts a BayesFactor model object, decided to go down that route.

I quite appreciate your efforts with the above code but the above route was slightly easier and quic

[2020-04-23 06:57] boutinb commented on #691
The first issue is solved in the next release (maybe today, but you can try it already here: http://static.jasp-stats.org/Nightlies/Windows/JASP-nightly-v0.12.2.0-25e87a67897e2764ea8097d400dd483190cb8af4.msi)
The second issue, @JohnnyDoorn has to have a look.

[2020-04-23 07:01] boutinb commented on #692
@Loraageorg We need to know what you do exactly before the crash. Do you open JASP and it crashes immediately, or do you try to load a file, or to add an analysis ?

[2020-04-23 07:06] vandenman commented on #690
Thanks for the bug report! Could you please also tell us the following:

1. What is the error message that appears?
2. What is the "golfer" variable? It is missing from golfRBDlong.txt

I'm able to reproduce an error, but I'd like to verify that it's the same one you have.

The error message I get is: `Error in sample.int(length(x), size, replace, prob): cannot take a sample larger than the popula

[2020-04-23 07:19] SKnHub commented on #379
As requested above,  FA/CFA for ordinal data using polychoric or another suitable method would be a really useful feature addition for many users like me. With Ordinal/ Lickert data more widely in use, this will help in framing comprehensive analysis.

Personally, need to depend on other packages along with JASP for my current analysis, Extremely impressed by the quick feature updates otherwise. J

[2020-04-23 07:30] FransMeerhoff commented on #680
Hi @Marian-Popa

Thanks for the good suggestion. Plot editing is an issue that is definitely on our wishlist.
 So we've put this issue on our backlog and try to get this issue done with that plot editing project. The problem however is that not all the graphs are made with the same R packages.
@SachaEpskamp Do you think this is hard to do?

Kind regards
Frans Meerhoff

[2020-04-23 07:30] boutinb commented on #379
@vankesteren Could you answer whether this request is in the pipeline?

[2020-04-23 07:33] SachaEpskamp commented on #680
There are definitely some improvements to be made to semPlot, but developing semPlot has been very low on my priority list for a long time now... I'll ask in my SEM course if students are interested in picking it up!

[2020-04-23 07:41] vankesteren commented on #379
I will look into this next week!

[2020-04-23 07:42] SvenHeimbuch commented on #693
Having the same issue on Arch Linux x64 with Cinnamon. Tried it on two different machines.

[2020-04-23 07:45] FransMeerhoff commented on #680
@SachaEpskamp That would be great.

[2020-04-23 09:11] JoKeyser commented on #693
Same issue in Ubuntu 18.04 LTS.
I guess the most important line is `qrc:/components/JASP/Controls/JASPScrollBar.qml:21 module "QtQml" version 2.14 is not installed`.

[2020-04-23 09:23] JoKeyser commented on #693
As a quick workaround, I [downgraded](https://docs.flatpak.org/en/latest/tips-and-tricks.html#downgrading) to the previous version 12.1:

[code]

[2020-04-23 09:26] JorisGoosen commented on #693
Aah yeah, downgrading is a good plan. And I'll push a fix.

[2020-04-23 09:40] JohnnyDoorn commented on #691
@vandenman
The issue is that we add and subtract 1 from the max and min of the dependent variable (around line 1471 in commonAnovaBayesian), respectively, if I remove this then the plot scales well again - should I just remove that? I think we did this a while ago so that it looks a little nicer (i.e., that there is some extra whitespace in the plot), but I don't think this aesthetic advantage hol

[2020-04-23 09:40] JorisGoosen commented on #693
So a new [version of jasp is building on flathub buildbot](https://flathub.org/builds/#/builders/32/builds/18831) once that is done the new version should be available and not have this problem.

@boutinb I did not up the version number because it seemed a bit overkill.

[2020-04-23 10:17] JohnnyDoorn commented on #691
Ok, this is now fixed in https://github.com/jasp-stats/jasp-desktop/pull/4053

[2020-04-23 10:17] #691 closed

[2020-04-23 11:24] wegmannm commented on #690
[image: image.png]
 I've included the screen shot  above showing the error.
Also, I've attached the file that I used which has golfer, brand and
distance as the 3 variables
Thanks for the quick response,
M. Wegmann
On Thu, Apr 23, 2020 at 2:06 AM Don van den Bergh <notifications@github.com>
wrote:

[2020-04-23 11:33] AlexanderLyNL opened #694 "Quill: Add the ability to change line width, as in docs via paragraph (singel, double spacing, etc)"

[2020-04-23 11:33] AlexanderLyNL opened #695 "Quill: Ghost text??"

[2020-04-23 11:34] AlexanderLyNL opened #696 "Quill: Tooltip for Quill"

[2020-04-23 11:34] AlexanderLyNL opened #697 "Robust Bayesian meta-analysis"

[2020-04-23 11:35] AlexanderLyNL opened #698 "Update custom contrast"

[2020-04-23 11:36] AlexanderLyNL opened #699 "Audit selection analysis"

[2020-04-23 11:37] AlexanderLyNL opened #700 "Audit add more prior construction methods"

[2020-04-23 11:37] AlexanderLyNL opened #701 "Audit export sample as .csv?"

[2020-04-23 11:38] AlexanderLyNL commented on #701
It's already possible to export to csv. Or do you mean something else?

[2020-04-23 11:40] koenderks commented on #701
I have these buttons and I would like to export an R (a selected sample from the population) that I provide to .csv when a user presses this button.

[2020-04-23 12:08] vandenman commented on #690
If you reply to a GitHub via email your message comes through clearly, but unfortunately, any attachments and/ or images are lost. Could you use GitHub directly to add attachments?

[2020-04-23 12:14] dustinfife commented on #690
Without seeing your dataset, I have a suspicion about what's happening (especially if @vandenman has reproduced the error). The module defaults to selecting six clusters to plot. If you have less than six clusters, it will throw an error. I recently fixed flexplot to not choose more clusters than exist, but, in the mean time, you can reduce the number of clusters to plot.

[2020-04-23 14:10] wegmannm commented on #690
![image](https://user-images.githubusercontent.com/8289317/80108355-d15b2000-8541-11ea-88bb-cfdeaa8978db.png)

[rbdlong (1).txt](https://github.com/jasp-stats/jasp-issues/files/4522994/rbdlong.1.txt)

[2020-04-23 14:10] #690 closed

[2020-04-23 16:24] andremonezi opened #702 "Network analysis - Changing Legend does not change the Centrality Plot"
*** JASP version:** 0.12.1

*** Analysis:** Network
*** Bug description:** This new version has advanced in-network graphic models, but the centrality plot is still having problems.
Note that on the centrality plot (shown in the legend), the system still displays the legend.
When the nodes only display the number (the name of the variable is displayed in the legend), the centrality plot still disp

[2020-04-23 19:18] HeatherUrry opened #703 "version 0.12.1 quarantined by Trend Micro Antivirus"
* JASP version: 0.12.1
* OS name and version: Windows 10 Enterprise
* Analysis: Bayesian Rep Measures ANOVA (I think)
* Bug description: Trend Micro Antivirus placed JASP.exe in quarantine

![image](https://user-images.githubusercontent.com/30731182/80140121-82c77900-8575-11ea-9425-18ffef864615.png)

(The "Details" link in that screenshot links to [here](https://www.trendmicro.com/vinfo/us/threat-

[2020-04-24 06:36] boutinb commented on #703
Hallo @HeatherUrry, does it happen only with the Bayesian Repeated Measures ANOVA?

[2020-04-24 07:04] vandenman commented on #702
Thanks for the bug report! The legend box only influences the network plot, not any of the other plots. However, I see that there is a real use case for having this button control all legends rather than just the one of the network plot. I'll put it on my to-do list!

[2020-04-24 09:08] jainahi opened #704 "SEM: problem with Parameter Estimates"
* JASP version: 0.12.1.0

* OS name and version: Windows 7 32 bits
* Analysis: Structural Equation Modeling
* Bug description: When I add residual correlations to my model's lavaan sintax (~~) so much values from the table "Parameter estimates" disappear. Maybe it is due to my inexperience with SEM.
* Expected behaviour: I would expect that these values do not disappear :)

#### Steps to reproduce

[2020-04-24 10:08] vankesteren commented on #704
Hi Jaime,

thanks for submitting the issue here! In this way, others can (hopefully) benefit from the answer too :)

This problem occurs when the standard errors cannot be computed. I don't know exactly what went wrong based on your information, but this could be due to many different reasons -- model misspecifications, extreme nonnormality of the residuals,  and more. __The SEM module will receiv

[2020-04-24 10:39] lartod opened #705 "bug on Repeated Measures ANOVA"
* JASP version: 0.12.1

* OS name and version: Windows 10
* Analysis: Repeated Measures ANOVA, non Bayesian
* Bug description:

This analysis terminated unexpectedly.

Error in ref_grid(object, ...): Can't handle an object of class  'NULL'
Use help('models', package = 'emmeans') for information on supported models.

Slack Trace
tryCatchOne(expr, names, parentenv, handlers[[1]])

doTryCatch(return(

[2020-04-24 12:15] HeatherUrry commented on #703
Hi @boutinb, I don't know. I had only been using the Bayesian Rep Meas ANOVA module when JASP got quarantined. Since it got quarantined on the affected computer, I haven't been able to use it. (Apparently I don't have the administrative privilege to take it out of quarantine myself. Annoying.) I've now got JASP 0.12.1 running on a different computer but before I started using it, I made sure to pu

[2020-04-24 14:29] Iggy1gnasiak commented on #691
Hi @boutinb and @JohnnyDoorn!

Thanks for being so super responsive. That is nice! I just downloaded JASP again but the error is still present. Also, the version number is still the same (0.12.1). I guess you have not made a new release yet, correct?

Just so I know when I can continue. Do you have a rough estimate when you would make a new release? Also, can I expect that the version number will

[2020-04-24 14:50] JohnnyDoorn commented on #691
Hi @Iggy1gnasiak

Can you try this nightly build?
http://static.jasp-stats.org/Nightlies/WindowsZip/JASP-nightly-v0.12.2.0-eca7e082cdfa0ebf7c375a739ce6ad37fa4a4775.zip
Or here for the msi file:
http://static.jasp-stats.org/Nightlies/Windows/JASP-nightly-v0.12.2.0-eca7e082cdfa0ebf7c375a739ce6ad37fa4a4775.msi

The release with the fixes will follow shortly, but for now I think this version has the f

[2020-04-24 15:47] boutinb commented on #705
We have just released a new version 0.12.2 that should solve this problem

[2020-04-24 15:49] boutinb commented on #703
That is really weird, because we have a certificate that Windows trusts.
We have just released a new version 0.12.2. Can you have a look if it still occurs with this version?

[2020-04-24 16:19] Iggy1gnasiak commented on #691
Hi @JohnnyDoorn

I tried the nightly build, it all works perfectly. Thanks!
I was just asking about the release since I use JASP for teaching and I want to make sure the students install a version that will run the examples I am preparing. I expect students will start installing around the 4th of May. Do you think the release will be online by then? Or do I need to set up an alternative way of dis

[2020-04-24 16:23] JohnnyDoorn commented on #691
I think the new release (with those fixes) is currently being uploaded to our website, so that will definitely be in time for your students!

[2020-04-24 18:27] HeatherUrry commented on #703
Hi Bruno,

I downloaded and installed 0.12.2 on the laptop on which JASP.exe got quarantined yesterday. The installation worked just fine and I was able to open up an existing .jasp file. However, when I was trying to sync the csv data file after having made an edit to it, JASP.exe for 0.12.2 got quarantined by Trend Micro Antivirus. It displayed the same message about the threat being unauthorize