[2020-04-24 19:35] djdekker opened #706 "p value shown as 0.00 instead of <.001"
* JASP version: 0.12.2
* OS name and version: macOS Catalina 10.15.4
* Analysis: Classical ANOVA
* Bug description: In the Assumption Checks, the _p_ value is shown as 0.00.
![ANOVA_teachers](https://user-images.githubusercontent.com/5346286/80250006-34000900-8673-11ea-9e66-004054cd0217.jpg)
* Expected behaviour: The _p_ value is expected to be shown as <.001 just like in the ANOVA table and the P

[2020-04-24 21:53] marutimishra opened #707 "logistic regression -sensitivity and specificity values"
* JASP version:0.11.1

* OS name and version: windows
* Analysis: Logistic regression
* Bug description: The performance metrics show the results for the sensitivity and specificity of the test. Is it possible that the values are flipped? When I do a ROC analysis in SPSS and get a value for the same, the results seem flipped. I am not sure if its SPSS or JASP, but I do not get the same results
* E

[2020-04-25 07:19] djdekker opened #708 "Variable type not updated in Post Hoc Tests"
* JASP version: 0.12.2
* OS name and version: macOS Catalina 10.15.4
* Analysis: Classical ANOVA
* Bug description: In the Post Hoc Tests the variable type is not updated when it is changed in the spreadsheet.

Before:
<img width="1532" alt="before" src="https://user-images.githubusercontent.com/5346286/80273695-e320fc80-86d4-11ea-8abb-74b041b2ca43.png">

After:
<img width="1532" alt="after" src="

[2020-04-25 08:11] JoKeyser commented on #693
Worked for me, 12.2 is running fine now.

[2020-04-25 10:02] JorisGoosen commented on #693
Ok, great!

[2020-04-25 10:02] #693 closed

[2020-04-25 10:27] tomfaulkenberry opened #709 ""Model Name" dropdown missing from SEM module"
* JASP version:  0.12.2.0

* OS name and version:  Mac OS 10.13.6
* Analysis:  SEM module - Structural Equation Modeling
* Bug description:  the "Model Name" dropdown box is missing from Structural Equation Modeling
* Expected behaviour:  in version 0.11.1.0, the "Model Name" option (under Advanced) gave the ability to compare model fits directly in one output.

![jasp11](https://user-images.githu

[2020-04-25 10:59] MKoenders opened #710 "JASP version, operating system, what you were doing, the JASP file, or the data file, screenshots, etc."
* JASP version:0.11.1
 MacOS
* OS name and version: OS Cataline 10.15.4
* Analysis: Anova
* Bug description: This analysis terminated unexpectedly.
* Expected behaviour:

#### Steps to reproduce:

Hi there,
I have created an Implicit Association Task and I tried out the analysis for this. While doing that I ran into some trouble. I tried to log the data in another way but I still get the same erro

[2020-04-25 18:11] kszechy opened #711 "Chi-Square contribution in CFA/SEM invariance analysis"
* Enhancement:  Add in information on the contribution to the chi square for each group
* Purpose:  For multi-group CFA when you are looking at configural invariance, constraining factor loadings, intercepts and residuals to look at weak, strong and strict invariance.

**Is your feature request related to a problem? Please describe.**

I was running an SEM measurement model on some questionnaire d

[2020-04-26 09:34] 16665k00 opened #712 "JASP Goes Blank When Computing Large Tables of Correlations"
* JASP version: 12.2
* OS name and version: Windows 10
* Analysis: Pearson's correlation (for a large set of variables; in this case, 94 variables, 93 of which are the language features generated by the Linguistic Inquiry and Word Count software).
* Bug description: The whole output window simply goes blank after a while (see attached). It first looks as if it's computing (i.e., the variable names

[2020-04-26 18:25] HeikoBreitsohl opened #713 "Feature request: Add the effects-coding option for factor scaling from the CFA module to the SEM module"
Dear JASP Team,

thank so much for incorporating the effects coding option for factor scaling into the CFA module (issue #103)!

May I suggest also making this available in the SEM module?

Thanks, and keep up the great work!

Best,
Heiko

[2020-04-28 07:07] boutinb commented on #705
If the new version does not solve your problem, reopen this issue.

[2020-04-28 07:09] boutinb commented on #707
@vandenman can you have a look to this issue?

[2020-04-28 07:12] boutinb commented on #710
Hi @MKoenders In our new release (0.12) we have rewritten the ANOVA analysis. Could you try this new version?

[2020-04-28 07:20] boutinb commented on #712
Hi @16665k00 Could you give us (in a zip format) the JASP log files: go to Preferences/Advanced/Logging options, click Log to file, then redo the reproduction path of this issue. When you click the Show Logs button, you should see the last 4 log files: 1 desktop & 4 engines log files.
Hopefully can we get some hints over this issue with these log files.

[2020-04-28 08:54] JohnnyDoorn commented on #706
Hmm that is very weird, as I cannot reproduce the issue on my 0.12.2 (flathub/Ubuntu):
![Screenshot from 2020-04-28 10-48-30](https://user-images.githubusercontent.com/15704203/80467232-d3582100-893d-11ea-94ca-3d063c910167.png)

@boutinb  can you reproduce this?

[2020-04-28 09:00] boutinb commented on #706
It is due to the 'Fix the number of decimals' setting (in Preferences/Results): if it is set to 2 then you get 0.00, if it is set to 3, you have 0.004

[2020-04-28 09:03] JohnnyDoorn commented on #706
Ah of course! it is still weird, because the code looks normal:
`  leveneTable$addColumnInfo(name="p",   title=gettext("p"),   type="pvalue")`

[2020-04-28 09:46] boutinb commented on #706
I see that the formats in the result are the same for all p values. Maybe something wrong in javascript. I have a look.

[2020-04-28 10:25] boutinb commented on #706
This bug existed in 0.11 already.
When number of decimals is set to 2, and p-value is 0.01 > p > 0.001, then p-value is set to 0.00, instead of '< 0.01'
When p-value is p < 0.001, then it shows '< 0.001' (even if number of decimals is 2). I think it should show also '< 0.01'.
I saw also that when number of decimals is 4 and p is 0.0003, then is shows also '< 0.001'.
I remember that there was a dis

[2020-04-28 14:18] rreverberi7 opened #714 "Wrong description in Note"
* JASP version: 0.12.2

* OS name and version: Opensuse 15.1
* Analysis: Paired Samples T-Test
* Bug description: In Note: For the Wilcoxon test, **effect size** is given by the Hodges-Lehmann estimate.
* Expected behaviour:
For the Wilcoxon test, **location parameter** is given by the Hodges-Lehmann estimate.

#### Steps to reproduce:
1. Go to 'T-tests...'
2. Click on 'Paired Samples T-test', 'St

[2020-04-28 14:55] djdekker opened #715 "ANOVA: Problems after switching languages"
* JASP version: 0.12.2
* OS name and version: macOS 10.15.4 Catalina
* Analysis: Classical ANOVA
* Bug description: When switching interface languages from English to Dutch and back, JASP adds a "Planned contrasts" section in the output pane or the engine crashes
* Expected behaviour: JASP should not add a new section to the output, but only translate the output that was already there

Start with

[2020-04-28 20:00] EJWagenmakers commented on #706
1. "When number of decimals is set to 2, and p-value is 0.01 > p > 0.001, then p-value is set to 0.00, instead of '< 0.01'"

I think it makes sense to show '< .01' in this case (NB I think we don't show the leading zero when we use the inequality signs).

2. When p-value is p < 0.001, then it shows '< 0.001' (even if number of decimals is 2). I think it should show also '< 0.01'.

I recommend  '<

[2020-04-29 00:39] etidoni commented on #683
After the new release I still have Jasp crashing when when I go to quit after a RManova.

mac OS catalina 10.15.4, JASP 0.12.2

[2020-04-29 05:32] freckledude commented on #151
I also support this feature!

[2020-04-29 06:57] boutinb commented on #706
I will make these changes.
For the time being, for @djdekker, the best workaround is to set the number of decimals to 3.

[2020-04-29 07:02] boutinb commented on #683
This issue was found and is already fixed for the next release.

[2020-04-29 07:40] vankesteren commented on #713
We'll do this in the next update of the SEM module (soon!)

[2020-04-29 07:43] vankesteren commented on #711
Great suggestion! We'll implement this as soon as it is convenient :)

[2020-04-29 07:45] vankesteren commented on #709
A lot has changed under the hood from .11 to .12, and this was no longer possible to implement as-is. It was also not very user-friendly! In the next update of the SEM module, we will fix this (soon!). We have great plans for improving the SEM module!

[2020-04-29 07:45] #704 closed

[2020-04-29 07:54] vandenman commented on #714
Thanks for the report! I'll change this and will let you know when the nightly versions contain the fix.

[2020-04-29 09:24] #379 closed

[2020-04-29 09:43] 16665k00 commented on #712
Hello, thanks for this suggestion. I have tried, but now, JASP displays "not responding" when I try to obtain the full 94x94 table of correlations (see attached). Will it help if I sent the logs for a smaller number of correlations, say 20-25?
![Screenshot (44)](https://user-images.githubusercontent.com/54776575/80581773-48555480-8a2b-11ea-95d7-21acb447eadf.png)

[2020-04-29 11:09] EJWagenmakers commented on #712
This happens because, by mistake, JASP computes Kendall's tau for all correlations, even though it is not requested. This really, really slows down the computation time.
@Kucharssim , would be very good to have this fixed before the new release.

[2020-04-29 11:14] 16665k00 commented on #712
Thank you very much, both. I was just trying to get the log files you
requested, but indeed, JASP has crashed again while computing the
correlations (or more accurately, it states "not responding").

But at least we know why. But does this mean that all the correlations that
are reported are Kendall's taus, rather than Pearson's *r*s? Or is that
Pearson's *r*s are shown, but Kendall's taus are cal

[2020-04-29 11:16] EJWagenmakers commented on #712
@Kucharssim The output it correct (99.9% sure here, otherwise we would have to do a hotfix) so the tau's a hidden.

[2020-04-29 11:37] tomfaulkenberry commented on #709
Thanks @vankesteren...that's what I suspected.  I will close the issue now.  I appreciate your response!

[2020-04-29 11:37] #709 closed

[2020-04-29 14:20] #706 closed

[2020-04-29 16:12] HeikoBreitsohl opened #716 "SEM: Printing sample size and number of parameters (more prominently)"
* Enhancement: Print the sample size in the default output
Also, the number of parameters could be displayed by default, instead of in the Likelihood table that has to be requested.
* Purpose: Being able to check the used sample size (and number of parameters), as it is possible in many other SEM packages

**Is your feature request related to a problem? Please describe.**
No

**Describe the soluti

[2020-04-29 17:05] jtcoldren opened #717 "Syntax / scripting support is desirable"
I know that ease of use is a primary concern of JASP, but some degree of scripting and syntax support from within the program would be desirable.   Of course, this may involve the option of integrating some R code from within the program easily.

[2020-04-29 17:08] jtcoldren opened #718 "Ability to edit graphs needed"
JASP produces very nice graphs very easily, but the ability to do minimal customization like revising axis ranges (min and max) and the type of graph would be great.

[2020-04-29 17:13] jtcoldren opened #719 "Shout out to the JASP team!"
As my stats class went from face-to-face to on-line in a few weeks, JASP was just what I needed.  My university moved SPSS to a virtual windows machine for statistics students.  It works okay in this environment, but is laggy and even more twitchy than usual.  I didn't have time to teach R in the middle of the semester, so JASP was great alternative.  User friendly and powerful for teaching stats,

[2020-04-29 17:33] EJWagenmakers commented on #717
Yes, this is under development.

[2020-04-29 17:33] #717 closed

[2020-04-29 17:35] EJWagenmakers commented on #718
Yes, this is under development as well.

[2020-04-29 17:35] #718 closed

[2020-04-29 17:37] EJWagenmakers commented on #719
:-)) Thanks! Your suggestions for improvement are very good -- in fact, they are among our top priorities for this year.

[2020-04-29 17:37] #719 closed

[2020-04-29 21:14] R180 opened #720 "Pixelated user interface with JASP 0.12.2.0"
With this new version (0.12.2.0), most of the UI is highly pixelated on my screen (Windows 10 Dell Latitude 5400), though the output portion seems fine. Tried uninstalling then reinstalling the software.

![image](https://user-images.githubusercontent.com/16230091/80647618-c837ea80-8a3c-11ea-9a35-a5574aa19dc7.png)

[2020-04-30 08:07] DrMarkGS commented on #720
Same here on Windows 10 laptop - most obvious in the analysis titles and less so in the ribbon
Mark

[2020-04-30 10:27] rreverberi7 opened #721 "Wrong plot and median"
* JASP version: 0.12.2

* OS name and version: Opensuse 15.1
* Analysis: Bayesian paired samples t test
* Bug description:Choosing 'Wilcoxon signed-rank', the 'prior and posterior' plot shows a positive median when it should be negative and the plot reflects this error. Choosing 'Student', median and plot are correct
* Expected behaviour: Median and plot should correspond to data

#### Steps to re

[2020-04-30 10:30] EJWagenmakers commented on #721
@JohnnyDoorn

[2020-04-30 10:31] rickogorman opened #722 "[Solved] Mac: Font book - Restore standard fonts - restart. New install of JASP: Won't graph, "Polygon edge not found""
* JASP version: 0.12.2, 0.11.x
macOS
* OS name and version: macOS 10.14.6 (Mojave)
* Analysis: Plots
* Bug description: When I have a dataset open, and then click on any plotting options, JASP fails to plot, instead gives the error message 'polygon edge not found'. I have installed the latest JASP (0.12.2) on a laptop with same OS version and it works fine.
* Expected behaviour: JASP should plot s

[2020-04-30 11:09] boutinb commented on #722
Hi @rickogorman, could you try to JASP with an extra argument? For this:
- starts a terminal
- type 'cd /Applications/JASP.app/Contents/MacOS'
- type './JASP --safeGraphics'
Check if JASP has the same problem.

[2020-04-30 11:40] JohnnyDoorn commented on #721
@vandenman while trying to replicate this issue I ran into another issue when trying to plot the prior/posterior for the paired samples t-test (both student and wilcoxon): "The engine crashed while trying to run this analysis...", does it work for you on Ubuntu?
This does not happen for the one and two sample t-tests strangely..
I will change the sign of the median to at least make the plot correc

[2020-04-30 11:43] JorisGoosen commented on #720
Could either of you test [this zipped JASP](http://static.jasp-stats.org/Nightlies/WindowsZip/JASP-nightly-v0.12.2.0_noNativeTextRenderWin-d2c0ffff437b014344b84a064ecdff415e67256c.zip) or [this full installer](http://static.jasp-stats.org/Nightlies/Windows/JASP-nightly-v0.12.2.0_noNativeTextRenderWin-d2c0ffff437b014344b84a064ecdff415e67256c.msi)?

They are both of the same build and I changed them

[2020-04-30 12:00] DrMarkGS commented on #720
![image](https://user-images.githubusercontent.com/39003008/80707780-6c27a180-8ae2-11ea-9f71-47f22a11f6f4.png)
Still very pixelated I am afraid

[2020-04-30 12:10] JorisGoosen commented on #720
Aah thank you for testing it, I think I know something else to try. Ill get back to you.

[2020-04-30 12:32] rreverberi7 commented on #721
"does it work for you on Ubuntu?"

Sorry, I don't use Ubuntu, I use Opensuse 15.1 and Jasp runs without any crash, including the function where the wrong median and plot appear. I tried also the windows 64bit version (0.12.2) and the behavior is identical: no crash but wrong median and plot.

Please ask me if you need any other information.

[2020-04-30 12:39] JorisGoosen commented on #720
Then [this zip](http://static.jasp-stats.org/Nightlies/WindowsZip/JASP-nightly-v0.12.2.0-273972d90c9d69bf3383e44cc7236c5daca7be46.zip) or [this msi](http://static.jasp-stats.org/Nightlies/WindowsZip/JASP-nightly-v0.12.2.0-273972d90c9d69bf3383e44cc7236c5daca7be46.msi) might fare better?

[2020-04-30 12:43] DrMarkGS commented on #720
msi link not working but am downloading the zip file ok.

[2020-04-30 12:55] JorisGoosen commented on #720
http://static.jasp-stats.org/Nightlies/WindowsZip/JASP-nightly-v0.12.2.0-9bc9fb7d416745d6507714374619adfa3922db7e.zip should actually work

[2020-04-30 12:55] JorisGoosen commented on #720
@DrMarkGS So the last one will actually work, sorry about the possible confusion.

[2020-04-30 13:18] JorisGoosen commented on #667
@janderuiter zou je [deze ontwikkelversie van JASP](http://static.jasp-stats.org/Nightlies/MacOS/JASP-nightly-stable-52a33803a456255216a94f9d7c5a32d0ed5c756b.dmg) kunnen proberen met hetzelfde bestand als je eerder gebruikte?

[2020-04-30 13:23] DrMarkGS commented on #720
Cannot get the zipped version to open on my PC - will download the last link you sent me

[2020-04-30 13:48] R180 commented on #720
For me, that version fixes the problem when I run the EXE file:

http://static.jasp-stats.org/Nightlies/WindowsZip/JASP-nightly-v0.12.2.0-9bc9fb7d416745d6507714374619adfa3922db7e.zip

(However, I don't know how to install it).

[2020-04-30 14:00] janderuiter commented on #667
OK, getest. Goed dat ik die file nog had. Deze crasht niet na sluiten van
window. 👍

On Thu, Apr 30, 2020 at 9:19 AM Joris Goosen <notifications@github.com>
wrote:

[2020-04-30 14:13] JorisGoosen commented on #720
@R180 you could install http://static.jasp-stats.org/Nightlies/Windows/JASP-nightly-v0.12.2.0-9bc9fb7d416745d6507714374619adfa3922db7e.msi but it isn't an official release.
We will probably bring one out next week with this fix. Until then you could definitely use this, but if you find other bugs be sure to mention it is a "nightly".

[2020-04-30 14:15] #720 closed

[2020-04-30 14:16] JorisGoosen commented on #667
Bedankt!

[2020-04-30 14:16] #667 closed

[2020-04-30 14:32] janderuiter commented on #667
Jij ook bedankt Joris!

On Thu, Apr 30, 2020 at 10:16 AM Joris Goosen <notifications@github.com> wrote:

[2020-04-30 15:46] rickogorman commented on #722
Same outcome as before.

[2020-04-30 16:30] gsstoudt opened #723 "Paste Tables as Images"
Perhaps this is an odd request, but I would like my students to be able to copy/paste tables as images.  It makes it much easier for them to organize and write up their reports in Word (baby steps--it is intro stats).

[2020-04-30 16:32] DrMarkGS commented on #720
Looks fine with JASP-nightly-v0.12.2.0-9bc9fb7d416745d6507714374619adfa3922db7e

many thanks
Mark

[2020-05-01 07:19] vandenman commented on #723
Why not take a screenshot?

[Windows](https://support.microsoft.com/en-us/help/4027213/windows-10-open-snipping-tool-and-take-a-screenshot) has build-in support for this, for Linux it's quite easy to setup and for Mac I don't know as I don't use Mac. The screenshot tool I linked allows you to select a rectangular region, e.g., a table, to take a screenshot of. If you want to increase or decrease t

[2020-05-01 07:54] AlexanderLyNL commented on #723
On mac you can take a screenshot with cmd+shift+4, which allows you to select the region.

[2020-05-01 08:05] Kucharssim commented on #712
Yes indeed, we already have a fix (https://github.com/jasp-stats/Regression/pull/1), but we need to test and merge it. It will be in the next release.

@16665k00 It would be great if you could please share with us your data, so that I can confirm that the fix really solves your problem. That would help us a lot.

[2020-05-01 08:41] 16665k00 commented on #712
Yes, of course. What email address can I send the data to you at?

On Friday, 1 May 2020, Simon Kucharsky <notifications@github.com> wrote:

[2020-05-01 09:12] vandenman commented on #702
Okay so I've now changed it to 3 options:

Old:
![image](https://user-images.githubusercontent.com/21319932/80794760-08ad7a80-8b9b-11ea-8209-b34974109dde.png)

![image](https://user-images.githubusercontent.com/21319932/80794694-d9970900-8b9a-11ea-9303-7cbbb06e190e.png)

New option 1:
![image](https://user-images.githubusercontent.com/21319932/80794781-1531d300-8b9b-11ea-88f9-639c9c97eae3.png)

![

[2020-05-01 10:28] rickogorman commented on #722
I add some more now. I booted my Mac (iMac 2017 27") into safe mode. There, JASP works fine! The above problem does not manifest. So I then booted into normal mode and quit everything I could (I do run quite a few services, etc.). However, the problem remains in normal mode.

I used activity monitor to shut down as many as possible. I turned off on-demand virus scanning (Sophos). I could not shut

[2020-05-01 10:30] boutinb commented on #722
Hmm. It's quite strange. @JorisGoosen : do you have any idea what could cause this problem?

[2020-05-01 11:01] vandenman commented on #722
It looks like the `grid` package throws an error. You could see if Arial is disabled (e.g., see [here](https://stackoverflow.com/questions/10581440/error-in-grid-calll-textbounds-as-graphicsannotxlabel-xx-xy-polygon) where someone has the same error message using R) but I have no idea why it works in safe mode.

[2020-05-01 11:13] AlexanderLyNL commented on #722
If font type is a problem, then perhaps restoring the standard fonts might help. See also

https://github.com/jasp-stats/jasp-issues/issues/405

[2020-05-01 11:36] andremonezi commented on #702
Dear Don van den Bergh,

Thanks for your speedy response. They looked great, but I found something that might be another bug. Note that the plot ratio should be the same for all three measures of centrality. In the image, you can see that the valuables are different depending on the centrality, and this cannot be altered.

**Also, I would like to take this message and request two simple new featur

[2020-05-01 11:47] gsstoudt commented on #723
Both true.  Certainly not a high priority item, but it is a feature in other programs.  Thanks for the replies.

[2020-05-01 12:08] vandenman commented on #702
The centrality measures are standardized, but that does not mean they necessarily have the same scales on the axes. For example, in R this gives me:
[code]
![image](https://user-images.githubusercontent.com/21319932/80804073-5da9ba80-8bb4-11ea-8916-0db0d571f50a.png)

both are standardized with mean 0 and standard deviation 1 yet the scale on the axes differs vastly. Granted this is an extreme exam

[2020-05-01 12:28] EJWagenmakers commented on #723
I agree with the proposed workarounds, which are easy enough, but if adding this is easy I can see the value -- you don't need to select the box, for instance, and some people may not know about the screen capture programs.

[2020-05-01 12:35] andremonezi commented on #702
Dear Don,
Thanks for your attention! So, we hope in the future editable plots.

Regarding the expected influence, I was referring exactly to these two definitions!
As regards to the value of the correlations, I mean the valuables inside the edges, like in the network plots.

You have got these ideas.
If you implement both features, it would great!

[   ] s

[2020-05-01 13:27] Kucharssim commented on #712
s.kucharsky@uva.nl, please, thank you!

[2020-05-01 14:02] JorisGoosen commented on #722
Hmm, ive never heard of this problem but @AlexanderLyNL 's suggestion seems worthwhile to try!

[2020-05-01 14:04] Sarah226 opened #724 "Error in an independent sample T-test"
* JASP version: 0.12.2

* OS name and version: Windows
* Analysis: ?
* Bug description:
This analysis terminated unexpectedly.

Error in .ttestIndependentMainFill(ttest, dataset, options, testStat, : object 'result' not found

Stack trace
tryCatchOne(expr, names, parentenv, handlers[[1]])

doTryCatch(return(expr), name, parentenv, handler)

withCallingHandlers(expr = analysis(jaspResults = jaspRes

[2020-05-01 14:12] rickogorman commented on #722
OK, tried that, no cigar. I followed the steps (font book-->restore standard fonts) but the error still remains (it said no problems encountered, did make a fonts (removed) folder, to be honest I didn't see how I'd have messed up my fonts). Do I need to restart? Didn't see that step mentioned.

[2020-05-01 14:24] AlexanderLyNL commented on #722
Restarting is always a good idea. Previously, we had some plot issues due to the plots not finding the right font. Sometimes these libraries get scrabbled a bit. It's typically not a big deal, and easily restored. If restoring and restarting doesn't help, could you then please add the log files in a zip to this thread for us to look into more carefully?

[2020-05-01 14:26] rickogorman commented on #722
I take it back. I did try restarting and it is fixed! The original directions don't mention restarting, so worth getting that on the record. Thanks for your help!

[2020-05-01 14:27] AlexanderLyNL commented on #722
Awesome. Thanks for getting back to us.

[2020-05-01 14:27] #722 closed

[2020-05-01 16:19] boutinb commented on #724
Hallo @Sarah226 . I cannot reproduce this problem on my Windows PC. Which version of Windows do you have? Does this problem occur with other analyses?
Could also set the log on: In Preferences/Advanced, set Log to file on, do again the steps to reproduce the error, and then click on the Show Logs button. You should see 1 desktop log file and 4 engine log files: could you send me these files (by ad

[2020-05-01 18:08] farscape11 commented on #15
Any updated on the linear mixed effects models. Would love to see this feature and it would make JASP complete for our stat teaching purposes.

[2020-05-01 18:49] EJWagenmakers commented on #15
It's in the upcoming release, a few weeks away!

[2020-05-01 18:49] #15 closed

[2020-05-01 19:07] Sarah226 commented on #724
Hello @boutinb I have windows version 10 Pro, this problem does not occur with other analyses just with this specific one. I'm afraid I cant show you the data because it is for my study.

[JASP 2020-05-01 20_48_13 Engine 1.log](https://github.com/jasp-stats/jasp-issues/files/4565934/JASP.2020-05-01.20_48_13.Engine.1.log)
[JASP 2020-05-01 20_48_13 Engine 2.log](https://github.com/jasp-stats/jasp-is

[2020-05-01 20:48] jdebeer2005 opened #725 "ANOVA issues"
* JASP version: 0.12.2

* OS name and version: Win 10
* Analysis:
Descriptives
Descriptives plots
Assumption Checks
Q-Q Plot
Post Hoc Tests
Standard
This analysis terminated unexpectedly.

Error in ref_grid(object, ...): Can't handle an object of class  'NULL'
Use help('models', package = 'emmeans') for information on supported models.

Stack trace
withCallingHandlers(expr = analysis(jaspResults =

[2020-05-01 23:30] jdebeer2005 commented on #725
I know the answer.   I had 3 species of fish, and 7 precookers, with like 10,000 line of data for each data set.  I ran a contingency table of Precookers versus fish. and in one cell I was missing any data.  I took some other data and modified it so I had data for that cell, and the analysis worked.  So JASP apparently cannot handle missing data, in a computed ?? cell.

[2020-05-02 13:20] JoKeyser opened #726 "Feature request: Enable translation via a web-based service (e.g. Weblate)"
* Enhancement: Integration with web-based translation service.
* Purpose: Simplify continuous translation from community.
* Use-case: Anyone wanting to translate with minimal technical hassle.

**Is your feature request related to a problem? Please describe.**
Currently, the translation requires manual editing of `.po` files and additional steps to get the changes into the repository. (See https:/

[2020-05-02 16:16] EJWagenmakers commented on #726
Cool. @FransMeerhoff, what do you think?

[2020-05-02 18:18] andremonezi opened #727 "Adjusted standardized residuals to chi square tests"
It would very interesting if JASP could provide standardized/adjusted standardized residuals for _a_ _posteriori_ comparisons when running chi-square tests.

This feature is quite important mainly in those cases with contingency tables 3X3 or more.
Regards,

[2020-05-02 20:12] mservantufc opened #728 "Coding of factors in LMM (and some thoughts after trying the visual modeling module (beta)"
I just ran a linear mixed effects model (LMM) on some data (amazing job guys).  I have a few questions/suggestions:
1-  I wonder how categorical variables are treated by JASP in a LMM. For example, consider a response accuracy variable that I would like to use as a fixed factor. I could simply code accuracy levels as 'correct' and 'error'. In this case, does JASP apply a treatment contrast by defa

[2020-05-03 10:29] TarandeepKang commented on #728
I would agree regarding point 2. These methods are also implemented in the LmerTest package. If the the team is against df or p values for LMMs, as there is indeed controversy, perhaps there could be some additional guidance on interpretation of the output without p  values, provided in the help documentation? Not necessary for me specifically, but I'm sure this would be useful to students and tho

[2020-05-03 10:49] EJWagenmakers commented on #728
Yes, GLMM, both frequentist and Bayes, are planned for the upcoming release. The Bayesian version won't have Bayes factors though.

[2020-05-03 16:30] NikitaKhromov-Borisov opened #729 "missing counts"
* JASP version: 0.12.2

* OS name and version: Windows 10
* Analysis: Frequencies
* Bug description: for the attached data I receive the report on the missing counts
There is no such report with other CTs
[Operat.zip](https://github.com/jasp-stats/jasp-issues/files/4570940/Operat.zip)

[2020-05-04 07:44] boutinb commented on #727
@EJWagenmakers What do you think? Is is something for Jiashun?

[2020-05-04 09:07] #724 closed

[2020-05-04 10:35] Kucharssim commented on #725
Hi @jdebeer2005,

thank you for your report and enclosed file that reproduces your issue.

Indeed, what you are dealing with is a 3x7 ANOVA with one of the 21 design cells having zero observations. I am afraid you cannot use this analysis for this data, as ANOVA cannot deal with such a design - this is not a bug in our software but a problem of not having unique solutions for the underlying calcul

[2020-05-04 13:22] boutinb commented on #724
@Sarah226 This error will be fixed in the next release. You can try it here:
 http://static.jasp-stats.org/Nightlies/Windows/JASP-nightly-stable-142def8358c26741740d95b57c5f46dd848c066b.msi
Pay attention that this is a development version which is not full tested yet. But it would very interesting for us if this solves your problem.

[2020-05-04 15:47] jdebeer2005 commented on #725
Thank you sir.  Very helpful.

So the next question, will this data set work with a General Linear Model.  That will essentially give me the same answer.

Thanks so much.

JDB

From: Simon Kucharsky <notifications@github.com>
Sent: Monday, May 4, 2020 3:36 AM
To: jasp-stats/jasp-issues <jasp-issues@noreply.github.com>
Cc: jdebeer2005 <jdebeer2005@gmail.com>; Mention <mention@noreply.github.com>
Su

[2020-05-04 15:51] jdebeer2005 commented on #15
Please include this enhancement.  I need a GLM feature.

[2020-05-04 18:30] vandenman commented on #729
It looks like JASP detects some spurious rows in the data set. If you create a filter and use `!is.na(Count)` as R code JASP filters out the empty rows in the data set and the analysis is run normally.

[2020-05-04 18:44] NikitaKhromov-Borisov commented on #729
thanks, however, I don't know how to use a filter. Moreover, it seems the problem is not due to data, because the same data are analyzed at the next day, but the same confusion appears with another data set, with which there was no problem earlier.

[2020-05-04 19:13] vandenman commented on #702
A screenshot of some intermediate progress:

![image](https://user-images.githubusercontent.com/21319932/81003655-7c75ae80-8e4b-11ea-8b98-4a1191a17cfd.png)

- Expected influence is now shown in the centrality plot

Inside the red box are some new options:
- The checkbox `Edge labels` draws or hides the edge strength.
- The input `Edge label size` controls the size of the drawn edge label (2 is twi

[2020-05-04 19:37] vandenman commented on #729
There seems to be something odd in the CSV file, because `readr::read_csv` also reads in 19 rows while `utils::read.csv` (a base R function) reads in only 8 rows. Regardless, that's something on our end to look at.

In the meantime, to use the filter you can follow the steps below. That should at least allow you to run the analysis until we sort out why the empty rows are read in.

1. In the data

[2020-05-04 20:28] NikitaKhromov-Borisov commented on #729
Thank you, that's great!

[2020-05-04 20:31] NikitaKhromov-Borisov commented on #729
Thanks
Best regards,

Dr. Nikita Khromov-Borisov
Commission on Pseudoscience
Russian Academy of Sciences (RAS)
RUSSIA

http://independent.academia.edu/NikitaKhromovBorisov
https://www.researchgate.net/profile/Nikita_Khromov-Borisov

пн, 4 мая 2020 г. в 22:38, Don van den Bergh <notifications@github.com>:

[2020-05-05 10:43] andremonezi commented on #702
Dear Don,
Your job looks great! I have two questions:

1) Concerning the graphs, the value of the correlations will also be shown when the edges turn green or red (classic), ok?

2) Please note that there should be some feature to show the color of the edges in proportion to the value of the correlations. See that in my attached picture, we created a graph in the R, and the program highlighted onl

[2020-05-05 10:46] andremonezi commented on #727
Dear all, what do you think about that?

[2020-05-05 12:59] Tabea123 opened #730 "Issue with Informed Prior for Bayesian Independent Samples T-Test"
* JASP version: Version 0.12
* OS name and version: Windows 10 (Version: 10.0.18362 Build 18362)
* Analysis: Bayesian Independent Samples T-Test
* Bug description:
First, I changed from the default prior to an informed prior. This change went as expected.
Second, I changed back from the informed prior to the default prior. This change did not go as expected. The 'Prior and Posterior' plot stays th

[2020-05-05 13:09] FBartos opened #731 "button to "Browse for save file or open file""
* Enhancement: button to "Browse for save file or open file" - a button that's part of the analysis qml that allows specifying path to external files so they can be opened in JASP
* Purpose: Robust Bayesian Meta-Analysis
* Use-case: Importing RoBMA objects in JASP that were fitted in R (or vice versa)

**Describe the solution you'd like**
Clicking the button opens a "file browser" allowing user to

[2020-05-05 13:23] dustinfife commented on #728
Glad you're liking flexplot! Here's my comments to your comments:

1. It applies treatment contrasts by default. As of right now, there's no option to change this. But, if you're an R user, you can use flexplot to visualize a lme4 model. As long as lme4 accepts sum contrasts, I don't think flexplot will have any problems.

2. Maybe. I'm hesitant because people tend to over-interpret p-values. On t

[2020-05-05 15:02] Bobby87a opened #732 "Black window, freeze, and eventually whole system crash"
* JASP version: 0.12.2

* OS name and version: Ubuntu 20.04
* Analysis:
* Bug description: after launching the app, jasp window appears with no content, black. Whole system freezes/crashes
* Expected behaviour: normal launch

#### Steps to reproduce:
1. install above mentioned version of JASP on Ubuntu 20.04 via flatpak
2. launch JASP, either via terminal or application overview (SUPER + a)
3. wat

[2020-05-05 21:25] jlwoodard opened #733 "JASP has difficulty handling extended missing value codes in Stata"
* JASP version: 0.12.2
 MacOS
* OS name and version: Version 10.15.4, Catalina
* Analysis: Loading a data file created by Stata into JASP
* Bug description: If the data file contains extended missing value codes (such as .a, .m, .p, etc., that reflect not only that the data are missing but why the data are missing), the extended missing values seem to be interpreted as actual data values. There is

[2020-05-05 23:12] srkesler commented on #206
Am having my students in my graduate stats courses use JASP but have to teach them KM and Cox PH in another software....hopefully this is added soon, thanks!

[2020-05-05 23:41] DocGavin commented on #160
Totally would like IRT in JASP. i agree mirt package is the way to go @vankesteren

[2020-05-06 07:08] vandenman commented on #702
1. If you change the `Edge palette` the figure will change accordingly. Here an example with `Edge palette` "Classic":
![image](https://user-images.githubusercontent.com/21319932/81146389-77624d80-8f78-11ea-8e50-5dfd3e23426f.png)

2. By adjusting the value of `Min edge strength` it's possible to exclude edges below a certain threshold. By adjusting `Cut` a shading can be imposed. The same figure w

[2020-05-06 07:26] boutinb commented on #733
@jlwoodard If you click on the column header in the Data panel of JASP, then you can see the values and labels read from the file. You can see for example for var3, that 0 corresponds to label 'none', as long as values 1, 2 or even 110 and 114.
If in JASP, you add the missing values (in Preferences/Data) 0, 110 and 114, you will see that these values will automatically be removed form the Data pan

[2020-05-06 07:39] vankesteren commented on #678
Hi @hynekcigler,

thanks for the suggestion, I just checked and you are completely correct! I will change the default to reporting the model matrix, and provide an option for obtaining the factor score correlations.

Erik-Jan

[2020-05-06 07:50] hynekcigler commented on #678
Great, thank you! If you are going to make some changes in the EFA analysis, I would suggest also to provide residual correlation matrix (which is necessary to investigate model fit). But the change in factor correlation reporting is essential!

[2020-05-06 07:55] vankesteren commented on #678
This change has just been made.
![image](https://user-images.githubusercontent.com/11596858/81149770-2144d880-8f7f-11ea-9c13-ce7ac360ba6b.png)

Would you say the residual correlation matrix belongs under "assumption checks" as FA assumes uncorrelated observed variables conditional on the factors?

[2020-05-06 08:14] hynekcigler commented on #678
This looks great! :) Yes, this is one option; another is to include it directly in Tables. Both make sense.

[2020-05-06 08:19] vankesteren commented on #678
![image](https://user-images.githubusercontent.com/11596858/81153172-f2306600-8f82-11ea-85d0-c4ec22c663c9.png)

alright, added it to the tables. Expect this in one of the next versions of JASP!

[2020-05-06 08:32] #79 closed

[2020-05-06 08:35] vankesteren commented on #127
@vandenman do you know something about this? I don't think I am the right person for this issue

[2020-05-06 08:35] vankesteren commented on #265
We will think about this in the next implementation of the SEM analysis!

[2020-05-06 08:37] vankesteren commented on #354
Update: I see that cSEM is now on CRAN, I should check if it has all the features we would want!

[2020-05-06 08:39] vankesteren commented on #440
I will look into this in the next iteration of the SEM analysis!

[2020-05-06 08:40] vankesteren commented on #442
I will look into making multigroup analyses in SEM more intuitive in the next iteration of the analysis!

[2020-05-06 08:41] vankesteren commented on #462
This has been fixed, should be in one of the next releases of JASP!

[2020-05-06 08:41] #462 closed

[2020-05-06 08:41] hynekcigler commented on #678
Awesome! :)

[2020-05-06 09:54] JorisGoosen commented on #732
@Bobby87a what kind of videocard/GPU do you have in your system?
And did you update to the newest flatpak through https://launchpad.net/~alexlarsson/+archive/ubuntu/flatpak ?

[2020-05-06 09:58] JorisGoosen commented on #733
@jlwoodard thank you for creating and including the stata datafile. Right now I don't have access to stata itself, although I might buy it to debug this. But for now you could help me out perhaps?
This can be done by describing the missing values so that I can debug the loading of them in JASP.

[2020-05-06 09:58] vankesteren commented on #716
Thank you for the feature request! We will look into this in the next iteration of the SEM analysis

[2020-05-06 10:02] HeikoBreitsohl commented on #541
Hi!
I get the same error message as in the first screenshot by MTom68 whenever I check the "Include mean structure" option under the Model Options menu. This happens regardless of which factor scaling method is selected.

[2020-05-06 11:44] FloSchuberth commented on #354
@vankesteren What kind of features are you looking for? Perhaps I can help :)

[2020-05-06 12:48] vandenman commented on #127
I'm closing this because I think it's outdated but please reopen if I'm wrong. The robustness check plot is now available through JASPgraphs.

[2020-05-06 12:48] #127 closed

[2020-05-06 13:02] acescos commented on #440
That's great! I hope to see the enhancement of the software soon!

[2020-05-06 14:24] jlwoodard commented on #733
@boutinb Thanks so much for your suggestion! I actually started doing what you suggested earlier, but it occurred to me that values like 0 (none) was a valid data value, so I didn't want to exclude it. I think for that particular value, I would need to convert the 0 (none) to a true integer rather than a value label from within Stata. The other two (110 and 114) would definitely be missing in this

[2020-05-06 14:26] BiomechFlo opened #734 "RM ANOVA effect size symbols"
Hi!

* JASP version: 0.12.2
* OS name and version: WIN 10 Enterprise

* Bug description: Symbols for "estimates of effect size" in RM ANOVA look all the same. However in the result section the symbols are represeted in the right way. Please see the attached png File.

Best Flo

![RM Anova symbols effect size](https://user-images.githubusercontent.com/54370593/81188620-d4302900-8fb5-11ea-8dd4-cabe6

[2020-05-06 14:29] vankesteren commented on #354
Hey, thanks for the offer! I expect cSEM to already have all the features we need, I will check this with the new update of the SEM module soon. I will contact you should I need any help 👍

[2020-05-06 14:33] AlexanderLyNL commented on #734
@boutinb could this be another Qt 5.14 vs 5.12 encoding problem? Do we have a testable nightly?

[2020-05-06 14:44] jlwoodard commented on #733
@JorisGoosen Thank you so much for trying to debug this problem. Stata may have a free trial that may let you access the program if needed for debugging, but I'll certainly help as much as possible. I've attached a missing value analysis from this particular small dataset, and within Stata, the extended missing value codes appear to be .i, .m, .n, .r, and .s.  In other data sets, the extended miss

[2020-05-06 15:06] andremonezi commented on #702
Great!!!!!!!!!!!!!!!!!!!

[2020-05-06 15:16] FloSchuberth commented on #354
Hey Erik-Jan, you are welcome. It is a pretty cool idea to include PLS in JASP. I already received some requests whether this will be soon possible. So I am happy to hear that you take care of that ;) I agree that most of the commonly emloyed tests and metrics are provided by cSEM. In fact we cover all the features of the commercial software packages like SmartPLS and ADANCO and most of the featur

[2020-05-06 15:23] FloSchuberth commented on #354
I also saw that you write guidelines paper for certain statistical techniques using JASP, perhaps this also provides an opportunity to cooperate once it is implemented in JASP. If you are interested in sth like that, please let me know as well :)

[2020-05-06 15:37] JorisGoosen commented on #733
Well, Im hoping I can get it with some education discount, maybe the price isn't so bad then.
I already noticed it was next to impossible to debug problems in loading SPSS files. Im guessing the same goes for Stata (and SAS...).

I'll have a look soon and thanks for all the info!

[2020-05-06 20:07] andremonezi commented on #702
Another matter...
Note that when I use the "manual colors" the colors are the same, but should change according to the palette chosen (rainbow, colorblind, pastel, etc).

It would be more interesting if the colors manual could display the colors from the respective palette!!

![EX1](https://user-images.githubusercontent.com/64216719/81223140-e4e39d80-8fbb-11ea-9665-84816ddec378.png)

![EX2](https:

[2020-05-07 02:03] jdebeer2005 commented on #15
I hope this request is for categorical independent variables in the regression module.  I vote it moves up on the list.  I could use it today.

[2020-05-07 03:59] jdebeer2005 commented on #41
I have same issue -contingency table.

[cont table.docx](https://github.com/jasp-stats/jasp-issues/files/4590622/cont.table.docx)

[2020-05-07 06:28] boutinb commented on #734
It looks for me more a fonts issue. But it's worth trying it.
@BiomechFlo: I cannot reproduce your problem on my PC. But maybe this version http://static.jasp-stats.org/Nightlies/Windows/JASP-nightly-stable-142def8358c26741740d95b57c5f46dd848c066b.msi may solve it. Could you try it? This is not an official version (not fully tested), but it contains a fix that may solve your problem.
Thank you.

[2020-05-07 06:35] FransMeerhoff commented on #726
Hi @JoKeyser

I think this is indeed a very good suggestion!
Speaking for myself, I do not have  experience with Weblate at the moment.
But at first glance, it looks very promising for translators and us to use.
It has GiHub integration, workflow automation and could indeed be a time a saving and facilitating tool for developers/translators.
Moreover it is open source and has the possibility to ho

[2020-05-07 07:40] JorisGoosen commented on #41
@jdebeer2005 could you perhaps make a new issue for your problem? It would be good to link to this issue in there.

That way we can keep better track of what issues we found when.

[2020-05-07 08:42] EJWagenmakers commented on #727
I'm seeing some other options we could add to the contingency table. So it's worth an upgrade. About the standardized residuals, this document describes a series of options with some really nice plots as well: http://www.sthda.com/english/wiki/chi-square-test-of-independence-in-r

[2020-05-07 08:57] TimKDJ commented on #726
I was going to post something similar when I ran across [crowdin](https://crowdin.com/). It seems to be a pretty popular tool for this type of thing. Example of a software project that utilizes it: [Bitwarden](https://crowdin.com/project/bitwarden-desktop).

@FransMeerhoff we should have a look at a few of these tools to see what catches our fancy.

[2020-05-07 09:30] FransMeerhoff commented on #726
@TimKDJ  Agree

[2020-05-07 09:33] BiomechFlo commented on #734
@boutinb  the nightly works as expected. The symbols are back.
![Nightly symbols effect size](https://user-images.githubusercontent.com/54370593/81278833-84ee0500-9056-11ea-9c88-8f89fe2e7c44.PNG)

[2020-05-07 15:37] jdebeer2005 opened #735 "JASP not sorting alpha numerics properly"
* JASP version: 0.12 thee newest

* OS name and version: Win 10
* Analysis: JASP not sorting alpha numerics properly
* Bug description:  Contingency table - had a set of labels - did not sort in order-  Changed them, in HAJSP and then in the scsv file.  did not fix
* Expected behaviour:  I expect alpha numerics to sort properly

#### Steps to reproduce:
1. Go to '...'
[sortin problem JASP .zip](ht

[2020-05-07 15:56] MKoenders commented on #710
Hi Boutinb,
I have downloaded the latest version but I still get this error: Number of factor levels is < 2 in VA_negativeRT, VA_positiveRT.

[2020-05-07 16:20] bont007 commented on #681
Hello,

same problem here with Jasp 0.12.2, both 32 and 64bit on Win10, both pre-installed and msi versions. dwi file attached. Jasp 0.11. works fine. Thanks.

Thomas

[Jasp12dwi.zip](https://github.com/jasp-stats/jasp-issues/files/4594254/Jasp12dwi.zip)

[2020-05-07 17:58] JorisGoosen commented on #681
Thank you for uploading the dwi, Ill have look soon!

[2020-05-08 03:29] jdebeer2005 commented on #735
Further to issue.  A work around is to reanme the csv file to something new.  Sort the labels, Alpha Numerically as you like them, Klugly at best, and then rerun the cont table.  sorts the way you want them to.  The issue was trying to create alpha numerics in JASP, but JASP sorted the data and labels the way it had originally read it in from the first file.

What did this teach me, as a teaching

[2020-05-08 07:14] boutinb commented on #710
@JohnnyDoorn Can you have a look?

[2020-05-08 08:12] JohnnyDoorn commented on #710
Hi @MKoenders,

From the error message I see that you were trying to run the MANOVA analysis, while your question implies that you would like to run a Repeated Measures (RM) ANOVA, where you want to compare VA_positive to VA_negative, within the individual. Or are these two conditions (positive/negative) compared between individuals? There seems to be a lot of missing cells in your data, with diff

[2020-05-08 08:30] MKoenders commented on #710
Hi Johnny,

Thank you for your answer. So I see what you mean, sort of. I struggle a lot with statistics so I appreciate your help very much!

I have a new file where I have deleted all the irrelevant information. So I want to compare VA_positive to VA_negative within the individual, but also between the conditions. The condition 1 is the order VA_positive and then VA_negative and condition 2 is t

[2020-05-08 09:50] JohnnyDoorn commented on #710
Hi Mira,

To see if Age and Technology are influences, you can add these either as between subjects factors (if they are nominal) or covariates (if they are continuous) in the RM ANOVA.
Unfortunately just having the ID numbers in your data set is not enough for JASP to piece together how it is structured, so you would need the observations of your repeated measure (VA reaction time), the additiona

[2020-05-08 12:43] MKoenders commented on #710
This helps a lot, thanks! I'll make sure everything is in the same row for each participant.

Is it an option to select several reaction times and merge those cells (e.g. separate the numbers by comma)? Will JASP be able to calculate the average from that? Or do I have to calculate the average for each person and then fill that in in the right row?

I ask this because VA_negativeRT is made from se

[2020-05-08 14:21] JohnnyDoorn commented on #710
By default, in the RM ANOVA, JASP will see each row as belonging to a new individual. So if there are no other distinguishing features between those observations (for instance a different condition, or if you want to take time into account), one approach is to take the averages like you suggest. To do this, I would recommend Excel or Libreoffice for manipulation, as this is not something that is p

[2020-05-08 14:58] jes1984 opened #736 "JASP crashed"
* JASP version: 0.12.2
* OS name and version: Windows 10 Version 1903

* Analysis:
* Bug description:
* Expected behaviour:

#### Steps to reproduce:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

-----------------------------------------------------------------------

### Debug information:
**Engine # 0** process *crashed* and it's state is *resuming*.
**Engine # 1** pro

[2020-05-08 22:19] HeatherUrry opened #737 "bug on Bayesian Repeated Measures ANOVA"
* JASP version: 0.12.2
* OS name and version: Windows 10 Enterprise
* Analysis: Bayesian Repeated Measures ANOVA
* Bug description: When I enter three columns as levels for a repeated measures factor, I get the following:

![image](https://user-images.githubusercontent.com/30731182/81453608-02e60500-9158-11ea-822d-eeb4391ec2f4.png)

* Expected behaviour: I expected it to run a Bayesian Repeated Me

[2020-05-10 07:54] vandenman commented on #735
Thanks for the issue! JASP does not sort the alpha numerics but instead, it uses the order of the ordinal variable.

In the data view, click on the name of a variable:
![image](https://user-images.githubusercontent.com/21319932/81493786-9c6dfd80-92a3-11ea-8f48-6aefde2f195c.png)

Next, a window opens:
![image](https://user-images.githubusercontent.com/21319932/81493797-b3aceb00-92a3-11ea-8125-149de

[2020-05-10 15:11] jdebeer2005 commented on #735
Thank you sir, that does indeed solve my problem.  Far easier than the 6-hr work around I engaged in.

Thanks so much

All is well.

JDB

[2020-05-10 17:43] idhussain commented on #342
@JohnnyDoorn
Please include this. It saves time; one can better understand ranking of means. Please see below two presentations (as displayed above) and decide which one is easy to understand:

1. https://user-images.githubusercontent.com/49509367/60804586-27f79900-a17e-11e9-8e75-0ea08f376d7a.png
2. https://user-images.githubusercontent.com/49509367/60804687-55444700-a17e-11e9-81fa-796af32e2e41.pn

[2020-05-10 19:21] EJWagenmakers commented on #342
I am not sure #2 is easy to understand. I had to reread the explanation above. I do agree with you that some more structure would be nice -- for instance, I like Johnny's checkbox, but maybe more could be done. I particularly like the idea of creating some sort of figure to show this information. For instance, a matrix-style plot would be nice, with p-values on the panels above the diagonal and th

[2020-05-11 05:16] idhussain commented on #342
I have two points to discuss.

1. It is a lot easier to understand #2 (https://user-images.githubusercontent.com/49509367/60804687-55444700-a17e-11e9-81fa-796af32e2e41.png). Let me explain why.
Consider the 7 treatments in the example are 7 different fertilizers that are being compared for crop yield (the response means). What fertilizer(s) can we suggest based on statistical comparison? By lookin

[2020-05-11 05:36] CJAB93 commented on #342
"Coincidentally" I am also active in the field of plant science. In plant science this way of summarizing the results of statistic tests is extremely prevalent (by which I mean almost omnipresent). _So_ prevalent that I took it for granted that every scientist is familiar with this way of reporting statistic differences. A few months back I was already quite surprised that I had to explain it to J

[2020-05-11 07:34] boutinb commented on #736
Hi @jes1984 Could you be a bit more descriptive? Do you have a 32 or 64 bit Windows version? Does it crash when you just start JASP or it during the loading of file, or during the running of an analysis? Did you try an older version of JASP?

[2020-05-11 11:02] JorisGoosen commented on #736
And, have you ever installed a dynamic module?

[2020-05-11 11:58] JohnnyDoorn commented on #342
Hi @CJAB93 and @idhussain ,

Back at the time, I already wrote some code to do this, so I will take a look at it again and see if this can be in the next major release!

Cheers,
Johnny

[2020-05-11 16:19] idhussain commented on #342
Hi @JohnnyDoorn
Thank you for this.
The letters are based on "critical mean difference for comparison" (StatistiX calculate it). In example # 2 (https://user-images.githubusercontent.com/49509367/60804687-55444700-a17e-11e9-81fa-796af32e2e41.png), the critical mean difference for comparison seems to be around 5.5 (although, exact would be calculated by Tukey's HSD test). If the difference between

[2020-05-12 07:20] #735 closed

[2020-05-12 07:22] bont007 commented on #681
Added: 0.12.2 works fine on a different machine of mine with the same setting. So is the problem caused by inadvertedly deleting dll's during routine cleanup?

[2020-05-12 07:28] #729 closed

[2020-05-12 09:19] JorisGoosen commented on #681
@bont007 it could be that but it could also be that you installed some other piece of software on the second system. And that also installed some dependency that we are missing but need.
I didn't have the time yet to look at your log but will do so before the next release.

The fact the older version of JASP works is a bit suspicious though.

Maybe you could also upload a `dwi` from the system whe

[2020-05-12 11:54] DrMarkGS opened #738 "Bayesian multinomial gui compressed"
JASP v0.12.2 April 30th 2020
Windows 10

When running the Bayesian Multinomial analysis with the expected proportions option the window for the labels and values is too compressed and difficult to read.  It is the same in the frequentist option as well

![image](https://user-images.githubusercontent.com/39003008/81684698-18587900-944f-11ea-8c88-a7aae4324aed.png)

Mark

[2020-05-12 11:55] DrMarkGS commented on #738
This is how it used to look
![image](https://user-images.githubusercontent.com/39003008/81685166-c6642300-944f-11ea-9ed5-e5dda84e1921.png)

[2020-05-12 14:56] Jiashun97 opened #739 "SEM"
I have 2 questions:

1. I was wondering why can’t I just copy a certain value of the output;
2 the structural equation model (SEM) feature depends on Lavan package, it seems that the support for latent classification/profile analysis (LCA, LPA) is not very good  Will there be corresponding improvements?

have a nice day,

Zheng Hui
Shanghai Key Laboratory of Psychotic Disorders, Shanghai Mental He

[2020-05-12 15:34] PeterKlaren opened #740 "Multinomial test - calculation chi squared differs with variable's levels' label/name"
* JASP version: 0.12.2
 Windows10
* OS name and version:
* Analysis: Multinomial (chi squared GOF)
* Bug description: Analysing observed and expected counts of blood types (A+, A-, B+, etc.) The calculation of chi squared differs with how I label the bloodtypes (by number: 1, 2, ..., 8; by abbreviation: A+, A-, ..., O-; by name: Apos, Aneg, ..., Oneg). As is apparent from the Descriptives table, c

[2020-05-13 10:12] Kucharssim commented on #740
Hello @PeterKlaren,

thank you for this report and reproducible example!

The counts get mixed up because the levels in variables `Nr`, `BG`, and `Blood type` are ordered differently. If you click on the variable name and order the levels correctly, it will return the correct result. Binding the results to the order of the levels is indeed undesired behavior and needs to be fixed.

[2020-05-13 13:21] #512 closed

[2020-05-13 16:02] jdebeer2005 opened #741 "JASP stopped working while excluding data using click marks"
* JASP version: 0.12.2.0

* OS name and version: win 10
* Analysis:  Trying to filter database in the are where one clicks the check marks on left
* Bug description:  I can click tow checkmarks, but when I click the third JASP stops working
* Expected behaviour:  I expect to be able to click and exclude data at will
[Eurofish combo - YF & SJ May 12.zip](https://github.com/jasp-stats/jasp-issues/fi

[2020-05-13 17:22] JorisGoosen commented on #741
Aah yeah, that is unfortunate. I just tried this out and JASPt does indeed stop working on clicking the third checkmark...
I will check it out and fix it!

[2020-05-13 17:24] AlexanderLyNL commented on #741
Also occurs on 0.12.1 on mac. It appears that the engine continues running after the third check mark. Hopefully that provides you with some extra information.

[2020-05-13 22:21] jdebeer2005 commented on #741
Now the darn thing will not clear the click marks and return to normal.

[Eurofish combined -SJ - May 11 - editied .zip](https://github.com/jasp-stats/jasp-issues/files/4625018/Eurofish.combined.-SJ.-.May.11.-.editied.zip)

[2020-05-14 00:42] jdebeer2005 commented on #741
JASP team, this is a very unfortunate bug.  If you create clicks to eliminate observations and then cannot clear them to the original recipe you lose your whole analysis set on the original data.  This is costing me a bunch of time, and creating errors in my reports being planned for publication.  Please fix.

JDB

[2020-05-14 08:59] JorisGoosen commented on #741
@jdebeer2005 don't worry, we are working on it and it will be fixed in the next release!
Don't let the lack of activity here lure you into the thought that we have forgotten about it, we also need to fix other things.

For now I do have a workaround for you, although it does make the process less nice. But well, at least you can do your analyses this way.

If you load your data, first you set the

[2020-05-14 09:00] JorisGoosen commented on #741
In fact just removing the ANOVA should fix the file you already sent.

[2020-05-14 09:00] JorisGoosen commented on #741
And this is the same problem I guess? As in, it hangs when you change the checkmark?

[2020-05-14 09:25] JorisGoosen commented on #741
Hmm, it seems our current development version already works.

Maybe @jdebeer2005 and @AlexanderLyNL can test it with http://static.jasp-stats.org/Nightlies/MacOS/JASP-nightly-stable-350200722463bcd8c935d71c819007d49b2a7319.dmg ?

[2020-05-14 09:29] JorisGoosen commented on #741
Maybe @jdebeer2005 can test http://static.jasp-stats.org/Nightlies/Windows/JASP-nightly-stable-350200722463bcd8c935d71c819007d49b2a7319.msi

And @AlexanderLyNL can test it with http://static.jasp-stats.org/Nightlies/MacOS/JASP-nightly-stable-350200722463bcd8c935d71c819007d49b2a7319.dmg ?

[2020-05-14 12:45] vandenman commented on #737
Thanks for the bug report!

It looks like something goes wrong internally with the encoding of the word `subject`. If you change the name of the variable `subject` to anything else, e.g., `subject2` the analysis should continue as intended. That should be a workaround for now, we hope to have this fixed in the next version!

[2020-05-14 13:05] HeatherUrry commented on #737
Thank you, Don! I wish I had thought of that simple renaming trick;
brilliant.

On Thu, May 14, 2020 at 8:45 AM Don van den Bergh <notifications@github.com>
wrote:

--
Heather L. Urry, Ph.D.
Department of Psychology
Tufts University
490 Boston Avenue
Medford, MA 02155

pronouns: she/her/hers

email: heather.urry@tufts.edu
phone:  617-627-3733
fax: 617-627-3181

http://ase.tufts.edu/psychology/ebbl

[2020-05-14 14:10] Mariag13 opened #742 "Error en ANOVA"
Versiòn JASP: 0.12.2
Sistema operativo: Windows 10
Error: Cuando ingreso los datos me aparece un letrero de error
![jasp pro](https://user-images.githubusercontent.com/65351996/81944689-b882df00-95c2-11ea-8e91-2b41b34c8ef9.PNG)

[2020-05-14 14:19] boutinb commented on #742
Dear @Mariag13,
Could you give your dataset? And please next time, could you ask your question in english? I could understand this time your question, but our Spanish is quite poor.

[2020-05-14 14:24] EJWagenmakers commented on #742
Querida Maria,

No hablamos español, pero podemos operar el traductor de Google. Entonces, si crees que tu inglés no es lo suficientemente bueno, también puedes usar el traductor de Google, ¡y lo resolveremos! :-)

E.J.

[2020-05-14 15:13] jdebeer2005 commented on #741
I got a whole bunch of errors installing this, missing some 4 dlls.  Sorry, I did not log them,

From: Joris Goosen <notifications@github.com>
Sent: Thursday, May 14, 2020 2:29 AM
To: jasp-stats/jasp-issues <jasp-issues@noreply.github.com>
Cc: jdebeer2005 <jdebeer2005@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [jasp-stats/jasp-issues] JASP stopped working while excluding data us

[2020-05-14 15:28] jdebeer2005 commented on #741
Very sorry gentlemen, closing ANOVA did NOT clear the click marks.  As you see I tried a newer version, and that would not work after installation.   i am still at the same level I was yesterday.  Thanks for all your efforts.  i can wait.
JDB

[2020-05-14 15:30] AlexanderLyNL commented on #741
I tested the new nightly, but the problem is still there for me.

[2020-05-14 16:12] jssallee opened #743 "Can't change column type"
* JASP version: 0.9.2.0

I am trying to change numerous columns from nominal to scale and although I click on the correct type, JASP does not change this.
columns that need to be changed to scale are: 1Years in LE; 1% Positive for Youth; 1Years in LE; 2KnowledgeMean; and 2SelfMean

[Final Survey Data-Coded.xlsx](https://github.com/jasp-stats/jasp-issues/files/4629565/Final.Survey.Data-Coded.xlsx)

[2020-05-14 16:15] EJWagenmakers commented on #743
This means that at least one cell contains text.

[2020-05-14 21:02] EJWagenmakers opened #744 "Conditional decision trees in machine learning"
From the forum:
"I loved jasp machine learning... One of the coolest tools in statistics and machine learning is conditional decision trees. It would be nice to see this on jasp, using k-fold cross validation."
@koenderks @vandenman

[2020-05-15 03:02] jdebeer2005 opened #745 "FlexPlot issue"
* JASP version: 0.12.2.0
 Windows
* OS name and version: W-10
* Analysis: Analysis terminated unexpectedly
* Bug description: Analysis terminated unexpectedly
* Expected behaviour: Expected to run a simple flexplot

#### Steps to reproduce:
1. Go to '...' Flexpot
2. Click on '....'  Dep Var -Precooker loss, independent var - precooker
3. Scroll down to '....'
4. See error
Received an error msg.  I

[2020-05-15 03:10] jdebeer2005 commented on #745
Folks, i am thinking this is a scale problem.  As in too many observations.
I just ran Linear Modeling on the same data set and think I can up with the same error code
[2020-05-14 - Linear Modeling Error.zip](https://github.com/jasp-stats/jasp-issues/files/4632042/2020-05-14.-.Linear.Modeling.Error.zip)

[2020-05-15 03:16] jdebeer2005 commented on #745
Just ran it against General Linear Modeling, same darn error, I think.
[GLM.zip](https://github.com/jasp-stats/jasp-issues/files/4632049/GLM.zip)

Hey, I cannot sent the JASP file, bloated, but am sending the csv file.

[Eurofish combined -SJ - May 14 - edited - removed outliers.zip](https://github.com/jasp-stats/jasp-issues/files/4632054/Eurofish.combined.-SJ.-.May.14.-.edited.-.removed.outliers.

[2020-05-15 15:55] jdebeer2005 commented on #742
I had same situation.  Run a contingency table.  Do you see any zeros (0) in the table.  Fis it so no zeros, and try again.

Good Luck.

JDB

[2020-05-16 03:45] jdebeer2005 commented on #741
Today I was changing the name value of a label from V to VPC-J.  I had to resort to changing a label value and saving the data set, and after 2 saves it simply closed the data set, and my label might or might not have been saved.  One by One, through 3 data sets.  Lots of saving and re-opening.  these are pretty big data set to me, 7,000 obs, 17,000 obs, and 22,000 obs.  I thinkit got tired of rec

[2020-05-16 08:38] Johno64 opened #746 "SEM: "<~" and "<-" operators do not operate?"
* JASP version: 0.12.2
 * OS name and version: WINDOWS 10 Pro
* Analysis: SEM Multigroup analysis
* Bug description:

Operators "<~" and "<-" do not seem to work

1) If I use "<~"
[example: AttVega <~ INATTVEGA + EXATVEGA]
I get the error message
"Variable(s) in model syntax not recognized: Attvega"
If I just change "<~" to "=~" it does work

2) If I want to compute a model
[example: VEGA.model <-

[2020-05-16 10:37] nirotem opened #747 "K-fold for random forest classification"
Hello,

I am very new to JASP (just learned about it yesterday) and the first impression is great. I am used to STATA and with the help of a friend was running some random forest classification models on Python.  The fact that JASP offers a simple way to run machine learning models is supper helpful for folks like me.

I noted that there is a k-fold cross validation option for K-nearest models but

[2020-05-17 12:37] tickey7 commented on #442
Hi Erik-Jan,

Thank you so much. I look forward to seeing the function.
I would be grateful if you can add the function of comparing latent means
for measurement invariance.

Erik-Jan van Kesteren <notifications@github.com> 於 2020年5月6日 週三 下午4:40寫道：

--
Thank you.

Regards,
Chee-Seng Tan

[2020-05-17 13:34] jlhartnett opened #748 "Error message in RM ANOVA "not enough 'x' observations""
* JASP version: 0.12.0.0
 Windows
* OS name and version:
* Analysis:
* Bug description:* I tried to run a repeated measure ANOVA. When I started to use the post-hoc menu, the attached error occurred.
* Expected behaviour: I ran a RM ANOVA + post-hocs on this data in the previous version of JASP and did not encounter this problem.
<img width="959" alt="JASP error RM ANOVA" src="https://user-images.

[2020-05-17 13:49] jlhartnett commented on #748
Hi! The error isn't happening now. Never mind.

[2020-05-17 13:55] jlhartnett opened #749 "Descriptive statistics in RM ANOVA: They are not displayed in the order I entered them in"
* JASP version: 0.12.0.0
 Windows
* OS name and version:
* Analysis:
* Bug description: I specified my Repeated Measure Cells while conducting a RM ANOVA. My descriptive statistics display the variables in the opposite order than how they were entered. They are the opposite of the order in which they were entered.
<img width="678" alt="JASP table order" src="https://user-images.githubusercontent.c

[2020-05-17 15:12] SMatthewPate opened #750 "[Feature Request]: 3D t-SNE Plots, Matthews Correl, PLUM Regression"
* Enhancement: **3D t-SNE Plots** (preferably with rotation)
* Purpose: Identify structures that aren't readily apparent in 2D plots
* Use-case: Cluster analysis

 Enhancement: **Matthews Correlation Coefficient and/or Cohen's CC**
* Purpose: Provides a better metric for evaluation of a confusion matrix
* Use-case: Evaluation of boosting models

 Enhancement: **PLUM Regression**
* Purpose: Ability

[2020-05-17 18:29] nirotem commented on #750
I second the Matthews Correlation Coefficient request, fits well with my own feature request https://github.com/jasp-stats/jasp-issues/issues/747

[2020-05-18 02:45] YabHu opened #751 "Network analysis: SPELLING MISTAKE"
JASP-Network-Bootstrap Options-Bootstrap Type-Nonperamet*ic

[2020-05-18 07:22] boutinb commented on #748
Do you have an idea why the error disappears?

[2020-05-18 07:22] #748 closed

[2020-05-18 07:27] boutinb commented on #750
@EJWagenmakers What do you think? Is it something for Jiashun?

[2020-05-18 07:29] vankesteren commented on #746
Hi John,

I don't believe that either `<-` or `<~` are proper `lavaan` syntax? Please  I assume you want to create composite variables? We do not yet support these. We might support these once #354 is implemented.

Erik-Jan

[2020-05-18 07:59] Johno64 commented on #746
Hi Erik-Jan,

I saw the <~ operator in a video by Erin Buchanan (Statistics of Doom), but
I couldn't find it anywhere else, so this may indeed not be in use.
The <- however is necessary I believe to compute a model, see the example
on Lavaan page http://lavaan.ugent.be/tutorial/groups.html

HS.model <- '  visual =~ x1 + x2 + x3
              textual =~ x4 + x5 + x6
              speed   =~ x7 + x8

[2020-05-18 09:27] JorisGoosen commented on #741
Well, my workaround probably works well here as well. Just modify your data without the ANOVA and then it shouldn't give so much grief.

[2020-05-18 14:38] jdebeer2005 commented on #741
thanks, and yes, that is what had to be done.
All is well now.

JDB

[2020-05-18 17:04] JorisGoosen commented on #741
Hmm, it seems ANOVA just gets stuck completely whenever I change even one checkmark...
@JohnnyDoorn could you take a look on Win10?
Maybe it is also broken on linux, so you could try that first if you'd like.

[2020-05-18 17:07] Glitchy-Tozier commented on #44
I think this feature would be a big step in differentiating JASP from other software, like SPSS.

Also having power analysis present would really help Linux users that don't want to learn R or mess around with WINE or virtual machines just to do power analysis. (Which would make Jasp especially attractive for them)

[2020-05-18 17:21] JorisGoosen commented on #741
And you can try this out easily by loading the attached dataset and simply unchecking (for instance) "1V" in column "Precooker".

ANOVA seems to take an awfully long time to calculate the needed results anyway, even if just refreshing. Could this be because +- 22000 rows is a lot for this kind of analysis?
Or is there some kind of problem on Windows with the ANOVA?

And if it is reasonable for it

[2020-05-18 19:32] jdebeer2005 commented on #741
This morning I was changing labels, and sving each time, “trying different values for dummy variable” and the dataset suddenly closed, and then would not reopen.  Something a but a “data-bin” not found.

From: Joris Goosen <notifications@github.com>
Sent: Monday, May 18, 2020 10:22 AM
To: jasp-stats/jasp-issues <jasp-issues@noreply.github.com>
Cc: jdebeer2005 <jdebeer2005@gmail.com>; Mention <ment

[2020-05-18 20:04] TarandeepKang opened #752 "Confidence intervals for Spearman and tau"
* Enhancement: Confidence intervals for Spearman and tau
* Purpose: enable the calculation of confidence intervals for these correlation procedures.
* Use-case: in situations with non-parametric data, it is not currently possible to computer confidence intervals in this software, but data often violate the assumptions parametric tests, and therefore nonparametric alternatives are required.  Confid

[2020-05-18 20:52] JorisGoosen commented on #741
Well, the saving process **can** take a few seconds to complete and by your description it sounds like JASP crashed while you were saving it. The "data.bin" it cannot find is one of the entries in a jasp-file and it seems JASP crashed while trying to write that. Although not necessarily because of it.

I am really sorry to hear you are having all these problems with JASP...

[2020-05-18 20:54] JorisGoosen commented on #741
I will also see if we can add this feature per analysis because it seems rather useful to have, especially with larger datasets like the one you are using.

[2020-05-18 20:59] jdebeer2005 commented on #741
Sir, I am learning JASP real well.  You guys are doing a great job responding.

Thanks for all your help, and your commitment to freeware.  This is great.

JDB

From: Joris Goosen <notifications@github.com>
Sent: Monday, May 18, 2020 1:52 PM
To: jasp-stats/jasp-issues <jasp-issues@noreply.github.com>
Cc: jdebeer2005 <jdebeer2005@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [jasp-s

[2020-05-18 23:48] EJWagenmakers commented on #752
Good suggestion! See also https://seriousstats.wordpress.com/2020/05/18/cis-for-spearmans-rho-and-kendalls-tau/amp/?__twitter_impression=true

[2020-05-19 11:45] TarandeepKang commented on #752
These methods have now been implemented in the correlation package which is part of the easystats suite. See here: https://github.com/easystats/correlation/issues/80 This might make a JASP implementation easier?

[2020-05-19 12:25] EJWagenmakers commented on #752
Definitely. @boutinb @TimKDJ , I think this might be a good project for a student to get into the grove of things perhaps?!

[2020-05-19 12:32] JohnnyDoorn commented on #741
Yes, there is some code deeply embedded in the very basic lm() function in R (which is used by ANOVA), which does not handle big datasets very well. In the previous issue, @vandenman looked into this, but this is very hard to fix unfortunately.

[2020-05-19 13:27] JorisGoosen commented on #741
So should we maybe add some kind of warning if a dataset is too large to be handled reasonably quick? Like, what are "normal" sizes of data to expect for an ANOVA?

[2020-05-19 15:02] TimKDJ commented on #745
At present flexplot does not allow special characters in column names (basically anything that isn't a letter or a number).

In the future we will ensure all modules allow this, but for now you'll have to rename the columns to use this analysis.

[2020-05-19 15:36] jdebeer2005 commented on #745
thanks, I will test that feature.

JDB

[2020-05-19 15:49] jdebeer2005 commented on #745
I see the issue, even a space is a char to FlexPlot.  Got it

From: Tim de Jong <notifications@github.com>
Sent: Tuesday, May 19, 2020 8:03 AM
To: jasp-stats/jasp-issues <jasp-issues@noreply.github.com>
Cc: jdebeer2005 <jdebeer2005@gmail.com>; Author <author@noreply.github.com>
Subject: Re: [jasp-stats/jasp-issues] FlexPlot issue (#745)

At present flexplot does not allow special characters in col

[2020-05-20 06:16] vankesteren commented on #746
Hi John,

in JASP, we accept the `lavaan` syntax, the part between the quotation marks that defines the model:
[code]
JASP does the rest for you, provided the variable names in your dataset match those in your model. You can set a grouping variable in the options pane.

Erik-Jan

[2020-05-20 06:16] #746 closed

[2020-05-20 10:08] JohnnyDoorn commented on #752
Hi @TarandeepKang
These are already in JASP right?
See screenshot below:
![Screenshot_20200520_120709](https://user-images.githubusercontent.com/15704203/82433985-8a097600-9a92-11ea-8a56-9a5fabfb0bf5.png)

[2020-05-20 10:15] EJWagenmakers commented on #752
Johnny, I don't see this in JASP 0.12.0, and it is also not in a recent nightly. Perhaps it is on your branch?

[2020-05-20 10:19] TarandeepKang commented on #752
I am sorry if I've wasted everyone's time, but at the moment I agree with EJ, in that I can't find them.

 I was looking at the help file for this analysis and it states:

" Confidence Intervals: Confidence intervals for the population correlation (only available for the Pearson correlation)."

Perhaps you have been making additional changes on your end which are not available for us to use yet?

[2020-05-20 10:32] JohnnyDoorn commented on #752
Hahaha this is pretty weird.. because I also have it on the release version on Linux (0.12). I remember implementing this a long time ago.

[2020-05-20 10:32] EJWagenmakers commented on #752
To clarify: What I *cannot* find is the (nice) "Condition on" box for doing partial correlations, as shown in Johnny's screenshot. Ah, the fact that it is colored means it isn't yet in a release, right? So that explains it.
What I am able to do (both in 0.12.0 and a recent nightly) is tick boxes for Spearman and Kendall, then tick a box for the 95% CI, and I do get those intervals then. TarandeepK

[2020-05-20 10:33] JohnnyDoorn commented on #752
Yes that's what I meant - the pink box means it's my own debug build, that's why I double-checked with the release version.
![Screenshot from 2020-05-20 12-32-31](https://user-images.githubusercontent.com/15704203/82436456-208b6680-9a96-11ea-9c98-cadf8edeec47.png)

[2020-05-20 10:37] TarandeepKang commented on #752
Yes, I'm able to use the tick boxes to activate kindle and Spearman, and get associated CIs. Apologies for the confusion, I do think it would be worth updating the help file and explaining the methods used for the calculation of CIs?

[2020-05-20 10:39] JohnnyDoorn commented on #752
Yes, excellent suggestion! If i recall correctly, we use the z-approximation for both.

[2020-05-20 10:59] AlexanderLyNL commented on #752
The current implementation of the confidence intervals for Kendall's tau and Spearman's rho is based on a permutation method, which makes the analysis slow when n is large. The z-approximation suffices however when n is large, which will replace the exact permutation confidence intervals in the next version. @Kucharssim can you update the help file once you're done with your implementation.

To av

[2020-05-20 10:59] #752 closed

[2020-05-20 11:03] JorisGoosen commented on #752
@AlexanderLyNL wouldn't it be better to only close this issue after @JohnnyDoorn or @Kucharssim updates the helpfiles?

[2020-05-20 11:04] AlexanderLyNL commented on #752
I'll open a new issue on the help files and assign that.

[2020-05-20 11:36] JuliusWelzel opened #753 "Missing output"
* JASP version: 0.12.2

* OS name and version: Win 10 Pro 64
* Analysis: Descriptive Statistics
* Bug description: The output window stays empty, I inspected the data which seems fine.
* Expected behaviour: Table output from data

#### Steps to reproduce:
1. Go to 'Descriptive'
2. Click on 'Descriptive Statistics
[functional_190110.zip](https://github.com/jasp-stats/jasp-issues/files/4656514/funct

[2020-05-20 19:23] sarahtalib opened #754 "AVE & CR"
* Enhancement: Automatically generate AVE (Average Variance Explained) and CR (Composite Reliability)
* Purpose: To allow the auto-generation of AVE and CR without the need to switch between JASP and different software solutions.
* Use-case:

**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Addi

[2020-05-20 19:24] sarahtalib opened #755 "Moderation"
* Enhancement: Incorporate moderation analysis into JASP
* Purpose: to expand the features of JASP by including moderation analysis
* Use-case:

**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2020-05-21 08:01] Marian-Popa commented on #754
I fully support this proposal, in conjunction with my proposal (CFA / SEM - Measurement model # 671).
The general idea is to pay explicit attention to the measurement model. It would be extremely useful for it to be diagnosed not only globally (by fit indices), but also analytically (convergent and discriminant validity). To this end, it would be very useful to calculate such indicators as:
Averag

[2020-05-21 12:13] NikitaKhromov-Borisov opened #756 "Effect size; JASP vs jamovi"
* JASP version: 0.12.2

* OS name and version: Win10
* Analysis: T tests
* Bug description: Cohen's effect size based on Student (d=11.8) and Welch (d=1.8) tests differ drastically whereas jamovi reports both equal (d=11.8).
[JASP_jamovi.zip](https://github.com/jasp-stats/jasp-issues/files/4662361/JASP_jamovi.zip)

* Expected behaviour: I don't know

#### Steps to reproduce:
1. Go to '...'
2. Clic

[2020-05-21 15:13] EJWagenmakers commented on #756
@JohnnyDoorn can you take a look please?

[2020-05-22 06:58] benlee88 opened #757 "error cannot allocate vector of size 5.9Gb"
received following  error while running logistic regression

error cannot allocate vector of size 5.9Gb
stack trace

Pl advice how to resolve this pro
<img width="309" alt="Capture" src="https://user-images.githubusercontent.com/54931694/82640062-8580c100-9c3c-11ea-946d-e65af5c27ad8.PNG">
blem

[2020-05-22 08:23] JorisGoosen commented on #741
Ok, so this issue has been solved, now when clicking the marks it will work instantly. Previously it would have worked, but it might have taken quite a lot of time...
Next version should contain this fix.

[2020-05-22 08:23] #741 closed

[2020-05-22 08:41] JorisGoosen commented on #757
Is your dataset perhaps large?
(If it is something you can share it is practical to do so because then we can check things)

And maybe your computer doesn't have a lot of RAM? How much is it?

Also, the template for this issue asked which OS you are using, it would be rather useful to know which one you are using...

[2020-05-22 08:56] benlee88 commented on #757
Hi,

The dataset is only 794KB in size
Has 7043 rows
Attached file

Installed 8G Ram

Os – windows 10

Ben
From: Joris Goosen <notifications@github.com>
Sent: Friday, 22 May 2020 4:41 PM
To: jasp-stats/jasp-issues <jasp-issues@noreply.github.com>
Cc: Lee Soo Ting Benjamin <benlee@nus.edu.sg>; Author <author@noreply.github.com>
Subject: Re: [jasp-stats/jasp-issues] error cannot allocate vector of s

[2020-05-22 09:11] vandenman commented on #757
Windows 10 64 bit or 32 bit? (unfortunately, R has less memory capacity on 32 bit, no matter what hardware you have). In addition, how many predictors and interaction effects did the model contain?

[2020-05-22 10:50] JohnnyDoorn commented on #756
Hi @NikitaKhromov-Borisov

Cohen's d is the standardized mean difference between the two groups. In the case of the Student's t-test (where equal variances are assumed), this means dividing the mean difference by the pooled standard deviation.

For the Welch t-test, there is no assumption of equal variances, so instead of dividing by the pooled standard error, we divide by the averaged standard de

[2020-05-22 10:50] #756 closed

[2020-05-22 13:23] JoKeyser opened #758 "Feature request, Paired Samples T-Test: Clarify correspondence between variables and measures"
* Enhancement: The interface should state if a variable is *Measure 1* or *Measure 2*.
* Purpose: Simplify choice of *Alt. Hypothesis* for one-tailed paired t-tests, and its interpretation.

**Is your feature request related to a problem? Please describe.**
It is visually not 100% clear what variable in *Variable pairs* corresponds to *Measure 1* and *Measure 2*.

**Describe the solution you'd lik

[2020-05-22 13:49] Monsieur36 commented on #637
I'm quite surprised this isn't a bigger or at least more widely considered issue...

Currently, for example, using the Holm correction will adjust based on all possible pairwise comparisons, but in many factorial designs, not all pairs are relevant (or even legitimate) comparisons, resulting in e.g., (2)x3 mixed ANOVA: 15 post-hocs tests computed with p-values corrected based on there being 15 tes

[2020-05-22 13:51] PsyTechMMU commented on #637
I'm quite surprised this isn't a bigger or at least more widely considered issue...

Currently, for example, using the Holm correction will adjust based on all possible pairwise comparisons, but in many factorial designs, not all pairs are relevant (or even legitimate) comparisons, resulting in e.g., (2)x3 mixed ANOVA: 15 post-hocs tests computed with p-values corrected based on there being 15 tes

[2020-05-22 13:52] PsyTechMMU commented on #643
Without this, is there simply no way (in a single JASP file) to conduct pairwise tests using a grouping variable with >2 values?

[2020-05-22 14:54] AlexanderLyNL commented on #643
You can do an ANOVA, and if you planned certain comparisons, you can add contrasts. If you did not plan them, you can do post-hoc tests, and the advantage is that you can correct for multiple comparisons. However, I don't think that post-hoc tests have much inferential meaning other than being exploratory.

[2020-05-22 15:28] NikitaKhromov-Borisov commented on #756
Dear Jonny, thank you.

I feel that it would be reasonable to estimate SES (standardized effect
size) with bootstrap. Moreover, in the non-parametric case it seems better
to use known standardization of the Mann-Whitney U-statistics. See the
attachment. SES based on the rank biserial correlation is expressed in the
scale which is difficult to collate with other SES and it is not so vivid.

I am wa

[2020-05-22 15:37] JorisGoosen commented on #681
@bont007 do you think it would be possible for you to upload the `dwi` from the system where it works?

And what do you meanup with "inadvertedly deleting dll's during routine cleanup"?
Does that mean you just randomly delete dll's from your system?

[2020-05-22 15:56] PsyTechMMU commented on #643
Thanks for replying and suggesting that option, but it's really not the same thing. One of the main use-cases for this feature wouldn't even involve ANOVA e.g., just a simple independent-samples t-test between two groups (when the grouping variable includes >2 different values).

(By the way, there's no option for contrasts to be corrected for multiple comparisons, is there?)

[2020-05-22 18:24] bont007 commented on #681
Thanks. I did send you the DWI, surely may upload it again. "Inadvertedly" means that I may have removed necessary files by 1. deleting the former Jasp installation, and 2. letting Glary Utilities clean up registry, temporary files and whatever junk might have remained. No manual interference in system though. Is Jasp to be rather installed on a former version?--Diese Nachricht wurde von meinem An

[2020-05-22 18:56] Laborioso opened #759 "AUC ROC curves"
AUC ROC curves are missing in JASP. It would be great to have them. Al so survival analysis. Thanks

[2020-05-22 18:58] #759 closed

[2020-05-22 18:59] Laborioso opened #760 "I don't have the OK button on the upper right corner of the window where you drag variables to start analysis"
* JASP version:

* OS name and version:
* Analysis:
* Bug description:
* Expected behaviour:

#### Steps to reproduce:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

[2020-05-22 19:30] EJWagenmakers commented on #758
Completely agree! Who can do this, team?

[2020-05-22 20:23] Laborioso opened #761 "Unexpected closure"
* JASP version:updated april 27
MAC
* OS name and version: MAC OS Catalina 10.15.4
<img width="928" alt="Captura de Pantalla 2020-05-22 a la(s) 15 08 55" src="https://user-images.githubusercontent.com/65785653/82706610-9c74e280-9c3f-11ea-8ef9-f5c67f73f8b9.png">

* Analysis:
* Bug description:
* Expected behaviour:

#### Steps to reproduce:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'

[2020-05-22 20:53] JorisGoosen commented on #681
Aah well, I only see a single zip file here at the issue with `dwi` from your system, it seems both 32bit and 64bit versions. But I thought that was from the system where it did **not* work?

So if you could also attach one from your system where it **does** work then that would give me a good comparison, although I guess I could also just look at a log I generate here myself.

If you mean by "1.

[2020-05-23 10:17] JorisGoosen commented on #681
Hmm, it seems all of the dlls load fine on your system. I see no problems there.

So it seems it *could* start, but as the window is not opening something else seems to be going wrong.

Maybe @bont007 could help us by sending us the logfiles of an attempt to start JASP?

If you could manually start JASP from a command prompt as follows: `c:\users\thoma\desktop\jasp-0.12.2-win64\JASP.EXE --logToFil

[2020-05-23 16:01] bstumpf16 commented on #592
I've been having similar issues with periodic crashes after utilizing the filters. My data set has around 3,000 records and the filter is usually on a variable with two or three categories. I couldn't recreate it using the Telco Customer Churn data, but perhaps that's due to the number of variables? Telco Customer Churn seems to have 21 variables and my data has 252.

Running on Macbook Pro
2.5 GH

[2020-05-23 19:04] EJWagenmakers commented on #756
Hi Nikita,

Thanks for your comments -- I can deal with a few real quick. In the future, it would be best for us if we have one issue per post, otherwise it is difficult to assign these issues and keep track of them. Issues I can deal with here:
1. If you want real p-values you can set this in Preferences -> Results -> Display exact p-values.
2. I am not sure about why we have the space in the exp

[2020-05-23 20:37] JorisGoosen commented on #760
That is ok, we removed it from the current versions of JASP, you won't need it.

[2020-05-23 20:37] #760 closed

[2020-05-23 20:37] JorisGoosen commented on #761
Could you save your jasp-file and add it here?

[2020-05-24 01:56] brianmsm opened #762 "Resizing plots breaks the letters"
* JASP version: 0.12.2
* OS name and version: Pop OS 20.04 LTS
* Analysis: Resize plots
* Bug description: When a plot is resized in any analysis, the letters stop appearing and square symbols appear instead.
* Expected behaviour: Make the plot bigger

#### Steps to reproduce:
1. Go to: The error occurs in any analysis. For this example, the sample database located in the `2. T-Test` folder called

[2020-05-24 19:14] Bobuch opened #763 "Mixed Modeling (Visual Modeiling [BETA])"
I ran my analysis with mixed modeling. Data are formatted with multiple lines per subject as in a mixed model. I ran the analysis with ITEMS as a random effect and it worked fine. ITEMS are simply words, house, car and so on.

But when I ran SUBJECTS 1-116, I got the error:
------------------------------------
This analysis terminated unexpectedly.

Error in `[<-.data.frame`(`*tmp*`, , term.re, va

[2020-05-24 23:52] brianmsm commented on #762
I had a similar issue with Jamovi. This works for me:
`flatpak run --command=fc-cache org.jaspstats.JASP -f -v`

[2020-05-24 23:52] #762 closed

[2020-05-25 02:13] benlee88 commented on #757
Hi,

Only 2  covariates and 5 factors as predictors .

See below
And[cid:image001.png@01D6305F.9AD70EE0]

Error is [cid:image002.png@01D6327D.24ED4A80]

Consistently obtained

Ben
From: Don van den Bergh <notifications@github.com>
Sent: Friday, 22 May 2020 5:12 PM
To: jasp-stats/jasp-issues <jasp-issues@noreply.github.com>
Cc: Lee Soo Ting Benjamin <benlee@nus.edu.sg>; Author <author@noreply.githu

[2020-05-25 08:02] vandenman commented on #757
By default, JASP adds all possible interaction effects between factors. You could try to remove all higher-order factors and then see if the analysis works. To do that, go to `Model`, select the interaction effects in the box `Model Terms` and remove what you're not interested in (probably a lot of them). Below a screenshot of the `Model Terms` box.

![image](https://user-images.githubusercontent.

[2020-05-25 08:37] vandenman commented on #758
I'll implement this for both the Bayesian and frequentist paired samples T-Test

[2020-05-25 09:38] JorisGoosen commented on #757
And a small note  for Ben, if you attach images in an email response to a github issue it sadly enough does not add them to the issue, so we can't see them.

If you could add them directly add https://github.com/jasp-stats/jasp-issues/issues/757 that could be useful.

[2020-05-25 12:40] JorisGoosen commented on #733
@jlwoodard so I've had a look at this problem and did notice we only checked for so called "system missing values" and were indeed missing the "tagged missing values".
With some changes this is now taken into account. Some values above 22 (110, 114, 115 and 119 to be specific) are now interpreted as missing.

Because of some limitations on how we store missing values inside JASP (globally for the

[2020-05-25 12:44] JorisGoosen commented on #733
And I just heard from a colleague that the missing values *are* stored per jasp-file, so maybe I can process them without dropping them. I will add an issue for this in our private issue tracker. But at the very least your missing values will no longer be interpreted as actual values.

[2020-05-25 19:26] schloenbachia opened #764 "Tjur R^2 wrongly calculated?"
* JASP version: 0.12.2
* OS name and version: Windows 10
* Analysis: during logistic regression Tjur's R^2 is shown in the model summary
* Bug description: value seemed unrealistic, very low. I calculated with R and got a much more reasonable value
* Expected behaviour: see below

#### Steps to reproduce:
If you import the attached data into JASP and perform a logistic regression the Tjur R^2 is e

[2020-05-26 06:52] #733 closed

[2020-05-26 08:46] #730 closed

[2020-05-26 09:04] #737 closed

[2020-05-26 13:27] boutinb commented on #753
@JuliusWelzel JASP has some difficulties to read your SPSS file. Could you try to export it first in a csv format, and start JASP with this csv file?

[2020-05-26 13:28] boutinb commented on #755
@EJWagenmakers Could you answer this request?

[2020-05-26 13:29] boutinb commented on #754
@vankesteren Could you answer this request?

[2020-05-26 13:39] boutinb commented on #592
Can you send us your dataset?

[2020-05-26 13:47] JuliusWelzel commented on #753
@boutinb Yes, thanks this does work. However, the imported data looks normal to me, just the output was not working. I was wondering why this is?

[2020-05-26 13:50] boutinb commented on #753
I have to look further why our SPSS reader has some problems with your file. Maybe some column names... and JASP should warns you also better that there is a problem!

[2020-05-26 13:52] JuliusWelzel commented on #753
Perfect, thanks for the quick feedback!

[2020-05-26 13:52] #753 closed

[2020-05-26 14:09] EJWagenmakers commented on #755
Already included, see https://jasp-stats.org/2020/03/12/mediation-and-moderation-analysis-in-jasp/
E.J.

[2020-05-26 14:09] #755 closed

[2020-05-26 14:59] Kucharssim commented on #764
Dear @schloenbachia,

thank you for the report, this is indeed a bug, the Tjur R^2 for your data is indeed 0.532. This will be fixed.

[2020-05-26 16:52] schloenbachia commented on #764
Great, thanks!

[2020-05-26 17:54] jlwoodard commented on #733
Hi Joris,
   Thanks so much for getting back to me! Yes, the values in the table you sent with text in the labels are the “extended system missing values” that were coded by Stata as missing. Let me know if I can provide more information or if you would like me to test a version of JASP or to send you a new data file.

Many thanks again!

John
On May 25, 2020, 08:40 -0400, Joris Goosen <notificati

[2020-05-26 22:17] JohnnyDoorn commented on #637
Hi @PsyTechMMU,

The idea of post hoc tests is to investigate, after collecting the data, where group differences lie, for instance when following up on a significant main or interaction effect. Post hoc tests are not used for analyzing specific predictions made by theory - they are not "planned" in that sense, which is why post hoc analysis looks at all the factor level comparisons. In case you w

[2020-05-27 00:43] donovaly opened #765 "Bug with Bayesian Independent Samples T-Test"
* JASP version: 0.12.2
* OS name and version: Win 10
* Analysis: Bayesiant T-Test

#### Steps to reproduce:
1. Open this JASP file:
[Singers-bug.zip](https://github.com/jasp-stats/jasp-issues/files/4685763/Singers-bug.zip)
(Github doesn't allow to attach the file directly, thus I ZIPped it.
The Data is just the file "singers.csv" that is part of JASP.)

These are my settings for the T-Test:
![JASP

[2020-05-27 00:49] donovaly opened #766 "Allow to copy version info from the About dialog"
The About dialog of JASP does not allow to copy any info from there. But to report bugs, in discussions in forums etc. one needs the info about the version of JASP one is currently using.

Therefore it would be helpful to have a buttoon in the About dialog that coies all relevant info to the clipboard so that one can easily paste it elsewhere.

Here is an example how the OpenSource software "FreeC

[2020-05-27 03:17] psych123 opened #767 "Descriptive plots"
* JASP version: 0.12.2
* OS name and version: MacOS Catalina version 10.15.4
* Analysis: Bayesian two-way ANOVA
* Bug description: Error in if (xr[2] - xr[1] > 1000) {: missing value where TRUE/FALSE needed

I am currently trying to create a descriptive plot of the effect of two categorical variables on a continuous variable in a Bayesian ANOVA. I am aware that there is data missing for one combin

[2020-05-27 05:00] jaspforstats opened #768 "Error making scatterplot"
* JASP version: 0.9.2

* OS name and version: Mac Os Sierra version 10.12.6
* Analysis:
* Bug description: This analysis terminated unexpectedly.

Error in getAxisBreaks.ggplot_built(ggplot2::ggplot_build(x)): attempt to apply non-function

Stack trace
analysis(jaspResults = jaspResults, dataset = dataset, options = options, state = oldState)

.descriptivesMatrixPlot(dataset.factors, options, 'Cor

[2020-05-27 07:24] boutinb commented on #768
Hi @jaspforstats: you have to give us a reproduction path of this problem: which data, which analysis, which steps do you do in the analysis (which variables you select, which checkboxes you click, etc...). Without that we cannot know where the problem occurs.

[2020-05-27 07:27] boutinb commented on #763
@Bobuch I have asked the developer of this module to answer you.

[2020-05-27 07:51] #699 closed

[2020-05-27 10:25] JohnnyDoorn commented on #767
@vandenman I thought we had some check for this, do you know if this will be different in the next release? Else I can add something to the errorchecking function, as these situations are causing some confusion from time to time for users.

[2020-05-27 14:17] Bobuch commented on #763
Thank you.

————————
R.R.H., Ph.D.
Regents Professor

On May 27, 2020, at 2:28 AM, bruno boutin <notifications@github.com> wrote:

﻿

CAUTION: This email originated from outside of the University. Do not click links or open attachments unless you recognize the sender and know the content is safe.

@Bobuch<https://urldefense.proofpoint.com/v2/url?u=https-3A__github.com_Bobuch&d=DwMCaQ&c=H5Iu-V89wgp

[2020-05-27 15:46] #708 closed

[2020-05-27 18:27] PsyTechMMU commented on #11
Is there any plan for the uncorrected p-value to return as an option?

[2020-05-27 18:30] EJWagenmakers commented on #11
Wait, this is an old issue that was never properly addressed, it seems. @JohnnyDoorn, want to discuss this?

[2020-05-27 19:40] PsyTechMMU commented on #637
Thanks for the considered response, @JohnnyDoorn. Much appreciated. However, I think there's been too much emphasis on the literal/traditional sense of post-hoc as opposed to the options and functionality offered only in the ANOVA sub-module labelled as such.

Regarding planned/predicted vs unplanned/"post-hoc", this is an important distinction, as you say, but post-hoc taking literally _all possi

[2020-05-27 20:42] RuneZO opened #769 "Jasp 0.12.2 doesn't display results"
* JASP version: 0.12.2

* OS name and version: Windows
* Analysis: any
* Bug description: The display window is empty no matter what I try to analyze. the only time something is visible at that window is if I copy an analysis, then it is written "copy of..."
* Expected behaviour: graphs and tables as I got before I updated to the latest version

[2020-05-28 05:17] jdebeer2005 opened #770 "JASP crashed"
* JASP version: 0.12.2
* OS name and version: Windows 10 Version 1909

* Analysis:
* Bug description:
* Expected behaviour:

#### Steps to reproduce:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

-----------------------------------------------------------------------

### Debug information:
**Engine # 0** process *crashed* and it's state is *resuming*.
**Engine # 1** pro

[2020-05-28 06:34] boutinb commented on #769
Hi @RuneZO Just to be sure: can you already see the loaded data, or the ribbon bar at the TOP of JASP (with the names of the analyses)? Or is it only the result of the analysis you don't see?

[2020-05-28 06:35] boutinb commented on #770
Hi @jdebeer2005 When does this crash occur? When JASP just start, or when you load a dataset? Did you try with an older version of JASP?

[2020-05-28 06:55] RuneZO commented on #769
I have loaded data and can see them in Jasp. I can also see the ribbon bar with Descriptives, T-test...

[2020-05-28 06:56] RuneZO commented on #769
I also tried "repair" app, but no difference.

[2020-05-28 07:16] giulia-mr opened #771 "JASP crashes when loading .csv data file"
* JASP version: 0.12.2.0
Windows
* OS name and version: 8, 64-bit
* Bug description: I installed JASP yesterday and every time I try to load any .csv data file, it crashes. In another forum I found that this might have to do with insufficient storage space and made some space. There is now 19,4 GB free storage space on my computer but it still crashes. Could you help me with that please?

[2020-05-28 07:18] boutinb commented on #769
So if I understand well, it is the results of an analysis you cannot see.
Could you try the following:
. go to Menu/Preferences/Interface
. Click on the 'Safe Graphics Mode'
. Restart JASP

[2020-05-28 07:21] boutinb commented on #771
Hu @giulia-mr Can you try to load a simple csv file like the one in the Data Library/Descriptives/Fear of Statistics?

[2020-05-28 07:30] giulia-mr commented on #771
Thank you for your quick reply. I don't know how to find this fear of statistics data file? The file I tried to upload is a very simple csv file though

[2020-05-28 07:50] boutinb commented on #771
If you select the Open menu, then you have the Data Library sub menu as last item (Recent Files, Computer, OSF & Data Library submenus). Hier you should see some folders: Books, 1. Descriptives, 2. T-Tests, etc.., and in the Descriptives folder, you have the 'Fear of Statistics' example.

[2020-05-28 07:51] RuneZO commented on #769
I tried that now, but get the same result

[2020-05-28 07:54] giulia-mr commented on #771
Thank you, I try to load this file but JASP crashes as well.

[2020-05-28 08:24] RuneZO commented on #769
I just opened another dataset that is almost identical and Jasp gave me the results. I re-opened the first file again and still the same problem. I then went back to SPSS (where the file was from) and saved the first file again. When I now opened it in Jasp all works as it should.

I do not know why, but all is now functioning.

[2020-05-28 08:40] RuneZO opened #772 "Improved Text scaling"
* Enhancement: As of now (version 0.12.2) the types are too big for my use on a laptop, and I would like to scale them down. I can do so by CTRL -, but then the text is not smooth anymore and becomes hard to read. The same happens if I scale it up (CTRL +)
* Purpose: improved visibility
![pic normal sice of text](https://user-images.githubusercontent.com/66037123/83119090-91063900-a0cf-11ea-8334-b

[2020-05-28 08:43] RuneZO commented on #772
The three pictures enclosed in the last post are
1. Normal size: The text font is smooth
2. 70% of the original size: The text font is hard to read
3. 130% of the original size: The text form is not nice, but ok to read

[2020-05-28 11:00] giulia-mr commented on #771
I have uninstalled JASP and downloaded an older version now. With this version it works! Thank you anyways.

[2020-05-28 11:04] RuneZO commented on #772
I forgot to mention that the text in the Result window is scaled in a perfect way at the same time as the text at the tab, the data, and the analysis windows are hard to read. See picture
![pic difference](https://user-images.githubusercontent.com/66037123/83133662-7f2e9100-a0e3-11ea-9ce2-d804d3e2c8b0.JPG)

[2020-05-28 12:41] boutinb commented on #772
We know about this problem. Could you download this version of JASP: http://static.jasp-stats.org/JASP-0.12.2-64bit.msi ?

[2020-05-28 12:49] dustinfife commented on #763
I believe this is a known issue (see https://github.com/jasp-stats/jasp-issues/issues/728). @boutinb, is there a way we can get a patch or something? The R code works currently.

In the mean time, you can change the number of clusters to a smaller number, then it should work. I believe what's happening is that visual modeling randomly selects 3 clusters to display in separate panels. If there's fe

[2020-05-28 12:52] boutinb commented on #771
But it is for us really important to understand why the current version of JASP does not work on your machine.
You can have 2 versions of JASP by downloading the ZIP file instead of the JASP installer (msi file). Could you download it: http://static.jasp-stats.org/JASP-0.12.2-win64.zip and unpack it. In this way, you can still work with the older version.
With the unzipped version, can you open JA

[2020-05-28 13:00] boutinb commented on #763
We are planning to release a new version over ~2 weeks. For the time being, I can send you a beta version.
@Bobuch: which OS do you use: Windows 64/Windows32/Mac/Linux?

[2020-05-28 13:05] boutinb commented on #769
Strange... If this problem occurs again, re-open this issue.

[2020-05-28 13:05] #769 closed

[2020-05-28 13:18] giulia-mr commented on #771
I understand! I tried to open JASP from the unzipped version, but then a message pops up saying that Windows SmartScreen prevents the execution of the program as it is a potential risk. There is no option to ignore this message. Any ideas?

[2020-05-28 13:33] #731 closed

[2020-05-28 13:35] JohnnyDoorn commented on #637
Hi @PsyTechMMU,

If I understand your last sentences correctly, you are arguing in favor of applying p-values corrections in the planned contrast analysis. I think this might be the easiest to implement, as this analysis already has the functionality to specify custom comparisons and not include all permutations. I can look into adding a number of checkboxes for specific corrections in the contras

[2020-05-28 13:40] RuneZO commented on #772
Great. That updated version solved the problem perfectly

[2020-05-28 14:07] #772 closed

[2020-05-28 14:07] boutinb commented on #772
Nice!

[2020-05-28 14:22] AugustOlsson commented on #132
Hi,

Is there any ongoing work with implementing Bayesian MANOVA in Jasp? It would be a great addition!

In the mean time, (and sorry if this is off-topic) is it at all resonable to calculate multiple ANOVAs on each level of the dependent variable as a kind of bad "pseudo"-Manova?

[2020-05-28 14:22] Bobuch commented on #763
I use MacOS Catalina.

Than you so much JJ

————————
R.R.H., Ph.D.
Regents Professor

On May 28, 2020, at 8:01 AM, bruno boutin <notifications@github.com> wrote:

﻿

CAUTION: This email originated from outside of the University. Do not click links or open attachments unless you recognize the sender and know the content is safe.

We are planning to release a new version over ~2 weeks. For the time

[2020-05-28 14:27] AugustOlsson opened #773 "Assumption checks and Spherity corrections in Bayesian ANOVAs"
I have two proposals for enhancements.

1). The first one is to include assumption checks in the Bayesian versions of all analyses. This is just a very minor issue, but it should be very easy to just duplicate the buttons from the frequentist menue, and it will save time not to have to go back and forth between the frequentist analyses and the bayesian ones just to check for assumptions.

2). Is i

[2020-05-28 14:40] drbenvincent opened #774 "fails to run 2x2 Bayesian Repeated Measures ANOVA"
* JASP version: 0.12.2
* OS name and version: MacOS 10.15.4
* Analysis: 2x2 repeated measures ANOVA, Bayesian
* Bug description: Analysis is not run, with the following error

![Screenshot 2020-05-28 at 15 36 51](https://user-images.githubusercontent.com/6765047/83155381-14885000-a0f9-11ea-8a7b-0afe8e14e981.png)

I've attached JASP file (zipped)

[example.jasp.zip](https://github.com/jasp-stats/ja

[2020-05-28 14:44] Bobuch commented on #763
Dear Bruno,

For the random effect, I can only do one variable, it would be great to do two variables like Subject and items.

Thanks!!

I use MacOS.

————————
R.R.H., Ph.D.
Regents Professor

On May 28, 2020, at 8:01 AM, bruno boutin <notifications@github.com> wrote:

﻿

CAUTION: This email originated from outside of the University. Do not click links or open attachments unless you recognize the

[2020-05-28 14:54] boutinb commented on #763
Can you try this version: http://static.jasp-stats.org/Nightlies/MacOS/JASP-nightly-stable-0dc621d0e59e4f7563c24cdaa13c2d5db06d5174.dmg
This is not an official version!

[2020-05-28 14:59] Bobuch commented on #763
Yes, I will. Thank you. I’ll get back to you shortly. I’m still at home.

————————
R.R.H., Ph.D.
Regents Professor

On May 28, 2020, at 9:54 AM, bruno boutin <notifications@github.com> wrote:

﻿

CAUTION: This email originated from outside of the University. Do not click links or open attachments unless you recognize the sender and know the content is safe.

Can you try this version: http://static

[2020-05-28 15:35] jdebeer2005 commented on #770
This crash occurred at shutdown, OF MY COMPUTER.  I think this is a se;lf inflicted wound.  I would not know how to repeat it.   I had several programs operating, and tried to shutdown, and suddenly a popup message opened up and asked me if I wanted to report it to github.  I am a member so it it.  That is all I know.

Sorry for the bother.

JDB

[2020-05-28 16:40] AlexanderLyNL commented on #770
I consider this issues solved then. Please reopen if it reoccurs.

[2020-05-28 16:40] #770 closed

[2020-05-28 16:56] Bobuch commented on #763
Dear Bruno,

I still get the same issue, and only with the subject data. It seems that it works and then I ask for another function and it gives me the error message.

On May 28, 2020, at 8:00 AM, bruno boutin <notifications@github.com<mailto:notifications@github.com>> wrote:

CAUTION: This email originated from outside of the University. Do not click links or open attachments unless you recognize

[2020-05-28 16:58] Bobuch commented on #763
Dear Bruno,

I still get the same issue, and only with the subject data.

On May 28, 2020, at 8:00 AM, bruno boutin <notifications@github.com<mailto:notifications@github.com>> wrote:

CAUTION: This email originated from outside of the University. Do not click links or open attachments unless you recognize the sender and know the content is safe.

We are planning to release a new version over ~2 we

[2020-05-28 17:08] chantelanuit commented on #176
The implementation of blocks in JASP is not optimal presently. However, there is a possibility to use more than 2 blocks if the LR analysis is repeated. For instance, imagine you have a model with intraversion, extraversion, and openness and you would like to predict a criterion. In step 1, you include intraversion and extraversion in the covariates. You specify also that intraversion is in the nu

[2020-05-28 18:12] el-librero1800 opened #775 "App does not display correctly (looks black)"
I am trying to run JASP 0.12.2 and I am using Kubuntu 20.04. I installed it using flatpak but each time I open JASP it looks almost all black. Most of the screen is black with some parts of green, white and blue (the colours used in JASP, see the picture). It is completely unusable. I would really appreciate if someone could figure out how to solve this issue.
![Screenshot_20200528_130637](https:/

[2020-05-29 06:37] boutinb commented on #763
@dustinfife Can you reproduce this problem? If not, @Bobuch could you send us your data, and an exact reproduction path of what you are doing?
Also: @Bobuch, to answer us, please use directly GitHub, not your email. When using your email client, it sends a lot of text not related to this issue.

[2020-05-29 06:53] vandenman commented on #774
Thanks for the bug report!

This looks like the same error as https://github.com/jasp-stats/jasp-issues/issues/737. If you have a variable named `subject` in your data set, a temporary workaround is to rename that variable to something else, e.g., `subject2`.

[2020-05-29 07:29] drbenvincent commented on #774
So that kind of works :) Although the column name was `subj` initially, so I think the issue is broader than just a column called `subject`. Changed it to simply `s`. The ANOVA worked :)

Although asking it to plot the QQ plot gives rise to a similar issue. And this is now of course with no columns `sub` or `subject`.
<img width="358" alt="Screenshot 2020-05-29 at 08 25 09" src="https://user-image

[2020-05-29 07:41] vandenman commented on #774
Unfortunately, we internally used the name subject and when decoding and encoding<sup>1</sup> variable names a name like `subj` would be partially matched in `subject` (for more details, see https://github.com/jasp-stats/jasp-desktop/pull/4086).

If you experience any other bugs/ crashes, please make an issue and we'll assign the appropriate person to fix it so that the next release won't have the

[2020-05-29 07:49] #774 closed

[2020-05-29 09:19] vankesteren commented on #754
I'll keep it in mind in my SEM rework! I do have to say that I am not familiar with these metrics, and whether the best place for them is in the SEM analysis or in CFA, for example, but the paper should help.

[2020-05-29 12:13] Marian-Popa commented on #754
Thanks for your kind attention. I am aware that it's easy for us to send proposals, but it is not so easy to implement in JASP all the metrics in the world.
AVE, CR, MSV, ASV & HTMT are associated with the measurement model. So, they can be implemented either in the CFA module or in SEM (with latent factors). Having such metrics, the measurement model could be assessed more specifically, not only

[2020-05-29 13:05] dustinfife commented on #763
Also, please send a screenshot of what you're doing.

[2020-05-29 17:26] Bobuch commented on #763
Dear Bruno,

I am including the data with the different analyses saved. When I ran the analysis with Items as random effect, it works fine. When I ran the analysis with Subject (SUB) as random effect, the analysis terminates immediately. You will see what I mean.

Thanks!

[MIXED_JASP.jasp.zip](https://github.com/jasp-stats/jasp-issues/files/4703260/MIXED_JASP.jasp.zip)

[2020-05-29 17:26] #763 closed

[2020-05-29 17:30] Bobuch commented on #763
Dear Dustinfife,

I submitted the data file and saved the output so you can see.

On May 29, 2020, at 8:05 AM, dustinfife <notifications@github.com<mailto:notifications@github.com>> wrote:

CAUTION: This email originated from outside of the University. Do not click links or open attachments unless you recognize the sender and know the content is safe.

Also, please send a screenshot of what you're

[2020-05-29 17:40] Bobuch commented on #763
Dear Bruno,

I submitted the data file and saved the output so you can see. I responded to the GitHub list with the data. The subject column (SUB) is numerical… but it should not matter since those are the subjects.

Thank you for your great work.

Roberto

On May 29, 2020, at 1:37 AM, bruno boutin <notifications@github.com<mailto:notifications@github.com>> wrote:

CAUTION: This email originated f

[2020-05-29 18:07] nduduk commented on #732
I have the same problem.

[2020-05-29 18:49] dustinfife commented on #763
Here's a quick fix: if you specify that SUB is a Scale variable, it works. I'm not sure why it's having issues in the background. I'll see if I can dig in to the code and see why that's happening.

[2020-05-29 19:10] dustinfife commented on #763
Alright, I fixed the issue. @boutinb, here's the commit: https://github.com/dustinfife/flexplot/commit/0f1d85ccb2fae40da12506840ff60a4b0d9fd8a6

[2020-05-29 19:34] Bobuch commented on #763
Dear Dustinfife,

That means that we’ll get an updated jasp version to implement it?

R

On May 29, 2020, at 2:10 PM, dustinfife <notifications@github.com<mailto:notifications@github.com>> wrote:

CAUTION: This email originated from outside of the University. Do not click links or open attachments unless you recognize the sender and know the content is safe.

Alright, I fixed the issue. @boutinb<h

[2020-05-29 20:04] Sarah226 commented on #724
At @boutinb it did solve my problem thank you very much. :)

[2020-05-31 13:43] hpooch20 opened #776 "Partial invariance testing"
* Enhancement: allow partial invariance testing
* Purpose: to upgrade invariance testing in jasp to be at a level with standard packages
* Use-case: It is very uncommon that a psychometric scale shows invariance across the levels of stringency in measurement. It is important to know where invariant measurement is complete and where it is partial. This is simply common psychometric practice.

**Is

[2020-05-31 19:48] JorisGoosen commented on #732
Have you tried my suggestions?

[2020-05-31 19:48] JorisGoosen commented on #732
And I would also be interested in which GPU you use.

[2020-06-01 09:59] drbenvincent opened #777 "JASP crashes on exit"
* JASP version: 0.12.2
* OS name and version: MacOS 10.15.5
* Analysis: happens closing any JASP file as far as I can tell.
* Bug description: JASP crashes on closing (any JASP file?). Eg.
![Screenshot 2020-06-01 at 10 55 43](https://user-images.githubusercontent.com/6765047/83398204-d17af500-a3f6-11ea-9648-73edb3edad28.png)
Does not crash when there is no data loaded, ie opening JASP then immedia

[2020-06-02 00:27] jdebeer2005 opened #778 "Effect size statistics for large data sets"
* Enhancement: Add Cohens d, Glass's delta or Hedges' g to the post hoc tests in ANOVA
* Purpose:  Cohens d, Glass's delta or Hedges' g are much clearer to interpret and report than eta squared.
* Use-case:  I have a 25,000 obs data set with many ANOVA cells, that need to be compared to each other .  the t-value and Scheffe are off the chart BUT that may only be a product of the large sample size

[2020-06-02 06:44] boutinb commented on #763
@dustinfife Can you do a Pull Request also to jasp-stats/jasp-desktop ?

[2020-06-02 06:47] boutinb commented on #776
@EJ, @vankesteren, could you answer?

[2020-06-02 06:51] boutinb commented on #777
This problem is probably solved with the next version (release soon). Could you try this version: http://static.jasp-stats.org/Nightlies/MacOS/JASP-nightly-stable-2a00fceaabd0e5b6ffbfd247c9095537f517e201.dmg
This is not the official version yet, but should contain the fix that solves your problem.

[2020-06-02 06:57] boutinb commented on #773
@JohnnyDoorn could you answer this request?

[2020-06-02 07:57] JohnnyDoorn commented on #773
Hi @AugustOlsson,

For the assumption of normality, you can use the Q-Q plot option. This plot is done a little bit differently than for the frequentist version - this is an excerpt of [Don van den Bergh's tutorial on Bayesian ANOVA](https://psyarxiv.com/spreb/):

ANOVA provides a probability distribution for each residual. The uncertainty in the residuals can thus be summarized by 95% credible in

[2020-06-02 08:21] JohnnyDoorn commented on #778
Hi @jdebeer2005,

For post hoc tests conducted for main effects, there is a checkbox in the post hoc analysis menu "effect size", which adds the Cohen's d to the post hoc table. I am not sure anymore why this is not the case for post hoc tests for interaction effects, but I will look into this!

Cheers,
Johnny

[2020-06-02 08:31] drbenvincent commented on #777
That seems to work - the GUI also feels a bit smoother and more responsive

[2020-06-02 08:31] #777 closed

[2020-06-02 08:35] boutinb commented on #777
Nice, thanks!

[2020-06-02 08:54] JorisGoosen commented on #775
Wow, that looks very unusable indeed!

Could you tell me which version of flatpak you have? `flatpak --version` in a terminal should tell you.
And which GPU? (If you have `mesa-utils` installed you could run `glxinfo` in a terminal.

Furthermore, having a log of this would be useful, maybe you could start jasp in a terminal and copy the output here?

[2020-06-02 09:25] #679 closed

[2020-06-02 09:25] #712 closed

[2020-06-02 09:58] #764 closed

[2020-06-02 11:52] Andreea-Szoke commented on #60
Hello! I have the same problem.
JASP Version 0.11.1, Windows 8.1 Pro
I don't know how to fix the problem...
Any help, please?

[2020-06-02 13:23] Andreea-Szoke opened #779 "chol.default(mat): the leading minor of order x is not positive definite"
Hello! This is the error.. "chol.default(mat): the leading minor of order x is not positive definite"
JASP Version 0.11.1, Windows 8.1 Pro
Analysis: Multivariate logistic regression
I don't know how to fix the problem...
Any help, please?

[2020-06-02 14:47] el-librero1800 commented on #775
Thanks a lot for your reply JorisGoosen. I am using flatpak v1.6.3, and I have an integrated GPU (Core i7 1068NG7) Intel Iris Plus Graphics G7. I am also uploading the results from the glxinfo command and the log from running JASP. I have not pasted these in here because is quite long in both cases.

Any help is really appreciated!

[glxinfo.txt](https://github.com/jasp-stats/jasp-issues/files/471

[2020-06-02 14:52] dustinfife commented on #763
I'd be happy to. Do you mind telling me how to do that? I've done plenty of pull requests within a repository, but not across one.

Thanks!

[2020-06-02 16:08] JorisGoosen commented on #775
Thanks you for attaching them as files instead of pastes!

So, maybe this already helps, wouldn't know, but your flatpak is a little bit out of date and you can use the ppa of the flatpak main author to get up to date: https://launchpad.net/~alexlarsson/+archive/ubuntu/flatpak

If that does not help then maybe you can try to start JASP in software rendering mode: `flatpak run org.jaspstats.JASP --

[2020-06-02 16:46] vandenman commented on #779
Hi, the latest version is JASP 0.12.2. Can you tell us if the problem persists with that version? You can download it from https://jasp-stats.org/download/.

[2020-06-02 18:38] salif08 commented on #705
I have version 0.12.2 and this is still happening for me.

[2020-06-02 18:50] JohnnyDoorn commented on #778
Hi @jdebeer2005,

Under Post Hoc Tests, there is the checkbox, see the screenshot below:
![Screenshot from 2020-06-02 20-48-43](https://user-images.githubusercontent.com/15704203/83557843-a2f23c80-a512-11ea-923a-2c1097b9c601.png)

Kind regards
Johnny

[2020-06-02 18:51] lindemann09 opened #780 "broken output, missing font TeXGyreHeros in flatpak"
EDIT: Solution thanks to @JoKeyser:
`flatpak run --command=fc-cache org.jaspstats.JASP -f -v`

------------------------
Original issue:
JASP is not anymore usable under Ubuntu Linux. That is really a pity.

Why is JASP not providing older versions of flatpaks or deb-packages (as for Win & MacOS) to ensure that updates do not break the system?

* JASP version: 0.11 and 0.12.2

* OS name and version

[2020-06-02 20:18] FelipeMAffonso opened #781 "Simple Interaction Effects"
* Enhancement: JASP can handle ANOVA and simple simple effects very well. However, after a significant three-way interaction (A*B*C), it is important to, say, run A*B at different levels of C. There's no way to do that.
* Purpose: Simple interaction effects.
* Use-case: Many experiments in the social sciences with three-way interactions start with the three-way interaction, followed by the signifi

[2020-06-02 20:23] FelipeMAffonso opened #782 "Specific contrasts and analytical comparisons"
* Enhancement: It would be nice to be able to specify contrasts before doing the simple main effects.
* Purpose: Analytical comparisons
* Use-case: Social science experiments rely on analytical comparisons many times.

**Describe the solution you'd like**

Suppose I have A, B, and C in an ANOVA design. A has 2 levels, B has 2 levels, and C has 3 levels. What if my simple simple main effects want t

[2020-06-02 21:22] jdebeer2005 commented on #778
Thank you sir.  I see it now.  And will use it.

Regards

JDB

From: JohnnyDoorn <notifications@github.com>
Sent: Tuesday, June 2, 2020 11:51 AM
To: jasp-stats/jasp-issues <jasp-issues@noreply.github.com>
Cc: jdebeer2005 <jdebeer2005@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [jasp-stats/jasp-issues] Effect size statistics for large data sets (#778)

Hi @jdebeer2005 <https://git

[2020-06-03 01:05] el-librero1800 commented on #775
I could not update flatpack because the repository does not have a release file and apt asked me to change the configuration in order to use it. I have to find out how to do it because I don't know... But running JASP the way you told me (software rendering mode) worked perfectly. Thanks a lot!!

[2020-06-03 01:05] #775 closed

[2020-06-03 07:16] vandenman commented on #779
Unfortunately, attachments aren't uploaded if you reply by email. Could you upload it again using the GitHub's website?

[2020-06-03 07:21] #778 closed

[2020-06-03 08:42] Andreea-Szoke commented on #779
Hi, here it is! I hope that now it will work.
[regresie reflux.xlsx](https://github.com/jasp-stats/jasp-issues/files/4721974/regresie.reflux.xlsx)

[2020-06-03 08:50] vandenman commented on #779
Thanks! Just to clarify, the error you get looks something like the screenshot below?

![image](https://user-images.githubusercontent.com/21319932/83616326-fbafec80-a587-11ea-8ca2-efcc26609870.png)

[2020-06-03 08:53] Andreea-Szoke commented on #779
Yes, exactly. And this happen with all the columns, not only with one parameter.

[2020-06-03 09:49] JorisGoosen commented on #775
Good that that helped!

Enjoy JASP

[2020-06-03 09:53] vandenman commented on #779
Okay, so I think (but correct me if I'm wrong) you're interested in the model with all variables and perhaps a small number of interactions. However, if you add the variables to `Factors` then by default JASP adds all possible interaction effects between the variables. If you add the categorical predictors to `Factors` in groups of 2, and then under `Model` remove all the interaction effects the a

[2020-06-03 10:06] Andreea-Szoke commented on #779
I wanted to introduce all the variables with p<=0.25 in the univariate analysis. I tried this method and it works for me too!

Thank you a lot for your support! Have a nice day!

[2020-06-03 10:49] vandenman commented on #779
Happy to help!

[2020-06-03 10:49] #779 closed

[2020-06-03 14:56] AugustOlsson commented on #773
Hej Johnny,

Thanks for the quick reply!
Great to hear that you are working on Sphericity corrections!

I should have been more clear about assumptions checks, my apologies. I was mainly thinking about the assumption of homogeneous variance. I understand that you would need to put a lot of time into developing a bayesian version of e.g. Levene's test, but shoudn't the frequentist version of Levene

[2020-06-03 15:17] EJWagenmakers commented on #773
But that would pollute our Bayesian method. I prefer waiting just a little while longer until the Bayesian test is implemented.

[2020-06-03 15:31] AugustOlsson commented on #773
Yeah I understand if you want to keep the Bayesian module clear of frequentist test. In the meanwhile one can of course perform frequentist checks elsewhere.

Best,
August

[2020-06-04 04:36] GitHubRequests opened #783 "Navigation Buttons"
* Enhancement: Add arrow-buttons on bottom left and right of interface for spreadsheet of data in JASP to allow to scroll horizontally per column like Excel.
* Purpose: Finer access and control to specific data columns
* Use-case: Needing to change columns into scale or ordinal or nominal data per column but having to use the scroll bar at the bottom without a more exact method of navigating throu

[2020-06-04 09:18] boutinb commented on #705
@salif08 Can you give us the data you used, and a clear reproduction path?

[2020-06-04 09:21] boutinb commented on #782
@FelipeMAffonso  I think this is already implemented in the next release, but @JohnnyDoorn can better confirm this (or not)

[2020-06-04 10:07] JorisGoosen commented on #780
Thank you for reporting this bug!

We do not make deb-pkgs anymore because it was very painful to support ubuntu/debian's sometimes very outdated Qt libraries or divergent R versions. With flatpak this is not supposed to be problem.

And in fact, I would have expected all fonts to be part of the flatpak in fact. So how it can be missing is a bit of a mystery to me. But Im sure we can figure out wh

[2020-06-04 10:14] JorisGoosen commented on #780
@vandenman do we specify which font to use specifically in ggplot2?

And you use ubuntu as well right? Do you have this problem as well?
And @JohnnyDoorn did you have this problem on PopOs or Manjaro?

[2020-06-04 11:02] vandenman commented on #780
We do not specify the font, so it should resort to the system default for R (this differs between Linux, macOS, and Windows). However, multiple people seem to be having this issue recently so something is going wrong. I don't have this issue on Kubuntu 18.04 though.

[2020-06-04 11:41] JorisGoosen commented on #780
So the problem could be that it is defaulting to system default `TexGyre` but because it is flatpak it doesn't have access to that? Because it runs in a sandbox?

Would it be hard to bundle one such font and specify it as default?

[2020-06-04 11:59] vandenman commented on #780
Specifying custom fonts is incredibly painful on Windows and macOS. On Linux, it's more doable though. We could also see if `https://github.com/r-lib/ragg/` makes that easier. Regardless, I unfortunately don't have a reproduction path for this. Maybe Johnny can help out with that.

[2020-06-04 12:52] lindemann09 commented on #780
That makes sense. Thanks for your prompt reply.

I have the issue only on Xubuntu 20.04 and didn't experience this problems with (X)Ubuntu 18.04.

[2020-06-04 13:03] JorisGoosen commented on #780
Ok, I will install these in some VMs and see if I can reproduce it. Maybe they just changed the default font to something and that is all. Hopefully.

[2020-06-04 13:06] JohnnyDoorn commented on #780
Yes, that was that problem we encountered a while ago on my Pop os, I tried to install that TexGyre library manually (it told me it was already installed though), but that did not help. I still have the issue on my stable flatpak build (broken text in plots).

[2020-06-04 13:17] JorisGoosen commented on #780
Which version of pop are you using?

[2020-06-04 13:32] JohnnyDoorn commented on #780
20.04 (LTS)

On Thu, 4 Jun 2020 at 15:17, Joris Goosen <notifications@github.com> wrote:

[2020-06-04 13:44] JorisGoosen commented on #780
Ah ok, so that means it probably is broken on many Ubuntu(-derived) 20.04 distro's...

[2020-06-04 17:21] JorisGoosen commented on #780
Aah, so I do not get the problem with the regular ubuntu 20.04.
So next up is Xubuntu 20.04.

[2020-06-05 08:03] EJWagenmakers opened #784 "Logistic regression analysis for an ordered categorical dependent variable"
From JASP email, title says it all.
E.J.

[2020-06-05 08:09] JohnnyDoorn commented on #782
Hi @FelipeMAffonso

Yes, this will be in the next version of JASP (coming soon!). It will have a neat widget to fully specify the contrasts you want, including for all cells of an interaction.

Cheers,
Johnny

[2020-06-05 08:09] #782 closed

[2020-06-05 09:48] boutinb commented on #763
@dustinfife If I understand your fix, what we need to do is to update the flexplot package in the R framework of JASP, not the R JASP-Flexplot interface. So you don't need to do a Pull Request.
@vandenman could you update the flexplot package in JASP?

[2020-06-05 11:06] AugustOlsson opened #785 "Feature request: Descriptive CIs from model"
* Enhancement: Include the possibilty to get descriptive plots with Credible intervals that are not based on a uniform prior  (e.g. include the possibility to get CI from the model one has fitted)

* Purpose: To get credible intervals which reflect the data and that use the power of the bayesian framework (credible intervals with uniform prior over the entire line is pretty much equal to a confide

[2020-06-05 12:07] JorisGoosen commented on #780
Ok, so I've installed xubuntu and there the font and plots look fine as well...

@JohnnyDoorn and @lindemann09 do you maybe have latex or other tex stuff installed?
Because possibly that overwrites the default font used by ggplot?
Or maybe you also have copy of R?

Are either of you using a non-default system theme/font?

[2020-06-05 12:41] #411 closed

[2020-06-05 12:41] #702 closed

[2020-06-05 12:41] #751 closed

[2020-06-05 13:41] JohnnyDoorn commented on #780
Ah that sounds plausible - I do have Latex installed.

On Fri, 5 Jun 2020 at 14:07, Joris Goosen <notifications@github.com> wrote:

[2020-06-05 13:51] DrMarkGS opened #786 "Data synch issue reappeared"
* JASP version: 0.12.2 (April 30th)
* OS name and version: Windows 10
* Analysis: Data synchronisation
* Bug description: Synch data file disappears

Hoi folks
Had this issue before:
Open file (from external hard drive)
Data sync shows the correct file
![JASP1](https://user-images.githubusercontent.com/39003008/83883679-b8967a80-a73b-11ea-8bb9-785d7d3dd358.png)

Double click in a cell - change the

[2020-06-05 15:28] FelipeMAffonso commented on #781
Quick comment: ideally, this would also be done in mixed designs, within designs, and the like

[2020-06-05 15:33] JorisGoosen commented on #780
And yeah, if I install texmaker (which includes latex) then the plots no longer work... It seems it overwrites some default that somehow gets smuggled into jasp.

So a workaround would be to uninstall any tex if it isn't being used...
But now I just need to figure out which settings/environment-variable/config-file is responsible for this problem.

[2020-06-05 15:42] JorisGoosen commented on #771
You can click "More info" and then it will give you the option to run it anyway.

[2020-06-05 15:42] FelipeMAffonso opened #787 "Estimates of effect size for Simple Main Effects (and Contrasts)"
* Enhancement: Estimates of effect size for Simple Main Effects (and Contrasts)
* Purpose: Add a "Display: Estimates of effect size" (as in the main ANOVA tables) for simple simple effects, simple effects, and simple interaction effects (and analytical contrasts, which will come later)
* Use-case: Besides effect sizes for the higher order effects, some journals require the reporting of effect size

[2020-06-05 15:46] FelipeMAffonso opened #788 "Customize the number of decimals per specific columns"
* Enhancement: Customize the number of decimals per specific columns
* Purpose: Customize the number of decimals per specific columns
* Use-case: Columns would have specific number of decimals depending on the specific columns. For example: an ANOVA table would have three decimals for p-values, and two decimals for F values. This would greatly improve my productivity when writing (some journals re

[2020-06-05 16:03] FelipeMAffonso opened #789 "Regression - Simple Slopes Analyses (probe interactions)"
* Enhancement: Addition of Simple Slopes Analyses for Regression
* Purpose: Calculation of simple slopes (continuous-by-continuous with 1SD above and below the mean, categorical-by-continuous)
* Use-case: Data analyses involving interactions with regression

**Describe the solution you'd like**
I would like to be able to probe interactions by selecting conditioning values (-1SD, Mean, +1SD, or lev

[2020-06-05 16:05] FelipeMAffonso opened #790 "Logistic Regression: Analytical Comparisons, Simple Effects, and Probing Interactions"
* Enhancement: Logistic Regression: Analytical Comparisons, Simple Effects, and Probing Interactions
* Purpose: Do analytical comparisons, simple effects, probing interactions, and even simple interactions/simple simple effects like an ANOVA, but in logistic regression (binary DV).
* Use-case: Experiments with binary DVs.

**Describe the solution you'd like**

I would like to be able to to simple

[2020-06-05 16:20] FelipeMAffonso opened #791 "R code editor / environment (like RStudio?)"
* Enhancement: R code editor / environment (like RStudio?)
* Purpose: to run R codes, load additional R packages, and run additional analyses (and see the console) for datasets that are open in JASP. Such as when one has a SPSS open and runs some syntaxes.
* Use-case: Run things that are not yet in JASP using R code quickly, in the same software. For example, I would like to run some codes (with t

[2020-06-05 16:21] FelipeMAffonso opened #792 "Data Editor and Data Management"
* Enhancement: Data Editor and Data Management
* Purpose: To have a "Data View" and "Variable View" similar to SPSS. This would help A LOT with managing data.
* Use-case: Everyday use.

**Describe alternatives you've considered**
I usually take care of my data using SPSS and use JASP to do the analyses. It would be nice to centralize everything in JASP.

[2020-06-05 18:15] JohnnyDoorn commented on #781
Hi @FelipeMAffonso

Great suggestion - I was toying with this when I implemented the simple main effects: to just have full conditional ANOVA tables for each level of a factor. However, I'm not entirely sure how to tackle this from a multiplicity correction perspective though - do you have any literature you recommend on this?
I think to have only the interaction effect displayed for each level of

[2020-06-05 20:00] EJWagenmakers commented on #792
A major item on our to-do list, but currently our main focus is on achieving better integration with R.

[2020-06-05 20:01] EJWagenmakers commented on #791
The upcoming release (planned for this month) will have a beta version of this idea.

[2020-06-05 20:46] giulia-mr commented on #771
Thanks. When I opened JASP as instructed by you, it strangely didn't crash now. I attached the log files anyways.

[JASP 2020-06-05 22_43_55 Desktop.log](https://github.com/jasp-stats/jasp-issues/files/4738412/JASP.2020-06-05.22_43_55.Desktop.log)
[JASP 2020-06-05 22_43_55 Engine 0.log](https://github.com/jasp-stats/jasp-issues/files/4738413/JASP.2020-06-05.22_43_55.Engine.0.log)
[JASP 2020-06-05

[2020-06-05 22:07] JorisGoosen commented on #771
Thank you for trying it out and attaching the logs.

But of course, if it does not crash... Well, then there is no problem apparently?
Are you sure you used the latest version?

[2020-06-06 00:24] narcilili opened #793 "randomized complete block design"
* Enhancement: randomized complete block design feature in the anova section. including Bayesian anova
* Purpose: many agriculturists will find it useful. it may inadvertently lead them to Bayesian analysis
* Use-case: in the field of agriculture especially

[2020-06-06 01:02] K1NDRED opened #794 "Filtering data changes the output (still)"
[JASP Issue dataset.zip](https://github.com/jasp-stats/jasp-issues/files/4739128/JASP.Issue.dataset.zip)

* JASP version: 0.11.1

* OS name and version: Windows 10 Home

* Analysis: Bayesian RM ANOVA

* Bug description: I have 2 training groups who have a pre- and a post-training measure on a variable. Each training group contains young adults and older adults. When I filter the data to look at on

[2020-06-06 02:26] FelipeMAffonso commented on #781
Hi @JohnnyDoorn

Here is a blog post (with very very good references too!) that talk about multiplicity in multiway ANOVAs: http://daniellakens.blogspot.com/2016/01/error-control-in-exploratory-anovas-how.html

Well.. Here is also the link of one of the references about multiplicity in multiway ANOVAs (the blog talk about this as well): https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4828473/

I thin

[2020-06-06 02:27] FelipeMAffonso commented on #792
Great! Thanks

[2020-06-06 07:27] giulia-mr commented on #771
Yes, I am sure this was the latest version. I have no idea, why it works now. I have been using the older version for the past week. Thank you anyways! I'll let you know when any other problems come up

[2020-06-06 10:13] GitHubRequests opened #795 "Analysis Terminated Bug Report"
* JASP version: 0.12.2

* OS name and version: Windows 10 Home version 1909
* Analysis: Independent Sample T-Test
* Bug description:

"This analysis terminated unexpectedly.
Error in .ttestIndependentMainFill(ttest, dataset, options, testStat, : object 'result' not found
Stack trace
tryCatchOne(expr, names, parentenv, handlers[[1]])
doTryCatch(return(expr), name, parentenv, handler)
withCallingHan

[2020-06-06 11:22] JorisGoosen commented on #771
Ok, well it seems that this issue can be marked closed then, if the problem returns we can reopen it!

[2020-06-06 11:22] #771 closed

[2020-06-06 14:07] vandenman commented on #795
this sounds like a duplicate of https://github.com/jasp-stats/jasp-issues/issues/724 which got fixed in https://github.com/jasp-stats/jasp-desktop/pull/4069. So should be fixed in the next release!

[2020-06-06 14:35] Diesfeldt opened #796 "Summary Statistics Bayesian Independent Samples T-Test: Labels in prior and posterior plots switch upon changing from BF10 to BF01, while they shouldn't"
* JASP version: 0.12.1

* OS name and version:
* Analysis:
* Bug description:
* Expected behaviour:

#### Steps to reproduce:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

[2020-06-06 14:52] vandenman commented on #758
A small update:

- The main table has now `Measure 1` and `Measure 2` as column titles so that it's more clear what the radio button refers to.
- The footnote now refers to `Measure 1` and `Measure 2`.
- The footnote now gives an example using the first complete pair, if there is any.

![image](https://user-images.githubusercontent.com/21319932/83947148-996c1b80-a815-11ea-94c0-57b9d1c8fb48.png)

A

[2020-06-06 16:25] luisbm1634 opened #797 "Incorrect Values in 2x2x2 ANCOVA Table"
When running a 2x2x2 ANCOVA in JASP 0.12.2 on a mid-2017 MacBook Pro 13 inch, the ANCOVA table reports incorrect values for the CV and all interaction factors. Essentially, the values for these rows are swapped. The reported values for IV1*IV2 are replaced with those for IV2*IV3; the values for IV1*IV3 are replaced with those from IV1*IV2; the values for IV2*IV3 are replaced with those from the CV

[2020-06-07 17:05] Glitchy-Tozier opened #798 "Pearson's r Heatmap is displayed incorrectly"
* JASP version: 0.12.2

* OS name and version: Linux Mint 19.3
* Analysis: Correllation
* Bug description: Pearson's r Heatmap is displayed incorrectly... I think.
* Expected behaviour: Better visibility. See attached picture

#### Steps to reproduce:
1. Opened the data-csv
[Datensatz_9_AB_bsp05.xlsx](https://github.com/jasp-stats/jasp-issues/files/4742536/Datensatz_9_AB_bsp05.xlsx)
2. Started Reg

[2020-06-07 17:15] Glitchy-Tozier commented on #798
I had 110% zoom... turning it off didn't change anything though.

[2020-06-07 21:10] FelipeMAffonso opened #799 "Descriptives in two-way ANOVAs - Show "total" means and SDs"
* Enhancement: Descriptives in two-way ANOVAs - Show "total" means and SDs
* Purpose: To show means of main effects on higher-order ANOVA models.
* Use-case: Suppose I have A (a1, a2) and B (b1, b2) factors and I run a two-way ANOVA. The descriptives show me only the crossed table (a1 and a2 for b1, a2 and a2 for b2, or the reverse of this), but it does not show me the mean and SD of a1 and a2, an

[2020-06-08 07:14] boutinb commented on #786
Hallo @DrMarkGS, could you send the log files (Preferences/Advanced)?

[2020-06-08 07:18] boutinb commented on #789
@vandenman Could you have a look to this request?

[2020-06-08 07:19] boutinb commented on #790
@vandenman Can you have a look to this one also?

[2020-06-08 07:20] boutinb commented on #793
@JohnnyDoorn Could you have a look to this request?

[2020-06-08 07:56] boutinb commented on #794
@JohnnyDoorn Could you look at this issue?

[2020-06-08 07:59] boutinb commented on #795
@GitHubRequests You can test this version (still in development) here: https://static.jasp-stats.org/Nightlies/Windows/JASP-nightly-stable-87a4738a12e7d88c447389c9fd4b4f9c72d63ba6.msi
And check if it indeed solves your problem.

[2020-06-08 08:01] boutinb commented on #797
Hallo @luisbm1634 It would be helpful if you can send us a JASP file that shows this problem

[2020-06-08 08:39] boutinb commented on #796
@Diesfeldt Can you be a bit more descriptive about the issue?

[2020-06-08 08:45] Diesfeldt commented on #796
Hi Bruno,

Thanks. I uploaded a text file which contains my question. See enclosed.

Hope to hear your response.

Best,

Han Diesfeldt

Verzonden vanuit Mail<https://go.microsoft.com/fwlink/?LinkId=550986> voor Windows 10

Van: bruno boutin<mailto:notifications@github.com>
Verzonden: maandag 8 juni 2020 10:40
Aan: jasp-stats/jasp-issues<mailto:jasp-issues@noreply.github.com>
CC: Diesfeldt<mailto:h

[2020-06-08 08:55] boutinb commented on #796
The file was apparently not correctly uploaded in GitHub.
Can you try again? You have to do that from the GitHub site. If GitHub refuse to load your file, you can first zip the file.

[2020-06-08 08:58] boutinb commented on #798
@vandenman Can you have a look?

[2020-06-08 09:10] AlexanderLyNL commented on #796
Alternatively, you can also copy paste the content of the text file into the comment box. Furthermore, if it concerns a bug or feature request, it would be good to provide us with the requested information as displayed in the issue template, so we have enough information to handle the problem, see also our guideline here:

https://jasp-stats.org/2018/03/29/request-feature-report-bug-jasp/

[2020-06-08 09:23] Diesfeldt commented on #796
Hi Alexander,

Thanks very much. This is my remark or question: JASP version 0.12.1
Input: t=2.166 n1 = 49 n2 = 536
If BF10 has been activated the plot says BF10 = 1.427, as in the Table. However, when activating  BF01, the Table correctly displays BF01 = 0.701, but the plot  says BF10 = 0.701. The pizza plot accordingly does not correctly display data|H1 and data|H0.

I can send you a copy of the

[2020-06-08 09:43] Diesfeldt commented on #796
Thanks very much, Alexander. I hope my remark is helpful. Thanks also for introducing me to JASP a few years ago.

Best,

Han

[2020-06-08 09:55] DrMarkGS commented on #786
Hi Bruno
Strangely it is working this morning. I did get the error last week!
I will keep the logging on in case it happens again.
Mark

From: bruno boutin <notifications@github.com>
Sent: 08 June 2020 08:15
To: jasp-stats/jasp-issues <jasp-issues@noreply.github.com>
Cc: Mark Goss-Sampson <M.A.Goss-Sampson@greenwich.ac.uk>; Mention <mention@noreply.github.com>
Subject: [EXTERNAL] Re: [jasp-stats/j

[2020-06-08 10:11] AlexanderLyNL commented on #796
Hi Han,

This is very helpful for us. Despite many testing rounds before releasing a new version some issues remain. It's thanks to user reports that the remaining issues get removed. I hope you enjoy JASP, and feel free to request any missing features. Thanks again for reporting the bug.

Cheers,
Alexander

[2020-06-08 10:52] JoKeyser commented on #758
I think this is great!

[2020-06-08 11:46] vandenman commented on #798
We can adjust the default size of the figure to handle larger variable names a bit better. In the meantime, you hover with the mouse over the figure, you should see a little icon in the bottom right corner. If you click on that icon and move the mouse around you can resize the figure.

![image](https://user-images.githubusercontent.com/21319932/84026820-48cbfe00-a98e-11ea-900a-7c8f6b26825f.png)

[2020-06-08 12:16] JohnnyDoorn commented on #794
Hi @K1NDRED ,

Could you give some screenshots of the different output? How big are these changes? The Bayesian ANOVA's use MCMC-sampling, so it is expected that there are small differences between subsequent runs, but these differences typically should not lead to qualitatively different conclusions.

Kind regards,
Johnny

[2020-06-08 13:15] boutinb commented on #786
@DrMarkGS Do you edit your csv file with Excel?

[2020-06-08 13:25] DrMarkGS commented on #786
Hi Bruno – yes all the time.
Mark

From: bruno boutin <notifications@github.com>
Sent: 08 June 2020 14:15
To: jasp-stats/jasp-issues <jasp-issues@noreply.github.com>
Cc: Mark Goss-Sampson <M.A.Goss-Sampson@greenwich.ac.uk>; Mention <mention@noreply.github.com>
Subject: [EXTERNAL] Re: [jasp-stats/jasp-issues] Data synch issue reappeared (#786)

<https://github.com/DrMarkGS>
This message originated

[2020-06-08 13:34] boutinb commented on #786
Hi @DrMarkGS. For your background information, we had some problems with the synchronization of csv file generated by Excel on Windows: when changing the file, Excel set temporary the file empty, making JASP reading an empty file. We tried to cope with this by trying to read the file after a timeout, but this timeout is of course quite subjective. I have a look if we can do something more clever.

[2020-06-08 13:36] DrMarkGS commented on #786
Cheers – good luck

From: bruno boutin <notifications@github.com>
Sent: 08 June 2020 14:35
To: jasp-stats/jasp-issues <jasp-issues@noreply.github.com>
Cc: Mark Goss-Sampson <M.A.Goss-Sampson@greenwich.ac.uk>; Mention <mention@noreply.github.com>
Subject: [EXTERNAL] Re: [jasp-stats/jasp-issues] Data synch issue reappeared (#786)

This message originated from outside the University. Treat links and

[2020-06-08 18:27] #738 closed

[2020-06-08 21:26] FelipeMAffonso commented on #789
Other important / nice reference:

https://journals.sagepub.com/doi/10.1509/jmr.12.0420

[2020-06-08 21:28] FelipeMAffonso commented on #790
Perhaps this is also useful http://www.jeremydawson.co.uk/slopes.htm

[2020-06-09 07:21] tressoldi opened #800 "Feature request: Bayesian Meta-Analysis robustness check"
Is it possible to add a "robustness check" with graph to the Bayesian Meta-Analysis module?

[2020-06-09 08:01] boutinb commented on #698
It is done I think.

[2020-06-09 08:01] #698 closed

[2020-06-09 12:10] JorisGoosen commented on #681
Without more information from either of the two users with this specific problem @bont007 or @lilymouth I really cannot do anything.

[2020-06-09 12:10] #681 closed

[2020-06-09 14:48] K1NDRED commented on #794
Hello,

Thank you for your response. Upon further testing, the differences aren't large enough to change the qualitative conclusions.

This might not be the place but I'm not sure I understand why using the MCMC-sampling causes these variations.

Cheers

[2020-06-09 15:24] JohnnyDoorn commented on #794
Hi @K1NDRED ,

MCMC-sampling is a computational technique that is at the core of many Bayesian analyses. This technique uses random number sampling in order to approximate the posterior distribution, which is what Bayesian analyses are based on. Because of the sampling, every time you run an analysis the numbers will vary slightly (but should not lead to qualitatively different conclusions).

I wi

[2020-06-09 15:24] #794 closed

[2020-06-09 15:44] lindemann09 commented on #780
Yes, I can confirm it is latex-font issue. The bug occurs *only*, if `texlive-fonts-recommended` is installed. I noticed the same bug in some ggplot-related packages. For instance,

[code]

[2020-06-09 16:22] JorisGoosen commented on #780
Aah so this happens outside of JASP as well? Hmm.

I had already narrowed it down a little bit more to the pkg `tex-gyre`, just removing that fixes the problem here in my VM. Im trying out specifying some fonts in our ggplot interface to see if that helps.

@vandenman if you install `tex-gyre` I assume you also get the problem locally?
Maybe we ought to open a bugreport with the ggplot folks?

[2020-06-09 16:39] lindemann09 commented on #780
Yes, I can confirm that. It's sufficient to uninstall the tex-font that is used by `ggplot`. In the case of JASP `apt remove tex-gyre` is a workaround.

[2020-06-09 17:14] JorisGoosen commented on #780
So Ive opened a bugreport with ggplot because if it also breaks outside of jasp and without flatpak there is something worse going on.

[2020-06-09 18:22] JorisGoosen commented on #780
And there I got the following response, which mimicks what @vandenman might have mentioned earlier:

Would it be hard to switch to using `ragg` ? @TimKDJ and @vandenman ?
I like the added benefit of it never opening windows.

[2020-06-09 18:54] Golden-Retriever-1 opened #801 "Bayesian principal component analysis (PCA) and exploratory factor analysis (EFA) for JASP"
* Enhancement: Providing Bayesian principal component analysis (PCA) and Bayesian explorative factor analysis (EFA) as first statistical software with GUI
* Purpose: Calculating Bayesian PCA and Bayesian EFA
* Use-case: Several!

**My feature request is simply related the issue that I would love to calculate a Bayesian PCA and a Bayesian EFA. This is the reason why I kindly ask if this will ever b

[2020-06-09 20:43] klc108 opened #802 "Feature request: brms"
Hi JASP Team,
Would it be possible to implement brms in JASP for Bayesian modeling within JASP? The No U-Turn Sampler (NUTS) for MCMC is extremely fast and efficient and the brms front end to the Stan language makes everything much easier for the  Bayesian analyst than using Stan or using JAGS.

Thank you for recently adding JAGS. It would be great to add brms in the next JASP version.
Gracias,
kl

[2020-06-10 07:04] boutinb commented on #801
@vankesteren Can you answer this?

[2020-06-10 08:06] vandenman commented on #780
Well, it shouldn't be hard to try out but it would require a lot of testing and there might be other issues we just don't know about yet. Remember when we wanted to switch to `svg`?

[2020-06-12 08:03] #758 closed

[2020-06-15 03:21] DocGavin opened #803 "unexpected termination in SEM"
Hi I don't understand what went wrong here.

Error in lavaan::lavTestLRT(semContainer[['semResultsList']]$object$semResults): lavaan ERROR: model did not converge

Stack trace

this is the data command file
[cn-sdq sem.txt](https://github.com/jasp-stats/jasp-issues/files/4777878/cn-sdq.sem.txt)
this is the data i am using
[CN_SDQ2510-19Intervention&Control.xlsx](https://github.com/jasp-stats/jasp-

[2020-06-15 12:37] pafro1767 opened #804 "Error trying to create a Flexplot Iin Visual Modeling"
* JASP version: JASP 0.12.2
* OS name and version: Windows 10, Version 10.0.18363 compilation 18363. 64-bit.
* Analysis: Visual Modeling -> Flexplot
* Bug description:
This analysis terminated unexpectedly.
Error in parse(text = x, keep.source = FALSE): :1:16: unexpected symbol
1: PUNT_TOTAL~V2. sexo
                   ^
Stack trace
withCallingHandlers(expr = analysis(jaspResults = jaspResults, da

[2020-06-15 14:12] hugoquene opened #805 "Double Y axis on histogram + density"
* Enhancement: add second axis to histogram+density, one (left) for counts and one (right) for density.

* Purpose:
Simultaneous plot of histogram and of density with adequate scales for both concepts displayed.

* Use-case:

Open data set: Data library > Descriptive Stats > Sleep study
Choose Descriptive Stats > Plots > Basic plots
Tick Distribution plots, this gives a histogram with Counts on th

[2020-06-15 16:27] TarandeepKang opened #806 "Support new statistical tests implemented in the bayes4psy package"
* Enhancement: support the new statistical tests in this package
* Purpose: from the paper, it looks as if the tests available, as well as future planned additions, would be broadly useful in the social and behavioural sciences
* Use-case: common types of data analysis in psychology

**Is your feature request related to a problem? Please describe.**

There are some of the tests in this package alr

[2020-06-15 16:33] TarandeepKang commented on #806
Apologies the typos, my dictation software is playing up today! In the "Describe Alternatives" section it is meant to read: "the only alternative is manual programming using R, which is not suitable for those who cannot program yet."

[2020-06-15 19:18] EJWagenmakers commented on #806
Hi TarandeepKang,

Thanks for the heads-up. I did see this paper, and wondered why the authors didn't approach us to make a JASP module out of it. Anyway, the authors use the ROPE procedure, and in the future we'll revamp the Bayesian analyses so that this information can be extracted easily. Since this is on our agenda I am closing this issue. Again, thanks for pointing this out!

Cheers,
E.J.

[2020-06-15 19:18] #806 closed

[2020-06-15 19:22] EJWagenmakers commented on #801
I can answer it. Yes, these are excellent suggestions and we ought to work on this.

[2020-06-15 19:23] EJWagenmakers commented on #801
In general, rest assured that if a frequentist analysis does not yet have a Bayesian counterpart, it is something that we wish to fix.

[2020-06-15 19:25] EJWagenmakers commented on #800
I think the reason we did not implement this from the get-go is because it will be very (very) slow. But it could be interesting. Any thoughts, @quentingronau @jstbcs @sophieberkhout ?

[2020-06-15 19:35] klc108 commented on #802
Thank you, EJ. That's great news!

All the best,
Ken (klc108)

Kenneth L. Cavanaugh, Ph.D.
Research Professor
Institute of Science, Technology & Public Policy
Maharishi International University MR 774
1000 North 4th Street
Fairfield, IA 52557
office: 641-209-5510

On Mon, Jun 15, 2020 at 2:21 PM EJWagenmakers <notifications@github.com>
wrote:

[2020-06-15 20:27] pyoka opened #807 "JASP crashed"
* JASP version: 0.12.2
* OS name and version: Windows 10 (10.0)

* Analysis:
* Bug description:
* Expected behaviour:

#### Steps to reproduce:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

-----------------------------------------------------------------------

### Debug information:
**Engine # 0** process  is *running* and it's state is *idle*.
**Engine # 1** process

[2020-06-16 06:42] boutinb commented on #804
Hi @dustinfife, can you have a look to this problem?

[2020-06-16 06:45] boutinb commented on #805
@Kucharssim, can you have a look to this request?

[2020-06-16 06:48] boutinb commented on #807
Hallo @pyoka, could you give a clear reproduction path of your problem: does the crash occur when you just open JASP, or open JASP with a file, or when starting some analysis?

[2020-06-16 06:49] boutinb commented on #803
@vankesteren Can you have a look?

[2020-06-16 06:50] boutinb commented on #785
@EJWagenmakers To whom could we assign this feature request?

[2020-06-16 06:53] boutinb commented on #784
@EJWagenmakers Who should be assigned for this feature?

[2020-06-16 08:37] AlexanderLyNL commented on #785
The CI for descriptives are based on the uniform prior, because they are to be used to describe the data only. In the analyses you can find posterior plots, there the shown credible intervals are based on other priors.

[2020-06-16 09:33] Kucharssim commented on #805
Dear @hugoquene,

thank you for your suggestion!

I understand the desire to have different scales for 'counts' and 'density', but I am not in favor of this approach.

To explain why: it seems to me that you imply that the bars of the histograms always display counts, regardless of whether `Display density` was checked or not. This is actually not the case. In case `Display density` is checked, th

[2020-06-16 13:00] JoKeyser commented on #780
Not sure if related, but I had a similar problem on Ubuntu 18.04, see #682.

The solution that worked for me was refreshing the font cache:
[code]

[2020-06-16 13:16] JorisGoosen commented on #780
Certainly worth a try!

I will check it out when I have the time. Maybe @lindemann09 has it time before me?

[2020-06-16 13:47] lindemann09 commented on #780
yes, it does indeed solve the issue for JASP. Thanks @JoKeyser.

Other ggplot based software, such as the library GGally, are however still affected, even if refreshing the system and local font cache.

[2020-06-16 15:05] AlexanderLyNL commented on #805
@Kucharssim I’m reopening the issue. For educational purposes, we might be able to provide a bit more information in the graph. Let's discuss this further tomorrow during our meeting.

[2020-06-16 16:17] #780 closed

[2020-06-16 16:20] JorisGoosen commented on #780
So Ive added this fix to the linux install page: https://jasp-stats.org/linux-installation-guide/

[2020-06-16 18:27] AugustOlsson commented on #785
Hi Alexander,

When perfoming a bayesian ANOVA I can indeed get model averaged posteriors distribution and/or single model posterior distribution, with density on the y-axis. But there is (as far as I can find) no option to get a plot of the data (i.e. differences in the dependent variable) where the CI are based on information from the model.

[2020-06-16 23:09] DocGavin commented on #803
Hi I tried a different model and got the same kind of error

This analysis terminated unexpectedly.

Error in lavaan::lavTestLRT(semContainer[['semResultsList']]$object$semResults): lavaan ERROR: model did not converge

Stack trace

To receive assistance with this problem, please report the message above at: https://jasp-stats.org/bug-reports

I created manifest variables in SPSS and imported them

[2020-06-17 08:53] boutinb commented on #763
HI @Bobuch, I have testes your JASP file with the new 'development' version, and it seems to work. But maybe if, you can test it also:
https://static.jasp-stats.org/Nightlies/MacOS/JASP-nightly-stable-aa7871b0a6f4bf29e841ad9d9f360867f0973d66.dmg
A real release should come soon.

[2020-06-17 09:54] quentingronau commented on #800
Yes, that would be a nice addition, but one would need to think carefully about how to do this in a way that this is not too slow.

[2020-06-17 11:03] TimKDJ commented on #69
https://github.com/jasp-stats/jasp-desktop/pull/4129

This will be included in 0.13 which is due in a couple of weeks.

[2020-06-17 11:03] #69 closed

[2020-06-17 11:05] TimKDJ commented on #697
https://github.com/jasp-stats/jasp-desktop/pull/4130

[2020-06-17 11:05] #697 closed

[2020-06-17 13:17] Bobuch commented on #763
Dear Bruno,

I will test it shortly. And will let you know. Thank you.

————————
R.R.H., Ph.D.
Regents Professor

On Jun 17, 2020, at 3:54 AM, bruno boutin <notifications@github.com> wrote:

﻿

CAUTION: This email originated from outside of the University. Do not click links or open attachments unless you recognize the sender and know the content is safe.

HI @Bobuch<https://urldefense.proofpoint.

[2020-06-17 13:46] dustinfife commented on #804
It seems you are trying to visualize a categorical outcome variable. There's *some* support for that in flexplot in R (e.g., for logistic regression), but not in JASP as of right now.

@boutinb: is there a way to do a conditional restriction in a box? I want users to be able to specify categorical variables IF there's no other variables in the Independent Variable(s) or Paneled Variable(s) box. Ot

[2020-06-17 16:20] Bobuch commented on #763
Dear Bruno,

It works beautifully!!!! I wish I could do both Item and Subject as random effects. That is so cool that it now has R!!!

R

On Jun 17, 2020, at 8:14 AM, Heredia, Roberto R <rheredia@tamiu.edu<mailto:rheredia@tamiu.edu>> wrote:

Dear Bruno,

I will test it shortly. And will let you know. Thank you.

————————
R.R.H., Ph.D.
Regents Professor

On Jun 17, 2020, at 3:54 AM, bruno boutin <n

[2020-06-17 18:13] ilias-nikolakopoulos opened #808 "Unexpected termination of Bayesian meta-analysis"
JASP version: 0.12.2.0
* OS name and version: Windows 10 Home version 1909
* Bug description: "This analysis terminated unexpectedly" message in Bayesian meta-analysis.

This is the exact message that appears instead of the results when I insert data in the effect size and standard error fields:

[code]

Thank you!

[2020-06-18 06:56] boutinb commented on #808
Hi @ilias-nikolakopoulos Could you give us your JASP file, or a data file with a precise description of what you do to get this error?
NB: To send a file, make it a zip file and drag & drop it into this issue with GitHub.

[2020-06-18 08:08] boutinb commented on #804
I have just tried to reproduce this problem with an ordinal in Dependent variable and some nominals in Independent variables, and I don't get any error. Maybe to be sure could you send the data to dustin and me directly?
For your question, @dustinfife, you can only specify the allowed kinds of columns statically now. I will make an issue to make it dynamically so that you can do something like tha

[2020-06-18 09:50] pafro1767 commented on #804
Sure! Shall I send them to the @uva.nl email shown at your profile page?
Thanks a lot for helping me!

[2020-06-18 10:01] boutinb commented on #804
Yes!

[2020-06-18 13:56] ilias-nikolakopoulos commented on #808
[vascular access complications.zip](https://github.com/jasp-stats/jasp-issues/files/4798985/vascular.access.complications.zip)

I basically open the file, go to the Bayesian meta-analysis module, and import the ES column in the Effect Size field and the SE column at the Effect Size Standard Error field.  Then I get that message.

Of note, the exact same process in the Classical meta-analysis colum

[2020-06-18 15:48] JorisGoosen commented on #807
And could you perhaps add the logs?
If you turn on logging in `file menu -> preferences -> advanced -> logging`.
There is also a button there that takes you straight to the logfiles.

[2020-06-18 20:33] NikitaKhromov-Borisov opened #809 "bootstrapped post hoc CI"
* JASP version: 0.12.2
 Win
* OS name and version: Win10
* Analysis: ANOVA, Bootstrapped Post Hoc Comparisons
* Bug description: sometimes bootstrapped CI are not calculated, see the attached example
* Expected behaviour: thеу should be presented
[RotGLUC.zip](https://github.com/jasp-stats/jasp-issues/files/4801024/RotGLUC.zip)

#### Steps to reproduce:
1. Go to '...'
2. Click on '....'
3. Scroll

[2020-06-18 20:39] NikitaKhromov-Borisov opened #810 "CI for the effect size"
* JASP version: 0.12.2
 Win
* OS name and version: Win10
* Analysis:  ANOVA post hoc comparisons
* Bug description: Cohen's  are calculated without CI
* Expected behaviour: they are extremely desirable, without then the point estimations have no sense

#### Steps to reproduce:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

[2020-06-18 20:58] NikitaKhromov-Borisov opened #811 "Contingency coefficients"
* JASP version: 0.12.2
 Win
* OS name and version: Win10
* Analysis: Contingency tables.
--
* Bug description: sometimes phi coefficient is not calculated. See attached file. The report appears: Value could not be calculated - At least one row or column contains all zeros, whereas there are no such row or column
* Expected behaviour: it should be calculated. Moreover, any parameter, as well as p-v

[2020-06-18 21:03] NikitaKhromov-Borisov opened #812 "credible estimates"
* Enhancement: calculate and present Bayesian credible intervals, not frequentist confidence intervals.
* Purpose: to have full Bayesian methodology, not it hybrid with the frequentist one.
* Use-case:

**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2020-06-19 18:54] luisbm1634 commented on #797
Hi Bruno,

Attached are sample JASP files, one from JASP 0.12.2 and the other from
JASP 0.11.1. I ran the same data set (also attached) through an identical
analysis in each version. The data set is just a set of 3 different IVs
(each with 2 levels), a single DV, and a single CV. IVs are dummy coded.
DVs are data that I generated using a random number generator.

To ensure that you can see the out

[2020-06-21 18:35] pyoka commented on #483
Help me
How can you use JASP to analyze data with three 3 Moderating variables. For example the Moderating effects of W,X,Y on the relationship between A and B .
A- independent variable
B- Dependent variable
W,X and Y - are moderating variables
Your help will highly be appreciated
Hastings Munyenyembe
Student
JASP user

[2020-06-22 15:57] boutinb commented on #797
Hi @luisbm1634 , the file was not sent. The best way to do it, is to make a zip file, and to drag & drop it in this issue with GutHub.

[2020-06-22 15:59] boutinb commented on #808
@sophieberkhout Can you answer this issue?

[2020-06-22 16:01] luisbm1634 commented on #797
Hi Bruno,

I mistakenly just attached the file to my email response rather than uploading via GitHub. They should now be available.

-Luis

[2x2x2_ANCOVA.zip](https://github.com/jasp-stats/jasp-issues/files/4814279/2x2x2_ANCOVA.zip)

[2020-06-22 16:08] boutinb commented on #797
Hoi @JohnnyDoorn Can you have a look to the data?

[2020-06-22 16:17] boutinb commented on #812
@EJWagenmakers could you answer this request?

[2020-06-22 22:39] EJWagenmakers commented on #812
There are some analyses where the credible interval information is not as prominently displayed as we'd like. This will be handled in the revamp of the Bayesian procedures that we have planned -- should be done within a year or so.

[2020-06-22 22:39] #812 closed

[2020-06-23 11:03] JorisGoosen commented on #808
Ah, @ilias-nikolakopoulos could it be that your username or the directory where JASP is installed has greek characters in it?

[2020-06-23 19:37] cmaltezou00 commented on #458
Hey there, I'm really interested in the feature of discriminant function analysis too. Has any work started on it yet or still in the backlog?

[2020-06-23 19:45] EJWagenmakers commented on #458
Backlog, but we'll get there

[2020-06-23 19:45] EJWagenmakers commented on #458
Thanks for the reminder though!

[2020-06-23 20:31] ilias-nikolakopoulos commented on #808
You are right!! I actually tried it on my other computer and it work. Thanks a lot for the guidance!!

[2020-06-23 23:00] JorisGoosen commented on #808
Aah that is good ^^

I will have to have a look at why Ellenica is messing up bayesian meta-analysis then, Im guessing `callr` is the problem there.

But at least you can now use it!

[2020-06-24 01:32] ilias-nikolakopoulos commented on #808
Haha no worries! Glad you found out and thanks for helping me out. You guys make Bayesian stats so easy for non-statisticians and I thank you for that as well!

[2020-06-24 11:31] ghost opened #813 "Different CFA results with different JASP versions"
Hello,
My lab was trying to run a CFA using the lavaan SEM capabilities in JASP, but we noticed something strange. We saw that, using the same exact data, syntax, and setting, we received noticeably different results when using two different versions of JASP. Additionally, we were unable to obtain Mardia’s coefficient using 0.12.2, with a message on the output stating that “Not all used variables

[2020-06-24 12:01] mservantufc opened #814 "Custom contrast for ANOVA: cannot specify just 1 contrast"
JASP version: 0.12.2

* OS name and version: Windows 10
* Analysis: Custom contrast
* Bug description: when specifying only 1 contrast, the following warning appears in the contrast table: "Please specify an additional contrast".
* Expected behaviour: JASP should be able to compute only one contrast, there is no reason for needing to specify an additional contrast.

JASP file:

[therapie.zip](http

[2020-06-24 13:16] danijela-i commented on #475
I would also love to see Fishers LSD added to the ANOVA post-hoc options. Is there any update on this?

[2020-06-24 19:28] EJWagenmakers commented on #813
Thanks for reporting this.
@vankesteren : this may relate to another report about missing values, the one we got over email. Would be good to sort this out.
E.J.

[2020-06-25 05:52] narcilili commented on #629
Hello @FransMeerhoff,

JASP version: 0.12.2

OS name and version: windows 10

Bug description: the expected counts are inverted as shown in the photo below

[2020-06-25 10:02] TimKDJ commented on #629
Thanks for the report @narcilili this will be fixed when 0.13 hits

[2020-06-25 12:47] FelipeMAffonso commented on #782
Hi @JohnnyDoorn

I am testing JASP 0.13 and I am having some trouble specifying contrasts.

When I create a custom contrast and click "add contrast", the "contrast tables" disappear, and the contrast is not added. So I cannot create sets of Comparisons unless I use the standard comparisons that are already in JASP (e.g., deviation, simple, etc.). But I can't do it using the custom ones.

In additi

[2020-06-25 14:20] JohnnyDoorn commented on #782
Hi @FelipeMAffonso ,

1. Do you have a JASP file where you encounter the error? Because for me this contrast specification works. If I understand correctly you get the error "Please specify non-zero contrast weights". and you cannot change the contrast weights because the input field disappears?

2. Yes, that would be a great functionality, and it's on my todo list for JASP, it will not be in 0.13

[2020-06-25 14:35] FelipeMAffonso commented on #782
@JohnnyDoorn

What I was trying to do was to add multiple contrast specifications. For example. If I go to Contrasts and click "Simple" (for that 3x2x2 design), I get 11 comparisons. Like this:
![image](https://user-images.githubusercontent.com/57021043/85739073-7fb04c80-b6ce-11ea-840f-dee3b350bd3a.png)

But I want these comparisons to be custom contrasts. So, suppose I am trying to do the 1 0 -1

[2020-06-25 15:25] FelipeMAffonso opened #815 "Audit Module: check the frequency of last digits"
* Enhancement: in addition to Benford's law, it would be useful to check the frequency of last digits.
* Purpose: Improve fraud detection.
* Use-case: Example: http://datacolada.org/77

Thanks!

[2020-06-25 16:24] JohnnyDoorn commented on #782
Hi @FelipeMAffonso ,

The error message appears because the second column only contains zeroes - the moment you specify any contrast weights for comparison 2, this message should go away. Have you tried adding those in the widget? But maybe I am misunderstanding, do you have a screenshot of your input panel?

Kind regards
Johnny

[2020-06-26 07:18] MaxvanderVelde opened #816 "It is impossible to refer to a to-be-create variable when using he r-version of the column-creator."
JASP-Version: 0.12.2.0

* Enhancement: Allow the column creator(r-version) to use the to be created variable.
* Purpose: Increase ease of use and
* Use-case:
In the example below, the to be created variable is named “New”. When I attempt to specify this variable as “New<-2*day1”, where day1 is a variable of the scale-measurement level, I get a warning message that states that a computed column can

[2020-06-26 07:25] MaxvanderVelde opened #817 "The drag and drop column creator is awkward when computing variables made up from more than 2 existing variables."
* JASP version: 0.12.2.0
* OS name and version: Windows 10

* Bug description:
When using multiple(more than 2) variables to create a new variable through the drag and drop version of the column-creator, brackets are created automatically and uncontrollably leading to confusing and, sometimes, incorrect notations for the to be conducted transformation. In the picture below I attempted to sum a few

[2020-06-26 07:30] MaxvanderVelde opened #818 "It’s impossible to conduct transformations on variables that are not of the scale type through the non-r version of the column creator, making it difficult to create columns containing interactions and/or dummies."
* Enhancement: Allow transformation of categorical variables through the column creator
* Purpose: Allows to create dummies/interaction terms outside of analyses
* Use-case:
Often, either out of direct interest to the currently conducted study or to check assumptions(e.g. ancova) interactions terms are created and tested for significance. Furthermore, to provide a better “picture” of the data bein

[2020-06-26 07:36] MaxvanderVelde opened #819 "Making including/excluding the intercept in an analysis less easy"
* Enhancement: Relocate the possibility to include/exclude the intercept in analyses
* Purpose: To not confuse beginning statisticians
* Use-case:
As we discussed, it might not be a good to idea to make it this easy to exclude the intercept through analyses, as it might confuse beginners. Given that it’s use is quite limited, the option seems to stand out a bit to much, given the fact that it ofte

[2020-06-26 07:44] MaxvanderVelde opened #820 "Casewise diagnostics differ between JASP(Version 0.12.2.0) and SPSS (version:25.0.0.1 )"
* JASP version: 0.12.2.0
* SPSS version: 25.0.0.1
* OS name and version: Windows 10
* Analysis: Casewise diagnostics for linear regression

* Bug description:
The Casewise diagnostics presented by the two programs differ(other cases and values for the standardized residuals), while predicted values are equal.

JASP-Version:
![image](https://user-images.githubusercontent.com/67456660/85833014-586e8

[2020-06-26 08:00] Kucharssim commented on #820
As far as I can see the difference is between the standardized residuals, right?

This is probably because SPSS reports standardized residuals, JASP reports studentized residuals (which is more appropriate since the variance of the errors is unknown). We should explain it in the helpfile though.

[2020-06-26 08:27] MaxvanderVelde commented on #820
That explains it, thank you!

[2020-06-26 08:37] AlexanderLyNL commented on #816
Ah yes, the assignment to the column name is automatic. If you change the code to

`2*day1`

then that should do it. Please close this thread if this works out for you.

Cheers,
Alexander

[2020-06-26 08:42] MaxvanderVelde commented on #816
The main point of the request was to add the option to also compute it my specifying the to-be created variable. This would also be helpful in specifying if/else/else statements (making it more clear what is actually happening).

[2020-06-26 09:57] skollgrim opened #821 "Network analysis manual colors not affecting variable names"
* JASP version: 0.12.2

* OS name and version: Windows 10
* Analysis: When using network analysis and enabling the network plot. The variable names (to the right of the nodes) should have a small dot indicating which group is what color.
* Bug description: The dot which color should indicate the group is the same for all the variables variables when having manual color selected, but works as inten

[2020-06-26 10:36] skollgrim opened #822 "Swedish letters not being outputed properly in Coefficient table"
* JASP version: 0.12.2

* OS name and version: Windows 10
* Analysis: When doing a linear regression with variables with Swedish letters (Ä, Ö, Å) JASP should be able to output the letters.
* Bug description: The output table specifically for _coefficients_ has problems writing the variables with the Swedish letters, JASP can correctly output the letters in other tables but in this specific table

[2020-06-26 11:05] purushottamb opened #823 "Blurred font"
Hi,
Please help me with this issue.
Since the latest update, the JASP interface on my screen has turned to blurred fonts.
Please find attached screenshot. It is really difficult to develop models. The strain on the eyes.
The previous version worked well. Now I can't find an earlier version on the website.
My Dell XPS display resolution is 3200 x 1800.
![2020-06-26 (3)](https://user-images.githubus

[2020-06-26 11:11] AlexanderLyNL commented on #817
One way to do this is by selecting `*` to construct a product, then select `+` to construct the sum. In the `...` of the sum, you can add more than just one variable. Perhaps we should be clearer about this. To provide a brief overview, you can add into the `...` the following:
- variables `var1`
- just the operation, thus, just `...+...`
- variables and operations, such as, `var1 + var2,` which y

[2020-06-26 11:14] AlexanderLyNL commented on #819
Would it be acceptable if this option is under the "Component" and "Model Terms" block instead?

[2020-06-26 11:19] AlexanderLyNL commented on #820
@MaxvanderVelde to add a JASP file to a thread you have to compress it into a zip file first before dragging it into the comment box.

[2020-06-26 11:25] skollgrim opened #824 "Network plot resizing back to default size when changing it's options."
* JASP version: 0.12.2

* OS name and version: Windows 10
* Analysis: A minor annoyance, but I feel it's worth bringing it up.
* Bug description:  When in network analysis and you are using the network plot, making changes to the size of the network plot will not stay if you change it's options as it will output in the default size again.
* Expected behaviour: Be able to change the network plot op

[2020-06-26 11:30] JohnnyDoorn commented on #782
Hi @FelipeMAffonso ,

I just checked with my 0.13 version, and for me the custom contrasts work:
![Screenshot from 2020-06-26 13-29-07](https://user-images.githubusercontent.com/15704203/85852552-1ce3b180-b7b1-11ea-8f7f-688b807dd89e.png)

Please let me know if you are still experiencing issues!

Kind regards
Johnny

[2020-06-26 11:32] Kucharssim commented on #819
@MaxvanderVelde @AlexanderLyNL I just tried this, moving the checkbox below the model terms section would look like this
![Screenshot 2020-06-26 at 13 28 24](https://user-images.githubusercontent.com/7093546/85852537-15bca380-b7b1-11ea-812a-5d4f96663d06.png)

In my view it is already an improvement, as it does not hit you in the eye right when you expand the section. I can bring this change while

[2020-06-26 11:45] AlexanderLyNL commented on #816
I have the following use-case in mind. You want to double a variable named `contNormal` which is positive or negative, but eventually you only want to retain the positive variables, and set the negative values to zero. To do so:

[code]

The last statement in the R code is what gets assigned. I'm happy to provide the R code for other use-cases, if you describe them here.

[2020-06-26 11:47] MaxvanderVelde commented on #819
Sounds good to me!

[2020-06-26 11:48] MaxvanderVelde commented on #817
I would indeed suggest adding some additional information somewhere in JASP(maybe under the "i" ?). Thank you!

[2020-06-26 11:49] #817 closed

[2020-06-26 11:49] MaxvanderVelde commented on #816
Thank you, the example is clear!

[2020-06-26 11:49] #816 closed

[2020-06-26 11:50] Kucharssim commented on #820
Sorry - I am reopening the issue so that I don't forget to put it inside JASP. I will close it once we are sure it's in.

[2020-06-26 11:50] Kucharssim commented on #819
Great!

Sorry - I am reopening the issue so that I don't forget to put it inside JASP. I will close it once we are sure it's in.

[2020-06-26 13:32] boutinb commented on #823
When did you download this version?

[2020-06-26 13:33] purushottamb commented on #823
probably a month ago.

[2020-06-26 13:34] boutinb commented on #823
We have changed the version on Windows some weeks ago, that should solve this issue.

[2020-06-26 13:35] purushottamb commented on #823
oh okay.
I will check with the new install and let you know.

[2020-06-26 13:46] purushottamb commented on #823
New Install worked well.
This version has a clear font.
Thank you :)

[2020-06-26 14:02] vandenman commented on #821
Thanks for reporting this error!

I do believe it was reported before (https://github.com/jasp-stats/jasp-issues/issues/702#issuecomment-624862487)

Could you see if the issue persists with the latest nightly version of JASP? Available from http://static.jasp-stats.org/Nightlies/

[2020-06-26 14:14] #629 closed

[2020-06-26 14:43] #823 closed

[2020-06-26 16:00] #797 closed

[2020-06-26 16:05] FelipeMAffonso commented on #782
Hi @JohnnyDoorn

I have checked and it is working. I want to apologize for posting here without double checking what the issue was.

Here's what happened: because I used 3 factors, the input for the custom contrasts was not fully appearing. When the second column of custom contrasts "appeared", it was hidden (I had to scroll to the right to find it). So it works. It's just what I wasn't seeing it.

[2020-06-27 05:26] syakinad opened #825 "model plot not properly working"
* JASP version: 0.12.2.0

* OS name and version: windows
* Analysis: mediation and visual modelling plot
* Bug description: his analysis terminated unexpectedly.

Error in png(tmpFile): unable to start png() device

Stack trace
tryCatchOne(expr, names, parentenv, handlers[[1]])

doTryCatch(return(expr), name, parentenv, handler)

withCallingHandlers(expr = analysis(jaspResults = jaspResults, datas

[2020-06-27 08:17] skollgrim commented on #821
Running the latest windows 64 bit stable zip nightly version does indeed solve the issue I reported, great stuff.

Another pet peeve I also have in the graphical options is the inability to select multiple variables I want to assign to a color or to a group, as it stands now I have to manually select every variable.

[2020-06-27 08:41] vandenman commented on #821
Happy to hear that it works!

I agree that it is a bit inconvenient. Perhaps @boutinb can think of a way to make that easier?

[2020-06-27 12:14] asdeden opened #826 "Program does not start on Elementary OS"
* JASP version: 0.12.2 installed via flatpak

* OS name and version: elementary OS 5.1.5 Hera
* Analysis:
* Bug description: Program does not start.
* Expected behaviour:

The error code is below:

Setting special options for software rendering (aka safe graphics).
Making new argument list for Application startup: org.jaspstats.JASP --disable-gpu
Starting JASP

(process:2): Gtk-WARNING **: 15:12:5

[2020-06-27 18:48] hpooch20 commented on #776
boutinb thanks for your comment!

[2020-06-29 06:47] boutinb commented on #825
@syakinad Please give an exact description (step by step) of what you are doing to get this error. If possible send also the data or the JASP file (in a zip format).

[2020-06-29 08:33] boutinb opened #827 "When a Variables List has an extra component, give the possibility to set this component to all selected variables"
This feature comes from a comment in #821
* Enhancement:
A Variables List may have extra component: a checkbox or a dropdown for example. It would be user-friendly to be able to select some variables, and by setting the value of one extra component of one selected variable, to set this value to all components to all selected variables.
* Purpose:
To set in one click all selected components instead

[2020-06-29 08:36] boutinb commented on #821
I have made an apart issue (#827) for the assignment of a color to all selected variables.

This issue can be then closed.

[2020-06-29 08:36] #821 closed

[2020-06-29 11:38] asdeden commented on #826
Dear Goosen,

Thank you for your reply.

There is "Nederlands" instead of "Dutch" in "Language & Region" settings of Elementary OS.
I both installed missing language and set my system language to "Dutch" by selecting "Nederlands". It still does not work. Could it be due to this name differece in the settings?

Terminal returned same error:
flatpak run org.jaspstats.JASP
Setting special options for

[2020-06-29 15:14] JorisGoosen commented on #826
Well, It shouldn't be necessary to set system language to dutch/nederlands. But on some systems there is a difference between a "locale" and a "language" so maybe you are still missing the "dutch locale".

It might be named "region" or something on your OS.

But otherwise I can install elementary os somewhere and check it out. But Im not sure when I have time for that.

[2020-06-29 16:10] YvonneOberholzer opened #828 "BF of one-sample wilcoxon seems random"
* JASP version: 0.12.2
* OS name and version: Windows 10 Home
* Analysis: Bayesian One-Sample Wilcoxon Test
* Bug description: The analysis yields different Bayes Factors every time I run it (same data). So far, the BFs have ranged from something around 4'000 to 9'000'000.
* Expected behaviour: Somehwat consistent BFs.

#### Steps to reproduce:
1. Go to 'T-Tests'
2. Click on 'Bayesian One-Sample T

[2020-06-29 17:40] andreariccieu opened #829 "Failed Correlation Analysis"
This is the bug
I have a separate request (since you have the file) : *if possible* please suggest me if there is a **turnaround** to execute a PCA on these data . Many thanks!

* JASP version: 0.12.2

* OS name and version: MAC OSX 10.15.5
* Analysis: Correlation
* Bug description:
Error in names(result) <- statsNames: 'names' attribute [5] must be the same length as the vector [3]

Stack trace
t

[2020-06-29 18:49] BKTP2020 commented on #795
Hi all,

it's seems as if I'm not experiencing the same bug. I'm currently working on my thesis, so it would be great if the bug could be solved soon. The above link to a test version seems to be expired.

I'm wondering about the little "a" for the grouping variable.
Regarding the details of analysis:

variable "Fehltage" contains all records (median is 0)
grouping varibale "Gruppe Fehltage" conta

[2020-06-30 07:44] #819 closed

[2020-06-30 07:44] #820 closed

[2020-06-30 09:09] BLueBLack053 opened #830 "Engine crashed error"
* JASP version: 0.12.2

* OS name and version: Windows 10
* Analysis: SEM (and any other analysis)
* Bug description: "The engine crashed while trying to run this analysis"
* Expected behaviour:

#### Steps to reproduce:
1. Open ANY DATA
2. Click on ANY ANALYSIS
3. Just I can see "The engine crashed while trying to run this analysis" error message on Results Screen

![20200630_172346](https://user

[2020-06-30 09:57] #666 closed

[2020-06-30 09:58] JorisGoosen commented on #578
This has been implemented.

[2020-06-30 11:04] cmgreene opened #831 "JASP mixing up columns from csv datafile"
* JASP version: 0.12.2
* OS name and version: MacOS Catalina version 10.15.5
* Analysis: All
* Bug description: This is a bit odd, so bear with me. I have a largeish data file (~3700 cases, 120 variables) in csv format. I've been working with this file in JASP for several days with no issues (apart from very, very slow estimation of correlations, which I believe has been reported elsewhere). Today

[2020-06-30 11:21] JohnnyDoorn commented on #828
Hi @YvonneOberholzer,

The algorithm used for the Bayesian Wilcoxon tests is heavily dependent on MCMC-sampling because of the data augmentation that is needed in the analysis. Espcially if there is a large effect size, there will be quite some fluctuation of the Bayes factor, but the qualitative conclusions should not differ from each other. Looking at your file, it seems that all Bayes factors a

[2020-06-30 11:23] cmgreene commented on #831
Update: I tried saving the csv file under a new name and opening a fresh JASP file, but the same issues occurred. It's worth noting that I can open this file without any issues in SPSS and other programs - the correct number of cases are present and the variables are in the correct columns. The issue only occurs in JASP.

[2020-06-30 12:03] YvonneOberholzer commented on #828
Hi @JohnnyDoorn ,

thank you for your reply and explanation!
The BF-0 is not always above 10'000 though. In one of my first analyses, it was around 4'000 and in one of a more recent analysis, it was 1463 (see attachment). So I am not really confident in reporting it as above 10'000 or even as above 1000.
If it is heavily dependent on the MCMC-sampling, would it help to increase the number of sampl

[2020-06-30 12:23] JorisGoosen commented on #830
Sorry to hear the engine keeps crashing for you...

We are working on releasing a new version and a demo version can be found here: https://static.jasp-stats.org/Nightlies/WindowsZip/JASP-nightly-stable-1742c19cf71223c23a8cf5901a2da0206d0ad047.zip

Maybe you could try that one out and see if the problem is solved there?

If the engine keeps crashing it would be good to upload the logs. They can be

[2020-06-30 13:14] DrMarkGS opened #832 "Box plots of column data"
Hi folks
In Descriptives, we can currently plot boxplots for multiple variables if they are in one column and there is a grouping variable.  However, if I want to plot 3 different variables, for example (in seperate columns),  JASP plots them individually.  It would be nice to have the option to plot them on the same graph.

Cheers
Mark

[2020-06-30 14:14] boutinb commented on #829
@vandenman I can reproduce the error even in 0.13 beta

[2020-06-30 14:33] piotrdzwiniel opened #833 "Feature request: Adjusting plot's XY axes limits and more"
Is it just me, or it's impossible to adjust plot's XY axes limits at the moment? If so, can you add such option? Without it generated plots are a little bit useless in the context of presentations, publications, reports etc. It would be also great to tinker with other parameters as well, as for example colour, linewidth, linestyle, markersize etc.

[2020-06-30 14:40] Kucharssim commented on #829
I think I might know where is the issue

[2020-06-30 14:44] vandenman commented on #833
This looks like a duplicate of #63 and/ or #78. We're working on this but it's not possible to do this yet. As a temporary workaround, the upcoming version allows you to save plots as *.pttx. If you open the file you should be able to adjust things like size and colors. Unfortunately, this workaround does not allow you to adjust a plot's axes limits though.

[2020-06-30 15:15] andreariccieu commented on #829
thanks for trying hard guys !

[2020-07-01 00:47] BLueBLack053 commented on #830
i did download demo version and i removed JASP already installed with install program

i copied and pasted files from folder of demo version to folder that is originally JASP folder(in program files)

but engine keeps crashing, so i upload the logs
[JASP 2020-07-01 09_38_42 Desktop.log](https://github.com/jasp-stats/jasp-issues/files/4855011/JASP.2020-07-01.09_38_42.Desktop.log)

The logs except D

[2020-07-01 02:27] krutcher7069 opened #834 "Error when performing Multi group SEM"
* JASP version: 0.12.2.0

* OS name and version: Windows
* Analysis: Multi group SEM
* Bug description:
![image](https://user-images.githubusercontent.com/67669189/86195617-8251ec80-bb7b-11ea-89b3-66ec52b66751.png)
I was running a multi group SEM. I had 2 latent variables, with 1 variable predicting another. My grouping variable has 2 levels: high and low. Everything was fine until I asked the pro

[2020-07-01 07:39] #829 closed

[2020-07-01 07:40] TimKDJ commented on #829
Thanks for bringing this to our attention, it will be fixed in version 0.13

[2020-07-01 07:52] JorisGoosen commented on #830
Aah, it wasn't necessary to copy those files to program files, you could have extracted that folder anywhere and it would've worked. Well, in your case only partially apparently.

So yeah, it seems that the engines crash immediately on starting...

Could you try something else?
Download http://www.dependencywalker.com/ and with it "open" `JASPEngine.exe`.
Then when that is finished loading could y

[2020-07-01 09:53] vankesteren commented on #813
It seems this happened in the rewrite of SEM @JohnnyDoorn? In any case, @jdraptis I'm working on a new version of the SEM analysis, this will be done relatively soon and include a fix for this!

In the meantime, could you elaborate a little on the differences between the JASP versions? And do you have a lot of missing data?

[2020-07-01 10:09] BLueBLack053 commented on #830
Actually, can this file work normally, even though i have windows 10?
That link said we can run 'dependency walker 2.1' with windows XP, and there aren't any words about windows 10

first of all, i upload the very logs(*.dwi).
Is this logs enough to check my problem?

In this site, I cannot upload file with *dwi form
So i upload zip file
Please check my logs  X(
[JASPEngine.zip](https://github.com

[2020-07-01 10:14] vankesteren commented on #803
Hi @DocGavin,

did it work in R in the end?

[2020-07-01 10:18] vankesteren commented on #776
Hi @hpooch20,

do you mean this specifically for the CFA analysis? In the SEM analysis, this is already possible, by specifying the required constraints in the lavaan syntax.

Erik-Jan

[2020-07-01 10:22] vankesteren commented on #739
Hi Jiashun,

thank you for your comments.
1. that's a good point! Maybe you can submit a separate enhancement request for this? It should be possible, but it's unrelated to the SEM module.
2. Yes, indeed LCA/LPA is not very well supported by lavaan, and accordingly it would be an entirely new analysis to implement. It's possible that this has already been requested, but if not, could you submit an

[2020-07-01 10:22] #739 closed

[2020-07-01 10:45] JorisGoosen commented on #830
Yes of course!
The site is just not updated very often I think :p

I will have a look at the log later today, when I have time to get Windows booted.
Thank you for responding so quickly.

[2020-07-01 12:07] hpooch20 commented on #776
Yes, I am referring to CFA.

Sent from my iPad
Please excuse my frequent typoos

[2020-07-01 12:16] JohnnyDoorn commented on #813
Hi @jdraptis ,

Could you share the jasp file with us? That way we can take a closer look at this and verify it in R as well.

Kind regards,
Johnny

[2020-07-01 15:07] JorisGoosen commented on #830
Ok, so it seems that JASPEngine.exe can find all required dlls, that is good.

But, could you maybe restart JASP and then send me the 5 logfiles?
Because right now the actual first log you send me does not include the startup.

[2020-07-01 15:24] BLueBLack053 commented on #830
Like this?

i just restart JASP, and before opening save data, i immediately load logs and send them to you

[JASP 2020-07-02 00_21_12 Engine 1.log](https://github.com/jasp-stats/jasp-issues/files/4858728/JASP.2020-07-02.00_21_12.Engine.1.log)
[JASP 2020-07-02 00_21_12 Engine 2.log](https://github.com/jasp-stats/jasp-issues/files/4858729/JASP.2020-07-02.00_21_12.Engine.2.log)
[JASP 2020-07-02 00_2

[2020-07-01 15:33] boutinb commented on #830
I see that you have a korean language on your computer. I am not sure if it the cause of your problem, but in case, can you change the language setting of your PC to english, or do you have access to a non-korean PC?

[2020-07-01 15:50] BLueBLack053 commented on #830
Oh, yeah
i change the language setting of my PC to english, and restart JASP and upload logs again
[JASP 2020-07-02 00_48_09 Desktop.log](https://github.com/jasp-stats/jasp-issues/files/4858916/JASP.2020-07-02.00_48_09.Desktop.log)
[JASP 2020-07-02 00_48_09 Engine 0.log](https://github.com/jasp-stats/jasp-issues/files/4858917/JASP.2020-07-02.00_48_09.Engine.0.log)
[JASP 2020-07-02 00_48_09 Engine

[2020-07-01 16:02] JorisGoosen commented on #830
Could you check the region settings?

I think what I see in the log is that it tries to set it to English (United States) like you see in for instance this tutorial: https://www.isunshare.com/windows-10/change-system-locale-in-windows-10.html

Is that what you see as well?