[2022-06-02 13:01] JorisGoosen commented on #1727
Yeah I think so, at least, your other JASP will just keep running as it was as long as you don't close it ;)

But I guess this means you already tried?

[2022-06-02 13:06] estatistics commented on #1727
I did some steps before like:
`export LC_ALL=C`
and
`LANGUAGE=`
as well commenting out lines on locale.gen of other languages except of those i wanted.

So all of these can have affect the running behaviour of JASP.
if you search it is a common bug. Some coders says to change c code in order not to based on locale (dont know what this means).

so you can close this bug. I set another bug about nam

[2022-06-02 13:06] #1727 closed

[2022-06-02 13:19] estatistics opened #1729 "[Bug]: To set specific levels to do statistical analysis IS BUG - why u like to make my life hard?"
### JASP Version

0.16.1

### Commit ID

_No response_

### JASP Module

_No response_

### What analysis are you seeing the problem on?

setting specific type of var for specific analysis

### What OS are you seeing the problem on?

kubuntu on bullseye 11

### Bug Description

I want to do a factor analysis.
My vars are set to ordinal.
I dont know a quick way to change 100+ vars to ratio scale.
T

[2022-06-02 14:03] estatistics opened #1730 "[Feature Request]: cfa plot numbers are not clear - u may remove leading zeroes"
### Description

 cfa plot numbers are not clear - u may remove leading zeroes

### Purpose

 cfa plot numbers are not clear - u may remove leading zeroes

### Use-case

cfa plot numbers are not clear - u may remove leading zeroes

### Is your feature request related to a problem?

cfa plot numbers are not clear - u may remove leading zeroes

### Describe the solution you would like

u may remove

[2022-06-02 14:14] estatistics opened #1731 "[Feature Request]: To display standardized estimates in CFA in table"
### Description

To display standardized estimates in CFA in table

### Purpose

To be able to edit them for any purpose (eg. for presentation reasons)

### Use-case

To display standardized estimates in CFA in table

### Is your feature request related to a problem?

_No response_

### Describe the solution you would like

To display standardized estimates in CFA in table

### Describe alternativ

[2022-06-02 14:59] estatistics opened #1732 "[Bug]: By pressing compute new column JASP exits (and it is somewhat hard to take the mean)"
### JASP Version

0.16.1

### Commit ID

_No response_

### JASP Module

_No response_

### What analysis are you seeing the problem on?

to compute a new variable (mean)

### What OS are you seeing the problem on?

kubuntu on bullseye 11

### Bug Description

By pressing compute new column JASP exits (and it is somewhat hard to take the mean).
I created a new column, then i "press" "+" and "varia

[2022-06-02 16:42] estatistics opened #1733 "[Feature Request]: in Correlations, display only "r" with specific p values eg. .05, .10, and option to remove corrs r>.|x value|"
### Description

in Correlations, display only "r" with specific p values eg. .05,  .10, and option to remove corrs r>.|x value|

### Purpose

in Correlations, display only "r" with specific p values eg. .05,  .10, and option to remove corrs r>.|x value|

### Use-case

in Correlations, display only "r" with specific p values eg. .05,  .10, and option to remove corrs r>.|x value|

### Is your featu

[2022-06-02 17:18] estatistics opened #1734 "[Feature Request]: Barplots of single categorical var with many ratio vars with different colors but same color per category."
### Description

 Barplots of single categorical var with many ratio vars with different colors but same color per category.

### Purpose

 Barplots of single categorical var with many ratio vars with different colors but same color per category.

### Use-case

 Barplots of single categorical var with many ratio vars with different colors but same color per category.

### Is your feature request r

[2022-06-02 17:49] estatistics commented on #1734
^ all single categorical*dependent (means) presented in the same plot.

[2022-06-03 06:32] tomtomme commented on #1732
Thanks for reoorting. This crash bug on linux is known and should be fixed with upcoming 0.16.3

[2022-06-03 06:37] tomtomme commented on #1732
You can already try the flatpak beta here, which fixed it for me on manjaro:
[code]

[2022-06-03 06:39] estatistics commented on #1732
[code]

[2022-06-03 06:40] estatistics commented on #1732
"For example, if the OpenSSL library installed on your Linux system does not support TLSv1.3, then the above command’s output will not display TLS v1.3 and your web servers running on this system will not be able to support TLS v1.3."

[2022-06-03 06:40] estatistics commented on #1732
openssl ciphers -v | awk '{print $2}' | sort | uniq
SSLv3
TLSv1
TLSv1.2
TLSv1.3

[2022-06-03 06:42] estatistics commented on #1732
"bug" here: https://github.com/flatpak/flatpak/issues/1207

[2022-06-03 06:46] tomtomme commented on #1732
Interesting - I never saw one of those error messages on manjaro however. My machine also:
[code]

[2022-06-03 06:48] tomtomme commented on #1728
Thanks for reporting. This crash bug on linux is also known (see https://github.com/jasp-stats/jasp-issues/issues/1360 and https://github.com/jasp-stats/jasp-issues/issues/1678) and should be fixed with upcoming 0.16.3. Also fixed with current flatpak beta.

[2022-06-03 06:54] tomtomme commented on #1729
Could you play with this setting please and see, if this solves your problem?
![grafik](https://user-images.githubusercontent.com/4428185/171802595-c5cb8f2c-3916-46d8-bc04-dba6040ba1b7.png)

I think setting this to the right number, should prevent your variables being detected as categorial and should set them to scale on loading / opening the data.

(The reason for the behaviour is probably that

[2022-06-03 07:01] tomtomme commented on #1730
I am reposting the link, because clicking it, does not work: https://postimg.cc/kVXf9YdH
To solve the font size problem you could resize the image. Go to the lower right corner of the plot to get a resize triangle. You can also resize the whole result window with Strg+Scroll wheel or the whole App via Settings=>Interface=>Zoom - (also some font settings there)
I hope this helps!
The leading zeros

[2022-06-03 07:02] estatistics commented on #1732
Updating / reinstalling glib network, glib utls, ca certificates not solved the problem.

`curl -o flathub-beta https://flathub.org/beta-repo/flathub-beta.flatpakrepo`
`sudo flatpak remote-add --if-not-exists flathub --from flathub.flatpakrepo`

and WITHOUT SUDO (otherwise TLS error is thrown)

` flatpak install flathub-beta org.jaspstats.JASP`
and voila.... it is downloading / installing.....

[2022-06-03 07:04] tomtomme commented on #1734
I am not sure, I understand exactly what you need. Have you tried the visual modeling module => flexplot? This works for me most of the time, when the standard plotting module is not enough. You find it via the big blue plus upper right corner in JASP

[2022-06-03 07:05] tomtomme commented on #1732
good to know. Manjaro required the sudo for some things to work out for me. Distro specifics ...

[2022-06-03 07:09] tomtomme commented on #1733
Interesting. What are you trying to accomplish? If I would need to find correlations within a big table of vars, I go for the heatmap plot in the correlation module and look for vibrant colour - is this what you need to do? Correlate hundreds of vars? Are you aware of the heatmap plot?
I hope this helps. Thanks for reporting, again.

[2022-06-03 07:10] estatistics commented on #1734
You have 10 dependent vars from 1 to 5 likert scale and you would like to see in a single barplot, gender differences in means.
How do you that? I tried flexplot.
I could not find such feature anywhere in jasp.

[2022-06-03 07:20] tomtomme commented on #1734
I think this is not possible yet. Maybe someone from the core team can chime in, if this feature is on the horizon?

[2022-06-03 07:20] estatistics commented on #1733
Dear Tomtomme, I have make my R code, and specific programming ( if u need my ideas / code, u are welcome).

Most Stats programs are not GOOD for papers. And U must do heavy work on editing if you need to properly, in tidy place, present results.

The future is to automate the whole process. I have made several steps to that direction. To produce whole academic papers with few clicks and not on ed

[2022-06-03 08:10] estatistics commented on #1729
yes, that did it. I set it to "0".

[2022-06-03 08:10] estatistics commented on #1729
yes, that did it. I set it to "0".

[2022-06-03 08:10] #1729 closed

[2022-06-03 08:15] estatistics commented on #1732
(Beta version) Computed only the first row..... the rest of values?
F1 + F2 must result 2, not 6.31.... it is like that computed the total mean of both columns (????)
I dont know how to add values inside mean without "+"..... what is the proper way?
[](https://i.postimg.cc/4NCYsMVG/119.jpg)

[2022-06-03 09:34] tomtomme commented on #1732
You need to go with the R Interface in JASP here. This is the R Code you may need:
`apply(data.frame(var1, var2, var3), 1, mean, na.rm=TRUE)`
JASP can manipulate and compute column-wise but noc yet row-wise. This will be implemented hopefully this year, when the editor-mode of JASP is done. Until then, this R Code snipet should do the trick.

[2022-06-03 09:37] tomtomme commented on #1729
Very nice! :)

[2022-06-03 13:08] PerPalmgren opened #1735 "Mann-Whitney"
### Description

The abbreviated Mann-Whitney statistics

### Purpose

_No response_

### Use-case

_No response_

### Is your feature request related to a problem?

No

### Describe the solution you would like

I think it is confusing (and especially my students) with the abbreviated statistic depicted in JASP when running a Mann-Whitney test (see picture). I think it would make more sense (espec

[2022-06-04 07:29] Wouterwolf opened #1736 "[Bug]:"
### JASP Version

0.16.2

### Commit ID

_No response_

### JASP Module

jaspMixedModels

### What analysis are you seeing the problem on?

Generalized Linear Mixed Model

### What OS are you seeing the problem on?

Windows 10

### Bug Description

Hi everyone,

when I try to specify contrasts in the estimated marginal means section of the Bayesian GLMM in the Mixed Models module, I cannot input a

[2022-06-04 11:42] Ferg72 opened #1737 "[Bug]: Can't download JASP"
### JASP Version

0.16.2

### Commit ID

_No response_

### JASP Module

_No response_

### What analysis are you seeing the problem on?

_No response_

### What OS are you seeing the problem on?

Mac OS Monterey V12.4

### Bug Description

I've tried to download the latest version of JASP, and once it is visible in the bar, the app will not open, and a 'the app is not responding' message is shown

[2022-06-04 16:32] tlecerf1205 opened #1738 "[Bug]:"
### JASP Version

0.16.2

### Commit ID

_No response_

### JASP Module

jaspReliability

### What analysis are you seeing the problem on?

unidimensional reliability

### What OS are you seeing the problem on?

MacOS Monterey

### Bug Description

<img width="1066" alt="Capture d’écran 2022-06-04 à 18 26 47" src="https://user-images.githubusercontent.com/106429848/172016283-0af6d230-f673-4bbc-9

[2022-06-05 10:28] Ferg72 commented on #1737
Note, having gone through old posts, I typed a path into terminal as suggested, and this is the output, if that helps:
cd /Application/JASP.app/Contents/MacOS./JASP
cd: no such file or directory: /Application/JASP.app/Contents/MacOS./JASP

[2022-06-05 12:25] sukanka commented on #1594
Glad to announce that we have make `jasp-desktop` available in [BioArchLinux](https://github.com/BioArchLinux/Packages)
But it is extremely hard to make it available on AUR, as many dependencies (R packages) are not in AUR. (I'm still thinking about this)
So such a package in AUR only reminds the user that there is `jasp-desktop` in BioArchLinux, and he should add that repository to his `pacman.co

[2022-06-05 15:12] tomtomme commented on #1594
I just added the repo using instructions here: https://github.com/BioArchLinux/Packages
Then tried
`sudo pacman -Syyu jasp-desktop`

This complains about missing deps.
How can I tell pacman to use the BioArch-Repo which includes the deps?
Or am I doing something wrong?
I am a Arch-Noob (manjaro-user)

[2022-06-05 15:15] tomtomme commented on #1737
I do not use Mac, but some of my students were successful with this guide: **https://jasp-stats.org/installation-guide/**
Or did you try that already?
Also: Which version of 0.16.2 did you download? This could help the devs figure out, whats wrong...

[2022-06-06 02:03] sukanka commented on #1594
After adding the repo, please run `pacman -Syy` to update the databases, and then run
[code]
I'm not clear whether  `Syyu` will work.

[2022-06-06 08:10] tomtomme commented on #1594
I guess I have a manjaro specific problem then. These are the missing deps he complains about:

[code]

For info:
[code]

I also did
[code]

[2022-06-06 09:17] sukanka commented on #1594
Have a look at this. r in archlinux repo now provides r-boot and other r modules.

https://archlinux.org/packages/community/x86_64/r/

[2022-06-06 09:53] Ferg72 commented on #1737
Thanks tomtomme - I tried that guide, but no success.
I have been downloading the MacOS Intel (10.5+) version, as my Macbook runs a 3.1 GHz Quad-Core Intel Core i7 processor.

[2022-06-07 06:29] tomtomme commented on #1594
While it finished downloading, it now complains of file conflicts:
[code]

[2022-06-07 06:46] sukanka commented on #1594
Did you used `sudo pip` to install python packages? If so I guess you can simply use

`sudo pacman -S python-docutils --asdeps --overwrite='/usr/*'`
to overwrite it. And do not install packages via sudo pip any more.

[2022-06-07 10:43] Jiashun97 opened #1739 "[Bug]: "HDInterval failed" when installing developer module of LearnBayes"
### JASP Version

Others

### Commit ID

d10ccb499154c8a0887a2b7c8a5f8ba30b650ff0

### JASP Module

jaspLearnBayes

### What analysis are you seeing the problem on?

Installation

### What OS are you seeing the problem on?

macOS Monterey 12.2.1

### Bug Description

I encountered a bug when I was installing the developer module of "LearnBayes"
![Screen Shot 2022-05-31 at 5 49 31 PM](https://user-

[2022-06-07 10:45] JorisGoosen commented on #1739
The problem seems related to running permissions:
[code]

[2022-06-07 14:23] boutinb commented on #1736
This should be solved in the next release (over some few days). You can test a beta version here: https://static.jasp-stats.org/Nightlies/Windows/JASP-nightly-stable-9c22a03b33630dedb073548a4ecbafdae1c1376c.msi

[2022-06-07 14:40] boutinb commented on #1738
Could you try our last beta version: https://static.jasp-stats.org/Nightlies/macOS-x86_64/JASP-nightly-stable-e829d5bc8c31cb8154ada3a33bd14e22409846ae.dmg ?

[2022-06-07 23:10] Ferg72 commented on #1737
Thanks @boutinb.

You're correct that there was initially confusion about the version, but realising that, I removed it from the applications folder, and downloaded the Intel MacOS version, and the same thing happens - i.e. the JASP icon appears in the dock, bounces for a while and then stops.  The app doesn't open, and when I right click the icon, "Application not responding" appears in greyed ou

[2022-06-08 08:22] FBartos commented on #1641
I'm now reviewing the PR and I'm confused. There seems to be a t-statistic with two degrees of freedom now?

![image](https://user-images.githubusercontent.com/38475991/172568634-d763d066-c3aa-45e1-a64c-c064093659e0.png)

[2022-06-08 08:49] boutinb commented on #1737
Hi @Ferg72, let's try to do the things step by step, and tell me for each step what happens.

1.  Do you still see in the dock bar the JASP icon. If yes, you should first right-click the icon, and choose the Quit or Force Quit menu option. It must disappear first.
2. Afterwards, with the Finder, if you go to Applications, do you see the JASP icon? If you see it, remove it.
3. Then, download (once

[2022-06-08 20:31] angonzamp opened #1740 "[Bug]: wrong confidence intervals in random effects meta-analysis with option knha"
### JASP Version

0.16.2

### Commit ID

_No response_

### JASP Module

jaspMetaAnalysis

### What analysis are you seeing the problem on?

Confidence interval of the Estimate in Random Effects meta-analysis with the knha option

### What OS are you seeing the problem on?

Windows 10 Home Edition

### Bug Description

The CI in the estimate is clearly wrong in the table and different from the inc

[2022-06-09 02:50] Ferg72 commented on #1737
Hi @boutinb,

In terms of your steps:

1. Done - the icon is in the bar, but removed after force quit.
2. The JASP icon is still in Applications at this point, but removed.
3. Downloaded without issues
4. File opens, without any warnings.
5. The picture appears.
6. No issues dragging into Applications folder
7. No issues with double-clicking the JASP icon.
8. JASP doesn't start - back to the bounc

[2022-06-09 02:51] Ferg72 commented on #1737
I'm getting the feeling this may be an intrinsic issue with my Mac, rather than a problem with me or the App.

Thanks for your help.

Ian

[2022-06-09 07:50] boutinb commented on #1737
This is quite weird indeed....
Just to be sure: in the Applications folder, do you have only 1 JASP application?
What I suppose is going wrong on your Mac is when the Gatekeeper tries to check whether JASP is verified (signed and notarized). For this it needs an internet connection. Do you have special settings on your Mac, is it your personal Mac, or a Mac given (and formatted) by your company?

[2022-06-09 11:24] Ferg72 commented on #1737
Yep, very weird, but I've checked and same thing with R Studio, so I'm pretty sure it's my computer.

There is only one JASP application in my folder.

It's a personal mac, and I've had JASP before - this was, frustratingly just an update...

Thanks anyway for your help.

[2022-06-09 11:49] JorisGoosen commented on #1720
Something like, "The Control Mean-column which can only be used in (in)equivalence, greater and lesser comparisons. Try converting it to scalar?"

Or something? I guess it would make it more clear what exactly is the way forward?

[2022-06-09 12:00] shun2wang commented on #1720
i agree with joris, a concise and effective error message can include: error type (or cause) + action direction

[2022-06-10 15:12] PerPalmgren opened #1741 "[Feature Request]: Coherence in ANOVA output"
### Description

Order of variables in ANOVA descriptives output

### Purpose

Consistency between outputs

### Use-case

_No response_

### Is your feature request related to a problem?

When reordering levels in variabels and not employing alphabetical default (see figure) there seems to be a glitch. This works fine when in the Descriptive module (see picture). However, in the ANOVA module there

[2022-06-10 17:05] Kucharssim commented on #1741
Dear @PerPalmgren,

thank you for the report, this is indeed not optimal and should be fixed!

@JohnnyDoorn, could you have a look please?

[2022-06-13 19:37] moinhotm commented on #508
Hi, I'm going through the same problem. I'm using the latest version of JASP and it's performance is very unstable. Many things, especially images, won't load! I tried looking for the images in the temp folder, but the folders were empty.

What I noticed that helps is asking for JASP to do other graphs. When I ask for other things, what I had previously selected finally works. For example, I asked

[2022-06-13 23:13] shun2wang commented on #508
hi @moinhotm ,do you have a Unicode character in your Windows system username? If so, you can do that temporarily to resolve problem and wait for the new version with reference to the practices I gave there #1671  .

[2022-06-14 08:42] tarajbur opened #1742 "[Bug]: Error when running Reliability Test"
### JASP Version

0.16.2

### Commit ID

_No response_

### JASP Module

jaspReliability

### What analysis are you seeing the problem on?

unidimensional reliability

### What OS are you seeing the problem on?

mac Monterey

### Bug Description

This analysis terminated unexpectedly.

Error in dyn.load(file, DLLpath = DLLpath, ...): unable to load shared object '/Applications/JASP.app/Contents/Mo

[2022-06-14 14:58] w4iei opened #1743 "[Bug]: Density Graph above Scatter Plot has split colors swapped."
### JASP Version

0.16.2

### Commit ID

_No response_

### JASP Module

jaspDescriptives

### What analysis are you seeing the problem on?

Descriptive Statistics

### What OS are you seeing the problem on?

osX 12.4

### Bug Description

Using a scatterplot with density functions above, the colors are swapped for Density, but correct for Histogram

Incorrect:
![image](https://user-images.githubu

[2022-06-14 19:57] bazyliszek commented on #1451
was there any update on that?

[2022-06-15 06:51] ClaraIsabell opened #1744 "[Feature Request]: Merging data"
### Description

Merging data files

### Purpose

Analyses with data from different/repeated measurements

### Use-case

_No response_

### Is your feature request related to a problem?

No.

### Describe the solution you would like

Data merging like in SPSS for example (merging files by key variable)

### Describe alternatives that you have considered

_No response_

### Additional context

_No

[2022-06-15 17:16] khh200 opened #1745 "[Bug]: Path Diagram in the SEM Module Failing"
### JASP Version

0.16.2

### Commit ID

_No response_

### JASP Module

_No response_

### What analysis are you seeing the problem on?

Confirmatory Factor Analysis

### What OS are you seeing the problem on?

Windows 10

### Bug Description

When conducting a CFA with WLSMV, the path diagram generates an error and will not load the image. I have attached the compressed JASP file.

This analysis

[2022-06-15 17:27] khh200 opened #1746 "[Feature Request]: Polychoric Correlation Matrix"
### Description

It would be lovely to be able to call for Polychoric Correlation matrices to aid in the reproducability of categorical SEM.

### Purpose

To include polychoric correlation matrices in publications to aid with reproducability.

### Use-case

To include polychoric correlation matrices in publications to aid with reproducability.

### Is your feature request related to a problem?

_N

[2022-06-15 21:41] secircle opened #1747 "[Bug]: 0.16.2 & 0.16.3 Font not displaying correctly on Windows 10"
### JASP Version

0.16.2

### Commit ID

_No response_

### JASP Module

jaspRegression

### What analysis are you seeing the problem on?

Linear Regression, but I think this is not limited to the regression

### What OS are you seeing the problem on?

Windows 10; 10.0.19044 Build 19044

### Bug Description

Hi,

I would like to report a bug with the font display on 0.16.2. I upgraded from 16.1 to

[2022-06-16 08:36] tomtomme commented on #1424
Since today I get a new 0.16.3 debug-build through the **stable** flatpak channel - is this intended?
To successfuly install it, I had again to remove the old 0.16.1-stable first, only then 0.16.2-debug-stable would download and install.
![grafik](https://user-images.githubusercontent.com/4428185/174029188-cd37bc2c-9302-4ab6-83e1-3ef6cb018ed1.png)

[2022-06-16 08:49] tomtomme commented on #1594
This worked! Very nice and thank you very much! Now I have a native jasp-build in manjaro without the flatpak-pains I had in the past. And it is even the 0.16.2 build that would not work on linux before, when flatpacked - how did you do that?

![grafik](https://user-images.githubusercontent.com/4428185/174031893-a771dda7-3306-4740-b575-8276d0cbd280.png)

[2022-06-16 09:04] JorisGoosen commented on #1424
Too bad the upgrade didnt work smoothly but at least the new build works right?

So this issue can finally be closed

[2022-06-16 09:06] tomtomme commented on #1424
I guess so. The build works. But why do we have a debug-build on flatpaks stable channel?

[2022-06-16 09:18] JorisGoosen commented on #1594
The version 0.16.2 always compiled fine on linux, we just had some trouble integrating (due to webengine being separated from qt6) the new buildsystem with flatpak. Which we've done now though for 0.16.3

But also very nice to have a native build on arch/manjaro ^^

[2022-06-16 09:52] JorisGoosen commented on #1424
Well, the flatpak is always a debugbuild, but the debugsymbols are split off.

I guess that the name put in there is dependent on that debug-flag being on and not on those symbols being loaded.

Im checking it now, but I don't think the symbols are included, so it is just a bit of misleading text

[2022-06-16 10:01] JorisGoosen commented on #1424
Yeah so the debugsymbols are stored in `flatpak install flathub org.jaspstats.JASP.Debug`

But ill fix jasp so it won't say that it is a "debug-version" anymore

[2022-06-16 10:01] JorisGoosen commented on #1747
Also try resetting your zoom-level (with `Ctrl + 0`)

[2022-06-16 10:03] boutinb commented on #1740
@sophieberkhout Can you have a look at this issue?

[2022-06-16 10:04] JorisGoosen opened #1748 "[Bug]: Flatpak 0.16.3 tells you it is a debug-version"
### JASP Version

0.16.3

### Bug Description

https://github.com/jasp-stats/jasp-issues/issues/1424#issuecomment-1157389270

### Expected Behaviour

Not show Debug

[2022-06-16 10:21] #1748 closed

[2022-06-16 10:43] EJWagenmakers commented on #1451
It is a good suggestion, and we actually want to add the possibility of imposing an order (as for Likert scales).

[2022-06-17 15:24] danilomoggia opened #1749 "[Bug]: Neighborhood-Based Clustering"
### JASP Version

0.16.3

### Commit ID

_No response_

### JASP Module

jaspMachineLearning

### What analysis are you seeing the problem on?

Neighborhood-Based Clustering

### What OS are you seeing the problem on?

Windows 10

### Bug Description

The Bug happens when plotting the t-SNE cluster plot.

![Screenshot 2022-06-17 172031](https://user-images.githubusercontent.com/85121548/174328155-

[2022-06-17 15:37] koenderks commented on #1749
This is caused by the fact that the predictions in the tsne do not have the same length as the data. The t-sne removes duplicate rows in the data. I'll try to fix this asap, but for now i would try one of the following 2 things:
- make sure there are no missing values in the data
- remove rows with exactly the same values in the data

This may make it work!

[2022-06-17 16:04] NegativePotato opened #1750 "[Feature Request]: Exporting Results From Analyses in R-Friendly Structure"
### Description

Exporting Results in R-Friendly Structure

### Purpose

Export the results from the analyses in a structure that can be then loaded in R to be then used in markdown text or directly integrated in plots. Then the values can be automatically updated with new data incoming, or corrections being applied to the dataset.

### Use-case

Example : After a Repeated Bayesian ANOVA, export t

[2022-06-18 21:11] KrisKawski opened #1751 "[Bug]: Several bugs in JASP on Linux Ubuntu 20.4 LTS"
### JASP Version

0.16.3

### Commit ID

_No response_

### JASP Module

jaspJags

### What analysis are you seeing the problem on?

JAGS, Export Results (of CFA), blurred font

### What OS are you seeing the problem on?

Linux Ubuntu 20.04 LTS “Focal Fossa”

### Bug Description

Issues:

1) JAGS - The JAGS module is not working for me - when I open any database and run the JAGS module, the JASP p

[2022-06-19 07:48] 3TInfoTinker opened #1752 "[Feature Request]: Add info about uninstall to linux installation guide"
### Description

As a newbie in all aspects, I was unable to get JASP active on my Ubuntu desktop and wanted to uninstall it. For this, I've searched the web for a pretty while but nothing to enable me for the removal nor in the repository of jasp-stats.

### Purpose

Needed guidance to uninstall the JASP

### Use-case

After updating it went invisible.

### Is your feature request related to a pr

[2022-06-19 11:13] KelvinBalcombe commented on #202
I see this request was made quite a while ago. I am trying to persuade some colleagues to transfer from SPSS to JASP for their undergraduate teaching. The inclusion of the ordered logit and multinomial logit would be key in that decision (even though the can be done in the R-box at the end quite easily I think).  So,I would just like to add support the comments above

[2022-06-19 18:08] #1308 closed

[2022-06-19 22:25] wave-form opened #1753 "[Feature Request]: Standard errors, p-values and confidence intervals for path coefficients in SEM-mediation"
### Description

The SEM-mediation program generates text output with direct and indirect effects, in addition to a graphic path model with path coefficients. Would it be possible to get a table of the various path coefficients with either 95% confidence intervals or p values?

### Purpose

To be able to conduce null hypothesis significance testing of the IV-M and M-DV assocaitions in a mediation

[2022-06-20 07:26] Kucharssim commented on #1745
Duplicate of https://github.com/jasp-stats/jasp-issues/issues/1629

[2022-06-20 07:26] #1745 closed

[2022-06-20 08:02] boutinb commented on #1750
We are busy to make our analyses directly available in R, with a R syntax generated from JASP. Should arrive over some months

[2022-06-20 08:36] juliuspf commented on #1046
I will close this for now, @romanogino feel free to reopen it if your concerns have not been addressed sufficiently

[2022-06-20 08:37] juliuspf commented on #1285
I will close this for now, @Olipamsjasp feel free to reopen it if your concerns have not been addressed sufficiently.

[2022-06-20 08:38] juliuspf commented on #1500
I will close this for now, @StudentKate feel free to reopen it if your concerns have not been addressed sufficiently.

[2022-06-20 08:38] #1500 closed

[2022-06-20 08:48] juliuspf commented on #1705
@OliverSchultheiss can you confirm that the latest release (0.16.3) has what you are looking for? And if that is the case, can you close this issue?

[2022-06-20 08:49] juliuspf commented on #1694
Can someone on arm64 confirm that this issue is fixed with the released 0.16.3 version? @christofnaegele, @timoharmankaya ?

[2022-06-20 08:57] juliuspf commented on #1728
hi @estatistics, did you check with the more recent version of JASP?

[2022-06-20 09:19] juliuspf commented on #1734
@estatistics thanks for the request. Is there any way you could give a visual for what you would like to see? even if it is only a hand drawn figure... :)

[2022-06-20 09:30] juliuspf commented on #1736
@Wouterwolf could you try the latest release, 0.16.3? If the issue is fixed there, please close this issue.

[2022-06-20 09:36] juliuspf commented on #1738
this is a duplicate of https://github.com/jasp-stats/jasp-issues/issues/1694

[2022-06-20 09:36] #1738 closed

[2022-06-20 09:43] juliuspf commented on #1742
this is a duplicate of https://github.com/jasp-stats/jasp-issues/issues/1694 and is fixed with 0.16.3

[2022-06-20 09:43] #1742 closed

[2022-06-20 09:45] Wouterwolf commented on #1736
Yep, it works now. Thanks!

[2022-06-20 10:22] JorisGoosen commented on #1732
@estatistics did you also follow the steps at: https://flatpak.org/setup/Ubuntu

Because ubuntu is usually quite a bit out of date with regards to `flatpak` and this might very well be the cause of some of the problems.

However, it is a little bit unclear what this issue is about right now.
The original crashing problem is solved by 0.16.3 and I guess this is now about having row-wise operations

[2022-06-20 10:31] JorisGoosen commented on #1739
Have you tried the latest `development` nightly?

As in, the bug you see above I solved through: https://github.com/jasp-stats/jasp-desktop/commit/029cc2e37ab5bdb302463a27a7806400c4173260

However, that just leads to another problem that looks like:
https://github.com/jasp-stats/jasp-desktop/commit/029cc2e37ab5bdb302463a27a7806400c4173260

At least it does for @Jiashun97 ...

It works on my system

[2022-06-20 10:34] JorisGoosen commented on #1752
So what you are trying to achieve by this issue is us adding the remove command to [our linux guide](https://jasp-stats.org/linux-installation-guide/)?

As in, I guess it might be useful if it was so hard to discover?

Also, when you are installing jasp via flatpak on ubuntu it is very much recommended to follow: https://flatpak.org/setup/Ubuntu (although that might not have helped in your case be

[2022-06-20 10:36] JorisGoosen commented on #1308
Also, seeing as how this problem is related to `glx` starting jasp in "safe graphics" mode (basically software rendering opengl) as `flatpak run org.jaspstats.JASP --safeGraphics` might also have helped.

However the problem just solving itself is of course much more practical and also the software rendering is quite slow so its better to leave the graphics "unsafe" anyhow.

[2022-06-20 11:17] juliuspf commented on #1744
hi @ClaraIsabell, thanks for the request. @JorisGoosen is this something that is feasible?

[2022-06-20 11:24] juliuspf commented on #1739
The development version is older than the release version, isn't it? I tried the latest development nightly, but the installation still fails, if you require some logs, let me know

[2022-06-20 11:25] juliuspf commented on #1739
what do you mean by this?

[2022-06-20 11:28] juliuspf commented on #1746
Hi @khh200, thanks for the request. This should probably go into the correlation analysis then.

[2022-06-20 11:33] juliuspf commented on #1751
@KrisKawski, thanks for the report. Any ideas @vandenman?

[2022-06-20 11:40] Kucharssim commented on #1739
@JorisGoosen installation of development modules still fail on development (at least on Intel), I shared logs in Slack: https://pml-uva.slack.com/archives/CV655R7QS/p1655108848078389?thread_ts=1654700619.241799&cid=CV655R7QS

[2022-06-20 11:53] juliuspf commented on #1734
is this something you mean:
![image](https://user-images.githubusercontent.com/38500953/174595954-f70b9317-66c4-416d-a700-7341453fd46b.png)
if yes then @foger3 is working on this.

[2022-06-20 12:18] JorisGoosen commented on #1752
Ive just updated the guide so I hope this will save somebody some trouble in the future ^^

[2022-06-20 12:18] #1752 closed

[2022-06-20 12:21] vandenman commented on #1751
@KrisKawski could recreate the crash and then post the log files after the crash happened? You may need to enable logging first like so:
![image](https://user-images.githubusercontent.com/21319932/174599190-b7a3fbc7-8e29-43ee-b9d5-7adccd6025e8.png)

If `Show logs` doesn't work for you (it doesn't for me), you can also find them in `~/.var/app/org.jaspstats.JASP/data/JASP/JASP/Logs`. There should b

[2022-06-20 13:07] JorisGoosen commented on #1751
@KrisKawski

Yes you can go back indeed, it is not exactly fun but should help you work with jags until we figure out the problem.
`flatpak remote-info --log flathub org.jaspstats.JASP`
that should get you something that looks like this: https://github.com/flatpak/flatpak/issues/3097#issuecomment-530583469
Then you get the right "commit" for the 0.16.1 version (I dont have linux here right now so

[2022-06-20 13:47] JorisGoosen commented on #1551
@TheBlueQuasar happy to have been of help ^^

Hopefully @KalcMatej99 as well, but seeing as how it works for one user it might be good for the other too so I'll close this issue now. If it doesnt help @KalcMatej99 is of course free to reopen and we'll dig deeper.

[2022-06-20 13:47] #1551 closed

[2022-06-20 13:48] JorisGoosen commented on #1744
Would this be related to https://github.com/jasp-stats/jasp-issues/issues/33 ?

Because I hope to finally get this working with the new data-editing support that will be coming in an upcoming release.

[2022-06-20 16:36] bjtrbjtr opened #1754 "[Feature Request]: Splitting descriptive plots by more factors"
### Description

Allow plots from factorial ANOVAs to be split up by >2 factors.

### Purpose

Allow viewing/presentation of results without collapsing conditions. Make JASP's plotting abilities parallel to analysis abilities for factorial designs. 3- and 4-way factorial designs are commonly run and JASP analyzes them easily, but cannot plot them in a way that allows full examination of results wh

[2022-06-21 04:53] KrisKawski commented on #1751
Dears Julius, Don and Joris,

thank you very much for all your advice.

It looks like everything is already working in my JASP.

How? I've selected the following settings: Show main menu → Preferences → Interface → User Interface Options → Fonts: FreeSans [GNU] (same font everywhere: in Interface, in R, JAGS, or lavaan code, and in Result & help).
And then: Miscellaneous options → I've reduced the

[2022-06-21 06:54] vandenman commented on #1751
Happy to hear that it works now @KrisKawski! I'm closing this issue now, but feel free to open another issue if anything else comes up in the future.

[2022-06-21 06:54] #1751 closed

[2022-06-21 10:07] juliuspf commented on #1754
is this feasible @JohnnyDoorn?

[2022-06-21 10:37] juliuspf opened #1755 "Feature request: Lin's concordance correlation coefficient"
To join the measurement agreement party: maybe you could incorporate Lin's concordance correlation coefficient (readily available in several R packages)?

See:
[What is Lin's CCC?](https://www.statisticshowto.datasciencecentral.com/concordance-correlation-coefficient/)
[Comparing linear r and CCC](https://academic.csuohio.edu/kneuendorf/c63310/CorrsCompared10.pdf)
[One R package calculating CCC](h

[2022-06-21 11:35] PerPalmgren commented on #1627
It seems like in JASP 0.16.3 this function has also disappeared  in the correlation module😥. I really think it would be beneficial if in ALL scatter plots the inserted top variable  always ends up on the Y-axis (so the dependent variable gets accurately placed).
Kind reagards
Per

[2022-06-21 11:55] JoKeyser opened #1756 "[Feature request]: Standard flatpak version too old on Ubuntu 20.04, update linux help"
### JASP Version

0.16.3

### Commit ID

_No response_

### JASP Module

_No response_

### What analysis are you seeing the problem on?

_No response_

### What OS are you seeing the problem on?

Ubuntu 20.04

### Bug Description

When I tried to run jasp 0.16.3 on Ubuntu 20.04, I encountered this error:

[code]

I also found a solution: Install a newer version of flatpak, as described at <https:

[2022-06-21 12:44] juliuspf commented on #1705
any ideas @JTPetter?

[2022-06-22 08:33] JoKeyser commented on #1756
With hindsight, I probably should have framed this as a feature request.
To be sure: I'm really glad that JASP keeps moving forward, thanks everyone for the new release :1st_place_medal: .

[2022-06-22 08:33] kevinvschie opened #1757 "[Feature Request]: More complex raincloud plots"
### Description

You can only create very basic raincloud plots. For instance, for a within-between interaction (each factor having two levels; let's say time [pre to post] and treatment [A or B]) JASP creates two separate raincloud plots (separated by the indicated factor). However, ideally you'd want to have this all in one graph (instead of two). Related to this is that raincloud plots can only

[2022-06-22 09:41] Kucharssim commented on #1627
Can you clarify? We certainly did not remove any functionality...

[2022-06-22 10:04] PerPalmgren commented on #1627
Sorry I was wrong. It seems to work now. In the Regression module (more specifically correlation), thus when running a scatter plot the variable inserted at the TOP (see picture) ends up on the Y-axis. But as I stated above it would be nice to have this feature for the scatter plots in the descriptive as well.

[2022-06-22 10:16] Kucharssim commented on #1627
Yes, I am looking into it right now, but I am not sure whether we already fixed it, or whether I don't understand the issue... It seems that the two analyses show the same variables on the x and y axis:

1. Descriptives

![Screenshot 2022-06-22 at 12 09 56](https://user-images.githubusercontent.com/7093546/175004434-82886166-0d3b-4bb4-92dd-60abb4e07ff8.png)

2. Correlation

![Screenshot 2022-06-22

[2022-06-22 10:29] PerPalmgren commented on #1627
It is not the case when I run it under customizable plots (scatter plots) in the descriptive module (see below).
![Namnlös](https://user-images.githubusercontent.com/79397662/175007838-9a8c13c6-d499-49ad-9a25-9b01def0f1a6.png)

[2022-06-22 10:30] jmuehlhans opened #1758 "[Bug]: special character in user name results in engine crash with plots"
### JASP Version

0.16.3

### Commit ID

_No response_

### JASP Module

jaspDescriptives, jaspRegression, jaspTTests

### What analysis are you seeing the problem on?

Any plot in any module

### What OS are you seeing the problem on?

Windows 11

### Bug Description

Hi everybody,

all of my calculations in JASP work fine as long as I don't use any plots. As soon as I chosse to display descripti

[2022-06-22 10:31] tomtomme commented on #1594
I updated on my main machine to 0.16.3 just fine.
Now I try to install fresh on my laptop and get:
[code]

[2022-06-22 11:47] sukanka commented on #1594
Oh, after you added a new repository to `pacman.conf`, please run `sudo pacman -Syy` to sync the databases first. (I guess you used `pacman` instead of `yay` or `paru`, since `yay` and `paru` can find these packages in AUR.)

BTW, if you have further questions, you are welcome to open an issue at [BioArchLinux](https://github.com/BioArchLinux/Packages), since this has few things to do with jasp-de

[2022-06-22 12:17] PerPalmgren commented on #1627
Now it is me who do not really follow. I would argue in regressions in statistics the dependent variable is always put on the Y axis. So, I think it would be most logic to always let the variable inserted first (on the top) to end up on the y axis. Of course in simple correlations it does not matter but if the second step to correlation is a regression (very, very common) it would make sense to us

[2022-06-22 12:46] Kucharssim commented on #1627
Sorry for the confusion!

Yes, we agree on this.

This is where we disagree: I don't see any reason to assume that the first variable put into the variables box in descriptives or correlations is the dependent variable. This is something people may find different preferences for.

All screenshots I posted were made by entering `contNormal` first and `contGamma` second. So if you consider the first

[2022-06-22 13:20] JorisGoosen commented on #1756
the problem is mostly that canonical doesnt want to really support flatpak so they dont bother updating too often. The ppa that flatpak made available should solve that problem forever though.

[2022-06-22 13:53] vandenman commented on #112
@Kucharssim isn't this fixed now?
![image](https://user-images.githubusercontent.com/21319932/175046305-daf75e98-4e10-4cf2-a0e3-48ec4e4b5cb4.png)

[2022-06-22 19:16] #1728 closed

[2022-06-22 19:21] estatistics commented on #1734
yes something like  this will do!
See the below example.
![Επιλογή_534](https://user-images.githubusercontent.com/41580704/175119157-d0832fbd-3d69-4e63-b982-ffd14f2831da.jpg)

[2022-06-23 06:16] tomtomme commented on #1552
I am fine if you just do not want to add the SPSS comparison. It might backfire somehow. Just close this issue then.

Independent of this:
The features-page was updated with the "quality-control module" but the new "Generalized Linear Model" from the Regression module is missing. Also "Linear Mixed Model" is missing while "Generalized Linear Mixed Model" is there.

[2022-06-23 07:11] boutinb commented on #1552
@DanaJohanna Could you have a look?

[2022-06-23 11:57] jmuehlhans commented on #1758
Hi @boutinb I have checked that folder and it remains empty when I attempt to plot something. When I click different types of plots, eventually a graph will show up and I can see the png pop up in that folder but also disappear within a fraction of a second. Can't even catch a screenshot that fast.
I was thinking about problems with the rights to write to that folder? Tried starting JASP as admin

[2022-06-23 13:58] shun2wang commented on #1758
@jmuehlhans hi , I noticed from the log file that there is a special character in your user name. can you try this again under a user name consisting of ascii characters ?

[2022-06-23 21:47] JorisGoosen commented on #1747
@secircle could you perhaps attach the screenshot as a `png` file?

[2022-06-23 21:47] JorisGoosen commented on #1747
You can do so with paint for instance

[2022-06-23 21:55] secircle commented on #1747
Sure absolutely. I created two screenshots, one with Arial and the other with SegueUI
![JASP0 16 3_Arial](https://user-images.githubusercontent.com/57462288/175415670-bc55c8ec-4b2e-4876-b841-d38d1e91c9e4.png)
![JASP0 16 3_SegueUI](https://user-images.githubusercontent.com/57462288/175415679-1034543c-3a1d-4fcc-8905-6f9f0c65491f.png)

[2022-06-24 06:50] tomtomme opened #1760 "[Feature Request]: JASP on iPadOS vs. rollapp"
Still valid for jasp 0.19

### Description

Since we have JASP on M1 Macs, is it feasible to release a version for iPads with M1 upwards?

### Purpose

Inclusion: Many of my students feel left out because they only have an iPad.

### Use-case

Teaching JASP in class

### Is your feature request related to a problem?

one unsupporeted platform less

### Describe alternatives that you have considere

[2022-06-24 07:36] vandenman commented on #1760
So this is definitely something I hadn't thought of, but unfortunately, I think it will be pretty difficult to release a native jasp app for iPad. One problem is that all ios software has to go through the app store, another problem would be that then we'd probably also have to create a similar app for Android-based tablets. It's unfortunately not trivial to support both.

I think it is more feasi

[2022-06-24 08:33] jmuehlhans commented on #1758
Hi @shun2wang and @boutinb,
I have created an additional admin account using no special characters and tried to replicate the error but **it worked fine**. Plots were immediately displayed, I could scale or alter them and \AppData\Local\JASP\temp\11156\resources\0 showed all of the pngs and other files. Thank you so much for that solution.

Summary:
I used a microsoft account to log into my Window

[2022-06-24 09:53] shun2wang commented on #1758
@boutinb hi Bruno, i think we should still tracks it as a bug, and this type of issue has been reported for 4 times (as far as i know). thanks.

[2022-06-24 10:34] JorisGoosen commented on #1760
well, it does look like qt support is fairly reasonable for at least ios: https://doc.qt.io/qt-6/ios.html
And also android: https://doc.qt.io/qt-6/android.html

Now, I think it wouldn't be very hard to support these systems. However, it would probably require some workarounds for it running as an app. Also a lot of touch-processing stuff in qml has been turned off in favor of mouse controls and th

[2022-06-24 11:01] boutinb commented on #1758
Yes this problem must be solved.

[2022-06-24 11:12] tomtomme commented on #1760
Thanks for your comments. This helps me answering my students requests.

I guess it would be fine, if mouse/touchpad and keyboard stay a requirement on iPadOS since both ares supported since Version 13.4. Many students carry those magnetic touchpad/keyboard combos for their iPads around anyways.
So touch could be or can stay disabled for JASP.

A web version is interesting, yes, but as you already

[2022-06-24 12:39] boutinb commented on #1747
Do you have a High DPI monitor (retina display) ?

[2022-06-24 13:30] shun2wang commented on #1747
This may be an issue with Chromium font rendering for a long time, on some high DPI devices and devices with hardware rendering enabled, there may be cases where text looks fuzzy or blurry (because JASP result page is build on Qt6-Qt WebEngine and the latter is based on Chromium project).

so @secircle  you can try to fix it according to the following [information](https://support.google.com/chrom

[2022-06-24 15:09] secircle commented on #1747
Thank you both. Both are XPS13 laptops (full HD resolution). They are not retina displays. The cleartype adjustment did not fix the issue.

IMPORTANT CLUE!!!: I did not have this issue with 0.16.1. When I uninstalled 0.16.2 and rolled it back to 0.16.1, the problem disappeared. So there should be something that happened between 0.16.1 and 0.16.2.

[2022-06-24 23:14] JTPetter commented on #1705
This was mainly written by @filozofXV, so he might be able to answer this. Alternatively, I think @vandenman and @koenderks are also working on extending this, so they might have an idea?

[2022-06-25 05:39] utkb commented on #1424
I have same 404 problem and this page helped me: https://github.com/flathub/flathub/issues/2927

I used this code to update:

`flatpak update --no-static-deltas`

[2022-06-25 06:22] KrisKawski commented on #1751
Don, thank you so much. Take care :)

[2022-06-25 06:31] KrisKawski commented on #1756
Joris thank you and best regards, Kris

[2022-06-25 06:33] koenderks commented on #1760
While we are discussing the topic of a web app, I believe this is something that is in high demand. For example, you can image that, to get JASP into in a (large) commercial company, it has to go through all kinds of IT checks and hoops before all employees can download it. This is mainly a waste of time. A web app would make this process so much faster and easier for users and for us since no sof

[2022-06-25 07:07] tomtomme commented on #1760
But a big company would probably prohibit its employees from uploading any data into any cloud that was not checked by the IT. The IT would still waste time. Mostly the conclusion might be to just not trust the cloud with your sensible data. Or are we talking about a web app that the company can host themselves? Then the waste of time would be to maintain the servers and the network infrastructure

[2022-06-25 07:15] koenderks commented on #1760
I did not think about who should host this web app, but it seems to me like this is something we should do ourselves (not sure). I wanted to make clear that there is a demand for a web-app next to an installed version. I am working to get JASP into some large public organizations and companies right now, but what I experience is this bottleneck that I described above. Having an installer does not

[2022-06-25 07:42] tomtomme commented on #1760
There is deffinitely demand for a web app.
Two questions remain:
- How high is this demand compared to native mobile apps
- Who should host it?

I guess the existence of [rollApp](https://www.rollapp.com/app/jasp) is proof of the demand and of the possibility, that any company is legaly allowed to host AGPL software.
So JASP - at least version 0.14.3 - already exists as a web app hosted by someone

[2022-06-25 07:45] koenderks commented on #1760
Because they have to pay for it and it is outdated!

[2022-06-25 07:49] tomtomme commented on #1760
Outdated yes.
Pay? I still use it at no cost. I can not download results at no cost, but I have no problem just taking screenshots.

[2022-06-25 07:51] koenderks commented on #1760
Hmm I only read this on the JASP website:
![image](https://user-images.githubusercontent.com/25059399/175764131-63b71721-d714-4d1a-b590-9a022d925d70.png)
Never tried it myself though

[2022-06-25 10:25] tomtomme commented on #1760
I know this disclaimer and I never understood it. It seems just wrong.
It is totally possible to use it for free. Nothing changed october 2021. They have plans where you can pay for better performance etc. But this was always the case. Me and my students use roll-app for free. You just need to register. The problem: Its outdated for now and we do cannot upload sensitive data. But the use cas you d

[2022-06-25 11:28] JorisGoosen commented on #1760
If we are going to host a web-app we would probably just rent servers at AWS/Azure/something, but I think we would only be making this available to paying customers (as renting servers isnt cheap). There are also ways to have the whole app download and run locally but as JASP is now 1.8GB this would have to be redownloaded every time a user would want to open or clears the cache...

The disclaimer

[2022-06-25 11:29] JorisGoosen commented on #1760
As long as the sourcecode is made available yes.

[2022-06-26 01:03] AntonioJSCouto opened #1761 "[Bug]: This analysis terminated unexpectedly"
### JASP Version

0.16.3

### Commit ID

_No response_

### JASP Module

_No response_

### What analysis are you seeing the problem on?

_No response_

### What OS are you seeing the problem on?

Windows 11

### Bug Description

This analysis terminated unexpectedly.

Error in bars[[node]] <- pnorm(GroupThresh$est[GroupThresh$lhs = GroupVars$name[node]]): attempt to select more than one element i

[2022-06-27 07:52] juliuspf commented on #1629
this also seems to be a duplicate of https://github.com/jasp-stats/jasp-issues/issues/1617, right?

[2022-06-27 07:53] juliuspf commented on #1761
thanks for reporting the issue. this seems to be a duplicate of https://github.com/jasp-stats/jasp-issues/issues/1617, and that should be fixed with version 0.17.

[2022-06-27 07:53] #1761 closed

[2022-06-27 07:58] #1749 closed

[2022-06-27 08:00] juliuspf commented on #1734
@foger3 is this something you worked on?

[2022-06-27 08:32] foger3 commented on #1734
@juliuspf currently not, first the horizontally flipped stacked version is coming. For now, distribution plots (under basic plots in "Descriptives") can be used to accomplish the above request, at least partially (one variable per plot). Axes can be standardised with the plot editting feature.

[2022-06-27 10:40] Kucharssim commented on #1629
You are right - I will close https://github.com/jasp-stats/jasp-issues/issues/1617 since here is more details about the issue. (and I better solve this problem soon!)

[2022-06-27 10:40] Kucharssim commented on #1617
The discussion about this issue is here: https://github.com/jasp-stats/jasp-issues/issues/1629

[2022-06-27 10:40] #1617 closed

[2022-06-27 13:15] PerPalmgren opened #1762 "Added option in boxplot"
### Description

To add an "optional" mean to descriptive boxplots

### Purpose
When assessing normal distribution of data it is common practice to both look numerically (mean vs median and skewness), statistically (SW-test) and visually (histograms and boxplots).. I think it coud be beneficial for JASP users to have the possibility to opt to add a mean (line) to boxplot in the the descriptive mod

[2022-06-27 13:34] PerPalmgren opened #1763 "[Feature Request]: To be able to add 95% CI to QQ-plots"
### Description

 To add 95% CI to QQ-plots (in Descriptive, ANOVA  and Regression)

### Purpose

I think it could be very useful to have the option to add (by clicking) a 95% confidence interval for QQ-plots in in the descriptive- , ANOVA-   and Regression module).

### Use-case

_No response_

### Is your feature request related to a problem?

No but an enhancement!

### Describe the solution yo

[2022-06-27 13:46] PerPalmgren opened #1764 "[Feature Request]: addition to the descriptive boxplot"
### Description

The addition of a mean-line to boxplotsin the descriptive module.

### Purpose

When inspecting the shape/distribution of the data it is rather common to look at the data numerically (by comparing mean vs median and look at skeweness and kurtosis), statistically (SW-test) and visually (looking an histograms and boxplots), I think it would be very beneficial for JASP users to be ab

[2022-06-28 04:28] lowch005 opened #1765 "[Feature Request]: MANOVA - Include Post-Hoc Tests"
### Description

I'm thankful for JASP, an awesome tool. I'd like to suggest that you add 'post-hoc test features' to JASP's MANOVA. Examples of MANOVA post-hoc tests include REGWQ and Games-Howell.

### Purpose

Compare each group with all other groups for significant differences in the continuous variables.

### Use-case

For example, JASP's MANOVA only tells us whether there's a significant dif

[2022-06-28 08:56] #1594 closed

[2022-06-28 10:53] shun2wang opened #1766 "[Bug]: Quality Control-Response surface design run error"
### JASP Version

0.16.3

### Commit ID

_No response_

### JASP Module

jaspProcessControl

### What analysis are you seeing the problem on?

Response surface design

### What OS are you seeing the problem on?

Windows 10 21H2

### Bug Description

![image](https://user-images.githubusercontent.com/10348402/176161394-13eafdbc-ef7b-4fe9-9b18-2c4992a12134.png)

[code]

### Expected Behaviour

run R

[2022-06-29 12:45] daneshpouya opened #1767 "[Bug]: INSTALLATION PROBLEM"
### JASP Version

0.16.3

### Commit ID

_No response_

### JASP Module

_No response_

### What analysis are you seeing the problem on?

_No response_

### What OS are you seeing the problem on?

WINDOWS 7; 64BIT

### Bug Description

was using the version 0.16.1, however I uninstalled it to use the newer version 0.16.3. The installation process failed to be complete and it rolled back.
![JASP IN

[2022-06-29 14:27] tomtomme commented on #1767
From JASPs download page: "Please note that JASP 0.16.3 is not available for Windows 7."
Sorry to say that, but ou will have to stay with an older version https://jasp-stats.org/previous-versions

or upgrade your OS.

[2022-06-29 15:07] #1767 closed

[2022-06-30 15:46] #1661 closed

[2022-07-01 19:08] jes1984 commented on #1451
Thanks, a multinomial option would be great!!

[2022-07-02 10:59] JuanjoUCAM opened #1768 "[Bug]: Error in density based clustering t-SNE cluster plot"
### JASP Version

0.16.3

### Commit ID

_No response_

### JASP Module

jaspMachineLearning

### What analysis are you seeing the problem on?

_No response_

### What OS are you seeing the problem on?

Windows 11

### Bug Description

tryCatchOne(expr, names, parentenv, handlers[[1]])

doTryCatch(return(expr), name, parentenv, handler)

withCallingHandlers(expr = analysis(jaspResults = jaspResult

[2022-07-04 09:35] ferroson opened #1769 "[Bug]: Can't run JASP in Arch-based Linux Distro"
### JASP Version

0.16.3

### Commit ID

_No response_

### JASP Module

_No response_

### What analysis are you seeing the problem on?

 I don't know exactly

### What OS are you seeing the problem on?

Archcraft Linux (rolling release)

### Bug Description

I can't run JASP installed from Flathub

![image](https://user-images.githubusercontent.com/108534456/177127135-9347a4e0-1800-4525-a9eb-f88

[2022-07-04 11:44] vandenman commented on #1769
What is your flatpak version?

[2022-07-04 12:20] ferroson commented on #1769
The flatpak version is 1:1.12.7-1

![image](https://user-images.githubusercontent.com/108534456/177153237-3038392e-83a3-4e21-8ee3-067b1c6e71b0.png)

[2022-07-05 00:56] ferroson commented on #1769
I can work around the issue for a while. How to reproduce:

Edit /var/lib/flatpak/exports/share/applications with your favorite text editor. If you are confused, just use nano because it is usually preinstalled on every Linux distribution. We need root permissions to do this, so type the command in terminal:

$ sudo nano /var/lib/flatpak/exports/share/applications

On the Exec line, add the --no-s

[2022-07-05 12:46] EJWagenmakers commented on #1628
Isn't this closely related to what @fqixiang has been doing for generalized linear models?

[2022-07-05 13:53] koenderks commented on #1768
This issue is fixed by https://github.com/jasp-stats/jaspMachineLearning/commit/27a91484d7eec16fadeb06fb1cb9895b7d8164b6.

However, @JuanjoUCAM I can imagine that you still want this to work in the current version of JASP. The way to do this is to remove all duplicated values in the 4 variables that you use for clustering, I did this for you in this file: [Bruno_Prueba_no_duplicates.csv](https://g

[2022-07-05 14:08] FBartos commented on #1628
Yes, we were already discussing this with @Kucharssim

[2022-07-05 15:19] #1768 closed

[2022-07-05 15:44] BiomechFlo opened #1770 "[Bug]: rmANOVA - Post Hoc Tests"
### JASP Version

0.16.3

### Commit ID

_No response_

### JASP Module

jaspAnova

### What analysis are you seeing the problem on?

Post Hoc Tests | Contrasts

### What OS are you seeing the problem on?

Windows 10

### Bug Description

While running a rmANOVA I noticed that for Post-Hoc Tests as well as running Contrasts the SE value is always the same. I did a quick test on jamovi and found di

[2022-07-06 06:28] vandenman commented on #1769
Well, the linked issue looks like it explains why `--no-sandbox` is sometimes necessary. Jasp uses the Qt WebEngine which is built on Chromium. @JorisGoosen we should probably take a look at https://github.com/flathub/io.qt.qtwebengine.BaseApp/wiki#sandboxing-support-qt6-only.

[2022-07-06 10:35] #1770 closed, assigned to nobody

[2022-07-06 12:49] BiomechFlo commented on #1770
Hey Johnny,

many thanks for the quick reply. I totally missed this option.

Thanks
Flo

Von: JohnnyDoorn ***@***.***>
Gesendet: Mittwoch, 6. Juli 2022 12:35
An: jasp-stats/jasp-issues ***@***.***>
Cc: Paternoster, Florian ***@***.***>; Mention ***@***.***>
Betreff: Re: [jasp-stats/jasp-issues] [Bug]: rmANOVA - Post Hoc Tests (Issue #1770)

Hi @BiomechFlo<https://github.com/BiomechFlo> ,

We have

[2022-07-06 15:26] ferroson commented on #1769
Does that mean JASP won't use the sandbox later? On the one hand, the use of --no-sandbox will make it easier for users to run the application. If we have followed the instructions correctly, hopefully it can be used without any extra steps, but it seems that some users tend to want the application in a sandbox

[2022-07-07 07:35] vandenman commented on #1769
Jasp does nothing with `--no-sandbox`, as indicated by the first line in the terminal of your screenshot:
![image](https://user-images.githubusercontent.com/21319932/177716876-303af5a4-9172-44b3-a05e-a785c0f5bfed.png)

However, chromium probably does something with it. Either way, it would indeed be better if Jasp can be run without `--no-sandbox`. This is already the case on e.g., Ubuntu 20.04 an

[2022-07-07 15:19] #1709 closed

[2022-07-08 07:42] smathot opened #1771 "[Bug]: Can't update flatpak installation of JASP (server returned status 404)"
### JASP Version

0.16.1

### Commit ID

_No response_

### JASP Module

_No response_

### What analysis are you seeing the problem on?

_No response_

### What OS are you seeing the problem on?

Ubuntu 22.04

### Bug Description

I have installed JASP through flatpak on Ubuntu 22.04. Right now I'm running 0.16.1, but an update is available. However, when I try to do the update, I get the error m

[2022-07-08 09:02] vandenman commented on #1771
perhaps remove jasp first and then install it again? I've also encountered this but unfortunately, it looks more like a bug in flatpak than one on our end.

[2022-07-08 09:12] smathot commented on #1771
You're right, actually. First uninstalling and re-installing did successfully update the package!

[code]

[2022-07-08 09:15] vandenman commented on #1771
It's not a great user experience, I know. Perhaps @JorisGoosen has any ideas on how to make these upgrades more smooth?

[2022-07-12 13:47] shun2wang opened #1772 "[Bug]: gif cannot display in jaspAnova help file"
### JASP Version

0.16.3

### Commit ID

_No response_

### JASP Module

jaspAnova

### What analysis are you seeing the problem on?

_No response_

### What OS are you seeing the problem on?

Windows 10

### Bug Description

![Snipaste_2022-07-12_20-58-33](https://user-images.githubusercontent.com/10348402/178504728-ea4778fc-bf7b-4836-b018-ca5e111ccda1.png)

This is due to a problem with the path

[2022-07-12 14:15] JorisGoosen commented on #1771
Well, I don't really understand why this is happening. But the fact that `flatpak` has a `flatpak repair` argument tells me that we aren't the first to run into problems with messy local files...

[2022-07-14 07:53] #842 closed

[2022-07-14 15:44] #1276 closed

[2022-07-14 15:44] FBartos commented on #1521
I believe that this was the same issue as in: https://github.com/jasp-stats/jasp-issues/issues/1107 which got fixed with the newer versions (it's working in 16.3),

[2022-07-14 15:44] #1521 closed

[2022-07-14 15:44] #1469 closed, assigned to FBartos

[2022-07-14 15:44] FBartos commented on #1107
I checked the analysis and verified that this issue is now fixed.

The same issues were:
https://github.com/jasp-stats/jasp-issues/issues/1276
https://github.com/jasp-stats/jasp-issues/issues/1521
https://github.com/jasp-stats/jasp-issues/issues/1469

[2022-07-14 15:44] #1107 closed

[2022-07-14 17:01] secircle commented on #1747
Hi I just rolled back from 0.16.3 to 0.16.1 because I need to use screen capture of the JASP for my work.
Again, rolling back to 0.16.1 solved the issue. I attached the screenshots, taken before the roll back and after the new installation. I hope the dev team can look into this for PC users.

[JASP 0.16.3 Before rollback]
![JASP 0 16 3_Screenshot 2022-07-14 124519](https://user-images.githubuserc

[2022-07-14 17:26] JorisGoosen commented on #1747
If what @shun2wang mentions about hardware rendering in chromium is the culprit it should be easy to mitigate by turning on "Safe Graphics" in Advanced Preferences.
This will also turn on software rendering in the webengine and thus hardware rendering *off*.

For us to fix this problem (if it is in chromium) is not really feasible though...

The reason it started happening from 0.16.2 is because w

[2022-07-14 17:51] secircle commented on #1747
Three weeks ago I followed @shun2wang suggestion and turned on the Safe Graphics. However, if I remember correctly, it did not fix the problem. Moreover, it made other programs look bad. Unless I use a JASP on a dedicated PC, I don't think this can be a viable option even if it can solve the problem. Too bad that this issue cannot be addressed for now. I understand the tradeoffs during the develop

[2022-07-14 21:03] secircle commented on #1747
Thanks @JorisGoosen

Safe graphics mode did not improve the rendering. I tested this with my other Dell XPS13 laptop (Windows 10; 1080p resolution) with JASP 0.16.3 version just now. Below I tested with Safe Graphics mode on or off on JASP & smoothing edges option on Windows 10 as suggested by @shun2wang.

*Safe Graphics Off
![JASP 0 16 3 Safe Graphics Off Screenshot 2022-07-14 165316](https://use

[2022-07-15 09:27] #903 closed

[2022-07-15 09:27] #1624 closed

[2022-07-15 12:21] boutinb commented on #1747
Hi @secircle , Could you export the result as html and pdf files, and check whether you have the same problem when visualising these files with your browser?

[2022-07-15 13:57] jstamos84 opened #1774 "Bug: error message when trying to perform LGCM in JASP"
I was trying to perform LGCM in Jasp. When I tried to add factors I got the following error message.

This analysis terminated unexpectedly.

Error in data.frame(..., check.names = FALSE): arguments imply differing number of rows: 60, 53

Stack trace
tryCatchOne(expr, names, parentenv, handlers[[1]])

doTryCatch(return(expr), name, parentenv, handler)

withCallingHandlers(expr = analysis(jaspResul

[2022-07-16 07:52] shun2wang commented on #1584
This cannot be reproduce on JASP 0.16.3, so i am going to close it

[2022-07-16 07:52] #1584 closed

[2022-07-18 00:58] huangkai31 commented on #1714
I have the same problem with 0.16.3

1. Open the data :  Data Library -> 15. Prophet -> JASP Webpage Visits
2. Click Phophet icon on the top bar
3. move visits into Dependent Variable, move date into Time
4. On the results of prophet, it shows error message:

This analysis terminated unexpectedly.
Error: CCTZ: Unrecognized output timezone: 'GMT'

![image](https://user-images.githubusercontent.com/

[2022-07-18 04:47] AlanFNQ opened #1773 "[Feature Request]: Network Proxy Aware"
### Description

Make JASP network proxy aware for better use in large institutions

### Purpose

JASP does not currently prompt for proxy access when checking Internet connections nor are there any proxy settings in the Preferences.  Large businesses and government organisations use proxies to govern Internet access.

### Use-case

JASP currently fails at start if it can't connect to homebase to

[2022-07-18 09:29] #1599 closed

[2022-07-18 10:23] #1631 closed

[2022-07-18 10:24] JorisGoosen commented on #1773
Well,

Aah yes this is a very good point indeed. I think we can add a "proxy" setting to the preferences.

Yes and a proxy setting would solve this handily.

Normally there should be no problem if JASP cannot connect to the server for the "issues". The only thing that does is show some warnings in some specific analyses in case there is some problem that might invalidate the results.
However there

[2022-07-18 10:59] bs-zumba opened #1775 "[Bug]: error when saving plots as .svg in ANOVA"
### JASP Version

0.16.3

### Commit ID

_No response_

### JASP Module

jaspAnova

### What analysis are you seeing the problem on?

image export

### What OS are you seeing the problem on?

Linux Mint 20.3

### Bug Description

Plots can be exported in all formats except svg.
Always get this error:

**Unfortunately the plot could not be saved.

Error message:
path must point to a valid file

If

[2022-07-18 20:00] iandol commented on #385
This really would be a wonderful ability to improve analysis flexibility. Thank you for all your hard work on making such a great and useful package!

[2022-07-18 22:03] AlanFNQ commented on #1773
We currently use Windows 10 in my organisation.

[2022-07-19 09:03] JorisGoosen commented on #1714
@willkm3 I have a suggestion for something you could try that might help us fix this.

Can you set an environment variable in windows called `TZDIR` and set to a specific path in JASP.
So if you installed JASP to `C:\Program Files\JASP` you would set it to:
`C:\Program Files\JASP\R\share\zoneinfo`

To add an environment variable you can do this: https://docs.oracle.com/en/database/oracle/machine-l

[2022-07-19 10:21] juliuspf commented on #1774
Hi @jstamos84, thanks for reporting this. If possible, could you upload a .jasp file (zipped) that leads to the error? Or alternatively, the data set?

[2022-07-19 11:26] tomtomme opened #1776 "[Bug]: native BioArch JASP Version broke about 2 days ago - initializing modules loop"
### JASP Version

0.16.3

### Commit ID

_No response_

### JASP Module

_No response_

### What analysis are you seeing the problem on?

all

### What OS are you seeing the problem on?

Manjaro with BioArch Repo

### Bug Description

@sukanka
around 2 days ago some r-packages came as update from the bio-arch repo. Since then all modules try to initialize and show the spinning circle for about 10

[2022-07-19 11:30] tomtomme commented on #1776
Since the log mentions "Cache" frequently I tried deleting home/.cache to no avail

[2022-07-19 11:57] JorisGoosen commented on #1775
@bs-zumba can you export svg's from other analyses? For instance, from descriptives?

[2022-07-19 12:12] sukanka commented on #1776
Thanks for letting me know, I guess it's caused by https://github.com/BioArchLinux/Packages/commit/65bb641c22e292093d8fba3b8dd597cca4333ad1 and https://github.com/jasp-stats/jaspBase/pull/66
I'm now looking into it.

[2022-07-19 12:24] sukanka commented on #1776
I have pinned the commit used to build `jaspbase` for a while, https://github.com/BioArchLinux/Packages/commit/84cd0bfb01056c963cb9a39a699760f42dee3117,
it will be in the repository in 6 hours, or you can use that PKGBUILD to build it yourself.

When a new version of jasp-desktop is released, I will update them to follow the  jasp mainline

[2022-07-19 12:58] bs-zumba commented on #1775
svg exporting from descriptives also failed

On Tue, 19 Jul 2022 at 08:58, Joris Goosen ***@***.***> wrote:

--
Beny Spira
Professor Livre-Docente
Departamento de Microbiologia
Instituto de Ciências Biomédicas
Universidade de São Paulo
Av. Prof. Lineu Prestes 1374
São Paulo-SP    CEP:05508-900
Brasil
Tel: 5511-3091-7347 (lab)
       5511-3091-8346  (office)
E-mail: ***@***.***
Homepage: http://pai

[2022-07-19 13:05] sukanka commented on #1769
Note that you are using Archcraft Linux (rolling release), which is based on archlinux, you may try to install `jasp-desktop` from [BioArchLinux](https://github.com/BioArchLinux/Packages) after Tue Jul 19 18:00:00 UTC 2022 (as a relevant issue is been processed)

[2022-07-19 13:08] JorisGoosen commented on #1775
Could you upload the logs?

See: https://github.com/jasp-stats/jasp-desktop/blob/stable/Docs/user-guide/logging-howto.md

[2022-07-19 13:42] JorisGoosen commented on #1775
Thanks for sending them, but github doesnt upload attachments from emails so if you could upload it manually at https://github.com/jasp-stats/jasp-issues/issues/1775 that would be greatly appreciated :)

[2022-07-19 15:03] JorisGoosen commented on #1775
@bs-zumba are you sure you are running JASP 0.16.3?

Because I see this in your log:
[code]

Could you show me the output of `flatpak list` you have?

[2022-07-19 15:45] bs-zumba commented on #1775
Sorry for that.
I've filled the bug report at home, where the 0.16.3 version is installed.
At work it is 0.16.1.
Both versions present the same problem with svg export.

On Tue, 19 Jul 2022 at 12:03, Joris Goosen ***@***.***> wrote:

--
Beny Spira
Professor Livre-Docente
Departamento de Microbiologia
Instituto de Ciências Biomédicas
Universidade de São Paulo
Av. Prof. Lineu Prestes 1374
São Paulo-

[2022-07-19 16:36] vandenman commented on #1775
@JorisGoosen Looks like the error originates in https://github.com/r-lib/systemfonts/blob/99b6c630af663f382abe49cb8c596f482aa66661/R/shape_string.R#L132

The font path for Arial, based on the log files, cannot be found.

@bs-zumba does the error persist if you change the font for the results to something else? You can do so here:
![image](https://user-images.githubusercontent.com/21319932/17980313

[2022-07-19 18:18] stats-matt opened #1777 "[Bug]: JASP crashing on mac when creating linear regression"
### JASP Version

0.16.3

### Commit ID

_No response_

### JASP Module

jaspRegression

### What analysis are you seeing the problem on?

Linear Regression

### What OS are you seeing the problem on?

macOS 12.4

### Bug Description

JASP crashes - other analyses like t-tests do not cause JASP to crash. Edit: bill_length_mm causes a crash, but flipper_length_mm doesn't, though there doesn't seem

[2022-07-19 23:41] iandol opened #1778 "[Bug]: Polygon edge not found"
### JASP Version

0.16.3

### Commit ID

6a43098c15a5875a1f6cbab94f4dd038e1c55568

### JASP Module

jaspTtest

### What analysis are you seeing the problem on?

Anova or TTests

### What OS are you seeing the problem on?

macOS 12.4

### Bug Description

When I first tried JASP I could generate raincloud plots, but now with new analyses I get the same error whenever I try to activate them, and eve

[2022-07-20 06:47] tomtomme commented on #1776
Many Thanks @sukanka for the quick fix. Analyzing like a champ - again :dagger:
cheers

[2022-07-20 06:48] #1776 closed

[2022-07-20 07:59] juliuspf commented on #1778
Hi @iandol, thanks for reporting this. I can't seem to recreate the issue on my Mac (with 12.4). I get proper raincloud plots. Are you using a Mac with an Intel chip or apple silicon?

[2022-07-20 08:15] juliuspf commented on #1777
Hi @stats-matt, thanks for reporting this. I cannot even recreate this issue, because reading in the data results in the variables you names (bill_length_mm, etc.) to be scaled as nominal, so I cannot add them as dependent variables in the regression at all. Is it possible you send a zipped jasp file?

[2022-07-20 10:03] iandol commented on #1778
By the way, where are the preferences saved. I did try uninstalling and reinstalling and deleting some prefs files but obviously missed some...

[2022-07-20 10:11] iandol commented on #1757
Obviously it seems @jorvlan is perfect for this feature given https://github.com/jorvlan/raincloudplots :-) — it would indeed be truly wonderful to be able to have a GUI module interface to his flexible library to do 1x1 2x2 2x3 with the various great layout options he has provided as checkboxes… ❤️

This could be separated as a new module from the basic options already available in the standard m

[2022-07-20 12:29] tomtomme opened #1779 "[Feature Request]: exponential & log model fit for Flexplot"
### Description

Add the option to model exponential & logarithmic functions in Flexplots options

### Purpose

We have quadratic and cubic already, so log and exp seem as the next natural step

### Use-case

non-linear models

### Is your feature request related to a problem?

I can not visually model exponential growth in JASP right now

### Describe the solution you would like

Add exponential

[2022-07-20 12:44] stats-matt commented on #1777
Interesting @juliuspf ! Here's my jasp file - when I load the csv file, bill_length_mm is continuous
[penguins.jasp.zip](https://github.com/jasp-stats/jasp-issues/files/9149848/penguins.jasp.zip)
.

[2022-07-20 12:45] stats-matt commented on #1777
And here's a screenshot in case anything else looks different on your sid
<img width="1360" alt="Screen Shot 2022-07-20 at 8 44 59 AM" src="https://user-images.githubusercontent.com/9168722/179985283-e8fe80fc-cb4c-4e81-962d-e6b0bda42bce.png">
e

[2022-07-20 13:50] juliuspf commented on #1777
so this is kind of weird, the crash can definitely be reproduced and it's quite the hard crash, not error message whatsoever. I think this happens because the data has some weird format. For the bill_length_mm column I changed the numbers without a decimal, e.g., 42, to 42.0, and then JASP does not crash anymore. You can see that the numbers without the decimal point are somewhat differently repre

[2022-07-20 14:11] JorisGoosen commented on #1777
Aah that is weird, I do also get them continuous like @stats-matt .

And I also get a hard crash...

No clue why though...

[2022-07-20 16:56] ferroson commented on #1769
Thank you very much for the advice

[2022-07-20 17:23] MelissaJEvans opened #1780 "[Bug]: Bayesian repeated measures ANOVA running slow"
### JASP Version

0.16.3

### Commit ID

_No response_

### JASP Module

jaspAnova

### What analysis are you seeing the problem on?

Bayesian analysis of repeated measures ANOVA

### What OS are you seeing the problem on?

Windows 10

### Bug Description

I'm trying to run a Bayesian repeated measures ANOVA and it is running unbelievably slow (only two error % values have been computed in the 15

[2022-07-20 17:24] MelissaJEvans commented on #1780
It may be worth noting that I tried uninstalling and reinstalling JASP as well as reloading in this CSV file data and restarting the analyses.

[2022-07-21 01:59] shun2wang commented on #1780
Hi @MelissaJEvans thank you for your report. Could you please send a JASP file or CSV file here?

[2022-07-21 07:36] tomtomme commented on #1326
Just as a reminder: negative Phi is implemented, but Phi for 2xX tables not yet.

[2022-07-21 07:42] tomtomme opened #1781 "[Feature Request]: stable jasp-desktop for Arch Linux AUR"
### Description

native Arch Linux package of a stable jasp version

### Purpose

more reliably using jasp on linux

### Use-case

every day work :D

### Is your feature request related to a problem?

Yes. We have jasp stable via flatpak, but the flatpak road faced issues in the past (uninstalling then installing again needed; one version of jasp skipped etc.). Then came the famous @sukanka to giv

[2022-07-21 07:53] sukanka commented on #1781
Well, I agree with you. But there are several difficulties, I attempted to build stable versions of jasp and its modules, but jasp modules have no release or tags, see for example, [jaspBase](https://github.com/jasp-stats/jaspBase).

So in BioArchLinux repo, we have to check the DESCRIPTION file of the module, see https://github.com/jasp-stats/jaspBase/blob/master/DESCRIPTION, and compare the vers

[2022-07-21 08:26] vandenman commented on #1781
The goal is to change this at some point and give tag each module once there is a release. Until then, would it be possible to base everything on the commits listed in the released version of jasp-desktop? See for example https://github.com/jasp-stats/jasp-desktop/tree/v0.16.3/Modules.

[2022-07-21 09:03] sukanka commented on #1781
Sure, as long as these commits are consistent with the latest tag or latest release, archlinux always follows the latest release or latest tag.
For example, [jaspAnova @ 6a270bf](https://github.com/jasp-stats/jaspAnova/tree/6a270bf1cb200f72744a58b2d7450ac49391828b), if the latest release of jaspAnova points to `6a270bf`, and keeps unchanged (no newer release of jaspAnova) until the next release of

[2022-07-21 10:08] tomtomme commented on #1781
Very cool! If this happens it would be cool to keep the "daily-snapshots" alongside a stable build for "beta-testing" purpuses on linux.

[2022-07-21 12:17] boutinb commented on #1747
I have now a Windows 11 machine where I can reproduce your problem. I still don't understand why the rendering is so bad, but I noticed that when I set JASP to have the whole screen, then is the rendering much better (with still sometimes some blue letters). Do you have the same behaviour?

[2022-07-21 14:05] TarandeepKang opened #1782 "[Bug]: Citations for parallel analysis are broken/missing"
### JASP Version

0.16.3

### Commit ID

_No response_

### JASP Module

jaspFactor

### What analysis are you seeing the problem on?

PA

### What OS are you seeing the problem on?

Windows 11

### Bug Description

Parallel analysis was first proposed by John Horn, this citation is not in the help file.
The Dinno citation URL leads to a webpage that does not exist.

### Expected Behaviour

Help f

[2022-07-21 19:58] MelissaJEvans commented on #1780
Hello! I was able to get this running perfectly fine through Jamovi actually, so all is resolved!

[2022-07-21 20:17] EJWagenmakers commented on #1780
Well that is not quite the kind of resolution we'd like to see :-)

[2022-07-21 20:18] EJWagenmakers commented on #1780
In order to help other users we'd still appreciate some help fixing the issue!

[2022-07-21 22:34] secircle commented on #1747
@boutinb Glad to hear that you were able to replicate the same issue on Windows 11. It is interesting to hear that both Windows 10 & 11 experience the same issue across different hardware.

In terms of full screen, all of my screenshots were taken in full-screen mode. So, I can confirm that the problem still exists with the full-screen mode.

[2022-07-22 06:56] PerPalmgren commented on #1442
@Kucharssim @juliuspf @amirmasoudabdol @LSLindeloo @JohnnyDoorn
Hi guys,
I hope you are enjoying the "warm" summer🌞🏊‍♀️⛱🍹🥵.
Just want to check in if you think the feature with added standardized residuals  and adjusted standardized residuals for post hoc analysis with chi-square analysis will be incorporated for 0.16. 4? I really hope so🙏.
All the best
Per😎

[2022-07-22 07:07] #1442 closed

[2022-07-22 07:08] Kucharssim commented on #1442
Hi @PerPalmgren,

Yes, this feature will be in the next release!

[2022-07-22 15:07] njgarnett opened #1783 "[Bug]:"
### JASP Version

0.16.3

### Commit ID

_No response_

### JASP Module

_No response_

### What analysis are you seeing the problem on?

All analyses

### What OS are you seeing the problem on?

All

### Bug Description

JASP does not work with screen readers. This is really problematic for visually impaired users and may mean we are unable to use JASP in teaching.

### Expected Behaviour

JASP s

[2022-07-25 13:51] #29 closed

[2022-07-25 17:12] MelissaJEvans commented on #1780
Hi, apologies for the delay. Here's the CSV file and the JASP file.
[Evans_Jamovi_error.zip](https://github.com/jasp-stats/jasp-issues/files/9183376/Evans_Jamovi_error.zip)

[2022-07-25 18:31] EJWagenmakers commented on #1783
There was also a statement we can adopt which is useful for universities who want to install and use JASP. I believe our Jamovi friends have an example ready. @JTPetter could you look at this statement? I'll see whether I can dig that up from the requests...

[2022-07-25 18:33] EJWagenmakers commented on #1685
@JTPetter this is the relevant thread with information about the VPAT document. Maybe you can create one for JASP and we can update it as we add more accessibility options.

[2022-07-26 01:25] shun2wang commented on #1780
@MelissaJEvans thank you for your example file.

I can't reproduce the "slowly" issue, but if I refresh that .jasp file, I got a different error message every time. maybe @vandenman can take a look?

[2022-07-26 10:03] boutinb commented on #1747
So after quite some research, I can reproduce this problem with a small application directly with Qt (the platform we use to build JASP). I could not find a workaround, but I have submitted a bug issue by Qt. Hopefully they can help us soon.

[2022-07-26 16:08] basvanhooren opened #1784 "[Bug]: Raincloud plots for paired t-test are incorrectly plotted"
### JASP Version

0.16.2

### Commit ID

_No response_

### JASP Module

jaspTTests

### What analysis are you seeing the problem on?

_No response_

### What OS are you seeing the problem on?

Windows 10

### Bug Description

When plotting the raincloud plots for paired t-tests, the second condition (ending with R2) always appears first in the plot, while I would like the first condition (ending

[2022-07-26 21:27] secircle commented on #1747
Thank you @boutinb Glad to hear that you submitted the bug issue to Qt. I hope they can look into this issue soon.

[2022-07-27 16:15] #1772 closed

[2022-07-27 17:53] MelissaJEvans commented on #1780
That is odd. For me, when I try to run the analysis it just won't run. I tried it on two different computers and after a few hours only one or two numbers would be computed at most.

[2022-07-28 08:43] vandenman commented on #1780
@MelissaJEvans The main difference is that since Jasp 0.16.3 the repeated measures ANOVA now includes random slopes by default. Computing Bayes factors for models with random slopes simply takes more time, but without the random slopes the results could be completely wrong. See [this preprint](https://psyarxiv.com/fb8zn/) that illustrates the difference between the old and new approach.

I'm not 1

[2022-07-28 09:08] shun2wang commented on #1780
@vandenman Ahaha i'm not jiashun wang,  for the error message,It's because I'm reproducing on a different branch than stable, so please ignore it and i am looking into it for now, thanks.

[2022-07-28 09:17] vandenman commented on #1780
@shun2wang Sorry, I failed at reading... Let me know if the error persists and you need help with it in the future!

[2022-07-28 13:29] #1753 closed

[2022-07-28 13:30] Kucharssim commented on #1753
Dear @wave-form,

thank you for the request, this feature will be available in the next release!

[2022-07-28 14:54] MelissaJEvans commented on #1780
@vandenman Yes I saw the preprint and was wondering if that had to do with the slowness. I think when I got it to run before it must have been before I updated JASP.
Jamovi's jsq package is based on JASP before the update, so I do want to rerun with JASP. I'll try and set it up on a computer that can handle running something for a while, but I would appreciate hearing if there's a way to speed it

[2022-07-28 14:54] #1780 closed

[2022-07-29 01:51] sarahatwatts opened #1785 "[Bug]: Error in relyFit[['freq']][['omega.fit']]<-omega[[indices']]: replacement has length zero"
### JASP Version

Others

### Commit ID

_No response_

### JASP Module

jaspReliability

### What analysis are you seeing the problem on?

Cronbachs alpha

### What OS are you seeing the problem on?

Macbook pro - running jasp online

### Bug Description

A bug happened. The error message asked for it to be reported: Error in relyFit[['freq']][['omega.fit']]<-omega[[indices']]: replacement has le

[2022-07-29 05:46] vandenman commented on #1785
Thanks for reporting the issue! Could you answer a few questions to help us solve this bug?

1. Which version of Jasp are you using?

2. With

Do you mean you're using Jasp through [rollapp](https://www.rollapp.com/app/jasp)?

3. Would it be possible to share the data set or Jasp file that lead to this error? Note that if you wish to attach a file to the issue then 1) it is public, and 2) you need

[2022-07-29 07:42] tomtomme opened #1786 "[Feature Request]: Button for switching labels on and off"
### Description

Button for switching labels on and off

### Purpose

Sometimes I like to see the numbers behind the labels directly in the data (without opening the variable pane where I can edit the labels)

### Use-case

informing myself about the data and the labels easily

### Is your feature request related to a problem?

At hte moment I have to delete the labels to see the number in data or

[2022-07-29 11:21] utkb opened #1787 "[Bug]: JASP is not showing labels in plots."
### JASP Version

0.16.3

### Commit ID

_No response_

### JASP Module

jaspRegression

### What analysis are you seeing the problem on?

Correlation

### What OS are you seeing the problem on?

Ubuntu 22.04 (Flatpak Version)

### Bug Description

There is no labels on Plots. What i am doing wrong?

![image](https://user-images.githubusercontent.com/13717035/181752364-3d6b7fc6-baf9-4878-9a3e-d6f8

[2022-07-29 11:46] utkb commented on #1787
I can solve the problem, changing font options to Liberation Sans or Serif solve the problem.

[2022-07-29 11:51] Andre3582 commented on #385
Yes! I just want to state that this function would be really nice to have! Keep up the great work JASP team!

[2022-07-30 04:40] shun2wang commented on #1787
@utkb thank you for your report, We are still interested in knowing the period that happened here, can you tell us:
1. What was the font setting when this problem happened?
2. Could you give a simple example dataset (.jasp or .csv) to upload here?

[2022-07-30 05:19] sarahatwatts commented on #1785
Hi there

Yes, I'm using JASP through Rollapp, online.

The dataset is .JASP so won't allow me to upload. Am I able to email it to you somehow?

[2022-07-30 09:42] vandenman commented on #1785
you can email it to me at d.vandenbergh<at>jasp-stats.org. Note however that rollapp is running  Jasp 0.14.3, while we are currently at Jasp 0.16.3 so it could be that the bug has already been fixed.

[2022-07-31 02:31] sarahatwatts commented on #1785
Thanks Don

Sorry your email address is not registering as being in the proper form.
Should it be ***@***.***
<http://d.vandenberghjasp-stats.org/>?

I'm also on the unpaid version of Rollapp - could that have any
implications?

Kind regards

Sarah

On Sat, Jul 30, 2022 at 5:42 PM Don van den Bergh ***@***.***>
wrote:

[2022-07-31 05:46] utkb commented on #1787
Thank you for your effort.

I think previous fonts are Microsoft Fonts, one of them Helvetica. I can not upload dataset because of sensitive patient information and JASP behave same with all databases. After I changed fonts to Liberation Sans, there is no Helvetica font, I can't select problematic fonts again so i think there is a missing font problem here.

I can remove JASP completely with assoc

[2022-07-31 06:35] utkb commented on #1787
![image](https://user-images.githubusercontent.com/13717035/182013402-3b3d9a2f-6e1b-4f69-8e5d-d45c2a88dc6f.png)

[2022-07-31 06:36] utkb commented on #1787
I reinstalled JASP with reset, i can confirm the missing font is Helvetica.

[2022-07-31 07:12] shun2wang commented on #1787
hi @utkb thank you!
what language does your dataset labels is？for example here
![chrome_eoWr7WroXr](https://user-images.githubusercontent.com/10348402/182014507-8157aeb3-3b45-4c16-9820-1c39cf4b8179.png)

[2022-07-31 08:37] utkb commented on #1787
Turkish but without special characters such as ç, ğ, ö, ş, ü.

[2022-08-01 08:30] vandenman commented on #1785
ah yes, you're right it is `d.vandenbergh<at>jasp-stats.org` where you should replace \<at\> with @ (so bots scraping email addresses on GitHub have a harder time).

[2022-08-01 11:54] NadjaSchuh opened #1788 "[Bug]: Cannot create control chart for column with empty cells"
### JASP Version

0.16.2

### Commit ID

_No response_

### JASP Module

jaspProcessControl

### What analysis are you seeing the problem on?

Control Charts

### What OS are you seeing the problem on?

Windows 10

### Bug Description

![image001](https://user-images.githubusercontent.com/110393355/182142102-663de142-828e-48a1-a9c1-fa2568faab83.png)
Cannot create control chart when column has empt

[2022-08-01 12:50] NadjaSchuh opened #1789 "[Feature Request]: Stages in Control Charts"
### Description

Be able to add a column with stage for a control chart

### Purpose

 recalculating mean and control limits whenever a new stage is entered

### Use-case

When a proces is adjusted or tuned, the data will change

### Is your feature request related to a problem?

_No response_

### Describe the solution you would like

Add a field where a column with stage data can be entered. wen

[2022-08-01 13:07] mathijsdeen commented on #1577
This would be very helpful. Small sample bias in logistic regression is largely ignored in literature and (thus?) in software.

The Firth correction might be the best known correction and is especially helpful in the case of (quasi-)complete separation. This method can easily be implemented by switching to an alternative optimizer when calling the `glm` function somewhere under the hood (I think i

[2022-08-01 13:50] NadjaSchuh opened #1790 "[Feature Request]: Control charts adjustable control limits and targets"
### Description

to be able to adjust control limits and mean

### Purpose

adjust control limits and mean to what is useful for  specific data and proces

### Use-case

Standard control chart is based on calculated mean and 2stdev. Not all processes need to be controled like that

### Is your feature request related to a problem?

_No response_

### Describe the solution you would like

Adjustabl

[2022-08-01 13:56] NadjaSchuh opened #1791 "[Bug]: Control Chart subgroups"
### JASP Version

0.16.2

### Commit ID

_No response_

### JASP Module

_No response_

### What analysis are you seeing the problem on?

control charts

### What OS are you seeing the problem on?

Windows 10

### Bug Description

When adding a column as subgroup in control charts, JASP still requires to put a fixed group size. I guess it does not use the column to define subgroups as the option i

[2022-08-01 14:01] JorisGoosen commented on #1787
Ill doublecheck the default fonts on linux before the next release, not sure why helvetica is selected in flatpak anyway. I think we used to only set that for macos.

[2022-08-02 08:04] Trebicky opened #1792 "[Feature Request]: Sensitivity for observed effects"
### Description

Each (frequencists) test should provide Reliability of given result or Sensitivy to obsreve it.

### Purpose

Provide users with measur of theyr analysis sensitivy or reliability. It would help user to make better conclusions about obsreved effects. Such feature would be singlehandedly be the biggest improvent in result intepretation any software currently provide - though StatsCl

[2022-08-02 09:27] Kucharssim commented on #1792
Dear @Trebicky,

We are planning to add a module to calculate power for typical statistical tests.

As for the actual feature you are proposing, I am not sure but I seems to me like calculating the "observed power" after analysing the data. As far as I know, there is a consensus that this statistic does not offer any information above the p-value and in general should not be used (e.g., https://ww

[2022-08-02 09:33] EJWagenmakers commented on #1792
Yes, observed power is a transformation of the p-value and statisticians generally get upset whenever this concept is mentioned :-)

[2022-08-02 09:37] Trebicky commented on #1792
Thanks for your answer. I am aware of post hoc power nono, but running a
sensitive analysis should be deem ok. Thus I suggest only to compare
observed effect with effect for which given sample and analysis is
suffciently poweredr for.

Dne út 2. 8. 2022 11:33 uživatel EJ ***@***.***> napsal:

[2022-08-02 13:15] juliuspf commented on #1785
I am quite sure this is an old bug that has been fixed since 0.14.3. I can't really offer a solution, since updating JASP on rollApp was somewhat tricky (if I remember correctly). The only obvious solution is to use JASP offline locally. Sorry about that.

[2022-08-02 13:56] juliuspf commented on #1789
Hi @NadjaSchuh, thanks for the request. Is this related to a specific module? I am guessing Quality Control? is that correct?

[2022-08-02 13:56] juliuspf commented on #1790
Hi @NadjaSchuh, thanks again for the request. This is again related to the quality control module?

[2022-08-02 13:57] juliuspf commented on #1791
Hi @NadjaSchuh, thanks again for the report. This is again related to the quality control module?

[2022-08-02 14:02] NadjaSchuh commented on #1791
Hi,

Yes, all remarks are for quality control module.

Met vriendelijke groet,

Nadja Schuh
Engineer

T +31 (0) 497 339 619
K  2.03 | Alpha gebouw | LouwersHanique<https://www.louwershanique.com/nl>

***@***.***<https://www.louwershanique.com/nl>

Van: Julius Pfadt ***@***.***>
Verzonden: dinsdag 2 augustus 2022 15:57
Aan: jasp-stats/jasp-issues ***@***.***>
CC: Nadja Schuh ***@***.***>; Mention *

[2022-08-02 22:18] alandrade1 commented on #1668
Dear **JASP** team,

Although plotting skills of JASP are fascinating, it lacks of indicative p-value between groups box plots or ANOVA significance results, for instance. It could be nice to implement ggpubr nor ggstatsplot like packages in JASP.

Thanks,

A

[2022-08-03 15:06] HavvaSibel opened #1793 "[Bug]: Failed to convert column contains text"
### JASP Version

0.16.3

### Commit ID

_No response_

### JASP Module

_No response_

### What analysis are you seeing the problem on?

Pearson Correlation

### What OS are you seeing the problem on?

Windows 10

### Bug Description

I try to change the column „videogamin“ category from nominal to scale but a mistake accures:
Failed to convert column to continuous: values contain text.

could yo

[2022-08-04 01:00] planktonwrangler opened #1794 "[Feature Request]: Syntax output"
### Description

Output program code, syntax for journal article submission

### Purpose

Required for scientific journal article submission

### Use-case

Trying to submit a journal article with results that were analyzed using JASP

### Is your feature request related to a problem?

No

### Describe the solution you would like

In SPSS, it is easy to access and save the syntax/scripts so that th

[2022-08-04 01:11] shun2wang commented on #1793
This may be because your “videogamin” column contains commas as decimal points, e.g. `2,5` would not be considered a continuous.We're very sorry that JASP doesn't currently implement this (we are discussing support solutions). also '/' sign in your column is not a good for a dataset.

A temporary solution may be that you need to replace the comma and other sign in the column with a dot in a data e

[2022-08-04 01:11] #1793 closed

[2022-08-04 06:34] juliuspf commented on #1794
Hi @planktonwrangler, thanks for the request. The JASP Team is already working on this, and it is definitely a high priority.

[2022-08-04 09:07] EJWagenmakers commented on #1794
Yes, the highest priority. Note, however, that the JASP analyses are completely reproducible -- the .jasp file contains the data, executed analyses with selected options, and annoted results. This may need to be explained to editors unfamiliar with a reproducible GUI.

[2022-08-05 07:16] juliuspf commented on #1785
I will close this issue for now, cause we cannot offer a solution for rollapp.

[2022-08-05 07:16] #1785 closed

[2022-08-05 08:55] kevinvschie opened #1795 "[Bug]: Bayesian Mixed ANOVA running slow"
### JASP Version

0.16.3

### Commit ID

_No response_

### JASP Module

jaspAnova

### What analysis are you seeing the problem on?

Bayesian Repeated Measures ANOVA

### What OS are you seeing the problem on?

Windows 10 Enterprise

### Bug Description

I'm running a Bayesian Repeated Measures ANOVA (two repeated measures factors, both with two levels) and three between subjects factors. Sample

[2022-08-05 09:13] vandenman commented on #1795
What do you see under model?

![image](https://user-images.githubusercontent.com/21319932/183044780-fa1e4bda-0ac7-481d-9934-1a8208b77aa9.png)

By default, JASP considers all possible interactions, which may not be what you want.

[2022-08-05 09:21] kevinvschie commented on #1795
Under components I see the two within-subjects factors and the three between factors. Under model terms it lists all possible main effects and interactions. For these analyses I'm mainly interested in the Analysis of Effects (across matched models). I think that necessitates having all those model terms listed? Or maybe I'm mistaken?

[2022-08-05 09:26] vandenman commented on #1795
If you are interested in the analysis of effects for all possible interactions, then you should leave all those terms in there. In that case, the analysis will simply take a long time to compute.

[2022-08-05 09:28] kevinvschie commented on #1795
if certain model terms were to be added to the null model would that then mean less computational load?

[2022-08-05 09:31] vandenman commented on #1795
yes, that would mean these are added in all models and that would decrease the model space (and hence make the computational load smaller). You can also remove the terms you are not interested in (for example, all three-way, four-way, and five-way interactions).

[2022-08-05 09:37] kevinvschie commented on #1795
Somehow if I select the highest interaction (five way) it includes *everything* in the null model automatically. With that I mean all model terms listed. How can I add only certain interactions?

[2022-08-05 10:31] kevinvschie commented on #1795
Whilst trouble sheeting here I kept the Bayesian Repeated Measures ANOVA (two repeated measures factors, both with two levels) and three between subjects factors running, but 5% in (based on the progress bar) JASP just quit. No error message, it just shut down. Is this an indication that what I want isn't computationally possible?

[2022-08-06 02:58] Never85 opened #1796 "[Feature Request]: Joinpoint Trend Analysis"
### Description

Joinpoint Trend Analysis

### Purpose

To analyze publish health database

### Use-case

WONDER Database

### Is your feature request related to a problem?

The current Joinpoint software by NCI doesn't support good quality publication graphs.

### Describe the solution you would like

I am more interested in the publication quality graphs.

### Describe alternatives that you have

[2022-08-08 15:22] juliuspf commented on #1796
Hi @Never85, thanks for the request. Do you happen to have any links to literature on the topic or can you describe a use-case in more detail? @EJWagenmakers what do you think?

[2022-08-08 19:29] Catatinaz opened #1797 "[Bug]: ANOVA Number of observations is < 2 after grouping"
### JASP Version

0.16.3

### Commit ID

_No response_

### JASP Module

jaspAnova

### What analysis are you seeing the problem on?

_No response_

### What OS are you seeing the problem on?

mac

### Bug Description

The following problem(s) occurred while running the analysis:
Number of observations is < 2 in EstadoCivil after grouping on DASS21_TOTAL, DASS_21_Depressão, DASS_21_Ansiedade, DASS

[2022-08-08 22:06] EJWagenmakers commented on #1796
I haven't heard of this analysis so we'll have to investigate.

[2022-08-08 23:21] bcdudek opened #1798 "[Feature Request]: Histogram scales when splitting by categories"
### Description

Descriptive plots with histograms split by groups don't use same scale.

### Purpose

Compare distributions across categories/groups

### Use-case

Teaching

### Is your feature request related to a problem?

_No response_

### Describe the solution you would like

When using split by groups, provide option to use the same scale on each group's plot.

### Describe alternatives tha

[2022-08-08 23:27] EJWagenmakers commented on #1798
I agree!

[2022-08-09 01:12] Never85 commented on #1796
Hi @juliuspf  and @EJWagenmakers , I have attached a sample paper that have utilized this analysis.

The following is the link for the current NCI software and analysis details.
https://surveillance.cancer.gov/joinpoint/

[Hepatology - 2022 - Han - Declining disease burden of HCC in the United States  1992 2017  A populatio.pdf](https://github.com/jasp-stats/jasp-issues/files/9285932/Hepatology.-.

[2022-08-09 06:47] juliuspf commented on #1797
Hi @Catatinaz, thanks for the report. Could you describe your issue in more detail? So far I can only see desired behaviour, in that the ANOVA does not run when the number of observations in the dependent variable is smaller than 2.

[2022-08-09 08:31] lilianjansbeken commented on #1797
My students and I encounter the same issue. When I run an ANOVA I get the same error
<img width="960" alt="2022-08-09 (1)" src="https://user-images.githubusercontent.com/52657670/183602077-7366150b-31e3-48ff-95c0-aa019cbe8c95.png">
When I run the same ANOVA in Jamovi, this works fine
<img width="960" alt="2022-08-09 (2)" src="https://user-images.githubusercontent.com/52657670/183602148-73ba943c-c3

[2022-08-09 09:28] juliuspf commented on #1797
Thanks for the detailed description @lilianjansbeken. Somehow the link you posted does not lead me to the data file. Can you try again?

[2022-08-09 09:38] lilianjansbeken commented on #1797
Let me send it this way... Don't know why the link doesn't work

⁣Verzonden door BlueMail ​

Op 9 aug. 2022 11:28, om 11:28, Julius Pfadt ***@***.***> schreef:

[2022-08-09 11:54] JorisGoosen commented on #1720
Im changing it to:
- `columnType::scale` -> "which can be used in numerical comparisons and mathematical operations."
- `columnType::ordinal` -> "which can only be used in (in)equivalence, greater and lesser than comparisons. Not in mathematical operations as subtraction etc, to do so: try converting to scalar first.")
-  `columnType::nominal(Text)` -> "which can only be used in (in)equivalence co

[2022-08-09 13:02] tomtomme commented on #1720
I donot know about english, but the german term skalar for scalar is only known to programmers and mathematicians. If this is no problem for english speaking users, this can be adressed in the german translation.

[2022-08-09 14:18] Richmull opened #1799 "[Feature Request]: Bayesian multidimensional reliability"
### Description

Reliability module

### Purpose

_No response_

### Use-case

_No response_

### Is your feature request related to a problem?

_No response_

### Describe the solution you would like

Implementation of Bayesrel multidimensional modeling in the reliability module please

### Describe alternatives that you have considered

_No response_

### Additional context

Are there any plans

[2022-08-09 14:24] JorisGoosen commented on #1720
Well... I *am* a programmer so maybe it isn't the best choice :p

But in any case the "scalar" columns are called "scale" in the columnmenu in JASP so I think it should be clear enough.

[2022-08-09 14:37] juliuspf commented on #1799
Yes! But I cannot give you a date for this yet. The R-package is almost done though :)

[2022-08-09 14:40] Richmull commented on #1799
Thanks Julius. Look forward to it when it’s ready.

Sent from Proton Mail for iOS

On Tue, Aug 9, 2022 at 15:38, Julius Pfadt ***@***.***> wrote:

[2022-08-09 16:01] JorisGoosen commented on #1777
Wow, apparently our json decoder thinks: `'3.2113941528363544e-312' is not a number.`
So I guess one of those numbers was so big it didnt except it anymore?

I'll see what that is about.

[2022-08-10 06:52] JuliusWelzel opened #1800 "[Bug]: VIF calculation seem different for linear and logistic regression"
### JASP Version

0.16.2

### Commit ID

_No response_

### JASP Module

_No response_

### What analysis are you seeing the problem on?

Regression

### What OS are you seeing the problem on?

Windows 10

### Bug Description

When comparing VIF values for parameters I get different outcomes for the linear and logistic regression module. As I could not find how these are determined respectively, I

[2022-08-10 06:56] JuliusWelzel commented on #1800
![Screenshot 2022-08-10 085557](https://user-images.githubusercontent.com/52565341/183835227-ff36c774-1d72-4f75-85ff-605c9524c8a9.png)

[2022-08-10 07:28] juliuspf commented on #1800
Hi @JuliusWelzel, thanks for the report. Could you attach a .jasp or a data file that causes this issue? I am not an expert in regression, but could you explain to me why you expect to get the same results with different regressions?

[2022-08-10 08:47] juliuspf commented on #1800
somehow, that did not work for me. I can't get any file when clicking on this link

[2022-08-10 08:57] Kucharssim commented on #1800
It's ok, I know how to reproduce it, I am just writing an explanation for this result, so need to bother with the data set :)

[2022-08-10 09:52] Kucharssim commented on #1800
Thank you @JuliusWelzel for the report. It is true that the collinearity diagnostics are different for the same set predictors used in a different model, because the VIF is dependent not only on the predictors, but also on the model used to predict the dependent variable. The VIF calculated in JASP is a generalisation of the VIF, and is calculated by the following formula ([Fox & Monette, 1992](ht

[2022-08-10 09:52] #1800 closed

[2022-08-10 10:08] JuliusWelzel commented on #1800
Thanks, that clarified it. Is the VIF calculation somewhere referenced in the JASP documentation?

[2022-08-10 21:03] peteroma commented on #1505
Colleagues @MTom68 @TarandeepKang, I'm excited to report that the Jamovi module snowRMM now includes Latent Profile Analysis function based on R tidyLPA and mclust (https://forum.jamovi.org/viewtopic.php?f=2&t=2168).  Would still love to see it in JASP, but it's nice to have.

[2022-08-11 07:48] EJWagenmakers commented on #1797
@Kucharssim @vandenman maybe you can look into this as well.

[2022-08-11 08:38] MTom68 commented on #1505
Great news, thanks - I checked it, and it's basic but functional.
And yes, it would be great to have it in Jasp too :).
Best, Tamás

peteroma ***@***.***> ezt írta (időpont: 2022. aug. 10., Sze,
23:03):

[2022-08-11 08:59] vandenman commented on #1797
The link works https://www.dropbox.com/s/66gjsqh4oh0mwaq/Psychologische%2Btests%20origineel.jasp?dl=0, although the hyperlink is redirecting to this issue for some reason.

The error message is not wrong btw:

![image](https://user-images.githubusercontent.com/21319932/184097822-da0c4be6-5e34-4d44-8a0f-fc504eaf96f5.png)

However, this check is too strict, since the main ANOVA table can be computed

[2022-08-11 11:03] Kucharssim commented on #1797
No it doesn't. As long as you can fit the linear model, GORICA should work.

[2022-08-11 12:40] DanaJohanna commented on #1606
Create Computed Column dialogue box already has the cursor in it

[2022-08-11 14:36] wilmo79 commented on #1714
Hello, @JorisGoosen, I was getting the same issue as @willkm3 using version 0.16.3, using the included Prophet model in the Data Library. I can confirm that the proposed fix worked for me! (FYI the default install path is in x86 programs, i.e.  C:\Program Files (x86)\JASP\R\share\zoneinfo)

Cheers

[2022-08-12 13:11] JorisGoosen commented on #1714
Ok awesome @wilmo79 then Ill make sure to include that environment variable before we load R and then it will work for everyone from 0.16.4 onwards

[2022-08-12 13:29] EJWagenmakers commented on #1797
The same issue was noted earlier, I believe by one of the SKF analysts. I was under the impression that @JohnnyDoorn or @JTPetter had fixed it...

[2022-08-14 19:58] JuanRafaelB opened #1801 "[Bug]: Quality control of JASP in ubuntu"
### JASP Version

0.16.3

### Commit ID

_No response_

### JASP Module

jaspProcessControl

### What analysis are you seeing the problem on?

all the quality control analysis

### What OS are you seeing the problem on?

Ubuntu

### Bug Description

![imagen](https://user-images.githubusercontent.com/12464834/184552774-d473b752-bb3f-4cf2-87ae-1f7083b142d8.png)

### Expected Behaviour

Codified mat

[2022-08-15 01:14] shun2wang commented on #1801
thank you for your report, it's seem a duplication of https://github.com/jasp-stats/jasp-issues/issues/1766 and we've tracked it here.

[2022-08-15 01:14] #1801 closed

[2022-08-15 15:07] glcanivez opened #1802 "[Feature Request]: Use correlation matrix as input"
### Description

Factor Analysis from Correlation Matrix

### Purpose

To run factor analysis using a correlation matrix rather than raw data

### Use-case

_No response_

### Is your feature request related to a problem?

No, the current EFA/CFA seems to operate similarly to other statistics programs

### Describe the solution you would like

It would be very useful to be able to input a correlat

[2022-08-16 15:34] boutinb commented on #1747
A workaround has been found (at least working on our Windows machine) and a new (beta) version has been made: https://static.jasp-stats.org/Nightlies/Windows/JASP-nightly-stable-8a016cb625c4ec0b3c9b5d9942696e3accdba9b0.msi
@secircle could you try this version?

[2022-08-16 17:33] JorisGoosen commented on #1747
@boutinb why reopen it?

Also the workaround is fairly good but only works like 90% of the time (as in, of the horizontal position of the results).
But it should be easy to get the output to look good and thus we have something untill Qt fixes the real problem.

[2022-08-16 18:35] secircle commented on #1747
Thank you @boutinb for the update. I uninstalled the previous 0.16.3 and installed the one you suggested. It seems the new version fixed the problem! Thank you so much for the hard work. See the screenshots below.

However, I also found that the JASP doesn't function correctly when I readjust the figure size. I don't know why this is happening so I would like to share the screenshots with the erro

[2022-08-16 20:20] JorisGoosen commented on #1747
@secircle ah yes I just fixed that bug.

In general, that is a good reason to work with official releases but I can imagine the bug is rather ugly to look at...
Newer versions will appear at [our nightlies page](https://static.jasp-stats.org/Nightlies/) under "Windows ZIP/MSI"

So you can try a later one and then the analyses should actually run ^^
However there is no guarantee that jaspfiles made

[2022-08-16 20:21] #1747 closed

[2022-08-16 20:24] secircle commented on #1747
Thank you, @JorisGoosen I appreciate it!

[2022-08-17 00:18] #1720 closed

[2022-08-17 12:49] juliuspf commented on #1802
Hi @glcanivez, thanks for the request. @AlexanderLyNL is there anything on the horizon regarding covariance/correlation matrices as input instead of the data matrix?

[2022-08-18 15:54] JorisGoosen commented on #1708
<img width="1132" alt="image" src="https://user-images.githubusercontent.com/29062713/185439792-e08c8231-15df-47be-9c5d-205423478030.png">

[2022-08-19 23:07] cuetox1 opened #1803 "[Bug]: cant run jasp in UBUNTU 18.04.5 LTS"
### JASP Version

0.16.3

### Commit ID

_No response_

### JASP Module

_No response_

### What analysis are you seeing the problem on?

_No response_

### What OS are you seeing the problem on?

UBUNTU 18.04.5 LTS

### Bug Description

No run

### Expected Behaviour

open software

### Steps to Reproduce

Install
Run   "flatpak run org.jaspstats.JASP"

Show the next message:

_[3:16:0819/174530.

[2022-08-21 08:05] clemergo commented on #1710
Hi @JohnnyDoorn

Thank you very much for your very helpful (and satisfying) reply! I'm sorry I forgot to reply to you in a timely manner...

Bests,
Clement

[2022-08-21 15:45] juliuspf commented on #1803
Hi @cuetox1, thanks for the report. Let's see if one of the developers can help.

[2022-08-22 07:42] Trebicky opened #1804 "[Feature Request]: Contour enhanced funnle plot"
### Description

Adding option to enhance contour in meta-analysis funnel plot

### Purpose

Allow for better inspection of p-values distribution in funnel plot

### Use-case

If we want to see wheter effect cluster around certain p values

### Is your feature request related to a problem?

To visualise small study effects or visualy inspect funnel plot for asymmetries or clustering.

### Describe

[2022-08-22 08:20] annamalerba opened #1805 "[Bug]: LINEAR REGRESSION OUTPUTS STANDARDIZED COEFFICIENT EQUAL TO 1"
### JASP Version

0.16.3

### Commit ID

_No response_

### JASP Module

jaspRegression

### What analysis are you seeing the problem on?

linear regression

### What OS are you seeing the problem on?

window 11

### Bug Description

![Screenshot (78)](https://user-images.githubusercontent.com/111734620/185873095-f1cc244c-498d-4bb2-b23e-c03975413c26.png)

### Expected Behaviour

the standardized c

[2022-08-22 09:41] juliuspf commented on #1805
Hi @annamalerba, thanks for reporting this. Is it possible for you to attach a .jasp file, or the data set that lead to this issue?

[2022-08-22 09:46] juliuspf commented on #1805
In the meantime, I think it is not impossible to have standardized coefficients be outside the -1,1 range. See, for example, https://doi.org/10.1177/001316447803800404

[2022-08-22 10:53] tomtomme commented on #1805
Yeah. Only simple linear regression standardized coefficients are forced to the range of -1 to 1. For multiple regression this is normal and not a bug, afaik.

[2022-08-22 13:30] annamalerba commented on #1805
Thanks a lot. I will look into what might cause this (admissible) anomaly. how might I export the dataset in a .jasp extension? I can only create a .csv or .xlsx

[2022-08-22 20:19] petersen-f commented on #1659
Hello!
I updated to Ubuntu Version Ubuntu 22.04 LTS and can't install developer modules again. It's a different error but since it's also related to Ubuntu I thought I would just update this issue. Let me know if I should open a new one.

The problem occurs under both JASP version 0.16.1 and 0.16.3. For the logs I used the current fork of the jaspRegression module but it happens for all developmen

[2022-08-22 20:54] juliuspf commented on #1805
from the menu tab you can choose "save as" and choose a directory and name, and then your analyses combined with your dataset will get saved as a .jasp file. For now, I dont think you need to upload the file though, since this is most likely not a bug. I will close this issue for now, but you can always reopen if the issue is not solved.

[2022-08-22 20:54] #1805 closed

[2022-08-23 08:40] JorisGoosen commented on #1659
@petersen-f have you tried the `beta`?

https://github.com/jasp-stats/jasp-desktop/blob/stable/Docs/development/jasp-module-workflow.md#linux

I'll trigger a new build as well.
And Ill try it myself on a linux.

[2022-08-23 11:19] petersen-f commented on #1659
Thanks for the suggestion! I tried it and am getting a similar error:
<img src="https://user-images.githubusercontent.com/65158001/186144588-76619287-f336-4230-9899-1edeaee0cce2.png" alt="drawing" width="500"/>

[2022-08-23 12:20] JorisGoosen commented on #1659
Aah, well maybe I can fix that

[2022-08-24 09:24] nothik commented on #1424
Thanks utkb!
Note to stick to the bottom of your screen: before trying to update JASP, visit issue 1424 to see what the current workaround is :)

[2022-08-24 14:08] #1667 closed

[2022-08-25 08:23] Frederikfi opened #1806 "[Bug]: error when plotting path diagram for SEM"
### JASP Version

0.16.3

### Commit ID

_No response_

### JASP Module

_No response_

### What analysis are you seeing the problem on?

SEM

### What OS are you seeing the problem on?

macOS Big Sur

### Bug Description

when I try to create a path diagram for my SEM, the bug message appears:

This analysis terminated unexpectedly.

Error in bars[[node]] <- pnorm(GroupThresh$est[GroupThresh$lhs

[2022-08-25 09:21] juliuspf commented on #1806
Hi @Frederikfi, thanks for reporting this. It seems this is a duplicate of https://github.com/jasp-stats/jasp-issues/issues/1629, so I will close this for now. If you think this is a separate issue, feel free to reopen it.

[2022-08-25 09:21] #1806 closed

[2022-08-25 13:26] #494 closed

[2022-08-26 12:47] #640 closed

[2022-08-26 14:22] JohnnyDoorn commented on #1775
@vandenman @JorisGoosen I just experienced the same issue with saving as svg.. Changing the font does not help, unfortunately (I tried a couple).

[2022-08-27 18:32] tdkelly opened #1807 "[Bug]: windows installer package part of the setup did not finished"
### JASP Version

0.16.3

### Commit ID

_No response_

### JASP Module

_No response_

### What analysis are you seeing the problem on?

_No response_

### What OS are you seeing the problem on?

Windows 10

### Bug Description

Error: There is a problem with this windows installer package, A program run as part of the setup did not finish as expected. Contact your support personnel or package ve

[2022-08-28 02:23] shun2wang commented on #1807
Hi, @tdkelly
it  seems that the package downloaded maybe broken, you can download it on https://jasp-stats.org/download/ and try again.

[2022-08-28 16:34] kreacherofthenight opened #1808 "[Bug]: "You can’t open the application “JASP” because this application is not supported on this Mac.""
### JASP Version

0.16

### Commit ID

_No response_

### JASP Module

_No response_

### What analysis are you seeing the problem on?

_No response_

### What OS are you seeing the problem on?

macOS 12.5.1

### Bug Description

Followed installation guide verbatim, double clicked to open JASP after moving to Applications folder, and instead of the step " A window appears noting that the develope

[2022-08-29 07:29] juliuspf commented on #1808
Hi @kreacherofthenight, thanks for the report. Is there any particular reason you did not use the newest version of JASP, aka 0.16.3?

[2022-08-29 07:37] #1730 closed

[2022-08-29 09:14] NadjaSchuh opened #1809 "[Bug]: Error in Gauge r&R analysis"
### JASP Version

0.16.2

### Commit ID

_No response_

### JASP Module

_No response_

### What analysis are you seeing the problem on?

Quality Control module:  Gauge r&R (non-replicable measurements)

### What OS are you seeing the problem on?

Windows 10

### Bug Description

doesn't create report

![image](https://user-images.githubusercontent.com/110393355/187166935-b1eceba6-f0d9-4dba-b77c-d

[2022-08-29 10:18] juliuspf commented on #1809
Hi @NadjaSchuh, thanks for reporting this. Is it possible that you upload a .jasp file or the data file that lead to the issue?

[2022-08-29 10:21] NadjaSchuh commented on #1809
I will ask the owner if this is allowed

Van: Julius Pfadt ***@***.***>
Verzonden: maandag 29 augustus 2022 12:19
Aan: jasp-stats/jasp-issues ***@***.***>
CC: Nadja Schuh ***@***.***>; Mention ***@***.***>
Onderwerp: Re: [jasp-stats/jasp-issues] [Bug]: This analysis terminated unexpectedly. Error in if ((x%%1) ≠ 0) {: missing value where TRUE/FALSE needed Stack trace (Issue #1809)

U ontvangt niet

[2022-08-29 11:12] shun2wang commented on #1616
Closed because necessary feedback required and inactive for a long time.
@gsunil97 Feel free to open it if the you think the problem is still happened.

[2022-08-29 11:12] #1616 closed

[2022-08-29 17:16] tdkelly commented on #1807
Hello, thank you for the suggestion but that did not make a difference. We are trying to install on several machines, most of them go fine without issue it is only on a few of them that this is happening on. Downloading a fresh copy had no effect the same problem came up.

![2022-08-29_10-15-14](https://user-images.githubusercontent.com/22504918/187257346-5484a7d4-4570-4047-bbd8-9dd0e3511d97.jpg)

[2022-08-29 22:35] kdkirstein opened #1810 "[Feature Request]: Labels on Clusters"
### Description

Labels on Clusters

### Purpose

To see the identity of branches on dendrograms

### Use-case

_No response_

### Is your feature request related to a problem?

Yes - No labels.  Don't know which branches are close to each other

### Describe the solution you would like

The ability to see labels on dendrograms and in flat clusters

### Describe alternatives that you have consider

[2022-08-30 00:24] shun2wang commented on #1807
Aha, sorry about that.
@tdkelly Could you help us with more details?
1. Open a Windows command line and use `msiexec /i <path to your full JASP installation package> /l*v msilog.txt` to get the installation log. E.g:
`msiexec /i C:\Users\Programs\JASP-0.16.3-64bit.msi /l*v msilog.txt`
Then upload this `msilog.txt` here.
2. Did you try to install with administrator account?

[2022-08-30 03:31] tdkelly commented on #1807
Hello,
Yes I installed the application under an administrator account. Unfortunately I cannot upload the log it says it is too large a file. Do you have another method of getting the verbose log to you?

Thanks

[2022-08-30 03:39] shun2wang commented on #1807
you can upload it to a cloud storage(like OneDrive,Google drive) and share a link for us.

with thanks

[2022-08-30 03:51] tdkelly commented on #1807
Here you go I had to zip it up to get it to transfer

https://drive.google.com/file/d/1v7axuv5JeD8LMyTGBBx236M4whZIne1-/view?usp=sharing

[2022-08-30 04:35] shun2wang commented on #1807
OK, thanks. Let our engineers see if there are any other comments.

Until then you use a JASP pre-installed version by unziped the https://static.jasp-stats.org/JASP-0.16.3-64bit.zip

[2022-08-30 07:48] juliuspf commented on #1810
Hi @kdkirstein, thanks for the request. Might I ask, is this feature related to any analysis?

[2022-08-30 08:19] boutinb commented on #1807
Hi @tdkelly , are the PC's the same (same WIndows version e.g.) or does exist some differences between them? It would be of interesting to know if the PC's where JASP cannot be installed have some special configurations.

[2022-08-30 09:10] JASPlearner opened #1811 "[Bug]: unable to convert string to requested encoding"
### JASP Version

0.16.3

### Commit ID

_No response_

### JASP Module

_No response_

### What analysis are you seeing the problem on?

_No response_

### What OS are you seeing the problem on?

window 10

### Bug Description

![image](https://user-images.githubusercontent.com/111798846/187397076-ffc1e263-5186-49be-9093-c03863498302.png)

I could not open my file in JASP.

### Expected Behaviour

[2022-08-30 09:13] JorisGoosen commented on #1807
@shun2wan thanks for asking for the log, it confirmed my suspicion.

The action that fails in the msi is the "recreation of junctions" (which is quite necessary).
However, if @tdkelly can download that aforementioned zip, unpacks it and runs "jasp.exe" it should do the same things.

And then we can see whether it works if ran outside the msi.

As @boutinb questions, what is different between the w

[2022-08-30 09:29] juliuspf commented on #1811
hi @JASPlearner, thanks for the report. I will ask someone to look at this.

[2022-08-30 09:33] #1777 closed

[2022-08-30 11:17] JorisGoosen commented on #1811
@JASPlearner do you have access to SPSS?

Because this is related (im guessing) to #1532 and as @shun2wang mentions there it should be possible to save your `sav` in "utf-8" encoding: https://github.com/jasp-stats/jasp-issues/issues/1532#issuecomment-986725227

If you do that it should work fine.

[2022-08-30 12:47] tomtomme opened #1812 "[Feature Request]: Update the help files of bayes t-test, anova with effect size delta"
### Description

in classical t-tests, anovas etc. we are used to think in means instead of medians. Also cohens d is missing

### Purpose

don't confuse the user by only showing median in the upper right of the plot

### Use-case

more info

### Is your feature request related to a problem?

_No response_

### Describe the solution you would like

show the mean and cohens d somewhere in the plot

[2022-08-30 15:37] tdkelly commented on #1807
Hello,
All the computers (working and non working) are the same model with the same hardware. Running the exact same image. I did try the zip and that will not launch. It starts then goes into suspended and closes almost immediately. Any further suggestions is appreciated. In the meantime I will look more into the failures and see if there is something else that could causing this.

Thank You

[2022-08-30 16:17] JorisGoosen commented on #1807
Could you perhaps open a "command prompt" and then navigate to the folder where you unpacked `JASP.exe`  and the accompanying files.

If there is a folder in there called `Modules` make sure to delete it first. (if it is there I would like to know though)

Then run `JASPEngine.exe --recreateJunctions`

Maybe this will give us some more feedback

[2022-08-30 17:21] tdkelly commented on #1807
Yes I had a Modules folder, I deleted that and ran the command and got the following error message
![2022-08-30_10-20-21](https://user-images.githubusercontent.com/22504918/187502640-9c267161-eb4f-4ae4-9b34-a93af0183c2f.jpg)

[2022-08-30 17:40] czenci opened #1813 "[Bug]: K-means clustering hidden in machine learning"
### JASP Version

0.16.3

### Commit ID

_No response_

### JASP Module

jaspMachineLearning

### What analysis are you seeing the problem on?

K-means Clustering

### What OS are you seeing the problem on?

mac OS Monterey Version 12.5

### Bug Description

Dear team, I can't find the K-means Clustering feature. Comparing the screenshots of this tutorial https://jasp-stats.org/2019/09/24/introduc

[2022-08-30 20:31] rehoyt opened #1814 "[Bug]: Interaction model terms are added by default, slowing down JASP, inconsistent with linear regression"
### JASP Version

0.16.3

### Commit ID

_No response_

### JASP Module

jaspRegression

### What analysis are you seeing the problem on?

Logistic Regression

### What OS are you seeing the problem on?

macOS Monterey 125.1

### Bug Description

I have never had issues with logistic regression on JASP, but after upgrading it sits and spins and does not analyze the heart disease prediction dataset

[2022-08-31 01:07] mspezio commented on #1808
Just reproduced this with 0.16.3 on a Mac running OS 12.5. JASP does not seem to be recognized by Monterey?

[2022-08-31 07:10] juliuspf commented on #1808
are you on Mac intel or silicon? Did you download the corresponding JASP version, aka the intel or the silicon one? Cause I am on macOS Monterey as well (intel), and it all works fine...

[2022-08-31 07:15] juliuspf commented on #1813
HI @czenci, thanks for the report. I suspect that something has gone wrong with the naming of these analyses since the introduction of the module.

[2022-08-31 07:24] juliuspf commented on #1814
Hi @rehoyt, thanks for the report. Is it feasible that you upload a .jasp file for this issue?

[2022-08-31 07:32] juliuspf commented on #1619
is this feasible @Kucharssim

[2022-08-31 07:33] juliuspf commented on #1604
any ideas @JorisGoosen

[2022-08-31 07:38] juliuspf commented on #1611
Sorry for the long wait. I downloaded your .jasp file, opened it with the latest jasp version (0.16.3), and refreshed the analysis. No error occurred. Could you confirm this on your machine?

[2022-08-31 07:40] juliuspf commented on #1609
Hi @Crom60, thanks for the request. Is this feasible, @Kucharssim?

[2022-08-31 08:03] JASPlearner commented on #1811
I think my file is utf-8 already.
I save my file as cvs. and it was opened in JASP. but the Chinese characters were all lost.

[2022-08-31 08:04] JASPlearner commented on #1811
Thanks for your prompt reply!! :) @JorisGoosen @juliuspf

[2022-08-31 08:20] shun2wang commented on #1811
Hi @JASPlearner If you are a Chinese user and have exported a sav file from some online service, then usually this sav file is stored in Chinese local encoding(not utf-8 in fact). If you can read Chinese, please refer to https://www.wjx.cn/jq/5130953.aspx
If you want to use the sav file in JASP, you can open the file completely in SPSS, reset SPSS to Unicode and save as a copy of this file.then tr

[2022-08-31 09:50] jubera opened #1815 "[Feature Request]: Randomization"
### Description

Implementation of randomization techniques

### Purpose

_No response_

### Use-case

Clinical trial studies (among others)

### Is your feature request related to a problem?

It gets complicated when you have several factors (e.g., sex, age, etc) with different levels to assign blindly each participant to a "treatment" group

### Describe the solution you would like

_No response

[2022-08-31 09:55] JorisGoosen commented on #1604
Well, Ill double check the sha256sum but its just something that @DanaJohanna could fix on the website  I suppose.
If were gonna be sharing sha256sums we should make sure they are correct.

[2022-08-31 09:59] JorisGoosen commented on #1604
The correct sha256sum is indeed `5794f514c287bf06910e2caeb9601ed260cc757bb3a7eaa596b68c9350e3b0c4`

[2022-08-31 10:02] shun2wang commented on #1604
@JorisGoosen Maybe should add this information to the checklist https://github.com/jasp-stats/INTERNAL-jasp/issues/1910

[2022-08-31 10:14] JorisGoosen commented on #1811
@JASPlearner You're welcome!

I hope the workarounds @shun2wang gave are enough for now, because this should definitely be implemented but I don't think it'll make it into the next release yet...

[2022-08-31 10:16] JorisGoosen commented on #1604
![afbeelding](https://user-images.githubusercontent.com/29062713/187656056-9610ba4c-2237-4157-8c1b-16e6c6065e05.png)

[2022-08-31 12:45] WD4576 commented on #1611
Confirmed -  Issue resolved.
Thank you,
Shane

[cid:ca61d8de-6948-48ff-82d9-cfd21b52e6a5]

Shane S. Kreuzer

Special Process Laboratory Technician

ASQ Certified Black Belt

Tel: +1 (803) 506-6586

E-mail: ***@***.******@***.***>

SKF Sumter, USA

925 Corporate Circle, Sumter, South Carolina – 29154

www.skf.com<http://www.skf.com/>, Facebook<https://www.facebook.com/SKFGroup>, LinkedIn<https://ww

[2022-08-31 12:49] #1611 closed

[2022-08-31 14:21] rehoyt commented on #1814
I did upload a JASP file yesterday. It appears to work but is very slow
which I don't remember being a problem

bob

On Wed, Aug 31, 2022 at 2:24 AM Julius Pfadt ***@***.***>
wrote:

--

*Robert (Bob) Hoyt MD, FACP, FAMIA, ABPM-CI*

*Associate Clinical Professor, Department of Internal Medicine*

*Virginia Commonwealth University*

*Richmond, VA*

*CAPT (Ret) USN*

InformaticsEducation.org  <http:

[2022-08-31 15:39] rehoyt commented on #1814
I repeated the process and it took 5 minutes which seems better. The JASP
file is attached

Thanks for the great service

Bob

On Wed, Aug 31, 2022 at 10:03 AM Julius Pfadt ***@***.***>
wrote:

--

*Robert (Bob) Hoyt MD, FACP, FAMIA, ABPM-CI*

*Associate Clinical Professor, Department of Internal Medicine*

*Virginia Commonwealth University*

*Richmond, VA*

*CAPT (Ret) USN*

InformaticsEducation.

[2022-09-01 06:45] DanaJohanna commented on #1604
The check sum has now been updated, thank you for noticing!

[2022-09-01 06:59] DanaJohanna commented on #1606
The 'show cursor initially in Create Computed Column dialogue box' is solved, the additional 'different-but-related note' is not

[2022-09-01 07:11] juliuspf commented on #1606
I know it is a bit more trouble but it would be good to make a new issue about this then.

[2022-09-01 07:11] #1606 closed

[2022-09-01 07:15] juliuspf commented on #1814
Hi Bob, unfortunately, it seems the upload has failed again. You could also send the file to my email address julius.pfadt(at)gmail.com

[2022-09-01 07:17] juliuspf commented on #1815
Hi @jubera, thank you for the request. @EJWagenmakers this seems like more of a study planning tool instead of data analysis. Does this make sense for JASP?

[2022-09-01 07:20] EJWagenmakers commented on #1815
It does. In fact, our Quality Control module has "DOE", design of experiments, and this is conceptually close.

[2022-09-01 08:04] JorisGoosen commented on #1604
The checksum I put in the issue was for 0.16 btw, not for 0.16.3....
I guess this was a bit confusing, sorry... I thought it was about the overview of older jasp versions, but I realize now we don't put checksums there.

The checksum for the actual *current* zip download is `6997b1e25c95c73b8c67e224eca378b20a1d86420e735e209ea569a3e658836e`

[2022-09-01 08:10] juliuspf commented on #1588
@jordir93 Do you consider this issue fixed? Feel free to close it then.

[2022-09-01 08:15] juliuspf commented on #1586
Hi @mvaliadis, does this issue persist with the latest JASP version?

[2022-09-01 08:15] DanaJohanna commented on #1604
I now updated the checksum on https://jasp-stats.org/thank-you-for-downloading-jasp-win64-zip with 6997b1e25c95c73b8c67e224eca378b20a1d86420e735e209ea569a3e658836e

[2022-09-01 08:15] #1604 closed

[2022-09-01 08:16] juliuspf commented on #1585
Hi @avamosi, thanks for the report. Does this issue persist with the latest version of JASP?

[2022-09-01 08:21] #1582 closed

[2022-09-01 08:27] cfrowd1 commented on #1583
Yes, that's right, Julius, a simpler method of specifying contrasts.  It can be difficult for some user to understand how these work (the patterns of +/- 1's and 0's) and a more straightforward way would be valuable.  With best regards, Charlie.

--
Charlie Frowd CPsychol CSci AFBPsS
Professor of Forensic Psychology, School of Psychology and Computer Science, University of Central Lancashire, Pres

[2022-09-01 09:42] fqixiang commented on #1654
I found out the reason: the R code draws the residuals (on the y-scale) with pretty breaks. However, these residuals are too small (almost zero). Because of this, the segment line, which is fixed at y = 1 and used to tell how the residuals are distributed, compresses the y-scale too much so that all the labels on the y-scale overlap.

The reason why the residuals are so small here is that `partici

[2022-09-01 09:42] #1654 closed

[2022-09-01 11:57] JorisGoosen commented on #1593
@ilkerduymaz are you using 0.16.3 ?

In any case, I cannot reproduce this so I would like to see some logs. Could either you or @jennthepaprof send my some logs?

Howto: https://github.com/jasp-stats/jasp-desktop/blob/development/Docs/user-guide/logging-howto.md#mac

What you could try is:
[code]

where you replace `<path-to-jaspfile>` by the path.

[2022-09-01 11:58] JorisGoosen commented on #1604
merci!

[2022-09-01 11:59] JorisGoosen commented on #1585
Im sorry but if your flashdrive is formatted with FAT you probably cant install JASP on it.

You need to reformat it to ntfs or something.

[2022-09-01 11:59] #1585 closed

[2022-09-01 12:52] Jiashun97 opened #1816 "[Bug]: Model posterior probability does not change when the model prior probability changes"
### JASP Version

0.16.3

### Commit ID

_No response_

### JASP Module

jaspAnova

### What analysis are you seeing the problem on?

repeated measure anova

### What OS are you seeing the problem on?

windows 10

### Bug Description

When change the model prior, the model posterior probability P(M|data) does not change.

### Expected Behaviour

The model posterior probability P(M|data) should be

[2022-09-01 13:02] juliuspf commented on #1816
is this related to https://github.com/jasp-stats/INTERNAL-jasp/issues/2086 ?

[2022-09-01 13:06] Jiashun97 commented on #1816
yes!

[2022-09-01 13:36] vandenman commented on #1816
Both issues indicate a bug with the state, but they're not exactly the same bug, so I wouldn't close either issue.

[2022-09-02 09:13] fqixiang commented on #1814
Hi both, it seems like in the logistic regression module, when you have more than 1 factor, all the possible interaction terms among the factors are automatically added to the model. In this example, the model has 261 terms in total (see the screenshot), which is obviously overfitting the model and makes the model incredibly slow.
![image](https://user-images.githubusercontent.com/20680189/1881056

[2022-09-02 09:20] juliuspf commented on #1814
what do you think @Kucharssim?

[2022-09-02 09:58] Kucharssim commented on #1814
Yes it would make sense if the default behaviour was the same as in linear regression, i.e., adding only the main terms. I don't think the current behaviour of logistic regression is on purpose

[2022-09-02 10:27] #1816 closed

[2022-09-02 14:22] DJ3514 opened #1817 "[Bug]: unexpected error in Process Capability Study of jaspProcessControl"
### JASP Version

0.16

### Commit ID

_No response_

### JASP Module

jaspNetwork

### What analysis are you seeing the problem on?

_No response_

### What OS are you seeing the problem on?

windows 7

### Bug Description

IMPOSSIBLE TO SHOW UP THE RESULTS. I NEED TO FIX IT ASAP

### Expected Behaviour

[](url)
![image](https://user-images.githubusercontent.com/112708600/188160307-586993fe-beca-

[2022-09-02 15:42] mspezio commented on #1808
Three of my students updated to 12.5.1. Redownloaded from JASP github site and tried from the standard download site. Students downloaded the correct version for 11+. Nothing is working. Message is always that the application is not supported on this Mac. Is there any solution to this problem? This is affecting whether I will be able to stay with JASP this term to teach my course. Thank you

[2022-09-02 16:01] shun2wang commented on #1817
Hi @DJ3514 thank you for your report.

is that a jaspProcessControl but not the jaspNetwork module right? it seems you are using a old unrelease version of JASP(0.16 and 'data editor),  It is not a good choice use a development version for production. you can download a latest release version (0.16.3) on https://jasp-stats.org/download/
I remember there was a similar problem may fixed (https://git

[2022-09-04 12:37] kreacherofthenight commented on #1808
I just checked and it is 16.3 that I have downloaded, I guess I forgot to add the tenth. I had mistakenly downloaded the silicon, thinking the 10.5 vs 11+ was about which mac version you were on. I deleted it, then made sure to download the intel version, and it is now working fine. Thank you

[2022-09-04 13:09] EJWagenmakers commented on #1808
Great, happy to hear this!

[2022-09-04 13:48] juliuspf commented on #1808
I suspect the same is happening with the students? Might they also have assumed that they needed to download the 11+ version although it is for apple silicon and they are actually on intel (see screenshot), @mspezio ?
<img width="650" alt="Screenshot 2022-09-04 at 15 47 27" src="https://user-images.githubusercontent.com/38500953/188316835-2e49e1c2-03d8-4746-9371-3910acee879d.png">

[2022-09-04 14:29] JorisGoosen commented on #1808
I can just remove those versionnumbers. Not sure how they help (because 11.0+ is simply the first version of macos supporting apple silicon so its not like anyone could possibly have the older version on there anyway).

[2022-09-04 20:19] mspezio commented on #1808
Hi Jay,

Try to download and install JASP in the 10.5+ version. It's possible that JASP developers erroneously listed the other version as needed for Mac OS 11.0+.

Please let me know how this goes.

Best, Prof. Spezio
________________________________
From: Joris Goosen ***@***.***>
Sent: Sunday, September 4, 2022 7:29 AM
To: jasp-stats/jasp-issues ***@***.***>
Cc: Michael Spezio ***@***.***>; Men

[2022-09-04 20:23] mspezio commented on #1808
Thanks, this is possible. I will ask the students to try the 10.5+ version. I endorse Joris' idea of removing the Mac OS version numbers from the download links, and simply giving Intel or Silicon machine options. I'll report back once we try the Intel version under Mac OS 12.5.1. Fingers crossed.

[2022-09-05 08:53] JorisGoosen commented on #1808
Ive removed the versions in any case. Should be more clear for everyone now!

[2022-09-05 08:53] #1808 closed

[2022-09-05 11:54] richlv commented on #1695
Hi - with my studies resuming :) - is there any additional testing data that would be useful to provide?

[2022-09-05 13:41] zaeemhadi opened #1818 "[Feature Request]: Option for Separate Lines in Raincloud Plots in ANOVA"
### Description

Raincloud plots in ANOVAs do not have the option to separate data based on between subject factors. This is similar to "Separate Lines" option in Descriptive plots.

### Purpose

To see patterns of raw data based on between-subject factors.

### Use-case

I have a measure X, which is measured Y times, in Z subgroup of subjects. Raincloud plots in ANOVA can only have the option of

[2022-09-05 13:52] zaeemhadi opened #1819 "[Feature Request]: Repeated Measures MANOVA"
### Description

Currently MANOVA in JASP is only suitable for multiple measures assessed at one time point.

### Purpose

To analyze multiple measures assessed at multiple time points.

### Use-case

A variable X with units (i) and a variable Y with units (j) is measured multiple points in time. To look at the interaction of both variables over time, a repeated measures MANOVA would be required.

[2022-09-06 06:11] NadjaSchuh commented on #1809
[MSA Diameter QT5p20.csv](https://github.com/jasp-stats/jasp-issues/files/9493726/MSA.Diameter.QT5p20.csv)

[2022-09-06 06:51] juliuspf commented on #1809
I reopened this since I can replicate the issue. The error shows up once the "show report" checkbox is ticked

[2022-09-06 07:04] juliuspf commented on #1574
Hi @TDJorgensen, thanks for the report and apologies for the late reply. I believe this is fixed by now, at least with version 0.16.3 I get the following output:
![Screenshot 2022-09-06 at 09 02 53](https://user-images.githubusercontent.com/38500953/188568478-9e2be9a4-6b87-4ba4-8adb-2c7b69763557.png)

Can you confirm this?

[2022-09-06 07:07] juliuspf commented on #1563
@GUYON29, could you check if this issue still persists in the newest version, 0.16.3?

[2022-09-06 07:11] juliuspf commented on #1559
I think this can be closed then. @Arwa-AA, if your issue has not been sufficiently addressed feel free to reopen it.

[2022-09-06 07:11] #1559 closed

[2022-09-06 07:12] juliuspf commented on #1557
Hi @gsociology, thanks for the request and apologies for the late reply. @JorisGoosen is this feasible?

[2022-09-06 07:15] juliuspf commented on #1555
@tomtomme interesting idea. Unfortunately, I dont think this will be very high on the priority list right now...

[2022-09-06 07:22] juliuspf commented on #1549
Hi @PetBuj, thanks for the reports.
- We are already tracking 1) under a different issue (https://github.com/jasp-stats/jasp-issues/issues/1666).
- 4) what do you mean by this? there is logistic regression in JASP...

[2022-09-06 07:26] tomtomme commented on #1555
Yeah I know. No problem. Maybe in some years :D

[2022-09-06 08:01] PetBuj commented on #1549
Hello,

I mean something like this:

Minimum Iteration Section

Iteration            No. of         Percent of        Bar Chart

No.                   Clusters     Variation          of Percent

1                       2                  56.39               |||||||||||||||||

4                       3                  33.06               ||||||||||

7                       4                  25.69

[2022-09-06 08:05] juliuspf commented on #1549
what do you think @Kucharssim ?

[2022-09-06 08:46] JorisGoosen commented on #1557
It means: explain to us how this would be used by people. This helps in determining priority and such.

I'm not sure, what exactly is the wish here?
Maybe @gsociology can give us an example or two and then we also have some use-cases ^^

[2022-09-06 09:45] #1693 closed

[2022-09-06 09:47] Kucharssim commented on #1326
We will need to push this one more release further, sorry about that!

[2022-09-06 10:25] mathijsdeen commented on #1693
Thank you for implementing this. According to jasp-stats/jasp-desktop#4838, this can be used by providing a modified JASP config file to the users, containing some `maxEngineCountAdmin` field. Could you explain how this should be implemented? Where should this JASP config file be placed, or which config file should be modified?

[2022-09-06 11:17] JorisGoosen commented on #1693
Hello Matthijs,

This depends on your operating system. On windows and linux this should be fairly simple.

Assuming you will be using windows you can set a value in the registry, in either one of these:
- `HKEY_CURRENT_USER\Software\JASP\JASP`
- `HKEY_LOCAL_MACHINE\Software\JASP\JASP`

The value you will want to set/add there (after installing JASP perhaps? I did not test deployment):
`maxEngines

[2022-09-06 11:47] gsociology commented on #1557
Hi
Is there a way for me to see the text of the comment that I made? At this point, I don't remember.
Thanks
Gene

    On Tuesday, September 6, 2022 at 04:47:08 AM EDT, Joris Goosen ***@***.***> wrote:

Use-case

Not sure what this means

It means: explain to us how this would be used by people. This helps in determining priority and such.

is this feasible

I'm not sure, what exactly is the wish

[2022-09-06 11:59] JorisGoosen commented on #1557
Hi Gene,

You could try clicking the link "View it on github" or this: https://github.com/jasp-stats/jasp-issues/issues/1557

[2022-09-06 12:18] mathijsdeen commented on #1693
Many thanks! We're using Windows indeed, so this should be straightforward. I'm assuming this will be available in the next stable release? I'll ask our IT department to update by then, and refer to this issue for the instructions above. I'll keep you posted :).

[2022-09-06 12:50] JorisGoosen commented on #1693
You are most welcome :)
Indeed it will be, it should be out soon!

Makes sense, and I can help out if something doesn't work as intended.

[2022-09-06 13:19] Kucharssim commented on #1549
Dear @PetBuj,

Thanks for the points for improvement, I will break it down in separate points.

1.  add feature to PCA/EFA to enable store scores into data-sheet:

As @juliuspf wrote, this is already covered by a different issue: https://github.com/jasp-stats/jasp-issues/issues/1666

2. enable to input data for contingency tables(tests) by existing counts:

I am not sure what you mean, the conting

[2022-09-06 14:06] TDJorgensen commented on #1574
confirmed, thanks

[2022-09-06 14:06] #1574 closed

[2022-09-06 14:21] JorisGoosen commented on #1773
Hello @AlanFNQ

I did not have time to look at this issue for this release, but will get to it.

However, one thing I now realize looking at this issue is that your crash is most likely unrelated to the networking issue.
If I start JASP on a windows computer without network I do gets warnings, but no crash.

Perhaps there is some other setting or configuration issue that is causing JASP to crash?

[2022-09-06 17:40] grezniczek opened #1820 "[Feature Request]: Make filter a part of the analysis"
### Description

Instead of a global filter that affects all analyses, add filtering capabilities to each analysis panel

### Purpose

Make life a lot easier

### Use-case

Subgroup-analysis

### Is your feature request related to a problem?

_No response_

### Describe the solution you would like

To each analysis panel, add a data filter option - let users filter data for this particular analysi

[2022-09-06 19:49] gsociology commented on #1557
Thanks. Got it.
Can you combine data sets with JASP? Can you read in two data sets that have at least one variable in common, say ID, and use that to combine the data sets?
Thanks
Gene

    On Tuesday, September 6, 2022 at 08:00:00 AM EDT, Joris Goosen ***@***.***> wrote:

Hi Gene,

You could try clicking the link "View it on github" or this: #1557

—
Reply to this email directly, view it on GitHu

[2022-09-06 19:58] PetBuj commented on #1549
Dear Simon,

#1 – thanks
#2 - it is my fault I missed this possibility.
#3 – Thank for your effort
#4 – Nonlinear regression is ‚standard‘ procedure beside linear regression where y is dependent on Xs by a specific (no linear) model. The model contains one or more parameters which are estimated during the procedure (similarly to lin.reg but in diff.way). Some motivation is for example here (https:

[2022-09-07 01:35] shun2wang commented on #1820
It is definitely on our radar,  a duplicate of https://github.com/jasp-stats/jasp-issues/issues/1392 and https://github.com/jasp-stats/jasp-issues/issues/1330

[2022-09-07 07:51] juliuspf commented on #1392
I will close this as a duplicate of https://github.com/jasp-stats/jasp-issues/issues/1330

[2022-09-07 07:51] #1392 closed

[2022-09-07 07:58] #1714 closed

[2022-09-07 09:53] #1820 closed

[2022-09-07 10:10] shun2wang commented on #1817
close as a duplicate of https://github.com/jasp-stats/jasp-issues/issues/1670 , if you think it is different, please confirm as above and reopen it

[2022-09-07 10:10] #1817 closed

[2022-09-07 11:10] JorisGoosen commented on #1557
Ah ok, but by explain how people will use it I mean to explain it in some more detail. I have no way to read your mind Im afraid.

Things I wonder when I read your description is:
- By variable do you mean column?
- Do you mean combine in the sense of adding rows to an already loaded dataset, or adding columns
- If adding rows what to do about columns not in both sets, just set them missing?
- If

[2022-09-07 22:13] AlanFNQ commented on #1773
Thank you for continuing to look into this, Joris.  I believe I noted above that the program could run with no network enabled.  The issue with this, for our organisation, would be training users how to disable and re-enable their network connections.  Also, at the time that I made the request it was unknown to me how no internet access for the program would affect operations in the long term.

I

[2022-09-07 23:15] AlanFNQ commented on #1773
Thank you for continuing to look into this, Joris.  I believe I noted that the program could run with no network enabled.  The issue with this, for our organisation, would be training users how to disable and re-enable their network connections.  Also, at the time that I made the request it was unknown to me how no internet access for the program would affect operations in the long term.

I wouldn

[2022-09-08 03:15] spacedina opened #1821 "[Bug]: installation package couldn't be opened"
### JASP Version

0.16.3

### Commit ID

_No response_

### JASP Module

_No response_

### What analysis are you seeing the problem on?

_No response_

### What OS are you seeing the problem on?

windows

### Bug Description

![Screenshot (299)](https://user-images.githubusercontent.com/113032367/189025476-0b19574b-3832-4782-bdf3-b80b03d1d0af.png)
Downloaded the new version and cant seem to open

[2022-09-08 03:28] spacedina commented on #1821
in the meantime im using the pre-installed version as stated  [here](https://github.com/jasp-stats/jasp-issues/issues/1807#issuecomment-1231129748) I hope this is okay and can run the same function

[2022-09-08 05:17] mtruglio commented on #1668
That would be SO helpful. A lot of time wasted editing plots - and it's error prone too.

[2022-09-08 08:11] tomtomme opened #1822 "[Bug]: 0.16.3 won't install on Surface Pro X - ARM CPU"
### JASP Version

0.16.3

### Commit ID

_No response_

### JASP Module

_No response_

### What analysis are you seeing the problem on?

_No response_

### What OS are you seeing the problem on?

Windows 10 and 11 Home ARM64

### Bug Description

This is a bug report of one of my students.
JASP does not install on her Surface Pro X with custom microsoft / quallcom ARM64 CPU called "Microsoft® SQ1

[2022-09-08 08:22] juliuspf commented on #1821
Hi @spacedina, thanks for the report. May I ask, which windows version are you using?

[2022-09-08 09:34] JorisGoosen commented on #1822
Ai, it might be a while before we will get around to supporting windows arm... We also don't really have any way to test it.

[2022-09-08 11:30] #1028 closed

[2022-09-08 11:30] #1614 closed

[2022-09-08 11:30] #1012 closed

[2022-09-08 15:09] vellinhs opened #1823 "[Bug]:"
### JASP Version

0.14

### Commit ID

_No response_

### JASP Module

jaspReliability

### What analysis are you seeing the problem on?

Reliability

### What OS are you seeing the problem on?

Windows 11

### Bug Description

I can't run reliability test for some of my datas, but the rest of datas went well.

### Expected Behaviour

It should've shown the result of reliability

### Steps to Repr

[2022-09-08 15:22] juliuspf commented on #1823
Hi @vellinhs, thanks for the report. Could you download the latest JASP version and try again?

[2022-09-08 16:22] andremonezi opened #1824 "[Bug]: jaspNetwork- groups number out of range"
### JASP Version

0.16.3

### Commit ID

_No response_

### JASP Module

jaspNetwork

### What analysis are you seeing the problem on?

Network

### What OS are you seeing the problem on?

Windows

### Bug Description

This analysis terminated unexpectedly.

Error in groups[[i]]: subscript out of bounds

Stack trace
withCallingHandlers(expr = analysis(jaspResults = jaspResults, dataset = dataset,

[2022-09-09 06:38] vandenman commented on #1824
Hi @andremonezi thanks for reporting this issue!

Would it be possible to upload a JASP file with this error? Note that in order to attach it on GitHub, you must zip it first.

[2022-09-09 08:54] JorisGoosen commented on #1714
@willkm3 @wilmo79 there is a testversion of jasp here: https://static.jasp-stats.org/Nightlies/WindowsZip/JASP-nightly-stable-a0c8e9c7b43ffd1020190ebe0a625668320a29aa.zip

It should have the fix for this bug in there, if you could test and verify it would be much appreciated.

[2022-09-09 12:35] spacedina commented on #1821
Im using windows ver 11

[2022-09-09 21:12] wilmo79 commented on #1714
Hi @JorisGoosen, looks good!
- Removed the variable I'd previously set manually; re-opened JASP & verified the issue was back on version 16.3 (it was)
- Downloaded and ran the nightly version above, opened the supplied Prophet model and swapped 'visits' and 'actions' to make it run, which it did without failing.
Cheers,
Will

cc @willkm3

[2022-09-10 16:59] marginalfutility commented on #1557
Dataset 1 has columns for specific variables, with different entries in each row, for the year 2020. Dataset 2 has the same columns for the same variables (or maybe one fewer, or one additional/different), for the year 2021. I could add a column with the value 2020 in each row to the first dataset, do the equivalent with the second dataset, and paste the second one beneath the first one in a csv,

[2022-09-12 09:09] juliuspf commented on #1821
@spacedina could this be the same as here? https://github.com/jasp-stats/jasp-issues/issues/1822

[2022-09-12 14:17] ERMontoro opened #1825 "[Feature Request] Left censored data"
### Description

The left censored data si very common in environmental data analysis. Most of data analyist substitute them for zero or sometimes for Detection Limit divided by 2. This technique distort the statistics calculated from this data.

### Purpose

Make statistics calculations ins a right way

### Use-case

Once defined the analytical method Detection Limit (DL), the data below this val

[2022-09-13 08:18] juliuspf commented on #1825
Hi @ERMontoro, thanks for the report. @EJWagenmakers where could we add this?

[2022-09-13 08:41] EJWagenmakers commented on #1825
I think we first need to get that book and assess what specific analyses we'd like to do. Also @FBartos for the Kaplan-Meier.
E.J.

[2022-09-13 10:49] ERMontoro commented on #1825
Thanks a lot!!!

Em ter., 13 de set. de 2022 às 05:41, EJ ***@***.***>
escreveu:

--

Edson R. Montoro

Technical Director

ERMontoro Consulting and Training

+55 35 991618141

http://www.ermontoro.com

[2022-09-13 23:06] juliann5432 opened #1826 "[Bug]: JASP not running on Chromebook"
### What OS are you seeing the problem on?

Chromebook

### Bug Description

I have tried downloading JASP 5 times, and it shows up with the exact phrase every single time. I have not gotten the display to show at all. ( The welcome page)
I follow the instructions for the application from the website exactly but it still will not work.
The phrase, (Warning: Not exporting file org.jaspstats.JASP.ap

[2022-09-14 06:48] tomtomme opened #1827 "[Feature Request]: Less string-clutter in UI"
### Description

The descriptive sub-module "cusomizable plots" sometimes randomly includes strings like "show" or "display" which are useless because they are kind of included in the action of clicking the button

### Purpose

less clutter

### Use-case

being somewhot looking less overwhelming to new users

### Is your feature request related to a problem?

descriptive sub-module cusomizable plo

[2022-09-14 07:05] EJWagenmakers commented on #1827
Although I agree in general terms, for these specific cases it seems to me that removing the redundancy makes the options less clear. I do agree the following can be shortened:
1. "Use color palette" -> Color
2. "Show legend" -> Legend
3. "Display legend" -> Legend

It makes sense to me to state "Add regression line" because when you don't tick that option, there won't be a regression line. Otherw

[2022-09-14 07:28] tomtomme opened #1828 "[Bug]: Strange Strings in UI"
### JASP Version

0.16.3 from BioArch

### Commit ID

_No response_

### JASP Module

BSTS - btw: BSTS is not yet in the drop down menu of modules

### What analysis are you seeing the problem on?

BSTS and random others

### What OS are you seeing the problem on?

all

### Bug Description

![Screenshot_20220914_092530](https://user-images.githubusercontent.com/4428185/190089138-76929af8-7393-4d2d

[2022-09-14 07:39] tomtomme commented on #1827
If we shorten to "Regression line" why would we need to add a "none" option?
There is a button left to "regression line" (see green highlight) that is selectable and says visually "none" or "one" - so to say.

Same for "graph above scatter plot" - we could add a selection button left to it and axe all "none options.

I painted even more suggestions in green :D :
![Screenshot_20220914_084117](https

[2022-09-14 09:05] vandenman commented on #1827
@EJWagenmakers "Display density plots" shows density plots for all variables selected in the variables input box in descriptives. `Split` plots the density within each group in separate plots. `Separate densities` plots the density within each group in a single plot.

We can remove some of these strings (e.g., "~Graph~ above scatter plot", "~Show~ legend"), but I think we should consider two thing

[2022-09-14 09:13] shun2wang commented on #1827
As a translator, I also strongly believe that character clarity is the first priority, especially for synonyms in different languages.So we should be careful to remove "redundant" strings.....

[2022-09-14 09:40] tomtomme commented on #1827
@vandenman

I suggested "Count" because it is already used in some places like contingency tables. But maybe we should change those instances into something more verbose, since I agree with your point of view, that sometimes those longer strings bring clarity. But in some instances they are just random appearances.

[2022-09-14 09:47] tomtomme opened #1829 "[Bug]: Some Strings are not translatable via weblate"
### JASP Version

0.16.3

### Commit ID

_No response_

### JASP Module

jaspFrequencies, jaspRegression

### What analysis are you seeing the problem on?

Contingency tables and Regression

### What OS are you seeing the problem on?

all

### Bug Description

see pictures

### Expected Behaviour

all strings should be translatable

### Steps to Reproduce

1.
2.
3.
...

### Log (if any)

"Count" i

[2022-09-14 10:26] JorisGoosen commented on #1826
@juliann5432

Perhaps you could tell me what step you are at in https://jasp-stats.org/chromebook-installation/ ?

And show me a screenshot of what is going on so I can verify you have in fact followed the instructions correctly.

Right now I really can't help you, you havent specified what command you are running, where you are running it, whether any of the steps before had any problems etc.

On

[2022-09-14 10:28] JorisGoosen commented on #1826
Also I can reproduce this

[2022-09-14 20:42] belizondo1990 opened #1830 "[Feature Request]:"
### Description

cant open JASP on my laptop

### Purpose

for experimental psychology course

### Use-case

_No response_

### Is your feature request related to a problem?

when i download it onto my laptop i am able to access it, but once i shut my latop down, then turn it on, the next time i cant access JASP on my laptop

### Describe the solution you would like

would like to access JASP on m

[2022-09-15 00:17] shun2wang commented on #1830
hi, this seems a bug report but not a 'Feature Request'.

can you open a bug report here? (click 'New issue' and choose first one 'bug report')

[2022-09-15 00:17] #1830 closed

[2022-09-15 08:07] #1828 closed

[2022-09-16 10:43] #1758 closed

[2022-09-16 13:41] shun2wang commented on #1703
fixed by https://github.com/jasp-stats/jasp-desktop/pull/4855

@TangWeiCAS  if you want to test it can download a pre-release version at http://static.jasp-stats.org/Nightlies/WindowsZip/JASP-nightly-stable-4478bbc84b4124659dcaacaebe119128eba9029f.zip

[2022-09-16 13:41] #1703 closed

[2022-09-16 14:09] #1618 closed

[2022-09-16 15:13] shun2wang commented on #508
this fixed by jasp-stats/jasp-desktop#4855 and it will be into next release.

[2022-09-16 15:13] #508 closed

[2022-09-17 04:00] alandrade1 commented on #1668
I agree @mtruglio

[2022-09-18 00:49] QBWoof opened #1831 "[Bug]: Error in model "Model 1" - Estimation failed"
### JASP Version

0.16.3

### Commit ID

_No response_

### JASP Module

jaspSem

### What analysis are you seeing the problem on?

Structural Equation Modeling - path analysis

### What OS are you seeing the problem on?

MacOS Montery 12.5.1

### Bug Description

I tried to run my SEM path analysis and get the following message

Error in model "Model 1" - Estimation failed Message:Breakup

Breaku

[2022-09-18 13:52] juliuspf commented on #1831
Hi @QBWoofm thanks for the report. Is it possible you share the data file or zipped .jasp file with us here?

[2022-09-18 14:02] QBWoof commented on #1831
Hi,

Let me delete all of the irrelevant data. Can I share it via email?

Thanks!

On Sun., Sep. 18, 2022, 10:52 a.m. Julius Pfadt, ***@***.***>
wrote:

[2022-09-18 14:21] juliuspf commented on #1831
yes you can, try julius.pfadt<at>gmail.com

[2022-09-20 23:45] juliann5432 commented on #1826
I finish all the steps, even updating flatpak. I already got out of the terminal so I cannot show you the screenshot, however, it looked exactly like the screenshots on the website.
I have gotten the application downloaded and it shows up on my computer, however, when I try to click on it to open it, nothing happens.

[2022-09-20 23:54] juliann5432 commented on #1826
When I used (sudo umount /proc/{cpuinfo,diskstats,meminfo,stat,uptime}) its loading but it wont open still. It has had a loading sign for days before.

[2022-09-21 06:27] LSLindeloo commented on #1831
@juliuspf , could you forward the relevant files to me?

[2022-09-21 07:03] juliuspf commented on #1831
I could, if I got them :)

[2022-09-21 07:05] LSLindeloo commented on #1831
Haha okay thanks! We’ll wait then :)

Op wo 21 sep. 2022 om 09:03 schreef Julius Pfadt ***@***.***>

[2022-09-21 07:06] juliuspf commented on #1823
I will close this for now, since this issue occurred with an old JASP version and should be fixed in the newer releases

[2022-09-21 07:06] #1823 closed

[2022-09-21 07:53] JorisGoosen commented on #1826
@juliann5432 You should open a terminal and run `flatpak run org.jaspstats.JASP`.
Then, when it doesnt work you copy all the text of the terminal to a textfile and then you should attach that here.

Because just telling me "it won't open" is not enough information and I would like to help you after all ;)

[2022-09-21 13:18] FBartos opened #1832 "[Feature Request]: Add optimizer control for (G)LMM"
### Description

GLMMs have often problems with converging -- JASP currently throws an error about a problem with the optimizer rutine, however, it does not allow to adjust it.

### Purpose

_No response_

### Use-case

_No response_

### Is your feature request related to a problem?

_No response_

### Describe the solution you would like

_No response_

### Describe alternatives that you have co

[2022-09-21 13:56] #1829 closed

[2022-09-22 12:14] shun2wang commented on #1766
Hi @vandenman Should this issue go into 0.16.4? 😉

[2022-09-22 13:57] btreut opened #1833 "[Bug]: Tabs & Menu missing in main window (Flatpak under EndlessOS)"
### JASP Version

0.16.3

### Commit ID

_No response_

### JASP Module

_No response_

### What analysis are you seeing the problem on?

_No response_

### What OS are you seeing the problem on?

EndlessOS 4.0.9

### Bug Description

I am a newbie to JASP, but looking at the Getting Started Video on Youtube, I have the impression that my main window is missing the tabs on the left side and the sa

[2022-09-22 14:42] shun2wang commented on #1833
Hi @btreut ,
your screenshots looks OK, If you follow the installation [instructions](https://jasp-stats.org/linux-installation-guide/) on our website, I don't see anything unusual.

for my JASP on windows:
![image](https://user-images.githubusercontent.com/10348402/191777206-79e0b10e-0906-42ca-8c12-e4b3fd692de9.png)

can you open a data file and run some analysis?

[2022-09-22 15:49] psychresearch commented on #24
I made an account just to third the request for robust analyses!

[2022-09-22 15:51] btreut commented on #1833
@shun2wang I guess that if you hit the Alt key under Windows, you get the menu entries Files, Common and the menu on the right edge, especially the topic Help below. I do not see these entires and do not get them using Alt.
![image](https://user-images.githubusercontent.com/8996291/191793624-aac7d859-7b8a-49ad-b817-37164dec7e59.png)

[2022-09-22 16:10] Kucharssim commented on #1833
Dear @btreut,

no need to worry, the screenshot with the hamburger menu on the right comes from an earlier version of JASP. Nothing is missing, only the GUI changed a little bit so the things are in other places:

- On the right side of the main panel you have the `+` symbol with which you can attach additional JASP modules. That corresponds to the "Modules" option in your screenshot.
- "About" an

[2022-09-22 16:14] btreut commented on #1833
Ok. Thanks for the clarification.

[2022-09-22 16:14] #1833 closed

[2022-09-23 06:04] EJWagenmakers commented on #24
Yes, we should definitely do this, and increase the priority of this request.

[2022-09-23 09:34] Solty1970 opened #1834 "[Feature Request]: Granger causality test"
### Description

This method, which shows causal relationships in time series, has been widely used in neuroscience in recent years.

### Purpose

This method, which shows causal relationships in time series, has been widely used in neuroscience in recent years. A time series X is said to Granger-cause Y if it can be shown, usually through a series of t-tests and F-tests on lagged values of X (and

[2022-09-23 09:58] EJWagenmakers commented on #1834
This could be added to the upcoming time series module.

[2022-09-23 10:17] Solty1970 commented on #1834
I also forgot to say thank you. JASP is a great statistics program. Many thanks to everyone who contributed to this. Also, its free distribution is something to be grateful for. I will gradually remove my master's and doctoral students from SPSS. Thanks again.

[2022-09-23 10:27] EJWagenmakers commented on #1834
:-) We are working hard to improve the program further!

[2022-09-23 13:09] TarandeepKang commented on #1834
Dear all, I was just coming here to suggest possible inclusion of time series methods, only to see that you're already working on! I will just briefly add that the Granger causality test, and other related methods are available in this R package. Citations for each method are given in the paper:

 Hmamouche, Y. (2020). NlinTS: An R Package For Causality Detection in Time Series. The R Journal, 12(

[2022-09-23 13:31] Solty1970 commented on #1834
This is great news. It's unbelievable that it's being added so quickly. I will wait impatiently for use in Electroencephalography (EEG) data and other time series. Thank you.

[2022-09-23 15:34] alaudinukm opened #1835 "[Bug]: Unable to install JASP - MAC OS Montery 12.6"
### JASP Version

Others

### Commit ID

_No response_

### JASP Module

_No response_

### What analysis are you seeing the problem on?

_No response_

### What OS are you seeing the problem on?

Mac OS Monterey 12.6

### Bug Description

![IMG_20220922_222247](https://user-images.githubusercontent.com/114245172/191997949-1b76ccd2-f585-4694-8fba-3f2e15ac9c63.jpg)
![IMG_20220922_222317](https://us

[2022-09-24 01:04] abaltusn21 commented on #1835
I'm having the same trouble. I have macOS Monterey and get a "jasp not supported on mac" error.

[2022-09-24 06:35] shun2wang commented on #1835
Hi @alaudinukm @abaltusn21 Please confirm your MacBook use an Intel chip or apple silicon(M1/M2)?

[2022-09-24 07:05] euyar42 opened #1836 "[Bug]: Fedora 36 Not Openin App"
### JASP Version

0.16.3

### Commit ID

_No response_

### JASP Module

_No response_

### What analysis are you seeing the problem on?

When opening app, its crashed.

### What OS are you seeing the problem on?

Linux Fedora 36 KDE

### Bug Description

When opening app, its crashed.
This is the console result.
![Screenshot_20220924_100138](https://user-images.githubusercontent.com/70096810/1920

[2022-09-24 07:19] shun2wang commented on #1836
thanks for your report, could you please copy and paste all log in the terminal here? thanks

[2022-09-24 09:52] euyar42 commented on #1836
Thank you, unfortunately that's the all log.

On Sat, Sep 24, 2022, 10:19 AM Shun Wang ***@***.***> wrote:

[2022-09-24 10:41] JorisGoosen commented on #1836
@euyar42 could you show us the output of the command `locale` ?

[2022-09-24 11:20] euyar42 commented on #1836
![Screenshot_20220924_142004](https://user-images.githubusercontent.com/70096810/192095075-20845830-545f-4828-9e01-8f6687c1916f.png)

[2022-09-24 15:12] alaudinukm commented on #1835
It is Intel i7

*Noor Alaudin Abdul Wahab, PhD*
*Senior Lecturer & Audiologist - *

*Audiology Program - School of Rehabilitation & Special Needs - Faculty of
Health Sciences - Universiti Kebangsaan Malaysia. Jalan Raja Muda Abdul
Aziz - 50300 - Kuala Lumpur - Malaysia.*
*Direct line:+603 9289 5024, Main Office: +603 9289 5018, Fax: 603 2698
6039*

*Deputy Director (Assessment and Profiling) - Cen

[2022-09-24 15:47] shun2wang commented on #1835
That's it, so you need to select 'Intel' for Intel chip machines when downloading the installation package. instead of 'Apple silicon' for M1/M2 chips

So i am closing this for now, feel free to reopen this if problem is not solved

[2022-09-24 15:47] #1835 closed

[2022-09-24 15:52] alaudinukm commented on #1835
Awesome, thanks!

On Sat, Sep 24, 2022, 23:48 Shun Wang ***@***.***> wrote:

--

*PENAFIAN*: E-mel ini dan apa-apa fail yang dikepilkan bersamanya
("Mesej") adalah ditujukan hanya untuk kegunaan penerima(-penerima)
yang
termaklum di atas dan mungkin mengandungi maklumat sulit. Anda dengan ini
dimaklumkan bahawa mengambil apa jua tindakan bersandarkan kepada, membuat
penilaian, mengulang hantar, me

[2022-09-24 19:08] euyar42 commented on #1836
These are the problem report app infos:
![Screenshot_20220924_220231](https://user-images.githubusercontent.com/70096810/192114491-fe3f4d34-6c2f-402b-a24e-609fbedbaed7.png)
![Screenshot_20220924_220231](https://user-images.githubusercontent.com/70096810/192114508-97088321-89f7-442a-951e-fef9057e9d42.png)
![Screenshot_20220924_220521](https://user-images.githubusercontent.com/70096810/192114549-a09

[2022-09-26 12:10] JorisGoosen commented on #1836
@euyar42 could you give this a try:
- open a terminal
- run: `export LC_MONETARY="en_US.UTF-8"`
- run: `export LC_MEASUREMENT="en_US.UTF-8"`
- in the same terminal start JASP

I hope it then does work, I think we've had some bugs like this before. But those usually had weirder locales set.

[2022-09-26 12:43] euyar42 commented on #1836
This is worked but, i think ı have to do it everytime. If ı wanna solve the issue permanantly i think change my MEASUREMENT etc. settings:
![Screenshot_20220926_154122](https://user-images.githubusercontent.com/70096810/192278809-b17d9097-c1d9-426d-b5d4-3f92b94f8a69.png)
Thank you for your help! I hope this issue solved permanantly by JASP because in my country some regional setting different than

[2022-09-26 18:37] mjkofler opened #1837 "[Feature Request]: T-sized adjusted fit indices in SEM module"
### Description

Requesting addition of T-sized adjusted fit indices in SEM module for equivalence testing

### Purpose

T-sized adjusted fit indices appear to offer advantages over traditional fit indices and may be a helpful addition

### Use-case

Equivalence testing of models in SEM

### Is your feature request related to a problem?

A Reviewer is asking us to add these indices

### Describe t

[2022-09-27 08:22] juliuspf commented on #1837
hi @mjkofler, thanks for the request. Seems straightforward enough, @Kucharssim?

[2022-09-27 12:27] verboten999 opened #1838 "[Bug]: error while setting test set indicator for Boosting classification"
### JASP Version

0.16.3

### Commit ID

_No response_

### JASP Module

jaspMachineLearning

### What analysis are you seeing the problem on?

Boosting Classification

### What OS are you seeing the problem on?

Windows 10

### Bug Description

Error in `[.data.frame`(trainingAndValidationSet, , match(names(trainingAndValidationSet), : undefined columns selected

### Expected Behaviour

Successfu

[2022-09-27 14:52] JorisGoosen commented on #1836
Hey @euyar42

I dont think we'll be working on this issue anytime soon. It seems to only occur on linux-systems where some "strange" combination of `LC_*` values is made. Not entirely sure what is "strange" though, Ive also seen it with setting only one to a dutch locale while the rest was set to `en_us` (like you have roughly).

I hope it isnt too much of an inconvenience to set those values to s

[2022-09-27 14:52] #1836 closed

[2022-09-27 17:26] mjkofler commented on #1837
I think so? Complicating factor based on the Yuan paper is that these new RMSEA and CFI indices can’t be evaluated by the traditional ‘rules of thumb’ for what indicates excellent, close, adequate etc. fit, and that the ‘rule of thumb’ cutoffs for each vary based on model df and N.

So it would seem that we’d need to run 3 R scripts from that paper:
1. Compute T-sized RMSEA and T-sized CFI using h

[2022-09-28 06:51] euyar42 commented on #1836
Thank you, than ı will not close the issue, maybe solve in future.

[2022-09-28 07:16] wwwon09 opened #1839 "[Bug]: The resulting chart cannot be displayed."
### JASP Version

0.16.3

### Commit ID

_No response_

### JASP Module

jaspDescriptives, jaspAnova, jaspFactor, jaspFrequencies

### What analysis are you seeing the problem on?

Descriptives

### What OS are you seeing the problem on?

Window 10

### Bug Description

A bug happened!I am working on the data analysis,I want to make a histogram of frequency distribution.But the drawing area is alw

[2022-09-28 07:35] shun2wang commented on #1839
maybe a duplication of https://github.com/jasp-stats/jasp-issues/issues/1703
Are there any non-ASCII characters in your PC user name? if so that will be solved in next release version in a few days.

[2022-09-28 07:42] wwwon09 commented on #1839
Do I need to download jasp again after changing my username?

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "jasp-stats/jasp-issues"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年9月28日(星期三) 下午3:35
**

[2022-09-28 07:45] shun2wang commented on #1839
You can just download this pre-release http://static.jasp-stats.org/Nightlies/WindowsZip/JASP-nightly-stable-d661fe4ae66457f3c203188e0500a3ff18aba29a.zip and unziped to try it. Please note that this is not an official release, you can try to see if it solves your problem and wait for our official release (it will only take a few days)

[2022-09-28 08:03] wwwon09 commented on #1839
Can you tell me how to download it? There are many files after decompression.

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "jasp-stats/jasp-issues"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年9月2

[2022-09-28 08:06] shun2wang commented on #1839
Double click JASP.exe to start it

[2022-09-28 08:36] lwilleminpetignat opened #1840 "[Bug]: error in Neighborhood-Based Clustering, t-SNE"
### JASP Version

0.16.3

### Commit ID

_No response_

### JASP Module

jaspMachineLearning

### What analysis are you seeing the problem on?

Neighborhood-Based Clustering

### What OS are you seeing the problem on?

Window 10

### Bug Description

Cette analyse s'est terminée de manière inattendue.

Error in data.frame(x = tsne$Y[, 1], y = tsne$Y[, 2], cluster = predictions): les arguments im

[2022-09-28 09:34] lwilleminpetignat commented on #1840
I saw that the problem is due to the t-SNE removing duplicates rows (saw this in a previous post) but I don't understand how to fix that.

[2022-09-28 09:45] JorisGoosen commented on #1836
@euyar42 well, Ive already closed it.

[2022-09-28 10:24] verboten999 commented on #1838
Hi,

Thanks for reaching out. I will send the file as soon as I'm able.

Regards

On Wed, 28 Sept 2022, 17:20 Julius Pfadt, ***@***.***> wrote:

[2022-09-28 10:25] juliuspf commented on #1840
Hi @lwilleminpetignatm thanks for reporting this. Could you share a zipped .jasp file with the issue, or a data file that causes the error?

[2022-09-28 10:34] wwwon09 commented on #1839
Thank you very much.My problem has been solved.

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "jasp-stats/jasp-issues"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年9月28日(星期三) 下午4:06
***@***.***&gt;

[2022-09-28 10:35] lwilleminpetignat commented on #1840
[JASP.zip](https://github.com/jasp-stats/jasp-issues/files/9664069/JASP.zip)

[2022-09-28 10:46] #1839 closed

[2022-09-28 11:23] verboten999 commented on #1838
Hi,

Attached is the requested file.

Regards

On Wed, Sep 28, 2022 at 5:20 PM Julius Pfadt ***@***.***>
wrote:

[2022-09-28 12:41] juliuspf commented on #1838
I am sorry, there is not attachment. You cannot attach the file to an email because GitHub does not allow those. You have to upload the file to this issue https://github.com/jasp-stats/jasp-issues/issues/1838.

[2022-09-28 12:56] verboten999 commented on #1838
Hi,

I apologize for that. I uploaded the zip file here as per requested.

Regards

[Boosting-Try.zip](https://github.com/jasp-stats/jasp-issues/files/9665118/Boosting-Try.zip)

[2022-09-28 14:59] kallochs opened #1841 "[Bug]: Windows Installer error when installing JASP 0.16.2.0 or JASP 0.16.3.0 - cant install JASP"
### JASP Version

0.16.2

### Commit ID

_No response_

### JASP Module

_No response_

### What analysis are you seeing the problem on?

_No response_

### What OS are you seeing the problem on?

Windows 10

### Bug Description

I am having troubles with your program, and different versions have been tried.  When installing JASP, I receive the following error:
![image](https://user-images.githubu

[2022-09-28 15:29] LSLindeloo commented on #1837
@mjkofler, thanks for the detailed description! I will add this to the module asap.

[2022-09-28 15:44] JorisGoosen commented on #1841
@kallochs are you running the installer as an administrator?

Also, could you try downloading and unpacking https://static.jasp-stats.org/JASP-0.16.3-64bit.zip ?
Then once you have it unpacked you could open a command prompt and run `JASP.exe`

It should create folders called something like `jaspDescriptives` etc inside `Modules`. If not there might be some permissions issues on your computers.

J

[2022-09-28 15:45] JorisGoosen commented on #1841
Aah hey, @kallochs what kind of computer are you trying to install on?

As in, what kind of CPU does it have, because we've had this issue: #1822
We do not yet support windows ARM im afraid.

[2022-09-28 17:09] kallochs commented on #1841
One is a Intel(R) Core(TM) i7-6700 CPU @ 3.40GHz   3.41 GHz
Another is Intel(R) Core(TM) i5-8365U CPU @ 1.60GHz   1.90 GHz

Both are 64bit processors

Thank you,
Sonja Kalloch, ---<--<--({@
InformationTechnology Specialist
VA Maine Area (Station 402)
"I think a hero is an ordinary individual who finds strength to persevere and endure in spite of overwhelming obstacles. " - Christopher Reeve

From:

[2022-09-28 17:29] mjkofler commented on #1837
Awesome - thank you! Could you add an option to show the chi-square for the independence model also? (Or maybe I’m just missing where to get that info in the current build?).

[2022-09-28 17:54] JorisGoosen commented on #1841
Did you see these questions as well @kallochs ?

[2022-09-29 11:48] JorisGoosen commented on #1821
@spacedina what kind of cpu does your pc have?

[2022-09-29 13:26] JorisGoosen commented on #1821
@juliuspf sure sounds like it is the same as #1822 or https://github.com/jasp-stats/jasp-issues/issues/1841

[2022-09-29 13:27] JorisGoosen commented on #1822
Well this error also seems to occur on intel windows, so it might be unrelated to ARM after all.
However, I can still not reproduce it

[2022-09-29 13:42] JorisGoosen commented on #1841
@kallochs
Can you open a command prompt in windows and try the following:
[code]
Please copy all the output here

[2022-09-29 13:43] JorisGoosen commented on #1822
@tomtomme
Can you ask your students to open a command prompt in windows and try the following:
[code]
Please copy all the output here

[2022-09-29 13:43] JorisGoosen commented on #1821
@spacedina
Can you open a command prompt in windows and try the following:
[code]
Please copy all the output here

[2022-09-29 13:45] JorisGoosen opened #1842 "[Bug]: Importing CSV with non-ascii created in local codepage in Excel has problems"
### JASP Version

0.16.4 on Windows

### Bug Description

JASP 0.16.4 contains R 4.2.1 and this allows for using UTF-8 everywhere, this has fixed quite a few problems in JASP.
But there are still some issues with the workaround implemented in https://github.com/jasp-stats/jasp-desktop/commit/a0d1f6a9661e5c8180a9b9913673f0df785be566 (supporting reading CSV encoded in local codepage)
This is related

[2022-09-29 13:46] shun2wang commented on #1807
Is this also same with https://github.com/jasp-stats/jasp-issues/issues/1841 ?

[2022-09-29 13:47] #1463 closed

[2022-09-29 13:49] JorisGoosen commented on #1579
This issue occurs when not all `LC_*` values are set to the same value... Like `LC_TIME=en_DE.UTF-8` if changed to `LC_TIME=en_US.UTF-8` it should work fine.

[2022-09-29 13:49] #1579 closed

[2022-09-29 15:16] #1807 closed

[2022-09-29 15:42] kallochs commented on #1841
c:\>mkdir test
c:\>cd test
c:\test>mklink /j junction folder
Junction created for junction <<===>> folder
c:\test>dir /a
 Volume in drive C is OSDisk
 Volume Serial Number is 9E40-4543
 Directory of c:\test
09/29/2022  11:40 AM    <DIR>          .
09/29/2022  11:40 AM    <DIR>          ..
09/29/2022  11:40 AM    <JUNCTION>     junction [c:\test\folder]
               0 File(s)              0 bytes

[2022-09-29 22:31] #833 closed

[2022-09-30 08:46] Alishka-1706 opened #1843 "[Bug]: JASP can not plot with unicode user name on windows"
### Description

версия JASP 0.16.3.0. Windows 10

### Purpose

_No response_

### Use-case

_No response_

### Is your feature request related to a problem?

I can't make a conspiracy. a window for the graph will appear, but there is no graph itself.

### Describe the solution you would like

_No response_

### Describe alternatives that you have considered

I tried to set a safe graphics mode an

[2022-09-30 09:19] shun2wang commented on #1843
@Alishka-1706 Thanks for the report, this is indeed a known issue. It has been fixed in the next version, you can download the latest version on the official website soon or [here](https://github.com/jasp-stats/jasp-desktop/releases/tag/v0.16.4)

[2022-09-30 09:20] #1843 closed

[2022-09-30 09:58] boutinb commented on #1843
This version will be public next week.

[2022-09-30 11:28] PerPalmgren opened #1844 "Compute and re-code into new variables in JASP?"
### Description

Hi.  I dont get an answer in the JASP forum so I try here. Could somebody help me🙏.  How do I go about to:  a) create a new nominal (binary) variable from a scale variable. So, I have an age variable (denoted as year of age) and I want to dichotomize this to a nominal variable with two levels, thus, under or equal to the mean age =1 and over the mean age = 2.  b) collapse an ordin

[2022-09-30 11:47] vandenman commented on #1844
Hi @PerPalmgren, sorry to hear that you didn't get a response on the forum. Let me try to answer your questions:

### Recoding a scale variable into a binary nominal variable

Essentially, you'd create a new column with computed columns and then enter something like this:

![image](https://user-images.githubusercontent.com/21319932/193261775-019c38fb-aec8-4982-bf5c-c0a22aa5e817.png)

Here `Years o

[2022-09-30 14:11] alkla commented on #1725
Same error occurs for me with current version of macOS (12.6): "C++ error (unknown cause)" (JASP version 0.16.3) when trying to display any plot in the app.

[2022-09-30 14:25] shun2wang commented on #1488
closed by https://github.com/dustinfife/flexplot/pull/100
thanks to @dustinfife ❤

[2022-09-30 14:56] JorisGoosen commented on #1725
Well, I am running JASP here on macos M1 on Monterey 12.5 and I *can* plot.

So there might be something else going on...

Could @BubiUnitn or @alkla [turn on logging](https://github.com/jasp-stats/jasp-desktop/blob/development/Docs/user-guide/logging-howto.md) and attach those to this issue?

Also, do you get those "crash report" messages from macOs? Because that information could be helpful.

[2022-09-30 14:57] JorisGoosen commented on #1725
And @BubiUnitn you were too fast in making the issue, the upload of your screenshot failed, perhaps you could try again in here a comment?

[2022-10-01 00:18] mytnaprofile commented on #1026
JASP version: 0.16.3
OS name and version: win 10
Analysis: Exploratory Factor Analysis
Error message: data not valid: there are more variables than observations

Hi

I'm new to JASP. I am trying to run exploratory factor analysis, but an error message appears as above. I read the previous thread discussion (#1026 #961), but I think it is more based on the software bug error than statistical error.

[2022-10-01 09:42] juliuspf commented on #1026
Hi @mytnaprofile, thanks for reporting, is it possible you open a new issue for this? https://github.com/jasp-stats/jasp-issues/issues/new?assignees=&labels=&template=bug-report.yml&title=%5BBug%5D%3A+

[2022-10-01 14:22] JorisGoosen commented on #1693
@mathijsdeen if you do look at this (0.16.4 should be out next week) please let us know how it goes at https://github.com/jasp-stats/INTERNAL-jasp/issues/2121 so that we can make some documentation out of the steps that were required.

[2022-10-02 19:18] tomtomme commented on #1822
![screen2.jpg](https://user-images.githubusercontent.com/4428185/193472158-64f5ff22-ed02-43af-b031-05fa56225c09.jpg)

[2022-10-03 10:39] JorisGoosen commented on #1822
Thank you @tomtomme !

Well at least the problem doesn't seem to be making the junctions, so that's something.
In https://github.com/jasp-stats/jasp-issues/issues/1807#issuecomment-1262419496 the solution seemed to be updating the graphics driver.

Could you try downloading https://static.jasp-stats.org/JASP-0.16.4-64bit.zip and unpacking it somewhere, then in a command prompt:
[code]

[2022-10-03 10:52] JorisGoosen commented on #1841
Thank you @kallochs !

Well at least the problem doesn't seem to be making the junctions, so that's something.
In https://github.com/jasp-stats/jasp-issues/issues/1807#issuecomment-1262419496 the solution seemed to be updating the graphics driver.

Another way could be by minimizing the graphics requirements of JASP during junction creation and subsequent runs.
Could you try downloading https://st

[2022-10-03 14:52] Majous opened #1845 "[Bug]: variance-covariance matrix input in JASP SEM"
### JASP Version

0.16.3

### Commit ID

_No response_

### JASP Module

jaspSem

### What analysis are you seeing the problem on?

SEM with variance-covariance matrix input

### What OS are you seeing the problem on?

Windows 10 Home

### Bug Description

After opening the variance-covariance matrix, when I want to use it as a input in SEM, theres a bug reporting that the input is not a proper va

[2022-10-03 16:17] juliuspf commented on #1845
Hi @Majous, thanks for reporting this! @Kucharssim I can reproduce this. It seems something is going wrong in `.semReadData` when a covariance matrix is the input. When I look at what the resulting "dataset" from this function looks like then it is not a square matrix. The function just reads the data according to the columns specified, although for a covariance matrix it should also use the colum

[2022-10-03 17:48] AnswersStat opened #1846 "[Bug]: Can't open files in Data Library"
### JASP Version

0.16.3

### Commit ID

_No response_

### JASP Module

jaspDescriptives, jaspAnova

### What analysis are you seeing the problem on?

Descriptive data.csv

### What OS are you seeing the problem on?

Windows 10 Pro

### Bug Description

I'm trying to follow the JASP student guide but I'm constatly being asked to open files that don't exist in my data library. Is there a data base

[2022-10-03 19:41] juliuspf commented on #1846
Hi @AnswersStat, thanks for the report. It might be the student guide is outdated and some files have been renamed. Could you post a link to the guide? All example data files should be in the "Data Library". It is unlikely that none of the files from the guide are available though. Any ideas, @AlexanderLyNL?

[2022-10-03 20:09] EJWagenmakers commented on #1846
Yes, the student guide is written by Mark Goss-Sampson and has its own data sets

[2022-10-03 20:14] Majous commented on #1845
Thank you for the fast answer. I will wait for a solution

[2022-10-04 03:05] shun2wang commented on #1843
@Alishka-1706 you can download the release now at https://jasp-stats.org/download/

[2022-10-04 03:08] shun2wang commented on #1242
Hi @monkeymanz could you please try it on the new release? download at https://jasp-stats.org/download/

[2022-10-04 07:34] Kucharssim commented on #1845
@Majous thanks for submitting this report!

@juliuspf you are right; the analysis only reads the columns that are used in the models, but does not subset any rows, so that breaks the covariance matrix. It should be an easy fix

[2022-10-04 09:33] juliuspf commented on #1533
@SvetDmFin, could you try the latest version of JASP and see if the issue persists?

[2022-10-04 09:51] juliuspf commented on #1530
Hi @klee89, thanks for the report. I apologize for the late reply. Could you provide a zipped .jasp file or the data file that causes the issue?

[2022-10-04 09:57] juliuspf commented on #1522
@DrMarkGS Sorry for the late reply. Could you try this with the latest jasp version? I tried your file with 0.16.3 and after refreshing the analysis the error disappears.

[2022-10-04 10:16] juliuspf commented on #1510
Hi @verboten999, sorry for the late response. Does the issue persist with the latest JASP version?

[2022-10-04 10:23] juliuspf commented on #1508
I dont think this is feasible as it would require adding options for many many parameters. But maybe @AlexanderLyNL or @EJWagenmakers are of a different opinion.

[2022-10-04 10:29] AlexanderLyNL commented on #1508
We have this as far as I know. As mentioned by Don, the number of decimals can be set for non-integer numbers using the the Results preference.

<img width="1360" alt="Screenshot 2022-10-04 at 12 27 04" src="https://user-images.githubusercontent.com/10271675/193797001-448f7a00-62c2-4c08-b00c-c6cd2b1e2036.png">

I'll close this issue for the moment. If it's unclear, then please reopen.

[2022-10-04 10:29] #1508 closed

[2022-10-04 10:29] AlexanderLyNL commented on #1846
I think that this issue is solved. Please reopen if not.

[2022-10-04 10:29] #1846 closed

[2022-10-04 10:33] juliuspf commented on #1498
Hi @Arcanelady, could you try the latest JASP version and see if the issue persists?

[2022-10-04 10:40] #1708 closed, assigned to JorisGoosen

[2022-10-04 10:42] juliuspf commented on #1491
@martscht, @SomeUserName1 have you tried that latest version with the above mentioned workaround?

[2022-10-04 10:46] #390 closed

[2022-10-04 10:52] juliuspf commented on #1483
Hi @mickeywilson5, thanks for the request and sorry for the late reply. I suppose with SEM you mean standard error? I dont know how feasible this is, given that "distribution plots" give you bar graphs. and box plots give you boxes with error bars. So what you would like are bar graphs with error bars, correct?

[2022-10-04 11:14] EJWagenmakers commented on #1508
I agree. However, when JASP knows a number is an integer, it should obviously not give any decimals. When JASP does do this, it is an oversight that we should fix.

[2022-10-04 11:15] JorisGoosen commented on #1479
Ahh... @iijpma this issue slipped from the to-do list.
Can you confirm this issue still occurs with JASP 0.16.4?

Because in that case I'll schedule it for 0.17

[2022-10-04 11:15] juliuspf commented on #1456
Does this issue persist with the latest JASP version? @verboten999

[2022-10-04 11:43] verboten999 commented on #1510
Hi,

Unfortunately the problem persists with following error message still:

Error in `[.data.frame`(trainingAndValidationSet, , match(names(trainingAndValidationSet), : undefined columns selected

Stack trace
doTryCatch(return(expr), name, parentenv, handler)

withCallingHandlers(expr = analysis(jaspResults = jaspResults, dataset = dataset, options = options), error = .addStackTrace)

analysis(ja

[2022-10-04 12:05] boutinb commented on #1510
The reproduction path is quite unclear. The last error shows that you are using a machine learning analysis.
Can you describe step by step precisely what you do, and give some screenshots?

[2022-10-04 12:17] JorisGoosen commented on #1510
In fact the problem described in the last comment sounds completely different than the original actual issue (which was a crash and this is a failing analysis)...

[2022-10-04 13:42] verboten999 commented on #1510
Hi,

It seems I'm confusing this issue with the other one I posted earlier. I apologize for that. The crashing issue has been resolved with the new JASP version. Thank you.

Regards

[2022-10-04 14:00] #1510 closed

[2022-10-04 18:56] PerPalmgren opened #1847 "[Feature Request]: Naming of residuals in contingency tables in 016.4"
### Description

Naming of residuals

### Purpose

_No response_

### Use-case

_No response_

### Is your feature request related to a problem?

Why has the naming for the residuals (by the way a wonderful feature in this version) been unstandardized, Pearson and Standardized residuals? This is very confusing!!!! As the SPSS nomenclature is residuals, standardized residuals and adjusted residuals