[2022-10-04 19:34] Kucharssim commented on #1847
Dear @PerPalmgren,

I agree that the difference between JASP and SPSS is confusing for SPSS users, but we do have a reason to do this.

Consider that [Agresti (2019)](https://www.wiley.com/en-us/An+Introduction+to+Categorical+Data+Analysis%2C+3rd+Edition-p-9781119405283) calls the residuals that we call *standardized* the same as we do in JASP:

![Screenshot 2022-10-04 at 21 13 15](https://user-im

[2022-10-05 15:48] tomtomme opened #1848 "[Bug]: rollApp Status is wrong"
### JASP Version

Others

### Commit ID

_No response_

### JASP Module

_No response_

### What analysis are you seeing the problem on?

_No response_

### What OS are you seeing the problem on?

rollApp

### Bug Description

![grafik](https://user-images.githubusercontent.com/4428185/194101062-3f18f1a6-4b98-45dd-ae9b-8eaf4e6a4c82.png)

As already mentioned in https://github.com/jasp-stats/jasp-i

[2022-10-05 15:57] tomtomme commented on #1781
Is this "tagging each module" a thing yet, so that I can close this issue?
Or should BioArch update its base now to this: https://github.com/jasp-stats/jasp-desktop/tree/v0.16.4/Modules

Either way - we are still on 0.16.3 within the BioArch. An Update would be great :)

[2022-10-05 20:53] PerPalmgren commented on #1847
Hi Simon,

Thank you for your swift and thourugh reply. I understand this choice but maybe for clarity for JASP users it could rather be called Pearson residual and Standardized Pearson residual.

All the best

Per

Per J. Palmgren | DC, FRCC, MMedEd, PhD |
Associate Professor | Director of doctoral studies
Department of Learning, Informatics, Management and Ethics |
Karolinska Institutet | Tomteb

[2022-10-06 00:59] sukanka commented on #1781
The modules are still not tagged. But in BioArch,  some modules (jaspBase, jaspJags, jaspReliability)  are pinned to the commit in https://github.com/jasp-stats/jasp-desktop/tree/v0.16.4/Modules.

As there is trouble with `r-matrix`, we cannot build `jasp-desktop-0.16.4` with all its dependencies, you may have to build it yourself currently (you have to build `r-jaspbase`, `r-jaspjags`, see https:

[2022-10-06 03:01] ImpBIS opened #1849 "[Bug]: Visual modeling- Linear Modeling failed in 0.16.4"
### JASP Version

0.16.4

### Commit ID

_No response_

### JASP Module

jaspVisualModeling

### What analysis are you seeing the problem on?

Linear Modeling, generalised linear modeling

### What OS are you seeing the problem on?

Win 10

### Bug Description

I attempted to follow the visual modeling example found here https://www.youtube.com/watch?v=YhrgsHuxGBc
The dataset is available here (se

[2022-10-06 07:27] vandenman commented on #1781
There has been Matrix 1.5.1 since September 13th on CRAN, see https://cran.r-project.org/package=Matrix. I don't think you need R-4.3.0 to install that?

[2022-10-06 07:55] sukanka commented on #1781
Different from other packages such as `arm`, `Matrix` is a built-in package of `r` itself. In archlinux, systemwide `Matrix` is provided by `r`, we cannot upgrade `Matrix` to `1.5.1` without overwriting files shipped with `r` (but this is definitely not recommended).

I have tried rebuilding `r-4.2.1`, but the built-in `Matrix` is still `1.4.1`,  so we have to wait for the upstream to fix this, th

[2022-10-06 08:51] DrMarkGS commented on #1522
@juliuspf - this seems fine now in 0.16.3
Thanks
Mark

[2022-10-06 08:59] boutinb commented on #1849
Hi @ImpBIS, I can reproduce your problem with this data:
[pone.0220784.s001.csv](https://github.com/jasp-stats/jasp-issues/files/9722901/pone.0220784.s001.csv)
But I can reproduce the same problem in 0.16.3. Can you try it again in 0.16.3 with this data?

@dustinfife Could you have.a look also? If you load this file, start Linear Modeling, and set CESD as Dependent Variable then you get the error:

[2022-10-06 10:08] vandenman commented on #1781
There is a difference between packages with priority "base", such as `base`, `compiler`, `datasets`, etc. and packages with priority "recommended". Recommended packages, like `MASS`, `Matrix`, `nlme` etc., are shipped by R because they provide functionality that many users need. But these packages are not developed as a part of the R project, they are developed as separate software projects and up

[2022-10-06 11:23] sukanka commented on #1781
Surely we can, but `r` is distributed via the official repository, and I don't think the packager in the official repository will do that, as the official repository does not have any r package.

Another way is to distribute `r` (built with `--with-recommended-packages=no`) in  BioArch repository and package these *Recommended packages* separately, but when you run `pacman -S r` it will install `r

[2022-10-06 12:46] kallochs commented on #1841
Good morning,

I am still not able to get this product installed - I get this notice, and after leaving it all night (from 1PM yesterday to this morning)  and again today using the updated version you sent me with the link below.  How long should this take to install?

***@***.***

In addition, the CMD path you asked me to try is not complete, or perhaps I am not understanding your intent with jas

[2022-10-06 13:20] juliuspf commented on #1849
@dustinfife

[2022-10-06 14:23] kallochs commented on #1841
I finally had success with the newest version you sent the link for.  This item can be listed as resolved, please.

Thank you,
Sonja Kalloch, ---<--<--({@
InformationTechnology Specialist
VA Maine Area (Station 402)
"I think a hero is an ordinary individual who finds strength to persevere and endure in spite of overwhelming obstacles. " - Christopher Reeve

From: Kalloch, Sonja J.
Sent: Thursday,

[2022-10-06 15:08] #1841 closed, assigned to JorisGoosen

[2022-10-06 15:55] JorisGoosen commented on #1841
@kallochs I am wondering though, did you finally figure out what I meant with the cmd path?

And did you manage to run JASP.exe from the command prompt or just doubleclicking in the unzipped folder?

This is important to know because then I could or could not add the "safeGraphics" flag to the standard run of JASP during the installer. That way in the future it will also work from the installer.

[2022-10-06 17:27] dustinfife commented on #1849
There were two problems that were fixed with [this commit](https://github.com/dustinfife/flexplot/commit/43b77ea4627d683dfb8bc862a98a93fcaf8d75ef). Now there's another problem. With the default jasp theme, I get an error that says, "Error in getGraphOption('bty'): could not find function 'getGraphOption'".

Did something change on JASP's end with that function?

[2022-10-06 17:49] kallochs commented on #1841
No, I did not figure out what you meant for the command prompt.

The software was installed by me, an administrator - but is not available for the end user.  It does come up an offer him a Remote App with JASP - he said he will try this.

Thank you,
Sonja Kalloch, ---<--<--({@
InformationTechnology Specialist
VA Maine Area (Station 402)
"I think a hero is an ordinary individual who finds strength

[2022-10-06 23:28] ImpBIS commented on #1849
I retried the pone.0220784.s001.csv on 0.16.4. I could not get the linear modeling visualisations to work at all.

I then tried this on 0.16.3. If I load the dependent variable first the error message occurs. Continuing to load the independent variables causes the error message to disappear and the visualisations work. This seems to be the case irrespective of the variable chosen.

I then tried a

[2022-10-07 01:01] dustinfife commented on #1849
It won't work yet. I've made changes on my end, then they have to be integrated in JASP's app.

[2022-10-07 01:18] ImpBIS commented on #1849
Many thanks.

[2022-10-07 01:53] lt2002 opened #1850 "[Feature Request]: enhanced the split of boxplots"
### Description

we could not add two groups in the split of boxplots,it is hard to draw the complicated boxplots

### Purpose

sometimes we need to analysis different groups in boxplots

### Use-case

_No response_

### Is your feature request related to a problem?

we just  can choose one group in the  split

### Describe the solution you would like

we can add two groups in the split of boxplot

[2022-10-07 07:12] lilianjansbeken commented on #1797
I was hoping that this would be fixed in the 16.4 version but regretfully this is still an issue with the same information as I provided before in this thread.

[2022-10-07 07:24] vandenman commented on #1849
@dustinfife did you call `jaspGraphs::getGraphOption` or just `getGraphOption`? I suspect we may have removed `library(jaspGraphs)` somewhere. Explicitly prefixing with `jaspGraphs::` should solve that.

[2022-10-07 07:46] EJWagenmakers commented on #1797
Thanks for the reminder. I have now assigned this to Jonas and Simon as well.

[2022-10-07 13:19] dustinfife commented on #1849
[This commit ](https://github.com/dustinfife/flexplot/commit/5e76702062347bf9fdcdacd5ac4a9bef83cd1d1a)fixes that. Thanks @vandenman.

[2022-10-07 13:57] #1506 closed

[2022-10-08 22:34] Saad-Soulaimani opened #1851 "[Bug]: This analysis terminated unexpectedly. Error in simpleLoess(y, x, w, span, degree = degree, parametric = parametric, : invalid 'x' Stack trace To receive assistance with this problem, please report the message above at: https://jasp-stats.org/bug-reports"
### JASP Version

0.16.4

### Commit ID

_No response_

### JASP Module

jaspMachineLearning

### What analysis are you seeing the problem on?

_No response_

### What OS are you seeing the problem on?

WINDOWS 10

### Bug Description

FATAL BUG

### Expected Behaviour

FATAL BUG

### Steps to Reproduce

1.
2.
3.
...
FATAL BUG

### Log (if any)

_No response_

### Final Checklist

- [X] I have inc

[2022-10-09 01:19] shun2wang commented on #1851
@Saad-Soulaimani Could you please uplode a .jasp file(by ziped it) here?And explain your operation step by step in more detail. thanks for your report.

[2022-10-09 11:47] shun2wang opened #1852 "[Bug]: Using exponent notation cannot be enabled in result"
### JASP Version

0.16.4

### Commit ID

_No response_

### JASP Module

_No response_

### What analysis are you seeing the problem on?

All

### What OS are you seeing the problem on?

Windows 10 21H2

### Bug Description

numbers in result always displayed using the E-notation,even if `Use exponent notation` is checked.

![image](https://user-images.githubusercontent.com/10348402/194755061-0c2a

[2022-10-09 12:00] EJWagenmakers commented on #1852
This is strange, because this was a known bug for 16.3, and 16.4 supposedly fixed it -- I checked earlier, and on 16.4 it does work as it should *on my computer*...

[2022-10-09 12:11] shun2wang commented on #1852
yeah EJ, I don't remember exactly have seen this problem too,I I'll give more info when joris and bruno come back

[2022-10-10 04:30] Alishka-1706 commented on #1843
Thanks for the answer! 

***@***.*** you can download the release now at  https://jasp-stats.org/download/

--

[2022-10-11 01:05] Ghassan-Okour opened #1853 "[Feature Request]:"
### Description

Adding Data screening/cleaning methods using Careless R package

### Purpose

to enable the researcher to clean his/her data of the three types of (extreme/outlier/careless) responses

### Use-case

cleaning data with scientific methods

### Is your feature request related to a problem?

No; but it gives JASP more power for his power

### Describe the solution you would like

_No

[2022-10-11 01:10] Ghassan-Okour opened #1854 "[Feature Request]: Implement GUI input for SEM instead of lavaan syntax, improve mediation analysis"
### Description

Merging types of SEM in one menu driven dialogue box

### Purpose

to be more flexible for the needs of the researcher

### Use-case

building more powerful models

### Is your feature request related to a problem?

No; I loved JASP in the previous week; tried its menus and it is a powerful environment

### Describe the solution you would like

_No response_

### Describe alternat

[2022-10-11 01:14] Ghassan-Okour opened #1855 "Suggesting to include [careless r package] as a module in next JASP version; as a data screening module that using several methods to detect careless responses of insufficient effort responding"
Suggesting to include [careless r package] as a module in next JASP version; as a data screening module that using several methods to detect careless responses of insufficient effort responding

_Originally posted by @Ghassan-Okour in https://github.com/jasp-stats/jasp-issues/issues/1759#issuecomment-1272269154_

[2022-10-11 06:47] juliuspf commented on #1855
I am closing this as it is a duplicate of https://github.com/jasp-stats/jasp-issues/issues/1853

[2022-10-11 06:47] #1855 closed

[2022-10-11 06:49] juliuspf commented on #1854
Hi @Ghassan-Okour, thank you for the request and taking the time to become familiar with GitHub issues. Could you be a bit more specific with what you mean? What is is about the SEM module that you think could be improved?

[2022-10-11 07:14] willkm3 commented on #1714
Just for clarity... You successfully loaded my data file and ran the Prophet module?

willkm3

[2022-10-11 08:05] vandenman commented on #646
Closed due to inactivity, feel free to reopen if the problem reoccurs!

[2022-10-11 08:05] #646 closed

[2022-10-11 08:14] ty2y commented on #1717
Hi I am following https://jasp-stats.org/download/ and downloading the windows 64 bit version

From: Julius Pfadt ***@***.***>
Sent: 24 May 2022 13:57
To: jasp-stats/jasp-issues ***@***.***>
Cc: Matt Elson ***@***.***>; Mention ***@***.***>
Subject: Re: [jasp-stats/jasp-issues] [Bug]: This Installation Package could not be opened. (Issue #1717)

Hi @ty2y<https://eur01.safelinks.protection.outlook.

[2022-10-11 08:22] mdechas65 commented on #1715
Hi there - also just to let you know the specifications I used. This was a repeated measures ANOVA with 4 within-S factors (hemi, region, task, item) and 1 between-S factor (group). I am using Bayes Factor BF10, order - compare to null model, and Tables - effects across matched models - thanks again, Marianne

From: Julius Pfadt ***@***.***>
Sent: Monday, May 23, 2022 2:22 PM
To: jasp-stats/jasp-i

[2022-10-11 08:32] JorisGoosen commented on #1714
@willkm3 I could not test this as this problem does not occur on my system, @wilmo79 tested whatever problem they had and it seems solved.

I did ask on 9 september if you could test it then, but the fix is already in 0.16.4

I suggest you try it with your data and let us know whether it *has* solved the problem or not.

[2022-10-11 08:33] rehoyt commented on #1814
I have used JASP for several years and I don't recall it taking this long
for logistic regression but it is generating multiple coefficients, etc.

Thanks for your wonderful stats package. I am mentioning it during my panel
discussion on data science tools for clinicians at the annual
AMIA summit in November and two other smaller conferences

Bob

On Thu, Sep 1, 2022 at 7:04 AM Julius Pfadt ***@**

[2022-10-11 08:54] Ghassan-Okour commented on #1854
Hi @juliuspf,
why in [structural equation modeling] the user should write the [lavaan] code to run this analysis, while in [mimic model] and [mediation analysis] the researcher can select the variables without writing any code?
How can the researcher manipulate them MI in [Confirmatory factory analysis] without writing any code?
I think if the current dialogue box of [structural equation modeling]

[2022-10-11 09:00] Ghassan-Okour commented on #1854
Hi @juliuspf,
the current [Mediation Analysis] adopting recursive mediators; what if the researcher wants to make non-recursive mediators or manipulating the MI among the residuals of the mediators?
Best regards...

[2022-10-11 09:10] akypar commented on #1686
Hi AlexanderLyNL,

Thanks for the confirmation.

I tried Boosting Regression without any success (jaspML not saved).

On 13/4/2022 23:26, AlexanderLyNL wrote:

[2022-10-11 09:18] OliverSchultheiss commented on #1705
Can’t check that yet, because our IT guys need to get JASP ready for distribution within the FAU system first. I’ll ask them to do this & then I’ll check & get back.
In any event, thanks for adding the response surface option.

Oliver

**************************************************************************************************
Oliver C. Schultheiss, Dr. phil.
Professor of Psychology
Chair fo

[2022-10-11 09:26] GiovanniUNIPD commented on #1712
Sorry I closed the issue by accident. Thank you for noticing me
Giovanni

Prof. Giovanni Mento
PsyD, PhD in Psychobiology
Researcher
Assistant Professor of Developmental Neuropsychology and
EEG recording and Analysis
Department of General Psychology
University of Padua
***@***.***
+39 49 827 6278
https://dpg.unipd.it/category/ruoli/personale-docente?key=E626073ABBEBE7671C59B980C050F88F

http://pnc

[2022-10-11 10:06] juliuspf commented on #1854
So these are some valid points, that I will try to summarize. The lavaan syntax is used because it is very powerful and flexible and some operations available through the lavaan syntax for SEM are hard to replace by click-and-response operations. I agree, that for non-R people this is not very intuitive. If you look at the Factor module, you can fit a CFA with dragging variables around. Also, what

[2022-10-11 10:22] #1854 closed

[2022-10-11 10:27] Ghassan-Okour commented on #1854
![Screenshot 2022-10-11 132607](https://user-images.githubusercontent.com/115344297/195066517-4f5e08eb-98d3-4f44-9469-9f6bc1fe1b15.jpg)

[2022-10-11 10:38] JorisGoosen commented on #1717
@ty2y and it works? Or not?

We've just released 0.16.4 so you could try that and report back here whether it works or not.

If it doesnt work you could try downloading https://static.jasp-stats.org/JASP-0.16.4-64bit.zip and unpacking it to `C:\JASP-0.16.4-64bit\", then in a command prompt:
[code]

After it's done the `Modules` folder in the unpacked `JASP-0.16.4-64bit` should look like:
![image](

[2022-10-11 10:58] willkm3 commented on #1714
Thanks for the reminder. I have been working on other projects. I will try it and let you know.

Willkm3

[2022-10-11 20:35] Ghassan-Okour opened #1856 "[Feature Request]: The standardized estimates are the same of the unstandardized estimates using CFA factor Analysis"
### Description

The standardized estimates are the same of the unstandardized estimates using CFA factor Analysis

### Purpose

to correct this bug for one of both

### Use-case

_No response_

### Is your feature request related to a problem?

Yes

### Describe the solution you would like

correcting the unstandardized estimates or the standardized estimates

### Describe alternatives that you h

[2022-10-11 20:43] juliuspf commented on #1856
Thanks for taking the time. This is not a bug, but normal behaviour. When the "Factor scaling" in the "Model options" is set to "Factor variances", which is the default, the latents are automatically standardized, meaning the unstandardized estimates and the latent standardized estimates will be equal.

[2022-10-11 20:43] #1856 closed

[2022-10-11 20:47] Ghassan-Okour commented on #1856
Thankful gracefully....

[2022-10-12 12:39] #1743 closed

[2022-10-13 07:21] tpronk opened #1857 "[Feature Request]: Add a CITATION.cff file to your repo"
### Description

CITATION.cff files are plain text files with human- and machine-readable citation information for software (and datasets). Code developers can include them in their repositories to let others know how to correctly cite their software. https://citation-file-format.github.io/

### Purpose

You'll get a "cite this repo" link in the right panel of the GitHub website. For instance, see

[2022-10-13 07:28] Trebicky opened #1858 "[Feature Request]: SE for correlations"
### Description

Effect size standard errors for correlations

### Purpose

Though CIs are great, frequently we need to report SE (e.g., for meta-analyses) for correlation coeficients. It is great JASP implement SE as an option in the new release, but it is missing in correlations.

### Use-case

Reporting SE for correlation, imputing effects in to meta analysis

### Is your feature request relate

[2022-10-13 07:32] Trebicky opened #1859 "[Feature Request]: Cohen's f and f^2 as estimates of effects in ANOVA"
### Description

Add C f and f^2 in ANOVA

### Purpose

In power anylsis f or f^2 for ANOVA is needed. JASP does not provide these estimates.

### Use-case

Runing a power analysis or comparing results.

### Is your feature request related to a problem?

Based on current reporting I need to look for effect size convertor and hope for the best.

### Describe the solution you would like

add options

[2022-10-13 07:50] Kucharssim commented on #1858
Dear @Trebicky,

thank you for the request! In fact, we just implemented this feature for correlations as well, it will be available in the next release.

[2022-10-13 07:50] #1858 closed

[2022-10-13 08:10] Kucharssim commented on #1859
@JohnnyDoorn, could you take a look?

[2022-10-13 08:34] juliuspf commented on #1857
@tpronk thank you for the request. Just to be clear, this should be for people wanting to cite JASP?

[2022-10-13 08:55] tpronk commented on #1857
Hey @juliuspf and @vandenman! Yes it is. And for now it's mainly interesting to techy types like me :), but it's getting more popular, as attested to by the fact that GitHub can parse these files to create one of those citation links.

[2022-10-13 09:02] tpronk opened #1860 "[Bug]: Error: package ‘ROCR’ was installed before R 4.0.0: please re-install it"
### JASP Version

0.16.4

### Commit ID

_No response_

### JASP Module

jaspMachineLearning

### What analysis are you seeing the problem on?

Classification via K-nearest neighbor

### What OS are you seeing the problem on?

Windows 10

### Bug Description

During the "Machine Learning with JASP" workshop at Data Science Day, I opened the petal dataset to run a K-nearest neighbor classification

[2022-10-13 09:23] juliuspf commented on #1454
@MartinaFanghella could you confirm the issue still persists with the newest JASP version?

[2022-10-13 09:26] juliuspf commented on #1452
I doubt we will have a technical solution for this, but maybe we are wrong... @JorisGoosen ?

[2022-10-13 09:31] juliuspf commented on #1450
any news @agarza7?

[2022-10-13 09:37] juliuspf commented on #1444
@R180, thanks for the request, and I apologize for the delayed response.

[2022-10-13 09:45] rebekkasl opened #1861 "[Bug]: Axis values are not correct in scatter plot with densities"
### JASP Version

0.16.4

### Commit ID

_No response_

### JASP Module

jaspRegression

### What analysis are you seeing the problem on?

Scatter plot with densities

### What OS are you seeing the problem on?

Windows 10

### Bug Description

The scatter plots with densities created using Descriptives>Customizable plots and Regression>Correlation (Display pairwise, Scatter plots) do not match. S

[2022-10-13 10:57] vandenman commented on #1444
@juliuspf this is something we want to build into plot editing.

[2022-10-13 10:57] Kucharssim commented on #1861
Dear @rebekkasl,

thank you for the report, I will take a look

[2022-10-13 12:02] JorisGoosen commented on #1452
Yeah this would definitely be nice but we don't support it atm.
Ill add it to the todo list for data-editing though. As we need to change many things there in any case

[2022-10-14 07:51] juliuspf commented on #1612
It seems that has been fixed yes!

[2022-10-14 08:58] juliuspf commented on #1428
An upcoming release will have the option to get the underlying R code. I doubt that we will also translate to Python though, @Kucharssim?

[2022-10-14 08:59] juliuspf commented on #1427
@Veelgehoord, could you try with the latest release?

[2022-10-14 09:00] juliuspf commented on #1421
The Data-Editing release will solve this issue!

[2022-10-14 09:05] juliuspf commented on #1409
@MalavikaSunil I will close this as completed, since the graph works with the latest release version. Please feel free to reopen this if your issue still persists.

[2022-10-14 09:05] #1409 closed

[2022-10-14 09:07] juliuspf commented on #1408
Since we do not support the OS anymore, I will close this issue. Feel free to reopen if your issue has not been addressed properly.

[2022-10-14 09:07] #1408 closed

[2022-10-14 09:13] juliuspf commented on #1405
I will close this since the latest JASP version does not support your OS anymore.

[2022-10-14 09:13] #1405 closed

[2022-10-14 09:21] Kucharssim commented on #1428
We do not plan to translate our analysis code to Python atm.

We do indeed plan to release a syntax mode for R, which will provide a convenient R interface to JASP analyses. However, this feature does not provide step-by-step instructions how to carry out an analysis in R, instead it will enable you to carry out the whole analysis with "one line of code". If one wants to "look behind the curtain"

[2022-10-14 09:52] Kucharssim commented on #1430
Dear @paulamarentette,

sorry for the tardy response.  The error message in the screenshot is consistent with the bug that was fixed for release 0.16.1, so it is indeed strange that it would appear for version 0.16.1 and above. I also fail to reproduce it using your example on 0.16.1, 0.16.2, 0.16.3, and 0.16.4 version (at least on a Mac, that is).

Please if you encounter the error again, could y

[2022-10-15 04:33] purushottamb opened #1862 "[Bug]: waiting for initialization of module: Descriptives"
### JASP Version

0.16.3

### Commit ID

_No response_

### JASP Module

jaspDescriptives

### What analysis are you seeing the problem on?

_No response_

### What OS are you seeing the problem on?

Windows 10

### Bug Description

Descriptive Statistics module showing a message
"Waiting for Initialisation of Module: Descriptives"

### Expected Behaviour

should have reported descriptive statisti

[2022-10-16 06:15] tomtomme commented on #1862
On a first start this may need a minute. How long did you wait? How big was the dataset?

[2022-10-16 06:21] tomtomme commented on #1861
The error may be with the histogram. I saw something similar once, where the axis numbers at the beginning did not quite fit to the very small dataset. However this was some time ago and I never reported it

[2022-10-16 06:26] purushottamb commented on #1862
I thought similar and waited for long and this was not first start.
I copied descriptive with ‘+’ button to generate tables for different variables.
Then it took forever to load with “waiting for initialization of module: Descriptives” message.
The data wasn’t that big. About 700 observations.

I relaunched JASP and it loaded.

PS:  “+” button regenerated the issue once.

Working fine now.

Thank

[2022-10-16 20:29] EJWagenmakers commented on #1862
NB. I just had a report from a different user reporting the same issue.

[2022-10-16 20:33] diego3498 opened #1863 "[Bug]: Graphics Not Loading"
### JASP Version

0.16.4

### Commit ID

_No response_

### JASP Module

jaspDescriptives

### What analysis are you seeing the problem on?

_No response_

### What OS are you seeing the problem on?

Windows 10

### Bug Description

No graphics load in the "Results" window. It displays a message reading "Waiting for initialization of module: Descriptives" and loads but never puts out a table or gr

[2022-10-17 08:10] juliuspf commented on #1863
thanks for reporting @diego3498, this is a duplicate of https://github.com/jasp-stats/jasp-issues/issues/1862, so I will close it, and you can just subscribe to the other issue.

[2022-10-17 08:10] #1863 closed

[2022-10-17 08:22] shun2wang commented on #1612
Closed due to inactivity for a long time. @DIV-on-github Please try the latest version and if there is a problem reopen it.

[2022-10-17 08:26] shun2wang commented on #1525
Closed due to inactivity for a long time. and the encoding in dataset was replaced by a new specifically issue.

[2022-10-17 08:26] #1525 closed

[2022-10-17 08:58] juliuspf commented on #1612
Sorry, but I think the issue is still there.

[2022-10-17 09:01] juliuspf commented on #1525
@shun2wang, could you also mention the issue that now contains the part of this one still unsolved?

[2022-10-17 09:04] shun2wang commented on #1525
yes, I think this one: https://github.com/jasp-stats/jasp-issues/issues/1842 and Joris is work on it.

[2022-10-18 10:47] Jillderon opened #1864 "[Feature Request]: Adding Bayesian Network Module"
### Description

Adding Bayesian Network Module

### Purpose

_No response_

### Use-case

_No response_

### Is your feature request related to a problem?

_No response_

### Describe the solution you would like

_No response_

### Describe alternatives that you have considered

_No response_

### Additional context

_No response_

[2022-10-18 18:52] Majous commented on #1845
Good afternoon,

I would like to ask how long do you expect would it take to be resolved? In weeks, months? I would like to try. No pressure. Thank you for looking into that.

[2022-10-19 07:06] shun2wang commented on #1163
This might be solved by 0.16.4 since we make JASP work with UTF-8 on windows.
So I will close it for now, @MayliaCypher you can try it on latest version and reopen this if you still hava problem.

[2022-10-19 07:06] #1163 closed

[2022-10-19 12:31] areeq1 commented on #1639
Any good news on that? 🙂

[2022-10-19 15:30] juliuspf commented on #1639
@areeq1 sorry about the delay, I hope the fit indices can make it into the next release.

[2022-10-19 15:36] areeq1 commented on #1639
Thank you for the quick and positive reply!
If I may ask for an additional thing, we would love to see the application of Exploratory Structural Equation Modeling (ESEM). It is simply an EFA being executed through SEM.
See the two papers below

[Marsh 2014 ESEM introduction.pdf](https://github.com/jasp-stats/jasp-issues/files/9821962/Marsh.2014.ESEM.introduction.pdf)

[Asparouhov Muthén 2009 ESEM

[2022-10-19 15:36] areeq1 commented on #1639
Thank you for the quick and positive reply!
If I may ask for an additional thing, we would love to see the application of Exploratory Structural Equation Modeling (ESEM). It is simply an EFA being executed through SEM.
See the two papers below

[Marsh 2014 ESEM introduction.pdf](https://github.com/jasp-stats/jasp-issues/files/9821962/Marsh.2014.ESEM.introduction.pdf)

[Asparouhov Muthén 2009 ESEM

[2022-10-19 15:45] areeq1 commented on #1639
Thank you for the quick and positive reply!
If I may ask for an additional thing, we would love to see the application of Exploratory Structural Equation Modeling (ESEM). It is simply an EFA being executed through SEM.
See the two papers below

[Marsh 2014 ESEM introduction.pdf](https://github.com/jasp-stats/jasp-issues/files/9821962/Marsh.2014.ESEM.introduction.pdf)

[Asparouhov Muthén 2009 ESEM

[2022-10-20 00:53] statsNERD23 opened #1865 "[Feature Request]: Make JASP and NVDA for Visually Impaired"
### Description

Please make JASP compatible with NVDA for people

### Purpose

Accessibility

### Use-case

_No response_

### Is your feature request related to a problem?

People with visual impairment cannot use JASP

### Describe the solution you would like

Make JASP compatible with with NVDA (a free screen reader)

### Describe alternatives that you have considered

other screen readers, li

[2022-10-20 06:55] juliuspf commented on #1639
It is a good suggestion. Would you mind moving this into a new issue though? otherwise it is hard to keep track of.

[2022-10-20 10:47] areeq1 commented on #1639
Very well!

[2022-10-20 10:49] areeq1 opened #1866 "[Feature Request]: Exploratory Structural Equation Modeling (ESEM)"
### Description

ESEM could be included

### Purpose

ESEM integrates the best of CFA and EFA in one analytical framework

### Use-case

_No response_

### Is your feature request related to a problem?

No

### Describe the solution you would like

_No response_

### Describe alternatives that you have considered

_No response_

### Additional context

Thank you for the quick and positive reply!
I

[2022-10-20 12:45] areeq1 opened #1867 "[Feature Request]: Include MLR estimator in the CFA and SEM"
### Description

Include MLR estimator in the CFA and SEM

### Purpose

MLR estimator is an alternative to ML estimator that assumes the normality of the data

### Use-case

_No response_

### Is your feature request related to a problem?

_No response_

### Describe the solution you would like

_No response_

### Describe alternatives that you have considered

_No response_

### Additional contex

[2022-10-20 13:02] Kucharssim commented on #1866
It seems to me that `lavaan` knows how to do this: https://lavaan.ugent.be/tutorial/efa.html

I just tried the example from the `lavaan` website in JASP and it does work: [esem.zip](https://github.com/jasp-stats/jasp-issues/files/9830251/esem.zip)

I am not familiar enough with this analysis, but it seems there are some additional options needed (like `rotation`) for better flexibility of the appr

[2022-10-20 17:43] areeq1 commented on #1866
Thank you for the quick answer, Kucharssim. I would like to provide my suggestion as a user. ESEM may be implemented in a sperate analysis. It could included in the EFA modul but users might not be aware of that possbility. But since ESEM takes EFA into the SEM domain, one can specifies regresson (same in the example you attached). In this way, it deseves a stand-alone analysis. The field is witne

[2022-10-21 08:05] juliuspf commented on #1866
From reading through the abstracts I also get the feeling this should be located in the SEM module with its own analysis. The issue I see with only adding extra options to the standard SEM is that some of these options only make sense when the specified syntax mirrors ESEM, for instance, rotations. In that case we would need to check the syntax before, or we would always throw an error... As its o

[2022-10-21 08:28] shun2wang commented on #1316
Now that all translations are hosted on [Weblate](https://hosted.weblate.org/projects/jasp/) and the author of this issue has contributed to the translations (@ko-ynu thanks for your efforts!).

So we can close it for now.

[2022-10-21 08:28] #1316 closed

[2022-10-21 12:37] shun2wang opened #1868 "JASP crashed when Start"
* JASP version: 0.16.4
* OS name and version: Windows 10 Version 2009

* Analysis:
* Bug description: JASP engine crashed when start.
* Expected behaviour:

#### Steps to reproduce:
1. Start JASP

[JASP 2022-10-21 20_31_51 Engine 0.log](https://github.com/jasp-stats/jasp-issues/files/9839005/JASP.2022-10-21.20_31_51.Engine.0.log)
[JASP 2022-10-21 20_31_51 Desktop.log](https://github.com/jasp-stats

[2022-10-21 21:13] areeq1 commented on #1866
Sorry for getting into this while being a user, not a developer. But I guess that the ESEM module can be very similar to the CFA module. So, the ESEM module could be created by duplicating the CFA and adding the ESEM options.
I think this could be helpful to simplify the situation.

[2022-10-22 12:40] LSLindeloo commented on #1866
I agree with @juliuspf and @areeq1 that a seperate analysis would be most appropriate. I am occupied with the power module at the moment, but after that I can start implementing ESEM!

[2022-10-24 11:53] DrMarkGS opened #1869 "JASP pre-installed version not portable"
### JASP Version

0.16.4

### Commit ID

_No response_

### JASP Module

_No response_

### What analysis are you seeing the problem on?

Loading modules

### What OS are you seeing the problem on?

Windows 10

### Bug Description

Hi folks
I downloaded the pre-installed version to my external USB drive so that I could use it in different lecture rooms.
When I first ran it I had a message to wait

[2022-10-24 12:11] hm-arch commented on #1484
Dear JMB Koch, When I compare the MLR output in R to Jasp this does not seem to be the case. Even though I select the ML and the robust in JASP the CFI is the same whereas in R it is different when I use the MLR estimator. Any advice you have would be great. Thanks

[2022-10-24 12:52] hm-arch commented on #1484
fOR EXAMPLE

lavaan 0.6-9 ended normally after 21 iterations

  Estimator                                               ML
  Optimization method                           NLMINB
  Number of model parameters                  25

  Number of observations                          1371

Model Test User Model:
                                               Standard              Robust
  Test Statistic

[2022-10-24 12:53] juliuspf commented on #1484
I think you are right. in `lavaan`, `MLR` does not only produce robust standard errors but also a robust test statistic. `se = robust` does only produce robust standard errors.

[2022-10-24 12:55] #1867 closed

[2022-10-24 13:01] LSLindeloo opened #1870 "[Feature Request]: Multidimensional Scaling Analysis (MDS)"
### Description

add MDS to the factor module

### Purpose

_No response_

### Use-case

_No response_

### Is your feature request related to a problem?

_No response_

### Describe the solution you would like

_No response_

### Describe alternatives that you have considered

_No response_

### Additional context

request via email

[2022-10-24 13:06] areeq1 commented on #1484
Excellent observation. We appreciate the effort to implement MLR (Not only for standard error of the estimates).

[2022-10-24 13:07] boutinb commented on #1845
This is planned for the next version which should be release in Januari.

[2022-10-24 13:07] JorisGoosen commented on #1869
@DrMarkGS is the the usb formatted to FAT?
Because that might be the problem, we need "junctions" and those are only supported on NTFS Im afraid...

You can try this and it should work fine.

However, Microsoft advises against using NTFS on usb-sticks because it might cause some extra wear and tear. Although for this use-case it shouldnt matter too much.

An other solution would be for us to make

[2022-10-24 13:09] hm-arch commented on #1484
Ah Great news, thank you for all the effort with the Program!

[2022-10-24 13:12] DrMarkGS commented on #1869
Hi Joris
The drive is NTFS formatted and previous versions of JASP have worked. I am about to try a nightly version.
***@***.***

From: Joris Goosen ***@***.***>
Sent: 24 October 2022 14:08
To: jasp-stats/jasp-issues ***@***.***>
Cc: Mark Goss-Sampson ***@***.***>; Mention ***@***.***>
Subject: [EXTERNAL] Re: [jasp-stats/jasp-issues] JASP pre-installed version not portable (Issue #1869)

<https://

[2022-10-24 13:16] DrMarkGS commented on #1869
Get well soon
Mark

From: Joris Goosen ***@***.***>
Sent: 24 October 2022 14:16
To: jasp-stats/jasp-issues ***@***.***>
Cc: Mark Goss-Sampson ***@***.***>; Mention ***@***.***>
Subject: [EXTERNAL] Re: [jasp-stats/jasp-issues] JASP pre-installed version not portable (Issue #1869)

This message originated from outside the University. Treat links and attachments with caution.
________________________

[2022-10-24 13:46] DrMarkGS commented on #1869
I have just tried a nightly version and unzipped it to the drive.  On starting JASP (same with the current version 16.4) I get this message. After about 5 mins JASP opens up and runs from the drive with no errors.  I have never seen this with previous pre-installed versions.  Is it possible to access the 16.0 version which previously did work?
***@***.***

From: Joris Goosen ***@***.***>
Sent: 24

[2022-10-24 13:55] JorisGoosen commented on #1869
Could you manually upload your screenshot at https://github.com/jasp-stats/jasp-issues/issues/1869 ?

Also you say:

and

If it works you don't need 0.16 anymore right?
However, it is available from here: https://jasp-stats.org/previous-versions/

[2022-10-24 13:58] DrMarkGS commented on #1869
![image](https://user-images.githubusercontent.com/39003008/197543480-3ba99732-da9e-4c19-89c7-455ca413042c.png)

[2022-10-24 14:08] DrMarkGS commented on #1869
No - it only works on the PC that the drive was plugged into when first running the pre installed version. I get the same error when running it on any other PC. I will try the older version now @JorisGoosen

[2022-10-24 14:11] DrMarkGS commented on #1869
@JorisGoosen - The last pre-installed version on the link you sent was for 14.1 - I will try it anyway.

[2022-10-24 14:20] JorisGoosen commented on #1869
Aah yeah indeed... @DanaJohanna could you add the zips to the previous versions page as well?

@DrMarkGS https://static.jasp-stats.org/JASP-0.16.1-64bit.zip or https://static.jasp-stats.org/JASP-0.16.0-64bit.zip should work

@DrMarkGS could you open a command prompt, navigate to the unpacked JASP 0.16.4 folder.
And then:
[code]

And then paste the output there?

It would be very helpful if you cou

[2022-10-24 14:29] DrMarkGS commented on #1869
D:\JASP-0.16.4-64bit\Modules\jaspDescriptives>DIR /AL
 Volume in drive D is Mark GS Toshiba external
 Volume Serial Number is 5E1D-055C

 Directory of D:\JASP-0.16.4-64bit\Modules\jaspDescriptives

06/10/2022  16:06    <JUNCTION>     abind [\??\D:\JASP-0.16.4-64bit\Modules\renv-cache\v5\abind\1.4-5\4f57884290cc75ab22f4af9e9d4ca862\abind]
06/10/2022  16:06    <JUNCTION>     askpass [\??\D:\JASP-0.1

[2022-10-24 20:14] Dazzizle opened #1871 "[Bug]: Linear Modeling terminates"
### JASP Version

0.16.4

### Commit ID

_No response_

### JASP Module

jaspVisualModeling

### What analysis are you seeing the problem on?

Linear modeling

### What OS are you seeing the problem on?

Windows 10

### Bug Description

This analysis terminated unexpectedly.

Error in UseMethod('.applyEnDeCoder', x): no applicable method for '.applyEnDeCoder' applied to an object of class 'charact

[2022-10-25 07:22] juliuspf commented on #1871
Hi @Dazzizle, thanks for reporting this. Is it possible that you upload a .jasp file or data file that causes the issue?

[2022-10-25 07:24] juliuspf commented on #1871
@dustinfif, do you know what is going wrong? Somehow GitHub doesnt allow me to assign you to the issue.

[2022-10-25 07:28] Dazzizle commented on #1871
Hi,

Thanks for answering. I cannot upload the original data file which is a jasp file. But the same issue appears if i use a csv file. I have created a random file with two variables, which i would use as dependent/independent in the linear modeling. Same thing happens with this one
[test.csv](https://github.com/jasp-stats/jasp-issues/files/9858044/test.csv)

[2022-10-25 07:38] juliuspf commented on #1871
Ah I see, that this is a duplicate of https://github.com/jasp-stats/jasp-issues/issues/1849. I will close this issue then, and you could subscribe to the other issue to see when it will be resolved. Thanks for reporting though!

[2022-10-25 07:38] #1871 closed

[2022-10-25 14:05] tomtomme commented on #1781
Status when trying to launch JASP from AUR / bioARCH since about a week:

[code]

[2022-10-25 14:08] tomtomme commented on #1491
From my perspective the linux versions are fine now in regard to compute column.

[2022-10-25 23:16] kthun91 commented on #1781
`Currently JASP does not launch.`
i tried to build it as singularity container via bioarch and got the same output as @tomtomme

[2022-10-26 01:32] sukanka commented on #1781
I can reproduce this, and can fix this by installing `qt6-shadertools`,
[code]

We will fix all of these errors and update it to the latest version when `r-4.2.2` is available.

[2022-10-26 06:36] tomtomme commented on #1781
Thx :) - can confirm this hotfix is working :D

[2022-10-26 07:09] juliuspf commented on #1491
So we can close this?

[2022-10-26 07:30] tomtomme commented on #1491
I guess so, since the OP does not respond.

[2022-10-26 08:11] #1491 closed

[2022-10-26 10:21] tomtomme commented on #1848
@DanaJohanna : Are you still active here on github and maintaining the web-page?

[2022-10-26 12:04] DanaJohanna commented on #1848
I just changed the contents of the website by deleting the 'October 2021 update'. I will close this issue now and issues regarding development of the app can be discussed in #1760. If there are any specifics regarding the rollapp (as it is) that should be mentioned on the website, please let me know.

[2022-10-26 12:04] #1848 closed

[2022-10-26 14:31] #1692 closed

[2022-10-27 08:44] DanaJohanna commented on #1869
I have just added the zip files to the [Previous Versions page](https://jasp-stats.org/previous-versions/).

[2022-10-27 09:32] DrMarkGS commented on #1869
Thanks very much.
M

From: DanaJohanna ***@***.***>
Sent: 27 October 2022 09:45
To: jasp-stats/jasp-issues ***@***.***>
Cc: Mark Goss-Sampson ***@***.***>; Mention ***@***.***>
Subject: [EXTERNAL] Re: [jasp-stats/jasp-issues] JASP pre-installed version not portable (Issue #1869)

This message originated from outside the University. Treat links and attachments with caution.
________________________

[2022-10-28 08:49] juliuspf commented on #1398
Dear @CRobinho, could you try if this issue is solved with the latest JASP version?

[2022-10-28 08:51] juliuspf commented on #1397
If this issue is indeed solved, would you mind closing this issue @JaumeLloria ?

[2022-10-28 08:54] juliuspf commented on #1396
I believe this should be fixed by now, if not feel free to reopen the issue.

[2022-10-28 08:54] #1396 closed

[2022-10-28 09:19] #1397 closed

[2022-10-28 09:37] juliuspf commented on #1379
is this feasible, @JorisGoosen ?

[2022-10-28 10:43] juliuspf commented on #1376
@GregBorghi can you confirm the issue is fixed, and subsequently close the issue?

[2022-10-28 10:45] juliuspf commented on #1372
Doe that solve your issue @jubera?

[2022-10-28 10:50] juliuspf commented on #1363
@Ankeetal could you upload the SPSS file here?

[2022-10-28 11:07] DrMarkGS commented on #1869
Hi folks
Jasp 14 is working as a standalone from my external drive on anyother PC. However the pre-installed 16.1 version still comes up with icon missing errors.  Here is the log from the PC it doesn't work on

F:\JASP16.1\Modules\jaspDescriptives>DIR /AL
 Volume in drive F is Mark GS Toshiba external
 Volume Serial Number is 5E1D-055C

 Directory of F:\JASP16.1\Modules\jaspDescriptives

24/10/20

[2022-10-28 11:17] TarandeepKang opened #1872 "[Feature Request]: Partial correlation networks/Gaussian graphical model"
### Description

Partial correlation networks/Gaussian graphical model

### Purpose

Examining relationships between variables and a predictor, when all others are controlled for

### Use-case

Situations in which there are a large number of pairs requiring other variables to be controlled for

### Is your feature request related to a problem?

Existing correlation options are not suitable when th

[2022-10-28 11:18] EJWagenmakers commented on #1362
We wanted to wait until we have data editing. We can revisit this issue immediately after we have our syntax release. Actually, maybe before that time some project members can look into this.

[2022-10-28 11:19] JorisGoosen commented on #1869
Aah I see the problem here.

On computer 1 the usb-drive is called "D:" and on the second "F:" and those paths include "D:"...

So for you now a workaround would be: On your first computer simply change the drive-letter of the usb-disk to "F:" before starting JASP the first time (as it creates those paths then).

Then later we can fix this properly by trying to make those links relative instead of

[2022-10-28 11:21] JorisGoosen commented on #1363
@Ankeetal could you post a screenshot here of the error?
And uploading the spss file would indeed be quite helpful.

Also (for my own administration) #606 should be taken into account when looking at this issue.

[2022-10-28 13:07] tomtomme opened #1873 "[Feature Request]: SNR instead of "Statistic""
### Description

The column called "Statistic" is meaningless because everything in JASP is a statistic

### Purpose

be more descriptive / comprehensible

### Use-case

teaching

### Is your feature request related to a problem?

teaching

### Describe the solution you would like

Please change this to something more understandable like Signal-to-Noise-Ratio (SNR).

### Describe alternatives that

[2022-10-28 13:12] tomtomme opened #1874 "[Feature Request]: Effect instead of "Location Difference""
### Description

The column called "Location difference" is inconsistent with the rest of the descriptions

### Purpose

be more descriptive / comprehensible

### Use-case

teaching

### Is your feature request related to a problem?

teaching

### Describe the solution you would like

Please change this to something more understandable and consistent like Effect

### Describe alternatives that you

[2022-10-28 18:53] PerPalmgren commented on #1627
I still think it would be of value if all all scatter plots (both in descriptive and correlation module) used the default that the variable inserted on the top (in the variable box) ALWAYS ended up on the Y-axis in the plots.

[2022-10-29 07:42] KubaQWERT opened #1875 "[Bug]: Engine crashes for every analysis"
### JASP Version

0.16.4

### Commit ID

_No response_

### JASP Module

_No response_

### What analysis are you seeing the problem on?

All modules

### What OS are you seeing the problem on?

Windows 11

### Bug Description

Jasp, regardless of the CSV file (large/small/very small/different) in every possible statistical module generates the error "The engine crashed while trying to run this an

[2022-10-30 04:29] Apra119 opened #1876 "[Feature Request]: Allow data to be read as panel data"
### Description

Panel Data

### Purpose

To allow students and researchers in Economics, Finance and Accounting as well others to implement Panel Data research on JASP

### Use-case

To analyse data for multiple firms and multiple years or multiple countries and multiple years

### Is your feature request related to a problem?

Panel data need to be defined prior the analysis in which it will giv

[2022-10-30 13:46] celzbz opened #1877 "[Feature Request]: See names when create graphs"
### Description

Can't see names at the bottom of graphs

### Purpose

Need to see names at the bottom of graphs

### Use-case

can't see name

### Is your feature request related to a problem?

Yes, I can't see the names when I create graph and need to answer questions that are based on the graph.

### Describe the solution you would like

When you scroll over the graph/bars you would be able to

[2022-10-30 15:40] izzy1991 opened #1878 "[Bug]: reliability error message with outdated version of JASP"
### Description

_No response_

### Purpose

_No response_

### Use-case

_No response_

### Is your feature request related to a problem?

I've received an error message whilst trying to conduct a confirmatory analysis with Chrons Alpha. It says this: The following problem(s) occurred while running the analysis: The variance-covariance matrix of the supplied data is not positive-definite. Please

[2022-10-30 15:46] izzy1991 commented on #1878
I may have a bug - I don't know - the error message keeps changing
<img width="565" alt="Screenshot 2022-10-30 at 15 22 48" src="https://user-images.githubusercontent.com/117028855/198887945-837ba2e5-17b8-4324-a888-50b502419463.png">

[2022-10-30 15:46] izzy1991 commented on #1878
another error message:
<img width="567" alt="Screenshot 2022-10-30 at 15 19 49" src="https://user-images.githubusercontent.com/117028855/198887968-1d0727d9-229d-41c6-9e9b-9ba23df13464.png">

[2022-10-31 10:42] juliuspf commented on #1872
@TarandeepKang, thanks for the request. Any idea how feasible this is @vandenman?

[2022-10-31 10:43] juliuspf commented on #1873
@tomtomme, thanks for the request. Let's have Don look at it.

[2022-10-31 10:44] juliuspf commented on #1874
@vandenman what do you think?

[2022-10-31 10:51] juliuspf commented on #1876
@Apra119, thanks for the request. Could you have a look how similar your request is to this one: https://github.com/jasp-stats/jasp-issues/issues/1382?

[2022-10-31 10:52] juliuspf commented on #1878
@izzy1991, thanks for the report. Could you try downloading the latest JASP version? The error should be fixed in that one.

[2022-10-31 10:54] juliuspf commented on #1878
I also think that this is a duplicate of https://github.com/jasp-stats/jasp-issues/issues/1122

[2022-10-31 10:56] juliuspf commented on #1878
If the error with the variance covariance matrix remains, you will need to fix your dataset somehow. IN that case you may upload it here. For now I will close this since it was fixed in later versions of JASP and is a duplicate of https://github.com/jasp-stats/jasp-issues/issues/1122

[2022-10-31 10:56] #1878 closed

[2022-10-31 10:57] juliuspf commented on #1877
Hi @celzbz, could you tell us a bit more about what you require? What analysis is this related to? Maybe you could bring more clarity with uploading a screenshot?

[2022-10-31 13:00] #1857 closed

[2022-10-31 14:44] wato-uy opened #1879 "[Bug]: JASP does not start in Mint 22"
### JASP Version

0.16.4

### Commit ID

_No response_

### JASP Module

_No response_

### What analysis are you seeing the problem on?

_No response_

### What OS are you seeing the problem on?

Linux Mint 22

### Bug Description

Hi!
I've been using JASP for a while without any problems but today I went to use it and it didn't start. I rebooted the laptop, nothing. I uninstalled and installed t

[2022-10-31 16:26] saxbcavica23 opened #1880 "JASP won´t stay open, opens and immediately closes[Bug]:"
### JASP Version

0.16.4

### Commit ID

_No response_

### JASP Module

_No response_

### What analysis are you seeing the problem on?

_No response_

### What OS are you seeing the problem on?

Windows 11

### Bug Description

JASP app opens and immediately closes, before I can do anything with the app, so I can´t find the logging files in JASP.

### Expected Behaviour

JASP should have stayed

[2022-10-31 16:52] juliuspf commented on #1879
HI @wato-uy thanks for reporting this, maybe @vandenman has an idea?

[2022-10-31 17:07] saxbcavica23 commented on #1880
Well, as JASP won´t stay open, I don´t know hot to do that

[2022-10-31 17:11] saxbcavica23 commented on #1880
'JASP' is not recognized as an internal or external command,
operable program or batch file.
This is what I find when I try to find the logs files.

[2022-10-31 17:16] ajrobi12 opened #1881 "[Bug]: Can't save trained model in random forest classification"
### JASP Version

0.16.3

### Commit ID

_No response_

### JASP Module

jaspMachineLearning

### What analysis are you seeing the problem on?

Random Forest Classifications

### What OS are you seeing the problem on?

Windows 10

### Bug Description

![image (25)](https://user-images.githubusercontent.com/116920778/199067419-86aa8c8c-61e2-4de0-a739-7502d0feb4df.png)

I'm trying to save my trained

[2022-10-31 18:10] Masharipov opened #1882 "[Feature Request]: Bayesian Credible Intervals given a specific prior"
### Description

For the Descriptives the JASP use a uniform prior. It would be great to get a table of credible intervals given a specific prior in the future JASP release.

### Purpose

1) To see how the posterior probability distribution changes depending on the prior.
2) To perform Bayesian parameter inference. In the JASP, Bayesian inference is perfomed using Bayes Factors.
An alternative way

[2022-10-31 18:11] Masharipov opened #1883 "[Feature Request]: Bayesian Credible Intervals given a specific prior"
### Description

For the Descriptives the JASP use a uniform prior. It would be great to get a table of credible intervals given a specific prior in the future JASP release.

### Purpose

1) To be able to see how the posterior probability distribution changes depending on the prior. 2)

### Use-case

All Bayesian t-tests

### Is your feature request related to a problem?

_No response_

### Descri

[2022-10-31 18:36] Masharipov opened #1884 "[Feature Request]: Highest density intervals"
### Description

Credible Interval may be specified as equal-tailed interval (ETI) or highest density interval (HDI). It would be great to add option to select berween ETI and HDI in the JASP descriptives in future releases.

### Purpose

1) For heavilty skewed disrtibutions, there is prominent difference between ETIs and HDIs. 2) To perform Bayesian parameter inference with the "HDI+ROPE" decisio

[2022-10-31 18:44] wato-uy commented on #1879
Hi,
I kept looking and was able to get JASP to start. Reading the error message
when trying to start it from the terminal, I saw that it had something to
do with the keyboard layout (something that had never happened to me before
because I always used the same layout: Latin American Spanish). The truth
is that when I switched to the default layout (Spanish) JASP started...
quack... Don't ask me wh

[2022-10-31 19:28] Masharipov opened #1885 "[Feature Request]: Calculate posterior probability of finding the effect whithin or outside the ROPE"
### Description

In the JASP, Bayesian inference is perfomed using Bayes Factors. An alternative way of Bayesian inference can be to consider the posterior probability distribution (aka Bayesian paramerer inference). Is would be great to get tables with posterior probabilites of finding the effect (a) inside the ROPE, (b) to the left of the ROPE and (c) to the right of the ROPE.

### Purpose

_No

[2022-11-01 01:59] Apra119 commented on #1876
@juliuspf, thank you for the reply. Yes, I have a look at #1382, and It is similar. However, If possible, I would like to request this feature of the structure of the data (Time series, cross-sectional and panel) can be determined when we open a new data. I apologize for any inconvenience due to the request.

[2022-11-01 07:06] shun2wang commented on #1880
@saxbcavica23 you can do this:
1. press "⊞ Win"+"R" to open the RUN window,
2. input `%appdata%/JASP` to open JASP folder in user path,
3. navigate to JASP/logs path and upload logs which include this crash info.

[2022-11-01 08:25] vandenman commented on #1874
The term `Location difference` is intentional as this column contains different values depending on the option selected, and because all values in this column are location parameters. The term `Mean difference` would be more appropriate for a t-test, and if that is the only test selected then jasp also shows `Mean difference`. Note that the footnote underneath the table is there to clarify any con

[2022-11-01 08:35] vandenman commented on #1879
No real idea what could cause this.

@JorisGoosen perhaps flatpak is missing some dependencies?

[2022-11-01 08:39] vandenman commented on #1872
While we used to support partial correlation networks, we removed these because the R package [parcor was removed from cran](https://cran.r-project.org/web/packages/parcor/index.html). However, the default estimator `EBICglasso` estimates a Lasso regularized partial correlation network. Do you necessarily need unregularized partial correlation networks?

[2022-11-01 09:40] leadzeppelin13 commented on #1879
I have the same issue but on Manjaro-KDE. I installed the JASP flatpak which did run before a few months ago. Yesterday I tried starting JASP after a long time and it doesn't run. Here is what I have on the terminal:

flatpak run org.jaspstats.JASP
Desktop:        QML cache directory: /home/pritam/.var/app/org.jaspstats.JASP/cache/JASP/JASP/qmlcache_62ac36111c6918e61763dbb4613c748ad82de8cb
Making

[2022-11-01 09:46] JorisGoosen commented on #1879
@wato-uy do you use X11 or wayland?

Or if you don't know what those mean, what is your desktop environment?

[2022-11-01 09:53] JorisGoosen commented on #1880
@saxbcavica23 are you behind a proxy btw?

And the logging folder will probably be empty if you didnt previously turn logging on.
If so you could start JASP in a command prompt as `JASP --logToFile` (You might have to run this from the folder where jasp is installed)

[2022-11-01 10:23] vandenman commented on #1873
"Statistic" is short for "Test statistic" (see https://en.wikipedia.org/wiki/Test_statistic). This column combines a t-value and a Z-value. The union of these we call a statistic. Sometimes these are referred to as t-statistic and z-statistic rather than t-value or z-value (see https://en.wikipedia.org/wiki/T-statistic).

Note that this is also mentioned in the helpfile:
![image](https://user-imag

[2022-11-01 12:04] wato-uy commented on #1879
Hi Joris.

I use Linux Mint 22 with Cinnamon desktop.

[2022-11-01 12:22] tomtomme commented on #1873
Yes, absolutely.
Because a mean is also called a "statistic". Or is this a difference between german and english? We germans at least would call a mean a statistic.
Help-File: Good to know its there. But I would prefer to see this in the GUI, to avoid confusion while teaching, where we usually do not look into help files - maybe I should change that...

[2022-11-01 12:26] tomtomme commented on #1874
Yes. From my point of view "Effect" is the better union-word.

[2022-11-01 12:35] JorisGoosen commented on #1879
Ah yes thanks @wato-uy and @leadzeppelin13 it seems that the keyboard mapping you both chose somehow cause a problem for flatpak...

`latam(mac_intl)` and `us(phonetic)`

So it seems that xcb configuration is a bit flaky (as is suggested by the comments in the link by @leadzeppelin13 above) and you might give a try to changing the configuration as described there. Perhaps it can be solved by chang

[2022-11-01 12:39] vandenman commented on #1874
Are you sure you're not confusing the location parameter with effect size? Also, I think it would be rather confusing if there is a column called `Effect` and another called `Effect size` and that those mean very different things.

[2022-11-01 12:47] wato-uy commented on #1879
Thanks Joris.
As I mentioned above, I had already found a way to get JASP to start, and that was by changing the keyboard layout (in my case, from Latin American Spanish to Spanish). By doing that JASP does start. Who knows what's going on, but it works.

[2022-11-01 13:01] JorisGoosen commented on #1879
Yeah very good that you found it because this is one of those annoying problems where strange settings+flatpak clash.
There are also sometimes problems if one of the locale environment vars is set strangely (`LC_*`) where we can't really do anything about it on our end...

Because JASP can't force a different keymap for everyone to avoid this problem...

[2022-11-01 13:28] AlexanderLyNL commented on #1873
The signal-to-noise ratio has a particular meaning in probability, theoretical statistic and signal processing, which is why in my opinion wouldn't work here.

[2022-11-01 13:30] AlexanderLyNL commented on #1874
We opted for location, because that's the standard terminology. Furthermore, it's more descriptive than effect, which is ambiguous especially with a column also named effect size as Don mentioned.

[2022-11-01 14:11] TarandeepKang commented on #1872
Sorry, I had been looking the correlation/regression module and not the network module. In the best possible way, the software has more features than I can keep up with! It does however look like partial correlation is still supported as an estimator within the network module? As of 0.16.4.

[2022-11-01 14:33] tomtomme commented on #1874
Interesting.

Many questions:
How are effect and effect size very different? They share the same base, thats all. But "effect size" is standardized and "effect" is not. I am 100% sure I do not confuse them. I do think they **should** be a bit ambigious, because they are very similar - that is my point of view at least.

At the same time: To me effect vs. effect size are not too ambigious, because

[2022-11-01 14:46] vandenman commented on #1872
@TarandeepKang Ah yes, you're right I'm confusing two options. `adalasso` (a method for adaptive lasso) was removed a while ago, not the partial correlation networks.

[2022-11-01 14:48] TarandeepKang commented on #1872
Thank you for your help, Don and Julius. Since this was a nonissue, I'll close it now.

[2022-11-01 14:48] #1872 closed

[2022-11-01 14:59] tomtomme commented on #1873
Interestin.
"Theoretical statistic" you say. What is a t F z Chi² value to you? For me it is a "theoretical statistic" applied onto a sample and they are directly connected to another theoretical statistic called p-value, that only exists (or has a meaning) in theory, if you repeat the experiment many many times in the same way.

Another consideration:
The term is more widely used on google schola

[2022-11-01 15:31] tomtomme commented on #1781
nice. The rebuild of 0.16.4 is here :)
But I cannot click anything within the analysis pane in the middle. Also the "arrow" buttons to quickly switch between results, analysis and data do not work. The 3 dots to move the panes work however.

[2022-11-01 16:15] saxbcavica23 commented on #1880
Yes, I have proxy given by my university.

Well I tried to open JASP using the command promt and this is all I got:

'JASP' is not recognized as an internal or external command,
operable program or batch file.

[2022-11-01 16:17] saxbcavica23 commented on #1880
Thank youu, but the same text appeared: 'JASP' is not recognized as an internal or external command,
operable program or batch file.
There were no log files available

[2022-11-01 16:18] sukanka commented on #1781
Confirmed. I have the same issue, the middle part (Descriptive statistics) is not clickable
![image](https://user-images.githubusercontent.com/31362108/199282510-70f0aa53-98ca-44bc-a76f-5ca49724bc7a.png)

Unfortunately, I do not know how to fix this, maybe it's related to Qt.

Below is a relevant log run in the terminal.
[code]

[2022-11-01 16:30] JorisGoosen commented on #1880
If you turn off your internet for a bit, can you then start JASP succesfully?

[2022-11-01 16:49] saxbcavica23 commented on #1880
Hi, yes, when I openned it without my internet, it functioned, only it showed this
![Snímka obrazovky 2022-11-01 174728](https://user-images.githubusercontent.com/117094825/199290006-0745701a-769d-4464-b5e3-18a91782f142.jpg)

[2022-11-01 16:49] saxbcavica23 commented on #1880
and this
![Snímka obrazovky 2022-11-01 174741](https://user-images.githubusercontent.com/117094825/199290105-accf0b0b-7ab0-4a88-93d1-6728963692c7.jpg)

[2022-11-01 17:33] JorisGoosen commented on #1880
Well im sorry about this bug and there is an issue for this at #1773

Dont worry about those messageboxes.
Ill make sure to fix it in the next version

[2022-11-01 17:56] saxbcavica23 commented on #1880
So I can continue using JASP, only I have to open it without internet connection for now?

[2022-11-01 19:16] JorisGoosen commented on #1880
Im afraid so, sorry for the inconvenience

[2022-11-02 09:52] tomtomme commented on #1874
It just came to me - the "perfect" argument ;)

drumroll...

Effect and effect size are like
banana and banana-split.
You would not call banana a crooked fruit to make it more distinguishable from a banana split - would you?
:dancers:

[2022-11-02 10:09] juliuspf commented on #1881
Hi @ajrobi12, thanks for reporting this. I will ask one of the maintainers to have a look. Just to clarify, the issue persists with version 0.16.4?

[2022-11-02 10:15] juliuspf commented on #1883
Hi @Masharipov, thanks for the request. This seems reasonable to me. How feasible is it @vandenman?

[2022-11-02 10:19] juliuspf commented on #1885
@Masharipov, thanks for the request. It is indeed better for the programmers to have single issues with single requests. Same as before, I will assign the maintainer!

[2022-11-02 10:20] juliuspf commented on #1884
and thanks again @Masharipov!

[2022-11-02 10:21] juliuspf commented on #1876
No need to apologize. I will adjust the title and contemplate whose expertise this falls under

[2022-11-02 10:31] Masharipov commented on #1885
@juliuspf, thank you! Sorry for creating two requests with similar titles. Can you please also see this one: https://github.com/jasp-stats/jasp-issues/issues/1882

[2022-11-02 10:39] juliuspf commented on #1873
@tomtomme your enthusiasm is definitely not going unnoticed ;) I think your last point is spot on. I went through the whole psychology bachelor and master cycle, and taught the practical statistics course. And we have always just called this the statistic or test statistics of the t-test. This might be my forgetfulness, but we never learned the term SNR as the interpretation. That is not to say, t

[2022-11-02 10:45] EJWagenmakers commented on #1874
I am afraid that if we change this, we will get many comments asking us why it was changed, what the difference is, etc....so I would want strong evidence that this is a substantial improvement before we make any change.

[2022-11-02 10:49] EJWagenmakers commented on #1885
Is this what we provide in the module "Equivalence t-tests"?

[2022-11-02 11:00] tomtomme commented on #1873
Fine with me :D
Sometimes I forget that I am an outsider with unconventional views more common in environmental sciences. Feel free to close this, too.

[2022-11-02 11:05] juliuspf commented on #1873
Having diverging views of non-psychologists is a good thing. And these discussions keep us at our toes and reevaluate our past choices. And it all comes from a good place: trying to make the program more appealing to users :)

[2022-11-02 11:05] #1873 closed

[2022-11-02 11:21] Masharipov commented on #1885
@EJWagenmakers Yes, the module "Equivalence t-tests" is very useful and gives almost all the necessary information.

As far as I understand, this module reports PostProb inside the ROPE and outside the ROPE.
It would be great to additionaly add PostProb to the left and to the right of the ROPE (to look for positive and negative effects separately). It would be also convinient to additionaly conver

[2022-11-02 11:38] shun2wang commented on #1852
I can not reproduce it now on same PC...very strangely.

[2022-11-02 11:38] #1852 closed

[2022-11-02 13:59] ajrobi12 commented on #1881
Hi @juliuspf - that's correct, the issue does still persist with 0.16.4. thanks for looking into it!

[2022-11-02 14:08] vandenman commented on #1781
@sukanka can you try cherry-picking https://github.com/jasp-stats/jasp-desktop/commit/f2956103f0f0898ad41fc39c625948791056f3b1 after checking out the 0.16.4 tag?

Jasp 0.16.4 was built with Qt 6.3.1 and since then there was an update in Qt 6.4.0 that caused exactly this issue. It has already been fixed in the linked commit. The danger of always being up to date I guess :sweat_smile:

[2022-11-02 15:19] sukanka commented on #1781
Thanks for your comment! This commit solves the issue. But I'm not familiar with `cherry-pick`, I don't know how to resolve conflicts between two commits.

So I  simply use this diff ([v0.16.4..f2956103](https://github.com/jasp-stats/jasp-desktop/compare/v0.16.4..f2956103.diff)) as a patch.
And the newly built binary runs fine on my machine.

[2022-11-02 15:44] kthun91 commented on #1781
Now the GUI seems to work in my bioarch based singularity container as well.

Somehow that's the only way it works so far.

[2022-11-03 01:59] Apra119 commented on #1876
Thank you for your kind attention

[2022-11-03 03:16] NinaBotanical opened #1886 "[Bug]: Error in UseMethod('.applyEnDeCoder', x): no applicable method for '.applyEnDeCoder' applied to an object of class 'character' Stack trace"
### JASP Version

0.16.4

### Commit ID

_No response_

### JASP Module

jaspTTests

### What analysis are you seeing the problem on?

_No response_

### What OS are you seeing the problem on?

windows 10

### Bug Description

![JASP](https://user-images.githubusercontent.com/117329869/199640692-ce4b77f8-62c0-4e80-819f-332d4cdf5828.jpg)

[avengers.csv](https://github.com/jasp-stats/jasp-issues/fil

[2022-11-03 08:57] Kucharssim commented on #1886
Dear @NinaBotanical ,

thank you for the report. It is indeed a bug, and was already reported here: https://github.com/jasp-stats/jasp-issues/issues/1849. Please follow that issue to check new developments.

[2022-11-03 08:57] #1886 closed

[2022-11-03 18:11] jlwoodard opened #1887 "[Feature Request]: Specify non-zero null hypothesis in t test module"
### Description

The alternate hypothesis choices for the paired and independent groups situations in the t test module seem to imply a null hypothesis of 0. Some studies may hypothesize that a pre-post difference of at least 5 or more is hypothesized, for example. I see no way to specify this a priori null hypothesis mu

### Purpose

To permit the user to specify a non-zero mu (test value) for th

[2022-11-04 10:58] juliuspf commented on #1887
@jlwoodard, thanks for the request.

[2022-11-04 12:28] FBartos commented on #1358
@juliuspf  not sure it makes sense assigning this to me -- I have too much on my plate already

[2022-11-04 12:54] juliuspf commented on #1358
I thought you had a good appetite :) but fair enough

[2022-11-04 13:00] juliuspf commented on #1352
I think this can be closed, since the plot editing functionality solves this issue, and the need for the scientific notation will not change.

[2022-11-04 13:00] #1352 closed

[2022-11-04 13:45] juliuspf commented on #1335
@alegra07, I trust that this issue has been solved? If not feel free to reopen this!

[2022-11-04 13:45] #1335 closed

[2022-11-04 23:52] areeq1 commented on #1866
I'm sorry if this bothers you, but I have requested adding extra fit indices in the EFA (besides the current request of ESEM). So, is there an estimation of when the new version comes with this feature? Well, it would be better to have ESEM as well in the update, but at least we get more fit indices in the EFA.
Cheers!

[2022-11-05 22:09] wilmo79 opened #1888 "[Feature Request]: Snowflake Database ODBC Login"
### Description

Connect to Snowflake Warehouse via ODBC

### Purpose

Load data stored in Snowflake databases

### Use-case

_No response_

### Is your feature request related to a problem?

_No response_

### Describe the solution you would like

_No response_

### Describe alternatives that you have considered

_No response_

### Additional context

I have successfully connected via 2 methods.

[2022-11-07 09:21] juliuspf commented on #1349
I will close this. @daamartins if you have any more questions please do not hesitate to ask.

[2022-11-07 09:21] #1349 closed

[2022-11-07 09:44] juliuspf commented on #1866
The fit indices will be in the next release. When that will be is somewhat uncertain, early next year probably. If you want to check out the fit indices in beta software, you can download the latest stable nightly https://static.jasp-stats.org/Nightlies/. This is beta software though, so be careful

[2022-11-07 12:06] areeq1 commented on #1866
Great. Thanks!

[2022-11-07 15:52] JorisGoosen commented on #1888
If I understand correctly you intend this as a request for adding information to the documentation @wilmo79  ?

[2022-11-07 16:13] JorisGoosen commented on #1868
Does it keep crashing or was this only once?

[2022-11-07 20:21] bartle34 opened #1889 "[Bug]: Visual Modeling-Linear modeling failed"
### JASP Version

0.16.4

### Commit ID

_No response_

### JASP Module

Visual Modeling

### What analysis are you seeing the problem on?

_No response_

### What OS are you seeing the problem on?

Windows 10

### Bug Description

When trying to perform visual modeling.
![14C91466-AC54-4579-A677-1E537B3A5B71](https://user-images.githubusercontent.com/117683794/200407028-72ce73a1-8398-4b3f-b63a-fc

[2022-11-07 21:30] JorisGoosen commented on #1888
This is most definitely something I was looking for :)

It's just that the title seems to point to a feature request for something you figured out how to do yourself.
But awesome!

Ill add it to the documentation and Ill also change the title slightly.

[2022-11-07 21:57] wilmo79 commented on #1888
Awesome @JorisGoosen , your title is better :-)

[2022-11-08 00:09] EJWagenmakers opened #1890 "[Bug]: Distributions -> Logistic -> red rectangle around tab"
### JASP Version

0.16.4

### Commit ID

_No response_

### JASP Module

Distributions

### What analysis are you seeing the problem on?

Logistic

### What OS are you seeing the problem on?

Windows 11

### Bug Description

![image](https://user-images.githubusercontent.com/8603015/200442095-8bdb7d60-ec55-43e7-a124-aab0d51be3c7.png)

### Expected Behaviour

No red rectangle should appear

### Ste

[2022-11-08 00:12] EJWagenmakers opened #1891 "[Feature Request]: All input fields should allow formulas"
### Description

All input fields should at least allow, say "1/3" as input, to prevent the user from having to enter 0.33333 and the result still being only approximate. Now only some input fields allow this. I don't know why.

### Purpose

_No response_

### Use-case

_No response_

### Is your feature request related to a problem?

I want to add 1/3 in an input field

### Is your feature reques

[2022-11-08 01:27] shun2wang commented on #1890
I think it may related to https://github.com/jasp-stats/INTERNAL-jasp/issues/2135 and fixed in https://github.com/jasp-stats/jaspDistributions/pull/79

[2022-11-08 01:39] shun2wang commented on #1868
Unfortunately (or should say fortunately😜 ? )this only happened only once. I have tried to reproduce without success, but I suspect it may be related to https://github.com/jasp-stats/jasp-issues/issues/1880, because I saw this popup.

[2022-11-08 03:00] lg123cat opened #1892 "[Bug]: This analysis terminated unexpectedly."
### JASP Version

0.16.4

### Commit ID

_No response_

### JASP Module

Visual Modeling

### What analysis are you seeing the problem on?

Linear Modeling

### What OS are you seeing the problem on?

macOS Silicon

### Bug Description

![Image 11-7-22 at 9 58 PM](https://user-images.githubusercontent.com/117701320/200464550-2573901b-b72a-4cd2-b438-329a405a7183.jpg)

### Expected Behaviour

I shou

[2022-11-08 03:09] shun2wang commented on #1892
@lg123cat thank you for the report. It was already reported here: https://github.com/jasp-stats/jasp-issues/issues/1849 and fixed in Next release.

[2022-11-08 03:09] #1892 closed

[2022-11-08 03:13] shun2wang commented on #1889
@bartle34 thank you for the report. It was already reported here: https://github.com/jasp-stats/jasp-issues/issues/1849 and fixed in Next release. following pined issue to learn more about progress.

[2022-11-08 03:13] #1889 closed

[2022-11-08 06:16] BX305 opened #1893 "[Bug]: This analysis terminated unexpectedly."
### JASP Version

0.16.4

### Commit ID

_No response_

### JASP Module

Quality Control

### What analysis are you seeing the problem on?

Design analysis

### What OS are you seeing the problem on?

Windows 10

### Bug Description

This analysis terminated unexpectedly.
<html>
<body>
<div id="id-0" class="jasp-analysis" style="color: silver; font-family: Arial, sans-serif, freesans, &quot;Segoe

[2022-11-08 09:44] boutinb commented on #1890
Yes this is already solved. You can test it in the last nightly

[2022-11-08 09:44] #1890 closed

[2022-11-08 13:29] lklende commented on #260
I experience that exporting to pdf, unlike export to html, only export the very first result. Would be nice if you could fix this issue, so that all the reults on the reult page were included in the pdf file.

[2022-11-08 13:52] juliuspf commented on #1319
I think most of the issue from the EFA list are fixed. @LSLindeloo, what do you think about the CFA/SEM things. They seem reasonable, but maybe they should be moved to separate issues?

[2022-11-08 13:56] juliuspf commented on #1317
@Sherlyally, I apologize for getting back to you so late, probably too late. It might be that the items of your test are coded in opposite directions if you have positive and negative statements. In any case, the error message points to a problem with the data not with JASP. In newer versions of JASP, you will be able to at least estimate coefficient alpha for that data set. I will close this for

[2022-11-08 13:56] #1317 closed

[2022-11-08 14:13] juliuspf commented on #1299
@dmurphy8, from what I make of this, the issue is fixed in a recent JASP version? Can you confirm this?

[2022-11-08 14:20] juliuspf commented on #1287
@aimeewardle, sorry for the late reply. I will close this issue as it is fixed in the newest JASP version. Feel free to reopen it if necessary.

[2022-11-08 14:20] #1287 closed

[2022-11-08 14:28] juliuspf commented on #1272
I will close this as it is a duplicate of https://github.com/jasp-stats/jasp-issues/issues/1277

[2022-11-08 14:28] #1272 closed

[2022-11-08 14:36] juliuspf commented on #1267
@JorisGoosen, is this something up your alley?

[2022-11-08 14:54] #1814 closed

[2022-11-08 15:00] Kucharssim commented on #1814
Dear @rehoyt,

thank you, we really appreciate that! We just fixed the issue, so it should not be a problem in the next JASP version. Please reopen this issue in case the problem persists then as well.

[2022-11-08 16:24] dmurphy8 commented on #1299
No, I don’t see an option for it. How would I do it?

[2022-11-08 16:46] dustinfife commented on #1327
[This commit](https://github.com/dustinfife/flexplot/commit/fa48ba67dc02590d89abb3a0ead2bbcfadec91a5) fixes this problem.

[2022-11-08 19:59] tomtomme commented on #1567
This is resolved afaik. Stable Flatpak 0.16.3 and 0.16.4 worked nicely on manjaro

[2022-11-08 20:39] ag2522 opened #1895 "[Bug]:"
### JASP Version

0.16.4

### Commit ID

_No response_

### JASP Module

Visual Modeling

### What analysis are you seeing the problem on?

Linear Modeling

### What OS are you seeing the problem on?

macOS Intel

### Bug Description

Was dragging my independent variable over and this message popped up: This analysis terminated unexpectedly.

Error in UseMethod('.applyEnDeCoder', x): no applicable

[2022-11-09 08:42] juliuspf commented on #1567
Let's close it then. @Dmente92 feel free to reopen the issue if needed.

[2022-11-09 08:42] #1567 closed

[2022-11-09 08:47] juliuspf commented on #1322
@kylebarrentine, thanks for the request. As @boutinb already pointed out, there is a JASP version coming up that allows to display and copy all R code associated with an analysis, so it can be replicated inside R. I hope that solves your issue.

[2022-11-09 09:05] juliuspf commented on #1895
I suppose this is a duplicate of https://github.com/jasp-stats/jasp-issues/issues/1849, and can be tracked there.

[2022-11-09 09:05] #1895 closed

[2022-11-09 09:51] juliuspf commented on #1299
If you go to Post-hoc tests there is a box for confidence interval. Does that help?
![Screenshot 2022-11-09 at 10 50 42](https://user-images.githubusercontent.com/38500953/200798044-c6d4f833-c779-436d-9db7-be1f8712434d.png)

[2022-11-09 09:53] juliuspf commented on #1303
Due to some tricky wording this wasn't closed through https://github.com/jasp-stats/jaspAnova/pull/90, but it should have been

[2022-11-09 09:53] #1303 closed

[2022-11-09 09:53] juliuspf commented on #949
Due to some tricky wording this wasn't closed through https://github.com/jasp-stats/jaspAnova/pull/90, but it should have been

[2022-11-09 09:53] #949 closed

[2022-11-09 09:53] juliuspf commented on #810
Due to some tricky wording this wasn't closed through https://github.com/jasp-stats/jaspAnova/pull/90, but it should have been

[2022-11-09 09:53] #810 closed

[2022-11-09 09:53] juliuspf commented on #531
Due to some tricky wording this wasn't closed through https://github.com/jasp-stats/jaspAnova/pull/90, but it should have been

[2022-11-09 09:53] #531 closed

[2022-11-09 09:55] juliuspf commented on #1299
This issue was fixed by https://github.com/jasp-stats/jaspAnova/pull/90.

[2022-11-09 10:03] KatrinRothmaler opened #1896 "[Feature Request]: Bayesian Wilcoxon signed-rank Sequential Analysis or R code"
### Description

When using the Bayesian Wilcoxon signed-rank test in JASP, it is not possible to plot a sequential analysis. This is particularly unfortunate because there is - to the best of my knowledge - no implementation of the Bayesian Wilcoxon signed-rank test in R (the only one I found is still in progress). Thus, it is also not possible to generate such a plot in R.

### Purpose

Show how

[2022-11-09 10:43] Kucharssim commented on #1322
Re-reading this request, I am not sure whether the upcoming R syntax mode really solves the current issue; it appears to me that @kylebarrentine asks us to save the objects that were created in the "R in JASP" window. This is unrelated to the R syntax though, isn't it?

[2022-11-09 10:44] AnguloB opened #1897 "[Bug]: R console does not implement lag from stats package"
### JASP Version

0.16.1

### Commit ID

_No response_

### JASP Module

Other Module

### What analysis are you seeing the problem on?

lag in Rconsole

### What OS are you seeing the problem on?

macOS Intel

### Bug Description

As part of an undergraduate course at my university, we have developed some materials to solve an example in psychometrics with a database.

As part of this exercise we

[2022-11-09 10:51] JorisGoosen commented on #260
@lklende thanks for the feedback, but this issue is actually for "implementing pdf export", which I did quite a while ago. So this issue will be closed and shouldve been.

Could you make a separate issue for your problem because I dont think Ive heard about this problem before.

[2022-11-09 10:51] #260 closed

[2022-11-09 10:55] JorisGoosen commented on #1267
Well as @JohnnyDoorn mentioned in his comment, this is related to [this issue about long <> wide transform](https://github.com/jasp-stats/jasp-issues/issues/33) and it certainly is up my alley. But progress for that (which has been lacking as we have been implementing other stuff before) will be tracked there.

This sounds more like @JohnnyDoorn s thing

[2022-11-09 11:02] juliuspf commented on #1322
Ah. Now I get it. That is indeed unrelated. But is that something we will implement?

[2022-11-09 11:16] Kucharssim commented on #1322
Perhaps @JorisGoosen can give an opinion?

[2022-11-09 12:36] juliuspf commented on #1277
@moonlitpath66 is this issue still valid with the latest version?

[2022-11-09 13:50] AnguloB commented on #1897
I was sure when I wrote it but clearly I was not using the "stats" one.  Thank you very much for your quick reply and sorry for the inconvenience.

[2022-11-09 13:52] Kucharssim commented on #1897
I am glad that it helped! I am closing this issue now.

[2022-11-09 13:52] #1897 closed

[2022-11-09 14:03] #1277 closed

[2022-11-09 14:40] dmurphy8 commented on #1299
Yes, that’s great! But you still can’t do it for the main effects or interaction effect sizes.

[2022-11-09 14:47] juliuspf commented on #1299
@JohnnyDoorn?

[2022-11-09 15:03] LSLindeloo commented on #1319
@juliuspf Yes, they sure seem reasonable. I can work on these issues tomorrow! @Kucharssim, do you prefer separate issues?

[2022-11-09 15:23] JohnnyDoorn commented on #1299
Hi @dmurphy8 ,

Do you mean confidence intervals for the omega/eta effect sizes in the main ANOVA table?

Cheers
Johnny

[2022-11-09 15:43] dmurphy8 commented on #1299
Yes!

[2022-11-09 16:08] ag2522 commented on #1895
Hi, attached is a screenshot of the message I receive when trying to drag
my dependent variable into the dependent variable box on linear modeling.

On Wed, Nov 9, 2022 at 4:06 AM Julius Pfadt ***@***.***>
wrote:

[2022-11-09 16:34] ag2522 commented on #1895
Yes It does, it but the error says:
This analysis terminated unexpectedly.

Error in `$<-.data.frame`(`*tmp*`, 'model', value =
structure(list(coefficients = c(`(Intercept)` = 130.000495867769), :
replacement has 11 rows, data has 1

Stack trace

To receive assistance with this problem, please report the message above
at: https://jasp-stats.org/bug-reports

On Wed, Nov 9, 2022 at 11:29 AM Julius P

[2022-11-09 16:38] juliuspf commented on #1895
Which seems like the same error reported here: https://github.com/jasp-stats/jasp-issues/issues/1849. If you dont mind, you could just follow the updates there, to see how the fix for this progresses.

[2022-11-09 16:45] ag2522 commented on #1895
Thank you. I just looked at it and did not see a fix, and if there was one
I did not understand. Can you clarify if there is a fix for this issue yet?

On Wed, Nov 9, 2022 at 11:38 AM Julius Pfadt ***@***.***>
wrote:

[2022-11-09 16:47] juliuspf commented on #1849
@dustinfife, can you answer this question: https://github.com/jasp-stats/jasp-issues/issues/1895#issuecomment-1309041565

[2022-11-09 17:01] dustinfife commented on #1849
This has been fixed on my end. I think the nightlies implement this fix as well (is that right @boutinb ?)

[2022-11-09 17:28] hynekcigler commented on #1319
Dear all, if you appreciate some beta-testing or any other help, I would be pleased :)

[2022-11-09 21:28] dbeman-student opened #1898 "[Bug]: "The engine crashed while trying to run this analysis" Windows 10"
### JASP Version

0.16.4

### Commit ID

_No response_

### JASP Module

ANOVA, Descriptives, Factor, Frequencies, Mixed Models, Regression, T-Tests

### What analysis are you seeing the problem on?

All of them

### What OS are you seeing the problem on?

Windows 10

### Bug Description

Getting error message "The engine crashed while trying to run this analysis.." no matter what module I attempt

[2022-11-09 23:56] B-r-w-n opened #1899 "[Bug]:"
### JASP Version

0.16.4

### Commit ID

_No response_

### JASP Module

Visual Modeling

### What analysis are you seeing the problem on?

Linear Modeling

### What OS are you seeing the problem on?

Windows 11

### Bug Description

![Screenshot 2022-11-09 183609](https://user-images.githubusercontent.com/117870538/200964989-fefa7de5-cbcb-4084-b319-632628571391.png)
When I enter in the dependent

[2022-11-10 09:22] juliuspf commented on #1899
@B-r-w-n thanks for reporting this. It is another duplicate of https://github.com/jasp-stats/jasp-issues/issues/1849, and there is already a solution implemented in the nightly builds that will be included in the next release version.

[2022-11-10 09:22] #1899 closed

[2022-11-10 13:18] ASarafoglou opened #1900 "[Bug]: Editing Plot (changing axes ranges) not possible"
### JASP Version

0.16.4

### Commit ID

_No response_

### JASP Module

JAGS

### What analysis are you seeing the problem on?

JAGS analysis

### What OS are you seeing the problem on?

macOS Silicon

### Bug Description

This is specific to one of my jasp files. I want to adjust the plots of the posterior distributions from 4 parameters in the .jasp model and JASP either crashes or gives me an

[2022-11-10 14:43] boutinb commented on #1849
The Visual Modeling module should take automatically the last version of the flexplot package. So it should be available in the Nightly version: https://static.jasp-stats.org/Nightlies/ . WARNING: This version is in development! But should be good enough to check whether the issue is fixed.
Reopen this issue, if it is not.

[2022-11-10 14:43] #1849 closed

[2022-11-10 16:21] juliuspf commented on #1243
This is very much related to our discussion about displaying warnings from R to the user: https://github.com/jasp-stats/INTERNAL-jasp/issues/2138

[2022-11-10 16:27] juliuspf commented on #1233
@psychdata do you view this issue as solved then?

[2022-11-10 16:38] juliuspf commented on #1723
Duplicate of https://github.com/jasp-stats/jasp-issues/issues/1564

[2022-11-12 03:34] alevargas16 opened #1902 "[Bug]: Error in .extractErrorMessage(e): length(error) = 1 is not TRUE"
### JASP Version

0.16.4

### Commit ID

_No response_

### JASP Module

Network

### What analysis are you seeing the problem on?

Network Analysis

### What OS are you seeing the problem on?

macOS Silicon

### Bug Description

Hello, I was running a data table and this message appeared:

This analysis terminated unexpectedly.

Error in .extractErrorMessage(e): length(error) = 1 is not TRUE

Sta

[2022-11-12 08:27] juliuspf commented on #1902
@alevargas16, thanks for taking the time to create this issue. If possible (and applicable), please upload to the issue website (https://github.com/jasp-stats/jasp-issues/issues/1902) a screenshot showcasing the problem, and/or a compressed (zipped) .jasp file or the data file that causes the issue. If you would prefer not to make your data publicly available, you can send your file(s) directly to

[2022-11-12 14:56] alevargas16 commented on #1902
Hello
Thanks for the response. Here is the compressed file and the screenshot of
the issue.
Please your urgent help,
Thank you.

Alexandra Vargas

[image: Captura de pantalla 2022-11-12 a la(s) 09.54.21.png]

El sáb, 12 nov 2022 a las 3:27, Julius Pfadt ***@***.***>)
escribió:

--
Alexandra Vargas Mangini
Universidad ESAN
Código 07100321
Ingeniería de Tecnologías de Informació y Sistemas
Miembro d

[2022-11-13 21:35] joydanielle92 opened #1903 "[Bug]:"
### JASP Version

Others

### Commit ID

_No response_

### JASP Module

Unrelated

### What analysis are you seeing the problem on?

_No response_

### What OS are you seeing the problem on?

ChromeOS

### Bug Description

I have not been able to get JASP to upload files save on my computers. I have a chromebook and a windows 7. JASP worked the first day I tried it. I created an excel on my chrom

[2022-11-13 21:37] joydanielle92 commented on #1903
I need JASP to do my stats course at TSU. My professor has not been helpful at offering problem resolutions or alternatives. She will fail me in this class if I don’t get it fix. I cannot afford to buy a third laptop for this class. Please help me.

[2022-11-14 02:43] hcp4715 commented on #1652
hi, @AlexanderLyNL,

Thanks for your reply. I am still a bit confused about the calculation of BF for the multinomial test.

The reference you provided, https://psyarxiv.com/bux7p/, is using sampling method, but in the script, this method is not used. Instead, the analytical method is used.

[code]

Also, I am quite confused about this algorithm (maybe I am wrong). I checked many online resources

[2022-11-14 08:19] juliuspf commented on #1902
I forwarded your email to @vandenman, he may be able to look into it!

[2022-11-14 09:07] boutinb commented on #1903
@joydanielle92 First of all, Windows 7 is not supported by JASP or by Microsoft either. So you should really upgrade your Windows version.
To help you, we need anyway more precise information: which JASP version you use, which version of Chromebook? What did you do exactly? You have saved a csv file on your Windows laptop and on your Chromebook? You said it was working the first time, but after no

[2022-11-14 09:25] AlexanderLyNL commented on #1652
Hi Chuan-Peng,

The reference provides two parts. The first part is concerend with the comparison as in JASP, whereas the second part is concerned with order restrictions. The first part is solved analytically as in JASP.

Regarding the computations, the Dirichlet distribution has a Dirichlet function as normalising constant. This is the same as a multivariable beta function, see https://en.wikipe

[2022-11-14 09:35] AlexanderLyNL commented on #1210
What SPSS provides seems to be a [prediction interval](https://en.wikipedia.org/wiki/Prediction_interval) at the estimate. This does not correspond to a test, and would break the duality between confidence intervals and hypothesis tests as described by Bickel and Doksum (2015) Section 4.5, or Casella and Berger (2002) Section 9.2.1. As such the confidence interval of a parameter doesn't change if

[2022-11-14 16:45] DarrenRhodes opened #1904 "[Bug]: Installation on Windows"
### JASP Version

0.16.4

### Commit ID

_No response_

### JASP Module

Unrelated

### What analysis are you seeing the problem on?

None

### What OS are you seeing the problem on?

Windows 11

### Bug Description

Hi! I didn’t know where to put this - but thought I would try here.

the story in a nutshell is… I am trying to get my university (Nottingham Trent) to install on our software hub, su

[2022-11-14 16:45] DarrenRhodes commented on #1904
This is what it wants…
![33D18F8E-4C2D-467B-97F6-C7C0C6137EE2](https://user-images.githubusercontent.com/37701728/201717020-4a05c771-821b-4c60-85ee-8ee2aefc891e.png)

[2022-11-14 19:42] JorisGoosen commented on #1904
Hello @DarrenRhodes

yeah this happens due to an unfortunate set of circumstances:
- JASP runs the interface in OpenGL, which is also used by games. So windows wants to load the gamebar (this is built into windows, not something we have control over)
- Some it-departments however decide not to install it (or it might not be part of perhaps the education version of windows or something). This can b

[2022-11-15 07:48] PerPalmgren commented on #1844
Thank you this was very helpful :-)

[2022-11-15 07:50] PerPalmgren commented on #1576
This still seems to be a problem in 0.16.4
![Namnlös](https://user-images.githubusercontent.com/79397662/201860349-74412d35-607b-4f8d-a24a-7a1026905cc6.png)

[2022-11-15 08:04] PerPalmgren opened #1905 "[Feature Request]: Effect size for Kruskall Wallis and Dunns test (post hoc)"
### Description

It would be great if JASP could produce a measure of effect size when running a Kruskal-Wallis test. This is possible in a R  package (se below). It would also be nice if the follow up post hoc test (Dunn´s test) could prduce a effect size,

### Purpose

_No response_

### Use-case

_No response_

### Is your feature request related to a problem?

Not a problem per see but it is n

[2022-11-15 08:20] shun2wang commented on #1576
@PerPalmgren Could you try check/uncheck "use Qt's textrendering" option on/off?

I can reproduce it when use native textrendering but Qt is OK.

[2022-11-15 08:25] PerPalmgren commented on #1576
Yes, then it works👍! What does this do?

Per J. Palmgren | DC, FRCC, MMedEd, PhD |
Associate Professor |
Department of Learning, Informatics, Management and Ethics |
Karolinska Institutet | Tomtebodavägen 18A | 171 77 Stockholm |
Tel. + 46 8 524 85 294<tel:+%2046%208%20524%2085%C2%A0294>
***@***.******@***.***> | ki.se<https://eur01.safelinks.protection.outlook.com/?url=http%3A%2F%2Fki.se%2F&data=

[2022-11-15 08:32] shun2wang commented on #1576
I'm not sure, @JorisGoosen is expert in this field 👍

[2022-11-15 08:33] PerPalmgren commented on #1576
Good if this could be rectified.

Per J. Palmgren | DC, FRCC, MMedEd, PhD |
Associate Professor |
Department of Learning, Informatics, Management and Ethics |
Karolinska Institutet | Tomtebodavägen 18A | 171 77 Stockholm |
Tel. + 46 8 524 85 294<tel:+%2046%208%20524%2085%C2%A0294>
***@***.******@***.***> | ki.se<https://eur01.safelinks.protection.outlook.com/?url=http%3A%2F%2Fki.se%2F&data=04%7C01

[2022-11-15 09:15] JorisGoosen commented on #1822
@tomtomme I guess you didnt have a chance to test this on your student's pc?

However, I do think I should implement the safe graphics fix for the installer-phase, just to make sure users can get to starting JASP at all.

[2022-11-15 09:22] JorisGoosen commented on #1576
Hey all,

The text rendering is about exactly how the letters in the interface are converted to pixelvalues.
The native rendering is from Windows itself and the qt one, well, I guess that is obvious.

We used to have the native one as default on windows because it seemed to render a bit sharper.
However, there were some other issues and since then we have switched to setting Qt as default renderin

[2022-11-15 09:38] juliuspf commented on #1844
@PerPalmgren Does that mean it can be closed? Your comment actually triggered the action to remove the stale label, which means the issue will be exempted from closing in 42 days :)

[2022-11-15 09:46] PerPalmgren commented on #1844
Yes!😛 it can be closed and sorry for triggering.

Per J. Palmgren | DC, FRCC, MMedEd, PhD |
Associate Professor |
Department of Learning, Informatics, Management and Ethics |
Karolinska Institutet | Tomtebodavägen 18A | 171 77 Stockholm |
Tel. + 46 8 524 85 294<tel:+%2046%208%20524%2085%C2%A0294>
***@***.******@***.***> | ki.se<https://eur01.safelinks.protection.outlook.com/?url=http%3A%2F%2Fki.se

[2022-11-15 09:48] #1844 closed

[2022-11-15 12:24] tomtomme commented on #1822
@JorisGoosen - yeah, she did not answer. Happily awaiting the fix. Feel free to close this issue anytime

[2022-11-15 14:03] Andre3582 commented on #1118
Just want to add a comment to say I completely agree and that I would love to see this feature added to JASP!

[2022-11-15 15:44] JohnnyDoorn commented on #1209
I just took a quick look at this, and I think the main difference between the results that the two methods/functions give, is how they are affected by correlated columns.
If I simulate under the null hypothesis using
[code]

Then I obtain the following distributions of p-values:
![RplotShapirp](https://user-images.githubusercontent.com/15704203/201948628-5a340ef8-8543-4054-ad4c-007072cfeb44.png)
w

[2022-11-16 01:59] hcp4715 commented on #1652
Hi, @AlexanderLyNL,

Thanks a lot for pointing that part out, very helpful.

A follow-up question about the multinomial test and contingency table. If my research question is whether a sample is a representative sample of a population in terms of age (after I divide the whole population into several age bins), and I have the proportion data of each age bin from the population and the proportion da

[2022-11-16 08:21] AlexanderLyNL commented on #1652
Hi Chuan-Peng,

A multinomial analysis with a specific null hypothesis (the population proportions) will do.

Cheers,
Alexander

[2022-11-16 09:50] #1837 closed

[2022-11-16 11:27] juliablumk opened #1906 "[Feature Request]:"
### Description

Adding discontinuous axis in figures

### Purpose

_No response_

### Use-case

_No response_

### Is your feature request related to a problem?

_No response_

### Is your feature request related to a JASP module?

Unrelated, T-Tests

### Describe the solution you would like

It would be helpful if you can add the feature of gaps in graphs, so that it becomes multiple segments fo

[2022-11-16 12:07] vandenman commented on #1906
just so it's clear you would want a figure like so

![image](https://user-images.githubusercontent.com/21319932/202176504-6a86978a-c0fe-4418-88c7-d3fd6b96b0c6.png)

but then the x-axis should be disconnected between -2 and 2, while the y-axis should be disconnected between -2 and 0, and 0 and 3?

[2022-11-16 12:42] juliablumk commented on #1906
More so like this:
![Screenshot](https://user-images.githubusercontent.com/62900135/202183565-06c291d4-d0f3-440b-8a47-ba213d8d892f.png)

[2022-11-16 19:51] lbridgeman82 opened #1907 "[Feature Request]: Group descriptives in non-parametric t-tests"
### Description

Group descriptives in non-parametric t-tests

### Purpose

Being able to see other descriptive and not just the mean and SD when running t-tests

### Use-case

_No response_

### Is your feature request related to a problem?

n/a

### Is your feature request related to a JASP module?

T-Tests

### Describe the solution you would like

When running a non parametric t-test (Mann-Whi

[2022-11-17 04:27] maomiaopeng commented on #284
Hi @JohnnyDoorn, I am also very interested in this feature. Any updates for it? Thanks!

[2022-11-17 07:57] juliuspf commented on #1208
@Kucharssim you want to close this?

[2022-11-17 08:03] juliuspf commented on #1195
@emmaraat, I assume this issue can be closed?

[2022-11-17 08:04] juliuspf commented on #1191
So how are we doing on this issue @boutinb, @hcommenges ?

[2022-11-17 08:08] juliuspf commented on #1188
I think this issue can be closed, @69933152 if issues remain feel free to reopen it.

[2022-11-17 08:08] #1188 closed

[2022-11-17 08:13] juliuspf commented on #1186
@PSK11556 Is the error for the t-tests still relevant? AFAIK, non-convergence in a CFA is usually not a bug in JASP, but a problem with the model and the data, so this could just be that the sample size is too small. If you send a data or jasp file, I could run it in R and see if that is really the case.

[2022-11-17 08:17] juliuspf commented on #1183
@EJWagenmakers do we have someone who could do this?

[2022-11-17 08:29] juliuspf commented on #1179
This question might be better placed in the forum: https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwiq_ISQ5rT7AhUISPEDHYwlBMgQFnoECA8QAQ&url=https%3A%2F%2Fforum.cogsci.nl%2Fcategories%2Fjasp-bayesfactor&usg=AOvVaw2NLQoVETBKcDzBFxBRP5S_

[2022-11-17 08:30] juliuspf commented on #1178
@Kucharssim, I was under the impression we offer invariance testing?

[2022-11-17 10:13] BJW89 opened #1908 "[Bug]:"
### JASP Version

0.16.4

### Commit ID

_No response_

### JASP Module

Unrelated

### What analysis are you seeing the problem on?

JASP fails to launch

### What OS are you seeing the problem on?

Windows 11

### Bug Description

JASP opens the window, says 'loading data' (from previously saved analyses) then force quits itself and fails to launch. Have tried opening hundreds of times successiv

[2022-11-17 10:19] Kucharssim commented on #1178
@juliuspf Indeed, invariance testing is now available in the CFA analysis under the Multigroup CFA Section. For SEM models, it is possible to do more flexible constraints under Multigroup SEM section, or by simply using the lavaan syntax.

However, there is an argument that the multigroup SEM (in-)equality constraints could be done per model, not per analysis (https://github.com/jasp-stats/INTERNA

[2022-11-17 10:21] AlexanderLyNL commented on #1179
Using a Bayesian t-test instead of a frequentist t-test is reasonable.

[2022-11-17 10:30] hcp4715 commented on #1652
Thanks a lot, @AlexanderLyNL, your replies make my day!

[2022-11-18 02:53] dustinfife commented on #1849
I learned this was also a problem for the generalized linear model module. [This commit ](https://github.com/dustinfife/flexplot/commit/43b77ea4627d683dfb8bc862a98a93fcaf8d75ef)fixes it.

[2022-11-18 07:21] tomtomme commented on #1031
Still valid for 0.16.4

[2022-11-18 07:22] tomtomme commented on #396
Still valid for 0.16.4 for metric variables

[2022-11-18 07:27] tomtomme commented on #1076
Still valid with JASP 0.16.4

[2022-11-18 07:32] tomtomme commented on #1085
Still valid with JASP 0.16.4
Bivariate Scatterplots within Regression module would be cool.

[2022-11-18 07:34] tomtomme commented on #1326
still valid for JASP 0.16.4 - just a note, to keep this alive

[2022-11-18 07:41] tomtomme commented on #1552
Since still nobody said or indicated "we do not want this on our page", I will try again :D
And not without some effort.
I updated my SPSSvsJASP feature comparison to the new style on https://jasp-stats.org/features

See
https://docs.google.com/spreadsheets/d/13EFGc___U7MwTcV4JJjQ542_Joor4o2HNkCsTHLXd7w/edit#gid=0

I also emptied cells, where I think that a Bayesion or Classical version may not ev

[2022-11-18 10:27] hcp4715 commented on #1652
Hi, @AlexanderLyNL,

I have another follow-up question about the Bayesian multinomial test: if there is any index that is equivalent to the effect size? For example in the Bayesian t-test, we can estimate Cohen's *d*. With effect size, we can also do simulations to estimate the sample size, etc.

In the Bayesian multinomial test, we are testing whether the observed counts deviate from an expected

[2022-11-18 13:36] AlexanderLyNL commented on #1652
Hi Chuan-Peng,

My first search didn’t lead to an obvious effect size measure for multinomial models. If I were to create one, then I would define the effect size as the distance between two vectors associated to the population and the observed frequencies.

For K number of population frequencies p_{1}, p_{2}, .., p_{K-1}, p_{K} this would be a K-1 dimensional vector g such that

	g_{i} = \log( p_

[2022-11-18 14:41] boutinb commented on #1908
Hi @BJW89 How do you open JASP: do you open it by double-clicking a JASP file, or just starting the application without any file? If it crashes already when just opening the JASP application, could just start it from the command line:

- Start a command prompt by typing 'command prompt' in the Start menu.
- Type "c:\Program Files (x86)\JASP\JASP.exe" > log.txt to start JASP. (if JASP is installed

[2022-11-18 14:53] EJWagenmakers commented on #1552
I like it. We could make this available on our materials page. I do think the document ought to focus squarely on SPSS, so the remarks concerning our former employees who started jamovi should go, imo.

[2022-11-18 15:38] boutinb commented on #1849
This commit was made in October, so the last nightlies should have incorporated this commit.

[2022-11-18 15:44] dustinfife commented on #1849
Sorry, I linked the wrong commit. [Here is the right one.](https://github.com/dustinfife/flexplot/commit/0d5b6a88df59f82cb0dc77e81ba9416113260a83)

[2022-11-18 18:03] JohnnyDoorn commented on #284
Hi @maomiaopeng,

My own research has unfortunately shifted to other topics, and the development of this test had never quite taken off I'm afraid. My hope is that other researchers develop a Bayes factor Kruskal-Wallis test, which we could then implement in JASP. For now, if you are only interested in the one-way case, you could take a look at transforming your dependent variable to ranks, and th

[2022-11-19 02:45] hcp4715 commented on #1652
Hi, @AlexanderLyNL

Thanks for your quick response. I also searched a bit, and one [discussion on StackExchange](https://stats.stackexchange.com/questions/4044/measuring-the-distance-between-two-multivariate-distributions) suggested [Bhattacharyya distance](http://en.wikipedia.org/wiki/Bhattacharyya_distance).

The difficulty with these distance metrics is how to use them for sensitivity analysis.

[2022-11-19 03:14] maomiaopeng commented on #284
@JohnnyDoorn, Thank you so much for the help! I'll read them and try.
Wish you all the best in the other topics!

[2022-11-19 06:48] TheBlueQuasar opened #1909 "Flatpak installation is taking up an entire 10.5 GB of disk space, is this normal?"
### JASP Version

0.16.4

### Commit ID

_No response_

### JASP Module

Unrelated

### What analysis are you seeing the problem on?

_No response_

### What OS are you seeing the problem on?

Flatpak, Ubuntu

### Bug Description

Hello there,
I've installed the flatpak version on my Ubuntu machine (22.04 LTS if it's relevant) and it's taking up 10.5 GB of space.
Is this normal? Or is some kind of

[2022-11-19 09:32] AlexanderLyNL commented on #1652
A first step involves some simulations, examples, and then some mathematics I reckon. I'm not so convinced by the Bhattacharyya distance, but perhaps I'm missing something. Nonetheless, I wouldn't discard it in an initial study. KL might be better and I'm still more convinced about the g vectors I recommended. The m that I suggested boils down to Hellinger distance.

[2022-11-20 17:36] areeq1 commented on #1866
Hi Kucharssim, I would like to ask about something off the topic. How can we use the rotation in lavaan. Specifically, I'm interested in "target" rotation where we target some factor loadings to be as close as to a given value. Sorry if this is not the best avanue to ask this.

[2022-11-21 08:23] burritobandito77 opened #1910 "[Bug]: Can't put a graph/plot in a PPTX file, says it's not supported"
### JASP Version

0.16.4

### Commit ID

_No response_

### JASP Module

Unrelated

### What analysis are you seeing the problem on?

_No response_

### What OS are you seeing the problem on?

macOS Silicon

### Bug Description

I went to save a plot in PPTX style and it wouldn't let me. It said, "Unfortunately the plot could not be saved. Error message: pptx device only supports on epage. If the

[2022-11-21 11:21] tomtomme commented on #1552
I deleted the jamovi-parts just now. I do not need those anymore.
So feel free to link the document on materials.

My original idea was to only extend https://jasp-stats.org/features with 2 SPSS columns, but if you think the rest of the doc is worth linking, all the better.

If you decide to link the whole doc, I would also translate the remaining parts.

[2022-11-21 14:35] boutinb commented on #1849
Hi @dustinfife I see your commits are in the development branch. I think they have to be merged into the master branch.

[2022-11-21 15:22] boutinb commented on #1552
Hi @tomtomme Thank you really much for your work. We would like to add a link to your spreadsheet (with your credits) from our Features web page, but would it possible to have a document with only the comparisons of the analyses supported between JASP & SPSS?

[2022-11-21 15:40] boutinb commented on #1910
@vandenman Other plots can be saved in pptx format (like the Sequential analysis or the Descriptives plots), but this one cannot because it says 'pptx device only supports one page' . The plot is not so big, so why should it need 2 pages? Is there a way to circumvent this error?

[2022-11-21 15:43] tomtomme commented on #1552
Absolutely. Will make one sometime this week.

Cheers

[2022-11-21 16:16] JorisGoosen commented on #1909
It sure doesn't sound normal!

It should be way less...
Ill go check my linux systems tomorrow

[2022-11-21 17:24] JoKeyser commented on #1909
What's (mildly) confusing to me is that the download for the upgrade was much faster than anticipated, if it really were >10 GB large.
So I would not exclude some kind of bug/misunderstanding in flatpak's size display... not sure how to verify the info with the size on disk.

The core files seem reasonably smaller, but maybe it pulled some dependencies elsewhere?

[code]

[2022-11-21 17:49] JorisGoosen commented on #1909
You could try something like this: https://www.linuxuprising.com/2019/02/how-to-remove-unused-flatpak-runtimes.html

[2022-11-21 17:50] JorisGoosen commented on #1909
As far as checking the actual disk size, Ill have to look into that. There must be some way

[2022-11-21 18:56] PerPalmgren opened #1911 "[Feature Request]: Added assumption test for logistic regression."
### Description

One important assumption to be tested in logistic regression (when reading the literature) is that there needs to be a linear relationship between the continuous independent variables and the logit transformation of the dependent variable.

### Purpose

Improved assumption testing

### Use-case

_No response_

### Is your feature request related to a problem?

For the time being t

[2022-11-21 20:14] EJWagenmakers commented on #1911
This would be good. Maybe something for @fqixiang ?

[2022-11-22 00:24] Tony-Myers opened #1912 "[Bug]: Allow for choosing jasp Module in r-commander"
### JASP Version

0.16.4

### Commit ID

_No response_

### JASP Module

Other Module

### What analysis are you seeing the problem on?

_No response_

### What OS are you seeing the problem on?

Windows 10, macOS Intel

### Bug Description

Using R beta in 0.16.4 does not allow access to R packages that are used in JASP where previous versions (including 0.16.3) do. Commands such as library(Bayes

[2022-11-22 01:45] hcp4715 commented on #1652
Hi, @AlexanderLyNL

Thanks for your response, I am still trying to understand what you suggested above.

When I was looking into the R code behind the Bayesian multinomial test, I suspect that one line of code might be only applicable to the default prior of Dirichlet, i.e., `$\alpha_1 = \alpha_2 = ... = \alpha_K = 1`.

The line of code I am referring to is:
https://github.com/jasp-stats/jaspFrequ

[2022-11-22 03:48] dustinfife commented on #1849
They're merged now.

[2022-11-22 08:22] Kucharssim commented on #1866
Dear @areeq1,

If you have a specific question about using `lavaan` in R, it's probably best to ask the package authors. See https://lavaan.ugent.be/support.html for ways how to contact them!

[2022-11-22 08:49] vandenman commented on #1910
I'll check, I've seen this error before when we erroneously tried to open a new page twice.

[2022-11-22 09:13] tomtomme commented on #1781
I just tried 0.16-4-5
It works mostly, but while e.g. t-Tests and everything work fine for all ANOVA and linear mixed models I get this:
![grafik](https://user-images.githubusercontent.com/4428185/203272893-7f643136-829d-473d-a955-816339d45873.png)

This might show again that stable / pinned versions of the modules could be a great feature for the bioarch repo :)

[2022-11-22 09:16] tomtomme commented on #1327
This is solved now on linux with the new build of flexplot which just arrived in the bioarch repo. As this should be released with stable on win and macos early next year I will close this already.
Thank you again @dustinfife for your hard work on flexplot. It helps a ton with teaching stats.

[2022-11-22 09:17] #1327 closed

[2022-11-22 09:42] sukanka commented on #1781
I'll look into it, would you please provided a detailed steps to reproduce？

This requires the jasp Devs to make tags for the jasp modules. Since the modules are packaged separately, we need a way to check for updates.

[2022-11-22 10:03] tomtomme commented on #1781
Steps to repoduce: Open JASP, open any dataset, click any ANOVA-module.
thanks sukanka

[2022-11-22 10:04] JorisGoosen commented on #1912
Ah, this is a side-effect of having separate r-libaries per module.
To use that particular package you'd have to specify the libpath there. This works now already but it would be a bit of a pain. For macos:
[code]

And on windows something like `.libPaths(paste0(R.home(), "../../Modules/jaspAnova"))` probably works.

I think a reasonable fix for future versions would be to have a dropdown in the R

[2022-11-22 10:15] JoKeyser commented on #1909
I tried `$ flatpak uninstall --unused`, but it only deleted some stuff from other flatpaks, didn't change the info about JASP.

[2022-11-22 10:21] tomtomme commented on #1849
Just tested the updated module on linux (bioarch repo version) and it mostly works now.

switching to "quadratic" for the fitted line produces
![grafik](https://user-images.githubusercontent.com/4428185/203288163-12f99670-1a9b-43b3-b759-b3b2450ea703.png)

this was not repdroducable however. It seem to need a combination of clicked checkboxes or a special order of when to click what.

A reproducabl

[2022-11-22 12:37] boutinb commented on #1849
@dustinfife If you fix something in the master branch of the flexplot package, that it should be automatically loaded by the JASP Visual Modeling module when JASP is build. Then the fix should be in the next Nightly (if it is run).

[2022-11-22 14:43] sukanka commented on #1781
Confirmed and fixed (I manually pinned the commit used to build this package).
This is caused by https://github.com/jasp-stats/jaspAnova/commit/f5198382ced8f1f7c24e685235e996803bedf768, as the version number changes, it is updated, but jasp requires 0.16.4. Unfortunately, this breaks anova function.
If we can use tags to check for updates, this would not happen. So **tags for the modules are neede

[2022-11-22 14:51] JorisGoosen commented on #1909
Yeah and Im installing from scratch now and it does look like a 5.4gb download at least

[2022-11-22 15:02] tomtomme commented on #1781
I can confirm the fix is working :)

[2022-11-22 15:23] luiscunhacsc opened #1913 "[Feature Request]:"
### Description

Deep Learning Module(s)

### Purpose

Allow using 80% of Deep Learning Modelling accessible to broader audience

### Use-case

Someone whats to apply a CNN to train a model to classify images

### Is your feature request related to a problem?

Deep learning is simple, but for now hidden behing Python or R code

### Is your feature request related to a JASP module?

Machine Learnin

[2022-11-22 16:04] koenderks commented on #1913
I would love to implement this! Hopefully I can find the time somewhere. Do you have some examples of this being done in R, like some of those pre-trained models? That would be a good starting point.

[2022-11-22 16:35] #1910 closed

[2022-11-22 16:54] JorisGoosen commented on #1909
So looking inside the jasp flatpak (starting as `flatpak run --command=sh org.jaspstats.JASP`) I can see that `/app` at least comes close to what id expect:
[code]

That also includes some auxilary stuff btw. And comes nowhere near 10.5GB...

[2022-11-22 18:53] JoKeyser commented on #1909
Regarding the download size, it should be expected that the compressed download is smaller than the actual installed size, [according to this comment](https://github.com/flatpak/flatpak/issues/977#issuecomment-324259556).

The expected download size is 5.4 GB:

[code]

The installed size discrepancy is still a mystery to me.

[2022-11-22 19:01] JorisGoosen commented on #1909
Yeah but in the end it only downloaded 1.3GB, I misread it earlier.
Still reads as 10.5GB in `flatpak info`...

I know that flatpak stores the downloaded executables/apps as an [ostree](https://ostree.readthedocs.io/en/latest/) somewhere, but as that is basically a git repo Im not sure how to assess whether the 10.5GB come from there.

Maybe I should ask the people over at flatpak/flathub if they

[2022-11-22 20:09] areeq1 commented on #1866
Fair enough. For now please consider this error message when using SEM, although the analysis will run.
![Screen Shot 2022-11-22 at 11 08 23 pm](https://user-images.githubusercontent.com/68887104/203411441-cb394292-0bff-4779-b361-f4daf4ee21d1.jpg)

[2022-11-22 22:38] luiscunhacsc commented on #1913
Hi.
That would be so great! I think it could have an enormous impact!
One thing I know is that Francois Chollet has a book based in R.
I noticed that the source code, in R, for the chapters of the book is [available online, here](https://www.manning.com/books/deep-learning-with-r-second-edition).
For instance, chapter 8 has a section named "8.3 Leveraging a pretrained model", and the corresponding

[2022-11-22 22:40] luiscunhacsc commented on #1913
[Please see also here:](https://rdrr.io/cran/kerasR/man/Applications.html)

I will add any other links / resources that I might find.

[2022-11-23 12:05] juliuspf commented on #1866
@areeq1, if possible, could you make a separate issue for this? So this feature request can stand on its own, and we also get a bug report for your issue?

[2022-11-23 12:48] tvantimmeren opened #1914 "[Bug]: JASP quits when opening .jasp file (most of the time)"
### JASP Version

0.16.4

### Commit ID

_No response_

### JASP Module

Unrelated

### What analysis are you seeing the problem on?

_No response_

### What OS are you seeing the problem on?

macOS Silicon

### Bug Description

After I open the .jasp file from the finder, JASP attempts to open it and then it crashes: 'JASP quits unexpectedly'. This happens repeatedly. It (sometimes) works if I tr

[2022-11-23 16:32] boutinb commented on #1914
Hi @tvantimmeren I can reproduce your problem. I get this error:
`libc++abi: terminating with uncaught exception of type unexpectedEngineReply: Attempt to resume engine #0 made but it isn't paused, initializing or stopped`. I get that only on the released version, not or 'in development' version. I don't get the error either if I remove some analyses. The JASP file is quite big, so apparently it h

[2022-11-23 19:52] JorisGoosen commented on #1914
Aah, yeah it does indeed crash when double-clicking in 0.16.4...

@boutinb I definitely changed the code since last release though, quite rigorously even.
Which means that I solved this bug already right? ^^

[2022-11-24 09:20] boutinb commented on #1914
OK, so @tvantimmeren this problem is solved. You can test it in our development version (which is not at all a tested version!) here: https://static.jasp-stats.org/Nightlies/
A new JASP official version (0.17) should be released in January and will contain this fix. For the time being, if you use the 0.16.4 version, you have to start JASP first, and afterwards load the JASP file.

[2022-11-24 09:20] #1914 closed

[2022-11-24 09:24] tvantimmeren commented on #1914
Hi Bruno and Joris, thanks a lot. With the workaround it's not a problem
for me, but it might be for people who download the file from osf.. Glad
it's fixed in the next version!

On Thu, Nov 24, 2022 at 10:20 AM bruno boutin ***@***.***>
wrote:

[2022-11-24 10:45] JorisGoosen commented on #1773
Hmm, I want to work on this but Im having trouble thinking of a good way to reproduce this problem...
How can I get a local proxy that causes the same problem for me...

Another way could be that I create a testversion of JASP that logs lots of relevant parts of the process where the problem most likely lies and then you run that in the problematic environment?

[2022-11-24 12:14] KilianSander opened #1915 "[Feature Request]: effect sizes for post hoc tests in RM ANOVA factors"
### Description

As far as I can see JASP's ANOVA module uses the emmeans::eff_size to calculate Cohen's _d_ in post hoc tests. For within-subjects factors this differs from Cohen's _d_<sub>Z</sub> which is used in a paired samples t test power analysis. Besides _d_<sub>Z</sub> Lakens (2013) mentions some other effect sizes for paired samples, e.g., _d_<sub>av</sub> or bias-adjusted Hedges _g_<sub

[2022-11-24 13:40] LSLindeloo commented on #1259
@bruno-fd

I assume the following is the reason for these discrepancies:

I will add the robust estimators to all analyses that use lavaan, so you can expect these in the next release!

[2022-11-24 16:07] RensDofferhoff opened #1916 "[Bug]: Cochrane terminates erroneously"
### JASP Version

Others

### Commit ID

a3bd752093effa19f1c7e4ec5e7db23b44f7cd57

### JASP Module

Cochrane

### What analysis are you seeing the problem on?

Classical Continuous Outcomes

### What OS are you seeing the problem on?

macOS Silicon, Manjaro

### Bug Description

The following error is shown.
`Error in !options$coefficientEstimate: invalid argument type`
![image](https://user-image

[2022-11-25 09:25] FBartos commented on #1916
yep, the Cochrane module does not work on the development/stable branch now because it imports analysis files from Meta-Analysis module and the qml was not updated yet. I linked the issue to the PR which will fix it.

[2022-11-25 12:28] tomtomme commented on #1552
The link to the new document containing only the table:
https://docs.google.com/spreadsheets/d/1lQ7Pt8vFfSrHxQ9Kh3rjY6Ttx2Yx5b1sVKEGLYU9v4Y/edit?usp=sharing

[2022-11-25 12:44] juliuspf commented on #1145
Would that be supported in the future, @vandenman? This seems quite complicated...

[2022-11-25 12:49] juliuspf commented on #1127
@nvchim, I apologize for the late reply. Do you happen to know how this can be done in R?

[2022-11-25 13:06] juliuspf commented on #1113
This is also tracked here: https://github.com/jasp-stats/jasp-issues/issues/1723. But yes. It would be helpful. Let's see how fast I can get to it.

[2022-11-25 13:07] juliuspf commented on #1102
@LSLindeloo, could you have a look? I think it is kind of simple to obtain output with `lavaan`

[2022-11-25 13:09] boutinb commented on #1552
@DanaJohanna Can you add this to the Web site?

[2022-11-25 13:09] boutinb commented on #1552
Thanks @tomtomme !

[2022-11-25 13:11] DanaJohanna commented on #1552
Thank you for doing this @tomtomme!
My only request is to add a sentence into the document with: This table is made and maintained by Thomas Langekamp.
The [Features page](https://jasp-stats.org/features/) has been updated already. Let me know if anything should change.

Also, we could make this a page/ blogpost within JASP and link to that rather than the google sheet. It is then important that i

[2022-11-25 13:14] juliuspf commented on #1101
Lets track this over there then: https://github.com/jasp-stats/jasp-issues/issues/1030

[2022-11-25 13:14] #1101 closed

[2022-11-25 13:17] tomtomme commented on #1552
@DanaJohanna: The Sentence is added.
However I do not see any SPSS-additions or a link to my spreadsheet on https://jasp-stats.org/features - if you meant that?

I can update my spreadsheet everytime a new JASP version is released and notify you here. From my point of view, you are free to do whatever you want with the info in the spreadsheet. It could also be maintained by someone else

[2022-11-25 13:21] juliuspf commented on #1552
![Screenshot 2022-11-25 at 14 19 44](https://user-images.githubusercontent.com/38500953/203994374-135bf5cc-10d7-40cf-963d-ddcbe983b205.png)
Also, the name is Langkamp, right?

[2022-11-25 13:23] DanaJohanna commented on #1552
@juliuspf thank you! I changed the name.

[2022-11-25 15:11] Ghassan-Okour commented on #1552
@juliuspf Excuse me; what is the meaning of [dataModeSkf14nov] in [JASP Nightlies]???

[2022-11-25 15:27] LSLindeloo commented on #1102
@juliuspf sure! I will add them, that should be simple indeed! It’s also possible to show just either standardized or unstandardized coefficients. @Kucharssim , what’s your take on this ?

[2022-11-25 15:42] EJWagenmakers commented on #1552
I like the way the file is currently referenced on the site.

[2022-11-25 15:43] EJWagenmakers commented on #1552
@Ghassan-Okour : this is a nightly we produced for SKF, a company we are working with.

[2022-11-25 16:00] Ghassan-Okour commented on #1552
THANKFUL...

[2022-11-26 09:37] tomtomme commented on #1427
this was no issue for me during the last at least 2 releases. I think this can be closed

[2022-11-26 09:41] tomtomme commented on #1732
I confirm, the crashing is a non issue anymore.
We may relable this to feature-request until things like apply(data.frame(var1, var2, var3), 1, mean, na.rm=TRUE) are possible with the point & click interface.

[2022-11-26 19:03] leahrowan opened #1917 "[Bug]: This analysis terminated unexpectedly. Error in `$<-.data.frame`(`*tmp*`, 'model', value = structure(list(coefficients = c(`(Intercept)` = 24.5288289473684), : replacement has 11 rows, data has 1 Stack trace"
### JASP Version

0.16.4

### Commit ID

_No response_

### JASP Module

Regression

### What analysis are you seeing the problem on?

Correlation, linear model

### What OS are you seeing the problem on?

Windows 11

### Bug Description

When adding my dependent variable I get this message, no matter how many different ones I try:
This analysis terminated unexpectedly.

Error in `$<-.data.frame`(

[2022-11-27 13:41] juliuspf commented on #1427
I appreciate your involvement @tomtomme, but replying to the bots stale-announcement for issues that can be closed will only lead to the bot removing the stale label, and the issue will eventually not be closed :) Please only reply to the bot's stale-message if the issue should not be closed.

[2022-11-28 06:01] SKBaurai opened #1918 "[Bug]: Terminated unexpectedly when opted Path Model of SEM"
### JASP Version

0.16.4

### Commit ID

_No response_

### JASP Module

SEM

### What analysis are you seeing the problem on?

_No response_

### What OS are you seeing the problem on?

Windows 10

### Bug Description

This analysis terminated unexpectedly.

Error in bars[[node]] <- pnorm(GroupThresh$est[GroupThresh$lhs = GroupVars$name[node]]): attempt to select more than one element in integerO

[2022-11-28 09:50] vandenman commented on #1145
It's not impossible to support this. As mentioned above it would require supporting plot editing for `qgraph` objects in general. However, this is not a priority at the moment.

[2022-11-28 13:53] Kucharssim commented on #1917
Dear @leahrowan,

thank you for submitting the report.

Would you mind attaching a zipped .jasp file to this issue on the GitHub website? Alternatively, provide a step by step description of how to reproduce the issue?

I tried to reproduce the bug with the data set you attached (tried to do various settings in the linear regression analysis), but I have not managed to get the error message you re

[2022-11-29 10:12] ramdasmenon1965 opened #1919 "[Bug]: The application is JUST NOT starting up"
### JASP Version

0.16.4

### Commit ID

_No response_

### JASP Module

Unrelated

### What analysis are you seeing the problem on?

Unable to launch application

### What OS are you seeing the problem on?

Windows 11

### Bug Description

I installed JSP 0.16.4 yesterday, and also registered it under my email ID ramdas@ekaagra.com. It didn't work, so I uninstalled it.

I installed it again today

[2022-11-29 11:21] Kucharssim commented on #1237
Dear @mjkofler,

since 0.16.4 version all path coefficients in the mediation model can be requested so in the output you can find whatever pathway you are interested in (see https://github.com/jasp-stats/jaspSem/pull/95 for reference). I am closing this issue now, please do not hesitate to reopen if this is not what you wanted.

[2022-11-29 11:21] #1237 closed

[2022-11-29 11:36] juliuspf commented on #1094
@MichlF, I apologize for this late reply, but could you confirm this is still an issue with the latest JASP version?

[2022-11-29 11:44] juliuspf commented on #1080
@DrMarkGS, sorry for the late reply. I couldn't reproduce your problem with the latest JASP version. Can you?

[2022-11-29 11:49] DrMarkGS commented on #1080
Hi Julius
Seems fine in 0.16.4
Mark

From: Julius Pfadt ***@***.***>
Sent: 29 November 2022 11:45
To: jasp-stats/jasp-issues ***@***.***>
Cc: Mark Goss-Sampson ***@***.***>; Mention ***@***.***>
Subject: [EXTERNAL] Re: [jasp-stats/jasp-issues] 2 way mixed factor ANOVA bugs (#1080)

<https://github.com/DrMarkGS>
This message originated from outside the University. Treat links and attachments with c

[2022-11-29 13:11] juliuspf commented on #1080
thank you for the swift reply!!!

[2022-11-29 13:38] JorisGoosen commented on #1919
@ramdasmenon1965 can you try starting JASP from a commandline?

Open a Command prompt and run `JASP --logToFile --safeGraphics` and then check whether you have [any logfiles](https://github.com/jasp-stats/jasp-desktop/blob/stable/Docs/user-guide/logging-howto.md) and if so please upload those here.

[2022-11-29 14:35] ASarafoglou opened #1920 "[Bug]: Troubles opening large .jasp files on Mac"
### JASP Version

0.16.4

### Commit ID

_No response_

### JASP Module

JAGS

### What analysis are you seeing the problem on?

JAGS analysis

### What OS are you seeing the problem on?

macOS Silicon

### Bug Description

For one .jasp file I consistently have troubles opening it by just double clicking on the file.
I believe this is because the .jasp file is too big (186 MB)
<img width="551" al

[2022-11-29 18:05] ramdasmenon1965 commented on #1919
Dear Joris

I ran the Command Line prompt, but didn't get anything, have attached a
screenshot.

Also, I made a mistake in informing that I am using Windows 11; I am
actually using Windows 10.

Best regards
*Ramdas Menon, +91-98404-58652*

*www.ekaagra.com <http://www.ekaagra.com>*

Ramdas's Ekaagra calendar
<https://calendar.google.com/calendar/u/1?cid=cmFtZGFzQGVrYWFncmEuY29t>

On Tue, Nov 29, 2

[2022-11-29 19:54] patc3 opened #1921 "[Bug]: Empty documentation for SEM > Latent Growth"
### JASP Version

0.16.4

### Commit ID

_No response_

### JASP Module

SEM

### What analysis are you seeing the problem on?

Latent Growth

### What OS are you seeing the problem on?

Windows 10

### Bug Description

The documentation for SEM > Latent Growth is empty. I don't know what I need to put in variables/regressions/factor/timings...

![image](https://user-images.githubusercontent.com/4

[2022-11-29 20:00] tomtomme commented on #1364
Just a note, that this is still valid for 0.16.4

[2022-11-29 20:01] #1552 closed

[2022-11-29 20:07] tomtomme commented on #1779
Just a note that this is stull valid for 0.16.4

[2022-11-29 20:09] #1822 closed

[2022-11-29 20:40] FBartos opened #1922 "[Feature Request]:"
### Description

Identify highly powered studies in WAAP-WLS

### Purpose

_No response_

### Use-case

_No response_

### Is your feature request related to a problem?

_No response_

### Is your feature request related to a JASP module?

Meta Analysis

### Describe the solution you would like

_No response_

### Describe alternatives that you have considered

_No response_

### Additional contex

[2022-11-29 21:40] JorisGoosen commented on #1919
Hey Ramdas,

To upload anything to github you need to actually go to this issue page, it will drop all attachments on emails. So I cant see you screenshot.
Also, did you see: https://github.com/jasp-stats/jasp-desktop/blob/stable/Docs/user-guide/logging-howto.md#logs-location ?

[2022-11-30 08:54] #1629 closed

[2022-11-30 08:54] #1918 closed

[2022-11-30 09:55] SKBaurai opened #1923 "[Bug]: unexpected error: missing value where TRUE/FALSE needed"
### JASP Version

0.16.4

### Commit ID

_No response_

### JASP Module

SEM

### What analysis are you seeing the problem on?

Bootstrap

### What OS are you seeing the problem on?

Windows 10

### Bug Description

![image](https://user-images.githubusercontent.com/119281063/204763617-c4d20d8c-b3d8-4aa3-b9ea-c632c472486c.png)
<html>
<body>
<div id="id-3" class="jasp-analysis" style="color: silver

[2022-11-30 18:12] tomtomme commented on #1812
As I read this blog by Lakens http://daniellakens.blogspot.com/2016/01/power-analysis-for-default-bayesian-t.html
and the comments below the blog... I think this feature-request may not be feasable?
Because Bayesian statistics emphasize distributions of effect sizes over point estimates.
Nontheless it would be nice to explain somewhere what "effect size delta" is and what it is not. There is no do

[2022-11-30 18:33] whiningatlife opened #1924 "Some parameters are not estimable, most likely due to empty cells of the design [Bug]: Keep getting this error?"
### JASP Version

0.16.4

### Commit ID

_No response_

### JASP Module

ANOVA

### What analysis are you seeing the problem on?

Repeated Measures ANOVA

### What OS are you seeing the problem on?

Windows 10

### Bug Description

I am trying to run a repeated measures ANOVA on my data file. It is comparing 3x4 reaction times of my participants. I have attached the data file.
Every time I try to

[2022-11-30 22:49] EJWagenmakers commented on #1812
1. I think you are (much) better off reading blogs by Bayesian statisticians :-)
2. Effect size delta is the population version of Cohen's delta, so mu / sigma -- to clarify this in the help file is a good feature request. @juliuspf can you assign this?
3.  "In classic statistics delta is usually Cohens d for the population effect size. But here it just seems to be the median difference of prior a