[2019-03-07 08:16] TimKDJ commented on #309
There was a problem with our filter which will be fixed in the next release of JASP.
Thank you for reporting it to us!

As a temporary workaround: to get boxplots of your data you will have to remove the missing values manually and then remove the filter.

[2019-03-07 08:16] #309 closed

[2019-03-07 08:18] TimKDJ commented on #304
In our current release the grouping variable is not allowed to contain any missing values.
This will be fixed in the next release of JASP.

[2019-03-07 08:18] #304 closed

[2019-03-07 09:48] TimKDJ commented on #320
This was solved through email conversation.
A transformation in excel yielded a character value.

[2019-03-07 11:10] TimKDJ commented on #317
I cannot open your attachment as it appears to be an alias of a folder in your local environment (it points to "/Applications/for github").
Could you zip the actual folder and attach that?

[2019-03-07 15:02] #321 closed

[2019-03-07 15:45] paulamarentette commented on #317
[for github.zip](https://github.com/jasp-stats/jasp-issues/files/2942058/for.github.zip)

[2019-03-07 16:15] EJWagenmakers opened #323 "Figures do not resize"
Reported on the Forum: http://forum.cogsci.nl/index.php?p=/discussion/4941/graphs-do-not-resize

[2019-03-07 16:18] paulamarentette commented on #317
sorry for the mix-up, this is the actual folder...
I can't make any kind of plot right now, not just the one above.
 I'm using JASP in my stats class, and this is not helping me teach effectively! Thanks for your help troubleshooting my problem.
Paula

[2019-03-07 23:57] JohnnyDoorn commented on #314
Got it, thanks Rachael - I will look into this!

[2019-03-08 08:19] PeterKlaren opened #324 "Dealing with missing values"
* JASP version: 0.9.2
* OS name and version: Windows 10
* Analysis: Descriptives, Box plot
* Bug description: JASP can't deal with missing values
* Add JASP files as a zip:
* Screenshot:
![image](https://user-images.githubusercontent.com/43278770/54016353-e250a280-4182-11e9-9be8-eb74467985fe.png)

* Expected behaviour: R's "na.rm" should work by default.
* Steps to reproduce:
1. Go to 'Decriptives

[2019-03-08 08:57] TimKDJ commented on #324
Thanks for reporting the issue (and notifying us about the url!)
I fixed the problem and the fix will be available in the next JASP version.
For the time being, you'd have to remove the missing values from your grouping variable.

[2019-03-08 08:57] #324 closed

[2019-03-08 14:38] TimKDJ commented on #317
Your dataset works fine for me.
I can run an independent samples t-test and obtain a descriptives plot.

The error you report seems to be linked to the fonts you have installed on your machine.
You could check if Arial is available in your Font Book and see if there are any duplicates (edit>Look for Enabled Duplicates). I'm simply going on suggestions posted [here](https://stackoverflow.com/questi

[2019-03-08 16:01] AlexanderLyNL commented on #317
We've seen a similar issue before and it was solved by Akash:

https://github.com/jasp-stats/jasp-desktop/issues/2496#issuecomment-398072694

[2019-03-09 15:36] Nega100 commented on #321
Hi FransMeerhoff,
I'm really really sorry, accidentally I click tab close in GitHub. I did
what you suggest. At the first time the download seems error and stuck. I
tried for several times and there are no progress. Meanwhile I install
packages in Python 3.7 and there are some packages that required Visual
Studio. After Visual Studio get installed, I try to install Microsoft
Visual C++ and success

[2019-03-10 23:22] paulamarentette commented on #317
Yes indeed, that fixed it. Thanks for the help.

[2019-03-10 23:22] #317 closed

[2019-03-11 12:43] boutinb commented on #313
@ozge-b JASP should indeed add the resources in the jasp file. It does not do it in your environment. To try to understand what happens, can you check already the following:
when you open JASP, and makes some analysis with a plot, can you check that in your C:\Documents and Settings\<username>\Local Settings\Application Data\JASP\temp a folder is created with a integer name. If you go to this fold

[2019-03-11 12:52] boutinb commented on #323
This is solved in the next 0.9.3

[2019-03-11 12:52] #323 closed

[2019-03-11 13:16] ozge-b commented on #313
Thank you for your response @boutinb . I conduct an analysis. In documents folder, there is no speciifc folder or file for jasp. In " C:\Users\-my username-\AppData\Local\JASP\temp\10620\resources\0" folder, there is a png file as you said and it  is same with the one that i am seeing in the jasp.

[2019-03-11 15:06] lithos commented on #53
yes please, just helping out on a 2nd year course and would like to show this in JASP as well as SPSS (as i have for most of our tests a slow shift to a better app)

cheers

[2019-03-12 07:53] FransMeerhoff commented on #153
Hi @chrisaberson

Please reopen this issue if this problem still occurs on the latest version.

Kind regards
Frans Meerhoff

[2019-03-12 07:54] #153 closed

[2019-03-12 08:02] boutinb commented on #53
@vandenman can this feature be added for the next release?

[2019-03-12 10:36] boutinb commented on #215
@JohnnyDoorn Do you think it can be added for 0.9.3?

[2019-03-12 10:45] boutinb commented on #270
Done in 0.9.3

[2019-03-12 10:45] #270 closed

[2019-03-12 13:29] JohnnyDoorn commented on #215
Yes, this is in my recent PR (still need to fix one small thing and then it should pass the unit test).

[2019-03-12 14:41] vandenman commented on #238
Fixed in jasp-stats/jasp-desktop/pull/3071

[2019-03-12 16:45] EJWagenmakers opened #327 "More flexibility on the credible intervals"
For many of our Bayesian tests, you can only get the 95% credible interval if you click on "prior and posterior plot". This is not optimal. Ideally we report that 95% credible interval in the table by default, next to the Bayes factor. We should also allow the user to set the % (which should affect both the graph and the table). This should also be implemented for the tests in the summary statisti

[2019-03-12 17:31] vandenman commented on #327
With respect to the Bayesian t-tests (jasp-stats/jasp-desktop/pull/3003) and Bayesian ANOVAs (jasp-stats/jasp-desktop/pull/3071), I've recently rewritten those analyses so if make a list of changes I'll can see what I can implement in the current PRs.

[2019-03-12 20:41] Kucharssim commented on #327
I would be happy to do this, we also currently report a “default” 95 % in many places in frequentist analyses as well (e.g., post hoc tests in ANOVAs, etc), which should be changed as well. I can go over JASP and make some overview where we do this so that we know how many things need to be changed.

[2019-03-13 08:02] FransMeerhoff commented on #32
Hi @Anna-LenaSchubert

FYI
Of course we added a lot of new features in previous versions but the next coming release 0.9.3 will have a complete panel redesign and a lot of more functionality like computed columns, filtering and the possibility to add modules dynamically. We expect to release the next version in about a month or so.

Kind regards
Frans Meerhoff

[2019-03-13 08:02] #32 closed

[2019-03-14 10:11] TimKDJ commented on #276
This was fixed with the QML rewrite.

[2019-03-14 10:11] #276 closed

[2019-03-14 14:51] boutinb commented on #313
Hi @ozge-b I think the way is to send you a (beta) version with some extra log so that I can understand what's happening on your computer. I will do that tomorrow

[2019-03-14 17:30] DrMarkGS opened #328 "Possibly future additions"
We are currently doing many method comparisons with students. These include
Bland Altman, Passing Bablock regression etc. I know that r scripts are available. Currently only available in MedCalc or NCSS
MARK

[2019-03-15 13:11] #303 closed

[2019-03-15 13:22] Ahjvdberg opened #329 "Regression/correlation threats nominal variables as scale variables"
When using jasp for correlation analysis, it also calculates the correlation for nominal variables (if these are represented by numeric values). For nominal variables a correlation should not be possible! The same happens when doing regression, it ignores the variable's classification as nominal and threats it as if it is a scale variable. I'm using JASP version 0.9.2.0.
This is a very serious iss

[2019-03-15 14:10] EJWagenmakers commented on #329
Yes, we should not allow nominal variables to be entered for this analysis
@boutinb can you assign this to someone?

[2019-03-19 14:42] boutinb commented on #313
Hi @ozge-b I have made a special setup for windows 64: https://static.jasp-stats.org/JASP-0.9.3.0-Special.msi
I have built it on from our development code: this is NOT a official release version. It is not well tested yet. But in this version I have added some log when the JASP file is created. So install it, and start it from the command line in c:\Program Files\JASP, by typing "JASP > c:\temp\ja

[2019-03-20 08:45] FransMeerhoff commented on #325
Hi @michal1981

Do you have more information about the status of this issue?

I could not find out from the information above, if you use a 64-bit or 32 bit version.
But I assume that you choose the right setup regarding this. Can you confirm that to us?

If you have still problems could you try the following:

1)
Can you try to install the Visual Studio 2017 Runtime manually? You can find this at

[2019-03-20 08:50] FransMeerhoff commented on #329
Hi @TimKDJ  @vandenman

Can one of you please have a look at this?

[2019-03-20 08:57] AlexanderLyNL commented on #329
This is an ongoing discussion, but when someone adds variables into a linear regression I think that it's fine for the variables to be interpreted as scale, otherwise they should do an ancova instead. I don't think that we should change this behaviour.

[2019-03-20 09:09] FransMeerhoff commented on #328
@DrMarkGS

Thanks for this request, but could you be a bit more specific about your wishes?
E.g more details about these comparison methods, do you want these  comparison methods to be added to JASP and in what form etc. A dedicated person could then look on to this more accurate.

Kind  regards
Frans

[2019-03-20 09:12] EJWagenmakers commented on #329
I am sticking to my position. Lexi, let's discuss this in person.

[2019-03-20 09:23] DrMarkGS commented on #328
@FransMeerhoff
Hi Frans
Ideally it would be nice to see a method comparison section in JASP. The commonly used methods are
Bland-Altman (Parametric) https://cran.r-project.org/web/packages/blandr/blandr.pdf
and regression methods: Deming regression (parametric) and Passing-Bablok regression (non-parametric - https://cran.r-project.org/web/packages/mcr/mcr.pdf
I hope this helps

Cheers
Mark

[2019-03-20 09:38] TimKDJ commented on #300
@conorgissane is there any chance you could attach the .jasp file in which this error occurred (you will need to zip it)?
If it has sensitive information you could also email it to me at t.dejong@jasp-stats.org

[2019-03-20 14:40] boutinb commented on #291
This will be solved next release

[2019-03-20 14:40] #291 closed

[2019-03-20 16:39] boutinb commented on #287
The error is in fact quite tricky: a column name has the same name as the number of columns.
In the next release, I will add a 'V' to column whose name is an integer: that will solve automatically this problem, and also solve any problem with filtering where name of column can be directly used in R script.

[2019-03-20 16:39] #287 closed

[2019-03-20 17:13] AlexanderLyNL commented on #158
Will be fixed in the next version 0.9.3.

[2019-03-20 17:13] #158 closed

[2019-03-20 17:13] AlexanderLyNL commented on #229
The fix will be incorporated in the next version 0.9.3

[2019-03-20 17:13] #229 closed

[2019-03-20 17:13] AlexanderLyNL commented on #264
The fix will be incorporated in the next version 0.9.3

[2019-03-20 17:13] #264 closed

[2019-03-20 17:13] AlexanderLyNL commented on #306
The fix will be incorporated in the next version 0.9.3

[2019-03-20 17:13] #306 closed

[2019-03-21 02:00] katieeder opened #330 "JASP can’t be opened because it is from an unidentified developer"
Process:               JASP [8063]
Path:                  /Volumes/VOLUME/JASP.app/Contents/MacOS/JASP
Identifier:            org.jasp-stats.jasp
Version:               ???
Code Type:             X86-64 (Native)
Parent Process:        ??? [1]
Responsible:           JASP [8063]
User ID:               501

Date/Time:             2019-03-19 15:21:41.904 -0400
OS Version:            Mac OS X 10.10.5 (

[2019-03-21 02:00] #330 closed

[2019-03-22 16:13] #283 closed

[2019-03-22 16:19] boutinb commented on #237
This is solved in 0.9.3 (to be released in April)

[2019-03-22 16:19] #237 closed

[2019-03-25 15:02] #215 closed

[2019-03-25 15:03] JohnnyDoorn commented on #113
This will be in 9.3

[2019-03-25 15:03] #113 closed

[2019-03-26 08:22] boutinb commented on #313
Hi @ozge-b Did you try the setup I sent you? We will release soon a new version, and it would quite nice to include a fix for your problem

[2019-03-26 08:22] FransMeerhoff commented on #328
Hi @DrMarkGS

We do have indeed plans for implementing these methods. But you can imagine that we have a lot of other issues on our wish list too. Moreover in one of our near releases we add the possibility to add dynamic modules. This means that it is made a lot easier to add new functionality, and belonging interfaces, to JASP even for a third party.
For now we can only tell you that we have put

[2019-03-26 09:18] DrMarkGS commented on #328
Hi @FransMeerhoff
Thanks for the feedback - I look forward to seeing how the dynamic modules work.  Keep up the great work.
Cheers
Mark

[2019-03-26 09:46] Brett-Milliner opened #331 "Error in Descriptives Plot (Paired Samples T-Test)"
While running a T-Test I met the following bug:

Error in descriptivesPlots[[1]]:  添え字が許される範囲外です
Stack trace
analysis(dataset = dataset, options = options, perform = perform, callback = the.callback, state = oldState)

I'm using Mojave Ver. 10.14.3 (18D109)

* JASP version:
* OS name and version:
* Analysis:
* Bug description:
* Add JASP files as a zip:
* Screenshot:
* Expected behaviour:
* Steps

[2019-03-26 09:55] TimKDJ commented on #331
Could you save the .jasp file that contains this error and attach it here as a .zip or email it to me at t.dejong@jasp-stats.org

[2019-03-26 12:00] PeterKlaren opened #332 "Non-reproducible linear regression"
* JASP version: 0.9.0.1 and 0.9.2
* OS name and version:
* Analysis: Linear regression
* Bug description: Coefficients wrongly calculated in first run, correctly calculated in second run of OLS
* Add JASP files as a zip:
* Screenshot:
* Expected behaviour:
* Steps to reproduce: See JASP file
[Linear regression exam.zip](https://github.com/jasp-stats/jasp-issues/files/3008014/Linear.regression.exam

[2019-03-26 12:07] PeterKlaren opened #333 "Save and reuse filters"
* Enhancement: Create and save multiple (compound) filters for reuse in different datasets.
* Purpose: Reuse filters.

Building (compound) filters takes some time, and you would also want to use multiple filters serving different functions in one JASP session/instance. Would be nice to save filters for future use.

**Describe the solution you'd like**
An option to save a filter and to open and reu

[2019-03-26 14:01] ozge-b commented on #313
@boutinb thank you for your attention. I tried, I downloaded the version you sent me but I could not start it from the command line. I tried to give writing permission for some folders on my computer. However, when i tried the this command: ""JASP > c:\myfolder\jasp.log" it says access denied. I am not sure what is the problem.

[2019-03-26 14:35] boutinb commented on #313
@ozge-b This is quite strange... Are you admin of your PC? If yes, can you start a command prompt as administrator (right-click a command prompt icon, and select Run as Administrator), and try to start JASP as explained above?
If you are not admin of your PC, is it possible to get the permission temporary?

[2019-03-26 14:48] JohnnyDoorn commented on #312
This is fixed in [PR #3093](https://github.com/jasp-stats/jasp-desktop/pull/3093)

[2019-03-26 14:48] #312 closed

[2019-03-26 15:11] ozge-b commented on #313
@boutinb I am not that much familar with the command prompt, so i am sending screenshots about what I have tried with running as administrator cmd.
![Screenshot_1](https://user-images.githubusercontent.com/47679878/55008648-55b33a80-4ff2-11e9-82d8-b3c38a4f3278.jpg)
![Screenshot_2](https://user-images.githubusercontent.com/47679878/55008649-564bd100-4ff2-11e9-9b5d-e05eab43d5cc.jpg)

[2019-03-26 15:43] boutinb commented on #313
Hi @ozge-b
What you have to do is:
cd "Program Files\JASP"
JASP > "c:\myfolder\log.txt"

Can you control also that if you start JASP as administrator, then the problem still occurs?

[2019-03-26 16:22] ozge-b commented on #313
@boutinb It works! I added the log file. Thank you:)

[log.txt](https://github.com/jasp-stats/jasp-issues/files/3009101/log.txt)

[2019-03-26 16:28] boutinb commented on #313
Hi @ozge-b Can you do the same thing with adding an analysis with a plot and save it to a JASP file?
Can you check then if the plot is still present when you load the JASP file?

[2019-03-26 18:19] ozge-b commented on #313
@boutinb I conducted an analysis. When I reopened it, graphs did not appear. I am sending bot text file and the analysis file.

Also I checked the temp png file from this path: C:\Users\username\AppData\Local\JASP\temp\11956\resources\0  and there is png file which belongs to the graph I created. But it disapperaed when I close the jasp.
[sample analysis 2.zip](https://github.com/jasp-stats/jasp-i

[2019-03-27 10:36] JorisGoosen commented on #333
Yeah we've thought about this as well.
It could be nice to just edit a few of them and or be able to drag/copy them. And select one or more that you would like to use. Or something.

[2019-03-27 10:40] JorisGoosen commented on #268
No response

[2019-03-27 10:40] #268 closed

[2019-03-27 10:41] JorisGoosen commented on #150
I am hoping that new versions of JASP work.

[2019-03-27 10:41] #150 closed

[2019-03-27 12:54] Kucharssim commented on #332
Hello @PeterKlaren,

thank you for your report. I can see that your saved .jasp file contains incorrect results, that's why they are shown at first before rerunning the analysis which overrides them. One option is that your .jasp file was generated with an earlier version of JASP that contained a bug. However, I cannot reproduce your saved incorrect values with no version of JASP going back down t

[2019-03-27 18:56] mservantufc opened #334 "Some feedback after a year of teaching JASP to students (in France)"
Hi guys,
A BIG thanks from my (french) students that enjoyed JASP and are now able to do statistics without having to get a crack to run SPSS or Statistica. Plus they really enjoyed JASP's interface. Some feedback (after a year of teaching -I've already discussed some issues on the forum, below is a summary) :
1-In within-subjects designs, contrasts are computed using the pooled error term (which

[2019-03-28 09:41] akashrajkn commented on #334
@mservantufc For 5, on the latest version of jasp (`v0.9.2`), it is possible to compute such a variable
[code]

[2019-03-28 11:57] JohnnyDoorn commented on #334
Hi Mat,

That's great to hear, and thanks for the feedback!
(1-3) Specifying custom contrasts is at the top of our to do list, as this seems a much desired feature. When I get to work on the contrast analyses, I will look into pooled/non-pooled error terms and possible interaction contrasts. For now you can look into the simple main effects analysis and the next point:
(4)  The next version of JAS

[2019-03-28 13:38] alexgeavis opened #335 "Principle Axis Factoring"
Recently had paper rejected on basis that PCA was used instead of PA2 in a factor analysis. Are there plans for PA2 to be integrated?

[2019-03-28 14:41] alexgeavis commented on #89
Is there an update on this? Having same issue. Thanks

[2019-03-28 18:14] kierstin2697 commented on #270
When will 9.3 be available, because it would be nice to have this fixed now

[2019-03-29 10:31] JohnnyDoorn commented on #152
This is now in JASP 0.9.3.

[2019-03-29 10:31] #152 closed

[2019-03-29 10:31] JohnnyDoorn commented on #3
This is now (finally!) in JASP 0.9.3.

[2019-03-29 10:31] #3 closed

[2019-03-29 13:16] ajsupple commented on #150
Nope, still can't run JASP. You can close this case, however, I've given up

[image: image.png]

On Wed, Mar 27, 2019 at 6:41 AM Joris Goosen <notifications@github.com>
wrote:

--

*Dr. Andy Supple, PhD Associate ProfessorHuman Development & Family Studies*

*https://hhs.uncg.edu/wordpress/hdf/ <https://hhs.uncg.edu/wordpress/hdf/>*

[2019-03-29 14:01] JohnnyDoorn commented on #314
Hi Rachael,

Wanted to let you know that this is now fixed in the next JASP release. The issue was a package upgrade that we were not aware of. We used part of the PMCMRplus package, which is the sequal to the PMCMR package. It seems that the Conover test differs in results between these two packages, and I believe the output from PMCMRplus is the correct one. JASP now gives the same results as th

[2019-03-29 14:01] #314 closed

[2019-03-29 14:17] rachael-reavis commented on #314
Thanks!

On Fri, Mar 29, 2019 at 10:01 AM JohnnyDoorn <notifications@github.com>
wrote:

[2019-03-29 14:39] JorisGoosen commented on #150
That is too bad...

[2019-03-29 16:39] boutinb commented on #313
@ozge-b The log file you sent is really interesting, and I try to reproduce your error on a (virtual) machine, but I am currently have problem with this machine... Next week I will have more information.

[2019-03-29 20:41] ozge-b commented on #313
@boutinb I am really appriciated. I conducted that analysis with a data from jasp's data library if it is important.

 I guess there is something wrong or missing in my computer but i don't know what it is. For instance, I have tried the latest official version, 9.2. However, when I attempt to open a jasp analysis file by double clinking it, a warning message appears. I am not sure it is related t

[2019-03-30 15:16] tressoldi opened #336 "Feature request: upload .omv files"
It could be useful to use .omv files generated by Jamovi.

[2019-04-01 09:03] mservantufc commented on #334
@JohnnyDoorn   I forgot another thing. When computing simple main effects in a within-subjects design, it would be great to have the Sum of Squares, df, and Mean Square associated to the Residual. I see that you don't use the pooled error term to compute these main effects (here again, would be good to have the option).
Cheers

[2019-04-01 09:40] dendrite75 commented on #279
I have the same request. In the current context, it is not possible to ask my students to use JASP to represent their data with boxplot with Jitter.
The graphs adjust their scale according to the data of each variable.
Is there any other way to do it?

[2019-04-01 21:42] #332 closed

[2019-04-02 08:19] dendrite75 commented on #260
Is there a way to export results in a .doc or .rtf file?

[2019-04-04 13:28] akashrajkn commented on #67
Fixed in the upcoming version (v0.9.3)

[2019-04-04 13:28] #67 closed

[2019-04-05 17:55] kairuggeri opened #337 "Logistic regression plot"
I think the image explains everything, but simply put: the plot for logistic regression is not working now. I've used it many times in the past, but today it is failing. I also see this when I restart and/or attempt to run with other datasets.

![image](https://user-images.githubusercontent.com/9501949/55646890-4f6b4e00-57aa-11e9-997f-5bc6c004e003.png)

[2019-04-05 21:40] santalin22 opened #338 "Filtering Data Changes Bayesian Outputs"
* JASP version: 9.2 and 9.0.1
* OS name and version: Windows 10
* Analysis: Bayesian RM ANOVA
* Bug description: When I filter data using the filter icon button, I get one Bayes output. When I filter data by clicking on the variable name and then X-ing out all of the unwanted data, I get a completely different output with an way higher Bayes factor that drastically changes each time I run it.
* Ad

[2019-04-06 15:03] MaksimRudnev opened #339 "Model names in SEM"
* JASP version: 0.9.2
* OS name and version: MacOS Mojave
* Analysis: SEM
* Bug description:
When adding new models under "Advanced -> Model name" the only updated field is "Chi-square test statistic" whereas  various "Additional fit measures" are updated to the last model only, and fit of previous model is not printed, so the comparison of model fit is impossible. For example, I wanted to compare

[2019-04-08 11:55] kayyalm opened #340 "Internal Error Message after installing JASP 0.9.2.0"
Good morning,

I teach statistics in Psychology.  I have heard great things about JASP and wanted to incorporate it in my class.  However, I am experiencing technical difficulties. Every time I try to run JASP, I get an "experiencing an internal error message" and the program closes.  I have attached a screenshot of the error message.  Any help would be greatly appreciated!
![JASP error message](h

[2019-04-09 06:47] fredrickjean commented on #146
i tried installing in my laptop windows 10 32 bit . It crashes . I tried installation and also preinstalled file

[2019-04-09 07:45] FransMeerhoff commented on #340
Hello @kayyalm

Could you please give us a bit more information about your machine configuration (Windows version, architecture etc).
From the error message I can see that you're running on a Windows machine.
We have different setups for 32- and 64 bits Windows, did you choose the proper one?

Kind regards
Frans Meerhoff

[2019-04-09 09:21] vankesteren commented on #254
You can look forward to this in the next version of JASP!

![afbeelding](https://user-images.githubusercontent.com/11596858/55788939-9ebac280-5ab9-11e9-9bb0-8c2ca22183ce.png)

[2019-04-09 09:21] #254 closed

[2019-04-09 09:30] vankesteren commented on #339
Hi Maksim, nice to see you on here as well ;)

Multiple models in SEM have been a very experimental (and kind of buggy) feature for a while now, and will get an overhaul as soon as the new JASP interface we are currently working on has stabilised. You can probably expect an overhaul of this system by version 9.5 or 9.6.

As a workaround for your specific problem, I would suggest to just make two s

[2019-04-09 11:28] MaksimRudnev commented on #339
Oh hi, I didn't realize you are a JASP contributor as well.

Looking forward to version 9.5/6.

[2019-04-09 13:00] kayyalm commented on #340
Good morning,
Here is some info:
OS: Windows 7 Enterprise.
Version 6.1.7601
I installed the 64 bit version, which is the correct one.

Is there any other information that might help you?

Thanks again for your help

On Tue, Apr 9, 2019 at 3:45 AM FransMeerhoff <notifications@github.com>
wrote:

--
Best,
Mary Kayyal, Ph.D.

[2019-04-10 05:06] BTunca commented on #254
Beautiful! Thank you!

[2019-04-10 07:27] FransMeerhoff commented on #340
Hi @kayyalm

Thanks for this info.
We do not know exactly what's going on in such a case but can you try the following:

1. Can you try to install the Visual Studio 2017 Runtime manually?
You can find this at https://support.microsoft.com/en-us/help/2977003/the-latest-supported-visual-c-downloads . In your case  choose there the x64 version. After installing, try to start JASP again.

2. If this s

[2019-04-10 15:22] ebenau opened #341 "post-hocs for ANOVA"
I know others have requested (dating back to as recently as Aug. 6, 2018) that there be post-hocs for anova/RM Anova in the program...I was wondering how far out you think that feature will be? Once that's in place, there'd be little to no reason for me (and most of the psychophysiology world) to use SPSS ever again. Thanks!

[2019-04-11 05:49] CJAB93 opened #342 "Request for Letter-Based Representation of All-Pairwise Comparisons in post-hoc testing"
I was wondering if you could implement that a post-hoc tests will not only be reported using the pairwise comparison p-values, but also sorted to significance level (like multcompView::multcompLetters in R does).

So instead of this:

F       P
2-1   0.0001
3-1   0.7998
3-2   0.0050

Also this:

F     Level
1     a
2     b
3     a

[2019-04-11 08:11] EJWagenmakers commented on #341
@JohnnyDoorn ?

[2019-04-11 15:33] JohnnyDoorn commented on #341
Hi Ebenau,

Do you mean post-hoc tests for interactions? These will be in the next JASP release (0.9.3), which will be released in a couple of weeks.
Univariate post-hoc tests are already in JASP though.

Kind regards,
Johnny

[2019-04-11 15:34] ebenau commented on #341
Hi Johnny,

Yes, that’s exactly what I mean. I’m very excited to hear it will be in a couple of weeks.

I’m really, really liking JASP…serious kudos to you guys. If you can do CFA I can also get rid of Stata.

Erik

[2019-04-11 15:42] JohnnyDoorn commented on #341
Hi Erik,

That's great to hear, thanks! As for CFA, @vankesteren has recently revamped the SEM module, and I think this also includes CFA now - maybe he can shed some more light on this. As far as I can tell this will also be in the new version of JASP!

Cheers,
Johnny

[2019-04-11 16:20] EJWagenmakers opened #343 "Jitter element causes crash!"
...while demonstrating JASP :-((
![image](https://user-images.githubusercontent.com/8603015/55973735-7af8a780-5c86-11e9-821d-ae85ffd47b0f.png)

[2019-04-11 17:07] EJWagenmakers commented on #341
Yes, CFA is in the upcoming version as far as I know, and it looks *awesome*
E.J.
********************************************
Eric-Jan Wagenmakers
Department of Psychological Methods, room G 0.29
University of Amsterdam, Nieuwe Achtergracht 129B
Letter: PO Box 15906, 1001 NK Amsterdam
Parcel: Valckenierstraat 59,  1018 XE Amsterdam

Web: ejwagenmakers.com
Book: bayesmodels.com
Stats: jasp-stats.o

[2019-04-12 09:07] EJWagenmakers opened #344 "Missing figure in html output"
From the forum:
https://forum.cogsci.nl/index.php?p=/discussion/5075/difficulty-in-exporting-results

[2019-04-12 14:16] #341 closed

[2019-04-12 20:15] PeterKlaren commented on #343
Hi EJ,

My students in my Stats101 class had exactly the same problem. Issue solved by copying R's withr package from my R installation to JASP's R package directory.

Peter Klaren

[2019-04-12 20:21] PeterKlaren opened #345 "Expected counts in multinomial test don't transfer"
* JASP version: 0.9.2.0
* OS name and version: different OSs, Windows and Mac
* Analysis: Frequencies > Multinomial test, and Frequencies > Chi squared test
* Bug description: Expected counts are already in a dataframe, but do not transfer well to the output of a multinomial test. Compare the column "expected" in the dataframe, and the column "Expected: expected" in the Results of the multinomial

[2019-04-12 20:59] PeterKlaren opened #346 "Reconsider 1st rule on assigning variable types"
* Enhancement: Small dataframes with variables' values that are integer are imported as 'scale'.
* Purpose: Smooth operation of small datasets, no errors in descriptive statistics
* Use-case:

**Is your feature request related to a problem? Please describe.**
Datasets smaller than 25 rows containing integer values (e.g., IQ values) are assigned a nominal variable type. This interferes with proper

[2019-04-13 08:48] EJWagenmakers commented on #343
Yes, this has now been fixed in the upcoming version. The culprit was a missing value (without missing values, the split functionality does work)
EJ

[2019-04-13 13:20] EJWagenmakers commented on #346
I think this makes sense

[2019-04-13 15:16] AlexanderLyNL commented on #343
I'll close this, as it's fixed in 0.9.3 which should be out soon. Please reopen if it reoccurs.

[2019-04-13 15:16] #343 closed

[2019-04-13 15:20] AlexanderLyNL commented on #346
https://github.com/jasp-stats/jasp-desktop/pull/3158

In the next version (0.9.3) the user can change the cut off in the preference menu. We have not change the cut off to 25 by default though, but @fransmeerhoff can do that easily.

[2019-04-14 14:38] djdekker opened #347 "Request: more helpful error message in correlation plot"
* Enhancement: more helpful error message
* Purpose: make user understand what (s)he's doing wrong and how to correct this
* Use-case: user requests statistics without selecting correlation coefficient

How to reproduce current behavior:
In **Regression** > **Correlation Matrix** check the checkboxes **Correlation matrix** and **Statistics** and make sure that no checkbox under **Correlation Coeff

[2019-04-14 20:04] vankesteren commented on #345
Hi Peter,

this is probably because the expected counts are normalized: the expectation needs to have the same sum as the observations for the multinomial test.

[2019-04-14 20:29] PeterKlaren commented on #345
Owww... This is embarassing... The problem was noted by two students in my Stats101 class and I did not check whether there calculated expected values were OK... Should have!
Recalculated the data now and everything works fine. Apologies! (Better remove my post...)

Peter

[2019-04-15 08:14] Kucharssim commented on #347
Dear @djdekker ,

thank you for reporting this error. I can reproduce it using version 0.9.2, but it appears to be fixed in the upcoming version. Please, feel free to reopen this issue if it occurs in the future.

Best,
Simon

[2019-04-15 08:14] #347 closed

[2019-04-16 07:41] FransMeerhoff commented on #340
Dear @kayyalm

We would like to know if you tried the suggested work arounds. Or did you encounter any problems with these suggestions?

Kind regards
Frans Meerhoff

[2019-04-16 08:10] #305 closed

[2019-04-16 12:59] kayyalm commented on #340
Good morning,

I did install visual studio, but I am still getting the same error.

Best,
Mary Kayyal

On Tue, Apr 16, 2019 at 3:41 AM FransMeerhoff <notifications@github.com>
wrote:

--
Best,
Mary Kayyal, Ph.D.

[2019-04-16 16:00] AlexanderLyNL commented on #345
Thanks for the feedback. It appears that nothing everything is clear, and we'll try to improve this.

@MyrtheV Could you please clarify this, when writing the documentation?

 I'll close this for now.

[2019-04-16 16:00] #345 closed

[2019-04-17 08:40] fabien-tell opened #348 "Jasp crashed on ubuntu 18.04"
* JASP version: 0.9.2.0 flatpak
* OS name and version: ubuntu 18.04
* Analysis: NA
* Bug description: keeps crashing on startup when launched in terminal
otherwise starts but crashes randomly

4. See error  :

fabien@fabien:/var/lib/flatpak/app/org.jasp.JASP/current/active$ flatpak run org.jasp.JASP
Gtk-Message: Failed to load module "appmenu-gtk-module"
Gtk-Message: Failed to load module "canberr

[2019-04-17 13:31] WiednerF commented on #222
I am also getting the Crashes with the newest version on Windows

[2019-04-17 13:49] AlexanderLyNL commented on #222
@boutinb We could solve this for 0.9.2, but I think we would be more efficient if we focus on our new build now. Is our nightly good enough for testing?

[2019-04-18 11:15] JorisGoosen commented on #348
@akashrajkn is this again one of the problems with the nvidia-drivers/opengl you think?

[2019-04-18 11:16] JorisGoosen commented on #348
@fabien-tell we are working on releasing a new version of JASP very soon. I am starting work on the flatpak-version now. Hopefully we can fix this but it is sadly enough rather hard for me to reproduce your problem here..

[2019-04-18 13:08] fabien-tell commented on #348
Thanks a lot,

I installed the nvidia proprietary driver but it is even worse Jasp
fails to start :

fabien@fabien:~$ flatpak run org.jasp.JASP
Gtk-Message: Failed to load module "appmenu-gtk-module"
Gtk-Message: Failed to load module "canberra-gtk-module"
libGL error: No matching fbConfigs or visuals found
libGL error: failed to load driver: swrast
Could not initialize GLX

Thanks again

Le 18/04

[2019-04-18 13:09] fabien-tell commented on #348
Thanks a lot,

I installed the nvidia proprietary driver but it is even worse Jasp
fails to start :

fabien@fabien:~$ flatpak run org.jasp.JASP
Gtk-Message: Failed to load module "appmenu-gtk-module"
Gtk-Message: Failed to load module "canberra-gtk-module"
libGL error: No matching fbConfigs or visuals found
libGL error: failed to load driver: swrast
Could not initialize GLX

Thanks again

Le 18/04

[2019-04-19 19:18] santalin22 commented on #338
Is anyone going to respond to this? I need to know if my results are correct...

[2019-04-20 14:02] EJWagenmakers commented on #338
Hi Santalin,

Sorry for the delay in responding. Now there should be some change in the results when you run the model again (because the result involves some numerical methods). But that variability is indicated by the % error, and you should not get an order of magnitude difference. Some suggestions:
1. Have you confirmed that the different methods of filtering result in the same data? (e.g., us

[2019-04-22 21:50] santalin22 commented on #338
Hello,

They are always vastly different, sometimes a difference of 100+. At first, I though this was just happening with the checking/X-ing method, but now I'm noticing some difference using the filtering method as well. Some of my conditions have always had a Bayes factor of around 45, but now they're all of a sudden around 30 and I'm not sure how. I'm not sure what my actual results are anymore

[2019-04-23 09:20] FransMeerhoff commented on #346
Hi @PeterKlaren @EJWagenmakers @AlexanderLyNL

Indeed we've added the possibility to define your own threshold for this in the preference menu in the new release. However the default value has been set to 10. An argument for this choice might be that a lot of questionnaires use scales from 1-10.
So if everybody is happy the possibility to change  the cut off and a default of 10, we can leave is th

[2019-04-23 10:45] FransMeerhoff commented on #340
Hi @kayyalm

Sorry for this late response but we had some holidays here.

So I assume you've also tried the zipped version.

Could you please try the following:
- From a Windows Command box (find and run 'cmd') navigate to the unzipped folder (e.g.):
$>cd Downloads\JASP.0.9.2.0
- In this folder resides JASP.exe. Start JASP from this terminal by:
$>JASP > %TEMP%\jasp-log.txt
In your temporary folde

[2019-04-23 12:53] #238 closed

[2019-04-23 14:35] coreysparks opened #349 "JASP 0.9.2.0 crashes on Windows 10 64bit"
* JASP version: 0.9.2.0
* OS name and version: Windows 10 64 bit
* Analysis:
* Bug description: JASP crashed on startup
* Add JASP files as a zip:
* Screenshot: attached
![Capture](https://user-images.githubusercontent.com/5359657/56589553-181ede80-65ab-11e9-80c9-74e368055e04.PNG)

* Expected behaviour:
* Steps to reproduce:
1. Go to 'start menu, open JASP
2. Click on "nothing, it just crashes'

4

[2019-04-24 12:48] EJWagenmakers commented on #338
@vandenman @JohnnyDoorn @Kucharssim Could you take a look and help out? Perhaps there is something amiss with the filtering functionality, in which case it should be fixed before the new version.

[2019-04-24 14:20] JohnnyDoorn commented on #338
It seems that using the column filter results are correct - I just verified this with 0.9.3. See the attached screenshot for the analyis of group "C" in the experiment condition.
The filter constructor seemed to have a parsing problem - if you reload the analysis with the filtered data and increase the number of samples it should work also with the filter constructor (for me that works at least, o

[2019-04-24 14:40] Kucharssim commented on #338
Hello @santalin22,

If you run the same analysis but loading in a csv that has only that one condition (Experiment = C), you can verify that the results @JohnnyDoorn posted are correct. However, I cannot exactly reproduce the behavior you describe (i.e., completely different results each time you rerun the analysis - the results somewhat fluctuate but that is to be expected under the error %).

Ho

[2019-04-24 14:46] JorisGoosen commented on #338
@Kucharssim your analysis sounds correct, I will take a look at it.

[2019-04-24 14:57] santalin22 commented on #338
Wow, yes, that was totally it! It wasn't happening with the drag and drop filtering method, but with the checking/X-ing the boxes for the different conditions. You can't uncheck a box without checking another one first and you don't click an "apply filter" button before the analyses begin like with the drag and drop method. So then it must have been performing the analysis on both checked conditio

[2019-04-24 15:00] AlexanderLyNL commented on #338
Awesome, I consider this clarified. Please reopen if something's still unclear.

[2019-04-24 15:10] JorisGoosen commented on #338
Exactly

[2019-04-24 15:34] santalin22 commented on #338
I understand what was happening now and how to make it work, but perhaps the future version could make you "apply filter" before running the analyses or continuously update as you check/uncheck conditions? This is only happening with the Bayesian statistics, not the other stats I've been running (regular ANOVAs, t-tests, etc.), that I've seen.

[2019-04-24 15:38] JorisGoosen commented on #338
Yeah I will :)

I'm pretty sure I thought of rerunning an analysis that was active when a filter is changed, but maybe there is something specific in the Bayesian one that breaks it. It might just be that it is the only one that takes long enough to actually get into the situation of having an analysis running and a filter changed simultaneously.

[2019-04-24 16:22] JohnnyDoorn commented on #338
Yes I think it's definitely the computation time that makes it a problem
for some Bayesian analyses and not others.
We could make it have the same impact as changing analysis options (where
it restarts the analysis/sampling if you change the number of samples, for
instance).

On Wed, 24 Apr 2019 at 17:38, Joris Goosen <notifications@github.com> wrote:

[2019-04-26 12:31] JorisGoosen commented on #316
I've added some scrollbars

[2019-04-26 12:31] #316 closed

[2019-04-26 12:46] hanneoberman commented on #316
Nice! Thanks :)

[2019-04-26 12:53] JorisGoosen commented on #316
You're welcome and it does look better ^^

[2019-04-30 08:33] thepunitsingh opened #350 "Could not handshake: The TLS connection was non-properly terminated."
* OS name and version: Ubuntu 18.04
* Bug description: Problem in the installation procedure.
* Steps to reproduce:

I am following instructions given in [this page](https://jasp-stats.org/linux-installation-guide/) for installing JASP, the first error occurs at
`sudo apt-key adv --keyserver keyserver.ubuntu.com --recv-keys E084DAB9`
which is
`gpg: keyserver receive failed: Connection timed out`
I

[2019-04-30 09:10] akashrajkn commented on #350
@thepunitsingh Can you try installing via [flatpak](https://jasp-stats.org/linux-installation-guide/) for the latest version, `v0.9.2`? The ppa offers only `v0.9.0`.

[2019-04-30 11:47] akashrajkn commented on #350
Also, I think this is an issue with your network (or apt) configuration. Can you run the update command successfully - `apt update`?

[2019-05-01 07:13] thepunitsingh commented on #350
apt update is working fine in my computer.

Installing it with flatpak worked.
Running it using `flatpak run org.jasp.JASP` gave following messages in the terminal, but the interface opened.
[code]
**Regarding ppa:**
It's fine that ppa provides v0.9.0, but since it is giving the above TLS error, this should be resolved.

[2019-05-01 08:25] FransMeerhoff commented on #340
Hi @kayyalm

We are about to release a new version of JAPS 0.9.3 in a couple of weeks. (with a lot of bugfixes, a new panel redesign and other improvements)
Of course we hope that this version will run on your system.  Moreover we've added new logging features that should clarify what this problem causes.
So, I close this issue for now. Please check our website for the new release and reopen if yo

[2019-05-01 08:25] #340 closed

[2019-05-01 22:08] romina-gonzalez-musso opened #351 "Feature request: additional features for regression"
Hi everyone,
My name is Romina and I work in a University. I teach statistics applied to forestry. First of all, I would like to say that I’m very happy with this software since it’s ideal and very suitable for teaching.

We usually estimate forests parameters using Regression Models. In JASP we can do this but there are some features that could be added to make better analysis.

ENHANCEMENT:
- Ad

[2019-05-02 07:30] TimKDJ commented on #337
Thanks for reaching out to us and apologies for our delayed response!

In 0.9.2 there is a package missing from our setup which breaks some plots in Descriptives and apparently also here, in logistic regression.
This is fixed in 0.9.3 which is due in a few weeks.

[2019-05-02 07:30] #337 closed

[2019-05-02 07:33] TimKDJ commented on #336
We definitely have plans to expand JASP's ability to read other data formats.
Once we tackle this we'll see if this specific format is feasible or not.

[2019-05-02 07:33] TimKDJ commented on #335
@AlexanderLyNL ?

[2019-05-02 07:34] TimKDJ commented on #342
@JohnnyDoorn: I think this is meant for ANOVA's?

[2019-05-02 07:59] CJAB93 commented on #342
Yes, it's about the post-hoc comparison after performing an ANOVA. It would greatly improve the convenience for me (and I can only assume a lot of others) if there could be a letter-based grouping in addition to just the P-value for each comparison. Especially with a lot of comparisons (i.e. with >5 treatments) it is quite tough to manually calculate the letter-based grouping (necessary for graphs

[2019-05-02 10:19] AlexanderLyNL commented on #335
Yes, it will be included in the EFA overhaul.

[2019-05-02 10:59] isakohrlund opened #352 "JASP outputs cell comment instead of cell content"
* JASP version: 0.9
* OS name and version: Windows 10
* Analysis: - (data view)
* Bug description: When there is a comment in a cell (made in Excel), JASP outputs the comment in the data view instead of the actual cell content.
* Add JASP files as a zip:
* Screenshot:
* Expected behaviour: JASP should read the cell content, not the comment. I use comments in my original files to make notes about w

[2019-05-02 12:31] isakohrlund commented on #349
Same issue.

[2019-05-02 12:51] kairuggeri commented on #337
Wonderful, thank you!

From: Tim de Jong <notifications@github.com>
Sent: Thursday, May 2, 2019 3:30 AM
To: jasp-stats/jasp-issues <jasp-issues@noreply.github.com>
Cc: kairuggeri <dar56@cam.ac.uk>; Author <author@noreply.github.com>
Subject: Re: [jasp-stats/jasp-issues] Logistic regression plot (#337)

Thanks for reaching out to us and apologies for our delayed response!

In 0.9.2 there is a packa

[2019-05-03 08:08] FransMeerhoff commented on #349
Hello @coreysparks

Thanks for this info, and sorry for the inconvenience
Unfortunately we do not know exactly what's going on in such a case.
Sometimes one of the following actions (which are relatively easy to try) can help you out.

1. Can you try to install the Visual Studio 2017 Runtime manually?
You can find this at https://support.microsoft.com/en-us/help/2977003/the-latest-supported-visual

[2019-05-06 12:20] itaitu opened #353 "Feature Request: Multiple simple effects analysis in single ANOVA"
Hi,
Would it be possible to add an option to conduct multiple simple effects tests in a single ANOVA analysis?

For example, say i have 2X2 dataset, with first variable with levels "A" and "B" and a second with levels "1" and "2". I added an ANOVA. now, i have the option to add a simple effect analysis of the first variable in both levels of the other variable, and the opposite, **but not both at

[2019-05-07 19:45] aagejo opened #354 "PLS-SEM"
Feature request: PLS-SEM

PLS-SEM is an increasingly popular method in particular for small-N sample analysis.

I would like to have PLS-SEM in new versions of JASP. Do you currently have plans for this?

[2019-05-10 19:06] MAgojam opened #355 "Error: Failed to create OpenGL context ..."
* JASP version:  0.9.2
* OS name and version: win 7 pro (ita)

Hi All,
the technicians of my University, have updated a previous version of jasp (working) with the last 0.9.2. on a virtual machines with win 7 pro.
When students launch jasp an error message appears (see attached screenshot).
![Errore_Jasp](https://user-images.githubusercontent.com/36552289/57550511-ed80a400-7366-11e9-93bd-68ed37267

[2019-05-14 07:06] #346 closed

[2019-05-15 07:39] sujitiiml commented on #264
I am using a dataset of 27 items scale consisting of about 10000 responses. The file is in CSV format. Every time I try to visualise the network, JASP crashes and closes unexpectedly..... I am using Windows 10 with 64 bit... Using JASP 0.9.2
Attaching the screenshot and dataset...

![jasp](https://user-images.githubusercontent.com/42088066/57757204-925a0300-7712-11e9-9154-1002bde631fc.PNG)
[data.x

[2019-05-15 07:50] TimKDJ commented on #264
@sujitiiml the "Network plot" does not work correctly in 0.9.2 (basically you cannot change any input option once you select "Network plot"), but this problem is fixed in 0.9.3.

We'll release 0.9.3 in the coming weeks.

[2019-05-16 03:37] JRM2016 opened #356 "JASP will not switch between scale, nominal, and ordinal"
* JASP version:
* OS name and version:
* Analysis:
* Bug description:
* Add JASP files as a zip:
* Screenshot:
* Expected behaviour:
* Steps to reproduce:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error
I have attempted to attach the file but I can not get it to the right file type to attach so here is a pasted word for word what the error says
This analysis terminated unex

[2019-05-16 06:43] Emmagsin opened #357 "Need help with error importing 'Effect Size Standard Error'"
his analysis terminated unexpectedly.

Error in (function (class, type, ...) : Could not find message for class error and type NA

Stack trace
analysis(dataset = dataset, options = options, perform = perform, callback = the.callback, state = oldState)

.hasErrors(dataset, perform, type = c('infinity', 'observations'), custom = error_if(any(dataset[[b64(stderrName)]] <= 0), 'Non-positive standard e

[2019-05-16 15:09] JohnnyDoorn commented on #357
Hi Emmagsin,

Could you tell me which analysis you tried to run, and with which data? That way I can try to reproduce your error. I'm guessing it's meta-analysis, and there are negative standard errors in your data, but I am not sure.

Kind regards,
Johnny

[2019-05-16 15:30] TimKDJ commented on #357
@JohnnyDoorn: The problem lies in the fact that `any(dataset[[b64(stderrName)]] <= 0)` returns `NA` rather than a boolean, which `error_if()` then happily converts to `"NA"`; `.hasErrors()` assumes this is an identifier of an error message type, which it is not.

We'll have to see what sort of data causes this... because for me the check works fine.

[2019-05-16 15:34] TimKDJ commented on #356
Github is happy with .zip's -- if you could compress and attach your .jasp file that would be very helpful.

[2019-05-16 16:00] JorisGoosen commented on #355
Well, the first thing that comes to mind is installing a better video driver. However I see that you mention virtual machines. Maybe it isn't so simple there.

However, the required OpenGL version is really quite old (released 14 years ago) and it should be possible to have it in a VM. What kind of VMs are you using?
Here I run Win 10 pro in Virtual Box and that works perfectly fine.

[2019-05-16 16:13] #356 closed

[2019-05-19 10:56] MAgojam commented on #355
Hi, @JorisGoosen.
Thank you for your answer.

The VMs used in the classroom, by students, are Virtual Box with win 7 pro (ITA), with a previous version of jasp installed, which has always worked without problems.
Upgrading to jasp 0.9.2 on VMs produces the reported error.
Unfortunately, I do not have administrator rights, and I cannot intervene to understand and find a solution, but with many diff

[2019-05-19 11:39] JorisGoosen commented on #355
Hello Maurizio,

Aah, that is too bad. The problem here is that starting with 0.9.2 we have started changing the user interface of JASP to a more modern system and with the coming 0.10.0 release this will be fully implemented. Sadly enough that does mean that this new version will probably not work in the VM either...

I would like to help to fix this problem but seeing as how I do not have access

[2019-05-20 07:58] TomdeGraaf opened #358 "JASP error running repeated-measures ANOVA"
* JASP version: 0.9.0.1
* OS name and version: Max OS X High Sierra
* Analysis: repeated measures ANOVA
* Bug description: opened a csv file (attached), created 2 x 4 design, JASP reports error (and shuts down) when clicking the small arrow to add the variables to the design level.
* Add JASP files as a zip:
[TIF_beh_props.csv.zip](https://github.com/jasp-stats/jasp-issues/files/3196824/TIF_beh_pr

[2019-05-21 10:15] JorisGoosen commented on #143
The next release 0.10.0 will fix this.

[2019-05-21 10:15] #143 closed

[2019-05-21 19:14] acescos opened #359 "SEM Chi-square error result"
* JASP version: Version 0.9.2
* OS name and version: Windows 10
* Bug description: There is an error in the output of SEM.
SEM model:
`

data <- n200

ce <-

'

cause  =~ i1c + i2c + i3c

effect =~ i1e + i2e + i3e

effect ~  cause

'

fit <- sem (ce, data = data)

summary (fit)

`
Please, see script and data files:

[ce_model.txt](https://github.com/jasp-stats/jasp-issues/files/3204036/ce_model.tx

[2019-05-21 22:25] AlexanderLyNL commented on #359
Hi acescos,

Thanks for reporting this. The reason why the output of JASP differs from that of lavaan in R, is because JASP interprets variables as factors/ordinals, when they have fewer than 20 unique entries.

To get the same result, I've changed the variables type to "scale" in JASP, and now the JASP output is the same as that of lavaan in R, see the JASP file. In the next version of JASP you c

[2019-05-21 22:25] #359 closed

[2019-05-21 22:40] AlexanderLyNL commented on #358
Hi Tom,

Thanks for reporting this. The underlying problem is the interpreter has some problems with variable names that only consists of numbers. The workaround for the moment is to change the names of the variables, see the JASP file. This fixes it for the moment. This is a great use-case as in the new version, JASP will interpret these names better. I hope that this solves your problem, if not

[2019-05-21 22:40] #358 closed

[2019-05-22 11:31] #212 closed

[2019-05-23 10:56] jorancornelisse opened #360 "DBSCAN package crashes JASP"
* JASP version: https://github.com/jasp-stats/jasp-desktop/commit/b5017dbd8f9391dfa2e891b18e5873ba16c28c26
* OS name and version: MacOS Mojave 10.14
* Analysis: Density-based cluster analysis
* Bug description: When using the DBSCAN package the R-code of the package crashes

[2019-05-23 12:36] #338 closed

[2019-05-24 12:01] FransMeerhoff commented on #349
Hi @coreysparks

Can you please tell us what the status of this issue is?

Kind regards
Frans Meerhoff

[2019-05-24 14:05] jens-k opened #361 "File name is shown wrong"
* JASP version: 0.9.2
* OS name and version: Windows 7
* Analysis: doesn't matter
* Bug description: When opening a file the name of which includes dots, the file name is only shown up to the first dot. JASP seems to think this dot marks the file extension. However, only the last dot in a file name should be considered as such.
* Add JASP files as a zip:
* Screenshot:
![image](https://user-images.

[2019-05-24 14:27] jens-k opened #362 "Order of conditions is mixed up"
* JASP version: 0.9.2
* OS name and version: Windows 7
* Analysis: Repeated Measures ANOVA
* Bug description: When dragging variables into "repeated measures cells", the order of those variables is not retained but re-ordered alphabetically.
* Add JASP files as a zip:
* Screenshot:
Left: (data) the first variable of that group is "BIAS_baseline_wa".
Right: After dragging them over to "repeated mea

[2019-05-27 08:41] FransMeerhoff commented on #349
Hi @coreysparks

Please reopen this issue if the status of this issue changed, or if the problem still occurs on the new release coming soon.

Kind regards
Frans Meerhoff

[2019-05-27 08:41] #349 closed

[2019-05-27 11:50] JASPUSER09990 commented on #354
Agree. Hope JASP can support PLS-SEM.

[2019-05-27 11:53] JASPUSER09990 commented on #197
@vandenman @JorisGoosen Any follow-up news for this suggestions? The cross group comparison tests should be considered in the future versions.

[2019-05-27 11:59] JorisGoosen commented on #197
@JASPUSER09990 This issue is hardly fleshed out so I'm not really sure what follow-up there would be?

But maybe @vandenman has a different outlook?

On the other hand if you know what you want maybe you could describe it a bit more fully here than @mberlim has done.

[2019-05-27 12:16] JASPUSER09990 commented on #197
Hello @JorisGoosen Network Comparison Test (NCT) developed by van Borkulo (2018) is a way to allow researchers to conduct direct comparisons of two networks as estimated in different subpopulations. The test uses permutation testing in order to compare network structures that involve relationships between variables that are estimated from the data. The test focuses on the extent to which groups ma

[2019-05-28 07:10] meterfiller opened #363 "Ability to change the font in the results (tables and plots)"
It would help a lot to have an option to display results in other font families, particularly Times New Roman. Most of us are psychologists here, and we mostly submit in APA format which requires Times New Roman. I've spent a lot of time figuring out how to get my figures in R showing up in Times New Roman (it's easy now that I know how to do it) but I like using JASP for a mini-meta I'm working o

[2019-05-28 07:23] EJWagenmakers commented on #363
Great suggestion.
@TimKDJ : we were going to discuss the tables anyway, let's discuss this as well. Wednesday, June 5, 11:00?

[2019-05-29 10:45] DrMarkGS opened #364 "Non-parametric descriptives"
* Enhancement:
It would be useful when running non-parametric analyses to have the option to show appropriate descriptives i.e. median, median absolute deviation / IQRs.
Cheers
Mark

[2019-05-30 08:55] vicenteinefo opened #365 "Intercalas correlation coefficient"
* Enhancement: add the ICC calculation in the reliability analysis section
* Purpose: to calculate the ICC for reliability studies with multiple quantitative variables
* Use-case: in sports science is typically asses the reliability of instruments that report quantitative variables, nowadays we need to compute this calculation using other statistical packages like SPSS.

[2019-05-31 08:16] zekeqr opened #366 "Feature request: Mediation and Moderation analysis"
* Enhancement: To add mediation and moderation analysis features
* Purpose: To analyse and identify hypothetical causation (mediation) and moderation effects
* Use-case: Statistics, Psychology, Research

**Is your feature request related to a problem? Please describe.**
There are no such functions in JASP yet.

**Describe the solution you'd like**
I would like to be able to run mediation / moderat

[2019-05-31 09:31] vankesteren commented on #366
Mediation analysis is in progress! For moderation analysis we would need a bit more investigation and thought on where to put it.

[2019-05-31 10:24] zekeqr commented on #366
Good to know ! Mediation and Moderation are usually taught together (at least for my university), so maybe you could group them together as well :)

Andrew Hayes has created PROCESS, an extension of SPSS and SAS and offers it for free.
http://processmacro.org/download.html

Just a thought, perhaps it could be integrated into JASP similar to how it is being integrated into SPSS or SAS? (Not sure if

[2019-06-01 14:32] drio22 opened #367 "Error: object 'reverse' not found"
This occurs during a posthoc (Tukey) on an ANOVA  Its the only variable I have that had this error.  As a result, I am assuming it is something in my data but not sure what this means so its hard to track down.   I am using the latest version on a Windows platform. 0.9.2

[2019-06-01 15:46] AlexanderLyNL commented on #272
Yes, please discuss further here:

https://github.com/jasp-stats/jasp-issues/issues/364

In particular, regarding the ordering.

[2019-06-01 15:55] AlexanderLyNL commented on #364
So we've included the additional statistics for the next release. Does the following seem reasonable?

<img width="1360" alt="Screen Shot 2019-06-01 at 17 54 55" src="https://user-images.githubusercontent.com/10271675/58750756-6a023080-8496-11e9-869f-a264ce8b2db8.png">

[2019-06-01 17:55] #272 closed

[2019-06-01 17:55] #364 closed

[2019-06-01 18:11] DrMarkGS commented on #364
Perfect. Well done

Sent from MiPhone

On 1 Jun 2019, at 18:55, AlexanderLyNL <notifications@github.com<mailto:notifications@github.com>> wrote:

Closed #364<https://github.com/jasp-stats/jasp-issues/issues/364> via jasp-stats/jasp-desktop#3320<https://github.com/jasp-stats/jasp-desktop/pull/3320>.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on

[2019-06-02 03:23] ImproveSWB opened #368 "Incorporate r's sample and predict functions"
* Enhancement: Allow users to develop a model on a subset of data and to test the model on a holdout sample (typically named "train")
* Purpose: Current models cannot be applied against different data. Without a holdout sample, or incorporating a mechanism such as a jackknife, model fit tends to be optimistic.
* Use-case:
For users interested in developing predictive models, there is a need to be

[2019-06-02 13:58] TolgaMD commented on #206
Hello. I've recently noticed that we still don't have survival tables or KM analysis/proportional hazards on JASP. I'm VERY hopeful that JASP could solve my never-ending quest for a free and reliable biostatistics package, and I've indeed started sending papers to journals in which I've done analyses using JASP. I believe this is a super-important feature for those using this software for medical

[2019-06-02 14:48] EJWagenmakers commented on #206
Yes, this is on our agenda, and we'll prioritize this. @jstbcs, maybe something we can discuss...
E.J.

[2019-06-04 10:37] tomsalomon opened #369 "Opening .sav files with JASP on Mac OS Mojave"
* JASP version: 0.9.2
* OS name and version: Mac OS Mojave 10.14
* Analysis:
* Bug description:
When trying to open an SPSS .sav file with JAPS via double-click or 'open with', the file won't open unless JASP is already running. If JASP is running in the background double-clicking  a .sav file work

* Add JASP files as a zip:
[sav_file_JASP.zip](https://github.com/jasp-stats/jasp-issues/files/3251

[2019-06-04 11:29] vankesteren commented on #366
Thanks for the feedback, I will look into categorical mediators when I develop this.

As to your question regarding the method, I am not sure what you mean by "newer theoretical perspective". The Baron & Kenny method (causal steps) is quite old and has some theoretical downsides. I am not sure what Hayes uses in PROCESS, but in general, we will be performing mediation analysis using a structural e

[2019-06-06 08:50] JorisGoosen opened #370 "Rewrite BAIN module in JASP for CRAN package"
In the upcoming release of JASP (0.10.0) we have included the BAIN module written by @koenderks. This uses a [custom (and older) version](https://github.com/jasp-stats/BAIN-for-JASP) of [BAIN](https://github.com/cjvanlissa/bain).

It would be great if we could rewrite our interface to use the newer version, because that version is actually on CRAN and that makes life much much easier, not too ment

[2019-06-06 09:17] koenderks commented on #370
Slight comment: We would have to rewrite the R code, not the interface.

[2019-06-06 11:05] TimKDJ commented on #367
Could you attach the .jasp file where this error occurs to this issue or send it to me at t.dejong@jasp-stats.org?

[2019-06-07 07:50] martindyrba opened #371 "Blach window under REHL/CentOS 7"
* JASP version: 0.9.2
* OS name and version: CentOS 7.4 with xrdp remote display connection
* Analysis: Unsupported Qt version available in CentOS (Qt 4.8) ?
* Bug description: On our linux server, the image/GUI remains black and does not show any content. However, it is still possible to click the buttons (such as open file)...
* Add JASP files as a zip:
* Screenshot:
![grafik](https://user-image

[2019-06-08 00:31] sujitiiml opened #372 "Canonical Correlation Analysis"
Is it possible to add canonical correlation analysis to JASP ?

[2019-06-09 01:09] OliverSchultheiss opened #373 "Meta-analysis --- add meta-regression visualizations"
* Enhancement: Subgroup analysis and meta-regression plots
* Purpose: Enable

First of all, congratulations & 1000 thank-yous for creating JASP! It is a giant leap forward for stats users and teachers in terms of ease of use, integration of Bayesian methods, and integration with OSF. Goes to show that our European taxes are being put to some excellent use (I understand that development of JASP was

[2019-06-09 12:20] SterArcher opened #376 "Box plot diagrams are not showing full text on y axis"
The y axis does not show full text.
* Enhancement: Make axis customizable.
* Purpose: Ability to export data to publish in journals etc. and show them in an appropriate manner.

![image](https://user-images.githubusercontent.com/29688990/59158892-7ce1ba00-8ac1-11e9-9606-912ea32926ec.png)

[2019-06-10 15:31] Khadeejafahad opened #374 "MLM with mixed effects for categorical outcomes in SPSS"
* Enhancement:
* Purpose:
* Use-case:

**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2019-06-10 15:38] Khadeejafahad commented on #374
Hello everyone
I joined this platform today after an acquaintance mentioned this to me.
I have been struggling learn MLM with mixed effect model for categorical outcomes using SPSS. I am unable to find any tutorial for this analysis on YouTube.
I have collected level 1 data (10 answers to a question by every participant), however, level 2 data is computed from proportions of level 1 data.
Total le

[2019-06-10 18:18] performlabrit opened #375 "Cannot load rcpp"
New developer here.  Working from the latest dev branch commit 6d9636296e81861d892ac5b45fd7502a8c84d9af.

Mac Mojave 10.14.4.

Upon build, I get two (likely related) errors:

`dlopen(/Users/gjdiaz/Documents/Code/jasp-desktop/Frameworks/R.framework/Versions/3.5/Resources/library/Rcpp/libs/Rcpp.so, 6):-1: error: Library not loaded: @executable_path/../Frameworks/R.framework/Versions/3.5/Resources/li

[2019-06-10 18:39] EJWagenmakers commented on #374
Thanks for the suggestion. This is currently under development.
Cheers,
E.J.

[2019-06-11 20:22] lindeloev opened #377 "Petitesse: slow download"
This is really in the miniature-importance User eXperience-category: JASP is slow to download; ~ 350 kb/s (not a limit on my broadband). A quick download would make it possible to get JASP up and running immediately for students and collaborators. And it feels sleeker with immediate gratification!

[2019-06-11 20:51] EJWagenmakers commented on #377
Strange, it took 10 seconds for me to download, so that's about 25 MB/sec

[2019-06-11 20:59] gvleioras opened #378 "MANOVA Problem"
Hi,

I got the following problem when perfoming a MANOVA and asking for a multivariate normality assumption test:

This analysis terminated unexpectedly.

Error in .multivariateShapiroComputation(dataset, options, errors): object 'result' not found

Stack trace
analysis(jaspResults = jaspResults, dataset = dataset, options = options)

.assumptionTables(jaspResults, dataset, options, errors)

.mult

[2019-06-11 21:54] lindeloev commented on #377
Maybe it's a non-issue then. I had slow speeds at work and at home. Same is true of Jamovi, BTW, but not in general where I also see >10 MB/s usually.

[2019-06-12 06:46] AlexanderLyNL commented on #378
Hi gvleioras,

Could you please include the jasp file as a zip to this thread so we can have a look at this?

Cheers,
Alexander

[2019-06-12 07:07] mike-ology opened #379 "[REQUEST] Factor Analysis with ordinal data (polychoric correlations)"
As per the title, **it would be great to have the ability to conduct FA/CFA using ordinal data**. As most questionnaires are scored in this manner, I imagine it would be a feature that would get a lot of usage (it would from me, at least!).

Version 0.10 is looking great though, was very happy to see the option to conduct multigroup CFA's as I have just been learning how to run those in lavaan!

[2019-06-12 07:32] lindeloev opened #380 "BAIN model hypotheses errors"
Congratulations on a successful release of JASP 0.10! I noted two issues with the BAIN module hypothesis specification:

It throws an error if you do two different hypotheses involving the same variable having two different values. E.g., the second line in each of the following causes it to fail:

    Extraversion = 0
    Extraversion = 0.2

    -0.2 < Extraversion < 0.2
    -0.3 < Extraversion <

[2019-06-12 07:43] lindeloev opened #381 "UI suggestions: a more native feel"
JASP 0.10
Windows 10, 64-bit

The new JASP interface feels non-native in many ways. Here are some suggestions to make it feel more native to the OS. Sorry for putting all of this in a single issue. It's an attempt not to spam :-)

# Drop shadow
I find the drop-shadow over drop-down menus a bit confusing as it deviates from typical OS behavior. It’s as if the drop-down is not part of the button.
![

[2019-06-12 07:54] boutinb commented on #362
This is fixed with version 0.10.0

[2019-06-12 07:54] #362 closed

[2019-06-12 08:01] boutinb commented on #369
I have just tried with version 0.10.0, and it works on my Mac. Can you try with the this JASP version?

[2019-06-12 08:15] raoelg commented on #373
Hi Oliver,

Great suggestions, thanks! We will need to see how this is feasible in general, because you seem to presume having only one factor and/or one continuous moderator. We're definitely looking at including an option to extract estimated marginal means based on categorical/factor moderators.

Raoul

[2019-06-12 08:19] tomsalomon commented on #369
Hey,

I updated to version 0.10.0 and still have the same issue. sav files only open if JASP is already running in the background.
You can see a demonstration in this screen recording I made:
https://drive.google.com/file/d/1OMQeOap6B1SGg4t0unQujMn6ujp4IuK7/view?usp=sharing

Thanks!

[2019-06-12 08:54] EJWagenmakers commented on #381
Team, let's discuss each of these on Friday

[2019-06-12 09:00] FransMeerhoff commented on #375
HI @performlabrit

It seems that there is something wrong with the location of your the Frameworks location
Our build environment has the following structure all these folders on the same level:
- boost_1_64_0 (boost headers git pulled from jasp-required-files on github)
- jasp-desktop (sources cloned from jasp-desktop on github)
- build-jasp (where the actual executables are build, name given in

[2019-06-12 09:59] DrMarkGS opened #382 "Minor bug"
* JASP version: 0.10
* OS name and version: Windows & professional

* Bug description: JASP icon showing as a blank icon in the toolbar

* Screenshot:
![jasp icon not showing](https://user-images.githubusercontent.com/39003008/59342144-1519b200-8d01-11e9-8f4e-9f214280fddd.PNG)

[2019-06-12 10:08] JorisGoosen commented on #382
This remains after rebooting?

[2019-06-12 10:17] DrMarkGS commented on #382
Will let you know

[2019-06-12 10:28] DrMarkGS opened #383 "Another minor point"
Just a small point
When performing the non-parametric RMANOVA the option to run the unspecified test( I assume Friedman) is accompanied with the appropriate post-hoc test (Conovers) in the same menu. However for a normal ANOVA, Kruskal-Wallace test does not have the same type of self-contained option - but requires the user to select Dunn test in the Post hoc tests menu. Perhaps it would be better

[2019-06-12 10:37] FransMeerhoff commented on #376
Hi @SterArcher

Your enhancement request is definitely understandable, but this can only be solved right now by
reducing this very long variable name in your data. (B.T.W.  double clicking on the data panel will open your favorite spreadsheet editor to fix)
BUT, the good news, is that we are indeed busy with a more general solution to make plots editable.
In this way most plot parameters should no

[2019-06-12 10:37] #376 closed

[2019-06-12 11:26] vicenteinefo opened #384 "Between*Within interactions for mixed ANOVA"
* Enhancement:
Post-hoc test for between*within interactions in mixed ANOVA

* Purpose:
Analyse between*within interactions in mixed ANOVA

* Use-case:
The 2x2 and 3x3 mixed ANOVA are common designs in Sports Sciences

Other post-hoc test for between-between or within-within interactions are already included

**Describe the solution you'd like**

Add this option in the post-hoc test menu as did wi

[2019-06-12 11:52] JohnnyDoorn commented on #384
Hi Vicente,

Fair point, we'll look into implementing this!

Cheers,
Johnny

[2019-06-12 12:41] vicenteinefo commented on #384
Thanks for the prompt response.

I hope the update does not take long, I was waiting for this new update (0.10) with great enthusiasm and now was a little disappointing.

You are doing a great job with this fantastic app

[2019-06-12 13:06] OliverSchultheiss commented on #373
Hi Raoul,

thanks for your reply. I was not necessarily assuing that there is only one moderator. I certainly have more than one in my current meta-analysis, although I test for them one by one and not for more than one simultaneously. Not sure whether current meta-analytic techniques can even accomodate for that….

Best wishes,
Oliver

*************************************************************

[2019-06-12 15:19] performlabrit commented on #375
Frans, thanks for the feedback.  I can confirm that path pointer to rcpp.so does point to the correct location ( /Frameworks/R.framework/Versions/3.5/Resources/library/Rcpp/libs/Rcpp.so ).

The frameworks folder is at the correct level, and I am using the most recent version of required files (downloaded yesterday)

Here are two screenshots showing the directory structure:
https://imgur.com/a/Jd5w

[2019-06-12 15:40] boutinb commented on #232
@lindeloev I had a look again to this problem. The thing is that JASP is able to read Unicode (UTF-8, UTF-16 and UTF-32) encoded files, but Excel may save file with ISO encoding (ISO-9959-1) or typical Windows encoding. These encodings does not set a BOM (Byte Order Mark), and this makes quite difficult to guess which encoding was used.
I will look further, but the workaround is to save the file f

[2019-06-12 15:51] JorisGoosen commented on #377
It seems like sometimes our server has slower and faster days/times. I assume the host has some maximum on the bandwidth allowance per time-period or something like that that causes this. Or just general traffic.

[2019-06-12 16:12] performlabrit commented on #375
No luck.  Here is my directory structure:

![Screen Shot 2019-06-12 at 11 46 28 AM](https://user-images.githubusercontent.com/8962011/59366404-46e24700-8d08-11e9-8ef2-e79522b11194.png)

I still get the same issues when building (see my original post).  Here's a demonstration that the rcpp.so file is in fact in the correct location:

![Screen Shot 2019-06-12 at 12 10 52 PM](https://user-images.gith

[2019-06-12 17:12] gvleioras commented on #378
Dear JASP team,
Thank you for your reply! I attach the csv file with which I faced the problem I mentioned. The analyses I wish to run concerns the participants (N=263) that fulfil the following criteria:
Gender = Female
Incl_criteria = 1
Age_criteria = 1
I wish to run a MANOVA, with DVs the following: posr, mast, grow, acc, auto, purp and IV the Age_group [in the real analyses, I also want to inc

[2019-06-12 19:03] jens-k commented on #362
Huh, that release is packed with a bunch of great new features and bug fixes. Thanks a lot!

[2019-06-13 06:59] boutinb commented on #362
Thanks!

[2019-06-13 07:47] TimKDJ commented on #169
MANOVA was implemented in 0.10

[2019-06-13 07:47] #169 closed

[2019-06-13 07:48] TimKDJ commented on #62
MANOVA was implemented in 0.10

[2019-06-13 07:48] #62 closed

[2019-06-13 11:36] FransMeerhoff commented on #375
Hi @performlabrit

Could you please install R version 3.5.2. that's the version our Frameworks is based on.
You can find it at:
https://cran.r-project.org/bin/macosx/R-3.5.2.pkg

Kind regards
Frans Meerhoff

PS We will update the install info on github about this.

[2019-06-13 11:38] gkfb opened #385 "separate filter per analysis"
First of all, thank you very much for this great tool and the constant improvements. We have implemented JASP as primary source for teaching undergraduate courses. We encountered one issue about filters applying globally to all analyses.

* Enhancement: implement a filter option that only applies to one specific analysis step
* Purpose: retain functionality of and avoid errors in previous analyses

[2019-06-13 14:01] performlabrit commented on #375
?This did solve the problem.  Thank you for your help, Frans!

________________________________
From: FransMeerhoff <notifications@github.com>
Sent: Thursday, June 13, 2019 7:36 AM
To: jasp-stats/jasp-issues
Cc: Gabriel Diaz; Mention
Subject: Re: [jasp-stats/jasp-issues] Cannot load rcpp (#375)

Hi @performlabrit<https://github.com/performlabrit>

Could you please install R version 3.5.2. that's t

[2019-06-13 14:23] #375 closed

[2019-06-13 14:23] AlexanderLyNL commented on #375
Thanks for the feedback!

[2019-06-13 16:40] sinisalakic opened #386 "Incorrect degrees of freedom for Welch's independent t-test [JASP 0.10]"
First of all, very enthusiastic about the new version! Thanks for the hard work guys!

* JASP version: 0.10
* OS name and version: OSX 10.13.6
* Analysis: Independent samples t-test
* Bug description: When computing Welch's t-test if one selects _Confidence interval_ for standardized _Effect size_ one doesn't get the corrected number of degrees of freedom (when subsamples differ in size and variab

[2019-06-13 22:37] sinisasub commented on #386
I can verify that the same exact issue exists on the Windows version. It appears to be a new bug, I tested it on 0.9.1.0 and it works fine there. A minor bug, but something to be addressed nevertheless. Keep up the good work guys!

[2019-06-14 07:06] AlexanderLyNL commented on #386
Thank you both for figuring this out! We'll fix this.

[2019-06-14 10:22] DrMarkGS commented on #382
Fine now on restart

[2019-06-14 10:24] #382 closed

[2019-06-14 10:24] AlexanderLyNL commented on #382
Please reopen if the issue reoccurs.

[2019-06-14 12:02] MAgojam commented on #355
Hi, @JorisGoosen.

We have only updated jasp to version 0.10.0 and the reported problems have disappeared.
We are happy, because we have finally returned to be able to use jasp.

Thanks and best regards.
Maurizio

[2019-06-14 12:02] #355 closed

[2019-06-14 12:34] JorisGoosen commented on #355
Ooh that makes me happy as well, enjoy using the new version!

[2019-06-14 13:10] JorisGoosen commented on #385
This could be combined with https://github.com/jasp-stats/jasp-issues/issues/333

Perhaps one could specify multiple filters (tabbed or otherwise) and then add an option to the analysis-options where you could select the filter to use. And then if nothing is selected just use the "default" filter, which you could specify in the filters themselves somehow.

[2019-06-14 16:07] katiarolan commented on #378
Hel,

I have another problem performing MANOVA:

"This analysis terminated unexpectedly.

Error in summary.manova(manovaModel, test = thisTestType, intercept = options$includeIntercept): residuals have rank 3 < 4

Stack trace
analysis(jaspResults = jaspResults, dataset = dataset, options = options)

.manovaComputeResults(jaspResults, dataset, options, errors)

summary.manova(manovaModel, test = th

[2019-06-16 16:49] karenzagorski opened #387 "Incomplete labeling of outliers"
* JASP version: 0.10
* OS name and version:Windows, Version	10.0.17134 Build 17134
* Analysis: Side-by-Side boxplots with labeled outliers
* Bug description: Some outliers don't get labels
* Add JASP files as a zip:[bug report.zip](https://github.com/jasp-stats/jasp-issues/files/3294324/bug.report.zip)1
* Screenshot: ![1](https://user-images.githubusercontent.com/51867699/59566960-aef89c00-902c-11

[2019-06-16 19:56] meskisu opened #388 "Error in multigroup SEM"
* JASP version: 0.10
* OS name and version: Windows 10
* Analysis: Structural Equation Modeling
* Bug description: I want to perform SEM analysis in JASP and everything is OK. But I could not perform multigroup SEM analysis. When I defined my "gender" variable as grouping variable and then chose "loadings" from equality constraints, I had an bug report saying that
"This analysis terminated unexpec

[2019-06-17 12:22] JohnnyDoorn commented on #384
@boutinb fixed this issue - the next release will have mixed posthoc tests as well!

[2019-06-17 12:22] #384 closed

[2019-06-17 12:52] JohnnyDoorn commented on #386
Thanks for reporting, I fixed it and it will be in the next release.

[2019-06-17 12:52] #386 closed

[2019-06-17 13:14] AlexanderLyNL commented on #386
I did this (on my own branch) by removing the following line:

https://github.com/jasp-stats/jasp-desktop/blob/e5649a374b7753d56930b82bd007ec0d55757262/JASP-Engine/JASP/R/ttestindependentsamples.R#L351

[2019-06-17 13:15] JohnnyDoorn commented on #386
Yes, let's discuss this in person (because what you did implies something
different from what I did)

On Mon, 17 Jun 2019 at 15:14, AlexanderLyNL <notifications@github.com>
wrote:

[2019-06-17 13:57] JohnnyDoorn commented on #378
Hi @gvleioras,
Thanks for reporting - there was an issue with the way NA's were handled, which is fixed now for the next release. See attached screenshots for the results, in case you already want to have a look. (first unfiltered, then with the filters applied that you specified).

![unfilteredMANOVA](https://user-images.githubusercontent.com/15704203/59609883-8c43b180-9118-11e9-81ab-4896c1fc1e41

[2019-06-17 14:00] JohnnyDoorn commented on #378
Hi @katiarolan ,

Could you please send me your data and tell me how you triggered the error you report?
You can email it to me at j.b.vandoorn <at> uva.nl

This is probably caused by having too many columns and too few rows. Multivariate tests require more degrees of freedom than response variables. I will make the error message more informative (however, there might be other things at play here)

[2019-06-17 15:44] MaksimRudnev opened #389 "Why PCA is in "factor analysis" section?"
It's a rather old conceptual issue:
principal component analysis is not a factor analysis. It's been highlighted in virtually every recent factor analysis handbook and multiple articles. SPSS was harshly criticized for it. I realize the GUI-related concerns, but why reproducing their mistake? You could name the button "latent variables" or something alike.

JASP v.0.10

[2019-06-17 18:46] gvleioras commented on #378
Thanks !

Op ma 17 jun. 2019 om 15:57 schreef JohnnyDoorn <notifications@github.com>

--
My latest article: https://goo.gl/Bzaovq

Find me on:
https://www.researchgate.net/profile/Georgios_Vleioras
https://www.facebook.com/profile.php?id=100018622786258
https://twitter.com/gvleioras?lang=el

[2019-06-18 09:49] #91 closed

[2019-06-19 07:40] TimKDJ commented on #387
@AlexanderLyNL in your PR jasp-stats/jasp-desktop#3320 you changed the quantile algorithm type from 7 (R standard) to 6 (SPSS standard). This gives different quantiles. ggplot does not allow you to set the quantile type and by default uses type 7. I also noticed we use `quantile()` in other analyses and do not use type 6.

I think the only way to change the ggplot is to completely overwrite the bo

[2019-06-19 08:29] DrMarkGS commented on #383
To add to this it would be good to have non-parametric descriptives option to show median, MAD and IQRs
Cheers folks

[2019-06-19 11:25] EJWagenmakers commented on #387
I have a strong preference for whatever R uses over whatever SPSS uses...

[2019-06-19 12:43] TimKDJ commented on #389
@EJWagenmakers?

[2019-06-19 12:47] TimKDJ commented on #388
Can you attach the .jasp file in which this error occurs so I can take a look?
If you'd rather not share it publicly then emailing to t.dejong [at] jasp-stats.org works too

[2019-06-19 13:18] JorisGoosen commented on #371
@martindyrba have you tried the new version 0.10?

[2019-06-19 13:18] AlexanderLyNL commented on #387
Sure we can change everything from 6 to 7. Would you like to do this? Or should I?

[2019-06-19 13:20] TimKDJ commented on #387
Yeah I can do it -- I was just wondering what the best course of action was

[2019-06-19 13:22] AlexanderLyNL commented on #387
I thought that it would be good to have the output consistent with SPSS, but that doesn't seem to be the case, so let's follow the R default instead.

[2019-06-19 16:42] EJWagenmakers commented on #389
Our main concern is to use labels that allow users to find what they're looking for. I am not sure whether "Latent variables" meets that objective. The first Google hit I landed on (https://www.theanalysisfactor.com/the-fundamental-difference-between-principal-component-analysis-and-factor-analysis/) argued that both are data reduction techniques, and only factor analysis is a latent variable mode

[2019-06-19 17:54] dkp opened #390 "Jasp 0.10: results do not display"
I am comparing Jasp 0.91 to the new Jasp 0.1.0 (which I presume should be 1.0?):
I am on Mac OSX Mojave 10.14.5

In the older version of the software, results appear immediately to the right of the variables (lower panel in image) (
![Jasp_result_problem](https://user-images.githubusercontent.com/965184/59788203-15c1c380-9280-11e9-9385-dee77d688362.png)

In the new version, the results are invisib

[2019-06-19 20:16] TexasGent777 opened #391 "JASP just closes"
* JASP version: 0.9.2
* OS name and version: Windows 10
* Bug description: JASP just crashes/closes when I try to open files. As soon as I press Open>Computer>Browse, once the window comes up, the app just completely closes. No error message or anything. Just a clean, complete shutdown. It happens within seconds. I've used the pre-installed and downloaded versions of JASP 0.9.2.
* Add JASP files a

[2019-06-19 21:24] TexasGent777 commented on #391
Addendum:

Uninstalled and downloaded 0.10.0.

Same exact problem.

[2019-06-20 06:41] martindyrba commented on #371
Ok, thank you for this information. For the new version, everything seems to work fine now :)
![jasp_0 1 0](https://user-images.githubusercontent.com/51474670/59826648-02bdfa80-9337-11e9-88f5-5582f5e34308.png)

[2019-06-20 06:41] #371 closed

[2019-06-20 07:19] tomtomme commented on #225
Still looking good, yet still not in 0.10

[2019-06-20 07:29] TimKDJ commented on #225
@koenderks @vandenman can you guys add the piechart to JASPgraphs? Then we'll incorporate it in descriptives after

[2019-06-20 08:05] boutinb commented on #391
Can you set log option (Preferences/Advanced/Logging options) and send us the log file after JASP crashes?

[2019-06-20 08:07] boutinb commented on #390
Can you set log option (Preferences/Advanced/Logging options) and send us the log file?

[2019-06-20 08:55] boutinb commented on #369
This is quite strange...
Could you start JASP from the terminal like this:
      /Applications/JASP.app/Contents/MacOS/JASP datasav.sav
Do you have the same behaviour? And if yes, can you send me the output of the terminal?
Thanks

[2019-06-20 12:36] Amysbell123 opened #392 "SPSS data file won't upload in JASP"
This is the error message i got:

'Unable to open file.
Unknown record type ' ' found.
The SAV importer cannot yet read this file.
Please report this error at
https://github.com/jasp-stats/jasp-desktop/issues
including a small sample .SAV file that produces this message.'

I can not upload the SPSS file in this message either unfortunately. I have send my data file to the e-mail from the JASP webs

[2019-06-20 12:49] #378 closed

[2019-06-20 14:35] Saguaroman opened #393 ""Unable to open file -- string too long""
Hi:
I'm trying to open an SPSS file in JASP. The data file is attached.  I get the error:    "Unable to open file.  String too long".  I've deleted all the string variables from the file, deleted empty columns and a couple of variables with weird names or long variable labels, but still get the problem.  Thanks for any help you can provide.

* JASP version: 0.10
* OS name and version: Windows 7 En

[2019-06-20 14:43] TexasGent777 commented on #391
[JASP 2019-06-20 09_41_05 Engine 0.log](https://github.com/jasp-stats/jasp-issues/files/3310896/JASP.2019-06-20.09_41_05.Engine.0.log)
[JASP 2019-06-20 09_41_05 Engine 1.log](https://github.com/jasp-stats/jasp-issues/files/3310897/JASP.2019-06-20.09_41_05.Engine.1.log)
[JASP 2019-06-20 09_41_05 Engine 2.log](https://github.com/jasp-stats/jasp-issues/files/3310898/JASP.2019-06-20.09_41_05.Engine.2.

[2019-06-20 15:55] TimKDJ commented on #388
I just pushed a fix for this problem. Thanks for reporting it to us!

[2019-06-20 15:55] #388 closed

[2019-06-20 17:31] dkp commented on #390
Thank you,

I hope the attached contains what you need.

On Thu, Jun 20, 2019 at 1:07 AM bruno boutin <notifications@github.com>
wrote:

--
Dianne Patterson, Ph.D.
Research Scientist
dkp@email.arizona.edu <dkp@u.arizona.edu>
or
diannepat@gmail.com
University of Arizona
Speech and Hearing Science 314
1131 E 2nd Street, Building #71
(Just East of Harvill)
==============
If you don't hear back from m

[2019-06-20 19:05] #387 closed

[2019-06-20 23:51] MaksimRudnev opened #394 "SEM module doesn't recognize intercepts"
* JASP version: 0.10
* OS name and version: macOS
* Analysis: SEM
* Bug description: adding intercept statements like `x ~ 1` throws error and doesn't affect results

* Steps to reproduce:
The .jasp file included as an example of SEM. Turn on "Include mean structure" option. Add constraint of intercept (blue). It breaks (red).

<img width="613" alt="bug" src="https://user-images.githubusercontent.

[2019-06-21 11:21] JamesChrHarman opened #397 "Feature request: cluster and latent class analysis"
## Environment (for enhancement requests)

* Enhancement: Inclusion of two-step cluster and latent class analysis techniques
* Purpose: This would help analysts to estimate latent nominal classes in addition to the latent interval factors approximated by factor analysis.

[2019-06-21 12:02] JorisGoosen commented on #390
Hey @dkp it seems the attached file in your email didn't get pasted here on github, maybe you post it here directly?

[2019-06-21 15:43] JohnnyDoorn opened #398 "Bayesian RM ANOVA crash"
* JASP version: 0.10
* OS name and version: Manjaro
* Analysis: Bayesian RM ANOVA
* Bug description:
load bugs data -> select any grouping variable -> crash:
jasp: /usr/include/boost/signals2/detail/lwm_pthreads.hpp:60: void boost::signals2::mutex::lock(): Assertion `pthread_mutex_lock(&m_) == 0' failed.
17:41:32: The program has unexpectedly finished.

[2019-06-21 16:22] dkp commented on #390
Hopefully, this helps.

[Jasp0.1_noresults-mac.zip](https://github.com/jasp-stats/jasp-issues/files/3315306/Jasp0.1_noresults-mac.zip)

[2019-06-21 19:08] AlexanderLyNL commented on #389
I don't think that "Latent variables" is a good description for PCA. Given a covariance matrix PCA finds the eigenvalues and eigenvectors, which aren't latent variables, but a linear combination of the ones you already have.

The data are reduced by thresholding, that is, given p data columns, a p x p symmetric is computed, which has p (real) eigenvalues. These eigenvalues can be ordered by magnit

[2019-06-22 13:39] MaksimRudnev commented on #389
Indeed, PCA does not deal with latent variables in a strict sense, but neither does it with factors.

PCA is a data reduction when only part of the components is used, which is typical. FA is a data reduction only as a side effect, the primary purpose is to decompose true variance and measurement error, so SPSS's "Dimension reduction" is also quite imprecise.

"Latent" might not be a perfect label

[2019-06-22 14:02] JorisGoosen commented on #398
This is in the development version right?
Can you check if the latest version has this problem? I think I fixed it.

[2019-06-22 14:04] JorisGoosen commented on #391
Yeah, we run 5 separate processes (4 with R and 1 with the user interface) and it is useful to see what happens where.

[2019-06-22 14:05] EJWagenmakers commented on #389
Data decomposition?

[2019-06-22 14:08] JorisGoosen commented on #390
Hmm, it does look like the results get calculated perfectly well. So why is the output-window empty?

I'm afraid I do not have access to a Mac at this moment, but I will on tuesday. I will check it out then and see if we can figure out what goes wrong for you.

[2019-06-22 14:15] JorisGoosen commented on #391
It seems that the engine crashes as soon as it tries to send a message back to the user interface.

Could you try starting JASP as admin and could you check if you have enough space left on your C: drive?

[2019-06-22 14:51] JorisGoosen commented on #393
Could you try to export your file to csv from spss?

[2019-06-22 15:07] JorisGoosen commented on #393
My colleague tried to load your file in R itself and got quite a load of errors there as well. (Using ` foreign::read.spss(file="~/downloads/FRIENDS Combined SME.sav”)`)

[friendsCom.csv.zip](https://github.com/jasp-stats/jasp-issues/files/3316962/friendsCom.csv.zip)

Maybe you could work from that?
And this file does work without problems in spss?

At a minimum the following errors were found:
[c

[2019-06-22 15:15] Saguaroman commented on #393
Thanks!  Yes -- exporting to csv works.

The file does work fine in SPSS, and also, my colleague has been working with the file in R without problems.  I'll investigate further some of those errors above and see what I can find in those specific variables that might be causing problems.  Anyhow, the CSV conversion is an easy workaround; not sure why I didn't think of it!  Thanks for your help.

[2019-06-22 15:18] AlexanderLyNL commented on #393
I converted the sav file to csv via R. The errors relate to how R reads the spss file. It might be better to convert the sav file in SPSS to csv directly. Could you try that as well? And see if runs in JASP?

[2019-06-22 15:24] Saguaroman commented on #393
Yes -- I did that and it runs fine in JASP.  The errors seem to be caused by value labels in SPSS.  We have some variables that are Likert scales and so have value labels for the poles (1= strongly disagree, 5 = strongly agree) but the intermediate points all just have a period (.) as the value label. Those are being flagged above as "duplicate level."  Then there are some variables where one valu

[2019-06-22 15:29] JorisGoosen commented on #393
The above error messages were from R. JASP just seems to go wrong somewhere on appending a string but it was pretty hard to follow the error-message to it's root-cause.

[2019-06-22 15:29] JorisGoosen commented on #393
I'll now close this issue as you can now continue using your data with JASP and we are planning a rewrite of loading data into JASP anyway.

[2019-06-22 15:29] #393 closed

[2019-06-22 15:30] AlexanderLyNL commented on #393
Thanks for the feedback, as it will be helpful for when we do the rewrite.

[2019-06-22 19:24] dkp commented on #390
Many thanks.
-Dianne

On Sat, Jun 22, 2019 at 7:08 AM Joris Goosen <notifications@github.com>
wrote:

--
Dianne Patterson, Ph.D.
Research Scientist
dkp@email.arizona.edu <dkp@u.arizona.edu>
or
diannepat@gmail.com
University of Arizona
Speech and Hearing Science 314
1131 E 2nd Street, Building #71
(Just East of Harvill)
==============
If you don't hear back from me (and you expected to),
I blame th

[2019-06-23 02:02] JueGoWinDo opened #399 "Installation for Ubuntu 18.10 Cosmic"
Hello,
Would you make the installation for Ubuntu 18.10 Cosmic?
Thanks!

[2019-06-23 07:55] tomsalomon commented on #369
When I try to open via the terminal I get slightly different yet still dysfunctional behavior.
JASP opened and after 1-2 seconds closed without opening the data file.

This is the output I get on the terminal:

GVA info: Successfully connected to the Intel plugin, offline Gen75
qrc:/components/JASP/Widgets/ComputeColumnWindow.qml:330:2: QML Dialog: Binding loop detected for property "implicitWidth

[2019-06-23 08:09] tomsalomon commented on #369
I don't know if it has something to do with that - the file that could not be opened via the terminal was a file with some variable properties (e.g. categorical variables with labels).
I now tried to open a different file with just a few scale variables and it did work via the terminal!

I still get these 'HTML will be broken' warning (even though the file did open)
I attach the two files if that

[2019-06-23 08:15] tomsalomon commented on #369
Sorry for all the trouble. After another test, I figured the reason the file did not open was probably that it only had variables defined in it with no actual data. Once I filled in some random numbers it did open from the terminal (but not form Finder by double-clicking or right click ==> open with).

[2019-06-23 10:21] JorisGoosen commented on #399
Hello,

Have you tried installing the flatpak-version of JASP? This should work on Ubuntu 18.10 as well.

[2019-06-23 10:24] JorisGoosen commented on #392
We are planning on doing a rewrite of the code we use to read "foreign" data-formats, like spps's, this however will not be done even for the next release.

What you could try in the meantime is to export your data from SPSS as a "csv" file. That should import into JASP without trouble.

[2019-06-23 10:25] #377 closed

[2019-06-23 18:23] TexasGent777 commented on #391
[JASP 2019-06-23 13_21_53 Engine 0.log](https://github.com/jasp-stats/jasp-issues/files/3318387/JASP.2019-06-23.13_21_53.Engine.0.log)
[JASP 2019-06-23 13_21_53 Engine 1.log](https://github.com/jasp-stats/jasp-issues/files/3318388/JASP.2019-06-23.13_21_53.Engine.1.log)
[JASP 2019-06-23 13_21_53 Engine 2.log](https://github.com/jasp-stats/jasp-issues/files/3318389/JASP.2019-06-23.13_21_53.Engine.2.

[2019-06-24 13:27] RW22 opened #400 "Repeated measures factorial ANOVA misreading data in JASP 0.10 on MacOS"
* JASP version: 0.10
* OS name and version: MacOS 10.14.5
* Analysis: Repeated measures factorial ANOVA
* Bug description: When clicking on the triangle to 'move' the data to the repeated measures cells, the data are ordered incorrectly (new bug: was working fine in JASP 0.9.2)
* Add JASP files as a zip:
* Screenshot: First screenshot shows a 2 x 6 repeated measures ANOVA with factor A having 2 le

[2019-06-24 19:03] ibecav opened #401 "Implement a Bayesian equivalent for multinomial or chi square goodness of fit"
* Enhancement:  The frequencies tab already supports frequentists methods.  And you have a great article here https://jasp-stats.org/2018/03/06/conduct-multinomial-test-chi-square-test-jasp/ on using them.  It would be nice to have a Bayesian equivalent like the one you support for Bayesian contingency tables.

* Purpose:  To continue to support Bayesian methods alongside frequentist

* Use-case:

[2019-06-24 20:39] AlexanderLyNL commented on #401
Hi Chuck,

Thanks for the request. We just added this analysis in our newest release, version 0.10, which you can find here

https://jasp-stats.org/download/

I'll close this for now. Please reopen if something else is unclear.

Cheers,
Alexander

[2019-06-24 20:39] #401 closed

[2019-06-24 21:10] ibecav commented on #401
Thank you!

[2019-06-25 04:39] JueGoWinDo commented on #399
Hello,

Yes, but

Err:22 http://ppa.launchpad.net/jasp-uva/jasp/ubuntu cosmic Release
  404  Not Found [IP: 91.189.95.83 80]
Err:23 http://ppa.launchpad.net/marutter/c2d4u3.5/ubuntu cosmic Release
  404  Not Found [IP: 91.189.95.83 80]

It would seem that the files for Cosmic are missing.

[2019-06-25 08:04] JorisGoosen commented on #399
Well, the PPA is not the same as flatpak. PPA relies on files in Ubuntu and the ones we need are outdated.

Perhaps you could make sure you have flatpak installed [flatpak on ubuntu](https://flatpak.org/setup/Ubuntu/) and then follow the flatpak install-instructions of JASP, which are basically opening a terminal and running `flatpak install http://static.jasp-stats.org/flatpak/JASP.flatpakref`.

[2019-06-25 10:43] juliusverrel commented on #137
Any news on this?

[2019-06-25 10:49] juliusverrel commented on #279
This would be extremely useful. As an alternative (or temporary) solution, it would be useful to have an option to export mean and dispersion (SE, SD, CI, ...) as a table, for plotting in a different program.

[2019-06-25 12:20] TimKDJ commented on #394
I pushed a fix for this; thanks for letting us know

[2019-06-25 14:47] boutinb commented on #400
Fix in 0.10.1

[2019-06-25 14:47] #400 closed

[2019-06-25 15:53] boutinb commented on #369
But the file you sent me had data in it. It was another file?

[2019-06-25 15:56] boutinb commented on #381
Drop shadow & Click titles in popup menu would be solved in 0.10.1

[2019-06-25 16:13] boutinb commented on #361
Solved in 0.10.1

[2019-06-25 16:13] #361 closed

[2019-06-26 08:42] #394 closed

[2019-06-26 10:45] RW22 commented on #400
Wow, that was fast. Thanks!

JASP is an excellent application and I very much appreciate the work you
and all the others put into it.

On Tue, Jun 25, 2019 at 12:18 PM bruno boutin <notifications@github.com>
wrote:

[2019-06-26 12:13] JueGoWinDo commented on #399
Hi JorisGoosen
I have followed your directions, but see below

Version 1 (without final dot)
flatpak install http://static.jasp-stats.org/flatpak/JASP.flatpakref
error: No such ref 'app/org.jasp.JASP/i386/master' in remote jasp-origin

Version 2 (with final dot)
flatpak install http://static.jasp-stats.org/flatpak/JASP.flatpakref.
Looking for matches…
error: No remote refs found similar to ‘http:/

[2019-06-26 12:21] JorisGoosen commented on #399
Aah, you are running 32bit... We haven't distributed that for linux because I was kind of expecting that nobody used it anymore.

We are planning to do a new release next week. I can make sure that we also supply a 32bit version then.

[2019-06-26 19:21] thesaw123 opened #402 "Jasp crashes, and causes my system to crash. I have uninstalled and reinstalled but is does not function"
* JASP version:
* OS name and version:
* Analysis:
* Bug description:
* Add JASP files as a zip:
* Screenshot:
* Expected behaviour:
* Steps to reproduce:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

[2019-06-26 19:23] thesaw123 commented on #391
I am having this same problem.  Any solutions yet?

[2019-06-26 19:40] thesaw123 opened #403 "Jasp freezes and hardrive goes to 90-100% when I start the program. analysis function grayed out"
* JASP version:
* OS name and version:
* Analysis:
* Bug description:
* Add JASP files as a zip:
* Screenshot:
* Expected behaviour:
* Steps to reproduce:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

[2019-06-26 19:49] thesaw123 commented on #403
![Screenshot 2019-06-26 12 35 42](https://user-images.githubusercontent.com/52257824/60209468-9a2bbd80-980f-11e9-8515-cc3808f0f713.png)
I have installed version 0.10 of Jasp.  Initially it ran fine, however, after running a few analysis it began to act buggy.  It would either freeze up or the analysis would be blank.  Then it began crashing as soon as I tried to open a file, and now it will not ev

[2019-06-27 08:34] JorisGoosen commented on #403
Hey so there is a small bug with the welcome-page turning white after a fail in loading a file. And because the file isn't loaded the analyses are greyed out.

[2019-06-27 09:02] JorisGoosen commented on #402
Duplicate of https://github.com/jasp-stats/jasp-issues/issues/391

[2019-06-27 09:02] #402 closed

[2019-06-27 09:03] JorisGoosen commented on #402
And if it is not, then please flesh out this issue to give a fuller description of the problem.

[2019-06-27 09:03] #398 closed

[2019-06-29 03:47] JueGoWinDo commented on #399
Hi JorisGoosen
Thank you very much!

[2019-06-30 15:34] JorisGoosen commented on #391
I'm thinking that to figure out what goes wrong here JASP needs to log something more. The upcoming release of this week can include some more diagnostic logging. Because right now I am at a loss as to what goes wrong.

[2019-07-01 09:49] vankesteren commented on #103
This is implemented in the CFA function in SEM since JASP version 0.10!

[2019-07-01 09:49] #103 closed

[2019-07-01 12:03] oildrop opened #404 "Repeated Contrasts"
* JASP version: 0.10
* OS name and version: Mac Mojave
* Analysis: Repeated Contrast of RM Data
* Bug description:

Hello, I'm not sure if this is a bug or a decision intentionally made, but when I run a RM ANOVA and then choose Repeated Contrast, the output seems to Pool the Error Term.

For instance, in SPSS, using the attached file, if I treat each column as a separate level and then run a Repe

[2019-07-01 13:39] LillianEmilieMeryl opened #405 "Solved: Font book -> File -> Restore standard fonts. Repeated measures ANOVA with covariate: Descriptive plots error"
* JASP version: 1.0.1
* OS name and version: Mac Moave, 10.14.5
* Analysis: terminated unexpectedly.
* Bug description: When I run a repeated measures anova with covariate JASP does not show me the descriptive plot. It was no problem in the previous version with the same steps/same file. Here is the error mesage:

lapply(vps, push.vp, recording)

FUN(X[[i]], ...)

push.vp.vpTree(X[[i]], ...)

push

[2019-07-01 15:05] JorisGoosen commented on #173
I am assuming this is fixed now

[2019-07-01 15:05] #173 closed

[2019-07-01 22:38] markcrookrumsey opened #406 "JASP 0.10: Network analysis layout no longer fixable by data."
* JASP version: 0.10
* OS name and version: Windows 10 Enterprise
* Analysis: Network Analysis
* Bug description:

JASP 0.9 allowed the ability to fixed nodes to a certain position when performing network analysis. However, although 'data' button is still there under graphical options -> Layout, there is no way of putting the x & y positions in.

![image](https://user-images.githubusercontent.com/

[2019-07-02 07:44] TimKDJ commented on #406
@vandenman was this changed?

[2019-07-02 07:50] TimKDJ commented on #405
Usually this problem occurs when there is something wrong with the fonts in your font book.
Can you try the following to see if that fixes your problem:

Open `Font Book` -> `File` -> `Restore standard Fonts`

[2019-07-02 07:50] TimKDJ commented on #404
@JohnnyDoorn?

[2019-07-02 07:59] vandenman commented on #406
@TimKDJ I think the rewrite to qml messed up the input for a data based layout, see the attached screenshot of jasp 0.10.0 (left) and jasp 0.9.1 (right).

![afbeelding](https://user-images.githubusercontent.com/21319932/60494864-94b6f300-9ca7-11e9-9fce-7948c0b9a34d.png)

[2019-07-02 08:01] LillianEmilieMeryl commented on #405
Thank you so much! I enables the Arial family and now it works perfectly again!!!
All the best
Lillian

From: Tim de Jong <notifications@github.com>
Reply-To: jasp-stats/jasp-issues <reply@reply.github.com>
Date: Tuesday, 2 July 2019 at 09:50
To: jasp-stats/jasp-issues <jasp-issues@noreply.github.com>
Cc: Lillian Döllinger <lillian.dollinger@psychology.su.se>, Author <author@noreply.github.com>
Su

[2019-07-02 08:02] AlexanderLyNL commented on #405
Thanks for letting us know that it got fixed!

[2019-07-02 08:02] #405 closed

[2019-07-02 08:11] TimKDJ commented on #406
Eh. Yeah. There's a bit missing there.
I can add it again

[2019-07-02 08:25] TimKDJ commented on #406
We also no longer have parallel bootstrapping; is this by design?

[2019-07-02 09:28] #406 closed

[2019-07-02 09:29] TimKDJ commented on #406
@markcrookrumsey in the next release of JASP this feature will be available again. We recently did a big rework of the analysis input forms and this one slipped through the cracks. Thanks for notifying us!

[2019-07-02 11:37] JorisGoosen commented on #390
Hey @dpk,

I have started JASP many times over the last couple of days and have not yet seen the same problem as you have... Have you tried running JASP again? Perhaps it was a fluke.

However, I would of course like to help you more but, short of you coming here, it is hard to think of a way to debug this problem.

[2019-07-02 14:49] JorisGoosen opened #407 "Cyrillic Text messed up in MatrixPlot axis"
In the current release candidate for 0.10.1.0 and probably 0.10.0.0 as well there is a problem in the Correlation Plot of Descriptives when Cyrillic (and probably other non-ascii chars) are used in the names.
Other plots have no problem.

See: ![CyrillicMessesUpMatrixPlot](https://user-images.githubusercontent.com/29062713/60522455-4d515680-9ce9-11e9-9ee4-74bcc874ffba.png)

To test this: [Cyrillic

[2019-07-02 14:51] #367 closed

[2019-07-02 14:54] JorisGoosen commented on #357
@Emmagsin could you upload this data for us?

[2019-07-02 15:00] JorisGoosen commented on #350
Hey @thepunitsingh, we are migrating towards doing all distribution through flatpak because Ubuntu updates it's packages incredibly slowly.

The TLS error you had is actually on the `https://cloud.r-project.org/bin/linux/ubuntu bionic-cran35/ Release` PPA which is not in fact ours. So if it gives a problem we cannot help with that.

But apparently flatpak works for you seeing as how you state "the

[2019-07-02 15:00] #350 closed

[2019-07-02 15:02] JorisGoosen commented on #313
I am closing this issue because I am assuming the latest release of JASP (0.10.0.0) should work for you.

If not, feel free to reopen this issue.

[2019-07-02 15:02] #313 closed

[2019-07-02 15:02] JorisGoosen commented on #319
Too long without a response.

[2019-07-02 15:02] #319 closed

[2019-07-02 15:03] #325 closed

[2019-07-02 15:13] JorisGoosen commented on #348
Hey @fabien-tell, could you try the new 0.10.0.0 version?

[2019-07-02 15:23] JorisGoosen commented on #344
This seems to work fine now

[2019-07-02 15:23] #344 closed

[2019-07-02 15:47] JorisGoosen commented on #285
So I've been trying hard to get flathub to accept JASP in: https://github.com/flathub/flathub/pull/1035
There seems to be a problem with the screenshots there, but hopefully this will be fixed and at that point it will also be clear what version was used to build the current JASP version.

But I figure this issue can be closed now.

[2019-07-02 15:47] #285 closed

[2019-07-02 15:48] JorisGoosen commented on #339
Is this in 0.10.?.0?

[2019-07-02 15:49] #274 closed

[2019-07-02 15:51] JorisGoosen commented on #233
@brianmsm could you try the new release of JASP? Hopefully it is fixed there!

Otherwise, feel free to reopen this issue.

[2019-07-02 15:51] #233 closed

[2019-07-02 15:56] JorisGoosen commented on #234
This results from the fact that your data was interpreted in the first case a scalar value (aka a real value that has decimals) and therefore can be binned in what here appear to be segments of 0.5 wide.

However, as you state, your data is in fact ordinal, and when you change the variabletype to reflect that the histogram shows what you expect. This would be my solution for you in any case ;)

[2019-07-02 15:56] #234 closed

[2019-07-02 15:59] #224 closed

[2019-07-02 15:59] #223 closed

[2019-07-02 16:01] JorisGoosen commented on #222
@kevinvschie @pdf1337 @hyunsooseol @WiednerF am I correct in assuming that the latest release of 0.10.0.0 fixes your problems?

If not, feel free to reopen this issue.

[2019-07-02 16:01] #222 closed

[2019-07-02 16:01] JorisGoosen commented on #221
This should no longer be a problem as we have completely replaced the file menu in 0.10.0.0

[2019-07-02 16:01] #221 closed

[2019-07-02 16:02] #208 closed

[2019-07-02 16:02] #207 closed

[2019-07-02 16:04] #196 closed

[2019-07-02 16:04] JorisGoosen commented on #183
Hopefully the latest release of 0.10.0.0 fixed this problem completely by removing the task bar at all times ;)

[2019-07-02 16:04] #183 closed

[2019-07-02 16:06] JorisGoosen commented on #182
@GerineL Hopefully the problem is gone now with the newest release.

On the other hand, it sounds like the analyses were still running perhaps? Seeing as how this is all quite a while ago I will close this issue now. But in case the problems persist, feel free to reopen this issue.

[2019-07-02 16:06] #182 closed

[2019-07-02 16:32] dkp commented on #390
Thanks for trying.  Obviously you can't do much if you cannot reproduce it.
I'll try a complete wipe and reinstall at some point.

-Dianne

On Tue, Jul 2, 2019 at 4:37 AM Joris Goosen <notifications@github.com>
wrote:

--
Dianne Patterson, Ph.D.
Research Scientist
dkp@email.arizona.edu <dkp@u.arizona.edu>
or
diannepat@gmail.com
University of Arizona
Speech and Hearing Science 314
1131 E 2nd Street

[2019-07-02 17:08] markovendelin commented on #285
Good luck with building for Flathub! Thank you very much for doing it!

[2019-07-02 17:10] AlexanderLyNL commented on #390
Thanks for getting back to us. Please open a new issue if the problem resurfaces.

[2019-07-02 20:42] cs726 commented on #362
I have upgraded to version 0.10.0 and still have this same problem on MacOS High Sierra version 10.13.6.

[2019-07-03 06:20] thepunitsingh commented on #350
Thanks for pointing that the TSL error is not from your end. Is the terminal message mentioned in my previous comment normal?

[2019-07-03 06:38] CJAB93 commented on #342
Any chance this could be implemented? @JohnnyDoorn

Puzzling out those significance levels manually is quite a pain...

[2019-07-03 08:02] JorisGoosen commented on #350
Well, most of the messages are completely bening. The only one where I have some doubts is the
[code]
But if JASP opens up then those don't mean anything really, it just seems to be trying out video drivers.

[2019-07-03 08:05] #149 closed

[2019-07-03 08:05] JorisGoosen commented on #161
I am going to assume the new version works, if not, feel free to reopen this issue.

[2019-07-03 08:05] #161 closed

[2019-07-03 08:06] #174 closed

[2019-07-03 08:07] JorisGoosen commented on #177
@OscarLecuona have you perhaps tried the new 0.10.0.0 version?
Maybe that one works, if not, feel free to reopen this issue.

[2019-07-03 08:07] #177 closed

[2019-07-03 08:19] JorisGoosen commented on #135
@lklende I was just looking at some cyrillic in plots and it seemed that now we have that correct for most plots. So I'm assuming that scandinavian characters also work. The only plot where there still seems to be a problem is in a large matrix-plot for correlations and I have opened another issue for that.

So I'll be closing this issue now, and thanks again for kind words.

[2019-07-03 08:19] #135 closed

[2019-07-03 08:20] JorisGoosen commented on #138
Seeing as how this issue does not actually give us a suggestion on how to make printing easier and I have the feeling that exporting the results to HTML, opening them in a webbrowser and printing should probably work fine; I'll close this issue.

[2019-07-03 08:20] #138 closed

[2019-07-03 08:24] JorisGoosen commented on #146
@Crom60 we would still like to help but have had some more reports of crashing on opening a file.
I was wondering, would you care to try the latest version (0.10.0.0) and could you try to open a file from the data library? Maybe that works and then the problem is in the browsing window.

Or even better, the problem has disappeared which would be the best outcome of course.

[2019-07-03 08:25] JorisGoosen commented on #125
The latest version (at least) supports copying tables as LateX.

[2019-07-03 08:25] #125 closed

[2019-07-03 08:27] JorisGoosen commented on #178
Current version has scaling for the entire application, either from preferences or ctrl+- (zoom out), ctrl++ or ctrl+= (zoom in), ctrl+0 (reset zoom)

[2019-07-03 08:27] #178 closed

[2019-07-03 08:32] JorisGoosen commented on #30
Good issue!
I have moved it to another private issue-tracker though.

[2019-07-03 08:32] #30 closed

[2019-07-03 08:33] JorisGoosen commented on #31
This only makes sense for date/time converted strings and they should definitely be ordinal then. But the underlying datatype need not be a string.

[2019-07-03 08:33] #31 closed

[2019-07-03 08:34] JorisGoosen commented on #171
Without the csv file we cannot take a look at this.

[2019-07-03 08:34] #171 closed

[2019-07-03 08:35] JorisGoosen commented on #168
This was more than a year ago.

[2019-07-03 08:35] #168 closed

[2019-07-03 08:36] JorisGoosen commented on #167
Hopefully the newest version of JASP (0.10.0.0) fixed these problems for you. If not, feel free to reopen this issue.

[2019-07-03 08:36] #167 closed

[2019-07-03 08:49] JorisGoosen commented on #66
Ok, with the new white/transparent feature almost all plots have a switchable background. Only the matrixplot (Correlation Plot in Descriptives) still has a small issue:
<img width="886" alt="Schermafbeelding 2019-07-03 om 10 46 37" src="https://user-images.githubusercontent.com/29062713/60577609-f0ed4600-9d7f-11e9-88f7-c720218af41c.png">

The subplots do not become transparent, while the overall

[2019-07-03 08:49] #66 closed

[2019-07-03 08:49] JorisGoosen commented on #407
As noted in https://github.com/jasp-stats/jasp-issues/issues/66#issuecomment-508002310:
The background of the subplots stays white, might be nice to fix that as well when you are at it.

See:
<img width="886" alt="Schermafbeelding 2019-07-03 om 10 46 37" src="https://user-images.githubusercontent.com/29062713/60577609-f0ed4600-9d7f-11e9-88f7-c720218af41c.png">

[2019-07-03 08:53] JorisGoosen commented on #70
@akashrajkn is this done?

[2019-07-03 09:07] JorisGoosen commented on #58
It seems there is no longer any problem here except for combinatorial explosion, which indicates I can close this issue.

[2019-07-03 09:07] #58 closed

[2019-07-03 09:08] JorisGoosen commented on #56
Most of the plots should now be fixed, except for an exception (as far as I can see) in: https://github.com/jasp-stats/jasp-issues/issues/407

[2019-07-03 09:08] #56 closed

[2019-07-03 09:09] JorisGoosen commented on #57
If I run this in the latest version of JASP (0.10.0.0) refreshing the analysis fills up the missing values so the problem seems to be fixed.

[2019-07-03 09:09] #57 closed

[2019-07-03 09:10] JorisGoosen commented on #39
@boutinb do we do this now?

[2019-07-03 11:05] jwrschultz commented on #390
Hello,

I am having exactly the same problem as Dianne (same OS and JASP version; no results shown in the panel, but they appear when exported). I guess this is simply a display problem on Mac. I understand that it is hard to understand where the problem comes from if you cannot replicate it. Please let me know if I can do anything to help you figure out how it occurs. I will revert to using JASP

[2019-07-03 11:09] jwrschultz opened #408 "Results panel empty using JASP 0.10 on MacOS Mojave"
Hello,

I am having the identical problem as posted in issue #390 (same MacOS and JASP version; Results panel empty, but results appear when exported). I guess this is simply a display problem on Mac. I understand that it is hard to understand where the problem comes from if you cannot replicate it. Please let me know if I can do anything to help you figure out how it occurs. I will revert to usin

[2019-07-03 11:29] JorisGoosen commented on #408
Hey thanks for posting this here, I will just reopen the original issue then. To keep all info together.

[2019-07-03 11:29] #408 closed

[2019-07-03 11:40] JorisGoosen commented on #390
Well, there is something either of you could do.

Perhaps you could start JASP from a terminal as follows: `/Applications/JASP.app/Contents/MacOS/JASP --remote-debugging-port=1234` and then open chrome or chromium and then go to `localhost:1234`. There you should see two entries a la:
![Schermafbeelding 2019-07-03 om 13 32 04](https://user-images.githubusercontent.com/29062713/60588381-205b7d00-9d

[2019-07-03 12:03] jens-k commented on #362
Still having the same problems with version 0.10 (on Windows 10), although only in particular cases:

List of variables:
![image](https://user-images.githubusercontent.com/10050167/60589855-c066d580-9d9a-11e9-8bbd-2bc15d440452.png)

After dragging over to Repeated Measures Cells:
![image](https://user-images.githubusercontent.com/10050167/60589877-d1afe200-9d9a-11e9-978c-fbcdcfd5bd82.png)

The pro

[2019-07-03 13:17] tomsalomon commented on #369
Hey, sorry for the delayed response.
In the zip I added have two files (attached here again):
[SPSS_files.zip](https://github.com/jasp-stats/jasp-issues/files/3355100/SPSS_files.zip)

1. Works.sav - have data in it. Can open through the terminal.
2. Doesnt_work.sav - have only variable defined, without fille data. Cannot be opened by JASP in any way.

Neither one of the files can open JASP with a

[2019-07-03 13:25] JorisGoosen commented on #369
Thank you!

We will see what we can do

[2019-07-03 13:31] JorisGoosen commented on #352
Could you add the file you are trying to load or some other simple example ods for us?

[2019-07-04 07:27] jwrschultz commented on #390
Hi Joris,

Great, thanks! I did that: JASP started fine from the console, I got the debug info pages in Chrome, and whenever I added or removed an independent variable of my analysis, I can see in the debug-info page “div" in <div class="jasp-report" style="opacity: 1;"> and in <div id="id-8" class="jasp-analysis selected" style="opacity: 1;"> become highlighted, but still no results are displayed

[2019-07-04 08:11] JorisGoosen commented on #390
I've taken the liberty to put your output here and format it a bit.
[code]

[2019-07-04 08:13] JorisGoosen commented on #390
So it seems that the resultsviewer does function somehow. It only doesn't show it...

[2019-07-04 09:15] JorisGoosen commented on #390
So I've thought of a possible fix, it does make JASP a bit less responsive, although the analysis-runtime should not be affected.

To that end I've made a test-installer of 0.10.0.0 with software rendering enabled:
http://static.jasp-stats.org/Nightlies/MacOS/JASP-nightly-softwareRender-dd7d2a4ab8cd082794de67942e7f90d7761a3631.dmg

Maybe @dpk or @jwrschultz can try this out and see if the output n

[2019-07-04 09:51] jwrschultz commented on #390
I have tried it just now and it works! The results are now clearly displayed. JASP is indeed (much) less responsive when starting and opening a file, but it still responds as quickly as before to changes in the analysis. Thank you for the very quick resolution of the issue!

[2019-07-04 09:59] JorisGoosen commented on #390
Aah great that you at least can use JASP now!

This is not a very good solution though, because it should be quick and snappy. So I'll be brooding on a better solution.

[2019-07-04 10:44] JorisGoosen opened #409 "Missing labels in JASP file crash on load"
If you try to load a JASP file that misses the labels for some of the values in the data the application crashes hard.

This is bad, so I suggest that instead of crashing hard it should log the fact that it couldn't find it and then simply show missing-value, aka nothing.

Or maybe it is better to simply show the value as Label in that case?

What do @boutinb @AlexanderLyNL @TimKDJ think?

[2019-07-04 10:47] TimKDJ commented on #409
I think showing the value as label makes sense. (I'm assuming otherwise the value is treated as missing entirely?)

[2019-07-04 10:53] JorisGoosen commented on #409
Yeah the value isn't accessible anymore...

It's better to just show the value as Label, but I'll have to see how that fits into the file-loading.

[2019-07-04 12:26] smathot commented on #409
Thanks for picking up on this so quickly! @JorisGoosen sent me a fixed version of the `.jasp` file that triggered this issue initially. And yes, that fixed version does open as you'd expect.

[2019-07-04 12:29] JorisGoosen commented on #409
And in this file, I noticed that for instance in the column the first rows of "education" are all 0, was that originally the case?

[2019-07-04 12:38] smathot commented on #409
No, the data is garbled actually. There seem to be 0 values that are pushing the real values down, if that makes sense.

[2019-07-04 12:39] JorisGoosen commented on #409
That makes sense, and is not that good.

So, in what version of JASP did you make this file? And can you still open it in that version?

[2019-07-04 12:41] smathot commented on #409
I think I made it in 0.9.2 also installed through flatpak. Do you know how I can downgrade to that version?

[2019-07-04 13:06] JorisGoosen commented on #409
See https://github.com/flatpak/flatpak/wiki/Tips-&-Tricks#downgrading

[2019-07-04 13:11] JorisGoosen commented on #409
I have also sent you a pm on cogsci with a new resaved version of your data. the education column should now be fine. I wonder though what was originally on the first 7 columns of distracted and what on the rest.

[2019-07-04 13:28] isakohrlund commented on #352
Sorry for not responding earlier. I can upload something once I'm back from
my vacation in August. You should be able to replicate it though. Just add
a comment to a cell in Excel, save, open in JASP and see what it outputs in
the data view.

Best regards
Isak

Den ons 3 juli 2019 15:31Joris Goosen <notifications@github.com> skrev:

[2019-07-04 14:00] Musing-about commented on #366
To follow up on your post, @vankesteren: Hayes’ PROCESS macro for SPSS uses the "modern approach", i.e., it calculates a*b and constructs a bootstrap confidence interval. However, it doesn’t use SEM to calculate the paths a and b, but OLS regression instead. Which leads me to the question: Will JASP’s new functionality allow to choose between SEM and OLS regression to analyse mediation effects? I

[2019-07-04 14:55] JorisGoosen commented on #352
Well, I do not have excel so that would be pretty hard but I will see your example file here when you get back.

Enjoy your vacation! ;)

[2019-07-04 16:38] dkp commented on #390
Thank you both VERY much!
-Dianne

On Thu, Jul 4, 2019 at 2:59 AM Joris Goosen <notifications@github.com>
wrote:

--
Dianne Patterson, Ph.D.
Research Scientist
dkp@email.arizona.edu <dkp@u.arizona.edu>
or
diannepat@gmail.com
University of Arizona
Speech and Hearing Science 314
1131 E 2nd Street, Building #71
(Just East of Harvill)
==============
If you don't hear back from me (and you expected to)

[2019-07-04 19:11] JorisGoosen commented on #390
You are welcome!

And I'll just add an option to the next JASP where you can switch to software rendering so that it doesn't require a special installer. As a failsafe option while I search for the real solution.

[2019-07-04 21:57] NikitaKhromov-Borisov commented on #390
I have met a problem with the installation of JASP 0.10. When I try to launch (to start, to run) it, the empty working windows appears. With the previous version 0.9.2.0 all is OK.
![image](https://user-images.githubusercontent.com/16406847/60688714-99ee8a80-9ebf-11e9-92fb-19bb416d0672.png)
Nikita

[2019-07-04 23:46] Crom60 commented on #146
The problem still seems to exist. However, I am able to open a file form
the data library.

On Wed, Jul 3, 2019 at 4:24 AM Joris Goosen <notifications@github.com>
wrote:

--
Thomas C. Hatvany

[2019-07-05 07:39] smathot commented on #409
The data is still garbled. I sent you the `.csv` so you can see what it should look like. I'm not sure it's worth getting to the bottom of this though; who knows what garbled this? That doesn't necessarily need to have been JASP. As long as JASP deals more gracefully with these types of situations, then that seems like a good solution to me already.

[2019-07-05 08:50] fabien-tell commented on #348
I just tried. I got this error message

Gtk-Message: 10:48:34.294: Failed to load module "appmenu-gtk-module"
Gtk-Message: 10:48:34.295: Failed to load module "canberra-gtk-module"
QGLXContext: Failed to create dummy context
WebEngineContext used before QtWebEngine::initialize() or OpenGL context creation failed.
qrc:/components/JASP/Widgets/ComputeColumnWindow.qml:330:2: QML Dialog: Binding loop

[2019-07-05 09:29] JorisGoosen opened #410 "Safe Graphics mode"
Their have been some issues with the opengl context of JASP ( #390, #348) and for this I've tried out if turning on software rendering at least allows people with buggy openGL to use JASP.

This seems to be the case.

So I would suggest adding a mode to JASP where it starts in this mode, it should be available as an option under advanced in the preferences. It should also be a commandline argument

[2019-07-05 10:52] vankesteren commented on #339
no!

[2019-07-05 11:51] MaksimRudnev commented on #339
I have checked "Additional fit measures" in v.0.10. The tables with CFi, RMSEA etc. update in line with _the last_ model rather than than all the models. Chi-square and information criteria are shown for several models.

![image](https://user-images.githubusercontent.com/29795088/60720618-3e55e880-9f23-11e9-8f15-f7ec4f098d57.png)

![image](https://user-images.githubusercontent.com/29795088/6072060

[2019-07-07 15:12] Astulhofer opened #411 "Would be great to add expected influence 'centrality' in the network analysis module."
* Enhancement:
* Purpose:
* Use-case:

**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2019-07-08 09:35] BehrensF opened #412 "PCA - correlation or covariance matrix"
Hi,
I am currently trying to run a PCA in JASP. I am new to this method, but from what I have read, you can normally choose between basing your analysis on a correlation or covariance matrix. I do not see this option in JASP or can find any information about which method JASP is using as a default. Do you have any information on that?

Best,
Friederike

[2019-07-08 10:19] JohnnyDoorn commented on #342
Hi @CJAB93,

Thanks for your suggestion. Just to clarify, would you like to just be able to sort the table by significance? And how would this relate to letters?

Cheers,
Johnny

[2019-07-08 10:22] JohnnyDoorn commented on #404
Hi @oildrop,

Yes, adding the option to (un)pool the error term for RM ANOVA contrasts is still on my todo list. I will get to this during the rewrite process.

Cheers,
Johnny

[2019-07-08 10:58] CJAB93 commented on #342
Hi,

Thanks for your response.

What I would like is the following. If I analyse my data with JASP (ANOVA followed by Tukey post-hoc test) I get the following:
![afbeelding](https://user-images.githubusercontent.com/49509367/60804586-27f79900-a17e-11e9-8e75-0ea08f376d7a.png)

If I perform the same analysis using R, I get two things that I like: asterisks showing significance level, and letters sho

[2019-07-08 14:23] JohnnyDoorn commented on #342
Thanks for explaining!
One question still: It seems that those groups are automatically created - what package is it that outputs those groups?

[2019-07-08 18:24] NikitaKhromov-Borisov opened #413 "Contradictory results for the paired and one sample test"
* JASP version: 0.9.2
* OS name and version: Win 10
* Analysis: Paired sample t-test (PST) and One sample test (OST)
* Bug description: PST gives contradictory results. For the Wilcoxon test ES = -0.03 with  95% CI from -0.27 to 0.21 with p = 0.0007, but for t-test ES = 0.35 with 95% CI from 0.13 to 0.57 and p = 0.002.
At the same time, OST for the same data expressed as paired differences for the

[2019-07-08 20:23] mac2393 commented on #126
I just asked about this again today at SIPS2019. Is there a place in preferences to set.seed()?

[2019-07-09 08:49] JPAXG opened #414 "Some analysis broke"
This analysis terminated unexpectedly.

Error in ggplot2::theme(panel.grid.minor = ggplot2::element_blank(), plot.title = ggplot2::element_text(size = 18), : argument formel 'axis.line' correspondant à plusieurs arguments fournis

Stack trace
analysis(dataset = NULL, options = options, perform = perform, callback = the.callback)

.screePlot(dataset, options, perform)

To receive assistance with th

[2019-07-09 09:09] JorisGoosen commented on #390
@NikitaKhromov-Borisov I made a windows version with [slower safer graphics](static.jasp-stats.org/Nightlies/Windows/JASP-nightly-softwareRender-dd7d2a4ab8cd082794de67942e7f90d7761a3631.msi) for you,  could you try it out?

[2019-07-09 09:10] JorisGoosen commented on #414
Hello @JAPXG

Did you read the template for this bug report?

Maybe you could give us some information on what you are trying to do.

Like, which analysis, what data you are using, which version of JASP etcetera.

[2019-07-09 15:38] #410 closed

[2019-07-09 15:38] JorisGoosen commented on #390
In the new version there will be a "Safe Graphics" option that will do the same thing as this special installer does.

[2019-07-09 15:43] JorisGoosen commented on #348
This week (fingers crossed) we will release a new version which will include Safe Graphics, which might allow you to at least use JASP.

[2019-07-09 17:11] jwrschultz commented on #390
Great, thanks very much for taking care of this!
Cheers
Johannes

[2019-07-10 09:40] vankesteren commented on #412
JASP uses the correlation matrix! Would you want to have the option to base your analysis on the covariance matrix? We might be able to implement that soon :)

[2019-07-10 09:41] BehrensF commented on #412
Thanks!
Yes, that would be fantastic if the option could be implemented :)

[2019-07-10 09:45] vankesteren commented on #412
We use the `principal` function of the `psych` package. You can find more information [here](https://www.rdocumentation.org/packages/psych/versions/1.8.12/topics/principal#l_details)

[2019-07-10 10:23] vankesteren commented on #122
We have this now! not sure when this became available exactly though.

[2019-07-10 10:23] #122 closed

[2019-07-10 10:23] vankesteren commented on #97
As of JASP 0.10, we have CFA!

[2019-07-10 10:23] #97 closed

[2019-07-10 10:58] vankesteren commented on #354
Note to self: once it has a stable release, we can use the `cSEM` package by @M-E-Rademaker and @FloSchuberth for this ([link](https://github.com/M-E-Rademaker/cSEM)).

[2019-07-10 13:28] #409 closed

[2019-07-10 13:47] MAgojam opened #415 "JASPEngine.exe - System error"
* JASP version: 0.10.1.0 (32 bit)
* OS name and version: win10 pro (ITA - 32 bit)
* Screenshot:
![ScreenShot](https://user-images.githubusercontent.com/36552289/60972579-d50d1580-a326-11e9-838e-9a1969542658.png)

Hi, @JorisGoosen.
Some of my students, who use Lenovo L530 (32 bit) laptops with Win10 pro (ITA) have installed jasp from: [http://static.jasp-stats.org/Nightlies/Windows32/JASP-nightly-d

[2019-07-10 14:24] JohnnyDoorn commented on #413
The effect sizes ignored the ties in your data, so that's why the results are not symmetric. Your effect size for Wilcoxon should have been 0.4727195. I updated the calculations and it should be correct in the next version!

[2019-07-10 14:24] #413 closed

[2019-07-10 14:37] JorisGoosen commented on #415
Hello Maurizio,

I will take a look tomorrow, I have an idea what went wrong.

[2019-07-11 10:37] MAgojam commented on #415
Hi, @JorisGoosen.
Now works!

Thank you very much for your attention and quick intervention to resolve the reported problem.
My students also thank you, because they are happy to be able to use their 32-bit PCs, with an updated and increasingly attractive jasp.

Cheers,
Maurizio

[2019-07-11 10:37] #415 closed

[2019-07-11 11:28] JorisGoosen commented on #415
Thank you very much for the kind words!

[2019-07-11 14:10] #414 closed

[2019-07-12 10:02] JorisGoosen opened #416 "Descriptives with Nominal Text bug in Correlation Plot"
The title says it all, [bluh.csv](https://github.com/jasp-stats/jasp-issues/files/3385968/bluh.csv.zip) was used and results in:
![problemDescriptives](https://user-images.githubusercontent.com/29062713/61120220-be88ca80-a49c-11e9-9045-6a233a21c474.png)

@vandenman you just looked at this plot right? Maybe you have a quick fix?
Or @TimKDJ?

Not sure if this is important enough to hold up the relea

[2019-07-12 10:06] p-deli opened #417 "Switching data type from scale to ordinal or nominal sets data in column/variable to zero"
* JASP version: 0.10.0
* OS name and version: macOS Mojave (10.14.5)
* Analysis: n/a
* Bug description: When switching variable type from Scale to Ordinal or Nominal sets all data in that column to 0 (zero) but only if data is made of "0.5" and "-0.5" (or "0.4" and "-0.4", or "0.4", "0", and "-0.6", etc.). With a mixture of data such as "0", "0.6", "-0.4", "1", etc. in the same variable/coumn ther

[2019-07-12 10:14] TimKDJ commented on #416
It works fine for me on freshly rebased debug version.
Can you reproduce this @vandenman?

[2019-07-12 10:18] JorisGoosen commented on #416
Aaaaah!

I am running R 3.6.0 here. So that is the problem then.

[2019-07-12 10:18] #416 closed

[2019-07-12 10:22] AlexanderLyNL commented on #416
Any idea why it breaks down with R 3.6.0 and not with 3.5.2? This might be valuable information for once we upgrade to R 3.6.1

https://www.r-bloggers.com/r-3-6-1-is-now-available/

[2019-07-12 10:26] TimKDJ commented on #416
They deprecated calling `var()` on a factor. We'll have to avoid doing that when we move to 3.6.0.
They are already warning for this behaviour in 3.5.2:
[code]

[2019-07-12 10:33] JorisGoosen commented on #416
This should crop up in the unit-test when we switch R versions then so it will be hard to avoid.

[2019-07-12 12:05] vandenman commented on #416
I could reproduce it (because I was running R 3.6.0 on Ubuntu). I only have a quick and dirty fix because more appropriate solutions would require me to rewrite large parts of descriptives.

[2019-07-12 15:32] boutinb commented on #417
This is solved in 0.10.1 (next week): if you have a column with doubles, you can then transform it from scale to nominal, but not to ordinal (only if the values are integers). It will not set the values to 0 anymore!

[2019-07-12 15:32] #417 closed

[2019-07-12 15:32] boutinb commented on #407
Solved on 0.10.1 (next week)

[2019-07-12 15:32] #407 closed

[2019-07-12 21:35] #399 closed

[2019-07-14 19:40] DmitryPrigodich commented on #391
Same with me: Ubuntu 19.04, installed from flatpak, as PPA were not working.
Launching from console gives such info:
[code]
And some more added:
[code]

[2019-07-15 19:03] EJWagenmakers opened #418 "Live from workshop in Chili: Summary Stats crashes!"
For many participants, opening "Bayesian independent samples t-test" in the Summary Stats Module makes JASP crash hard. Screenshots to follow. Seems a problem mostly for the Mac, but also on some windows machines.
E.J.

[2019-07-15 19:09] MaartenMarsman commented on #418
Here is a screenshot on the issue from my machine (OSX).

<img width="1248" alt="Screenshot 2019-07-15 at 15 01 03" src="https://user-images.githubusercontent.com/52934067/61241867-6fe46600-a712-11e9-9d2e-fc32f7680a23.png">

[2019-07-15 19:27] AlexanderLyNL commented on #418
Thanks for reporting this, could you please send us the log files? Joris added this option into it. The log files can be activated as follows:

![logging](https://user-images.githubusercontent.com/10271675/61243021-5d385400-a747-11e9-8299-49b0792ced63.gif)

[2019-07-15 19:34] MaartenMarsman commented on #418
Here it is.

[JASP 2019-07-15 15_28_58 Desktop.log](https://github.com/jasp-stats/jasp-issues/files/3393874/JASP.2019-07-15.15_28_58.Desktop.log)

[2019-07-15 20:14] MaartenMarsman opened #419 "Two problems with Bayesian Linear Regression."
I use the "life expectancy" dataset on the latest JASP version (0.10.1).

Here is the output from BLG:

<img width="908" alt="Screenshot 2019-07-15 at 16 04 30" src="https://user-images.githubusercontent.com/52934067/61245650-fd2bb880-a71a-11e9-963d-04a54bef1a84.png">

Observe that (1) the Null-model is not included in the list, and (2) that the prior model probabilities do not add up to one.

Now

[2019-07-15 20:25] MaartenMarsman commented on #419
OK, I see now that there is a limit to no. of models. That explains why in the first case the PMP's do not add to one. Apologies for my confusion. I do want to add that it is a bit strange that we include 10 models with the option "compare against best", excluding the null, but 11 models with the option "compare against null", which includes the null. It's a choice, but still.

The issue with incl

[2019-07-15 21:53] AlexanderLyNL commented on #418
The tech team look more into this. Could you please do me a favour and check whether this error also occurs in version 0.10.0?

https://jasp-stats.org/previous-versions/

[2019-07-15 21:56] AlexanderLyNL commented on #419
Could you please add the JASP file? Is this in version 0.10.1? The info requested in the issue's template provides us with a bit more insight on this.

[2019-07-15 22:09] EJWagenmakers commented on #419
Yes it is in 0.10.1. The data set is in the library so it should be straightforward to check this.
@vandenman : I think we should do a little more to prevent Maarten's confusion that there are only 10 models. This can be accomplished most easily by the following actions:
1. Perhaps, when the best 10 models are shown, the table can have a footnote, for instance:
NB. Table displays only a subset of

[2019-07-15 22:12] EJWagenmakers commented on #418
At the workshop, participants reported that it was *not* a problem for 0.9.2. Not sure about 0.10.0. I cannot check this myself because it works fine on my laptop (all versions). Also, one Mac user reported that it did not crash when she tried it a second time (! this seems really weird).

[2019-07-15 23:09] JorisGoosen commented on #399
@JueGoWinDo I'm uploading the new version of JASP now, including a 32bit build. maybe you can try it out by calling `flatpak update && flatpak install org.jaspstats.JASP` ?

[2019-07-16 01:10] SamZebrado commented on #179
Looking forward to this change:) Keeping click same set of buttons is "driving me crazy"... Well

[2019-07-16 02:04] EJWagenmakers commented on #179
Yes, this is something we discussed, right, @boutinb?

[2019-07-16 06:41] vandenman commented on #419
@TimKDJ I suppose these suggestions are probably best incorporated in https://github.com/jasp-stats/jasp-desktop/pull/3028 ?

[2019-07-16 08:05] SvenHeimbuch opened #420 "Character encoding issues in Mediation module"
* JASP version: 0.10.1 (flatpak)
* OS name and version: Arch Linux
* Analysis: Mediation
* Bug description: Weird Characters instead of variable names
* Expected behaviour: "Normal" characters
* Steps to reproduce:
1. Go to 'Open - Data Library - Regression - Adam Sandler'
2. Click on 'SEM - Mediation'
3. Put 'Year' as Predictor - 'Box Office' as Mediator - 'Freshness' as Outcome
4. It is reproduc

[2019-07-16 08:09] TimKDJ commented on #419
Yes, I'll take care of it

[2019-07-16 08:13] TimKDJ commented on #418
Could you attach the other logfiles that are in the folder as well? There should be several

[2019-07-16 08:28] TimKDJ commented on #418
Never mind, I can reproduce the problem

[2019-07-16 08:50] p-deli commented on #417
@boutinb 👍 thank you very much for this excellent news!

[2019-07-16 09:07] TimKDJ commented on #418
We have a fix for this and we'll upload a new version later today

[2019-07-16 10:29] JorisGoosen commented on #390
Yeah this should be fixed for real at some point.

[2019-07-17 09:29] #418 closed

[2019-07-17 10:20] ArranReader opened #421 "Ranked alternative to Bayesian paired samples t-test"
JASP currently provides a 'non-parametric' alternative with the Bayesian independent samples t-test (Mann-Whitney). Would it be possible to implement a ranked version (e.g., Wilcoxon) of the paired samples t-test for within-subjects designs?

[2019-07-17 11:06] konstantinakilteni commented on #421
That would be very useful indeed!

[2019-07-17 15:49] EJWagenmakers opened #422 "Refer to GitHub page on crash?"
It would perhaps be nice if, when JASP crashes, the user is attended to the fact that this can be reported on our GitHub page...

At a minimum, we could add this information to the message that "JASP needs to close"

Cheers,
E.J.

[2019-07-17 15:51] EJWagenmakers commented on #422
...now the box says "if you could report your experience to the JASP team that would be appreciated" (or something similar). What happens is that people send emails to report their experience, but we really want them to use GitHub instead...

[2019-07-18 00:47] EJWagenmakers commented on #421
Yes, @JohnnyDoorn has already developed the theory and the R code, and the JASP implementation is high on our to-do list!
E.J.

[2019-07-18 07:00] SvenHeimbuch commented on #420
Still present in JASP for Linux flatpak 0.10.2 and on Windows 0.10.1.

[2019-07-18 07:00] CJAB93 commented on #342
@JohnnyDoorn Sorry forgot to respond! The R-package that creates those letters is multcompView. (multcompView::multcompLetters). The grouping is based on the (significant) p-values...I do not know how to explain it better than in the above post(s). I suppose researching the package would help you better than my explanations (https://cran.r-project.org/web/packages/multcompView/multcompView.pdf).

[2019-07-18 08:44] ArranReader commented on #421
Fantastic - thank you for all your hard work!

[2019-07-18 11:52] JorisGoosen commented on #348
@fabien-tell 0.10.2 is released and it includes safe graphics, if you start it as: `flatpak run org.jaspstats.JASP --safeGraphics` maybe that works for you?

[2019-07-18 11:52] #192 closed

[2019-07-18 11:53] #191 closed

[2019-07-18 11:56] JorisGoosen commented on #146
@Crom60  maybe the new version works? And if it doesnt maybe you could open a new issue for your actual problem, because this issue is actually about it not starting on Windows 10.

[2019-07-18 11:56] JorisGoosen commented on #65
I will close this issue as it actually depends on #340 and if that is resolved this issue will no longer occur.

[2019-07-18 11:56] #65 closed

[2019-07-18 11:58] TimKDJ commented on #419
@MaartenMarsman I can't reproduce your issue with regards to the double null model.
What steps do I have to take to obtain this sitation?

I tried the following:
-> Add "adverts" to Dependent
-> Add "sales" & "airplay" to Covariates
-> Add the interaction of "sales" with "airplay"
-> Tick random boxes (bayes factor, order, limit no models shown)

But in all cases I only see a single null model.

[2019-07-18 14:58] JorisGoosen commented on #422
The messagebox now has a "[Report](https://jasp-stats.org/bug-reports/)" and "Exit" button.

Text is:
[code]

[2019-07-18 14:58] #422 closed

[2019-07-18 14:58] #102 closed

[2019-07-18 14:58] JorisGoosen commented on #369
Fixed

[2019-07-18 14:58] #369 closed

[2019-07-18 14:59] #147 closed

[2019-07-18 15:19] EJWagenmakers commented on #422
Suggested minor tweak in the text, final sentence:

We would be grateful if you could report this error to the JASP team.

[2019-07-18 17:06] gkruger1 commented on #420
Also present in JASP 0.10.2 for Mac.

[2019-07-18 18:44] MAgojam opened #423 "Filetype .jasp is not supported!"
* JASP version: 0.10.2
* OS name and version: win 10Pro 64bit (ITA)
* Screenshot:
![Screenshot_20190718](https://user-images.githubusercontent.com/36552289/61483136-7a199500-a99c-11e9-9f0d-c8d86732918a.png)

Hi, @JorisGoosen.
I'm still here asking for your help.

As you can see from the attached screenshot, the last jasp update does not seem to recognize the .jasp file type.
This is done with rece

[2019-07-18 23:36] luisbm1634 opened #424 "JASP freezing on launch [WORKAROUND SEE tkasci's COMMENT]"
* JASP version: 0.10.2
* OS name and version: MacOS Mojave
* Analysis: None
* Bug description: JASP 0.10.2 freezes for up to a minute on launch. The entire OS is unavailable during this period - no open program responds to mouse clicks, I can't use keyboard shortcut to open the force quit applications window, etc. If I have activity monitor open when I launch JASP then activity monitor also stops

[2019-07-19 08:06] TimKDJ commented on #423
Judging by the build date of your JASP version you downloaded a development version (or "nightly"). These versions incorporate our very latest code changes and aren't well tested.
I would recommend you download the release version from https://jasp-stats.org/download/ instead -- this one doesn't have the issue you describe.

If you like living on the bleeding edge, then the latest development buil

[2019-07-19 08:11] #423 closed

[2019-07-19 09:41] JorisGoosen commented on #423
@MAgojam and all the fixes needed to run on all your students vms are in 0.10.2 (the latest release).

[2019-07-19 10:29] JorisGoosen commented on #424
Hmm, on startup the engines load some R-packages, maybe some of the new packages we added have a startup-sequence that is heavy on older macs.

@djdekker  and @luisbm1634, how old are your macs (or which type are they exactly)?

[2019-07-19 10:33] JorisGoosen commented on #200
@haevalencia do you perhaps have an example file for us? I've just added ReadStat to JASP for enhanced importing capabilities but I'm not sure yet if zsav is supported and would like to test it.

[2019-07-19 12:18] luisbm1634 commented on #424
Hi Joris,

I have a 2017 13 inch MacBook Pro with a 3.1 GHz Intel Core i5 and 8 GB
LPDDR3 memory.

On Fri, Jul 19, 2019 at 6:29 AM Joris Goosen <notifications@github.com>
wrote:

[2019-07-19 12:52] JorisGoosen commented on #424
Well, that doesn't sound too bad actually. We'll have to find somebody at UvA with something similar to figure out what is making JASP startup so slow or freeze.

@MyrtheV do you see the same on your mac with the new version?

[2019-07-19 13:39] vandenman commented on #419
It need not be the null model:
![afbeelding](https://user-images.githubusercontent.com/21319932/61539186-f5189500-aa08-11e9-916c-482c183d66e4.png)

Here the .jasp file:

[doubleModelBayLinReg.zip](https://github.com/jasp-stats/jasp-issues/files/3411281/doubleModelBayLinReg.zip)

let me know if that still doesn't reproduce the issue!

[2019-07-19 14:10] ibecav opened #425 "Bayesian Mann-Whitney unstable BF estimates and performance revisited #289 & #299"
**Thanks for all the hard work and continuing improvement on JASP.**

* JASP version: 0.10.2
* OS name and version: MacOS 10.14.5 (mojave)
* Analysis: Bayesian Independent samples t-test (Mann Whitney)
* Bug description: Issues #289 & #299 are closed and I agree they are partially solved but hopeful for more improvement and clarification.

* Dataset for reproducibility sake (ggplot2::mpg) filtered

[2019-07-19 16:14] ibecav commented on #425
A quick follow-on thought.  In light of evidence that at least with frequentists methods a ttest against ranked data yields the same conclusions as a MW especially as sample size grows would it make sense to aim users with larger data sets in that direction rather than the computational pain of doing it the "correct way"?  **_I'm not at all sure and not complaining_** just looking for practical so

[2019-07-19 16:17] EJWagenmakers commented on #425
Would be interesting to see the degree to which approximately the same results obtain when N grows large (and ties are impossible, or not too abundant)
E.J.

[2019-07-19 16:21] ibecav commented on #425
Sadly for my work, ties tend to be abundant. That's why I'm interested in the drivers for performance and practical solutions/work-arounds.  Thanks for the quick response and great work by you and your team.

[2019-07-19 16:23] AM886jpg opened #426 "Issue to run "network" on JASP"
Hello,
i am actually having a lot of issues to use JASP, i have a chromebook. I cant run Jasp through linux, so i tried on rollapp. It works until i try the network analysis. Each time, i'm trying to use the nework analysis it is said : "there is no package called bootnet". I also tried with the premium version of rollapp. Still the same : network analysis crashed.

Can somebody help me ti underst

[2019-07-19 16:38] SterArcher opened #427 "Confidence interval on descriptive analysis"
* Enhancement: Confidence intervals (CI) when one is doing descriptive stats
* Purpose: enable doing it in descriptive stats not under other other tests (like it says in the manual)
* Use-case: Posting confidence intervals with your results (for now I have to use other programs to calculate those).

[2019-07-19 17:04] EJWagenmakers commented on #427
The problem here is that a CI is an inference on a model parameter. Do you wish to assume that we are dealing with estimating a single normal mean, such that y_i ~ N(mu,sigma)? But the values may be counts, or ratios, or variances...We do provide the standard error and a QQ plot, but I'm not sure we want to move to a CI...maybe if we use the bootstrap things will work out automatically...
EJ

[2019-07-19 17:44] djdekker commented on #424
Hi Joris,
I have got a 2017 iMac 3.4 GHz Intel Core i5 with 8GB of RAM.

[2019-07-19 20:51] haevalencia commented on #200
@JorisGoosen At the moment I do not have an active SPSS license and the current files have confidential information, but I found this repo that can be useful.
https://github.com/diazbastian/spss-sample-documents/tree/master/data-files

[2019-07-20 09:07] SterArcher commented on #427
I am not that much into statistics (I am a med student) and I cannot give you the answer in technical terms. The problem is that you have to post CI with your results and if there is no option like that in descriptive stats (like in other programs) you have to hustle with workarounds. I have posted screenshot of the descriptive stats dialog in prism 8.

<img width="586" alt="image" src="https://us

[2019-07-22 09:34] gibbona1 opened #428 "Contingency Tables blurry text for variables in the "Columns" field"
* JASP version: 0.10.2.0
* OS name and version: Windows 10
* Analysis: Contingency Tables
* Bug description: Any variables put in the columns field have blurry text, in the initial window opened.
* Add JASP files as a zip:
[Contingency Tables Blurry.zip](https://github.com/jasp-stats/jasp-issues/files/3416574/Contingency.Tables.Blurry.zip)

* Screenshot:
![Screenshot 2019-07-22 11 25 02](https://u

[2019-07-22 10:11] PeterKlaren opened #429 "Installing multiple versions of JASP"
I guess a simple question... Installed JASP 0.10.0.0 on a new pc, but cannot seem to be able to install v 0.9.2.0 as well. JASP's msi comes up with the message that a more recent version is already installed. When I change the order of installing, v 0.10.0.0 overrides v 0.9.2.0.

I would like to run both versions as I use v 0.9.2.0 for two statistics courses. It runs well on our faculty's servers.

[2019-07-22 10:49] MaartenMarsman commented on #419
Hi,

I can reproduce it as follows. Start with empty model, adverts as dependent. Then go to down to model. Select both sales and airplay (using the command button on Mac) and add them simultaneously. Attached also the jasp file (I changed the file extension from .jasp to .zip for Github..)

Best, Maarten

[Album Sales.zip](https://github.com/jasp-stats/jasp-issues/files/3416879/Album.Sales.zip)

[2019-07-22 14:14] MyrtheV commented on #424
I don't have this issue, but I am on macOS Sierra.

[2019-07-22 14:30] JorisGoosen commented on #424
Hmm, maybe this is related to some changes me & @boutinb made to synching datafiles and the engines. I will have to take a closer look to the changes and how they migt effect a Mac when I am working on one again.

[2019-07-22 14:33] JorisGoosen commented on #429
Hey @PeterKlaren you could install a zipped version of JASP.
The [previous version can be found here](https://jasp-stats.org/previous-versions) and for 0.9.2 there are specific links to [the 64bit version](https://static.jasp-stats.org/JASP-0.9.2.0-64-bit.msi) and [the 32bit version](https://static.jasp-stats.org/JASP-0.9.2.0-32-bit.msi).

[2019-07-22 14:33] #429 closed

[2019-07-22 14:35] JorisGoosen commented on #426
It seems the rollapp version misses a specific package.

@EJWagenmakers when did you want to notify the RollApp people of the new release of JASP? Maybe that would already solve this problem.

[2019-07-22 18:41] DmitryPrigodich commented on #391
@JorisGoosen Well, launching after update shows this and tries to show me the window but fails.
`
flatpak run org.jaspstats.JASP

Gtk-Message: 21:36:08.566: Failed to load module "canberra-gtk-module"
Gtk-Message: 21:36:08.566: Failed to load module "canberra-gtk-module"
QGLXContext: Failed to create dummy context
WebEngineContext used before QtWebEngine::initialize() or OpenGL context creation fa

[2019-07-23 06:37] lilianjansbeken opened #430 "Text not correctly visible in the output"
* JASP version: 0.10.2.0
* OS name and version: Windows 10 Home, version 1803, Build 17134.885
* Analysis:
* Bug description: When opening a .sav file, text is not correctly visible in the output
[SPSSfile.zip](https://github.com/jasp-stats/jasp-issues/files/3420538/SPSSfile.zip)

* Add JASP files as a zip:
* Screenshot:
<img width="247" alt="2019-07-23 (1)" src="https://user-images.githubusercont

[2019-07-23 08:37] tomtomme commented on #225
Thanks for the merge. However, I can't find a piechart option in jasp 0.10.2

[2019-07-23 08:47] TimKDJ commented on #225
Yeah for now we just added the plotting functionality internally; we still need to implement it in descriptives. We're in the middle of a restructure of our analysis code which takes up a lot of our time, but hopefully we get around to it soon!

[2019-07-23 08:50] JorisGoosen commented on #420
Also happens here: https://github.com/jasp-stats/jasp-issues/issues/430

[2019-07-23 08:50] JorisGoosen commented on #430
This is a duplicate of #420

[2019-07-23 08:50] #430 closed

[2019-07-23 08:52] tomtomme commented on #225
ok thanks for the heads up!

[2019-07-24 02:36] ajestudillo commented on #385
I would love to see a feature like that implemented.

[2019-07-24 04:07] ajestudillo opened #431 "post hoc comparisons after repeated measures anova. Same Mean differences, t and p values for all the comparisons"
* JASP version: 0.10.2
* OS name and version: Windows 10
* Analysis: post hoc comparison after repeated measures anova
* Bug description: the mean difference, standard error,  t value and p value for all my comparisons is identical, despite that looking at the descriptives and graphs, the differences between conditions are clear. Also, regardless of the kind of corrction, the p value is always the

[2019-07-24 08:30] vit-trebicky commented on #420
Me too. JASP ver 0.10.2, Win10PRO in Czech. File opened from SPSS .sav file.

[2019-07-24 08:35] vankesteren commented on #420
This has now been fixed in development.

__Workaround__
Make sure your variable names don't start with a capital letter. Weird fix but ok 🤷‍♂

[2019-07-24 13:53] JohnnyDoorn commented on #431
Hi @ajestudillo

I tried to replicate your issue on my version, and when I remove your model terms (in the "model" submenu) and posthoc terms (in the "post hoc tests" menu), and then add them again, I get the proper posthoc table. Can you try doing that and see if that works? There is some internal issue in the analysis with refreshing the results I think, but this might fix it.

Kind regards,
Joh

[2019-07-24 14:13] ajestudillo commented on #431
Hi @JohnnyDoorn

Thanks for your reply. Unfortunately, it didn't work for me. In fact, in a very similar analysis with a completely different dataset, I have the same problem.

[2019-07-24 14:50] p-deli opened #432 ""Unfortunately the plot could not be resized" only if Contrasts are invoked in ANOVA"
* JASP version: 0.10.1
* OS name and version: macOS Mojave version 10.14.6 (18G84)
* Analysis: ANOVA
* Bug description: When releasing the mouse after having resized the Descriptives Plot I get a "Unfortunately the plot could not be resized. Error message: no plot object was found" and the graph is not resized.
* Add JASP files as a zip: none
* Screenshot: none
* Expected behaviour: That the graph

[2019-07-24 20:24] Jiheene opened #433 "Non parametric tests JASP"
Hello everyone,

I am a french student.

I have a question about the non-parametric test of JASP (Wilcoxon, Kruskal-Wallis, Friedman...).

Do we have to calculate the ranks (sum of ranks...) ? Or organise the data (in ranks) ?

Or is it an operation performed automatically by JASP before performing the calculations ?

Thank you a lot for our aids!

* JASP version: JASP 0.10.0.0
* Analysis: Kruskal

[2019-07-25 06:35] SvenHeimbuch commented on #420
Thanks for the workaround. I can confirm that it works. :-)

[2019-07-25 07:53] TimKDJ commented on #432
Thanks for making us aware of this issue. I can indeed reproduce the problem on my machine.
@JohnnyDoorn I'm going to assume this will be fixed as a by-product of your analysis rewrite. Good to still check it though.

[2019-07-25 11:27] SvenHeimbuch opened #434 "Opening a jasp file with filters on results in error"
* JASP version: 0.10.2 (flatpak)
* OS name and version: Arch Linux with flatpak 1.4.2 (but also the same on Windows 10)
* Analysis: Bayesian ANOVA
* Bug description: Reopen a .jasp file with filters applied results in error (see screenshot). "Refresh All" brings the results back.
* Add JASP files as a zip: [singers-filtered.zip](https://github.com/jasp-stats/jasp-issues/files/3431226/singers-filte

[2019-07-25 12:01] EJWagenmakers commented on #433
This is automatically performed by JASP, you do not need to do anything.
E.J.

[2019-07-25 12:01] #433 closed

[2019-07-25 13:01] Jiheene commented on #433
Thank you a lot for our response! :)

[2019-07-25 13:55] mjkofler commented on #424
I also have this issue with 0.10.2. After the initial 1 minute or so when my whole system is unresponsive, it also freezes for shorter durations when opening files. Altogether it takes about 5 minutes to open JASP and get a dataset open ... "ok, who installed the SPSS module?" :-)

macOS Mojave 2.9 GHz Intel i7, 16 GB RAM, Radeon Pro 460 4 GB + Intel HD Graphics 530 1536 MB

[2019-07-26 02:56] ajestudillo commented on #431
Something weird. I tried from another computer and at first I didn't have this issue. But when I repeated the analysis all the values are again the same.

[2019-07-26 12:57] tkasci commented on #424
Same issue here, JASP 10.2, 2016 Macbook Pro, OSX 10.14.6.

One quick fix I found out: run JASP from the command line. Open a Terminal and paste this:
`/Applications/JASP.app/Contents/MacOS/JASP` - when I do this, the app starts normally without freezing.

[2019-07-26 16:07] liviayul opened #435 "Problem in running mediation"
* JASP version: 0.10.2
* OS name and version: OS Mojave 10. 14.5
* Analysis:
* Bug description: JASP is automatically closed every time I run mediation analysis; the name of the variables cannot be shown in result
* Add JASP files as a zip:
* Screenshot:

![Screen Shot 2019-07-26 at 20 44 29](https://user-images.githubusercontent.com/53347634/61965314-14f81c00-affa-11e9-986e-3714a1eae73e.png)

* E

[2019-07-27 06:10] sujitiiml commented on #199
Is there any way to compute node predictability using network analysis module of JASP ?

[2019-07-27 11:04] JorisGoosen commented on #424
@tkasci that is quite a good find!

@mjkofler, @djdekker or/and @luisbm1634 is this the same on your systems?

[2019-07-27 11:15] JorisGoosen commented on #348
@DmitryPrigodich  had the same problem with flatpak. See https://github.com/jasp-stats/jasp-issues/issues/391#issuecomment-513904961

[2019-07-27 11:16] JorisGoosen commented on #391
@DmitryPrigodich it is probably easier if we continue this in issue #348.

@TexasGent777 or @thesaw123 could either of you try to run the new 0.10.2 version and send us the logfiles (if the problem persists of course)?

[2019-07-27 11:17] JorisGoosen commented on #348
@DmitryPrigodich, you are running the latest drivers for you graphics cards?

[2019-07-27 11:19] JorisGoosen commented on #348
Oh and maybe you and @fabien-tell  can try to install the package `mesa-utils` and then run `glxgears` to see if you actually have OpenGL support at all.

[2019-07-27 11:59] JorisGoosen commented on #434
This issue is already fixed in the current development version.

[2019-07-27 11:59] #434 closed

[2019-07-27 15:42] mjkofler commented on #424
This works for me  - JASP opens quickly when opened via Terminal (/Applications/JASP.app/Contents/MacOS/JASP). Thanks @tkasci !

[2019-07-27 15:44] luisbm1634 commented on #424
This also works for me. Good workaround!

On Sat, Jul 27, 2019 at 11:42 AM mjkofler <notifications@github.com> wrote:

[2019-07-27 16:15] mjkofler commented on #424
In case it helps, when I started JASP via command line it returned the following:

qrc:/components/JASP/Widgets/ComputeColumnWindow.qml:330:2: QML Dialog: Binding loop detected for property "implicitWidth"
qrc:/components/JASP/Widgets/ComputeColumnWindow.qml:330:2: QML Dialog: Binding loop detected for property "implicitWidth"
qrc:/components/JASP/Widgets/FilterWindow.qml:362:4: QML Dialog: Bindin

[2019-07-27 18:21] djdekker commented on #424
@JorisGoosen I won't have access to my Mac for a couple of weeks. I'll try as soon as I'm back.

[2019-07-29 07:27] AlexanderLyNL commented on #435
Could you please add the jasp file as a zip to this thread so we can look into this more easily?

[2019-07-29 09:57] vankesteren commented on #435
Probably this has to do with #420, which has been fixed for the next version. See also the workaround there

[2019-07-29 14:18] liviayul commented on #435
[Data LCC.jasp.zip](https://github.com/jasp-stats/jasp-issues/files/3442696/Data.LCC.jasp.zip)
Yes, please. Thanks very much

[2019-07-29 15:21] AlexanderLyNL commented on #435
Hi Liviayul,

I can confirm two vankesteren's point:
- For your current version of JASP (v0.10.2): Once the first letter is changed to a lower case, mediation shows the names properly. Sorry for this inconvenience. For your convenience, I've added the adjusted JASP file as a zip:
[Data LCC sMall fIrstLetter.jasp.zip](https://github.com/jasp-stats/jasp-issues/files/3442962/Data.LCC.sMall.fIrstLette

[2019-07-30 06:55] liviayul commented on #435
Dear vankesteren and AlexanderLyNL,

Many thanks!!! Yup, it is solved.

[2019-07-30 06:57] #435 closed

[2019-07-30 07:58] #420 closed

[2019-07-30 11:03] tultimatte commented on #363
I would like to second that :)
Thank you very much,
Daniel

[2019-07-30 17:47] Bevers1 commented on #298
Hello!

Just wondering if this issue is still being looked at? I am looking to possibly switch my undergraduate teaching to JASP this September and visualizing data is going to be a key part of the course.

Currently this is difficult when the obvious way of teaching scatterplots will be "descriptives --> Correlation plot", or "regression --> correlation matrix", but then in both options it displa

[2019-07-30 19:44] EJWagenmakers commented on #298
OK let's look into this. First, with the Adam Sandler data set, I get this when I use Descriptives -> Correlation plot:
![image](https://user-images.githubusercontent.com/8603015/62159364-d45a1480-b311-11e9-8c03-6d6ebb512f53.png). This looks as we intended, but what we don't offer is a simple scatterplot, for instance as available in Bayesian correlation pairs -> Scatterplot. It would be nice to c

[2019-07-30 21:38] DocVXL commented on #179
I would like to see this too. It's currently in Jamovi, so the code is already out there.

[2019-07-31 02:30] mike-ology opened #436 "Garbled variable names in mediation analysis"
* JASP version: 10.2
* OS name and version: Windows 10 Enterprise 1903
* Analysis: Mediation Analysis
* Bug description: Garbled variable names in mediation analysis (see attached screenshots)
* Add JASP files as a zip: Occurs with my own data files, but also with the built-in examples
[JASP file.zip](https://github.com/jasp-stats/jasp-issues/files/3449548/JASP.file.zip)
* Screenshot: Attached

![

[2019-07-31 08:48] jamessteeleii opened #437 "Enable posterior distributions with raw units."
Currently posterior distributions are presented with standardised effect sizes e.g. Cohen's d. I am a new user of Bayesian approaches and like the potential of it for estimation based approaches. As a result, often I am interested in presenting my point estimates and precision in the raw units used for the variable measured. Though I am learning how to conduct more complex modelling with other sof

[2019-07-31 09:40] AlexanderLyNL commented on #436
Hi Mike,

The temporary fix is to change the first letter of your variable name from a capital letter to a lower case letter, see also

https://github.com/jasp-stats/jasp-issues/issues/420
https://github.com/jasp-stats/jasp-issues/issues/435

The better solution is included in the next JASP release. Please reopen if the workaround doesn't work for you.

Cheers,
Alexander

[2019-07-31 09:40] #436 closed

[2019-07-31 11:16] Kucharssim commented on #298
wrt Correlation matrix analysis, I believe the current behavior is what makes the most sense, given that it is supposed to produce correlation matrices. However, we also offer "Display pairwise table" in the Additional Options, which switches how the analysis outputs the correlations (instead of p x p correlation table, we report a correlation table with p choose 2 correlation pairs). I think this

[2019-08-01 14:28] ppiress opened #438 "Second-order factor box"
* JASP version: 0.10.2
* OS name and version: Windows 10
* Analysis: Confirmatory Factor Analysis
* Bug description: The tutorial indicates there is a second-order factor box in for the confirmatory factor analysis, but there is no such box or option. I don't know if it is still going to be implemented...
* Screenshot:
![image](https://user-images.githubusercontent.com/19862411/62301636-5a2faa00-b

[2019-08-02 13:49] meskisu opened #439 "Red line on Path Diagram in SEM"
In the path diagram some of the lines are green and some of them are red. The paths which are illustrated red are also significant loading value. But I don't know why are they red.
Could anyone help me about what does red line or green line mean in SEM Path Diagram.

[2019-08-02 14:00] vandenman commented on #439
Usually, red lines are negative loadings and green lines are positive loadings. @vankesteren is this right?

[2019-08-02 14:02] meskisu commented on #439
Ohh, How I did not realize it. Thanks.

[2019-08-02 16:57] jandrushko commented on #78
I would like to see further improvements with the figure/plot editing within JASP. It would be good to have color options, changing axis ranges, titles, even changing plot types would be good

[2019-08-02 17:25] #439 closed

[2019-08-03 16:40] acescos opened #440 "No results for SEM Robust DWLS"
JASP does not print the robust results when I use ordinal variables on Structural Equation Modeling and choose the “DWLS” option.
However, when I perform the calculations using lavaan R package with

fit<-cfa(mymodel, data=data, ordered=names(data))

the result includes a second column for the robust results.
JASP seems to print only the output from the first column of the lavaan output.
Both resu

[2019-08-03 19:31] DanielShowalter opened #441 "Solved: 2-Way ANOVA erroneously saying there are aliased coefficients in model. Wrong error message for empty cell in the interaction."
* JASP version: 0.10
* OS name and version: Windows 10
* Analysis:
* Bug description: ANOVA function is claiming that predictor variables are linearly dependent when they are not. Have repeated this error on a separate computer. Have also conducted many 2-way ANOVA tests successfully in JASP.
* Add JASP files as a zip:

[Behavioral Risk Factor Surveillance Survey - BRFSS_Race_Sleep_Flu_dan.xlsx](h

[2019-08-04 12:55] AlexanderLyNL commented on #441
The problem here is the data resulting in an empty cell in your EDUCA x FLUSHOT6 (6 x 2) table. There are only 2 people (id: 5961 and 6692) that scored a 1 in EDUCA and both of them score a 1 on FLUSHOT6. Hence, the cell EDUCA=1 x FLUSHOT6=2 is empty and the ANOVA with interaction can simply not be performed. The error message is not that informative and we should change that.

If you're not inter

[2019-08-04 12:55] #441 closed

[2019-08-04 13:21] DanielShowalter commented on #441
Ah, yes! I see. Thanks so much!

[2019-08-06 07:06] vankesteren commented on #438
Oops! Yes, this will be implemented :)

[2019-08-06 10:05] DmitryPrigodich commented on #348
@JorisGoosen Well, I have Ubuntu 19.04 and keeping it up to date. Also I've received some big update from the flatpak, probably, on JASP.
I've tried to install mesa-utils and launch glxgears - the gears appear, counting smth, when I close I see this in terminal:
glxgears
[code]
Otherwise it stays the same:
[code]

[2019-08-06 12:37] JorisGoosen commented on #348
@DmitryPrigodich maybe you could try to update your video-drivers from this (official ubuntu) ppa: https://launchpad.net/~graphics-drivers/+archive/ubuntu/ppa

[2019-08-06 13:52] DmitryPrigodich commented on #348
@JorisGoosen I hardly understand why it should be a problem of the Ubuntu standard video drivers.
Well, I don't want to install the most fresh video drivers, I want a stable system. And I guess this nvidia driver is fresh enough.

[code]
Previous versions of JASP worked fine, why did you pushed unstable version into master?..

[2019-08-06 13:56] tickey7 opened #442 "Inquiry for how to free factor loading"
I'm using SEM of the JAPS 0.10.2.0 to test measurement invariance.

All the factor loadings are fixed to be equivalent. But I wish to free the loading of "item 10". Appreciate if you can advise the syntax to release the constraint.

[2019-08-06 14:00] EJWagenmakers commented on #442
Did you check the documentation on lavaan? JASP takes lavaan code and runs R in the background...

[2019-08-06 14:11] tickey7 commented on #442
Yes, I did. I tried the group.partial argument recommended in the tutorial page (http://lavaan.ugent.be/tutorial/groups.html). It doesn't work and the program collapsed.

[2019-08-06 14:27] EJWagenmakers commented on #442
Great (well, not that the program crashed). I think it would help us a lot if you could provide the code and the data (possibly synthetic data). BTW, did you run the code in R?
@vankesteren

[2019-08-06 14:34] JorisGoosen commented on #348
Previous versions of JASP used a completely different user interface. We have rewritten this and it requires that your graphics adapter is up to date. It works on my linux and those of many other people. So what happened here isn't that we pushed an "unstable" version of jasp into master. Instead we modernized the interface of the application (requiring more support from the graphics card of the u

[2019-08-07 01:54] mike-ology opened #443 "Labelled outliers don't match case number when using filters"
* JASP version: 0.10.2
* OS name and version: Win10
* Analysis: Descriptives
* Bug description: If run a descriptives module with the box plot analysis and Label Outliers enabled, AND am currently filtering my dataset, the case number for an outlier may not match the actual case in the dataset. Case numbers in the box plot skip any filtered out cases so the numbers no longer match. See an example

[2019-08-07 09:40] tultimatte commented on #202
I would like to second ordinal logistic regression!
Thank you so much :)

[2019-08-07 09:41] NoelleScience03 opened #444 "Internal Error unknown"
Analysis:

Bug description:every time I try to run Jasp an error window shows up saying 'Jasp ha experienced an unexpected internal error' and the program must be closed.

Add JASP files as a zip:

Screenshot:
jasperror

Expected behaviour:
Internal error returns back

Reproduction steps:

See error:

![image](https://user-images.githubusercontent.com/53795278/62612571-ec302a80-b907-11e9-9965-02c2

[2019-08-07 11:22] DmitryPrigodich commented on #348
@JorisGoosen well, I've added PPA, and still it give me nothing while apt-get update/upgrade:
[code]
Guess, I'll wait till ubuntu will update them its way.
Still, I don't get it, some stat-app requires me to have the newest video drivers, while I have no problems with launching AAA games on the same system. Sounds strange, isn't it. For me, you've taken the wrong path at some point of development.

[2019-08-07 11:48] DmitryPrigodich commented on #348
@JorisGoosen I've updated PPA
[code]
But it doesn't help:
[code]

Well, for it's strange that I can launch some AAA-game, and I cannot launch your stat-app.
I really believe, that you've taken some wrong path in the development at some point.

[2019-08-07 13:07] JorisGoosen commented on #348
Well even though your comments are decreasing my motivation for helping you I feel that maybe you could try this: `rm ~/.var/app/org.jaspstats.JASP/config/JASP/JASP.conf` in your terminal and try it one more time, because the error message has changed.

[2019-08-07 13:36] AlexanderLyNL commented on #348
Hi Dimitry,

Sorry to hear that it’s not working out at the moment. The path we’ve taken is dependent on many factors. One of it is Qt which has provided us with many great tools to move forward. The gain here is enormous, both for our team in terms of ease of development and for other users. We do develop things for various platforms and the team works very hard on it. Going forward always requir

[2019-08-07 13:50] flaihai opened #445 "Error Message upon opening *.sav -> bad allocation"
Dear JASP Team,
JASP worked fine for me so far. Today, I tried to open another *.sav file and I would get the error message "unable to open file - bad allocation". I edited the file, saved it with a new name - no help.
What's wrong this time?
Thanks so much for your help!
Jan

![JASP](https://user-images.githubusercontent.com/53866972/62628025-d6802c80-b92a-11e9-8185-6e93b70d12d7.jpg)

* JASP vers

[2019-08-07 14:07] tickey7 commented on #442
The code works well in R.
Hope the function can be available in JASP soon.

[2019-08-07 14:39] JorisGoosen commented on #444
Hey @NoelleScience03, too bad Audit doesn't seem to work for you.

Is it possible for you to share the datafile your using? It might be helpful for us to be able to check it ourselves.

[2019-08-07 14:42] JorisGoosen commented on #445
There seem to be some problems in the `.sav` reading code. For the next version of JASP I've added [Readstat](https://github.com/WizardMac/ReadStat) support which should solve this problem.

I can only help you now by either suggesting that you try to save/export your `.sav` as a `csv` file or you send me your `sav` file and I will saves it as a `jasp` file for you.

[2019-08-07 14:52] AlexanderLyNL commented on #445
If possible, could you please add the sav file in zip to this thread? Then we can confirm whether it indeed does the trick.

[2019-08-07 15:37] flaihai commented on #445
Hey guys,
thank you so much for your friendly and quick help! I attached the orignal file that I tried to open. This file is only a test file created by an online questionnaire and contains just three sets of data. So it is not really important to me. But next time, when the file contains the full set of data it would be nice being able to open it directly.
Cheers,
Jan
[Jans sav file.zip](https://

[2019-08-07 17:34] AlexanderLyNL commented on #445
Hi Jan,

Thanks for this use-case. I can confirm that:
1. [Current version workaround] if you save the data set as csv, JASP 0.10.2 can open the data
2. [Better solution] The next release of JASP can open the sav file without any problems thanks to Readstat package, which Joris implemented.

With the workaround and the improvement in our next release, I'm considering this issue solved, but please

[2019-08-07 17:34] #445 closed

[2019-08-08 07:14] NoelleScience03 commented on #444
Hi Joris, ik zie dat het niet afhangt van het soort bestand. Ook wanneer ik andere bestanden gebruik krijg ik dezelfde error in Jasp.

[2019-08-08 08:11] JorisGoosen commented on #444
Hoi Noelle,

Zou het mogelijk zijn dat je de logging van JASP aanzet (Menu -> Preferences -> Advanced -> Logging), dan een file opent en de aangemaakt logfiles (1 desktop file en 4 engine files) hier aan dit issue toevoegt? Je kan de map met logfiles direct openen vanuit preferences trouwens.

[2019-08-09 03:49] iron78 opened #446 "Assumptions test in Pearson r"
* Enhancement: normality test, outlier detection, histogram, shapiro-wilk test
* Purpose: in the conduct of research
* Use-case: I am currently conducting a research study and that i will be using Pearson r, i need to check the assumptions before proceeding further.

[2019-08-09 07:34] AlexanderLyNL commented on #446
Hi Iron78,

You can find many of these features in Description. We haven't implemented a bivariate normal test yet, but you can also do the nonparametric test to check the robustness of the results. Please reopen if something's still unclear.

Cheers,
Alexander

[2019-08-09 07:34] #446 closed

[2019-08-09 09:34] JorisGoosen commented on #424
@luisbm1634 @djdekker @mjkofler @tkasci we have just uploaded a new version of the Mac OSX installer DMG, maybe (one of) you could try this and see if it starts normally when the icon is double-clicked?

[2019-08-09 10:49] vicenteinefo commented on #424
I have downloaded this new version from the webpage and it seems starts pretty well and faster the before.

[2019-08-09 11:25] luisbm1634 commented on #424
I can also confirm that the version I downloaded this morning starts up quickly and without issue. Thanks!

[2019-08-09 12:34] JorisGoosen commented on #424
Aah ok so the problem was that the earlier version wasn't signed and apparently that causes problems on some macs.. Good to know!

[2019-08-09 12:34] #424 closed

[2019-08-10 13:46] NikitaKhromov-Borisov opened #447 "Effect size for paired Wilcoxon test"
For the attached data JASP shows a very strange result ror the paired Wilcoxon test:

ES = -1 with 95% CI from -1 to -1

[LF_BefAft.zip](https://github.com/jasp-stats/jasp-issues/files/3488870/LF_BefAft.zip)

Nikita

[2019-08-11 13:45] SimonWagneur commented on #320
I have the same problem as @gvleioras . I imported my raw data in JASP but impossible to change the column type. I checked and re-checked that every value was nmerical. Could you please help me to find the solution to my problem? @TimKDJ

[2019-08-11 16:59] DmitryPrigodich commented on #348
@JorisGoosen No, it's not working.
It's working with old Eee PC 1005PXD with i915 (at least, JASP GUI shows up, too wide for 1024x800 screen), but it's not working with Lenovo Y700 with GeForce GTX 960M on NVIDIA 430.40.
And also JASP works on a Virtual Machine (Lubuntu 19.04 with vmwgfx), GUI shows up, and it closes after some time.
[code]

[code]
Safegraphics launched GUI, but I didn't go any fu

[2019-08-12 13:16] Jaurell opened #448 "Reversed scaled items not applied to Mcdonald's ω"
I was trying out the reliability module and noticed that the Mcdonald's ω was much lower than it's supposed to be. The data is 6 items with 3 items reversed scaled. The output for chronbach's alpha changed to the correct value when i defined the 3 items under "reversed scaled items" but Mcdonald's stayed the same.

If i manually reversed the items i get the correct ω.

Best regards
Jaurell

Versio

[2019-08-12 13:18] AlexanderLyNL commented on #448
Hi Jaurell,

Thanks for figuring this out. Could you please add the JASP file as a zip to this thread?

Cheers,
Alexander

[2019-08-12 13:30] AlexanderLyNL commented on #320
Hi @SimonWagneur ,

Tim is travelling at the moment, but you can either post your data set here in a zip, or send it to a.ly@jasp-stats.org and I can have a look at it.

Cheers,
Alexander

[2019-08-12 13:51] Jaurell commented on #448
I'm sorry, I don't understand what file you want. Do you mean the folder for the installation or the data?

/Jaurell

[2019-08-12 13:55] AlexanderLyNL commented on #448
Hi Jaurell,

You mention data consisting of 6 items and 3 items reversed scaled. Could you please send us this data? With the data at hand, we can study the issue more carefully.

Cheers,
Alexander

[2019-08-12 14:03] Jaurell commented on #448
Of course. The data is simulated so no problems. The reversed items are a2, a4 and a5.

[JASP_data_reversed_items.zip](https://github.com/jasp-stats/jasp-issues/files/3492804/JASP_data_reversed_items.zip)

/Jaurell

[2019-08-13 04:55] iron78 commented on #446
thank you so much, i updated my copy of JASP and the features were present

ronald

On Fri, Aug 9, 2019 at 3:34 PM AlexanderLyNL <notifications@github.com>
wrote:

[2019-08-13 09:39] JorisGoosen commented on #348
1GB ram is less then your phone probably has, so I'm not suprised JASP doesn't like it.

To recapitulate: JASP works on your old Eee pc but not on your newer system that can run AAA games? Not entirely sure if the blame then lies with us. You could try the "ctrl+minus" hotkey to change the scale of the GUI to make it fit on that screen.

I'm almost out of ideas though, I figure that OpenGL seems t

[2019-08-13 12:55] NoelleScience03 commented on #444
Hoi Joris,

Bij deze het JASP Log bestand.

[JASP 2019-08-08 16_31_14 Log_file.txt](https://github.com/jasp-stats/jasp-issues/files/3496986/JASP.2019-08-08.16_31_14.Log_file.txt)

[2019-08-13 13:08] JorisGoosen commented on #444
Hey @NoelleScience03,

Dank je voor het bestand! Alleen zou je misschien nog de 4 logs van de engines kunnen uploaden?

Verder vroeg ik me af of je eventueel een van de databestanden zou kunnen delen die niet werken met Audit. Dan kunnen we gelijk testen of het hier ook kapot gaat.

[2019-08-13 20:20] DmitryPrigodich commented on #348
Still not working on LenovoY700, U19.04;
Running on Asus eeePC 1005PXD  shows this:
[code]

and this:
[code]

[2019-08-14 00:50] chantelanuit commented on #364
I would add to the original post that when a non-parametric test has been selected by the user, parametric statistics need to be left out of the output. This behavior which is unfortunately common in SPSS generates confusion and incoherence in the learning of students. Furthermore, in the present version of JASP (0.10.2), the Descriptives Plots section presents the means and the CI around the mean

[2019-08-14 01:05] chantelanuit opened #449 "Output order - Coherence in line with the methodological flow"
* Enhancement: Displaying assumptions checks and descriptives first in the output of a test
* **Purpose: The behavior of the software should mimic a rigorous methodological flow**
* Use-case:

**Is your feature request related to a problem? Please describe.**

Presently, JASP behaves similarly to SPSS and displays the assumptions checks after the results of the tests. This behavior might bias the

[2019-08-14 01:20] chantelanuit opened #450 "Adding non-parametric effect size estimators"
* Enhancement: Easy to understand and easy to compare non-parametric effect size measures ("probability of superiority") are lacking in most statistical analysis software
* Purpose:  **Include state-of-the-art probability-based effect size indicators** (e.g. "probability that a randomly selected member of one group scores higher than a random selected member of another group") + confidence interva

[2019-08-14 03:20] chantelanuit opened #451 "[Feature Request]: Histogram: Automated same scale x-axis via min max over all vars"
* Enhancement: Presenting by default the histogram of several groups on the same scale
* Purpose: For the ease of comparison of group distributions
* Use-case:

**Is your feature request related to a problem? Please describe.**

I would suggest that by default the Distribution Plots (Histogram) are presented on a similar scale for the groups being compared. That would create a figure that makes th

[2019-08-14 03:51] chantelanuit opened #452 "MW test - different formulas available, so add a note under the table of the test"
* Enhancement: Add a note under the independent sample comparison table for the MW test
* Purpose: There are several formulas available for computing the p-value of the WMW test.
* Use-case:

**Is your feature request related to a problem? Please describe.**

Since several formulas are available (depending on the way the algorithm handle the ties), asymptotic vs exact test, even in R (e.g. wilcox.

[2019-08-14 06:23] EJWagenmakers commented on #451
Good suggestion!

[2019-08-14 06:24] EJWagenmakers commented on #450
Another good suggestion!

[2019-08-14 06:25] EJWagenmakers commented on #449
Yes, this makes sense.

[2019-08-14 21:37] chantelanuit opened #453 "(Wilcoxon)-Mann-Whitney: failure as a test of medians"
* Enhancement: Need to present appropriate statistical information regarding the concept of "stochastic dominance" when the Mann-Whitney (and the Wilcoxon) test is used
* Purpose: Correcting misconceptions about the WMW - most often, the median is not relevant. So what figure is useful when doing a Wilxocon or a WMW test ?
* Use-case:

**Is your feature request related to a problem? Please describ

[2019-08-14 22:21] EJWagenmakers commented on #453
Sounds interesting, @JohnnyDoorn

[2019-08-15 03:21] chantelanuit opened #454 "Add permutation tests (nparcomp)"
* Enhancement: Add a series of permutation tests that are suitable for a wide range of distributional problems that could not be adequately addressed by commonly used non-parametric tests
* Purpose: Include permutation tests in JASP that are not available in SPSS or in other commonly used GUI software; include tests that do not rely on the assumption of random sampling of observations.
* Use-case:

[2019-08-15 10:06] boutinb commented on #403
Is it still a problem with the new JASP version 0.10.2 ?

[2019-08-15 12:18] JorisGoosen commented on #445
Aah I've tested it and it will work in the next version, happy to help!

[2019-08-16 07:10] anneleenheyns opened #455 "Jasp won't open"
Hello JASP team,
The program does not want to open.
I have already removed it and downloaded it a few times, but it will not open when I click on it.
I have windows 8, 64bit.
I should use JASP for a research at the KULeuven.

Thanks in advance!
Anneleen

* JASP version: 0.10.2.0

[2019-08-16 10:00] deniztu opened #456 "JASP opens very slowly"
* JASP version: 0.10.2.0
* OS name and version: Windows 7, 64 Bit
* Bug description: JASP needs ca. 5 minutes to open

[2019-08-16 10:12] deniztu opened #457 "JASP Help windows empty for Machine Learning Module"
![Screenshot](https://user-images.githubusercontent.com/54143017/63160790-f0063000-c01e-11e9-9b97-8f3f56e5dbd2.JPG)
* JASP version:0.10.2.0
* OS name and version: Windows 7, 64 Bit
* Bug description: JASP Help (If you click on the "i"-Button) for the methods in the Machine Learning Module is completely missing, but I think this is an minor issue

[2019-08-16 10:16] JorisGoosen commented on #455
Could you try to install [c++ redistributable](https://aka.ms/vs/16/release/vc_redist.x64.exe) ?

It is supposed to be included in the installer but perhaps something went wrong.

[2019-08-16 10:16] JorisGoosen commented on #456
This happens every time you open it?

[2019-08-16 10:17] JorisGoosen commented on #457
@koenderks is there help included in ML?

[2019-08-16 10:18] JorisGoosen commented on #456
Ow and your testing machine-learning right? Could you post the next issues in [jasp-test-release](https://github.com/jasp-stats/jasp-test-release/issues) ?

[2019-08-16 13:53] TarandeepKang opened #458 "Discriminant function analysis (DFA) and Discriminant Function Analysis (pDFA)"
I propose the inclusion of both the Discriminant function analysis and the Permuted discriminant function analysis in JASP. At present, as far as I can tell, neither of these analysis functions are available.

The DFA is  available  in all major statistical packages And is used to classify  unknown individuals into groups, and the probability of those individuals belonging in those groups.   It is

[2019-08-16 14:05] EJWagenmakers commented on #458
Excellent suggestion, we're going to do this
EJ

[2019-08-16 14:12] TarandeepKang commented on #458
The pDFA,  in particular can be a big learning curve when it comes to using the R code.  It will be great to have a readily available alternative to the DFA,  given it is not suitable for use, in many situations. I hope that Roger will be amenable. Thanks again!

[2019-08-16 20:12] TarandeepKang commented on #458
Hi EJ,

 I’d like to make clear that I was not only referring to the discriminant function analysis, but also to the Permuted discriminant function analysis. I emphasise that these are two different statistical tests. I have changed the title to clarify this.

Best,

Tarandeep

Sent from my iPhone

[2019-08-18 13:53] bsenevir commented on #455
I'm having the same issue. The program opens to the main window and I can see it spinning up resources, but after about 30s it crashes.

I tried installing the C++ redistributable then re-installing JASP, no luck.

Windows 10, 64 bit, 18362.295

[2019-08-19 10:29] diogenesbido commented on #444
[1] I open the “Fear of Statistics” dataset (example within the JASP, n=2571)
[2] Some results of Reliability analysis are showed
[3] When I change to Descriptive statistics, JASP stops after 2 to 4 seconds.
[4] I updated Windows and java just now, then I reinstalled JASP but the issue remains.

[5] I open the “Fear of Statistics” dataset again, and I run exploratory factor analysis, correlation,

[2019-08-20 07:57] NoelleScience03 commented on #444
Hi Joris,

The error occurs without importing files. It happens only when I open the software and click on Audit > audit workflow.

Where can I find the engine files? Further information about my laptop:

Laptop = DELL XPS 13 9370
Windows specifications =
Windows 10 Pro
Version 1803

System: Intel (R) Core(TM) i7-8550U CPU @ 1.80GHz 1.99 GHz
RAM: 16.0 GB
System type: 64 bits x64 based processor

T

[2019-08-21 17:24] BiomechFlo opened #459 "Post Hoc test Repeated Measures ANOVA"
Hi,
I just worked on an old project and wanted to check the statistics. I did a Repeated Measures ANOVA (2 factors, 2 and 5 levels) including Bonferroni-Holm corrected Post-Hoc Tests using the JASP Version 0.10.2. The outcome of the Post-Hoc tests looked weird. I always got the same results (Mean Difference, SE, t, pholm) for the different comparisons. I repeated the analysis using JASP Version 0.

[2019-08-22 09:07] JorisGoosen commented on #142
Already fixed

[2019-08-22 09:07] #142 closed

[2019-08-22 09:08] #391 closed

[2019-08-22 09:09] #392 closed

[2019-08-22 09:53] JorisGoosen commented on #443
Fixed

[2019-08-22 09:53] #443 closed

[2019-08-22 10:01] JorisGoosen commented on #444
@diogenesbido it seems you have a different issue than stated hee, could you open a new issue for your problem please?

@NoelleScience03 the engine-logfiles are supposed to be right next to the other logfile. Basically named the same but with "Engine #" instead of "Desktop".

[2019-08-22 10:06] JorisGoosen commented on #455
@anneleenheyns you get the same behaviour as @bsenevir ?

And tell me, is the interface responsive during those 30sec? Because you could turn on the logging and then we can see what JASP has to tell us.
Otherwise I can explan how to start it from the commandprompt.

[2019-08-22 10:36] anneleenheyns commented on #455
c ++ redistributable doesn't help on my computer either. Nothing appears on my computer when I click on it to open it.
I am currently resolving it by using another computer on which it works.
Thanks a lot for the help!

[2019-08-23 14:46] DrMarkGS opened #460 "RMANOVA crash"
Adding gender to 2way RMANOVA as a covariate in todays workshop resulted in

Descriptives plots
Descriptives Plot
This analysis terminated unexpectedly.

Error in array(0, dim = c(steps, nparam, 2), dimnames = list(NULL, names(weightedMeans), : length of 'dimnames' [2] not equal to array extent

Stack trace
analysis(jaspResults = jaspResults, dataset = dataset, options = options)

.BANOVArunAnalys

[2019-08-23 14:47] DrMarkGS commented on #460
Sorry forgot to say it was Bayesian analysis

[2019-08-25 19:17] jbnezl commented on #12
Hi JASP,

It would be very helpful to provide an option to conduct planned comparisons in ANOVA.
If you decide to do this, please also provide an estimate of the sums of squares accounted for by the comparison. This can be very helpful in terms of interpreting the results of an ANOVA.

Thanks,
John

[2019-08-27 14:23] fpesciarelli opened #461 "exporting filtered data"
It could be useful if the exporting of data could take the filter into account. Maybe something like an "Export filtered" button.

For now, as suggested, I made the same formula in a computed column. Then I used the spreadsheet editor to remove all the "FALSE" lines in the filtered-column.
But, it will be much easier to export the data file with the filter applied.

Thanks!

[2019-08-27 17:12] JorisGoosen commented on #461
A good idea!

[2019-08-28 11:15] vankesteren commented on #335
This option will indeed be implemented in the next version of EFA, however I don't believe there will be a large difference (if at all) with the default method of estimation in EFA (MinRes). This is what the psych package documentation has to say about PFA and MinRes:

[2019-08-28 11:20] Jaurell opened #462 "Ordinal data for CFA in JASP"
Hello.

I've noticed that you need to specify that data is continuous in JASP in order to be able to assign it to a factor in the CFA module. If I'm not wrong the module is based on the lavaan package in R. The package have robust estimators that should be able to handle skewed data and also ordinal data. Therefor i suggest that the limitation on what level of data that go into the CFA module shou

[2019-08-28 14:36] LuthienT opened #463 "Error message when trying to open .sav file"
* JASP version:.0.10.2.0
* OS name and version: Windows 10
* Analysis:
* Bug description: When I try to open a .sav data file from SPSS, I get an error message stating "unable to open file. Bad allocation". I would use the .csv workaround and use that file type instead, but when I've tried that, my data set goes all strange on me and some rows end up half missing and in the wrong cells.
* Add JASP

[2019-08-29 08:49] LiorAbramson opened #464 "embedded nul in string"
Hi,

I conducted a Bayesian repeated-measures ANOVA in JASP with two repeated measures factors (with two levels) and one Between-subjects factor (two levels).
I asked to compare the model to the null model, and added to the null model all the effects except for the three-way interaction (which I am interested in).

I got the following error message:

"This analysis terminated unexpectedly.
Error i

[2019-08-29 10:06] vandenman commented on #464
Well, it means something went wrong internally with base64 encoding, which we use to support non-standard characters (e.g., characters like ἄλφαמ).

Could you perhaps share the .jasp file in this thread so we can find out what went wrong? That way, we can fix the error for the next release.

[2019-08-29 18:49] cbflynn1970 opened #465 "Bug when running Mediation analysis in JASP 0.10.2"
* JASP version: 0.10.2
* OS name and version: Mac OS 10.13.6 (High Sierra)
* Analysis: Mediation analysis

* Bug description: I received the following bug message from JASP when trying to run the mediation analysis (minus the quotes on the front and end):

"This analysis terminated unexpectedly.
Error in rawToChar(as.raw(out)): embedded nul in string: 'x8avxa50'(xad'
Stack trace
analysis(jaspResul

[2019-08-30 08:36] #438 closed

[2019-08-30 10:57] TimKDJ commented on #465
Thanks for the report!
I had a look at the problem and it seems that this was [fixed as a side-effect of a different bug fix](jasp-stats/jasp-desktop/pull/3444).

We're hoping to release a new version which includes this fix in the coming weeks. In the mean time, here are the results of the analysis you specified:
[result-export-cbflynn1970.html.zip](https://github.com/jasp-stats/jasp-issues/files