[2020-11-23 09:54] kndiaye85 commented on #1070
Hello @boutinb,  I have just tried and this exactly the same problem.

[2020-11-23 09:55] vandenman commented on #1071
We'll look into this but we'll probably want to set up data editing properly first. So it may take some time before we can look into this.

[2020-11-23 10:01] EJWagenmakers commented on #1072
We're working on it!

[2020-11-23 10:01] #1072 closed

[2020-11-23 11:46] Lucadam commented on #1068
Hi, thanks! Where can I find the log files?

I have others problems: JASP crashes when I open a file (xls, csv and sav)

[2020-11-23 11:53] vandenman commented on #1068
If you go to `Preferences` -> `Advanced` -> `Show logs` you should be able to see the logs.

![image](https://user-images.githubusercontent.com/21319932/99959130-c17f1500-2d8a-11eb-9c88-d691ede43656.png).

Note that the log files are created after you do a particular analysis, so please first replicate the error and then share the log files.

[2020-11-23 12:39] Lucadam commented on #1068
Thank you for the explanation. I actually don't know which is the right file, I think Engine 3 because it was the last one. I also enclose the file with the text that comes out when I open a recent file

- [problem open file jasp.pdf](https://github.com/jasp-stats/jasp-issues/files/5582942/problem.open.file.jasp.pdf)
- [JASP 2020-11-23 13_26_31 Desktop.log](https://github.com/jasp-stats/jasp-issue

[2020-11-23 13:29] Lucadam commented on #1068
I have an update, I don't know if useful: I can run the network analysis when I select "Cor" in Correlational Method.

[2020-11-23 13:52] fplatz commented on #1057
Dear JASP development team,
I'm running JASP 0.14 on a Mac (OS Catalina, 10.15.07) having the same issue as reported above when trying to conduct a reliability analysis ("classical") by requesting cronbach's alpha. JASP terminated the process, giving the following information:

Stack trace
tryCatchOne(expr, names, parentenv, handlers[[1]])

doTryCatch(return(expr), name, parentenv, handler)

withC

[2020-11-23 13:55] juliuspf commented on #1057
Dear Friedrich,
is it possible for you to try the approach I suggested above (https://github.com/jasp-stats/jasp-issues/issues/1057#issuecomment-730429423)?

[2020-11-23 13:58] fplatz commented on #1057
I am downloading the latest nightly built version. I keep you updated, after running it. I expect to need 30 minutes for the complete task.

[2020-11-23 14:12] vandenman commented on #1068
@JorisGoosen can you take a look at the messages in the .pdf file above? Would safeGraphics maybe help?

[2020-11-23 14:14] fplatz commented on #1057
Dear Julius,

unfortunately, the error remains:

[2020-11-23 14:16] juliuspf commented on #1057
okay. Can you provide the .jasp file by any chance?

[2020-11-23 14:18] fplatz commented on #1057
Sure, no problem. Could you please give me an email address? I will sent you all files.
Best
Friedrich

[2020-11-23 14:20] juliuspf commented on #1057
Well, it would be best to zip them and upload them here. otherwise use julius.pfadt@gmail.com.

[2020-11-23 14:26] JorisGoosen commented on #1068
The crashlog does have some graphics related errors in it, so it might be helpful to try safeGraphics mode (in preferences->Interface). But that error seems different from the network analysis one. There might very well be some problems with regards to Big Sur..

As far as network analysis goes, it seems the engine log for engines 1 and 2 are missing. It would be good if @Lucadam could upload thos

[2020-11-23 14:35] fplatz commented on #1057
I sent you an email.

[2020-11-23 14:38] Lucadam commented on #1068
Thank you so much. I redid the analysis. Here the files:

- [JASP 2020-11-23 15_33_12 Desktop.log](https://github.com/jasp-stats/jasp-issues/files/5583663/JASP.2020-11-23.15_33_12.Desktop.log)
- [JASP 2020-11-23 15_33_12 Engine 0.log](https://github.com/jasp-stats/jasp-issues/files/5583664/JASP.2020-11-23.15_33_12.Engine.0.log)
- [JASP 2020-11-23 15_33_12 Engine 3.log](https://github.com/jasp-stat

[2020-11-23 15:07] juliuspf commented on #1057
okay, so from a first look this caused by the bootstrap. Unfortunately, this is a problem for lambda6 and omega, but not for alpha. However, the current setup makes it impossible to compute any result as long as the computations for one estimator fail (which are done in the background). This will be fixed with version 0.15. I am sorry for not being able to provide better support.

[2020-11-23 15:10] fplatz commented on #1057
Ok. That means, that it is not possible to get alpha at this moment, right?!
Great, that you could identify the source for that problem! Hopefully, there is a solution in the next few days...we'll have to wait
All the best
Friedrich

[2020-11-23 15:19] juliuspf commented on #1057
Well,  I am afraid this will take more than a few days. With this data, there is no solution for alpha in Jasp right now, I am sorry.

[2020-11-23 15:47] juliuspf commented on #1057
What you came upon are actually two problems, one happens when intervals are computed, and one happens regardless. So when you uncheck confidence intervals there should not be an error. This I should be able to fix in the near future.

[2020-11-23 16:27] juliuspf commented on #1057
For now, you can get a point estimate for alpha if you uncheck the confidence interval box, then you check the omega box, and in 'Advance Options' you now check PFA instead of CFA, then you can go back to the top and check alpha, and you should see a point estimate.
This is due to the fact that some computation of omega breaks it in this case. Sorry for the confusing workaround.

[2020-11-23 17:44] JorisGoosen commented on #1068
Thank you for the new logs!

Sadly enough it just shows me that the analysis does indeed crash...
I'll have to test this out myself, I have a mac here so Ill try it out when I get the chance.
And I was planning to upgrade to Big Sur soon, so we can see if that causes it or not.

[2020-11-23 18:44] summerloving commented on #1061
[Screen Shot 2020-11-23 at 1.42.44 PM.zip](https://github.com/jasp-stats/jasp-issues/files/5585079/Screen.Shot.2020-11-23.at.1.42.44.PM.zip)

So I am able to download it but after I try to move the JASP app to applications and open JASP I get a message saying it can't be opened and I only have an option to move it to the trash or cancel (this is the "my computer rejected it" part). I have attached

[2020-11-23 21:38] Lucadam commented on #1068
I tried the safeGraphics mode and it works. The only problem that remains is that when I open a file from recent files Jasp crashes. Anyway, this is not a problem, I can select manually the file. Thank you so much to solved my main problem!

[2020-11-24 07:23] fplatz commented on #1057
;-) Again, thank you for that fast support! It works for now!

[2020-11-24 08:58] hpapadogiannis opened #1073 "Fuzzy c-means clustering"
his analysis terminated unexpectedly.

Error: cannot allocate vector of size 22.6 Gb

Stack trace
withCallingHandlers(expr = analysis(jaspResults = jaspResults, dataset = dataset, options = options), error = .addStackTrace)

analysis(jaspResults = jaspResults, dataset = dataset, options = options)

.clusteringTable(dataset, options, jaspResults, ready, position = 1, type = 'cmeans')

.clustering(d

[2020-11-24 09:05] vandenman commented on #1073
how many variables and observations do you have? Would it be possible to upload the .jasp file to GitHub?

[2020-11-24 09:08] hpapadogiannis commented on #1073
Hi, and thanks for the immediate response!
I have 80000 rows and 20 columns
Elias

[2020-11-24 09:41] boutinb commented on #1061
Could you right-click on the JASP icon, and select the Copy menu, and then go to Applications to paste it. You can try also to start it directly by selecting the Open menu.
If all that does not work, we will have to make a certified version.

[2020-11-24 10:00] hpapadogiannis commented on #1073
.jasp file inside

[agymn.zip](https://github.com/jasp-stats/jasp-issues/files/5588954/agymn.zip)

[2020-11-24 13:20] vandenman commented on #647
I'd say a checkbox with a default of 20 that people can modify f necessary. But I'm open to other suggestions!

[2020-11-24 14:23] tomtomme opened #1074 "Import threshold between Categorical or Scale does nothing and manual change of scale does not work."
On jasp 0.14.1-beta and earlier the import threshold does not work. I can change the value in settings => data - but my data is still imported as "scale" instead of being "ordinal". I also cannot change it to ordinal manually. Only to nominal text.

I used this file with grades to reproduce the problem
[grades.txt](https://github.com/jasp-stats/jasp-issues/files/5590470/grades.txt)

This happens o

[2020-11-24 14:27] tomtomme opened #1075 "Please integrade Lambda (PRE measure) in Frequencies => contingency tables"
Categorial measures of association can be grouped into two types:
chi-squared, or PRE

Gamma is already implemented for ordinal scales, but lambda is missing in frequencies => contingency tables

Why its important:
Chi-squared based measures of association like phi or V are considered weak and outdated (Bailey, 1994; Hanneman & Kposowa, 2012). This is mostly because of the vague results these meas

[2020-11-24 14:28] tomtomme commented on #647
Go for it! As long as the user can change it after the fact it is fine! :D

[2020-11-24 14:58] tomtomme opened #1076 "Missing values e.g. -77 are imported from SAV but not shown in data & not configurable in missing values section"
On JASP 0.14.1 beta I can import SPSS .sav files in which I defined missing values, for example -88. Those then do not appear in the data view. The cell is empty instead of showing the -88. That is even if I do not have the -88 in the list at JASPs settings / data section. This behaviour seems weird because the user looses control over seeing and analyzing the data as missing or not within JASP. T

[2020-11-24 15:45] summerloving commented on #1061
[Screen Shot 2020-11-24 at 10.45.10 AM.zip](https://github.com/jasp-stats/jasp-issues/files/5590992/Screen.Shot.2020-11-24.at.10.45.10.AM.zip)

I still could not get it to work (see attached screenshot)

[2020-11-24 19:13] djdekker opened #1077 "Old values not discarded after sync with spreadsheet editor"
* JASP version: 0.14
* OS name and version: macOS Big Sur 11.0.1
* Analysis: N/A – data editor
* Bug description: values from spreadsheet are not discarded after sync with spreadsheet editor
* Expected behaviour: after sync, only the up-to-date values should be shown and old values discarded

1. Open test.csv in JASP 0.14 and in a spreadsheet editor. Notice that **group** is a nominal variable.
2.

[2020-11-25 08:24] boutinb commented on #1075
@Kucharssim Can you have a look to this request?

[2020-11-25 10:02] boutinb commented on #1077
You are right when you suppose that these values are cached! I think I can easily solve it, but I'm not sure if it can be added in 0.14.1. I don't think it's such an important bug. Or is this blocking for you?

[2020-11-25 10:23] boutinb commented on #1074
Hi @tomtomme In JASP, an Ordinal column must have only integers, there is now no possibility to have ordinal with decimals. . And if there are only decimals in the column, then JASP read it as a scale column per default. It could be set automatically as nominal text if the unique values of the column is less than the threshold, but it can be quite confusing I think...

[2020-11-25 10:26] boutinb commented on #1061
Apparently the verification checks are harder on macOS Big Sur. @JorisGoosen Do you have the same problem with a nightly build?

[2020-11-25 10:28] boutinb commented on #1055
@EJWagenmakers Did you ask Raoul? Or who do you think could answer this question?

[2020-11-25 10:29] tomtomme commented on #1074
quite confusing yes :)
Any chance that this could be improved in the future?
From a methodical standpoint there is really no reason for ordinal data to have or have not decimals. In fact there is nothing I know in statistics that differentiates between numbers with or without decimals. So why does jasp this?

[2020-11-25 11:13] JorisGoosen commented on #1061
Aah I still have to turn the update on, I will go do that now.
After that I can check if I have the same problem.

But looking at this document by apple: https://support.apple.com/en-us/HT202491
Tells me that @summerloving could also open it by passing through the settings as described under "How to open an app that hasn’t been notarized or is from an unidentified developer"

[2020-11-25 11:17] JorisGoosen commented on #1058
https://github.com/jasp-stats/jasp-desktop/blob/development/Docs/user-guide/logging-howto.md

[2020-11-25 12:56] boutinb commented on #1074
Unfortunately, this is not just a setting to enable... This would ask quite some work. This is the first time I hear about this request. @EJWagenmakers What do you think?

[2020-11-25 14:24] tomtomme commented on #1074
thx for the info. I can work around this problem. Would be nice for the future, but can be considered low priority then.

[2020-11-25 14:32] EJWagenmakers commented on #1055
I am increasing the pressure

[2020-11-25 16:04] raoelg commented on #989
Hi John,

You have turned off the intercept in the model, but this feature is purely intended to allow users to restrict the intercept to be zero. Your 'prompt' predictor has two levels ('work' and 'non-work') and is turned into a dummy variable in which the 'work' class is coded with a 1 and the rest with zero. Could that be the issue?

[2020-11-25 16:44] Tabea123 opened #1078 "Summary Statistics Tool reports different BF in table and plot"
* JASP version: 0.13.1.0
* OS name and version: Windows
* Analysis: Summary Statistics Tool Bayesian Independent Samples T-Test
* Bug description: The table that reports the t-value, N, BF, error % and p reports a different BF01 than the 'Prior and Posterior' plot. Specifically, the table (in my example) reports BF01 = 7, and the plot reports BF10 = 7.
* Expected behaviour: I would expect that the

[2020-11-25 16:44] raoelg commented on #967
@brunoverschuere Hi Bruno, I think it is in general very difficult to anticipate all possible ordering needs in a meta-analysis. That's why the order in the forest plot etc follows the order in the data so that it is under full control of the user. Of course this requires you to make copies with different orders, or you double click the data and do it in Excel. It's far more useful if there will b

[2020-11-26 08:19] vandenman commented on #1078
Thanks for reporting this!

Unfortunately, I can't replicate this with JASP 0.14 nor with the development version. Could you perhaps see if the problem is fixed in the latest release (0.14)?

[2020-11-26 09:01] boutinb commented on #967
Hi @raoelg You can reorder the levels/labels of a column when you click on its header in the data view. But if I do that I don't see that the order of the forest plot changes. That's weird because if I check for example in the Descriptive analysis, the Frequency table, then the row order follows the order of the labels.
Maybe @vandenman can give a hint why this order is not taken into account in C

[2020-11-26 09:51] PsychEliana opened #1079 "Counts field in Contingency Tables JASP"
Hi, could you please explain what the Counts field is used for in the Contingency Tables function? (notice I'm not asking about the Multinominal function but about the contingency tables function)

[2020-11-26 10:12] DrMarkGS opened #1080 "2 way mixed factor ANOVA bugs"
* JASP version:    0.14  Oct 14 2020
* OS name and version: Windows 10
* Analysis: " way repeated measures ANOVA
Dataset includes 3 repeated levels of 1RM 30, 50 and 70% using 2 weightlifting grips
When running the analysis all OK until I run post hoc tests.  If I uncheck Pool error terms for RM factors I get an error message
![image](https://user-images.githubusercontent.com/39003008/100337560-70

[2020-11-26 10:29] vandenman commented on #1079
If you look at the data set `Listerism` (available from `Data Library` -> `5. Frequencies` -> `Listerism`) you get:

![image](https://user-images.githubusercontent.com/21319932/100339686-7bb88b80-2fda-11eb-9cf9-b243b647134e.png)

So it's basically the frequency of how often each combination is observed.

[2020-11-26 10:30] vandenman commented on #1079
If you open the associated jasp file you also get annotated results for a Bayesian contingency analysis.

[2020-11-26 11:53] JorisGoosen commented on #1068
@Lucadam I just upgraded to Big Sur and can run Network ANalysis fine.

Maybe you could upload the jaspfile with the crashed analysis in it?
To upload it here you need to zip it (or change the extension to zip, also fine).

[2020-11-26 12:01] Tabea123 commented on #1078
Yes, it's fixed when I use the latest release!

[2020-11-26 12:03] fplatz opened #1081 "Bayesian Correlation Pairwise Plots using datapoints multiplied by 10"
* JASP version: 0.15.1

* OS name and version: maOS Catalina (10.15.7)
* Analysis: Bayesin Korrelation Pairwise Plots (Kendalls Tau-B)
* Bug description: The values of both variables are multiplied by 10. My raw data correctly shows a value range from 1 to 6. However the values used in the plot ranges from 10 to 60.

Is there any solution to get plots using the raw data's range?

All the best
Frie

[2020-11-26 12:15] fplatz opened #1082 "Different values for Tau-B but not for CI-Interval in Bayesian Correlation"
* JASP version: 0.15.1

* OS name and version: maOS Catalina (10.15.7)
* Analysis: Bayesian Correlation Pairwise Plots (Kendalls Tau-B)
* Bug description: Different values for tau-b and BF were reported in the table output compared to the Prior & Posterior plot
* Expected behaviour: Same values should be reported in the tables and figures for tau-b etc.

All the best
Friedrich

[2020-11-26 17:07] teapot82 opened #1083 "KMO sampling adequacy and Bartlett's test for sphericity for principal component analysis"
* Enhancement: SPSS has KMO sampling adequacy and Bartlett's test for sphericity, and it would be nice to have cumulative % variance by first 3 factors too. (I can do this manually by adding them up, but it would be nice if this was all singing and all dancing)
* Purpose: KMO index indicates the proportion of variance that might be caused by underlying factors, to decide whether or not PCA is appr

[2020-11-26 20:07] raoelg commented on #967
I think that only changes the labeling order in a factor (i.e., the mapping
between a label and the underlying numerical label that is used in models
is changed; for instance the mapping A=1, B=2, C=3, D=4 can be changed to
B=1, A=2, D=3, C=4), that has consequences in the parameterization of
statistical models, but that's not the issue here. The order of the rows in
the table should be changeable

[2020-11-27 02:13] bradyse commented on #1058
I managed to get JASP to actually open after downloading and unzipping the .zip file posted in a previous post [https://github.com/jasp-stats/jasp-issues/issues/1043](url). I had to bypass the "Microsoft Defender SmartScreen" and click "Run anyway." Perhaps it was coincidence, but once I started messing around with the command prompt, JASP finally opened. Here are the logs.

[JASP 2020-11-26 19_40

[2020-11-27 08:47] tomtomme opened #1084 "Coefficient of Variation"
Please add the coefficient of variation `v = standard deviation / mean` in JASPs Descriptives section.
There are other relative measures of variation, but this is the most common one and mostly easier to interpret if you want to compare the variation across multiple datasets with different means.
Thx.

[2020-11-27 09:02] boutinb commented on #967
Hi @raoelg, maybe I was not clear. I did not say that values of the labels should be changed, it is the order of these labels that can be changed.
Here below, I have used the arrows at the right side to set the 'Aronson' label at the second position.
<img width="604" alt="Screenshot 2020-11-27 at 09 59 40" src="https://user-images.githubusercontent.com/503332/100430603-4faf1000-3097-11eb-90fc-43d3

[2020-11-27 09:05] boutinb commented on #1083
@EJWagenmakers can lnwhi do this?

[2020-11-27 09:17] boutinb commented on #1084
This is a really easy thing to add. Maybe someone who starts to work for JASP could do that. @EJWagenmakers: among the student assistent, there is someone that could do that.

[2020-11-27 09:48] tomtomme commented on #1084
is there a tutorial how / where to start? I would like to dig into this myself. I have the repository cloned here and I can read the code. But I did not write code except php html css and a bit matlab & R years ago. I do not even know which language I am looking at... so is there a chance I could learn this in a few hours?
Maybe it makes even sense to just look at the commits of the student assist

[2020-11-27 09:57] tomtomme opened #1085 "Please add checkbox for scatter plot to section Regression => linear Regression and f(x)"
I can produce scatter plots in Descriptives and in Correlation, but not in linear Regression. Please addd a checkbox in the Plots-Section at the bottom  - above the Residual Plots.
The scatter plot should show the regression line and if possible also the function f(x) = a + b*x + ...

Thank you!

(I am almost sorry to bring up so many issues during the last weeks. But me and a colleague are going

[2020-11-27 10:06] TarandeepKang opened #1086 "Bayesian GLMM Terminated Unexpectedly"
* JASP version:  14.1

* OS name and version: macOS Big Sur
* Analysis: Bayesian GLMM
* Bug description:This analysis terminated unexpectedly.

Error in if (var_name ≠ 'Intercept' && nrow(temp_summary) > 1) {: missing value where TRUE/FALSE needed

Stack trace
tryCatchOne(expr, names, parentenv, handlers[[1]])

doTryCatch(return(expr), name, parentenv, handler)

withCallingHandlers(expr = analysis

[2020-11-27 10:12] EJWagenmakers commented on #1083
Possibly. We have several students that are interested in contributing...

[2020-11-27 11:44] EJWagenmakers commented on #1083
Also, note that these options *are* available in our EFA function. Strange.

[2020-11-27 11:54] boutinb commented on #1084
It would be great if you want to try!
The interface is written in QML: https://github.com/jasp-stats/jasp-desktop/blob/development/Docs/development/jasp-qml-guide.md. Here you just have to add a Checkbox.
The analyses are written in R: https://github.com/jasp-stats/jasp-desktop/blob/development/Docs/development/r-analyses-guide.md. You can have a look how Descriptive.R is written.

It's maybe a lo

[2020-11-27 14:03] Jessietif opened #1087 "Can't se all column in Rollapp JASP"
* JASP version: Rollapp

* OS name and version:
* Analysis:
* Bug description: I have a data set with several columns and cannot see the right hand ones as the analysis screen is in the way and I can't minimise it anymore. is there a way to scroll right to see and edit all the columns in the screen??
* Expected behaviour:

#### Steps to reproduce:
1. Go to '...'
2. Click on '....'
3. Scroll down t

[2020-11-27 16:11] EJWagenmakers commented on #1084
No, but I think we should we willing to provide personalized instruction in this case.  And we also have at least one student (Jan) who is eager to start. So maybe we can be efficient and someone could do a zoom meeting guiding them through the process? Adding the CV would be a good start...actually, someone from the company we are working with might like that instruction as well, so then we alrea

[2020-11-27 16:28] tomtomme commented on #1084
I like the idea. Atm I could zoom-meet best Friday to Sunday or Tuesday after 13:30 or Thursday before 13:30. Also almost every evening after 20:30 when the kids hopefully sleep :D

[2020-11-27 16:58] FBartos commented on #1086
Hi,

the no data sharing restriction makes the situation a bit more challenging. Could you first try loading and refreshing the results of this file [debug.zip](https://github.com/jasp-stats/jasp-issues/files/5608949/debug.zip) (it needs to be unzipped first).
If this file works, could you recreate the problem with a similar/simulated dataset that you would be able to share?

Also, you said that y

[2020-11-28 10:15] djdekker commented on #1077
Hi Bruno, thanks for your attention. No, it's not blocking at all, so please don't hurry to fix this.

[2020-11-28 14:39] vandenman commented on #1085
No worries! It makes much more sense for us to develop features that people will actually use.

Happy to read that!

Just to make sure we're on the same page, rather than the partial plots below, which are on the scale of the residuals,

![image](https://user-images.githubusercontent.com/21319932/100517991-21146080-318f-11eb-87ae-6981629af045.png)

you would like a checkbox for a plot on the scale

[2020-11-28 15:25] tomtomme commented on #1085
Thanks. What you show in the lower plots is what I want (like in descriptives). 2 variables per plot are fine. However descriptives can already a third variable via Splits if it is binary / dichotomous via colour coding. Maybe this could be copied over without too much work.

Your "visual modeling" / Flexplot module is even more flexible.... It can display 4 variables of any scale and would automa

[2020-11-29 08:54] djdekker opened #1088 "Translation of headers not shown after language switch"
* JASP version: 0.14
* OS name and version: macOS Big Sur 11.0.1
* Analysis: any
* Bug description: In the results pane, the translation of the headers is not shown after switching the interface language
* Expected behaviour: Translated headers should be shown after switching the interface language

1. Open a data set.
2. Open 'Descriptives':
![before](https://user-images.githubusercontent.com/534

[2020-11-29 13:26] rmporsch commented on #1022
I think its important to emphasize how important this issue is.
Currently the interface implies that all variables, no matter the type can be used in a linear regression. However, factors currently cannot be added.
For new users this can be quiet frustrating and I am sure this can be confusing to people who are currently learning statistics.
Given that factors are so common in all analysis, I am a

[2020-11-29 14:00] EJWagenmakers commented on #1022
Yes, good catch. We are aware of this and will add factors in the next major release (not the upcoming bug fix release)
Cheers,
E.J.

[2020-11-29 14:40] JorisGoosen commented on #1087
Can't you just scroll in the data?

[2020-11-29 14:41] JorisGoosen commented on #1087
If not, please attach a screenshot.

On the other hand, we will be releasing a new JASP this coming week (or the next) and it will also include a Rollapp update.
So that might solve the problem. The current Rollapp version is pretty old btw.

[2020-11-29 18:45] Honskreutz opened #1089 "This analysis terminated unexpectedly. Error prompted upon selecting 'Equality of Variances' assumption check."
* JASP version: 0.14

* OS name and version: macOS Catalina 10.15.5
* Analysis: Indépendant samples t-test
* Bug description:
This analysis terminated unexpectedly.
Error in .ttestIndependentEqVarFill(equalityVariance, dataset, options): object 'result' not found
* Expected behaviour:

#### Steps to reproduce:
1. Select independent samples t-test
2. Select Time' and 'Measurement' variables
3. Sele

[2020-11-29 18:57] Honskreutz commented on #1089
[Unexpected_Termination_Error_MSG.xlsx](https://github.com/jasp-stats/jasp-issues/files/5612671/Unexpected_Termination_Error_MSG.xlsx)

[2020-11-29 19:15] djdekker commented on #1089
No error here with JASP 0.14 on macOS Big Sur 11.0.1:
<img width="764" alt="error" src="https://user-images.githubusercontent.com/5346286/100551170-5304f000-327f-11eb-8258-0198541256c9.png">

[2020-11-30 09:09] boutinb commented on #1089
Hi, on MacOS Mojave, it works also without error.
Could you give the whole call stack of the error?

[2020-11-30 12:30] #1077 closed

[2020-11-30 15:10] #1089 closed

[2020-11-30 15:30] boutinb commented on #1089
Quite strange indeed. I have tried your reproduction path in all orders, but could not find the error. If it happens again, please give the whole call stack of the error.

[2020-12-01 15:12] TarandeepKang commented on #1086
Your debug dataset worked fine, which led me to believe I had somehow misspecified the model . Indeed, I made a stupid mistake. Everything now works fine! :-)

[2020-12-01 15:12] #1086 closed

[2020-12-02 09:39] DrMarkGS commented on #1080
@JohnnyDoorn - Just noticed the same post-hoc problems in one way RMANOVA i.e. putting an X in front of the level

[2020-12-02 15:03] AlexanderLyNL commented on #1036
Solved: https://github.com/jasp-stats/jasp-desktop/pull/4407 for 0.14.1

[2020-12-02 15:03] #1036 closed

[2020-12-03 16:11] #647 closed

[2020-12-04 17:34] App-State-Prof opened #1090 "Graphic depiction/output for classification and regression trees"
I may have asked about this earlier...is it possible to add a graphical output for decision trees? So useful for student learning and reporting. There is an add-on in R Studio called "radiant" that produces the trees:

![Tree for relationships](https://user-images.githubusercontent.com/33431829/101195257-28bf8380-362d-11eb-9ea9-dbc46fcc2ecf.PNG)

Can we have something similar in JASP?

Thank you!

[2020-12-06 15:45] AlejandroPeru opened #1091 "Help AFC Bifactor"
Existirá la manera de realizar AFC bifactor en JASP. Si me podrían compartir una guía estaría agradecido.

[2020-12-06 15:46] AlejandroPeru commented on #1083
PCA no es análisis factorial.

[2020-12-06 20:35] dr-niz commented on #1069
I routinely encounter this issue. I've encountered it across many versions of JASP using different datasets. Sometimes it returns the vector size issue. Other times, it simply runs and runs without completing.

I often use repeated measures designs with lots of levels (e.g., 12-30) and one or two 2-level between subjects factors as well in my models. Sometimes, I can get JASP to complete an analys

[2020-12-07 07:53] EJWagenmakers commented on #1091
There is this moving gif showing how it is done in our CFA: https://jasp-stats.org/wp-content/uploads/2020/09/CFA.gif
You can also do this through our lavaan-SEM module (https://www.youtube.com/watch?v=rmpgUrfT_XY).

[2020-12-07 12:27] koenderks commented on #1090
Thank you, this is indeed a duplicate of https://github.com/jasp-stats/jasp-issues/issues/564. We would very much like to implement this feature, but this will take a considerable amount of time and we have not (yet) planned a large update for the machine learning module. We will keep you posted in the issue linked above about the status of this feature, and I will close this issue for now.

[2020-12-07 12:27] #1090 closed

[2020-12-07 15:36] vandenman commented on #1081
Thanks for reporting the issue!

The current development version shows for me on Ubuntu plots with the range of the raw data. Did you perhaps mean JASP version 0.14.1?
Because I can't replicate the problem, could you perhaps add a .jasp file as a zip file to the issue, so I can see what went wrong?

[2020-12-07 16:13] fplatz commented on #1081
Thanks for your reply. The issue is also in Version 0.14. I opened JASP on a Mac. Please would you give me your mail address? I will sent you a copy of my JASP-file.

Best wises,
Friedrich

[2020-12-07 16:25] vandenman commented on #1081
My email is d.vandenbergh <at> jasp-stats.org

[2020-12-07 20:08] Hardknox51 opened #1092 "JASP won't open on Win 10"
* JASP version: 0.14.0.0 (tried both 32 and 64 bit versions)

* OS name and version: Windows 10 Home, version 2004, OS Build: 19041.630
* Analysis: JASP will not open
* Bug description: JASP window briefly tries to open, nothing comes up, then immediately closes
* Expected behaviour: To open normally, windows compatibility test reports the program is incompatible

#### Steps to reproduce:
1. Go to

[2020-12-08 10:39] #1075 closed

[2020-12-08 10:41] TimKDJ commented on #1075
Thanks for pointing out this missing functionality! It will be included in JASP version 0.15 (it won't be 0.14.1 yet)

[2020-12-08 10:43] boutinb commented on #1092
Hi @Hardknox51 Could you send us the JASP log files (https://github.com/jasp-stats/jasp-desktop/blob/development/Docs/user-guide/logging-howto.md) ?

[2020-12-08 12:32] #1081 closed

[2020-12-08 14:59] nschreck opened #1093 "JASP mixed model results deviate from R (at least for factor covariables)"
* JASP version: 0.14

* OS name and version: macOS Catalina 10.15.7
* Analysis: Linear mixed model; F-Test
* Bug description: In comparison with R (lme4 and lmerTest packages), the results of a linear mixed model fit deviate (especially the standard errors of the estimates, test statistics, and p-Values) at least for factorial covariates.
 There are many options for estimation of variance componen

[2020-12-09 01:08] Hardknox51 commented on #1092
Unfortunately, this is all I get in the log files.

'C:\Program' is not recognized as an internal or external command,
operable program or batch file.

On Tue, Dec 8, 2020 at 4:43 AM bruno boutin <notifications@github.com>
wrote:

[2020-12-09 09:31] FBartos commented on #1093
Hi @nschreck ,
the analysis uses sum contrast coding for categorical (nominal / factors, ordinal) predictors (in contrast to R which uses dummy encoding by default). This scheme is used for better interpretability of models with interactions. However, the fixed and random effects estimates will differ from those obtained from R with default settings. We advise using the 'Estimated marginal means'

[2020-12-09 09:34] Kucharssim commented on #1082
Hello @fplatz,

Thank you for the report. I am unable to reproduce this problem on the upcoming 0.14.1 version (I am not sure what is the 0.15.1 version you use, we are not there yet 😅 ).

Could you perhaps share a .jasp file that shows this problem? (note: GitHub does not accept attachments through e-mail so you need to upload it directly to the website)

Thank you!

Best,
Simon

[2020-12-09 10:07] fplatz commented on #1082
Hello @Kucharssim,

thank you very much for your response. I've the same problem with Version 0.14.1. Actually, I would like to send you a JASP-File via mail. Would you please give me an address? Thanks in advanced!
Best,
Friedrich

[2020-12-09 11:19] Kucharssim commented on #1082
Hello @fplatz,

of course, you can send me an e-mail to s.kucharsky@uva.nl. Thanks!

Best,
Simon

[2020-12-09 13:42] boutinb commented on #1092
Is it what you find in the Desktop or Engine log file (can you send me the files?), or it what you get when you try to start JASP from the command line?

[2020-12-09 13:46] Hardknox51 commented on #1092
From both, because it won't open I followed the command line prompts you
provided to no avail, not sure what to do now. It worked fine when I first
downloaded it weeks ago, now it will not open. Some update must be
preventing it

On Wed, Dec 9, 2020, 7:42 AM bruno boutin <notifications@github.com> wrote:

[2020-12-09 13:57] Hardknox51 commented on #1092
startup log attached

On Wed, Dec 9, 2020 at 7:42 AM bruno boutin <notifications@github.com>
wrote:

[2020-12-09 14:13] boutinb commented on #1069
Can you send us a JASP file with this problem. Then we can have a look at the memory used.

[2020-12-09 15:15] dr-niz commented on #1069
Sure thing. This dataset has a two 12-level within subject measures, and three 2-level between subjects factors. I get the error “cannot allocate vector of size 572.7 Mb” when I try to run this analysis.

From: bruno boutin <notifications@github.com>
Sent: Wednesday, December 9, 2020 9:14 AM
To: jasp-stats/jasp-issues <jasp-issues@noreply.github.com>
Cc: Matthews, Nic <matthews.345@osu.edu>; Comme

[2020-12-09 16:11] boutinb commented on #1069
@dr-niz  Please use the GitHub Website to send file (in a ZIP format). If you answer via mail, the file is not sent.

[2020-12-09 16:22] dr-niz commented on #1069
I edited my response to include a .zip of the dataset

[2020-12-09 21:29] MichlF opened #1094 "Engine crash when rescaling model averaged posteriors"
* JASP version: 0.14

* OS name and version: Windows, most recent
* Analysis: ?
* Bug description: "The engine crashed while trying to run this analysis..." error when trying to rescale plots.
* Expected behaviour: Proper graph rescaling

#### Steps to reproduce:
1. Load "Looks or Personality" data set from data library.
2. Run a Bayesian RMANOVA in the same way the already provided standard RMANO

[2020-12-10 08:51] vandenman commented on #1094
Unfortunately, I can't replicate this problem on Ubuntu. Could you perhaps share the log files in the issue? You can find these in the menu below:

![image](https://user-images.githubusercontent.com/21319932/101748644-1c27a900-3acd-11eb-964f-347c2e4721da.png)

[2020-12-10 10:09] MichlF commented on #1094
Sure
[JASP 2020-12-10 11_06_14 Desktop.log](https://github.com/jasp-stats/jasp-issues/files/5671863/JASP.2020-12-10.11_06_14.Desktop.log)

[2020-12-10 10:14] MichlF opened #1095 "Get values of graphs and other elements"
* Enhancement: I'd like to be able to get the values that make up any graph in the output as a .csv file or some other common data format.
* Purpose: Oftentimes the graphs are not ideal for my purpose so I want to change them, or I need the post the values that make up a specific graph but can't because the graph does not show the exact values.
* Use-case: There are many but for example, I would l

[2020-12-10 10:35] vandenman commented on #1094
Just to double-check, there is only a log of the Desktop and there are no logs of the engines?

For comparison, JASP should create one log file for the Desktop and four log files for the Engines.
![image](https://user-images.githubusercontent.com/21319932/101760729-87787780-3adb-11eb-8077-b09920144a23.png)

[2020-12-10 10:49] MichlF commented on #1094
Yes sorry.
[JASP 2020-12-10 11_06_14 Engine 2.log](https://github.com/jasp-stats/jasp-issues/files/5672122/JASP.2020-12-10.11_06_14.Engine.2.log)
[JASP 2020-12-10 11_06_14 Engine 3.log](https://github.com/jasp-stats/jasp-issues/files/5672123/JASP.2020-12-10.11_06_14.Engine.3.log)
[JASP 2020-12-10 11_06_14 Engine 0.log](https://github.com/jasp-stats/jasp-issues/files/5672124/JASP.2020-12-10.11_06_1

[2020-12-10 14:07] boutinb commented on #1095
It seems to me a nice feature. What do you think @vandenman ?

[2020-12-10 14:46] vandenman commented on #1095
This would be nice, but in practice, the plotting data can consist of more than one table. Take for example this figure:

![image](https://user-images.githubusercontent.com/21319932/101786186-ee0e8d00-3afd-11eb-8f3f-57235b17b1f1.png)

The dataframes in the plot are:
[code]
the third dataframe we can probably remove automatically but the first one we cannot remove automatically. In general, the num

[2020-12-10 15:50] boutinb commented on #1069
I have tried it on my machine (MacBook), and it works without problem. The Engine takes 1.56 GB of real memory and 5.81 GB of Virtual Memory. This is indeed a lot, but not extreme. Most af the machines should support that. I will try tomorrow on a Windows machine.
Here is the result:
[JASP 0_14_1 Final dataset with bad subs removed.jasp.zip](https://github.com/jasp-stats/jasp-issues/files/5673901/

[2020-12-10 15:56] MichlF commented on #1095
Isn't the relevant not simply always whats plotting on x and y and thus the only thing you really wanna extract (i.e. is it not possible to save this x & y from the second dataset)?
I reckon this is R so wouldn't something like `gb$data[[2]][ , c("y", "x")] ` and then e.g. `write.csv` do the trick? No need to remove the first data frame.

[2020-12-10 16:14] EJWagenmakers commented on #1069
Call me old-fashioned, but this seems huge. Is this an issue with R? (if so, it is what it is)

[2020-12-10 16:33] vandenman commented on #1095
In this case, the first data frame is just a dummy data frame. But it could be that the first data frame actually considers the data plotted on x and y. For example, in this figure:
![image](https://user-images.githubusercontent.com/21319932/101798109-0933c980-3b0b-11eb-9c29-cdd0730a227d.png)

there is a line and a histogram. In R we now have:
[code]
Now the second and third data frames contain us

[2020-12-10 16:43] vandenman commented on #1069
just to make sure, are you using a 32-bit version of Windows? [R running on a 32-bit system has very strict memory limitations in contrast to R running on 64-bit systems.](http://search.r-project.org/R/library/base/html/Memory-limits.html)

[2020-12-10 18:08] dr-niz commented on #1069
My computer is about 2 weeks old. Here are the specs:

![image](https://user-images.githubusercontent.com/75586298/101811964-bc3efb80-3ae8-11eb-82de-42335f480640.png)

[2020-12-11 14:13] MichlF commented on #1095
I am not very familiar with R unfortunately and the functionality I suggested is not urgent for me.
I just wish it would exist and would be very thankful if it would be implemented in the near future!

[2020-12-11 15:17] boutinb commented on #1069
I have just tried on a Windows 10 machine with 16 GB RAM and 3.39 GHz processor. and it works without problem... and the JASP Engine uses ~1,5 GB (like n Mac)
I see here https://www.rdocumentation.org/packages/utils/versions/3.4.1/topics/memory.size that it's possible to set the memory size used by R. @vandenman : is it possible to increase the memory with a global setting in R?

[2020-12-11 16:31] vandenman commented on #1069
@boutinb yes it's possible to change the limits. If you try `memory.limit()` in the R beta window you should see the current limit. On Ubuntu I get a warning followed by Inf, but on Windows there should be some value.
![image](https://user-images.githubusercontent.com/21319932/101929089-b0316780-3bd6-11eb-910a-ae922704e5b4.png)

[2020-12-14 11:48] Lucadam commented on #1068
I apologize for the delay in replying! Here you can file the jasp file, thanks!
[daminato.jasp.zip](https://github.com/jasp-stats/jasp-issues/files/5688565/daminato.jasp.zip)

[2020-12-14 14:23] vandenman commented on #1068
Thanks! If I use almost all variables in the data set I get that the engine crashes. I will look into this further and will keep you updated.

[2020-12-14 15:28] philippberens opened #1096 "qq plots"
While using JASP during teaching, my students and I stumbled upon unexpected behavior of different qq-plot implementations at different places in JASP:

qqplot under descriptive stats plots standardized residuals on the y-axis, while qq-plot in Distributions the Sample numbers. Also, the lines shown are not identical. I think it would be nice to harmonize the behavior.

![image (1)](https://user-i

[2020-12-14 16:23] vandenman commented on #1068
So there are multiple things going wrong here. The error message is not very informative, I will improve that. However, your data set consists of `1048349` rows, but rows `167` until `1048349` are completely empty. That's probably not what you want! If I filter out the missing values with `!is.na(ID)` as filter, then the analysis proceeds without error. Would that work for you?

[2020-12-14 17:03] Lucadam commented on #1068
Thanks! I suspected it because the problems mentioned above remain only for this file (I divided a big file into 4 samples/files). How can I eliminate these additional rows? I'm new to Jasp and R. Eventually, it might be useful if I copy the valid rows into a new CSV and then import them into Jasp?

[2020-12-15 07:47] vandenman commented on #1068
One way is to open the file in e.g., excel, and delete the rows manually. That way they'll be gone forever (which is probably better in this case). Afterward, you can read the data again in JASP.

If you want to do this within JASP, click on the filter icon:
![image](https://user-images.githubusercontent.com/21319932/102185726-cc245a00-3eb1-11eb-9ffa-2aad844ab08a.png)

Then click on R

![image](ht

[2020-12-15 10:52] vandenman commented on #1096
So in descriptives standardizes the variable and then compares it to the quantiles of a standard normal distribution. In contrast, the distributions module uses maximum likelihood estimation to obtain parameter estimates for the normal distribution (and other distribution) and then compares the sample quantiles to the fitted distribution. I've now changed it so that descriptives also compares the

[2020-12-15 12:22] philippberens commented on #1096
Thanks for tackling this quickly. The two methods are equivalent for a Normal distribution, in my opinion, as standardization requires estimating mu and sigma, and the estimates are the ML estimates.

[2020-12-15 12:30] vandenman commented on #1096
They are indeed identical for a normal distribution. However, in the distributions module, the plotting code is set up generically, so that it works for all distributions. It would also not make sense to standardize e.g., gamma-distributed variables as subtracting the mean would introduce negative values.

[2020-12-15 12:32] philippberens commented on #1096
Ah great, but that means that the two plots are now identical in the two tabs for Gaussians, which I think makes sense. Maybe adjust the axis labels.

[2020-12-15 22:05] skyea2 opened #1097 "JASP crashes on open after MacOSX install"
* JASP version:0.14.0.0 Catalina

* OS name and version: macOS Catalina 10.15.6
* Analysis: I have tried several times to install JASP...both Catalina and preCatalina. I have tried moving an old version to trash, and even restarting my computer after install. Every time I click on the app to open it, it bounces as if it is, then says it is verifying the program, and then never actually executes th

[2020-12-16 10:21] JorisGoosen opened #1098 "JASP should run on Apple Silicon"
Apple just released some new computers based on "their own silicon" aka apple silicon or the M1 chip.

This is just an ARM chip with some custom components bolted on I think so it shouldn't be too difficult to compile and set up.
In theory anyway, because we already support ARM on linux and that runs fine.

[This bugreport/featurerequest on qt.io](https://bugreports.qt.io/browse/QTBUG-85279) proba

[2020-12-16 10:24] JorisGoosen commented on #1097
Sorry to hear it!

Could you help us fix your problem by following the steps in: https://github.com/jasp-stats/jasp-desktop/blob/development/Docs/user-guide/logging-howto.md ?

Im guessing that in this case it would be useful if you copy both the logfiles and the output of `./JASP --logToFile` (see the manual I sent).

[2020-12-16 14:31] EJWagenmakers opened #1099 "Delete column functionality"
A suggestion via email:

"in the Data page, would it be possible to add functionality to delete a column?"

[2020-12-16 14:32] EJWagenmakers opened #1100 "Change column width in spreadsheet"
Received via email:
"it would be great to have functionality to change the width of each column"

[2020-12-16 18:10] JorisGoosen commented on #1100
Could be a part of Data Editing as we have to overhaul the interface at that point anyway.
Ive added it to the list in https://github.com/jasp-stats/INTERNAL-jasp/issues/751

But, it would be good to know *why* the user wants this... What is the use of it?

[2020-12-17 01:52] MykolasSimasPoskus opened #1101 "JASP show up as Jedi Academy on Discord"
* JASP version: 0.13.1
* OS name and version: Win 10
* Analysis: -
* Bug description: JASP shows up as Star Wars Jedi Knight: Jedi Academy on Discord. Since I've been using Discord to stream my statistics lectures I've encountered this very fun bug (or a feature?).
* Expected behaviour: To show up as JASP or not to show up at all.

#### Steps to reproduce:
1. Start Discord
2. Start JASP
3. It show

[2020-12-17 01:54] MykolasSimasPoskus opened #1102 "CIs for std(all) in SEM"
* Enhancement: Add confidence intervals for the std(all) column in SEM
* Purpose: Most publications require CIs
* Use-case: I've been requested by several reviewers to provide CIs for standardized beta weights in SEM. I either explained that the software does not output them or had to use other software for modelling. I would really love to have to use just JASP.

[2020-12-17 11:29] boutinb commented on #1069
@dr-niz Did you try what Don showed? Om my PC, I get 1.76e+13

[2020-12-17 18:10] JohnnyDoorn opened #1103 "When using "Developer mode" Engine Crash when plotting prior/posterior Bayesian Paired Samples T-Test"
* JASP version: 14.1

* OS name and version: Ubuntu 20.04
* Analysis:  Bayesian Paired Samples T-Test
* Bug description: Engine crashes
* Expected behaviour: Engine does not crash
Any data file, run Bayesian paired samples t-test between any 2 continuous/scale variables, and plot prior/posterior. See attached jasp file (change extension)
[debugCrashEngineWhenPlotPriorPosterior.zip](https://github.

[2020-12-18 08:04] AlexanderLyNL commented on #1103
I can replicate this with 0.14.1 on macOS 10.13.6.

[2020-12-18 08:15] AlexanderLyNL commented on #1103
The error only occurs in Bayesian paired, not in the other Bayesian t-tests.

[2020-12-18 09:23] AlexanderLyNL commented on #1103
Solved if "Developer mode" is turned off. This bug will disappear automatically when we restructure the code.

[2020-12-18 09:26] AlexanderLyNL commented on #700
This was done for 0.14.1 wasn't it? If not, please reopen.

[2020-12-18 09:26] #700 closed

[2020-12-18 09:27] AlexanderLyNL commented on #1068
I think that the problem is solved by removing the missing cases. Please reopen, if something's still unclear.

[2020-12-18 09:27] #1068 closed

[2020-12-18 09:42] AlexanderLyNL commented on #701
This was done for 0.14.1, wasn't it?

[2020-12-18 09:42] #701 closed

[2020-12-18 09:51] koenderks commented on #701
Yes

[2020-12-18 09:51] koenderks commented on #700
Yes

[2020-12-18 14:36] vandenman commented on #1101
Duplicate of https://github.com/jasp-stats/jasp-issues/issues/1030.

Perhaps we should contact Discord to see how they detect what game is running and ask them to add an exception for JASP.

[2020-12-18 15:14] ASarafoglou opened #1104 "S.S. Bayesian Correlation: Prior-Posterior Plots are Not Updating"
* JASP version: 0.14 and higher

* OS name and version: macOS Catalina 10.15.7
* Analysis: S.S. Bayesian Correlation
* Bug description: When you change the Alt. Hypothesis in the Bayesian Correlation the prior and posterior plot is not updating.
* Expected behaviour: The plot should be redrawn (or update) if the Alt. Hypothesis is redefined

#### Steps to reproduce:
1. Go to S.S. Bayesian Correlat

[2020-12-18 16:13] dr-niz commented on #1069
Yes, I get this value: 1.759219e+13

[2020-12-18 17:22] JohnnyDoorn commented on #1103
Confirmed!

[2020-12-19 13:21] EJWagenmakers commented on #1100
Well it might be handy if column names are really long, or if data entries have many decimal points but you want to see just a few

[2020-12-19 13:23] EJWagenmakers opened #1105 "JASP 0.14.1 can't be put on the Windows task bar"
It refuses to go there -- oh but wait, the last time I just needed a restart to make that happen. I'll try,,,

[2020-12-19 13:25] EJWagenmakers commented on #1105
Yes the restart made it happen

[2020-12-19 13:25] #1105 closed

[2020-12-21 08:23] akashrajkn commented on #1104
I can reproduce this on `v0.14.1` (although parts of the plot seem to change). I will fix it this week

[2020-12-21 11:59] EJWagenmakers opened #1106 "improve tooltips on ribbon icons"
The tooltips for the ribbon icons seem mostly redundant (e.g., "This module offers X" with the icon called "X") -- can we remove them please?
E.J.

[2020-12-21 18:24] mmcphedr opened #1107 "Error in Producing Bayesian Generalized Linear Mixed Models"
* JASP version: 0.14.1
* OS name and version: Windows 10 Home, Version 1909
* Analysis: Bayesian Generalized Linear Mixed Effects Model --> Dependent variable is RT, fixed effects are sq and rel, random effects are sub and it (need to convert to either nominal or ordinal data before analyzing). Family is Inverse Gaussian (link = Identity)
* Bug description: When I include Subject and Item as rando

[2020-12-22 10:38] JorisGoosen commented on #1106
Sure, what we could also do is make them more sensible?
The tooltip is basically the "Description" field of a module, so it could easily be made more informative.

But I can also just remove them entirely.

[2020-12-23 18:21] FBartos commented on #1107
Hi @mmcphedr ,

thanks for reporting the issue and sharing the dataset with instructions - it helped me a lot with this issue.

There seems to be some interplay between the variable names and our JASP code. We are probably not going to be able to fix this issue immediately, however, I found a workaround that allows you to work with the dataset - adding "var_", or another prefix in front of the var

[2020-12-24 10:15] TimKDJ commented on #1107
On the `development` branch we've turned on automatic column encoding. So `.v()` et al. doesn't actually do anything anymore. If this bug doesn't render the analysis completely useless and only occurs in specific cases (i.e., is not a reason for 0.14.2), then we can just wait for 0.15 and won't need to bugfix.

[2020-12-24 22:36] dhanson06 commented on #1007
I have a question that I was hoping you could help with.

I did a k-means cluster analysis and separated a dataset into 4 clusters, and then created a column to display the cluster that each participant is in.  I am trying to find the mean score of the value that represents each cluster (it only displays the centroid value, and the mean that it displays looks like the mean of the centroid maybe),

[2020-12-27 14:25] EJWagenmakers commented on #913
Maybe a really good project for some of our new students, @vandenman

[2020-12-28 13:49] jrennstich commented on #395
This is pretty standard for any kind of survey data, so I too would strongly appreciate such a feature in JASP, especially since I use it for teaching purposes!

One R package is
https://github.com/andrie/surveydata
in the example they use `weights` as a variable
https://github.com/andrie/surveydata#defining-a-surveydata-object

One of the most widely used R packages for surveydata analysis is
htt

[2020-12-28 17:13] jrennstich commented on #395
There's an explanation explaining how it's done in SPSS here:

https://www.ibm.com/support/pages/differences-between-using-variable-weight-variable-spss-and-using-it-wls-or-regression-weight-regwgt-regression

[2020-12-29 23:12] lkjeseth opened #1108 "Cannot Sign in to OSF on Jasp"
* JASP version:0.14.1

* OS name and version:Mac Big Sur 11.1
* Analysis: Does not recognize my sign in to OSF
* Bug description:
* Expected behaviour:

#### Steps to reproduce:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

[2020-12-31 15:55] TrevorMilliron opened #1109 "Variable Window broken in flatpak 0.14.1"
* JASP version: 0.14.1

* OS name and version: Chromebook - Linux Beta (most recent)
* Analysis:
* Bug description: When I click on a variable header to change labels, the screen expands above the sheet for the variable as usual, but the labels are missing.
* Expected behaviour: I expect to see the nominal categories as listed in the data sheet ready to be named.

#### Steps to reproduce:
1. Go to

[2021-01-02 09:45] pablrdriguez opened #1110 "[0.14.1.0] Crashing when deleting factor in repeated measures ANOVA"
* JASP version: 0.14.1.0

* OS name and version: Windows 10 20H2
* Analysis: Repeated measures ANOVA
* Bug description: when trying to delete a factor (or a level), the program crashes without warning or error message

[2021-01-02 20:41] EJWagenmakers commented on #1108
I have tried to log in to the OSF and was successful (I'm on Windows 10 though). However, at first my OSF directory was empty and I thought something was amiss. Then I noticed the "sort" button; when it is set to "none", I see no files whatsoever. As soon as I tick any of the other options, the directories do show. Is this happening to you as well? For @JorisGoosen:

1. Is there any purpose to the

[2021-01-02 20:51] EJWagenmakers opened #1111 "Increasing font size ought to increase font size for output tables too"
From an email:
We can use control+ and control- to change the font sizes. This works very well for the input GUI; however, (and I tried this myself and can confirm), the font sizes for the output tables hardly seem to respond at all. This is inconsistent, and it is a limitation for people with poor eyesight (like me).

Cheers,
E.J.

[2021-01-03 10:12] hosaikin opened #1112 "One-sample t-test"
Dear JASP term,

I no longer see the mean difference in the output when I run a one-sample t-test in the new version 0.14.1.  Besides, value of the Cohen'd seems to be wrong.

Look forward to your reply.
Regards,
Sammy

[2021-01-03 11:20] nicovizioli opened #1113 "Request: cfa with ordinal data"
Hello. I think that this is an old request, but having the possibility of perform cfa with ordinal data could be from help for a lot of redearchers. For example, most scales or questionnaires requiere working with likert type data.
Cfa with ordinal data may be more helpful than efa with ordinal data too, because thete isnt a factor like software to perform cfa.
Best regards

[2021-01-03 13:33] EJWagenmakers commented on #1112
Dear hosaikin,

Can you provide a screenshot? When I try this I get the mean difference when I tick "location estimate" (and also descriptives).
![image](https://user-images.githubusercontent.com/8603015/103479819-93044900-4dd0-11eb-892b-012805a3378e.png)

[2021-01-03 13:56] hosaikin commented on #1112
Dear Sir/Madam,

Currently I am revising my notes based on the new version of JASP. In the
older version, the column next to p was Mean Difference. I would like to
test if my sample mean "percent" is significantly different from the
population mean of 75. Perhaps the major problem is that the Cohen's d
value (=6.621) is wrong, which is the same for any test value.

Best,
Saikin

[image: image.png]

[2021-01-03 14:19] AlexanderLyNL commented on #1112
Dear Saikin,

From version 0.14.1 onwards the test value only affects the test quantities in the one-sample t-test. The estimation quantities  (1) effect sizes, and (2) location estimates, and (3) the confidence intervals now do not depend on the test value.

Previously, we indeed reported all results relatively to the test value. I changed this, because reporting the estimates with respect to the

[2021-01-03 15:02] hosaikin commented on #1112
Dear Alexander,

Thank you for your reply.

Best,
Saikin

On Sun, Jan 3, 2021 at 10:19 PM AlexanderLyNL <notifications@github.com>
wrote:

--
Disclaimer

This
 message (including any attachments) may contain
confidential
information intended for a specific individual and/or
purpose. If you
are not the intended recipient, please delete this message
and notify
the sender and the University immediate

[2021-01-03 15:04] #1112 closed

[2021-01-04 02:55] emilyhanxiao opened #1114 "RM ANOVA: Error while loading data, please verify your repeated measures observations"
* JASP version: 0.14.1

* OS name and version: Windows 10 (October 2020 Update)
* Analysis: repeated measures ANOVA
* Bug description: When loading repeated measures cells, there is still a chance that (according to previous reports) JASP would not recognize the RM label and produce the error message "Error while loading data, please verify your repeated measures observations".
![图片](https://user-

[2021-01-04 10:33] JorisGoosen commented on #1108
This sounds like a bug in sorting!
But I will try to reproduce this.

[2021-01-04 10:47] JorisGoosen commented on #1110
Could you upload a jasp-file from the situation *before* it crashes?
That way I know Im doing the same thing as you did before the crash.

[2021-01-04 10:50] JorisGoosen commented on #1109
Aah, yeah that is too bad.
I can reproduce this and it seems the changing to nominal *does work* but the label-editing widget broke after upgrading to a newer version of qt...

[2021-01-04 10:51] JorisGoosen commented on #1111
Hmm, it used to respond, but now it doesn't.
This should definitely be fixed.

[2021-01-04 10:55] JorisGoosen commented on #1114
I think we fixed this in our development version, but it might not have been ported back to stable.
I will have a look.

[2021-01-04 14:53] boutinb commented on #1007
@EJWagenmakers Can you have a look?

[2021-01-04 14:59] boutinb commented on #395
We could add this for 0.15, but I'm not sure about the amount of work. @vandenman Could you have a look?

[2021-01-04 15:07] boutinb commented on #1113
It is still possible to change an Ordinal column into a Scale column (click on the Ordinal icon of the column, a pop-up menu should appear and choose the scale type).
But the restriction to scale data seems to me too strong indeed. @vandenman is there any reason why the factors must be of scale type? If there is no reason, then I can just change the restriction from Allowed to Suggested.

[2021-01-04 15:10] boutinb commented on #1111
This works on my Mac

[2021-01-04 15:24] EJWagenmakers commented on #1007
Hmm maybe something for @vandenman  or @koenderks ?

[2021-01-04 15:46] boutinb commented on #1069
Hmm... this is a tough one... Can other people using Windows try it: @koenderks or @FBartos ?

[2021-01-04 16:07] JorisGoosen commented on #1111
Did you test 0.14.1?
Because it  doesnt work on linux.

[2021-01-05 08:01] boutinb commented on #1111
Yes 0.14.1. Tables, notes, title, everything is scaled.

[2021-01-05 08:15] vandenman commented on #1111
flatpak 0.14.1 ([sources](https://github.com/jasp-stats/jasp-desktop/commit/f2cb223fef6b15089fd6e9da54825d370c1ece57)) also also scales for me on Linux.

[2021-01-05 09:52] JorisGoosen commented on #1108
From an email by @lkjeseth:

[2021-01-05 09:54] JorisGoosen commented on #1111
Weirdly enough it now scales for me as well...

I guess we would need to get a screenshot from the OP.
@EJWagenmakers you know who this was right?

[2021-01-05 17:04] Tlee298 opened #1115 "Analysis Terminated Unexpectedly"
* JASP version: 0.13.1

* OS name and version: Windows 10
* Analysis: Bayesian Contingency Tables
* Bug description:
* This analysis terminated unexpectedly.

Error in .contTabBasComputeBF(options, grp.mat[[g]], ready): trying to get slot 'bayesFactor' from an object (class 'try-error') that is not an S4 object

Stack trace
* Expected behaviour:

#### Steps to reproduce:
1. Go to '...'
2. Click on

[2021-01-05 19:48] adamblake opened #1116 "Reliable version indicator on website or releases"
* Enhancement: Reliable method of retrieving recent release programmatically
* Purpose: Easier for automatic update and install software to get latest version
* Use-case: User runs `cup jasp` with [chocolatey](https://chocolatey.org/packages/jasp)

**Is your feature request related to a problem? Please describe.**
I maintain the [chocolatey](https://chocolatey.org/packages/jasp) repository for JAS

[2021-01-06 08:55] boutinb commented on #1116
Hi @adamblake, thanks for your comprehensive request.
We have already an URL that you could use: http://static.jasp-stats.org/JASP-Version.txt
This URL is used by JASP self to check whether a newer version exists.
We could add also a release page in GitHub. I will discuss that with my colleagues.
We should indeed set the appropriate Git tag in our repository.

[2021-01-06 09:00] boutinb commented on #1115
Hallo @Tlee298 You wrote that you use 0.13.1. Can you try the last version 0.14.1? If this error still occurs, can you describe exactly the steps in JASP to reproduce this error. It would be even better if send us a JASP file (via GitHub in zip format) where we can reproduce this problem.

[2021-01-06 09:46] JorisGoosen commented on #1116
Well I usually do set a tag for each release already, but wasn't consistently uploading the windows/mac installers there.

That is a great idea. Also for people who have our static domain blocked (apparently some employers do this).

[2021-01-06 10:34] JorisGoosen commented on #1116
See: https://github.com/jasp-stats/jasp-desktop/releases/tag/v0.14.1.0
Now I just need to remember to do this for every release...

[2021-01-06 11:30] clutteroth opened #1117 "User interface unresponsive in Win10 high-contrast mode"
* JASP version: 0.14.1

* OS name and version: Windows 10 Enterprise
* Bug description: When enabling the Windows high-contrast mode, the JASP user interface becomes unresponsive. Not all clicks are registered and the interface updates infrequently, only after a few clicks and with long delays. This happens as soon as high contrast mode is enabled, no matter is JASP is already running or is starte

[2021-01-06 13:12] franklenin opened #1118 "Sequential analysis for Bayesian ANOVA"
Sequential analysis for the Bayesian ANOVA

* Purpose: To implement a sequential analysis for the Bayesian ANOVA

Sequential analysis is a powerful tool of Bayesian analysis. While you already offer a sequential analysis for the Bayesian t-test, there is not an option for the Bayesian ANOVA. It will be extremely useful to have this option in future versions of JASP.

[2021-01-06 14:49] JorisGoosen opened #1119 "Audit Workflow crashes hard on Linux"
In JASP 0.14.1 on linux opening any of the following analyses crashes JASP hard:
- Sampling Workflow
- Bayesian Sampling Workflow
- Selection

It crashes with this stack trace in the debugger:
[code]

@boutinb thought he recognized this from somewhere.

[2021-01-06 14:50] JorisGoosen commented on #1119
It looks to me like a weird infinite loop of setImplicitSize. Maybe we are using it wrong somehow in those analyses?

[2021-01-06 18:19] adamblake commented on #1116
This is perfect for my use case! Thanks for pointing me to it.

[2021-01-06 18:33] #1116 closed

[2021-01-06 18:35] SchlennoB opened #1120 "Allow adding empty values to nominals/ordinals"
* Enhancement: Allow manually adding values to nominal/oridnal variables, similar to the `levels()` function in R, even if there is no data given for certain levels.
* Purpose: When analyzing survey data it may happen that certain answer options have not been selected at all. When importing such a dataset JASP will create the values from the data that is available (i.e. given a five level answer s

[2021-01-06 20:40] JorisGoosen commented on #1119
Aha, so with my working branch for replacing VariablesWindow I can reproduce this crash on both mac and windows.
Commenting out all the `Layout.*` statements in the relevant QML file stops it crashing.

So a kind request to @koenderks please stop adding so many `Layout.fillWidth` and `Layout.preferredHeight` statements ;)

I'll try to remove them without breaking the actual look of the qml.

[2021-01-06 20:58] JorisGoosen commented on #1119
The main problem seems to be putting `ColumnLayout` inside `GridLayout` actually, combined with a `Layout.leftMargin'.
Which is good because that means I can leave it mostly untouched.

But I would like to point out to @koenderks that having:
[code]

Is exactly the same as just having:
[code]
Because they are all in a section with just a single column anyway. But I'll leave it as is.

[2021-01-07 10:04] vandenman commented on #395
So there are requests for multiple analyses in this thread. I think that implementing all of these will take too long for 0.15 (at least, if I'm the only one implementing them). For linear regression, however. it should be possible to implement this for 0.15. In fact, I think all we need to do is adjust the degrees of freedom when a weights variable is passed (e.g., see this [blog post](https://ww

[2021-01-07 10:45] #1119 closed

[2021-01-07 22:21] bradyse commented on #1043
I downloaded the x64: vc_redist.x64.exe file since I have a 64 bit system. It did nothing and JASP still won't open. When I tried to download the logtoFile info (per another thread), the file does not exist in my AppData\Roaming folder.

[2021-01-07 22:56] bradyse opened #1121 "JASP won't open"
* JASP version: 0.14 and 0.14.1
* OS name and version: Windows 10 x64
* Analysis: Opening program
* Bug description: JASP won't open
* Expected behaviour: Open start-up window

This issue began when Windows pushed through a large update in December 2020. Based upon several other threads with the same issue, I attempted the following without success:

- Downloaded the most recent C++ redistributabl

[2021-01-08 12:02] boutinb commented on #1121
Hi @bradyse This is really annoying. Just to be sure: you did read this document: https://github.com/jasp-stats/jasp-desktop/blob/development/Docs/user-guide/logging-howto.md ?
Are you admin of your PC?
Also that you can't see any log file is really strange. What you could try is to create a folder somewhere (D:\temp for example if you have a D drive) with a Command Prompt, to go to the `c:\Progra

[2021-01-08 12:36] boutinb commented on #1120
I think this is quite easy to add. @JorisGoosen, you are just busy with the variables level window, do you think you can easily add this possibility?

[2021-01-08 12:37] boutinb commented on #1118
@JohnnyDoorn Could you answer this request?

[2021-01-08 12:43] #1043 closed

[2021-01-08 12:44] boutinb commented on #1043
This issue is now here: https://github.com/jasp-stats/jasp-issues/issues/1121

[2021-01-08 15:50] JorisGoosen commented on #1120
Yeah this shouldn't be too hard. The only problem I foresee is that when you synchronize from a datafile it might drop the extra values/labels again. But a workaround for that shouldn't be too hard either.

[2021-01-08 17:18] SchlennoB commented on #1120
Now that was quick. Thank you!

[2021-01-08 21:25] bradyse commented on #1121
Thanks for your help. I have admin privileges to my PC, but not full privileges (because this is my employer's laptop). I installed JASP on my C:\ drive. Once I created a temp folder in my network drive (Z:\ drive) using the Command Prompt to create the log file per your instructions, JASP opened and I was able to find the folder where the logs are (which were in my Z:\users\user.name\AppData\Roam

[2021-01-08 21:25] #1121 closed

[2021-01-09 20:23] alliemariemann opened #1122 "reliability analyses crashing"
* JASP version: 0.14.1

* OS name and version: Windows 10
* Analysis: Classical Single-Test Reliability Analysis
* Bug description:  This is the error messege: "This analysis terminated unexpectedly.

Error in `*tmp*`[['freq']]: subscript out of bounds

Stack trace
tryCatchOne(expr, names, parentenv, handlers[[1]])

doTryCatch(return(expr), name, parentenv, handler)

withCallingHandlers(expr = ana

[2021-01-11 08:55] boutinb commented on #1121
Hi @bradyse, Happy to hear that it works now. But I would like to know exactly what went wrong to avoid the problem you had for other users.
Actually I don't understand exactly what you did. You have created a temp folder in your z drive, and then JASP could start. But do you have still to start JASP with the command prompt? Could you tell me exactly what you did? Did you have to create self the Z

[2021-01-11 08:58] boutinb commented on #1122
Hi @alliemariemann To be able to understand what goes wrong, we need to have a precise reproduction path. The best would be to have your dataset (or your JASP file), and explain us exactly what you did to get the error.

[2021-01-11 20:35] bradyse commented on #1121
Hi @boutinb, Yes, I created a temp folder in my Z drive by simply going into the File Explorer menu. Then, using the command prompt, I created the log.txt file according to your instructions. I did NOT have to create the  log file in Z:\users\user.name\AppData\Roaming\JASP. Once I used the command prompt to create the log.txt file, JASP immediately opened on my computer. It was like as if it was t

[2021-01-12 18:57] Oibade opened #1123 "Dunn's P values: Add p-value explainer footnote"
Dunn's test under the ANOVA section produces unadjusted p-values (they're exactly half) that do not match other softwares (GraphPad PRISM v9.0.0, R v3.6.2). Using JASP 0.14.1

[2021-01-12 19:59] EJWagenmakers commented on #1123
@JTPetter did you check this one out?

[2021-01-12 20:19] Saguaroman opened #1124 "Data Library output not appearing"
* JASP version: 0.14.1
* OS name and version: Windows 10
* Analysis: All
* Bug description: When I open files in the "data library" the accompanying explanation and analysis used to open as well.  Now, just the data file opens and I don't see a way to get the analysis to appear.
* Expected behaviour: For the analysis to appear when the "data library" files are opened.

#### Steps to reproduce:
1.

[2021-01-13 10:23] JTPetter commented on #1123
@EJWagenmakers

I have looked into verifying Dunn’s test in JASP. It is not available in any of the other common software packages (Minitab, SPSS, etc.), but a comparison with the R package 'dunn.test' confirmed the results in JASP.  See the output below.

![image](https://user-images.githubusercontent.com/61797391/104439656-a31ae600-5591-11eb-9608-a6440ec0311b.png)
![image](https://user-images.gi

[2021-01-13 14:17] JorgeCamachoS commented on #1092
Hi, i have the same problem but after the windows 10 thuesday 12 update, JASP is working again.

[2021-01-13 14:44] gracee2 opened #1125 "Trouble Downloading on MacBook Air"
I am needing to download the JASP software for school and none of the versions I download will "open" on my computer. I have a MacBook Air that was brand new in 2017. I tried downloading the older version of JASP as well (as noted on the site) and it did not work. I need this ASAP and any help is appreciated.

[2021-01-13 14:58] AlexanderLyNL commented on #1125
Hi Gracee2,

Have you tried opening JASP by right-clicking the app and then click open? You might need to do this twice.

Cheers,
Alexander

[2021-01-13 15:09] gracee2 commented on #1125
Yes, when I right click then click open it says "Verifying JASP" then this screen comes up (see pic) and I click "Open"
![image](https://user-images.githubusercontent.com/77398456/104470160-6518c480-5587-11eb-956f-42871fe2c868.png)

[2021-01-13 15:35] gracee2 commented on #1125
I figured it out. thank you.

[2021-01-13 15:39] AlexanderLyNL commented on #1125
@MaxMaier42 could you please the instructions opening JASP on mac more prominent?

[2021-01-13 15:39] #1125 closed

[2021-01-14 08:19] EJWagenmakers commented on #395
Maybe @Kucharssim would like to assist with this functionality once he has completed his distributions...?!

[2021-01-14 10:16] #1022 closed

[2021-01-14 15:53] oSkF opened #1126 "No label-edit option in Debian"
* JASP version: 0.14.1

* OS name and version: Debian 10
* Analysis: when I try to change the label values of a column, clicking over the heading, doesn't spread the option of changing the values. Only a white "table" is spread and no option to change is shown. In Windows, this doesn't happen. I used a CSV file to start my data analysis.
* Bug description: changing labels of data is not possible.

[2021-01-14 16:23] nvchim opened #1127 "Request: PCA based on partial correlation matrix"
* Enhancement: Is it possible to implement the computation of eigenvectors and eigenvalues based on the matrix of partial correlations in the PCA module?
* Purpose: Remove the influence of one or more variables that weigh on all others in the analysis. One way to manage the "dimension effect" that often overwhelms the 1st component
* Use-case: Sometimes one or more variables weigh on all the other

[2021-01-15 10:04] boutinb commented on #1127
@Kucharssim Can you have a look to this request?

[2021-01-15 10:06] boutinb commented on #1126
This error is known, and an extra minor version should be released soon that fixes it.

[2021-01-15 10:28] boutinb commented on #1124
Hallo @Saguaroman, I cannot reproduce this problem on my Windows 10 machine. I can open e.g. the Sleep JASP file from the Descriptives folder. Just to be sure: is this problem only for Data Library JASP files, or can you open other JASP files? And can you add an analysis (the Descriptives analysis e.g) directly from the Ribbon bar (the menu with the big icons)? If yes can you then save it as JASP

[2021-01-15 10:33] boutinb commented on #1121
Hi @bradyse This is still quite strange. Could you explain to your IT people what has happened, and maybe can they come up with an explanation why JASP could not start in your environment. Could you ask them also what are exactly the rights you don't have on your PC? Thanks!

[2021-01-15 11:48] boutinb commented on #1092
Hi @Hardknox51, do you have still problem to open JASP ?

[2021-01-15 12:58] JorisGoosen commented on #1126
Duplicate of #1109

[2021-01-15 12:58] #1126 closed

[2021-01-15 13:01] Saguaroman commented on #1124
Thanks @boutinb for looking into this.  To clarify - the data files open fine and I can run analysis in all the normal ways. What is missing are the "pre-run" analyses and explanations of the data library files. When I open something from the data library, the only thing there is the data, without any output window at all. If I run analysis an output window opens with my analysis in it, but  none

[2021-01-15 13:49] raoelg commented on #903
Actually, if in the current JASP interface ordinal factors would be allowed as variables (instead of only continuous ones as is now the case), then the lavaan package apparently already automatically uses polychoric correlations to do the factor analysis. I understand from the literature that this in combination with DWLS is most popular for Likert scales based confirmatory factor analysis. So it

[2021-01-15 16:24] jufrom opened #1128 "Incorrect Labels for Indirect Effects in Mediation with Multiple Predictors and Outcomes"
* JASP version: 0.14.1

* OS name and version: Windows 10
* Bug description: In mediation analysis with multiple predictors and outcomes, the table for indirect effects seems to use incorrect labels (e.g., pred1 -> m -> out1). The labels suggest that the tables for direct, indirect, and total effects use different ordering (_outcomes then predictors_ for direct and total effects and _predictors th

[2021-01-16 11:12] djdekker commented on #1124
Hello Saguaroman,

Exactly where are you clicking to open the file? Double clicking in the upper area (including the file name, e.g. "Album Sales") will give you the data set without pre-run analyses and explanations.

<img width="1148" alt="dataset" src="https://user-images.githubusercontent.com/5346286/104810182-7403af00-57f3-11eb-9c89-e20039d9717b.png">

You should get the analyses and explanat

[2021-01-16 13:11] tomtomme commented on #1124
I stumbled about this a while ago. I figured it out, but maybe this could be visually more clear / distinguishable. Maybe with labels next to the table-symbols like "full jasp fil" vs. "data only file". Just my first idea. There will be better ones I am sure.

[2021-01-16 14:31] Saguaroman commented on #1124
Thank you -- that solved the issue!  I feel a bit stupid; I've used this feature for a long time and I don't know why suddenly I started clicking in the wrong place.  Thanks for your help and sorry for raising an issue that wasn't actually a bug!

[2021-01-16 14:31] #1124 closed

[2021-01-17 16:08] tomtomme commented on #1106
Would be unfortunate. Maybe I can improve the descriptions? I just need a hint which files to modify. I also do not know if I have access yet. Github-Desktop just shows me the testing-repository. So I guess not.

[2021-01-17 17:25] JorisGoosen commented on #1106
Well if you want to give it a go, each of the modules has now their own repository. An example is: https://github.com/jasp-stats/jaspDescriptives/ or https://github.com/jasp-stats/jaspAnova/ .

Each of those modules then contains `Description.qml` in `inst` as: https://github.com/jasp-stats/jaspAnova/blob/master/inst/Description.qml

In there you can find the field `description` where a string is

[2021-01-17 18:32] EJWagenmakers commented on #1106
You could email me the suggestions, or the link to a Google doc so we can do edits easily.

[2021-01-17 18:42] JorisGoosen commented on #1106
EJ's suggestion sounds like a lot less work for you Thomas.
If you two work these descriptions out in a googledoc then I could put them in the modules, in a quicker way than opening and merging PRs per module.

[2021-01-18 08:47] boutinb commented on #1124
Thanks @djdekker for having found the problem!
@Saguaroman: it's fine that you made this issue, because we were not aware that this was not clear enough (when we know something, we have the tendency to think that it's obvious for everyone). I will discuss it with my colleague to see if we can make it clearer, maybe with the idea of @tomtomme.

[2021-01-18 08:57] tomtomme commented on #1106
Cool :) I will try to come up with some ideas until the end of the week. Cheers :)

[2021-01-18 09:00] boutinb commented on #903
@Kucharssim Can you check if when you allow the ordinal factors, that the analysis works as expected?

[2021-01-18 12:12] #74 closed

[2021-01-18 12:16] JorisGoosen commented on #1034
I figure this issue is actually solved and there was an issue opened by Nikita at https://github.com/jasp-stats/jasp-issues/issues/811 for the phi-coefficient so I'll close this one.

[2021-01-18 12:16] #1034 closed

[2021-01-18 12:21] JorisGoosen commented on #975
This issue would also help people in more "exotic" locales. For instance, a chinese csv encoded in the local codepage looks like a big mess and breaks stuff.

[ChineseCodepageCSVSample.zip](https://github.com/jasp-stats/jasp-issues/files/5830119/ChineseCodepageCSVSample.zip)

So if it *is possible* to detect the csv is not in utf-8 (or utf16/32 because the code seems prepared for that) then it wou

[2021-01-18 12:45] #926 closed

[2021-01-18 12:48] JorisGoosen commented on #917
Hey @famuvie

My apologies for the extremely slow response to your wellcrafted issue.
For the 0.14(.1) release I solved a few problems related to crashing on ubuntu 20.04 as opposed to 18.04 not crashing.

I sincerely hope that your issue was also fixed by this.
If you are not too disappointed in our/my slow response and want to test it out (or you are maybe already using it?) and see if the probl

[2021-01-18 12:48] #917 closed

[2021-01-18 12:48] #907 closed

[2021-01-18 12:55] JorisGoosen commented on #831
I should mention here that I did get the csv file back then and should definitely look into this.

[2021-01-18 12:55] JorisGoosen commented on #703
This sounds like a false positive in Trend Micro Antivirus.

[2021-01-18 12:55] #703 closed

[2021-01-18 12:57] JorisGoosen commented on #975
Also related to: https://github.com/jasp-stats/jasp-issues/issues/232

[2021-01-18 13:00] JorisGoosen commented on #39
I've moved this into 0.15 because I think it is hightime we start working properly with locales. Especially now we are starting to support more languages.

[2021-01-18 13:10] lk95wefo commented on #1122
I use Windows 10, JASP version 0.14.1.0.

The same happens to me, too. I can calculate 5 out of 6 items with Cronbach's alpha (could use other calculation options in that list) but as soon as I put the 6th item to the right side (in the input), the calculation crashes with the same error as described above. If I try it out with another combination out of my 6 items, it works as well with 4 or 5 it

[2021-01-18 13:36] JorisGoosen commented on #1122
@lk95wefo maybe you could upload your datafile?
Or maybe @alliemariemann will respond at some point...

[2021-01-18 13:44] lk95wefo commented on #1122
[JASP_ESM-Datensatz_Befragung_Mittelwerte_Personen.zip](https://github.com/jasp-stats/jasp-issues/files/5830496/JASP_ESM-Datensatz_Befragung_Mittelwerte_Personen.zip)

[2021-01-18 14:22] JorisGoosen commented on #1117
So I can reproduce this easily indeed, basically open JASP and enable high-contrast and then JASP becomes unresponsive.

However, closing and reopening JASP solves the problem. Because the new JASP instance works normally.
This is such a bordercase that I won't try to look for a fix at all but just recommend the workaround:

Restart JASP after switching *to* high-contrast mode.

[2021-01-18 14:22] #1117 closed

[2021-01-18 14:38] JorisGoosen commented on #831
So I've looked into the files that @cmgreene uploaded half a year ago and I can only surmise that what could've happened is that maybe the datafile was still linked to the JASP-file and auto-synching was on.
Then when Ciara was editing the original csv-file it might have triggered JASP to reload the csv while maybe a comma or quote was missing, extra or something.

This because I see entries like:

[2021-01-18 14:38] #831 closed

[2021-01-18 14:41] JorisGoosen commented on #1122
Thank you!

[2021-01-18 14:45] JorisGoosen commented on #1122
I can confirm the crash, @juliuspf can you have a look at this?
And if it isn't too large a fix we should also fix it in `stable` so we can release it a bit quicker with 0.14.2.

[2021-01-18 15:26] JorisGoosen commented on #1110
If I try this out with the included data file "Alcohol Attitudes" JASP does not crash in 0.14.1 on Windows.
Seeing as @pablrdriguez did not upload a datafile for me that I can use to verify his problem I am now closing this issue.

[2021-01-18 15:26] #1110 closed

[2021-01-18 16:01] JorisGoosen commented on #1114
Well, it has been fixed in 0.15. But the fix is rather hard to port over as it requires quite a few changes to the communication between JASP and it's internal R...
I'm afraid that you will have to wait for that release, hopefully it will be out in a few months.

[2021-01-18 16:01] #1114 closed

[2021-01-18 16:01] #1115 closed

[2021-01-18 16:09] JorisGoosen commented on #1111
So this turns out not to be reproducible (I suppose I was too quick in closing JASP the first time, because I *do* see a slight delay in results zooming in/out) and we have no way of contacting OP except through busy EJ so Im closing this issue.

[2021-01-18 16:09] #1111 closed

[2021-01-18 16:16] JorisGoosen commented on #1098
Aa so https://bugreports.qt.io/browse/QTBUG-85279 is now actually accesible and they seem to be planning for Qt 6.2 for support.
So we should wait for that.

[2021-01-18 16:26] juliuspf commented on #1122
@lk95wefo thanks for sharing the data. I can track the error to the associated R-package, which has some issues with covariance matrices that are not invertible. This happens probably because with small sample size, the bootstrap produces weirder data. A quick fix for your data would be to delete the empty row, because JASP interprets that as missing data (I suppose that is not your intention). Th

[2021-01-18 16:33] JorisGoosen commented on #1101
I think they just look at the name of the exe or something like that.. Ive seen this in Nvidia's configuration screen as well.

[2021-01-18 17:02] jayjf commented on #1128
![Screenshot](https://user-images.githubusercontent.com/77501618/104944252-8b21d880-597c-11eb-83a1-49c5806e5af6.jpg)
Here's a screenshot with how it looks on my end.

[2021-01-18 21:27] jamesmart-io opened #1129 "Repeated Measures ANOVA empty cell error?"
I am having trouble with the 0.14.1 update. I’m currently having an issue with an error message while conducting a repeated-measures ANOVA in JASP. I could really use a push in the right direction.

I’ve included a screenshot of the error message. It states that some of the cells may be empty, however, I am not missing any data or have any empty cells. I’ve searched Google and GitHub with no luck.

[2021-01-18 21:40] jamesmart-io commented on #1129
I'd be happy to send the developer a private mail with my data and JASP file, but not sure how to do so. Can someone also assist with this?

[2021-01-19 08:09] boutinb commented on #1128
@Kucharssim Can you have a look at this issue?

[2021-01-19 08:10] boutinb commented on #1129
@JohnnyDoorn If you have time, can you have a look? If not, maybe @vandenman ?

[2021-01-19 09:46] JorisGoosen commented on #1109
The variableswindow has been replaced by a new component and should now work.
There should be a small release soon to make it available.

[2021-01-19 09:46] #1109 closed

[2021-01-19 10:26] JorisGoosen commented on #134
See this manual: https://flatpak.org/setup/Chrome%20OS/

Apparently it is possible to actually run flatpak on chromebook. So that would be nice. Not all chromebooks seem to be supported but at least all from 2019 onwards.
And quite a lot from before if I can believe the lists linked there.

Now I just need someone with a (compatible) chromebook to actually test this.

[2021-01-19 10:44] JorisGoosen commented on #1058
It seems that maybe a windows update broke it, I saw this in some other issues as well.
And anyhow, your problem has gone so that is good.

[2021-01-19 10:44] #1058 closed

[2021-01-19 10:46] #1052 closed

[2021-01-19 10:46] #1049 closed

[2021-01-19 10:47] #1057 closed

[2021-01-19 10:47] #1032 closed

[2021-01-19 10:47] #1040 closed

[2021-01-19 10:48] JorisGoosen commented on #1031
Very related to: #39

[2021-01-19 10:49] JohnnyDoorn commented on #1129
Hi @jamesmart-io ,

Thanks for reporting this. Are you comfortable sharing the data set that resulted in that error message? That way I can take a closer look. You can send it by email to j.b.vandoorn <at> uva.nl

Kind regards
Johnny

[2021-01-19 10:59] JorisGoosen commented on #1088
Also happens on Windows.

[2021-01-19 12:45] JorisGoosen commented on #1088
I will not be fixing this in 0.14.2 but will make sure 0.15 does this properly.

[2021-01-20 22:06] bradyse commented on #1121
Hi @boutinb I spoke to my IT people and you'll have to forgive me for not understanding exactly what's going on, but I have administrator privileges to my local files (on my local drive), but not to my employer's file server. The main problem is that I have two AppData Roaming folders--one on my local drive and one on my network drive. Some of my files sync with my employer's file server. Some pro

[2021-01-21 11:34] boutinb commented on #1121
Hi @bradyse Thank you for having taking the time to ask. This is quite useful for us. I think we can make an extra check when JASP starts so that it tries to find a writable folder. Thank you really much!

[2021-01-21 15:00] JorisGoosen commented on #1099
Ok, but this is a pretty obvious part of the data editing functionality.

[2021-01-21 15:00] #1099 closed

[2021-01-21 15:00] JorisGoosen commented on #1099
(Which will come, hopefully later this year)

[2021-01-21 15:57] vandenman commented on #913
fixed in development by https://github.com/jasp-stats/jaspFrequencies/pull/14

[2021-01-21 15:57] #913 closed

[2021-01-21 16:01] boutinb commented on #1084
Hi @tomtomme Sorry for the late answer. We are going to give a small workshop (2 hours) on how to change or add a new JASP module. This will be for people having already experience in programming and in R in particular.
There are already some documentation in our GitHub you can read before the workshop:

- https://github.com/jasp-stats/jasp-desktop/blob/development/Docs/development/jasp-adding-mod

[2021-01-21 16:31] tomtomme commented on #1084
The Thursday is possible. Thx!

[2021-01-21 17:01] boutinb commented on #1084
Hi Thomas,

Maybe you can give your real email address, then I can inform you about the workshop directly.

Cheers,
Bruno

________________________________
From: Thomas Langkamp <notifications@github.com>
Sent: 21 January 2021 17:32
To: jasp-stats/jasp-issues
Cc: Bruno Boutin; Comment
Subject: Re: [jasp-stats/jasp-issues] Coefficient of Variation (#1084)

The Thursday is possible. Thx!

—
You are

[2021-01-21 17:09] tomtomme commented on #1084
Its already on my profile:
thomas.langkamp@medicalschool-hamburg.de

[2021-01-23 18:45] stephleo opened #1130 "Cannot create scatter/correlation plot"
* JASP version: Version 0.9.2

* OS name and version: OS X Yosemite
* Analysis: Cannot create a correlation/scatter plot.  It says the analysis terminated unexpectedly.
<img width="500" alt="Screen Shot 2021-01-23 at 1 44 22 PM" src="https://user-images.githubusercontent.com/77896838/105611054-2356fd80-5d81-11eb-9f61-f0b400dd75af.png">

* Bug description: I attached a screenshot of the error code

[2021-01-24 20:18] davidgilden opened #1131 "JASP crashed"
* JASP version: 0.14.1
* OS name and version: macOS 10.15

* Analysis: none
* Bug description: damn thing won't open
* Expected behaviour:

#### Steps to reproduce:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

-----------------------------------------------------------------------

### Debug information:
**Engine # 0** process *does not exist (anymore)* and it's state i

[2021-01-24 20:34] tomtomme commented on #1106
Here the new tooltips for JASP
https://docs.google.com/document/d/1cRwkGsj0xDQQ-h5pD6rL1eFg4ipPzCnF7Mied6DnoZM/edit?usp=sharing

It was a bit more work than anticipated, but a great learning experience.
German-to-english translation mainly via www.DeepL.com/Translator (free version). Would be nice if a native speaker could check this :D
At some point I thought, it would be nice to also give some t

[2021-01-24 21:58] tomtomme commented on #44
I would like to see Power-Analysis included in JASP too (even if G*Power works fine with wine on linux with no hassle)! Yes, its a huge task, but G*Power development is stalled since some years and is missing some important tests. Its also english only. I would add the german translation to JASP-Power :D

And there are R-packages for power-analyises that may make it easier to integrate into JASP?

[2021-01-25 06:28] Glitchy-Tozier commented on #44
I can't contribute much R knowledge but I definitely can help with the translating to German process.

[2021-01-25 14:15] Dnice23 opened #1132 "Issue when using Quality Control Module"
* JASP version: 0.14.1.0

* OS name and version: Windows 10 Enterprise
* Analysis:
* Bug description: Unknown column 'Measurements'
* Expected behaviour: System should read measurements filed to analyze data.

#### Steps to reproduce:
1. Go to '...'Quality Control tab
2. Click on 'Measurement System Analysis.'
3. Scroll down to 'Gage R&R'
4. Load CSV or Txt File
5. select proper data in correct fi

[2021-01-25 15:39] jovab opened #1133 "filter not showing items"
* JASP version: 0.14.1
 linux
* OS name and version:flatpak on centos 7
* Analysis:
* Bug description: When I click
![Selectie_108](https://user-images.githubusercontent.com/62739011/105727942-e3804980-5f2b-11eb-8b67-0541224d4790.png)
 on the header of a column, the variables do not appear in the quick filter

[2021-01-25 16:35] www263 opened #1134 "Trouble with CSV format, cant load data to ORDINAL due to characters"
Hi, I have seen this being posted before, but cant seem to understand how I shall resolve it for me!

Ive edited the names slightly as the variables are somewhat secret, but this stil grants the same issue with not being able to load it in JASP as ORDINAL due to it considering it text, any idea for a fix? Kind regards, W

[data_1.zip](https://github.com/jasp-stats/jasp-issues/files/5867962/data_1.

[2021-01-25 16:36] showers14 opened #1135 "post hoc didn't show effect size"
* JASP version:0.14.1

* OS name and version:macos big sur
* Analysis: repeated measures ANOVA
* Bug description:post hoc didn't show effect size for interaction
* Expected

#### Steps to reproduce:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

[2021-01-25 16:40] EJWagenmakers commented on #1134
Thanks for providing these data. I uploaded this data set in JASP. Only the first column cannot be coaxed into ordinal format -- it includes letters and it is not clear how these would correspond to ordinal levels. If this variable is ordinal (under the hood, so to speak), it is easiest to specify a new column (e.g., "OrdinalLevels") where you decode the ordinal levels with integer numbers.
Cheers

[2021-01-25 16:40] #1134 closed

[2021-01-25 16:42] babapinkblubb opened #1136 "Repeated Anova is not working: error in contrastGrid"
* JASP version:
MAC
* OS name and version:
* Analysis:

analysis(dataset = dataset, options = options, perform = perform, callback = the.callback, state = oldState)

.resultsContrasts(dataset, options, referenceGrid)

emmeans::contrast(referenceGrid[[.v(contrast$variable)]], contrCoef)

contrast.emmGrid(referenceGrid[[.v(contrast$variable)]], contrCoef)

stop('Nonconforming number of contrast coef

[2021-01-26 09:26] MykolasSimasPoskus commented on #1102
Just wanted to check in if this is being looked into.

[2021-01-26 10:47] JorisGoosen commented on #1109
The new release is building now and should be available for download some time tomorrow.

[2021-01-26 11:25] TrevorMilliron commented on #1109
Wonderful! Thanks for your work on this!

Trevor

[2021-01-26 12:07] JorisGoosen commented on #1109
The new window has slightly weird selecting of rows, but I'll be fixing it up for our upcoming release. (Which will take a while longer)
At least it shows the labels and you'll be able to edit them.

And you're welcome!

[2021-01-26 14:14] manondmg opened #1137 "Issue on JASP 14.1 on Acer Chromebook 14 : all the symbols/logo are missing"
* JASP version: JASP 0.14.1

* OS name and version: Acer-Chromebook 14
* Analysis: All the symbols/logo are missing
* Bug description: Hi, I have a problem with JASP. I’m working on a chromebook, so I installed JASP via linux but I don’t have all the symbols on the app, I made a screenshot to show you what I have :
* [https://forum.cogsci.nl/uploads/253/QQVG1UJEO872.png](url)
* you can see that al

[2021-01-26 15:27] vandenman commented on #1137
Did you try using safe graphics mode? See the last screenshot at https://jasp-stats.org/chromebook-installation/

[2021-01-26 15:42] manondmg commented on #1137
Oh thank you very much, indeed it works!

[2021-01-26 15:42] #1137 closed

[2021-01-26 20:27] pvn0001 opened #1138 "Can't open .jasp files on Mac Mojave 10.14.6"
JASP 0.14.1

Mac Mojave 10.14.6

I saved a JASP file to my desktop (.jasp). When attempting to open the file, an error message reads "The document could not be opened. The file isn't in the correct format."

When attempting to right click and select "open with," JASP is not one of the apps able to be selected to open the file.

Any advice on how to open this file? I am a beginner...

[2021-01-27 08:07] jordir93 opened #1139 "Setting in sampling workflow gets reset when closing and opening a JASP-file"
* JASP version: 0.14.1.0
* OS name and version: Windows 10 Enterprise
* Analysis: Audit workflow
* Bug description: Probability distibution setting gets reset when closing and opening the JASP file.
* Expected behaviour: For the setting to not reset

#### Steps to reproduce:
1. Open library 7: audit  -> planning and selecting a sample
2. Open audit -> Sampling workflow
3. In step 1C -> choose bino

[2021-01-27 10:33] boutinb commented on #1130
Hi @stephleo , you use a quite old version of JASP, could you upgrade to 0.14?

[2021-01-27 10:35] boutinb commented on #1131
Hi @davidgilden Could you try to get some log files by doing what is described in this document: https://github.com/jasp-stats/jasp-desktop/blob/development/Docs/user-guide/logging-howto.md

[2021-01-27 13:19] boutinb commented on #44
@tomtomme Maybe it could be use-case for our workshop? Not the whole power analysis, but some easy part.

[2021-01-27 13:20] boutinb commented on #1133
I think this is already by @JorisGoosen. A new Flatpak version should come soon.

[2021-01-27 13:21] boutinb commented on #1135
Could you send a JASP file where this problem occurs? (in zip format, via the GitHub website)

[2021-01-27 13:22] boutinb commented on #1136
Could you send a JASP file where this problem occurs? (in zip format, via the GitHub website)

[2021-01-27 13:23] boutinb commented on #1102
Hi @MykolasSimasPoskus, sorry for the late answer. Maybe can @Kucharssim have a look?

[2021-01-27 13:37] boutinb commented on #1138
Hello @pvn0001: when you right-click the file and choose 'Open With', you can select 'Other...' . Here you should be able to choose the JASP application (select Enable All Applications). Check also the 'Always Open with' checkbox.

[2021-01-27 15:48] JorisGoosen commented on #1133
Yes this is a duplicate of #1109

I have indeed fixed it, and once https://flathub.org/builds/#/builders/32/builds/37831 completes building and is uploaded to flathub you can use it.

[2021-01-27 15:48] #1133 closed

[2021-01-27 16:06] EJWagenmakers commented on #44
We want this in JASP at some point in the future, but we want to do it well and it is a pretty major extension imo.

[2021-01-27 16:32] davidgilden commented on #1131
Here are the most recent log files from the last failed attempt to start JASP

[2021-01-27 22:21] stephleo commented on #1130
Hi @boutinb @Kucharssim  , I could try.  When I looked up which version to download for my software on my Mac, it said that 0.9.2 was the latest compatible version.  Would version 0.14 work with OS X Yosemite operating system?

[2021-01-28 08:36] boutinb commented on #1130
Hi @stephleo Yosemite is not supported by Apple anymore since July 2017... You should really upgrade your computer. There is for example no security update. We don't have such a computer either where we can try to reproduce your problem, and we will anyway not update the 0.9 JASP version. So I'm afraid the only solution is upgrade your MacOS, and to install the newest version of JASP.

[2021-01-28 11:13] ChemmyDroidz commented on #1030
I can replicate this in windows 10 build 10.0.17763 Build 17763 and discord version 0.0.309 - from the [blog posted above](https://blog.discord.com/all-your-game-are-detection-fd06b1683137) you can edit in discord for it to say what you want. Personally I like it because people think I'm gaming, and a cool kiddo, but rly I'm doing work 👍 I added adobe reader to say "Im reading papers" 😀

[2021-01-28 14:54] boutinb commented on #1131
Hi @davidgilden, you have to us GitHub to send the file.

[2021-01-28 15:21] #1088 closed

[2021-01-28 18:04] davidgilden commented on #1131
[JASP 2021-01-27 10_27_05 Desktop.log](https://github.com/jasp-stats/jasp-issues/files/5889179/JASP.2021-01-27.10_27_05.Desktop.log)
[JASP 2021-01-27 10_27_05 Engine 0.log](https://github.com/jasp-stats/jasp-issues/files/5889180/JASP.2021-01-27.10_27_05.Engine.0.log)
[JASP 2021-01-27 10_27_05 Engine 1.log](https://github.com/jasp-stats/jasp-issues/files/5889183/JASP.2021-01-27.10_27_05.Engine.1.lo

[2021-01-28 18:29] jlwoodard opened #1140 "Bayesian Repeated Measures ANOVA does not finish computing Bayes factors"
* JASP version: 14.1

* OS name and version: macOS Big Sur version 11.1
* Analysis: Bayesian Repeated Measures ANOVA
* Bug description: I am trying to perform a 2 x 2 mixed-design ANOVA using Bayesian Repeated Measures ANOVA. There are 2 groups, each with around 1500 cases that were measured at baseline and at follow-up (a repeated measures variable of time). If I perform the same analysis using t

[2021-01-29 02:13] #1130 closed

[2021-01-29 10:46] vandenman commented on #1140
Thanks for reporting this!

Just to make sure we're on the same page, the `Repeated Measures Cells` and `Between subject factors` in the input view look like this:
![image](https://user-images.githubusercontent.com/21319932/106265443-538e1880-6227-11eb-90ad-dcd80137deaa.png)

and the model specification looks like this?
![image](https://user-images.githubusercontent.com/21319932/106265495-67397f00

[2021-01-29 13:47] SamanthaS1 opened #1141 "Descriptive Statistics Disclosure Arrow"
Hi there, I was just wondering how I would be able to find the missing values in the descriptive statistics chart in jasp. So in other words, the problem I've come across is that it's not giving me the options for descriptive statistics in order to analyze values such as median, mode, variance and range. So my question is, how do I add the missing values without the option of adding them? Am I sup

[2021-01-29 13:55] EJWagenmakers commented on #1141
This may not answer your question, but if you go to the hamburger menu (the three horizontal lines on the top-left) and then go Preferences -> Data -> Missing Value List, you can define your code for missing values. Once these are recognized, the columns will be correctly detected as ordinal or continuous (you can see this from the icon on top of each column), and then you should be able to obtain

[2021-01-29 14:04] SamanthaS1 commented on #1141
Actually, that does answer my question somewhat but also how do I define the codes for the missing values, does it have something to do with the drag and drop filter where you are supposed to make a formula with a set of logical values?

[2021-01-29 14:26] jlwoodard commented on #1140
Hi Don,
  Thanks for checking with me. Yes, the screenshot matches my setup. Let me know if you need more information!

All the best,

John

John L. Woodard, Ph.D.
Professor of Psychology
Associate Editor, Journal of the International Neuropsychological Society
Licensed Psychologist
Wayne State University
5057 Woodward Avenue, 7th Floor
Detroit, MI 48202 USA

313-577-5838 (voice)
313-577-7636 (fax

[2021-01-29 15:15] jlwoodard commented on #1140
Just as one additional mention, There are about 1500 participants per group, so around 3000 participants total.

[2021-01-29 15:32] EJWagenmakers commented on #1141
I'm not sure whether filtering out the text entries (that represent the missing values) allows the column to be changed to ordinal or continuous, but the more principled solution is to enter your code for missing values in the missing value field. If I am not answering your question please provide a data set and some screenshots to highlight the issue.

Cheers,
E.J.

[2021-01-29 16:08] SamanthaS1 commented on #1141
On Fri, Jan 29, 2021 at 11:07 AM Starr, Samantha <samantha.starr@my.lr.edu>
wrote:

[2021-01-29 16:08] SamanthaS1 commented on #1141
On Fri, Jan 29, 2021 at 11:07 AM Starr, Samantha <samantha.starr@my.lr.edu>
wrote:

[2021-01-29 18:30] cnormi712 opened #1142 "One-Sample t-test Test Value is Always 0"
* JASP version: 0.14.1 (the most recent update)

* OS name and version: Windows 10
* Analysis: One Sample t-test
* Bug description: The test value for a one sample t-test is always set to 0 when calculating the confidence interval around the mean difference and Cohen's d. This is the case even if I set the test value to something else. For example, my class average is 3.19 and the test value is 3.

[2021-01-29 19:55] AlexanderLyNL commented on #1142
Dear cnormi712,

I believe that this behaviour is correct. The reason for this is provided in a previous comment:

I hope that this suffices.

Cheers,
Alexander

[2021-01-29 21:40] cnormi712 commented on #1142
To be honest Alexander I'm still a bit confused as to why in an individual study the effect size for Cohen's d uses 0 as the population mean rather than the actual known population mean in its calculation. The output provides information that is very confusing (at least to me and some colleagues).

For example, the dataset I provided shows only a .09 difference between our sample mean and the popu

[2021-01-29 22:03] cnormi712 commented on #1142
Hello,

Sorry for the double post. I started looking into things. I believe I understand where you are coming from now! Thanks again for your help (and possibly inadvertently pushing me to learn something new/JASP). I'll close now.

[2021-01-29 22:03] #1142 closed

[2021-01-29 23:44] PlaytosSandl opened #1143 "Data manipulation features"
Hello,
I really like JASP -- I am using it on Ubuntu and it is great.  As an experienced data analyst, one feature that is missing is the ability to manipulate the data.  This includes computing variables (such as summing variables to create a new variable) or recoding variables into new variables (such as grouping values of a variable into categories).  This is essential.  SPSS and PSPP allow thi

[2021-01-30 10:45] EJWagenmakers commented on #1143
Thanks for your kind words and your suggestion. We have implemented this already :-) If you go to https://jasp-stats.org/how-to-use-jasp/ and then scroll down to "functions", you will see "Compute columns" (this is the key one), "Data and Label Editing", and "Filtering". They have blog posts and moving gifs. Computing variables can be done with R code and a drag and drop interface. Please let us k

[2021-01-30 10:45] #1143 closed

[2021-01-30 14:25] famuvie commented on #917
Hey @JorisGoosen
Thanks for your response and for working in the issue!
**I confirm the problem was solved.**
I checked with JASP v0.14.2 in the same system as before (although with the regular kernel and package updates since then).
Thanks again!

[2021-01-30 17:07] SamanthaS1 commented on #1141
https://docs.google.com/document/d/1v9hgGn8O5pQSl-lk7ZBSfHdKyO-WMjBFT5U79EY5EWk/edit
I included the screen shots in the link to the google document above. Hopefully this gives you some idea of the issue I'm having.

[2021-01-31 13:08] JorisGoosen commented on #917
Great!

[2021-01-31 22:11] NikitaKhromov-Borisov opened #1144 "Frequentist Repeated Measures ANOVA: Incorrect effect size (Cohen's d) for paired comparisons"
[Bugs.zip](https://github.com/jasp-stats/jasp-issues/files/5900755/Bugs.zip)
The values of Cohen's paired effect size are false.

[2021-02-01 09:17] EJWagenmakers commented on #1141
I requested access...you can also email me the document at ej.wagenmakers at gmail.com

[2021-02-01 10:50] JohnnyDoorn commented on #1144
Hi @NikitaKhromov-Borisov

I think you are misusing the online tools you link, because the results of JASP are correct. I think you incorrectly used the effect size calculator for between samples t-test, instead of paired samples. See the screenshot below for my JASP output (both the RM ANOVA post hoc tests, with the non-pooled error terms, and the paired samples t-test), which feature the exact s

[2021-02-01 10:50] #1144 closed

[2021-02-01 12:00] NikitaKhromov-Borisov commented on #1144
Dear Johny,
I do not agree. I have sent you the results of calculation of Cohen's d
with two programs, which look more realistic: -0.41, -0.054 and 0,36.
Please, take a look at the mean differences, they are extremely low and
d=-2.67, -0.27 and 1.94 are impossible.
The attached are the histograms (PAST
https://www.nhm.uio.no/english/research/infrastructure/past/). You see they
are extremely overla

[2021-02-01 12:52] JohnnyDoorn commented on #1144
Hi @NikitaKhromov-Borisov,

I do look at the mean differences, but also at the standard deviations, which are also extremely low, so the Cohen's d values do seem realistic to me. Cohen's d for the paired samples t-test is the mean of the differences, divided by the standard deviation of the differences. The mean difference between your V014 and V017 is  -0.00435 and the sd of the differences is 0.

[2021-02-01 13:08] EJWagenmakers commented on #1144
Side-note: an upcoming blog post will show the results of a JASP validation project. This project examined most of the frequentist methods and checked that they give the same results as SPSS, SAS, Minitab, and R. This was virtually always the case.

[2021-02-01 14:28] EJWagenmakers commented on #1141
Hi Samantha
Thanks for the files. In the data spreadsheet view, you can click on the staircase symbol (indicating that the variable is ordinal) and change it to a ruler (indicating that it is a scale variable). You should then be able to obtain means etc. If this isn't it then I'll reopen the issue.
Cheers,
E.J.

[2021-02-01 14:28] #1141 closed

[2021-02-01 15:32] msercan opened #1145 "editing model plot in CFA"
* JASP version: 0.14.1

* OS name and version: MacOS
* Analysis: editing model fit in cfa
* Bug description: I cannot edit my model in CFA. There are 8 factors and 32 items and therefore the model and correlation scores are not visible.
* Expected behaviour: It would be great to edit the model plot (the length of arrows, size etc.) when it is copied to word.

#### Steps to reproduce:
1. Go to '...

[2021-02-01 18:29] jasonckchan opened #1147 "Distribution plots not showing frequency for lowest value"
* JASP version: 0.14.1

* OS name and version: macOS 11.1
* Analysis: Descriptive statistics distribution plots
* Bug description: I have a variable with correlations in it.  Every subject provides their own correlation, ranging from -1 to +1.  When plotting the data with boxplots and jitter element enabled, I can see that there are a whole bunch of subjects with a +1 correlation and another bunch

[2021-02-01 18:39] djdekker opened #1148 "Reliability module: More helpful error message?"
* Enhancement: More helpful error message in Reliability module
* Purpose: Let the user understand why Cronbach's alpha gives an error
* Use-case: In case of calculating Cronbach's alpha when the average covariance between items is negative.

**Is your feature request related to a problem? Please describe.**
Cronbach's alpha is negative when the average covariance between items is negative. In thi

[2021-02-02 09:09] juliuspf commented on #1148
Thanks. This error message is not due to the alpha calculation but some other coefficient. I think this is also related to another issue of yours: https://github.com/jasp-stats/jasp-issues/issues/1026. I have rewritten the reliability module to deal with errors in a better fashion. However feedback is always welcome. Attached is a screenshot of the analysis as it is on my machine. Would you say it

[2021-02-02 13:18] boutinb commented on #1147
@koenderks Can you have a look?

[2021-02-02 13:20] boutinb commented on #1145
In the next release we will add plot editing. @vandenman Will it be also available for CFA?

[2021-02-02 13:54] boutinb commented on #1131
The JASP engines cannot start an R session.
Which JASP did you download: the Catalina or the Pre-Catalina version?
Could you also try this on a terminal. Type:
`/Applications/JASP.app/Contents/Frameworks/R.framework/Versions/Current/Resources/bin/R`
And check whether this start an R session.

[2021-02-02 14:19] davidgilden commented on #1131
catalina.  But I did try both eventually.  the version currently not working is called post mohave
i opened terminal and typed that line of code. I got the following message
/Applications/JASP.app/Contents/Frameworks/R.framework/Versions/Current/Resources/bin/R: line 245: /Library/Frameworks/R.framework/Resources/etc/ldpaths: No such file or directory

[2021-02-02 19:04] djdekker commented on #1148
Hi Julius,

That looks perfect. Thank you!

[2021-02-03 09:33] vandenman commented on #1145
unfortunately, the plots in CFA are made with `qgraph`, which is not supported by the initial version of plot editing.

[2021-02-03 09:43] boutinb commented on #1131
Hi @davidgilden, there is something going wrong when the JASP engine tries to start R. But I need more information. Did you ever installed R or R studio on your machine? Could you also install this (alpha) version of JASP: https://static.jasp-stats.org/Nightlies/MacOS/JASP-nightly-development-8b7f097b6223945dd01994f09c03a3da73912cad.dmg and send me again the logs?

[2021-02-03 11:10] vasileiaaristotelidou opened #1149 "reliability mode"
help !! I want to reverse questions in Jasp but there is no reliability mode in the descriptive mode!! My jasp is up to date what is wrong?

[2021-02-03 11:53] EJWagenmakers commented on #1149
The reliability functionality has been upgraded and is now available as a separate module. Go to the big blue + sign on the top right of the JASP screen to view the modules, and then select the "Reliability" module.

[2021-02-03 11:53] #1149 closed

[2021-02-03 11:57] vasileiaaristotelidou commented on #1149
Thank you very much!!
Is there any tutorial for reversing the questions in questionnaires?

[2021-02-03 12:03] EJWagenmakers commented on #1149
We don't have a tutorial on this particular aspect I think, but try it out (it is indicated in the GUI) and let us (that is, @juliuspf) know if it doesn't work.

[2021-02-03 12:39] EJWagenmakers opened #1150 "German translation issue in Learn Bayes module"
See screenshot. Two issues:
1. In the main output table, the text underneath still speaks of "successes" and "failures" instead of Erfolge etc.
2. Something went wrong in the "Prior-Wahrscheinlichkeitsverteilung" (Maybe the word is too long?)

![image](https://user-images.githubusercontent.com/8603015/106748218-31303c80-6625-11eb-97ef-9e05b7b03396.png)

[2021-02-03 13:26] EJWagenmakers opened #1151 "German translation interferes with prior-posterior graph (important)"
1. Set language to German;
2. Go to summary stats, Bayesian independent samples t-test, enter t=1, n1=n2=1000, and select "prior and posterior"
3. The error message in the screenshot appears ("metric information not available for this family/device")
4. Set language to English, and the plot is shown just fine.
5. Revert to German, and the error message reappears.
6. It works fine for Dutch.
7. Thi

[2021-02-03 15:16] davidgilden commented on #1131
I do not think I have installed either R or R studio.  This computer has never really been used. It was given to me by the University of Texas, I migrated everything from another computer.  There is no R or R studio listed in the application folder.
Here are the logs requested:
[JASP 2021-02-03 09_11_53 Desktop.log](https://github.com/jasp-stats/jasp-issues/files/5919405/JASP.2021-02-03.09_11_53.D

[2021-02-03 22:18] patc3-phd commented on #101
FWIW I too would like it.. I resorted to reproducing the EFA in R (using psych::fa) and requesting factor scores (and comparing the outputs of JASP and R to make sure I was reproducing it correctly)

If I can help to add this feature please let me know how

[2021-02-04 04:53] sonnyrosenthal opened #1152 "Double-standardization of paths in mediation model (non-latent)"
* JASP version: 0.14.1
* OS name and version: Windows 10 Home
* Analysis: Mediation Analysis
* Bug description / Expected behaviour: The standardized paths in a mediation model should match the standardized paths from the equivalent OLS regression models. E.g., paths b and c' should match b1 and b2 from the regression model, Y-hat = Mb1 + Xb2 (where M is the mediator and X is the predictor). They

[2021-02-04 14:57] Oibade commented on #1123
Sorry for the late reply - it took me a while to reorganize the output with the different softwares and different machines.
The results from SPSS and PRISM match, although the test statistic seems correct JASP seems to consistently underestimate the p-values.

<img width="571" alt="Screen Shot 2021-02-04 at 9 46 59 AM" src="https://user-images.githubusercontent.com/59439593/106909988-c9cec700-66ce

[2021-02-04 19:02] felixchenier opened #1153 "Export tables to markdown"
* Enhancement: Possibility of exporting a table to Markdown in addition to LaTeX
* Purpose: Would allow to copy-paste results in text form
* Use-case: An obvious use case is for anyone who redacts using Markdown. A particular use case (my case) is to allow copy-pasting stat results into comments in python source code. For example: I have a data processing script that ends with an export to csv for

[2021-02-06 14:16] JoKeyser commented on #1153
I want to add another use case: People who write their paper manuscript in Markdown. Since Markdown comes in slightly different dialects, I would suggest one of Pandoc's variants, https://pandoc.org/MANUAL.html#tables.

[2021-02-06 14:31] JoKeyser commented on #1150
My guess about 1. is that the string hasn't been made available yet on Weblate. The strings seem translatable (they're wrapped in gettext(), see https://github.com/jasp-stats/jaspLearnBayes/blame/master/R/LSbinomialtesting.R#L196), but I could not find them yet in the current state of the [`po` files](https://github.com/jasp-stats/jaspLearnBayes/tree/master/po), nor the [weblate pull requests](htt

[2021-02-06 14:43] JoKeyser commented on #1151
I can't reproduce this bug on Ubuntu and JASP version 0.14.2.
It works for me in all 3 languages; hope this helps to narrow down the problem.

![JASP_ZS-Ttest-German-OK](https://user-images.githubusercontent.com/8722846/107121261-c59ed700-6891-11eb-8927-92ea6d6a4e2b.png)

[2021-02-06 22:59] digitalempire00 opened #1154 "JASP crashed"
* JASP version: 0.14.1
* OS name and version: Windows 10 (10.0)

* Analysis:
* Bug description:
* Expected behaviour:

#### Steps to reproduce:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

-----------------------------------------------------------------------

### Debug information:
**Engine # 0** process *crashed* and it's state is *initializing*.
**Engine # 1** proce

[2021-02-07 17:58] mmower0191 opened #1155 "Unable to start JASP 0.14.1"
On opening JASP, I see a 'Welcome to JASP' opening screen, but no spreadsheet panel on the left in which to enter data.

[2021-02-07 20:02] EJWagenmakers commented on #1155
Dear mmower0191,

At the moment, most analyses need to start with you uploading a data file -- a txt file, a csv file, a ods file, etc. When that file has been loaded you will see the spreadsheet, and we offer some limited capacity to do data "editing": you can create new columns and do filtering. But a comprehensive data editor is something we currently lack. That said, any data editor (Excel, Wo

[2021-02-07 20:02] #1155 closed

[2021-02-08 13:25] marie-aguirre opened #1156 "Issue with Bayesian Wilcoxon signed-rank output"
Hello,
First thank you for your amazing work and software !!

I encounter an issue with a non-parametric Bayesian t-test...

JASP version: 14.1
OS name and version: macOS Big Sur version 11.2
Analysis: Bayesian Wilcoxon signed-rank (one-sample)
Bug description: I am trying to a compare a proportion measure to the chance level 0.5. My data do not fulfill the assumption of normality. Thus I am using

[2021-02-09 03:44] davidgilden commented on #1131
Hey boutinb have you given up on this?

[2021-02-09 11:43] JohnnyDoorn commented on #1156
Hi @marie-aguirre ,

Thank you for reporting this, there was indeed an error in the code, which counted the testValue twice - so if you instead compare your observations to 0.25 (which results in your values being compared to 2*0.25 = 0.5), you should obtain a sensible result.

Kind regards
Johnny

[2021-02-09 12:52] marie-aguirre commented on #1156
Hi @JohnnyDoorn,

thank you for your quick reply and for you hint ! That way I can analyze my data without waiting for the next release :)

Good luck !
Kind regards

[2021-02-09 12:59] andremonezi opened #1157 "Latent class analysis"
Dear all,

It would be exciting to add a feature to run a latent class analysis. With these techniques, we would estimate latent nominal classes in addition to the latent interval factors approximated by factor analysis.

[2021-02-09 16:50] JorisGoosen commented on #1131
Bruno (@boutinb ) asked me to take over because he wasn't sure what to check.

I would ask you to try out the following command:
`JASP_R_HOME=/Applications/JASP.app/Contents/Frameworks/R.framework/Versions/Current/Resources R_HOME=$JASP_R_HOME /Applications/JASP.app/Contents/Frameworks/R.framework/Versions/Current/Resources/bin/R`

[2021-02-09 17:43] davidgilden commented on #1131
I get this:

PSYC-A41610:~ gilden$ JASP_R_HOME=/Applications/JASP.app/Contents/Frameworks/R.framework/Versions/Current/Resources R_HOME=$JASP_R_HOME /Applications/JASP.app/Contents/Frameworks/R.framework/Versions/Current/Resources/bin/R
Switching R_HOME_DIR to JASP_R_HOME found of :  /Applications/JASP.app/Contents/Frameworks/R.framework/Versions/Current/Resources

R version 3.6.1 (2019-07-05) --

[2021-02-09 17:45] JorisGoosen commented on #1131
Aah yes, that doesn't look good at all.
I'll have to figure out what could possibly be causing this error because I haven't seen this before...

[2021-02-09 18:17] davidgilden commented on #1131
This is a brand new computer, given to me by the University. I migrated all of my files and apps to it.  This may be what is causing Jasp to crash.  Would it help if I wiped the hard drive and reinstalled Catalina?

[2021-02-10 08:31] vankesteren commented on #925
You can do this in the SEM module. The lavaan code from the mediation analysis can give you a head-start!

[2021-02-10 08:36] vankesteren commented on #664
Also mentioned [here](https://forum.cogsci.nl/discussion/6895/mediation-analysis?).

[2021-02-10 11:32] JorisGoosen commented on #1131
Well, it *might* help, but if your other apps are functional than I suppose there might be something more specific wrong with JASP.

Did you install JASP again from a dmg or did you copy it from your older computer?

[2021-02-10 11:33] JorisGoosen commented on #1131
This because MacOS does some checks on Apps since Catalina, maybe something didn't work out with that and now it won't let R-in-JASP access some files.

[2021-02-10 11:37] JorisGoosen commented on #1131
Aah before you wipe your drive, maybe you could show me the output of `uname -a`  because that seems to be giving the anomalous info that R cannot handle.

[2021-02-10 16:09] davidgilden commented on #1131
To the first question: originally migrated Jasp from Mac running Mohave to Mac running Catalina. So that did not work. Then downloaded post-Mohave Jasp as dmg.  That did not work either and that is what we are dealing with now.

The output requested:

Error: object 'uname' not found

[2021-02-10 19:41] JorisGoosen commented on #1131
Ah yeah, so at least nothing went wrong with the DMG then because it was installed in the normal way.

The `uname -a` command should be run in the terminal, not in R but just in the (so-called) shell you get when you open it.

[2021-02-10 20:11] davidgilden commented on #1131
I do not use R, it is not installed on the computer. I did run the uname -a command in the terminal. Maybe I am confused.

[2021-02-10 22:26] JorisGoosen commented on #1131
Ah ok, well that certainly explains what is going wrong!

It seems that `uname` is somehow missing from your system, and I thought that is a default part of it.
This seems to be the root-issue for JASP not starting, I will have to figure out why it does not work for you.

And I think you aren't confused but the command me and boutinb asked you to run before was starting the R we ship as part of JA

[2021-02-10 22:27] JorisGoosen commented on #1131
Perhaps you could open up a terminal again and run the command: `env` and separately: `echo $PATH`

[2021-02-10 22:32] marie-aguirre opened #1158 "Issue with Wilcoxon signed rank (one sample) effect size"
Hello,

I encounter again an issue with a the Wilcoxon signed rank (one sample) effect size...

JASP version: 14.1
OS name and version: macOS Big Sur version 11.2
Analysis: Wilcoxon signed-rank (one-sample)
Bug description: I am trying to a compare a proportion measure to the chance level 0.5. My data do not fulfill the assumption of normality. Thus I am using the Wilcoxon signed-rank test.
The cl

[2021-02-11 00:10] davidgilden commented on #1131
Apparently I do not understand terminal.  I think my terminal session was still running r. I closed it and reopened it and got a different prompt and different results.  Here is what I get in response to the 3 commands you were interested in.

PSYC-A41610:~ gilden$ uname -a
Darwin

PSYC-A41610 19.6.0 Darwin Kernel Version 19.6.0: Tue Nov 10 00:10:30 PST 2020; root:xnu-6153.141.10~1/RELEASE_X86_64

[2021-02-11 00:57] JorisGoosen commented on #1131
Ah yes, thanks for trying it out again. I've redacted your comment a bit because the output of `env` wasn't necessary as it turns out.

It seems that the output of `uname` of your system prints more lines lines than R expects, as an example, on my mac I get:
`Darwin iMac-van-Joris.home 20.3.0 Darwin Kernel Version 20.3.0: Thu Jan 21 00:07:06 PST 2021; root:xnu-7195.81.3~1/RELEASE_X86_64 x86_64`

A

[2021-02-11 01:30] davidgilden commented on #1131
You clearly have identified something but I do not think the computer name is the problem. I have other MacBook Pro computers and I tried uname -a out on one that is running Mohave and where Jasp works.  I get output that does not have the line separations but the computer name has the same length.  Anyway Univ. of Texas is not going to let me change the name. The shared folder is not accessible b

[2021-02-11 01:59] davidgilden commented on #1131
Update: I described what we were doing with my IT person.  He sent me an article about how to change the computer name using terminal commands.  I did this, shortening the name to 4 characters. That led to the output of uname -a being one line, and that led to Jasp opening. Wow. You were right about the name and the fix. I am good to go. Thank you so much.

[2021-02-11 01:59] #1131 closed

[2021-02-11 09:29] JorisGoosen commented on #1131
Aah great to hear, good luck with the course!

[2021-02-11 10:57] JohnnyDoorn commented on #1158
Hi @marie-aguirre,

Thanks for reporting this, it seems that indeed there is a discrepancy between the two results. I did some digging in the code, and found that [this commit ](https://github.com/jasp-stats/jaspTTests/commit/7f6cc1c88cb43182d9a49c3cafd92d4c757c1e52)from @AlexanderLyNL uses the centralised statistic for the effect size, but I am not sure about the reasoning behind this. Alexander,

[2021-02-11 11:15] #876 closed

[2021-02-11 11:15] JorisGoosen commented on #876
It works on big sur

[2021-02-11 11:27] JorisGoosen commented on #1106
@EJWagenmakers did you have a chance to look at Thomas' suggestions?

[2021-02-11 11:29] JorisGoosen commented on #134
Ok I've tested this on an x86 and an aarch64 chromebook and it works fine in both cases. And Ive heard back from several users that it works. So this issue can be closed.

[2021-02-11 11:29] #134 closed

[2021-02-11 11:49] AlexanderLyNL commented on #1158
Thanks for the report. The centralised version was needed to make the location estimates and the confidence intervals invariant under location shifts. I did indeed not check the downstream use to estimate the biserial correlation. I'll add this to the todo list.

[2021-02-11 12:12] vandenman commented on #1103
this is not an R issue but something weird about enabling developer mode that leads to crashes in R. @JorisGoosen could you explain to me what exactly developer mode does?

[2021-02-11 12:16] TimKDJ commented on #1103
Relevant:
https://github.com/jasp-stats/INTERNAL-jasp/issues/530
https://github.com/jasp-stats/INTERNAL-jasp/issues/656

[2021-02-11 12:25] marie-aguirre commented on #1158
Thank for taking into account my comment!

If I may add, the Cohen 's d for the one sample Student t-test differs also from what I found when calculated by hand and with R cohens_d function from the rstatix package and some online Cohen 's d calculator.

Here some data to reproduce the values.
I am trying to perform a one sample student t-test on the Arcsin2ET to compare to the chance level, i.e.

[2021-02-11 13:24] JorisGoosen commented on #1103
Well developer mode only changes 1 thing and that is processing the dependencies that are given to a jaspObject and making sure they are used in QML.
(which Tim just alluded to with the two links)

And it is caused by people putting stuff in `mustContain` that isnt actually supported.

[2021-02-11 13:51] JohnnyDoorn commented on #1158
Hi @marie-aguirre,

Hm, with the effectsize package in R, I get the same result as JASP. We compute cohen's d in the one sample t-test by dividing the mean by the standard deviation. Which calculator/formula did you use to obtain your result?

Kind regards
Johnny

[2021-02-11 14:02] marie-aguirre commented on #1158
Hi, @JohnnyDoorn

You are totally right ! I am confused I must have made a mistake. I did this formula as well, I must have done some mistakes when reporting the data.

I am truly sorry for wasting your precious time.
Thank you for your answer and clarification, work spleepless night doesn't suit me ...

Kind regards

[2021-02-11 14:03] JohnnyDoorn commented on #1158
Hi @marie-aguirre ,

No problem, thanks a lot for getting involved and giving feedback, that's always much appreciated!

Kind regards
Johnny

[2021-02-11 14:08] JorisGoosen commented on #1103
So probably removing that from the code here would fix the crash. Because I am not in any particular hurry to fix the code for it.

[2021-02-11 14:11] JorisGoosen commented on #1103
I think it might be this: https://github.com/jasp-stats/jaspTTests/blob/2e53ee5981d5996ee28dda90ab9b888c0ee0fe73/R/commonbayesianttest.R#L794

Because I don't see why there would be three vectors in a list as depencies?

[2021-02-11 14:12] marie-aguirre commented on #1158
hi @JohnnyDoorn

Thanks you are really kind !
I really love Jasp and happy if I can help with spotting some (real) issues :)

That's the best statistic software from my point of view, beautiful, easy to use, enable to use Bayesian tests easily and make it understandable. I mainly recommend it to my students.

Honestly I can wait for a R script transcription of Jasp action (many times I use the fil

[2021-02-11 14:14] JorisGoosen commented on #1103
So to fix it would be to check those `optionContainsValue` and change them to single values and probably it won't crash anymore.
And actually these dependencies do not work at all, so it would be good to remove them, or to implement https://github.com/jasp-stats/INTERNAL-jasp/issues/656

[2021-02-11 14:20] Kucharssim commented on #1128
Hello @jufrom,

thank you for reporting this bug! You are absolutely right, the order of the variable labels in the output tables were messed up. This will be fixed in the next release of JASP.

[2021-02-11 14:20] #1128 closed

[2021-02-11 15:08] vandenman commented on #1103
Okay, I'll look into the R side. But I don't think a mistake like this should crash the engine.

[2021-02-11 15:38] JorisGoosen commented on #1103
You are right! But how to fix it wasn't obvious to me before and I really didnt expect people to do this.. But that just shows me I have a lack of imagination.

[2021-02-11 16:06] tomtomme commented on #1084
I just added it myself - hopefully I did everything correct? this is my first pull request ever and the last time I wrote R is 10 years away...
https://github.com/jasp-stats/jaspDescriptives/pull/20

[2021-02-11 16:13] JorisGoosen commented on #824
@vandenman maybe this fits in with the ploteditingstuff youve been working on?

[2021-02-11 16:13] JorisGoosen commented on #824
I've seen some hacky solutions for this by people adding invisible items to forms to store plotsizes in, maybe this could be generalized?

[2021-02-11 16:15] JorisGoosen commented on #882
Hello @parperis I think we've fixed this problem in 0.15, but I don't know exactly how to test if your particular problem is resolved.

I guess you do not have the original greek(lish) datafile anymore?

[2021-02-12 08:39] boutinb commented on #1123
@JTPetter Could you check this data?

[2021-02-12 08:41] boutinb commented on #1153
@akashrajkn Could you do this?

[2021-02-12 08:46] boutinb commented on #1151
I cannot reproduce it either in the current development. I think it's solved.

[2021-02-12 08:46] #1151 closed

[2021-02-12 08:48] boutinb commented on #1154
Hi @digitalempire00 Could you add more information about how JASP crashed: by startup, by doing an analysis....
Could you add also the log files: https://github.com/jasp-stats/jasp-desktop/blob/development/Docs/user-guide/logging-howto.md

[2021-02-12 10:04] vandenman commented on #824
So @JorisGoosen I could build in a hack for this particular plot, but the problem is indeed more general. Ideally, when refreshing any analysis the resized size of a figure should be used if it exists. In addition, we should add an option to reset the size of a figure back to its defaults (whatever was specified in the R analysis). The same mechanism might also be useful for plot editing.

[2021-02-12 10:27] vandenman commented on #824
I've made an internal issue for this and I think it's high on our (at least on my) to-do list. I'm not sure when this will be finished, however.

[2021-02-12 12:22] JorisGoosen commented on #824
Well, I think this would make our graph-editing edition a lot nicer if it is in there.

[2021-02-12 13:54] #1156 closed

[2021-02-12 15:11] #1103 closed

[2021-02-12 21:23] akashrajkn commented on #1153
Yes!

[2021-02-14 13:36] felipeviegas commented on #1154
I had a crash on startup of this version. It informs that "JASP ran into a problem loading the know issues for this version". It just quits after the message. Interestingly, when I open the "About" window before the warning, it keep it open, as the image shows.
I am using an old Macbook Air (mid/2011) with Mac OS High Sierra.
![Screen Shot 2021-02-14 at 10 29 58](https://user-images.githubusercont

[2021-02-15 11:20] JorisGoosen commented on #1154
@felipeviegas does it keep giving this error?

And if you follow this link in your browser, does that work: http://static.jasp-stats.org/JASP-KnownIssues.json

[2021-02-15 11:45] JorisGoosen opened #1159 "Mixed Models crash on Linux"
* JASP version: 0.14.2

* OS name and version: Linux
* Analysis:  Mixed Models
* Bug description: Hard crash of JASP
* Expected behaviour: Yeah, guess what.

[2021-02-15 12:14] GDG-tech opened #1160 "factorial repeated measures ANOVA crash"
* JASP version: 0.13.1

* OS name and version:
* Analysis:
* Bug description: Cannot compute post hoc analysis

#### Steps to reproduce:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

<img width="692" alt="Screenshot 2021-02-15 at 12 13 38" src="https://user-images.githubusercontent.com/79090170/107945255-3f684c00-6f87-11eb-984b-1a140e0d1b26.png">
<img width="692" alt="Sc

[2021-02-15 12:46] babu301 opened #1161 "correlational cut-off increase help required"
How can I inter-connected items of  correlational cut-off increase in JASP?
For example: correlational cut-off = 0.35  and then to correlational cut-off = 0.40 and then to plot a network diagram respectively.

[2021-02-15 13:46] vandenman commented on #1161
So I have a couple of questions:

- What OS and JASP version do you use?
- What analysis does this relate to? Network analysis?
- Is this a bug or a feature request?
  - If it's a bug, please describe the bug as well as expected behavior.
  - If it's a feature request, please provide the expected behavior.

The more details the better!

[2021-02-15 14:07] JohnnyDoorn commented on #1160
Hi @GDG-tech,

Thanks for your report. Could you perhaps include a data set (or preferable a jasp file, which you can upload as zip, or email to j.b.vandoorn <at> uva.nl) that gives the posted error message? Which version of JASP are you using?

Kind regards,
Johnny

[2021-02-15 14:43] GDG-tech commented on #1160
Hi Johnny,
Thanks so much for your prompt reply.
I have just realised that there was a problem with the file I was using. I downloaded it again and now everything works.

Best wishes,
GDG-tech<https://github.com/GDG-tech>

From: JohnnyDoorn <notifications@github.com>
Sent: 15 February 2021 14:07
To: jasp-stats/jasp-issues <jasp-issues@noreply.github.com>
Cc: DI-GREGORIO, GIAMMARCO (Student) <giamm

[2021-02-15 14:48] JohnnyDoorn commented on #1160
Hi @GDG-tech

That's great! Could you tell me what was wrong with your data file? Because it can help us clarify the error messages/checking when loading data/running analyses.

Kind regards
Johnny

[2021-02-15 16:44] parperis commented on #882
I’ll be back to that project soon and, among other things, I’ll look for the original files to re-run everything.
Hopefully sometime within this month. So, I’ll keep you posted.

[2021-02-15 17:09] #1084 closed

[2021-02-15 17:29] JorisGoosen commented on #882
Ah that would be great!

[2021-02-15 17:29] babu301 commented on #1161
I am using Windows 7  and JASP version 0.13.1.0.
It is related to network analysis as I am going through one paper and find
below network analysis performed in JASP.

[image: image.png]
The above figure shows a correlation based network among the items.  This I
am able to get.

[image: image.png]

The above figure shows the strong cluster of inter-connected items  at a
correlational cut-off = 0.35

[2021-02-15 17:48] GDG-tech commented on #1160
Hi Johnny,
Unfortunately, I do not know what was wrong with the file. I just tried to download it again from the website, and the new file did not have any issues. So probably something weird must have happened to my dataset during the first download.

Kind regards,
@GDG-tech<https://github.com/GDG-tech>
[https://avatars.githubusercontent.com/u/79090170?s=400&v=4]<https://github.com/GDG-tech>
GDG-

[2021-02-15 22:18] andrewfeist96 opened #1162 "Cohen's d overestimated in one-sample t-tests"
* JASP version: 0.14.1

* OS name and version: Windows 10
* Analysis: The computation for Cohen's d is not taking into account the value the data is being tested against.
* Bug description:  Cohen's d is being calculated as M1/sd.
* Expected behaviour: Cohen's d should be calculated as (M1-M2)/sd, where M2 is the assumed mean.  So if I was testing against the null hypothesis of a mean=32, and my s

[2021-02-16 04:07] MayliaCypher opened #1163 "JASP unable to initialize the JIT"
* JASP version:0.14.1

* OS name and version:Windows
* Analysis:
* Bug description: When I try to open JASP, it shows that there's a fatal error that it can't initialize the JIT.![3F6R17R@LV})D0P(2{0}@ZB](https://user-images.githubusercontent.com/79127076/108017258-6c961800-6fe2-11eb-894f-81d2dd53f550.png)
![L8S V)EIBS @J~T~($EYSVB](https://user-images.githubusercontent.com/79127076/108017285-8172

[2021-02-16 07:31] ecordonP opened #1164 "Linear regression. Problem with covariates"
* JASP version: 0.14

* OS name and version: Mac OSX Big Sur
* Analysis: Linear Regression
* Bug description: I cannot include categorical variables (dummy) as covariates. Only scale type variables are allowed
* Expected behaviour: In version 0.13, any type of variable could be entered as covariates: scale, ordinal, nominal

#### Steps to reproduce:
1. Go to '...'
2. Click on '....'
3. Scroll down

[2021-02-16 07:42] #1160 closed

[2021-02-16 08:58] AlexanderLyNL commented on #1162
Hi andrewfeist96,

We changed the behaviour of the one-sample t-test recently. It now provides you with estimates that are independent of the test. This was done so
1. the results align with that of R and other statistical packages;
2. to avoid confusion regarding testing and estimation;
3. to align with the formal definition of confidence intervals.

See also here

https://github.com/jasp-stats/j

[2021-02-16 08:58] #1162 closed

[2021-02-16 09:35] JorisGoosen commented on #1163
Hello @MayliaCypher could you help us out and send us the logfiles of starting JASP?

We've made a manual on how to do that:
https://github.com/jasp-stats/jasp-desktop/blob/development/Docs/user-guide/logging-howto.md

[2021-02-16 09:38] vandenman commented on #1161
Could you use GitHub's website directly to upload the images? If you email them then unfortunately GitHub cannot display them.

[2021-02-16 12:51] Kucharssim commented on #1164
Hello @ecordonP,

I am sorry for the trouble. In the next version of JASP, it will be possible to include categorical variables as predictors using a dedicated "Factors" field - similarly as is already the case for the logistic regression, see screenshot
![Screenshot 2021-02-16 at 13 43 03](https://user-images.githubusercontent.com/7093546/108064518-1914e000-705d-11eb-817e-37a8f73d8beb.png)

In th

[2021-02-16 12:51] #1164 closed

[2021-02-16 14:23] fkroener opened #1165 "JASP crashes when removing a model in "Learn Bayes" -> "Binomial Estimation" in FlatPak/ArchLinux"
* JASP version: 0.14.3

* OS name and version: ArchLinux using FlatPak
* Bug description: JASP crashes when removing a model in "Learn Bayes" -> "Binomial Estimation"
* Expected behaviour: JASP shouldn't crash

#### Steps to reproduce:
1. Go to 'Learn Bayes'
2. Click on 'Binomial Estimation'
3. Click on "Plus"-Button in Model
4. Click on "Plus"-Button in Model once more.
5. Click on "X" to remove

[2021-02-16 15:09] EJWagenmakers opened #1166 "LearnBayes module: Bayesian testing fails when theta=1"
Take the hungry zombie example, so we have 12 confirmatory instances. We specify one model to be theta=1, and the other to be beta(1,1). The problem is that the module would not accept theta=1 as input, no matter how I entered the data. For it to work I ended up having to enter theta = 0.999 as a spike, which is obviously suboptimal.

[2021-02-16 17:22] MayliaCypher commented on #1163
Hi @JorisGoosen
Here are the logfiles I found

00:00:00.000: new LanguageInfo created: Language: '' qmFolder: '' and qmFilenames: ''
00:00:00.000: new LanguageInfo created: Language: '' qmFolder: '' and qmFilenames: ''
00:00:00.001: new LanguageInfo created: Language: '' qmFolder: '' and qmFilenames: ''
00:00:00.001: new LanguageInfo created: Language: '' qmFolder: '' and qmFilenames: ''
00:00:00.

[2021-02-17 00:12] JorisGoosen commented on #1163
Hi @MayliaCypher great that you found them, do you think you could add them by attaching them here instead of pasting that?

And also, I see that you we're trying to load an assignment "Chap1-Data1.csv", in which folder on your system did you save it?
From the log you pasted it looks like something chinese "E:/公务/Intro-data-for-assignment PSY252/Intro-data-for-assignment/Chap1-Data1.csv". Is that

[2021-02-17 00:22] MayliaCypher commented on #1163
Good evening,
Yes, the assignment is in the "Intro-data-for-assignment" folder. Do I need to change the names to all English? The language of my computer is Chinese and the country setting is China.
Thank you
Tian Tian
________________________________
发件人: Joris Goosen <notifications@github.com>
发送时间: 2021年2月17日 8:12
收件人: jasp-stats/jasp-issues <jasp-issues@noreply.github.com>
抄送: Tian Tian <ttian

[2021-02-17 00:39] JorisGoosen commented on #1163
Ah right, well we are working hard to have the next version of JASP work well with chinese and other non-latin alphabets and languages. But in 0.14 this is not all good yet.

You could try placing any files you use with JASP in a folder without chinese characters. That might solve the problem.

[2021-02-17 03:38] rnrpereira opened #1167 "JASP crashed"
* JASP version: 0.14.3
* OS name and version: KDE Flatpak runtime

* Analysis:
* Bug description:
* Expected behaviour:

#### Steps to reproduce:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

-----------------------------------------------------------------------

### Debug information:
**Engine # 0** process  is *running* and it's state is *idle*.
**Engine # 1** process

[2021-02-17 08:08] tomtomme opened #1168 "update websites rollApp version"
https://jasp-stats.org/download/ advertises JASP 0.9.0.1 online via Rollapp, but I just checked and its actually at 0.14.3!

[2021-02-17 09:22] boutinb commented on #1167
HI @rnrpereira Could you describe a bit more what happens: is it when starting JASP, loading data, running an analysis?
Could you also give the log files: https://github.com/jasp-stats/jasp-desktop/blob/development/Docs/user-guide/logging-howto.md ?

[2021-02-17 09:56] EJWagenmakers commented on #1168
That has just happened. Exciting news, but unfortunately the current version does not work (it keeps crashing). We are in contact with them to sort this out. Once the issue has been fixed we will advertise it more broadly.

[2021-02-17 09:56] #1168 closed

[2021-02-17 15:28] FBartos commented on #1166
I'm sorry, I know that we were talking about this and I thought I fixed it.

I have a few conceptual questions. We have two hypotheses:

A: theta = 0
B: theta = .5

We observe 1 failure and 1 success. The log marginal likelihoods are then - Inf for A (a success is impossible under A) and -0.693 for B. What are the BF_AB and BF_BA? Are they 0 and + Inf or are both of them undefined?

How do we deal

[2021-02-17 16:46] FBartos commented on #1165
Hi,
thanks for reporting the issue. We managed to replicate it and the problem seems to happen only on Linux distributions. We are working on fixing it.
Cheers,
Frantisek

[2021-02-17 19:54] EJWagenmakers commented on #1166
(a) The BFs are 0 and +Inf. See also the Bayesian binomial in JASP common or (this is easier to check) the Bayesian binomial in the Summary Stats module.
(b) I am not sure how Bayesian binomial in JASP common does this, you could check it out. It probably says plotting is impossible. We could develop a fancy graph with all values shrunk and a fat arrow pointing to infinity, but this is just a soph

[2021-02-17 21:55] FBartos commented on #1166
I have one special case that we do not offer anywhere else:
A: theta = 0
B: theta = 0
We observe 1 success.
the BF_AB is exp(-Inf + Inf). Should the output produce NaN?

[2021-02-18 03:24] freckledude opened #1169 "Strange looking font errors"
* JASP version: 0.14.1

* OS name and version: Windows 10 Education 20H2
* Analysis: N/A
* Bug description: When in the compute new variable menu, I see that some of the variable names contain characters that did not show up correctly. in their place is a random assortment of colored pixels.
* Expected behaviour: The entire name of the variables should show with no erroneous pixels.

#### Steps to

[2021-02-18 08:05] EJWagenmakers commented on #1166
Yes, that should be NaN.
There is also this important scenario:
A: theta = 0
B: theta = 1
We observe 1 success and 1 failure.
This should also produce NaN.

[2021-02-18 10:10] vandenman commented on #811
Thanks for reporting the issue!

In the table, there is a footnote that explains why the value cannot be computed -- but the reason in the footnote is indeed incorrect. The (absolute value of the) phi coefficient can only be computed for 2x2 coefficient tables, at least in our current implementation. In your data set, `FTO` has 3 outcomes (0, 1, 2) and `HGLU56` has 2 outcomes (0, 1) so you have a

[2021-02-18 11:20] boutinb commented on #1169
Hello @freckledude Could you try it with the Safe Graphics Mode on (Preferences/Interface menu)?

[2021-02-18 16:08] freckledude commented on #1169
I turned safe graphics mode on and tried it again and the weird text isn't
there anymore! Thanks!

On Thu, Feb 18, 2021 at 4:20 AM bruno boutin <notifications@github.com>
wrote:

[2021-02-18 17:46] felipeviegas commented on #1154
Hi Joris, sorry for the delayed response. I was out of my old mac!

Tried it now and the problem is gone! I did not update the version. Anything changed remotely?!

Thanks!

[2021-02-18 19:14] stephleo opened #1170 "JASP will not display distribution plots"
* JASP version: 12.1

* OS name and version: macOS Catalina 10.15.7
* Analysis: JASP will not display the various distribution plots including Q-Q plot, P-P plot, histogram vs. theoretical pdf, and empirical vs. theoretical pdf.
* Bug description: There was no bug report, but the plots will not display in JASP
* Expected behaviour: Plots displayed on screen.
<img width="1280" alt="Screen Shot 2021

[2021-02-18 21:45] davisee opened #1171 "Bug: Expanding plot crashes JASP"
If I plot the model-averaged posteriors in a bayesian ANOVA and want to expand the plot, JASP crashes before it can do so. But it is impossible to visualize the data in the way it outputs in the results.
![plot_bayesian_anova](https://user-images.githubusercontent.com/17937019/108425619-b4968400-7208-11eb-818e-78d563a58036.png)

[2021-02-18 22:56] Kucharssim commented on #1170
Dear @stephleo,

Thank you for the report. Perhaps you need to expand the "Estimate parameters" section and select "Maximum likelihood", then all the results should show up.

[2021-02-19 00:06] stephleo commented on #1170
@Kucharssim

Thank you.  I selected "Maximum Likelihood" and was able to see the results.  I appreciate your assistance.

[2021-02-19 08:12] vandenman commented on #1171
So I have a couple of questions:

- What OS and JASP version do you use?
- Does this happen for all data sets? Could you try to reproduce it with the `debug.csv`? You should be able to find that in `Open` -> `Data Library` and then the last entry.
- If you change `Group levels in single plot` to `Individual plot per level`, does the error still occur?
![image](https://user-images.githubusercontent

[2021-02-19 08:28] Kucharssim commented on #1170
I am glad it helped!

[2021-02-19 08:28] #1170 closed

[2021-02-19 09:12] #1169 closed

[2021-02-19 12:36] Izymil commented on #513
Hello! I see that the problem hadn't been solved and I have practically identical issue. I would like to attach a file, but I got "We don't support that file type" message.

[2021-02-19 12:41] vandenman commented on #513
to upload files to GitHub you need to zip them first (unless they are images or plain text).

[2021-02-19 13:01] Izymil commented on #513
[cannot-load.zip](https://github.com/jasp-stats/jasp-issues/files/6010131/cannot-load.zip)
Thanks! There you go

[2021-02-19 13:37] davisee commented on #1171
I am using Windows 10 (PC), JASP version 0.14.1. This has only been happening since I downloaded this new version this month. And yes, it is when I go to resize the figure it crashed. It only happens for the interaction graph, none of my other graphs, which is odd but it's consistent.

[2021-02-19 14:22] boutinb commented on #513
Hi @Izymil I can load it without problem, but maybe is my PC stronger than yours. You wrote that you use JASP 0.10.0. This is quite an old version. Did you try the current 0.14.1 version?

[2021-02-20 03:37] VMP2021 opened #1172 "Independent samples T-Test unable to complete test; error"
* JASP version: JASP 0.14.1

* OS name and version: Windows 10 v1909
* Analysis: Independent Samples T-test
* Bug description: analysis couldn't be completed; the following error message appeared

This analysis terminated unexpectedly.

Error in .ttestIndependentEqVarFill(equalityVariance, dataset, options): object 'result' not found

Stack trace
tryCatchOne(expr, names, parentenv, handlers[[1]])

[2021-02-22 08:25] vandenman commented on #1172
Thanks for reporting the error!

I tried to replicate the problem with simulated data of 403K observations but unfortunately, I could not reproduce the error. Would it be possible to share the data that caused this error? I should only need the two columns `V2010_2020NUM_spp_diversity_10...` and `V2010_2020group_10km2grid` to reproduce the error.

[2021-02-22 15:37] JorisGoosen commented on #1154
There probably was something going wrong with the connection, but good to hear it works now!

[2021-02-22 15:37] #1154 closed

[2021-02-22 15:57] pandelis opened #1173 "Problem One Sample t test & effect size"
Hi,

* JASP version: 0.14.1
* Analysis:
* Bug description: I noticed a problem when computing the effect size for One-Sample t test. In the following attached example I get 3.483 which is quite surprising giving the means (43.6 vs 42 and the sd 12.52)
* Expected behaviour: d should be d = 0.1278 instead of 3,483 I think

Best regards,

[One Sample t-test.Effect Size.jasp.zip](https://github.com/ja

[2021-02-22 16:26] JorisGoosen commented on #1159
This is fixed and a special 0.14.3 release has been issued for linux.

[2021-02-22 16:26] #1159 closed

[2021-02-23 10:16] #811 closed

[2021-02-23 15:11] AlexanderLyNL commented on #1173
Hi pandelis,

This was changed in 0.14.1 to clarify the difference between estimation and testing, see also

https://github.com/jasp-stats/jasp-issues/issues/1142

However, it appears that this led to some confusion, which is why it'll be reverted in the next version.

Cheers,
Alexander

[2021-02-23 16:51] #23 closed

[2021-02-24 09:31] jaccorenstrom opened #1174 "JASP crashed"
* JASP version: 0.14.1
* OS name and version: macOS 10.16

* Analysis:
* Bug description:
* Expected behaviour:

#### Steps to reproduce:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

-----------------------------------------------------------------------

### Debug information:
**Engine # 0** process *does not exist (anymore)* and it's state is *initializing*.
**Engine

[2021-02-24 13:00] boutinb commented on #1174
Hi @jaccorenstrom Could you describe a bit more what happens: is it when starting JASP, loading data, running an analysis?
Could you also give the log files: https://github.com/jasp-stats/jasp-desktop/blob/development/Docs/user-guide/logging-howto.md ?

[2021-02-24 18:55] maxdem1an opened #1175 "Combination of Effects in Bayesian Repeated Measure Anova Post-Hoc Tests"
* Enhancement: Combination of Effects in Bayesian Repeated Measure Anova Post-Hoc Tests
* Purpose: To extract BF values for combinations of RM effects and between subject factors as in frequentist RM ANOVA.

**Is your feature request related to a problem? Please describe.**

I performed Computer Tomography scans of a phantom and want to evaluate the effects several real and simulated low dose step

[2021-02-25 05:25] angelaelvareta01 opened #1176 "JASP crashed"

[2021-02-25 07:05] narcilili opened #1177 "data transformation not functioning"
* JASP version: 14.1

* OS name and version: windows 10
* Analysis:
* Bug description: hello, i tried to log transform my data but the 'create column' does not function
* Expected behaviour: i would expect the 'create column' to allow me to write a new column name.

#### Steps to reproduce:
1. Go to 'load the csv file'
2. Click on 'click on the + sign '
3. Scroll down to 'create computed column ap

[2021-02-25 08:39] boutinb commented on #1176
Hi @angelaelvareta01 Could you describe a bit more what happens: is it when starting JASP, loading data, running an analysis?
Could you also give the log files: https://github.com/jasp-stats/jasp-desktop/blob/development/Docs/user-guide/logging-howto.md ?

[2021-02-25 08:49] boutinb commented on #1177
Hi @narcilili If you give a name to the Computed Column, then the 'Create Column' button should become available.

[2021-02-25 14:11] andremonezi opened #1178 "Multiple invariance tests simultaneously for Structural Equation Modeling"
At the moment, JASP has no commands for assessing invariance measures on SEM Model. These are very important in the psychometrics field, for example.
See the link as an example: https://jihongz.github.io/lavaan/2017/11/12/MESUREMENT-INVARIANCE.html
Also, it would be very helpful if JASP could present the fit indexes for each invariant, as shown in this figure. The figure was collected from the lin

[2021-02-26 03:04] narcilili commented on #1177
hello boutinb,
i got it. thanks a lot. have a nice day.

[2021-02-26 03:04] #1177 closed

[2021-02-26 09:02] narcilili opened #1179 "help on summary stats bayesian one sample t test"
hello jaspers,
I am working on fish length-weight relationship: log W = log a + b log L with a sample size of n = 112. i wonder if i can get some feedback on using summary stats bayesian one sample t test as a substitute for the frequentist t statistic = (b-3)/SE = 3.691, where b is the observed regression coefficient, 3 is the isometric value, SE is the standard error of the regression coefficien

[2021-02-26 10:22] JoKeyser opened #1180 "Weblate locked for jaspDesktop"
Since about 10 days, it's not possible to translate [jaspDesktop](https://hosted.weblate.org/projects/jasp/jaspdesktop/#translations) via Weblate.

![weblate-locked](https://user-images.githubusercontent.com/8722846/109287488-ea002a80-7823-11eb-90ab-d3eb97f2589c.png)

This issue is just to make sure it's on your radar, in case it isn't already.

[2021-02-26 13:03] irenesco opened #1181 "Simple slopes analysis in regression models estimation"
When using a moderated regression approach it is often necessary to report the conditional effect of the IV at different levels of the moderator (spotlight analysis) or to examine the conditional effect of the IV at for all values of the moderator in order to identify the region of significance for the moderated effect (Johnson-Neyman approach).
* Enhancement: This option (estimated marginal means

[2021-02-26 14:56] boutinb commented on #1180
Hi @JoKeyser I have rebased the jaspDesktop reporsitory, and unlock it. I will update also soon the other repositories.

[2021-02-26 14:56] #1180 closed

[2021-02-26 15:09] MarcusFV opened #1182 "Simple main effects not working in RN Anova"
Jasp is returning an error when I try to do simple main effect on RM Anova taking Group as simple effect factor.
The error is

This analysis terminated unexpectedly.
Error in pf(F, df, fullAnovaDf, lower.tail = FALSE): Non-numeric argument to mathematical function
Stack trace
To receive assistance with this problem, please report the message above at: https://jasp-stats.org/bug-reports

Thanks.

[2021-02-26 15:13] malacruz opened #1183 "[Feature Request]: Panel Regression"
* Enhancement: Panel Regression Feature in JASP
* Purpose: To be able to do this w/o having to use R of some other program
* Use-case: Teaching students how to calculate Modified Jones Model

**Is your feature request related to a problem? Please describe.**
 Teaching students how to calculate Modified Jones Model for earnings management in an accounting related thesis project.

**Describe the sol

[2021-02-26 16:46] JoKeyser commented on #1180
Hi @boutinb , thanks a lot!

[2021-02-26 17:26] irenesco commented on #1181
By the way, thank you for developing JASP - it is a fantastic package and it keeps getting better and better.

[2021-02-26 19:19] rcgraz opened #1184 "Network Theory Stability Coefficient"
* Enhancement: Network Theory Stability Coefficient
* Purpose: To keep network theory applicability up to date
* Use-case: When using network theory

**Is your feature request related to a problem? Please describe.**
 It is now standard practice in the psychological Network Theory literature to include a stability coefficient, which is not currently included in JASP.

**Describe the solution you'd

[2021-02-27 14:33] MarcusFV commented on #1182
I am running Jasp in Windows 10.
My Jasp version is 0.14.1. Old versions is working fine.
The complete error message is:

This analysis terminated unexpectedly.
Error in pf(F, df, fullAnovaDf, lower.tail = FALSE): Non-numeric argument to mathematical function
Stack trace
tryCatchOne(expr, names, parentenv, handlers[[1]])
doTryCatch(return(expr), name, parentenv, handler)
withCallingHandlers(expr =

[2021-02-27 22:24] PlaytosSandl opened #1185 "Input excel format"
My suggested request is to input excel format files.  Although JASP will read csv files, reading excel files would make data management and manipulation so much easier.
Thank you.
Tim Seifert, Ph.D.

P.S. I would also encourage you to include adjusted residuals for contingency tables.  They are very useful.  Since JASP already displayed observed and expected values, the addition should be minimal.

[2021-02-28 03:25] arturojuarezg commented on #1122
Hi everyone, I am a simple user and zero knowledge in programming. I got the same message "This analysis terminated unexpectedly. Error in *tmp*[['freq']]: subscript out of bounds" when calculating alpha. Is there yet any solution without the necessity of programming?

[2021-03-01 07:56] vandenman commented on #1184
Thanks for the feature request!

Just to make sure we're on the same page, you're referring to [`corStability`](https://rdrr.io/cran/bootnet/man/corStability.html), which is only applicable when doing a case-drop bootstrap?

[2021-03-01 09:26] juliuspf commented on #1122
Dear @arturojuarezg, can you provide a Jasp-file for your problem? The bug in the analysis will be fixed in the next release, and probably even sooner in one of the nightlies (development JASP versions). Cheers, Julius

[2021-03-01 09:41] JohnnyDoorn commented on #1158
Why did you change the mean to mean difference for the one-sample tests? Because this is not always relevant for people observing a single set of values. What if we use a "/" to indicate both approaches (testing a difference in means, testing a mean location).

[2021-03-01 09:44] AlexanderLyNL commented on #1158
Based on the discussion in slack, I reverted it back to the old situation, which reported mean differences for z and t-test.

[2021-03-01 10:16] PSK11556 opened #1186 "Challenge with JASP 0.14.1.0"
* JASP version: 0.14.1.0

* OS name and version:
* Analysis: EFA and Linear Regression
* Bug description: No option in EFA to conduct additional output and no advance option available. In terms of Linear Regression I can transfer a Dependent Variable however the software does not allow me to transfer Covariates.
* Independant Samples T-test indicating an error
* Expected behaviour:
* Is it possibl

[2021-03-01 13:09] #824 closed

[2021-03-01 14:54] rcgraz commented on #1184
Hello,

Yes! This is what I mean. It was also be great if a centrality stability plot could be created.

Both are part of the bootnet R package but neither of these are currently available via JASP (which uses the bootnet package I believe).

If it’s helpful, here is the bootnet package pdf: https://cran.r-project.org/web/packages/bootnet/bootnet.pdf <https://cran.r-project.org/web/packages/bootne

[2021-03-01 15:14] Angalanse opened #1187 "Incorrect CI bars for repeated measures ANOVA (standard and Bayesian)"
* JASP version: 0.14.0.0 (also reproduced in 0.14.1)

* OS name and version: Win 10 64 bit
* Analysis: I'm plotting skin conductance levels over the course of time (nine repeated variables) in women and men (sex is the between subjects factor). This produces outcomes that are reasonable (and in the standard ANOVA case identical with SPSS output). However, the confidence intervals / credible interv

[2021-03-01 16:32] boutinb commented on #1181
@dustinfife Do you think you could add this to your module?

[2021-03-01 16:36] JohnnyDoorn commented on #1182
Hi @MarcusFV,

Thanks for your report. Would it be possible for you to share the jasp file or data set, so that I can look into this issue? You can also send it by email to j<dot>b<dot>vandoorn<at>uva.<dot>nl

Kind regards,
Johnny

[2021-03-01 17:21] dustinfife commented on #1181
It already does this naturally. See this blog post:

https://quantpsych.net/simple-slopes-models-in-jasp-r/

At this point, it doesn't allow you to specify the number of levels or the "breakpoints" of those levels. It something I've been meaning to do, but just haven't gotten around to doing it yet. Is that something you need to complete your analysis? Or is the module sufficient as is? If the for

[2021-03-02 02:18] 69933152 opened #1188 "the classical linear regression got a problem in my computer (JASP 0.14.1.0)"
the video showing the problem:
https://user-images.githubusercontent.com/79885837/109586522-52ab1800-7b40-11eb-9f7f-2a2ac52a21e2.mp4

the normal screenshot from my friend:
![266857765838123888](https://user-images.githubusercontent.com/79885837/109586629-8be38800-7b40-11eb-8718-73d74955d0f5.jpg)

[2021-03-02 07:33] JohnnyDoorn commented on #1187
Hi @Angalanse,

Thanks for your report. What options did you use for the plots? For the frequentist RM ANOVA, you can either plot by CI or standard error, which can lead to different sized intervals. Also, have you averaged across the unused RM factors, by ticking the corresponding box? This can also have a big impact on the result. It's a bit puzzling though why also the Bayesian RM ANOVA is givi

[2021-03-02 07:46] 69933152 commented on #1188
64 bit JASP 0.14.1.0

[2021-03-02 08:15] vandenman commented on #1188
Hi, we've disallowed factors in linear regression because the results were incorrect (they were treated as continuous predictors). In the next release, it will be possible again to add factors (with correct results). In the meantime, if you really want to add the predictor you can change the type of the variable from ordinal to scale:

![image](https://user-images.githubusercontent.com/21319932/10

[2021-03-02 09:18] JohnnyDoorn commented on #1187
Hi @Angalanse ,

Thanks for the data set. The discrepancy of the results comes from the fact that JASP applies a correction to the intervals (see also the help file for the RM ANOVA):

The paper in question can be found [here](http://pcl.missouri.edu/sites/default/files/morey.2008.pdf).

below is R code that reproduces both versions of the results (SPSS first for the uncorrected intervals, and the

[2021-03-02 09:42] Angalanse commented on #1187
Thanks Johnny! That’s interesting!

L

Från: JohnnyDoorn <notifications@github.com>
Skickat: den 2 mars 2021 10:19
Till: jasp-stats/jasp-issues <jasp-issues@noreply.github.com>
Kopia: Linus Andersson <linus.andersson@umu.se>; Mention <mention@noreply.github.com>
Ämne: Re: [jasp-stats/jasp-issues] Incorrect CI bars for repeated measures ANOVA (standard and Bayesian) (#1187)

Hi @Angalanse<https://g

[2021-03-02 10:02] Angalanse commented on #1187
Just a follow-up Johnny,

One of the arguments in the paper you linked to was that the new confidence intervals are more aligned with the results of the (significant) t-test in the paper. The pedagogical problem I see with the RM ANOVA example I provided is that readers who are used to glancing at the figure to get an overview of the results would probably expect an immense difference between the

[2021-03-02 10:17] AlexanderLyNL commented on #1158
The following code now provides the same results with a slight adjustment on the confidence interval.

[code]

[2021-03-02 11:47] keunes opened #1189 "JASP opens SAV in JASP despite custom editor setting"
* JASP version: 0.14.1
* OS name and version: Windows 10
* Bug description: JASP opens SAV in JASP despite custom editor setting
* Expected behaviour: Open the dataset in LibreOffice, as set in the Data Preferences (C:/Users/first.last/.programmes/LibreOfficePortable/LibreOfficeCalcPortable.exe)

#### Steps to reproduce:
1. Make JASP default programme for sav files
2. Open sav file
3. Double-click

[2021-03-02 11:53] keunes opened #1190 "[Feature-Request]: Show variable info when hovering variables of variable lists"
* Enhancement: Import the question titles/labels when opening sav file, instead of the question code
* Purpose: Make analysis easier
* Use-case: Importing an sav file from SurveyMonkey and run basic stats

**Describe the solution you'd like**

Automatically pick up the questions, just as happens when importing a CSV file.

**Additional context**

As noted the sav file comes from SurveyMonkey - I'm

[2021-03-02 16:28] irenesco commented on #1181
Hi Dustin!
Thanks for your super quick reply! These two analyses would be incredibly helpful as the Johnson-Neyman approach is one of the default ways to examine interaction patterns in my field, so I would be using it extensively
(see: https://www.researchgate.net/publication/254957998_Spotlights_Floodlights_and_the_Magic_Number_Zero_Simple_Effects_Tests_in_Moderated_Regression)
Let me know if th

[2021-03-02 16:30] irenesco commented on #1181
PS I've looked into flexplot, but (I guess by design) does not provide the option to estimate the simple slopes at custom values, or at all values to identify a region of significance.

[2021-03-03 06:21] hcommenges opened #1191 "Add predicted values to data"
* Enhancement: add predicted values to data
* Purpose: for Hierarchical Clustering it is possible to add predicted clusters to data, it would be useful to add this feature to other modules
* Use-case: in my case (spatial statistics) I often have to work with predicted values and sometimes draw a map of it. It is very useful in two main cases: 1/ analyze and map residuals from linear regression (to

[2021-03-03 08:51] boutinb commented on #1191
@koenderks Can you answer this request?

[2021-03-03 08:54] koenderks commented on #1191
This should be possible. Probably some work for the maintainer of the regression module.

[2021-03-03 08:58] vandenman commented on #1191
Hi @hcommenges, is this specifically about factor scores of EFA and PCA? For the machine learning analyses, it is already possible to export the predicted values.

[2021-03-03 13:05] AlexanderLyNL commented on #1158
Fixed: https://github.com/jasp-stats/jaspTTests/pull/39#event-4401880113

[2021-03-03 13:05] #1158 closed

[2021-03-03 13:05] AlexanderLyNL commented on #1173
Fixed: https://github.com/jasp-stats/jaspTTests/pull/39#event-4401880113

[2021-03-03 13:05] #1173 closed

[2021-03-03 20:14] hcommenges commented on #1191
Hi, for my research and classes (but I think the need is common among geographers) it is very common to plot and map residuals from linear models, clusters from clustering methods and coordinates from PCA. Regarding hierarchical clustering I noticed that JASP already offers the option to export the clusters, but I think it would be useful to extend this possibility.

Few years ago I developed a sh

[2021-03-04 09:21] boutinb commented on #1191
Hi @hcommenges We may implement your suggestions, but as you have apparently already programming experience in R, and that we have made JASP modulaire so that it makes much easier for external people to contribute to JASP, would you be interested to implement self this feature? If yes, we can have a zoom session.

[2021-03-04 09:46] hcommenges commented on #1191
Ok I'm interested. I'm available tomorrow morning, monday 8th morning, tuesday 9th morning, thursday 11th. Would on of these dates be convenient for you?

[2021-03-04 12:34] boutinb commented on #1191
I prefer to continue via email to make an appointment. Did you receive it?

[2021-03-04 20:14] hcommenges commented on #1191
Yes I received your mail at hadrien.commenges@univ-paris1.fr, I'm waiting for your zoom link for tomorrow.

[2021-03-04 22:19] andyach86 opened #1192 "Creating forest plots with already determined hazard ratios and confidence intervals"
Dear Team,

I have been trying to use the meta-analysis module in JASP to create a forest plot. I already have hazard ratios and confidence intervals and sample size predetermined from the studies that I wish to compare. I do not have tabulated raw data and most of the studies do not have control groups. Simply measuring outcome of death in presence or absence of covariate. I was trying to use 'ro

[2021-03-05 08:00] boutinb commented on #1192
@FBartos Can you answer this?

[2021-03-05 11:14] pnovoa commented on #462
Any update about this issue? I currently used JASP 0.14.1 but I have no clue on how to bound ordinal variables (measured indicators) to a factor.

[2021-03-05 12:11] vandenman commented on #1186
Hi @PSK11556, thanks for the report! There seem to be multiple issues, let's discuss these one by one.

What additional output is supposed to be there? Is there a bug, or would you like to see more options for output? If it's the latter, what are you missing?

In JASP 0.14.1, the linear regression only supports continuous predictors. To change the type of a variable, click on this icon:
![image](h

[2021-03-05 13:08] FBartos commented on #1192
Hi Andy,

thanks for reporting the issue. The behavior you report is a bug that we weren§t aware of before and I will fix it. It will fix it.

Also, there is a difference between odds ratios and risk ratios - the analysis was created to work with ORs so many of the implemented transformations would not work for RRs. Since RRs are not implemented in any of the JASP analyses, I would suggest transfo

[2021-03-05 15:32] OehiAlm opened #1193 "JASP crashes on syncing changed .csv files"
I've been having this issue a lot lately where JASP frequently either crashes on startup with "large" .jasp files or does so, when manually synchronizing with the .csv file that the Data is based on. The .csv file in question was changed outside of JASP (as far as I know, thats the only possible way) and when loading it up, JASP seems to detect the changes fine, as i could see from the log file th

[2021-03-05 16:22] boutinb commented on #1193
Hi @OehiAlm Can you read the file with an 'empty' JASP? If not, can you send me the file?

[2021-03-05 16:35] OehiAlm commented on #1193
yeah, i can read the .csv if theres no project loaded

[2021-03-05 17:00] boutinb commented on #1183
@EJWagenmakers What do you think about this request?

[2021-03-05 17:02] boutinb commented on #1185
For Excel, we also support odt format (Microsoft supports it actively).
For the contingency tables, maybe @vandenman can answer you better.

[2021-03-05 17:11] boutinb commented on #1179
@EJWagenmakers or @akashrajkn Could you answer this issue?

[2021-03-05 17:15] boutinb commented on #1189
Hi @keunes I thought that LibreOffice could not open a sav file. If it is the case then I could change this behaviour.

[2021-03-05 17:18] boutinb commented on #1190
Can't you save the file in csv format from SPSS? I thought the labels were also loaded in JASP, could you send me your save file?

[2021-03-05 17:20] boutinb commented on #1193
Could you send me the JASP file and the new data file?

[2021-03-08 05:42] ShaCasis opened #1194 "Mediation analysis using ordinal mediator terminated unexpectedly"
[1 Data_FTP and WB JASP.zip](https://github.com/jasp-stats/jasp-issues/files/6099210/1.Data_FTP.and.WB.JASP.zip)

* JASP version: 0.14.1.0

* OS name and version: Windows 10 Home 2019
* Analysis: Mediation Analysis using Ordinal Mediator
* Bug description:

Error in bars[[node]] <- pnorm(GroupThresh$est[GroupThresh$lhs = GroupVars$name[node]]): attempt to select more than one element in integerOne

[2021-03-08 08:01] PSK11556 commented on #1186
Hello Don

Thank you for the message. I am adding a word document with screen
shots and images. I have added notes as well.

Thank you for the feedback on the regression.

Professor/ Moprofessor Stefan Kruger
Researcher in Positive Psychology /  Mmatlisisi wa mo Saekholoji e e
Posetifi
North-West University /Yunibesiti ya Bokone-Bophirima
WorkWell Research Unit / Yunitipatlisiso ya WorkWell
Facult

[2021-03-08 09:09] vandenman commented on #1194
@Kucharssim do you have time to look into this?

[2021-03-08 09:13] vandenman commented on #1186
Hi @PSK11556,

Unfortunately, GitHub doesn't add attachments that are not included using the web interface. Could you add these directly at https://github.com/jasp-stats/jasp-issues/issues/1186? Most likely you'll need to make a zip file of the word document as well. Alternatively, you can directly email me the attachment at <d.vandenbergh at jasp-stats.org>.

[2021-03-08 10:07] PSK11556 commented on #1186
Thank You Don
Thank you for replying. I did send you an e-mail instead.
Regards

Stefan

[2021-03-08 10:14] vandenman commented on #1186
I received your email, I'll get back to you in a bit!

[2021-03-08 11:22] OehiAlm commented on #1193
I sent them to your Email adress

[2021-03-08 16:34] emmaraat opened #1195 "Two-way Repeated Measures ANOVA: more than 3 levels (with missing data)"
* JASP version: 0.14.1, built on 16th of December 2020
* OS name and version: Windows 10
* Analysis: Bayesian Repeated Measures ANOVA
* Bug description: 'Error while loading data. Please verify your repeated measures observations'
* Expected behaviour: Based on my successful use of the anovaBF() in R, I was expecting this ANOVA to run.
AnovaBF was ran as: models <- anovaBF(formula = D ~ Freq * Ima

[2021-03-09 04:45] obaxlove opened #1196 "I can't load .DAT and .SAV file into jasp"
Hi,

I am newly introduced to JASP and I can't load both .DAT  and .SAV files downloaded directly from DHS programs site.

[2021-03-09 07:13] FD511 opened #1197 "SEM analysis modification indices"
* JASP version:0.14.1
![Schermafbeelding 2021-03-09 om 08 10 39](https://user-images.githubusercontent.com/80311077/110432292-31ea4180-80af-11eb-9338-454de92dd890.jpg)

* OS name and version: 11.2.1 MacOS
* Analysis: SEM analysis modification indices* Bug description:
* Expected [behaviour: see attached file

#### Steps to reproduce:
1. Go to '...'modification indices
2. Click on '....'
3. Scroll

[2021-03-09 15:41] JohnnyDoorn opened #1198 "Update label linear regression histogram"
Remove the "vs" in "residuals vs. histogram" in freq linear regression.

[2021-03-10 12:09] NinjaAle opened #1199 "When running a t-test, p=NaN if variance in one variable is equal to 0"
* JASP version: 0.14.1.0

* OS name and version: Windows 10
* Analysis: student's t-test (one sample, paired samples)
* Bug description: If i run a t-test on my repeated measures i get a p-value of NaN because one baseline was tested all items correct or all items incorrect
* Expected behaviour: I would like to still get a p-value

#### Steps to reproduce:
![jasp_ttest_1](https://user-images.githu

[2021-03-10 15:40] hugoquene opened #1200 "spelling of Scheffé should be with e-acute"
* JASP version: 0.14.1 (16 Dec 2020)

* OS name and version: Mac OSX 10.14.16
* Analysis:
* Bug description: Correction option Scheffe, currently written incorrectly without accent on 2nd syllable, will be mispronounced by students
* Expected behaviour: Method spelled as Scheffé, see e.g. https://en.wikipedia.org/wiki/Henry_Scheff%C3%A9

#### Steps to reproduce:
1. Anova > Classical: ANOVA > Post

[2021-03-10 16:40] hugoquene opened #1201 "t test for independent samples: use grouping factor with >2 levels"
* Enhancement: allow independent variable with >2 groups in t-test for independent samples, while requiring the user to define which values of the IV correspond with groups 1 and 2.
* Purpose: No need to filter data by selected values of IV before conducting t-test for independent samples. No need to discard filter afterwards.
* Use-case: Data set R:::hqmisc::talkers, IV is *region*, conduct a t-t

[2021-03-10 21:13] anarfouto opened #1202 "Repeated-measures ANOVA - big design matrix error"
* JASP version: 0,14.1.0

* OS name and version: Windows
* Analysis: Repeated-measures ANOVA
* Bug description: I have a .csv file with 1000 entries (samples) and 14 columns (repeated measures). When I run a 2-way repeated-measures ANOVA analysis I ran into an error: "Some parameters are not estimable, most likely due to empty cells of the design". I checked the file in excel and there aren't empt

[2021-03-11 08:04] vandenman commented on #1201
I can come up with quite a few ways to do this:

1. Create a computed column. That way there is no need to delete the filter afterward.
![image](https://user-images.githubusercontent.com/21319932/110754284-ec14b100-8247-11eb-96bb-d75fac23d7d1.png)

2. Directly filter the levels of `region`.
![image](https://user-images.githubusercontent.com/21319932/110754354-064e8f00-8248-11eb-902e-074230b7f677.p

[2021-03-11 09:54] kovac254 opened #1203 "Unable to open data in editor under macOS -> add recognition for missing default editor (*.sav original datafile for example)"
* JASP version: 0.14.1

* OS name and version: macOS Big Sur 11.2.2
* Hardware: MacBook with Intel x86 CPU
* Bug description: When I try to open the data in a spreadsheet editor by doubleclicking it I get a message saying "No default spreadsheet editor for file _filename-without-filetype-suffix_.Use Preferences to set the right editor." I have tried setting the OS default editor for *.csv files to

[2021-03-11 10:12] hugoquene commented on #1201
Beste Don,

Thanks for your response! Indeed there are other ways to achieve this, and your method #1 was indeed already suggested to me.
I think I'll take back that suggestion to our teaching team (this is for an intro Meth & Stats course) to include such a step into our students' assignment.
Thanks again and best wishes, Hugo

--
Prof.dr. Hugo Quené | hoogleraar Kwantitatieve Methoden |
Dept Tal

[2021-03-11 10:26] vandenman commented on #1201
Sure! It is high on our agenda to make these kinds of data manipulations easier and more accessible (e.g., without having to enter R-code), so hopefully in the future, this becomes an acceptable solution.

I'll close this issue now, but if there is anything else, feel free to re-open or open another issue!

[2021-03-11 10:26] #1201 closed

[2021-03-11 11:43] boutinb commented on #1196
Hi @obaxlove, what do you mean by the DHS site: do you use JASP from a web site? That would mean that this site use the Rollapp version (https://www.rollapp.com/launch/jasp). For this version you have either to pay to use local files from your computer, or you have to use the OSF feature (Menu Open/OSF).

[2021-03-11 13:09] JorisGoosen commented on #1203
Is it possible that the name you choose for your file does not have a file extension?

Because the error you posted here says `filename-without-filetype-suffix`, you seem to be expecting `csv`.
So I would suggest you give it that extension and see if it works then.

It then depends on how you made the file, I would expect JASP to add this extension but it seems to go wrong for you. I can look into

[2021-03-11 13:10] JorisGoosen commented on #1196
@boutinb I think he means he downloaded some files from somewhere and he can't open them in JASP.

@obaxlove which OS do you use?
Can you share the files in question?

[2021-03-11 13:11] obaxlove commented on #1196
I have been able to use the file.

Best regards,

Obasanjo A. Bolarinwa

________________________________
From: Joris Goosen ***@***.***>
Sent: Thursday, March 11, 2021 2:10:41 PM
To: jasp-stats/jasp-issues ***@***.***>
Cc: Obasanjo Afolabi Bolarinwa ***@***.***>; Mention ***@***.***>
Subject: Re: [jasp-stats/jasp-issues] I can't load .DAT and .SAV file into jasp (#1196)

@boutinb<https://github.c

[2021-03-11 13:14] #1196 closed

[2021-03-11 13:26] kovac254 commented on #1203
Sorry for confusion. I'm working with a `*.jasp` file that was created by opening a `*.sav` file and saving it as `*.jasp`. All of these steps were performed on my machine with the same install of JASP.

I have mentioned the `filename-without-filetype-suffix` because the suffix is missing in the error message. It made me wonder whether there is an issue with JASP not providing a suffix for what I

[2021-03-11 14:56] JorisGoosen commented on #1203
Well, it depends on the jasp-file and how you made it.

In your case you opened a `*.sav` file with JASP which it remembered.
So now when you double-click the jasp-file it will try to open the `*.sav` file with your default editor for that.
And apparently you do not have one installed and hence you get this error.

It isn't a very clear message I'll grant you that. And it should really notice this

[2021-03-11 15:59] kovac254 commented on #1203
I can confirm this helped! Improving the error message/switching it for the dialog that shows up when the file is moved/renamed would be great but at least a workaround will pop-up now when you google the error message. Feel free to close the issue if you consider it closed as well.

[2021-03-11 18:58] JorisGoosen commented on #1203
You are welcome!

I'll just use this issue to remind me to make that clearer/better.

[2021-03-12 09:45] JohnnyDoorn commented on #1202
Hi @anarfouto ,

Thanks for your report. Could you send this data set (or even better, a saved jasp file that includes the your error) by email to j.b.vandoorn at uva.nl? Because I just made a mock data set according to your specifications, but cannot replicate your issue (the computation is very slow though, but this is a byproduct of the R function "lm" unfortunately).

Kind regards,
Johnny

[2021-03-12 10:18] JohnnyDoorn commented on #1195
Hi @emmaraat ,

Thanks for your report. I can replicate your error message, but I think your data are not suitable for a RM ANOVA. If I try to conduct this analysis in BayesFactor, by first converting your data set to long format (see code below), I get a similar error message:
[code]
Perhaps I made a mistake somewhere, and I did not convert it to the long format correctly.
Could you share the lon

[2021-03-12 10:28] #1200 closed

[2021-03-12 11:47] anarfouto commented on #1202
Hi @JohnnyDoorn,

I already sent the dataset as you requested. Thank you for helping me! :)

Cheers,
Ana

[2021-03-12 12:10] JohnnyDoorn commented on #1202
Hi @anarfouto,

Where did you send the data set, because I cannot find it (if you sent it to the general JASP email address, could you also send it to the mail address I gave above?

Cheers
Johnny

[2021-03-12 12:44] anarfouto commented on #1202
Hi @JohnnyDoorn,

Firstly, I sent it yesterday to the general JASP email address. Then, I forwarded it to you. Is this the correct email: j.b.vandoorn@uva.nl ?

[2021-03-12 13:41] JohnnyDoorn commented on #1202
Hi @anafouto,

Yes, I got it now!

On Fri, 12 Mar 2021 at 13:44, anarfouto ***@***.***> wrote:

[2021-03-12 16:18] boutinb commented on #462
Sorry for the late answer, but your comment doed not appear in GitHub. It's always better to answer directly with the GitHub site.
This problem is solved in the next release. Hopefully 0.16 will be released over 1 or 2 months.
Kind regards,
Bruno

________________________________
Van: Pavel Novoa ***@***.***>
Verzonden: vrijdag 5 maart 2021 12:14
Aan: jasp-stats/jasp-issues ***@***.***>
CC: Subscr

[2021-03-12 21:39] pymmis opened #1204 ""BetaA > 0 is not TRUE" Bayesian correlation BF infinite"
* JASP version: 0.14.1

* OS name and version:Windows 64
* Analysis:

[14001 incl Zeros vs EPI.zip](https://github.com/jasp-stats/jasp-issues/files/6133092/14001.incl.Zeros.vs.EPI.zip)

* Bug description: Message: "BetaA > 0 is not TRUE", similar to reported here: https://forum.cogsci.nl/discussion/6906/bayesian-correlation-betaa-note
* Expected behaviour: No error and reporting of Bayes factor

#

[2021-03-13 13:04] keunes commented on #1189
I don't know actually, that might be it. Somehow I thought JASP converted the file to CSV or its own format in the background.

Either way, if the set editor can't open it, I'd expect an error rather than current behaviour.

[2021-03-14 12:45] djdekker opened #1205 "Density curve exceeds plot boundary"
* JASP version: 0.14.1
* OS name and version: macOS Big Sur 11.2.3
* Analysis: Descriptives
* Bug description: The density curve exceeds the boundary of the plot area.
* Expected behaviour: The density curve is being displayed within the boundaries of the plot area.

Steps to reproduce the behaviour:
1. Open test.jasp.
          [test.jasp.zip](https://github.com/jasp-stats/jasp-issues/files/61366

[2021-03-14 18:51] mservantufc opened #1206 "Interaction effect missing in Kruskal-Wallis test"
Using JASP version 0.14.1 on windows 10, and running a Kruskal-Wallis test with 2 factors, JASP only returns the p-value for each main effect, but the p-value for the interaction is missing. See .jasp file attached.
Best,
Mathieu
[full_data_Eysenck_JASP.zip](https://github.com/jasp-stats/jasp-issues/files/6137354/full_data_Eysenck_JASP.zip)

[2021-03-15 10:32] boutinb commented on #1189
Hi @keunes, JASP loads the data from a file (here the sav file), and synchronizes its data each time this file is changed. So it does not make a new file.
As sav file can be edited only by SPSS, that's why when you double-click the data panel to edit the data, JASP assuming that the default application associated with the sav file is SPSS, starts this default application. In your case, it opens JA

[2021-03-15 11:13] emmaraat commented on #1195
Hi Johnny,
Thank you for having a look.
I was not aware of the reshape trick, so I manually reshaped my data into long format in excel, which means I did not have the missing data in there explicitly.
So I have the rows ID, freq, imType, and D, but only filled in the combinations for which D has been measured.
In this format, the data does allow the anovaBF to work - but maybe I am not supposed to

[2021-03-15 15:33] npwolff opened #1207 "Cohen's d calculation in One Sample t-test is miscalculated"
* JASP version: 014.1

* OS name and version: Windows 10 Enterprise 1803
* Analysis: One Sample t-test
* Bug description: In the results section, Cohen's d calculation on One Sample t-test is miscalculated
* Expected behaviour:

Cohen's d is calculated by taking the difference from the sample mean and population mean and dividing that value by the standard deviation of the sample.  The current cod

[2021-03-15 15:44] koenderks commented on #1139
Hi @boutinb,

This seems to be an issue with saving the JASP files. If I save a .jasp file from the sampling workflow for example and then load it back in, some of the options return to their original unchecked state instead of the saved state. Especially the sampling objectives (first option), which disables the user from using the analysis afterwards.

[2021-03-15 17:23] boutinb commented on #1139
I think I know. In QML you wrote:
[code]
That means that as the VariablesList gets a value when loading the file, its count is changed and it clicks on the binomial RadioButton. Also the 'Monetary unit sampling' and the 'Correct / Incorrect' Radio Buttons are checked. I don't understand what the purpose is of this JavaScript.

[2021-03-15 17:29] koenderks commented on #1139
The purpose of this code is to make sure that when you enter monetary amounts into the analysis at the start, you plan a sample size for a monetary unit sample (poisson) and not one for record sampling in which you have no monetary amounts (binomial). In these cases it is also preferred if you continue to select and evaluate using the monetary amount techniques and that is why the 'Monetary unit s

[2021-03-16 11:09] OehiAlm commented on #1193
[JASP Data.zip](https://github.com/jasp-stats/jasp-issues/files/6148386/JASP.Data.zip)

[2021-03-16 11:59] JohnnyDoorn commented on #1195
Hi Emmaraat,

I see now, the reshaping exposes a lot of missing data. I am not sure what the BayesFactor package does here, but a RM ANOVA would be singular or not estimable in this case.  For example, if I use the afex package to just run a frequentist RM ANOVA, I get a similar error about missingness:
[code]

[2021-03-16 12:03] boutinb commented on #1139
Maybe these options could be set per default.
Another solution is to use the `initialized` property: the `count` property changes when the data from the JASP file is loaded, but the control itself is then not completely initialized.
[code]
I have tested this, and this works. This code means also that if you remove the column from the monetaryVariable, then count is changed to 0, and the poisson Ra

[2021-03-16 13:35] koenderks commented on #1139
This is actually not preferred because without a variable in the list (default) the `binomial` option is the correct one.

I will also try this, but the desired behavior is that when you remove a column from the monetaryVariable, the `binomial` radiobutton should be clicked.

I think I mentioned this several times before, but when you do it like this R actually does not register the click on that

[2021-03-16 16:28] marcmehu opened #1208 "Error in JASP Data Library"
Good afternoon,

As I was preparing a stats course using JASP, I realised that some of the data files in the OSF data library have errors (in chapter 5. Frequencies).

- Emily Rosa.csv
- Hungry Zombies/Hungry Zombies.csv
- Sun Block Lotions.csv
- Zombies.csv

Let me take this opportunity to thank you for your team’s work on this excellent platform.

Best wishes,

Marc

[2021-03-16 18:03] ecordonP opened #1209 "Results of the Shapiro-Wilk test form multivariate normality.. Are they wrong?"
I have doubts that the results offered by the  Shapiro-Wilk test form multivariate normality test are correct.  I have applied the test to a data set and I obtain Shapiro-Wilk = 0.981 and p = 0.743, which is indicative that the data is distributed according to a multivariate normal.  Using R and the mvShapiro.test package (https://cran.r-project.org/web/packages/mvShapiroTest/mvShapiroTest.pdf), f

[2021-03-16 19:16] EJWagenmakers commented on #1208
Hi Marc,

Thanks for the feedback. What OSF directory are you referring to, and what specifically are the errors?

Cheers,
E.J.

[2021-03-16 19:32] djdekker opened #1210 "JASP vs. SPSS: slightly different result in Hedges' g"
* JASP version: 0.14.1
* OS name and version: macOS Big Sur 11.2.3
* Analysis: Independent Samples T-Test
* Bug description: for Hedges' g, JASP 0.14.1 and SPSS 27.0.1 calculate a slightly different 95% CI
* Expected behaviour: JASP and SPSS calculate the same values for the 95% CI of Hedges' g

Steps to reproduce:

1. Open the attached dataset.
          [wiscijfers.jasp.zip](https://github.com/j

[2021-03-16 20:00] djdekker opened #1211 "Request: show different effect size measures simultaneously"
* Enhancement: in the T-Tests module, the possibility to show different effect size measures simultaneously: Cohen's d, Glass' delta, and Hedges' g. Currently, the user can select only one measure at the time. There are cases in which the user would like to see, for example, Cohen's d and Hedges' g together.

<img width="618" alt="measures" src="https://user-images.githubusercontent.com/5346286/11

[2021-03-16 20:54] marcmehu commented on #1208
Hello E.J.,

Thanks for your prompt response, the link is: https://osf.io/ncekh/  (The JASP Data Library)
The directory name is <5. Frequencies>. There appears to be a column split at the letters "t" or "u", depending on the file, though it turns out that the issue is only in the preview of the file on the OSF website. The files open fine in JASP.

For example, the file Emily Rosa.csv looks like t

[2021-03-17 06:59] EJWagenmakers commented on #1209
Thanks for reporting this. @JTPetter : was this analysis part of your validation project? Team: should we add these analyses?

[2021-03-17 08:48] vandenman commented on #1209
@ecordonP Thanks for reporting this, this is indeed a bit tricky.

I'm assuming this is about the assumption check within MANOVA, but please correct me if I'm wrong.

In JASP we use the R package [`mvnormtest`](https://cran.r-project.org/web/packages/mvnormtest/index.html). If I apply `mvnormtest` to some sample data and compare the results to `mvShapiro.test`, I get different results:

[code]

Th

[2021-03-17 08:53] vandenman commented on #1207
Thanks for reporting this!

The effect size in JASP 0.14.1 is indeed not accounting for the test value. This behavior will be reverted in the next release (see https://github.com/jasp-stats/jaspTTests/issues/36).

[2021-03-17 08:53] #1207 closed

[2021-03-17 09:06] boutinb commented on #1208
@EJWagenmakers or @Kucharssim Do you have write access to this OSF repo? Then could update the files, if not can you give the permission?

[2021-03-17 09:11] boutinb commented on #1210
@JTPetter Is this analysis in the validation project?

[2021-03-17 10:13] boutinb commented on #1193
Hi @OehiAlm I could indeed reproduce the crash. I have to understand exactly why it crashes, but the first thing I see is that the new data file (with which JASP tries to synchronize) misses 18 variables compared with the old data file, and that many of these missing variables are used in the analyses. So I wonder if this is really the goal to synchronize JASP with such a file?

[2021-03-17 10:30] Kucharssim commented on #1208
@EJWagenmakers is administrator, so he can make @boutinb a contributor to the OSF project.

I just updated Emily Rosa.csv (https://osf.io/z8ufx/), but it still has this problem on OSF (the file is correct though). I think this might be a problem of OSF and not us?

[2021-03-17 10:31] EJWagenmakers commented on #1208
Exactly, I think it is an OSF issue. @marcmehu: thanks for pointing this out. Note that JASP comes packaged with all these data sets (they are available in the JASP Data Library under "Open"). So there is no need to get the files from the OSF.

[2021-03-17 10:36] Kucharssim commented on #1208
Well actually, GitHub also complains about this (https://github.com/jasp-stats/jasp-desktop/blob/development/Resources/Data%20Sets/Data%20Library/5.%20Frequencies/Emily%20Rosa.csv):

![Screenshot 2021-03-17 at 11 33 13](https://user-images.githubusercontent.com/7093546/111454210-b32b7f00-8714-11eb-81cc-2c1834a7fdc2.png)

The issue appears for data sets with one column - in that case, OSF and GitHu

[2021-03-17 10:42] marcmehu commented on #1208
Thanks a lot for looking into this issue! And I will use the data files integrated in the JASP package, it is more straightforward, and so will it be for students (it also teaches me that I need to further explore JASP as there has been more work in it than I know of). From my perspective, the issue is resolved, and I am glad you found the problem and a solution.
Have a nice day!
Marc