[2019-08-30 10:57] #465 closed

[2019-08-30 11:08] TimKDJ commented on #463
Unfortunately we won't be able to do much without the data file.
Would you be okay with sending it to us via email (t.dejong3 [at] uva.nl)

[2019-08-30 12:00] cbflynn1970 commented on #465
Thank you.

[2019-09-01 11:41] divanosport opened #466 "JASP freezes upon pressing "Browse" button."
I am using Voidlinux, tested with kernels both 4.19 and 5.2. I installed jasp 0.10.2 with flatpak and also built it from source.

The problem is the same regardless of which of the two I use. When I want to open a file, and I use the 'Browse' button, JASP freezes and can't be interacted with anymore. I can only kill it manually.

Opening files from the Data Library works. OSF wasn't tested. Toggli

[2019-09-01 14:39] mservantufc opened #467 "Custom contrasts 2.0"
Hello,
I just had a look at the new JASP releases. Unless I missed something, custom contrasts still cannot be computed. So I am reopening old discussions on this forum (https://github.com/jasp-stats/jasp-issues/issues/288) and (https://github.com/jasp-stats/jasp-issues/issues/334) and wonder if you guys planned to implement this in the next couple of months.

Thanks for the awesome work,
Mathieu

[2019-09-01 17:45] amsa1234 opened #468 "Specific Eigenvalues and Proportion of Variance Explained in PCA"
Is it possible to include the following two pieces of (closely interrelated) information when displaying the results of PCAs? I think both of these are standard in reporting PCA results.

1) The specific eigenvalues: Right now, these have to be estimated by only looking at the scree plot. This can be particularly confusing when factors nominally clear the eigenvalue = 1 threshold (e.g., eigenvalue

[2019-09-02 12:07] Bevers1 opened #469 "Filter not working properly."
* JASP version: 0.10.2
* OS name and version: Windows 10 Enterprise, 1709, 16299.1331
* Analysis: Descriptive statistics
* Bug description: Click Filter not working properly for categorical variable. When "happy" is selected with a tick, the data itself is not selected - see screenshot. There are other variations  as well e.g. when I deselect "anxious" and "calm", only "anxious" is deselected on t

[2019-09-02 12:58] Bevers1 commented on #469
Update: If I delete every single variable apart from "ODT" and "condition" then it appears to work properly. So perhaps it is something to do with another variable in the dataset affecting it?

(Note: this is a random dataset I got off the OSF so I'm not sure what most of the variables mean)

[2019-09-03 06:50] meirsendik opened #470 "Plot labels in Hebrew"
Thank you for adding Hebrew support in your software. However, when I put the variables in Hebrew, it appears  in the plots in the wrong direction – from left to right instead of right to left. Can you please try to solve this?

[2019-09-03 08:51] Mosen111 opened #471 "eta squared and partial eta squared are identical in an ANOVA with 2 main effects and one interaction effect"
* JASP version: 2019 newest
* Analysis: ANOVA
* Bug description: eta squared and partial eta squared are the same in an ANOVA with 2 main effects and one interaction effect. they should be different. I tried with 3 other sets of variables. the same results.
* Screenshot:
![image](https://user-images.githubusercontent.com/54839119/64158019-bd5b9480-ce72-11e9-86ec-fbb686f53bff.png)

[2019-09-03 09:17] shubhamsharma1609 opened #472 "JASP not installing on Ubuntu 16.04 LTS"
I followed the instructions to install jasp through flatpak i.e.
`flatpak install http://static.jasp-stats.org/flatpak/JASP.flatpakref`

and when I run `flatpak run org.jaspstats.JASP`, I am getting the following error

`Gtk-Message: 14:24:52.006: Failed to load module "unity-gtk-module"
Gtk-Message: 14:24:52.680: Failed to load module "canberra-gtk-module"
Gtk-Message: 14:24:52.680: Failed to loa

[2019-09-03 11:57] JorisGoosen commented on #472
Could you try to install `org.flatpak.qtdemo` like so: `flatpak install flathub org.flatpak.qtdemo` and see if that runs?

[2019-09-03 11:58] JorisGoosen commented on #470
Hey @vandenman do you know if it is easy(/possible) to flip the plot-labels right-to-left?

[2019-09-03 13:01] vandenman commented on #470
Flipping the labels is straightforward, but I'm not sure how to detect when they need to be flipped.

[2019-09-03 13:07] JorisGoosen commented on #470
We could use the output of `https://doc.qt.io/qt-5/qguiapplication.html#layoutDirection-prop` and pass it on to R on startup.

[2019-09-03 13:42] meirsendik commented on #470
Sorry about my ENGLISH:
In the tables it's OK because it's right to left. but in the plots it's left to right. Hebrew is always right to left. You can see the pictures. If I will flip the lables straightforward the plots will be OK but the tables not.
![image](https://user-images.githubusercontent.com/29006060/64178075-6f8e5e80-ce69-11e9-9913-597a604e4ca9.png)

![image](https://user-images.githubu

[2019-09-03 13:51] JorisGoosen commented on #470
Hey @meirsendik,

Don't worry about your english!
We understand the problem and we'll try to fix it.

[2019-09-03 13:54] meirsendik commented on #470
thank you!
i will be glad if you notice me when the problem is fixed.
in Hebrew we say: TODA RABA!

[2019-09-03 13:59] JorisGoosen commented on #470
לא תודה

[2019-09-03 15:02] shubhamsharma1609 commented on #472
I tried `flatpak install flathub org.flatpak.qtdemo`  and  it shows installation complete. After that when I execute `flatpak run org.jaspstats.JASP`. I get the following error

`Gtk-Message: 20:31:04.774: Failed to load module "unity-gtk-module"
Gtk-Message: 20:31:04.800: Failed to load module "canberra-gtk-module"
Gtk-Message: 20:31:04.800: Failed to load module "canberra-gtk-module"
QIBusPlatfo

[2019-09-03 15:18] JorisGoosen commented on #472
Ok, but could you try running the qtdemo as: `flatpak run org.flatpak.qtdemo` and see if that works?

[2019-09-03 15:20] JorisGoosen commented on #466
So you built JASP from source and there the browse button freezes JASP?

[2019-09-03 15:22] shubhamsharma1609 commented on #472
I tried and got this
`Gtk-Message: 20:49:32.557: Failed to load module "unity-gtk-module"
Gtk-Message: 20:49:32.598: Failed to load module "canberra-gtk-module"
Gtk-Message: 20:49:32.598: Failed to load module "canberra-gtk-module"
QIBusPlatformInputContext: invalid portal bus.
Qt: Session management error: Could not open network socket
QObject: Cannot create children for a parent that is in a dif

[2019-09-03 15:23] shubhamsharma1609 commented on #472
Kindly help what should be done as I do not have any knowledge of flatpack and how can I run jasp ?

[2019-09-03 15:30] JohnnyDoorn commented on #404
This is now in the RM ANOVA development - the next release will have the option to unpool the error term.

Kind regards,
Johnny

[2019-09-03 15:30] #404 closed

[2019-09-03 15:34] JorisGoosen commented on #472
@shubhamsharma1609 I'm trying to help you, but I am also trying to figure out what went wrong.

You could try `flatpak run org.jaspstats.JASP --safeGraphics`, maybe that helps.

Besides that, I see that your ubuntu is kind of old. So maybe you are also using an old version of Ubuntu. Could you do the following:
[code]

[2019-09-03 15:45] shubhamsharma1609 commented on #472
Still crashing,did exactly what you have specified. Getting the following error :
`Gtk-Message: 21:14:16.594: Failed to load module "unity-gtk-module"
Gtk-Message: 21:14:16.625: Failed to load module "canberra-gtk-module"
Gtk-Message: 21:14:16.625: Failed to load module "canberra-gtk-module"
QIBusPlatformInputContext: invalid portal bus.
QGLXContext: Failed to create dummy context
qrc:/components/

[2019-09-03 15:45] shubhamsharma1609 commented on #472
Tried with and without safe graphics but still getting the same error.

[2019-09-03 15:47] JorisGoosen commented on #472
can you run `glxgears` from the `mesa-utils` package?

It seems something is wrong with your OpenGL.

[2019-09-03 15:53] shubhamsharma1609 commented on #472
It is running perfectly.
Running synchronized to the vertical refresh.  The framerate should be
approximately the same as the monitor refresh rate.
36797 frames in 5.0 seconds = 7359.310 FPS
38623 frames in 5.0 seconds = 7724.489 FPS
38429 frames in 5.0 seconds = 7684.793 FPS
38444 frames in 5.0 seconds = 7688.573 FPS
38964 frames in 5.0 seconds = 7792.683 FPS
39060 frames in 5.0 seconds = 7811.87

[2019-09-03 15:55] JorisGoosen commented on #472
So which version of flatpak are you running now?

And, if that is `1.4.2` could you run `flatpak update`?

[2019-09-03 15:56] JorisGoosen commented on #472
And could you post the output of `flatpak --gl-drivers`?

[2019-09-03 15:57] shubhamsharma1609 commented on #472
nvidia-384-130
default
host

[2019-09-03 15:59] JorisGoosen commented on #472
And do you also have an intel videocard perhaps?

[2019-09-03 16:01] shubhamsharma1609 commented on #472
Yes.Intel HD graphics 620,in addition with nvidia one.

[2019-09-03 16:07] JorisGoosen commented on #472
So how do you switch between intel/nvidia for your software?
I use bumblebee for instance. Could you try running JASP with Nvidia?

[2019-09-03 17:33] shubhamsharma1609 commented on #472
Switched between both using `sudo prime-select nvidia`.But nothing happening.

[2019-09-03 18:46] Filiol opened #473 "JASP freezes when clicking on 'computer files/browse'"
JASP version: 0.10.2
* OS name and version: Chrome OS 76.0.3809.136
Bug description: Jasp freezes when I go to open -- computer -- browse/documents/desktop. I have to manually shut down the program and due to that I can't import any data files or use JASP.

[2019-09-04 09:08] JorisGoosen commented on #472
Hmm, I think I might have to change some things in the way the flatpak is set up. There might be a permission missing.

It is a bit strange though that this doesn't always cause problems. For instance, on my own laptop with nvidia + intel there is no problem running on either GPU..

[2019-09-04 20:31] jenlissemore commented on #126
I came here to ask this same question.

An example of where it would be useful to set a seed: After performing a Bayesian Repeated Measures ANOVA, I want to check the robustness of the results to different prior distributions, by manually specifying several different prior distributions. Each time I do this, however, a different seed is set. Therefore, if I start with r=0.5 for fixed effects, then

[2019-09-05 03:12] Mosen111 commented on #471
update: I tried with 2 other data sets and it worked well.

[2019-09-05 05:24] divanosport commented on #466
I built it from source and also tested the flatpak version. Both the built and flatpak versions freeze after pressing the Browse button or one the 'recent folders'.

[2019-09-05 08:06] AlexanderLyNL commented on #471
Seems like a state error.

[2019-09-05 08:47] juhy-git commented on #444
Hi,
same behavior as described by @diogenesbido for me and a few other people (from about 25 people in a course). JASP stops when clicking on "Descriptive statistics", "Mediation analysis" and "CFA". It happens always, data doesn't seem to matter.

Windows 10 Pro
Intel (R) Core(TM) i5-8250U CPU @ 1.60GHz 1.80 GHz
RAM 8.0 GB
64 bits

[2019-09-05 09:34] JorisGoosen opened #474 "JASP freezes on some analyses on Windows"
Issue as reported by @diogenesbido in https://github.com/jasp-stats/jasp-issues/issues/444#issuecomment-522510272

And by @juhy-git as:
same behavior as described by @diogenesbido for me and a few other people (from about 25 people in a course). JASP stops when clicking on "Descriptive statistics", "Mediation analysis" and "CFA". It happens always, data doesn't seem to matter.

EDIT:
It seems ther

[2019-09-05 09:35] JorisGoosen commented on #474
Hey @diogenesebido and @juhy-git, could you try out if the same problem occurs with the newest development version from: http://static.jasp-stats.org/Nightlies/ ?

[2019-09-05 09:36] JorisGoosen commented on #474
And when you've run it could you add the logfiles here?

[2019-09-05 09:54] juhy-git commented on #474
Hi @JorisGoosen, yes, the problem still occurs in the newest development version.
[JASP 2019-09-05 11_47_07 Desktop.log](https://github.com/jasp-stats/jasp-issues/files/3578615/JASP.2019-09-05.11_47_07.Desktop.log)

[2019-09-05 09:58] #469 closed

[2019-09-05 09:58] JorisGoosen commented on #474
@juhy-git thanks for testing!

Could you also add the 4 logfiles of the engines?

[2019-09-05 10:01] JorisGoosen commented on #474
Aah and I see an interesting errormessage in the logfile about the data you use. Maybe you could also send me that datafile?

[2019-09-05 10:08] juhy-git commented on #474
I have only the one logfile in the "Logs" folder. Are the 4 logfiles of the engines somewhere else?

Data is here:
[D4_CFA_data_2f.zip](https://github.com/jasp-stats/jasp-issues/files/3578682/D4_CFA_data_2f.zip)

[2019-09-05 10:19] JohnnyDoorn commented on #471
Hi Mosen111,

If you want, you can send me your data set and I can try to verify the result with my current version (which has rewritten ANOVA code), to see if this has been fixed (or if it was erroneous to begin with).
You can send it by email to j.b.vandoorn <at> uva.nl

Kind regards
Johnny

[2019-09-05 10:22] JorisGoosen commented on #469
So there are two issues here one was that strings that contain a columnname were encoded..
And @Bevers1 had columns in the dataset with the name being the same as the labels in "condition". This is solved by the PR.

Then there also seems to be something wrong with the selection of labels to filter. This will be fixed in version 0.12.

[2019-09-05 10:25] JorisGoosen commented on #474
Hmm, those logfiles ought to be next to the desktop log. Maybe the engines aren't starting properly on your system... That would explain why your analyses don't run.

Could you check if the engine's actually start? As in, when you start JASP and you check the running processes, do you see `JASP.exe`/`jasp` running and 4 instances of `JASPEngine`?

[2019-09-05 10:35] juhy-git commented on #474
Yes, there are 4 instances of JASPEngine in total. But only two of them are in the "Apps" category. The other two are in the "Background processes" category.

[2019-09-05 10:42] JorisGoosen commented on #474
You are running Windows right?
Could you try to run JASP as Admin and see if the logs show up then?

[2019-09-05 11:24] juhy-git commented on #474
Yes, Windows.

JASP as Admin: Still only the desktop logfile, no logfiles of the engines.

[2019-09-05 13:11] JorisGoosen commented on #474
Thanks for checking these things.

You mentioned three analyses that do not work so I wonder, can you run any analysis at all?

[2019-09-05 13:20] juhy-git commented on #474
Yes, Linear and Logistic Regression, Exploratory Factor Analysis and Structural Equation Modeling run well and no problem there.

[2019-09-05 14:49] jenlissemore commented on #15
I would also like to push this feature. Often ANOVA isn't flexible enough to cover all analyses. As an example, I recently used a linear mixed effects model (lmer in R) because I had a time-varying covariate, which could not be included in a repeated measures ANOVA. JASP would benefit from the inclusion of linear mixed models, ideally with a Bayesian equivalent (lmBF in R).

[2019-09-05 14:52] TimKDJ commented on #448
@gibbona1 can you verify this in your rewrite?

[2019-09-06 08:17] Mosen111 commented on #471
Thanks. I just used a random file for testing and obtained the problematic results (don't know which file I used). When I used 2 data sets which I use to teach anova, the JASP results are correct. If i ever face a similar error in my future ANOVA analyses, I will make sure to send you the data set. cheers

[2019-09-06 18:15] shubhamsharma1609 commented on #472
Please look into the issue and kindly solve. As I am planning to use it for studying statistics course.Kindly address this issue.

[2019-09-07 04:56] infiniteline commented on #176
Agreed. Having the capability to add additional models is needed.

[2019-09-08 14:04] JorisGoosen commented on #472
@shubhamsharma1609 I will change some things for the next release that might help. But that will be released in like 2 weeks. And I cannot promise that it will work.

Something you might try is change some things with your drivers.

Maybe try out bumblebee as opposed to prime?

[2019-09-09 09:33] AlexanderLyNL commented on #366
In JASP 0.10.1

[2019-09-09 09:33] #366 closed

[2019-09-10 08:29] divanosport commented on #466
By the way, the same happens with the "install module" dialog, with the result shown in the attached file. JASP becomes non interactable.

So it is possibly a problem with accessing files? What does JASP do when opening a file dialog?

![2019-09-10-102404_1248x746_scrot](https://user-images.githubusercontent.com/54768119/64597147-bd90ee00-d3a4-11e9-94c6-9b786951ee45.png)

[2019-09-10 09:16] JorisGoosen commented on #466
Well JASP uses the [default filebrowsing dialog that is included with Qt](https://doc.qt.io/qt-5/qfiledialog.html). And it seems that this is broken on your computer for some reason...

Maybe you could try out a tiny Qt project to see if the filedialog works without all the whistles and bells of JASP?

[2019-09-10 09:16] JorisGoosen commented on #466
The code we use to open these dialogs is basically:

[code]

[2019-09-10 09:30] CJAB93 commented on #342
@JohnnyDoorn Any progress/insight? :)

[2019-09-10 09:39] CJAB93 opened #475 "[Feature Request]: Addition of Fishers LSD as ANOVA post-hoc test"
* Enhancement:
I would love it if a Fishers Least Significant Difference test could be added as a post-hoc test after an ANOVA.

* Purpose:
Now, if I use an ANOVA for a large number of different treatments/independent variables (which happens quite often in Biology), the quite conservative correction by Tukey etc makes it impossible to distinguish any trends: everything will be insignificant due t

[2019-09-10 11:53] JohnnyDoorn commented on #342
Hi @CJAB93,

Thanks for the reminder! I just finished rewriting the R-code of the ANOVA analyses, and your suggestion was on my list for things to add. However, when implementing it, I noticed that the whole grouping method is based solely on the p-value. After discussing it with some team members, we are not sure if we want to implement this method, as it can very quickly get misleading.
I would

[2019-09-10 12:12] sblnin opened #476 "Jasp 0.10.2 doesn't display results"
On my desktop (macOS Majave 10.14.6), JASP 0.9.2. works fine. When I try to install JASP 0.10.2, when I first start JASP, it always crashes without any error messages. If I start it once more, it opens, but now the results window on the right always stays empty
whatever analysis I setup. The same jasp file, opened in 0.9 works just fine.
Mysteriously, on my laptop runing the same OS, 0.10.2 works

[2019-09-10 12:14] JorisGoosen commented on #473
That is a shame but also a duplicate of https://github.com/jasp-stats/jasp-issues/issues/466

[2019-09-10 12:14] #473 closed

[2019-09-10 12:20] JorisGoosen commented on #444
@NoelleScience03 I understood from @koenderks that you do not actually have these engine logfiles...

Would it be possible for you to come by with your computer to me? Because it is really hard for me to figure out what goes wrong without access to a computer that has this problem. None of the Windows systems I have have this problem..

[2019-09-10 12:24] JorisGoosen commented on #476
Hey @sblnin we changed the interface of JASP when we switched to 0.10.

There seems to be a problem on some Macs (#390) where the results do not show. I do not know what causes this. But I've added a solution in JASP: software rendering.

You can enable it by going to `Preferences -> Advanced -> Safe Graphics` and then restart JASP. I think the results should show up now.

[2019-09-10 12:24] #476 closed

[2019-09-10 12:25] JorisGoosen commented on #472
Or maybe try Ubuntu 18.04?

[2019-09-10 12:28] sblnin commented on #476
Fantastic. This does solve the issue. Thank you so much

[2019-09-10 12:35] boutinb commented on #76
Done

[2019-09-10 12:35] #76 closed

[2019-09-10 12:50] jean-staps opened #477 "No new folder to save jasp result with Debian OS"
Hello,
I work with debian 9 and jasp 0.10.2, i can't save my result in a desired folder. My result (*.jasp) are saved in a "default" folder (for example /run/user/1000/doc/a51846cf/ - see image herewith).
![bug_jasp_debian 9](https://user-images.githubusercontent.com/54662922/64615083-1e86e900-d3da-11e9-835e-167b589af94a.png)

Best regards!
Jean

[2019-09-10 15:42] #179 closed

[2019-09-10 16:50] divanosport commented on #466
Well I use a lot of KDE apps which are developed in QT, and none are giving me this problem, so I wouldn't be too hasty in closing this issue as a personal problem. I also saw a chromeos user with the same problem.

I am not a developer but I can install an IDE and paste and run some code if it helps. Would the code that you pasted be enough?

[2019-09-10 18:27] ataylor92110 opened #478 "Entire analysis output failed to open; error message appeared"
* JASP version: 0.9.2
* OS name and version: Windows 10 Enterprise
* Analysis: Independent Samples t-test
* Bug description: I closed JASP earlier this morning after I performed very many analyses last night. I did save the file as per instructions on  screen. I had performed a large number of independent samples t-tests. In addition, I had copied  and pasted into the "notes" section an large numb

[2019-09-10 20:05] JorisGoosen commented on #466
Well, you built JASP using Qt Creator?

Because tomorrow I can make a little project for you that should compile and can help us figure out where the problem lies. Maybe it is in some interaction between QML and the system file browser.. Kind of hard to guess for me now.

If other KDE apps do work though (and they use this file browser) then that at least shows that Qt should be able to do it on y

[2019-09-10 20:19] LiorAbramson commented on #464
Thank you! (and sorry for the slow response).
I actually reinstalled JASP and now everything works fine, so this is solved.
However, now I have a follow-up question. the BF values of the three-way interaction (on 416 participants)  are fluctuating quite highly when I run the same analysis for several times (BF varies between 2 and 2.7). I know the values are supposed to fluctuate a bit, but - are

[2019-09-10 20:31] EJWagenmakers commented on #464
Dear Lior,

These fluctuations are not wild. The numerical stability of the outcome should also be reflected in the % error column. If you desire more stable results you can go to the Advanced tab and increase the number of samples.

Cheers,
E.J.

[2019-09-11 05:26] divanosport commented on #466
I did, but the problem is the same with the flatpak version. And if I understand correctly, flatpak distributes its own libraries for the most part. However I will gladly compile and test the code that you send me.

[2019-09-11 05:34] shubhamsharma1609 commented on #472
There are some other applications that might not run on ubuntu 18.04, also wifi issues are still there on ubuntu 18.04. Therefore, I am not upgrading yet as far as the most stable Ubuntu version is concerned ubuntu 16.04 serves everything. All drivers are working perfectly in ubuntu 16.04 now.

[2019-09-11 08:04] TimKDJ commented on #478
We're about to release version 0.11 -- we made a huge number of improvements so I would definitely recommend upgrading

When you make changes to the data file that is associated with a .jasp file, then the next time you open that .jasp file JASP will update your dataset and all analyses. We're actually in the process of investigating if this analysis refresh works entirely correct. We noticed that

[2019-09-11 08:15] JorisGoosen commented on #466
Yeah you understood correctly, flatpak uses it's own distribution of Qt (and KDE).

That is why it is interesting (and annoying) that browsing also freezes when you compile it yourself...

[2019-09-11 08:35] yuriamos opened #479 "Post Hoc Error"
When i try to do a post hoc for a significant factor of my ANOVA, Jasp show this error:

**Error in `[<-.data.frame`(`*tmp*`, 't.ratio', value = c(1.13525668517033, : replacement has 3 rows, data has 1

Stack trace
analysis(dataset = dataset, options = options, perform = perform, callback = the.callback, state = oldState)

.resultsPostHoc(referenceGrid, options, dataset, fullModel)

`[<-`(`*tmp*`,

[2019-09-11 08:40] TimKDJ commented on #479
Could you please fill out the template for bug reports:

* JASP version:
* OS name and version:
* Analysis:
* Bug description:
* Add JASP files as a zip:
* Screenshot:
* Expected behaviour:
* Steps to reproduce:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

[2019-09-11 08:43] TimKDJ commented on #460
Could you attach the data (or .jasp file as a .zip) that caused this?

[2019-09-11 08:44] TimKDJ commented on #459
@JohnnyDoorn can you check this out?

[2019-09-11 08:49] yuriamos commented on #479
JASP version: 0.10
OS name and version: macOS Mojave version 10.14.5
Analysis: Repeated Measures ANOVA GORT
Bug description: "This analysis terminated unexpectedly"
Add JASP files as a zip: [DATASET ANOVA.jasp.zip](https://github.com/jasp-stats/jasp-issues/files/3599824/DATASET.ANOVA.jasp.zip)
Screenshot:
![Schermata 2019-09-11 alle 10 44 11](https://user-images.githubusercontent.com/55183444/6468

[2019-09-11 09:13] TimKDJ commented on #479
Thanks! I can reproduce the problem. We're currently performing a rewrite on the ANOVA code and I'll make sure a fix for this is incorporated.

[2019-09-11 09:22] JorisGoosen commented on #472
Well, maybe you could just try it from a live-usb just to see if JASP does actually work then?
No need to install 18.04 on the computer.

[2019-09-11 09:32] JorisGoosen commented on #466
So could you try [FileBrowseTest.zip](https://github.com/jasp-stats/jasp-issues/files/3600015/FileBrowseTest.zip)?

[2019-09-11 09:42] divanosport commented on #466
I compiled it successfully without installing anything new, and all three buttons open a QT file dialog. I recall I didn't have this problem in the 0.9 series. I might downgrade with flatpak to see when the problem started, if it's possible. Or I can build and test earlier versions.

![2019-09-11-113618_1366x768_scrot](https://user-images.githubusercontent.com/54768119/64686312-01a0f300-d478-11e9-

[2019-09-11 10:35] JorisGoosen commented on #466
Well, it is good but dissappointing to know that the problem is somewhere in JASP.

You could try to build https://github.com/jasp-stats/jasp-desktop/commit/ab3d52c8d8398135aa99062ee8ecb86a2b8ec942 (v0.10.0.0) because that is the first version where we switched to the new GUI.

In the meanwhile I will take a look as to what might be interfering with the browsing dialog in JASP on your system...

[2019-09-11 10:49] JorisGoosen commented on #477
@jean-staps could you post the output if you run `flatpak --version` in a terminal?

[2019-09-11 10:50] JorisGoosen commented on #477
And, if you actually check the folder you selected, is the file there?

[2019-09-11 10:50] khanson002 opened #480 "Mediation analysis termination"
* JASP version: 10.2
* OS name and version: MacOS Mojave 10.14.5
* Analysis: Mediation
* Bug description:
Have been using the same data for a number of regressions in JASP with no issues. Mediation analysis attempt: two scaled predictors, two scaled mediators, one scaled outcome, received this message:
This analysis terminated unexpectedly.

Error in rawToChar(as.raw(out)): embedded nul in string:

[2019-09-11 11:13] kevinvschie opened #481 "Move analyses within JASP"
* Enhancement: Move analyses in JASP.
* Purpose: Easily move analyses in JASP
* Use-case: Sometimes you are requested to do an extra analysis (e.g., by a reviewer) or you simply realized you have forgotten to do one. Now, you can perform that analysis, but JASP will add it as the last analysis you have performed. Though this solution is fine, for clarity you usually want to place it near related a

[2019-09-11 11:19] TimKDJ commented on #481
It is actually possible since JASP 0.12. If you long press the analysis then you can move it around.
Are you already on this version, or is this behaviour not intuitive enough?

[2019-09-11 11:24] AlexanderLyNL commented on #480
Could you please add the jasp file as a zip to this thread?

[2019-09-11 11:27] TimKDJ commented on #480
This is a duplicate of #465
A fix for this will \*hopefully\* be available by next week in JASP 0.11

[2019-09-11 11:27] #480 closed

[2019-09-11 11:28] AlexanderLyNL commented on #481
![changeAnalysisOrder](https://user-images.githubusercontent.com/10271675/64693636-f8278300-d497-11e9-91c2-6c692423b0fc.gif)

[2019-09-11 11:28] khanson002 commented on #480
That’s great, thank you!

On 11 Sep 2019, at 12:27, Tim de Jong <notifications@github.com<mailto:notifications@github.com>> wrote:

This is a duplicate of #465<https://github.com/jasp-stats/jasp-issues/issues/465>
A fix for this will *hopefully* be available by next week in JASP 0.11

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://

[2019-09-11 11:29] AlexanderLyNL commented on #480
It would nonetheless be good to try it out with a test case so we can confirm that it's indeed fixed.

[2019-09-11 12:40] jean-staps commented on #477
Hi,
If i run flatpak --version i obtain Flatpak 0.8.9
If i check the folder i selected, the file is not here.
Moreover this morning when i try to open my jasp file i can't because my jasp file disapear (i can't see them from the jasp browse menu and with the debian file explorer)
I run jasp on windows and no problem.
![bug](https://user-images.githubusercontent.com/54662922/64697856-0c707d80-d4a2-

[2019-09-11 13:43] ataylor92110 commented on #478
Thank you for the reply. See my answers to your questions below.

Annette

Annette Kujawski Taylor, Ph.D.
Professor, Retired, Psychological Sciences
University of San Diego
taylor@sandiego.edu

On Wed, Sep 11, 2019 at 1:04 AM Tim de Jong <notifications@github.com>
wrote:

No,  I merely added three cases. Nothing was renamed. Only data for three
additional participants were added.

No, the number w

[2019-09-11 14:01] jean-staps commented on #477
Hi,
Ok problem solved, JASP work well on debian now!
Thanks a lot!

[2019-09-11 14:06] JorisGoosen commented on #477
Great, enjoy using it!

[2019-09-11 14:06] #477 closed

[2019-09-11 14:25] kevinvschie commented on #481
Ah I see. I have version 0.10 (the only one my work allows me to download).
It's great that you can move stuff around in the newer version, but even
there I'd say that it is still not intuitive enough. Usually when you're
able to move stuff around you often see a little icon of three short
horizontal lines placed underneath each other. Perhaps that could be added
to make it even more clear?

On We

[2019-09-11 14:34] TimKDJ commented on #481
Yeah, we thought about changing the cursor, but the problem is that a short click opens the analysis form. Only a long click serves the purpose of dragging. So there are two different types of behaviour we need to convey. We did add a tooltip to make it more clear though.

Hopefully your work will allow you to upgrade to our newer versions; 0.11 is right around the corner :)

[2019-09-11 14:34] #481 closed

[2019-09-11 14:46] kevinvschie commented on #481
Is there anywhere I can see what added features are to the latest (two)
updates? I might be able to convince the admin here if there are
functions in the new JASP versions I might actually need.

On Wed, 11 Sep 2019 at 15:34, Tim de Jong <notifications@github.com> wrote:

[2019-09-11 14:49] TimKDJ commented on #481
https://jasp-stats.org/release-notes/

[2019-09-11 14:52] JorisGoosen commented on #466
Ooh and by the way, if you run JASP and choose browse. What output do you get? (If you run from terminal for instance?)

And which desktop environment do you use? KDE? Gnome? Or some other GTK environment?

[2019-09-11 14:56] JorisGoosen commented on #466
Aah and one more thing to try: If you choose "Browse" and JASP freezes: Does pressing Escape make JASP unfreeze?

[2019-09-11 15:43] TimKDJ commented on #478
JASP can also read .txt files, so it may have been that format all along?
Could you maybe attach the .jasp file that contains the old analyses and the data file that you edited? You can send them to me at t.dejong3 [at] uva.nl

[2019-09-11 16:13] JohnnyDoorn commented on #467
Hi Mathieu,

Yes, we are currently working on developing a gui element that allows custom contrasts!

Cheers
Johnny

[2019-09-11 16:20] mservantufc commented on #467
Hi Johnny,
Thanks for the update. Any idea when this feature will be released ? (I am asking because I need to plan my stat courses and update the software on university computers).
Cheers

[2019-09-11 21:29] AlexanderLyNL commented on #467
When do you teach?

[2019-09-12 06:51] zieglesth opened #482 "Change minimum and maximum of y-axis"
* Enhancement:
* Purpose:
* Use-case:

**Is your feature request related to a problem? Please describe.**
The graphs in JASP are great, much better than in SPSS. However, one cannot change the minimum and maximum of the y-axis. This would be necessary if there are two different graphs and you want to juxtapose them and have the same min and max to make measures comparable.

**Describe the solution

[2019-09-12 07:20] TimKDJ commented on #482
We're actually working on that as we speak (as part of plot editing). It's a big endeavour though, so it may be a couple of months.

[2019-09-12 07:39] mservantufc commented on #467
Classes will start in January 2020. Ideally, I'd need to upgrade university computers a month before.

[2019-09-12 07:42] AlexanderLyNL commented on #467
We'll take that into account in our plans, and try to make this work.

[2019-09-12 07:48] mservantufc commented on #467
Thanks guys, very much appreciated.

[2019-09-12 08:21] Mosen111 opened #483 "mediation analysis: estimator unknown"
* Enhancement: when one uses estimator "auto" in mediation analysis, they expect the estimator used to be reported by JASP, but apparently the estimator remains unknown to the user. This could be added.
Thanks

[2019-09-12 12:07] #479 closed, assigned to JohnnyDoorn

[2019-09-12 14:06] BridgetUT opened #484 "Calculations feature is not working and other issues"
I am having an issue using the compute column feature in JASP. It worked fine yesterday but now it will not seem to realize my math functions. I am doing only simply adding of columns and it is laying them out vertically and not computing, instead giving me an error and asking for the terms, while it won't allow me to drop the column names into the red areas highlighted. . any ideas??

I am not a

[2019-09-13 11:13] divanosport commented on #466
Hello! When I open jasp a lot of warnings are spouted out:

'libGL error: MESA-LOADER: failed to retrieve device information
libGL error: image driver extension not found
libGL error: failed to load driver: radeon
libGL error: failed to open drm device: File o directory non esistente
libGL error: failed to load driver: radeonsi
qrc:/components/JASP/Widgets/ComputeColumnWindow.qml:330:2: QML Dialog

[2019-09-13 11:46] JorisGoosen commented on #466
Hmm, yeah those warnings while buildings are annoying and I hope one day we will get the time to remove them all. But for now I usually just hide them in Qt Creator. It's the errors that give the most valuable information in practice..

What I do see at the top of the log is some stuff about OpenGL not loading properly (radeon and radeonsi). Maybe you could try to install the `xf86-video-amdgpu` d

[2019-09-13 11:49] divanosport commented on #466
It is installed and I don't know why I'm getting those warnings myself. I will see if there is something wrong with my setup and report.

[2019-09-13 11:50] EtzAlex opened #485 "Specification of credible interval probability for Bayesian t-test"
* Enhancement: Give user the option to specify credible intervals with percentages other than .95.
* Purpose: This would give us more flexibility in reporting our results.
* Use-case: In some cases you want to report 90%, or even 80% credible intervals.

**Describe the solution you'd like**

I would prefer a small box in the options window where you input the desired probability. It could have a d

[2019-09-13 12:03] JorisGoosen commented on #466
So that isn't it then. It's kind of weird that the small demo project has no problem opening the filebrowser while it manages to freeze JASP...

I'll have to see what different thing JASP does extra as compared to the FileBrowseTest, maybe the directory it uses or something.

[2019-09-13 12:11] divanosport commented on #466
Yep, I've tried installing Jamovi and Steam's flatpaks and neither give me the gl warnings in the terminal. Indeed it seems that Steam comes packed with its own GL libraries... so maybe JASP should too?

[2019-09-13 12:14] JorisGoosen commented on #466
Yeah, that was actually something I wanted to look at today. flatpak has some special support for OpenGL but apparently it needs to request some special permission to access the driver directly. And the current buildsetup doesn't use this yet.

I will try to see if I can add this and I'll let you know when I've setup a debug-repo for it so that you can test it and see if it makes a difference.

[2019-09-13 14:11] EJWagenmakers opened #486 "Bloated JASP files?"
From the forum:

"Super big fan of your work. Was just curious what bloats JASP files so much.

Example 1: Data file is 27.9 kB, associated JASP file is 47.6 MB (!). There are two 2x3 repeated-measures ANOVAs in there, each with 15 post-hoc tests and 1 graph at 300 dpi.

Example 2: Data file is 173.0 kB, associated JASP file is 917 MB (!!!). This has an embarrassingly big repeated-measures ANOVA i

[2019-09-15 13:18] JorisGoosen commented on #466
@divanosport could you try this version of flatpak: http://static.jasp-stats.org/flatpak/JASP-Test.flatpakref ? It is a test version of the upcoming release.

I'm curious if it works better for you and if the OpenGL errors are gone?

[2019-09-15 13:19] JorisGoosen commented on #472
@shubhamsharma1609 I've made a test-version of the new release and I've changed some options regarding graphics and video cards.

Maybe you could try this: http://static.jasp-stats.org/flatpak/JASP-Test.flatpakref ?

I'm curious if it works better for you and if the OpenGL errors are gone?

[2019-09-15 13:21] JorisGoosen commented on #486
917MB! :o

That is way too much!
I think the initial guess is probably right, maybe a lot of state is stored? @JohnnyDoorn did you notice this while rewriting the analyses?

[2019-09-15 18:49] djdekker opened #487 "Variable jumps out of 'Variables' box after name is changed"
* JASP version: **0.10.2**
* OS name and version: **macOS Mojave 10.14.6**
* Analysis: **Descriptive Statistics** (probably any analysis that has a 'Variables' box)
* Bug description: **When a variable is included in an analysis, it is listed in the 'Variable' box on the interface sheet. After changing the variable name, the variable jumps out of the 'Variables' box. The analysis remains unchanged

[2019-09-16 09:13] boutinb commented on #487
Yes, I have seen already this problem. I will have a look how to solve it.

[2019-09-16 09:36] vicenteinefo opened #488 "Assumption checks section in correlation matrix procedure"
* Enhancement: To add an “Assumptions Check” section to check normality assumptions for the Pearson’s correlation coefficient.
* Purpose: To be sensible respect the other statistics procedures
* Use-case: To check normality assumption in order to implement the appropriate correlation coefficient of the data

<img width="1360" alt="Captura de pantalla 2019-09-16 a las 11 32 37" src="https://user-im

[2019-09-16 09:48] vicenteinefo opened #489 "The sign of the correlation index is not shown in regression procedure"
* JASP version: 0.10.2
* OS name and version: Mac OS Mojave 10.14.6
* Analysis: Linear Regression
* Bug description: the sign of the correlation index is not shown, see red mark in the attached images
* Add JASP files as a zip:
[Correlación y regresión ejercicio 4.jasp.zip](https://github.com/jasp-stats/jasp-issues/files/3615610/Correlacion.y.regresion.ejercicio.4.jasp.zip)

* Screenshot:
<img wid

[2019-09-16 09:53] vicenteinefo opened #490 "Improvement of assumption checks section in ANOVA procedure"
* Enhancement: To add assumption checks of normality of residuals (Shapiro will test)
* Purpose: To have an objective assessment of normality
* Use-case:

**Additional context**

<img width="289" alt="Captura de pantalla 2019-09-16 a las 11 52 27" src="https://user-images.githubusercontent.com/29978768/64948974-76a96980-d878-11e9-8974-cbe2997b1632.png">

[2019-09-16 10:01] JohnnyDoorn commented on #486
Could this be related to that bug where JASP is not clearing the state cache?
I asked on the forum  whether its a Bayesian or freq analysis, hopefully that will narrow it down =)

[2019-09-16 10:04] JohnnyDoorn commented on #459
Hi Flo,
I think this is related to pooling the error term for post hoc tests in the RM ANOVA. I just finished rewriting the code, and it is now fixed! Thanks for reporting this - please reopen if you have any additional questions.
Kind regards
Johnny

[2019-09-16 10:04] #459 closed

[2019-09-16 10:43] JorisGoosen commented on #486
@JohnnyDoorn it might.. But only if it's a jaspResults analysis already. Which I guess it isn't yet?

[2019-09-16 10:54] AlexanderLyNL commented on #486
It's not in jaspResult yet.

[2019-09-16 10:55] AlexanderLyNL commented on #486
It would be interesting to have there csv and the inputs, then we can see if the same occurs with jaspResult.

[2019-09-16 10:56] JorisGoosen commented on #486
Yeah my thought exactly

[2019-09-16 13:28] tomtomme opened #491 "Bubble chart and distribution plot for 2 or more variables"
* Enhancement: Bubble plot and distribution plot for 2 or more varaibles
* Purpose: Enrich JASPs features in exploratory data analysis
* Use-case: exploratory data analysis

**Is your feature request related to a problem? Please describe.**
Already in 1962 John W. Tukey criticized parts of statistics to focus too much on confirmatory analysis and a lack of methods for exploratory data analysis. Se

[2019-09-16 13:43] divanosport commented on #466
Hello! Freezes same way as before, but it seems to start faster and the OpenGL errors are gone. The other warning and outputs seem to be identical.

I can open datasheets through the terminal (flatpak run org.jaspstats.JASP filename), but I guess it's a bit annoying for everyday usage.

[2019-09-16 13:54] JorisGoosen commented on #466
Hmm, well good it starts faster and it doesn't complain about GL anymore!

Too bad those things seem to be unrelated to the problem at hand...

I'll have to see if I can better pinpoint what goes wrong  where..

[2019-09-16 13:54] EJWagenmakers commented on #491
Good ideas! We need more of these plots. A team in the US is working to add some of these, I believe.

[2019-09-17 11:38] vicenteinefo opened #492 "MAD incorrect value?"
* JASP version: 0.10.2
* OS name and version: Mac OS 10.14.6
* Analysis: Descriptive statistics
* Bug description: MAD seems to be incorrectly calculated
* Add JASP files as a zip:
[MAD bug.jasp.zip](https://github.com/jasp-stats/jasp-issues/files/3621053/MAD.bug.jasp.zip)

* Screenshot:

<img width="1360" alt="Captura de pantalla 2019-09-17 a las 13 30 35" src="https://user-images.githubuserconte

[2019-09-17 11:47] JohnnyDoorn commented on #475
Hi @CJAB93

Thanks for that suggestion - this could also be the basis for showing a "grouping by letters" table. Would that also remedy your other issue? (https://github.com/jasp-stats/jasp-issues/issues/342)

Kind regards
Johnny

[2019-09-17 11:51] JohnnyDoorn commented on #471
Thanks, I think this is resolved now.

[2019-09-17 11:51] #471 closed

[2019-09-18 08:36] krasenferdinandov commented on #474
Some tests continue to freeze dialogue windows (MANOVA, BINOMIAL TEST, CONFIRMATORY FACTOR ANALYSIS) and ask for program to be restarted.
![errors](https://user-images.githubusercontent.com/26842960/65131728-6f18ca80-da08-11e9-95bc-760035157737.png)

[2019-09-18 08:47] JorisGoosen commented on #474
@krasenferdinandov and if I may ask, do you also lack engine logfiles? (Aka you only see desktop logfiles in the logfolder?)

[2019-09-18 10:38] isakohrlund commented on #352
Sorry for my late response. Here is an example. There is a comment, made in Excel, in column 2 row 1 and column 3 row 2. As you can see, JASP does not read the column 2 heading (which is "Column 2"), but tries to read the comment (staring with "Author:"). The comment is Column 3 row 2 does not seem to cause any trouble though.

The file was created in Excel 2016 as an .xlsx, and then saved as an .

[2019-09-18 11:10] JorisGoosen commented on #352
Thanks!

I will take a look sometime after the upcoming release.

[2019-09-18 12:28] JorisGoosen commented on #486
@JohnnyDoorn did you manage to get your hands on the csv and the steps orig-poster took?

[2019-09-18 18:29] mebuenaventura commented on #480
Hi! Is this fixed already?

[2019-09-18 22:37] fsnagovsky opened #493 "Distribution plot not updating for 'split' variables"
* JASP version: 0.10.2

* OS name and version: Mac OS Mojave 10.14.6

* Analysis: Descriptive statistics / distribution plot

* Bug description: When running descriptive statistics for a variable by a 'split' variable, the frequency tables are correct, but the distribution plots are not. Specifically, the distribution plots for each level of the split variable are the same as the overall distribut

[2019-09-18 23:22] EJWagenmakers commented on #493
We definitely need to fix this before the new release.

[2019-09-19 08:47] boutinb commented on #492
Hi @vicenteinefo, the MAD value that gives JASP is the default value given by R:

This adjustment is in fact a constant 1.4826, and 2 * 1.4826 = 2.9652
Maybe we should call it MAD Adjusted.

[2019-09-19 10:33] vicenteinefo commented on #492
Cool, thanks for the explanation, I’ll update my notes for my students

[2019-09-19 10:35] AlexanderLyNL commented on #492
Bruno added both options to the descriptives. In the newest version, you'll be able to choose both of them.

[2019-09-19 10:35] #492 closed

[2019-09-19 10:36] AlexanderLyNL commented on #493
Fixed in 0.11, out soon.

[2019-09-19 10:36] #493 closed

[2019-09-19 14:11] aliburdett opened #494 "Bland-Altman plots in JASP"
* Enhancement: Add ability to generate Bland-Altman plots in JASP
* Purpose: When analysing agreement between two methods of measurement, it is usual/useful to be able to display results as a plot of difference versus mean for each data pair, alongside bias and 95% confidence LoAs
* Use-case: Assessing level of agreement between two different measurement methods

**Is your feature request related

[2019-09-19 14:41] mlpetrun opened #495 "Aliased coefficients error code"
* JASP version: 10.2
* OS name and version: Windows 10
* Analysis: two-way ANOVA
* Bug description: When I try to run a two-way ANOVA, I get an error code "there are aliased coefficients in the model."  Not sure what this means and I cannot find how to fix this via google.
* Steps to reproduce:
1. Go to ANOVA > Select ANOVA
2. Move "treat" and "stress" to fixed factors. Move "distance traveled" to

[2019-09-19 19:47] drpetersen opened #496 "Data Preferences not shown on Kubuntu 19.04 (flatpak install JASP 0.10.2)"
* JASP version: 0.10.2 (flatpak)
* OS name and version: Kubuntu disco 19.04
* Bug description: The Data Preferences pane is empty, no options are shown. There is no way to set NA strings or select a program to edit csv files with any more.
* Screenshot:
![Screenshot_20190919_212528](https://user-images.githubusercontent.com/9879249/65274647-1c343580-db24-11e9-80c4-e842a9678884.png)
* Expected beha

[2019-09-19 23:51] EJWagenmakers commented on #494
Good suggestion, thanks!

[2019-09-20 01:11] allefeld opened #497 "QGLXContext: Failed to create dummy context"
Installed JASP under Debian 10 via flatpak. Starting it results in an error message:

[code]

Because it appears to be an OpenGL related error, I thought it has to do with the Nvidia driver. I followed this guide: https://www.linuxuprising.com/2018/06/how-to-get-flatpak-apps-and-games-built.html
However, the correct runtime for the driver version (418.74) is already installed:

[code]

Importantly

[2019-09-20 09:06] JohnnyDoorn commented on #495
Hi @mlpetrun
I just took a look at your data, and there might be some unintentional periods in the factor level names:
![Screenshot_2019-09-20_10-47-58](https://user-images.githubusercontent.com/15704203/65313128-2726ae80-db94-11e9-90da-63d530ec2865.png)

This causes some combination of the factor levels (because you include the interaction term in your model) to have empty cells (i.e., 0 observat

[2019-09-20 15:19] krasenferdinandov commented on #474
no, I just already have tried x32 version and the problem is still there...

На ср, 18.09.2019 г. в 11:47 ч. Joris Goosen <notifications@github.com>
написа:

[2019-09-20 16:16] JorisGoosen commented on #474
@krasenferdinandov but to help me fix the problem:
Could you turn on logging and see if you have engine logfiles?
Or do you only see desktop logfiles?

[2019-09-20 19:08] DrMarkGS commented on #365
Would really support this

[2019-09-21 03:04] mlpetrun commented on #495
Thanks for catching that!  That was one of the first things I checked in my csv file, but the periods were not showing in my raw file?  So I just retyped everything and it's working fine now.  Weird.
Thanks!

[2019-09-21 09:42] AlexanderLyNL commented on #480
Hi medbuenaventura,

It's solved. I've even tested this with the jasp files that were included in the issues. If you send me yours I can double check for you as well.

Cheers,
Alexander

[2019-09-21 09:44] JohnnyDoorn commented on #495
No problem - glad it worked out =)

[2019-09-21 09:44] #495 closed

[2019-09-25 10:37] LukeOU opened #498 "JASP reports internal error"
* JASP version: 0.11.0.0
* OS name and version: Windows

* Bug description: JASP reports internal error when I want to run Bayesian T test or descriptives

* Screenshot:
![obrazek](https://user-images.githubusercontent.com/55790015/65593572-0cd44280-df91-11e9-85e1-929721097921.png)

[2019-09-25 11:09] DrMarkGS commented on #494
To add to that the non-parametric version - Passing-Bablock regression. R Package ‘mcr’
Cheers
Mark

[2019-09-25 11:11] anbiro opened #499 "JASP does not build in spite of seemingly satisfied dependencies"
At university, we are using JASP for statistical analyses, so I need to install it. I read the instructions on https://jasp-stats.org/download/ for the Linux installation, but the flatpak method did not work (I got the message socket I/O timed out), so I tried to build it from source.

Dependencies seem to be satisfied, but during the build process I got the error message:
[code]
After this, I rea

[2019-09-25 11:26] JorisGoosen commented on #497
Can you update?
I changed some thigns for the new 0.11 release that "should" fix this.

[2019-09-25 11:31] JorisGoosen commented on #499
Well, you might want to retry installing the flatpak version, because it seems that your connection simply failed. And the new version is up there.

If you are determined to build it I am more then willing to help you out but I would need more information:
-  What version of linux are you running and on which architecture
- Did you try running `installExpectedPackages.R` as root? Because it does n

[2019-09-25 11:33] JorisGoosen commented on #498
Could you check if, after you turn on logging, you have logfiles for both `Desktop` and `Engine`?

[2019-09-25 11:38] LukeOU commented on #498
Thank you for your quick response.

Sorry, but how can I get this information?

However, I wanted to finish my work so I uninstalled version "11" and installed the older version "10.2". And the analysis is ok in this older version now.

Best,

Lukas

Could you check if, after you turn on logging, you have logfiles for both `Desktop` and `Engine`?

--
You are receiving this because you authored the

[2019-09-25 11:55] JorisGoosen commented on #498
If you have the time to install 0.11 you can open `Preferences -> Advanced -> Logging options`.
There you can enable `Log to file` and then choose `Show logs`.

It will open file explorer and show you a bunch of logs. And I am very curious whether you have `JASP ... Engine.log` files. Because there seems to be a correlation between people who have that problem on windows and cannot run specific an

[2019-09-25 12:27] JohnnyDoorn commented on #288
I need that widget from @JorisGoosen, @boutinb or maybe @akashrajkn - once we get that it's very simple to implement custom contrasts in R/JASP.

[2019-09-25 12:30] LukeOU commented on #498
Ok, I did it - enclosed.

Thank you.

Lukas

If you have the time to install 0.11 you can open `Preferences -> Advanced -> Logging options`.
There you can enable `Log to file` and then choose `Show logs`.

It will open file explorer and show you a bunch of logs. And I am very curious whether you have `JASP ... Engine.log` files. Because there seems to be a correlation between people who have that

[2019-09-25 12:31] JorisGoosen commented on #467
But this issue can be best followed in the original #288 right?

[2019-09-25 12:31] #467 closed

[2019-09-25 12:32] JorisGoosen commented on #288
Did you make an issue for that widget?

[2019-09-25 12:33] JorisGoosen commented on #498
@LukeOU I see nothing here on GitHub...

Maybe you can simply follow the link https://github.com/jasp-stats/jasp-issues/issues/498 and post it directly instead of emailing in a reply?
I think something went wrong there.

[2019-09-25 12:33] JohnnyDoorn commented on #288
https://github.com/jasp-stats/INTERNAL-jasp/issues/411

[2019-09-25 12:35] LukeOU commented on #498
![obrazek](https://user-images.githubusercontent.com/55790015/65601071-b1f71700-dfa1-11e9-96ca-8923212aeddb.png)

[2019-09-25 12:38] JorisGoosen commented on #498
@LukeOU thank you!

So it seems you have the same problem as in #474...
I will try to figure out what is going wrong there... Sadly enough I do not have a Windows system here with the same problem...

[2019-09-25 12:41] LukeOU commented on #498
Well, thank you for your help. Fortunatelly, the older version is ok. Never mind, this stats software is great. Well done. Thank you. Good luck to manage this error soon.

[2019-09-25 12:49] JorisGoosen commented on #498
Well, luckily the old version works!

[2019-09-25 13:25] allefeld commented on #497
Thanks! But now I get another error:

[code]

I installed JASP as root, and then ran it as user.

[2019-09-25 13:26] allefeld commented on #497
I also tried running as root, but get the same bwrap error.

[2019-09-25 13:44] JorisGoosen commented on #497
Did you try restarting?

[2019-09-25 14:14] JorisGoosen commented on #497
Also, does it work or not?

[2019-09-25 14:15] JorisGoosen commented on #497
Hmm, it seems there was an upstream problem, what is the output of `flatpak update`?

[2019-09-25 14:17] allefeld commented on #497
I now restarted the computer, same result. JASP stops with the error message.

[code]

[2019-09-25 14:19] JorisGoosen commented on #497
[this issue](https://github.com/flathub/net.lutris.Lutris/issues/53) looks similar to yours.

[2019-09-25 14:22] JorisGoosen commented on #497
Right now I am testing jasp for flathub, maybe you can try: `flatpak install --user https://dl.flathub.org/build-repo/8366/org.jaspstats.JASP.flatpakref` and see if that one works?

[2019-09-25 14:22] allefeld commented on #497
It does. Is JASP 32 bit, or has some 32 bit components?

[code]

I started from a clean flatpak installation, everything except JASP was pulled in automatically.

[2019-09-25 14:23] allefeld commented on #497
Should I run that as user or as root?

[2019-09-25 14:23] JorisGoosen commented on #497
It looks like you are using the x64 version of it so it shouldn't depend on any 32bit things. But maybe it didn't install the required GL dependencies.

[2019-09-25 14:24] JorisGoosen commented on #497
just user

[2019-09-25 14:26] JorisGoosen commented on #497
It seems that flatpak can't follow all dependencies properly in all cases: https://github.com/flatpak/flatpak/issues/3094

[2019-09-25 14:26] JorisGoosen commented on #497
So then we need to figure out which one you are missing.

[2019-09-25 14:28] JorisGoosen commented on #497
maybe manually do `flatpak install org.freedesktop.Platform.GL.default org.kde.Sdk/x86_64/5.12`

[2019-09-25 14:32] allefeld commented on #497
Still waiting on the user install, I'll try that next.

[2019-09-25 14:45] boutinb commented on #498
It seems to be a permission problem. Are you admin of your PC?

[2019-09-25 14:50] jlwoodard opened #500 "Feature request: Fisher's Exact Test"
I would be very interested if JASP could provide Fisher's Exact Test as part of the Contingency Table statistics. Particularly for small samples, having an option to select Fisher's Exact Test for any number of rows and columns, along with selecting the option for a one-sided or a two-sided test, could be very useful.

I believe Fisher's Exact Test is available in R using fisher.test. I saw a prev

[2019-09-25 14:58] allefeld commented on #497
So, installing `build-repo/8366` didn't make a difference, and neither did installing `org.freedesktop.Platform.GL.default`. `org.kde.Sdk/x86_64/5.12` was already installed. I still get the same error message.

Can you give me a complete list of the dependencies?

[2019-09-25 15:03] JorisGoosen commented on #497
Well, that is in fact the complete list of dependencies...
It might be a mismatch between your nvidia driver and the installed `org.freedesktop.Platform.GL.nvidia` you have. I just checked however and it gives like 90+ options in flathub. That might be a bit overkill.

[2019-09-25 15:04] JorisGoosen commented on #497
What does `nvidia-smi` say on your system?

[2019-09-25 15:08] allefeld commented on #497
Shouldn't `org.freedesktop.Platform.GL.nvidia-418-74` ensure compatibility with the driver?

[code]

[2019-09-25 15:10] JorisGoosen commented on #497
Yes it should but I figured it would be nice to see this confirmed.

[2019-09-25 15:11] JorisGoosen commented on #497
I'll see which dependencies I have here besides those listed above.

[2019-09-25 15:11] allefeld commented on #497
Since the error message is about being unable to mkdir, is it maybe related to permissions or groups? On my system there isn't even an `/app` directory.

[2019-09-25 15:13] JorisGoosen commented on #497
The `/app` folder is inside the flatpak sandbox, each flatpak app sees a different root filesystem, it's own.

Here my installed runtimes/apps:
[code]

[2019-09-25 15:13] JorisGoosen commented on #497
Doesn't look very different from yours..

[2019-09-25 15:21] allefeld commented on #497
True. I just installed them all, in the versions listed, and it doesn't make a difference.

I notice you don't have anything OpenGL-related installed. Is there maybe an option to run JASP without OpenGL?

[2019-09-25 15:24] JorisGoosen commented on #497
Does this `flatpak install org.freedesktop.Platform/x86_64/18.08` help?

And I haven't installed those because that is a virtual machine.

There is a way to run JASP with software rendering. `flatpak run org.jaspstats.JASP --safeGraphics`, maybe that works for you?

[2019-09-25 15:29] allefeld commented on #497
Did both, didn't help. :(

I think it doesn't even get as far as processing command line options. At least `flatpak run org.jaspstats.JASP --help` doesn't work either.

[2019-09-25 15:35] JorisGoosen commented on #497
Maybe you could try to run the older version and see if that works with --safeGraphics?

[2019-09-25 15:35] JorisGoosen commented on #497
And I think it might be a good plan to open an issue on flatpak or something, because this seems to be related to the runtimes somehow...

[2019-09-25 15:41] JorisGoosen commented on #497
What flatpak version are you using btw?

[2019-09-25 15:49] allefeld commented on #497
I found this similar flatpak issue: https://github.com/flatpak/flatpak/issues/1341

I don't understand the answers though, it seems to be about how to build the flatpak package. Maybe you can have a look?

my flatpak version is 1.2.4

[2019-09-25 15:55] JorisGoosen commented on #497
Yeah I saw the issue but it seems to be unrelated. We just got JASP into flathub so I think when it finishes building there and is available in that main repository we can try and see if it works properly then.

It is doesn't I will open an issue in the flatpak repository because this seems to be a bug in it...

[2019-09-25 15:58] allefeld commented on #497
I prepared a issue for flatpak referencing this one, should I post it? I'm not sure I'm the right person to do so, because I know next to nothing about flatpak (app) development.

[2019-09-25 16:05] JorisGoosen commented on #497
Very proactive, but I think it's best to wait until it is in flathub. Maybe the dependency problem solves itself after you install it from there right?

And if it doesn't then it should be fairly easily reproducable then, which helps us because they will be more likely to help us out.

[2019-09-25 16:06] allefeld commented on #497
Sounds good. Would be great if you could let me know when it is in flathub.
Thanks!

[2019-09-25 16:06] JorisGoosen commented on #497
I will!

[2019-09-26 08:17] JorisGoosen commented on #497
@allefeld JASP is now available at flathub: https://flathub.org/apps/details/org.jaspstats.JASP

[2019-09-26 13:44] allefeld commented on #497
That was fast!

Unfortunately, the situation is unchanged:
[code]

I started again from a clean slate, here is the list of packages pulled in by the installation:

[code]

`?` stands for the `...` character which was apparently lost in copy & paste.

[2019-09-26 13:53] JorisGoosen commented on #497
Well, then I think it is time to make an issue on flatpak, I'll set it up and mention you in it specifically. I am going on vacation for a bit more than a week tomorrow, so I won't be able to help for a while.

All information should however be available in the flathub repo we use and here.

[2019-09-26 14:00] allefeld commented on #497
Good. Can you link in the flatpak issue to this one?
Have a nice vacation!

[2019-09-26 14:12] JorisGoosen commented on #497
https://github.com/flatpak/flatpak/issues/3136

Thanks!

[2019-09-26 14:30] modelistatistik opened #501 "Program closes"
After the last update, JASP shuts down after installing the program.

* Analysis: Machine learning
* Screenshot: ![index](https://user-images.githubusercontent.com/29062713/65700666-518ad700-e080-11e9-9e22-1fee9e142305.png)

[2019-09-26 14:50] JorisGoosen commented on #501
Would you be so kind as to fill in the information that you now left blank? Such as "JASP version" and especially things such as "OS name and version".

We cannot help you otherwise.

[2019-09-26 14:52] modelistatistik opened #502 "Program closes"
* JASP version: 0.11.0.0
* OS name and version:
* Analysis: Machine learning
* Bug description: https://prnt.sc/pbbqsd
* Add JASP files as a zip: https://yadi.sk/d/WaNfNOihEmuC6Q
* Screenshot: https://prnt.sc/pbbqsd
* Expected behaviour:
* Steps to reproduce:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

[2019-09-26 14:56] modelistatistik commented on #501
sorry. I just downloaded and installed the new version. It failed as it did in the screenshot. The program is installed in the windows operating system.

What is the OS name?

[2019-09-26 15:07] JorisGoosen commented on #501
OS name stands for "Operating System name" and it seems that in your case it is Windows, probably 10?

And when you say it fails as in the screenshot, you mean it crashes directly after starting or only after taking certain actions? Such as running an analysis or something?

[2019-09-26 15:08] JorisGoosen commented on #502
Ill add this info to the issue you already opened...

[2019-09-26 15:08] #502 closed

[2019-09-26 15:16] modelistatistik commented on #502
True, windows 10..

[2019-09-26 15:23] JorisGoosen commented on #501
@modelistatistik as you answered in the other issue, you use Windows 10.

Are you the administrator of your PC?

[2019-09-26 15:30] modelistatistik commented on #501
Yes, true.
OS name : Windows 10
I'm starting the JASP program. I am uploading any data file. Then when I open the machine learning analysis, it gives this error and shuts down.

[2019-09-26 19:09] JorisGoosen commented on #501
That is too bad...

Could you try the `Frequencies -> Bayesian Linear Regression`, just to see if it doesn't crash then?

Because if it does not crash in that scenario it is highly likely you have the same problem that https://github.com/jasp-stats/jasp-issues/issues/474 has.

[2019-09-27 08:56] modelistatistik commented on #501
hi,

You can download the video from the link below.
https://yadi.sk/d/CxtDmAeL_tlT5Q

[2019-09-27 13:57] #448 closed

[2019-09-27 15:09] MelJucla opened #503 "plots unavailable"
* JASP version:0.11
* OS name and version:Mojave 10.14.6
* Analysis:
* Bug description:It is impossible to obtain plots. I've tried to download different versions of Jasp but the problem remains. And I've tried with different data files. Here is an error message :
This analysis terminated unexpectedly.
Error in grid.Call(C_textBounds, as.graphicsAnnot(x$label), x$x, x$y, : extrémités de polygone n

[2019-09-27 15:27] TimKDJ commented on #503
Could you try the fix suggested in https://github.com/jasp-stats/jasp-issues/issues/405

[2019-09-27 15:35] MelJucla commented on #503
I've tried and it doesn't work.
Here the full error message :

Error in grid.Call(C_textBounds, as.graphicsAnnot(x$label), x$x, x$y, : extrémités de polygone non trouvés

Stack trace
lapply(vps, push.vp, recording)

FUN(X[[i]], ...)

push.vp.vpTree(X[[i]], ...)

push.vp(vp$parent, recording)

push.vp.viewport(vp$parent, recording)

grid.Call.graphics(C_setviewport, vp, TRUE)

(function (x)
{
    w

[2019-09-27 15:48] TimKDJ commented on #503
What did you try exactly, restoring standard fonts or enabling the arial font family?

[2019-09-27 15:55] MelJucla commented on #503
restoring standard fonts

[2019-09-27 16:10] MelJucla commented on #503
My mistake, I restarted my computer and it works again!!!
Thanks!

[2019-09-27 16:10] #503 closed

[2019-09-27 16:14] TimKDJ commented on #503
Glad to hear :)

[2019-09-28 15:36] anbiro commented on #499
Thank you for support and sorry for being late with the answer.
I run flatpak more times and again after trying to build JASP, but I
always get the same error. The interaction is the following:
sudo flatpak install http://static.jasp-stats.org/flatpak/JASP.flatpakref
Installing: org.jaspstats.JASP/x86_64/master
Required runtime for org.jaspstats.JASP/x86_64/master
(org.kde.Sdk/x86_64/5.12) is not

[2019-09-29 17:04] djdekker commented on #79
+1 for the feature request of **KMO** and **Bartlett's Test**. I'm using SPSS to check both to see whether a data set is suitable to perform a factor analysis. I'd appreciate your consideration of adopting them in JASP.

[2019-09-29 18:59] rsbalkin commented on #62
we need discriminant analysis as a MANOVA post hoc

[2019-09-29 19:33] core-code opened #504 "version number bugged on macOS"
the version numberer embedded into  of JASP-0.11.0.3 is wrong

1.) download JASP-0.11.0.3.dmg
2.) inspect the version number using Quick Look  or Column View in the macOS Finder
3.) instead of version 0.11.0.3 it claims to be 0.11.0.0. it seems you forgot to update the version  number for this release

technical detail: the 'CFBundleShortVersionString' entry in your Info.plist file is wrong.

also

[2019-09-29 19:35] core-code commented on #504
<img width="595" alt="Screenshot 2019-09-29 at 21 30 47" src="https://user-images.githubusercontent.com/1261954/65838203-f1569800-e300-11e9-8747-4fc384081338.png">

[2019-09-29 21:11] EJWagenmakers commented on #500
We do offer it, but you have to click "log odds ratio (2x2 only)". Strangely, this only computes a 95% CI. A p-value would be nice, and so would the ability of a one-sided test, I agree.
@TimKDJ : maybe a nice task for Frantisek?

[2019-09-30 08:35] boutinb commented on #501
Hi @modelistatistik,
I have tried many configurations on different PC's, but I cannot reproduce this problem. So it seems that JASP cannot work properly with a peculiar component/feature/setting on Windows PC. It would help me a lot if you answer these questions so that I can maybe find the source of this problem.
. The problem might come from the character set used in your PC. Which language do y

[2019-09-30 08:36] boutinb commented on #498
Hi @LukeOU
I have tried many configurations on different PC's, but I cannot reproduce this problem. So it seems that JASP cannot work properly with a peculiar component/feature/setting on Windows PC. It would help me a lot if you answer these questions so that I can maybe find the source of this problem.
. The problem might come from the character set used in your PC. Which language do you use on

[2019-09-30 08:45] boutinb commented on #444
Hi @NoelleScience03
It seems that your problem occurs also by other people. I have tried many configurations on different PC's, but I still cannot reproduce this problem. So it seems that JASP cannot work properly with a peculiar component/feature/setting on Windows PC. It would help us a lot if we can use directly your PC. Is there any possibility that you can come here, or you can lend your PC t

[2019-09-30 08:49] boutinb commented on #474
Hello  @diogenesbido & @krasenferdinandov
I have tried many configurations on different PC's, but I cannot reproduce this problem. So it seems that JASP cannot work properly with a peculiar component/feature/setting on Windows PC. It would help me a lot if you answer these questions so that I can maybe find the source of this problem.
. The problem might come from the character set used in your PC

[2019-09-30 09:00] modelistatistik commented on #501
Thanks for interest.

1. Turkish language.
2. My special PC. Not work PC.
3. Windows 10 Pro (Original Version)
4. Sure, this video : https://yadi.sk/i/t8MOftccEGsg3Q
5. Still problem continiue : https://yadi.sk/d/ExA9UQWehkowDQ

If there is anything I can help, please contact me.
We want to represent you as free and voluntary in Turkey.

Best regards,

Gökhan Karakoç

[2019-09-30 09:11] krasenferdinandov commented on #474
Thank you for questions. I will answer as soon as I can after I check these
properties you had proposed.
I looking forward version 11,0...
Best wishes,
Krasen

На пн, 30.09.2019 г. в 11:49 ч. bruno boutin <notifications@github.com>
написа:

[2019-09-30 10:45] jumatr opened #505 "JASP crashed when opening "descriptive statistics""
* JASP version: JASP 0.11 and JASP 0.10.2

* OS name and version: Windows 10 Home (version 1903); Processor: Inter Core i3-606U CPU

* Bug description: When I open the the descriptive statistics module, JASP crashes. I experienced the error with JASP 0.11 and JASP 0.10.2. This error didn't happen with JASP 0.9.

* Add JASP files as a zip:
[JASP_data.zip](https://github.com/jasp-stats/jasp-issues/f

[2019-09-30 11:24] boutinb commented on #505
Hi @jumatr, what is your username on your PC?

[2019-09-30 12:08] LukeOU commented on #498
Hi Bruno,

thank you for your support.

To specify the problem and answer your questions:
1. I use Czech language and yes, there are some special characters not
used in English.
2. This is my work desktop PC with one account. I´m an administrator
and I´m allowed to install anything without permission.
3. Windows Enterprise.
4. I checked what is not working: e.g. Descriptive, Bayes. T-test,
Bayes -

[2019-09-30 12:17] jumatr commented on #505
I think my username is " Júlia Martí Trilla "

[2019-09-30 12:19] jumatr commented on #505
I don't know if is "Júlia Martí Trilla" or "Jú"

[2019-09-30 12:19] coolside22 opened #506 "Error in data frame: Undefined Columns Selected (When running simple main effects for a 3-way fully-within ANOVA)"
* JASP version: 0.10.2
* OS name and version: Windows 10. Version: 10.0.18362
* Analysis: Running simple main effects for a 3-way fully-within ANOVA
* Bug description: Received an error description: Error in data frame, undefined columns selected when trying to run simple main effects. Running the same analysis on SPSS yields the same results, except SPSS successfully runs the simple main effects

[2019-09-30 12:44] boutinb commented on #505
Would it be possible to add a user with just 'normal' latin characters (in place from ú, just a u), and start JASP from this new user?

[2019-09-30 12:58] AlexanderLyNL commented on #504
Thanks for reporting this. We'll look into this.

[2019-09-30 13:21] jumatr commented on #505
Hi,
I have modified the username (now is Julia) and JASP still crashing.

[2019-09-30 14:14] tomtomme commented on #496
I can confirm this on my intel haswell cpu igpu powered laptop. Manjaro Linux KDE edition flatpaked JASP 0.11
![grafik](https://user-images.githubusercontent.com/4428185/65886849-595abc00-e39d-11e9-9b63-ba93631e9792.png)

[2019-09-30 18:52] jennie0530 opened #507 "Plots not generating"
Whenever I run some data, none of the plots are generated. I'm not sure but I think the first few times were fine but after some time, plots have stopped being generated altogether in any of the statistics (e.g., Q-Q plots, interaction plots, etc.). I don't know what the problem is and can't seem to find the solution anywhere.

My OS is Windows 10 Home.

Please help!

[2019-09-30 19:04] AlexanderLyNL commented on #507
Hi jennie0530,

We're happy to look into this more carefully, but to help out, we require some more information. Could you please fill out the bug issue template, as shown here?

https://github.com/jasp-stats/jasp-issues/issues/new?assignees=&labels=&template=bug_report.md&title=

It would also be informative to include the jasp file. Please zip the file first before you drag and drop it into the

[2019-09-30 19:12] jennie0530 opened #508 "Plots not generating using Windows 10 Home"
* JASP version: 0.10.2
* OS name and version: Windows 10 Home
* Analysis: ANOVA, Descriptive Statistics, pretty much any of the plots
* Bug description: None of the plots are not generated. It used to work the first few times and after some time, the plots stopped working..
* Add JASP files as a zip:
[HSB JASP BUG REPORT.zip](https://github.com/jasp-stats/jasp-issues/files/3672865/HSB.JASP.BUG.REP

[2019-09-30 19:41] #507 closed

[2019-10-01 12:38] boutinb commented on #505
Hi @jumatr, could you try this version: http://static.jasp-stats.org/Nightlies/Windows/JASP-nightly-WindowsJaspResultsHotfix-4fac875f1aaccfc0547bb72d5413341506536b0d.msi
This is an 'unsigned' version, that means that your PC will warn you that it does not know from whom it is. It might be also slower.
Can you try both Descriptives Statistics & Reliability Analysis?

[2019-10-01 12:39] boutinb commented on #501
Hi @modelistatistik , could you try this version: http://static.jasp-stats.org/Nightlies/Windows/JASP-nightly-WindowsJaspResultsHotfix-4fac875f1aaccfc0547bb72d5413341506536b0d.msi
This is an 'unsigned' version, that means that your PC will warn you that it does not know from whom it is. It might be also slower.

[2019-10-01 12:41] boutinb commented on #474
Hallo, I have found something that could help your problem.
Could you try this version: http://static.jasp-stats.org/Nightlies/Windows/JASP-nightly-WindowsJaspResultsHotfix-4fac875f1aaccfc0547bb72d5413341506536b0d.msi
This is an 'unsigned' version, that means that your PC will warn you that it does not know from whom it is. It might be also slower.
Can you try both Descriptives Statistics & Reliab

[2019-10-01 12:42] boutinb commented on #498
Hi @LukeOU
Could you try this version: http://static.jasp-stats.org/Nightlies/Windows/JASP-nightly-WindowsJaspResultsHotfix-4fac875f1aaccfc0547bb72d5413341506536b0d.msi
This is an 'unsigned' version, that means that your PC will warn you that it does not know from whom it is. It might be also slower.

[2019-10-01 13:21] modelistatistik commented on #501
Hey,

Everything works correctly. Bless your hands.
What was the problem?

Thanks for helps.

Gökhan Karakoç

[2019-10-01 13:33] boutinb commented on #501
If your username on your PC contains non 'normal' latin characters, then some analyses cannot find the a temporary folder to write down some state...
We will make a hotfix version.
Thanks for your contribution.

[2019-10-01 13:33] #501 closed

[2019-10-01 13:36] modelistatistik commented on #501
You're welcome. I'm glad this problem is solved. We can be your representative in Turkey:) Our completely voluntary and without any financial expectations:)

Our website:

https://www.modelistatistik.com/

[2019-10-01 13:58] AlexanderLyNL commented on #501
Hi modelistatistik,

Thanks for your help. Could you please send me an email? {firstLetter}.[lastName]@jasp-stats.org

Cheers,
Alexander

[2019-10-01 14:01] modelistatistik commented on #501
Hi AlexanderLyNL,

Of course,

gokhan.karakoc@modelistatistik.com
If you need further information, please contact me.

Best regards,
Gökhan Karakoç

[2019-10-01 14:31] JohnnyDoorn commented on #506
Thanks for reporting! We are currently rewriting some analyses and this seems fixed in the rewrite.

[2019-10-01 14:31] #506 closed

[2019-10-01 16:30] krasenferdinandov commented on #474
Thank you and I appreciate your concerns. Everything with Descriptives and
Reliability is ok, Only manova, confirmatory and logistic analysis still
generate errors. I will try this version and will feed you back as soon as
I can.

На вт, 1.10.2019 г. в 15:41 ч. bruno boutin <notifications@github.com>
написа:

[2019-10-01 20:44] krasenferdinandov commented on #474
Version 11.0 is working perfectly, not taking the lag into account. Thank
you very much. It is perfectly compatible with Win10.
What about mediation analysis? It is not included into the analytic package
anyway...

Best regards!
Krasen

На вт, 1.10.2019 г. в 19:30 ч. Красен Фердинандов <
krasenferdinandov@gmail.com> написа:

[2019-10-01 20:46] AlexanderLyNL commented on #474
Hi Krasen,

Thanks for getting back to us. The hotfix seems to work. I'll close this issue then. Please open a new issue if the problem reoccurs.

Cheers,
Alexander

PS: You can find mediation under SEM.

[2019-10-01 23:57] cristony opened #509 "LOS RESULTADOS DECIMALES CON CERO"
* JASP version: 11
* OS name and version: WINDOWS 64
* Analysis: ANALYISIS FACTORIAL
* Bug description:The graphs of the factor analysis in the values of factor loads (eg 0.15) do not benefit the graph of the value 0. but should be used .15 for a better view of the results because mostly the values overlap one on top of the other and do not allow a adequate visualization of the statistical graph.

[2019-10-02 06:17] krasenferdinandov commented on #474
I just found another issue:
[image: save failed.png]

На вт, 1.10.2019 г. в 23:46 ч. AlexanderLyNL <notifications@github.com>
написа:

[2019-10-02 07:25] boutinb commented on #474
Sorry, but the image was not send. Can you explain how you came to this error ( a reproduction path)?
Bruno

[2019-10-02 08:31] TimKDJ commented on #509
Could you attach the jasp file or a screen shot of your problem?
I'm not entirely sure if I know what you mean

[2019-10-02 08:36] natinatifilfil opened #510 "rmANOVA analysis terminated"
I am trying to run a rmANOVA (2x2x2x4) and run into this error:

Any idea what this means?
I am using a 0.9.2.0 version and a csv. file
Thanks!

This analysis terminated unexpectedly.

Error in if (is.finite(value)) {: argument is of length zero

Stack trace
analysis(dataset = dataset, options = options, perform = perform, callback = the.callback, state = oldState)

.rmAnovaWithinSubjectsTable(dat

[2019-10-02 09:07] jumatr commented on #505
Hi,
I have tried both and it works well. The error didn't happen in this version.
Thank you!

[2019-10-02 09:30] boutinb commented on #505
Fine, I will make an official hotfix version.

[2019-10-02 09:30] #505 closed

[2019-10-02 09:47] boutinb commented on #510
We have released version 0.11(https://jasp-stats.org/download/). Can you try it with this new version?
If the error still occurs, can you send us the csv file?
Kind regards,
Bruno

[2019-10-02 09:49] AlexanderLyNL commented on #510
Or zip the jasp file and drag it into this thread:

https://github.com/jasp-stats/jasp-issues/issues/510

[2019-10-02 09:57] boutinb commented on #508
Hi @jennie0530 We have used your JASP file, and cannot reproduce your problem. What do you mean exactly with: it works a few time, and then not anymore, what did you do exactly? Did you save the JASP file, and reopen it afterwards and then you did not see the plots anymore?
Could you also send us the log files: Go to the File menu, Preferences, Advances, Logging options, check the 'Log to file' ch

[2019-10-02 10:00] boutinb commented on #484
Hi @BridgetUT.
Sorry for the late answer. We were quite busy to release a new version (0.11). Can you try it? If you have still this problem, can you send us your JASP file?
Kind regards,
Bruno

[2019-10-02 10:05] boutinb commented on #463
Reopen this issue, if you send us the SPSS file.
Bruno

[2019-10-02 10:05] #463 closed

[2019-10-02 10:06] boutinb commented on #455
We have made a new version (0.11). Do you have still the same problem?

[2019-10-02 10:08] boutinb commented on #444
I have made a hotfix (http://static.jasp-stats.org/Nightlies/Windows/JASP-nightly-WindowsJaspResultsHotfix-b6bdd74a8493a70ad565bf5dbced07b835b9b45d.msi) that solves similar problem. Could you try it? This version is not signed, so your computer may say that it does not trust it. It may be also slower.

[2019-10-02 10:45] AlexanderLyNL commented on #504
Solved: https://github.com/jasp-stats/jasp-desktop/pull/3563

[2019-10-02 10:45] #504 closed

[2019-10-02 12:12] natinatifilfil commented on #510
It worked with an update!
Thank you!

Natalia Filvarova
BA Experimental Psychology (University of Oxford)
MSc Systemic Neurosciences (Graduate School of Systemic Neurosciences, LMU)
PhD Researcher in Multisensory Integration and Perception (Fraunhofer IVV
Insititute)
Founder at NeuroCamp e.V. <https://www.neurocamp-munich.com/>
WEF Global Shaper
https://www.linkedin.com/in/natalia-filvarova

On We

[2019-10-02 12:13] AlexanderLyNL commented on #510
Thanks for the feedback!

[2019-10-02 12:13] #510 closed

[2019-10-02 13:24] krasenferdinandov commented on #474
[image: save failed.png]
I've tried to save the job that I have been doing and the errors just
appeared.

На ср, 2.10.2019 г. в 10:25 ч. bruno boutin <notifications@github.com>
написа:

[2019-10-02 16:26] larsgw opened #511 "Feature request: handling of TSV-files"
Sorry for not following the template, but it seemed a bit too elaborate for my purposes. I would like to be able to import (and export, sync, etc.) tab-delimited values files as `.tsv` instead of as `.txt`.

Is this something that I could work on? If so, can I get some general pointers? I saw the file menu is filtered in https://github.com/jasp-stats/jasp-desktop/blob/master/JASP-Desktop/widgets/f

[2019-10-02 17:56] cristony commented on #509
In the correlation of square factors these are many in the graph the values are superimposed and not well illustrated in the graph because they use the number 0.00, should omit the 0 and put .00 to better illustrate the values.
I also have suggestions on the analysis of mediation the names of the variables change to codes and do not become incomprehensible.
When I perform SEM analysis I do not get

[2019-10-02 19:39] Antuko opened #512 "Does not process Mardia's multivariate analysis"
Dear Jasp

I want to report that the Mardia coefficient is not possible to obtain. I would love to guide it.
Regards
![image](https://user-images.githubusercontent.com/56091701/66075984-5e954380-e522-11e9-941e-196090d01ae2.png)

[2019-10-03 08:04] #225 closed

[2019-10-03 08:04] TimKDJ commented on #225
The piechart will be in descriptives when we release the next version of JASP

[2019-10-03 09:48] vankesteren commented on #483
Added this to the footnote!

[2019-10-03 09:48] #483 closed

[2019-10-03 09:50] vankesteren commented on #468
I completely agree and am taking this into account in the rewrite of the PCA, which will be available soon :)

[2019-10-03 09:55] douglasbarraza commented on #468
Thank you so much!!!!

[2019-10-03 10:38] 16665k00 commented on #468
Indeed, many thanks!

[2019-10-04 02:18] jennie0530 commented on #508
Hi,

Here are the log files as well as the data and jasp files. What I meant was, when I ran JASP for the first few times the plots were generated with no problem regardless of what data I was using.

Now, no matter which data set I run JASP with, none of the plots are generated. It just shows a blank. What I did was, I opened a data set and ran an ANOVA with Q-Q plot of residuals for normality ch

[2019-10-04 02:27] jennie0530 commented on #508
I already tried reinstalling JASP as well but it's still not working :(

[2019-10-04 09:22] boutinb commented on #508
I see that the JASP file contains the plots. And if I open your JASP file, I can see the plots.
I saw that you use 0.10.2. We have released a new version 0.11. And very soon 0.11.1. Can you try the latest version (http://static.jasp-stats.org/Nightlies/Windows/JASP-nightly-WindowsJaspResultsHotfix-9eace6e10febcc3b6a3d6a61df209168eaad6876.msi) ?

[2019-10-04 09:36] TimKDJ commented on #509
It would still really help me if you could attach a .jasp file that demonstrates exactly what you mean. To do so, go to this link https://github.com/jasp-stats/jasp-issues/issues/509 and drag and drop the (compressed) .jasp file.

To solve overlapping axis labels: making the figure bigger might do the trick (there is a little drag handle on the bottom right corner of the image)

In the future we w

[2019-10-04 09:40] boutinb commented on #511
That' s true that JASP supports already tab separated value file, but the extension must be txt instead of tsv. The fix is not only in this file, but unfortunately it has to done in several files (you can see that if your seach for all csv entry in the code). If you feel able to do this, you can try it. If not I will do it for the next release.

[2019-10-04 09:58] boutinb commented on #474
Can you tell me exactly what you do? You load a data file, then which analysis do you open, which option do you select? And do you click on the save as menu? And which error do you get exactly (I cannot see the png file in github).
Can you send me also the JASP log files (in JASP: go to File Menu/Preferences/Advanced).
Thanks,
Bruno

[2019-10-04 10:06] boutinb commented on #474
I cannot see the png file, because apparently you answer directly via email: you have to answer via GitHub if you want to attach a file.

[2019-10-04 13:47] bivalau66 opened #513 "JASP won't reopen existing JASP files."
* JASP version: 0.10.2
* OS name and version: Windows 10
* Analysis:
* Bug description: I have lots of JASP files as I've been using it for a few years now, but when I try to reopen an existing file (even ones created with this version) it's 50/50 whether the file will open properly or just sit on the processing bar forever. Either way it takes at least 5 minutes for the file to open.
* Add JASP f

[2019-10-04 15:57] krasenferdinandov commented on #474
After I get the data file, I finished job and try to close the program,
after answering me to save the job, I tried and the problem had appeared.

save failed
unable to save file
boost::filesystem::file_size

На пт, 4.10.2019 г. в 13:06 ч. bruno boutin <notifications@github.com>
написа:

[2019-10-04 17:55] cristony commented on #509
Hello, I hope I can also correct the errors I sent you in the previous message regarding the mediation analysis and the names of incomprehensible variables and the SEM analysis regarding the lack of graphics.

________________________________
De: Tim de Jong <notifications@github.com>
Enviado: viernes, 4 de octubre de 2019 04:36
Para: jasp-stats/jasp-issues <jasp-issues@noreply.github.com>
Cc: cri

[2019-10-04 22:17] larsgw commented on #511
I'm still trying to build JASP to test it, but I have a patch at https://github.com/jasp-stats/jasp-desktop/pull/3575.

[2019-10-06 17:00] jennie0530 commented on #508
I tried downloading the file you sent me and the one on the website but the
plots are still not showing (I used jasp file.) Also, now the new version
says it doesn't support sav files anymore. Is this correct?

Thanks for your help.

On Fri, Oct 4, 2019, 4:22 AM bruno boutin <notifications@github.com> wrote:

[2019-10-07 12:08] boutinb commented on #508
Hi @jennie0530,
This is really strange...
I want to ask you something that might be a bit technical, but let's try...
After having opened a JASP file that should contain a plot, with your Window Explorer, go to the folder with your user account ('c:\Users\Jennie' if your Windows account jennie is ).
Then click on the View menu of Window Explorer, and check the 'Hidden items' checkbox: you should s

[2019-10-07 12:14] boutinb commented on #513
Hi @bivalau66 Can you send us one JASP which does not work?

[2019-10-07 12:25] boutinb commented on #474
Can you save it on an OSF account?

[2019-10-08 06:01] ruzeldev opened #514 "Pie charts in plot section"
Cake graphs in the "plot" section
* Enhancement: Develop the "pie chart" option in the "plot" section.
* Purpose: To be able to decide between "pie chart" and "distribution plots" for the graphical analysis of the categorical data.
* Use-case:

**Describe the solution you'd like**
Place the option "pie chart" above or below the option "distribution plots"

**Describe alternatives you've considered

[2019-10-08 06:45] AlexanderLyNL commented on #514
Hi ruzeldev,

This will be available in the next version of JASP 0.12. It now only needs refining and testing.

Cheers,
Alexander

[2019-10-08 06:45] #514 closed

[2019-10-08 16:07] BiomechFlo commented on #459
Hey Johnny,

I just upgraded to JASP Version 0.11.1 but still get wrong numbers for the post hoc tests of the RM ANOVA. I attached the JASP file.

Kind Regards
Flo
[Updated_version.zip](https://github.com/jasp-stats/jasp-issues/files/3703401/Updated_version.zip)

[2019-10-08 16:20] BiomechFlo opened #515 "Reopen issue #459 (Post-Hoc Testing RM ANOVA)"
Hi,

I just upgraded to JASP Version 0.11.1 but still get wrong numbers for the post hoc tests of the RM ANOVA. I attached the JASP file.

Kind regards
Flo
[Updated_version.zip](https://github.com/jasp-stats/jasp-issues/files/3703440/Updated_version.zip)

[2019-10-08 16:28] DocVXL opened #516 "Compute column as mean of other columns"
I appreciate the ability to compute columns in JASP that was recently added. However, there are still some serious shortcomings particularly with some of the mathematical functions provided on the right side of the screen. One, in particular, is mean(y).

If I were to calculate a new column using a mean, I would almost certainly want to compute the mean across columns. For example, I might have a

[2019-10-08 18:00] JohnnyDoorn commented on #459
Hi FLo,

Yes, that's correct - unfortunately the rewritten ANOVA will only be in the
next release (we want to merge all rewrites simultaneously so that the
transition is smooth and manageable). It will be released in a month or so.

Kind regards
Johnny

On Tue, 8 Oct 2019 at 18:07, BiomechFlo <notifications@github.com> wrote:

[2019-10-08 19:16] sinisalakic commented on #494
To join the measurement agreement party: maybe you could incorporate Lin's concordance correlation coefficient (readily available in several R packages)?

See:
[What is Lin's CCC?](https://www.statisticshowto.datasciencecentral.com/concordance-correlation-coefficient/)
[Comparing linear r and CCC](https://academic.csuohio.edu/kneuendorf/c63310/CorrsCompared10.pdf)
[One R package calculating CCC](h

[2019-10-09 05:17] coolside22 commented on #506
Thanks Johnny!

May I know if you have a date for when this will be fixed?

[2019-10-09 15:03] #130 closed

[2019-10-09 15:08] vankesteren commented on #89
Hi all,

the method that JASP uses to perform EFA currently is `minres`. In the next version of JASP, EFA will include other extraction methods for EFA too! For more information on minres and other available extraction methods, see [the `psych::fa` documentation](https://www.rdocumentation.org/packages/psych/versions/1.8.12/topics/fa#l_details).

Missing values by default are treated by pairwise d

[2019-10-09 15:10] vankesteren commented on #79
I will see what I can do in the rewrite of the EFA function!

[2019-10-09 16:51] gyunter opened #517 "JASP ignores values that have no corresponding labels"
Hello,

When I open `sav` file  that has a variable with ordinal values from 1 to 7 and labels are set only for the uttermost values (1 and 7), JASP totally ignores all other values from the dataset, leaving them blank. Is this an intended attitude? I have tried importing the same dataset to Stata and Stata leaves "unlabled" values as is.

Consequently, when I try to conduct descriptive analysis,

[2019-10-10 00:14] LoulouLouis opened #518 "JASP crashes unexpectedly on macOSX"
* JASP version:0.11.1
* OS name and version: MacOS 10.14.6
* Analysis:logistic regression
* Bug description:after successfully uploading my dataset, I clicked on logistic regression within the regression icon and I got the message saying that due to unexpected internal error, JASP crashed,  it did it several times and I just cannot process my data any further.
* Add JASP files as a zip:
* Screensh

[2019-10-10 03:02] jennie0530 commented on #508
I followed your steps and I do see a plot in the resources folder. But it’s not showing in the results from JASP itself.

From: bruno boutin <notifications@github.com>
Sent: Monday, October 7, 2019 7:08 AM
To: jasp-stats/jasp-issues <jasp-issues@noreply.github.com>
Cc: jennie0530 <jennie0530@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [jasp-stats/jasp-issues] Plots not generating

[2019-10-10 07:15] markovendelin commented on #497
Have been hit with the same issue making it impossible to use JASP as distributed at Flathub.

When rebuilding JASP locally without https://github.com/flathub/org.jaspstats.JASP/blob/master/org.jaspstats.JASP.json#L7 (`"inherit-extensions" : [ "org.freedesktop.Platform.GL" ],`), I can confirm that JASP starts and works as expected.

[2019-10-10 07:20] FransMeerhoff commented on #518
HI @LoulouLouis

- Could you send us the log files that JASP generates?
If you go to the file open menu there is a Preference option -> and then Advanced.
At the bottom of that option menu you can check if log files are written and the 'show logs' button directs you to the location of the log files. (Restart and reproduce your problem)
- Could you send us the data file? (By drag and drop it to thi

[2019-10-10 10:19] gyunter commented on #517
It works like a charm when I remove all the labels from the variable:

<img width="200" alt="Screenshot 2019-10-10 at 13 13 02" src="https://user-images.githubusercontent.com/32836/66560292-c3bee980-eb5f-11e9-9d95-d2761b2fccd6.png">

But for partly-labled variables, this happens on`sav`-file import:

<img width="428" alt="Screenshot 2019-10-10 at 13 18 30" src="https://user-images.githubuserconten

[2019-10-10 23:08] LoulouLouis commented on #518
Hello Frans,
Please find attached the logs generated after one single trial.
The day before yesterday, similar issue happened, but I don't remember what I was trying to do at that time. Please let me know if you want me to do some more test runs.
I hope this helps.

Cheers

Louis

________________________________
De : FransMeerhoff <notifications@github.com>
Envoyé : jeudi 10 octobre 2019 17:50
À

[2019-10-11 11:05] gyunter commented on #517
You can use [this](https://www.guide-market-research.com/app/download/13631503227/Oddjob.sav) dataset to reproduce the issue.

[2019-10-11 12:35] #497 closed

[2019-10-11 15:53] boutinb commented on #508
Hi @jennie0530,
OK, the png files are at the right positions. Now I would like to know why JASP cannot read them. For this, I will ask you again to do something quite technical, but I hope I can then get a hint why it does not work on your machine:

- Start a Command prompt on your PC: Click on the Search (magnify glass icon), type `cmd`, and press enter: the Command Prompt should now open.
- In t

[2019-10-11 16:16] boutinb commented on #518
Hello @LoulouLouis, we did not get the attached files. If you want to send a file, use the GitHub website (not your email). If GitHub does not accept the type of file you want to send, zip it first.
Cheers,
Bruno

[2019-10-11 16:19] boutinb commented on #517
OK, I see. I will try to fix it.
Thanks,
Bruno

[2019-10-12 08:08] djdekker opened #519 "JASP 0.11.1.0 won't open on macOS Catalina"
* JASP version: 0.11.1.0
* OS name and version: macOS Catalina (10.15)
* Analysis: When starting the app, macOS displays an error message and won't allow JASP to start.
* Bug description: JASP does not start because "Apple cannot check the file for malicious software".
* Add JASP files as a zip: n/a
* Screenshot:
<img width="532" alt="jasp-error" src="https://user-images.githubusercontent.com/5346

[2019-10-12 09:01] AlexanderLyNL commented on #519
When opening the app, do you right click it and then open? Or do you double click it? Furthermore, could you please check in your settings "Security & Privacy" whether apps are allowed from "App Store and identified developers"?

[2019-10-12 10:41] djdekker commented on #519
Thank you! Right clicking does the trick. macOS still responds with a warning about checking for malicious software, but that can be dismissed and then does not appear anymore. On my computer apps from Apple and identified developers are permitted.

[2019-10-12 10:41] #519 closed

[2019-10-12 12:07] djstepz1 commented on #202
Multinomial (1st) and ordinal (2nd) would be a fantastic addition, something I already use in SPSS, but of course in JASP it would be perfect! I would add that the addition of multinomial in particular has real potential to increase the softwares use in social science, consumer and marketing research.

[2019-10-12 13:28] djstepz1 opened #520 "Two step cluster analysis"
The addition of a two step cluster analysis module would be a worthy addition to JASP.
Clustering is now a widely used technique and two step cluster is an ideal approach for use in JASP, with its simpler output than those used in k-means and hierarchical methods. There are numerous benefits to clustering that are more easily adjusted for than in other correlational methods.

In other software it

[2019-10-12 13:38] AlexanderLyNL commented on #520
In JASP 0.11.1 you can do a k-means cluster analysis, and subsequently add the predicted clusters to the data set. These clusters can then be used for further analyses. Let us know whether this suffices for what you have in mind, if not, could you please specify the use-case, so we know what we can work towards.

[2019-10-13 14:42] allefeld commented on #497
https://github.com/flatpak/flatpak/issues/3136#issuecomment-541423837

[2019-10-13 16:12] RAYDIGIUSEPPE opened #521 "Different results when using CFA command and SEM command"
Hello All
I am running a CFA on a large data set (more than 2000  subjects and 24 items). I have run the CFA with the lavaan program on the JASP SEM command. I use DWLQ estimator.  I get good results. I am using now the new release of JASP 0.11.1.0
This version has a CFA command under factor analysis and you have to click the variables into a box that represents the items for each factor.
When I d

[2019-10-13 23:06] LoulouLouis commented on #518
[JASP 2019-10-14 09_34_21 Desktop.log](https://github.com/jasp-stats/jasp-issues/files/3722568/JASP.2019-10-14.09_34_21.Desktop.log)
[JASP 2019-10-14 09_34_21 Engine 0.log](https://github.com/jasp-stats/jasp-issues/files/3722569/JASP.2019-10-14.09_34_21.Engine.0.log)
[JASP 2019-10-14 09_34_21 Engine 1.log](https://github.com/jasp-stats/jasp-issues/files/3722570/JASP.2019-10-14.09_34_21.Engine.1.lo

[2019-10-13 23:06] LoulouLouis commented on #518
Hello, please let me know if you received the logs.

Thank you,

Best regards

Louis

[2019-10-15 08:00] TimKDJ commented on #515
Hi Flo,

The code that Johnny wrote that fixes the problem is not in 0.11.1 (the .1 upgrade was a hotfix for something unrelated). In JASP 0.12 this will be fixed. Apologies if that wasn't clear

Cheers

[2019-10-15 08:00] #515 closed

[2019-10-15 08:35] boutinb commented on #518
Hello @LoulouLouis,
Can you also send us your dataset?

[2019-10-15 08:36] boutinb commented on #518
In ZIP format.

[2019-10-15 09:26] LoulouLouis commented on #518
[Logistic regr A1B1C1D1.csv.zip](https://github.com/jasp-stats/jasp-issues/files/3728420/Logistic.regr.A1B1C1D1.csv.zip)

[2019-10-15 12:36] boutinb commented on #518
OK, I can reproduce your problem. R crashes causing the crash of JASP. I see what I can do...

[2019-10-15 12:37] boutinb commented on #511
Implemented for 0.12

[2019-10-15 12:37] #511 closed

[2019-10-15 13:36] AlexanderLyNL commented on #145
This is basically fixed with the option to reorder variables alphabetically or by type.

[2019-10-15 13:43] TimKDJ commented on #145
You still jump in variables list though; just assign a variable that required a little bit of scrolling to get to (you won't always be able to get the variable you want without scrolling). Your position in the list should not change..

[2019-10-16 10:13] 1234567890999 commented on #320
Hi, I am also having this issue and am unable to change the variable type

if you could please help me to solve this that would be great

[2019-10-16 12:41] boutinb commented on #320
@1234567890999
Can you send us your datafile?

[2019-10-16 15:33] HoracioSD commented on #50
Hi, I´m an SPSS user but exploring alternatives to it. I would like to know if Jasp can deal with multiple response variables (used in surveys, in questions with many optional answers, with chekboxes).
Can Jasp run frequencies managing this kind of variables?

Thanks in advance!

Horacio

[2019-10-17 02:08] 1234567890999 commented on #320
@boutinb how would you like me to send it? im unable to attach here

[2019-10-17 07:01] boutinb commented on #320
@1234567890999 You can zip it and add it in a Github comment.

[2019-10-17 10:33] EJWagenmakers opened #522 "intrcpt in classical meta-analysis"
Can we have "intercept" instead of "intrcpt"?
@raoelg
![image](https://user-images.githubusercontent.com/8603015/67001515-3f79e280-f0da-11e9-8754-e0cf21dc2a18.png)

[2019-10-17 15:25] HoracioSD opened #523 "Dealing with multiple response variables..."
Hi, I´m an SPSS user but exploring alternatives to it. I would like to know if Jasp can deal with multiple response variables (used in surveys, in questions with many optional answers, with chekboxes).
Can Jasp run frequencies managing this kind of variables?

Thanks in advance!

[2019-10-17 22:42] jennie0530 commented on #508
Hi,

I followed your instructions but nothing showed up on the Chrome Inspector and the plots are still not showing up. The png files are still in the temp folder as before.

Thank you for your help as always. I really hope everything will be fixed soon.

Best regards,

Jennie

From: bruno boutin <notifications@github.com>
Sent: Friday, October 11, 2019 10:53 AM
To: jasp-stats/jasp-issues <jasp-is

[2019-10-18 14:30] boutinb commented on #508
Hi @jennie0530
Could you do the same steps to open the console menu of the Chrome Inspector, but this time, type:
- $(".jasp-image-image")[0].style.backgroundImage
This should give you the URL of the (first) png file, something like that:
"url("file:////Users/brunoboutin/.JASP/temp/92393/resources/0/_0.png?x=0.5612007586922116")"
Then you could in a new tab of Chrome, copy-paste this URL:
file:///

[2019-10-19 15:05] NilsSim opened #524 "Bayesian meta analysis"
* JASP version: 0.11.1
* OS name and version: MacOS Mojave 10.14.5
* Analysis: Bayesian Meta-Analyse, see screenshot
* Bug description:
* Add JASP files as a zip:
* Screenshot:
* Expected behaviour:
* Steps to reproduce:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error
<img width="680" alt="Untitled" src="https://user-images.githubusercontent.com/56731401/67147153-8f9ba500-f

[2019-10-19 21:57] kairuggeri commented on #337
Hi Tim,

Love the newest JASP!!! Cannot wait to incorporate the ML module into my class (probably next summer; doubt I can prep in time for current semester). Just had two very quick questions:

1.      Is there any way to save a full set of analyses directly into PDF? I try to run sets in class and add in notes, then save and upload for students to review later. The only issue with saving as a JA

[2019-10-19 22:23] jennie0530 commented on #508
Hi,

 �

I tried typing $(".jasp-image-image")[0].style.backgroundImage from the console menu of the Chrome Inspector but nothing happens the line just disappears as soon as I press enter. I even tried typing this in cmd as well (just in case? I don’t really know what I’m doing so just tried whatever) but it just says ‘$’ is not recognized as an internal or external command, operable program or ba

[2019-10-19 22:28] jennie0530 commented on #508
P.s. This is what it looks like when I type the below and the ".jasp-image-image" is in red. And then when I press enter nothing shows up and the field goes blank.

 �

 �

 �

From: bruno boutin <notifications@github.com>
Sent: Friday, October 18, 2019 9:31 AM
To: jasp-stats/jasp-issues <jasp-issues@noreply.github.com>
Cc: jennie0530 <jennie0530@gmail.com>; Mention <mention@noreply.github.com>
Su

[2019-10-20 15:01] chantelanuit opened #525 "Cohen's d confidence intervals: Slight difference between R and JASP"
* JASP version: 0.11.1

* OS name and version: Win10-64

* Analysis: Independent samples T-Test

* Bug description: **Cohen's d confidence intervals: Slight difference between R and JASP**

* Add JASP files as a zip: see linked document below

* Screenshot: See document below

* Expected behaviour: **Results must converge with the effsize package**
**> packageVersion("effsize")
[1] '0.7.6'**

* St

[2019-10-21 05:58] coolside22 opened #526 "Follow Up From "Error in data frame: Undefined Columns Selected"
![Capture](https://user-images.githubusercontent.com/20704425/67179883-69007a00-f40a-11e9-8b5c-cdd5eb053f4f.JPG)

Thanks for the previous revert on this issue! My professor would like to further inquire if there's an **estimated date for when this issue will be fixed?** This is because we're currently running a statistics course using JASP and would like to know if this issue will be resolved befo

[2019-10-21 07:31] TimKDJ commented on #524
Thanks for the report. Could you by any chance attach the .jasp file as .zip?
Or email it to me at t.dejong3 [at] uva nl

Just a note of warning, the Bayesian Meta Analysis is in a very early stage of development, so there may be a number of glitches

[2019-10-21 07:48] TimKDJ commented on #337
1. At the moment you can export the results as html (top left hamburger menu -> Export Results) or you can copy them to a word editor (in the results panel scroll to the top "Results" element and click on the little arrow -> Copy -> in e.g., Microsoft Word paste it).
2. The blog post is the main source of information. We also provide a description of all inputs in the help file of each analysis (y

[2019-10-21 07:57] TimKDJ commented on #526
We're currently working on a rather big internal code restructure (which will enable us to add some cool features such as syntax mode). Considering the scale of the task this means that 0.12 won't be out for a little while. It will take a couple of months at least.

[2019-10-21 07:58] TimKDJ commented on #525
@Kucharssim could you have a look at this?

[2019-10-21 09:20] koenderks commented on #337
For now, the blog posts (there are two more to come) and the help files will have to do. We took the features from the book "James, G., Witten, D., Hastie, T., & Tibshirani, R. (2013). An Introduction to Statistical Learning. Springer Texts in Statistics." that you may use as a reference. However, we might think about creating a more JASP-like manual or paper that explains how to use the function

[2019-10-21 09:22] AlexanderLyNL commented on #337
Could you also please tell us the questions your class encounters regarding this module? This will help us identify complications that we then further expand on in blog posts, or other tutorial style papers we write.

[2019-10-21 09:43] Kucharssim commented on #525
Dear @chantelanuit,

thank you for your question! Indeed, in case of the use of Welch t-test, JASP gives different CIs than you can obtain using effsize package. This is a feature rather than a bug. I'll try to explain on the example you provided.

1) We use non-central t-distribution to find the confidence interval. effsize package uses normal approximation by default. In case of confidence inter

[2019-10-21 11:51] HoracioSD commented on #523
The data includes a bunch of dichotomic variables (yes/no response). Imagine for example the following survey question:
What brand of car do you prefer? (choose all that correspond)
Ford
Hyundai
Toyota
Fiat
Chevrolet
BYD

In the data set, each brand of cars is a dichotomic variable (the repondent can choose it or not = yes or no response). But then, we are interested in analize grouped these answe

[2019-10-21 12:00] TimKDJ commented on #523
Well, you could drag each of these variables into Descriptive Statistics and then tick "Frequency tables" -- you'll get a table for each car brand containing the frequency with which either option is chosen.

If this does not do what you want, I'm going to need a little more information :)

[2019-10-21 12:52] chantelanuit commented on #525
Hello Simon,

Thank you for your detailed reply, very appreciated !

Have a nice day,

Michael

[2019-10-21 13:16] kairuggeri commented on #337
Hello,

I’m happy to do so but we aren’t likely to make it for this semester. Will certainly keep you posted if I am able to get it in before the end, though.

Kai

From: AlexanderLyNL <notifications@github.com>
Sent: Monday, October 21, 2019 5:23 AM
To: jasp-stats/jasp-issues <jasp-issues@noreply.github.com>
Cc: kairuggeri <dar56@cam.ac.uk>; Author <author@noreply.github.com>
Subject: Re: [jasp-s

[2019-10-21 13:44] kairuggeri commented on #337
Thanks so much for this information. I will keep an eye out for those blogs and recommend to the motivated students that want to go further to look into that book. Really looking forward to anything you guys produce!

From: Koen Derks <notifications@github.com>
Sent: Monday, October 21, 2019 5:20 AM
To: jasp-stats/jasp-issues <jasp-issues@noreply.github.com>
Cc: kairuggeri <dar56@cam.ac.uk>; Autho

[2019-10-21 13:46] kairuggeri commented on #337
Thanks very much for this.

1.      Yes, this is a great function. The only thing it lacks is that students cannot see exactly how the data were entered. This is really great, though.

2.      Perfect, thanks very much for all this input.

Noted about the new submission. Was trying to save you the hassle but I understand what you mean.

From: Tim de Jong <notifications@github.com>
Sent: Monday, Oc

[2019-10-21 15:19] FelixScholkmann opened #527 "Bug in "Descriptives Plots" function after ANCOVA error ("aliased coefficients")"
* JASP version: 0.11.1.0
* OS name and version: Windows 10
* Analysis: Correlation Matrix and ANCOVA
* Bug description:
When performing an ANCOVA analysis, sometimes the error message "**there are aliased coefficients in the model**" occurs (indicating, as far as I understand, singularities in the regression matrix). It can be fixed the removing variables from the "Fixed Factors" or "Covariates" f

[2019-10-21 15:43] Kucharssim commented on #525
Great, happy to help! Thanks for pointing this out and providing a reproducible example.

[2019-10-21 15:43] #525 closed

[2019-10-21 23:40] HoracioSD commented on #523
Here you can see a more detailed examples using SPSS:
https://youtu.be/JhzaF-TvbW4
https://youtu.be/Juv5GPcP1Kk

Thanks!

_______________________________________

Horacio Saravia Díaz
Unidad de Comunicación y Transferencia de Tecnología
Tel:        ++598 44522023 Int. 1235
Móvil:    ++598 91312010
E-mail:  hsaravia@inia.org.uy<mailto:hsaravia@inia.org.uy>
Web:    www.inia.uy<http://www.inia.uy/>

[2019-10-22 09:18] LoulouLouis commented on #518
Hello,
I was wondering if you managed to find out what the issue was?
Thanks

Louis

[2019-10-22 15:01] ToddDaniel opened #528 "Pearson Correlation matrix needs n or degrees of freedom"
* Enhancement: The Pearson correlation matrix results table does not report the n for the number of pairs in a correlation. This is needed to report the degrees of freedom for the correlation in APA style.
* Purpose: APA style for writing up a correlation is r(198) = .68, p <. 001. The correlation table reports r and p but does not provide the degrees of freedom.
* Use-case:

**Is your feature req

[2019-10-22 15:03] EJWagenmakers commented on #528
Yes, good point! JASP team, who can add this?
EJ

[2019-10-22 15:13] Kucharssim commented on #528
I just implemented this in the newest rewrite, so it will appear in the future release.

[2019-10-22 15:19] EJWagenmakers commented on #528
Woh. ESP?

[2019-10-22 15:19] #528 closed

[2019-10-22 15:20] ToddDaniel commented on #528
Thanks! That was amazingly fast. Looking forward to the next release

[2019-10-22 20:15] koenderks commented on #380
@TimKDJ Maybe we can close this issue since it was fixed in a previous release of JASP/bain. Might double-check after merging the latest pull request though, just for assurance.

[2019-10-22 20:16] koenderks commented on #370
This will be implemented in https://github.com/jasp-stats/jasp-desktop/pull/3615

[2019-10-23 01:38] psywang commented on #390
I have this problem in my laptop. Can you solve this problem?

[2019-10-23 01:42] psywang commented on #476
Thank u, I have solved this issue.

[2019-10-23 07:18] TimKDJ commented on #380
This is not fixed yet.. It might be worthwhile to make the package maintainers aware of that issue instead of us solving it though

[2019-10-23 07:22] TimKDJ commented on #524
We'll have a look, thanks for sending the dataset

[2019-10-23 10:03] vankesteren commented on #521
Did you select the same estimator in CFA?
Could you check that the syntax in the CFA is the same as the syntax you enter in SEM (under `additional output` > `lavaan syntax`)

It is definitely possible to obtain the same results, but there are a few differences between both analyses.

[2019-10-23 11:21] vankesteren commented on #41
@JorisGoosen this is the readdataset issue to be solved in the cpp part

[2019-10-23 11:26] AlexanderLyNL commented on #523
Hi HoracioSD,

JASP is able to read sav files. Could you please install JASP and check if it does what you'd like it to do. If not, please report it, and we then we have a concrete case to work with.

Cheers,
Alexander

[2019-10-23 11:55] JorisGoosen commented on #41
Fixed

[2019-10-23 11:55] #41 closed

[2019-10-23 13:54] JorisGoosen commented on #33
@EJWagenmakers came with the following link and Im adding it here for future reference: https://twitter.com/GuyProchilo/status/1180928746041294849?s=19

[2019-10-24 07:35] AKMartin478 opened #529 "Incorrect means in descriptives from t-test"
* JASP version: 0.11.1
* OS name and version: Mac OSX
* Analysis: Bayesian t-test
* Bug description: Incorrect means in descriptives from t-test that do not match the correct means from the descriptives toolbox
* Add JASP files as a zip:
* [Screenshot:](url)
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/56954249/67463362-a3754b80-f684-11e9-857b-7a7b1672f11f.png">

*

[2019-10-24 08:16] EJWagenmakers commented on #529
??!
@JohnnyDoorn can you take a look?

[2019-10-24 10:11] JohnnyDoorn commented on #529
Hi @AKMartin478

Thanks for reporting, could you please send the jasp file to me? (j.b.vandoorn (at) uva.nl)
That way I can take a closer look at your case, because I cannot reproduce this behavior on other data sets.

Kind regards,
Johnny

[2019-10-25 00:48] AKMartin478 commented on #529
Attached

Thanks
Andrew

From: JohnnyDoorn <notifications@github.com>
Reply-To: jasp-stats/jasp-issues <reply@reply.github.com>
Date: Thursday, 24 October 2019 at 8:12 pm
To: jasp-stats/jasp-issues <jasp-issues@noreply.github.com>
Cc: Andrew Martin <a.martin11@uq.edu.au>, Mention <mention@noreply.github.com>
Subject: Re: [jasp-stats/jasp-issues] Incorrect means in descriptives from t-test (#529)

[2019-10-25 08:20] Stephan-N commented on #119
Related to this, it would be great if jasp could produce syntax (at least R, or also spss, or both) by klicking on a "paste" button in the menues like in SPSS. Moreover, in SPSS, it is possible to display syntax directly in the output.

(Reason: This is the pivotal feature that it would need to be able to replace SPSS in our courses. And one has to store some kind of syntax together with the resul

[2019-10-25 10:24] EJWagenmakers commented on #119
The construction of R syntax mode is now our top priority. SPSS syntax is something we may consider when that's done.

[2019-10-25 10:50] JohnnyDoorn commented on #529
Hi @AKMartin478 ,

Sorry, I don't see your file (I think you need to either mail me directly and not through github, or upload it explicitly to github).

Cheers
Johnny

[2019-10-25 17:40] RAYDIGIUSEPPE opened #530 "Running ANOVA"
I was trying t run an ANOVA When I enter the dependent variable and independent variable, I got a message that the engine stopped working and it asked me to report the bug. No Error message appeared other that this. I have no explanation for why it stopped.

[2019-10-25 20:40] vicenteinefo opened #531 "Cohen's d corrected for multiple comparisons in post-hoc test"
* Enhancement: to implement the corrected Cohen's d for multiple comparisons in post-hoc tests
* Purpose: to report effect size of post-hoc test in future research papers
* Use-case: nowadays, it is a common requisite in the author guidelines of sports science journals

**Describe the solution you'd like**

to implement a checkbox to compute the Cohen's d corrected for multiple comparisons

**Desc

[2019-10-28 13:29] tomtomme opened #532 "please allow frequency tables for scale"
* Enhancement: allow frequency tables not only for nominal, ordinal but also for scale
* Purpose: No more switching between levels of measurement
* Use-case: not all scale data is too huge to show in a table. In lessons I have often smaler datasets which fit fine in a table but also need a histogram. And it seems stupid to switch the level of measurement to get both

I appended a .txt with a real

[2019-10-29 01:04] decuser opened #533 "JASP 0.11.1 Linux Mint 19.2 crashes when selecting Label Outliers of Boxplots"
JASP version: 0.11.1
OS name and version: Linux Mint 19.2 64 bit
Analysis: JASP crashes when trying to add label to outliers in boxplots:

![boxplot](https://user-images.githubusercontent.com/3193121/67729011-72b35000-f9bd-11e9-9c05-a7fa1f4af6c3.png)

Expected behaviour: Display the boxplot and label the outliers.
Steps to reproduce:
1.Open the Fear of Statistics dataset
2. Click on Descriptives->

[2019-10-29 01:09] decuser commented on #533
I originally came across this doing the boxplot following Learning Statistics with JASP in the aflsmall_margins.csv dataset with the afl.margins variable:

https://github.com/tomfaulkenberry/JASPbook/tree/master/data

[2019-10-29 10:38] LukeOU commented on #498
Dear Bruno,

I am very sorry for this delay. I tried today version 0.11.0.0. for the Independent T-test. It worked. But then I wanted to run Bayesian Independent T-test and the some error appeared. So I tried the version you sent me and it worked.

Cheers,

Lukas

Hi @LukeOU
Could you try this version: http://static.jasp-stats.org/Nightlies/Windows/JASP-nightly-WindowsJaspResultsHotfix-4fac875f1aa

[2019-10-29 10:55] #498 closed

[2019-10-29 10:55] JorisGoosen commented on #498
Good!

[2019-10-29 11:05] boutinb commented on #498
We have also an official version (0.11.1) with the fix you need (https://jasp-stats.org/download/)

[2019-10-29 11:15] boutinb commented on #508
Hi Jennie,
This is really difficult to check what you do and to understand what happens. Maybe the best way would be to skype. Is it an option for you?

[2019-10-29 15:32] Musing-about opened #534 "Feature Request: Generalized Linear Model (GzLM)"
I really like how JASP is coming along. One analysis "family" I am missing is the Generalized Linear Model (GzLM)—not to be confused with the General Linear Model (GLM). The GzLM can be thought of as the more general analysis where the linear regression is a specific case of. In the GzLM you can specify a distribution and a link function. The analysis is very versatile, because you can use it for

[2019-10-29 15:34] Musing-about commented on #534
Sorry, I now noticed that the feature has already been requested before.

[2019-10-29 15:34] #534 closed

[2019-10-29 23:25] scroono commented on #455
I have the same problem - but it has occurred after upgrading from the previous version of JASP. Crashes on splash screen; regardless of loading as administrator or base user; and have tried the C++ redistributable, after a restart. Win 10; 64 bit.

[2019-10-30 00:17] agnesuq opened #535 "Variable type locked (nominal)"
* JASP version: 0.11.1
* OS name and version: Windows
* Bug description: Columns with nominal variables have a small lock icon. I am unable to change variable type. I have the latest version of JASP and no missing data in the columns.

![JASP](https://user-images.githubusercontent.com/57159878/67818715-fecc9100-fafd-11e9-9a07-90affc3111b2.PNG)

[2019-10-30 02:08] agnesuq opened #536 "ANOVA aliased coefficients error"
* JASP version: 0.11
* OS name and version: Windows
* Analysis: Anova
* Bug description: I get the 'There are aliased coefficients in the model' when trying to use 'Major' as a fixed factor. I am not sure why. Please see the attached dataset. I am able to use 'Country' as a fixed factor.

* Screenshot:
![ANOVA](https://user-images.githubusercontent.com/57159878/67823156-b026f300-fb0d-11e9-8ccb-03b

[2019-10-30 08:08] TimKDJ commented on #535
That's not actually a lock icon. It's a little `a` -- it means your column consists of strings. These cannot be coerced to integers

[2019-10-30 08:11] #535 closed

[2019-10-30 08:17] LukeOU commented on #498
Thank you, that´s a great news.

Lukas

We have also an official version (0.11.1) with the fix you need
(https://jasp-stats.org/download/)

--
You are receiving this because you were mentioned.
Reply to this email directly or view it on GitHub:
https://github.com/jasp-stats/jasp-issues/issues/498#issuecomment-547368358

[2019-10-30 18:08] anishau24 opened #537 "Error when trying to get Correlation Plot"
* JASP version: 0.9.2
* OS name and version: El Capitan 10.11.6
* Bug description: I'm unable to get correlation plots for my data. It gives me the error shown in this screenshot. I've tried redownloading JASP and restarting my computer and starting a new file as well.
* Screenshot: ![Screen Shot 2019-10-30 at 11 05 21 AM](https://user-images.githubusercontent.com/57158544/67885644-312dbc80-fb05-1

[2019-10-31 03:18] Mosen111 opened #538 "Please add decision tree analysis"
* Enhancement: Please add decision tree analysis

[2019-10-31 08:44] TimKDJ commented on #537
0.9.2 is a rather old version, I would recommend getting the latest version to see if that fixes your problem: https://jasp-stats.org/download/

[2019-10-31 08:54] #537 closed

[2019-10-31 10:44] JorisGoosen commented on #517
@gyunter I've figured out what went wrong with the file you sent us. I've also fixed this in our current development version.

The next release of JASP will take a while though.

To enable you to use the software I have two suggestions:
A) For each partly-labelled column you either remove all labels or add in the missing one's.
B) If you don't want to do that you could consider using our [nightly

[2019-10-31 10:44] #517 closed

[2019-10-31 12:17] AKMartin478 opened #539 "Data editor fails to echo"
* JASP version: 0.11.1
* OS name and version: Mac OSX
* Bug description: On previous versions I was able to edit the data and this would instantly be echoed in JASP and update data analyses. However, with the new version it will not echo the data update or update the analyses.

[2019-11-01 13:31] lklende opened #540 "Wrong calculation of mean and sd in scale reliability Statistics on the Reliability Analysis page"
* JASP version: 0.11.1.0

* OS name and version: Windows 7 Professional
* Analysis: Reliability Analysis -> Scale Reliability Statistics
* Bug description: The scale reliability Statistics on the Reliability Analysis page of Descriptive statistic calculate wrong values for mean and SD. The values are calculated without taking into considertion reversed variables. See Field's Fear of Statistics exa

[2019-11-01 15:51] HoracioSD commented on #523
[Hi Alexander.docx](https://github.com/jasp-stats/jasp-issues/files/3798570/Hi.Alexander.docx)
Hi Alexander. I´ve tried but y think JASP isn´t able to do what I need. Please, I´ve attached an example I would like you can look at this.
TIA

[2019-11-05 09:06] #500 closed

[2019-11-05 12:33] MTom68 opened #541 "Multigroup CFA doesn't work"
* JASP version: 0.11.1

* OS name and version: Windows 10 Home Version 1803
* Analysis: Confirmatory Factor Analysis
* Bug description: Multigroup CFA doesn't work, after defining grouping variable it produces error report (see attached screenshot)
![Screenshot 2019-11-05 12 57 55](https://user-images.githubusercontent.com/57398271/68207935-5ec8a900-ffd0-11e9-8516-d33a47b86458.png)
![Screenshot 20

[2019-11-05 23:52] chantelanuit opened #542 "[Feature Request]: Wilcoxon-Mann-Whitney exact tests"
* Enhancement: **Please remove the asymptotic version of the WMW and replace it with the exact test based on permutations**

* Purpose: Solving an issue that was already outlined almost 30 years ago by Bergmann, R., Ludbrook, J. & Spooren, W.P.J.M. (2000)
* Use-case:

**Is your feature request related to a problem? Please describe.**

See Bergmann, R., Ludbrook, J., & Spooren, W. P. J. M. (2000).

[2019-11-06 01:07] chantelanuit commented on #450
To add to my previous post, see:  Chao-Ying Joanne Peng & Li-Ting Chen (2014) Beyond Cohen's d: Alternative Effect Size Measures for Between-Subject Designs, The Journal of Experimental Education, 82:1, 22-50, DOI: 10.1080/00220973.2012.745471

"Of the nine estimators summarized in Table 2b, we recommend the four estimators of dominance
in Category (B) to supplement Cohen’s d to conceptualize ES b

[2019-11-06 11:13] fplatz commented on #529
Hi!

I've the same problem as described above by @AKMartin478. Attached you'll find my dataset along with the JASP file for further investigation.

Cheers
Friedrich
[Data&Jasp-File.zip](https://github.com/jasp-stats/jasp-issues/files/3814101/Data.Jasp-File.zip)

[2019-11-06 11:22] #526 closed

[2019-11-06 11:27] JohnnyDoorn commented on #529
Hi Friedrich,

Thanks for your report - we're currently sorting it out (@vandenman we talked about this right?)

Cheers,
Johnny

[2019-11-06 11:33] #539 closed

[2019-11-06 11:46] JorisGoosen commented on #486
@JohnnyDoorn *BUMP* (Close this issue if nothing happened I guess?)

[2019-11-06 11:46] #460 closed

[2019-11-06 11:50] JorisGoosen commented on #455
@scroono maybe you could open a separate issue?
We don't actually have a splash screen...

[2019-11-06 11:50] #455 closed

[2019-11-06 11:51] #444 closed

[2019-11-06 11:51] #357 closed

[2019-11-06 11:52] JorisGoosen commented on #348
Did you try the latest versions of [jasp on flathub](https://flathub.org/apps/details/org.jaspstats.JASP)?

[2019-11-06 11:52] #348 closed

[2019-11-06 11:53] #331 closed

[2019-11-06 11:53] #320 closed

[2019-11-06 11:55] JorisGoosen commented on #496
@drpetersen or @tomtomme sorry for the slow response, but I was wondering if this still occurs with the latest [version of jasp on flathub](https://flathub.org/apps/details/org.jaspstats.JASP).

If so I'll set up a VM with Kubuntu to see if I get the same bug there.

[2019-11-06 11:59] JorisGoosen commented on #499
Hey @anbiro if your connection keeps being cutoff it will be very hard to install anything that requires downloading stuff.

Maybe it would be smart to make sure that whoever is harassing you doesn't break your connection? (And in fact has no control over your connection whatsoever...)

If your connection actually works then you can just install the flathub version of JASP.

[2019-11-06 11:59] #499 closed

[2019-11-06 12:04] JohnnyDoorn commented on #486
Heard nothing, sent an email a while ago but no luck..

[2019-11-06 12:04] #486 closed

[2019-11-06 12:12] tomtomme commented on #496
Yes. This is still present with 0.11.1 which is the current flathub version.

[2019-11-06 12:12] scroono opened #543 "JASP won't open"
* JASP version: 0.11.1

* OS name and version: Win10
* Analysis:
* Bug description: JASP won't load. It will start to open a window, but then immediately crash out. I have tried properly uninstalling previous versions; installing the C++ distributable as has been suggested on other threads; and installing (and running) as administrator. No dice.
* Expected behaviour: JASP opens to allow analyses

[2019-11-06 12:13] drpetersen commented on #496
Thank you for your response, @JorisGoosen .
I have upgraded to Ubuntu 19.10 (Eoan) in the meantime, but the problem persists, also with the current flathub version:

[code]

Thank you for your time!

[2019-11-06 12:39] JorisGoosen commented on #496
Yeah a column just told me he has the same problem with the flatpak version. I'll start downloading a nice kubuntu image then ^^

[2019-11-06 13:08] JorisGoosen commented on #543
So do you get to see the "Welcome page" at all?
Or just a (gray) window that then crashes out on you?

[2019-11-06 14:06] vandenman commented on #529
Hi, it looks like ordinal data is incorrectly converted to numeric in the t-tests. A workaround is to click the icon next to the variable name and change the data type to scale (see screenshot).

![image](https://user-images.githubusercontent.com/21319932/68304835-e41e8d00-00a6-11ea-86e6-4c38accc169f.png)

[2019-11-06 18:27] gabrielarantest commented on #543
Can confirm. This is happening to me too. There is no "Welcome page", just a blank screen with the title "JASP (Not Responding)". Then I have to forcefully close it.

Weirdly, this only happens with my personal computer. My lab's computer opens JASP just fine. Both run Windows 10, but my PC has way better hardware.

[2019-11-06 20:44] secircle opened #544 "BugReport - Chi-square goodness-of-fit test"
* JASP version: 0.11.1

* OS name and version: Windows 10
* Analysis: Chi-square goodness-of-fit test procedure

* Bug description: Mismatch on the descriptive data and data label (see ppt file)

* Expected behaviour:
It seems 0.9.1 works okay, but there is an error for the proportion in 0.9.1 as well.

#### Steps to reproduce:
[JASP_MultinominalTestError.pptx](https://github.com/jasp-stats/jasp-i

[2019-11-06 21:50] scroono commented on #543
yes: no welcome page, it hangs as it is loading up; so just the basic grey rectangle. It quits out for me rather than hanging (I don't need to force close)

[2019-11-06 23:38] fplatz commented on #529
Thanks @vandenman for the quick reply!

[2019-11-07 09:16] AlexanderLyNL commented on #542
Thanks for reporting this and the reference. We'll look into this.

[2019-11-07 09:17] AlexanderLyNL commented on #541
Could you please share the jasp file as a zip? Then we can look into it more thoroughly.

[2019-11-07 09:31] #529 closed

[2019-11-07 09:47] JorisGoosen commented on #543
Hmm, maybe you two can help me figure out what is going wrong on those systems.
Could you install [dependency walker](http://www.dependencywalker.com/) and use it to open `JASP.exe` (probably in `C:\program files\JASP`).

And then save the resulting data as a "*.dwi" and attach that here?

[2019-11-07 12:39] Alan-Pickering opened #545 "Issue with reading in SAV files"
* JASP version:0.11.1

Windows
* OS name and version:
7
* Analysis:
Importing a .sav SPSS file into Jasp,
* Bug description:
 JASP dos not seem to read the system missing values for variables from SPSS files correctly and it scrambles the file (at least for the variables with SPSS system missing values)
* Expected behaviour:
Should either read them all correctly (ideally) or create a consistent va

[2019-11-07 18:05] tkasci commented on #27
Would be really nice to see this implemented.

[2019-11-07 18:33] tkasci opened #546 "Whitelist the lag function for creating new variables"
* JASP version: 0.1.11

* OS name and version: macOS 10.15.1
* Bug description: The `lag` function is used to lag a variable. This is useful for time series analysis and should be whitelisted.
* Expected behaviour: `lag` should create the lagged version of a variable.

#### Steps to reproduce:
1. Open any data set with a numeric variable
2. Create computet column using R code
3. Enter `lag(variabl

[2019-11-08 00:15] scroono commented on #543
Error: At least one required implicit or forwarded dependency was not found.
Error: At least one module has an unresolved import due to a missing export function in an implicitly dependent module.
Error: A circular dependency was detected.
Warning: At least one delay-load dependency module was not found.
Warning: At least one module has an unresolved import due to a missing export function in a de

[2019-11-08 01:17] gabrielarantest commented on #543
Here it is. Thank you for keeping fixing this amazing software.

[JASP.zip](https://github.com/jasp-stats/jasp-issues/files/3822499/JASP.zip)

_Error: At least one required implicit or forwarded dependency was not found.
Error: At least one module has an unresolved import due to a missing export function in an implicitly dependent module.
Warning: At least one delay-load dependency module was not

[2019-11-08 01:35] scroono commented on #543
pleasing to see that the errors look similar!

[2019-11-08 09:57] Kucharssim commented on #244
This feature is implemented for the next release.

[2019-11-08 09:57] #244 closed

[2019-11-08 09:57] Kucharssim commented on #298
This feature is implemented for the next release.

[2019-11-08 09:57] #298 closed

[2019-11-08 09:57] Kucharssim commented on #488
This feature is implemented for the next release.

[2019-11-08 09:57] #488 closed

[2019-11-08 10:40] JorisGoosen commented on #543
Thanks for uploading the info!

It looks like the dlls loaded fine actually, which is what dependency walker checks. Those errormessages are always shown.

But that means that something else is wrong. Maybe something with the graphics?

If you could try the following in a CMD prompt (just type `cmd` after clicking the windows icon and you should get a small console screen where you can issue comma

[2019-11-08 16:58] rcgraz opened #547 "Network analysis Tuning parameter"
* JASP version: 0.11.1

* OS name and version: Windows
* Analysis: Network
* Bug description: Tuning parameter not working
* Expected behaviour: The tuning paramater is not excluding relationships with low correlation values as it should be. For example, with a tuning parameter of 0.9, all connections are still shown. The network does change with a change in a tuning parameter, so something is hap

[2019-11-09 17:43] gabrielarantest commented on #543
It works, that's amazing

Now even when I directly click on the jasp icon it lunches normally.

![image](https://user-images.githubusercontent.com/57457064/68532672-280bcf00-02ff-11ea-97d2-807a099e9088.png)

[2019-11-09 18:05] JorisGoosen commented on #543
So this seems to be related to your graphics cards then.

While this way does work, the interface will be a bit slower (and will look less smooth because all animations are turned off) then would be the case otherwise.

What kind of graphics card(s) are in your computer and maybe you could try updating them?

[2019-11-09 18:13] gabrielarantest commented on #543
Here is my card and driver info:

![image](https://user-images.githubusercontent.com/57457064/68533158-7a4eef00-0303-11ea-9466-13c65ae4423d.png)

[2019-11-09 22:30] tjbelliveau opened #548 "bayesian binomial sequential analysis, reversed label of strength of evidence on graph?"
* JASP version: 0.11.1

#### Steps to reproduce: Frequencies > Bayesian Binomial > Sequential Analysis
Unless I am misinterpreting the graph, the label which populates the field for Strength of Evidence does not correspond with the data / evidence graph below, and I suspect it's reversed

![image](https://user-images.githubusercontent.com/57575906/68535822-82fcf080-0316-11ea-8625-b808ec1ac674.png)

[2019-11-10 08:52] anbiro commented on #499
Dear Joris,

the description of the problematic JASP installation was on the side
https://jasp-stats.org/linux-installation-guide that gave the result
that I described earlier:

sudo flatpak install http://static.jasp-stats.org/flatpak/JASP.flatpakref
Installing: org.jaspstats.JASP/x86_64/master
Required runtime for org.jaspstats.JASP/x86_64/master
(org.kde.Sdk/x86_64/5.12) is not installed, searc

[2019-11-10 14:07] JorisGoosen commented on #543
And you do not have an intel card in there as well?

[2019-11-10 14:09] JorisGoosen commented on #499
Aah yeah those were the old instructions. I just noticed that they were a bit unclear. I will make it a bit clearer so that the next person who is unfamiliar with flatpak will not run into the same problems as you did!

[2019-11-10 15:33] gabrielarantest commented on #543
No, I don't think so, it is a desktop pc, not a laptop. My motherboard does have an integrated gpu, but I never use it, and I haven't even installed any driver of it.
![image](https://user-images.githubusercontent.com/57457064/68546558-5698b100-03b6-11ea-8044-b95c8dae5661.png)

[2019-11-10 15:53] JorisGoosen commented on #543
Hmm strange, I usually see problem on intels, but you have the latest drivers from nvidia and apparently that gives problems...

Well, at least it runs for you.

@scroono does this work for you as well?

[2019-11-10 15:56] AlexanderLyNL commented on #543
Could this be a visual studio issue?

[2019-11-10 15:58] JorisGoosen commented on #543
@AlexanderLyNL I don't think this has anything to do with visual studio.

[2019-11-11 17:31] cddesja opened #549 "Please add Wilkinson dot plot"
* Enhancement: Please add Wilkinson dot plots to plot types
* Purpose: Alternatively, way to visual scale level data
* Use-case: As an instructor for introductory statistics, I use Wilkinson dot plots as a way for students to check modeling assumptions and to introduce the concepts of bootstrapping and randomization. Given the arbitrary bin width of histograms, I would like to see dot plots as an

[2019-11-12 10:08] JorisGoosen opened #550 "Column imported wrong from SPSS"
This issue was reported by Lee Wurm through email:

The dataset was also mailed but not added because I do not know if I can.

[2019-11-12 17:41] gustavobrp commented on #295
I know this is closed, but, I tried again to display the conditional estimate plot and didn't worked. Some news about this issue?

[2019-11-13 14:36] DrDaveExeter opened #551 "there is no package called 'withr'"
* JASP version: Version 0.9.2

* OS name and version: Win7
* Analysis: Logit
* Bug description: Error with plot
* Expected behaviour: I see a plot

#### Steps to reproduce:
1. Go to '...' Regression
2. Click on '....' Logistic Regression
3. Analysis works fine

Model summary
--

Note.  risky2 level   '1' coded as class 1.
--

4. But asking for plot produces a crash every time

[Risky2017.xlsx](htt

[2019-11-13 14:46] TimKDJ commented on #551
This is fixed in our newer versions (see https://jasp-stats.org/download/)

[2019-11-13 14:46] #551 closed

[2019-11-13 15:08] DrDaveExeter commented on #551
Thanks, should have thought of that!

[2019-11-13 15:10] TimKDJ commented on #551
No worries :)
We've added loads of features since 0.9.2 -- enjoy!

[2019-11-13 19:20] user-group opened #552 "Path diagram doesn't show; gives error message"
* JASP version: 0.11.1
* OS name and version: MacOS
* Analysis: Structural Equation Modeling, Advanced, Path Diagram
* Bug description:

The box for "Path diagram" is ticked, but no path diagram is presented.
Instead, a red error message appears, stating:

"attempt to select more than one element in integerOneIndex"

#### Steps to reproduce:
1. Load the data file (which I can share, but can't make

[2019-11-15 01:01] douglasbarraza commented on #468
Beste van Kesteren

Im sorry to bother you with this, all those numbers and/or codes mean we are able to get the % of variance explained???

Best,

[2019-11-15 05:43] scroono commented on #543
this hack has got it working. I'm on a surface pro with everything updated; it doesn't make sense to me *why* it would be a video card issue, but I'm happy to live without the bells & whistles if I can do the analyses!

[2019-11-15 09:58] #543 closed

[2019-11-15 14:42] JorisGoosen commented on #496
Ok, I have been working on this, but the current development code (where I wanted to fix this) needs Qt 5.13 and there seems to be a pretty showstopping bug there, so I can't.

I do not know how pressing this issue is for @drpetersen and @tomtomme but I would be inclined to wait for them to fix that. And then I will solve our issue for the next release.

If you desperately need to change something

[2019-11-15 14:49] drpetersen commented on #496
@JorisGoosen Thank you very much for your time and effort. For me, this is not really a pressing issue. It was slightly (but really only slightly) embarrassing when I wanted to show my students around the program and it didn't work as expected :-), but there is nothing really dramatic in this for me.

What would really help in the meantime is a workaround for setting the custom NA strings. Is ther

[2019-11-15 15:08] JorisGoosen commented on #496
No problem!

You can easily add the missing/NA strings in the config file `~/.var/app/org.jaspstats.JASP/config/JASP/JASP.conf` (where `~` is your home folder).

And then see if you can find something like `MissingValueList=NaN|nan|.|NA`, by adding new values separated by the pipe symbol you should be able to do what you want. If it is missing then just past this and then edit how you like!

[2019-11-15 15:15] drpetersen commented on #496
Great, thanks! This is really helpful.

[2019-11-15 15:50] #548 closed

[2019-11-15 15:51] TimKDJ commented on #548
Thanks for bringing this to our attention, we've fixed it

[2019-11-16 15:04] jj14c opened #553 "Bug Shapiro-Wilk Test"
* JASP version: 0.11.1.0
 Windows
* Analysis:  Shapiro-Wilk Test
* Bug description:
This analysis terminated unexpectedly.
Error in shapiro.test(param): all 'x' values are identical
Stack trace
analysis(jaspResults = jaspResults, dataset = dataset, options = options)

.descriptivesDescriptivesTable(dataset, options, jaspResults, numberMissingSplitBy = numberMissingSplitBy)

.descriptivesDescriptiv

[2019-11-18 11:42] EJWagenmakers opened #554 "JASP in an RDS environment: clipboard doesn't work"
From the JASP Forum:

"I wonder if anyone else has had a similar experience and can offer some advice...
We use JASP in an RDS environment, distributing it to our end users as a RemoteApp.

However, the clipboard doesn't work.

If I run the program locally, the copy function is fine. If I connection to the console / admin RDP session, then the clipboard also works. However if I use a "regular" RDP

[2019-11-19 15:57] Saguaroman opened #555 "Syncing JASP-SPSS 26"
* JASP version:  0.11.1
* OS name and version: Windows 10
* Analysis:  Syncing data files
* Bug description: When I make changes in an SPSS data file linked to a JASP file, the changes don't show up in the JASP data.

* Expected behaviour: When I double click the SPSS file opens, I make changes to numbers in the SPSS file and I expect those will show up in the JASP file, either instantly, or at le

[2019-11-19 18:09] gbg33k opened #556 "Y-axis scaling error in Scree Plots for factor analysis"
* JASP version: 0.11.1

* OS name and version: Windows
* Bug description:  Scree Plot for factor analysis has incorrect scaling on vertical axis.  For a data set that has the eigenvalues of 3.3535, 1.6674, 1.5860, 0.1879, 0.1104, 0.0506, 0.0442, the scree plot should look like the first image below (correctly generated by JASP 0.9.2.0).  However, in later versions (I first noticed the problem in v

[2019-11-20 13:07] jasminemoreira opened #557 "JASP crashes when creating a new column"
* JASP version: 0.11
* OS name and version: MacOS Mojave
* Analysis: none
* Bug description: crash
* Expected behaviour: create a new column

#### Steps to reproduce:
1. Open a CSV tables
2. Add a new column using "+" button
3. Fill the name
4. Choose the type
5. Click on "Create Column"
6. See error

[logs.zip](https://github.com/jasp-stats/jasp-issues/files/3869301/logs.zip)

[2019-11-20 15:28] JorisGoosen commented on #557
So it just crashes directly after you click "Create Column"?

And does it also crash with a different data?

[2019-11-21 12:21] Kucharssim commented on #489
Hello @vicenteinefo,

thank you for pointing this out! However, this is not a bug, because the coefficient R in the linear regression table is not a classical Pearson's correlation between the two variables, but a multiple correlation coefficient (see help files and https://en.wikipedia.org/wiki/Multiple_correlation) so that it can be generalised to models with multiple predictors. As such, it is

[2019-11-21 12:21] #489 closed

[2019-11-22 12:54] jasminemoreira commented on #557
The error simply disappeared after a couple of days. I can't reproduce it anymore and I have no clue about what was wrong. I did not change the table neither updated anything. Sorry about that, I think this issue can be closed.

[2019-11-22 12:54] #557 closed

[2019-11-22 14:20] JorisGoosen commented on #557
Well, at least it works now!

[2019-11-22 17:23] MTom68 commented on #541
Hi,
I have the attached JASP file - however, I wonder if it contains the data
as well since the original data set is in SPSS...
Please let me know whether this is the right file or should I send the
original SPSS.

Obviously, data is confidential. Please handle it accordingly.

Thanks for your help,
Tamas

AlexanderLyNL <notifications@github.com> ezt írta (időpont: 2019. nov. 7.,
Cs, 10:17):

[2019-11-24 17:49] Kibria2017 opened #558 "GIS map"
Do you have any plan to integrate GIS map (like, world map) in it?

[2019-11-24 18:20] Kibria2017 opened #559 "JASP UI"
1. the size of menu icon can be decreased and the color can be changed to JASP logo's color.

2. data visualization add-in can be added to run other than the conventional graphs (a good open-source resources are available at http://r-statistics.co/Top50-Ggplot2-Visualizations-MasterList-R-Code.html) including publishing interactive charts (like R shiny).

[2019-11-25 18:17] alliecat966 opened #560 "Repeated Measures ANOVA Error"
* JASP version: 0.11.1

* OS name and version: macOS Catalina
* Analysis: Repeated Measures ANOVA
* Bug description: I am trying to conduct a repeated measures ANOVA in JASP. I have one repeated measures factor (a biomarker that is continuous, collected before and after an intervention so the levels, or repeated measures cells, are baseline and post). I would like to add one covariate (age) and th

[2019-11-26 17:13] vankesteren commented on #556
Hi,

it seems from your images that this issue has to do with the difference between factor analysis and principal components analysis. Here's what the `psych` package author has to say about it (from [this link](https://www.rdocumentation.org/packages/psych/versions/1.8.12/topics/fa.parallel)):

So perhaps, the y-axis for the factor analysis should not be labelled as "eigenvalues" but rather as "

[2019-11-26 22:42] gbg33k commented on #556
Hello!

Thanks for your email.  The option to turn on that plot is titled “scree plot”.  Scree plots should plot eigenvalues and not communalities.  Note that horizontal line appears at the value which corresponds to the value that the user enters for  “Eigenvalues > ___”.  If the y axis is relabelled to communalities, then both the “scree plot” and “eigenvalues > ____” options would not make any

[2019-11-27 10:36] FransMeerhoff commented on #518
Hello @LoulouLouis

Sorry for the late reaction, but we can report you that this issue is solved in the coming release.
We plan to publish this release JASP 0.12 at the end of this year.
So I close this issue for now.

Thanks again for reporting and helping us.

Kind regards
Frans Meerhoff

[2019-11-27 10:36] #518 closed

[2019-11-27 16:52] gbg33k commented on #556
Hello again,

I re-examined the data and I do think the issue is a plotting error and not an issue with the FA package.  I double-checked the analysis in R (console output below).  The eigenvalues generated by the parallel analysis are highlighted in green below, which do not match with the values plotted in JASP (see screenshot after the output please).  In case it is of any help, here is the [da

[2019-11-27 18:22] jasminemoreira opened #561 "JASP Crashes on big tables analysis"
JASP version: 0.11
OS name and version: MacOS Catalina
Analysis: Contingency Tables
Bug description: Crashing
Expected behaviour: Not crashing

#### Steps to reproduce:
1. Go to Frequencies
2. Click on Contingency Tables
3. Chose two fields (TP_TURNO, TP_GRAU_ACADEMICO)
4. See error

[teste.csv.zip](https://github.com/jasp-stats/jasp-issues/files/3898298/teste.csv.zip)

[2019-11-30 13:35] lazy-user commented on #560
Hi alliecat966,

you may have no missing raw data, but you likely have empty cells as indicated by JASP. An ANOVA creates groups of all possible combinations of your between-subjects factor conditions. That is, you may have no participant in group 1, who is male and has the education "other", etc. etc., and, thus, group size is zero and the ANOVA can't be run.

[2019-12-01 03:24] chantelanuit opened #562 "Model check - Consider adding the Q-Q plots and histograms based on studentized residuals"
* Enhancement: JASP 0.11.1 only allows the computation of standardized residuals
* Purpose:  "Studentized deleted residuals (SDRESID), as discussed by Norusis, p. 515, take advantage of the fact that you can see the impact of a case on the slope by calculating a regression with and without the slope. As the name implies the studentized deleted residual is the Studentized residual when the case is

[2019-12-01 03:34] chantelanuit commented on #562
Maybe it would be beneficial to also **add a dotted normal curve over the histogram** of the residuals. In the present version, only a density curve of the data is included (that one use is useful though).

[2019-12-01 11:48] App-State-Prof opened #563 "graphics and output to cluster analysis"
Please consider additional graphic outputs and results for cluster analysis. I run then currently in Radiant, a GUI add on to R studio. Note the output, shows the case clusters relate to mean score (on 4 point scale) for each variable. This seems so easy to report and write about. Can we have that output in JASP?

![cluster](https://user-images.githubusercontent.com/33431829/69913437-d2aa7580-1405

[2019-12-01 11:57] App-State-Prof opened #564 "More graphic outputs in regression/classification tree analysis"
Thank you for the new machine learning module. Is is possible to add more graphic outputs for regression and classification trees? I am currently using Radiant, a GUI add on to R studio.

Please see below, tree output helps in publications.

![tree](https://user-images.githubusercontent.com/33431829/69913606-ae4f9880-1407-11ea-973a-39f6aa544675.JPG)

Dr. Thomas Mueller
Appalachian State University

[2019-12-01 12:10] App-State-Prof opened #565 ""Drag and drop" to build SEM models"
I have attempted to use the Structural Equation Model in JASP but it requires coding. See below this is the open source GUI I have been using. It's "drag and drop" to build model, much like AMOS, then import data into model. Can we add this non code model building into the JASP SEM module?

http://onyx.brandmaier.de/

![onyx](https://user-images.githubusercontent.com/33431829/69913726-85c89e00-140

[2019-12-03 20:12] ToddDaniel opened #566 "Feature Request: Chi-Square Using Multinomial Test"
I am creating an assignment on chi-square using the multinomial test in JASP. In the first of my examples, the expected values are random (equal) and in the second example, the expected values are from a comparison population. I would like to request the following additions for the chi-square results in **Frequencies > Multinomial Test**
1. In the Multinomial Test table, add a column with **Phi an

[2019-12-03 20:15] EJWagenmakers commented on #566
All good suggestions. Guys, who can handle this?

[2019-12-03 22:00] bulgerland commented on #561
I'm encountering the same issue with a 9MM+ record file. I am unable to share the file due to client restrictions.

[2019-12-05 08:10] mservantufc commented on #288
Hi Guys,
I was wondering if this custom contrast project was achieved ? I'll start my stats class in january, and it would be good for students to have this feature implemented.
Best,
Mat

[2019-12-05 08:21] JohnnyDoorn commented on #288
Hi Mat,

The implementation is almost finished, and will be in the new release - now it's just a question of when the other targets are met and it can be released. We are aiming for early January, but unfortunately we cannot promise any strict deadline.

Cheers,
Johnny

[2019-12-10 09:46] JorisGoosen commented on #561
@bulgerland are you also working on MacOS Catalina?

[2019-12-10 11:46] bulgerland commented on #561
I am. We broke the file up into 3MM record segments and had the same issue.

[2019-12-10 11:59] jasminemoreira commented on #561
@JorisGoosen I do!

[2019-12-10 13:11] JorisGoosen commented on #561
@jasminemoreira yeah I saw, that is why I asked.

I'll check it out before the next release. And unless something truly crazy is going on it will be fixed then, next release will probably be next month somewhere.

[2019-12-10 13:26] jasminemoreira commented on #561
@JorisGoosen Thank you very much!!! :-)

[2019-12-10 15:15] #126 closed

[2019-12-11 13:01] JorisGoosen commented on #561
So it turns out we already fixed it, for me 0.11.1 crashes and the development version for 0.12 works already.

[2019-12-11 13:01] #561 closed

[2019-12-11 13:26] #335 closed

[2019-12-11 13:27] #412 closed

[2019-12-11 13:43] vankesteren commented on #565
Hey Thomas,

we are aware of onyx, and while it is free it is unfortunately not open source, and the license is unclear. This makes it hard/impossible for us to integrate this. In the future, we might look at a graphical interface for SEM, but for now it is not on top of our to-do list.

The documentation states that it is possible to generate `lavaan` code from the onyx interface, however, so you

[2019-12-11 13:43] #565 closed

[2019-12-11 13:49] App-State-Prof commented on #565
Erik-Jan thank you...I will try to bring the code over from Onyx...would
like to experiment with that.

Thomas S. Mueller PhD MBA
Professor, Advertising Communication
Faculty in Residence, founder Active Living RLC
Appalachian State University
(828)262-2228
profwriter.com

On Wed, Dec 11, 2019 at 8:43 AM Erik-Jan van Kesteren <
notifications@github.com> wrote:

[2019-12-11 13:50] vankesteren commented on #556
Hi Christine,

in JASP we use the `psych` package directly to perform parallel analysis for this scree plot (see [this line of code](https://github.com/jasp-stats/jasp-desktop/blob/fa815f41a4074287c40c6fba392bb5e79d63bd9e/JASP-Engine/JASP/R/exploratoryfactoranalysis.R#L390)). The difference is that what is called `eigenvalue` is actually not a pure eigenvalue, but "estimated communalities based up

[2019-12-12 11:07] pandelis commented on #288
Hi,

Waoow !
That means that we should be able to teach using JAPS this semester ! (lectures on ANOVA will begin on February).
This is such a good news for us ! (JASP will be a lot easier to teach and to manipulated than previous softwares that we used so we will be able to go further)

Thanks for your fantastic work !
Boris

[2019-12-17 01:05] sujitiiml opened #567 "Exploratory Graph Analysis"
Can we have incorporate exploratory graph analysis similar to "EGA" package by Golino (2018) (https://github.com/hfgolino/EGAnet).

I believe this is necessary and will add to the functionality and usefulness of network analysis in JASP.

[2019-12-17 14:34] YifeiLi121 opened #568 "Problems with displaying figures"
The figures are not displayed in JASP.  I can only see it afer saving as photos.

[2019-12-17 23:55] JorisGoosen commented on #559
Hey @Kibria2017

With the menu-icon you mean the hamburger menu on the left-hand side of the ribbon? Because I will check it out. Maybe it'll look better than gray.

As far as the data visualization goes, we are working somewhat actively on plot editing, which would give us also somewhat interactive plots. This will all be based on ggplot as far as I can see. Anything specific you'd like to see?

[2019-12-17 23:56] JorisGoosen commented on #558
Why would we want to integrate that?

[2019-12-18 08:00] AlexanderLyNL commented on #558
For geographical analyses. Currently, this is not on the top of our priority as most of our users are in the social sciences, but it could be something for the future.

[2019-12-18 10:57] wanyue-li opened #569 "Problems with opening the JASP"
Everytime I open the JASP, it popups an information box says that "Fatal error: unable to open the base package".

Has anybody ever experienced this? Could you please tell me how to fix this?

Thanks a lot!

[2019-12-18 12:35] LorentzEL opened #570 "Innstallation and opening in Mac failed"
* JASP version:

* OS name and version: MAc OS Catalina 10.15.1
* Analysis: I want to install and use the latest version of JASP.
* Bug description: The program cannot be opened. Because Mac cannot check the program for "bad" programs.
* Expected behaviour: what can I do?

#### Steps to reproduce:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

[2019-12-18 13:27] FransMeerhoff commented on #570
Hi @LorentzEL

We are aware of this problem (signing of the software has changed in Catalina) but there is a simple work-around for this issue:
After installation:
- If you go to the application folder and you RIGHT click on the JASP app and open it, it opens a window about the check about the malicious software. Now click on OK
- If you RIGHT click on the JASP app for the second time and open the

[2019-12-18 23:43] akashrajkn commented on #569
@wanyue-li thanks for reporting this. Which version of JASP are you using? And on which Operating system?

[2019-12-19 00:56] wanyue-li commented on #569
Hi, it's the newest version of JASP(0.11.1.0). My operating system is 64-bit Windows.

[2019-12-19 03:39] Kibria2017 commented on #558
I understand your point. It will be useful for those who work on infectious disease epidemiology.

[2019-12-19 03:49] Kibria2017 commented on #559
Hi Joris, Thanks for your response. The color of hamburger menu can be changed to something noticeable. I am also pointing out the size of menus ---- can they be reduced in any way? It may be useful if you bring module menus alongside with landing page menus. What are the types of graphs you are going to introduce in the interactive plots?

[2019-12-19 11:25] LorentzEL commented on #570
Thank you very much. I found my way around the problem.
Best regards

Lorentz

[2019-12-19 11:39] AlexanderLyNL commented on #570
Thanks for reporting back.

[2019-12-19 11:39] #570 closed

[2019-12-19 12:20] JorisGoosen commented on #559
Well, we have some plots being added through an extension by an american contributor. I'm not sure what is included there, maybe @AlexanderLyNL or @TimKDJ can say more about that.

I like the idea of being able to change the size of some menus, with "landing page" you mean the open/save/etc menu?

[2019-12-19 12:23] galitshaham opened #571 "3-way repeated measures ANOVA"
* JASP version: 0.11.1.0
* OS name and version: Windows 10
* Analysis: repeated measures ANOVA
* Bug description: When adding my variables I get the following error and no results. What is this about?
--------------------------
[FacesInContextValidation2.zip](https://github.com/jasp-stats/jasp-issues/files/3983548/FacesInContextValidation2.zip)

This analysis terminated unexpectedly.

Error in `[<

[2019-12-19 13:45] #556 closed

[2019-12-19 22:48] NilsSim opened #572 "Random Forest Classification | Terminated unexpectedly"
* JASP version: 0.11.1
MacOS
* OS name and version:10.14.5
* Analysis: Random Forest Classification
[Archive.zip](https://github.com/jasp-stats/jasp-issues/files/3985938/Archive.zip)

Data and jasp file attached in zip
cheers and thanks a lot!

* Bug description:
* Expected behaviour:

#### Steps to reproduce:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

[2019-12-19 23:20] #572 closed

[2019-12-20 07:55] MTom68 commented on #541
Hi, did you get my previous post?
Would it work for checking the problem or should I provide any other
information?
Meanwhile, we encountered a similar problem (not on my computer):
multigroup CFA analysis works for one dichotomous variable but doesn't work
for other (non-dichotomous) variables.

Best, Tamás

Martos, Tamás <martos.m.tamas@gmail.com> ezt írta (időpont: 2019. nov. 22.,
P, 18:23):

[2019-12-20 10:28] vankesteren commented on #541
Hi Tamás,

I'll work on this ASAP after the christmas/new years break!

Erik-Jan

[2019-12-20 10:55] MTom68 commented on #541
Great, thanks for the info.
Tamas

Erik-Jan van Kesteren <notifications@github.com> ezt írta (időpont: 2019.
dec. 20., P, 11:28):

[2019-12-20 11:24] DrMarkGS opened #573 "Niggling plot differences between classical and Bayesian paired t-test"
* JASP version: 0.12 (17th December nightly)
 Win 10
Simple paired t-tests of pre vs post diet body mass.
Classical paired t-test plots intuitively i.e. pre and then post values.
Bayesian paired t-test plots the other way around (alphabetically) post and then pre values.
![t-test plots](https://user-images.githubusercontent.com/39003008/71251601-b4f07200-231a-11ea-910a-b320deb25c3c.PNG)

Additiona

[2019-12-20 18:08] tomtomme commented on #491
<img width="960" alt="Screenshot_20191220_190552" src="https://user-images.githubusercontent.com/4428185/71280582-e6d5f880-235b-11ea-8c0f-61b5b91e0b93.png">

I made this for my students lately. Maybe it can be used as a guideline for the most important plot types. Some boxes have one or more alternatives of otherwise very similar plots. Of those only one is really needed.

[2019-12-20 18:16] EJWagenmakers commented on #491
I think this organisation is very helpful. @TimKDJ @boutinb let's discuss how we can best use this to our advantage.

[2019-12-20 18:20] tomtomme opened #574 "Adjust slope or wrap long labels"
In JASP 0.11.1 I get overlapping labels even if I stretch the graph quite a bit, see the middle plot here:
<img width="1206" alt="Screenshot_20191220_185717" src="https://user-images.githubusercontent.com/4428185/71281167-834cca80-235d-11ea-9750-93c709f9373a.png">

Would be nice to adjust the slope / angle of long labels. Or to auto-wrap the labels into more rows.

[2019-12-23 23:03] Crom60 commented on #146
@JorisGoosen I don't know why you closed this. The issue that the original poster posted is the exact issue I am having. The new version does not work.

[2020-01-01 18:21] Saguaroman commented on #555
Hi:  Has there been any progress on this issue?  I continue to have this problem across multiple machines. It is going to be a challenge to teach stats with JASP this coming semester if editing SPSS data files isn't possible. Thanks!  Jake

[2020-01-01 19:09] JorisGoosen commented on #555
Hello, I didn't have the chance to look at it yet but was certainly planning to do so before the next release, it sounds like it probably isn't too involved to fix.

[2020-01-03 06:48] jazjef opened #575 "Linear Discriminant Classification"
* JASP version: 0.11.1

* OS name and version: Windows 10
* Analysis: Linear Discriminant Classification
* Bug description: coefficients exist, but 'constants' for the functions are missing
* Expected behaviour: function coefficients should be accompanied by their constants----these are necessary to create the classification equation.

#### Steps to reproduce:
Simply run any 'Linear Discriminant C

[2020-01-03 15:19] boutinb commented on #546
This will be in JASP 0.12

[2020-01-03 15:19] #546 closed

[2020-01-03 15:43] boutinb commented on #568
Can you give me more information as described in the Bug Report template of the issue?

[2020-01-03 15:48] boutinb commented on #569
Can you try to start JASP from the command line:
. Open a command prompt
. type cd "c:\Program Files\JASP" to go the installed JASP folder
. then type .\JASP to start JASP
Can you give me the output in the command prompt?

[2020-01-03 15:52] boutinb commented on #574
We will add Plot editing so that you can adjust the labels. Not the next release, but the release afterwards. But maybe can @vandenman give you some tricks to get a better plot.

[2020-01-03 20:09] nelsoncowan opened #576 "Post-hoc tests in frequentist ANOVA - wrong answer I believe"
I have carried out a repeated measures ANOVA in the same way using Bayesian and frequentist ANOVA methods and you can tell from the marginal means that the post-hoc tests in the frequentist ANOVA are somehow wrong. The attached file provides all of the information you need....By the way, I wish the marginal means could be shown within the Bayesian analysis as well.
[CowanIssueFrequestistPostHocs.z

[2020-01-03 20:13] EJWagenmakers commented on #576
@JohnnyDoorn ?

[2020-01-04 15:37] tomtomme commented on #574
Thats good to hear :) Thanks for the info. Some tricks would be apreciated.

[2020-01-04 15:48] koenderks commented on #575
Alright, thanks! Should be implemented in the next release via Pull Request https://github.com/jasp-stats/jasp-desktop/pull/3710.

See image below:

![image](https://user-images.githubusercontent.com/25059399/71767935-e4ee6680-2f11-11ea-9657-731526c445bd.png)

[2020-01-04 15:48] #575 closed

[2020-01-04 15:49] koenderks commented on #575
If you keep track of when the pull request is merged into the development branch, you can download the version of JASP containing the fix for the constants the following day at http://static.jasp-stats.org/Nightlies/

[2020-01-05 03:49] DocGavin opened #577 "unexpected input error"
JASP v0.11.1; windows 10 64-bit
SEM Module
enter lavaan syntax. copied text from functioning syntax in a notepad++ file
got unexpected input error for the last line of syntax
syntax is
'
Bad =~ bd1 + bd2 + bd3 + bd4 + bd5
CE =~ ce1 + ce2 + ce3 + ce4 + ce5 + ce6
IG =~ ig1 + ig2 + ig3
PE =~ pe1 + pe2
SF =~ sf1 + sf2 + sf3
SI =~ si1 + si2 + si3 + si4 + si5
SQ =~ sq1 + sq2
TI =~ ti1 + ti2 + ti3 + ti4

[2020-01-05 10:49] hcp4715 commented on #38
I recently encountered this issue and posted my question in the forum: https://forum.cogsci.nl/discussion/3013/what-denominator-does-the-cohens-d-use-on-jasp

Assume that we calculate Cohen's d as suggested [here](https://janhove.github.io/analysis/2017/02/22/confidence-intervals-for-standardised-effect-sizes), i.e., use `effsize::cohen.d(..,  paired=T, ...)` to calculate Cohens'd and `MBESS::ci.s

[2020-01-05 12:13] koenderks commented on #563
Please confirm that I have understood this request correctly. To be specific, you are requesting the following additions:

+ A table containing the cluster means for every variable
+ A table containing percentage of within cluster heterogeneity accounted for by every cluster
+ A plot containing for each variable the cluster means with their x% confidence intervals
+ A plot containing for each vari

[2020-01-05 12:20] koenderks commented on #564
I remember that we have also had discussions about this output when implementing the module. The issue we ran into back then was that the results of the random forest and boosting analyses are based on multiple trees, and we were unsure whether showing one of these might be appropriate. Except it you specify one tree? After that, priorities kind of shifted to other things.

It would be useful to i

[2020-01-05 12:35] koenderks commented on #380
The bain package returns an informed error when this happends:

![image](https://user-images.githubusercontent.com/25059399/71780232-36552f00-2fc0-11ea-9025-a0c9b0543bfd.png)

[2020-01-05 12:35] #380 closed

[2020-01-05 12:36] #370 closed

[2020-01-05 13:52] App-State-Prof commented on #563
Koen yes that does seem correct. Sometimes I take the table that gives me
the mean scores within the variables for each of the Clusters and build a
graph for that.

The other two graphic representations show mean comparison for each
variable and data distribution and overlap within the variable.

I am sorry I do not have the R code... I do this work in Radiant within R
studio because I do not know

[2020-01-05 14:08] App-State-Prof commented on #564
Koen thank you for looking into this. It has been a while since I ran tests
for regression and classification trees. However, for the test settings I
used, one tree was represented for each test. I would different types of
tests, and parameters, to build different trees. Then I would use the one
that made the most sense to my readers for the related Journal article.

On Sun, Jan 5, 2020, 6:20 AM K

[2020-01-05 15:04] McAlyster opened #578 "OSX : Filename in the Dock"
* Enhancement: Display the name of the file in the Dock or the swtich app banner
* Purpose: Really handy when many JASP files are open
* Use-case: Let's say I have 5 JASP documents open, one per experimental blocks I am currently working on. When I want to switch (with a keyboard shortcut) from a JASP doc to another, I have to let the document getting displayed to see its title.The name of the doc

[2020-01-06 02:40] amandairions opened #579 "Reporting a bug in 0.11.1 with contingency tables."
* JASP version: 0.11.1

* OS name and version: High Sierra 10.13.6
* Analysis:
* Bug description:

Error in (new('C++Function', .Data = function (...) : map::at:  key not found

Stack trace
analysis(dataset = dataset, options = options, perform = perform, callback = the.callback, state = oldState)

.readDataSetToEnd(columns.as.factor = factors, columns.as.numeric = counts.var)

.fromRCPP('.readDat

[2020-01-06 08:38] boutinb commented on #579
Hello @amandairions, can you send a JASP file with your error?

[2020-01-06 08:42] boutinb commented on #38
@JohnnyDoorn Can you have a look to this issue?

[2020-01-06 08:48] vankesteren commented on #577
does removing the quotation marks help?

[2020-01-06 13:09] vandenman commented on #574
Unfortunately, this is the best we can do at the moment. You could rename the labels to be shorter or use abbreviations.

[2020-01-06 13:09] #574 closed

[2020-01-06 19:09] koenderks commented on #563
Alright, I have implemented a cluster means table and a cluster density plot so far. It should be fine to have these things in the next release I think. The plot and table right now look like below. @App-State-Prof Do you have any feedback on this table and figure so far? Will let you know more when finishing the other two!

![image](https://user-images.githubusercontent.com/25059399/71841630-2886

[2020-01-06 20:24] DocGavin commented on #577
Hi Erik
Thanks for suggestion
I removed the quote marks and JASP seemed to like that but it then crashed
Again windows 10, 64-bit; v0.11.1 JASP
What other information might you want?
Here is the lavaan syntax I used. It’s a bifactor model that has run in RStudio

BD =~ bd1 + bd2 + bd3 + bd4 + bd5
IG =~ ig1 + ig2 + ig3
SI =~ si1 + si2 + si3 + si4 + si5
TI =~ ti1 + ti2 + ti3 + ti4 + ti5 + ti6
CE =~

[2020-01-06 20:41] koenderks commented on #563
These things should be implemented in the following pull request.

+ Added a table entry in the "cluster information" table for "Explained proportion within-cluster heterogeneity":
![image](https://user-images.githubusercontent.com/25059399/71847336-eca63a80-30cc-11ea-867d-7e337dad9585.png)

+ Added a new table containing cluster means for each predictor variable
![image](https://user-images.githu

[2020-01-06 20:51] koenderks commented on #563
@App-State-Prof If you keep track of when the pull request is merged into the development branch, you can download the version of JASP containing these implementations the following day at http://static.jasp-stats.org/Nightlies/

[2020-01-06 22:01] koenderks commented on #564
Thanks for the comment. I believe that the problem with showing one tree in the boosting and random forest methods is that they do not resemble the total outcomes. The total outcomes are based on an ensemble of trees, so showing one might not be representative of the solution.

I think the solution to this issue is the following. Add a new analysis: `decision trees` (which only creates 1 tree) for

[2020-01-06 22:34] App-State-Prof commented on #564
Koen that is excellent. I will be honest, simplicity is best for me. A
decision tree option for classification and regression trees would be the
best for students, too!

Thomas S. Mueller PhD MBA
Professor, Advertising Communication
Faculty in Residence, founder Active Living RLC
Appalachian State University
(828)262-2228
profwriter.com

On Mon, Jan 6, 2020 at 5:01 PM Koen Derks <notifications@git

[2020-01-06 22:34] App-State-Prof commented on #563
This is excellent I will love to test the latest versions.

Thomas S. Mueller PhD MBA
Professor, Advertising Communication
Faculty in Residence, founder Active Living RLC
Appalachian State University
(828)262-2228
profwriter.com

On Mon, Jan 6, 2020 at 3:51 PM Koen Derks <notifications@github.com> wrote:

[2020-01-06 22:36] App-State-Prof commented on #563
Density of clusters graphics are excellent...love it!

I don't understand Sepal and Pedal length and width. How does this reflect
on the mean score for each of the variables captured in each cluster?

Is there a way to have a graphic output showing comparison graphs with mean
scores with the cluster variables?

Thomas S. Mueller PhD MBA
Professor, Advertising Communication
Faculty in Residence, fo

[2020-01-06 22:56] koenderks commented on #563
I'm sorry, I do not understand your question entirely. For this output, I used some example data. Do you have some data you can share (maybe as a .csv file) here that I may create an example with and share back here? Maybe that clarifies.

"Is there a way to have a graphic output showing comparison graphs with mean
scores with the cluster variables?"

Do you mean a graph with the clusters grouped?

[2020-01-07 12:18] vandenman commented on #547
Perhaps you are looking for the `Minimum` box (Graphical Options -> Edges -> Minimum)? Changing that value removes edges below the threshold.

Modifying the tuning parameter does not necessarily put all coefficients to zero, it corresponds to the gamma parameter in [`qgraph::EBICglasso`](https://www.rdocumentation.org/packages/qgraph/versions/1.6.4/topics/EBICglasso).

Below an example in R:
[code

[2020-01-07 15:09] App-State-Prof commented on #563
Koen good morning. Please see below. This is output from Radiant for a
cluster analysis on ten resilience variables. Each variable was a 4-point
measure. The output gives me the mean score for each cluster, related to
each variable.

I took those results and built the graph displayed, using Excel.

Is this what you are looking for? I am not sure I am expressing this
correctly.

Also sorry, I can't

[2020-01-07 15:09] JohnnyDoorn commented on #38
Yes, I commented on the issue - where I list how we calculate cohen's d for paired samples, and how we use MBESS to get the confidence interval. It would be nice to have include more types of effect sizes here - just like we did for the 2-sample t-test.

[2020-01-07 15:10] JohnnyDoorn commented on #576
I think this was resolved by email, please reopen this issue if something is still unclear =)

[2020-01-07 15:10] #576 closed

[2020-01-07 15:25] koenderks commented on #563
Hi Thomas,

I understand the problem with sending the dataset. Thank you for taking the effort to clarify your requests. I cannot see your image in your latest post however, do you mind attaching it again?

Best,
Koen

[2020-01-07 15:57] App-State-Prof commented on #563
Sure see attached. Thank you!

Thomas S. Mueller PhD MBA
Professor, Advertising Communication
Faculty in Residence, founder Active Living RLC
Appalachian State University
(828)262-2228
profwriter.com

On Tue, Jan 7, 2020 at 10:25 AM Koen Derks <notifications@github.com> wrote:

[2020-01-07 16:03] koenderks commented on #563
Please visit the issue on https://github.com/jasp-stats/jasp-issues/issues/563 and insert the image there in a comment. I still cannot see the image, as I believe you are sending it through e-mail?

Thanks in advance, and sorry for the hassle.

[2020-01-07 16:16] App-State-Prof commented on #563
![JASP example cluster](https://user-images.githubusercontent.com/33431829/71910028-231c9d80-313f-11ea-8ef6-0a01dceef11e.JPG)

[2020-01-07 16:16] App-State-Prof commented on #563
Please let me know you can see this...thank you!

[2020-01-07 16:25] koenderks commented on #563
Yes, perfect this way! So the graph you are showing is basically a grouped version (per variable) of the cluster means figures that I made yesterday, am I correct? Would it suffice to have a checkbox to switch between the individual cluster means plots and the combined cluster means plots into one figure, thereby creating the graph that you show? The user may then switch between these variations o

[2020-01-07 16:26] TDJorgensen commented on #245
Thank you for addressing this issue!  I am currently teaching a course using JASP, and students have already noticed they cannot infer the *N* for the correlation because there is some missing data on both variables (not completely overlapping, so not immediately inferred from univariate Valid sample sizes).

Not to rush your progress, but is there any news available about when the next version of

[2020-01-07 16:29] EJWagenmakers commented on #245
Has this now been addressed?

[2020-01-07 16:29] App-State-Prof commented on #563
Yes! The two option switch would be excellent. This will allow JASP users to extract graphing that helps visualize the behavior within the cluster. Note how I named the clusters to better "sell" the results.

Based on your work, I may switch my research methods course and conduct clustering rather than factoring. We're doing a study on "Do It Yourself" home improvement consumers.

[2020-01-07 16:45] boutinb commented on #245
@Kucharssim Did you add this issue in your rewrite?

[2020-01-07 17:13] Kucharssim commented on #245
Yes, it's implemented

[2020-01-07 22:56] ManuelP71 opened #580 "ANOVA requeste"
how about in the ANOVA, the expected mean square and root mean square?
Is it possíble?

[2020-01-08 06:34] blogfrey opened #581 "Partial Plots don't display regression line"
* JASP version:  Version 0.11.1

* OS name and version:  Win 10
* Analysis:
* Bug description:  Partial plots display a horizontal regression line in multiple linear regression.  Instead, they should display the same slope as the multiple regression coefficient.  Please correct this, or tell me how I can change a setting to correct it.  Thank you.
* Expected behaviour:  See above.

#### Steps to r

[2020-01-08 07:41] #245 closed

[2020-01-08 07:43] boutinb commented on #581
@Kucharssim Can you have a look to this problem?

[2020-01-08 09:50] vankesteren commented on #577
I don't see any problems with the SEM code indeed, I'm going to need more information about the crash. Did all of JASP simply crash or did you get an error message? Could you send the error message? If you are able to share data, you may also attach the .jasp file for this project. If not, we'll attempt to solve this without :)

[2020-01-08 16:13] blogfrey commented on #581
Thank you for your help.

Dan

On 1/7/2020 11:43 PM, bruno boutin wrote:

[2020-01-08 17:08] blogfrey opened #582 "Feature request: Add reporting of dependent variable in regression table output"
Hello,
Can you please add, in the linear regression table output, a listing of the dependent variable used in the model?  While a small point, it facilitates efficient management of one's analyses, especially if one is assessing multiple models.  Thank you.

[2020-01-08 18:35] koenderks commented on #563
Alright, I have added two additional options to the "Cluster means" plot option: Display Bars (as I noticed that you prefer barplots for this) and Group into one figure.

![image](https://user-images.githubusercontent.com/25059399/72005258-7bda5c00-324d-11ea-80ea-ce74a0f54808.png)

Display bars allows you to switch between:
A)
![image](https://user-images.githubusercontent.com/25059399/72005395-cf

[2020-01-08 20:44] DocGavin commented on #577
Hi Jan-Erik
Unfortunately the error forced JASP to close. No error log was provided.
The screen shot is all the error message generated.
Attached is the jasp data file I was using

Prof. Gavin T L Brown, PhD
Associate Dean Postgraduate Research (ADPG)
Director Quantitative Data Analysis and Research Unit
Faculty of Education & Social Work
The University of Auckland
Tel: +64 9 3737599 ext. 48602
Mo

[2020-01-08 22:43] App-State-Prof commented on #563
This is excellent. What I will promote, is that with the graphics now downloadable from JASP, little need to recreate in Excel. These, options, with the densities of clusters graphics, will allow us to fully visualize the cluster relationships. Thank you! Now "full service" for cluster analysis.

[2020-01-09 08:59] #581 closed

[2020-01-09 12:59] JohnnyDoorn commented on #571
This is fixed in the rewrite, please reopen if not fixed in the next release.

[2020-01-09 12:59] #571 closed

[2020-01-09 13:49] alexsandro-DeAndrade opened #583 "multigroup CFA don´t working well."
I always have a bug when a try this analysis procedure. How I can fix this problem?

[2020-01-09 17:16] boutinb commented on #583
Hi @alexsandro-DeAndrade
Can you be more explicit? Can you describe the exact steps you do, give for example a screenshot of the error, and also a JASP file where this error occurs?
Kind regards,
Bruno

[2020-01-09 17:21] boutinb commented on #582
@Kucharssim can you see also this issue? It it is easy to add, can you decide whether it should be in the next release?

[2020-01-09 17:25] blogfrey commented on #582
Thank you.

On 1/9/2020 9:21 AM, bruno boutin wrote:

[2020-01-09 18:19] tayavictoria opened #584 "Jasp for MacOs Catalina version 10.15.2"
I cannot open the Jasp app, as it says "JASP can’t be opened because Apple cannot check it for malicious software" " this software needs to be updated. contact the developer for more information". When will this be solved? or is there a way to get around this?

[2020-01-10 08:16] boutinb commented on #584
Hi @tayavictoria, we are aware of this problem with OS Catalina. You can still open JASP by right-clicking the icon app, and selecting the open menu. The first time it will give a warning, the second time it should open JASP.
The next JASP release (over 1 month) should not have this problem.

[2020-01-10 08:19] boutinb commented on #544
@vandeman Can you check this problem?

[2020-01-10 11:42] vandenman commented on #544
Thank you for reporting the problem! The problem was fixed already by @ASarafoglou . if you use a nightly build the correct figure is displayed.

[2020-01-10 11:42] #544 closed

[2020-01-10 18:24] awismer7 opened #585 "Error in Means Calculated in Bayesian Paired Samples t-test"
![image](https://user-images.githubusercontent.com/17439457/72176243-9de5f280-33a3-11ea-87c0-49c193d7bed7.png)

![image](https://user-images.githubusercontent.com/17439457/72176393-ddacda00-33a3-11ea-8cb8-b8ed7b219377.png)

![image](https://user-images.githubusercontent.com/17439457/72176412-e6051500-33a3-11ea-87d2-33ebec9d22fd.png)

![image](https://user-images.githubusercontent.com/17439457/7217

[2020-01-10 22:26] EJWagenmakers commented on #585
@JohnnyDoorn @AlexanderLyNL ?
Also, if this is indeed a bug (it's late and I didn"t check) we should also discuss how our safeguards did not detect this...

[2020-01-11 07:53] sukhoi713 commented on #160
Absolutely agree with this enhancement, as a psychometrics student from Indonesia, IRT model have been widely use here but not everyone can use RStudio or can buy Winsteps, so please add this feature to the next update. Great job by the way with the JASP. Cheers.

[2020-01-11 08:47] vandenman commented on #585
This looks like a duplicate of https://github.com/jasp-stats/jasp-issues/issues/529 . Factors (ordinal variables) were incorrectly translated into numeric and therefore the means were incorrect. This was fixed in https://github.com/jasp-stats/jasp-desktop/pull/3633 and the latest nightly builds should produce the correct means.

[2020-01-13 09:20] EJWagenmakers commented on #160
This is clearly a valuable addition. We'll explore the possibilities...

[2020-01-13 13:03] darcysantor commented on #160
This should be relatively easy, as this is a model-fitting exercise. I think you could (a) provide the LAVAAN code to fit this model, (b) build a stand-alone feature that utilizes LAVAAN, or (c) both.

[2020-01-13 18:32] ergulkara2018 opened #586 "internal error"
hi japs team ı am a jasp user and also beta tester.
recently take an internal error
data flie is open in SPSS at the same time.
unfortunaltely ı can share data but it ok in spss
thank you..

![Adsız](https://user-images.githubusercontent.com/43642291/72281521-c728ac00-364b-11ea-84da-5e9a43442e9d.png)

[2020-01-13 20:56] LorentzEL opened #587 "Multilevel analysis on binary logistics"
I'm looking for a manual to describe both theoretical approach and actual steps when performing  logistic regression using dichotomous variables both as dependent and independent variables.
In other words: I would like to do a logistic regression calculating OR or RR on dichotomous or ordinal variables, but taking into a count that the the study population have some sort of nested relationship and

[2020-01-14 08:29] boutinb commented on #586
Hi @ergulkara2018 Is it something happening for a particular SPSS file. In this case, can you send your SPSS and JASP files?

[2020-01-14 08:29] boutinb commented on #587
@EJWagenmakers Could you answer @LorentzEL ?

[2020-01-14 08:36] boutinb commented on #584
Hi @tayavictoria Did you manage to open JASP?

[2020-01-14 09:29] AugustOlsson commented on #215
Hey @JohnnyDoorn any plans to include post-hoc testing for interactions in Between-measures BANOVA as well in addition to the newly included post-hoc testing for mixed/repeated BANOVA?

Best,
August

[2020-01-14 10:02] AugustOlsson opened #588 "Not getting the possibility to perform post-hoc testing for Bayesian ANOVA"
Hi, I can't seem to perform post-hoc testing for Bayesian ANOVAs even though that function has (as I understood it) been implemented.

* JASP version: 0.11.1

* OS name and version: Windows 10 Education
* Analysis: Between Subjects BANOVA and Mixed BANOVA

* Bug description: When looking at the post-hoc test menue I do not get the possiblity to conduct post-hoc testing of the interactions, a funct

[2020-01-14 10:48] cjalbers opened #589 "Feature request in PCA"
My colleague who teaches a course in Test Theory has asked me to pass along these two comments on Principal Component Analysis.

1] Please add "Variance Accounted For" in the output of a PCA (either as default or via a checkbox asking for it);
2] Please improve the quality of the scree plots. Attached is an example of a scree plot for a large data set. Due to the large amount and size of the tick

[2020-01-14 11:21] EJWagenmakers commented on #589
As for the sequential BF plots, we could impose a rule for when to switch from symbols to lines...

[2020-01-14 18:18] tayavictoria commented on #584
Hi,
Yes I was able to open it but the functions didn’t work.

Sent from my iPhone

[2020-01-15 08:20] vandenman commented on #588
Posthoc tests are possible for individual variables but not for interactions. Implementing it for interactions will require some additional work, in particular to get the multiplicity correction right. I do think it's a good idea though.

[2020-01-15 08:21] #547 closed

[2020-01-15 08:36] FransMeerhoff commented on #584
HI @tayavictoria

Can you please tell us a bit more precise about the 'functions didn't work' ?
- You can open JASP and see the welcome screen and I assume you are using version JASP 0.11.1?
- Can you open a data file afterwards?
- Does some special analysis fail with this data?
- If so is it possible to sent us this data file or the JASP file that you are using, else please describe more detailed

[2020-01-15 08:46] AugustOlsson commented on #588
Hi,

Ah, I am sorry, then I somehow missunderstood which types of post-hoc tests that had been implemented. Thanks for remarking this as enhancement! It would be a great addition :). Thanks for all your great work with JASP:

[2020-01-15 10:44] vankesteren commented on #589
Thank you for this feature request!

First things first: you can make the plot larger (wider), this will recompute the scree plot and make the symbols relatively smaller. Just drag the bottom-right corner of the image to do this!

In the next version of JASP, the scree plots will dynamically scale the point size, so a scree plot with 49 components will look like this:

![image](https://user-images

[2020-01-15 10:47] FransMeerhoff commented on #585
Hello @awismer7

We've added a nightly development zipped version of JASP on :

http://static.jasp-stats.org/Nightlies/Windows/JASP-nightly-2388bfe76126eb88d8a6f74cc406f31d6f1eff9e.zip

You can use this version by unzipping the downloaded .zip file and unpack this file.
Double click in JASP/JASP on the JASP.exe (green JASP logo).
Could you confirm that this problem is solved on this version of JAS

[2020-01-15 10:52] cjalbers commented on #589
Thanks for the quick answer. That'll indeed solve the graph issues. If the
variance-accounted-for could be included in the output, my colleague would
be really happy :)

On Wed, 15 Jan 2020 at 11:44, Erik-Jan van Kesteren <
notifications@github.com> wrote:

--
Casper Albers
Professor in Applied Statistics and Data Visualisation
Heymans Institute for Psychological Research, Groningen
www.casperalbe

[2020-01-15 11:04] vankesteren commented on #589
In the next version of JASP, we will also have this! See the last column of the table below:

![image](https://user-images.githubusercontent.com/11596858/72428981-25aa7300-378f-11ea-8c99-faa658f7e37f.png)

[2020-01-15 11:09] cjalbers commented on #589
exactly what we wanted, thanks!

On Wed, 15 Jan 2020 at 12:04, Erik-Jan van Kesteren <
notifications@github.com> wrote:

--
Casper Albers
Professor in Applied Statistics and Data Visualisation
Heymans Institute for Psychological Research, Groningen
www.casperalbers.nl
Twitter: CaAl <http://twitter.com/caal>

[2020-01-15 13:05] JorisGoosen commented on #146
So, I would really like to fix this before the next release.

Maybe @Crom60 or @JessicaSWilliams1992 can help me by downloading [dependency walker](http://www.dependencywalker.com/) and using it to open JASP.exe (probably in C:\program files\JASP).

And then save the resulting data as a "*.dwi" and attach that here?
Maybe the application is loading the wrong dll somehow or somewhere..

[2020-01-15 13:35] FransMeerhoff commented on #585
Hi @awismer7

Sorry but the .zip file mentioned before has been transported to:

http://static.jasp-stats.org/Nightlies/JASP-nightly-2388bfe76126eb88d8a6f74cc406f31d6f1eff9e.zip

Kind regards
Frans Meerhoff

[2020-01-16 23:13] koenderks commented on #563
@App-State-Prof This pull request is merged, which means that your request will be in the next version of JASP. You may try these changes already by downloading the latest JASP Nightly build (as of 18-01-2020) from http://static.jasp-stats.org/Nightlies/.

Would you be willing to participate is a beta testing round for the newest release of JASP?

[2020-01-16 23:13] #563 closed

[2020-01-17 14:43] App-State-Prof commented on #563
Koen good morning. I found the latest version and downloaded it, but I
don't know how to load and run a .dmg file.

Yes, I want to be a beta tester, but am not sure how formal the reporting
will need to be. I did get a protocol manual but have not yet read it.

Let me know what you need I will surely help.

Thomas S. Mueller PhD MBA
Professor, Advertising Communication
Faculty in Residence, founde

[2020-01-17 14:50] p-deli opened #590 "JASP loses/transforms/does not display some data from SPSS database (.sav file)"
* JASP version: 0.11.1

* OS name and version: macOS 10.15.2 (Catalina)
* Analysis:
* Bug description: when opening a .sav file (SPSS database), the data that has negative coding is replaced by another value. For example, Gender was coded -.5 for Male and .5 for Female was entirely replace by 0 = Female. Data that has been coded -.5 = Inter, 0 = Neutral, .5 = Indep, for example, becomes 0 = Indep.

[2020-01-17 18:25] Luca1717 commented on #585
Hey all!

I had a similar problem but with the results of an independent samples t-test and the baysian version. The SD and SE were exactly the same but the calculated means were higher for the baysian t-test. I thought I am just going to add this here instead of making a new thread for that.  I am going to attach a screenshot of the different results below. If you need any more information about

[2020-01-17 19:46] awismer7 commented on #585
Hi Frans,

Yes the problem appears solved on this version of JASP. The means are now
calculated correctly under the Bayesian test despite whether the variables
are defined as ordinal or scale. Thank you very much for your attention to
this issue.

Best,
Andrew

On Wed, Jan 15, 2020 at 7:35 AM FransMeerhoff <notifications@github.com>
wrote:

[2020-01-17 19:46] awismer7 commented on #585
Yes the new version of JASP you attached fixes the issue. Thank you!

[2020-01-18 10:22] #585 closed

[2020-01-19 12:06] koenderks commented on #563
I do not have a mac computer myself. It would be amazing if you would be willing to participate in the beta testing for the next release!

@JorisGoosen Maybe you can shed some light on how to load and run a .dmg file on Mac?

@MyrtheV Do you know more about the beta-testing pool? Are there guidelines for this? Maybe you can provide some information? :)

[2020-01-19 12:08] App-State-Prof commented on #563
Actually I am on a PC computer not a Mac. When I download the file it
doesn't automatically go into the upload an update mode for JASP.

On Sun, Jan 19, 2020, 7:06 AM Koen Derks <notifications@github.com> wrote:

[2020-01-19 12:16] koenderks commented on #563
Actually, when I went and looked at http://static.jasp-stats.org/Nightlies/, I saw that there is no new JASP version on there that has these changes in them... I will make sure that on Monday this will be taken care of.

If you are on a PC, then you may download the latest .msi file (like shown below). However, since the latest is from 14-01-2020 and https://github.com/jasp-stats/jasp-desktop/pull

[2020-01-19 12:46] App-State-Prof commented on #563
Thank you I will look for the proper file later tomorrow.

On Sun, Jan 19, 2020, 7:16 AM Koen Derks <notifications@github.com> wrote:

[2020-01-19 17:07] aegemen opened #591 "calc problem"
Hi,

I used linux mint 19 and Libreoffice 6.3. I want to change default spreadsheet editor in JASP with calc

but ı cant change. I tried many times, but the spreadsheet editor can not be activated in JASP

![Ekran Görüntüsü - 2020-01-13 22-22-38](https://user-images.githubusercontent.com/60071339/72685049-33e1f180-3af7-11ea-8856-bad6da5e4117.png)

[2020-01-19 20:49] rtbarber opened #592 "Multiple crashes when filtering a large data set"
I am working with a 1M+ record data set.  In order to cut that down a bit, I have applied several filters based on GE or LE.  The product periodically crashes when I apply the filter.

Observations - the first time I apply the filter it seems to work fine.  However when I change it or add another item, it will fail.

Running on Windows 10 Pro v 1809
I7-4770, 16G ram 64 bit
JASP 0.11.1 (just instal

[2020-01-20 08:53] #589 closed

[2020-01-20 09:46] JorisGoosen commented on #591
Aah yeah there seems to be a bug starting the editor when changing the editor manually on linux.
A workaround for now is simply setting calc as your default editor for csv in linux mint.

On my system I cannot manually enter one or I get roughly the same error as you. Just using the system defined default editor (in my case calc as well) works fine.
Changing what default application to use should

[2020-01-20 11:03] aegemen commented on #591
Sorry,
I guess you couldn't explain the problem correctly. I can't use  "calc" in JASP.

[2020-01-20 11:18] Kucharssim commented on #186
This has been added https://github.com/jasp-stats/jasp-desktop/pull/3622

(Also a related issue https://github.com/jasp-stats/jasp-issues/issues/488)

[2020-01-20 11:18] #186 closed

[2020-01-20 11:38] JorisGoosen commented on #591
I can try again!

There is a bug in JASP with manually entering the executable name for the default spreadsheet editor. I'm going to fix this and in the next release you will be able to use it.

For now the only way I can help you with the version you use now is suggest a workaround.
1. You  go to Preferences - Data and check "Use default editor".
2. You set your default spreadsheet editor in Linu

[2020-01-20 12:43] App-State-Prof commented on #563
By the way does the new version have the graphic output for decision trees?

On Sun, Jan 19, 2020, 7:16 AM Koen Derks <notifications@github.com> wrote:

[2020-01-20 13:40] aegemen commented on #591
JorisGoosen,
thanks a lot for your interest. I waiting the nex release....thanks again..

[2020-01-20 17:59] Golden-Retriever-1 opened #593 "Feature request: Additional calculations regarding network analysis"
It would be nice to add some measures that are often used in (social) network analysis and worthy to have a look at during data analysis.

**Is your feature request related to a problem? Please describe.**

I request following feature because many applications in (social) network analysis differentiate between those two ways of interpreting weights. Depending on the interpretation of edge weights

[2020-01-20 18:34] App-State-Prof commented on #563
I loaded the new version! Please see below; if the items I am clustering measure on a 1 to 4 scale, how do they receive negative values and/or negative mean scores?

![testing resilience JASP 1 20 20](https://user-images.githubusercontent.com/33431829/72749969-88ce4800-3b89-11ea-8048-2ebeac26c02f.PNG)