[2022-02-09 08:31] EJWagenmakers commented on #1610
Changing font sizes is definitely a good feature request for the plot editor!

[2022-02-09 17:01] MTom68 commented on #1505
Hello, thanks for giving this attention.
Best, Tamás

Prof. Dr. Tamás Martos, Ph.D.
clinical health psychologist
Institute of Psychology
University of Szeged
https://www.researchgate.net/profile/Tamas_Martos
+36 30 9649935

peteroma ***@***.***> ezt írta (időpont: 2022. febr. 9., Sze,
17:36):

[2022-02-10 01:07] DIV-on-github commented on #1605
Well, I suppose that's true, but the example indicates simply "For all tests, the alternative hypothesis specifies that the proportion is less than 1."
I took that as
H_1: theta < 1.
which is exactly what's indicated in the GUI under "Alt. Hypothesis" too (see screenshots above).

Yes, I agree with all of that.
However, I do not see where such detailed H1 models would be specified in JASP.  Per yo

[2022-02-10 02:05] DIV-on-github commented on #1605
I also came up with a further example that I thought might illuminate my concern.

Note:
Literally the JASP GUI uses the phrasing:  "Evidence for H_0".  I would say that this phrasing would be interpreted as "Evidence for H_0 being true".

**Introduction to example**
Suppose that I have lived a sheltered life, and have not previously heard of zombies.
However my parents and older siblings all have

[2022-02-10 02:51] icekylin commented on #1525
@JorisGoosen This issue could be closed by https://github.com/jasp-stats/jaspTTests/commit/fcd5f25116168f0dc890cf654c595d623f9e5d23

[2022-02-10 10:06] Kucharssim commented on #1605
I took that as H_1: theta < 1. which is exactly what's indicated in the GUI under "Alt. Hypothesis" too (see screenshots above).

If so, then what model for H1 is being used in the sequential plot?

Specification of the alternative hypothesis is done both by the selection under "Alt. Hypoyhesis" (which defines one-sided or two sided alternatives), and the parameters of the Beta priors, which defin

[2022-02-10 10:59] JorisGoosen commented on #1525
Only the part with the wrong axis-info under the raincloud plot right?

I think I still have to look at the last entry being read wrong.

[2022-02-10 11:41] icekylin commented on #1525
yup,the problem is solved. The characters in the axis are normal.

for data read and encode needs to go further investigation.

[2022-02-10 12:49] EJWagenmakers commented on #1605
Also note that more elaborate information is provided in the LearnBayes module -> Binomial Test. The help file could refer to that functionality.

[2022-02-10 14:47] WD4576 opened #1611 "MSA"
### JASP Version

0.16

### Commit ID

_No response_

### JASP Module

jaspQualityControl

### What analysis are you seeing the problem on?

Measurement System Analysis

### What OS are you seeing the problem on?

Windows 10

### Bug Description

![image](https://user-images.githubusercontent.com/97352284/153430644-265685ef-3006-4949-b6b8-d7a581b22bef.png)

### Expected Behaviour

Jasp should run

[2022-02-10 16:48] tomishay commented on #1611
Can you please provide the jasp file associated with this issue?

[2022-02-10 17:10] WD4576 commented on #1611
Today I am having problems with a capability study as well.  Had to revert Minitab.  It, like the MSA worked but was rejected by JASP.  Any help or coaching would be appreciated.

[cid:d6cbc829-df90-46c9-bce8-8e307738c325]

Shane S. Kreuzer

Special Process Laboratory Technician

ASQ Certified Black Belt

Tel: +1 (803) 506-6586

E-mail: ***@***.******@***.***>

SKF Sumter, USA

925 Corporate Circl

[2022-02-10 17:13] WD4576 commented on #1611
[cid:15115812-d4d4-429f-a8a3-ab0d677c765f]
And this is another issue we have, our email system does not like to send the files.  Its hit and miss.

[cid:f76370b8-e66c-408d-9c32-a5283b08dd7b]

Shane S. Kreuzer

Special Process Laboratory Technician

ASQ Certified Black Belt

Tel: +1 (803) 506-6586

E-mail: ***@***.******@***.***>

SKF Sumter, USA

925 Corporate Circle, Sumter, South Carolina – 2915

[2022-02-10 18:37] WD4576 commented on #1611
Sending data file .csv

[cid:14c27cbe-abbf-4a17-bf73-358c390cdc9a]

Shane S. Kreuzer

Special Process Laboratory Technician

ASQ Certified Black Belt

Tel: +1 (803) 506-6586

E-mail: ***@***.******@***.***>

SKF Sumter, USA

925 Corporate Circle, Sumter, South Carolina – 29154

www.skf.com<http://www.skf.com/>, Facebook<https://www.facebook.com/SKFGroup>, LinkedIn<https://www.linkedin.com/company/

[2022-02-10 18:38] WD4576 commented on #1611
Sending jasp zip file separately.

[cid:4ff89a3f-5a62-44a1-9088-2586619cd02f]

Shane S. Kreuzer

Special Process Laboratory Technician

ASQ Certified Black Belt

Tel: +1 (803) 506-6586

E-mail: ***@***.******@***.***>

SKF Sumter, USA

925 Corporate Circle, Sumter, South Carolina – 29154

www.skf.com<http://www.skf.com/>, Facebook<https://www.facebook.com/SKFGroup>, LinkedIn<https://www.linkedin.c

[2022-02-11 00:26] DIV-on-github commented on #1605
Thanks, Kucharssim, for many constructive comments.

I totally agree with this.  Hence it is difficult to come up with an improvement on "Evidence for H0" that remains _concise_.
But I think "**New evidence towards H0**" could be a candidate:  it's not super-long, "towards" suggests movement (change), and personally I'm keen on "new" (see above).

Another option, to avoid cluttering the display, i

[2022-02-11 07:52] DIV-on-github opened #1612 "[Bug]: when using Edit Title, paste always overwrites entirety of existing title"
### JASP Version

0.15

### Commit ID

_No response_

### JASP Module

_No response_

### What analysis are you seeing the problem on?

_No response_

### What OS are you seeing the problem on?

Windows 10

### Bug Description

When using **Edit Title**, the paste command (issued with Ctrl+V) always overwrites the entirety of the existing title with the text on the clipboard.

### Expected Behavio

[2022-02-11 07:54] EJWagenmakers commented on #1605
All of these intuitions about evidence are either captured by Bayes rule. or they are wrong :-)

You say: "Maybe I had a more 'legalistic' interpretation. (Imagine a courtroom scene: "We submit exhibit A as evidence of my client's innocence.")"
In this case, exhibit A is supposed to change the mind of the jury, in that exhibit A increases the probability of innocence compared to what it was before

[2022-02-11 09:09] DIV-on-github commented on #1605
Thanks for the critique, E.J.  I am happy to learn from you.  :-)

Still with that in mind, I question your argument above.

This scenario may not have been a perfect justification for my view, but I'm not (yet) convinced that it justifies your view either.

Let's tweak the scenario a little.
Now suppose the lawyer says to the jury, "We have already discussed exhibit A.  We now submit exhibit B in

[2022-02-11 13:16] icekylin commented on #1611
hi @WD4576 You can't attach the file to the email because GitHub will throw it away, you can click [here](https://github.com/jasp-stats/jasp-issues/issues/1611) and upload the file in the GitHub comment in your browser (please zip the file)

[2022-02-11 13:19] icekylin commented on #1584
@amirmasoudabdol Could you please take a look at this issue，thank you!

[2022-02-11 14:16] WD4576 commented on #1611
[MSA Fault.zip](https://github.com/jasp-stats/jasp-issues/files/8049214/MSA.Fault.zip)
I zipped and did the drag and drop.  Hope this worked.

[2022-02-11 14:17] WD4576 commented on #1611
Done.  Good luck.

[cid:fec9251b-6443-40c2-a046-c7e24bb3d9d3]

Shane S. Kreuzer

Special Process Laboratory Technician

ASQ Certified Black Belt

Tel: +1 (803) 506-6586

E-mail: ***@***.******@***.***>

SKF Sumter, USA

925 Corporate Circle, Sumter, South Carolina – 29154

www.skf.com<http://www.skf.com/>, Facebook<https://www.facebook.com/SKFGroup>, LinkedIn<https://www.linkedin.com/company/skf>,

[2022-02-11 16:07] amirmasoudabdol commented on #1584
I can, but at the moment I'm involved with another projects that has a higher priority. After that, I can look into this and see how it fits into our release schedule! :-)

[2022-02-11 16:38] Itswhatson opened #1613 "[Bug]: Raincloud plot connects data points from independent samples"
### JASP Version

0.16

### Commit ID

_No response_

### JASP Module

jaspAnova

### What analysis are you seeing the problem on?

Bayesian Repeated Measures ANOVA

### What OS are you seeing the problem on?

macOS Monterey 12.1

### Bug Description

Data points from independent samples -- the two levels of Cond, which is the between-subjects variable in a mixed design -- are connected by depende

[2022-02-12 05:37] icekylin commented on #1612
@DIV-on-github  Could you please try it on the latest JASP16 or JASP 16.1 [pre-release](http://static.jasp-stats.org/Nightlies/WindowsZip/JASP-nightly-development-3882b2dc5c519f0093bea7d427f3bd50ee060de2.zip) and record  a video or gif, I just tried but can't reproduce it on my windows with JASP pre-release.

[2022-02-12 14:33] Itswhatson opened #1614 "[Bug]: Bayesian GLMM with binomial aggregate won't accept count or proportion as dependent variable"
### JASP Version

0.16

### Commit ID

_No response_

### JASP Module

jaspMixedModels

### What analysis are you seeing the problem on?

Bayesian Generalized Linear Mixed Models

### What OS are you seeing the problem on?

macOS Monterey 12.1

### Bug Description

I'm trying to analyze error data. First I formatted them as counts. That generates the error message "Generalized linear mixed model w

[2022-02-12 17:10] JBatHome commented on #1553
Hi @vandenman , do you have time to fix this crash? I'm looking forward to using this possibility offered by JASP. Thank you!

[2022-02-13 07:51] icekylin opened #1615 "[Bug]: Individual Unicode characters do not display properly in Plot"
### JASP Version

0.16 (Nightly)

### Commit ID

3882b2dc5c519f0093bea7d427f3bd50ee060de2

### JASP Module

_No response_

### What analysis are you seeing the problem on?

_No response_

### What OS are you seeing the problem on?

Windows 10 21H2

### Bug Description

Unicode Single-character of data labels do not display correctly on the x-axis of plots, such as in interval plots and Raincloud p

[2022-02-13 07:55] icekylin commented on #1615
@JorisGoosen @vandenman Could you please assess if this has an impact on pre-release versions, I'm guessing the impact is Low

[2022-02-13 11:30] JorisGoosen commented on #1615
@icekylin and @vandenman, this is kind of strange, because it looks like the font used in the plot is missing the glyph for that character. Which is weird because the font in the plot ought to be the same as the one in the table... Where we *do* see the glyph..

Impact is def low, but would still be good to fix this, but probably not in 0.16.1

[2022-02-13 11:52] icekylin commented on #1615
@JorisGoosen thanks.I use the Microsoft Yahei Chinese font as the default font for JASP on my computer, and this problem occurs with any glyph.
As you said, does this mean that we need to bundle an open source font in JASP, such as [Noto font](https://en.wikipedia.org/wiki/Noto_fonts).

[2022-02-13 19:27] vandenman commented on #1615
@JorisGoosen can you check the version of textshaping on the buildbot? I can replicate this exact issue, but once I updated textshaping to 0.3.6 the problem disappeared. Perhaps we've been bitten by https://github.com/r-lib/textshaping/issues/25. Either way, it's probably a good idea to ensure we're always using the latest version of ragg, textshaping, and systemfonts.

As far as I know, JASP alre

[2022-02-14 01:36] DIV-on-github commented on #1612
Has the issue at https://github.com/jasp-stats/jasp-issues/issues/1604 been fixed?
That is why I did not proceed to JASP 0.16.
—DIV

[2022-02-14 12:32] vandenman commented on #1553
@JBatHome it's on my radar! Unfortunately, I have a lot on my plate right now so it may take a little longer.

[2022-02-14 14:15] JorisGoosen commented on #1615
See: https://github.com/jasp-stats/INTERNAL-jasp/issues/263

If I go to university later this week I can check what buildbot uses, but @boutinb is there now right? Maybe he can check?

[2022-02-14 14:17] JorisGoosen commented on #1615
Oh wait, I can check the nightly of course

[2022-02-14 14:21] JorisGoosen commented on #1615
And @vandenman the version in the latest windows zip is indeed `0.3.5` so probably fixed just by running a new nightly right?

[2022-02-14 14:33] amirmasoudabdol commented on #1615
@JorisGoosen, yes, we can just install the latest version while we are preparing the `R.framework`! 👍🏼

[2022-02-14 15:39] boutinb commented on #1615
The Nightly on Windows is nearly ready. But the textshapping version comes from the required files, so I'm quite skeptical that this will help.

[2022-02-14 15:47] JorisGoosen commented on #1615
I'll update jasp-required-files

[2022-02-14 19:52] gsunil97 opened #1616 "[Bug]:"
### JASP Version

0.16

### Commit ID

_No response_

### JASP Module

_No response_

### What analysis are you seeing the problem on?

_No response_

### What OS are you seeing the problem on?

Windows 10

### Bug Description

I open up a data set (csv) and am unable to perform any analysis since then. The JASP app closes. I was able to run analysis on this same data set last week, so I am a bit

[2022-02-15 00:12] icekylin commented on #1616
Hi @gsunil97 Can you upload your data file  and log file (the location  which you can find in the preferences settings for log).
You may to compress both the log and data files into .zip file and upload them here.This will help developers analyze this problem.thanks.

[2022-02-15 10:58] MatowickiM opened #1617 "[Bug]: Unexpected termination in jaspSem"
### JASP Version

0.16

### Commit ID

_No response_

### JASP Module

jaspSem

### What analysis are you seeing the problem on?

Structural Equation Modelling

### What OS are you seeing the problem on?

Windows 11

### Bug Description

Hi,

during execution of my SEM model I recieved error with unexpected remination:
![image](https://user-images.githubusercontent.com/99728112/154048182-34bc7444-

[2022-02-15 11:40] shun2wang opened #1618 "[Bug]: Unicode characters do not display properly in anova Marginal Means table"
### JASP Version

0.16 (Nightly)

### Commit ID

3882b2dc5c519f0093bea7d427f3bd50ee060de2

### JASP Module

jaspAnova

### What analysis are you seeing the problem on?

Anova- Marginal Means

### What OS are you seeing the problem on?

Windows 10 21H2

### Bug Description

Unicode character of data labels do not display correctly on Marginal Means table. it is different from https://github.com/jas

[2022-02-16 13:52] HBASteens opened #1619 "Include important residual tests for regression analysis: homoscedasticity/heteroscedasticity (Breusch Pagan and White) and normally distributed residuals (SW and KS)"
### Description

Regression statistics do not include tests for homoscedasticity and normal distribution of redisuals

### Purpose

Complete regression statistics for conducting standard robustness tests.

### Use-case

Saves time and avoids using other applications for simple standard tests

### Is your feature request related to a problem?

Above mentioned (simple standard) tests are not covered

[2022-02-16 15:43] tomtomme commented on #1619
For what its worth, Shapiro is available pairwise and multivariate within the correlation module. But yes, the others are missing. Note, that those tests might not be particularily robust themeselves. Shapiro and KS are under- or overpowered depending on the sample size.
Until those tests are implemented - if you like - you could perform those tests graphically with the Plots-Section of the Linear

[2022-02-16 16:26] EJWagenmakers commented on #1619
These would be good to have. Any takers, team?

[2022-02-16 21:45] HBASteens commented on #1619
Thank you Thomas, I highly appreciate your prompt response. I feel that adding the BP and/or White statistics for testing homoscedasticity and the SW statistic for testing normally distributed errors to the current regression statistics would enrich the regression functionality of JASP. I haven’t explicitly mentioned in my request that for the homoscedasticty test the distinction between panel dat

[2022-02-17 08:31] denversaunders opened #1620 "[Bug]: JASP won't open/run"
### JASP Version

0.14

### Commit ID

_No response_

### JASP Module

jaspDescriptives

### What analysis are you seeing the problem on?

_No response_

### What OS are you seeing the problem on?

Linux on chromebook

### Bug Description

when i click the icon to run jasp it just keeps spinning

### Expected Behaviour

jasp opens

### Steps to Reproduce

1. click icon
2.
3.
...

### Log (if any)

[2022-02-17 10:48] icekylin opened #1621 "[Bug]: Help button not available in Unidimensional Reliability"
### JASP Version

0.16.1

### Commit ID

0.16.1

### JASP Module

jaspReliability

### What analysis are you seeing the problem on?

Unidimensional Reliability

### What OS are you seeing the problem on?

Windows 10 21H2

### Bug Description

The help button does not point to a responsive help file. The design should be such that "coming soon" should be displayed if no .md file is available. I don

[2022-02-17 16:02] tomtomme opened #1622 "[Bug]: No 0.16.1 update available on Flathub"
### JASP Version

0.16.1

### Commit ID

_No response_

### JASP Module

_No response_

### What analysis are you seeing the problem on?

_No response_

### What OS are you seeing the problem on?

missing 0.16.1

### Bug Description

No update available at: https://flathub.org/apps/details/org.jaspstats.JASP

### Expected Behaviour

0.16.1 should be available on all platforms

### Steps to Reprodu

[2022-02-17 16:12] vandenman commented on #1622
See https://flathub.org/builds/#/builders/32/builds/78794

You can install the 0.16.1 with
[code]
but the update should also appear if you do `flatpak update`, although I do not know exactly how long it takes before flatpak lists this.

[2022-02-17 16:50] tomtomme commented on #1622
flatpak update does nothing for me.

your alternative also does nothing:
flatpak install https://dl.flathub.org/build-repo/76674/org.jaspstats.JASP.flatpakref
Fehler: Anwendung org.jaspstats.JASP, Zweig stable ist bereits installiert

still on 0.16
Maybe flathub needs some days, but this was not the case with previous releases.

[2022-02-17 17:28] gtobin26 opened #1623 "Missing coefficient"
### JASP Version

0.16

### Commit ID

_No response_

### JASP Module

jaspRegression

### What analysis are you seeing the problem on?

Linear Regression

### What OS are you seeing the problem on?

Windows 10

### Bug Description

I am running a multiple regression analysis with 6 covariates and two factors (Laboratories).  With the no intercept model, I get a coefficient for each of the two lab

[2022-02-17 18:41] denversaunders commented on #1620
Updated. Tried to run off of Linux command, still not working

[==========] Ready
denversaunders@penguin:~$ ^[[200~flatpak run org.jaspstats.JASP~
-bash: $'\E[200~flatpak': command not found
denversaunders@penguin:~$ flatpak run org.jaspstats.JASP
bwrap: Can't mount proc on /newroot/proc: Operation not permitted
error: ldconfig failed, exit status 256
denversaunders@penguin:~$ flatpak install flat

[2022-02-17 19:39] EJWagenmakers commented on #1623
Note to team: I have received the associated screenshots and will upload them on our Slack

[2022-02-17 20:05] areeq1 opened #1624 "[Feature Request]: Ordinal variables should be allowed in EFA"
### Description

At the current version, Jasp only allowed interval variables to be used in Exploratory Factor Analysis (EFA) but ordinal data such as in Likert scale should be OK to be evaluated in EFA. Currently we have to manually change the type of the variable so they can be used in EFA

### Purpose

_No response_

### Use-case

_No response_

### Is your feature request related to a problem?

[2022-02-17 21:52] koenderks commented on #564
Hi @App-State-Prof,

JASP 0.16.1 has just released and includes the requested decision tree analyses in the machine learning module. Any feedback would be much appreciated!

[2022-02-17 22:37] tomtomme commented on #1622
I looked into this. There is a failure to publish the build at the very end.

[2022-02-18 05:57] kyle-hickerson opened #1625 "[Feature Request]: Econometric Regression Features"
### Description

JASP should include HC0:HC3 robust standard errors, cluster robust standard errors, and the hausman test under the random effects models.

### Purpose

To allow for a wider array of researchers to engage with JASP. In econometrics, random  effects models are almost never used due to violations of endogeneity.

### Use-case

It provides psychologists alternative means of dealing wi

[2022-02-18 07:57] Kucharssim commented on #1625
Dear @khh200,

thank you for your request. Adding robust standard errors should be feasible, we will soon have HC0-HC5 methods in ANOVAs under order restrictions. Adding this to regression would be a natural future step. I don't know what is the roadmap for order restrictions with linear regression though, @EJWagenmakers? Of course, adding the robust standard errors can be implemented separately f

[2022-02-18 08:49] vandenman commented on #1622
I updated flatpak this morning and it updated JASP and I got this:

![image](https://user-images.githubusercontent.com/21319932/154649050-5670b2a6-2379-4ee8-be68-dd76d835b3b7.png)

which corresponds to this tag: https://github.com/jasp-stats/jasp-desktop/releases/tag/v0.16.1

I have no idea why flatpak shows that publishing the build failed though.

[2022-02-18 08:58] #1553 closed

[2022-02-18 10:33] irenesco opened #1626 "[Bug]: Error in ANOVA"
### JASP Version

0.16

### Commit ID

_No response_

### JASP Module

jaspAnova

### What analysis are you seeing the problem on?

ANOVA

### What OS are you seeing the problem on?

Mac OS 10.15

### Bug Description

[code]

### Expected Behaviour

I have used this exact same dataset last year and conducted the same analysis, a one-way ANOVA (it is an in class exercise) but the output of the anal

[2022-02-18 10:49] tomtomme commented on #1491
Somehow I have overlooked this.

With
`sudo flatpak update --commit=212d267860a3001081816007b074dd57993335aec23485c082d40034c6a5b857 org.kde.Platform`

JASP 0.16.1 finally stops crashing when editing labels or computing columns :)

[2022-02-18 11:11] #1615 closed

[2022-02-18 11:53] JohnnyDoorn commented on #1626
Hi @irenesco ,

Do you maybe have the data set that causes this issue? That way I can look where the error lies. If you rather send it by email, you can send it to j <dot> b <dot> vandoorn <at> uva <dot> nl.

Kind regards
Johnny

[2022-02-18 11:57] irenesco commented on #1626
Hi Johnny,

Thanks for your quick reply!
Attached is the dataset; none of the one-way ANOVAs with promotion as Fixed
Factor and n_donuts or spent_on_donuts or other variable calculated as part
of the exercise (e.g., profits etc.) worked.
Thanks,
Irene

On Fri, Feb 18, 2022 at 11:53 AM JohnnyDoorn ***@***.***>
wrote:

[2022-02-19 23:13] App-State-Prof commented on #564
All looking good so far! Have to be sure to use highly abbreviated variable
labels, also stretch and shift graphics sizing to show the detail in the
tree. Here's my latest data test in regression with affective involvement
as Target for perception of social action advertising:

[image: image.png]
Thomas S. Mueller PhD MBA
Professor, Department of Communication
Faculty in Residence, founder Active

[2022-02-19 23:26] App-State-Prof commented on #564
Can you tell me, what are the numbers depicted on on the edges between the
nodes? Variables were measured on a 1-7 likert scale. I am used to splits
based on the parameters of those measures. This is how the output looks
using R Studio with the add on Radiant:

[image: image.png]
Thomas S. Mueller PhD MBA
Professor, Department of Communication
Faculty in Residence, founder Active Living RLC
Appala

[2022-02-19 23:29] App-State-Prof commented on #564
Not sure what I changed, now I am seeing the likert measure splits:

[image: image.png]
Thomas S. Mueller PhD MBA
Professor, Department of Communication
Faculty in Residence, founder Active Living RLC
Appalachian State University
(828)262-2228
profwriter.com

On Sat, Feb 19, 2022 at 6:12 PM Thomas Mueller ***@***.***>
wrote:

[2022-02-20 07:12] koenderks commented on #564
Yes that's true about the short labels etc. I'll try to find a way to make this more user friendly in a next version! Unfortunately I cannot see the images you tried to include, but the numbers in the tree indeed give the split point. Hoewever, by default all analyses standardize the predictors, so they are not likert anymore. However, if you uncheck "scale predictors" under advanced options the a

[2022-02-20 09:34] PerPalmgren opened #1627 "Variables on appropriate place"
### Description

_No response_

### Purpose

_No response_

### Use-case

_No response_

### Is your feature request related to a problem?

In statistics it is common practice to insert the dependent variable on the Y axis and the independent variable on the X- axis. Of course, in correlations it does not matter but in regressions it does. However, often the variable inserted at the TOP in a corre

[2022-02-20 12:08] App-State-Prof commented on #564
Thanks again...instead of copy and paste images I saved as files, they are
attached.

Thomas S. Mueller PhD MBA
Professor, Department of Communication
Faculty in Residence, founder Active Living RLC
Appalachian State University
(828)262-2228
profwriter.com

On Sun, Feb 20, 2022 at 2:12 AM Koen Derks ***@***.***> wrote:

[2022-02-20 12:11] App-State-Prof commented on #564
Another insight...when I drag from bottom right and manipulate dimensions
of image it "resets" and takes a better form. See attached.

Thomas S. Mueller PhD MBA
Professor, Department of Communication
Faculty in Residence, founder Active Living RLC
Appalachian State University
(828)262-2228
profwriter.com

On Sun, Feb 20, 2022 at 2:12 AM Koen Derks ***@***.***> wrote:

[2022-02-20 12:27] FBartos opened #1628 "[Feature Request]: Residual plots / tests for normality in mixed models"
### Description

Visualize residuals from (G)LMM and tests for their normality.

### Purpose

_No response_

### Use-case

_No response_

### Is your feature request related to a problem?

_No response_

### Describe the solution you would like

_No response_

### Describe alternatives that you have considered

_No response_

### Additional context

based on: https://forum.cogsci.nl/discussion/com

[2022-02-20 16:58] TarandeepKang commented on #836
Hi Team, I'm just wondering if there has been any progress with this request?

[2022-02-20 19:27] EJWagenmakers commented on #836
I do like these ideas, particularly since we are now also going to implement a more careful check on the residuals. @fqixiang @FBartos @Kucharssim (seems relevant to all of you)

[2022-02-21 04:36] gsunil97 commented on #1616
Attached are the data and log files - thanks!

________________________________
From: Shun Wang ***@***.***>
Sent: Monday, February 14, 2022 7:12 PM
To: jasp-stats/jasp-issues ***@***.***>
Cc: Sunil, Gayathry ***@***.***>; Mention ***@***.***>
Subject: Re: [jasp-stats/jasp-issues] [Bug]: (Issue #1616)

*Message sent from a system outside of UConn.*

Hi @gsunil97<https://nam10.safelinks.protection.

[2022-02-21 06:03] icekylin commented on #1616
thanks,@gsunil97 but you can't attach the file to the email because GitHub will throw it away, you can click https://github.com/jasp-stats/jasp-issues/issues/1616 and upload the file in the GitHub comment in your browser (please zip the file)

[2022-02-21 14:34] #1613 closed

[2022-02-21 17:38] JorisGoosen commented on #1620
I think this is the same problem as here: https://github.com/jasp-stats/jasp-issues/issues/1600

There are some workarounds there.

[2022-02-21 17:38] #1620 closed

[2022-02-21 17:41] JorisGoosen commented on #1424
There has been another problem with flatpak on chromebook which isn't related to this one but it can't hurt to link to it: https://github.com/jasp-stats/jasp-issues/issues/1600

[2022-02-21 18:00] koenderks commented on #564
Yes you can resize the image to make it more readable. The complexity parameter is indeed something that affects the tree. In contrast to the other analyses in the ml module, currently we lack optimization for the decision tree analyses. The plan for 0.17 is to add optimization over this complexity parameter.

Best,
Koen

[2022-02-21 18:09] App-State-Prof commented on #564
This is great for now. Just told students in my research class to upgrade
to 16.1. I'll add a decision tree assignment later in the course!

Thomas S. Mueller PhD MBA
Professor, Department of Communication
Faculty in Residence, founder Active Living RLC
Appalachian State University
(828)262-2228
profwriter.com

On Mon, Feb 21, 2022 at 1:00 PM Koen Derks ***@***.***> wrote:

[2022-02-22 00:25] denversaunders commented on #1620
awesome! it worked! thank you so much

[2022-02-22 07:39] KarisColyerPatel commented on #1035
Hey there, I am hoping to use JASP for a moderation analysis and was wondering if it is yet possible to use PROCESS macro?

[2022-02-22 08:46] Kucharssim commented on #1035
Dear all,

Thank you for this request. In general, models that are implemented in PROCESS can be run within the SEM module in JASP. Classic mediation models can be run using the "Mediation" analysis, more complicated models can be run using lavaan syntax in the "Structural Equation Modeling".

I understand though that this is not for everyone, as PROCESS became a standard in some fields and it's n

[2022-02-22 09:53] EJWagenmakers commented on #1035
We should definitely do that. Let's discuss how much work this would take.

[2022-02-22 18:36] rraph-r opened #1629 "[Bug]: Path diagram in SEM and ordinal variables"
### JASP Version

0.16

### Commit ID

_No response_

### JASP Module

jaspSem

### What analysis are you seeing the problem on?

SEM - Path Diagram

### What OS are you seeing the problem on?

Windows 10

### Bug Description

Hello!

I have encountered an error when producing a path diagram for my SEM analysis. My model has 3 exogenous and 5 endogenous latent variables. All of them are continuous

[2022-02-22 19:02] TarandeepKang opened #1630 "[Feature Request]: Bayesian Mediation"
### Description

_No response_

### Purpose

_No response_

### Use-case

Likely whenever frequentist mediation would be used, but with the inherent advantages of Bayesian analysis

### Is your feature request related to a problem?

Not a problem per se, just the inclusion of a method that the team has already developed

### Describe the solution you would like

The inclusion of the Bayesian count

[2022-02-22 20:03] EBotes opened #1631 "[Bug]: Multigroup SEM Release constraints"
### JASP Version

0.16

### Commit ID

_No response_

### JASP Module

jaspSem

### What analysis are you seeing the problem on?

Multigroup SEM

### What OS are you seeing the problem on?

Windows 10

### Bug Description

I am not sure if the release constraints function in the MultiGroup SEM is working. I am using lavaan code (example "Variable1 ~ 1"; or "Factor=~ Variable1"). If I add a release

[2022-02-23 00:05] icekylin commented on #1629
hi @rraph-r thanks for your report. could you please upload a data file with that issue? you can zip the file and drag to this comment to upload it. this could be helpful,thanks!

[2022-02-23 08:17] Kucharssim commented on #1629
Thank you for reporting this error. It seems that this bug could be related to bug previously fixed in mediation (https://github.com/jasp-stats/jaspSem/pull/16); it seems that the path diagram does not know how to deal with ordinal variables. I will fix this.

[2022-02-23 10:15] hdhiman-thowl opened #1632 "[Bug]: JASP has experienced an unexpected internal error: The engine crashed..."
### JASP Version

0.16.1

### Commit ID

_No response_

### JASP Module

_No response_

### What analysis are you seeing the problem on?

_No response_

### What OS are you seeing the problem on?

Archlinux, Linux 5.15.24-1-lts

### Bug Description

Everytime I start JASP by clicking on the application icon, I get this error:

JASP has experienced an unexpected internal error:
The engine crashed..

[2022-02-23 11:13] rraph-r commented on #1629
Hello Simon!                                Thank you for the update and your efforts on fixing this bug. Your software has helped me a lot in my research! :)                                Does this mean that the path diagram will be able to work on ordinal variables in the next version release?                                 Many thanks!                -Raph

[2022-02-23 12:17] JorisGoosen commented on #1632
Would it be possible to also upload the engine log? Or does that not exist?

[2022-02-23 12:40] JorisGoosen opened #1633 "[Feature Request]: Support converting Nominal-Text -> Nominal/Ordinal"
### Description

_No response_

### Purpose

_No response_

### Use-case

_No response_

### Is your feature request related to a problem?

_No response_

### Describe the solution you would like

_No response_

### Describe alternatives that you have considered

_No response_

### Additional context

This has come up often and we added some feedback for users on why a column can't be converted to

[2022-02-23 12:41] JorisGoosen commented on #1581
As an aside and to go more towards the feature request @icekylin mentioned.

But the next version of jasp (2 months out probably) will be with much better data-editing support and one of the features I was planning to implement was making sure that nominal-text-columns (as I assume your REDcap label csv data ends up as) are actually convertible to ordinal/nominal and perhaps even scale (losing inf

[2022-02-23 12:48] hdhiman-thowl commented on #1632
Sure!
Here is the engine log:

00:00:00.000: Log and possible redirects initialized!
00:00:00.000: jaspEngine started and has slaveNo 0 and it's parent PID is 2
00:00:00.001: TempFiles::addShmemFileName(JASP-IPC-2_0) called, whole list is now: '/home/pharmakon/.JASP/temp/JASP-IPC-2_0'
00:00:00.001: TempFiles::addShmemFileName(JASP-IPC-2_MasterToSlave) called, whole list is now: '/home/pharmakon/.J

[2022-02-23 13:46] icekylin commented on #1581
@JorisGoosen I think this feature request is perhaps a related data file generation (by values and labels). but I agree with your feature request about variable type conversion.

I will give you two R object files and csv data files exported from REDcap. It can generate a dataset with labels following the steps I said. In fact, in SPSS and STATA software, data can be stored separately from labels.

[2022-02-23 13:52] hdhiman-thowl commented on #1632
Hi!
thanks for your quick reply. Here's the command line output when started from command line:

`Making new argument list for Application startup: org.jaspstats.JASP
Starting JASP 0.16.1 from commit 028b4c149470e3e87db539892edc6428b94db758 and branch HEAD
Application initialized
Application init entered
MainWindow constructor started
TempFiles::createSessionDir(): '/home/pharmakon/.JASP/temp/2' a

[2022-02-23 13:54] hdhiman-thowl commented on #1632
For reference, here's the Desktop.log when started from command line:

`cat JASP\ 2022-02-23\ 14_53_19\ Desktop.log
00:00:00.000: JASP 0.16.1 from commit 028b4c149470e3e87db539892edc6428b94db758 and branch HEAD is continuing initialization.
00:00:00.003: TempFiles::addShmemFileName(JASP-IPC-2_0) called, whole list is now: '/home/pharmakon/.JASP/temp/JASP-IPC-2_0'
00:00:00.003: TempFiles::addShmemF

[2022-02-23 14:34] BogdanKKJ opened #1634 "[Feature Request]: Z-Curve Module"
### Description

Run z-curves (https://cran.r-project.org/web/packages/zcurve/index.html) directly in JASP.

### Purpose

Meta-analyses & replication audits

### Use-case

Meta-analyses & replication audits

### Is your feature request related to a problem?

No.

### Describe the solution you would like

_No response_

### Describe alternatives that you have considered

_No response_

### Addition

[2022-02-23 15:30] JohnnyDoorn commented on #1626
Hi @irenesco ,

Sorry for the delay, I am just checking it now, but I don't see the file, so maybe it's best to just email it directly to me.

Kind regards
Johnny

[2022-02-23 15:45] JohnnyDoorn commented on #1582
Hi @taniapgfernandes ,

I will fix this bug for the next release. For now, it seems that changing your factor level name from "non" to something else will fix the issue for me. Does that work for you too?

Kind regards
Johnny

[2022-02-23 15:52] djdekker opened #1635 "[Bug]: Dot plot size too small - display is cropped"
### JASP Version

0.16.1

### Commit ID

_No response_

### JASP Module

jaspDescriptives

### What analysis are you seeing the problem on?

Dot plot

### What OS are you seeing the problem on?

macOS Monterey 12.2.1

### Bug Description

The dot plot is cropped:
<img width="1801" alt="dot_plot_cropped" src="https://user-images.githubusercontent.com/5346286/155354929-cfc29744-facf-46b4-b2f4-f6f923

[2022-02-23 16:01] taniapgfernandes commented on #1582
Dear Johnny,

Thank you so much for your reply. Indeed, this works!

Kind regards,

Tânia

On Wed, Feb 23, 2022 at 3:45 PM JohnnyDoorn ***@***.***>
wrote:

--
Tânia Fernandes, PhD.
Assistant Professor / Professor Auxiliar
FP-ULisboa
Alameda da Universidade
1649-013 Lisboa
Portugal
e-mail: ***@***.*** ***@***.***>
phone: +351 21 7943871

[2022-02-23 16:54] koisa opened #1636 "[Bug]: JASP crashes when a filter is applied in a categorical variable in a spreadsheet."
### JASP Version

0.16

### Commit ID

_No response_

### JASP Module

_No response_

### What analysis are you seeing the problem on?

After opening any file with qualitative-type variable, then crashes occur when try to apply filter on spreadsheet's categorical variable.

### What OS are you seeing the problem on?

Ubuntu 18.04 and Linux Mint 19.2 Tina, but NOT in Mac OSX 10.14.6. Not tested in

[2022-02-23 17:23] JorisGoosen commented on #1636
Is this perhaps the same bug as #1424 ?

If so the fix will come out soon but a workaround is available in the issue.

[2022-02-23 17:26] JorisGoosen commented on #1632
Well on my manjaro arm it works fine both from icon and command line.

Which desktop environment are you in?

[2022-02-23 19:23] koisa commented on #1636
HI,

Not sure, but I can wait.

I have seen  #1424 <https://github.com/jasp-stats/jasp-issues/issues/1424> and
tried to apply the workaround, first checked for installed packages

$ flatpak list | grep org.kde
org.kde.Platform/x86_64/5.15 system,runtime
org.kde.Platform/x86_64/5.15-21.08 system,runtime
org.kde.Sdk/x86_64/5.15 system,runtime                 <=== It is here

then tried to issue the

[2022-02-23 20:58] koisa commented on #1636
Hi,

Going thru  #1424 <https://github.com/jasp-stats/jasp-issues/issues/1424> I
have been trying different combinations of workaround and for me

$ sudo flatpak update --commit
4f232783b07952a4627a186c8020a362d2458c4b2d6046fbd0b43d3f44c551a7
org.kde.Sdk/x86_64/5.15

solved the crashing problem!

Thank you again for your attention and the great work being carried out by
the JASP developers. I woul

[2022-02-23 21:34] JorisGoosen commented on #1633
Well, actually this is how we use them inside analyses already, if you change the order of the labels in the variableswindow then that will change the order in the resulting `factor` that is fed to the analysis, and thus anything in R that depends on that.

To make that a bit more clear, when we feed the nominal-text column to R now it is in fact converted into a `factor`. Running from 1 to `colum

[2022-02-23 21:41] JorisGoosen commented on #1636
Nice!

Our pleasure and we hope to keep going :)

I think I see your university on the map already: https://jasp-stats.org/teaching-with-jasp/ but still great to hear it is useful to others!

[2022-02-23 21:41] #1636 closed

[2022-02-23 23:50] icekylin commented on #1633
that's ok,The order of Chinese characters is usually not considered because in quantitative data analysis practice, Chinese characters are generally used as labels but not treated as values.  If ordering is to be considered, I would suggest ordering by value.

[2022-02-24 06:50] vandenman commented on #1633
I think this makes sense.

Also makes sense. There is one edge case though that I would check for. In R, this situation can occur:
[code]
where the default levels (first print) have order `1 10 11 2 ...` because of string sorting. The second ordering `1 2 3 4 ...` is probably closer to what people expect.

Also, I'd imagine this is just the default conversion from nominal text to Nominal/ ordinal.

[2022-02-24 07:27] vandenman commented on #1618
Hmm I cannot replicate this:

![image](https://user-images.githubusercontent.com/21319932/155477486-78d408d5-7525-46f5-9cf0-5b554a5c2293.png)

Does it still happen on 0.16.1? Also, could it be that you accidentally uploaded the jasp file from another issue? This file contains a descriptives and independent samples t-test but no ANOVA.

@koenderks can you replicate this on Windows? Refreshing the f

[2022-02-24 07:47] icekylin commented on #1618
@vandenman I'm sure I can reproduce it on my windows. I just downloaded and flashed the file you provided and the problem persists.
I'm guessing this might have to be reproduced on windows in a Chinese locale.

[2022-02-24 08:17] vandenman commented on #1618
@icekylin thanks for checking! Let's hope @koenderks can verify that it's just windows being windows and not necessarily dependent on the locale (which would make it a bit more tedious to find out what is going on).

[2022-02-24 09:13] hdhiman-thowl commented on #1632
I'm using KDE Plasma Version 5.24.2 with KDE Frameworks Version 5.91.0 and Qt Version 5.15.2

[2022-02-24 09:52] koenderks commented on #1618
I can reproduce this, but with different symbols:
![image](https://user-images.githubusercontent.com/25059399/155500845-eaf19f70-53c5-4e05-89a4-66dc95072eb9.png)

[2022-02-24 12:25] JorisGoosen commented on #1632
Thanks, I'll install that and see if I can then get the same problem in arch.

[2022-02-24 14:49] gtobin26 opened #1637 "[Feature Request]: Additional statistics for the regression module"
### Description

The regression module is quite good but lacks some important features. The first, and most important, is the absence of an Omnibus ANOVA. Second, although the program provides statistical data on categorical variable, the comparisons are fixed, with the first group providing the reference level. Finally, of lesser importance is the absence of the often-used measures AIC and BIC.

[2022-02-25 11:19] hdhiman-thowl commented on #1632
Hi!
I restarted my system and the problem is gone!
I'm closing the issue - thanks for your help and for developing JASP!

[2022-02-25 11:19] #1632 closed

[2022-02-25 12:08] JorisGoosen commented on #1632
Awesome

[2022-02-25 13:24] PerPalmgren commented on #1627
Hi,
Will this be possible to rectify and implement for the 0.17 version? I guess it is not a substantial change.
All the best
Per

[2022-02-25 13:27] Kucharssim commented on #1627
Yes, I will take a look into it by then!

[2022-02-25 20:16] djdekker commented on #857
Hello @amirmasoudabdol,
Would you please consider if this issue could be solved? It would require JASP to be registered in macOS as an app that can open .csv files. Thank you very much for the great work you've been doing recently on the Mac version of JASP!
Greetings!

[2022-02-25 20:42] bfmalle opened #1638 "[Feature Request]: REGRESSION: Confusion or error in part coefficients when categorical factor is included"
### Description

REGRESSION: Confusion or error in part coefficients when categorical factor is included

### Purpose

To correct what appears to be an error in the module

### Use-case

Any multiple regression that contains a categorical predictor

### Is your feature request related to a problem?

When a categorical predictor is entered into a model, a message appears below the Part and Partial

[2022-02-27 10:30] areeq1 opened #1639 "[Feature Request]: more fit indices in the EFA"
### Description

Currently we running an EFA only few fit indices are reported (TLI an RMSEA), but it would be great if additional fit indices are included such as CLI, NFI and SRMR

### Purpose

To improve the reporting of EFA results

### Use-case

_No response_

### Is your feature request related to a problem?

No

### Describe the solution you would like

Adding additional indices

### Descri

[2022-02-28 05:15] ConalMonaghan opened #1640 "[Bug]: CFA clearing Factors"
### JASP Version

0.16.1

### Commit ID

_No response_

### JASP Module

jaspFactor

### What analysis are you seeing the problem on?

CFA

### What OS are you seeing the problem on?

Mac OS 10.15.2

### Bug Description

When saving, closing, and then re-opening JASP with a multifactor CFA, or when using the copy this analysis function for an existing CFA, the factors become blank. i.e., the boxes

[2022-02-28 08:36] amirmasoudabdol commented on #857
@djdekker, thanks for bringing this to my attention. Yes, I will look into it as part of our macOS installer, but it might not make it to the immediate release, but the one after it!

[2022-03-01 08:32] mservantufc opened #1641 "[Feature Request]: second degree of freedom for Levene's test (independent sample t-test)"
### Description

Add second degree of freedom for Levene's test (independent sample t-test)

### Purpose

Levene's test is an ANOVA on transformed scores, but the second degree of freedom of this ANOVA is missing when computing Levene's test from the independent sample t-test menu

### Use-case

_No response_

### Is your feature request related to a problem?

_No response_

### Describe the solut

[2022-03-01 08:41] EJWagenmakers commented on #1641
Not sure I understand -- we are in the t-test scenario, so we know there are two groups. The t-test is also an ANOVA, but we don't give two degrees of freedom there either. I agree that Levene's test needs a second degree of freedom reported in case there are more than two groups. Am I missing something?

[2022-03-01 08:47] mservantufc opened #1642 "[Feature Request]: Contrast-specific error term for planned contrats in the context of RM-ANOVA"
### Description

Contrast-specific error term for planned contrats in the context of  RM-ANOVA

### Purpose

Add an option to pool or not error term when computing within-subjects contrasts

### Use-case

_No response_

### Is your feature request related to a problem?

In the RM-ANOVA/Post Hoc Tests menu, the option to pool error term or not is available, but it is not for the RM-ANOVA/Contrasts

[2022-03-01 08:55] EJWagenmakers commented on #1641
OK, I checked and it is crrently suboptimal. In the t-test, the degree of freedom that is reported in the table is the one that does not seem relevant. We could change the report to that for the ANOVA, but I wonder whether for the t-test the Levene isn't better reported as a t-test (so t and one df, instead of an F). @JohnnyDoorn?
Below is a screenshot showing the t-test Levene (top) and the other

[2022-03-01 08:55] mservantufc commented on #1641
Right, but in this case you need to be consistent and report a t statistic for Levene's test in the context of an independent samples t-test, not a F. JASP currently reports a F that should follow a FS distribution with two degrees of freedom.
In addition, the degree of freedom of the t statistic corresponds to the second degree of freedom from the ANOVA, not the first degree of freedom (1) as cur

[2022-03-01 08:57] EJWagenmakers commented on #1641
As an aside, @JohnnyDoorn, is there any reason for the fact that the df for the ANOVA Levene are reported as 1.00000 and 47.0000 instead of just 1 and 47? Let's fix this too now that we are at it.

[2022-03-01 09:49] koenderks commented on #564
Hi @App-State-Prof,

If you go to https://github.com/jasp-stats/jasp-issues/issues/564, you see that there are still no images visible ;) Regardless, I would suggest one of two options: 1) making a new issue for this at https://github.com/jasp-stats/jasp-issues/issues, or 2) starting a new discussion on https://forum.cogsci.nl/categories/jasp-bayesfactor. Of course, we'll gladly assist with any qu

[2022-03-01 10:49] JohnnyDoorn commented on #1641
The t-test Levene's test is now updated to use t and the more informative df. The ANOVA df's for Levene test can be a decimal number (not sure when exactly, maybe with a covariate, I just remember that it could not be an integer always). I can look into building in a flexible specification for this.

[2022-03-01 14:14] mmarikar commented on #1426
I'm on MacOS Catalina 10.15.7
I overcame the [The "developer cannot be verified" Issue on macOS](https://github.com/jasp-stats/jasp-issues/issues/1426#) by doing he following:
1. System Preferences
2. Security and Privacy
3. Enable the app when the message appears

[2022-03-02 13:50] rhuhle commented on #1594
I'm trying to compile it in arch as well. Could anyone give me a hint which packages are must haves.

For me make (recent Arch, x86_64, gcc 11.2.0, qt5.15.2) is failing with missing headers e.g.:
jasp-desktop/Common/column.h:31:10: fatal error: columntype.h: No such file or directory

[2022-03-02 17:49] JoKeyser commented on #1594
@rhuhle I haven't tried since I opened this issue, but afaik, the principal documentation about building is https://github.com/jasp-stats/jasp-desktop/blob/development/Docs/development/jasp-building-guide.md#linux. That may be outdated, and if so, it would be great to update/improve it. I haven't look at it in many months. (As this issue proves, the branch state is not always compilable out of the

[2022-03-03 13:39] rhuhle commented on #1594
Thanks Jo for the link. Infact I had forgotten to clone into the submodules.

After changing the includes above I have the issue now with a qt error:
Project ERROR: Unknown module(s) in QT: webenginequick core5compat

Which leads me to the question which qt packages you have installed when you successfully build jasp-desktop on Arch!?

[2022-03-03 14:02] vandenman commented on #1594
@rhuhle you should have these packages installed:
![image](https://user-images.githubusercontent.com/21319932/156579814-7311bb93-5f53-4aa5-9b54-47e9a76415f8.png)

[2022-03-04 03:44] amsa1234 opened #1643 "[Bug]: Very slow performance"
### JASP Version

0.16.1

### Commit ID

_No response_

### JASP Module

_No response_

### What analysis are you seeing the problem on?

General performance

### What OS are you seeing the problem on?

Windows 10

### Bug Description

I've noticed with both JASP 16.0 and 16.1 that performance is extremely slow across all or most modules and features. Even enabling something like "Descriptives" in

[2022-03-04 06:01] flamingodancer opened #1644 "[Bug]: Application stops responding when filtering data"
### JASP Version

0.16

### Commit ID

_No response_

### JASP Module

_No response_

### What analysis are you seeing the problem on?

Filtering data in my sheet

### What OS are you seeing the problem on?

mac OS big sur 11.6

### Bug Description

I need to filter my data to perform simple effects. Sometimes I can successfully filter but frequently I will filter only women for example and JASP w

[2022-03-04 09:51] JorisGoosen commented on #1643
Is your problem perhaps similar to https://github.com/jasp-stats/jasp-issues/issues/1490 @amsa1234  ?

If so a fix is coming out soon but it requires a bit of testing.
You could help me out if you download: https://static.jasp-stats.org/Nightlies/WindowsZip/JASP-nightly-development-918b55131640ba14c576f258c5bbc64ef69d1c31.zip
Then unpack it and click `jasp.exe`, it needs to fix some stuff at start

[2022-03-04 11:01] sophieberkhout commented on #1634
@FBartos this is your R package, have you thought about implementing this already?

[2022-03-04 12:01] EJWagenmakers commented on #1634
Is he allowed to, is the question :-)

[2022-03-04 16:44] amsa1234 commented on #1643
Thank you very much. I tried this one, and yes, it does run faster.
However, see the following:

1) Before loading, it gives this error message:"It seems the bundled module
jaspVisualModeling wasn't correctly installed, and thus cannot be loaded.
If you installed this version of JASP via an official installer let the
JASP team know". However, if I click the "x" on this message, JASP still
opens, a

[2022-03-04 17:15] JorisGoosen commented on #1643
Yeah did you maybe double click JASP.exe twice before it opened? If so, no worries, the next time you start JASP visual modelling will probably be there.

Awesome

Yes, this is the version currently in development and my colleague just fixed it. There might be more of these bugs, but hopefully not.

You are very welcome!

[2022-03-04 17:15] #1643 closed

[2022-03-04 17:22] amsa1234 commented on #1643
Thanks Joris! So, just to confirm, what should I do for the ANOVAs to run
smoothly?

Amar

On Friday, 4 March 2022, Joris Goosen ***@***.***> wrote:

[2022-03-04 18:09] JorisGoosen commented on #1643
Well, unless you want to learn how to compile software from source code I think you have two options:
- Use the released version of JASP that is slow
- Wait until I build a new nightly

Now the new nightly will only be built on thursday probably, and otherwise the new version of JASP is coming out in just a few weeks.

[2022-03-04 18:11] amsa1234 commented on #1643
Thanks! (and as always, thanks for the amazing work you do on JASP!).

On Fri, 4 Mar 2022 at 13:09, Joris Goosen ***@***.***> wrote:

[2022-03-04 19:41] kristen-j-black opened #1645 "[Bug]: Cohen's D not appearing in ANOVA post hoc"
### JASP Version

0.14

### Commit ID

_No response_

### JASP Module

jaspAnova

### What analysis are you seeing the problem on?

One-way ANOVA

### What OS are you seeing the problem on?

Windows & Mac

### Bug Description

I supervise a lab where students use JASP. Many students were having an issue where the Cohen's D column was blank for the post-hoc tests for one-way ANOVA.

### Expected Be

[2022-03-05 22:21] agnostiko14 opened #1646 "[Feature Request]: Network meta-analysis"
### Description

Network meta-analysis (netma R package)

### Purpose

Compare data from different studies

### Use-case

For example, differential drug effects across studies

### Is your feature request related to a problem?

_No response_

### Describe the solution you would like

Implementation of the netma R package in JASP

### Describe alternatives that you have considered

_No response_

#

[2022-03-07 16:01] RoniGal opened #1647 "[Bug]: https://www.facebook.com/messenger_media/?thread_id=1571941599733110&attachment_id=1310008039477550&message_id=mid.%24cAAXPUoRO_I2Flk6QWV_ZQk1cxqWa"
### JASP Version

0.16

### Commit ID

_No response_

### JASP Module

_No response_

### What analysis are you seeing the problem on?

_No response_

### What OS are you seeing the problem on?

window 10

### Bug Description

please look at this picture:
https://www.facebook.com/messenger_media/?thread_id=1571941599733110&attachment_id=1310008039477550&message_id=mid.%24cAAXPUoRO_I2Flk6QWV_ZQk1cx

[2022-03-07 16:01] RoniGal commented on #1647
I can’t do scatter plots
that photo is wrote for me:
https://www.facebook.com/messenger_media/?thread_id=1571941599733110&attachment_id=1310008039477550&message_id=mid.%24cAAXPUoRO_I2Flk6QWV_ZQk1cxqWa

[2022-03-07 16:02] #1647 closed

[2022-03-07 16:11] jvicensb opened #1648 "[Bug]: GLMM contrasts problem"
### JASP Version

0.16.1

### Commit ID

_No response_

### JASP Module

jaspMixedModels

### What analysis are you seeing the problem on?

GLMM

### What OS are you seeing the problem on?

MacOS Catalina

### Bug Description

When trying to specify the contrasts in the GLMM, it appears the bug:

Error in contrast.emmGrid(emm, contrs, adjust = if (type == "GLMM") selectedAdjustment) : Nonconformin

[2022-03-08 10:01] #1640 closed

[2022-03-08 11:49] JorisGoosen commented on #1551
@KalcMatej99 Ah I forgot about this issue for a bit, sorry.

But I see that some of your `LC_*` are `"en_US.UTF-8"` while the other are without quotes `it_IT.UTF-8`

Maybe this is what is going wrong?
Could you show me the  contents of `/etc/default/locale` ?

[2022-03-08 11:51] JorisGoosen opened #1649 "[Feature Request]: Default Directory for saving files"
### Description

As requested by @reneklerx: Please make it possible to set a default directory to store data which is generated in JASP, like the datasheet/worksheet of a designed experiment, or the set-up of an MSA study. These worksheets are used to collect data.

### Purpose

Easy saving to a folder

### Use-case

_No response_

### Is your feature request related to a problem?

_No response_

[2022-03-08 20:37] djdekker opened #1650 "[Bug]: JASP puts variable name in parentheses when it contains a hyphen"
### JASP Version

0.16.1

### Commit ID

_No response_

### JASP Module

jaspAnova

### What analysis are you seeing the problem on?

Post-hoc test of the classical ANOVA

### What OS are you seeing the problem on?

macOS Monterey 12.2.1

### Bug Description

When a variable name contains a hyphen, JASP puts parentheses around it in the Post-hoc test.

Variable name containing a hyphen:
<img width

[2022-03-09 12:00] m8 commented on #1360
is there any update on this issue?

[2022-03-09 12:53] JorisGoosen commented on #1360
Yes we've fixed it and we are working very hard on releasing it as 0.16.2

Right now we are finalizing some new steps in the buildprocess, see https://github.com/jasp-stats/jasp-desktop/pull/4658
Once that is done, merged and tested we will release it and it should solve this issue without any of the workarounds mentioned in **https://github.com/jasp-stats/jasp-issues/issues/1424**

[2022-03-09 14:11] boutinb commented on #1650
Strange... I just see that in the Post-Hoc Tests table. @JohnnyDoorn can you have a look?

[2022-03-09 14:24] kristen-j-black commented on #1645
Thanks for the response! I did check with a few students and it seems like this issue showed up with version .16 as well. It was several different computers where the column for Cohen’s d would appear in the output, but the actual values were not provided.

From: JohnnyDoorn ***@***.***>
Sent: Monday, March 7, 2022 9:50 AM
To: jasp-stats/jasp-issues ***@***.***>
Cc: Black, Kristen ***@***.***>; Me

[2022-03-09 14:29] AnguloB commented on #1603
Hello again Joris,
I was able to do everything I wanted to do with the nightly version you proposed me.  However, a colleague of mine is doing the same analysis with the nightly version and the program keeps freezing. When this happens the only option she has is to close the program and start over (if she has not been lucky enough to save the little bit of progress).

On the other hand, the result

[2022-03-09 15:50] mservantufc opened #1651 "[Bug]: Chi-square goodness-of-fit test: when specifying H0, proportions are expected, but user needs to provide counts"
### JASP Version

0.16.1

### Commit ID

_No response_

### JASP Module

jaspFrequencies

### What analysis are you seeing the problem on?

Multinomial test

### What OS are you seeing the problem on?

Windows 10

### Bug Description

Menu multinomial test -->expected proportions (chi-2 test). It looks like JASP expects counts for H0, not probabilities (which is confusing because it's clearly writ

[2022-03-09 18:11] EJWagenmakers commented on #1651
If I'm not mistaken, whatever is entered is renormalized to add to 1. This is often more convenient. If the user want to specify proportions directly this is possible. Please reopen if this is not the case. The helpfile should mention this of course (on my cell, so can't check)

[2022-03-10 01:29] ShungoSuzuki commented on #160
I still wait for the addition of IRT and Rasch!

[2022-03-10 09:41] mservantufc commented on #1651
That's the issue EJ. You can't specify proportions (well you can but the chi-square test is incorrect. I reopen the issue.

[2022-03-10 09:57] mservantufc opened #1652 "[Bug]: Chi-square goodness-of-fit test: when specifying H0, proportions are expected, but user needs to provide counts"
### JASP Version

0.16.1

### Commit ID

_No response_

### JASP Module

jaspFrequencies

### What analysis are you seeing the problem on?

chi-square test of independence

### What OS are you seeing the problem on?

Windows 10

### Bug Description

see issue #1651. EJ closed it, because he thought user could specify both proportions or counts for H0. However, specifying proportions returns an inc

[2022-03-10 09:59] EJWagenmakers commented on #1651
Oh that is strange but should be a straightforward fix, because anything in there should just be renormalized. I'll assign Don and Simon to see how they feel about this.

[2022-03-10 10:26] Kucharssim commented on #1651
Continuing this discussion in https://github.com/jasp-stats/jasp-issues/issues/1652

[2022-03-10 10:26] #1651 closed

[2022-03-10 10:35] Kucharssim commented on #1652
Dear @mservantufc,

thank you for submitting the issue.

Just as a side-note, it is possible to re-open a closed issue instead of opening a new one. So I now re-closed the old issue that EJ reopened so that it's clear we continue this discussion here.

As for your screenshot of the "incorrect test": I fail to see why it is incorrect. You defined your expected proportion of 'widowed' category as 0.

[2022-03-10 10:47] Kucharssim commented on #1629
Dear @rraph-r,

it will be fixed in version 0.17.

Simon

[2022-03-10 11:17] Kucharssim commented on #1652
Yes, I will make sure you can specify it as you have shown here :)

As a workaround in the current version, you can just multiply the proportions by some constant (e.g., 100) to obtain numbers that you can input while preserving their proportionality. For example, 10.1, 56.1, 31.3, 2.5 should give you the correct results.

[2022-03-10 11:29] AlexanderLyNL commented on #1652
@Kucharssim Could you also check this on Qt 6.2?

[2022-03-10 12:16] darcysantor commented on #160
You have my vote too!

From: ShungoSuzuki ***@***.***>
Sent: March 9, 2022 8:30 PM
To: jasp-stats/jasp-issues ***@***.***>
Cc: Darcy Santor ***@***.***>; Author ***@***.***>
Subject: Re: [jasp-stats/jasp-issues] Request for Item Response Models (IRT) (#160)

Attention : courriel externe | external email

I still wait for the addition of IRT and Rasch!

—
Reply to this email directly, view it on Gi

[2022-03-10 14:27] JorisGoosen commented on #1643
https://static.jasp-stats.org/Nightlies/ if you want to be able to use ANOVA you can get one of the newest `stable` nightlies.

[2022-03-10 14:30] JorisGoosen commented on #1603
It is probably the same bug as described here: https://github.com/jasp-stats/jasp-issues/issues/1490

The latest `stable` nightly should not have this problem anymore.

[2022-03-10 18:10] bruno-fd opened #1653 "[Bug]: Network Analysis Graph and Centrality Plot Options"
### JASP Version

0.16.1

### Commit ID

_No response_

### JASP Module

jaspNetwork

### What analysis are you seeing the problem on?

Network Analysis (Graph and others)

### What OS are you seeing the problem on?

Windows 10

### Bug Description

I am running a network analysis on JASP 0.16.1 and the graph is showing some issues.

Firstly, not all group names are being shown in the label of the

[2022-03-12 07:55] djdekker commented on #1650
Might this be related to issue #1295 ?

[2022-03-12 07:56] djdekker commented on #857
Great, thank you for your attention!

[2022-03-12 17:02] peteroma commented on #1505
Hello @Kucharssim and @EJWagenmakers, just checking to see if JASP has given any more consideration to a Latent Profile Analysis (LPA) function.

[2022-03-13 08:32] shun2wang opened #1654 "[Bug]: jaspRegression-Squared Pearson residual plot display is abnormal"
### JASP Version

0.16.1 (Nightly)

### Commit ID

a7d4928c2decd3e28bff64c333db7ec3b78eee52

### JASP Module

jaspRegression

### What analysis are you seeing the problem on?

Logistic Regression

### What OS are you seeing the problem on?

Windows 10 21H2

### Bug Description

Axis labels seem to overlap . Please see screenshot and sample dataset (to remove .zip suffix).
![Snipaste_2022-03-13_16-

[2022-03-13 08:39] shun2wang opened #1655 "[Bug]: Data View-After removing the label the cell show blank"
### JASP Version

0.16.1 (Nightly)

### Commit ID

a7d4928c2decd3e28bff64c333db7ec3b78eee52

### JASP Module

_No response_

### What analysis are you seeing the problem on?

_No response_

### What OS are you seeing the problem on?

Windows 10 21H2

### Bug Description

After editing the value label, if we remove the label, the cell appears blank, which will confuse the user that the data has bee

[2022-03-13 11:48] JohnnyDoorn commented on #1645
Hi @kristen-j-black ,

Do you maybe have a data set where this is the case, that you could email me? That way I can have a closer look
You can send it to j.b.vandoorn <at> uva.nl

Kind regards
Johnny

[2022-03-14 08:06] hcp4715 commented on #1652
Dear @AlexanderLyNL,

I have a side question: how to conduct Bayesian multinomial test (goodness-of-fit test) in R? I clicked the "?" icon of the analysis and it says the related R packages are "ggplot" and "stats". It's confusing to me because I didnot find a function for Bayesian multinomial test  in that "stats" package .

Best,
Chuan-Peng

[2022-03-14 11:46] fqixiang opened #1656 "[Feature Request]: Frequentist Generalized Linear Models"
### Description

A module for frequentist genearlized linear models is needed.

### Purpose

To extend the current regression and logistic regression options to other distributions and links.

### Use-case

Many.

### Is your feature request related to a problem?

_No response_

### Describe the solution you would like

A sub-module added to the current Regression module.

### Describe alternative

[2022-03-15 03:49] gridppbonvert opened #1657 "[Bug]: Unable to run JASP on Chromebook"
### JASP Version

0.16.1

### Commit ID

_No response_

### JASP Module

_No response_

### What analysis are you seeing the problem on?

_No response_

### What OS are you seeing the problem on?

Chromebook Version 99.0.4844.57 (Official Build)(32-bit)

### Bug Description

Installed JASP as described using Linux Development and installation completed. When using command sudo flatpak run org.jasp

[2022-03-15 10:17] AlexanderLyNL commented on #1652
Hi Chuan-Peng,

You're right. The help file is incomplete, it should also mention the BayesFactor package and Gunel and Dickey (1974). I'll make sure these references are added.

Cheers,
Alexander

[2022-03-15 12:20] vandenman commented on #204
This still persists in 0.16.1

[2022-03-15 12:22] vandenman commented on #478
closed due to inactivity (feel free to reopen if the issue is still relevant).

[2022-03-15 12:22] #478 closed

[2022-03-15 12:37] georgelovell opened #1658 "[Bug]: xticks etc for ANOVA plots"
### JASP Version

0.16.1

### Commit ID

_No response_

### JASP Module

_No response_

### What analysis are you seeing the problem on?

_No response_

### What OS are you seeing the problem on?

windows 10

### Bug Description

Maybe not a bug rather just the way it's currently built:

Its now possible to set the xticks and limits in plots for ANOVA's etc which is great.
Unfortunately the chosen

[2022-03-15 18:02] petersen-f opened #1659 "[Bug]: Can't install any developer modules under Ubuntu 20.04"
### JASP Version

0.16.1

### Commit ID

_No response_

### JASP Module

_No response_

### What analysis are you seeing the problem on?

jaspDescriptives, jaspBSTS

### What OS are you seeing the problem on?

Ubuntu 20.04.3 LTS

### Bug Description

Right now I am having a problem with installing any developer modules in JASP 16.1 under Ubuntu 20.04. I have attached screenshots and the log files

[2022-03-15 20:29] keslin527 opened #1660 "[Feature Request]:"
### Description

repeated measures/mixed MANOVA

### Purpose

To analyze related outcomes with >= 1 between subjects IV and >1 within subjects IV

### Use-case

This would be extremely useful to analyze repeated measures >=1 (IV) with several outcomes, or (mixed) factorial multivariate research designs.

### Is your feature request related to a problem?

not applicable, outside of not having the f

[2022-03-16 08:22] vandenman commented on #1659
If you do `gcc --version`, do you get output? Also, what does `apt list --installed build-essential` return?

[2022-03-16 09:08] petersen-f commented on #1659
Thanks you for your quick reply!
[code]
[code]
(and if I add the suggested '-a' switch:
[code]

[2022-03-16 09:18] vandenman commented on #1659
@JorisGoosen it looks to me that flatpak does not have access to gcc when trying to compile because the logs show this many times:
[code]
where
[code]
seems a bit funny.

@petersen-f can you change the repository to `https://packagemanager.rstudio.com/cran/__linux__/focal/latest`?
You can do that here:

![image](https://user-images.githubusercontent.com/21319932/158556922-f5044cfa-908f-434d-96b8-2

[2022-03-16 10:21] JorisGoosen commented on #1659
Ah yeah, so you have to make sure you have installed `org.kde.Sdk` and then start JASP as `flatpak run --devel org.jaspstats.JASP`

This way it uses `gcc` in the sdk, because it doesn't have access to the one on your system

[2022-03-16 10:22] JorisGoosen commented on #1659
Also, probably the linux version is forced to install from sources, so probably your repository workaround won't work anyway...

[2022-03-16 10:27] vandenman commented on #1659
nah, that repository should download Linux binaries rather than compiling anything from source. So as long as @petersen-f's system
- does not have arm,
- can install pure R code,

it should work (although I haven't tested this myself).

Your workaround is probably better though. However, I also saw this message in the logs:
[code]
@JorisGoosen is it possible to somehow do `apt install libssl-dev`

[2022-03-16 12:01] JorisGoosen commented on #1659
Nope... I don't know how you could solve that to be honest.

Ah well there is definitely no harm in trying it, if it works it would be a lot better. And other missing libraries in flatpak-sdk might make it a pain anyway. Knowing whether we can work with binaries in flatpak should be good!

[2022-03-16 18:38] PerPalmgren opened #1661 "Problem with removing filter"
### JASP Version

0.16.1

### Commit ID

_No response_

### JASP Module

jaspDescriptives

### What analysis are you seeing the problem on?

Data editing mode

### What OS are you seeing the problem on?

Windows 10

### Bug Description

Hi,
When I have a scale variable and that I rename to a nominal variable (id variable), and after try to apply a filter "by clicking off" one observation  I cant r

[2022-03-16 21:24] tomtomme commented on #1656
Maybe a stupid question: Is this not what the visual modeling module provides?

[2022-03-17 14:28] bruno-fd commented on #1653
Hey, Vandenman! Thanks for your response.

I am not being able to attach the .zip file (it says the file can´t be processed). But here you find it: [https://psicometriaonline.com.br/wp-content/uploads/2022/03/BigFiveInventory.zip]

[2022-03-17 15:23] levolz opened #1662 "[Bug]: Game of Skill creates NaN"
### JASP Version

0.16.1

### Commit ID

_No response_

### JASP Module

_No response_

### What analysis are you seeing the problem on?

Game of Skill

### What OS are you seeing the problem on?

Windows 11

### Bug Description

Game of Skill allows input (0, 0) for prior skill parameter & 0 input for points gained, leading to NaN output for the analytic solution

### Expected Behaviour

Not allo

[2022-03-17 15:34] levolz opened #1663 "[Bug / Feature]: Update Highlights for Negative Binomial"
### JASP Version

0.16.1

### Commit ID

_No response_

### JASP Module

jaspDistributions

### What analysis are you seeing the problem on?

Negative Binomial

### What OS are you seeing the problem on?

Windows 11 (& others)

### Bug Description

Highlighting the CDF of an interval includes the lower bound, i.e. difference between both cdf highlights does not equal the cumulative probability ove

[2022-03-17 16:28] Kucharssim commented on #1663
Thanks for filing the report!

I think the problem is that there are no two cdf highlights. There are two probability masses shown, and one cumulative probability shown. The two values at the end of the "highlights" merely show the probability mass of the value of the random variable, not the cdf. The value associated with the "cumulative probability" concerns the whole interval that is colored, a

[2022-03-17 16:50] levolz commented on #1663
Thanks for the explanation!
The PDF values within the discrete probability plots are indeed a bit
confusing :D

However, I mean that the CDF highlight in the PDF plot should be the
difference between the CDF highlights in the CDF plot (i.e., the issue
concerns the CDF plot).
Hope the picture below illustrates what I mean better than the words -
i.e., if below you'd show the CDF(a - 1) = 0.19, they

[2022-03-17 17:00] levolz commented on #1663
CDF(a-1) = 0.11, ofc. - my mistake

On Thu, 17 Mar 2022, 17:50 Leonhard Volz, ***@***.***> wrote:

[2022-03-17 19:56] fqixiang commented on #1656
@tomtomme Good question! You're right that the visual modelling module does provide parameter estimates for some generalized linear models, but the focus of that module is on visually inspecting patterns in the data (check out https://jasp-stats.org/2020/04/21/the-visual-modeling-module/). Furthermore, in terms of actual GLM analyses, the visual modelling module is very limited: it doesn't give yo

[2022-03-18 07:06] Kucharssim commented on #1663
Not sure why my previous reply is deleted...

You are right. I was only looking at the PDF plot.

[2022-03-18 07:58] petersen-f commented on #1659
Yes this worked! But I had to enable my private PAT for Github otherwise I was getting the same error about being unable to resolve jasp-stats/jaspBase.

This solution also worked but I also had to use my own PAT.

Thank you both so much! I tried both solutions with multiple packages and it works.

[2022-03-18 08:41] Kucharssim commented on #1654
@fqixiang could you have a look?

[2022-03-18 14:56] PerPalmgren commented on #1661
Yes great if this could be rectified. I tried with another data set and the same issue and I cant even find the tiny place to click😪.
Per

[2022-03-19 23:18] icekylin commented on #1532
NEWS: R version 4.2.0 (Vigorous Calisthenics) [prerelease versions](http://cran.r-project.org/src/base-prerelease) will appear starting Tuesday 2022-03-22. Final release is scheduled for Friday 2022-04-22.NEWS: R version 4.2.0 (Vigorous Calisthenics) prerelease versions will appear starting Tuesday 2022-03-22. Final release is scheduled for Friday 2022-04-22.

[2022-03-21 07:57] amirmasoudabdol commented on #1532
We are aware of this, and hopefully we can have it tested and deployed for JASP 0.17.0! :-)

[2022-03-21 08:25] EJWagenmakers opened #1664 "[Feature Request]: Can Bayesian t-tests produce a prior-posterior plot on the raw scale?"
### Description

For Bayesian t-tests to produce a prior-posterior plot on the raw scale

### Purpose

Better intuition what the results mean

### Use-case

All Bayesian t-tests

### Is your feature request related to a problem?

not knowing what the current posterior means on the raw scale

### Describe the solution you would like

For Bayesian t-tests to produce a prior-posterior plot on the raw

[2022-03-21 13:14] evanmiltenburg opened #1665 "[Feature Request]: Adding Krippendorff's alpha"
### Description

It would be nice to have not just Cohen's and Fleiss' kappa, but also Krippendorff's alpha. The latter is much more versatile than the former two.

### Purpose

Krippendorff's alpha is used to compute inter-rater reliability (AKA inter-annotator agreement or inter-coder reliability). The advantage of this approach is that it supports categorical, ordinal, interval and ratio type d

[2022-03-21 13:26] EJWagenmakers commented on #1665
Definitely! Did we not already have this, @juliuspf ?

[2022-03-22 08:28] juliuspf commented on #1066
I am closing this, as it is a question for the forum not GitHub.

[2022-03-22 08:28] #1066 closed

[2022-03-22 08:31] juliuspf commented on #1665
The request has come up before, if I recall correctly. I cannot find the corresponding issue though. Anyways, yes it would be a nice addition and should be possible to implement without too much trouble.

[2022-03-22 08:45] evanmiltenburg commented on #1665
Thanks for the positive response!

#310 is the only issue I could find (it misspelled Krippendorff's name, which is why it is harder to find).

Thinking about this some more, it would be great to also include some measures from the table on [this Wikipedia page](https://en.wikipedia.org/wiki/Precision_and_recall). E.g. precision (AKA positive predictive value), recall (AKA sensitivity), and the F1

[2022-03-22 09:00] EJWagenmakers commented on #1665
About the PPV, sensitivity etc., note that we offer this functionality in the Learn Bayes module -> Binary classification. See also https://jasp-stats.org/2021/09/28/binary-classification/

[2022-03-22 10:05] juliuspfadt opened #1666 "[Feature Request] jaspFactor: PCA should display object scores (predictions)"
### Description

via https://forum.cogsci.nl/discussion/7885/principal-component-analysis#latest
The factor module, in particular PCA, does not show the projected object scores along the components or factors, there is no option for it

### Solution
These statistics are within the output of the psych package. They should be easy to display. However, the object scores should be plot in a certain wa

[2022-03-22 10:27] juliuspf opened #1667 "[Bug] jaspFactor: PCA results based on covariance instead of correlation does not change output"
### JASP Version

0.16.1 (Nightly)

### Commit ID

https://github.com/jasp-stats/jasp-desktop/commit/%22db130a83190c4d654efc0e3a5d9b7b5805ad8423%22

### JASP Module

jaspFactor

### What analysis are you seeing the problem on?

The error is only within the PCA analysis.

### What OS are you seeing the problem on?

macOS 12.2.1

### Bug Description

via: https://forum.cogsci.nl/discussion/7885/prin

[2022-03-22 10:37] juliuspf commented on #1667
Can be quite easily solved, by adopting the steps in https://github.com/jasp-stats/jaspFactor/pull/75 for PCA.

[2022-03-22 10:50] juliuspf commented on #1666
It seems to me as though there is the option to add the object scores to the data as a new column, but it is not working.
![Screenshot 2022-03-22 at 11 49 36](https://user-images.githubusercontent.com/38500953/159465520-65f14ea3-8a7d-4e4f-ab26-151ad8bd0727.png)

[2022-03-22 13:47] juliuspf commented on #1666
we would need this in order to get the scores added to the data as a new column: https://github.com/jasp-stats/INTERNAL-jasp/issues/694

[2022-03-22 15:17] guikool opened #1668 "[Feature Request]: Add p-value/stars to plots"
### Description

Add p-value or asterisk to highlight significance on plots

### Purpose

publish ready plots

### Use-case

cf ggpubr

### Is your feature request related to a problem?

no

### Describe the solution you would like

ggpubr package

### Describe alternatives that you have considered

ggpubr or ggstatsplot

### Additional context

Dear JASP team,
Although plotting skills of JASP are

[2022-03-23 13:14] pvanbaarlen opened #1669 "[Feature Request]: Add REML"
### Description

REML analysis via JASP

### Purpose

carry out REML

### Use-case

_No response_

### Is your feature request related to a problem?

_No response_

### Describe the solution you would like

_No response_

### Describe alternatives that you have considered

_No response_

### Additional context

_No response_

[2022-03-23 15:57] Manierrem commented on #395
I strongly recommend the developers work towards implementing data weighting procedures. While there are many requests that all small details to analyses that extend their usefulness, this is one that is considered bare-minimum for doing survey research. It would dramatically open the pool of potential JASP users.

I would extend the suggestions that other are making, though, by pointing out that

[2022-03-23 19:36] Poker-Kid commented on #1424
Dear people,
what can I do, if it gives me this:

error: org.kde.Platform/x86_64/5.15 not installed

while trying any of these comments?
Thank you very much in advance !
Jonathan

[2022-03-23 21:27] tomtomme commented on #1424
Try them with a sudo at the start

[2022-03-23 21:54] Poker-Kid commented on #1424
Thank you, I were able to fix it - I think it worked after I reinstalled it with a special version.

[2022-03-24 14:35] Ermannotrusacani commented on #206
Any news on this? I'll love to use only Jasp for my scientifc paper

[2022-03-25 18:00] peteroma commented on #1505
Hello @Kucharssim and @EJWagenmakers, just checking to see if JASP has given any more consideration to a Latent Profile Analysis (LPA) function.

[2022-03-26 14:10] jvicensb commented on #1648
Dear FBartos,

is it possible to solve the issue I recently raised? Or it is very complex?

Best regards and thank you for your work in advance,

Jordi

[2022-03-27 22:12] hynekcigler commented on #1319
@JMBKoch @juliuspf  After another year, I want to teach the same psychometric class as a year before. Unfortunately, the main bug has not been fixed yet and I am going to say my students "hey, sorry, this is a bug" :( Just to summarize:

1. **BUG:** In EFA, factor score correlation are reported instead of factor correlation (and thus even with orthogonal rotation, factors are "correlated").
2. **S

[2022-03-28 09:07] MichalakPiotr opened #1670 "[Bug]:"
### JASP Version

0.16.1

### Commit ID

-

### JASP Module

jaspProcessControl

### What analysis are you seeing the problem on?

Process Capability Study

### What OS are you seeing the problem on?

Windows 10

### Bug Description

Hello,

when I create process capability study report:
![Report](https://user-images.githubusercontent.com/102514828/160363315-2de1ab39-7a68-47e5-b821-7ac38071836b.PN

[2022-03-28 10:27] renhao2000 opened #1671 "[Bug]: no images on the distribution plots"
### JASP Version

0.16.1 (Development)

### Commit ID

_No response_

### JASP Module

_No response_

### What analysis are you seeing the problem on?

descriptiveties

### What OS are you seeing the problem on?

win10

### Bug Description

after uploading the data, it shows the descriptive statistics but is blank in the distribution plots

### Expected Behaviour

plz help me to exhibit the plot

[2022-03-28 10:31] renhao2000 commented on #1671
![image](https://user-images.githubusercontent.com/102519767/160379874-a3137d0e-5766-4e99-b76c-1643227b0d5d.png)

[2022-03-28 12:36] dmirkov opened #1672 "[Feature Request]: Computed variable based on filtered (subset of) data"
### Description

Calculation of new variable only on filtered data

### Purpose

Sometimes we need to calculate a new variable (e.g., Z-values) for a subset of data. However, the "Calculator" takes into account all data from the whole data set.

### Use-case

Standardizing data

### Is your feature request related to a problem?

I have a set of data and want to calculate Z value only for the subse

[2022-03-28 14:05] FranziKessler commented on #627
Hi Johnny, I am experiencing trouble with the customized contrasts in an ANOVA analysis with the latest JASP version (0.16.1). When I enter a customized contrast I keep getting the error "please specify an additional contrast". Am I doing something wrong? It should give me the difference between group level 1 and 5, right?
Any help would be great and highly appreciated. Many thanks in advance!
Bes

[2022-03-28 14:15] icekylin commented on #1671
@renhao2000 Hi,
First of all, Could you please attach a copy of your jasp data file here (you can compress it as a zip package and drag and drop to upload it in the comment area),so that we can try the process.
In addition, I noticed that there is a path named in Chinese string '栗' in your working directory, you can put this file in a non-Chinese path and try to see if there is still the same prob

[2022-03-28 14:35] renhao2000 commented on #1671
really appreciate for ur help, I just download old version, which does work, really appreciate it!

获取 Outlook for iOS<https://aka.ms/o0ukef>
________________________________
发件人: Shun Wang ***@***.***>
发送时间: Monday, March 28, 2022 10:15:40 PM
收件人: jasp-stats/jasp-issues ***@***.***>
抄送: renhao2000 ***@***.***>; Mention ***@***.***>
主题: Re: [jasp-stats/jasp-issues] [Bug]: no images on the distribu

[2022-03-28 14:41] JohnnyDoorn commented on #627
Hi @FranziKessler ,

Hmm yes that is strange. What happens when you "Add contrast", and specify some other contrast in addition to the one that is already there?
Also, could you send me the jasp file with the error? that way I can look a bit more closely into it, because I cannot replicate this behavior with my own data set with a factor with 5 levels. Additionally, I see that you have 5 levels of

[2022-03-28 14:50] #1670 closed

[2022-03-28 15:27] hynekcigler commented on #1319
Hi @juliuspf. I really apologize. Long story short: I came to my class today morning, opened JASP on the university PC, and realized the bug had been fixed. I immediately deleted my previous comment, but I didn't be aware that you were already e-mailed. I take a lesson that I shouldn't prepare my classes after midnight and some glasses of wine :)

Anyway, thank you, the bug is fixed; I can confirm

[2022-03-28 15:30] juliuspf commented on #1319
No need to apologize. It is good that you followed up, since there are still features missing that are worthwhile to add to the module.

[2022-03-28 15:32] hynekcigler commented on #1319
Thanks :) If you need any consultation or review (as I see there are some open questions in the other requests), don't hesitate to mention me, I would be glad to help.

[2022-03-29 07:21] NYC0326 commented on #1671
I'm having the same error, could you help me out? Which version did you downloaded?

[2022-03-29 07:22] renhao2000 commented on #1671
i found 0.15verson

获取 Outlook for iOS<https://aka.ms/o0ukef>
________________________________
发件人: NYC0326 ***@***.***>
发送时间: Tuesday, March 29, 2022 3:21:27 PM
收件人: jasp-stats/jasp-issues ***@***.***>
抄送: renhao2000 ***@***.***>; Mention ***@***.***>
主题: Re: [jasp-stats/jasp-issues] [Bug]: no images on the distribution plots (Issue #1671)

I'm having the same error, could you help me out? Which

[2022-03-29 08:29] icekylin commented on #1671
@NYC0326
I got reports of this from several Chinese JASP users, but have not been able to reproduce the process. Can you provide a JASP file and log file containing this error (you can compress the .jasp file into a .zip file and upload it in this https://github.com/jasp-stats/jasp-issues/issues/1671 comment section, the log file you can find the path in the JASP preferences settings), and Provide

[2022-03-29 11:39] FranziKessler commented on #627
Hi Johnny,
thanks for your answer!  I excluded group 4 from the analysis as indicated in the clip. It results in exclusion group 4 for the predefined contrasts. But when I open the box to define custom contrasts, group 4 is still listed.  Hence the error message still occurs. (Please refer to the screen shots attached to  illustrate what I mean by that)

Best, Franzi
![custom contrast](https://use

[2022-03-29 12:04] victoreesselman opened #1673 "[Bug]: JASP not starting on Lenovo Chromebook"
### JASP Version

0.16.1

### Commit ID

_No response_

### JASP Module

_No response_

### What analysis are you seeing the problem on?

came not so far

### What OS are you seeing the problem on?

Chromebook Linux beta

### Bug Description

After installation following your instructions JASP is not starting at all.
the icon keeps spinning forever.

what is did so far:
enable linux beta via devel

[2022-03-29 12:24] JorisGoosen commented on #1411
Yeah it does...

No it isn't, it's because you use Ubuntu and it lacks that setting by default. See https://unix.stackexchange.com/questions/471327/whats-the-right-way-to-add-directories-to-xdg-data-dirs for some information on how to set it.
It will be useful also when you install other flatpaks, this way they will show up in menus etc.

As for the crashing, after youve installed/updated JASP you

[2022-03-29 12:24] #1411 closed

[2022-03-29 21:36] scottastone opened #1674 "[Feature Request]: Ability to set specific dimensions on plots"
### Description

Ability to set specific dimensions on plots

### Purpose

Set size of the plots for export and further editing in vector editing programs like Illustrator

### Use-case

Exporting multiple plots that are supposed to be the same size

### Is your feature request related to a problem?

_No response_

### Describe the solution you would like

In Edit Image, you should be able to set

[2022-03-30 02:13] NYC0326 commented on #1671
I have deleted remaining files as I downgraded so I don't have log files.
I have put my csv files in an English paths in case that it is an unicode error, but it also didn't worked.

[2022-03-30 06:29] FBartos commented on #206
The frequentist versions of KM, Cox, and parametric survival models will make it to JASP soon (not the next release, as it will contain only core functionality, but should be able to finish it for the following one). The Bayesian counterparts will unfortunately take a bit longer.

[2022-03-30 09:06] JorisGoosen commented on #1673
Can you show me the output of `flatpak list` ?

And maybe try running `flatpak run org.jaspstats.JASP --safeGraphics` ?

In any case, when JASP fails to start, do you see some text printing in your terminal afterwards? Because if so, it would be quite helpful to post that here.

[2022-03-30 09:08] JorisGoosen commented on #1659
@vandenman would it be a good idea to set the repository of JASP on flatpak default to `https://packagemanager.rstudio.com/cran/__linux__/focal/latest` ?

Although I guess I should at least test whether it also works on, for instance, Arch Linux and others. But I think it will.

[2022-03-30 09:17] vandenman commented on #1659
@JorisGoosen You can try but I don't think it'll work on all Linux OSes, which is a pity because it's much faster than compiling from source.

I don't think it'll work on aarch Also, some packages (`igraph` is the only one I know of) are broken on that repository (they fail on the Ubuntu runners of GitHub actions).

Once, I tried to create a flatpak build where I used these binaries for jasp (rath

[2022-03-30 09:54] FBartos commented on #1648
Dear Jordi,

Thanks for reporting the error and sorry for the late response (I missed the original notification).

I'm having trouble reproducing the issue with my debugging data set, could you please save the JASP analysis that leads to the error as a .JASP file and send it to my email (f.bartos96@gmail.com)? There might be some non-standard formatting that is causing the issue and I'm having tro

[2022-03-30 10:25] JorisGoosen commented on #1659
Well, can't hurt to have a look once we have a new beta build.

Very good point, but there probably is an aarch build somewhere as well?

Aah yeah, but it is kind of weird that this *does* work...

[2022-03-30 10:32] JohnnyDoorn commented on #627
Hi Franzi,

Hmm that's unfortunate, and something I need to pick up with the GUI programmers. In the meantime, would it be possible to edit the data file itself and exclude group 4? I can help you with this, if needed.

Cheers,
Johnny

[2022-03-30 10:40] nothik commented on #1424
Thanks a lot Joris!

I got the error message

but removing "--user" from the tl;dr command did the trick.

[2022-03-30 10:56] FranziKessler commented on #627
Hi Johnny,
sure no problem! I have created an extra variable as an adaptation of the original group variable with empty fields for any fields that are fours in the original group variable. That way I can simply use the adapted group variable as the fixed factor for the specific analysis. As it doesn't indicate a level 4 of the group variable, it is no problem any longer that level four is empty in

[2022-03-30 11:15] lnalborczyk opened #1675 "[Feature Request]:"
### Description

Retrieving the BF values underlying the "sequential analysis" plot in JASP

### Purpose

I am wondering whether there is a way of retrieving the actual BF values behind the "sequential analysis" plot in JASP?

### Use-case

Reproducing the results of an analysis shared as a .jasp file.

### Is your feature request related to a problem?

Nope

### Describe the solution you would li

[2022-03-30 11:19] EJWagenmakers commented on #1675
This would be useful -- the user could tick an option to show the results in a table, for instance. But who should this be assigned to?

[2022-03-30 12:00] Kucharssim commented on #1505
Dear @peteroma, sorry for the tardy response!

Unfortunately there is currently a lot of features we need to implement that have a higher priority. I added this issue to a plan for the 0.18 release, as that is realistically (even though still slightly optimistically) the earliest we can implement some basic functionality.

I appreciate your enthusiasm for this feature (I share it with you!). I wil

[2022-03-30 12:30] vandenman commented on #1675
I can take a shot at this for the t-tests

[2022-03-30 14:07] FBartos commented on #1614
Hi @Itswhatson,

sorry for the late reply (I missed the original notification).

You are corrent in the initial assessment: the dependend variable needs to be specified as a proportion. The reason it did not work with your second try is that there a input check to verify that the proportion indeed corresponds to a possible number of trials (by back multiplying the proportion with the number of tri

[2022-03-30 14:14] FBartos commented on #1614
I had to upload the analysis using the frequentist GLMM since the Bayesian output is too large to send via GitHub (all the posterior samples)
[GLMM_binom_aggregate_new.zip](https://github.com/jasp-stats/jasp-issues/files/8381231/GLMM_binom_aggregate_new.zip)

[2022-03-30 17:23] scottastone commented on #1674
Just to add, if it was possible to get out the R command used to generate the plot, that would be immensely helpful. Is there a hacky was to do this currently?

Recreating the plots is more difficult because I would have to manually calculate the standard error / 95%ile.

[2022-03-30 19:50] peteroma commented on #1505
Thank you @Kucharssim and @EJWagenmakers!  We appreciate the interest and enthusiasm, and whether 0.18, 0.20, or 0.30 I'm sure will be worth the wait.  In the meantime, I am indeed very happy to help test an LPA module at any level of development (and suspect @TarandeepKang and @MTom68 may also be willing as well).  Onward & Upward!

[2022-03-31 10:56] jvicensb commented on #1648
Dear Frantisek,

first of all, thank you for your help and your terrific work helping the community. It is admirable the way you put it out.

Second, please find attached the file. I hope you can detect what mistake I made. If you need anything else just let me know.

And again, thank you for your help.

Best regards,

Jordi

[2022-03-31 10:57] jvicensb commented on #1648
Forgot to attach the file,

Jordi

[2022-03-31 14:32] AlexandraSymeo commented on #320
I have also created a csv file with the raw data and the scale scores calculated in EXCEL. The scores have . and decimals. JASP reads these as categorical variables. I follow the guidelines to change the column type, I click as appropriate, but no change takes place.

What should I do? I use Jasp 0.16.01

[2022-03-31 14:42] JorisGoosen commented on #320
@AlexandraSymeo you don't get a warning about it containing some string?
What does your data look like, can you share it with me?

[2022-03-31 14:50] AlexandraSymeo commented on #320
This is the warning i am getting: Failed to convert column to continuous: values contain text.
But there is no text I have re-checked each column

[2022-03-31 14:57] boutinb commented on #320
@AlexandraSymeo It's better to make a new issue than using an issue which is already closed. Can you also send us your data file, at least the part causing this problem? You can zip it and drag & drop it in the issue.

[2022-03-31 15:21] AlexandraSymeo commented on #320
@boutinb I am sorry for this, did not know it was preferable. I managed to solved the issue by converting my excel sheet firstly to .numbers document (supported by Macbooks) and then to .cvs. After doing so I managed to upload it to jasp without an issue

[2022-04-01 09:12] boutinb commented on #320
@AlexandraSymeo Fine it's solved!

[2022-04-01 10:52] vandenman commented on #1674
There is no straightforward way to get the R command used to generate the plot (it's possible but it's not easy). However, you can access the plot objects saved in the state the following hacky way:

- unzip the .jasp file, let's assume it's now called "unzipped_jasp"
- in R, do `load("unzipped_jasp/resources/0/state")`. Here 0 is an analysis number, if there are multiple analyses then these all h

[2022-04-02 13:06] victoreesselman commented on #1673
Hello Joris,

thanks for your quick response, sorry for my late response.

because it wont start I did a powerwash ande try is again, below everything from my console:'
Me-@penguin:~$ sudo apt update
Ign:1 https://storage.googleapis.com/cros-packages/99 bullseye InRelease
Hit:2 https://storage.googleapis.com/cros-packages/99 bullseye Release
Hit:4 https://deb.debian.org/debian bullseye InRelease
H

[2022-04-02 18:55] lipniskiss opened #1676 "[Bug]: Issue with Equality of Variances within the Independent Ttest"
### JASP Version

0.16

### Commit ID

_No response_

### JASP Module

jaspTTests

### What analysis are you seeing the problem on?

Equality of Variances within the Independent Ttest

### What OS are you seeing the problem on?

Windows 11

### Bug Description

Error in .ttestindependentEqVarFill(equalityVariance, dataset, options): object 'result' not found - this error occurred when I selected "

[2022-04-04 08:55] JorisGoosen commented on #1673
Have you seen this issue: https://github.com/jasp-stats/jasp-issues/issues/1600 ?
Because:
[code]

Is exactly the same problem as they had.

[2022-04-04 08:57] JorisGoosen commented on #1657
if you use `sudo flatpak` it runs the flatpaks installed to `system` and if `flatpak` those installed to `user`.

So try running `flatpak run org.jaspstats.JASP` if it is actually installed to `user`.
If that doesnt help try `flatpak --list` and post the output here.

[2022-04-04 14:45] JorisGoosen commented on #1673
@Penguin you might want mention @victoreesselman with this remark because it took me a while to figure out why you were posting here...

@victoreesselman this could have been avoided by posting your log as a "code" snippet https://docs.github.com/en/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax#quoting-code

I will change yo

[2022-04-04 15:19] JorisGoosen commented on #1673
Yeah so now you are just calling him out by name manually, but ok.

I don't really need anything from you except for you to try the solution in the issue I linked before: https://github.com/jasp-stats/jasp-issues/issues/1600

If that doesnt help then you can reopen this.

[2022-04-04 16:00] victoreesselman commented on #1673
I tried to install the graphics  fix but the the instruction to do so are not working.
That why I send you what I have installed including the list.

   Telefoon: 035 - 712 3520

Een Support Case nodig mail a.u.b. dan naar: ***@***.******@***.***>

Met vriendelijke groet,
Victor Esselman.

Van: Joris Goosen ***@***.***>
Verzonden: maandag 4 april 2022 17:20
Aan: jasp-stats/jasp-issues ***@***.***>

[2022-04-05 07:47] icekylin commented on #1655
@JorisGoosen Perhaps this problem should be paid attention to during the development of datamode, do you think so?

[2022-04-05 09:19] JorisGoosen commented on #1655
Well, im not sure if this really is a problem actually?
Maybe there are good reasons to have an empty label?

And of course, you would have to specifically enter an empty label and then not do anything about it to get into this situation.

What would the alternative be?
- Getting a warning whenever you leave it empty: which would be kind of annoying I guess
- Not being allowed to leave it empty, s

[2022-04-05 10:26] PerPalmgren commented on #1442
Possible inclusion of this for 0.17?

[2022-04-05 10:34] icekylin commented on #1655
Ok thanks for your reply. I still think that a blank display would be considered "missing glitch" or "unreasonable" by the user,someone also raised this doubt to me

- Yes, I agree that frequent warnings should not be

- For labels deleted by the user themselves, it should be replaced with the displayed data value(Even mixed display value and label, I can understand that **the value is the label a

[2022-04-05 10:53] JorisGoosen commented on #1655
Yes, this does seem like the best solution.

We just had a meeting and we talked about the fact that having duplicate labels could be a problem (or at least is unwanted) as well. And that could be triggered by using the value (if another label has the same label), but in that case at least there *is* a label.

I think this could be fixed relatively easy so maybe I can indeed take it with in data e

[2022-04-05 11:18] JohnnyDoorn commented on #1442
Hi @PerPalmgren,

I think this issue has been orphaned a bit for now, since the usual statistics programmers are focusing on some more pressing features at the moment (we are also occupied by things like teaching etc.). I think the inclusion for 0.17 might be too ambitious, but the version after that one will probably work! It is also not a very extensive addition, so hopefully we can find someone

[2022-04-05 12:26] PerPalmgren commented on #1442
That would be wonderful. Because my students (and me) don’t like to have to do these calculations in SPSS or by hand.
Per😎

Per J. Palmgren | DC, FRCC, MMedEd, PhD |
Associate Professor |
Department of Learning, Informatics, Management and Ethics |
Karolinska Institutet | Tomtebodavägen 18A | 171 77 Stockholm |
Tel. + 46 8 524 85 294<tel:+%2046%208%20524%2085%C2%A0294>
***@***.******@***.***> | ki

[2022-04-05 13:40] Kucharssim commented on #1442
Perhaps @LSLindeloo can take a look?

[2022-04-05 14:56] tomtomme commented on #1599
I love it!
Good work guys! Thank you for the quick implementation!

[2022-04-06 15:14] TarandeepKang commented on #1505
Indeed, I am happy test forthcoming LCA/LPA functionality! If it helps the team, I'm in.

[2022-04-06 18:23] lipniskiss commented on #1676
Never mind! I spoke with my advisor and discovered the problem - my data set was not set up correctly to run the test. There was no variances in my data, so it could do the equality of variances...

[2022-04-07 12:01] MTom68 commented on #1505
Also from my part!
Best, Tamás

TarandeepKang ***@***.***> ezt írta (időpont: 2022. ápr. 6.,
Sze, 11:14):

[2022-04-07 12:09] boutinb commented on #1676
We can close this issue I think

[2022-04-07 12:09] #1676 closed

[2022-04-07 14:06] KelvinBalcombe opened #1677 "An(c)ova introduces side effects for Regression"
### JASP Version

0.16

### Commit ID

_No response_

### JASP Module

jaspAnova, jaspRegression

### What analysis are you seeing the problem on?

Linear Regression

### What OS are you seeing the problem on?

Windows 10

### Bug Description

1) Run a classical linear regression including a categorical variable within Factors
2) Click on classical ANOVA (you do not actually have to specify a mode

[2022-04-07 14:49] paulamarentette commented on #1430
Still hoping for this to be solved. I am not au fait with how stuff gets entered here, but I have a larger scale test of this:
In a class of 14 stats tutors, 4 experienced this error. It does occur across platforms and mysteriously using an identical data set.
In a class of 250 intro stats students, so far I have 3 error reports. Not all will report (they just get frustrated and stop trying). I'm

[2022-04-07 15:10] tomtomme commented on #1430
for me this was solved in version 0.16.1 on manjaro (linux)

[2022-04-07 17:21] Kucharssim commented on #1430
There used to be a bug in that the S3 methods were not exported properly - this has been fixed by @vandenman (https://github.com/jasp-stats/jaspBase/commit/75c30c178831d0ba098b65dc28bc2691ef313948) and should indeed work in 0.16.1. So in case this does not work for some people on 0.16.1, we would probably need some more details (I also cannot reproduce it).

Note that you need to be careful about

[2022-04-07 19:22] Kucharssim commented on #1669
Hello @pvanbaarlen,

In case this is about mixed models, I believe REML is already used under some settings of the analyses. Perhaps @FBartos could provide more details.

If this is not about mixed models, could you be more specific please?

[2022-04-08 05:55] tomtomme commented on #1430
To make it more clear (at least for me)

This should work with nominal:
ifElse(variable < 0, negative, positive)

This should work with ordinal:
ifElse(variable < 0, -1, 1)

This should work with scale:
ifElse(variable < 0, -0.1, 0.1)

Right?

Yeah some hints for the user in this direction through error messages would be highly appreciated! This has already caused some confusion with colleaugues a

[2022-04-08 06:38] pvanbaarlen commented on #1669
Dear Simon,

Thank you very much for responding to my question!

Indeed, REML facilities analysis of linear mixed models and estimates variance components; REML is residual maximum likelihood, sometimes also called restricted maximum likelihood.

It would be great to know if REML is somewhere hidden in your extensive JASP options,

With regards,
Petre

From: Simon Kucharsky ***@***.***>
Sent: dond

[2022-04-08 06:53] FBartos commented on #1669
Hi Petre,

REML is the default method for estimating LMM when "Model terms" are tested with either the Satterwaite or Kenward-Roger method. You can set and see the additional information about the model in the highlighted options on the screenshot.

![image](https://user-images.githubusercontent.com/38475991/162380666-3abdfa8d-3a62-495a-a3f7-2d64e8b67850.png)

Cheers,
Frantisek

[2022-04-08 06:53] #1669 closed

[2022-04-08 06:56] jl-a opened #1678 "[Bug]: Application crashes when filtering column values on Linux"
### JASP Version

0.16.1

### Commit ID

_No response_

### JASP Module

_No response_

### What analysis are you seeing the problem on?

_No response_

### What OS are you seeing the problem on?

Linux (Manjaro, KDE Plasma 5.14.3, kernel 5.16.14-1)

### Bug Description

When filtering column values by clicking on the column label and then un-checking any of the values, the application hangs for a

[2022-04-08 06:59] pvanbaarlen commented on #1669
Dear Frantisek,
Thank you very much! that's extremely useful to know, I'm very happy with that. Best wishes, Peter

From: FBartos ***@***.***>
Sent: vrijdag 8 april 2022 08:53
To: jasp-stats/jasp-issues ***@***.***>
Cc: Baarlen, Peter van ***@***.***>; Mention ***@***.***>
Subject: Re: [jasp-stats/jasp-issues] [Feature Request]: Add REML (Issue #1669)

Hi Petre,

REML is the default method for est

[2022-04-08 08:21] LauraSambaer opened #1679 "[Bug]: When interaction term is entered in regression, JASP 'terminated unexpectdly'"
### JASP Version

0.16.1

### Commit ID

_No response_

### JASP Module

jaspRegression

### What analysis are you seeing the problem on?

Model (Interaction term)

### What OS are you seeing the problem on?

macOS Monterey (12.1)

### Bug Description

<img width="1651" alt="image" src="https://user-images.githubusercontent.com/103247013/162395095-6be82053-3406-4593-affd-a65432d5404b.png">
[MP_FIN

[2022-04-08 08:45] DrLarsson commented on #33
I came in here to suggest a wide to long conversion but it seemed like it was going on. Is there any update on such a feature?

[2022-04-08 09:53] tomtomme commented on #1678
This is a known bug. It should be fixed with the upcoming 0.16.2 version

[2022-04-08 09:57] JorisGoosen commented on #33
Well, the last time I claimed I was hoping to get to this in a couple of months I was apparently off by a couple of years...

But while we are currently working hard on releasing 0.16.2 and 0.16.3 the version after that will contain a complete overhaul of the internal storage of data within JASP as it runs.

This is the first step to actually implementing a more flexible way of handling data, in f

[2022-04-08 10:31] JorisGoosen commented on #33
Seeing by the amount of request we get for this over time I am sure you are not the only one!

We definitely haven't forgotten about it, it just isn't exactly trivial to do as the whole application has been setup from the start to handle only wide data up until now. But we'll get there eventually ^^

[2022-04-08 11:08] tomtomme commented on #1426
A student of mine just told  me the following solution works for macOS monterey:
https://support.apple.com/de-de/guide/mac-help/mchleab3a043/mac

[2022-04-08 14:57] boutinb commented on #1426
We are also about to release a version that should solve this problem. You can try a beta version here: http://static.jasp-stats.org/Nightlies/macOS-x86_64/JASP-nightly-stable-ff3de5165ae037a16afd7d04bfb5a01823be68e1.dmg

[2022-04-08 16:47] paulamarentette commented on #1430
I see this student was trying to make a new scale variable with this command.
Someone wrote that JASP expects output of IfElse to be a number.
I will get my students to try this.

Here is an example of the identical error when a different student was trying to create a **nominal variable.**
The command appears accurate to me:
IFElse (variable ≥ median(Variable), more, less))
Minimally it would be

[2022-04-08 17:46] paulamarentette commented on #1430
Also, if I need to provide more information I need to know exactly what information to provide. Trust me it is hard to get this stuff out of most undergraduates.

[2022-04-09 17:14] ctalerico2018 opened #1680 "[Bug]: Mardia coefficient not showing in SEM output"
### Description

Blank Mardia Cause annotation

### Purpose

Understand why the coefficient is not reporting

### Use-case

I have an output without a Mardia coefficient and I don't know what is causing it, if its a bug or something wrong with my data-set

### Is your feature request related to a problem?

yes, I am not currently getting an output and I have no errors reported.

### Describe the s

[2022-04-09 19:09] lfvillalobos opened #1681 "[Bug]: Installing JASP"
### JASP Version

0.16.1

### Commit ID

_No response_

### JASP Module

_No response_

### What analysis are you seeing the problem on?

Installing JASP

### What OS are you seeing the problem on?

MacOS BigSur

### Bug Description

Hi guys. I'm trying to install JASP on my computer. Once installed, I cannot open it. It says, "JASP" cannot be opened because the developer cannot be verified". I'm

[2022-04-10 01:35] icekylin commented on #1681
Yes this is a known issue to us. It should be fixed in the upcoming next release.
You can refer to here https://github.com/jasp-stats/jasp-issues/issues/1426 to temporarily solve this problem

[2022-04-11 06:36] #1681 closed

[2022-04-11 06:37] amirmasoudabdol commented on #1426
Closed by https://github.com/jasp-stats/INTERNAL-jasp/issues/1629!

[2022-04-11 06:37] #1426 closed

[2022-04-11 09:29] sustia opened #1682 "[Feature Request]: Split-plot (or other experimental designs) ANOVA"
### Description

Hello, I discovered JASP and I like it really a lot. However, I would like to analyze some data for ANOVA using the split-plot design but I don't see such option in the ANOVA menu. It would be really interesting to have the opportunity to choose which experimental design we are analyzing, to have the right ANOVA and make the software more flexible. Thanks.

### Purpose

Analyzing

[2022-04-11 12:25] raquellondon commented on #1300
I'm just curious; is this something that is being worked on at the moment? Thanks!

[2022-04-11 14:09] paulamarentette opened #1683 "[Feature Request]: Bar Charts as Plot Option"
### Description

bar charts as plot option

### Purpose

to illustrate means-based tests

### Use-case

t-tests, ANOVA,

### Is your feature request related to a problem?

_No response_

### Describe the solution you would like

bar charts with options for SD, SE, CI as error bars, capacity to edit y axis to include 0

### Describe alternatives that you have considered

_No response_

### Addition

[2022-04-11 14:13] EJWagenmakers commented on #1683
I agree! Maybe an option that one of our new recruits can work on. @Kucharssim do you have any ideas who to assign this to? These are popular tests so lots of people might appreciate the suggested functionality. Maybe something for @LSLindeloo or @arandolan or @foger3 ?

[2022-04-12 03:01] AriaAvi opened #1684 "[Bug]: Error during the initialization of a Module"
### JASP Version

0.16.1

### Commit ID

_No response_

### JASP Module

jaspMachineLearning

### What analysis are you seeing the problem on?

machine learning, regression, reliability, and network

### What OS are you seeing the problem on?

Windows 10

### Bug Description

[Bug]: Error message: An error occurred trying to initialize a module from dir C:/... The error was: icon is missing from C

[2022-04-12 07:24] amirmasoudabdol commented on #1104
@koenderks is this still an issue?

[2022-04-12 07:26] koenderks commented on #1104
No idea, i cannot build the current version. If this occurs in 0.16.1 then I'm sure this is still an issue

[2022-04-12 07:26] akashrajkn commented on #1104
Yup, on 0.15, this is still an issue

[2022-04-12 07:34] AlexanderLyNL commented on #1104
Not an issue in CMake 0.16.2: https://github.com/jasp-stats/jasp-desktop/commit/db130a83190c4d654efc0e3a5d9b7b5805ad8423

[2022-04-12 07:50] amirmasoudabdol commented on #1104
I can see that it's fixed on the latest nightly as well!

[2022-04-12 07:50] #1104 closed

[2022-04-12 14:17] boutinb commented on #1681
We have a beta version that should solve this problem: http://static.jasp-stats.org/Nightlies/macOS-x86_64/JASP-nightly-stable-2509cc21037a54e6f20c5dc5d54b81403ae7690f.dmg
Could you try it?

[2022-04-12 14:30] lfvillalobos commented on #1681
Thank you.

From: bruno boutin ***@***.***>
Date: Tuesday, April 12, 2022 at 10:17 AM
To: jasp-stats/jasp-issues ***@***.***>
Cc: lfvillalobos ***@***.***>, Author ***@***.***>
Subject: Re: [jasp-stats/jasp-issues] [Bug]: Installing JASP (Issue #1681)

We have a beta version that should solve this problem: http://static.jasp-stats.org/Nightlies/macOS-x86_64/JASP-nightly-stable-2509cc21037a54e6f20c

[2022-04-13 15:48] boutinb commented on #1679
Hi @LauraSambaer I cannot reproduce your problem. Could you send a file where I can reproduce it?
Maybe could you try also the beta version (that should be released next week): http://static.jasp-stats.org/Nightlies/macOS-x86_64/JASP-nightly-stable-2509cc21037a54e6f20c5dc5d54b81403ae7690f.dmg
Maybe this is already solved here.

[2022-04-13 15:49] boutinb commented on #1644
You could try it with a beta version: http://static.jasp-stats.org/Nightlies/macOS-x86_64/JASP-nightly-stable-2509cc21037a54e6f20c5dc5d54b81403ae7690f.dmg

[2022-04-13 15:58] boutinb commented on #1679
@Saguaroman Do you have a precise reproduction path that works for example with a JASP Data Library dataset?

[2022-04-13 16:58] Saguaroman commented on #1679
I don't have a reproduction path.  In the attached data, when I run it (aggressi as DV, VSP_trai as covariate, Viol_Exp as Factor), it generates the error. When I just basically mess around adding and subtracting variables from the model, it seems like in a few tries it suddenly generates the output. I haven't managed to figure out the precise pattern of adding/removing variables from the model th

[2022-04-13 18:13] mshephe1 opened #1685 "[Feature Request]: VPAT"
### Description

Many American universities will not allow softwares to be used unless there is a VPAT (voluntary product assessibility template).

### Purpose

_No response_

### Use-case

_No response_

### Is your feature request related to a problem?

No VPAT (which demonstrates ADA complicance)

### Describe the solution you would like

Create a VPAT

### Describe alternatives that you have c

[2022-04-13 19:42] EJWagenmakers commented on #1685
We realize that particular aspects of JASP need to be improved as far as accessibility is concerned, and this will become relevant once we've finished the two major projects we are working on now. The VPAT/ADA guidelines may come in handy, but I must see that they've managed to bury the essentials under a heap of jargon. @boutinb maybe handy to keep this in mind when we turn to accessibility...

[2022-04-13 19:45] EJWagenmakers commented on #1685
BTW, I tried to find information online on what software needs to do to be ADA compliant, but I mostly get information on websites. Would you happen to know the essential components? Screenreader-compatible, and operable by keyboard? Is there anything else?

[2022-04-13 20:18] akypar opened #1686 "[Bug]: jaspML file is not saved in Machine learning module (Random Forest Regression)"
### JASP Version

0.16.1

### Commit ID

_No response_

### JASP Module

jaspMachineLearning

### What analysis are you seeing the problem on?

Regression / Random forest

### What OS are you seeing the problem on?

Windows 10

### Bug Description

I am trying to save a trained model (jaspML) to use it in prediction. Even though i check the "Save trained model" box the jaspML file is not created.

[2022-04-13 20:25] mshephe1 commented on #1685
https://montevallo.app.box.com/v/VPAT-Template  This from my university.  It seems to be based on generic standards.

[2022-04-13 20:26] AlexanderLyNL commented on #1686
Hi Akypar,

Thanks for the report. I can reproduce this on
- macOS 11.6.5 M1
- For me the problem occurs with Random Forest Regression, but the model gets saved for Boosting Regression
- JASP 0.16.1

@koenderks could you have please have a look.

[2022-04-13 20:34] EJWagenmakers commented on #1685
Thanks, this is very helpful. @boutinb can you make a note of this?

[2022-04-14 02:05] AriaAvi commented on #1684
@boutinb Hi, No I did not load any module with a Developer module. In brief, I installed the latest JASP the 'conventional' way, and clicked to open it, but I received the errors.
Note: I reinstalled JASP, but the problem persisted.

[2022-04-14 06:46] Kucharssim opened #1687 "Multigroup SEM: Release constraints do not work as expected"
### JASP Version

0.16.1

### Commit ID

_No response_

### JASP Module

jaspSem

### What analysis are you seeing the problem on?

SEM

### What OS are you seeing the problem on?

MacOS

### Bug Description

The issue was reported in a forum: https://forum.cogsci.nl/discussion/7567/how-to-release-constraints-for-measurement-invariance-in-jasp

### Expected Behaviour

The release constraints shoul

[2022-04-14 07:08] boutinb commented on #1679
I still cannot reproduce this problem even with your data. But maybe @vandenman has an idea of what could go wrong: the error message refers to a line in regressionlinear.R

[2022-04-14 07:20] LauraSambaer commented on #1679
@Saguaroman Thanks for this tip! I do have another question. My statistics knowledge isn't that good, so I hope this isn't a stupid question.
Not all the JASP versions have a separate 'factors-box' in linear regression, so I didn't found any videos that could help me, but what exactly is the difference between covariates and factors in JASP? Or do you know any documents or videos that give example

[2022-04-14 07:56] koenderks commented on #1686
I can reproduce this, but its a dependency thing since if you refresh the analysis you can save the model

[2022-04-14 08:01] akypar commented on #1686
Refreshing the analysis does not work for me...

On 14/4/2022 10:57, Koen Derks wrote:

[2022-04-14 08:03] koenderks commented on #1686
Did you try it via this "Refresh button" on top?
![image](https://user-images.githubusercontent.com/25059399/163341356-d2668e92-1c5b-4940-8024-91601e3479cc.png)

As you can see, this way the model should be saved (on my pc here at least).

[2022-04-14 08:08] boutinb commented on #1685
I have created an Accessibility project. @akashrajkn: you were working already on improving the shortcuts. If you make an issue or a PR, use this project.

[2022-04-14 08:32] boutinb commented on #1684
The error indicates that JASP cannot find the module you try to use. Apparently there was a problem during the installation.
Could you try to install again JASP. Maybe you could try the beta version of our new version (released probably next week): http://static.jasp-stats.org/Nightlies/Windows/JASP-nightly-stable-3b846c5eea7abafede12e339bf47d2b6c6934917.msi

[2022-04-14 08:57] akypar commented on #1686
When I press this button I get the following:

This analysis terminated unexpectedly.

Error in str2lang(x): :1:27: unexpected input
1: DOESNOTMATTER ~ 26/10/2017_
                               ^

Stack trace
doTryCatch(return(expr), name, parentenv, handler)

withCallingHandlers(expr = analysis(jaspResults = jaspResults, dataset =
dataset, options = options), error = .addStackTrace)

analysis(ja

[2022-04-14 09:01] koenderks commented on #1686
@akypar could you save your analysis as a .jasp file (via top left menu -> save), then make a .zip from this .jasp file and upload it here in this issue. That would make this bug a little bit more reproducible. Thanks in advance

[2022-04-14 10:22] akypar commented on #1686
Here is the zip file.
[ML_test.zip](https://github.com/jasp-stats/jasp-issues/files/8488376/ML_test.zip)

[2022-04-14 10:36] TarandeepKang commented on #1685
Dear team, I thought I would respond to this thread, because I both regularly use the software, and, have a physical disability and related accessibility needs. I will be happy to discuss this with you further, if you like? I know for example that under Apple systems company recommends labelling all options so that they can be easily interacted with using voice recognition technologies, such as th

[2022-04-14 10:39] koenderks commented on #1686
Ok thanks! I can reproduce your error. It seems to be something with the column names of the data containing a `_`. Here is the same data file, but with different column names ([ML_test2.csv](https://github.com/jasp-stats/jasp-issues/files/8488467/ML_test2.csv)). Using this file I can save the model in JASP 0.16.1. Could you try using this file @akypar?

![image](https://user-images.githubusercont

[2022-04-14 10:42] EJWagenmakers commented on #1685
Great, we'll definitely take you up on this offer!

[2022-04-14 11:12] akashrajkn commented on #1685
Nice! I will use this project and put some updates there.

@TarandeepKang thanks for the offer, I will make a start on the development with shortcuts soon, and would be happy to get your feedback in the future :)

[2022-04-14 11:18] akypar commented on #1686
Indeed, it was a column name problem...

Thanks a lot Koen!!!!!

On 14/4/2022 13:39, Koen Derks wrote:

[2022-04-15 10:22] niklin123 opened #1688 "[Feature Request]: Network analysis - A case-drop bootstrapping option for Expected Influence centrality"
### Description

To my understanding the case-drop bootstrapping only exists for closeness and strength centrality measures, but not for Expected influence measure.
Also, it would be nice with an option to chose between which centrality measures to show in the bootstrapping plot.

### Purpose

Calculating the accuracy of Expected influence centrality

[2022-04-18 04:56] AriaAvi commented on #1684
Thank you. The beta version works fine.

[2022-04-18 05:09] c0okieCut opened #1689 "[Bug]:"
### JASP Version

0.16.1

### Commit ID

_No response_

### JASP Module

jaspDescriptives

### What analysis are you seeing the problem on?

PieCharts, Distribution Plots

### What OS are you seeing the problem on?

Windows10

### Bug Description

https://1drv.ms/v/s!AqTPjJEuff5bhSmM5qAQ2LoVa6aI

### Expected Behaviour

I used to be able to produce charts and tables.

### Steps to Reproduce

1. Re

[2022-04-19 14:03] boutinb commented on #1684
It's now an official version! So I can close this issue.

[2022-04-19 14:03] #1684 closed, assigned to nobody

[2022-04-19 18:56] c0okieCut commented on #1689
Thanks, this a waste of time. Graphics card drivers issue.

[2022-04-19 18:56] #1689 closed

[2022-04-19 23:33] Saguaroman commented on #1679
@boutinb @vandenman -- FYI, I think I have reproduced the sequence a bit more specifically.  In the "model" area, if I enter the "factor" (dichotomous variable) first, then the covariate (continuous variable), and then the interaction/moderator term, it crashes. Whenever I enter the covariate, then the factor, and then the moderator term, it runs fine.   So literally the order in which the variabl

[2022-04-20 00:22] helenum commented on #903
Hi there. Was the poly/tetrachoric correlations added to the Factor Analysis module?
Many thanks

[2022-04-20 02:14] R180 opened #1690 "[Bug]: "Failed to initialize graphics backend for OpenGL.""
### JASP Version

0.16.2

### Commit ID

_No response_

### JASP Module

_No response_

### What analysis are you seeing the problem on?

_No response_

### What OS are you seeing the problem on?

Windows 10

### Bug Description

JASP 0.16.2 will not run at all. Upon attempted launch, the error message is:

**"Failed to initialize graphics backend for OpenGL."**

![image](https://user-images.githu

[2022-04-20 02:35] R180 commented on #1685
FYI. Here's an example: https://www.jamovi.org/VPAT.pdf

[2022-04-20 06:02] tomtomme commented on #1622
Just a short notice for fellow linux users. Flathub seems to need some time again with JASP 0.16.2. The last time the whole process lasted 2 days. So expect the update to show up tomorrow.

[2022-04-20 07:28] vandenman commented on #1622
Actually, the switch to CMake and Qt6 proved to be more difficult for flatpak than Windows and macOS, so this will take a bit longer.

[2022-04-20 07:38] Kucharssim commented on #903
Hello @helenum,

it is possible to use ordinal variables in CFA. I see that this is not the case for EFA yet. I will take a look.

[2022-04-20 07:44] amirmasoudabdol commented on #1690
I'm not as familiar with the Windows stack, and its special graphic modes; but maybe @boutinb could help? In the meantime, if you don't mind trying, I wonder what would happen if instead of upgrading JASP, you remove JASP and install it again. With this, I'm hopping that a freshly installed version can navigate its way without interference from the old version.

[2022-04-20 09:36] boutinb commented on #1689
What was the problem?

[2022-04-20 09:38] c0okieCut commented on #1689
Graphical components of the program did not load. I think the video link I
uploaded still stands. Let me know if you haven't seen it and still want to
see.

20 Nis 2022 Çar 12:36 tarihinde bruno boutin ***@***.***>
şunu yazdı:

[2022-04-20 09:46] boutinb commented on #1679
Yes I can reproduce this problem now. Thanks for your investigation: it is indeed if you first add Openness in the Model Terms, then Extraversion, and finally the interaction that the error occurs. @vandenman can you have a look?

[2022-04-20 09:55] boutinb commented on #1690
@R180, can you start JASP from the command line where JASP is installed (usually in C:\Program Files\JASP):
[code]

[2022-04-20 13:50] #1621 closed

[2022-04-20 15:32] Kucharssim commented on #903
Actually, @juliuspf already made a PR that implements this feature, and it is scheduled for the 0.16.3 release. https://github.com/jasp-stats/jaspFactor/pull/93

[2022-04-20 15:38] juliuspf commented on #903
Also for EFA by courtesy of https://github.com/francotisocco in here https://github.com/jasp-stats/jaspFactor/pull/75

[2022-04-20 15:46] #1638 closed

[2022-04-20 16:30] HamidLD opened #1691 "JAGS throws error in `stringr::str_count(model, chars)`: object 'model' not found"
### JASP Version

0.16.2

### Commit ID

_No response_

### JASP Module

jaspJags

### What analysis are you seeing the problem on?

Model fitting

### What OS are you seeing the problem on?

Win10 64bit

### Bug Description

I have a behavioral data set [BartC.csv](https://github.com/jasp-stats/jasp-issues/files/8523015/BartC.csv) , to which I want fit a cognitive model using JAGS (shown in the a

[2022-04-21 08:11] #1605 closed

[2022-04-21 08:14] amirmasoudabdol commented on #1691
@FBartos, any idea what's going on here?

[2022-04-21 08:17] koenderks commented on #1686
No worries. If you run into anything else let me know!

[2022-04-21 08:17] #1686 closed

[2022-04-21 08:18] #1436 closed

[2022-04-21 08:18] #1073 closed

[2022-04-21 08:28] FBartos commented on #1691
hmm, no idea. Maybe an issue for @vandenman to look at?

[2022-04-21 09:46] vandenman commented on #1691
Looks like the same issue as https://github.com/jasp-stats/INTERNAL-jasp/issues/1816

[2022-04-21 11:49] tomtomme commented on #1622
Thx for the info! Are we talking weeks or months (aka 0.16.3)?

[2022-04-21 14:11] juliuspf commented on #1688
HI @niklin123. Thank you for the feature request. I have assigned the module maintainer. They will get back to you.
Julius

[2022-04-21 14:20] juliuspf commented on #1680
Hi @ctalerico2018. Thank you for making the request. Can you tell me a bit more about this feature? What analysis is it related to?

[2022-04-21 14:38] HamidLD commented on #1691
That link doesn't work for me. ("404" error).
To give you more information, here's the experiment that has done what I want to do: https://osf.io/3n98r/
I can also do it in R, but thought to give it a try with Jasp first because it's easier ha!

[2022-04-21 14:41] juliuspf commented on #1678
Hi @jl-a. thanks again for reporting. Could you try this again with the new released version 0.16.2 https://jasp-stats.org/download/ ?

[2022-04-21 15:43] vandenman commented on #1691
@HamidLD there is an error because you need to specify initial values for some model components. But unfortunately, an error occurs when trying to show the error message...

With settings like these:
![image](https://user-images.githubusercontent.com/21319932/164498958-cd7c8946-e768-4c8e-b8cb-d2889d93fbdf.png)

I get the following error in jasp-stats/jaspJags#69:
![image](https://user-images.githu

[2022-04-21 15:46] juliuspf commented on #1672
HI @dmirkov. Thank you for the request. You are raising an interesting point. I wonder how feasible it is to implement @vandenman ?

[2022-04-21 16:11] dmirkov commented on #1672
Hi 😊 Thanks!

Get Outlook za Android<https://aka.ms/AAb9ysg>
________________________________
From: Julius Pfadt ***@***.***>
Sent: Thursday, April 21, 2022 5:46:41 PM
To: jasp-stats/jasp-issues ***@***.***>
Cc: dmirkov ***@***.***>; Mention ***@***.***>
Subject: Re: [jasp-stats/jasp-issues] [Feature Request]: (Issue #1672)

HI @dmirkov<https://nam12.safelinks.protection.outlook.com/?url=https%3A%

[2022-04-21 16:12] juliuspf commented on #1662
hi @levolz. thanks for reporting. @Jiashun97 any ideas what to do here? Maybe input control or a footnote is required?

[2022-04-21 16:23] icekylin commented on #1671
@juliuspf sure, i'd love to look into this if someone give a JASP file to reproduce it.

[2022-04-21 16:24] HamidLD commented on #1691
I see. Those values should be:
maxpumps: 116 (there is a +1 in the code, so maybe it should be 117)
totalTrials: 4830
participants: 161 (each have had 30 trials)
This demo file might also be useful:
[BARTDemo.zip](https://github.com/jasp-stats/jasp-issues/files/8532576/BARTDemo.zip)

[2022-04-21 22:43] Jiashun97 commented on #1662
You are right. The two parameters for beta distribution should be larger than 0. @vandenman Is it possible to add an input control for the table?

[2022-04-22 00:38] ctalerico2018 commented on #1680
Mardia coefficient wasn't producing an output on my structural equation model and I couldn't figure out why.  The model ran and I had an output for the other tests, but this one.

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Julius Pfadt ***@***.***>
Sent: Thursday, April 21, 2022 10:20:15 AM
To: jasp-stats/jasp-issues ***@***.***>
Cc: ctalerico2018 ***@**

[2022-04-22 07:20] juliuspf commented on #1680
@ctalerico2018 could you provide a jasp file for this bug? Or the data and describe the model you tried to fit?

[2022-04-22 07:34] #1635 closed

[2022-04-22 08:39] #1652 closed

[2022-04-22 14:34] vandenman commented on #1662
@Jiashun97 I think you can set a lower bound with `minimum`.

[2022-04-25 09:33] niklin123 opened #1692 "[Bug]: Network analysis - inconsistancy between centrality table and centrality plot"
### JASP Version

0.16.2

### Commit ID

_No response_

### JASP Module

_No response_

### What analysis are you seeing the problem on?

Network-analysis - Centrality measures

### What OS are you seeing the problem on?

macOS

### Bug Description

The centrality table is showing strengt centrality while the centrality plot i showing degree in the same place.

I have a network with 4 positively i

[2022-04-25 13:41] mathijsdeen opened #1693 "[Feature Request]: fix the number of JASP engines by an administrator"
### Description

Is it possible to make the number of JASP engines that are available to be fixed by an administrator

### Purpose

When RAM is limited (e.g. on an application server), you might want to limit RAM usage for the end user.

### Use-case

_No response_

### Is your feature request related to a problem?

At our mental health organization we're thinking about implementing JASP, but the

[2022-04-25 20:44] tplaiho777 commented on #606
I am now really honest but unless you fix this "minor" problem I would say that JASP is shit. Sorry about this, a useless toy. No dates no research tool.

[2022-04-25 20:50] tplaiho777 commented on #606
http://www.eviews.com/help/helpintro.html#page/content%2Fdataapp-Dates.html%23ww130279 Take a look at this set of features. This is how it should be done in decent statistical software. I have to buy this, unfortunately. I wish I never had studied JASP, such a waste of time.

[2022-04-25 21:04] JorisGoosen commented on #606
Unless of course you are doing things without dates which people do actually do...

I don't see why you have to be so rude about this. We are doing our best to deliver the best statistical software there is, for free for everyone. And in fact is something we will be working on for one of the upcoming versions.

But enjoy locking yourself into a closed ecosystem while being generally unpleasant abo

[2022-04-27 00:21] HamidLD commented on #1691
@vandenman Thanks! It worked! I had almost given up on this ha.
The only thing that confuses me is the number of participants. I have 161 participants, yet this gives you 180 for rho and beta, and it gives the error when you try any number other than 180.

[2022-04-27 01:36] HamidLD commented on #1691
I think I found out what's going on. For some reason, the model has calculated imaginary participants, producing very similarly weird numbers and CIs for them (the rho for all of them is 7 with CIs between 0 and 17), so I deleted these and total n is 161 now.
Anyway, thanks again, I couldn't have figured this out without you.

[2022-04-27 09:21] tplaiho777 commented on #606
Well, sorry about my rude words but time series is an important factor. I went to R cos it seemed to be the only way to treat my data.  I dare to suggest that JASP could have also its own language, which could make to do things you really need to.  Just like Autodesk Maya does have.

[2022-04-27 09:58] JorisGoosen commented on #606
Thank you for apologizing, and we do actually agree with you. It is just that there are so many important things and we only have a limited amount of programmers * time.

In fact, we hope to have a version at the end of the year that supports running analyses/code from JASP in R directly and vice versa. This should make things a lot more flexible.

 And to support data-editing, which will at least

[2022-04-27 10:36] aopteryx commented on #1123
@JTPetter @boutinb

Thanks for the support and clarification! I came along the same issue.

In free software PAST (https://www.nhm.uio.no/english/research/infrastructure/past/) the p-values are also double of JASP, same as in SPSS (double):
You can do Dunns test in SPSS using Kruskal Wallis first
https://www.ibm.com/support/pages/can-spss-perform-dunns-nonparametric-comparison-post-hoc-testing-aft

[2022-04-27 11:50] EJWagenmakers commented on #1123
This makes sense. Note that the two-sided p-value is double that of the one-sided p-value only if the observed effect goes in the expected direction (so don't code this just as p/2).

[2022-04-27 14:29] Kucharssim commented on #1656
@juliuspf Qixiang is working on it himself

[2022-04-27 14:34] manondmg commented on #1580
please @JorisGoosen Do you know what to do? Do you have a solution?

[2022-04-27 14:58] JorisGoosen commented on #1580
have you tried the solutions in: https://github.com/jasp-stats/jasp-issues/issues/1600

if not, I would love to see the output you get after trying to start jasp in a terminal

[2022-04-27 15:48] juliuspf commented on #1648
@jvicensb could you try to attach the file again?

[2022-04-27 15:51] juliuspf commented on #1646
Hi @agnostiko14, thank you for the request. I apologize for the late response. I will ask some team members for more guidance.

[2022-04-27 15:52] juliuspf commented on #1646
Any ideas if this is feasible @FBartos, @vandenman ?

[2022-04-27 16:03] juliuspf commented on #1639
Hi @areeq1, thanks for the request. This should be mostly fixed for 0.16.3 or 0.17. If you require it earlier check out the nightlies.

[2022-04-27 16:10] juliuspf commented on #1637
Hi @gtobin26. thank you for the request, and I apologize for the late reply. Let me ask one of our module maintainers for additional help. @Kucharssim, do you know if this is feasible and who could take this up?

[2022-04-27 17:48] Kucharssim commented on #1637
Dear @gtobin26,

1. Could you clarify what you are missing regarding the omnibus test? JASP already reports the ANOVA F test for the model (it's the second table in the regression output titled "ANOVA"). Or did I misinterpret your request?

2. The first level of a categorical predictor is indeed used as a reference category in the model. In order to change the reference category, you can reorder t

[2022-04-27 18:49] juliuspf commented on #1630
Hi @TarandeepKang, thank you for the request. I will ask around :)

[2022-04-27 18:49] juliuspf commented on #1630
@EJWagenmakers, what do you think?

[2022-04-27 19:14] EJWagenmakers commented on #1630
Yes, would be good. However, the package is no longer on CRAN, and I would want to give this another think (and see how this can be generalized)

[2022-04-28 06:44] PerPalmgren commented on #1627
Hi,
Is this feature incorporated now in the new version?

[2022-04-28 07:39] vandenman commented on #1691
Ah yeah in that case all information is sampled from the prior distributions, so the sampled values probably do not make any sense.

[2022-04-28 08:26] FBartos commented on #1646
I think I heard someone in the lab working on the conceptual side of it. Can't recall who though. Any idea?

[2022-04-28 08:27] FBartos commented on #1648
I actually got the file by email at the end. We know about the issue - caused by the contrasts widget and filtering factor levels in data editor, and Bruno should have a fix for the next release.

[2022-04-28 09:56] timoharmankaya opened #1694 "[Bug]: Unidimensional Reliability Issue"
### JASP Version

0.16.2

### Commit ID

_No response_

### JASP Module

_No response_

### What analysis are you seeing the problem on?

Unidimensional Reliability

### What OS are you seeing the problem on?

macOS Monterey 12.1

### Bug Description

This analysis terminated unexpectedly.

Error in dyn.load(file, DLLpath = DLLpath, ...): unable to load shared object '/Applications/JASP.app/Conten

[2022-04-28 11:51] juliuspf commented on #1646
any idea @EJWagenmakers?

[2022-04-28 12:00] juliuspf commented on #1627
Simon knows this better than me, but since the project it is assigned to is 0.17, I doubt it is in 0.16.2, nor will it be in 0.16.3. I apologize for the delay.

[2022-04-28 12:22] shun2wang commented on #1671
Now I can reproduce and confirm that this has something to do with character handling of file paths.

1. If there is a user name composed of non-ASCII characters on Windows, the user name cannot be read correctly, resulting in R not being able to plot. The same problem occurs with R(4.1.x)/rstudio..
[jaspdata.jasp.zip](https://github.com/jasp-stats/jasp-issues/files/8582528/jaspdata.jasp.zip)

2.

[2022-04-28 14:06] JorisGoosen commented on #1671
@shun2wang I think you are probably right. Im still on vacation but I think @amirmasoudabdol might get the 4.2.0 R into JASP before he leaves and that would solve it. So hopefully by the time my vacation is over the problem will have solved itself ;)

[2022-04-28 20:30] richlv opened #1695 "[Bug]: Density line missing or "wavy""
### JASP Version

0.16.2

### Commit ID

_No response_

### JASP Module

jaspDescriptives

### What analysis are you seeing the problem on?

Basic plots

### What OS are you seeing the problem on?

macOS Catalina 10.15.7

### Bug Description

Advance warning: I might be doing something terribly wrong.
As discussed in https://forum.cogsci.nl/discussion/7949/jasp-0-16-2-density-line-missing/ .

Gett

[2022-04-29 00:22] HamidLD commented on #1691
Oh yeah that makes sense, thanks!

[2022-04-29 00:38] TomTomato55 opened #1696 "[Bug]: Select custom editor no longer works in JASP 0.16.2"
### JASP Version

0.16.2

### Commit ID

_No response_

### JASP Module

_No response_

### What analysis are you seeing the problem on?

_No response_

### What OS are you seeing the problem on?

MacOS Monterey 12.3.1

### Bug Description

With JASP 0.16.2 there is an error when Data Preferences are set to "Select custom editor." When I select an editor application (i.e., Excel, Numbers, SPSS - i

[2022-04-29 04:15] HiramTheHero opened #1697 "[Feature Request]: JASP Road Map"
### Description

A Road Map that shows the upcoming development goals for JASP

### Purpose

Give information about upcoming development goals for JASP

### Use-case

_No response_

### Is your feature request related to a problem?

_No response_

### Describe the solution you would like

_No response_

### Describe alternatives that you have considered

_No response_

### Additional context

I ap

[2022-04-29 09:50] jvicensb commented on #1648
Hi Julius and Frantisek,

exactly, Frantisek gave me the “quick fix” for the bug, and told me about next release may cover this problem.

Thank you for your great support, you are awesome.

Best regards,

Jordi

[2022-05-02 07:07] Trebicky opened #1698 "[Feature Request]: Mean and CI in RainCloud plots"
### Description

Let user choose whether to shop boxplot ir Mean and its confidence intervals

### Purpose

When comparing means (and their CIs), I want to visualise them in a corresponding raincloud plot.

### Use-case

Runnig any mean comparison test.

### Is your feature request related to a problem?

When plotting data for a given anylsis, the data should be visible in the plot. Thus whne comp

[2022-05-02 14:42] #1665 closed

[2022-05-02 15:22] juliuspf commented on #1695
Hi @richlv, thanks for reporting the issue. I cannot recreate the exact issue, because on my machine this is the distribution plot for Q1.
<img width="514" alt="Screenshot 2022-05-02 at 11 20 06" src="https://user-images.githubusercontent.com/38500953/166260029-826e3e64-dfe0-433e-92be-a31927ff2c68.png">
 I think the plot can be definitely be enhanced. I assume the curvy line is on purpose as the v

[2022-05-02 15:25] juliuspf commented on #1696
Hi @TomTomato55, thanks for reporting this. Maybe Joris can help, once he is back from holiday.

[2022-05-02 15:26] juliuspf commented on #1697
Hi @HiramTheHero, thank you for the request. I think EJ can say more about this.

[2022-05-02 15:28] juliuspf commented on #1698
Hi @Trebicky, thanks for the request. Let's see if Don can help.

[2022-05-02 16:13] richlv commented on #1695
Thank you for looking into this.
How could I debug further why distribution plots show no density line?

Here are the settings along with the line-less plot.
<img width="1165" alt="image" src="https://user-images.githubusercontent.com/112888/166268308-1424378c-36d5-4fb7-ab4a-5dd289a59bce.png">

[2022-05-02 16:28] EJWagenmakers commented on #1698
We have people helping out with raincloud plots in the near future, so let's leave this one for them
EJ

[2022-05-02 17:12] juliuspf commented on #1695
<img width="1518" alt="Screenshot 2022-05-02 at 13 11 40" src="https://user-images.githubusercontent.com/38500953/166293152-8216bc98-4697-4fb5-8ab8-12c80cb6a25e.png">

I see this with the exact same variable, which is weird. Maybe this is due to different OS versions... (I am on Monterey 12).
Anyways, the plot that I see should not look the way it looks. I hope @vandenman can help.

[2022-05-02 17:20] juliuspf commented on #1695
okay. I at least know why my plot was different. The variable was still read as continuous by JASP, after I changed that to ordinal I got the same plot as you do, also with the density line missing. If you changed the scale of the variable to "scale" you would also get the wavy density line. Again, this could be desired behaviour as it is a categorical variable. I suppose one could force the densi

[2022-05-02 17:27] AlexanderLyNL commented on #1697
I'd like to keep this internal, as there is already quite some pressure on people working on this. That said, we're always open for suggestions.

[2022-05-02 17:43] richlv commented on #1695
Ahh, that explains [part of] it - changing to scale indeed makes the density line show up.
The bars are a bit weirdly distributed, as in your screenshots (1 and 2 squished together, others not), not sure whether that is OK.

It's a bit weird that with ordinal distribution plots don't get the density line, but the correlation plots get it.
In any case, leaving any needed fixes up to you - thank you

[2022-05-02 22:02] juliuspf commented on #1697
Sorry @HiramTheHero, I will close this then. Let's hope that soon, there will be no need for a road map anymore ;)

[2022-05-02 22:02] #1697 closed

[2022-05-03 09:59] AlexanderLyNL commented on #1677
linear regression default dummy coding, in jasp we use a different coding for contrasts. Globally the options variable gets changed.

[2022-05-03 12:35] AlexanderLyNL commented on #1641
I think there's some misunderstanding, perhaps on my behalf. As far as I can see, the Levene's test in this context is about whether the variances are the same or not. In that case, the test statistic should be F(1, N-2), where N is total number of samples of the two samples combined, see https://en.wikipedia.org/wiki/Levene%27s_test.

[2022-05-03 12:42] tomtomme opened #1699 "[Bug]: compute column with missing values fails if missings are not replaced by zeros"
### JASP Version

0.16.2

### Commit ID

_No response_

### JASP Module

_No response_

### What analysis are you seeing the problem on?

-

### What OS are you seeing the problem on?

Windows 10 and MacOS

### Bug Description

I have a dataset with missing values. I try to compute the mean of some variables. Some of them have missing values like -77 that are correclty registered within JASPs pref

[2022-05-03 12:44] Kucharssim commented on #1641
So in other words (if I follow @AlexanderLyNL's point correctly), instead of converting the Levene's test to a t-statistic (proposed here https://github.com/jasp-stats/jaspTTests/pull/121), the fix should just keep the F-test and add a column with the second degrees of freedom.

[2022-05-03 12:50] #1696 closed

[2022-05-03 14:15] #1641 closed

[2022-05-03 14:32] richlv commented on #1695
Another user shared a screenshot of JASP 16.1 showing density line for ordinal data (although I don't have access to the source data) - so the behaviour might not be that consistent currently.
![image](https://user-images.githubusercontent.com/112888/166473577-cf7dbe94-5364-48c3-b941-8bf87d3f3eeb.png)

[2022-05-03 14:45] sachinthorat5989 opened #1700 "[Bug]: Error during ANOVA"
### JASP Version

0.16.1

### Commit ID

_No response_

### JASP Module

jaspAnova

### What analysis are you seeing the problem on?

_No response_

### What OS are you seeing the problem on?

Linux Mint 20.1 Cinnamon

### Bug Description

![Screenshot from 2022-05-03 19-48-15](https://user-images.githubusercontent.com/35394177/166473115-3dc3b8d5-74b5-4a00-a7f1-5af735d86cd6.png)

Any work around?

[2022-05-03 14:50] juliuspf commented on #1699
@tomtomme good question! I think this is desired behaviour since in the underlying R `NA + 1 = NA`, unless the NAs are replaced with anything (as you did). I wonder if it makes sense to include a button that replaces the GAs with a user specified value in these NA scenarios. Joris might know if this is feasible. Of course, you could always resort back to an R column and do something like `rowSums(

[2022-05-03 14:53] juliuspf commented on #1695
Thank you. Yes there is definitely something going wrong there!

[2022-05-03 18:17] tomtomme commented on #1699
I guess me and my students think more in line of `Something +1 = Something +1`, even if this Something is NA. It did not occur to us, that the number getting overboard would be something useful. But from what I read this is indeed R proper. And that the given reasons for this seem strange to us, is probably our problem.
What JASP could maybe do, is to inform the user about that R is indeed trying

[2022-05-03 18:36] christofnaegele commented on #1694
Hi,
I can reproduce the error, must be an "M1-issue". I am running JASP 0.16.2 (Apple Silicon), installed and downloaded JASP today (03 May).
Best Christof

This analysis terminated unexpectedly.

Error in dyn.load(file, DLLpath = DLLpath, ...): unable to load shared object '/Applications/JASP.app/Contents/Modules/renv-cache/v5/Bayesrel/0.7.3/85bae416106eba0f3347ad27232b5a60/Bayesrel/libs/Bayesrel

[2022-05-03 19:24] juliuspf commented on #1694
Thanks @christofnaegele. Indeed, it seems to be an apple silicon issue. This should be fixed by the upcoming release through this PR https://github.com/jasp-stats/jaspReliability/pull/96. Whenever a new nightly build comes out it should also have these changes (http://static.jasp-stats.org/Nightlies/).

[2022-05-03 22:10] #1132 closed

[2022-05-04 08:35] #1691 closed

[2022-05-04 09:27] #1677 closed

[2022-05-04 10:02] JohnnyDoorn commented on #1700
Hi @sachinthorat5989 ,

Yes, if you could send me the jasp or data file, I can take a closer look. You can also email it to j <dot> b <dot> vandoorn <at> uva <dot> nl

Cheers,
Johnny

[2022-05-04 10:25] RenzoLanfranco opened #1701 "[Bug]: Can't export EPS figures: Doesn't find Lucida Grande Font"
### JASP Version

0.16.2 (Development)

### Commit ID

_No response_

### JASP Module

jaspTTests

### What analysis are you seeing the problem on?

_No response_

### What OS are you seeing the problem on?

macOS Monterey

### Bug Description

When I run a Bayesian one-sample t-test and try to export in EPS a Prior and Posterior plot, it shows the error message attached. This doesn't happen when

[2022-05-04 11:51] vandenman commented on #1701
@juliuspf I cannot replicate this on Ubuntu, can you replicate this on macOS?

[2022-05-04 14:44] jackliull opened #1702 "[Feature Request]: add GPU acceleration for machine learning"
### Description

machine learning modular is only run on CPU now , it is slow and unstable, please add GPU acceleration.

### Purpose

to improve the speed and stability  of machine learning modular.

### Use-case

when use machine learning modular

### Is your feature request related to a problem?

no

### Describe the solution you would like

Add a enable CUDA acceleration choice.

### Describe

[2022-05-04 15:24] juliuspf commented on #1701
I am having different trouble with the above described procedure. Saving the plot as .eps opens a quartz window which shows the plot, then the spinning wheel appears, and after a few seconds the quartz window closes but there is no saved file

[2022-05-04 15:30] juliuspf commented on #1702
Hi @jackliull, thanks for the request. Is that feasible @vandenman?

[2022-05-05 15:54] TangWeiCAS opened #1703 "[Bug]: plots empty in JASP 16.2.0 and 16.1.0"
### JASP Version

0.16.2

### Commit ID

_No response_

### JASP Module

jaspTTests

### What analysis are you seeing the problem on?

paired sampling TTest

### What OS are you seeing the problem on?

Windows 10

### Bug Description

when I did TTest, raincloud plots as well as descriptive plots were all gone, there is only an empty window for my plots ,and I cannot save any figure (which means i

[2022-05-05 19:27] juliuspf commented on #1703
Hi @TangWeiCAS, thanks for reporting the bug. It seems I cannot reproduce this error on macOS, so it might be an issue with windows. Do plots in other analyses appear for you?

[2022-05-05 20:05] TangWeiCAS commented on #1703
Hi @juliuspf , I also tried the descriptive module, but the plots didn't appear as well. Unfortunately, I don't know if this bug would appear in the other analyses. More feedbacks from other users similar to me are expected.

[2022-05-05 20:21] juliuspf commented on #1703
Can someone else on windows replicate this, @koenderks, @FBartos ?

[2022-05-05 23:00] shun2wang commented on #1703
this maybe related to #1671 and @TangWeiCAS  do you have a Unicode character in your system username? If so, you can do that temporarily to resolve problem and wait for the new version with reference to the practices I gave there #1671 .

[2022-05-06 02:56] TangWeiCAS commented on #1703
Helps a lot! I checked my wd and yes, there are 2 Chinese characters in my username @shun2wang . However, it's weird that my new version Rstudio still works normally with Chinese strings (a bit different from #1671 ). I'd like to wait for your latest version of JASP to solve this problem!

[2022-05-06 03:30] shun2wang commented on #1703
good! could you please send a example .jasp file to me (shuonwang<at>gmail.com) and also r/rstudio libpath and another info by use `rstudio.exe --run-diagnostics`, thank you!

[2022-05-06 03:56] TangWeiCAS commented on #1703
@shun2wang Sorry but I've uninstalled the 16.2 version yesterday. I'll try to install the new 16.2 version again and then feedback in this post later.

[2022-05-06 04:43] TangWeiCAS commented on #1703
`setwd("C:/Users/唐为/Desktop/strongsad/")`
I used the code above to do SVM with Rstudio.
The R codes run successfully with Chinese characters in pathway, but when I run diagnostics, a piece of warning jumps out like this:
I guess it's hard for Rstudio to display Chinese strings, but it can read the wd as expected. This can also explain why my JASP could read .csv on my .\desktop but couldn't make p

[2022-05-06 09:55] gretamik opened #1704 "[Bug]: Cannot add minus sign to custom contrasts RM ANOVA"
### JASP Version

0.16.2

### Commit ID

_No response_

### JASP Module

jaspAnova

### What analysis are you seeing the problem on?

RM ANOVA

### What OS are you seeing the problem on?

macOS Monterey 12.3.1

### Bug Description

Cannot use - sign for custom contrasts, thus, making contrasts impossible to run.
Copy paste function does not seem to work either.

![Screenshot 2022-05-06 at 11 49 38

[2022-05-06 12:06] juliuspf commented on #1704
HI @gretamik, thanks for reporting this. Lets ask @JohnnyDoorn what could be up here.

[2022-05-06 12:36] gretamik commented on #1704
My solution was re-installing version 16.1 and was able to run my contrasts properly. So it's really something about the latest update that is bugging.

[2022-05-06 12:38] JohnnyDoorn commented on #1704
Yes that's very unfortunate, i think something changed in the contrast
widget. @boutinb hopefully knows more about this issue.

On Fri, 6 May 2022, 14:36 gretamik, ***@***.***> wrote:

[2022-05-07 07:11] tomtomme commented on #1552
Anything i can do at thus point?

[2022-05-09 07:10] #1704 closed

[2022-05-09 07:17] boutinb commented on #1701
I cannot reproduce it either on my Mac.
@RenzoLanfranco Can you change the results fonts in Preferences/Interface menu in JASP? Set it to Arial for example.

[2022-05-09 07:36] vandenman commented on #1702
Hi @jackliull,

GPU acceleration is not a priority right now. Furthermore, given that e.g., a CUDA implementation would only be available to those that have graphics cards that support that it is unlikely that we will implement this anytime soon.

[2022-05-09 07:36] #1702 closed

[2022-05-10 11:35] #1656 closed

[2022-05-11 10:13] OliverSchultheiss opened #1705 "Response surface analysis"
### Description

Request for option to run response surface analyses

### Purpose

_No response_

### Use-case

_No response_

### Is your feature request related to a problem?

_No response_

### Describe the solution you would like

_No response_

### Describe alternatives that you have considered

_No response_

### Additional context

It would be cool to have a JASP analysis option for respons

[2022-05-11 14:13] EJWagenmakers commented on #1705
This is interesting. Is there already an R package for this?

[2022-05-11 14:20] juliuspf commented on #1705
thats the one, https://cran.r-project.org/web/packages/RSA/index.html

[2022-05-11 14:31] gtobin26 commented on #1637
Hi Julius, the layout is given in ANOVA in the R lm package. It includes an option for each of the thee types, I, II, and III.

[2022-05-12 11:34] SSeven1128 opened #1706 "JAGS throws errors in ' stringr::str_count(model, chars): object 'model' not found'"
### JASP Version

0.16.2

### Commit ID

_No response_

### JASP Module

jaspJags

### What analysis are you seeing the problem on?

Bayesian Hierarchical Modeling

### What OS are you seeing the problem on?

Windows 10

### Bug Description

I tried to analyze the dataset by Bayesian Hierarchical Modeling. However, after I put in the model string, the error as the picture occured.
![pic](https://u

[2022-05-12 12:25] juliuspf commented on #1706
Hi @SSeven1128, thanks for the issues and providing all the info. Any idea what could be going wrong @Jiashun97?

[2022-05-12 12:27] juliuspf commented on #1699
@JorisGoosen, do you have any idea if this is feasible to implement? Something in the computed column window as to how to treat NAs? or could this be covered by data editing?

[2022-05-12 14:21] vandenman commented on #1699
In general, `NA + 1` equals `NA`. If somebody specifies that `-99` should be treated as a missing value, then JASP should:

1. Not show `-99` in the data view but rather a missing value (i.e., `NA`).
2. Treat missing values as missing values, so `NA + 1` equals `NA`.
3. Show a warning message + a link to a helpfile about missing values whenever a computed column contains missing values.

So far, I

[2022-05-12 14:42] juliuspf commented on #1699
Would you take this on then?

[2022-05-12 14:42] sinasina84 opened #1707 "[Bug]: Unidimensional reliability does not run on arm-macOS"
### JASP Version

0.16.2

### Commit ID

_No response_

### JASP Module

jaspReliability

### What analysis are you seeing the problem on?

Reliability

### What OS are you seeing the problem on?

MacOS Apple Silicon

### Bug Description

Please see the description below

<img width="662" alt="Bildschirmfoto 2022-05-12 um 16 31 14" src="https://user-images.githubusercontent.com/105441134/168099453

[2022-05-12 14:43] sinasina84 commented on #1707
Please help me as soon as possible, I have to finish my work until 15th, of May, 2022.

Kind regards!

[2022-05-12 14:46] vandenman commented on #1699
Let's first see if Joris has any input.

[2022-05-12 16:50] AlexanderLyNL commented on #1694
This problem is specifically for the M1 build. I don't get the error with the 0.16.2 intel build on an M1 machine.

[2022-05-12 17:05] juliuspf commented on #1707
You can also check the intel version of the 0.16.2 release. that one should also run on your computer and the analysis should work without trouble.

[2022-05-12 18:03] tomtomme commented on #1699
@vandenman Point 1 is also missing. JASP showing NA would be an improvement. At the moment the cells look empty, which could mean 2 things: empty cell or cell with missing value. Thanks for taking this on!

[2022-05-13 06:44] koenderks commented on #1705
Quality control module has this!

[2022-05-13 09:20] SSeven1128 commented on #1706
Thanks for your reply! As answered in the issue #1691 , the error is partly due to JAGS not finding any initial values of the parameters. However, in most instances, the initial values of the parameters are set to NULL, like "inits = NULL" in R. It seems that the initial values of the parameters are not essential. What's more, we tried to set the initial values of the parameters to NULL, such as "

[2022-05-13 10:03] OliverSchultheiss commented on #1705
Where is this hidden? I‘m working with JASP 16.1

Best regards,
Oliver

**************************************************************************************************
Oliver C. Schultheiss, Dr. phil.
Professor of Psychology
Chair for Experimental Psychology, Motivation, and Affective Neuroscience
Institute of Psychology
Friedrich-Alexander University
Nägelsbachstr. 49 b
91052 Erlangen
Germany

[2022-05-13 11:18] EJWagenmakers commented on #1705
This is a module that will be added to our upcoming release.

[2022-05-13 11:27] OliverSchultheiss commented on #1705
Wonderful! Looking forward to it!

Cheers from Germany,
Oliver

**************************************************************************************************
Oliver C. Schultheiss, Dr. phil.
Professor of Psychology
Chair for Experimental Psychology, Motivation, and Affective Neuroscience
Institute of Psychology
Friedrich-Alexander University
Nägelsbachstr. 49 b
91052 Erlangen
Germany
Email: *

[2022-05-13 13:47] vandenman commented on #1699
I think there is a misunderstanding here. There is no difference between NA and an empty cell?
As in, every empty cell is internally represented as a missing value. As soon as you add `-99` to the list of missing values, all values in the data set with `-99` are not represented as `-99` but as `NA`.

[2022-05-13 13:53] juliuspf commented on #1699
A change in the representation of all NAs would be an option. Instead of empty cells it could be a dot `.` (as in SPSS), or maybe it could even be user defined? @AlexanderLyNL, @EJWagenmakers any thoughts?

[2022-05-13 13:53] juliuspf commented on #1699
in any case a bit more guidance in the helpfile would definitely be good.

[2022-05-13 14:11] tomtomme commented on #1699
exactly what I think Julius :D
For me, when I collect data, I can choose to collect NA, -99 or just nothing - or maybe a fluke of my data collection tool produces unforseen empty cells instead of a -99.

I think it would make sense to show NA or -99 even if I add it to the list of missing values. Because when I can still see the missing value -99, I only then can distinguish between a really empty

[2022-05-13 15:23] juliuspf commented on #1699
I think we are getting closer to being on the same page, but we are not quite there :)
What Don was saying is that for the machine there cannot be empty cells that are not NA. If you want your empty cells to represent something else than NA, you need to fill them with something else. If they are empty, JASP will treat them as NA. In any case it could help to just show another label for NA instead

[2022-05-13 15:31] juliuspfadt opened #1708 "[Feature Request]: Add missing-label instead of empty cell for NA, improve the helpfile for missing value input"
### Description

By https://github.com/jasp-stats/jasp-issues/issues/1699

### Purpose

Improve the visibility and understanding of NAs in computed columns and other analyses

### Use-case

_No response_

### Is your feature request related to a problem?

NAs are represented as empty cells in JASP right now. This is confusing.

### Describe the solution you would like

Add option for NA label, add

[2022-05-13 15:38] JorisGoosen commented on #1699
This would be a general thing then right, under Preferences->Data?
And I think it is a good idea, we could definitely go for a default "." or "NA" or whatever.
Although I assume there was a reason we went for blank cells in the first place?

This goes automatically right?
Because I assume R's `NA` gets converted into a `nan` for doubles in scalars?
Not reallly sure what happens with ordinals etc.

[2022-05-13 16:17] juliuspf commented on #1699
I would be a curious as the next guy to know why we went with blank cells...
The last point you are making is correct, if the computed cell is showing a dot or something, people would already know that something related to NAs has happened to their computation.

[2022-05-13 17:19] tomtomme commented on #1699
Julius wrote: 2Now, even if you would want two different labels, say empty for any empty cell and missing for an NA or -99 cell, inside JASP both cells would be treated as NAs, and in your computed columns they would also show up as NA."

Thats fine and quite what I would expect. I just care about the labeling. And you clearly explained a very nice solution :D
Thanks!
_____________________________

[2022-05-13 17:23] tomtomme commented on #1699
Julius wrote: "if the computed cell is showing a dot or something, people would already know that something related to NAs has happened to their computation."

Exactly. They would at least know, that JASP tried to compute something, and that the perceived "error" might be on the side of the user. With an empty cell showing up in the computed column, and without a message, there is this awkward fee

[2022-05-13 22:48] jgoldman13 opened #1709 "[Bug]: Huynh-Feldt values incorrect in repeated measures ANOVA"
### JASP Version

0.16

### Commit ID

_No response_

### JASP Module

jaspAnova

### What analysis are you seeing the problem on?

Repeated Measures ANOVA

### What OS are you seeing the problem on?

Windows 10

### Bug Description

The Sphericity correction for the Huynh-Feldt is off in the RM ANOVA. I am pasting a picture of the same analysis ran in JAMOVI where the correction is accurate and w

[2022-05-14 21:16] #1699 closed

[2022-05-14 21:19] tomtomme commented on #1699
This is closed, because julius tracks rhis issue now as a feature request to improve na visibility.
That should be enough to prevent confusion with NAs

[2022-05-14 23:39] juliuspf commented on #1699
thanks :)

[2022-05-15 14:46] clemergo opened #1710 "[Bug]: Different Friedman test results between two versions of JASP"
### JASP Version

0.16.2

### Commit ID

_No response_

### JASP Module

jaspAnova

### What analysis are you seeing the problem on?

Friedman test (non-parametric repeated measures ANOVA)

### What OS are you seeing the problem on?

Win10 (v0.16.2) and Win7 (v0.11)

### Bug Description

I have two computers one running win7 and one running win10. Each run different versions of JASP (respectively

[2022-05-16 14:54] JohnnyDoorn commented on #1709
Hi @jgoldman13 ,

Thank you for taking the time to report this - I see now that the maximum correction factor for the df is 1 (R can give values greater than 1, which went unnoticed before). This will be fixed in the next release.

Kind regards,
Johnny

[2022-05-16 16:22] JohnnyDoorn commented on #1710
Hi @clemergo ,

The result from 0.11 was when the Friedman test was just implemented. Unfortunately I discovered a small bug shortly afterwards, and fixed the computation (updated to use code from the R-package PMCMRplus).
However, I now see that we are too permissive in allowing the Friedman test, which has a strict requirement for the design to be unreplicated. When you have a 2x2 within subject

[2022-05-16 16:22] #1710 closed

[2022-05-16 16:23] JoKeyser commented on #1705
@OliverSchultheiss sorry to somewhat hijack this thread, but since you are clearly familiar with that terminology: Maybe you would consider to add/check the German translation of that module? (Can be done even before its released.)

All you need is a browser, then you can add/change the translations of the Process Control module at

- https://hosted.weblate.org/projects/jasp/jaspprocesscontrol-qml

[2022-05-16 16:25] dloschelder commented on #108
I second this request. Would be a wonderful addition to JASP. Any ideas, when this could possibly be implemented? Thank you all for your terrific work.

[2022-05-17 05:55] OliverSchultheiss commented on #1705
Hi Johannes,

I’d be happy to help, but I am struggling with a couple of problems here. The first is that the website doesn’t seem to have saved any of the suggestions I submitted yesterday. The second is that in most cases I know the technical terms only in English and not in German. So I have to look them up on the internet. The third is that the second problem becomes even harder because the we

[2022-05-17 08:47] JoKeyser commented on #1705
@OliverSchultheiss , thank you for jumping right in, your (surviving) suggestions were already very helpful and I accepted them. If you create your own account on Weblate (or login via GitHub), you can just save translations directly - I use suggestions only if I'm really unsure.

Regarding your points:

1. Sorry to hear that Weblate dropped some of your suggestions; as mentioned it should be solv

[2022-05-18 09:43] ariefjusuf opened #1711 "[Feature Request]: Partial Least Squares for SEM"
### Description

Structural Equation Modelling using Partial Least Square

### Purpose

Academic Research

### Use-case

_No response_

### Is your feature request related to a problem?

Normality

### Describe the solution you would like

Module availability

### Describe alternatives that you have considered

Non parametric method

### Additional context

The partial least square method has many

[2022-05-18 14:48] GiovanniUNIPD opened #1712 "[Bug]: Error with repetated measures ANOVA"
### JASP Version

0.16.2

### Commit ID

_No response_

### JASP Module

jaspAnova

### What analysis are you seeing the problem on?

mixed repeated measures ANOVA

### What OS are you seeing the problem on?

MAC Big Sur 12.3.1 (but the same problem was present with previous OS versions)

### Bug Description

Hi all!
I'm struggling to run a simple mixed repeated measures ANOVA with a 2-level betwe

[2022-05-18 15:03] juliuspf commented on #1712
Hi @GiovanniUNIPD, thanks for the report. Did you close this by accident or did you find an error on your side?

[2022-05-18 17:03] GiovanniUNIPD commented on #1712
sorry

[2022-05-18 18:38] juliuspf commented on #1712
I can recreate the issue, although I had to drastically shrink your data set, somehow there were about 15000 empty variables :D Let's see if Johnny can help. I attached the reduced data set since it will be easier to handle for JASP.
[test.csv](https://github.com/jasp-stats/jasp-issues/files/8719320/test.csv)

[2022-05-19 17:49] zirneklitis opened #1713 "JASP should used a system-wide R"
### Description

JASP should not be tithed-up to any particular R version.  Well, "not elder then n.nn version" must be the only restriction.

### Purpose

To achieve uniform data processing.

### Use-case

_No response_

### Is your feature request related to a problem?

_No response_

### Describe the solution you would like

_No response_

### Describe alternatives that you have considered

_No

[2022-05-19 18:00] zirneklitis commented on #1713
1. Replace R (./R) and R libraries (./Modules/renv-cache/v5/*) withe latest versions
2.Try to launch JASP
3. JASP crashes.

[2022-05-19 19:37] juliuspf commented on #1713
Hi @zirneklitis, thanks for the request. I can't say much about this issue, but Joris might.

[2022-05-20 01:26] ariefjusuf commented on #1711
@juliuspf i have read on the web, perhaps R package which use for PLS SEM is plspm.
Thank you

[2022-05-20 06:25] tomtomme commented on #1599
I just tested the new awesome flatpak-beta! Coefficient of Variation is in t-Tests :D
But not yet in descriptive tables of ANOVAs or Regression.
Thx so far!

[2022-05-20 06:27] tomtomme commented on #1326
still valid for JASP 0.16.3 - just a note, to keep this alive

[2022-05-20 06:28] tomtomme commented on #1327
Still valid for JASP 0.16.3 - just a note, to keep this alive

[2022-05-20 06:39] tomtomme commented on #1364
wow - you really added some nice stuff in 0.16.3 beta :D - thank you Team!
Eta, Somers d, Kendalls Tau-c and others seem to be in contingency tables :)
However no results are produced, when I click them

Also - wouldn't it also make sense to add all correlations to the correlation-tab and to split the correlation methods into nominal, ordinal, scale there too?
Even Cramers V, Phi, Lambda etc. shou

[2022-05-20 06:44] tomtomme commented on #1031
Still valid for 0.16.3

[2022-05-20 06:48] tomtomme commented on #1360
This works for me now in 0.16.3 beta flatpak! :D
Thank you team!

[2022-05-20 06:51] tomtomme commented on #1678
This works now for me in flatpak beta 0.16.3 :D

[2022-05-20 06:55] tomtomme commented on #1424
For flatpak beta 0.16.3 the 1%, 5%, ..., 12% Problem appeared again.
I fixed it by first uninstalling the old jasp-beta and then a fresh install of jasp beta. Maybe just add a note to the flatpak-beta installation guide to first uninstall old versions to close this issue.

[2022-05-20 06:56] vandenman commented on #1713
So I'm not really sure what this request is about.

1. If you compile JASP yourself, it is possible to use a system-wide version of R (although this might require some small changes on Windows).
2. If you do not build JASP yourself, but rather would want that an installed version of JASP uses some system-wide installation of R, then this is not a good idea and this will most likely never be implem

[2022-05-20 06:57] m8 commented on #1360
That's nice!

Thomas Langkamp ***@***.***>, 20 May 2022 Cum, 09:48
tarihinde şunu yazdı:

[2022-05-20 07:51] vandenman commented on #1360
I can confirm that this is fixed in the beta version of 0.16.3. Given that the next release won't be long I'm closing the issue (but feel free to reopen it in case it turns out it isn't fixed in the released version).

[2022-05-20 07:51] #1360 closed

[2022-05-20 07:51] vandenman commented on #1678
I can confirm that this is fixed in the beta version of 0.16.3. Given that the next release won't be long I'm closing the issue (but feel free to reopen it in case it turns out it isn't fixed in the released version).

[2022-05-20 07:51] #1678 closed

[2022-05-20 07:51] Kucharssim commented on #1364
Hi @tomtomme,

I am afraid I will have to let you down: The new coefficients Eta, Somers d, Kendalls Tau-c were not implemented, yet. The buttons of those coefficients are in the UI for some time as placeholders that indicate a future appearance of the functionality. However, they are hidden in a release mode, because the R code does not contain the functionality. The version you are trying is pro

[2022-05-20 07:55] Kucharssim commented on #1326
Thanks for following this up, it slipped my attention. I added it to the next release, so I will look into it by then!

[2022-05-20 07:57] Kucharssim commented on #1599
Yes, currently it's only in T-tests. We have a PR for ANOVAs too, but we did not manage to merge it for the 0.16.3 release. It will be hopefully in 0.16.4.

[2022-05-20 08:25] tomtomme commented on #1364
Very nice idea with the regression / correlation separation. This would indeed make it more feasible to maybe merge crosstabs with correlation! Thanks for the quick response and the info on the debug mode! Yes my build is marked as debug.
And I know you are frying bigger fish. Do those first. This is not highest priority even on my personal list.

[2022-05-20 08:51] JohnnyDoorn commented on #1712
Apparently this is because of an earlier reported bug in the column enconding. Don has made an [issue](https://github.com/jasp-stats/INTERNAL-jasp/issues/1749) for this a while ago - @boutinb or @JorisGoosen could you take a look please?

@GiovanniUNIPD what you could try in the meantime is to remove or rename the variable called "n" in your data (e.g., "sampleSize"). For me this solves the proble

[2022-05-20 12:25] tomtomme commented on #1326
Nice. Maybe its also possible to include the sign for Phi. For 2x2 tables Phi can be negative. At least when dummy-coded.

[2022-05-21 05:40] ariefjusuf commented on #1711
Thank you

[2022-05-21 05:41] ariefjusuf commented on #1711
Thank you for this information @Kucharssim

[2022-05-21 12:14] PerPalmgren commented on #1627
So, it is sure it will not be in 0.16.3?😢

[2022-05-21 12:16] PerPalmgren commented on #1442
So, this will be featured in 0.16.3? 🙏🏻😜

[2022-05-21 12:19] PerPalmgren commented on #1576
Has these thin columns been rectified for 0.16.3?

[2022-05-21 18:58] LSLindeloo commented on #1711
Sure! I’m also not quite familiar with the method, but I will do some research :) @Kucharssim @ariefjusuf

[2022-05-21 22:04] GiovanniUNIPD commented on #1712
Dear Jonny and Julius,
thank you so much for handling the issue so quickly!!
Now everything works perfectly!

Kind regards!

Giovanni

[2022-05-22 13:05] sukanka commented on #1594
I have the same issue, and I find it is in https://github.com/jasp-stats/jaspColumnEncoder/tree/aaacc69dc8cb3eb86affa8795c2ec523af3aefd1
so, the released tarball doesn't contain these files. We cannot build from the released tarball.

[2022-05-23 05:01] willkm3 opened #1714 "[Bug]: error with date format in prophet"
### JASP Version

0.16.2

### Commit ID

_No response_

### JASP Module

_No response_

### What analysis are you seeing the problem on?

Prophet

### What OS are you seeing the problem on?

Windows 10

### Bug Description

When I attempt to run the Prophet module I get the following error. I cannot get it to accept any of my data files.

This analysis terminated unexpectedly.
Error: CCTZ: Unrecog

[2022-05-23 05:51] sukanka commented on #1713
Hello, I'm doing the same thing, I build jasp on archlinux from source. Now I build it successfully, but some other things have to be done so that the app can  work. You can have a look at my repo, see https://github.com/sukanka/jaspOnArch

[2022-05-23 06:38] PerPalmgren commented on #1442
It seems like there is a R module for this. See attached.
[chisq.posthoc.test.pdf](https://github.com/jasp-stats/jasp-issues/files/8752026/chisq.posthoc.test.pdf)

[2022-05-23 08:45] vandenman commented on #1594
It is indeed necessary to manually check out the submodules. This is arguably not a bug in Jasp, but rather GitHub because they do not support this (see e.g., this [feature request](https://github.community/t/create-release-that-contains-submodule/1329) on GitHub's own forum). Happy to hear you got Jasp to build though, in case you need any help with the runtime errors, feel free to send us a mess

[2022-05-23 09:25] sukanka commented on #1594
Well I know that, it's Github's fault.

Thanks for your enthusiasm, I know what I'm doing now. The runtime error has nothing to do with jasp itself, it is because  I
changed the paths, for example `Modules` are moved to `/usr/lib/jasp-desktop`, and `Resources` are moved to `/usr/share/jasp-desktop`. So I have to edit the source code of `jasp-desktop` accordingly.

That's definitely correct! But I

[2022-05-23 13:40] juliuspf commented on #1712
I will close this for now, as it is a duplicate of https://github.com/jasp-stats/INTERNAL-jasp/issues/1749. Feel free to reopen it @GiovanniUNIPD, if something new comes up. If you want to be kept in the loop you can just subscribe to the other issue.

[2022-05-23 13:40] #1712 closed

[2022-05-23 13:49] juliuspf commented on #1442
Hi @PerPalmgren, it seems this will be part of 0.16.4

[2022-05-23 13:54] juliuspf commented on #1714
Hi @willkm3, thanks for reporting this. Is it possible for you to attach a .jasp file for this bug, or your data as a .csv file? Did you try any other analyses with this particular data set?

[2022-05-23 17:38] willkm3 commented on #1714
Hi Julius - I did not save a .jasp. I have attached the data file.
Thanks,
William

    On Monday, May 23, 2022, 08:54:24 AM CDT, Julius Pfadt ***@***.***> wrote:

Hi @willkm3, thanks for reporting this. Is it possible for you to attach a .jasp file for this bug, or your data as a .csv file? Did you try any other analyses with this particular data set?

—
Reply to this email directly, view it on G

[2022-05-23 18:16] mdechas65 opened #1715 "[Bug]: Bayesian RM anova crashes with many factors"
### JASP Version

0.16.2

### Commit ID

_No response_

### JASP Module

jaspAnova

### What analysis are you seeing the problem on?

Bayesian Repeated measures ANOVA

### What OS are you seeing the problem on?

Windows 10

### Bug Description

I have been trying to run a Bayesian repeated measures ANOVA with 5 factors (4 within - all with 2 levels, and 1 between with 2 levels). I have tried to ru

[2022-05-23 19:21] juliuspf commented on #1715
HI @mdechas65, thanks for reporting this. One of the maintainers might have an idea why this happens. Could you provide a .jasp file for this bug, or at least a data file?

[2022-05-24 07:22] sukanka opened #1716 "[Feature Request]: load jasp modules from R `installed.packages()`"
### Description

Currently, I'm building jasp-desktop on archlinux from source. I build the executable and the modules separately, but the executable complains that it can't find the modules.
![image](https://user-images.githubusercontent.com/31362108/169972958-a6797267-1d9c-4f05-b87e-9c526f1d8e24.png)

Even if I install `jaspDescriptives` as an R package or even copy the installed R package to `M

[2022-05-24 07:52] ty2y opened #1717 "[Bug]: This Installation Package could not be opened."
### JASP Version

Others

### Commit ID

_No response_

### JASP Module

jaspDescriptives

### What analysis are you seeing the problem on?

Windows

### What OS are you seeing the problem on?

Windows 10

### Bug Description

When downloading JASP from your website and attempting to run the MSI it provides me with the following error:
![image](https://user-images.githubusercontent.com/106143975/1

[2022-05-24 10:29] PerPalmgren commented on #1442
That is sad as this request has been around for a couple of years (from others and than me). Well, the students will have to go in to awful SPSS again :-)
I will be waiting for 0.16.4
All the best
Per

[2022-05-24 12:31] andelynoh opened #1718 "[Bug]:"
### JASP Version

0.16.2

### Commit ID

na.

### JASP Module

jaspReliability

### What analysis are you seeing the problem on?

not sure

### What OS are you seeing the problem on?

MacOS Monterey version 12

### Bug Description

This analysis terminated unexpectedly.

Error in dyn.load(file, DLLpath = DLLpath, ...): unable to load shared object '/Applications/JASP.app/Contents/Modules/renv-cach

[2022-05-24 12:57] juliuspf commented on #1717
Hi @ty2y, thanks for reporting this. Which version of JASP are you trying to install?

[2022-05-24 12:59] juliuspf commented on #1716
Hi @sukanka, thanks for the report. I hope Don can help.

[2022-05-24 13:02] juliuspf commented on #1694
This issue should be fixed with the 0.16.3 release by using the CRAN version of the R-package that is making trouble.

[2022-05-24 13:03] juliuspf commented on #1718
Hi @andelynoh, thanks for reporting this. This is a duplicate of https://github.com/jasp-stats/jasp-issues/issues/1694. I will close this for now. To get updates in the progress fixing this, you can subscribe to the issue https://github.com/jasp-stats/jasp-issues/issues/1694.

[2022-05-24 13:04] juliuspf commented on #1707
This is a duplicate of https://github.com/jasp-stats/jasp-issues/issues/1694, I will close this for now. To receive updates on the progress you can subscribe to the other issue https://github.com/jasp-stats/jasp-issues/issues/1694.

[2022-05-24 13:04] #1707 closed

[2022-05-24 14:24] andrewsjan opened #1719 "Sequential analysis with informed prior on Bayesian independent samples t-test[Feature Request]:"
### Description

The sequential analysis option is available for the Bayesian independent samples t-test using the default prior but not with an informed prior.

### Purpose

Sequential analysis would be useful with an informed prior for the same reasons it is useful with an unformed prior.

### Use-case

I am using the BFDA sequential testing approach with an informed prior so need the sequential

[2022-05-24 16:02] tomtomme commented on #1442
@PerPalmgreen

The "solution" I use is the JASP extra-Module "Visual Modeling => Flexplot". Put 2 categorial variables there and you can visually spot " which parts of the data are responsible for differences" - the longer the bar, the higher the difference between your empirical  and the expected frequencies.

I hope this helps for the moment?!?

[2022-05-25 11:19] juliuspf commented on #1717
so the 0.16.2 version I suppose?

[2022-05-25 11:20] ty2y commented on #1717
Yes I believe so

[2022-05-25 11:22] juliuspf commented on #1719
Hi @andrewsjan, thanks for the request. @vandenman any idea if that is feasible?

[2022-05-25 12:47] DrMarkGS opened #1720 "[Feature request]: Error message when computing column with ordinal variable"
### JASP Version

0.16.1

### Commit ID

_No response_

### JASP Module

_No response_

### What analysis are you seeing the problem on?

Compute columns

### What OS are you seeing the problem on?

Windows 10

### Bug Description

When trying to do a simple computation such as a difference between values in 2 columns. I drag in the first column, click on the subtract icon which adds ...-... to th

[2022-05-25 13:36] DrMarkGS commented on #1720
Hi Thomas
Just noticed that – basic schoolboy error ☹
Mark

From: Thomas Langkamp ***@***.***>
Sent: 25 May 2022 14:31
To: jasp-stats/jasp-issues ***@***.***>
Cc: Mark Goss-Sampson ***@***.***>; Author ***@***.***>
Subject: [EXTERNAL] Re: [jasp-stats/jasp-issues] Cannot compute columns[Bug]: (Issue #1720)

This message originated from outside the University. Treat links and attachments with cautio

[2022-05-25 13:41] tomtomme commented on #1720
Happened to me too in the past. Qould you close this issue for us? Thx

[2022-05-25 16:52] PerPalmgren commented on #1442
Thank you Thomas. It is a great tip. However, I want the students to get familiar with wouwith standardised residuals  and adjusted standardised residuals. Until 0.16.4 it will manual calculations and SPSS😢.
Per

Per J. Palmgren | DC, FRCC, MMedEd, PhD |
Associate Professor |
Department of Learning, Informatics, Management and Ethics |
Karolinska Institutet | Tomtebodavägen 18A | 171 77 Stockholm

[2022-05-25 17:05] gcutt opened #1721 "[Bug]: Flexplot error: plot could not be edited. ! ‘x’ contains missing values"
### JASP Version

0.16.2

### Commit ID

_No response_

### JASP Module

_No response_

### What analysis are you seeing the problem on?

Flexplot

### What OS are you seeing the problem on?

Windows 10

### Bug Description

Using JASP flexplot, I try to set the y-axis limits manually, and it keeps returning the error: “Unfortunately the plot could not be edited. Error message: ! ‘x’ contains miss

[2022-05-25 21:21] juliuspf commented on #1721
Hi @gcutt, thanks for reporting this. Maybe Don knows what's up here.

[2022-05-26 03:03] ariefjusuf commented on #354
Thank you @juliuspf  and @LSLindeloo

[2022-05-26 07:19] FloSchuberth commented on #1711
@LSLindeloo: As mentioned in Issue #354, I have developed a PLS implementation for R. It is based on lavaan syntax. Hence, if you have implemented SEM/CFA via lavaan, an implementation of PLS should be straightforward. I would be happy to help.

Best regards,
Florian

[2022-05-26 09:29] vandenman commented on #1716
@sukanka what is the structure of `/usr/lib/jasp-desktop/Modules/jaspDescriptives`? In my jasp build the folder structure looks like this:

[code]
It could also be that installing jaspDescriptives failed somehow.

[2022-05-26 10:54] sukanka commented on #1716
Thanks for your reply! Actually I just linked
[code]
so `/usr/lib/jasp-desktop/Modules/jaspDescriptives` is just `/usr/lib/R/library/jaspDescriptives`
[code]

But when I link all R library to that place, (so I linked jaspDescriptives and all its dependencies)
[code]
JASP doesn't complain  `jaspDescriptives` not being found, though it does complain about other modules such as `jaspCircular`,
but wh

[2022-05-26 11:42] LSLindeloo commented on #1711
@FloSchuberth Thanks alot! I will start implementing PLS very soon. If I have a question regarding the package, I know where to find you :)!

[2022-05-26 16:18] vandenman commented on #1716
Hmmm... well, that is problematic. The reason every module has its own folder with dependencies (as symlinks to reuse dependencies), is to support that different modules use different R package versions. Right now, the modules don't actually use different versions of dependencies but in the (far) future it should become possible to update (and downgrade) modules independently which means that diff

[2022-05-26 16:39] #1716 closed

[2022-05-27 17:22] EJWagenmakers commented on #1505
@Kucharssim: Yes, this would be really nice to have!

[2022-05-28 16:21] sukanka commented on #1594
Hi, I'm glad to announce that I have just successfully build `jasp-desktop` on archlinux, with system R, and other r packages.
If you are interested in this, you can have a look at [jaspOnArch](https://github.com/sukanka/jaspOnArch).
The only todo is to run some test scripts if there are any.

[2022-05-29 03:30] sukanka opened #1722 "[Bug]: Graphics API version mismatch"
### JASP Version

0.16.2

### Commit ID

_No response_

### JASP Module

_No response_

### What analysis are you seeing the problem on?

Plot

### What OS are you seeing the problem on?

Archlinux 5.17.9-zen1-1-zen

### Bug Description

I'm building jasp-desktop from source on Archlinux with system R and R modules ([my build scripts](https://github.com/sukanka/jaspOnArch/blob/main/jasp-desktop/PK

[2022-05-29 11:27] JoKeyser commented on #1594
@sukanka that sounds great; maybe you are considering to make this available in the AUR, if that makes sense? (I'm not super familiar with Arch packaging.)

[2022-05-29 11:36] sukanka commented on #1594
Right, I plan to do this (and also add it to BioArch repository), but I'm now running into problems. The application runs fine except for plots. When I tried to add some plots, it gave me a warning `Graphics API version mismatch` instead of the graph.
So still a lot of things to do. A relevant issue is https://github.com/jasp-stats/jasp-issues/issues/1722

[2022-05-29 12:29] richlv commented on #379
As this issue is still closed, should it be reopened or a new one created?

[2022-05-29 12:35] juliuspf commented on #379
I think it is best to create a new feature request for the CFA only. The functionality for EFA and PCA is finished and will be included in 0.16.4.

[2022-05-29 12:45] richlv opened #1723 "[Feature Request]: Factor Analysis with ordinal data - CFA"
Quoting from #379:

On 0.16.2, this does not seem to be available yet.
As requested, creating a new issue.

[2022-05-29 12:46] richlv commented on #379
Thank you for the quick reply, created #1723.

[2022-05-30 08:26] vandenman commented on #1594
Before each release, we run `jasp --unitTestRecursive Resources/Data\ Sets/Data\ Library/`, which refreshes all jasp files in the data library and tests if anything changes. This doesn't make much sense before `Graphics API version mismatch` is fixed though (but let's discuss that in the dedicated issue).

[2022-05-30 09:28] sukanka commented on #1722
Thanks for your reply! This is my output
[code]
I will look into these packages carefully later.

[2022-05-31 01:22] sukanka commented on #1722
I rebuilt the r packages, and now it shows
[code]
And now the graphs can be shown correctly. Cheers!
![image](https://user-images.githubusercontent.com/31362108/171074663-436660e4-744d-4d4d-a5cd-925ee5d7c161.png)

[2022-05-31 01:22] #1722 closed

[2022-05-31 02:58] sukanka commented on #1594
Hi! thanks for your suggestion! I'm running (no `--hide` as I have to manually close some tests, because jasp seems not to do anything in these tests)
[code]
The result is

A typical failure is like this, I'm not sure whether it is because of randomness (different version of R may generate different random numbers even if the same seed is used, I guess)

Another issue I noticed is when jasp stops,

[2022-05-31 04:42] cemsaunders opened #1724 "[Feature Request]: Add Contrast Feature to Bayesian ANOVA and ANCOVA"
### Description

Add Contrast Feature to Bayesian ANOVA and ANCOVA

### Purpose

To allow for the bayesian analysis of a-priori orthogonal contrastss

### Use-case

ANOVA and ANCOVA represent two of the most popular experimental analyses in psychology. In designs with more than two groups it is essential to analyse contrasts (main and interaction) to determine group differences. Therefore, to faci

[2022-05-31 07:15] EJWagenmakers commented on #1724
Great suggestion, but one that requires additional statistical development

[2022-05-31 08:13] vandenman commented on #1594
I have no experience with engines behaving like this, but perhaps @JorisGoosen does? This certainly doesn't sound good.

Also, since you're comparing the unreleased version to the old release, it's certainly possible that some output changed. 17 out of 79 failures may look like a lot, but these tests don't compare the values in the tables against a tolerance but rather absolutely (e.g., 1.633e-13

[2022-05-31 09:01] sukanka commented on #1594
I also built jasp 0.16.2 and all modules pinned at  the commits in jasp 0.16.2 release. Some tests still fail.
Perhaps the above tests results are produced by JASP 0.16.2. I forgot it.

So I guess these results are caused by the underlying R packages.

[2022-05-31 09:05] #1713 closed

[2022-05-31 14:51] BubiUnitn opened #1725 "[Bug]: plots not displaying after update to macOS Monterey 12.4"
### JASP Version

0.16.2

### Commit ID

_No response_

### JASP Module

_No response_

### What analysis are you seeing the problem on?

Plots

### What OS are you seeing the problem on?

mac OS Monterey 12.4

### Bug Description

Hello to everyone,

Since the update of MacOs Monterey 12.4, I've been through into a bug that does not allow me to plot anything!
Has anyone encountered the same issue

[2022-06-01 06:24] tomtomme commented on #1725
I have seen this yesterday on a win11 laptop. Jasp 16.2, no error message. Plots could even be resized but were invisible, also in graphics save mode.

[2022-06-01 13:13] shun2wang commented on #1671
Hi Joris @JorisGoosen , that https://github.com/jasp-stats/jasp-desktop/pull/4763 won't this PR be merged into 0.16.3 right? However, for the previous speculation, I think this may be related to the path of C++ processing `TempFiles` and `ShareMemory`, because when I reproduced the problem, I found that no cache file was generated in the corresponding path. Whether this has something to do with ca

[2022-06-01 13:55] juliuspf commented on #1725
Hi @BubiUnitn, thanks for the report. I just update to 12.4 and I cannot reproduce this. Does your MacBook use an Intel chip or apple silicon?

[2022-06-01 14:03] JorisGoosen commented on #1671
hey @shun2wang nice detective work!

Too bad that PR won't be merged for 0.16.3 because it would change the buildsystem some more and we are having trouble normally building with the current code. But it will be in in the next version.

A few remarks though:
`TempFiles::addShmemFileName` maybe once had a function but it always gets the wrong path as it turns out (so you couldnt find those files be

[2022-06-01 17:53] juliuspf commented on #1725
Could you try installing version 0.16.1, or alternatively the intel version of 0.16.2? (should run fine on your machine)

[2022-06-01 23:09] BubiUnitn commented on #1725
Unfortunately I've already tried both but nothing has changed.
Thank you a lot for your help anyway.

[2022-06-02 09:49] Harrie-Rose opened #1726 "[Feature Request]: Categorical Variable (Covariate) within Bayesian Linear Regression"
### Description

Currently, the most up-to-date version of JASP does not allow for a categorical variable to be entered as a covariate within the model. Having looked at the forums, the feature is still in development - and the solution often provided is to run an ANCOVA instead. However, the in the bayesain ANCOVA you are unable to enter continuous variable as fixed or random factors. Would you h

[2022-06-02 11:06] vandenman commented on #1726
The continuous variables should be entered as covariates and the categorical variables should be entered as fixed factors:

![image](https://user-images.githubusercontent.com/21319932/171616298-1a5609cc-eca8-4f24-b2d6-4a84b5c4d93a.png)

[2022-06-02 11:50] estatistics opened #1727 "[Bug]: locale::facet::_S_create_c_locale name not valid"
### JASP Version

0.16.2

### Commit ID

_No response_

### JASP Module

_No response_

### What analysis are you seeing the problem on?

didnt run

### What OS are you seeing the problem on?

kubuntu latest

### Bug Description

flatpak run org.jaspstats.JASP
terminate called after throwing an instance of 'std::runtime_error'
  what():  locale::facet::_S_create_c_locale name not valid

I solved t

[2022-06-02 12:12] JorisGoosen commented on #1727
@estatistics could you show me the output of `locale`?

[2022-06-02 12:14] JorisGoosen commented on #1727
Also try setting `export LANG=en` (although I would first like to see that output because this really shouldn't be happening).

[2022-06-02 12:16] estatistics commented on #1727
I commented many lines in order to speed locale generation.
I dont know if this played a role afterwards.
Now is running and i must do a statistical analysis.
I cannot take the risk to close it right now. But at late at night, I can try anything you say....

(jasp v.0.16.1. - How do you see version when no running? flatpak run jasp --version dont work.)

`Locale`

LANG=el_GR.UTF-8
LANGUAGE=en_US:e

[2022-06-02 12:34] estatistics commented on #1727
Another bug/request: jasp has no option to set different separators for csv data...

[2022-06-02 12:46] JorisGoosen commented on #1727
Well, the code tries to detect `\t` `,` `;` `:` from the header I think. However, feel free to make a new issue for it if you think there is something wrong with that.

For now I will only focus on the issue at hand here.

To see the installed version I think you can do `flatpak list` and see the version there.

What you could already try (and it won't interfere with your running analysis) is:
- o

[2022-06-02 12:56] estatistics commented on #1727
Update: `flatpak run org.jaspstats.JASP ` is running ok after maybe setting the locale? Dont know
"Starting JASP 0.16.1 from commit 028b4c149470e3e87db539892edc6428b94db758 and branch HEAD"

[2022-06-02 12:58] estatistics opened #1728 "[Bug]: Try to set name for the variables names. It exits."
### JASP Version

0.16.1

### Commit ID

_No response_

### JASP Module

_No response_

### What analysis are you seeing the problem on?

naming variable levels

### What OS are you seeing the problem on?

kubuntu latest on bullseye 11

### Bug Description

 Try to set name for the variables names. It exits.

### Expected Behaviour

to name var levels succesffully without exiting.

### Steps to Re