[2021-11-03 21:41] Xeonen commented on #1490
Hello, I have uploaded a video showing the bug. It is a clear screen recording. I will also explain here in text.
https://youtu.be/OF_GXNOJ1lY

1. If I do not switch between apps I still get a large delay. When I switch, the delay gets much worse.
2. No, and I have been able to reproduce the issue with a very low CPU and RAM usage with a few apps running (notepad, system info etc)
3. No, I reprodu

[2021-11-03 22:29] PaulGinns commented on #1484
Thanks very much for this clarification.

[2021-11-04 00:33] R180 commented on #1431
If I open JASP and open the BFI Network dataset form the data library, select descriptives, and  select each of the dispersion boxes it takes JASP one second to fill in a checkbox after it's clicked. A subsequent save of the JASP file takes 12 seconds for eh "saving" message appears.

The task manager CPU report always shows 0% CPU and 257.6 MB for the JASP processes.

[2021-11-04 02:28] R180 commented on #1431
Sorry, here's the task manager performance data output. For some reason opening JASP does not change it. On the left is prior to opening JASP and running some descriptives. On her right is after.
![image](https://user-images.githubusercontent.com/16230091/140247535-a426ed3e-3572-456d-ad93-527a591ee962.png)

[2021-11-04 08:48] boutinb commented on #1488
Hi @dustinfife The strings of the analysis results are displayed via a WebBrowser, so it is considered as HTML. So for non-ascii characters, it's beter to use HTML encoding: the 'β' sign is encoded by '&beta'.

[2021-11-04 08:49] #1485 closed

[2021-11-04 10:25] JorisGoosen commented on #1490
Thank you for uploading the video and making such a clear bugreport!

Very weird behaviour... We'll get to the bottom of this, I'm just not sure yet how.

[2021-11-04 10:48] JorisGoosen commented on #1431
@R180 the behaviour you see in JASP, with slowdowns durin interaction, is the same as described in https://github.com/jasp-stats/jasp-issues/issues/1490 ?

And shown here: https://www.youtube.com/watch?v=OF_GXNOJ1lY

[2021-11-04 13:10] R180 commented on #1431
Yes. That is very similar behavior.

[2021-11-04 13:55] icekylin commented on #1490
I also seem encountered the same issue. I used the installation loaded from the ZIP file. After running the analysis of JASP, when I jumped from another application window to the JASP interface, there would usually be suspended animation and crash.here is log file for the issue, and data file is a JASP example file.
[JASP 2021-11-04 21_39_53 Desktop.log](https://github.com/jasp-stats/jasp-issues/f

[2021-11-05 08:12] iijpma commented on #1479
[Empty_datatset_JASP.zip](https://github.com/jasp-stats/jasp-issues/files/7481574/Empty_datatset_JASP.zip)
[Logs.zip](https://github.com/jasp-stats/jasp-issues/files/7481603/Logs.zip)

[2021-11-06 13:49] icekylin opened #1494 "[Bug]: JASP 0.16 crash with help info content Copy"
### JASP Version

JASP 0.16

### Commit ID

2a93b3077ed005781f4c2195e95ee24896dd60bb

### JASP Module

jaspFrequencies

### What analysis are you seeing the problem on?

Bayesian A/B Test

### What OS are you seeing the problem on?

Windows 10

### Bug Description

I opened the JASP (from ZIP file document) frequency analysis module. I clicked the info button and copy the content of the document,

[2021-11-06 19:29] JorisGoosen commented on #1431
@R180 could you try out this testversion of JASP: https://static.jasp-stats.org/JASP-SlowdownProfiler-Test.zip

It will probably display that warning but it will print a whole lot more information on what is happening inside JASP and, in the end at exit, how long certain operations took. If you could run JASP and use it for a bit while it is displaying the slowdowns and then upload the logs here t

[2021-11-06 19:30] JorisGoosen commented on #1490
Well you could help out by trying this testversion of JASP: https://static.jasp-stats.org/JASP-SlowdownProfiler-Test.zip

It will print a whole lot more information on what is happening inside JASP and, in the end at exit, how long certain operations took. If you could run JASP and use it for a bit while it is displaying the slowdowns and then upload the logs here then that would be quite helpful.

[2021-11-07 16:57] Xeonen commented on #1490
Hello, sorry for the late reply. I've recorded another video with the profiler, added the logs, video, and my dxdiag report.

Video
https://youtu.be/Ry79ld4VrTc

Logs
[JASP 2021-11-07 19_50_27 Engine 0.log](https://github.com/jasp-stats/jasp-issues/files/7492715/JASP.2021-11-07.19_50_27.Engine.0.log)
[JASP 2021-11-07 19_50_27 Desktop.log](https://github.com/jasp-stats/jasp-issues/files/7492716/JAS

[2021-11-08 10:56] isakohrlund opened #1495 "[Feature Request]: Explanation of "Covariates" vs. "Factors" in Linear Regression analysis"
### Description

There are two boxes for independent variables in the linear regression analysis: covariates AND factors. Only covariates are explained in the "Show info" box, leaving users such as student wondering what the difference is and which to use when.

### Purpose

Improve understanding and reduce mistakes

### Use-case

Teaching

### Is your feature request related to a problem?

Lack o

[2021-11-08 12:36] vandenman commented on #1495
Good point. I'll change it in the helpfile, but for your information, `covariates` refers to continuous predictors (e.g., age). `factors` refers to categorical predictors (e.g., gender).

[2021-11-08 13:48] morimora commented on #354
Hi.
Any updates?

[2021-11-08 14:58] Doc13kd opened #1496 "Program freezes when exporting results to html"
### JASP Version

0.15

### Commit ID

_No response_

### JASP Module

jaspAnova

### What analysis are you seeing the problem on?

repeated measures anova

### What OS are you seeing the problem on?

windows

### Bug Description

I am creating an instructional video for my students. I have run a repeated measures ANOVA and want to export the results to html to show them how they can then copy tha

[2021-11-08 21:02] isakohrlund commented on #1495
Great. Thank you. The confusion is because:
1. Ordinal variables are allowed in both boxes, so where to put such a variable when given the choice?
2. There are two separate boxes, so JASP wants the user to differentiate between "covariates" and "factors" for some reason, which is not explained.

[2021-11-09 08:50] juliuspf commented on #1493
Hi, thanks for the FR, I think this should already be possible, shouldn't it. If you unfold the "Advanced" tab. See my screenshot. You can choose what standardization should be in the output table. Is that sufficient for you?
![Screenshot 2021-11-09 at 09 48 09](https://user-images.githubusercontent.com/38500953/140892313-562d779d-8fb0-4e21-8eff-b08b8179ebd9.png)

[2021-11-09 09:30] vandenman commented on #1495
Ordinal variables are tricky. They are not entirely continuous nor categorical and there is no golden rule on what to do with them. If you assume that the levels of an ordinal variable are equidistant, you can enter it as a covariate and will obtain a single coefficient. If you do not want to make this assumption, you can enter it as a factor and obtain a coefficient for each level (except the ref

[2021-11-09 10:47] #1495 closed

[2021-11-09 15:53] boutinb commented on #1486
Solve by updating the htmltools in jasp-required-files: https://github.com/jasp-stats/jasp-required-files/commit/2fb7a3be11bde3cf40192b93b80d60c388d146a4
and https://github.com/jasp-stats/jasp-required-files/commit/47af322bedbee8d2d62595f64cd78178058aad2f

[2021-11-09 15:53] #1486 closed

[2021-11-10 13:49] QBWoof opened #1497 "[Bug]: JASP won't reopen existing JASP files."
### JASP Version

0.14

### Commit ID

_No response_

### JASP Module

jaspSem

### What analysis are you seeing the problem on?

Path analysis (SEM)

### What OS are you seeing the problem on?

MacOS 10.14 and Windows 10

### Bug Description

I am able to open JASP and run my analyses from a new file. However, if that file closes, I am unable to reopen it again. JASP will open, it appears to "loa

[2021-11-10 16:19] JorisGoosen commented on #1497
@QBWoof could you attach a zipfile here containing one or more of these broken jasp-files?

And have you tried 0.15 already?

[2021-11-10 16:21] JorisGoosen commented on #1491
@SomeUserName1 have you tried the workaround mentioned in https://github.com/jasp-stats/jasp-issues/issues/1424 ?

I just tested with that and it should avoid the issue.
If you've tried it before and it didnt help, it was there with the wrong commit and Ive fixed today.

[2021-11-10 16:22] JorisGoosen commented on #1487
Or selecting it from the topmenu in the results (downturned triangle next to "Results")

[2021-11-10 16:47] martscht commented on #1491
Tried the workaround as
[code]
but crash issue remained on computing variables.

[2021-11-10 23:13] KristofBostoen commented on #395
I could not find the possibility to sample weights to JASP. I was wondering if that is still scheduled for development. Most of my work relates to surveys and I would find it great if some of that functionality could be added to JASP.

[2021-11-10 23:56] JorisGoosen commented on #1491
@martscht and you do not have `org.kde.Sdk` installed right?

[2021-11-11 00:17] R180 commented on #1431
@JorisGoosen I tried using the SlowdownProfiler. Sorry, it did not work at all. I used it to open the ANOVA "Tooth Growth" data set. That worked fine. I then attempted to run an independent t test test. I entered the appropriate variables but no analysis was generated, and no log file was produced.
![image](https://user-images.githubusercontent.com/16230091/141214081-8a120a6c-ffd9-4d09-9af6-523ebb

[2021-11-11 01:04] icekylin commented on #1487
Very grateful for your help

[2021-11-11 01:04] #1487 closed

[2021-11-11 08:21] EJWagenmakers commented on #395
Yes, this is still scheduled!

[2021-11-11 08:31] JoKeyser commented on #1487
For the record: This idea is also tracked in issue #1257 .

[2021-11-11 08:50] JoKeyser commented on #1452
I agree that this kind of "annotation" to the raw data would be helpful.
I'd like to point out possible workarounds until a clean technical solution is found.

- For units of measurement, one could add the SI units in parenthesis into the variable name, e.g. Height (cm).
- For textual description, one can use JASP's annotation feature in the Results, as is done for the data sets in JASP's data lib

[2021-11-11 09:08] boutinb commented on #1496
Strange...
Could you try also this: load the Data Library/ANOVA/Alcohol attitudes JASP file, and export the HTML file. Try also to export the Result PDF file.
Also it would be fine to have your log files: https://github.com/jasp-stats/jasp-desktop/blob/development/Docs/user-guide/logging-howto.md

[2021-11-11 13:52] JorisGoosen commented on #1431
Hmm, and I assume that you waited a while?

It is starting to seem like maybe the resultswindow is the problem here. Also given https://github.com/jasp-stats/jasp-issues/issues/1494 and https://github.com/jasp-stats/jasp-issues/issues/1496

Especially  because it seems like it didnt even load for you this time (as in it is still grey in the screenshot) and that matches with . Thanks for trying.

[2021-11-12 00:08] Arcanelady opened #1498 "[Bug]: JASP program won't stay open"
### JASP Version

0.15

### Commit ID

_No response_

### JASP Module

_No response_

### What analysis are you seeing the problem on?

_No response_

### What OS are you seeing the problem on?

Windows 10

### Bug Description

JASP won't stay open on my computer.

### Expected Behaviour

JASP should stay open when downloaded.

### Steps to Reproduce

1.
2.
3.
...

### Log (if any)

_No response_

[2021-11-12 03:57] verboten999 commented on #1456
Nope, still no go. Still crashes both on my PC and my laptop. Both on AMD processor and Nvidia GPU, if it helps somewhat. Coming back to 0.14.1 for now. Thanks for the suggestion, though.

[2021-11-12 16:17] PerPalmgren commented on #1481
Just wanted to check in if this has been forwarded to the appropriate responsible person?

[2021-11-12 16:19] PerPalmgren commented on #1471
I this request feasible?

[2021-11-12 16:20] PerPalmgren commented on #1480
Just wanted to check in on the developmental status for this?

[2021-11-12 16:22] PerPalmgren commented on #1442
Just wanted to check if this request for presumptive feature is advancing?

[2021-11-13 05:39] Psychowannabe opened #1499 "[Feature Request]: Option to choose between Exclude pairwise/Exclude list wise"
### Description

Option to choose between Exclude pairwise/Exclude list wise - Classical Linear Regression

### Purpose

It would be amazing to allow us the option to choose between exclude cases pairwise or exclude cases listwise when using the classical linear regression analysis. I know this option is already available in other features of JASP but I guess it's missing for the frequentist linea

[2021-11-13 07:20] StudentKate opened #1500 "[Bug]: Analysis Terminated Unexpectedly"
### JASP Version

0.14

### Commit ID

_No response_

### JASP Module

jaspReliability

### What analysis are you seeing the problem on?

Single- Test Reliability

### What OS are you seeing the problem on?

ADAPT

### Bug Description

![JASP Reliability](https://user-images.githubusercontent.com/84303770/141609701-bcfe2b37-872b-4262-9a00-967a33651508.PNG)

I am using JASP through the University o

[2021-11-13 13:25] juliuspf commented on #1493
@JMBKoch Could you confirm this, then we can close this issue.

[2021-11-13 13:30] JMBKoch commented on #1493
@juliuspf @uta-connolly  Yes indeed, you can specify the desired standardization method under the Advanced tab, so I'm closing this issue.

[2021-11-13 13:30] #1493 closed

[2021-11-13 17:38] uta-connolly commented on #1493
Hello and Apologies, I’m out of the office till next week. From your description I’m happy for it to be closed out. Otherwise, I will be able to follow up next week.
Really appreciate how quickly you were able to respond and add this to your CFA features.
Best regards,
John Connolly

On Nov 13, 2021, at 1:30 PM, JMBKoch ***@***.***> wrote:

﻿

[External]

@juliuspf<https://nam12.safelinks.protecti

[2021-11-14 04:46] icekylin opened #1501 "[Feature Request]: Quality control module-Six Sigma Tools for Quality and Process Improvement"
### Description

Thank you for your great work. I have seen quality control modules in some nightly builds of JASP, but I don't know why it was not released in the end. Could you please add modules for Quality Control at some point, including Six Sigma etc.

### Purpose

Complete reliability and quality control analysis module

### Use-case

_No response_

### Is your feature request related to a

[2021-11-14 13:27] EJWagenmakers commented on #1501
Yes, have have this under development. We are about to have a new release (0.16), but it looks as if the six sigma tools will be in the next one. We might to a special nightly dedicated to the six sigma tools at some point. I'm closing this now because this is one of our main priorities at the moment.

[2021-11-14 13:27] #1501 closed

[2021-11-14 15:01] tomtomme opened #1502 "[Bug]: ANCOVA, ANOVA, Visual Modeling Module completely broken in 0.16 beta flatpak"
### JASP Version

0.15 (Development)

### Commit ID

_No response_

### JASP Module

jaspVisualModeling

### What analysis are you seeing the problem on?

all in visual modeling

### What OS are you seeing the problem on?

manjaro linux

### Bug Description

This is since the 0.16 beta (flatpak)

Opening any analysis of the visual modeling module gives this error:

[code]
I do not even need to ent

[2021-11-14 15:06] R180 commented on #1431
Correct. With JASP-SlowdowProfiler-Test, the results Window never opens. (It at least opened in JASP 0.15.)

[2021-11-15 08:55] juliuspf commented on #1500
Hi @StudentKate, could you try jasp version 0.15 and see if the issue persists?

[2021-11-15 11:41] JorisGoosen commented on #1431
Ok, so I will be trying to get a build of JASP which uses a newer version of QWebEngine (aka the resultsview).

In the meantime we could test if it is caused by `ANGLE` (which renders opengl through directx) and might be part of the slowdown.

If you open up a command-prompt, navigate to wherever `JASP.exe` is and then set `QT_OPENGL=desktop` it will use the proper drivers.
[code]

When I have the

[2021-11-15 11:42] JorisGoosen commented on #1490
Ok, so I will be trying to get a build of JASP which uses a newer version of QWebEngine (aka the resultsview).

In the meantime we could test if it is caused by `ANGLE` (which renders opengl through directx) and might be part of the slowdown.

If you open up a command-prompt, navigate to wherever `JASP.exe` is and then set `QT_OPENGL=desktop` it will use the proper drivers.
[code]

When I have the

[2021-11-15 13:30] boutinb commented on #1502
I cannot reproduce this problem on Mac, nor on Windows.

[2021-11-15 13:34] vandenman commented on #1502
@boutinb it's flatpak specific. The GitHub tarball of flexplot is 180 MB, so to reduce the size I filter everything according to .Rbuildignore. But the .Rbuildignore actually filters the R files that implemented JASP-specific things...

[2021-11-15 13:40] tomtomme commented on #1502
yep. Flatpak.
I just verified this error on a second machine.
If the easy solution is for JASP to become big, then just do it. I guess flatpak users can handle a download of some Gigabytes.

[2021-11-15 13:48] vandenman commented on #1502
JASP is already (way) too big in my opinion, but luckily it's very easy to fix this bug without making JASP even bigger.

[2021-11-15 14:06] tomtomme commented on #1502
yes it got big. Thats a problem for devs I guess?

For me as a user its more important, that it is stable.
Students seeing JASP crash in some way is bad. This issue got caught in beta, so that is fine. But the last flatpak/Qt-issue was not. JASP crashed in front of the class, while I was trying to re-lable and quick-filter. A student immidiately asked if we should switch to SPSS :D  - if he only k

[2021-11-15 14:15] vandenman commented on #1502
Yeah, the Qt situation is terrible with flatpak (see e.g., https://github.com/flathub/io.qt.qtwebengine.BaseApp, which we are forced to use to ship JASP with flatpak). Hopefully, this gets better with Qt 6, but otherwise, we may need to look into shipping JASP differently on Linux.

[2021-11-15 17:14] boutinb commented on #1480
@vandenman Did you add this feature?

[2021-11-15 17:15] boutinb commented on #1442
@FBartos How far are you with this?

[2021-11-16 02:51] Ilse90 commented on #1334
Hi Frantisek,

I saw that the new version of JASP is released and that the bug is fixed! So I can run the analyses now. However I don’t get a Bayes factor when running the analysis. I read in an old post on a forum that Bayes mixed model didn’t support Bayes factor yet. Is this also the case in the new version? And will it support Bayes factor in the future?

Thank you in advance for your help!

C

[2021-11-16 05:31] R180 commented on #1431
I tried to do this with the slowdown tester. It did not make a difference. The results window output still never appeared (and no log files were generated). I also tried to do it with the regular JASP 15.0.1 but it did not improve the slowdown.

[2021-11-16 08:27] vandenman commented on #1480
@boutinb there is a PR open (for the next release).

Following EJ's suggestion I went for a radio button:

![image](https://user-images.githubusercontent.com/21319932/141946084-58cc4aa7-e435-4ec6-a87a-bc8d4412e00b.png)

The radio button allows you to specify whether you want a histogram, density, or both. This applies to both the distribution plot and the subplots on the diagonal of the correlatio

[2021-11-16 08:33] PerPalmgren commented on #1480
Not so familiar with names like PR?😜 Is it possible to send me a link?
Kind regards
Per

Per J. Palmgren | DC, FRCC, MMedEd, PhD |
Associate Professor |
Department of Learning, Informatics, Management and Ethics |
Karolinska Institutet | Tomtebodavägen 18A | 171 77 Stockholm |
Tel. + 46 8 524 85 294<tel:+%2046%208%20524%2085%C2%A0294>
***@***.******@***.***> | ki.se<https://eur01.safelinks.protect

[2021-11-16 08:38] PerPalmgren commented on #1480
Got it! Nice 😜
When are you planning for next release?

[2021-11-16 09:12] FBartos commented on #1442
I did not have time to start it yet, It would be probably best to delegate this task to someone else.

[2021-11-16 09:16] FBartos commented on #1334
Hi Ilse,

Glad that your analyses are working now. Yes, you are right, Bayes factors are not supported yet. Our group is still figuring out what would be the most sensible way of implementing them -- there was even a [special issue](https://link.springer.com/article/10.1007/s42113-021-00113-2) trying to tackle the current obstacles.
Adding Bayes factors to Mixed Models will definitely be a notable

[2021-11-16 09:37] EJWagenmakers commented on #1442
I think we'll probably have to wait with this feature until Frantisek has the time to give more love to contingency tables generally. There are also some students who could help out I guess, so we'll keep our eyes open

[2021-11-16 09:46] tomtomme commented on #1502
Clicking ANOVA or ANCOVA crashes JASP without error message on 0.16 beta. All other main buttons seem fine. I guess this is a related flatpak issue. If I remember correctly we had this before with ANOVA. Or should I open a new bug report?

[2021-11-16 10:26] vandenman commented on #1502
@tomtomme does the issue persist after you follow the steps in https://github.com/jasp-stats/jasp-issues/issues/1424?

[2021-11-16 10:53] tomtomme commented on #1502
I tried, but cannot aply the fix on this machine. At home I applied the fix successfully some weeks ago. No clue what changed. Both machines use manjaro. flatpak repair does not help either.

[code]

[2021-11-16 10:54] tomtomme commented on #1502
the crash however apears only with 0.16 beta. With 0.15 AN(C)OVA and flexplot are fine. And the fix above was for 0.15 I think.

[2021-11-16 12:30] boutinb commented on #1499
@vandenman Could you answer this request?

[2021-11-16 12:50] vandenman commented on #1502
In the latest beta version, available through `flatpak install https://dl.flathub.org/build-repo/65097/org.jaspstats.JASP.flatpakref`, visual modeling should no longer crash.

[2021-11-16 12:53] boutinb commented on #1471
@fqixiang Could you answer whether this is feasible?

[2021-11-16 12:55] boutinb commented on #354
@JMBKoch Could you tell whether there is a planning for this feature?

[2021-11-16 13:06] MikeAitkenDeakin opened #1503 "[Bug]: Inclusion of + or - in group labels is permitted, but leads to malformed labelling of output (classical ANOVA->post-hoc test )"
### JASP Version

0.15

### Commit ID

_No response_

### JASP Module

jaspAnova

### What analysis are you seeing the problem on?

Post hoc

### What OS are you seeing the problem on?

Windows 10

### Bug Description

ANOVA module allows factor level names that includes symbol sequence " - " .
Use of this symbol sequence in group/level name breaks the output of pairwise post-hoc test.

See in att

[2021-11-16 13:07] JMBKoch commented on #354
@boutinb This is unfortunately unfeasible for now.

[2021-11-16 13:15] tomtomme commented on #1502
ANOVA / ANCOVA is also fixed with this

[2021-11-16 13:15] #1502 closed

[2021-11-16 13:31] vandenman commented on #1499
unfortunately, there is no clean way to implement pairwise deletion (e.g., without bootstrapping), so I don't think we will implement this soon. However, it is on our agenda to use the R package mice for imputing missing values, which should provide an alternative.

[2021-11-16 13:35] vandenman commented on #1480
@boutinb there is a PR open (for the next release).

Following EJ's suggestion I went for a radio button:

![image](https://user-images.githubusercontent.com/21319932/141946084-58cc4aa7-e435-4ec6-a87a-bc8d4412e00b.png)

The radio button allows you to specify whether you want a histogram, density, or both. This applies to both the distribution plot and the subplots on the diagonal of the correlatio

[2021-11-16 13:38] boutinb commented on #1451
@EJWagenmakers What do you think of this request?

[2021-11-16 15:36] fqixiang commented on #1471
@boutinb Yes it is. It's very strange that the accuracy doesn't seem displayed anywhere, even though I remember seeing it before. In any case, I'll add it.

[2021-11-16 20:03] Xeonen commented on #1490
I tried with the stable 1.16, nightly 1.16 installed, nightly 1.16 zip. None of them worked so far.

Is there anything on my machine that I can install/reinstall/uninstall to troubleshoot?

[2021-11-16 21:27] JorisGoosen commented on #1490
Ah thanks @Xeonen !
Too bad it didn't help.

Right now I'm working on getting JASP running with Qt 6.2, but this is a bit of work and will probably take me at least another day. Once I have a version you can use to test I will let you know.

[2021-11-16 23:23] Ilse90 commented on #1334
Hi Frantisek,

Thank you for your reply and I can imagine implementing BF in Mixed Models must be difficult. Good luck with it! And I look forward to your groups solution :)

Cheers,
Ilse

[2021-11-17 08:35] AnSoGrub opened #1504 "[Bug]: Dataset can be opened, but associated syntax (modules / results) cannot be opened"
### JASP Version

0.14

### Commit ID

_No response_

### JASP Module

_No response_

### What analysis are you seeing the problem on?

_No response_

### What OS are you seeing the problem on?

Windows 10

### Bug Description

Unfortunately, a data set can still be opened, but the associated calculations/modules can no longer be opened.
The error message is attached as an image (figure1). The spe

[2021-11-17 10:31] JorisGoosen commented on #1504
@AnSoGrub can you test whether 0.15 works better? (Or 0.16 which we will likely release in two hours).

[2021-11-17 10:35] AnSoGrub commented on #1504
With 0.15 the file does not open at all (so also the record that still opens with 0.14.1 does not open with 0.15). Only the "start screen" of JASP appears briefly and then disappears again - JASP is also not present in the Task Manager of Windows.

[2021-11-17 14:09] JorisGoosen commented on #1504
The error message you printscreened in your issue, with which version of JASP is that made?
The same goes for the picture of the JASP folder.

Also which language is your computer set in?

[2021-11-17 14:12] AnSoGrub commented on #1504
The error message and the folder is from version 0.14.1. The data is created with this version.
With a newer version (0.15 or 0.16) the file does not open at all.

Yes, it is german.

[2021-11-17 14:20] JorisGoosen commented on #1504
Well, the main problem is that the modules won't load in 0.14.1 though right?

If you start 0.16 from an unpacked zip https://static.jasp-stats.org/JASP-0.16.0-64bit.zip and you double-click `jasp.exe` do you see the message warning you it needs to recreate some module-folders?

And after you see the welcome screen can you check whether it has created a `Modules` in there?

[2021-11-18 02:09] peteroma opened #1505 "[Feature Request]: Latent Profile Analysis (LPA)"
### Description

Latent Profile Analysis (LPA)

### Purpose

LPA is a categorical latent variable modeling approach that focuses on identifying latent subpopulations within a population based on a specified set of variables.  Unlike Latent Class Analysis (LCA), LPA can work with continuous variables and variables of differing scales.

### Use-case

Predict performance based on array/configuration

[2021-11-18 07:39] Trebicky opened #1506 "[Feature Request]: Standard errors for effect sizes across JASP"
### Description

Effect size standard errors

### Purpose

When running a meta-analysis in JASP, we need to enter effect size and effect size standard error. But JASP does not report results (e.i. for t-tests or correlations) including SE of the given resulting effect. Purpose would be no need to calculate SEs externaly or by hand.

### Use-case

I want to meta-analyse my own results and do all in

[2021-11-18 07:53] EJWagenmakers commented on #1506
Dear Trebicky,

Thanks for this feedback. To me surprise, JASP indeed does not return standard errors for effect sizes. JASP does return confidence intervals, but that's not the same. So I think the easiest solution is just to add the SEs everywhere, and automatically, as the numbers cannot be interpreted without the SE anyway. This is really imporant to we will prioritize this.
Also thanks for th

[2021-11-18 08:11] Trebicky commented on #1506
I am delighted to hear this, and I am happy it would be an easy fix for you. I am looking for ver 0.15.x including this :-)

It is rather a painful struggle to find out that the analysis only gives some numbers, but you need other numbers to proceed on.

I found it most irritating when discovering G*Power that sometimes needed effect sizes no analysis provided by default or at all, and I had to ta

[2021-11-18 08:24] EJWagenmakers commented on #1506
We have that under development as well.
EJ

[2021-11-18 08:50] Trebicky commented on #1506
Sweet sweet future!

[2021-11-18 16:09] Xeonen commented on #1490
It is okay, I will test any version if needed. For now I'm using v14 and getting by.

[2021-11-18 16:49] TarandeepKang commented on #1505
I would wholeheartedly second this request!

R users often perform latent class analysis using this package:
Linzer, D. A., & Lewis, J. B. (2011). poLCA: An R Package for Polytomous Variable Latent Class Analysis. Journal of Statistical Software, 42(10), 1–29. https://doi.org/10.18637/jss.v042.i10

And latent profile analysis with:

Rosenberg, J. M., Beymer, P. N., Anderson, D. J., Lissa, C. j van

[2021-11-19 01:13] rsbalkin commented on #458
still wanting to see discriminant analysis so post hoc analysis for MANOVA (as opposed to univariate ANOVAs) can be performed

[2021-11-19 01:35] rsbalkin opened #1507 "[Bug]: zscore and if/else not working"
### JASP Version

0.15 / 0.16

### Commit ID

_No response_

### JASP Module

_No response_

### What analysis are you seeing the problem on?

Regression

### What OS are you seeing the problem on?

Big Sur 11.6

### Bug Description

will not form zscores; will not transform if/else/then
error syntax below

### Expected Behaviour

columns would fill

### Steps to Reproduce

1. add a variable (+)
2

[2021-11-19 01:40] rsbalkin commented on #256
This article is a bit dated but denotes best practice with post hoc MANOVA.  I concur with TarandeepKang.  This is needed.

[Performing multivariate group comparisons following a statistically significant MANOVA.pdf](https://github.com/jasp-stats/jasp-issues/files/7567183/Performing.multivariate.group.comparisons.following.a.statistically.significant.MANOVA.pdf)

[2021-11-19 03:08] dsoergel opened #1508 "[Feature Request]: Specifying number of digits after the decimal point - minor improvement"
### Description

Do not apply that specification to numbers like chi-square, t, F, correlation coefficient, or the level of significance p, and similar cases

### Purpose

Having these types of numbers curtailed to integers does not make sense, while for data values, mean, mode and such it might.

### Use-case

_No response_

### Is your feature request related to a problem?

_No response_

### De

[2021-11-19 05:34] R180 commented on #1431
OK. I just installed jasp version 0.16 and it will not run at all. . . .

![image](https://user-images.githubusercontent.com/16230091/142570753-e12c3d90-98ea-4f79-b9fe-8689ab4d29d2.png)

[2021-11-19 05:47] R180 commented on #1431
Update. It turns out that the failure to run at all only happened upon electing to launch the application at the end of the install process. I can run 0.16 now. But no output ever appears. The behavior is the same as it was with the slowdown tester version.

[2021-11-19 07:51] vandenman commented on #1508
Could you be more specific in what your feature request adds in addition to the current options? For example, it is already possible to change the number of decimals (for non-integer numbers) and also show exact p-values instead of `p<0.05`:

![image](https://user-images.githubusercontent.com/21319932/142585277-f6e1d3b9-ab3c-4e4b-a3a4-1b84b50af0a6.png)

[2021-11-19 08:19] vandenman commented on #1507
Thanks for the bug report! JASP 0.16 was released a few days ago. Could you see if the issue persists with version 0.16? (I was not able to replicate the error in 0.16 on my end, let's hope it also works for you).

[2021-11-19 08:19] dsoergel commented on #1508
Sorry, I had overlooked the exact p values
option. But that still does not address the other
types of numbers I mentioned, such as any type of
correlation or association measures. So it would
make sense for the program to have a list of
these types of measures and not apply the number
of decimals specified by the user to those. I may
want data values, means, and modes displayed as
integers (counts

[2021-11-19 09:03] ZeyadAmr commented on #1360
Had the same issue on:
Arch Linux x86_64
Kernel 5.15.2-zen1-1-zen

Using the fix mentioned above for KDE Platform still works as of November 19th.

[2021-11-19 12:11] JorisGoosen commented on #1431
Well, I guess it *is* good it runs, too bad about the output though.
I'm still hard at work at the version with an updated results-output-component and it is getting there.
(There were quite some changes in Qt that I have to handle though)

I'll get back to you beginning next week.

[2021-11-19 13:02] rsbalkin commented on #1507
It is .16 as well. Same errors I recorded

Sent from my iPhone

[2021-11-19 15:05] rsbalkin commented on #1507
Columns are not filling on the Mac system (Big Sur 11.6).  This is a problem in 0.16 as well.  Not sure what the problem is.
Rick Balkin
***@***.***

[2021-11-20 12:20] djdekker commented on #1507
I can confirm the zScores issue on macOS Monterey 12.0.1 and JASP 0.16.

[2021-11-20 12:49] rsbalkin commented on #1507
Yes.  Also happens with if/else

Richard S. Balkin, Ph.D., LPC, NCC
Fellow, American Counseling Association
Professor and Interim Chair
Department of Leadership and Counselor Education
School of Education
University of Mississippi
Editor, International Journal for the Advancment of Counselling
Fellow, American Counseling Association
email: ***@***.***

[2021-11-21 13:37] SomeUserName1 commented on #1491
Just tried it yielding

[code]
Why don't you guys just ship binaries?

[2021-11-21 20:19] PerPalmgren commented on #1471
@boutinb and @fqixiang
I think the new confusion matrix (when using the proportions button) is very cluttered. What is the added value for within rows and columns?
I really prefer how it has been in previous JASP versions. What is missing overall percentage like in SPSS (see picture) or only accuracy in Jamovi.
![table-classification](https://user-images.githubusercontent.com/79397662/142777506-b7

[2021-11-22 00:10] JorisGoosen commented on #1491
Maybe try `sudo flatpak update --commit=212d267860a3001081816007b074dd57993335aec23485c082d40034c6a5b857 org.kde.Platform` (as in without `--user`).

We use flatpak because supporting all different linux distributions and versions natively is way too much work.
Flatpak allows us to ship binaries to all distributions at once.

This bug will be fixed in the next version as well.

[2021-11-22 09:45] ludwigkreuzpointner opened #1509 "[Bug]: CFA Crashes"
### JASP Version

Others

### Commit ID

_No response_

### JASP Module

jaspSem

### What analysis are you seeing the problem on?

Confirmatory Factor Analysis

### What OS are you seeing the problem on?

Windows 10

### Bug Description

The analysis is working, but when I click on Model plot, this error message apply as long as the variables are ordinal. When changing them to scale is works.

CF

[2021-11-22 14:50] JorisGoosen commented on #1490
Alright, I've managed to get a prototype version of JASP using Qt6, you can get it here: https://static.jasp-stats.org/JASP-Qt6-testing.zip

And I really hope this solves the slowdown. There might be other things wrong with it though, I had to change quite some unrelated things as well to get this running.

[2021-11-22 14:50] JorisGoosen commented on #1431
Alright, I've managed to get a prototype version of JASP using Qt6, you can get it here: https://static.jasp-stats.org/JASP-Qt6-testing.zip

And I really hope this solves the slowdown. There might be other things wrong with it though, I had to change quite some unrelated things as well to get this running.

[2021-11-22 14:52] JorisGoosen commented on #1496
@Doc13kd  could you test with: https://static.jasp-stats.org/JASP-Qt6-testing.zip

This could solve the problem, Im curious if it does.

There might be other things wrong with it though, I had to change quite some unrelated things as well to get it running (with Qt6).

[2021-11-22 15:25] verboten999 opened #1510 "[Bug]: JASP 0.16 Crash"
### JASP Version

Others

### Commit ID

_No response_

### JASP Module

_No response_

### What analysis are you seeing the problem on?

_No response_

### What OS are you seeing the problem on?

windows 10

### Bug Description

[JASP 2021-11-22 22_15_03 Engine 0.log](https://github.com/jasp-stats/jasp-issues/files/7582269/JASP.2021-11-22.22_15_03.Engine.0.log)
[JASP 2021-11-22 22_15_55 Desktop.l

[2021-11-22 15:29] verboten999 commented on #1510
Also the last JASP software that did not show this behavior was 0.14.1
If it helps somewhat, it happens both on
my desktop PC:
Ryzen 7 3700X
NVidia GTX1080
32GB RAM dual channel

my notebook:
Ryzen 9 5900HX
RTX 3060
32 GB RAM dual channel

[2021-11-22 15:40] verboten999 commented on #1510
Source
JASP.exe

Summary
Stopped working

Date
‎22-‎Nov-‎21 22:10

Status
Report sent

Description
Faulting Application Path:	C:\Program Files (x86)\JASP\JASP.exe

Problem signature
Problem Event Name:	APPCRASH
Application Name:	JASP.exe
Application Version:	0.0.0.0
Application Timestamp:	61925f43
Fault Module Name:	Qt5Quick.dll
Fault Module Version:	5.15.2.0
Fault Module Timestamp:	5fa50aeb
Excep

[2021-11-22 19:35] Xeonen commented on #1490
@JorisGoosen works like a charm! There is no more stutter or freezing. ANOVA module appears to be dead though.

[2021-11-22 21:53] JorisGoosen commented on #1490
Awesome!

Well, I'm going to guess more analyses are dead, but that will be the next step ;)

If this really fixes the annoying bug then we will have a bugfix release coming up in the near future where they *do* work ^^

[2021-11-23 05:23] R180 commented on #1431
Hi JorisGoosen. Thanks. However this Qt6 version does not function at all for me. Once I've launched it, it pretty quickly "stops working" or crashes. This has happened when I try to open a data file from the data library or from my computer, and sometimes even before I get to that point. See the screen shots, below.
![image](https://user-images.githubusercontent.com/16230091/142975072-1d050272-f4

[2021-11-23 08:45] amirmasoudabdol commented on #1489
Thanks for taking care of this @JohnnyDoorn. Are you planning to have this for 0.16.1? If so, I think you should add it to the project.

[2021-11-23 09:26] amirmasoudabdol commented on #918
@JohnnyDoorn, is this still a thing? I will add it to the 0.16.1 but feel free to close it if it's resolved. It not, let's tag it as a bug, if it is?

[2021-11-23 09:45] fqixiang commented on #1471
@Kucharssim I agree with @PerPalmgren that the new confusion matrix with proportions is very cluttered - perhaps I should change it to SPSS style?

[2021-11-23 09:49] EJWagenmakers commented on #1471
Yes, I agree.

[2021-11-23 10:06] JohnnyDoorn commented on #918
Still there (slow RM ANOVA for 10,000 rows), but I don't think we can do anything about it, so ill close this.

[2021-11-23 10:06] #918 closed

[2021-11-23 12:17] Xeonen commented on #1490
@JorisGoosen
Thanks a lot for all the work poured into the JASP. I hope one way I will be able to return the favor by doing commits.

[2021-11-23 12:17] #1490 closed

[2021-11-23 12:29] Kucharssim commented on #1505
Thank you for the request. I am keeping an eye on mixture models in general, but I am not working on it at the moment as other things have higher priority. I will discuss with @EJWagenmakers internally when could we fit that project in the timeline.

[2021-11-23 12:38] JorisGoosen commented on #1431
@R180 do you know if safe graphics was still on?

If you are unsure about this you could try starting jasp as `JASP.exe --safeGraphics` from the place you installed it.
This is mostly because of the warning/error you saw in https://github.com/jasp-stats/jasp-issues/issues/1431#issuecomment-973768644
Although that might have been caused by the strange glitch you had after pressing "Launch JASP" fro

[2021-11-23 16:23] amirmasoudabdol commented on #1431
@JorisGoosen, I ran into the same issue when I build your branch. Loading a Data Library crashes JASP.

[2021-11-23 16:56] JorisGoosen commented on #1431
@R180 ah then I misremembered the log of another user with this issue, but thanks for pointing that out. At least that problem should now be avoided because JASP remembers that setting.

The fact that @amirmasoudabdol also ran into that means something is wrong there. Ive been containing work though and I can now and here open files from the data library.

Maybe you could tell me which one you bot

[2021-11-23 17:15] TarandeepKang commented on #176
Dear team, I agree with the other commenters here that allowing entry of predictors in blocks, to conduct hierarchical regression is important, and much needed new feature. Do you have any updates?

[2021-11-23 17:34] R180 commented on #1431
Hi JorisGoosen. I've tried more than one data file from the JASP library, and none have worked. Among those are the "Tooth Growth" data file.

[2021-11-23 17:34] marodon commented on #1424
Hello can not run JASP 0.16 on Ubuntu 20.04. I Install full lib canberra pakage
 won't open here are the messages (I tried uninstall/reinstall, same message. Is there a conficllt with NVDIA driver? I have a NVIDIA Corporation GP107 [GeForce GTX 1050 Ti] and I can't change the driver for reasons I don't know
gilles@gilles-MS-7970:~$ flatpak run org.jaspstats.JASP
Making new argument list for Applic

[2021-11-23 17:50] TarandeepKang commented on #1439
Hello again,
I've just come across this new paper describing a new GLM method. The authors seem to suggest that it might be superior in some cases to existing methods, and I thought it might be worthy of your consideration, when you consider updating the GLM procedures!

 Deen, M., & de Rooij, M. (2020). ClusterBootstrap: An R package for the analysis of hierarchical data using generalized linear

[2021-11-23 18:36] JorisGoosen opened #1511 "GLX problem flatpak with JASP 0.16 on Ubuntu 20.04"
Hello can not run JASP 0.16 on Ubuntu 20.04. I Install full lib canberra pakage
 won't open here are the messages (I tried uninstall/reinstall, same message. Is there a conficllt with NVDIA driver? I have a NVIDIA Corporation GP107 [GeForce GTX 1050 Ti] and I can't change the driver for reasons I don't know
[code]

_Originally posted by @marodon in https://github.com/jasp-stats/jasp-issues/issues/

[2021-11-23 18:36] JorisGoosen commented on #1424
Hey @marodon, Ive taken the liberty to open a new issue for you as what you describe is quite a different issue then the one at play here. I will respond to you there.

[2021-11-23 18:40] JorisGoosen commented on #1511
@marodon there are 2 things you could try, one is easy:
`flatpak run org.jaspstats.JASP --safeGraphics`
It will enable software rendering and disable animations, but otherwise is the same as normally running JASP. You only need to do this one time, afterwards JASP will remember that you enabled safe graphics and if you want to disable it you can do so in `Preferences -> Advanced`

The other is a b

[2021-11-23 18:46] peteroma commented on #1505
Thank you for the consideration, no doubt LPA would be a welcome addition to the JASP toolbox!  If you decide to take it on, I'd be very happy to help with beta testing.

[2021-11-24 00:12] LilianYou opened #1512 "[Bug]: argument 'value' is missing, with no default"
### JASP Version

0.15

### Commit ID

_No response_

### JASP Module

jaspJags

### What analysis are you seeing the problem on?

bandit task

### What OS are you seeing the problem on?

macOS Catalina

### Bug Description

No output
<img width="679" alt="Screen Shot 2021-11-23 at 4 09 40 PM" src="https://user-images.githubusercontent.com/30990195/143148208-2f3dbb4c-beea-4631-abfb-b881fc25f23b.pn

[2021-11-24 09:22] marodon commented on #1511
thanks . still got the same  issue with your first solution; Would try
the other one. Please see the error message I got twice during JASP
installation:

Warning: Error deploying: While trying to apply extra data: apply_extra
script failed, exit status 256

I wonder if this has anything to do with my issue

Best

Le 23/11/2021 à 19:40, Joris Goosen a écrit :

--
Gilles MARODON
3 rue stendhal
75020

[2021-11-24 10:21] boutinb commented on #1512
Hi @LilianYou To attach a jasp file, you have first to rename it with a zip extension, then GitHub allows you to drag & drop it into a new comment in this issue.

[2021-11-24 10:34] JoKeyser commented on #1482
Citing https://github.com/WeblateOrg/weblate/issues/6736#issuecomment-956177835:

Hopefully there is a way to resolve the situation?

[2021-11-24 11:46] EJWagenmakers commented on #1482
We have upgraded our plan with Weblate, so this should not be a restriction any longer. (not sure whether they have lifted the restriction already. @boutinb ?

[2021-11-24 13:09] boutinb commented on #1482
We have now 'Advanced for non-profit (20000 strings)' still in trial period (but should be definitive soon).
We have now 10,191 string (20,000  allowed)  and 21 languages (30 allowed). So the warning should not appear anymore (and I don't see it).

[2021-11-24 17:54] LilianYou commented on #1512
Hi @boutinb ,

Thanks! I‘ve attached my jasp file along with my sample data. Please let me know if there is anything else I need to do.

Best,
Lily

[2021-11-24 18:04] christofnaegele opened #1513 "[Bug]: Difference between EFA results between JASP 0.15 and 0.16"
### JASP Version

0.16

### Commit ID

_No response_

### JASP Module

jaspFactor

### What analysis are you seeing the problem on?

Exploratory Factor Analysis

### What OS are you seeing the problem on?

MacOs & Win 1§0

### Bug Description

Is this a bug?

I am puzzled as the results I get from an exploratory factor analysis are different when I run the analysis on JASP 0.15 or 0.16. I ran into

[2021-11-24 18:09] christofnaegele commented on #1513
Sorry, I/it messed up the pictures.

This is the result of the analysis run on 0.15, a two factor structure, instead the four factor structure reported by JASP 0.16:
![grafik](https://user-images.githubusercontent.com/45144351/143292224-217475e0-a9e0-4f1d-afed-dd1e38f32d04.png)

Please ignore the first picture, as the results must be differten with a varimax rotation.

[2021-11-24 19:38] JoKeyser commented on #1482
Thank you, this is great news. I just tried to add the original culprit again (adding Simplified Chinese to jaspGraphs), and Weblate gives me " The translation will be updated in the background.". That sounds more promising than, but the component hasn't appeared yet.
Maybe it takes some time, I have not much experience with adding components in Weblate.

[2021-11-25 07:53] EJWagenmakers commented on #1513
@JMBKoch could you take a look?

[2021-11-25 08:13] vandenman commented on #1512
@boutinb this should be fixed by https://github.com/jasp-stats/jaspJags/pull/59. The problem is that there is something wrong with the jags installation but we don't know what is wrong because the code that is supposed to show the error message contains an error...

@LilianYou we have recently released a new version of JASP (0.16). Could you check if the error persists with that version?

[2021-11-25 09:41] boutinb commented on #1482
Hmm.. I have tried also to add Chinese to jaspGraphs, and I get also the same 'promising' message. If I don't see the translation today, I will ask WebLate support.

[2021-11-25 17:33] JTPetter commented on #1476
Hello Herbert,

we have started working on Cohen's and Fleiss' kappa. This is the first version. The data format is one rater per column and one item per row. Cohen's weighted and unweighted kappa can be calculated for all combinations of raters. Fleiss' Kappa is calculated for the overall agreement and per item. Please let us know if you have any remarks.

![image](https://user-images.githubuserc

[2021-11-25 18:06] herberthoijtink commented on #1476
Beste Marijn (en JTpetter cc.),

Kun je mbv reply to all laten weten of het zo ok is of dat je nog “wensen” hebt? Zie de mail en het screenshot hieronder.

All the best,

Herbert Hoijtink
________________________________
Van: JTPetter ***@***.***>
Verzonden: donderdag, november 25, 2021 18:34
Aan: jasp-stats/jasp-issues
CC: Hoijtink, H.J.A. (Herbert); Author
Onderwerp: Re: [jasp-stats/jasp-issues]

[2021-11-25 18:07] #1504 closed

[2021-11-25 22:23] LilianYou commented on #1512
@vandenman I just installed JASP 0.16, but there is a new error showing "The engine crashed while trying to run this analysis...". See the screenshot attached.

<img width="574" alt="Screen Shot 2021-11-25 at 2 20 56 PM" src="https://user-images.githubusercontent.com/30990195/143504492-690f87f8-b094-4056-857a-449657c99b34.png">

[2021-11-26 08:15] vandenman commented on #1512
@LilianYou Thanks for trying the new version and sorry to hear that it still doesn't work.

Would it be possible to post the log files? See https://github.com/jasp-stats/jasp-desktop/blob/development/Docs/user-guide/logging-howto.md for how to enable logging. Note that you have to enable logging before reproducing the crash.

[2021-11-26 11:13] juliuspf commented on #1513
Hi @christofnaegele, thank you for the bug report and catching this disparity. I think this is indeed desired behaviour. There was a "bug" in 0.15 regarding the number of factors retained from parallel analysis (see this PR https://github.com/jasp-stats/jaspFactor/pull/57). In short, the number of factors/components indicated by the parallel analysis can be based on a PCA or an EFA. in 0.15, the n

[2021-11-26 11:36] #1366 closed

[2021-11-26 12:02] christofnaegele commented on #1513
Hi Julius Pfad
Thanks for your quick answer.
Yes, all OK. Great.
Christof

[2021-11-26 12:02] #1513 closed

[2021-11-26 23:08] narcilili opened #1514 "[Bug]: probability positive plot"
### JASP Version

0.16

### Commit ID

_No response_

### JASP Module

jaspLearnBayes

### What analysis are you seeing the problem on?

binary classification

### What OS are you seeing the problem on?

windows 10

### Bug Description

"Not-tested” correspond to the prior probability of an individual being infected with the disease before being tested which is the prevalence equal to  0.10 . Howe

[2021-11-27 06:32] LilianYou commented on #1512
Hi @vandenman Here are the log files
[JASP 2021-11-26 22_26_57 Desktop.log](https://github.com/jasp-stats/jasp-issues/files/7611321/JASP.2021-11-26.22_26_57.Desktop.log)
[JASP 2021-11-26 22_26_57 Engine 0.log](https://github.com/jasp-stats/jasp-issues/files/7611322/JASP.2021-11-26.22_26_57.Engine.0.log)
.

[2021-11-27 10:25] EJWagenmakers commented on #1514
I'm not sure I understand. You write "the not-tested prior probability of an individual being *not* infected with the disease before being tested is also 0.10 as shown in the bar plot below." But the y-axis has the probability of being positive (= infected).

[2021-11-27 13:31] PerPalmgren commented on #1480
Do you know when this feature will be implemented?

[2021-11-27 13:35] PerPalmgren commented on #1471
Do you know when this will be rectified? My students are now running their logistic regression analysis in SPSS or JAMOVI, because they can´t interpret the present confusion matrix (when set on proportions) in JASP. That is sad because I  love JASP.

[2021-11-27 13:41] PerPalmgren opened #1515 "Testing multicollinearity in logistic regressions"
### Description

It would be very good to test multicollinearity as part of the assumption verifications when running  logistic regressions.

### Purpose

_No response_

### Use-case

_No response_

### Is your feature request related to a problem?

_No response_

### Describe the solution you would like

This is possible in SPSS and JAMOVI. I have inserted the table generated in JAMOVI. A similar

[2021-11-27 14:11] Arwa-AA commented on #176
Hi All,

Sorry to re-open this old post. would like to ask if there is a workaround to do a hierarchical regression with more than 2 blocks in JASP?

Thank you

[2021-11-27 20:07] narcilili commented on #1514
hello ej,

thanks for replying. you are correct. i think i mistook the not tested negative (turquoise) as
the complement (rareness) to prevalence. the bar plot is correct: the prevalence should be
the same for both negative and positive conditions before being tested.
using the default data in JASP, the negative is 0.1 before testing and 0.027 after a negative result.
this is because false negativ

[2021-11-28 09:54] WojtekHerisz opened #1516 "[Feature Request]: Add Polish language to translations"
### Description

I would like to contribute with Polish language translation but it is not currently available.

### Purpose

_No response_

### Use-case

_No response_

### Is your feature request related to a problem?

_No response_

### Describe the solution you would like

Add Polish language to translations

### Describe alternatives that you have considered

_No response_

### Additional con

[2021-11-28 11:42] EJWagenmakers commented on #1516
Dear Wojtek,

We have an efficient system set up on WebLate, so basically you can just start (and possibly involve colleagues as well). See the information on https://jasp-stats.org/translation-guidelines/
I am closing this issue to keep thing tidy. Please email us if anything is unclear.

Cheers,
E.J.

[2021-11-28 11:42] #1516 closed

[2021-11-29 08:12] vandenman commented on #1480
This will be implemented in the next version (so not 0.16). There is no specific release date for the next version, but hopefully, it'll be in January.

[2021-11-29 08:12] #1480 closed

[2021-11-29 09:55] boutinb commented on #1514
@narcilili Can we close this issue?

[2021-11-29 10:01] boutinb commented on #1516
I see that you managed to add the polish language for the jasp-Descriptives-QML component. Did you have another problem?

[2021-11-29 12:20] boutinb commented on #1512
@vandenman If I load the banditWSL_2 JASP file and refresh, I get the following error:
<img width="453" alt="Screenshot 2021-11-29 at 13 18 01" src="https://user-images.githubusercontent.com/503332/143867089-8c20f2a4-ca3b-45a3-b5b7-1a88616eda16.png">

[2021-11-29 13:31] vandenman commented on #1512
@boutinb something indeed goes wrong there. But if I hardcode the values like so:
![image](https://user-images.githubusercontent.com/21319932/143876732-1162e701-c975-4cf7-b530-c6619ef968ef.png)

the analysis works.

However, that won't help @LilianYou (yet) as there is something wrong with the JAGS installation on their system which leads to the initial error.

[2021-11-29 14:34] drakkar85 opened #1517 "[Bug]: crash at opening"
### JASP Version

0.16

### Commit ID

_No response_

### JASP Module

_No response_

### What analysis are you seeing the problem on?

_No response_

### What OS are you seeing the problem on?

macOS catalina 10.15.7

### Bug Description

crash at opening

### Expected Behaviour

The application should open

### Steps to Reproduce

1. install
2. open jasp

### Log (if any)

[code]

### Final Chec

[2021-11-29 17:21] JoKeyser opened #1518 "Fix/prevent/explain the failing homogeneity tests in RM-ANOVA"
### JASP Version

0.16

### Commit ID

_No response_

### JASP Module

jaspAnova

### What analysis are you seeing the problem on?

Classical Repeated Measures ANOVA

### What OS are you seeing the problem on?

Ubuntu

### Bug Description

If you check "Homogeneity tests" in repeated measures ANOVA without adding a between subject factor, you get an error message ([defined here](https://github.com

[2021-11-29 17:56] dismukealex commented on #989
I'm having the same issue, but I have the intercept option turned on. My coefficients table just shows the intercept and then every category other than the first one. I can't figure out how to get it to include the first category of the factor in the table. help :(

[2021-11-29 18:54] LilianYou commented on #1512
Hi @boutinb @vandenman Please let me know if there is anything else I could try out to give you more clues. If there is a system issue, would upgrading my IOS system solve the issue? I know R had a problem with the Catalina system before. I could also try downgrading JASP to an older version if it may work out alternatively.

[2021-11-29 21:15] #1514 closed

[2021-11-29 21:23] rnsoicher opened #1519 "[Bug]: Not every section is being initialised/computed after opening a file"
### JASP Version

0.16

### Commit ID

_No response_

### JASP Module

jaspDescriptives

### What analysis are you seeing the problem on?

_No response_

### What OS are you seeing the problem on?

Windows 10

### Bug Description

I am opening someone else's JASP file. Students are asked to run a series of 7 different descriptive statistics. While the first three appear in the results pane fine, t

[2021-11-30 09:15] JorisGoosen commented on #1519
Could you try refreshing all?

Either by pressing "Ctrl+R" or selecting the menu in the results (clicking the triangle next to "Results"):
![image](https://user-images.githubusercontent.com/29062713/144018886-0e237abe-2e70-4607-910d-089962f1d698.png)

It looks like it failed loading for the student and then it was baked into the jasp-file perhaps.

[2021-11-30 09:21] juliusverrel commented on #385
Any chance you might implement this in the near future? Implementing parallel filters with full functionality might be difficult. A more feasible solution might be to allow only (analysis-specific) filters defined by one column: i.e., per analysis select a column name and allowed values. Or, even simpler: implement it only for binary columns which can be selected as a filter (1=include, 0=exclude)

[2021-11-30 10:01] JorisGoosen commented on #385
This is not on the roster at the moment but a big rewrite for the data-backend of JASP is upcoming and that will make adding separate filters feasible, so hopefully in the coming year!

[2021-11-30 11:31] sophieberkhout commented on #989
Hi @dismukealex,

As Raoul said before, the factor variable is turned into dummy variables as is standard for regression models. The number of dummy variables is always the number of categories minus one, where the intercept is the coefficient for the reference category (the one category left out). You can read more about this here: https://www.metafor-project.org/doku.php/tips:models_with_or_with

[2021-12-01 10:28] boutinb commented on #1517
Hi @drakkar85 Apparently JASP crashes during a call to your Graphic driver.
Could you start JASP by doing the following:
. Start a Terminal
. Type: /Applications/JASP.app/Contents/MacOS/JASP --safeGraphics
If this still crashes, can you give me the output from the Terminal?

[2021-12-01 10:51] drakkar85 commented on #1517
runs OK!

/Applications/JASP.app/Contents/MacOS/JASP --safeGraphics

Setting special options for software rendering (aka safe graphics).
Making new argument list for Application startup: /Applications/JASP.app/Contents/MacOS/JASP --safeGraphics --disable-gpu
Starting JASP 0.16 from commit ef60937d81e5388ed2f27f6047cc1363e9af4611 and branch development
Application initialized
Application init enter

[2021-12-01 10:59] herberthoijtink opened #1520 "[Bug]: JASP Crashes"
### JASP Version

0.16

### Commit ID

Herbert Hoijtink

### JASP Module

jaspBain

### What analysis are you seeing the problem on?

opening a data set (not the .jasp-file, but the data set) from the bain library.

### What OS are you seeing the problem on?

Windows 10 enterprise

### Bug Description

Step1: my pc is off and I turn it on. I open JASP, use - open -  data library - bain - click on

[2021-12-01 11:13] boutinb commented on #1512
Hi @LilianYou I have also Catalina, so I don't think that upgrading your IOS would help (even it is not a bad idea to do it anyway).
From the log files you sent, I could not see the crash. Could you start JASP by loading only the data file, and afterwards start the JAGS analysis. Does it crash already when you use a dummy model? Or can you add some models without crash? When it crashes, can you se

[2021-12-01 11:16] boutinb commented on #1517
Nice! If you start now JASP directly, the safeGraphics setting should be already set, and hopefully JASP can start.

[2021-12-01 11:25] drakkar85 commented on #1517
yes, now JASP nicefully starts with the safeGraphics flag enabled.
next time apple will give me an update for graphic card driver, i'll try again without that flag.
For now it is great to get jasp to work again.
tnx

[2021-12-01 11:29] Kucharssim commented on #1515
Can you take a look, @fqixiang?

[2021-12-01 11:37] boutinb commented on #1520
Hi @herberthoijtink Could you set logging on (https://github.com/jasp-stats/jasp-desktop/blob/development/Docs/user-guide/logging-howto.md): once you have set the logging on, open the BAIN Sample T-Test Data file, if it crashes again, then send us the log files in GitHub (drag & drop the log files in a new comment of this issue)

[2021-12-01 11:38] #1517 closed

[2021-12-01 11:51] JorisGoosen commented on #1520
If Herbert could do what Bruno describes that would be good because if I try this out on windows I do not get a crash at all.

[2021-12-01 11:52] JorisGoosen commented on #1520
And, is this on a UU IT-controlled PC?

[2021-12-01 11:54] herberthoijtink commented on #1520
Dear Joris and Bruno,

Yes this is on a UU IT-controlled PC. The most open version of it.

I will do the log thingy later today and let you know.

All the best,

Herbert

From: Joris Goosen ***@***.***>
Sent: woensdag 1 december 2021 12:53
To: jasp-stats/jasp-issues ***@***.***>
Cc: Hoijtink, H.J.A. (Herbert) ***@***.***>; Mention ***@***.***>
Subject: Re: [jasp-stats/jasp-issues] [Bug]: JASP Cras

[2021-12-01 12:45] boutinb commented on #1471
I think this is an easy fix. @fqixiang when do you think you can solve it?

[2021-12-01 13:46] fqixiang commented on #1471
@boutinb  I already assigned it to the 0.16.1 release, so ultimately depends on when the new release is ready. :)

[2021-12-01 14:02] herberthoijtink commented on #1520
Dear Bruno,

I can’t reproduce the error anymore. Sorry! I will keep the logtofile on in case it happens again. For now you can close the issue. I will try to do that myself right now, if Github allows me.

All the best,

Herbert

From: bruno boutin ***@***.***>
Sent: woensdag 1 december 2021 12:37
To: jasp-stats/jasp-issues ***@***.***>
Cc: Hoijtink, H.J.A. (Herbert) ***@***.***>; Mention ***@***

[2021-12-01 14:03] #1520 closed

[2021-12-01 14:58] JorisGoosen commented on #1520
Ah good to hear it doesn't happen anymore.

I suspect it might have something to do with the userfolder, I remember from working at the servicedesk of UU that the user-documents come from a network drive. Perhaps JASP was trying to write something to that folder while loading and it went wrong because the system was still connecting or who knows what.

Keeping the logs on is a good idea!

[2021-12-01 15:10] BubiUnitn opened #1521 "[Bug]: Error in running Generalized Linear Mixed Models"
### JASP Version

0.15

### Commit ID

_No response_

### JASP Module

jaspMixedModels

### What analysis are you seeing the problem on?

Generalized Linear Mixed Models

### What OS are you seeing the problem on?

mac OS Monterey 12.0.1

### Bug Description

Dear experts,
I was trying to carry out a Logistic regression using GLMM, using as a dependent variable a binary variable, as fixed effects

[2021-12-01 15:27] JohnnyDoorn commented on #1518
Hi @JoKeyser ,

Thank you for your informative report. The test that is implemented (Levene's test) is used for assesing between subjects variation. One of its assumptions is independent observations between groups, and since the within-subjects observations are dependent, it would not be suitable to use it for assessing equal variances in two repeated measures. I think greying out the option is n

[2021-12-01 15:58] DrMarkGS opened #1522 "Simple Main effects error mixed ANOVA"
### JASP Version

0.16

### Commit ID

_No response_

### JASP Module

jaspAnova

### What analysis are you seeing the problem on?

2 way mixed factor ANOVA

### What OS are you seeing the problem on?

Win 10

### Bug Description

2 factors:
%1RM - 3 levels
Grip - 2 levels

Simple main effects using %1RM as factor and grip as moderator works fine
Simple main effects using grip as factor and %1RM a

[2021-12-01 15:59] JoKeyser commented on #1518
@JohnnyDoorn thank you for your quick and detailed answer.
Your reasoning seems sound to me, and thanks for pointing out that Mauchly's test is sufficient if you have >2 levels.

One case/questions remains unclear to me: What if one has repeated factors with just 2 levels; does RM-ANOVA not assume equal variances in that case? The text books I consulted so far are vague about this... if you could,

[2021-12-01 16:05] JohnnyDoorn commented on #1518
When you are dealing with paired samples (also like in the paired t-test) you look at the standard deviations of the differences, so for two groups, you only have 1 standard deviation. Only for more than 2 groups do you have more than 1 standard deviation, and then you use the sphericity test.

[2021-12-01 16:09] JoKeyser commented on #1518
Thank you; that obviates the test for 1 rm-factor with 2 levels.
Does this reasoning extend to multiple rm-factors, each with 2 levels?
(Sorry in case that's also obvious, it isn't to me, currently.)

[2021-12-01 16:12] JohnnyDoorn commented on #1518
I think in multiway RM ANOVA, you still only look at each factor separately - I am not sure why though (perhaps this is not an assumption of the model?)

[2021-12-01 16:19] JoKeyser commented on #1518
I think it would helpful to figure this out with certainty, and if true, include this in the help file. (My confusion is triggered by a 2x2 RM-ANOVA without between factors.)

[2021-12-01 18:01] LilianYou commented on #1512
Hi @boutinb, thank you for the suggestion.

I added one bayesian binomial test to the JAGS module, and it worked (see screenshot) although my original model still crashes. Let me know if the log file records it this time. I did load data first and then add JAGS analysis.

![Screen Shot 2021-12-01 at 9 58 42 AM](https://user-images.githubusercontent.com/30990195/144288398-035960e0-384e-4140-a571-31

[2021-12-02 09:46] herberthoijtink commented on #1476
Dear all,

Thank you very much for this rapid development work! I've consulted my colleagues who work a lot with Cohen's Kappa and they were very enthusiastic. It also solves a couple of issues that they encounter in SPSS:

  *   In SPSS weighted kappa wasn't available
  *   In SPSS kappa and chi-square were both available via crosstabs, that was confusing for students.
  *   In SPSS for each pair

[2021-12-02 15:23] amirmasoudabdol commented on #1512
Oh wait, those are from the data! 🤔 But, then why does `unique` fails on the data?

[2021-12-02 15:42] boutinb commented on #1512
Hi @LilianYou  What I wanted to ask, is whether you can add a new JAGS analysis, with no model. And if there is no crash, can you then add a simple model?
Could you also do the following:

- Download this attached file: [jags.sh.zip](https://github.com/jasp-stats/jasp-issues/files/7643179/jags.sh.zip)
- Unzip it by double-clicking it in the Finder
- Start a Terminal
- Type 'cd Downloads' to go to

[2021-12-02 16:18] Doc13kd commented on #1496
Hi Joris –

Thank you for getting back to me. I actually found a work around where I don’t need to export it to HTML and right now don’t have the time to go back and play around withit.

Kathy

Dr. Kathleen T. Doherty
Senior Professor of Psychology
Harrisburg Area Community College
One HACC Drive, W 211
Harrisburg, PA 17110

717-780-2496
***@***.******@***.***>

***********************************

[2021-12-02 16:31] JorisGoosen commented on #1496
Alright, well, then I'm closing this issue.

ood you found a way around it.

[2021-12-02 16:31] #1496 closed

[2021-12-02 16:52] fqixiang commented on #1515
I will try to implement this as part of the 0.16.1 release.

[2021-12-02 17:04] LilianYou commented on #1512
@boutinb Here is the output from my terminal

`➜  Downloads ./jags.sh
Welcome to JAGS 4.3.0 on Thu Dec  2 09:02:38 2021
JAGS is free software and comes with ABSOLUTELY NO WARRANTY
Loading module: basemod: ok
Loading module: bugs: ok
.
`

[2021-12-02 17:09] LilianYou commented on #1512
@boutinb Here is the output from my terminal:

Welcome to JAGS 4.3.0 on Thu Dec  2 09:02:38 2021
JAGS is free software and comes with ABSOLUTELY NO WARRANTY
Loading module: basemod: ok
Loading module: bugs: ok
.
<img width="576" alt="Screen Shot 2021-12-02 at 9 09 15 AM" src="https://user-images.githubusercontent.com/30990195/144469652-97434621-6a75-4527-a309-f301fb9e49da.png">

[2021-12-02 17:57] JorisGoosen commented on #1431
Hey @R180

I've been working on this new version: https://static.jasp-stats.org/JASP-Qt6-Testing-2.zip
I can't get it to crash anymore (and the previous one I could) so I hope it works for you.

Perhaps you can give it a go and see whether you can open "Tooth Growth" again and if the glitchy behaviour where JAPS slows down disappears.

[2021-12-03 01:47] R180 commented on #1431
@JorisGoosen

Thanks. However, this new version took a very long time to show any signs that it was launching (half a minute). When it finally did launch, I immediately attempted to open the Tooth Growth data from the data library. The result was a familiar "crash" message:
![image](https://user-images.githubusercontent.com/16230091/144530718-22759ee5-fd4c-4018-996d-5c106286afbb.png)

[2021-12-03 05:24] statsinkin opened #1523 "[Bug]: This analysis terminated unexpectedly REGRESSION"
### JASP Version

0.16 (Development)

### Commit ID

_No response_

### JASP Module

jaspRegression

### What analysis are you seeing the problem on?

Correlation scatter plot and pairwise

### What OS are you seeing the problem on?

macOS big sur 11.5.2

### Bug Description

This analysis terminated unexpectedly.

Error in Summary.factor(structure(c(6L, 3L, 5L, 1L, 7L, 4L, 2L), .Label = c('1', :

[2021-12-03 08:05] vandenman commented on #1523
[correlation_error.jasp.zip](https://github.com/jasp-stats/jasp-issues/files/7647728/correlation_error.jasp.zip) (rename and drop .zip)

@Kucharssim do you have time to take a look?

[2021-12-03 08:06] Kucharssim commented on #1523
I will hve a look

[2021-12-03 09:34] boutinb commented on #1521
@FBartos Can you have a look?

[2021-12-03 10:08] JorisGoosen commented on #1431
Well, that is because it started from a zip and it had to recreate certain paths in the filesystem (that is the warning "JASP has been installed from a Zip" that came when you double-clicked JASP.exe is there for).

Well that is not as I had hoped...
However, could you attach the logfiles of such a failed attempt here?
That way I can see where it crashes for you, because I have no way of reproduci

[2021-12-03 10:42] boutinb commented on #1512
OK, so JAGS can be started apparently...
Could you also in JASP, just start a new empty JAGS analysis. Check whether it crashes already, and if not just set a simple model like:
[code]

[2021-12-03 11:31] ChristianKandler opened #1524 "[Bug]: Configural Invariance Testing Code in Multigroup CFA is not correct"
### JASP Version

0.16

### Commit ID

_No response_

### JASP Module

jaspFactor

### What analysis are you seeing the problem on?

Multigroup CFA

### What OS are you seeing the problem on?

Windows 10

### Bug Description

I identified an error with the "configural" invariance testing.

### Expected Behaviour

The "metric" and other levels of MI testing are correct. But their seems to be an err

[2021-12-03 12:51] boutinb commented on #1524
Hi @ChristianKandler Could you send us a jasp file (in a zip format, and drag & drop in a comment of this GitHub issue) showing the problem?

[2021-12-03 13:03] ChristianKandler commented on #1524
[SPeADy1.zip](https://github.com/jasp-stats/jasp-issues/files/7649760/SPeADy1.zip)

See final CFA and multigroup CFA:
Configural : df = 6 --> Must be wrong!!!
Metric : df = 4 --> is correct
Scalar : df = 6 --> is correct
...

Does this help? You can compare with a previous JASP release which correctly worked here. Ther problem only occured with the last release.

Many thanks,
Christian

[2021-12-03 13:32] boutinb commented on #1524
[SPeADy2.jasp.zip](https://github.com/jasp-stats/jasp-issues/files/7649950/SPeADy2.jasp.zip)
I see that in 0.15 Configural df still gives 6, only in 0.14.1 it gives 2.
@Kucharssim Can you have a look?

[2021-12-03 14:12] R180 commented on #1431
@JorisGoosen Unfortunately JASP (Qt-Testing-2) is not generating log files. See below.
![image](https://user-images.githubusercontent.com/16230091/144616443-13b1a497-9ff7-4462-9a57-6a6e19a9c37c.png)

[2021-12-03 15:06] NikitaKhromov-Borisov opened #1525 "[Bug]: Cyrillic"
### JASP Version

0.15

### Commit ID

_No response_

### JASP Module

jaspDescriptives, jaspAnova, jaspFactor, jaspFrequencies, jaspRegression, jaspTTests, jaspMixedModels, jaspAudit, jaspBain, jaspNetwork, jaspSem, jaspMachineLearning, jaspSummaryStatistics, jaspMetaAnalysis, jaspDistributions, jaspEquivalenceTTests, jaspJags, jaspReliability, jaspVisualModeling, jaspLearnBayes, jaspProphet, jas

[2021-12-03 15:11] NikitaKhromov-Borisov opened #1526 "[Feature Request]: number presentation"
### Description

_No response_

### Purpose

_No response_

### Use-case

_No response_

### Is your feature request related to a problem?

_No response_

### Describe the solution you would like

_No response_

### Describe alternatives that you have considered

_No response_

### Additional context

Please, ASAP, remove spaces in the presentation of numbers: 21.3e-14, not 21.3e  -14. I asked thi

[2021-12-03 15:12] amirmasoudabdol commented on #1526
This has been addressed in the new release, 0.16.0. You can download it from here, https://jasp-stats.org/download/.

[2021-12-03 15:12] #1526 closed

[2021-12-03 15:16] NikitaKhromov-Borisov opened #1527 "[Feature Request]: slow bootstrap"
### Description

BT is very slow

### Purpose

_No response_

### Use-case

_No response_

### Is your feature request related to a problem?

_No response_

### Describe the solution you would like

_No response_

### Describe alternatives that you have considered

For instance fast algorithms from  PAST https://www.nhm.uio.no/english/research/infrastructure/past/

### Additional context

_No resp

[2021-12-03 15:17] amirmasoudabdol commented on #1525
Hey @NikitaKhromov-Borisov! I have a few questions that would help us pinpoint the problem a bit better,

- Do you experience this in specific parts of JASP, analysis, results section, plots, tables?
- Would you also please check your default font? You can check it from Preferences → Interface.
- I see that you are using Windows 11. If you have recently upgraded to Windows 11, did you have this pr

[2021-12-03 15:20] amirmasoudabdol commented on #1527
Thanks @NikitaKhromov-Borisov! You have brought this up before, and it is already in our radar! 🙂

[2021-12-03 15:20] #1527 closed

[2021-12-03 15:25] NikitaKhromov-Borisov opened #1528 "[Feature Request]: Cyrillic"
### Description

Cyrillic is not recognized

### Purpose

_No response_

### Use-case

_No response_

### Is your feature request related to a problem?

_No response_

### Describe the solution you would like

recognizing Cyrillic ASAP

### Describe alternatives that you have considered

_No response_

### Additional context

_No response_

[2021-12-03 15:30] amirmasoudabdol commented on #1528
Hi @NikitaKhromov-Borisov, as I explained [here](https://github.com/jasp-stats/jasp-issues/issues/1525#issuecomment-985602897), we should support Cyrillic and this problem might be caused on your end. You don't need to open a new Feature Request, instead, if you help me understand your side of the problem a bit better, maybe we will be able to help.

I close this feature request, feel free to repl

[2021-12-03 15:30] #1528 closed

[2021-12-03 15:32] NikitaKhromov-Borisov opened #1529 "[Feature Request]: Notches in BoxPlots"
### Description

In raincloud plots notchces would be desirable, they show 95% Cis for medians

### Purpose

_No response_

### Use-case

_No response_

### Is your feature request related to a problem?

_No response_

### Describe the solution you would like

_No response_

### Describe alternatives that you have considered

_No response_

### Additional context

_No response_

[2021-12-03 17:49] joefitness commented on #566
I am bumping this up for @ToddDaniel suggestions of adding Phi and Cramer’s V effect size and residuals to the Multinomial Test.

JASP has been fantastic! Thank you!

[2021-12-03 18:21] LilianYou commented on #1512
@boutinb The new empty analysIs doesn't crash. See screenshot below:
![Screen Shot 2021-12-03 at 10 20 04 AM](https://user-images.githubusercontent.com/30990195/144653269-4504be2a-4c8a-404d-97e5-bebd1bf58dc1.png)

[2021-12-03 19:53] EJWagenmakers commented on #566
I'm assigning this to @FBartos under the general heading "more love for contingency tables"

[2021-12-03 23:38] statsinkin commented on #1523
Do you know why its not working?

[2021-12-04 02:08] klee89 opened #1530 "[Feature Request]: Crosstab with the number of categories < 2"
### JASP Version

0.16

### Commit ID

_No response_

### JASP Module

_No response_

### What analysis are you seeing the problem on?

Frequencies, Classical, Contingences

### What OS are you seeing the problem on?

Window 10

### Bug Description

<img width="436" alt="image" src="https://user-images.githubusercontent.com/94721395/144693097-9903c4fd-f012-487e-a0bf-f4d835644155.png">

### Expecte

[2021-12-05 01:33] jjxytc opened #1531 "[Feature Request]: nonparametric factorial ANOVA and pairwise comparisons"
### Description

conduct nonparametric factorial ANOVA and pairwise comparisons

### Purpose

_No response_

### Use-case

_No response_

### Is your feature request related to a problem?

Given that data often violate the assumptions of normality and homoscedasticity, especially with some outliers, small sample sizes and an unbalanced design, it will be very helpful to allow us to conduct nonpara

[2021-12-05 04:56] icekylin commented on #1482
@boutinb This problem is still unresolved, Please ask WebLate for support.
thank you.

[2021-12-05 13:42] shun2wang opened #1532 "[Feature Request]: Support native locale encoding in SPSS files"
### Description
Thanks to the development team, I see that JASP's ‘Datamode’ is under development, I tested it once and it’s amazing!
In some cases, data form and plots look abnormal due to data file in Non-Western alphabet，I think that data editor mode provides an opportunity to solve this problem, So convert the character encoding of the data file in data editor to improve the character garbled

[2021-12-05 15:44] SvetDmFin opened #1533 "[Bug]: can't open the program"
### JASP Version

0.16

### Commit ID

_No response_

### JASP Module

_No response_

### What analysis are you seeing the problem on?

_No response_

### What OS are you seeing the problem on?

Windows

### Bug Description

Unfortunately, I can't install JASP properly. I have tried versions 16, 15, and 14 for Windows, but in the end of the installation process, when I click "Finish" and "Launch J

[2021-12-06 04:42] helpmplease opened #1534 "[Bug]: Newly downloaded JASP 0.16 programme crashes again and again on Macbook Pro. Will not open."
### JASP Version

0.16

### Commit ID

_No response_

### JASP Module

_No response_

### What analysis are you seeing the problem on?

_No response_

### What OS are you seeing the problem on?

Catalina 10.15.7

### Bug Description

[New Issue · jasp-stats_jasp-issues.pdf](https://github.com/jasp-stats/jasp-issues/files/7657971/New.Issue.jasp-stats_jasp-issues.pdf
![Screenshot 2021-12-06 at 13 43

[2021-12-06 04:44] helpmplease commented on #1534
I hope you can help. I downloaded this newer version and replaced the prior version. Now I cannot continue what I had been in the middle of working on.

[2021-12-06 08:32] vandenman commented on #1512
@LilianYou what happens when you drag `d` to the right? Until you select any parameters, no sampling is done.

[2021-12-06 10:29] boutinb commented on #1533
Hi @SvetDmFin Could you try to start JASP from the command prompt. For this,

- Start a command prompt by typing 'command prompt' in the Start menu.
- Type `"c:\Program Files (x86)\JASP\JASP.exe" > log.txt` to start JASP.
- Check whether JASP starts or not.
- Type 'notepad log.txt' to see the log file.
- Send me this log file in a comment of this GitHub issue.

[2021-12-06 10:52] JorisGoosen commented on #1532
Hey @icekylin

Maybe it isn't necessary to do this, what kind of datafiles are you trying to load?
I have been working on making sure that JASP handles different alphabets on windows and there are a few settings that you could try and tweak.

But perhaps it would be good to start of with exactly what you are trying to load and goes wrong.

- Your system is windows and the alphabet/locale is chines

[2021-12-06 11:04] boutinb commented on #1482
I have asked WebLate. What strange is that you can add other components, biut only this jaspGraph seems not to work.
Hopefully I have soon more information.

[2021-12-06 11:04] boutinb commented on #1531
@JohnnyDoorn Is this something you could do?

[2021-12-06 11:07] boutinb commented on #1534
Hi @helpmplease
Could you start JASP by doing the following:
. Start a Terminal
. Type: /Applications/JASP.app/Contents/MacOS/JASP --safeGraphics
If this still crashes, can you give me the output from the Terminal?

[2021-12-06 11:46] helpmplease commented on #1534
Thanks Bruno, it worked. You are a genius!

Best wishes,

Scott

On Mon, 6 Dec 2021 at 20:07, bruno boutin ***@***.***> wrote:

[2021-12-06 12:03] boutinb commented on #1534
Thanks! This problem occurs apparently with some graphic drivers. It's quite annoying... Fortunately this option exists. This option is now set in your profile, so that if you start now JASP directly by clicking its icon, it should also works.

[2021-12-06 12:03] #1534 closed

[2021-12-06 12:10] icekylin commented on #1532
Hi @JorisGoosen

The following are my preference settings in JASP：

- OS:Windows 10  locale is chinese
- "Handling LC_CTYPE" setting is "let JASP guess..."
- "Windows workarounds" setting is Not Selected

I have tried to switch the above options, but it didn’t help.
For example, in the file I attached, you can see the normal display (Figure 1) in SPSS and my SPSS settings (Figure 2), as well as ab

[2021-12-06 12:12] JorisGoosen commented on #1532
Ah yes, the workaround for "no BOM in windows" is only used for csv-files. So if you save it as "csv" in excel, not as UTF-8 or msdos then this workaround makes sure it is read properly.

I was not actually aware that SPSS used locale-dependent encoding in their files... That would require a fix indeed.

[2021-12-06 12:20] icekylin commented on #1532
Thank you for your work!
In fact, the solution to the garbled problem in SPSS is to switch the locale encoding and then save it as UTF-8, but I don’t know the working principle.

So you think this is a bug fix rather than a new feature requirement?

[2021-12-06 12:28] icekylin commented on #1532
The .csv file in the sample file given to you for the first time is actually edited in the notepad software, it can freely switch the locale encoding, it is easy to do this.

[2021-12-06 12:29] JorisGoosen commented on #1532
That is a solution, but it requires people to be aware of that setting, and that is often not the case.

Well, it is a bit of both. It would be a new feature to support that but it is also most definitely a bug when you do not see the data in JASP that you entered in SPSS.

The CSV setting should work reasonably for exports from excel. Now one should be added for SPSS perhaps.

What would really h

[2021-12-06 12:31] JorisGoosen commented on #1532
Yes once you are aware of these settings it isn't that hard to work with. But most users will not be aware that locales or encodin exist and so wouldn't know what to do. This is why the csv-workaround is there. Because a csv made in linux will never have a BOM but always be UTF-8. On windows however it depends on the local system, the users preferences and which options they've selected in whateve

[2021-12-06 12:37] vandenman commented on #1523
@statsinkin The error happens because you used an ordinal variable. In R, ordinal and continuous variables are represented differently (numeric vs factor). For some operations, such as creating plots, we need to treat ordinal variables differently from continuous variables, otherwise, errors occur such as the one you reported. This is now fixed by jasp-stats/jaspRegression#97 and in the next relea

[2021-12-06 12:37] #1523 closed

[2021-12-06 12:38] icekylin commented on #1532
Ok, I will give you a copy of the UTF file saved by SPSS whith the SPSS setting commands. Now this file can be opened perfectly in JASP, I don’t know if this can help.
Thanks!
[datacode-UTF.zip](https://github.com/jasp-stats/jasp-issues/files/7660693/datacode-UTF.zip)

[2021-12-06 12:48] JorisGoosen commented on #1532
So the one in `datacode-UTF.zip` is the same as the one in `datacode2.zip` but the first is saved in UTF-8 and the second as  chinese-locale?

[2021-12-06 12:52] icekylin commented on #1532
Sorry I didn’t provide you with a clear document, here to clarify the following

- 102643862_165_165.sav— saved as chinese-locale
- 102643862_165_165.sav— saved as UFT-8

[2021-12-06 13:01] JorisGoosen commented on #1431
Hmm, perhaps you could help me out by showing the permissions for the folder one level up, as in:
![image](https://user-images.githubusercontent.com/29062713/144850239-2bb9b380-fca6-4dc4-b02d-d710ce1886a3.png)

And then in `properties` the security settings for the username you use, mine are as follows:
![image](https://user-images.githubusercontent.com/29062713/144850310-d4998f75-6f30-4785-9627-7

[2021-12-06 14:50] boutinb commented on #1482
It is now solved.

[2021-12-06 14:50] #1482 closed

[2021-12-06 14:56] amal1412 opened #1535 "Problem Downloading Jasp"
### Description

problem downloadin Jasp

### Purpose

_No response_

### Use-case

_No response_

### Is your feature request related to a problem?

_No response_

### Describe the solution you would like

_No response_

### Describe alternatives that you have considered

_No response_

### Additional context

I’m trying to download the JASP, I can’t to do it!
My computer processor is:
SNAPDRAGON

[2021-12-06 15:04] JohnnyDoorn commented on #1531
Yes, but it would not be high on my priority list - it's a great feature enhancement (now JASP only does nonparametric one-way ANOVA, including follow-up tests), but I am very busy at the moment..

[2021-12-06 15:22] boutinb commented on #1535
Hi @amal1412 Are you on Windows? Then you should be able to download the Windows version https://jasp-stats.org/download/

[2021-12-06 16:59] amal1412 commented on #1535
Hi,
Thank you for your answer.
I’m in windows 10, I tried to download the software JASP, and I got: This
installation package is not supported on this type of processor. Contact
the product supplier!
I must to download it!

Thank you 🙏🏻

בתאריך יום ב׳, 6 בדצמ׳ 2021 ב-17:22 מאת bruno boutin <
***@***.***>:

[2021-12-07 00:35] jjxytc commented on #1531
@JohnnyDoorn
Take your time.

[2021-12-07 10:00] boutinb commented on #1535
Hi @amal1412 This is quite strange... I have found this page https://www.drivereasy.com/knowledge/fix-this-installation-package-is-not-supported-by-this-processor-type/, maybe it can help.
What you can still do anyway is to download the pre-installed version https://jasp-stats.org/thank-you-for-downloading-jasp-win64-zip/ : it is a zip file you have to unzipped. Afterwards, just start the JASP.exe

[2021-12-07 10:22] kevinvschie opened #1536 "[Feature Request]: "locking" filters"
### Description

Sometimes you want to analyse part of your data (e.g., as a follow-up). To do that you can apply filters and for example select one of two groups to further analyse variable A. However, for variable B you want to include both groups again, so you need to remove the filter. The issue is that this resets the applied filter for variable A. Is there a way to lock the filters for given

[2021-12-07 10:51] JorisGoosen commented on #1525
@NikitaKhromov-Borisov if you do not respond to our questions we cannot help you "ASAP" can we?

[2021-12-07 12:28] NikitaKhromov-Borisov commented on #1525
JASP doesn't recognize Cyrillic

вт, 7 дек. 2021 г. в 13:52, Joris Goosen ***@***.***>:

[2021-12-07 12:35] JorisGoosen commented on #1525
Except that it does.

We have worked very hard on this in previous versions and noone else has complained so it would be good to know where or how "JASP doesn't recognize" cyrillic.

- Is it loading a file?
- Is it typing a column name?
- Is it somewhere else?

I  cannot see your screen and I do not know what you are doing so if you can't describe the problem in more detail we cannot help you.

[2021-12-07 17:40] JorisGoosen commented on #1525
Ah, well, I would like to see them indeed.

But github sadly enough does not support uploading attachments to an issue via an email response.
So if you could go to this issue at https://github.com/jasp-stats/jasp-issues/issues/1525 and leave a comment there with the attachment, thank you.

[2021-12-07 20:22] LilianYou commented on #1512
@vandenman Here you go. It looks normal.

<img width="1435" alt="Screen Shot 2021-12-07 at 12 21 50 PM" src="https://user-images.githubusercontent.com/30990195/145100582-6e39c538-f992-4e95-9088-2b958fc17b52.png">

[2021-12-08 04:05] R180 commented on #1431
@JorisGoosen
It looks like all of the permissions are granted. . . .
![image](https://user-images.githubusercontent.com/16230091/145146411-914a6794-0eac-42a9-b446-8caa91ca5112.png)

[2021-12-08 10:15] boutinb commented on #1512
Hi @LilianYou So it means that JAGS can work on your Mac. And that it's apparently the model you use or the options you checked that makes JAGS crashing.
So I was a bit playing with your model, and I get a crash already if I set in a new JAGS analysis this model:
# Bandit win-stay lose-shift, long format
[code]
And just select the alpha parameter. Maybe @vandenman can have a look at it?

[2021-12-08 12:18] vandenman commented on #1512
@boutinb what error message do you get? For what it's worth:

- The original JASP file runs without issues on Linux (after removing `unique` under observed values).
- The model you provided also runs without issues on Linux.

[2021-12-08 13:38] boutinb commented on #1512
Sorry it was a mistake: I have run the model without the observed values nPeople & nTotalTrials (the error is 'Engine has crashed, which is not really informative...). If I add the observed values it works.
@LilianYou Could you play a bit with JAGS, by adding a more complex model, and to check when JAGS crashes?
For example, does this model work?
[code]
(by adding the alpha parameter in the result

[2021-12-08 15:19] SvetDmFin commented on #1533
Hi, boutinb!

I have done the command as You have written, but JASP still doesn't work and the notepad log.txt stays that 'notepad' doesnt occur as internal or external command that can be done by the programm or file.

What should I try next?

Thank You!

[2021-12-08 16:29] drpetersen opened #1537 "[Bug]: F test for R² change in linear regression using wrong df for categorical variables"
### JASP Version

0.16

### Commit ID

_No response_

### JASP Module

jaspRegression

### What analysis are you seeing the problem on?

Classical Linear Regression

### What OS are you seeing the problem on?

Linux (Debian bullseye)

### Bug Description

When a categorical variable with k > 2 levels is added as a Factor to a classical linear regression model, the F test checking for significance

[2021-12-08 17:51] LilianYou commented on #1512
Yes. The model works.
<img width="719" alt="Screen Shot 2021-12-08 at 9 48 25 AM" src="https://user-images.githubusercontent.com/30990195/145258390-528c478a-0beb-4a16-bb45-8fe7a0263307.png">

[2021-12-08 19:01] LilianYou commented on #1512
@boutinb I have increased model complexity:

Before defining any observed variables, this model works:
![Screen Shot 2021-12-08 at 10 55 03 AM](https://user-images.githubusercontent.com/30990195/145267281-69673d7c-7e4b-44b4-9338-5a3ecef0c0a7.png)

The model still works after I defined nTotalTrials:
![Screen Shot 2021-12-08 at 10 57 34 AM](https://user-images.githubusercontent.com/30990195/14526758

[2021-12-09 07:45] Trebicky commented on #1529
I would add to this one. Rain clouds are phenomenal. But boxplot have their issues (as far as I understand it https://www.autodesk.com/research/publications/same-stats-different-graphs) and frequently one does report means and CIs for their variables instead of medians etc...

Would it be possible to choose whether I want to see box plots or means plus their CIs (or both), so that my visualisation

[2021-12-09 08:15] vandenman commented on #1512
@LilianYou that's no longer a crash because JAGS cannot be found, so that's progress!

In this case, something goes wrong with `length(unique(person))` under `Observed values`. Although I'm not sure yet what is going wrong, if I hardcode the value to 2 then the model works.

[2021-12-09 09:09] boutinb commented on #1533
Do you have a log.txt file? It should be found in the folder displayed when you started the command prompt, something like 'C:\Users\<your username>'. You should see it in the File Explorer. Then send it by dragging & dropping it in a comment of this GitHub issue.

[2021-12-09 09:13] boutinb commented on #1537
@Kucharssim Can you have a look at this issue?

[2021-12-09 09:22] GUYON29 opened #1538 "[Feature Request]:"
### Description

I teach statisitic for psychological students with JASP (Université de Bretagne Occidentale, France). With an ANOVA, Il would like to use Dwass-Steel-Critchlow-Fligner posthoc tests instead Dunn test (Hsu, J. C. (1996). Multiple Comparisons: Theory and Methods. CRC Press.). Is there a reason to not developp this test in JASP ? (for information, JAMOVI use this Dwass-Steel-Critchlo

[2021-12-09 10:26] GUYON29 opened #1539 "[Feature Request]: Size effect with KW test"
### Description

 teach statisitic for psychological students with JASP (Université de Bretagne Occidentale, France). With an ANOVA, Il would like to use size effect with Kruskal-Wallis test.

### Purpose

_No response_

### Use-case

_No response_

### Is your feature request related to a problem?

_No response_

### Describe the solution you would like

We can use kruskal_effsize in rstatix pack

[2021-12-09 12:53] Trebicky opened #1540 "[Feature Request]: Different effects and their error estimates for Meta-analysis"
### Description

Letting users choose which effects are entered and avoid SEs

### Purpose

Increased usability and understanding of meta-analysis and variables to input.

### Use-case

One might want top run meta-analysis on correlation coeficientes from available literature with SEs not available (from mean differecnes when only samples sizes, means and SD.)

### Is your feature request related

[2021-12-09 13:52] LennyBee opened #1541 "[Bug]: Issue with Confirmatory Factor Analysis"
### JASP Version

0.16

### Commit ID

_No response_

### JASP Module

jaspSem

### What analysis are you seeing the problem on?

Confirmatory factor analysis

### What OS are you seeing the problem on?

Windows 10 Home 20H2

### Bug Description

I ask JASP to plot the CFA Model and I get this error

[code]

### Expected Behaviour

I should have seen the CFA model

### Steps to Reproduce

1. Uncli

[2021-12-09 19:46] NikitaKhromov-Borisov commented on #1525
[Cyrillic.zip](https://github.com/jasp-stats/jasp-issues/files/7687999/Cyrillic.zip)
Here are examples of how Cyrilic looks like as a JASP file

[2021-12-09 20:01] NikitaKhromov-Borisov commented on #1529
The best BoxPlots with experimental dots, notches (their width is a CI for
the median) and Cis for means are here
http://shiny.chemgrid.org/boxplotr/

Best regards,
Nikita

чт, 9 дек. 2021 г. в 10:45, Trebicky ***@***.***>:

[2021-12-09 23:20] SophieCormack commented on #1489
I also encountered this same bug when one of my RM level names was "**none**" - based on this conversation I changed the name and it then worked.  Please could you make sure that this level name is permitted in the next version too?

[2021-12-10 08:20] Trebicky commented on #1529
Thank you, Nikita. I have used that exact page for some papers, it is nice. But I found it nuisance to go for external tools when it could be a checkbox to tick in JASP GUI. And in my view, it would make sense to have the option to choose whether I see my data better described with box plot or with mean and its CIs (especially, when the plot does not come with a footnote detailing what is visualis

[2021-12-10 08:48] MarielleZZ commented on #29
For many obvious reasons I would like to introduce JASP in my non-commercial foundation. However, our data has just been moved to the cloud and we're currently teaching our researchers to work with a database connection (ODBC with SPSS). To make my case for switching to JASP it would be really helpful if we could establish a database connection.

My organization uses health data and is certainly n

[2021-12-10 10:14] boutinb commented on #1540
@sophieberkhout What do you think of this request?

[2021-12-10 10:16] boutinb commented on #1541
Hi @LennyBee Could you send a JASP file showing this error? For this zip the file and drag & drop it in a new comment of this GitHub issue.

[2021-12-10 10:20] JorisGoosen commented on #1525
Alright, I think I know what is going wrong here. You could try enabling the "Windows Workaround" in the data preferences as:
![image](https://user-images.githubusercontent.com/29062713/145558167-5bd7065d-2031-42f3-806a-43027256cc54.png)

If you then try to read your `csv` file again it should work.

[2021-12-10 12:59] sophieberkhout commented on #1540
Hi @Trebicky,

I am happy to let you know that this is already in development! We are working on more support for various outcomes and effect sizes and we are also implementing functionality to calculate outcomes or effect sizes within JASP from data or data summaries.

As for the forest plot, I agree that it would be nice to be able to add more information to the forest plot but this can be a lit

[2021-12-10 14:40] Trebicky commented on #1540
Hi,
That is delightful news, and I am looking forward to a news release. When can we expect one?
I am glad to hear JASP will be more internally connected when it comes to further data processing, from analysis to analysis.
I see bigger struggles in entering data from already published literature, but I am sure the JASP team will provide a quality solution.

OK, I'll open a new Issue for forest plo

[2021-12-10 17:52] Trebicky opened #1542 "[Feature Request]: Meta-analysis forest plots contain more study descriptors"
### Description

Let user select what additional columns  to show next to the study label in the forest plot

### Purpose

Let readers gain more info about individual studies in the meta-analysis results

### Use-case

I want to show which studies were publsihed and which were not. Or show what dose was used or waht sex were the raters

### Is your feature request related to a problem?

One proble

[2021-12-10 18:16] Trebicky opened #1543 "[Feature Request]: Meta-analysis - Funnle plot - visualise different groups of studies"
### Description

Let user choose one or two columns with categorical variables (e.g. publihed/unpublished, male/female, Pfiser/Sputnik) and visualise them in funnel plot.

### Purpose

Visual representation of groups of studies in the funnel plot.

### Use-case

Visually comparing published and unpublished studies to show publication bias and drawer effect.

### Is your feature request related to

[2021-12-10 23:06] NikitaKhromov-Borisov commented on #1525
Dear Joris,

thank you, that's great!
However, the last cell in my example is not recognized. What's the reason?

[image: image.png]
Cheers,
Nikita

пт, 10 дек. 2021 г. в 13:21, Joris Goosen ***@***.***>:

[2021-12-10 23:50] JorisGoosen commented on #1525
Ah, nice that it's helping.

I can't see your example because this also needs to be attached in a comment on https://github.com/jasp-stats/jasp-issues/issues/1525

[2021-12-11 11:17] PerPalmgren commented on #1481
Hope this request will be possible!

[2021-12-11 11:20] PerPalmgren commented on #1399
I also hope that collinarity diagnostics will soon be an added feature in the JASP logistic regression.

[2021-12-11 11:28] PerPalmgren commented on #1442
I saw that the same request as mine was already posted  in november 2020 on the post "Adjusted standardized residuals to chi square tests #727". It was responded  that standardized and adjusted standardized residuals was going to be added to the chi square tests. How is this work progressing?
All the best
Per

[2021-12-12 04:48] icekylin opened #1544 "[Bug]: DataMode-Label displayed in the cell should not be discarded"
### JASP Version

0.16 (Nightly)

### Commit ID

9be136546e4d7c781cc189aa4fd6468b8993143b

### JASP Module

_No response_

### What analysis are you seeing the problem on?

_No response_

### What OS are you seeing the problem on?

Windows 10

### Bug Description

Thanks to the development team, I was pleasantly to see that the data editor mode in Nightly Build and I tested it  for a while (maybe

[2021-12-12 17:59] NikitaKhromov-Borisov commented on #1525
[Cyrillic_1_2_3.zip](https://github.com/jasp-stats/jasp-issues/files/7699263/Cyrillic_1_2_3.zip)
Here are 3 examples. Cyrillic_1: 17 rows, but JASP recognizes only 9 and the last cell is not recognized.  Cyrillic_2: 31 rows. But JASP recognizes only 17. DB_IR: 616 rows, but JASP recognizes only 521
[Cyrillic_1_2_3.zip](https://github.com/jasp-stats/jasp-issues/files/7699281/Cyrillic_1_2_3.zip)

[2021-12-12 21:51] tomtomme commented on #1364
Any update on this?

[2021-12-12 23:28] csamuel11 opened #1545 "[Feature Request]: Cohen d for contrasts in linear mixed models"
### Description

I am working with classical linear mixed models. When I specify contrasts in the "Estimated marginal means" section, the resulting table gives the following values: Estimate, SE, df, z, p. However, I would also like to have Cohen's d and Hedges g (unbiased alternative to Cohen's d).

### Purpose

Cohen's d and Hedges g would help me determine the effect size of the contrast that I

[2021-12-13 04:42] LilianYou commented on #1512
Hi @vandenman , gotcha! I think the only issue is that unique() R function somehow doesn't work with the column. I think my question is answered. Thank you so much for your help!

[2021-12-13 08:43] amirmasoudabdol commented on #1544
Hi @icekylin, thanks for opening the issue. I will take a note of it.

P.S. We are still fine-tuning the data mode and it will not be out for some times. The nightly that you have downloaded was a special version and other nightlies will not include the data mode until we are close to releasing it for everyone.

[2021-12-13 09:48] Kucharssim commented on #1537
Dear @drpetersen,

thank you very much for reporting this issue and for making a clear and reproducible example. Indeed this was a bug in the summary table which computed the df incorrectly when categorical predictors were used. I just created a fix to this issue so I expect it to be resolved in the next JASP release.

Once we merge my fixes to the analysis, we will close this issue. Please feel f

[2021-12-13 10:12] #1537 closed

[2021-12-13 14:38] icekylin commented on #1544
Ok，Thanks @amirmasoudabdol
Maybe I can close it or you can reopen it when you need tracking it continue.

[2021-12-13 14:38] #1544 closed

[2021-12-13 15:30] CortezPA opened #1546 "[Bug]: JASP slow on 0.16 - 2 minutes to process every action"
### JASP Version

0.16

### Commit ID

_No response_

### JASP Module

jaspDescriptives, jaspAnova, jaspFactor, jaspFrequencies, jaspRegression, jaspTTests, jaspMixedModels, jaspAudit, jaspBain, jaspNetwork, jaspSem, jaspMachineLearning, jaspSummaryStatistics, jaspMetaAnalysis, jaspDistributions, jaspEquivalenceTTests, jaspJags, jaspReliability, jaspVisualModeling

### What analysis are you seeing

[2021-12-13 20:47] JBatHome opened #1547 "[Bug]: Problem with Npn method correlation in Network"
### JASP Version

0.16

### Commit ID

_No response_

### JASP Module

jaspNetwork

### What analysis are you seeing the problem on?

Correlation method of Npn (nonparanormal transformation)

### What OS are you seeing the problem on?

Windows 10

### Bug Description

It is not possible to do an analysis with the npn correlation method whatever the chosen estimator. A message appears: "Bootnet cra

[2021-12-13 21:55] NikitaKhromov-Borisov commented on #1525
Additional confusion with Cyrillic
[Cyrillic_Tabs_and_Figs.docx](https://github.com/jasp-stats/jasp-issues/files/7707212/Cyrillic_Tabs_and_Figs.docx)

[2021-12-14 08:56] amirmasoudabdol commented on #1546
Thanks for reporting this! We have seen variation of this issue and it is really baffling to us. A few questions:

- You mentioned that it was not like this on older versions of JASP, by that, do you mean 0.14 or 0.15?
- If you have recently upgraded to Windows 11, have you experienced this on Windows 10 as well? and on which JASP version?

[2021-12-14 09:24] boutinb commented on #1092
If this problem persists, reopen it.

[2021-12-14 09:24] #1092 closed

[2021-12-14 09:36] boutinb commented on #1512
OK, then we can close this issue.

[2021-12-14 09:36] #1512 closed

[2021-12-14 09:57] vandenman commented on #1547
Well, when we didn't use jasp-required-files we no longer shipped `huge` since it was (incorrectly) not listed in the DESCRIPTION file. I fixed this in https://github.com/jasp-stats/jaspNetwork/commit/cc206d86b81d6be7a1edaf0e835d7616df0702d1 so installing the module (either as a dev module or in the installer) should automatically pull in `huge` now.

[2021-12-14 10:05] amirmasoudabdol commented on #1547
@vandenman, Prima! 🙃

@JBatHome, thanks again for reporting the issue. The fix is planned for 0.16.1!

[2021-12-14 11:59] tomtomme commented on #1060
I guess this was postponed to 0.17 - right? :D

[2021-12-14 12:03] #1074 closed

[2021-12-14 12:16] CortezPA commented on #1546
**You mentioned that it was not like this on older versions of JASP, by that, do you mean 0.14 or 0.15?**
It works fine till 0.14.1. Right now I am using 0.14.1. 0.15 become slower and 0.16 is impossible to use.

**If you have recently upgraded to Windows 11, have you experienced this on Windows 10 as well? and on which JASP version?**
I did not experience it on Windows 10, but I used 0.14.1 on Wi

[2021-12-14 12:16] tomtomme commented on #1076
Still valid with JASP 0.16.

[2021-12-14 12:20] tomtomme commented on #1326
still valid for JASP 0.16

[2021-12-14 12:21] JorisGoosen commented on #1525
Ah so from the docx:
![image](https://user-images.githubusercontent.com/29062713/145996690-bba19422-b075-4a7b-9ab3-44dae5143a7a.png)
The raincloud plot has  wrong information on the axis (@maltelueken @vandenman you guys aware of this?)

While the descriptives one is fine:
![image](https://user-images.githubusercontent.com/29062713/145996965-c4e42dc9-335c-4e99-96eb-320c5cb30027.png)

And as far as

[2021-12-14 12:23] tomtomme commented on #1327
Still valid for JASP 0.16

[2021-12-14 12:34] NikitaKhromov-Borisov commented on #1525
"НЕТ" = "No" - outcomes in columns, ТАК and БАК - abbreviations

Best regards,
Nikita

вт, 14 дек. 2021 г. в 15:21, Joris Goosen ***@***.***>:

[2021-12-14 12:45] JorisGoosen commented on #1525
Thank you.

I see the problem with the last entry being wrong.
This should of course be fixed.

But in the meantime (because it will take a while what with Christmas and all that) you can try one other workaround.
If you save your file as “CSV UTF-8 (comma delimited) (*. csv)” in excel, that might also help you out.

And also will make the file so that it can be opened anywhere in the world and st

[2021-12-14 15:20] ofthetower opened #1548 "[Bug]: Can't create model plot for Confirmatory Factor Analysis"
### JASP Version

0.16

### Commit ID

_No response_

### JASP Module

jaspFactor

### What analysis are you seeing the problem on?

Confirmatory Factor Analysis

### What OS are you seeing the problem on?

macOS Big Sur 11.6

### Bug Description

Not sure if this is a bug or I'm just doing something wrong, but I'm doing CFA on a construct and when I tried asking for the model plot, this is the er

[2021-12-15 11:24] PetBuj opened #1549 "[Feature Request]: several points to increase user-friendly approach"
### Description

I supposed to add several features to existing JASP-methods to make it more  useful.

### Purpose

The purpose is to incerase usability of JASP.

### Use-case

_No response_

### Is your feature request related to a problem?

no

### Describe the solution you would like

1. add feature to PCA/EFA to enable store scores into data-sheet, 2. enable to input data for contingency table

[2021-12-15 12:25] tomtomme commented on #206
any update on this?

[2021-12-15 12:27] EJWagenmakers commented on #206
Lots of work has been done behind the scenes!

[2021-12-15 12:33] boutinb commented on #1060
@Kucharssim ?

[2021-12-15 12:35] boutinb commented on #1546
@JorisGoosen You made a (beta) version with Qt6.2 that seemed to solve this problem, do you have it somewhere?

[2021-12-15 12:38] boutinb commented on #206
@FBartos Can you give some updates?

[2021-12-15 12:39] FBartos commented on #206
We are about to preprint a paper in which we develop the Bayesian parametric survival models that we will later implement in the module, including the frequentist counterparts.

[2021-12-15 13:00] CortezPA commented on #1546
**> @JorisGoosen You made a (beta) version with Qt6.2 that seemed to solve this problem, do you have it somewhere?**

I could install and test it. If you want to check any technical log on my machine or remote control to test it, just let me know. Thanks in advance.

[2021-12-15 14:04] JorisGoosen commented on #1546
https://static.jasp-stats.org/JASP-Qt6-Testing-2.zip

[2021-12-15 14:19] CortezPA commented on #1546
**> https://static.jasp-stats.org/JASP-Qt6-Testing-2.zip**

It works smooth. Thanks.

[2021-12-15 14:19] #1546 closed

[2021-12-15 15:27] boutinb commented on #1546
This problem occurs apparently only with particular computers, and is solved with the newest version of the framework with use (Qt 6.2). Hopefully our next release (probably in februari) will use this Qt version.

[2021-12-15 15:32] Kucharssim commented on #1060
I just got to fixing some corner cases, so let's see; perhaps we can make it for 0.16.1.

[2021-12-15 16:10] vdsmagt opened #1550 "[Feature Request]: Move (or add) Dunn test non parametric ANOVA"
### Description

The postdoc test for Krusal Wallis appears to be missing

### Purpose

the Kruskal Wallis test needs a posthoc

### Use-case

This postdoc is available but at the wrong place

### Is your feature request related to a problem?

It is an interface problem (it is much less intuitive now)

### Describe the solution you would like

Move Dunn test (or also add) to non-parametrics Anova

[2021-12-15 16:44] Kucharssim commented on #1548
Dear @ofthetower,

thank you for reporting this issue. There is a bug with plotting the model when ordinal variables are included.

I just created a fix for this problem, so I expect this bug to be gone in the next release. Once we merge this fix to the analysis repository, we will close this issue. Please feel free to reopen it in case you encounter it again in the future.

[2021-12-15 17:59] KalcMatej99 opened #1551 "[Bug]: Can't open JASP 0.16 on PopOS! or Ubuntu"
### JASP Version

0.16

### Commit ID

_No response_

### JASP Module

_No response_

### What analysis are you seeing the problem on?

_No response_

### What OS are you seeing the problem on?

PopOS! 20 20.04 LTS

### Bug Description

The app doesn't open if i click on the icon or if i try to lauch it from the terminal.
![1](https://user-images.githubusercontent.com/47791945/146240103-e98a0a29-8

[2021-12-16 08:10] #1548 closed

[2021-12-16 10:30] amirmasoudabdol commented on #1518
@JohnnyDoorn, if the new PR addresses this, please close the issue.

[2021-12-16 11:02] tomtomme opened #1552 "[Feature Request]: Maybe an addition for https://jasp-stats.org/features/"
### Description

SPSS vs JASP feature comparison

### Purpose

To help my colleagues decide if / when to switch

### Use-case

"Depressions" from SPSS

### Is your feature request related to a problem?

There is not yet a feature comparison like this on the web

### Describe the solution you would like

See link to table below

### Describe alternatives that you have considered

Ignoring the compe

[2021-12-16 12:32] Arwa-AA commented on #1490
Hi Joris Goosen,

Allow me to add to the discussion my observation on the issue as well:
1. Using the same data file I used in the previous version (JASP 14), it was working fine in JASP 14, but some having some issues in JASP 15 and 16.  I think JASP 16 performs better than JASP 15 though!
2. Currently, to use JASP 16, I close all web browsers and some other open files/tools so JASP will not cras

[2021-12-16 13:28] #1507 closed

[2021-12-16 17:43] JBatHome opened #1553 "[Bug]: Bootnet crashed in JaspNetwork"
### JASP Version

0.16

### Commit ID

_No response_

### JASP Module

jaspNetwork

### What analysis are you seeing the problem on?

"Thresholds" in Analysis Option with Partial Correlation Estimator

### What OS are you seeing the problem on?

Windows 10

### Bug Description

When you click on Method in "Thresholds", you have this message : "bootnet crashed with the following error message: argu

[2021-12-16 17:47] Gonmar22 opened #1554 "[Bug]:"
### JASP Version

0.16

### Commit ID

_No response_

### JASP Module

jaspDescriptives, jaspFactor, jaspFrequencies

### What analysis are you seeing the problem on?

Not able to perform any analysis.

### What OS are you seeing the problem on?

Windows 10

### Bug Description

Not able to perform any analysis. A message appears when i add an item. "The engine crashed while trying to run this ana

[2021-12-16 23:34] rsbalkin commented on #1507
I just re-installed JASP, but the same errors occur. Has this been resolved?

Thank you,

Rick
Rick Balkin
***@***.***

[2021-12-17 07:58] vandenman commented on #1507
Hi @rsbalkin this is now solved in the development version of JASP, not in the released version. So the next version of JASP should no longer have this issue. If you want to try it out before then, you could try a nightly version (see https://static.jasp-stats.org/Nightlies) at the moment of writing the nightlies have not yet been built, so you may need to wait another day or so.

[2021-12-17 12:33] rsbalkin commented on #1507
Thank you!

Sent from my iPhone

[2021-12-17 12:45] icekylin commented on #1552
Good idea，I add 'Mutiple Response' Function here:
<html>
<body>

Function | JASP | SPSS
-- | -- | --
Multiple Response | × | √

</body>
</html>

[2021-12-17 18:00] JorisGoosen commented on #1490
@Arwa-AA have you also tried with https://static.jasp-stats.org/JASP-Qt6-Testing-2.zip ?

[2021-12-18 10:28] tomtomme opened #1555 "[Feature Request]: Display variable units in result tables and plots"
### Description

If one could put the unit e.g. [cm] or [seconds] of a variable somewhere in JASP those units could be displayed within the results (tables and plots).

### Purpose

This could improve results readability.

### Use-case

Especially students often do not know if a number is relative / % or actually still has the dimension of the measurement.

### Is your feature request related to a

[2021-12-18 13:37] icekylin commented on #1494
I tried #1431 JASP-Qt6-Testing-2.zip it works well!
Thank you!

[2021-12-18 13:37] #1494 closed

[2021-12-18 16:11] tomtomme commented on #490
I would say the Q-Q plot is sufficient. I guess Shapiro-Wilk is also not possible for more than one independent variable - is it? There is also nothing that is more objective with Shapiro-Wilk, since you can choose the alpha level to your liking. Correct me if I am wrong.

[2021-12-18 16:57] tomtomme commented on #877
I disagree - kind of.
Maybe make a checkbox in JASPs main menu, where you can toggle those hints on and off. Beginners would toggle them on, professionals would toggle off.

And the shapiro-wilk-hint should be moved directly to the t-Test result table. There is already a hint if Levene's Test is significant, so the move would make this consistent.

Those hints should be with the t-Test table in an

[2021-12-19 17:39] JorisGoosen commented on #1494
Great!

If you keep using this version: it is a development version so their might still be bugs in there we haven't found yet.

[2021-12-20 04:59] icekylin commented on #1494
@JorisGoosen Yes, I know that it is a alpha version,thanks.
 If you have a new beta release anytime please let me know,I'd also be happy to test it .

[2021-12-20 09:49] Tong1996j commented on #390
I am using the JASP 0.16 in window and encounter the same problem: the reuslt panel shows nothing. But when I restart the compter and open the JASP for the first time, it show normally. But then if I open another file, it does not show again.

[2021-12-20 10:00] boutinb commented on #1551
@JorisGoosen is on holidays, but maybe @vandenman or @amirmasoudabdol know about this problem?

[2021-12-20 10:44] boutinb commented on #1552
@tomtomme Thank you really much for this overview! Maybe can @AlexanderLyNL and @EJWagenmakers have a look to complete it?

[2021-12-20 10:54] EJWagenmakers commented on #1552
This is a great list! Including @JohnnyDoorn here as well.

[2021-12-20 10:54] boutinb commented on #1553
Hi @vandenman I can reproduce this crash by using the debug data file: just set any 3 dependent variables, Estimator to Partial Correlation and Threshold to Method.

[2021-12-20 10:55] hussain-beig opened #1556 "[Bug]: Error during Installation via flatpak"
### JASP Version

0.16

### Commit ID

_No response_

### JASP Module

_No response_

### What analysis are you seeing the problem on?

_No response_

### What OS are you seeing the problem on?

Linux (Xubuntu 20.04 LTS)

### Bug Description

Hi,
I was trying to install JASP 0.16 via flatpak as described [here](https://jasp-stats.org/linux-installation-guide/) but when I enter the second command w

[2021-12-20 10:59] boutinb commented on #1554
Hi @Gonmar22 I cannot reproduce this problem. Does this problem occur with other data file? Could you send us you csv file that causes this error?

[2021-12-20 13:39] JohnnyDoorn commented on #1552
@tomtomme That looks great already! We had a blogpost at some point that set out a comparison, although a table on our website that lists each feature would be awesome.
In the meantime you could send your colleagues the [blogpost](https://jasp-stats.org/2017/11/01/jasp-vs-spss/) (it's from 2017, so we have many more features since then!)

[2021-12-20 15:45] AugustOlsson commented on #1187
@JohnnyDoorn I have a related question. I have noticed in later editions of JASP that 95% Credible-intervals of RM-ANOVAS are much smaller than the 95% credible interval given in the Descriptives tables. As I understand the above discussion this is intended for frequentist confidence intervals, but not for bayesian credible intervals. Is it then a bug? I am currently using old intervals for my pap

[2021-12-20 16:28] Gonmar22 commented on #1554
Yes it occurs with other data files. Of course, i'll attach to this comment. Thank you
[Dados_PASSAGEM_SPSS.csv](https://github.com/jasp-stats/jasp-issues/files/7746645/Dados_PASSAGEM_SPSS.csv)
.

[2021-12-21 02:09] csamuel11 commented on #1545
I came across a [post](https://afex.singmann.science/forums/topic/compute-effect-sizes-for-mixed-objects) on the afex (analysis of factorial experiments) R package website. It discusses how computing standardized effect sizes, like Cohen's d, is hard for linear mixed models. The post is about 3.5 years old, so maybe someone has figured it out by now. However, I understand if JASP can no longer add

[2021-12-21 09:17] boutinb commented on #1545
@FBartos Could you answer this question?

[2021-12-21 09:28] boutinb commented on #1554
Hi @Gonmar22 I see that your file has not a UTF-8 encoding. Could you save them with this option: with Excel for example you can choose with the 'Save as' menu the "CSV UTF-8 (comma delimited) (*. csv)" option.
Can you then load the UTF-8 csv file into JASP, and starts again the CFA analysis?

[2021-12-21 11:16] tomtomme commented on #1552
@JohnnyDoorn - there is a table on your website already: https://jasp-stats.org/features/
See the title of this issue. You just have to update it! :dancers:
The blogpost is really old at this point. Many points are not valid anymore. Maybe I write an updated blogpost, when 0.17 is out the door. But the table should go online before, if everybody here thinks its great :D

[2021-12-21 13:36] sachinthorat5989 commented on #1360
Did not resolve the issue. Beta jasp gives similar response.

[2021-12-21 13:46] tomtomme commented on #1360
If I install from flathub-beta I get a 0.16 build from 16.November - I guess you have to rebuild your flatpak so that we get the alpha

[2021-12-21 13:55] sachinthorat5989 commented on #1360
that didn't help either.

On Tue, Sep 14, 2021 at 7:18 PM Joris Goosen ***@***.***>
wrote:

[2021-12-21 17:29] Gonmar22 commented on #1554
Thank you very much. Now it works!

[2021-12-22 02:00] gsociology opened #1557 "[Feature Request]: Combine data sets"
### Description

Combine data sets

### Purpose

combine data sets

### Use-case

Not sure what this means

### Is your feature request related to a problem?

Not a "problem", just a request for an additional feature

### Describe the solution you would like

I would like JASP to have the ability to combine data sets, two or more, by an index, e.g. one or more variables common to both data sets.

[2021-12-22 03:38] R180 commented on #1431
I was forced to upgrade my OS to a newer version of Windows 10. I installed JASP 16. The attempted automatic launch after install crashed--there was a message saying something like graphics driver not available. I then manually launched JASP and it launched without error. I was able to open the Tooth Growth data set and run an ANOVA. Some log files are attached.
[New folder.zip](https://github.com

[2021-12-22 09:22] boutinb commented on #1554
Nice!

[2021-12-22 09:22] #1554 closed

[2021-12-22 13:40] R180 commented on #1431
@boutinb

FYI. The interface is still slow, and I'm not sure anything is solved. I had bee using the version under development to try to solve the slowness. However, that under-development version had much worse performance, crashing upon loading a data file, and not generating any log data. I removed that version from my system, and installed the official JASP 16 version (I don't know why the log

[2021-12-22 16:15] ikudel1 opened #1558 "[Bug]:"
### JASP Version

0.16

### Commit ID

_No response_

### JASP Module

jaspRegression

### What analysis are you seeing the problem on?

Bootstrapping

### What OS are you seeing the problem on?

Windows

### Bug Description

This analysis terminated unexpectedly.

[code]

### Expected Behaviour

Successful completion of bootstrapping

### Steps to Reproduce

1. Follow the same steps
![Capture](ht

[2021-12-22 16:25] Arwa-AA opened #1559 "[Feature Request]: Point-Biserial Correlation Coefficient"
### Description

Would like to request an additional feature "point-biserial correlation coefficient" which measures correlation between a continuous-level variable and a binary variable.

### Purpose

_No response_

### Use-case

_No response_

### Is your feature request related to a problem?

_No response_

### Describe the solution you would like

_No response_

### Describe alternatives that

[2021-12-27 21:37] NikitaKhromov-Borisov opened #1560 "[Bug]:"
### JASP Version

0.16

### Commit ID

_No response_

### JASP Module

jaspBain

### What analysis are you seeing the problem on?

Welch's T test

### What OS are you seeing the problem on?

Windows 11

### Bug Description

In BAIN the resulting table with  Descriptive statistics all N=2
[Uploading BAIN.zip…]()

### Expected Behaviour

All N should be different and real

### Steps to Reproduce

1.

[2021-12-28 17:21] periklesfc commented on #1411
Hi,

I encountered the same problem as described above but using Ubuntu 21.10

Do yo u have any advice about how to fix it?

thanks a lot in advance

[2021-12-28 17:49] JoKeyser commented on #1411
@periklesfc , did you try the workaround in the [comment above yours](https://github.com/jasp-stats/jasp-issues/issues/1411#issuecomment-919349063)?
For me that workaround still works in JASP version 0.16 on Ubuntu 20.04.3 LTS.

[2021-12-28 18:39] periklesfc commented on #1411
Yes, I did the following:

- Uninstall JASP
- Run: flatpak update --commit=212d267860a3001081816007b074dd57993335aec23485c082d40034c6a5b857 org.kde.Platform/x86_64/5.15
- Reinstall JASP
- Try to compute a column

But the programme crashed anyway. It caught my attention that, despite of uninstall and reinstall JASP, when I opened it again automatically charged the same database at the same screen i

[2021-12-29 02:43] icekylin commented on #1560
Hi,

Do you want to upload a data file here? you may need to try to upload the file and make sure the link again.because your additional file link is directed to this issue but not a zip file. Thanks.

[2021-12-29 09:45] JoKeyser commented on #1411
@periklesfc , can you try again, just running the `flatpak update` command?
(That is, **after** JASP is installed; there is no need to uninstall JASP either.)

I believe by uninstalling first and re-installing afterwards, you effectively changed nothing.

[2021-12-29 09:56] periklesfc commented on #1411
Bingo!

Now it works (does not crash when computing a column).

Thank you very much :)

[2021-12-30 15:51] Zwildin opened #1561 "[Bug]: The function that turns variables into Z-scores in the compute columns interface creates a column with empty cells and provides an error message (included in body)"
### JASP Version

0.16

### Commit ID

_No response_

### JASP Module

_No response_

### What analysis are you seeing the problem on?

compute columns interface

### What OS are you seeing the problem on?

Windows 10

### Bug Description

I just downloaded JASP 0.16. Whenever I try to convert a variable into Z-scores, no matter which data file I use, it does not work and provides me with the foll

[2022-01-01 20:26] AngelGL opened #1562 "[Feature Request]: Add Bootstrap Regression Procedure for the Benford Law tool"
### Description

Bootstrap procedure allows auditors to examine financial datasets on an overall basis

### Purpose

Measure if a data set follows Benford Law

### Use-case

Help auditor identify if a dataset follows benford law

### Is your feature request related to a problem?

No

### Describe the solution you would like

Add the option to use Bootstrap Regression Procedure for the benford anal

[2022-01-03 10:53] GUYON29 opened #1563 "[Bug]: empty heatmap in correlation"
### JASP Version

0.16

### Commit ID

_No response_

### JASP Module

jaspRegression

### What analysis are you seeing the problem on?

Correlation and Heatmap

### What OS are you seeing the problem on?

Windows 10

### Bug Description

For some modules, like heatmap in correlation, when you introduce the variables nothing happens. You have to remove a variable and put it back.I have a short vid

[2022-01-03 13:14] vandenman commented on #1561
Thanks for reporting this!

This problem has also been reported in https://github.com/jasp-stats/jasp-issues/issues/1507 and is now fixed in the development version of JASP. The next version of JASP should no longer have this problem, therefore I will close this issue now (but feel free to reopen if this is not the case!).

@JorisGoosen is it possible to add this to the list of known issues? I'm n

[2022-01-03 13:14] #1561 closed

[2022-01-03 15:49] boutinb commented on #1563
Hi @GUYON29 I find your English completely understandable (I'm french also!). For your problem, I cannot reproduce it. I have tried it on Mac & Windows 10. Can someone else try it? @vandenman, @JohnnyDoorn ?

[2022-01-03 23:07] StattMatt commented on #73
Hi,
I want to inquire if there are any developments or if a decision has been made against weights.

Greetings

[2022-01-05 03:57] carrileroy commented on #1535
I am having similar difficulties updating to the new version of JASP. I had version 15 running fine, but when I downloaded the new updated file, it won't run. I tried uninstalling all versions and re-downloading both 16 and the older version of 15.

I get this error message:
![Capture](https://user-images.githubusercontent.com/37891183/148158319-364145cd-2dae-4805-8f15-118369b52fec.JPG)

I am work

[2022-01-06 11:38] TarandeepKang opened #1565 "[Feature Request]: multivariate multiple regression and hierarchical linear regression (entering predictors in blocks)"
### Description

Multivariate multiple regression and hierarchical linear regression as enhancements to existing linear regression procedures

### Purpose

Basic features of regression widely available in other statistical packages

### Use-case

Commonly used in various aspects of research data analysis, and also in undergraduate teaching

### Is your feature request related to a problem?

_No re

[2022-01-06 13:46] PerPalmgren commented on #1515
@fqixiang happy if this will be implemented in 0.16.1 😜🤩

[2022-01-06 13:49] PerPalmgren commented on #1481
Will this request be added in a future JASP version? There is a R module for this. I really hope for it😜.

[2022-01-06 13:51] PerPalmgren commented on #1471
Thank you @fqixiang and @boutinb. This is highly appreciated as my students right now uses another free software to get told of this total percentage.

[2022-01-06 14:00] PerPalmgren commented on #1442
@EJWagenmakers @FBartos @JohnnyDoorn @boutinb I really hope that this will come in the near future🤩 so researchers and students using JASP dont need to use SPSS for it or calculate it by hand.

[2022-01-06 14:05] monikahannna opened #1566 "[Bug]: This analysis terminated unexpectedly. Error in pf((=F, df, dullAnovaDf,lower.tail=FALSE):Non-numeric argument to mathematical function"
### JASP Version

0.14

### Commit ID

_No response_

### JASP Module

jaspAnova

### What analysis are you seeing the problem on?

repeated measures ANOVA simple main effets

### What OS are you seeing the problem on?

Windows 10

### Bug Description

I have one repeated measures factor with 3 levels and one between subject factor with 3 levels. When I do my simple main effets analyses with the r

[2022-01-06 18:51] EJWagenmakers commented on #1565
Hello Tarandeep,

Currently you can add predictors in blocks, just by adding the nuisance predictors "to the null model" in the model tab. So let's say you already have predictors X and Y, and you want to test the added effect of Z. Then you add X and Y "to the null model", and look at the results for Z. If you have an additional predictors K and M, and you want to retain the results for Z, just c

[2022-01-06 18:59] TarandeepKang commented on #1565
Hello EJ,

Thank you for this very helpful response, that certainly fits my needs for a two-block design. Apologies for having missed it! I do however think it would be a further enhancement to allow a user-defined number of blocks, which would suit other researchers with more complex designs. As is available in that other commercial software that I will not name! Also, do you have any plans to al

[2022-01-06 19:00] EJWagenmakers commented on #73
We're hiring someone who can hopefully implement this (but it may take a while).
Any other suggestions on R packages for survey design and analysis are welcome. Please feel welcome to join us in helping design this functionality.
E.J.

[2022-01-06 19:29] Dmente92 opened #1567 "[Bug]: Can't install JASP on linux"
### JASP Version

0.16

### Commit ID

_No response_

### JASP Module

_No response_

### What analysis are you seeing the problem on?

_No response_

### What OS are you seeing the problem on?

Manjaro 21.2.1

### Bug Description

I was trying to install JASP following the official instructions (https://jasp-stats.org/linux-installation-guide/) and the program doesn't install. This is the output

[2022-01-07 10:39] boutinb commented on #1535
Hi @carrileroy Could you open a Command Prompt, and start JASP in this way:
`"C:\Program Files (x86)\JASP\JASP.exe" > log.txt`
This should start JASP and write some logs in log.txt
Can you then send me this log.txt file by dragging & dropping it in a new comment of this issue in GitHub?

[2022-01-07 10:49] boutinb commented on #1566
Hi @monikahannna I see you use the 0.14 JASP  version, could you try he newest version 0.16? If the problem still occurs, could you then send us a JASP file that shows this problem?

[2022-01-07 12:01] monikahannna commented on #1566
Hi,
Yes I have the same problem when I use the next version, 0.16. So I send
you my JASP file.
Thanks you for help.
Monika Karasinska
Neuropsychologue
06 09 54 01 70

Le ven. 7 janv. 2022 à 11:49, bruno boutin ***@***.***> a
écrit :

[2022-01-07 12:53] boutinb commented on #1566
Hi @monikahannna, if you want to send us a JASP file, please rename it as a zip file and drag & drop it in a new comment of this issue in GitHub. Via Email, the attachment is not sent.

[2022-01-07 13:32] monikahannna commented on #1566
[ANOVA indice d efficience etude.zip](https://github.com/jasp-stats/jasp-issues/files/7829070/ANOVA.indice.d.efficience.etude.zip)

[2022-01-07 13:33] monikahannna commented on #1566
it's done!
Thanks
Monika Karasinska
Neuropsychologue
06 09 54 01 70

Le ven. 7 janv. 2022 à 13:54, bruno boutin ***@***.***> a
écrit :

[2022-01-07 14:46] #564 closed

[2022-01-07 14:46] #744 closed

[2022-01-07 14:46] #1006 closed

[2022-01-07 14:46] #1368 closed

[2022-01-08 15:58] ChiaHsuanL commented on #748
Is there any follow-up on this issue? I have exactly the same problem... Thanks!

[2022-01-08 23:49] carrileroy commented on #1535
Here is the log.txt file:

Making new argument list for Application startup: C:\Program Files (x86)\JASP\JASP.exe
Starting JASP 0.16 from commit ef60937d81e5388ed2f27f6047cc1363e9af4611 and branch development
Application initialized
Application init entered
MainWindow constructor started
TempFiles::createSessionDir(): 'C:/Users/leroyc/AppData/Local/JASP/temp/3820' about to be (removed and re)creat

[2022-01-10 06:36] amandazhang0727 opened #1568 "Question: why is my factor loading estimate abnormally high? where is the factor loading sorting function?"
### JASP Version

0.16

### Commit ID

/

### JASP Module

jaspFactor

### What analysis are you seeing the problem on?

Confirmatory Factor Analysis

### What OS are you seeing the problem on?

Windows 10

### Bug Description

Sorry, I don't whether this is a bug or not. But I know JASP 0.15 has the function of sorting factor loading.
I am doing a CFA analysis, and all the model fit indices sugge

[2022-01-10 10:51] boutinb commented on #1535
Hmm, that does not help much...
Could you start JASP with the safeGraphics option? For this type in a command prompt:
`"C:\Program Files (x86)\JASP\JASP.exe" --safeGraphics`

[2022-01-10 11:03] boutinb commented on #1481
This feature won't be implemented in 0.16.1, but it is now planned for 0.17 (roughly 3-4 months).

[2022-01-10 13:47] amirmasoudabdol commented on #1481
In the near future! 🙂

P.S. It is difficult to give an exact release date. We release a new version when we are done with our development and testing, and sometimes during testing we discover new issues that need to be fixed before the release.

[2022-01-10 13:50] PerPalmgren commented on #1481
👍😜

Per J. Palmgren | DC, FRCC, MMedEd, PhD |
Associate Professor |
Department of Learning, Informatics, Management and Ethics |
Karolinska Institutet | Tomtebodavägen 18A | 171 77 Stockholm |
Tel. + 46 8 524 85 294<tel:+%2046%208%20524%2085%C2%A0294>
***@***.******@***.***> | ki.se<https://eur01.safelinks.protection.outlook.com/?url=http%3A%2F%2Fki.se%2F&data=04%7C01%7Cper.palmgren%40ki.se%7C9f69

[2022-01-10 14:31] #1476 closed

[2022-01-10 14:32] boutinb commented on #1562
@koenderks Could you answer this request?

[2022-01-10 23:56] chromebookjasp opened #1569 "[Bug]: Unable to open any downloaded file on chromebook with linux."
### JASP Version

0.16

### Commit ID

_No response_

### JASP Module

_No response_

### What analysis are you seeing the problem on?

_No response_

### What OS are you seeing the problem on?

Chrome OS version 96.0.4664.111

### Bug Description

Whenever I try to open any csv file it doesn't appear to be downloaded on my computer at all. I download a google sheet as a csv file and then open jas

[2022-01-11 09:18] #1518 closed

[2022-01-11 13:50] #1199 closed, assigned to nobody

[2022-01-11 16:23] IsabelVarela opened #1570 "[Bug]: Error in Model Plot"
### JASP Version

0.16

### Commit ID

_No response_

### JASP Module

jaspFactor

### What analysis are you seeing the problem on?

CFA

### What OS are you seeing the problem on?

Windows 10

### Bug Description

All the processes run successfully, but when I asked for the Model plot this error occur

[code]

### Expected Behaviour

I need the Model plot

### Steps to Reproduce

1. import data f

[2022-01-11 17:46] carrileroy commented on #1535
That works! So, what does that mean? Should I use the command prompt and "safeGraphics" mode to open it from now on? Will that affect any functionality? Thank you so much for working through this with me!

[2022-01-12 09:15] boutinb commented on #1535
What fine! The platform we use to render our software (Qt) has sometimes some problems with (old) graphic card. The setting safeGraphic takes care of this situation. When you start JASP from the command prompt with this setting, it sets this setting in its preferences, and the next time you start JASP, it should use automatically this setting. You should be able now to start JASP directly (by clic

[2022-01-12 09:15] #1535 closed

[2022-01-12 09:28] boutinb commented on #1570
Hi @IsabelVarela Would it be possible to send a JASP file that shows this problem? To send a JASP file, you need first to zip it, and then drag&drop it in a new comment of this issue in GitHub.

[2022-01-12 09:46] tvantimmeren opened #1571 "[Bug]: JASP quits after opening file (corrupted file?)"
### JASP Version

0.16

### Commit ID

_No response_

### JASP Module

_No response_

### What analysis are you seeing the problem on?

_No response_

### What OS are you seeing the problem on?

macOS Mojave 10.14.6

### Bug Description

I have been working on some analyses yesterday, but now the file won't open again. What happens is that when I try to open the file, JASP starts loading the file

[2022-01-12 10:18] boutinb commented on #1571
[CR_ROI_AUD_HC2.jasp.zip](https://github.com/jasp-stats/jasp-issues/files/7853692/CR_ROI_AUD_HC2.jasp.zip)
Strange, I can open this file without problem. I have re-saved it and post it here. Can you try it?

[2022-01-12 10:26] tvantimmeren commented on #1571
No, still closes after it finishes loading the file. Very strange!
I am able to open other files (some, not all), so it's not a generic JASP issue.

[2022-01-12 10:43] boutinb commented on #1571
After it crashes, can you generate the report from MacOS and send it to me? I see also that you use MacOS Mojave, but this version is not supported anymore by Apple, and so by JASP also. It's highly recommended to upgrade because you don't get any security patch anymore.

[2022-01-12 13:45] #1471 closed

[2022-01-12 13:45] #1515 closed

[2022-01-12 14:02] boutinb commented on #1565
I think we can close this issue

[2022-01-12 14:02] #1565 closed

[2022-01-12 14:04] boutinb commented on #1559
@EJWagenmakers What do you think of this request?

[2022-01-12 14:06] EJWagenmakers commented on #1559
Yes this would be good to have! Maybe one of our new recruits could try and implement this...

[2022-01-12 14:11] boutinb commented on #1364
@Kucharssim Is there any plan for this?

[2022-01-12 14:11] TarandeepKang commented on #1565
I agree that this is an effective workaround, yet I think there is still something outstanding. Firstly, the suggestion that EJ makes above allows us only to enter predictors into steps, SPSS allows the user to define the number of blocks. Secondly, I don't think the issue of the regression module allowing multiple dependent and predictor variables. As far as I can see, the software currently only

[2022-01-12 14:14] EJWagenmakers commented on #1565
I think these are two separate requests. The first is to allow multivariate dependent variables. We should do this at some point but I am not sure about the urgency (we have some other fish to fry). The second is about defining the number of blocks. This is also an interesting addition that saves the user some time.  Again, we should put this on this list but I'd like to finish some other projects

[2022-01-12 16:03] boutinb commented on #1442
@FBartos Is this issue still on your radar?

[2022-01-12 16:46] JoKeyser commented on #1569
In your second screenshot, you have not navigated to your Download folder, as far as I understand... so it is expected that the file is not shown there yet, if I understand correctly.

Have you tried to browse to the Download folder? As a first step, click on "Home" in the left pane.

[2022-01-12 19:24] tvantimmeren commented on #1571
Hi Bruno
you're right, updating to the new macOS has been on my list for a while..
This was the final push I needed. It indeed solved the problem! Thanks for
your help.
Best,
Tim

On Wed, Jan 12, 2022 at 11:43 AM bruno boutin ***@***.***>
wrote:

[2022-01-12 22:46] EJWagenmakers commented on #1442
I'm positive Frantisek is still eager to improve the contingency table funcationality :-)

[2022-01-13 03:26] StattMatt commented on #395
Hello!

That's great. The importance of weighting cannot be underestimated. Social and economic researchers, students, demographers, medical professionals and government agencies use national and international panel data, such as those offered by institutes like the General Social Survey or the European Social Survey. All data sets always contain a weighting variable. One can only use statistical

[2022-01-13 05:06] icekylin opened #1572 "[Bug]: Some interface languages switch were invalid"
### JASP Version

0.16 (Nightly)

### Commit ID

c9b1c6a4b540d3c142354fdbf911b2556454dc3d

### JASP Module

_No response_

### What analysis are you seeing the problem on?

_No response_

### What OS are you seeing the problem on?

Windows 10

### Bug Description

The string 'Help us translate or improve JASP in your language' in the language setting item does not switch with the interface languag

[2022-01-13 08:30] #1572 closed

[2022-01-13 08:40] #1560 closed

[2022-01-13 08:42] amirmasoudabdol commented on #1558
You unfortunately have not uploaded your file, therefore we cannot proceed with helping you!

[2022-01-13 08:42] #1558 closed

[2022-01-13 08:57] joegarcarandang opened #1573 "[Bug]: SEM Model Plot"
### JASP Version

0.16

### Commit ID

_No response_

### JASP Module

jaspFactor

### What analysis are you seeing the problem on?

CFA Model Plot

### What OS are you seeing the problem on?

Windows 10

### Bug Description

[code]

### Expected Behaviour

It should have shown me the plot of the variables

### Steps to Reproduce

1.
2.
3.
...

[code]

![error cfa model plot](https://user-images.g

[2022-01-13 09:07] icekylin commented on #1572
OK, it is because I see that the period has been removed in this [commit ](https://github.com/jasp-stats/jasp-desktop/pull/4697/commits/37ad6982e19a6225de66a8cc3a054b0603f4d0cc)at the end of the string I have translated. and this release is after it. thank you.

[2022-01-13 09:57] Kucharssim commented on #1573
Dear @joegarcarandang,

thank you for submitting this issue! We were already made aware of it previously (https://github.com/jasp-stats/jasp-issues/issues/1548) and fixed it since then (https://github.com/jasp-stats/jaspFactor/pull/69). The fixed version of the analysis will be available in the next JASP release (which should be out soon).

I am closing this issue. Please feel free to reopen the i

[2022-01-13 09:57] #1573 closed

[2022-01-13 11:01] Kucharssim commented on #1570
Dear @IsabelVarela ,

thank you for submitting this issue! We were already made aware of it previously (#1548) and fixed it since then (jasp-stats/jaspFactor#69). The fixed version of the analysis will be available in the next JASP release (which should be out soon).

I am closing this issue. Please feel free to reopen the issue in case the problem persists in the future versions.

[2022-01-13 11:01] #1570 closed

[2022-01-13 11:03] Kucharssim commented on #1541
Dear @LennyBee,

thank you for submitting this issue! We were already made aware of it previously (#1548) and fixed it since then (jasp-stats/jaspFactor#69). The fixed version of the analysis will be available in the next JASP release (which should be out soon).

I am closing this issue. Please feel free to reopen the issue in case the problem persists in the future versions.

[2022-01-13 11:03] #1541 closed

[2022-01-13 12:36] #1566 closed

[2022-01-13 13:25] #1060 closed

[2022-01-13 14:52] boutinb commented on #1566
This is will be solved in 0.16.1 (over 3 weeks hopefully).

[2022-01-13 18:42] sspears1 commented on #1569
I just helped a user at my university with a very similar issue. Based off the information you provided, I think it may be the same issue.

This is happening because Linux on Chrome runs in a sandboxed environment, meaning that it and any applications running through it do not have access to the files on your Chromebook.  You can use this guide from the ChromeOS docs to learn how to make folders a

[2022-01-13 20:18] MTom68 commented on #1505
Just a short note in favor of LPA / LCA: these are increasingly popular methods in psychology where I work. It would be really great to have them in JASP since other similar types of analysis (e.g., various forms of cluster analysis) are treated as second class in leading journals. Thanks for considering this request.

[2022-01-13 20:26] peteroma commented on #1505
@MTom68, thank you for the support, let's hope JASP takes this on!  Unfortunately, neither JASP nor Jamovi have capability for LPA w continuous variables.  But if you're working with ordinal survey data, the Jamovi module snowRMM has a very nice Latent Class Analysis function.

[2022-01-13 21:00] monikahannna commented on #1566
ok, thanks you!
Monikz

Le jeu. 13 janv. 2022 à 15:52, bruno boutin ***@***.***> a
écrit :

[2022-01-14 00:22] chromebookjasp commented on #1569
@sspears1 you were correct and I confirmed it earlier today. I appreciate the help!! Thank you!

[2022-01-14 00:23] #1569 closed

[2022-01-14 09:11] juliuspf commented on #1568
Hi @amandazhang0727 , thank you for making the issue. I think this would be rather a question for the forum (https://forum.cogsci.nl/categories/jasp-bayesfactor) since it is not a bug but an analysis question. In short, the loadings can be seen as regression coefficients where the manifest variables are explained by the factors. In the unstandardized case and having the factor variance be 1, this

[2022-01-14 09:44] boutinb commented on #1569
Thanks @sspears1 !

[2022-01-14 12:33] icekylin commented on #1532
@JorisGoosen Hi, Joris.I've noticed whether the question about encoding can be significantly improved as new versions of R. that R 4.2 for Windows will support UTF-8 as native encoding, which will be a major improvement in encoding support, allowing Windows R users to work with international text and data.more from [here](https://developer.r-project.org/Blog/public/2021/12/07/upcoming-changes-in-r

[2022-01-14 14:08] TDJorgensen opened #1574 "[Bug]: Cohen's d displayed only for subset of post-hoc comparisons (independent ANOVA)"
### JASP Version

0.16

### Commit ID

_No response_

### JASP Module

jaspAnova

### What analysis are you seeing the problem on?

Classical ANOVA

### What OS are you seeing the problem on?

macOS 10.14.6 (mojave)

### Bug Description

As an example analysis for a course I teach, I ran an ANOVA (one-way for independent groups, classical version).  There are 4 groups, and the omnibus test is sign

[2022-01-14 15:44] PerPalmgren commented on #1442
Analysis with residuals (Pearson) and standardized residuals would really be so beneficial. You can do them in R, see:
https://stackoverflow.com/questions/52656990/residual-analysis-based-on-the-results-of-chi-squared-test-of-independence-in-r
See also the link that @EJWagenmakers have earlier referred to: https://github.com/jasp-stats/jasp-issues/issues/727
I think it does not to be so fancy. So

[2022-01-15 00:06] NickyTettamanti commented on #395
Hi there, I agree with @StattMatt - there's an incredibly large audience who would benefit from adding various survey methods that allow the user to specify different characteristics of the sample design (e.g., sampling weights, clustering, stratification, and post-stratification).

@EJWagenmakers and @Kucharssim -  I'm very happy to hear that it's still scheduled to be implemented.  By providing

[2022-01-15 00:09] NickyTettamanti commented on #395
Hi there, I agree with @StattMatt - there's an incredibly large audience who would benefit from adding various survey methods that allow the user to specify different characteristics of the sample design (e.g., sampling weights, clustering, stratification, and post-stratification).

@EJWagenmakers and @Kucharssim - I'm very happy to hear that it's still scheduled to be implemented. By providing a

[2022-01-15 12:42] joegarcarandang opened #1575 "[Bug]: Error in model "Model 1""
### JASP Version

0.16

### Commit ID

_No response_

### JASP Module

jaspSem

### What analysis are you seeing the problem on?

SEM

### What OS are you seeing the problem on?

Windows 10

### Bug Description

%----- Requires booktabs package -----%
\usepackage{booktabs}

\begin{table}[h]
	\centering
	\caption{Model fit}
	\label{tab:modelFit}
	{
		\begin{tabular}{lrrrrrrrrr}
			\toprule
			\mult

[2022-01-15 16:15] PerPalmgren opened #1576 "[Bug]: Value-column too thin in label-editor"
### JASP Version

0.16

### Commit ID

_No response_

### JASP Module

_No response_

### What analysis are you seeing the problem on?

Data editing mode

### What OS are you seeing the problem on?

Windows 10

### Bug Description

When I am editing data with Swedish variable namnes i get some funny  looking letters (see below). This was also an issue but in different analysis modes during the dev

[2022-01-15 18:52] PerPalmgren commented on #1576
Strangely if I close it and re-open it a second time seems fine :-o

[2022-01-16 05:09] StattMatt commented on #395
In my opinion, the most important strategic point: a new function usually expands the analysis possibility by 1. However, a weighting function expands the analysis possibilities for survey researchers not only by 1, but by all functions. I suspect there is currently no other function that can attract so many new users.

[2022-01-16 19:38] TarandeepKang opened #1577 "[Feature Request]: additional logistic regression procedures (Firth and Heckman"
### Description

Adding new regression procedures

### Purpose

_No response_

### Use-case

Useful in situations with small datasets, in which separation is likely to be a problem

### Is your feature request related to a problem?

_No response_

### Describe the solution you would like

The addition of Firth and Heckman logistic regression

### Describe alternatives that you have considered

_No

[2022-01-17 09:25] JorisGoosen commented on #390
@Tong1996j that is very annoying, but could you (if you havent done so already) open a new and separate issue for this?
Thank you.

[2022-01-17 09:29] JorisGoosen commented on #1551
Hey @KalcMatej99 Im back from vacation

It seems that whatever locale your computer is set at isn't supported by flatpak or some other component we rely on.

I think @JohnnyDoorn might've had the same once with some mix between dutch and english locale.

@KalcMatej99 could you run `locale` in a terminal and post the output here?

[2022-01-17 09:32] JorisGoosen commented on #1360
Ah, well I think an actual fix (I ran into the same issue finally on windows&mac after upgrading qt there) should now be part of our development branch but not yet of the flatpak beta. It would be good if I build that soon. That way we can see whether it really fixes these problems. Especially if the workaround doesn't seem to work anymore...

[2022-01-17 09:54] JorisGoosen commented on #1532
Pfoeh, I've been waiting for ages for R to support that!

But we do not use R for reading spss... Once I start work on 0.17 I'll have a look and see if SPSS sotres the actual locale somewhere in the file. Because that would make things easier. If it doesn't then I guess I could make it an option during the opening of a file or something.

[2022-01-17 10:17] JorisGoosen commented on #1431
Too bad it is going like this... We are still looking at the slowness problem and the fix of switching to qt 6 *does* seem to solve it for others. So Im still hopeful it might work out for you as well. Once I figure out what is going wrong with your logs and normal startup.

I've just looked at the logfile and I do not know what @boutinb  is talking about but you did use the 0.16 release version f

[2022-01-17 17:56] JoKeyser commented on #1536
@kevinvschie , others have the same request, and it's already tracked in issue #385.

[2022-01-19 07:16] icekylin opened #1578 "[Bug]: Some interface guidance seem unreasonable in jaspAnova"
### JASP Version

0.16

### Commit ID

_No response_

### JASP Module

jaspAnova

### What analysis are you seeing the problem on?

ANOVA

### What OS are you seeing the problem on?

Windows 10

### Bug Description

The guide says "below", but the info button is "above" it. see the pic
![Snipaste_2022-01-19_15-02-06](https://user-images.githubusercontent.com/10348402/150081907-0ee2ce9f-02df-4806-b

[2022-01-19 08:06] amirmasoudabdol commented on #1578
Thanks for pointing this out! We will patch it in the next release!

[2022-01-19 14:55] PerPalmgren commented on #1576
Was this report noticed?

[2022-01-20 03:08] icekylin commented on #1578
@amirmasoudabdol Likewise, I think "Bias corrected and accelerated."at [here](https://github.com/jasp-stats/jaspAnova/blob/1305b7ac88c252b5abcd6d22492e2c9962b03127/R/ancova.R#L1838) and help file are typo without a "and", maybe it should be "Bias corrected and accelerated."or "bias-corrected and accelerated (BCa)",so you can see [here](https://www.frontiersin.org/articles/10.3389/fpsyg.2019.02215/

[2022-01-20 03:09] tastickfan opened #1579 "JASP will not run"
### JASP Version

0.16

### Commit ID

_No response_

### JASP Module

_No response_

### What analysis are you seeing the problem on?

_No response_

### What OS are you seeing the problem on?

Arch

### Bug Description

Hi I'm a total linux newbie and I cannot run JASP for the life of me. I keep getting an error with setting a locale.

### Expected Behaviour

JASP should run.

### Steps to Repro

[2022-01-20 08:59] juliuspf commented on #1446
Unfortunately I cannot recreate the issue with the information provided. I have tried a few different factor models with the NOAARAS_Merged_BJworking_Trust.csv file but nothing has led to the error described here. Without further information about the factor model leading to this issue I will close this, but feel free to reopen it again once you have some more information.

[2022-01-20 08:59] #1446 closed

[2022-01-20 09:02] juliuspf commented on #1509
@ludwigkreuzpointner thank you for the issue! Could you provide some more info about the data and the factor model that lead to this crash? Ideally, a jasp file or a data file with a description of the factor model would be good. Otherwise we cannot diagnose the problem.

[2022-01-20 09:32] ludwigkreuzpointner commented on #1509
@juliuspf It seems that it does no matter how the model is define. When the variable are ordinal and model plot is chosen, the error message arise. I add an example:

[example.zip](https://github.com/jasp-stats/jasp-issues/files/7903917/example.zip)

[2022-01-20 09:35] juliuspf commented on #1509
Thanks for the data! Could you try this again with the latest nightly? https://static.jasp-stats.org/Nightlies/
I tried your data with the newest version and I do not get the error anymore.

[2022-01-20 09:41] juliuspf commented on #1509
and apologies for the late reply :)

[2022-01-20 10:28] ludwigkreuzpointner commented on #1509
Yeah, the latest version works for me either. Thanks.

[2022-01-20 10:29] #1509 closed

[2022-01-21 08:18] #1536 closed

[2022-01-21 08:23] boutinb commented on #1576
Apparently, this occurs only on Windows. On my Mac there is no problem either.

[2022-01-21 08:26] boutinb commented on #1579
Can this issue help you: https://github.com/jasp-stats/jasp-issues/issues/1424 ?

[2022-01-21 08:46] PerPalmgren commented on #1576
Will this be rectified?

Per J. Palmgren | DC, FRCC, MMedEd, PhD |
Associate Professor |
Department of Learning, Informatics, Management and Ethics |
Karolinska Institutet | Tomtebodavägen 18A | 171 77 Stockholm |
Tel. + 46 8 524 85 294<tel:+%2046%208%20524%2085%C2%A0294>
***@***.******@***.***> | ki.se<https://eur01.safelinks.protection.outlook.com/?url=http%3A%2F%2Fki.se%2F&data=04%7C01%7Cper.pa

[2022-01-21 09:11] boutinb commented on #1576
@JorisGoosen Can you have a look at this issue?

[2022-01-21 11:34] manondmg opened #1580 "[Bug]: JASP installed but application does not open"
### JASP Version

0.16

### Commit ID

_No response_

### JASP Module

_No response_

### What analysis are you seeing the problem on?

_No response_

### What OS are you seeing the problem on?

Chromebook

### Bug Description

Hello, I installed JASP on my chromebook 2020. I installed JASP on linux by following all your instructions on the site. the application installed well on my computer, the

[2022-01-21 12:19] JorisGoosen commented on #1576
Hey all,

I can have a look of course, but from the issue I don't really understand what are exactly the "funny looking letters" ?

First of all, if I load the attached csv I get:
![image](https://user-images.githubusercontent.com/29062713/150525770-ab78f8c6-dedb-4845-8f8c-adac0dd11a6b.png)

Looks fine right?

So then when I look at the OP screenshot I see:
![image](https://user-images.githubuserc

[2022-01-21 12:30] PerPalmgren commented on #1576
You are completely correct Joris. It has nothing to do with the Swedish but the column with.👍
Per

Per J. Palmgren | DC, FRCC, MMedEd, PhD |
Associate Professor |
Department of Learning, Informatics, Management and Ethics |
Karolinska Institutet | Tomtebodavägen 18A | 171 77 Stockholm |
Tel. + 46 8 524 85 294<tel:+%2046%208%20524%2085%C2%A0294>
***@***.******@***.***> | ki.se<https://eur01.safelin

[2022-01-21 12:40] JBatHome commented on #1559
"The point-biserial correlation is mathematically equivalent to the Pearson (product moment) correlation"

https://en.wikipedia.org/wiki/Point-biserial_correlation_coefficient

No need to do anything more.

Enjoy !

[2022-01-21 14:22] #1524 closed

[2022-01-21 16:02] iijpma opened #1581 "[bug]: export dataset from REDCap to JASP with labels"
### JASP Version

0.15

### Commit ID

_No response_

### JASP Module

_No response_

### What analysis are you seeing the problem on?

_No response_

### What OS are you seeing the problem on?

Windows 10

### Bug Description

We want to import our datasets from REDCap to JASP. We can export an *.csv file (raw data or labels), *.sps file, *.r file, .sas syntax file, *.do file (STATA) and CDISC OD

[2022-01-21 19:15] taniapgfernandes opened #1582 "[Bug]: Repeated Anova "this analysis terminated unexpectedly""
### JASP Version

0.16

### Commit ID

_No response_

### JASP Module

jaspAnova

### What analysis are you seeing the problem on?

Repeated measures ANOVA

### What OS are you seeing the problem on?

Windows 10

### Bug Description

This analysis terminated unexpectedly.

Error in if ((misc$estType = 'pairs') && (paste(c('', by), collapse = ',') ≠ : missing value where TRUE/FALSE needed

Stack tr

[2022-01-23 03:18] icekylin commented on #1581
Hi @iijpma , sorry this is probably not a JASP related bug. but as far as I know, the data with labels and unlabeled exported from REDcap differ only in the storage format of the values (numbers or characters), which .csv file is universal and can be imported normally in JASP.

For your question, you can also export to a supported data format (.sav,.dta.....) from REDcap, taking SPSS data as an ex

[2022-01-23 13:49] cfrowd1 opened #1583 "[Feature Request]: Classical GLMM"
### Description

Making contrasts easier to specify

### Purpose

More convenient--would no doubt help uaers who don't know about the sum averaging procedure.

### Use-case

_No response_

### Is your feature request related to a problem?

No

### Describe the solution you would like

See above

### Describe alternatives that you have considered

_No response_

### Additional context

Perhaps also

[2022-01-24 09:19] #1578 closed

[2022-01-24 09:24] juliuspf commented on #1568
I am going to close this. If you think your question has not been answered, feel free to open it again :)

[2022-01-24 09:24] #1568 closed

[2022-01-24 09:28] amirmasoudabdol commented on #1578
It seems that you are right, but I think one of the maintainers of the jaspAnova should look it up. Maybe @JohnnyDoorn could confirm it?

[2022-01-24 09:33] icekylin commented on #1578
yes,if it can be confirmed,I think this impact is trivial, so we can change it in the next release.
I can open a new issue if necessary, or you can track it in an internal issue.

[2022-01-24 11:04] KalcMatej99 commented on #1551
Hi, hereis the output:
matejkalc@pop-os:~$ locale
LANG=en_US.UTF-8
LANGUAGE=
LC_CTYPE="en_US.UTF-8"
LC_NUMERIC=it_IT.UTF-8
LC_TIME=it_IT.UTF-8
LC_COLLATE="en_US.UTF-8"
LC_MONETARY=it_IT.UTF-8
LC_MESSAGES="en_US.UTF-8"
LC_PAPER=it_IT.UTF-8
LC_NAME=it_IT.UTF-8
LC_ADDRESS=it_IT.UTF-8
LC_TELEPHONE=it_IT.UTF-8
LC_MEASUREMENT=it_IT.UTF-8
LC_IDENTIFICATION=it_IT.UTF-8
LC_ALL=

[2022-01-24 13:34] shun2wang opened #1584 "[Bug]: Scrolling speed seems inconsistent in the interface"
### JASP Version

0.16 (Nightly)

### Commit ID

50f5040b071c06eb39c9bf08e4f8ff9cc88ac131

### JASP Module

_No response_

### What analysis are you seeing the problem on?

_No response_

### What OS are you seeing the problem on?

Windows 10 21H2

### Bug Description

Scrolling speed behaves inconsistently in data library, analysis and data view, speed in analytics and data view does not seem to

[2022-01-24 13:38] JohnnyDoorn commented on #1578
@Kucharssim you had added this at some point - do you have any words of wisdom here? I am unsure as I am unfamiliar with the whole bca thing..

[2022-01-24 22:19] avamosi opened #1585 "[Bug]: Error message when opening pre-installed version of JASP 0.16 on flashdrive"
### JASP Version

0.16

### Commit ID

_No response_

### JASP Module

_No response_

### What analysis are you seeing the problem on?

_No response_

### What OS are you seeing the problem on?

Windows 10

### Bug Description

I downloaded a pre-installed version of 0.16 on a flash drive.  When I start the program, it freezes with the error message written out below.  A specific set of icons appe

[2022-01-25 12:44] mvaliadis opened #1586 "[Bug]: Lagging when attempting to save or export results"
### JASP Version

0.16

### Commit ID

_No response_

### JASP Module

_No response_

### What analysis are you seeing the problem on?

Linear regression, ANOVA

### What OS are you seeing the problem on?

Windows 10

### Bug Description

I recently installed JASP version 0.16.0 and there appears to be a significant lag when attempting to save or export a result. I recorded the behavior on a diffe

[2022-01-25 14:10] iijpma commented on #1581
Thank you for the response. We do not have access to other statistical programs (SPSS, SAS or STATA), so we can only use JASP. Therefore, we can only use .csv and not the other supported data formats to export the datasets to JASP.
What do you mean with 'perhaps the R syntax provided by REDcap can still be tried'? How does that work in JASP? Indeed, manual editing is an option, but we have very la

[2022-01-25 14:32] koenderks commented on #110
With the exception of text analysis, JASP 0.16.1 will offer both requests: cluster analysis and decision trees. Therefore I will close this issue. If text analysis is still on your wish list, please make a new issue for it so that it is on top of the list!

[2022-01-25 14:32] #110 closed

[2022-01-25 14:33] #538 closed

[2022-01-25 14:35] koenderks commented on #1073
I can still reproduce this with the latest build of JASP. @vandenman How should we handle this? Is this just a memory problem (and specific to the user / computer)?

[2022-01-25 15:16] vandenman commented on #1073
@koenderks this goes wrong because on line https://github.com/jasp-stats/jaspMachineLearning/blob/68f5b25f34f6e7f21b5cb8de7c6d30382c3df260/R/mlClusteringFuzzyCMeans.R#L78 we do

[code]
and this scales terribly in terms of memory (O(n^2)).

I'm not sure we can fix this in general, perhaps we can make it work for `100 000` observations but then surely it'll crash for `1 000 000`. The error does seem

[2022-01-25 15:17] App-State-Prof opened #1587 "[Feature Request]: Text analysis in JASP"
### Description

Add a text analysis function in JASP

### Purpose

Capture all course functions "one stop shop" for all statistics needs

### Use-case

Consider open source "Seance" as model https://www.linguisticanalysistools.org/seance.html

### Is your feature request related to a problem?

No

### Describe the solution you would like

Import text files run analysis function i.e. polarity, emo

[2022-01-25 15:53] icekylin commented on #1581
Sorry I may have overlooked this, but it still may not be a jasp bug, maybe a feature request.

For the R syntax I'm talking about, you can also export 2 files (.r & .csv) from REDcap.then:

- We can open the .r file using notepad file and see its code
- Navigate to the _R.exe_ you have installed (or you can use the R package in jasp, usually located in `JASP\R\bin`)
- Paste the code into the comm

[2022-01-26 08:38] jordir93 opened #1588 "[Bug]: Audit module - selection and Maximum Likely Error seem different from version 0.15 and onwards"
### JASP Version

0.16

### Commit ID

_No response_

### JASP Module

jaspAudit

### What analysis are you seeing the problem on?

Audit - Selection and Evaluation

### What OS are you seeing the problem on?

Windows 10 and 11

### Bug Description

Firstly, when calculating the MLE in the audit module of JASP, we encoutered some changes in the MLE starting in version 0.15.
With the same sample it

[2022-01-26 08:53] koenderks commented on #1588
Hi @jordir93,

I will investigate the discrepancies between these screenshots. Are you able to provide the .jasp file (you can zip it and add it to your comment) that these analyses are made with?

[2022-01-26 09:10] jordir93 commented on #1588
Hi @koenderks
Yes I do. Here they are:
[Evaluations in JASP.zip](https://github.com/jasp-stats/jasp-issues/files/7940301/Evaluations.in.JASP.zip)

[2022-01-26 10:03] koenderks commented on #1588
Hi @jordir93,

I can see from your file `Jasp voorraad evaluatie in 0.14.jasp` that you have set the variable `Werkelijke waarde` as the `Ist position` (called `Book values` in 0.16) and your variable `Waarde vrd.` as the `Soll position` (called `Audit values` in 0.16). With the variable definitions like this, I can reproduce your results from the 0.14 screenshot.

![image](https://user-images.git

[2022-01-26 10:35] boutinb commented on #1556
There exist other issues with flatpak installation. Some solutions have been already proposed. Can you have a look for example to these 2 issues:
https://github.com/jasp-stats/jasp-issues/issues/1424
https://github.com/jasp-stats/jasp-issues/issues/1511

[2022-01-26 10:36] boutinb commented on #1556
And also did you have a look to this page: https://jasp-stats.org/linux-installation-guide/

[2022-01-26 10:37] boutinb commented on #1567
There exist other issues with flatpak installation. Some solutions have been already proposed. Can you have a look for example to these 2 issues:
#1424
#1511

[2022-01-26 10:38] boutinb commented on #1579
Did you have a look at this installation guide: https://jasp-stats.org/linux-installation-guide/

[2022-01-26 11:07] koenderks commented on #1588
Hi @jordir93,

I can see from your file `Jasp voorraad evaluatie in 0.14.jasp` that you have set the variable `Werkelijke waarde` as the `Ist position` (called `Book values` in 0.16) and your variable `Waarde vrd.` as the `Soll position` (called `Audit values` in 0.16). With the variable definitions like this, I can reproduce your results from the 0.14 screenshot.

![image](https://user-images.git

[2022-01-26 12:48] icekylin opened #1589 "[Bug]: Undefined translation string in developer module installer"
### JASP Version

0.16 (Development)

### Commit ID

_No response_

### JASP Module

_No response_

### What analysis are you seeing the problem on?

_No response_

### What OS are you seeing the problem on?

Windows 10

### Bug Description

There may be undefined string（“Install”） in the developer module installer interface.
the code text may at [here](https://github.com/jasp-stats/jasp-desktop/b

[2022-01-27 13:57] WD4576 opened #1590 "[Bug]: JASP CRASHES (Multi-Study Files)"
### JASP Version

0.16

### Commit ID

_No response_

### JASP Module

_No response_

### What analysis are you seeing the problem on?

Capability Study

### What OS are you seeing the problem on?

Windows 10

### Bug Description

When performing a Capability Study, I had 4 datasets to evaluate.  To save steps, after the first study I hit the + tab and duplicated the study.  I then changed the tit

[2022-01-28 05:38] mdlee opened #1591 "[Bug]:"
### JASP Version

0.16 (Nightly)

### Commit ID

_No response_

### JASP Module

jaspJags

### What analysis are you seeing the problem on?

JAGS model

### What OS are you seeing the problem on?

Ubuntu 20.04.3 LTS

### Bug Description

[BARTGroupDifference.zip](https://github.com/jasp-stats/jasp-issues/files/7955986/BARTGroupDifference.zip)

It can't find the variable y. At some point within the

[2022-01-28 08:59] boutinb commented on #1586
Does this problem only occur when you export to PDF? Or also with HTML?
I cannot reproduce it on my mac, and I have now no access to Windows. Maybe can @JorisGoosen try to reproduce it?

[2022-01-28 09:35] boutinb commented on #1581
Hi @iijpma, JASP can load SPSS files with sav and par formats, STATA files with .dta format, and SAS files with as7bdat and sas7bcat formats. All these formats contain the labels. That would be quite a bad luck if REDCap cannot convert to at least of these formats...
As @icekylin said, you can still use R with the haven library, or even python with the pandas library to convert a R object into a s

[2022-01-28 09:39] #1589 closed

[2022-01-28 09:41] boutinb commented on #1589
Thanks to @JoKeyser, the extra string should come up to WebLate this weekend, and can be then translated.

[2022-01-28 09:56] boutinb commented on #1590
Hi @WD4576, I'm not sure to understand completely the steps you do: when you duplicate an analysis (by clicking the '+' button), you still use the same dataset, so I don't see how you use another dataset in your description.

Maybe, for your information, the best way to use the same analyses for several datasets (when they have the same column names) is the following:
. Make your analyses with the

[2022-01-28 11:06] JorisGoosen commented on #1586
This sounds quite similar to https://github.com/jasp-stats/jasp-issues/issues/1496, which means https://static.jasp-stats.org/JASP-Qt6-Testing-2.zip might solve it.

If that works then it we will have a version out soon that should fix it.

[2022-01-28 12:02] WD4576 commented on #1590
Bruno,
  I was working with four columns of data.  When you hit the + you duplicate the study.  But you can then edit the study. It allows you to choose a different data set to be evaluated and other parameters if necessary.  The studies I was working on only needed the data set and one decimal point change in the upper tolerance.   Everything else was going to be identical, so I felt duplicating

[2022-01-28 16:01] hussain-beig commented on #1556
I ran `flatpak install flathub org.jaspstats.JASP` again (without doing anything) and it installed just fine. Not sure what caused the issue in the first place.

[2022-01-28 16:02] #1556 closed

[2022-01-29 15:31] icekylin opened #1592 "[Bug]: Error info in the Result translations (partially) can not be switched correctly"
### JASP Version

0.16 (Nightly)

### Commit ID

ded98d850915dea751e11e6ad801e017e722b3b5

### JASP Module

_No response_

### What analysis are you seeing the problem on?

_No response_

### What OS are you seeing the problem on?

Windows 10

### Bug Description

The error message in the results page doesn't seem to change to follow the interface language. For example "The following problem(s) oc

[2022-01-29 21:53] jennthepaprof opened #1593 "[Bug]: JASP files won't open"
### JASP Version

0.16

### Commit ID

_No response_

### JASP Module

_No response_

### What analysis are you seeing the problem on?

_No response_

### What OS are you seeing the problem on?

macOS Monterey 12.01

### Bug Description

JASP is working properly but when I go to open a JASP file on my desk top it says the file type isn't supported. How do I hope a .jasp

### Expected Behaviour

Th

[2022-01-30 16:55] tomtomme commented on #1593
Can you open the file from within jasp?

Click the 3 blue stripes top right corner in jasp, then open, then computer, then browse to select your hasp file.

[2022-01-30 17:04] tomtomme commented on #1592
Thx for the report. Sadly, the mentioned translations are not yet finished comoletely. Could you contribute in this area? The translation process is really easy.

[2022-01-30 18:49] JoKeyser opened #1594 "[Bug]: Compilation fails on Linux, missing #include (I guess)."
### JASP Version

Current `development` branch.

### Commit ID

72cead0afe63a628d353704b5a3d0bf278855c0a

### JASP Module

_No response_

### What analysis are you seeing the problem on?

jaspDesktop

### What OS are you seeing the problem on?

Arch Linux

### Bug Description

I tried to compile current `development` branch with g++ (GCC) 11.1.0.

It fails due to 3 `std` functions `isnan`, `isfini

[2022-01-31 02:09] icekylin commented on #1592
yeah，Actually, I'm the translator. And translation has been completed in the above-mentioned fields. What I am reporting is that the translation has not been switched and enabled.

[2022-01-31 07:42] SvDellen opened #1595 "[Bug]: When trying to deploy .msi using Intune error/message appears"
### JASP Version

0.16

### Commit ID

_No response_

### JASP Module

_No response_

### What analysis are you seeing the problem on?

_No response_

### What OS are you seeing the problem on?

Windows 10/11, Intune

### Bug Description

When trying to deploy Jasp .msi using Intune the following message appears and setup/confige can't continue. Would be nice if this could be fixed.

![jasp_error]

[2022-01-31 08:29] amirmasoudabdol commented on #1595
Although I have not worked with Intune, I guess that this is probably due to a misconfiguration in our installer! We are in the process of improving and modernising the installer, and that should hopefully make this more robust as well.

@JorisGoosen, I'm not so sure, but this [missing `Id`](https://github.com/jasp-stats/jasp-desktop/blob/72cead0afe63a628d353704b5a3d0bf278855c0a/Tools/wix/jasp.wxs

[2022-01-31 08:37] amirmasoudabdol commented on #1594
If I recall correctly, this is fixed in the branch that I'm working on, but that's not yet in the development. Our headers usage is not that clean, and as compilers are getting more strict about this, we ran into situations like this. For now, I believe adding the `#include <cmath>` to `textinputbase.cpp`, and `rbridge.cpp` will resolves this.

P.S. I have integrated the [`include-what-you-use`](h

[2022-01-31 08:38] SvDellen commented on #1595
I've managed to work around it using: https://github.com/microsoft/Microsoft-Win32-Content-Prep-Tool. But in the light of managing updates it would be nicer to deploy the .msi instantly. Then it's possible to only upload the new .msi, change the version number and the update would install automatically.

[2022-01-31 08:52] tomtomme commented on #1592
Cool :D
I should have looked that up yesterday, since I am also a translator. Sometimes the translations need some weeks until they are picked up into a nightly build. Maybe this is the case here? How recent is your build and how recent were your translations?

[2022-01-31 11:01] JoKeyser commented on #1594
@amirmasoudabdol thanks for checking this out; sounds all good to me, happy to test when your branch lands.

[2022-01-31 17:00] boutinb commented on #1590
How big is your data file and your JASP file?

[2022-01-31 17:11] WD4576 commented on #1590
The one giving issues was 10.6MB

[cid:b8cc77b5-940c-4c58-a65f-3a99303f9240]

Shane S. Kreuzer

Special Process Laboratory Technician

ASQ Certified Black Belt

Tel: +1 (803) 506-6586

E-mail: ***@***.******@***.***>

SKF Sumter, USA

925 Corporate Circle, Sumter, South Carolina – 29154

www.skf.com<http://www.skf.com/>, Facebook<https://www.facebook.com/SKFGroup>, LinkedIn<https://www.linkedin.co

[2022-01-31 17:47] boutinb commented on #1590
Strange, this is not really big. And you should be able to upload it in this GitHub issue (you need first to zip it, and you need to that directly with the GitHub website, not via email): the max size is 25 MB. Can you try again by zipping it?

[2022-02-01 13:53] ilkerduymaz commented on #1593
I have the same problem. I can open the file from within jasp (rather than clicking on the file itself). However, I can only have one open data at a time. When I try to open another jasp file (again, from within jasp) when I already have an open file, a new jasp window opens and I see the loading animation but it immediately closes after loading.

[2022-02-01 17:59] Golden-Retriever-1 opened #1596 "[Feature Request]: Saving the residuals of a Bayesian regression to data file"

[2022-02-02 08:29] vandenman commented on #1596
This is a reasonable request. However, In the Bayesian framework, the residuals are not fixed values but rather distributions. As a consequence, any further analysis of the residuals *should* account for this uncertainty. I guess we could make add two columns to the dataset, the posterior mean of the residuals and the posterior standard deviation of the residuals (which may be used as a proxy for

[2022-02-02 09:01] EJWagenmakers commented on #1596
I am on board with your suggestion!

[2022-02-02 14:26] tomtomme commented on #1060
I just tested this in 0.16.1 flatpak beta.
It is awesome!
At the same time the UI could use improvements:
a) It is not obvious that you can change the color palette, because the color palette drop-down menu sits way above in the visualy separate section "Customizable plots". It is not obvious, that the section "Tile Heatmap" belongs to "Customizable plots"
b) For a literal "heat"-map containing a

[2022-02-02 14:28] tomtomme commented on #1360
I just tested the new 0.16.1 flatpak beta (manjaro). Changing lables or computing variables still crash jasp.

[2022-02-02 14:40] tomtomme opened #1597 "[Feature Request]: Distributions Module: Add a table of mass & cumulative probabilities for discrete distributions"
### Description

For discrete distributions one can highlight mass and cumulative probabilities graphically but not tabulated

### Purpose

Speed

### Use-case

Students can faster check their results exactly

### Is your feature request related to a problem?

Trying to read the results from the height of the bar is missing precision

### Describe the solution you would like

Going through the res

[2022-02-02 14:53] Kucharssim commented on #1060
Thanks for the feedback! We are aware of the colour palette issues, and it's good that there is a consensus about it - we had exactly this debate earlier (https://github.com/jasp-stats/jaspDescriptives/pull/8#issuecomment-1012089788), but decided to go with this version for now. But we definitely have this on our radar to fix it more systematically (https://github.com/jasp-stats/INTERNAL-jasp/issu

[2022-02-02 14:55] tomtomme opened #1598 "[Feature Request]: Scatter/Jitter Plots could show approximate accuracy of measurement by dot thickness"
still valid for 0.19 beta

### Description

Being able to adjust how thick a dot is within a scatter or jitter plot

### Purpose

Inform the reader about the expected accuracy of the measurement (thicker dots for low accuracy, smaller dots for high accuracy)

### Use-case

This maybe useful foremost if you have manifest measurements like time, weight, height, where you know from the calibration of

[2022-02-02 14:57] tomtomme commented on #1060
great :)
I have no access to the internal jasp issues however.
Cheers

[2022-02-02 15:10] tomtomme opened #1599 "[Feature Request]: Add coefficient of variation to more analysis"
### Description

Add the coefficient of variation to ANOVAs, t-Tests, Regressions etc. tables of "descriptives"

### Purpose

It is hard to compare unstandardized values like SD between variables or even across groups of the same variable if the means differ considerably. The coeffiecient of variation is a well known solution to this problem and should be broadly added to every "Descriptives table

[2022-02-02 18:12] tfasano opened #1600 "[Bug]:"
### JASP Version

Others

### Commit ID

_No response_

### JASP Module

_No response_

### What analysis are you seeing the problem on?

_No response_

### What OS are you seeing the problem on?

chromebook

### Bug Description

I followed all the instructions for enabling linux, installed flathub and flatpak, and keep getting error messages when I try to run JASP. error: ldconfig failed, exit st

[2022-02-02 19:40] ecordonP opened #1601 "[Feature Request]:"
### Description

Reference category selection with categorical variables in linear regression

### Purpose

Facilitate the manual choice of the reference category when using a categorical variable in a linear regression.

### Use-case

_No response_

### Is your feature request related to a problem?

No

### Describe the solution you would like

_No response_

### Describe alternatives that you ha

[2022-02-02 20:33] DrKjellArne opened #1602 "Principal Component Analysis (PCA) is blocked and non-functional due to variable type assignment"
### Description

A data set having few unique values, although Continuous variables

### Purpose

Sometimes, a small data set is used having Continuous variables

### Use-case

_No response_

### Is your feature request related to a problem?

When selecting the variables for PCA, no error explanation why the variables can not be used for PCA

### Describe the solution you would like

A message whe

[2022-02-03 07:07] vandenman commented on #1602
I agree there should be a helpful message that explains what is going on. Perhaps @boutinb can take a look at that?

Note that you can change the variable type like so:
![image](https://user-images.githubusercontent.com/21319932/152296813-4a4bf62c-c16d-468b-a7ae-fcddc1e83793.png)
and after you change the variable type to scale it should be possible to use the variables in PCA.

[2022-02-03 07:47] DrKjellArne commented on #1602
Thank you your prompt response. Yes, I found the option to change the variable type. At first, not intuitive for a newbe, but elegant once discovered.

[2022-02-03 07:47] #1602 closed

[2022-02-04 12:09] JorisGoosen commented on #1600
@tfasano what kind of chromebook do you have exactly?

As in, Brand and typenumber?

[2022-02-04 13:21] AnguloB opened #1603 "[Bug]: JASP crashes after opening .txt"
### JASP Version

0.16

### Commit ID

_No response_

### JASP Module

_No response_

### What analysis are you seeing the problem on?

All

### What OS are you seeing the problem on?

Windows 10

### Bug Description

After opening a .txt file, which apparently has no problem, when trying to do any analysis (descriptive, cfa, etc.) the program closes suddenly. The data have been created with R, an

[2022-02-04 14:13] JorisGoosen commented on #1603
Hey @AnguloB

Does this only happen for this particular datafile?
Also, does JASP crash immediately after adding the analysis?
Or do you first have to select some columns?
Is it possible to run a filter or add a computed column without an analysis?

And you say it closes suddenly? So no error msg or anything? No warning box?

[2022-02-04 14:16] JorisGoosen commented on #1595
But sadly it won't be ready for the next release yet.

https://wixtoolset.org/documentation/manual/v3/xsd/wix/product.html indicates that it is an "autogen guid" and so should generate one every time, at least, otherwise it wouldn't install at all I guess?

[2022-02-04 14:16] AnguloB commented on #1603
I have tried with other dataset with same structure different numbers and also happens. It crashes when you try to use the menu, not before.

[2022-02-04 14:19] JorisGoosen commented on #1603
Aka when you click in the ribbonbar?

But what about  my other questions:

[2022-02-04 14:21] JorisGoosen commented on #1600
Ah well, it doesn't matter...

Something was changed on chromebooks, because my system now also doesnt work anymore :(

[2022-02-04 14:23] JorisGoosen commented on #1600
Seems to be related to https://github.com/flatpak/flatpak/issues/3644 and https://bugs.chromium.org/p/chromium/issues/detail?id=1087937

[2022-02-04 14:43] tfasano commented on #1600
I actually got it working last night! Have a 2019 Chromebook Acer.

This is what changed things:
https://www.reddit.com/r/Crostini/comments/rvjsi3/flatpak_apps_dont_work_in_chrome_os/

Good luck and hope this works for you too

On Fri, Feb 4, 2022, 9:21 AM Joris Goosen ***@***.***> wrote:

[2022-02-04 14:53] AnguloB commented on #1603
Yes, when I click on the ribbonbar.  It is possible to do the "syntax" of the filter, but not to run it.

There is no message or anything. My feeling is that it tries to do something, freezes, and then suddenly closes.

Now I have managed to start a confirmatory factor analysis, but when I reopened the data it went wrong again.

[2022-02-04 15:09] JorisGoosen commented on #1600
Ok nice!

I just got mine to work by opening a terminal and running `sudo umount /proc/{cpuinfo,diskstats,meminfo,stat,uptime}`
After that jasp starts as well, seems simpler than the steps described there, but I have no clue if this breaks things.

I'll have a look at the reddit post

[2022-02-05 14:31] tomtomme commented on #1567
I can confirm this. At least my manjaro laptop showed this this week.
My fix was to install the Jasp Beta from the flatpak beta channel. That worked always for me since the flatpak issues began.

[2022-02-05 14:51] JorisGoosen commented on #1603
And if you just start JASP, not load any data but open a "Summary Statistics" analysis?
Or "Distributions" or something.

Can you then run those?

[2022-02-05 15:00] JorisGoosen commented on #1360
Yes, there is a fix ready though, but because it has major changes we are first releasing `0.16.1` without it, and then quite soon after that `0.16.2` and then it should work without the workaround.

My previous post was made as I just return from a long vacation and I was apparently over-optimistic on what had been included in `development`...

[2022-02-05 15:01] AnguloB commented on #1603
Thank you very much for your patience. Normally I would not insist so much but it is important as I am planning to use it with my students next semester.

In case it might help, the data has been generated in R with lavaan's simulateData function. Exported as txt with write.table().

There is no problem with running those you said. Days before I have worked with other txt files (maybe with less va

[2022-02-05 18:01] JorisGoosen commented on #1603
No problemo!

I still don't have an idea what exactly could be going wrong but maybe the latest development version: https://static.jasp-stats.org/Nightlies/WindowsZip/JASP-nightly-development-cfb5fe3123038592ab8500bda48d6214cc4f3451.zip

Doesnt crash? This is what we're currently testing for the upcoming 0.16.1 release. You can use it to test but there might still be bugs in it we haven't found.

[2022-02-05 19:08] JorisGoosen commented on #1603
Also, maybe you can try switching this on:
![image](https://user-images.githubusercontent.com/29062713/152655416-3f35853c-a032-4f12-81e4-37ddde3e2a49.png)

Not sure if it helps, but your system is in spanish no?

[2022-02-06 07:36] AnguloB commented on #1603
Yes, I use the Spanish system. Switching the native encoding has not improved the situation.

The nightly version seems stable for the moment, I have made several tests with the dataset and it works correctly.

[2022-02-06 15:01] JorisGoosen commented on #1603
Well, that's great!
Whatever the problem is we apparently already fixed so I guess this is solved.

The JASP you now have is probably very similar if not the same as what we'll be releasing soon.
So I think you could already prepare with this. But I would advise to at least open and refresh the files in the real 0.16.1 once it's out to be sure.

[2022-02-06 15:01] #1603 closed

[2022-02-06 15:52] Golden-Retriever-1 commented on #1596
Thank you for your replies.

The question arose from how to present the requirement whether the variance of the residuals is not constant across predictions to an audience who is less familiar with Bayesian statistics. Furthermore, how to compare this check across several Bayesian linear regressions.
The current simple plot adds nothing as value to reports, publications, etc. It is a very broad an

[2022-02-07 08:30] Golden-Retriever-1 commented on #1596
I would argue that posterior means and standard deviation are insufficient to describe the residuals to any audience. Are there any other ways to obtain complete information about the residual(s) distributions which can be explained easier to a broader audience?! Descriptive statistics about distributions usually include more than only mean and standard deviation.

[2022-02-07 08:39] vandenman commented on #1596
Well, there is, at least at the moment, no good way to export more complete information on the distribution of the residuals. I guess it is possible to also export the quantiles of the distribution of the residuals. But to export that we'd need to create a new column for each quantile level (e.g., `quantile_01`, `quantile_02`, ..., `quantile_98`, `quantile_99`) which may become very cumbersome to

[2022-02-07 08:55] vandenman commented on #1596
The R code is available here: https://github.com/jasp-stats/jaspRegression/blob/002e5d4241df938de664333230b1a94acf4b63b3/R/regressionlinearbayesian.R#L1048-L1060

We use the R package [BAS](https://cran.r-project.org/package=BAS). Note that this package uses many analytical solutions and avoids sampling unless there is no other choice.

While we strive to make JASP as feature-rich as possible, if

[2022-02-07 19:49] Golden-Retriever-1 commented on #1596
There is currently no good way to describe the residuals at all for reporting them anywhere. The current plot gives only a very broad estimate for the data analyst but is not of further use to write about, present, display, report etc. Thus, the feature request on how to best describe the residuals distribution is well reasoned, since at least I hope that the assumptions for Bayesian linear regres

[2022-02-07 19:57] #1596 closed

[2022-02-08 02:05] DIV-on-github opened #1604 "[Bug]: incorrect SHA256 for portable Windows version"
### JASP Version

0.16

### Commit ID

_No response_

### JASP Module

_No response_

### What analysis are you seeing the problem on?

_No response_

### What OS are you seeing the problem on?

Windows 10.

### Bug Description

Website https://jasp-stats.org/thank-you-for-downloading-jasp-win64-zip/
has
Your download should start automatically within the next 5 seconds. In case it doesn’t, click

[2022-02-08 02:12] DIV-on-github commented on #1604
BTW, I downloaded the current file twice to confirm.
—DIV

[2022-02-08 03:40] DIV-on-github opened #1605 "[Bug]: Sequential analysis 'arrow' annotations are misleading"
### JASP Version

0.15

### Commit ID

_No response_

### JASP Module

jaspFrequencies

### What analysis are you seeing the problem on?

Bayesian Binomial Test

### What OS are you seeing the problem on?

Windows 10

### Bug Description

Sequential analysis charts are very useful in understanding a Bayesian analysis.
However, the 'arrow' annotations are misleading.
When a non-informative/neutral

[2022-02-08 03:45] DIV-on-github opened #1606 "[Feature Request]: show cursor initially in Create Computed Column dialogue box"
### Description

Show cursor initially in Name entry field of Create Computed Column dialogue box

### Purpose

Let user know where focus is.

### Use-case

Let user know where focus is.

### Is your feature request related to a problem?

I didn't know where focus was.

### Describe the solution you would like

Show cursor initially in Name entry field of Create Computed Column dialogue box

### D

[2022-02-08 03:55] DIV-on-github opened #1607 "[Bug]: Strange text appearance in text entry field"
### JASP Version

0.15

### Commit ID

_No response_

### JASP Module

_No response_

### What analysis are you seeing the problem on?

_No response_

### What OS are you seeing the problem on?

Windows 10

### Bug Description

Strange text appearance in text entry for Name field in Create Computed Column dialogue box.

![image](https://user-images.githubusercontent.com/66234612/152915162-a24075e1

[2022-02-08 16:17] Kucharssim commented on #1399
This feature has been implemented (https://github.com/jasp-stats/jaspRegression/pull/103) and will be part of the 0.16.1 release

[2022-02-08 16:34] Kucharssim commented on #1605
Dear @DIV-on-github,

thank you for the suggestion.

I would say that in this case the evidence is not strongly in favour of H_0, as the BF_0- = 1.012 indicates, because the evidence is relative depending on the models being compared.

As this is more of a conceptual discussion: @EJWagenmakers, what do you think about this? I have no problem with changing the terminology or clarifying the plots in

[2022-02-08 18:43] RavenclawNewHaven opened #1608 "[Bug]: I uploaded a CSV file. Nearly every column is numerical (mostly values of 0 and 1). But many of them are being defined as nominal variables, preventing me from running any analyses (e.g., scale reliability)"
### JASP Version

0.16

### Commit ID

_No response_

### JASP Module

jaspReliability

### What analysis are you seeing the problem on?

Unidimensional reliability - BUT IT AFFECTS EVERY POSSIBLE ANALYSIS

### What OS are you seeing the problem on?

Windows 10

### Bug Description

JASP is reading variables as nominal even though all values are numerical. I cannot find a way to change the nature/

[2022-02-08 18:54] #1608 closed

[2022-02-08 22:45] mwvoss opened #1610 "possible to change font size when editing plot parameters?"
Thank you for this nice sub-module. I've generated an "added variable" plot for example, and would like to increase the font size for the axes for publication figures. Is this possible?

[2022-02-08 23:46] Crom60 opened #1609 "[Feature Request]: Descriptive statistics (Mean (or median) and Standard deviation) for correlations"
### Description

It would be really useful if when running a correlation (Pearson, Spearman, Bayesian etc.) that there was an option for basic descriptive statistics. If you have missing data that influences your variables inconsistently there is no way without extensive filtering to get means and standard deviations for participants included in the correlations. It might be easiest to limit this

[2022-02-09 00:14] DIV-on-github commented on #1605
Thank-you for your comments, Kucharssim.

From my point of view, I didn't feel it was an issue with the word "evidence" _per se_, but more so with H_0 and H_1.
To me the evidence regarding H_0 indicates the 'overall' (posterior) probability that H_0 is correct, given the evidence.
But instead the sequential graph seems to be presenting something (loosely) like the probability that H_0 is _more cor

[2022-02-09 02:53] DIV-on-github commented on #1605
One more example to illustrate my query.
If the prior is highly weighted to a proportion close to zero, then the posterior probability of H_0 becomes really small.
Yet the Sequential Analysis now reports that the "Evidence for H_0" is extreme.

![image](https://user-images.githubusercontent.com/66234612/153112740-62353d95-9e90-4391-b62f-8f2d05d94eff.png)

I still feel that this should be something

[2022-02-09 02:58] DIV-on-github commented on #1605
Sorry, one more thought on this.
As you know very well, Bayesian analysis can indeed be applied sequentially.
Therefore what I have been referring to above as a "prior" could also be based on **prior _evidence_**.
—DIV

[2022-02-09 08:21] EJWagenmakers commented on #1605
I am not sure I understand. H0 ("all zombies are hungry") is compared to H1, which can be defined in different ways. If you define H1 as "almost all zombies are hungry", then 12 hungry zombies constitute very little evidence -- that is, the data necessitate only a small adjustment of the prior odds. On the other hand, if you define H1 as "almost no zombies are hungry", then 12 hungry zombies will

[2022-02-09 08:25] EJWagenmakers commented on #1605
....you argue that the evidence in favor of H0 can be extreme but that its posterior probability is very low. We do not provide the posterior model probabilities though. What you are probably looking at is the posterior distribution for the parameter under H1 at theta = 1. That is not the same as the posterior probability for H0. What does happen is that the posterior density at theta=1 (under H1)