[2020-09-05 13:04] boutinb commented on #964
Apparently a duplicate

[2020-09-05 13:04] #964 closed

[2020-09-05 13:04] boutinb commented on #958
Could you be a bit more specific: does it happen when you just start JASP, when loading a file or doing an analysis?
If you go to C:\Users\AppData\Roaming\JASP\JASP\Logs do you see some log files? If yes, can you send me these files (in a zip)?
Also did you try to install the pre-installed version: http://static.jasp-stats.org/JASP-0.13.1.0-64bit.zip?

[2020-09-05 13:06] boutinb commented on #958
Apparently a duolicate with #956

[2020-09-05 13:06] #958 closed

[2020-09-05 14:39] Anatoliy-Livov commented on #354
TQ

[2020-09-05 14:51] djdekker commented on #918
@TimKDJ  – I tried yesterday's nightly build. ANOVA is much faster now: it takes 4 seconds. A lot better than before!

[2020-09-05 15:04] djdekker commented on #961
Your data set contains only 15 cases and you're trying to carry out EFA with more than 15 variables.

I have been using JASP for EFA's with dozens of variables. JASP handles that easily, as long as the data set contains enough cases.

[2020-09-05 18:45] EJWagenmakers commented on #641
Update: changing the "legend to plot ratio" setting solves the problem (maybe this is what you added as a fix, @vandenman ?). "It was set at .4, variables chopped off...set to .8, variables included in full."

[2020-09-05 19:13] farscape11 opened #965 "Reliability Module crashes."
Classical Reliability Module in .13.1 doesn't work. It crashes and produces various errors.
![image](https://user-images.githubusercontent.com/60532075/92314388-9b708280-ef9c-11ea-944a-a0e16725c9b0.png)

[2020-09-06 04:35] williamstome commented on #918
@TimKDJ, I haven't tried the recent build yet, but with the previous
version it happened with any RM-ANOVA I ran on any set of data :( It sounds
like the problem is now fixed though! I will figure out how to get nightly
builds on Linux and try it out :)

On Sat, Sep 5, 2020, 8:51 AM DJ Dekker <notifications@github.com> wrote:

[2020-09-06 14:20] robkoper commented on #961
Ah, thanks, didn’t know this constraint!
Rob

[2020-09-07 10:34] JorisGoosen commented on #918
I'm sorry, but we do not have nightly for linux...

[2020-09-07 10:39] JorisGoosen commented on #955
I've seen this before here: https://forum.cogsci.nl/discussion/6361/jasp-gui
The solution is turning on safe graphics through starting JASP like:  `flatpak run org.jaspstats.JASP --safeGraphics` from a terminal.

@LeonieBorne what kind of videocard do you have?

[2020-09-07 10:52] Girouxma opened #966 "Repeated-measure Anova contrasts"
* JASP version: 0.13.1
* OS name and version: Windows 10 professional
* Analysis: Repeated measure Anova, contrasts
* Bug description: When I compare results from repeated measure Anova with Statistica and with JASP, I get the same results but, when it comes to specific contrasts they are different ! The SE is different (example : 0.81 for Statistica and 1.35 for JASP) so the t and the p value are

[2020-09-07 12:10] giuconte commented on #963
Dear Bruno,

I was having an issue with 64bit Jasp and 64bit R both not loading on
windows 10 (surface pro).
32bit version was working fine
Now I have formatted the machine. With the fresh install of windows 10
everything is working fine.
I have lost the  JASP\Logs  during formatting (sorry)
 thank you for your concern,
Best regards

Giulio Contemori

PhD in* Neuropsychology*
orcid.org/0000-0002-1

[2020-09-07 12:36] boutinb commented on #963
Nice to hear you have solved your problem. It would be interesting for us to know what was exactly the problem. Other people have sometimes a crash, so if we can have a checklist of all reasons why such a crash can happen, it would help really much.

[2020-09-07 12:36] #963 closed

[2020-09-07 13:13] JohnnyDoorn commented on #966
Hi @Girouxma ,

The difference here is whether you pool the standard error or not. The classic RM ANOVA model assumes that these are pooled, and so it makes sense to use the pooled errors in the follow up analyses. For some cases, we do provide the option deviate from this and not use the pooled standard errors (see the tick boxes in contrast and posthoc tests), for instance when the equal varianc

[2020-09-07 14:16] brunoverschuere opened #967 "Meta-analysis: Adjusting Forest Plot"
Problem: Its currently not possible to adjust the forest plot in the meta-analysis module

Request: It would be helpful if you could order the studies in the forest plot along effect size (from low>high, or vice versa)

thank you!
Bruno

[2020-09-07 15:03] boutinb commented on #967
@sophieberkhout, can you answer this request?

[2020-09-07 16:04] williamstome commented on #918
Ah, that is why I was having trouble finding the information. 🙃

On Mon, Sep 7, 2020, 4:34 AM Joris Goosen <notifications@github.com> wrote:

[2020-09-07 17:33] JorisGoosen commented on #861
This turned out to be quite some work but it seems to work now.

In case @donovaly would like to help us out a bit by testing one of the new nightlies at: https://static.jasp-stats.org/Nightlies/
They are building now, so should be uploaded in roughly ~20m.

[2020-09-07 23:11] LeonieBorne commented on #955
It works, thank you very much @JorisGoosen!
Here is my graphic card information:

[code]

[2020-09-08 01:12] JorisGoosen commented on #955
Aah thank you for that and happy to hear it works :)

[2020-09-08 01:12] #955 closed

[2020-09-08 07:11] vandenman commented on #625
So in the next version, we show both the posterior exclusion probabilities and the posterior inclusion probabilities, hopefully that clears things up. If anything else comes up feel free to reopen this issue or open another issue!

[2020-09-08 07:11] #625 closed

[2020-09-08 14:36] JorisGoosen commented on #918
Well, I think I will make a beta version for flatpak this week, I hope I have the time for it, and if so I'll let you know. That way you can test it out as well.

[2020-09-08 15:12] kornbrot opened #968 "Posterior and prior plot and BF for Bayes Linear Mixed"
Output only shows effect and SE. Bayes plots would be very informative
* Enhancement: Please provide output in same format as for Bayes t-tests and Bayes ANOVA
* Purpose: clearer interpretation of results
* Use-case: clear results presentation
**Is your feature request related to a problem?  NO
**Describe the solution you'd like**
Outptut as Posterior and prior plot and BF
**Describe alternatives

[2020-09-08 15:17] kornbrot opened #969 "Implement Bayes factors for GLMM"
* Enhancement: Implement Bayes generalized  linear mixed
* Purpose: perform Bayes on mixed lbinomial data with logit or probit link
* Use-case: Bayes would be more readily avialable

**Is your feature request related to a problem? Please describe.** no

**Describe the solution you'd like** as above. know there are no immediate plans, but many would appreciate if this could have higher priority

[2020-09-08 15:22] EJWagenmakers commented on #969
But we do have this, right, @FBartos ?
Not with Bayes factors (yet), but the estimation approach is there will the link functions

[2020-09-08 15:35] kornbrot commented on #969
ite on the jasp menu, but currently gives error message
how does one use the link functions?

[2020-09-08 15:55] FBartos commented on #969
Hi @kornbrot ,

could you please save the analysis that gives the error as .jasp file, add it into a zip and upload it here? I will take a look and try to solve the issue.

Thanks
Frantisek

[2020-09-08 16:08] kornbrot commented on #969
error message
This analysis terminated unexpectedly.

Error in if (var_name ≠ 'Intercept' && nrow(temp_summary) > 1) {: missing value where TRUE/FALSE needed

Stack trace

To receive assistance with this problem, please report the message above at: https://jasp-stats.org/bug-reports
File attached
[konbrotGLMM.zip](https://github.com/jasp-stats/jasp-issues/files/5189497/konbrotGLMM.zip)

May have l

[2020-09-08 16:09] kornbrot commented on #969
did not mean to close this

[2020-09-09 01:18] donovaly commented on #765
it is also for me fixed now with Jasp 0.13.1. Thanks.

[2020-09-09 01:28] donovaly commented on #861
I tested it using the latest 64bit MSI nightly but I get a smartScreen warning:

![rHDIuWra63](https://user-images.githubusercontent.com/1828501/92543488-e5cb5b00-f24b-11ea-83a4-0eda259b475d.png)

(I thought you denied my NSIS proposal just because of the unavoidable SmartScreen warning.)
Here the point is, that since the publisher of the installer is unknown SmartScreen will always warn.

However

[2020-09-09 08:40] sophieberkhout commented on #967
Hi Bruno,

Is this about the classical meta-analysis?
The Bayesian meta-analysis, which I am responsible for, does offer this functionality!

Thanks,
Sophie

[2020-09-09 11:55] kornbrot commented on #969
Done
Have you received it?

On 8 Sep 2020, at 16:55, FBartos <notifications@github.com<mailto:notifications@github.com>> wrote:

Hi @kornbrot<https://github.com/kornbrot> ,

could you please save the analysis that gives the error as .jasp file, add it into a zip and upload it here? I will take a look and try to solve the issue.

Thanks
Frantisek

—
You are receiving this because you were mentioned

[2020-09-09 11:59] JorisGoosen commented on #861
Thank you Uwe for testing, the smartscreen makes sense. Because we need to have a special department of the university sign the installer, which is a bit overkill for a nightly. As in, I literally have to mail a guy which is annoying but the only way to get it signed by the uni...

You did manage to get to the installer by ignoring the warning and you chose "Advanced",  "per-user" and didn't selec

[2020-09-09 12:07] JorisGoosen commented on #861
And if that is how you started it, maybe you could run the msi through `msiexec /i jasp-***.msi /lv jasp.log`  and then attach that log here?

[2020-09-09 12:09] JorisGoosen commented on #861
And to be sure we are talking about the same installer, could you try it with: https://static.jasp-stats.org/Nightlies/Windows/JASP-nightly-stable-dfe5e3d0db607d0f8102744de0af0e894bc96144.msi

[2020-09-09 13:21] brunoverschuere commented on #967
Hi Sophie

Yes, for the classic meta

I checked, and indeed, for the Bayesian meta-analysis you can order on ascending/descending/row order, so it would be helpful if the same feature would be available for the classic meta-analysis

Thank you
Bruno
Ps as an interim solution, I realized I can reorder the excel file, but evidently it would be cool to have the feature within JASP

From: Sophie Berkh

[2020-09-09 15:37] boutinb commented on #967
@sophieberkhout Is it something you could do? Because I'm not sure that the creator of the classical Meta Analysis will do it.

[2020-09-09 16:16] FBartos commented on #969
Hi,

yes, I did receive the files and I was able to verify the issue. It seems to be a problem only for the 'binomial (aggregated)' family. I will fix the issue, in the meantime, you can try fitting it using the non-aggregated version of it. I already went ahead, formated the dataset into a non-aggregated format, and fitted the model to verify that it is working. You can download and open the atta

[2020-09-09 17:14] saurabhr opened #970 "CI correction based on holm's method"
how to get corrected CI based on holm's correction instead of corrected CI being based on bonferroni in analysis of post-hoc of interactions in ANOVA?

[2020-09-10 00:16] donovaly commented on #861
I took this now for the test. It works, many thanks!

However, there are 2 issues:

1. the default setting should be the other way round: Only if you want to install JASP for all users you must press the Advanced button.
I mean the vast majority of users are not admins. Why should they bother the other users of the PC with their special programs. If all users in an organization should get JASP, th

[2020-09-10 00:29] JorisGoosen commented on #861
Ah great!
So we are getting somewhere :)

I'm not sure if this is true actually, but maybe this is a question of perspective. As in, by far most pc's I've used were mine and with admin rights.

On the other hand, it wouldn't make much of a difference to single-user systems anyway if it was installed per-user or per-machine. Only problem with that is that for some(/many?) systems the c++ redistribu

[2020-09-10 12:31] JorisGoosen opened #971 "Add description to features in WIX installer"
In the issue at https://github.com/jasp-stats/jasp-issues/issues/861 I used the WIX_Advanced UI to add a selection for per-user and per-machine installs. This works.

However, the feature selection dialog doesn't support description and the very reasonable request was made to add this. I agree and I want to but to do so requires me to rewrite that particular dialog and smash it in there.

This is

[2020-09-10 12:34] JorisGoosen commented on #861
So it turns out to be another substantial change...

I really wish Microsoft had made it a bit easier to comply with "Windows Installer" but once https://github.com/jasp-stats/jasp-issues/issues/971 has been implemented things will be well.
For now I'm afraid I'll have to leave it like this.

[2020-09-10 12:34] #861 closed

[2020-09-11 12:10] kornbrot commented on #969
so can I get tat those link functions?
assum package underneath is brms, whihc i can' impelment on mac catalina because it requires Rstan. Sigh....

[2020-09-11 13:49] FBartos commented on #969
I'm not sure what's the question. You should be able to run all of the Bayesian generalized mixed effect models thru JASP (there is a special Catalina installer on the JASP page) - you aren't required to install rstan separately (JASP carries it's own installation, also the models are running thru stanova and rstanarm, not brms).

[2020-09-13 13:16] kornbrot commented on #969
IT is STILL not working
I reinstalled the Catalina version
Got error message
This analysis terminated unexpectedly.

Error in if (nrow(temp_summary) = 1) {: argument is of length zero

Stack trace

To receive assistance with this problem, please report the message above at: https://jasp-stats.org/bug-reports
Current files included, JASP file, data file and html results file
Thanks again
Diana
[Kor

[2020-09-13 14:29] kornbrot commented on #969
I keep trying JasP
It is R that rehires Rstan compilation
Stuck because neither JasP nor R is working for me on Catalina

On 11 Sep 2020, at 14:49, FBartos <notifications@github.com<mailto:notifications@github.com>> wrote:

I'm not sure what's the question. You should be able to run all of the Bayesian generalized mixed effect models thru JASP (there is a special Catalina installer on the JASP pag

[2020-09-14 11:04] JorisGoosen commented on #918
So if @williamstome would like to test it on linux, I've made a flathub-beta version of JASP. It should contain the fix from this issue.

To get it you can do the following (in a terminal ofc):
[code]

It will now also start the beta whenever you leave `--branch=` off, but you can switch back to the officially released one through: `flatpak run --branch=stable org.jaspstats.JASP`

[2020-09-14 13:47] kornbrot commented on #969
Thanks
Really appreciate all you have done so far.
I had already tried it non-aggregated and it did indeed work
My problem is that I have 21 files, some with 3 or 4 factors. unaggregating them would be very burdensome for RA
Working Rcode
bayeslgt <- brm(freq|trials(Nmax) ~ wiithin + (wiithin|pno), pars="all", data=kex12,family=binomial(link="logit”))
[aggregation is different from that for glmer]

[2020-09-14 14:31] FBartos commented on #969
Ok, I see now. I'm sorry but the Bayesian GLMM with aggregated binomial family is broken for now. I'm working on fixing it and I will let you know when it's working and added to the available version of JASP.

Best,
Frantisek

[2020-09-15 05:23] jaspishurtingmybrain opened #972 "spreadsheet editor wont open"
* JASP version: 0.13.1

* OS name and version:  MacOS Mojave 10.14.6
* Analysis:
* Bug description:  spreadsheet editor won't open when trying to edit data.  opens new window of Jasp instead of opening excel
* Expected behaviour: double click a cell and excel opens in order to edit data
#### Steps to reproduce:
1. double click a cell
2.instead of excel or preferred spreadsheet editor opening a new

[2020-09-15 06:28] snowymo opened #973 "JASP crashed"
* JASP version: 0.13.1
* OS name and version: Windows 10 (10.0)

* Analysis:
* Bug description:
* Expected behaviour:

#### Steps to reproduce:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

-----------------------------------------------------------------------

### Debug information:
**Engine # 0** process *crashed* and it's state is *initializing*.
**Engine # 1** proce

[2020-09-15 06:28] snowymo opened #974 "JASP crashed"
* JASP version: 0.13.1
* OS name and version: Windows 10 (10.0)

* Analysis:
* Bug description:
* Expected behaviour:

#### Steps to reproduce:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

-----------------------------------------------------------------------

### Debug information:
**Engine # 0** process *crashed* and it's state is *initializing*.
**Engine # 1** proce

[2020-09-15 09:56] #974 closed

[2020-09-15 09:56] JorisGoosen commented on #973
Hey @snowymo thank you for reporting an issue.

Maybe you could help us out a bit and fill in the actual information we requested? Like what OS you are using, which analysis etcetera?

[2020-09-15 09:57] JorisGoosen commented on #973
Or for instance, if your username contains non-latin characters it might be causing the crash on startup. Making a username containing just latin characters should avoid the bug then.

[2020-09-15 10:29] boutinb commented on #972
Hi @jaspishurtingmybrain , what are your Spreadsheet Editor settings in Preferences/Data?

[2020-09-15 16:49] williamstome commented on #918
Thank you Joris!!
I'm having some trouble with these commands though. The first works fine,
the second says "Remote "flathub-beta" not found".To make sure I'd run the
first correctly, I ran it again, and it says "Remote flathub-beta already
exists". So it seems like I've got Shroedinger's Flathub, which
simultaneously exists and does not exist 😬.

On Mon, Sep 14, 2020 at 5:04 AM Joris Goosen <noti

[2020-09-16 07:25] boutinb commented on #948
This is a duplicate of #953

[2020-09-16 07:25] #948 closed

[2020-09-16 08:58] JorisGoosen commented on #972
Maybe JASP has been set as the default editor for csv/sav/??? files?

[2020-09-16 09:00] JorisGoosen commented on #918
hmm, maybe try `sudo flatpak install flathub-beta org.jaspstats.JASP`? That is what I usually do, hopefully that fixes it.
Otherwise I would like to see the output of `flatpak remotes`.

[2020-09-16 21:50] williamstome commented on #918
Oops! That worked.

Unfortunately, RM-ANOVAs are still a no-go, still just hang. :(

On Wed, Sep 16, 2020 at 3:00 AM Joris Goosen <notifications@github.com>
wrote:

--
--
Tom Williams, Ph.D.
----------------------------------------------------
Assistant Professor, Computer Science
Director, MIRRORLab <http://mirrorlab.mines.edu>
Colorado School of Mines
Golden, CO 80401, USA
https://people.mines.e

[2020-09-16 21:54] williamstome commented on #918
I see in my console "Failed to load module "canberra-gtk-module"" -- could
this be the problem?

On Wed, Sep 16, 2020 at 3:49 PM Tom Williams <thomasemryswilliams@gmail.com>
wrote:

--
--
Tom Williams, Ph.D.
----------------------------------------------------
Assistant Professor, Computer Science
Director, MIRRORLab <http://mirrorlab.mines.edu>
Colorado School of Mines
Golden, CO 80401, USA
https

[2020-09-16 22:49] JorisGoosen commented on #918
If you click the "sources" link in the about-box, could you paste the link you get here? To be sure you started the right JASP?

[2020-09-16 23:51] williamstome commented on #918
Version 0.14, Sep 10 2020. Sources link goes to "
https://github.com/jasp-stats/jasp-desktop/commit/f42db52f46e6f069157a874ab3c49ed377b8be49
"

On Wed, Sep 16, 2020 at 4:49 PM Joris Goosen <notifications@github.com>
wrote:

--
--
Tom Williams, Ph.D.
----------------------------------------------------
Assistant Professor, Computer Science
Director, MIRRORLab <http://mirrorlab.mines.edu>
Colorado S

[2020-09-17 09:53] varhelyiklara opened #975 "JASP not syncing after changes in csv (win7) - encoding related"
* JASP version: 0.13.1
* OS name and version: Windows 7 (64bit)
* Spreadsheet editor: Microsoft Excel 2016
* Analysis: synchronizing data

* Bug description:
JASP opens the CSV file (saved from Excel) without problem. But when we try to edit the data (double click on it in JASP - it opens the data in Excel - we make the changes needed - save in Excel - sync in JASP), JASP does not synchronize it.

[2020-09-17 10:12] JorisGoosen commented on #971
Maybe I should just adapt the libreoffice wxs/installer because it is an msi and does basically what we want.

[2020-09-17 11:01] JorisGoosen commented on #918
@JohnnyDoorn could you test out the beta as well and verify this? Because @williamstome did download the right beta and your fixes ought to be in there right?

@williamstome  the `Failed to load module "canberra-gtk-module"` always shows up on my screen as well, I don't think it matters.

[2020-09-17 22:54] varhelyiklara commented on #975
I want to give an update on the situation.

It turned out that the error in synchronization is present not only in Windows 7 but in Windows 10 as well. Several of my students has reported the same bug from different operation systems.

Now, we have a strong guess that the cause of the problem is the use of accented characters. In our language (Hungarian) we use a lot of accented characters, like á

[2020-09-18 09:16] boutinb commented on #944
Solved by https://github.com/jasp-stats/jasp-desktop/pull/4248

[2020-09-18 09:16] #944 closed

[2020-09-18 11:47] brunoverschuere commented on #967
@sophieberkhout as the average effect for the Bayesian isnt exactly the same as that of the Classic meta, I cannot use the forest plot generated by the Bayesian when reporting results of the classic meta. You think the ordering feature implemented in the Bayesian can also be implemented for the classic meta ?

[2020-09-18 12:10] boutinb commented on #959
@vankesteren Did you implement this in the new SEM version?

[2020-09-18 12:11] boutinb commented on #951
@JorisGoosen Could you answer this request?

[2020-09-18 12:13] boutinb commented on #970
@JohnnyDoorn Could you answer this request?

[2020-09-18 12:15] boutinb commented on #975
@varhelyiklara Could you send me a csv file where you get this problem?

[2020-09-18 12:25] sophieberkhout commented on #967
Sorry for the late reply. It should be possible to add this to the classical meta-analysis also.

@boutinb I will have a look at it, as it seems like it should not be that difficult to implement.

[2020-09-18 12:26] JohnnyDoorn commented on #970
Hi @saurabhr

If I am not mistaken, we use the Tukey method by default and not the bonferroni method.
Unfortunately this method cannot be specified in JASP, but it would be very nice to have this. This is mostly because multiple p-value corrections can be specified, so we would not know which specific one the user wants to use for the CIs.

Cheers
Johnny

[2020-09-18 13:09] JorisGoosen commented on #951
INSTALL_ROOT seems to be a Qt specific feature as this SO tells me: https://stackoverflow.com/questions/8360609/how-to-make-use-of-the-install-root-that-resides-in-generated-makefiles/13736063

@CdeMills can I ask why you are trying to install JASP 0.11 though?
Have you tried newer versions?

It does seems that INSTALLPATH is not used correctly by our qmake files indeed.
I've made a quick change a

[2020-09-18 15:08] lucy-faure opened #976 "Jasp data import from Calc"
JASP version: 0.13.1.0
* OS name and version: Windows 10 company

![Photo des colonnes problématiques sur Jasp](https://user-images.githubusercontent.com/71496592/93613420-22781e80-f9d1-11ea-9530-927fefaf177b.PNG)

Bug description:

Hello, I've created an online questionnaire using a Jalios questionnaire module. In it, I have questions for which the participant may have put several answers. I have

[2020-09-18 17:11] VRossier opened #977 "Jasp doesn't run"
Hello,

I've got a problem with Jasp.
I use a PC with Windows 7, 64 bits. I downloaded the 64 bit version of Jasp 0.13.1 and installed it.

When I try to make it run, my PC seems to try during 2 ou 3 seconds (the mouse curser turns around) then nothing happens. There isn't even any window that opens.

I tried to uninstall and install again many times, and to restart my PC, but nothing works.

Do y

[2020-09-19 04:52] varhelyiklara commented on #975
[stathelp_JASPBev_bsciadatok_02_NYERS.zip](https://github.com/jasp-stats/jasp-issues/files/5249100/stathelp_JASPBev_bsciadatok_02_NYERS.zip)

Thank you for looking into this!

There are two parts of this error
1) the bigger issue is the error of sync 2) the smaller one is that JASP did not displays accented characters in variable names correctly in the data interface and in the results.

Out of my

[2020-09-19 09:02] Golden-Retriever-1 opened #978 "Bayesian correlation matrix: Issue of Bayesian correlation matrix plot"
* JASP version: 0.13.1

* OS name and version: macOS Catalina 10.15.6
* Analysis:
* Bug description: Regression --> Bayesian correlation
* Expected behaviour: Getting results in the area of plots --> correlation matrix, densities for variables, posteriors under H1

#### Steps to reproduce:
1. Go to 'Bayesian correlation'
2. Click on 'Additional options --> Select all' & 'Plots --> Select all'
3. S

[2020-09-19 09:12] Golden-Retriever-1 opened #979 "Feature request: Bayesian correlation matrix – nice to add: a tabular Bayesian correlation matrix"
* Enhancement: Adding a tabular Bayesian correlation matrix to the analyses options
* Purpose: Showing a tabular correlation matrix of Bayesian correlations to the users as the users knows the tabular format from their statistics lectures, text books, etc.
* Use-case: Several in data analysis. Tabular correlation matrices give the user a very good overview over pairs of correlations.

**Is your fe

[2020-09-19 15:54] Lumossssss opened #980 "Error in the three-way Bayesian repeated-measures ANOVA: undefined columns selected"
Hi Johnny, @JohnnyDoorn

- JASP version: 0.13.1.0-64bit for Windows
- OS: Windows 10
- Analysis: Running post-hoc tests for a three-way Bayesian repeated-measures ANOVA
- Bug description: I was doing a 4 x 4 x 3 three-way Bayesian repeated-measures ANOVA. The Bayes factors could be calculated normally, but when I tried to add the post-hoc tests, the following error showed up.
There was no problem

[2020-09-19 16:23] Lumossssss commented on #980
There was no problem when I did the three two-way Bayesian repeated-measures ANOVA.

[2020-09-19 16:29] Lumossssss commented on #506
Hey I met the same problem now. Do you think it has already been solved? Thanks.

[2020-09-19 18:54] Lumossssss opened #981 "Error in post-hoc analysis of Bayesian Repeated Measures ANOVA"
* JASP version: 0.13.1.0-64bit for Windows

* OS name and version: Win10
* Analysis: Two-way Bayesian repeated-measures ANOVA
* Bug description: When doing post-hoc tests, the following error showed up
![image](https://user-images.githubusercontent.com/69629203/93686792-8bad6f80-fa6d-11ea-897d-7663fefc7fd8.png)

* Expected behaviour: results of post-hoc tests should appear

#### Steps to reproduce

[2020-09-19 19:05] mengsili opened #982 "Error in the three-way Bayesian repeated measures ANOVA: undefined columns selected"
* JASP version: 0.13.1.0-64bit for Windows

* OS name and version: WIN10
* Analysis: Three-way Bayesian repeated measures ANOVA
* Bug description:
I was doing a 4 x 4 x 3 three-way Bayesian repeated-measures ANOVA. The Bayes factors could be calculated normally, but when I tried to add the descriptive results or the post-hoc tests, the following error showed up.
![image](https://user-images.github

[2020-09-19 19:06] #980 closed

[2020-09-20 02:47] sharmajee499 opened #983 "Confidence Level Not Showing for Cronbach's Alpha"
* JASP version: 0.13.1

* OS name and version: Windows 10
* Analysis: Reliability Analysis
* Bug description: The reliability Analysis part is not showing the Confidence Level for Cronbach's Alpha part.
* Expected behaviour: To show the confidence level for cronbach alpha.
![issue_JASP](https://user-images.githubusercontent.com/33268514/93693156-985bb300-fac1-11ea-9c5e-639178615e89.jpg)

[2020-09-20 21:02] varhelyiklara commented on #975
One more update:
In my previous message, I wrote that only win7 systems are affected. Since then some of my students with win10 also reported the bug in sync.

(I'm so sorry for the inconsistencies in my updates, my students were trying out JASP in these two weeks and it continuously changes what I know about this issue as they write to me about the problems they encountered using JASP)

[2020-09-21 08:21] juliuspf commented on #983
Duplicate of https://github.com/jasp-stats/jasp-issues/issues/888

[2020-09-21 08:23] juliuspf commented on #983
The latest nightlies fix this issue (https://static.jasp-stats.org/Nightlies/). For the official release, you have to wait for 0.14 unfortunately :(

[2020-09-21 10:45] audraq opened #984 "EFA and CFA not allowing variables to be added"
* JASP version: 0.13.1

* OS name and version: Catalina 10.15.4
* Analysis: EFA and CFA
* Bug description: After successfully uploading data, the EFA and CFA sections do not allow me to add variables. I cannot drag them over or use the arrow button (it is greyed out).
[CleanedSatisFromR-updated 9-21-20.csv.zip](https://github.com/jasp-stats/jasp-issues/files/5254828/CleanedSatisFromR-updated.9-21-

[2020-09-21 11:36] bendrury87 opened #985 "Error with effect size calculation during post-hoc testing for repeated ANOVA"
* JASP version: 11.1

* OS name and version: Windows 10
* Analysis: effect sizes for post-hoc tests are all coming out as the same.
* Bug description: effect sizes are not being calculated correctly during post-hoc testing of an repeated ANOVA.
* Expected behaviour: for effect sizes to be shown for each comparison (i.e. rep 1 vs rep 2, 3, 4, 5, 6).

#### Steps to reproduce:
1. Go to '...'
2. Click

[2020-09-21 11:43] sharmajee499 commented on #983
Thank you so much

[2020-09-21 11:43] #983 closed

[2020-09-22 09:36] boutinb commented on #975
Hi @varhelyiklara I have already one explanation about the problem with the accented characters: Excel has the bad habit to transform files written with UTF8 encoding to an ANSI encoding. So when you save the file, you have to be careful to choose Save As with the right format. Depending of the Excel version, you have CSV (UTF8), which is fine. On my PC, I have only Text format (Unicode), that tra

[2020-09-22 12:05] JohnnyDoorn commented on #918
I tested with the albumsales.csv data set linked earlier this thread, and my ANOVA is finished in a couple of seconds in 0.14 (Ubunu, flatpak beta).
However, the RM ANOVA still takes very long on that data set (10,000 rows), but I am not sure if this was any better in the previous JASP version (due to the lm() function being slow).

[2020-09-22 14:28] boutinb commented on #976
JASP is not suited to display a cell with a lot of text inside. But the question is why you would do that? This cell cannot be used like that in an analyse anyway: it must be first parsed. For example the question 'Quels outils..' could be transposed to have as many columns as possible answer, and just a boolean yes/no as result. This transformation of your data must be first done before using JAS

[2020-09-22 14:47] boutinb commented on #977
Hello Virginie,
That is really annoying...
Would it be possible to start a Command Prompt (Type cmd in the Search field), and type the following:
`"c:\Program Files\JASP\JASP.exe" > log.txt`
Then send me the log.txt file (in zip format)?

[2020-09-22 14:48] boutinb commented on #978
Could you send us the JASP file or the data (in a zipped format)?

[2020-09-22 14:49] boutinb commented on #979
@EJWagenmakers What do you think?

[2020-09-22 15:14] Golden-Retriever-1 commented on #979
Dear all,

I am glad about your answer. I have to add this just for formality reasons. Can I be sure that the research data remain confidential?

Kind regards,
Daniela
__________________________________________________________

Dr. rer. nat. Daniela Schmid | Human Factors scientist and psychologist | Germany
daniela.schmid64@icloud.com

[2020-09-22 15:40] EJWagenmakers commented on #979
1. Yes we do not collect any data (see also our FAQ online)
2. "The variables on the rows and columns of a correlation matrix as usual. Inside the cells several parameters can be displayed per correlation matrix such as Pearson's r with the BF below, and the lower and upper 95% interval below. I am sure it is easy to find a way to display a Bayesian tabular correlation matrix." -> this is exactly

[2020-09-22 15:40] #979 closed

[2020-09-22 15:56] boutinb commented on #978
If you want to send safely the data, send it directly to me: b.boutinATuva.nl

[2020-09-22 16:10] Golden-Retriever-1 commented on #979
Dear all,

This is not what I was asking for.

I was asking for a correlation matrix as used to in factor analyses and PCA:

Item 1 Item 2 Item 3 Item 4
Item 2
Item 3
Item 4

Kind regards,
Daniela

[2020-09-22 16:16] Golden-Retriever-1 opened #986 "Feature request: Bayesian correlation matrix – nice to add: a tabular Bayesian correlation matrix with specific example"
Adding a tabular Bayesian correlation matrix to the analyses options as used to from factor analyses and PCAs
* Enhancement: Visual analyses of a simple Bayesian correlation matrix made possible
* Purpose: Showing a tabular correlation matrix of Bayesian correlations to the users as the users knows the tabular format from their statistics lectures, text books, etc.
* Use-case:Several in data analy

[2020-09-22 16:21] Golden-Retriever-1 commented on #978
Is the data file for sure required to solve the issue? It is not even a huge data file – there is nothing special about the data which is why I do not like to forward it. I am never keen on giving anyone my research data. Sorry, but this is just a general caution regarding data security.

[2020-09-22 17:13] vandenman commented on #978
@Golden-Retriever-1 there is no need to share the data if the issue is not specific to the data (i.e., you can reproduce it with other data sets). However, very often a jasp file provides us with more information than what is posted in an issue. For example, I could not replicate the issue on Ubuntu 18.04. Maybe the issue is specific to macOS?

It's perfectly fine if you don't want to share the da

[2020-09-22 17:17] Golden-Retriever-1 commented on #978
Thank you very much. This is of interest: Does JASP provide the possibility to generate and retrieve a log-file which I could forward to you?

[2020-09-22 17:24] vandenman commented on #978
In the menu, go to `Preferences` -> `Advanced` -> `Logging options`.

![image](https://user-images.githubusercontent.com/21319932/93915686-ae0ee980-fd08-11ea-800a-313afcd5b6f8.png)

If you open the log directory there will be one log for the desktop and one for each engine you have running (usually 4 if I remember correctly):

![image](https://user-images.githubusercontent.com/21319932/93915945-0f

[2020-09-23 00:58] romanogino opened #987 "JASP Plots looking strange"
* JASP version: 0.13.1

* OS name and version: Windows 10
* Analysis:  Very good software!!
* Bug description: Open file, then go to Descriptive/ activate variable and then Plot/ See errors in the letters are overlapping, the pie chart is not centered. Finally, when I tried to send my file here, this web page did not recognize the file type.
[PLEASE DELETE..txt](https://github.com/jasp-stats/jasp-

[2020-09-23 06:54] boutinb commented on #984
This is quite strange... I cannot reproduce it even with your data... Just to be sure: only scale data are allowed to be added.
Can you send me a screenshot of how it looks like?

[2020-09-23 07:16] vandenman commented on #987
Hi @romanogino and thanks for the report! Unfortunately, GitHub only accepts zip files as attachments. You can upload images though (e.g., screenshots). Does your problem look somewhat like this?

![image](https://user-images.githubusercontent.com/21319932/93978952-0089ed80-fd7d-11ea-95e1-19d19226c79a.png)

[2020-09-23 09:40] #957 closed

[2020-09-23 12:54] VRossier commented on #977
Hello,
Thank you for your answer.
I tried to type this command in cmd and it's doing exactly the same : my mouse curser turns and nothing happen.
I tried to type this command with an other programm to see what should happen and it works with this other programm : it opens directly after the command.

I've got a new information to add : I tried every version of Jasp form the most recent to the anci

[2020-09-23 13:48] audraq commented on #984
Hi Bruno!
It does seem to be that the problem is with ordinal variables. I was able to add the continuous variables. Not sure if this captures it, but screen shots are included below. Thanks in advance for any assistance you can offer!

[A screenshot of a cell phone  Description automatically generated][A screenshot of a cell phone  Description automatically generated]

From: bruno boutin <notific

[2020-09-23 14:02] romanogino commented on #987
![2020-09-23_085413](https://user-images.githubusercontent.com/1270242/94022351-a0924780-fd7a-11ea-8027-a145a7b95978.jpg)
![2020-09-23_085447](https://user-images.githubusercontent.com/1270242/94022368-a6882880-fd7a-11ea-98aa-e56af1b2d56f.jpg)

The file is not mine, so I can not upload it, but there are two screen captured. I am using Likert scale, with spanish languague. I could send by email the

[2020-09-23 15:42] JorisGoosen commented on #977
@VRossier could you instead of the previous advice by my esteemed colleague try to start JASP as following: `C:\Program Files\JASP\JASP.exe --logToFile`

Then you can find some logfiles in (supposing your username is "VRossier") `C:\Users\VRossier\AppData\Roaming\JASP\JASP\Logs`

If you could zip all of those and attach them here that would be incredibly helpful.

[2020-09-23 15:44] #973 closed

[2020-09-23 15:44] #962 closed

[2020-09-23 17:42] VRossier commented on #977
Hello,

Thank you for the advice. I tried it.

The first proposition gave me this message : **"C:\Program" n'est pas reconnu en tant que commande interne ou externe, un programme exécutable ou un fichier de commandes**
_C:\Program" is not recognized as an internal or external command, executable program or command file._

The second try gave me this message : **Le chemin d'accès spécifié est intro

[2020-09-23 19:51] JorisGoosen commented on #977
Aah, yeah that is my fault, excusez moi! (Also for my french ;))

If you could open the command-prompt and try out:
`"C:\Program Files\JASP\JASP.exe" --logToFile`
And If that fails:
`"C:\Program Files (x86)\JASP\JASP.exe" --logToFile`

[2020-09-24 06:36] boutinb commented on #984
Hi @audraq I don't see the screenshot. But as I said, only scale data cab be added in the Variables list, no ordinal. The type of the columns is guessed by JASP when you load the csv file. But you can still change this type on clicking on the type icon at the top of the column in the data panel:
<img width="357" alt="Screen Shot 2020-09-24 at 08 36 02" src="https://user-images.githubusercontent.co

[2020-09-24 10:14] boutinb commented on #977
Hi @VRossier ,
What is your username on your PC? Is there a space or an accent like é or è?

[2020-09-24 13:59] audraq commented on #984
Hi Bruno – Okay that worked! But it’s strange because I’ve used this same data many months ago doing the same thing and didn’t have to change the variables like that. Did something change? Regardless, thank you so very much for the assistance!! Greatly appreciate it.

From: bruno boutin <notifications@github.com>
Reply-To: jasp-stats/jasp-issues <reply@reply.github.com>
Date: Thursday, September 2

[2020-09-24 14:35] boutinb commented on #984
JASP makes just a guess about the types of the columns. If the values of one column are all integers, and have only 2 different values, then its type is set to nominal, if it has less than 10 different values (this threshold can be changed in preferences/data  by setting the 'Import threshold between Categorical or Scale' checkbox) then it is considered to be ordinal, otherwise it is a scale.
But

[2020-09-24 14:35] #984 closed

[2020-09-24 16:02] romanogino opened #988 "Linear modeling unexpected"
* JASP version: 0.13.1

* OS name and version: Windows 10 2004
* Analysis: very good software!! This bug report is to improve the software.
* Bug description: Linear modeling not working with Likert scale (ordinal transformed to scale) or maybe spanish language.
![2020-09-24_103400](https://user-images.githubusercontent.com/1270242/94167457-259c6000-fe52-11ea-8f40-530c5f432983.jpg)

* Expected beh

[2020-09-24 19:57] VRossier commented on #977
Good evening,

There is no space nore accent in my username (FitsyTosh).

I tried to the last command but each time I had the _"Le chemin d'accès spécifié est introuvable."_ message.

[2020-09-25 11:10] JorisGoosen commented on #977
Well, it is too bad that JASP won't start the way we are specifying it.
I guess we should first make sure we are in the right directory.

Where did you install JASP?
We are guessing it is either in "C:\Program Files\JASP" or "C:\Program Files (x86)\JASP" but it would be good to be sure.

Once we know which directory it is in we can test something else.

Suppose your JASP is installed in "C:\Progra

[2020-09-25 13:21] VRossier commented on #977
Jasp is installed in C:\Program Files\JASP\JASP.exe on my computer.

When I do the last command you wrote, after having written the first line and pressed enter, instead of
_C:\users\Fitsy_
it is written
_C:\Program Files\JASP_

But then I write _JASP.exe --logToFile --safeGraphics_ and it doesn't do anything.

[2020-09-25 13:53] boutinb commented on #977
Do you see some log files in C:\Users\FitsyTosh\AppData\Roaming\JASP\JASP\Logs
or in C:\Users\Fitsy\AppData\Roaming\JASP\JASP\Logs

[2020-09-25 13:59] VRossier commented on #977
No, when I put this file name in my computer, it say that "Window doesn't manage to find "C:\Users\Fitsy\AppData\Roaming\JASP\JASP\Logs"

But I found a .txt file in an other document book and it says :
_Setting special options for software rendering (aka safe graphics).
Making new argument list for Application startup: c:\Program Files\JASP\JASP.exe --disable-gpu
Starting JASP_

[2020-09-25 14:12] JorisGoosen commented on #977
What is this file called?

[2020-09-25 14:15] VRossier commented on #977
It is called just log.txt and it is located in _C:\Users\Fitsy_ directly.

[2020-09-25 14:36] JorisGoosen commented on #977
Aah yeah, that is the file that you made with Bruno's advice from: https://github.com/jasp-stats/jasp-issues/issues/977#issuecomment-696770490

And apparently it is running in safe graphics mode already, and crashes very quickly...

Hmm, maybe you could try out the beta-version of the new release we are working on: https://static.jasp-stats.org/Nightlies/Windows/JASP-nightly-stable-711c3bb44e548d6

[2020-09-25 15:58] audraq commented on #984
Hi again, Bruno- really sorry to bug you again, but I am so confused why I’m having another problem that didn’t happen last time I used JASP for this same analysis. When I try to use “Maximum Likelihood” as the estimation method, I get the following error: “Estimation failed. Internal error message: L-BFGS-B needs infinite values of ‘fn’ … see screenshot below. I had no problems using this same es

[2020-09-25 18:20] VRossier commented on #977
Thank you. But it doesn't work neither.

I probably could make it with the 0.9.2.0 version but the point is: I will have to teach some psychologist students to do statistics with Jasp and I fear two different things :
- The differences that there could be between what I show them with my computer and what they have on their own computers with the newest version.
- The fact that some students may n

[2020-09-26 00:32] JorisGoosen commented on #977
Hmm, this is too bad. I think it would be good to figure out what could be going wrong on your system because it seems there is something so wrong JASP cannot even give us useful info about it. For this we can make a special version that tells us way more, that way we can see at what point it breaks on your computer.

I would honestly counsel against using the 0.9.2 version. Not only have we compl

[2020-09-28 11:11] JorisGoosen commented on #977
So I've made a new version of our development JASP: http://static.jasp-stats.org/Nightlies/Windows/JASP-nightly-stable-f0250e8611db1cce9fdb0bebd0147717ef35c5ab.msi

If you, @VRossier, could install this one and start it like: `"c:\Program Files\JASP\JASP.exe" > log_extra.txt`
And then attach that "log_extra.txt" file here we can see if we can pinpoint the problem.

[2020-09-28 12:09] boutinb commented on #984
Hi @audraq Can you use the GitHub Website to answer and to send files. If not, I cannot see the file.

[2020-09-28 12:10] #972 closed

[2020-09-28 12:38] VRossier commented on #977
Hello,

Thank you for having made this new version.
Here is the log-extra.txt file in attachment.

Virginie
[log_extra.txt](https://github.com/jasp-stats/jasp-issues/files/5292239/log_extra.txt)

[2020-09-28 12:48] boutinb commented on #975
Hi @varhelyiklara Did you try the UTF8 setting in Excel?

[2020-09-28 14:06] JorisGoosen commented on #977
Hello Virginie, thank you for testing it!

I've made another version that logs even more: https://static.jasp-stats.org/Nightlies/Windows/JASP-nightly-stable-8573ce8ba8db807294e901bd7957bbd9148d4b9d.msi

If you could run that again as:
`"c:\Program Files\JASP\JASP.exe" > log_extra.txt`

And, if this time some log files have appeared in either `C:\Users\FitsyTosh\AppData\Roaming\JASP\JASP\Logs`
or

[2020-09-28 14:08] dustinfife commented on #320
I'm trying to follow @JorisGoosen's advice:

"A workaround would be to specify a computed column of type Ordinal and simply referring to the character variable in it. So if the character variable is called X the computed column would have the RCode X. That should give you an ordered factor."

Here's my situation: I have a variable that should be ordinal, with 4 levels:

![image](https://user-image

[2020-09-28 14:53] JorisGoosen commented on #320
Hehehe, yeah something is going wrong in your example for sure. You are repeating `ifElse` several times, but each one gives a value. So it now only check the last one, which is giving 2 for "50-75K" and 0 for the rest.
This because the four statements are evaluated in order and then, like always in R, the last value is used as the return-value.

This code should work on the other hand (and you al

[2020-09-28 14:56] JorisGoosen commented on #320
Aah... `switch` is not whitelisted...

[2020-09-28 14:57] dustinfife commented on #320
Also, I found `factor` works:

`factor(income, levels=c("<50K", "50-75K", "75-100K", ">100K"), labels=c(1,2,3,4))`

[2020-09-28 15:09] JorisGoosen commented on #320
That looks much cleaner

[2020-09-28 15:10] JorisGoosen commented on #320
And being able to edit the data in JASP would be good and we will be working on that, soonish anyway.

[2020-09-28 15:39] dustinfife commented on #320
Thanks!

[2020-09-29 08:36] meterfiller opened #989 "First factor not showing up in meta-analysis"
* JASP version: 0.13.1

* OS name and version: Windows 10, all updates as of Sept 29, 2020
* Analysis: Meta-Analysis
* Bug description: When I put a factor variable (with n=4 factors, for example) into my meta-analysis, it shows the coefficients for only n-1 factors. So for example when my factor has 4 levels, it shows me factor 2,3,4, but not 1.
* Expected behaviour: When I've used JASP for meta

[2020-09-29 10:09] boutinb commented on #985
Could you send a JASP file (in zip format, via GitHub) that shows this problem?

[2020-09-29 10:11] boutinb commented on #988
Hi @dustinfife, can you have a look to this issue?

[2020-09-29 10:13] boutinb commented on #989
@sophieberkhout Can you have a look also to this issue?

[2020-09-29 12:31] lucy-faure commented on #976
Indeed, that's also what I thought when I thought about it at length. Thank you for taking the time to answer me !

[2020-09-29 12:31] #976 closed

[2020-09-29 12:58] dustinfife commented on #689
The issue was the spacing in the variable names. Visual modeling wasn't properly encoding the names of the variables. That is fixed in [this commit](https://github.com/dustinfife/flexplot/commit/ec34711a8b24740e45441317ff0b508747c2441e) in flexplot

[2020-09-29 12:59] dustinfife commented on #988
Thanks, @boutinb. This is the same problem as issue #689. Apparently, I fixed it in Flexplot, but not in Linear Modeling (or Mixed or Generalized).

I'll see if I can fix that today.

[2020-09-29 13:13] modelistatistik commented on #689
Thanks for solving.

Best regards,

Bu mesaj ve ekleri mesajda gönderildiği belirtilen kişi/kişilere özeldir ve
gizlidir. Bu mesajın muhatabı olmamanıza rağmen tarafınıza ulaşmış olması
halinde mesaj içeriğinin gizliliği ve bu gizlilik yükümlülüğüne uyulması
zorunluluğu tarafınız için de söz konusudur. Mesaj ve eklerinde yer alan
bilgilerin doğruluğu ve güncelliği konusunda gönderenin ya da şirket

[2020-09-29 13:27] idhussain commented on #342
@EJWagenmakers @JohnnyDoorn @TimKDJ

I request you to please add this feature. Following a procedure on how it is done with R (In post hoc test, we need letter-based raking of means).

$statistics
    Mean      CV  MSerror     LSD
  27.625 17.1666 22.48917 13.4704

$parameters
  Df ntr bonferroni alpha       test name.t
   8   4   3.478879  0.05 bonferroni  virus

$means
      yield      std r

[2020-09-29 14:19] VRossier commented on #977
Hello,

Here is the new file _log extra.txt_

Ps : I don't have any file named "AppData". These files .txt appear directly in c:\Users\Fitsy

[log_extra.txt](https://github.com/jasp-stats/jasp-issues/files/5299656/log_extra.txt)

[2020-09-29 15:22] JorisGoosen commented on #977
Aah, and this is with the newly installed version?

Hmm...

The "AppData" folder is hidden by default, if you go to the "View" tab in explorer you can select "Hidden Items" like so:
![image](https://user-images.githubusercontent.com/29062713/94578775-65ab7a80-0278-11eb-953d-bd414b5811f8.png)

[2020-09-29 15:30] VRossier commented on #977
Yes, it's with the last version.

I found this folder : "C:\Users\Fitsy\AppData\Roaming" but there isn't any Jasp folder in it...
Does the problem come from there ?

[2020-09-29 16:24] JorisGoosen commented on #977
No it seems JASP crashes before it even starts making those logs..

But that is pinpointing the problem a bit, I'll see if I can make an even more specific version of JASP.

[2020-09-29 21:26] dustinfife commented on #988
This issue should now be fixed via [this pull request](https://github.com/dustinfife/flexplot/pull/61).

[2020-09-30 08:10] boutinb commented on #988
@dustinfife This merge changes 140 files... But I suppose that only the R files were changed to fix this issue.

[2020-09-30 12:29] dustinfife commented on #988
Most of these changes you guys have already seen. Previously, I was having
you update from the development branch. I just merged the development with
the master branch. Also, a lot of these files are just images from my unit
tests.

On Wed, Sep 30, 2020 at 4:10 AM bruno boutin <notifications@github.com>
wrote:

--
Dustin Fife

YouTube: https://bit.ly/2sLMN2t

Website: http://www.quantpsych.net

[2020-09-30 13:14] vandenman commented on #987
A solution for the first issue is resizing the figure. If you hover over the figure there a small triangle should appear in the bottom right. If you click it you can resize the figure.

For the second figure, I'm afraid that the only thing you can do right now to make the figure legible is to shortening or abbreviate the names of the categories.

Let me know if that solves the problem.

[2020-09-30 15:35] romanogino commented on #987
Thanks for the advice. I will do it. I just reported the issue.
Best regards.
r.

[2020-09-30 15:35] #987 closed

[2020-09-30 17:41] cte4 opened #990 "File Problem"
I have Jasp downloaded, but when I go to open a file they are there but I am not allowed to click on them.  I can not select a file.

[2020-10-01 07:32] vandenman commented on #981
Thanks for reporting the issue! I've fixed this in the pull request linked above. Once that is merged into the codebase I will let you know. If you want you can, at that time, use a nightly version of JASP where the error does not occur.

[2020-10-01 07:32] boutinb commented on #990
Which kind of file you want to open? JASP can open file of type (filename ending with) .jasp .csv .txt .tsv .sav .ods .dta .por .sas7bdat .sas7bcat  and .xpt.

[2020-10-01 08:19] vandenman commented on #961
Sorry for taking so long to reply.

It's indeed true that you can't use more variables than there are observations in the data set. However, the error message about missing values is rather inaccurate.

The changes in the PR linked above hopefully make the error message a bit more informative (on the left is the old error message, on the right the new one):
![image](https://user-images.githubuserc

[2020-10-01 08:31] robkoper commented on #961
Yes, this will help, thanks!
Rob

[2020-10-01 10:06] kornbrot commented on #969
did not mean to close this
still eager to be able to use Bayes generalized linea with binomial aggregate
Believe it is in internal test.
Some context:
Am using 21 real data sets to show 'best' analytic methods for frequency data that is ireally proportions in that for each condtion and participatn frequency is out of Nmax opportunities. so p =freq/Nmax.
Original plan was to compare standard ANOVA

[2020-10-01 10:36] JorisGoosen commented on #977
Hello @VRossier

I've created another version that should make it clear at which part JASP breaks during startup: http://static.jasp-stats.org/Nightlies/Windows/JASP-nightly-stable-195c688b1c157b562b56cd032235612e42a62238.msi

Would you be so kind as to try it out?
Narrowing down where the problem occurs would still be quite helpful of course and I hope we haven't bored you to death yet with all t

[2020-10-01 14:09] tomtomme opened #991 "Add nominal / ordinal vars with jitter to scatterplot"
Feature-Request

If I want to plot 3 variables at once in one coordinate-system I have 2 possibilities with JASP 0.13.1
1. Visual Modelling (Beta) => Mixed Modeling
2. Descriptive => Scatter Plots

Both have problems or differnt missing features:
For 1 I cannot disable the regression line & the color pallette uses a very light yellow, thats barely visible
For 2 I can only add metric variables unde

[2020-10-01 14:33] OliverSchultheiss opened #992 "Can't view on or donwload JASP files from OSF"
* JASP version: 13

* OS name and version: Windows 10
* Analysis: Any
* Bug description: Can't view or open JASP files on OSF
* Expected behaviour: JASP files should be viewable and I should be able to open them after downloading from OSF

#### Steps to reproduce:
1. Go to https://osf.io/84usb/
2. Click on MotAct_Rep_All_JASP_results_part_1.jasp
3. See error: File can't be viewed in OSF. If you tr

[2020-10-01 15:49] JorisGoosen opened #993 "Add a verification to JASP files"
Sometimes things go wrong while saving JASP files but we have no way of checking for this in JASP right now.

I think we should add a verification to each JASP file, so that we can be sure that the entire file was uploaded to OSF, for instance.

This could maybe be done through `libarchive` which we use to zip the data etc, or by adding a sha256-checksum or something for the important contents of

[2020-10-01 16:09] MAALKAN opened #994 "Bayesian Generalised Linear Model (GZLM), for dependent data that include a binary outcome"
* Enhancement: Generalised Linear (GZLM) for binary logistic events/trials data.
* Purpose: Analysing binary data (with a fixed number of trials) where the DV is not normally distributed
* Use-case:  PhD Thesis

**Is your feature request related to a problem? Please describe.**

Yes. Instead of using a chi-square, SPSS gives the option to compute a GLZm for events/trials data.  I would like to use

[2020-10-01 16:10] JorisGoosen commented on #992
As far as OSF go I will see if we can get back in contact with them on how the file should be rendered because it is disappointing the larger files don't work.

[2020-10-01 17:09] JorisGoosen commented on #992
Well, to test this I've just installed the x64 version of 13.1 here on my own windows 10 laptop.
So I'm guessing that that won't be the difference.

Maybe you could help me out a bit and upload the logfiles for JASP? Maybe I can see something there that explains why your JASP crashes while mine chugs on happily.

In case you do not know where or how to get to these logfiles: Logging to file can be

[2020-10-01 18:25] OliverSchultheiss commented on #992
I did what you suggested (after getting the kids to go to bed – sorry for the wait). I’ve attached the zipped log files.

I hope this will give you some clues.

Best wishes,
Oliver

**************************************************************************************************
Oliver C. Schultheiss, Dr. phil.
Professor of Psychology
Chair for Experimental Psychology, Motivation, and Affective N

[2020-10-01 19:15] JorisGoosen commented on #992
Aah thank you, and no worries about any wait. I'm not really working right now, mostly doing household stuff and playing videogames atm.

But, as far as the attached files go, I'm sorry, but you'll actually have to go to the issue at https://github.com/jasp-stats/jasp-issues/issues/992 because GitHub works quite well for normal email-replies but it won't upload attached files from email to this is

[2020-10-02 04:01] romanogino opened #995 "Multinomial test"
* JASP version:

* OS name and version:
* Analysis:
* Bug description:
* Expected behaviour:

#### Steps to reproduce:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

[2020-10-02 04:03] romanogino opened #996 "Multinomial test issue"
* JASP version: 0.13.1

* OS name and version: Windows 10 2004
* Analysis:
* Bug description: Multinomial test issue
* Expected behaviour: table but something happen
![2020-10-01_225802](https://user-images.githubusercontent.com/1270242/94886850-41979700-043a-11eb-9a41-a5cb947fa667.jpg)
![2020-10-01_225722](https://user-images.githubusercontent.com/1270242/94886859-452b1e00-043a-11eb-9aef-3bd17cf0

[2020-10-02 04:04] #995 closed

[2020-10-02 06:35] OliverSchultheiss commented on #992
[
[Logs.zip](https://github.com/jasp-stats/jasp-issues/files/5316300/Logs.zip)
](url)

[2020-10-02 06:36] OliverSchultheiss commented on #992
Hi Joris,
Hi Joris,

Hope this works...

Oliver

[2020-10-02 10:44] JorisGoosen commented on #992
Hallo Oliver,

This worked fine, I'm not sure why you closed the issue though, but I'll reopen it for you.

[2020-10-02 10:54] OliverSchultheiss commented on #992
Sorry – my bad. Didn’t realize that I closed it…

Oliver

**************************************************************************************************
Oliver C. Schultheiss, Dr. phil.
Professor of Psychology
Chair for Experimental Psychology, Motivation, and Affective Neuroscience
Institute of Psychology
Friedrich-Alexander University
Nägelsbachstr. 49 b
91052 Erlangen
Germany
Email: Oliver.

[2020-10-02 11:10] JorisGoosen commented on #992
Hmm, the log seems to indicate that the downloading of the file actually works, and it initializes all of your analyses.
But then after that one of the engines crashes. Also a colleague of mine had the same problem with the 0.13.1 version on linux.

We are currently in the testing phase of releasing 0.14 and opening the file seems to work fine with that.
Perhaps you could give a beta-version a try

[2020-10-02 11:15] JorisGoosen commented on #993
Aah and a good point by @vandenman is that we should of course also check if what JASP just uploaded to OSF has uploaded correctly. Maybe we could ask OSF for a checksum so that we don't have to download twice?

The api docs don't really seem to include that but it would be good to verify we actually notice [Errors & Errorcodes](https://developer.osf.io/#tag/Errors-and-Error-Codes)

[2020-10-02 11:17] JorisGoosen commented on #993
We could also add this verification to https://github.com/CenterForOpenScience/modular-file-renderer/blob/8642b707b7a8fa1d7c90fb217447faa439bd57ec/mfr/extensions/jasp/render.py

[2020-10-02 12:09] boutinb commented on #988
Hi @romanogino This issue should be fixed in this version: http://static.jasp-stats.org/Nightlies/Windows/JASP-nightly-stable-68ae0c9f7170144645e4d51ee3f963306ac7d4ab.msi (this version is not signed yet, so you should get warning from Windows)
Can you try it?

[2020-10-02 12:22] boutinb commented on #986
@vandenman what do you think about this request?

[2020-10-02 12:23] boutinb commented on #991
@vandenman I think this is something that could be done with the plot editing project?

[2020-10-02 12:26] boutinb commented on #994
@EJWagenmakers What do you think about this request?

[2020-10-02 12:26] boutinb commented on #996
@Kucharssim Can you have a look?

[2020-10-02 12:32] EJWagenmakers commented on #994
We do have Bayesian GLMMs in JASP (under mixed models), just not with Bayes factors. This is definitely something we would like to add!
E.J.

[2020-10-02 12:38] vandenman commented on #991
@boutinb this is probably not suited for plot editing (at least not in the near future).

[2020-10-02 12:42] boutinb commented on #991
Or could @dustinfife add this feature in his package?

[2020-10-02 12:44] vandenman commented on #986
@Golden-Retriever-1 I'm not sure how this is different from the current Bayesian correlation, could you provide another example?

Currently, we provide these two views of the correlation matrix:

![image](https://user-images.githubusercontent.com/21319932/94924230-700a8600-04bd-11eb-9e54-1d46e637e07b.png)

![image](https://user-images.githubusercontent.com/21319932/94924282-831d5600-04bd-11eb-8044

[2020-10-02 12:44] vandenman commented on #991
that's one option. we could also add jitter to descriptives though (and allow ordinal/ nominal variables)

[2020-10-02 12:48] dustinfife commented on #991
I’m happy to add these features to my module. It would be trivially easy to
do so.

On Fri, Oct 2, 2020 at 8:45 AM Don van den Bergh <notifications@github.com>
wrote:

--
Dustin Fife

YouTube: https://bit.ly/2sLMN2t

Website: http://www.quantpsych.net

[2020-10-02 14:28] Golden-Retriever-1 commented on #986
It provides the standard layout format from textbooks and aggregates the information of one correlation in a lovely cell!

[2020-10-02 14:42] romanogino commented on #988
I tried to install it in the actual folder for JASP, but the installation process crashed begining. In a new folder in other directory there was no problem at all with the installation.
![2020-10-02_093539](https://user-images.githubusercontent.com/1270242/94935638-ea71e080-0492-11eb-9893-41fbdd74bc6c.jpg)
I tried to did the multinomial test as before, but the issue is still there.
![2020-10-02_09

[2020-10-02 14:51] vandenman commented on #986
something like this?

![image](https://user-images.githubusercontent.com/21319932/94936387-75240100-04ce-11eb-90e0-01a727877d47.png)

you can obtain something like that by unticking `Report Bayes factors`:

![image](https://user-images.githubusercontent.com/21319932/94937104-6e49be00-04cf-11eb-8ef3-bf1233a20d1e.png)

[2020-10-02 15:09] Golden-Retriever-1 commented on #986
It would be helpful to join the information for visual analysis, as eg correlation above, Bayes factor below in the format below.

Eg

.60
3.567

[2020-10-02 15:35] VRossier commented on #977
No, on the contrary, thank you to take so much time trying to solve the problem !

So I installed the new version and it's the same : it doesn't start. I did the same command in cmd than last time and it seems that you could have more information this time in the log file...

I attach it here.
[log_extra.txt](https://github.com/jasp-stats/jasp-issues/files/5318918/log_extra.txt)

[2020-10-02 15:44] dustinfife commented on #991
Maybe you can send me a screenshot of what visual modeling currently does?

Also, why are you using mixed modeling for visualization? Do you have mixed data?

[2020-10-02 15:48] OliverSchultheiss commented on #992
Hi Joris,

I’ve installed JASP 14 & it worked. When I tried to download the part_1 file from OSF, JASP keeps snapping shut just as the progress bar reaches the right-side end, just as before. But if I save it to the desktop first and then try to open it, it works (unlike before). It even works with the 300+ MB motherfile that I split into Part_1 and Part_2.

So it looks there is something going on

[2020-10-02 18:47] tomtomme commented on #991
Thanks for all your replies :D

I am not even sure what mixed data means. I just want to plot 3 variables and the plot module in mixed data ist the only one that gets the job partially done - besides the scatterplot in descriptives.
This particular example does not even need Jitter. But I want it for categorial data :P. And I want those nice confidence interval bands too, please!

From descriptive

[2020-10-02 19:09] FBartos commented on #969
Hello @kornbrot ,

I can't give you precise estimates on the time of the next release apart from the fact that it's underway, but I would guess that it might be out within a week or two - that's only my personal estimate, not an official information. However, if it's really urgent, you might try using a nightly build. It's meant for testing and there is a high probability that it contains several

[2020-10-02 20:12] dustinfife commented on #991
You can probably do almost all this in visual modeling without any modification. [Here's a video](https://www.youtube.com/watch?v=YhrgsHuxGBc&ab_channel=QuantPsych) that gives a quick demonstration of how to use it (first 5 minutes, perhaps).

But, I also think adding color palettes is a good idea, as well as being able to suppress the regression line. @boutinb, @vandenman, [my most recent commit]

[2020-10-03 08:35] ElJefito opened #997 "Facilitate creating a bug report from JASP"
Note: this whole report was automatically created by JASP when I went to close it after doing a (successful) analysis. If it's useful, great; otherwise please delete it.

* JASP version: 0.13.1
* OS name and version: Windows 10 (10.0)

* Analysis:
* Bug description:
* Expected behaviour:

#### Steps to reproduce:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

------------

[2020-10-03 11:26] kornbrot commented on #969
Many thanks
Sadly, Mac Catalina says it can’t check for malware and refused to open!
Presumably that’s because its experimental.

Technician may know how to get round that

Your help is much appreciated - as always.

Presume ‘estimate’ is estimate of BF. its copied from R with the customary excellent intentions, but assumptions about user knowledge that are in my case overoptimistic.

Best

Diana

[2020-10-03 22:24] varhelyiklara commented on #975
Hi @boutinb
Thank you for asking about the progress. Sorry for the delay, I myself did not experience this bug so I had to ask my students about it and it took some time to collect the answers from them.
I think you are right and the source of the problem is the encoding used by Excel. Those, who have and Excel with the ability to save CSV with UTF-8 encoding, did not experience the bug. I asked t

[2020-10-04 17:41] dontchaknowjo commented on #240
I'm wondering about this as well!

[2020-10-04 19:20] Gaoithe opened #998 "problem running jasp on Dell XPS (ice-lake video) ubuntu 20"
* JASP version:0.13.1
* OS name and version:Linux ubuntu 20.04
*** Analysis: jasp runs but GUI is corrupted, Dell XPS ice-lake graphics, jasp installed with flatpak,**
* Bug description:
[code]

glxinfo shows . . .
[code]

* Expected behaviour:

#### Steps to reproduce:
1. Start jasp:
`flatpak run org.jaspstats.JASP --safeGraphics`
or `flatpak run org.jaspstats.JASP # same result`

![Screenshot fr

[2020-10-05 00:36] ElJefito opened #999 "Reliability module very slow - files huge"
* JASP version: 0.13.1

* OS name and version: both Windows 10 and macOS
* Analysis: Reliability
* Bug description: Performance very slow
* Expected behaviour: I am new to JASP, and very impressed. If I can help its development in some way, I'd be happy to. I am submitting this report after using JASP Reliability with some of my favourite data sets, looking for an easier way to get McDonald omega

[2020-10-05 07:11] vandenman commented on #986
So how is your request different from this table?

![image](https://user-images.githubusercontent.com/21319932/94924230-700a8600-04bd-11eb-9e54-1d46e637e07b.png)

[2020-10-05 07:44] juliuspf commented on #999
Dear @ElJefito, thank you for making the issue. It would indeed help if you provided the dataset. I am suspecting, however, that this is not unusual behaviour of JASP. Did you do the frequentist or the Bayesian analysis? Depending on that, both the bootstrapping in the frequentist, as well as the posterior sampling in the Bayesian analysis do increase the runtime of the program a lot, compared to

[2020-10-05 09:04] ElJefito commented on #999
Hello Julius,

I’m having to send this outside of GitHub as I find I cannot select and attach a csv file from within GitHub — I can see most of the files in the respective folder, but all the csv files are in grey, they can’t be selected.

The csv attached is from an entrance exam given at a major medical school. The 100 questions on the exam have been scored (0,1) for (wrong, right).

I did suspe

[2020-10-05 09:17] Golden-Retriever-1 commented on #986
Yes, it is. It keeps the structure for visual analyses that most know from their textbooks. In one cell, there is way to display more than one information by applying a structural approach. I am sure a key can help to read the table when adding more than the 2 suggested values.

[2020-10-05 09:24] vandenman commented on #999
@ElJefito to upload the file to GitHub, you'll need to zip the CSV file and use the web interface (e.g., through https://github.com/jasp-stats/jasp-issues/issues/999) to post it.

[2020-10-05 09:26] ElJefito commented on #999
[http://www.lertap5.com/Documentation/CoefficientOmegaAndLertap5.pdf](url)

This URL has links to numerous datasets, including "Zmed". The item scores can be downloaded by clicking on "Dataset"

[2020-10-05 09:36] boutinb commented on #975
Hi @varhelyiklara
Nice to hear that it solves your problems. But maybe we could do something to at least warn the users when the data file is not in UTF-8 encoding, and that some characters cannot be read.
I will have a look.

[2020-10-05 09:37] vandenman commented on #999
@ElJefito thanks for the link!
I think you closed the issue by accident, so I reopened it.

[2020-10-05 09:38] vandenman commented on #986
I'm afraid I don't understand what you mean, could you provide a screenshot or word/ excel table of how you'd the output to be arranged?

[2020-10-05 09:42] boutinb commented on #997
Hi @ElJefito Can you give more information about this crash. Ca you reproduce it? And if yes, what is the exact reproduction path? You can also set the 'Log to file' on (in Preferences/Advanced) and send us the generated log files.

[2020-10-05 10:08] boutinb commented on #988
Hi @romanogino Can you send your data?

[2020-10-05 10:28] juliuspf commented on #999
Well you can turn of confidence intervals, which means also the bootstrapping is turned off. I looked into "Zmed" and, correct me if I am wrong, the data is looking like multiple choice answers that have not been scored into 0 and 1 yet. Could you send the data in a more "ready" format? See @vandenman's comments for zipping.

[2020-10-05 10:42] Golden-Retriever-1 commented on #986
Simply keeping the layout of the usual visual representation and aggregating the different values one above each other in the places of the table:

Instead of .70 as Pearson’s r

You could write .70 as Pearson’s r above the value for the BF10 while keeping the visual structure which really most of the users are used to from their statistical textbooks. The current layout is user-unfriendly.

[2020-10-05 10:51] AlexanderLyNL commented on #986
I think that what's requested is something that is implemented already. The last tweak seems to a bit of nuance difference and perhaps a difference in opinion regarding what's user-friendly. The current implementation allows users to only display the summary statistic without the Bayes factor, or only the Bayes factor, or both. I think it's reasonable to consider this issue solved.

[2020-10-05 11:18] Golden-Retriever-1 commented on #986
Your resistance to keeping unusual formats with a wide difference to textbooks! Enjoy.

[2020-10-05 11:31] AlexanderLyNL commented on #986
I don’t see it as a matter of resistance, and I'm happy with the feedback. From what I gathered we’ve implemented exactly what you requested. A table with Pearson’s r above the Bayes factor can be requested as shown in

https://github.com/jasp-stats/jasp-issues/issues/986#issuecomment-703445379

[2020-10-05 11:44] Golden-Retriever-1 commented on #986
﻿I just really wonder about not using the usual textbook format which is why especially beginners and learners might have difficulties in reading the current outputs! No all are really proficient which all different types of aggregating data which is why I suggested it. I extra draw a sketch of it. The most easy programming solution is often not the best visual representation of tabular data.

It

[2020-10-05 12:07] vandenman commented on #986
@Golden-Retriever-1 could you use the GitHub website to show us what you have in mind? Your last post doesn't show any images in case you attached any:
![image](https://user-images.githubusercontent.com/21319932/95077517-e9031b00-0713-11eb-87a9-fbf32f0b097c.png)

We prefer not to use any unusual format and would be happy to implement your request if it's reasonable, but we are having a really hard

[2020-10-05 12:09] Golden-Retriever-1 commented on #986
Okay, I have answered via email maybe the picture file was not added.

[2020-10-05 12:11] Golden-Retriever-1 commented on #986
What about this link? I can later on upload the file to Github.

https://1drv.ms/u/s!AjVtS8ZiRDYiokhxlNn2QMIZGQ9n

[2020-10-05 12:15] ElJefito commented on #999
Okay, thanks for your messages. Here it's getting late now. Will "speak" to you again tomorrow.

[2020-10-05 12:15] vandenman commented on #986
Thanks, that image came through. I'm also pasting it here for future reference:

![image](https://user-images.githubusercontent.com/21319932/95078271-27e5a080-0715-11eb-9934-dca664050a4e.png)

[2020-10-05 12:29] Golden-Retriever-1 commented on #986
Here is the complete scan via link. I am currently on mobile which is why I cannot access github at this time:

https://1drv.ms/u/s!AjVtS8ZiRDYiokwZ5Hw3rX1mLkiu

[2020-10-05 12:42] Kucharssim commented on #996
Dear @romanogino,

thank you for the report. Unfortunately, I am unable to reproduce the error that you show with the screenshot. Would it be possible to send us the your data so that we can investigate the problem? That would help us a lot.
(Note that GitHub accepts attachments only as .zip files uploaded directly to the website.)

[2020-10-05 13:39] romanogino commented on #988
The data file. Perhaps names are very long. Survey is coming from Google Forms.
[Encuesta_Percepción_Cozumel_2020.zip](https://github.com/jasp-stats/jasp-issues/files/5327692/Encuesta_Percepcion_Cozumel_2020.zip)
Best regards.

[2020-10-05 13:40] romanogino commented on #996
The data file. Perhaps names are very long. Survey is coming from Google Forms.
[Encuesta_Percepción_Cozumel_2020.zip](https://github.com/jasp-stats/jasp-issues/files/5327692/Encuesta_Percepcion_Cozumel_2020.zip)
Best regards.

[2020-10-05 14:22] JorisGoosen commented on #977
Thank you for running it again!
And at least now I know for sure where it crashes, although that still doesn't help us..

We'll get to the bottom of it eventually though!

Could you download http://www.dependencywalker.com/depends22_x64.zip
And run the dependency walker on `JASP.exe` ?
It should give you a lot of computer-mumbo-jumbo and if you could save that to a `*.dwi` file and attach that her

[2020-10-05 14:26] JorisGoosen commented on #992
Hi Oliver,

That was quite a relaxing weekend, thanks for the good wishes.

As far as this issue goes, I'm happy you open the files at least, a lot better than nothing.
But it would of course be a shame if the OSF support in JASP breaks on large files (if that is what is happening).

I would be curious to hear what happens if:
- You take one of those large files that now opens when selected locall

[2020-10-05 14:49] JorisGoosen commented on #998
Thank you for the detailed bugreport!

Too bad that the usual solution I have for problems caused by `Intel Iris` is to turn `safeGraphics` on, which you have already done...

Is it possible you also have a dedicated GPU next to the intel one?

For fullness:
- Are you on the latest flatpak from [the author](https://launchpad.net/~alexlarsson/+archive/ubuntu/flatpak)?
- If you weren't or not, have

[2020-10-05 23:08] ElJefito commented on #999
Okay, it’s bright morning here. Will work on getting a suitable csv file
(or two) ready for you. And will let you know when it’s ready.

On Mon, 5 Oct 2020 at 18:28, Julius Pfadt <notifications@github.com> wrote:

--
Lertap5 <http://lertap5.com> Support Desk
Fremantle, Western Australia
(Same time zone as Hong Kong.)
<larry@lertap.com>

[2020-10-06 01:01] ElJefito commented on #999
Julius? Good morning. If you could return to the "Zmed" section of the
website, now you should see an option to download a csv file.

I plan to add csv files for more of the datasets on the website.

Last night I attempted to do a bit more work in JASP with Zmed results
using my fastest laptop (a Microsoft Surface Laptop 2 with an 8th
generation i5 -- not really all that fast, but the best we have

[2020-10-06 07:08] juliuspf commented on #999
Dear Larry, thank you for providing the csv file. And thanks for alerting us to the performance issue here. While I am writing this the function is still running in R, so you actually found nothing really unusual. There are many reasons why this is so slow; the main reason is that all results are computed at once. Meaning even if only alpha is checked, all the other estimators and item-dropped sta

[2020-10-06 09:37] ElJefito commented on #997
Hello — please note that I did not originate the message. JASP did. JASP created the message automatically.

I just assumed that there must be something in the message that would be meaningful to a JASP systems person.

From memory, I had been using the Reliability (frequentist) module and it crashed, probably when I had asked JASP to save my work.

The issue is related to #999. I have had quite a

[2020-10-06 13:23] boutinb commented on #988
@romanogino The last JASP version works with your file. Apparently you have started the wrong JASP version. You can check it when you open the About in the menu: you should see Version 0.14

[2020-10-06 13:30] VRossier commented on #977
Hello,
I hope I did right because I never used this kind of programm before. I attach here the .dwi file.
Good luck ! ;)
[JASP.zip](https://github.com/jasp-stats/jasp-issues/files/5334136/JASP.zip)

[2020-10-06 14:37] romanogino commented on #988
Yes, it is working well with 0.14, was my mistake. Thanks for the support. Best regards.

[2020-10-06 14:41] JorisGoosen commented on #977
Well, you did it perfectly alright!

This is exactly what I wanted, only problem is is that it doesn't seem to explain what went wrong. So the problem might lie somewhere else still...

I'll confer with @boutinb on what else could be the problem.

[2020-10-06 15:03] boutinb commented on #988
We will have an official release (0.14) hopefully next week containing this fix

[2020-10-06 15:12] boutinb commented on #977
@VRossier One thing that could cause your problem, is that you are using Windows 7. Windows 7 is not supported anymore by Microsoft since January this year, and so do not send minor upgrade to fix bugs or security issues. So we will also not support Windows 7 anymore.
This crash might be related to a missing fix in Windows self.
Can you upgrade to Windows 10?

[2020-10-06 15:52] varhelyiklara commented on #975
Thank you! Although it is worth warning users about the possibly strange appearance of accented characters, we did not find the problem so severe (I think, those whose native language contains special characters, have long been accustomed to such inconveniences).
It would be more important to point out that these accented characters can cause problems during synchronization.

[2020-10-06 16:20] JorisGoosen commented on #977
I would like to add to this point that it is, in general, a good point to move away from windows 7 to windows 10.
Especially now that it isn't even supported by Microsoft anymore, it will just make it that much more likely that you will run into other problems (other software, bugs, malware and the likes).

[2020-10-06 16:31] NL138808 opened #1000 "Error in SEM"
Hi, was trying to do SEM and was trying to create my latent variables but I kept receiving this message.

Hope I can get some help regarding this, thanks so much!

[2020-10-06 16:31] #996 closed

[2020-10-06 18:11] #1000 closed

[2020-10-06 18:21] OliverSchultheiss commented on #992
Hi Joris,

I finally got a chance to try what you suggested. I renamed the downloaded file, uploaded it again to OSF, and tried to access it by downloading it into JASP 14. Same story: progress bar reaches end, JASP shuts down.

You can try it for yourself – the file’s name is
Renamed_JASP-file_test.jasp

Best wishes,
Oliver

************************************************************************

[2020-10-07 12:57] JorisGoosen commented on #997
@ElJefito I am the author of the code that generates this message, Ive noticed that a lot of people seem to find the "report button" a bit confusing, as in, they do not notice that they should enter a bit of info for us.

Do you think something like:
![image](https://user-images.githubusercontent.com/29062713/95333705-67df8b80-08ad-11eb-861c-8a058d1a52f4.png)
Would be clearer?

Is it for you?

[2020-10-07 13:06] VRossier commented on #977
Thank you for your last advices. I thought that it could be linked to the oldness of my computer but I still had hope that I could keep it some few years more because it still works for everything else.

I will see to change for Windows 10 and see if it solves the problem.

In the meanwhile, do you think that I can use the basic online version or is there lot of differences between it and the "ins

[2020-10-07 13:29] boutinb commented on #977
We want to ask RollApp to update their JASP version. It is now on 0.9, quite old.
What you can try also is to install JASP 0.12 or 0.11 from our site. Maybe they can still run on Windows 7.
But I would really try to upgrade to Windows 10: as said Joris, you will get surely other problems soon, because some applications won't be able to run anymore. And maybe more important, Microsoft does not send

[2020-10-07 13:29] #977 closed

[2020-10-07 14:18] JorisGoosen commented on #977
@boutinb Virginie already tried those versions, they don't work.

I will soon try to update JASP so that we can get it on RollApp so that should be an option again after this release.

[2020-10-07 16:36] JorisGoosen commented on #992
Hello Oliver,

Well, if you find some time again, could you download this new beta version of JASP: https://static.jasp-stats.org/Nightlies/Windows/JASP-nightly-stable-64eb9d074ab1554d397c48a4b0c4360e2cb13e96.msi

I've added a set of new logstatements around the part of the code where JASP seems to crash for you. (It still won't crash on my pc though, but we'll figure out why).

If you could downl

[2020-10-07 19:08] VRossier commented on #977
Hello,

It's me again. :)
So, I turned into Windows 10 and... yes it finaly works with Jasp's last version ! At least, I will know what to advice to my future students if they are in my case !!! And now, you know that this bug was effectively caused by the Windows version.

The sad point is that my computer became really slower (I suppose that Windows 10 is heavier than Windows 7) and I think I wi

[2020-10-07 20:41] JorisGoosen commented on #977
Glad to hear you can at least use JASP now!

An advice if you do not want to change your computer, you can also install Linux on it.
It can be much lighter than windows and JASP runs on it as well ;)

In any case, you're welcome!

Best regards,
Joris

[2020-10-08 00:16] ElJefito commented on #997
Good morning Joris and JASP staff,

The sample error-reporting message you’ve sent is good, at least in my opinion.

My experience with Windows macOS is that when a crash of some sort appears there will be a message saying something like:

“Something has gone wrong. Click on the Send button to forward the system’s record of the crash to our developers, or click Cancel otherwise. (Note: if you elec

[2020-10-08 06:18] juliuspf commented on #999
So I narrowed down the problem to the confirmatory factor analyses for omega if-item-dropped. I am reducing the size of that output, so hopefully that will not be an issue anymore. I don't think I can do much about the lack of speed at that point.

[2020-10-08 08:41] ElJefito commented on #999
Okay, that sounds good, some useful progress, thanks for letting me know.

Now I know that when I have a dataset with more than 60 or 70 items I should be prepared for JASP to need maybe 30 minutes or more to finish an analysis. That’s okay. We can just set up the job on our slowest laptop and leave it to run by itself for whatever time is required.

And now, with the change you’ve made, maybe we

[2020-10-08 09:57] OliverSchultheiss commented on #992
Hi Joris,

I hope to get that done tonight or tomorrow – I can only do this on my home office PC. My regular office PC is under the control of our IT folks, and installing stuff usually is a major hassle for them and for me.

But apparently the issue I’ve encountered appears to be more widespread:

https://forum.cogsci.nl/discussion/6531/jasp-files-not-opening

I’ll get back to you as soon as I’ve

[2020-10-08 10:29] JorisGoosen commented on #997
Hello Larry,

It is about time for my second cup as well, thanks for your feedback.

It seems that your behavior is entirely normal because we have seen many issues posted like that, but then without the thoughtful note at the top that you left. Which means you already paid more attention to it than most do.

And still it was unclear, so I think that expecting other users who are paying less atten

[2020-10-08 10:43] JorisGoosen commented on #992
Well, I've added per-user support in the 0.14 installer (under "Advanced") and that should allow you to install it to your documents folder. And [this zipfile](https://static.jasp-stats.org/Nightlies/WindowsZip/JASP-nightly-stable-64eb9d074ab1554d397c48a4b0c4360e2cb13e96.zip) also contains JASP and can just be downloaded, unpacked and you can start JASP straight from there.

So no need to install

[2020-10-08 12:29] FBartos commented on #969
Hi Diana,

I'm sorry, but no. The estimated time was until the binomial aggregated family is merged into the release. Regarding the Bayes factors for (G)LMM, we are planning to implement them but they won't be part of this release, since there is still a lot of development that needs to be done.

Cheers,
Frantisek

[2020-10-08 14:22] Gaoithe commented on #998
Very welcome, thank you for responding. Apologies now big lag in my response.
We are running the Jasp under windows (dual boot) so not blocked by this problem but of course would be nice to solve it.

..

It's a Dell XPS 13, no add on GPU (and no built in GPU like the XPS 15),
So this is with just the built in Intel graphics.

Ahhh, ohh. Ok, I will poke around in this area when next on machine.
Ap

[2020-10-08 15:57] #981 closed

[2020-10-08 16:07] JorisGoosen commented on #998
Well, I'm not in any hurry, glad to hear you have backup option.

It is too bad intel manages to always break software with their GPUs... These problems rarely occur with AMD/NVIDIA, but ah well...

[2020-10-09 09:51] #961 closed

[2020-10-09 10:29] StephanieKV opened #1001 "JASP won't open"
* JASP version: JASP-0.13.1.0-preCatalina
 MacOS
* OS name and version: High Sierra 10.13.6
* Bug description: I've been trying to install JASP on my Mac OS version 10.13.6. When I click on the JASP icon it briefly looks like it's loading, but it quits before it opens at all, and there is no error message that tells me what is wrong. I've installed XQuartz as advised on the JASP website. Thank you

[2020-10-09 12:57] boutinb commented on #991
You can try the last (unofficial) version here (http://static.jasp-stats.org/Nightlies/) to check whether the Visual Modeling analyses answer your request.

[2020-10-09 16:36] StephanieKV commented on #1001
Problem solved itself ;-)

[2020-10-09 16:36] #1001 closed

[2020-10-09 16:47] #941 closed

[2020-10-11 09:43] Samat15 opened #1002 "Jasper doesn't run"
* JASP version: 0.13.1

* OS name and version: Windows 7, 64 bits
* Analysis: Descriptive statistics
* Bug description: Jasper does not display any descriptive statistics on the right side of the screen. I load data but nothing happens
* Expected behaviour: I saw on tutorials that basic descriptive statistics should be shown on the right (see screenshot)
![Jasp](https://user-images.githubuserconte

[2020-10-11 16:20] akmurrayku commented on #523
Multiple response variables are those that come for example from a survey where people can check more than one brand of toothpaste that they have heard of. In the data each brand of toothpaste is treated as a separate dichotomous variable with a 1 if checked and a 0 or missing if not checked. While it is possible to do the analysis with a series of separate frequency tables, SPSS has a great featu

[2020-10-12 08:03] tomtomme commented on #991
This is just great! Thank you very much. I am able to do all what I want now within the Flexplot module.
Could Flexplot be promoted to be the default for scatterplots?
Maybe there should be dedicated "Plots" and "Statistics" buttons as sub-buttons of the very first "Descriptives" button. So that theres more room to really promote JASPs plot-capabilities front and center.

[2020-10-12 09:56] WillanieSnijder opened #1003 "The program won't open after downloading"
I downloaded the program Jasp, but i can't open it. He only opens the installprogram.

How can i solve this problem? I need the program for school.

[2020-10-12 11:39] areeq1 opened #1004 "moderation analysis"
There is a useful analysis that can be included in the software, moderation analysis. I know that is possible to run under 'regression analysis' (by selecting the two variables to constitute the interaction). However, SEM-based analysis provides more accurate and desirable results. This type of analysis is available in Jamovi
![Screen Shot 2020-10-12 at 2 37 06 pm](https://user-images.githubuserco

[2020-10-12 12:18] HoracioSD commented on #523
Thanks a lot @akmurrayku for your explanation (better than mine!).
Hope Jasp can add this feature soon.

[2020-10-13 08:46] boutinb commented on #991
Glad that it helps you. A JASP version (0.14) containing this feature should be released this week.
We will discuss later with @dustinfife if we can integrate his package with other analyses in JASP.

[2020-10-13 08:46] #991 closed

[2020-10-13 10:18] tomtomme commented on #991
Just great. Thank you again :D
Kepp on going JASP Team!

[2020-10-13 12:51] boutinb commented on #1002
We have encountered lately some users having problems with JASP with Windows 7. The problem is that Windows 7 is not anymore supported by Microsoft self since the beginning of the year.
By asking them to upgrade to Windows 10, solved their problem.
If you stay to Windows 7, you won't get updates from Microsoft and your installed software won't be able to upgrade either. And even more importantly,

[2020-10-13 12:52] boutinb commented on #1003
Do you have Windows or Mac? And which version ?

[2020-10-13 20:11] Samat15 commented on #1002
Thank you very much for your replay.
Windows 7 is obsolete and is causing many problems. I'll upgrade soon to Windows 10.

[2020-10-14 00:00] ElJefito commented on #999
Anything I can do at my end to assist with testing, here at the bottom of the world? I’d be happy to, just let me know. I’m presently working on a reliability paper with a colleague in California and we plan to cite JASP’s reliability module. It’ll be even handier when it incorporates Revelle’s omega(h) and omega(t), as found in CRAN psych. I have read that you have plans to add them.

Cheers, Lar

[2020-10-14 03:26] nahorp opened #1005 "JASP not recognising data editor?"
Hello,

I have associated Excel as my data editing application under the 'Preferences' section but for some reason JASP cannot recognise it?

![Screen Shot 2020-10-14 at 2 20 39 pm](https://user-images.githubusercontent.com/43395036/95940026-2315a080-0e29-11eb-9225-0de9590f44e5.png)

![Screen Shot 2020-10-14 at 2 20 57 pm](https://user-images.githubusercontent.com/43395036/95940035-2c067200-0e29-1

[2020-10-14 04:27] g30diaz opened #1006 "GLMs, Decision Tree, and a Visualization module"
* Enhancement: GlMs allow for more flexible linear models, Decision Trees enhance the machine learning module and a visualization module that allows for more editing (e.g., margins, titles, scales, colors, etc.) can be very useful.
* Purpose: To enhance JASP and promote JASP to professionals.
* Use-case: Research, work, and publishing.

**Is your feature request related to a problem? Please descri

[2020-10-14 07:02] boutinb commented on #1005
Strange... this warning should be displayed only when Use default spreadsheet editor is on.
Could you set this checkbox on en off again?

[2020-10-14 07:05] nahorp commented on #1005
Thanks for your reply @boutinb. I tried checking the box on and off again as well as reopening the program but neither works.

[2020-10-14 07:14] boutinb commented on #1005
Is your file an spss file?

[2020-10-14 07:36] nahorp commented on #1005
It is indeed

[2020-10-14 09:09] boutinb commented on #1005
You cannot open a SPSS file with Excel. You have first to export it as csv.

[2020-10-14 09:39] juliuspf commented on #999
Dear Larry, I had another look into the performance of jasp the large dataset you provided, and I can't seem to reproduce the problem with the large file size. I was using 0.13.1 on a Windows computer. This is the file I produced. Is there anything I did different than you?
[Book1_13_1.jasp.zip](https://github.com/jasp-stats/jasp-issues/files/5377157/Book1_13_1.jasp.zip)

[2020-10-14 10:02] ElJefito commented on #999
Hello Julius, I’ll have a careful look tomorrow morning and get back to you then. In the JASP work I’ve done so far, I always want two frequentist reliability runs, one with unstandardized alpha, one with standardised. I don’t take the “if item dropped” option. I see that JASP couldn’t fit CFA when you ran it with my data, reverting to PFA instead. I don’t recall having that happen when I ran it.

[2020-10-14 13:56] boutinb commented on #1005
Did it work? The error message means also that did not have SPSS installed on your machine.

[2020-10-14 15:06] juliuspf commented on #999
Well, if you didn't check the omega-box you wouldn't see the indication that the CFA failed in the footnote.

[2020-10-14 18:42] dhanson06 opened #1007 "Jasp shutting down when loading CSV"
* JASP version: 0.13.1.0-64bit

* OS name and version: Windows 10 Home
* Analysis:
* Bug description:
* Expected behaviour:

#### Steps to reproduce:
1. Go to '...' Browse computer files to open
2. Click on '....' Click on CSV file
3. Scroll down to '....'
4. See error Jasp closes

[2020-10-14 23:17] nahorp commented on #1005
Worked like a charm! :) That is indeed what it was - didn't have SPSS on the machine. Thanks for your prompt help @boutinb, appreciate it.

[2020-10-14 23:17] #1005 closed

[2020-10-15 02:28] ElJefito commented on #999
Hello Julius, This is what I did: used a csv item scores file from the “Zmed” test with 100 items. Told JASP to open it. Set up a frequentist single-test-reliability analysis, selecting all of the Scale Statistics options except for the last three (average interitem correlation, mean, standard deviation). Did not use any other options. It took 86 minutes to run on a Windows 10 laptop and then abou

[2020-10-15 02:32] ElJefito commented on #999
Sorry, I should have included the JASP output as an attachment to my last message. Now it’s attached to this message.  Larry R Nelson42A / 25 Cockburn Rd.South Fremantle, Western Australia 6162-----------------------------------------------------Phone: +61 8 9336 5833 takes messagesIn same time zone as Hong Kong  From: Julius PfadtSent: Wednesday, 14 October 2020 11:06 PMTo: jasp-stats/jasp-issues

[2020-10-15 06:09] nahorp commented on #669
Hi @vandenman, I've returned to this paper again (and hence this analysis).

With the code you attached, is there a way I can get the means and credible intervals (i.e., not in the graph form) for each combination of shape (round, square) and color (monochromatic, color), averaged across all models (based on their posterior model probabilities)?

[2020-10-15 06:34] boutinb commented on #1005
Good to hear!

[2020-10-15 06:52] tkasci commented on #101
I would also be happy to see this feature in future releases.

[2020-10-15 07:22] juliuspf commented on #999
I can't really see any file to be honest?

[2020-10-15 08:09] boutinb commented on #1007
Can you send us your csv file (in zip format), by drag-and-drap the here in GitHub?

[2020-10-15 08:23] ElJefito commented on #999
My two messages of a few hours ago each included an attached zip file. Are
you referring to those messages? You cannot see the attachments?

I did not attach the respective JASP file itself as its size is: 260,643 KB

The JASP file you sent yesterday, in comparison, was just 162 KB

On Thu, 15 Oct 2020 at 15:22, Julius Pfadt <notifications@github.com> wrote:

--
Lertap5 <http://lertap5.com> Suppor

[2020-10-15 08:25] juliuspf commented on #999
Yes, I cannot see any attachments to your latest messages

[2020-10-15 08:30] EJWagenmakers commented on #101
This should be easier to implement now that we have already included similar functionality for, say, the Machine Learning module.

[2020-10-15 08:38] ElJefito commented on #999
Well, the attachments were zip files. Each contained just a screen snapshot.

The first snapshot, of File Explorer, showed the file size of my saved JASP
analyses: 260,643 KB.

The second snapshot showed the actual statistics from JASP: totally normal;
when you ran the analysis JASP said it could not fit a CFA model, and
instead used PFA. I did not have that problem. I got the "Frequentist Scale
R

[2020-10-15 09:10] juliuspf commented on #999
ahja, with confidence intervals I obtain a similar large file size. I will check if this persists in 0.14.

[2020-10-15 09:36] ElJefito commented on #999
Okay, that's good news, isn't it? A clue as to what might be happening?

Another VERY SMALL matter: if you ask for Descriptives it will say 2,471
data records, but there are only 2,470. For each item, Descriptives shows
frequencies for values of {0,1,2}. Should be just {0,1}. I can't find where
it's finding 2

On Thu, 15 Oct 2020 at 17:11, Julius Pfadt <notifications@github.com> wrote:

--
Lertap5

[2020-10-15 09:41] juliuspf commented on #999
you mean for the data that I sent? That is because I added another participant with responses of only '2', so the scale level would not be nominal. Since nominal data is not possible in the analysis, I would've had to change everything by hand. And for performance issues this does not matter much.

[2020-10-15 09:52] juliuspf commented on #999
I think the 'problem' lies within the underlying R-package, which saves the bootstrapped covariance matrices, with 1000 bootstrap samples, that is any array of 1000*100*100, which is roughly about 80MB already. I don't know how to avoid this, since saving these matrices is actually quite handy for the calculations.

[2020-10-15 09:52] ElJefito commented on #999
Okay, I think I understand. Now, this being Friday and the end of the day here, I’m closing down. Time for a beverage of some alcoholic nature, to be sure.

----------------------------------------
Lertap5 <http://www.lertap5.com/> Support Desk
Fremantle, Western Australia
----------------------------------------
(Same time zone as Hong Kong)

[2020-10-15 09:54] juliuspf commented on #999
It is Thursday, isn't it? But anyhow, enjoy!

[2020-10-15 09:58] ElJefito commented on #999
(Ah, yes, Thursday it is. It’s been a long day. Hasta mañana.)
----------------------------------------
Lertap5 <http://www.lertap5.com/> Support Desk
Fremantle, Western Australia
----------------------------------------
(Same time zone as Hong Kong)

[2020-10-15 11:55] JorisGoosen commented on #1002
In the meantime you can try "safe graphics" mode through FileMenu->Preferences->Interface.

[2020-10-15 13:36] OliverSchultheiss commented on #992
Sorrym – wrong log file. Here’s the most recent one.

Oliver

**************************************************************************************************
Oliver C. Schultheiss, Dr. phil.
Professor of Psychology
Chair for Experimental Psychology, Motivation, and Affective Neuroscience
Institute of Psychology
Friedrich-Alexander University
Nägelsbachstr. 49 b
91052 Erlangen
Germany
Email: Oli

[2020-10-15 16:00] JorisGoosen commented on #992
Aah, sorry about this, but the email->github-issue conversion drops all attachments Im afraid.
Perhaps you could attach it here directly: https://github.com/jasp-stats/jasp-issues/issues/992
(Zipped because github is finicky like that)

[2020-10-15 16:24] juliuspf commented on #999
So I was able to reduce the size of the .jasp file for the frequentist analysis to 1/3 of the previous size, and for the Bayesian analysis even to 1/5. I can't tell you exactly when these changes will be in Jasp (look out for the nightlies). Certainly they will be in 0.15.

[2020-10-15 16:57] OliverSchultheiss commented on #992
[Logs.zip](https://github.com/jasp-stats/jasp-issues/files/5386557/Logs.zip)

[2020-10-16 00:24] ElJefito commented on #999
Ah, that’s sounding very good (if there’s a sign-up sheet for beta testers, please add me to it!).

What about running times? Almost 90 minutes on a Windows 10 laptop for my frequentist reliability analyses is obviously extensive. Yes, true, that’s with 100 items, and much shorter times are noticed with fewer items, true. I might do some time trials as time permits, and, when I do, will include ma

[2020-10-16 08:41] juliuspf commented on #999
The running time in total will most definitely always be that long. Once each computation is done for each coefficient separately, the running time for each coefficient will be shorter. For now, everything is calculated at once if anything is checked.

[2020-10-16 10:19] JorisGoosen commented on #992
Thank you, that worked!

Im going on vacation for a week, so Im posting the following excerpt from your log here so I can see in the future where I now think the problem occurs:
[code]

[2020-10-16 10:28] OliverSchultheiss commented on #992
Enjoy your vacation & stay safe & healthy!

Oliver

**************************************************************************************************
Oliver C. Schultheiss, Dr. phil.
Professor of Psychology
Chair for Experimental Psychology, Motivation, and Affective Neuroscience
Institute of Psychology
Friedrich-Alexander University
Nägelsbachstr. 49 b
91052 Erlangen
Germany
Email: Oliver.Schult

[2020-10-16 11:34] JorisGoosen commented on #992
Will do!

[2020-10-16 11:35] vandenman commented on #669
Hi @nahorp, if you run the code above and then the code below you should get something like this:

[code]
posterior mean + 95% credible interval
[code]
observed mean + 95% quantiles
[code]

[2020-10-18 14:29] Liesbeth-Tip opened #1008 "JASP file corrupted and does not open anymore, lost work"
I have lost several files because JASP did not save them, even when I had saved and renamed them.

Someone (working in programming) has taken a look at JASP files and said that the files were way too big and there could be some error in the code creating a never-ending loop which causes the files to be so big.

I used quite large files with 200 participants, calculating descriptives, EFA's, CFA's

[2020-10-18 19:19] LiekeTen opened #1009 "Descriptives does not have the drop down menu options"
* JASP version: 0.14
* OS name and version: Windows 10 Pro
* Analysis: Descriptives
* Bug description: I want to run a reliability analysis, but my descriptives button does not have an arrow to open the drop down menu to select this options
* Expected behaviour: ?
![InkedScreenshot_problem_LI](https://user-images.githubusercontent.com/73077774/96377695-1b613f00-113c-11eb-96fd-851d58363276.jpg)

[2020-10-19 03:05] nahorp commented on #669
Thanks for that @vandenman! `ans_post2` looks like exactly what I want. However, I tried running the above code to my dataset but get the below when saving `results <- replicateJASP(...`

[code]

My dataframe has 4 columns (participant_code, age_group, version, y). The model I am running is,

formulaFullModel <- y ~ age_group*version + participant_code
whichRandom <- neverExclude <- "participant_c

[2020-10-19 07:10] vandenman commented on #1009
Hi @LiekeTen,

We moved the reliability analyses to its own module. To open it, click on the `+` in the top right corner of the screen:

![image](https://user-images.githubusercontent.com/21319932/96412582-a7ca3b00-11ea-11eb-977e-15ce6de29765.png)

Select `Reliability`. Once the Reliability module is selected this icon appears in the ribbon with these two analyses:

![image](https://user-images.gi

[2020-10-20 12:01] vandenman commented on #669
Hi @nahorp a dataframe would help a lot! Can you email it to me at <d.vandenbergh at jasp-stats.org>?

[2020-10-20 13:53] wmotte opened #1011 "Title of 'Estimated Means' table should not mention Confidence intervals if CI option is set to 'None'"
* JASP version: 0.14
* OS name and version: macOS Catalina
* Analysis: Plots within all Mixed model modules
* Bug description: Title of 'Estimate table' reports 'Estimated Means and Confidence Intervals' even if the confidence interval method is set to 'None'.
* Expected behaviour: The title of the Results table should change to: 'Estimated Means'.

[2020-10-20 14:12] wmotte opened #1012 "Confidence intervals in custom contrasts"
* Enhancement: Custom contrasts in the (generalized) linear mixed models provide an Estimate, SE, and df output, but 95% (or a differently set) confidence intervals would be very useful as well.
* Purpose: Group differences determined with custom contrasts are often reported in scientific papers with the estimate and the corresponding 95% confidence interval. Currently, this is not provided in the

[2020-10-20 16:30] PaFlito opened #1013 "JASP crashed"
* JASP version: 0.13.1
* OS name and version: Windows 10 (10.0)

* Analysis:
* Bug description:
* Expected behaviour:

#### Steps to reproduce:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

-----------------------------------------------------------------------

### Debug information:
**Engine # 0** process  is *running* and it's state is *initializing*.
**Engine # 1** p

[2020-10-21 01:18] peterubuane opened #1014 "McNemar Test"
* Enhancement: Inclusion of McNemar test, Bootstrapping and Data Manipulation capabilities
* Purpose: Inability to manipulate data is a great limitation unique to Jasp as far as I know.
* Use-case:

**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

I couldn't run McNemar on my dataset. So I had to resort to jamovi

[2020-10-21 07:59] #1009 closed

[2020-10-21 11:38] jjcosta1 commented on #858
Hi

I would like to know when do you intend allow ordinal variables in CFA.
It is a very important issue to my work and I would appreciate your
consideration in this issue.

Thank you for all your work,

jjmc

A 2020-07-08 13:32, José Costa escreveu:

Links:
------
[1] https://github.com/JJCosta
[2]
https://github.com/jasp-stats/jasp-issues/issues/858#issuecomment-655483968
[3]
https://github.com/

[2020-10-21 14:53] itremont commented on #883
Hi, Akash! Ivo here. I hoped issue #883 was fixed in version 0.14, but it is not included in the bug fix list. Am I correct?
Greetings
Ivo

[2020-10-21 15:11] Kazirraa opened #1015 "SEM MGCFA - lavaan ERROR: some models (but not all) have a meanstructure"
I try to calculate the measurement invariance with JASP's SEM Module. When adding Model 3 i receive this error:

[code]

What might be the issue of this? Thanks

[2020-10-21 15:41] romanogino opened #1016 "Custom JASP storage location"
When I install some version of JASP, in the hard disks D, E, F, anyway most of the installation goes to C, in which I have very little space. My recommendation is to avoid this situation, to have a better control of the installation and the space used on the disks.

Best regards.
r.

[2020-10-22 08:33] christofnaegele opened #1017 "Error in sprintf .... invalid format '%i'"
* JASP version: 0.14
* OS name and version: macOS 10.15.7 (19H2)
* Analysis: Error message, I cant't get over it
* Bug description:

This analysis terminated unexpectedly.
Error in sprintf(gettext(fmt, domain = domain), ...): invalid format '%i'; use format %s for character objects
Stack trace
tryCatchOne(expr, names, parentenv, handlers[[1]])
doTryCatch(return(expr), name, parentenv, handler)
wit

[2020-10-22 09:24] mservantufc opened #1018 "Can't use the distribution module without loading data"
* JASP version: 0.13

* OS name and version: Windows 10

For teaching purposes, I would like to be able to use the distribution module without having to load data. Moreover, there seems to be a bug with the "Generate and display data" submodule". If I load a dataset with say, 18 observations, I can draw more than 18 samples from the distribution! Am I doing something wrong?

[2020-10-22 10:18] Fzouu opened #1019 "Confirmatory Factor Analysis - Model plot cannot be adjusted and labels are unreadable"
* JASP version: Free

* OS name and version: Windows 10
* Analysis: Correlation
* Bug description: one of my plots is not clear enough (numbers are in a big font and on top of each other)
* Expected behaviour: readable numbers in plots

#### Steps to reproduce:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

[2020-10-22 20:17] nahorp commented on #669
Hi @vandenman, just checking that there were no issues with you receiving the dataframe (emails with attachments from our university email address are sometimes blocked by the receivers spam filter)?

[2020-10-23 05:40] jamal-ruz opened #1020 "JASP crashed"
* JASP version: 0.14
* OS name and version: Windows 10 (10.0)

* Analysis:
* Bug description:
* Expected behaviour:

#### Steps to reproduce:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

-----------------------------------------------------------------------

### Debug information:
**Engine # 0** process *crashed* and it's state is *initializing*.
**Engine # 1** process

[2020-10-23 08:40] boutinb commented on #1008
Hi @Liesbeth-Tip Could you describe a bit more precisely what happens: first on which system do you work (Windows/Mac/Linux), and which version? how big are the data files you load? Can you save the file with JASP without adding an analysis, or with which analysis it becomes too big? What happens exactly: you click on the save button, and then it hangs, it crashes, or it does nothing?

[2020-10-23 08:42] boutinb commented on #1012
@EJWagenmakers What do you think of this request? And who could implement this?

[2020-10-23 08:43] boutinb commented on #1013
@PaFlito Can you tell more about when JASP crashes? We have also just released a new version 0.14.

[2020-10-23 08:46] EJWagenmakers commented on #1012
Seems reasonable. Maybe Henrik and @FBartos could take a look. I am not sure what the best way is to bootstrap when the data is hierarchical -- bootstrap on all levels, starting with the highest one? I believe there were some issues but I cannot recover the relevant literature.

[2020-10-23 08:46] boutinb commented on #1014
Hi @peterubuane We are thinking of adding some data editing features, but what you can do is to edit your data file with your preferred editor, and JASP should automatically synchronize your changes each time you save them.
For the McNemar test, maybe can @EJWagenmakers says more about it.

[2020-10-23 08:48] boutinb commented on #1015
@vandenman Do you have an idea? Or who could answer this issue?

[2020-10-23 08:48] EJWagenmakers commented on #1014
Yes, we need this, and related features as well -- I have indicated this internally to the team already, so it's on the agenda.

[2020-10-23 08:49] boutinb commented on #1016
@JorisGoosen Is it something we could add in the Windows setup?

[2020-10-23 08:53] boutinb commented on #1018
Hi @mservantufc We have a new version 0.14, and in this one, you can open a Distribution analysis without data.

[2020-10-23 08:55] boutinb commented on #1019
Hi @Fzouu Can you give more details about your problem, a screenshot for example? And which version of JASP do you use?

[2020-10-23 08:56] boutinb commented on #1020
@jamal-ruz Can you give more information about this crash? When does it happen exactly?

[2020-10-23 08:58] boutinb commented on #883
@akashrajkn or @quentingronau: did you update the R package?

[2020-10-23 08:59] boutinb commented on #1007
Reopen this issue if it still occurs.

[2020-10-23 08:59] #1007 closed

[2020-10-23 09:04] mservantufc commented on #1018
Hi @boutinb  Sure but it is not possible to simulate data (via Generate and Display data)without opening a datafile. More importantly, it is not possible to simulate a number of datapoints > to the number of datapoints of variables in the opened datafile.

[2020-10-23 09:24] boutinb commented on #1018
@FBartos Could you answer this issue?

[2020-10-23 10:05] FBartos commented on #1018
I think that this might be more relevant for @Kucharssim

[2020-10-23 10:08] FBartos commented on #1012
I can't think of a reason why the CI would need to be bootstrapped instead of calculating them based on the estimate and SE (+ df). I will check with Henrik but I think that it shouldn't be a problem to add this.

[2020-10-23 10:36] Liesbeth-Tip commented on #1008
Hi Bruno,
Thanks for your message! I have a Windowns 10 laptop, and am using JASP v0.13.0.
Files close as normal, but when I try to open them it gives that error message that something is missing. It doesn;t happen always, some times it keeps corrupting the files that way. I then go back to a previous version and work from that, and in some cases it works fine and manages to save the file as norma

[2020-10-23 10:57] Kucharssim commented on #1017
Dear @christofnaegele,

thank you for the bug report. It's great that you are able to share the data - can you please send it to s.kucharsky@uva.nl? I would have a closer look at the issue.

Simon

[2020-10-23 11:04] boutinb commented on #1008
Hi @Liesbeth-Tip More than 2 GB is indeed quite big... Did you try to use a 'stronger PC' than your laptop? Would it be also possible to get this data (zipped)?

[2020-10-23 11:19] Liesbeth-Tip commented on #1008
Hi, my laptop is only a few months old, I tried on my old laptop but the same thing is happening there. I'm afraid I won;t be able to share my data for confidentiality reasons, but I can maybe see if I can run a simulation of the data though I haven't done that before, and then try if I can corrupt that in the same way.
I'll give it a go over the weekend.
Best wishes,
Liesbeth

___________________

[2020-10-23 11:22] peterubuane commented on #1014
Thank you for your prompt reply. JASP is so unique; although it doesn't yet
have all these features yet, I find its interphase uniquely attractive and
extremely user-friendly. God bless you all for the great work for humanity.

Thank you.

Dr Peter Odion Ubuane, MBChB, FWACPaed
Consultant Paediatrician (Neonatal Unit)
Institute of Maternal & Child Health/Department of Paediatrics
Lagos State Unive

[2020-10-23 11:30] Fzouu commented on #1019
![Capture (1)](https://user-images.githubusercontent.com/73284302/96998498-d4a48800-1533-11eb-978e-425dbe43c75b.PNG)

[2020-10-23 11:39] Kucharssim commented on #1018
Hello @mservantufc,

thank you for the feedback! This is not a bug per se, but a limitation of the JASP editor at this time. The current state is only temporary, we plan to allow drawing more data points than rows in the data and/or creating variables from scratch without a data set opened. But it's not implemented yet - hence, Distributions module is limited by the size of the current data set.

[2020-10-23 11:42] boutinb commented on #1019
Hi @Fzouu You should be able to resize the plot. But maybe @vandenman can give more hints.

[2020-10-23 11:57] Fzouu commented on #1019
Hi @boutinb,
Even if I resize it, it is still the same.

[2020-10-23 13:13] vandenman commented on #1019
@Fzouu Can you confirm that this plot was made with Confirmatory Factor Analysis, not correlation?

@boutinb this plot is not made with ggplot so there is no workaround for this at the moment.

[2020-10-23 13:15] vandenman commented on #1015
Hi @Kazirraa and thanks for the report!

Can you show us what models you use and, if possible, share a jasp file that replicates the error?

[2020-10-23 14:05] wmotte opened #1021 "Group selector within Descriptive Statistics to prepare for (repeated-measures) modeling"
* Enhancement: Add 'group' entry to the Descriptive Statistics.
* Purpose: To prepare the data for repeated-measures ANOVA/linear mixed models the outcome (y-axis) is ideally plotted against time (x-axis) with the groups separated as individual boxplots sets (in distinct colors).

**Is your feature request related to a problem? Please describe.**
The inspection of temporal data with two or more gr

[2020-10-23 15:53] romanogino commented on #1016
I do not have knowledge about it. I found a web page https://www.funduc.com/app_mover.htm that could be useful.  With JASP 0.14 I installed the software in D hard disk, but the main space was used in C hard disk.
https://forums.tomshardware.com/threads/prevent-any-software-from-installing-on-c-drive.2154987/

Best regards.
r.

[2020-10-23 20:22] Fzouu commented on #1019
Hi,
it was made by Confirmatory Factor Analysis

[2020-10-25 13:51] EJWagenmakers opened #1022 "Make it easier to add factors to linear regression"
https://twitter.com/AlbertBrown_sq/status/1319878522781847553

I think we should do this -- we've done it for logistic regression, apparently.
E.J.

[2020-10-26 10:29] JorisGoosen commented on #1016
Well, the bulk of the software is really installed to the other drive if you specify it as such.
The only problem for you is that we use temporary files (which can get huge because the shared memory could become large and is stored there).

If you have such a low amount of space on C, maybe it is a good plan to move your users/documents folder to a different drive.

On the other hand, it wouldn't

[2020-10-26 13:52] romanogino commented on #1016
Thanks for the advice. I will tray to probe it.
Best regards.
r.

[2020-10-26 13:52] #1016 closed

[2020-10-26 15:12] idegroote opened #1023 "ANOVA table missing data in Dutch version of regression analysis"
* JASP version:
0.13.1
* OS name and version:
Windows 10
* Analysis:
Regression
* Bug description:
The data from the ANOVA (model stats) is missing in the regression output. This only occurs when the language is set to Dutch. When it is set back to English, the output is visible.
* Expected behaviour:
Run a regression when language is set to Dutch. tick model fit. The anova table appears but is em

[2020-10-26 17:33] JohnnyDoorn opened #1024 "Bayesian correlation scaling of scatterplot fails sometimes"
* JASP version: 0.14 (https://github.com/jasp-stats/jasp-desktop/commit/3aa14acf2bd119281ee771e30b877e08a3016202)
* OS name and version: Ubuntu 20.04
* Analysis: Bayesian correlation
* Bug description: axis labels are not updated
* Expected behaviour: axis labels should be updated

#### Steps to reproduce:
see attached jasp file (change extension to jasp instead of zip), when I plot VIQ to mri cou

[2020-10-26 18:18] rjgagno commented on #904
Would love to hear any updates on this, I am hoping to begin using JASP in my intro courses instead of SPSS, but this a function that I would love to have before jumping in

[2020-10-26 18:33] JohnnyDoorn opened #1025 "Bayesian Correlation - "Too many open devices""
JASP version: 0.14 (jasp-stats/jasp-desktop@3aa14ac)
OS name and version: Ubuntu 20.04
Analysis: Bayesian correlation
Bug description: when trying to make a plot, I get the error of "too many open devices". I think this refers to graphic devices, but I would think these would be closed again. I could not reproduce this in other analyses, but could be mistaken.
Expected behaviour: clear the cache,

[2020-10-26 19:21] EJWagenmakers commented on #904
We hope to have it added this academic year.

[2020-10-26 19:49] rjgagno commented on #904
Wonderful!

[2020-10-26 21:34] bentoovey commented on #982
I had this same error and signed up to reply here. I don't have a code fix, but it seems to be related to the length of your factor names/level names that you write in the cells.

For example, if i set my 2x2 factor names as "t" and "c" instead of "task" and "category", then the descriptive output fails. With longer names ("tas" and "cat", for example), the descriptives are output correctly.

[2020-10-27 08:42] vandenman commented on #1025
I can't replicate this on Ubuntu 18.04 with the current development (https://github.com/jasp-stats/jasp-desktop/tree/ba369e9eb19bc1ca800840633d6dd9c17f690cc2) or with the flatpak release. Which R version do you use?

[2020-10-27 10:47] JohnnyDoorn commented on #1025
This is on 3.6.3, should I update to 4?

[2020-10-27 11:36] JohnnyDoorn commented on #982
Hi @Lumossssss and  @bentoovey ,

Yes, unfortunately we are still working on a functional way to internally handle factor level names in a way that makes everything work. This means that some names for levels will cause crashes. In the meantime, I can recommend bentoovey's advice, and make the level names a bit longer. Our apologies for this confusion.

Kind regards
Johnny

[2020-10-27 13:36] Lumossssss commented on #982
@JohnnyDoorn @bentoovey
Thanks Johnny & bentoovey. I will try renaming the factors.

[2020-10-27 15:27] boutinb commented on #1023
Hi @idegroote we have a new version 0.14. And in this version I don't see this problem. Can you try?

[2020-10-27 15:31] boutinb commented on #1021
@EJWagenmakers What do you think?

[2020-10-27 15:36] djdekker opened #1026 "Reliability: error when there are more variables than observations"
* JASP version: 0.14
* OS name and version: macOS 11.0 beta
* Analysis: Reliability (frequentist)
* Bug description: McDonald's ω and Cronbach's α are not calculated when the number of variables equals or exceeds the number of observations
* Expected behaviour: McDonald's ω and Cronbach's α are being calculated

#### Steps to reproduce:
1. Open the attached JASP file.
2. All 28 variables are inclu

[2020-10-27 15:42] idegroote commented on #1023
Hello Bruno,

I just tried it and it was still the same problem.

Isabelle

[cid:image002.jpg@01D6AC80.344EF730]

Van: bruno boutin <notifications@github.com>
Verzonden: 27 October 2020 16:28
Aan: jasp-stats/jasp-issues <jasp-issues@noreply.github.com>
CC: Isabelle De Groote <Isabelle.DeGroote@UGent.be>; Mention <mention@noreply.github.com>
Onderwerp: Re: [jasp-stats/jasp-issues] ANOVA table missi

[2020-10-27 15:51] EJWagenmakers commented on #1021
Maybe this will be covered by the time series plots that we are developing. Wim, can you send an example of the plot you'd like to see?

[2020-10-27 16:11] wmotte commented on #1021
Attached an example plot (with data and script) of a repeated-measures
dataset. It basically has the same layout as the plot results in the LME
output.

On Tue, Oct 27, 2020 at 4:52 PM EJ <notifications@github.com> wrote:

[2020-10-27 16:41] vandenman commented on #1021
@wmotte Unfortunately, GitHub doesn't show attachments or figures in email replies. Could you use the website to post the example? If you want to add the script and data you'll have them as a zip file (or email it to <d.vandenbergh at jasp-stats.org> and I'll do that for you).

[2020-10-27 17:04] akashrajkn commented on #883
@itremont on the Windows version, it has been fixed.

@boutinb The `abtest` package has to be updated for the flatpak version

[2020-10-27 18:00] wmotte commented on #1021
Sorry. Second try.
![JASP_example_plot_repeated-measures](https://user-images.githubusercontent.com/25975935/97342446-83273080-1886-11eb-8cd9-548f0e66789e.png)

[Data__and_script.zip](https://github.com/jasp-stats/jasp-issues/files/5447172/Data__and_script.zip)

[2020-10-28 02:42] alicatko opened #1027 "Can't Install, Error 2755"
Can't install on windows 10. Says its an internal app error. Please help, this is for class.

Thank you!! #586

[2020-10-28 09:17] juliuspf commented on #1026
Thanks for reporting this issue. This is unfortunate behaviour that is caused by coefficients lambda2 and lambda6. These coefficients require the covariance matrix to be invertible, which it is not. Unfortunately all coefficients are computed together, meaning one coefficient will break it for the whole bunch. This will be solved by the planned restructuring (https://github.com/jasp-stats/INTERNAL

[2020-10-28 12:42] boutinb commented on #1023
Hi @idegroote  Can you use the GitHub website to insert your image? I cannot see it otherwise.

[2020-10-28 13:13] idegroote commented on #1023
-
![Prt sc](https://user-images.githubusercontent.com/73485191/97440401-b241ae80-1927-11eb-8d5b-ed0e67716455.png)

[2020-10-28 19:22] itremont commented on #883
Akash: This has never been a problem with Windows, only with Mac and Linux. Did you mean the layout works well now on Mac?
Thank you. Appreciate all the work you guys do.

[2020-10-29 13:02] #1023 closed

[2020-10-29 13:04] boutinb commented on #1023
This will be solved in the next minor release (0.14.1), over 2 weeks.

[2020-10-29 16:22] JohnnyDoorn opened #1028 "Feature request - Mixed models - output coefficients for each grouping level"
* Enhancement: Add option to print the estimated coefficients per level of the random grouping factor (i.e., individual random effect estimates)
* Purpose: Provide more information about the model
* Use-case: If I regress a continuous variable onto another, but I want separate coefficients for my four-level categorical variable, I might be interested in the specific estimates for those groups.

**

[2020-10-29 16:29] JohnnyDoorn opened #1029 "Freq Linear Regression - Allows categorical variables while it should not"
* JASP version: 0.14
* OS name and version: Ubuntu 20.04
* Analysis: Frequentist linear regression
* Bug description: categorical variables are able to be selected as predictor variables, and are treated as continuous.
* Expected behaviour: should not happen (in concordance with the icons shown in the boxes, see screenshot)

#### Steps to reproduce:
load a data set with continuous and categorical

[2020-10-29 17:23] Kucharssim commented on #1029
One could argue that this is fine, we should “only” implement handling categorical predictors 😅 https://github.com/jasp-stats/jasp-issues/issues/1022

[2020-10-29 17:58] JohnnyDoorn commented on #1029
Yes, but for now this is just misleading, I mean look at the example in the screenshot, I have a nominal variable with 4 levels a,b,d,d, and JASP just handles them as 1,2,3,4. As the quickest fix this should not be possible, but of course we should work on making it handle categorical variables well (as in, as an actual factor...)

[2020-10-29 20:00] Tdraymon opened #1030 "Wrong Communication With Discord"
* JASP version: 0.14

* OS name and version: Windows 10
* Analysis:
* Bug description: Whenever I launch JASP it communicates with discord that I am playing STAR WARS Jedi Knight: Jedi Academy
* Expected behaviour:

#### Steps to reproduce:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

[2020-10-30 00:16] dhanson06 commented on #1007
Thanks for following up, I found a page where others had this problem and it was related to the text lines being too long.  I shortened the text and it loaded right up.

I do have another question that maybe you can answer.  If I did an analysis on a dataset is it possible to keep the same settings for a different set of data? I do see that there is a sync feature, but it looks like I would have t

[2020-10-30 08:04] vandenman commented on #1029
I think it's most important to be consistent across the Bayesian and frequentist analyses. Usually, linear regression with categorical predictors and continuous predictors is called ANCOVA. That's also what we recommend at the moment when people want to add categorical predictors to Bayesian linear regression, do a Bayesian ANCOVA instead.

@JohnnyDoorn Shall we fix this for the bugfix release in

[2020-10-30 08:41] tomtomme commented on #726
I would contribute to translation, if something like weblate is ready to go :D

[2020-10-30 08:42] tomtomme opened #1031 "Switch Dot and Comma in the results for german locals"
When I change the language in JASP 0.14 to german the numbers in the results pane are still using a dot instead of a comma to seperate decimal places. See example screenshots from the descriptive module.
<img width="196" alt="Screenshot_20201030_093810" src="https://user-images.githubusercontent.com/4428185/97678519-3a44c700-1a94-11eb-84a3-eefa4bf33d27.png">

[2020-10-30 08:57] JohnnyDoorn commented on #1029
That sounds good.
I do think that we should add categorical predictors to linear regression, because it has some different output compared to ANCOVA (like [this user](https://forum.cogsci.nl/discussion/6576/linear-regression-with-a-categorical-covariate#latest) was expecting from JASP). But yes, the model fit and everything is the same - see below for an illustration of the three different approac

[2020-10-30 09:52] Kucharssim commented on #1029
Sure, I agree that fixing this in the short term and thinking about how to implement the categorical predictors properly in the long term is what we should do. I just linked the other issue here just so that we don't forget that they are somewhat related 🙂

I agree with Johnny there. Regardless of what we wish from consistency between Bayesian and classical analyses, people expect (classical) line

[2020-10-30 10:19] vandenman commented on #1029
I agree.

For the frequentist analyses, we should definitely do this, ideally for 0.15 already.

The problem is the Bayesian analyses. `Bayesfactor` and `BAS` give different results if you include categorical predictors (unfortunately this is not a numerical issue). The problem is then that a Bayesian ANCOVA and a Bayesian linear regression yield different Bayes factors and they shouldn't. That's

[2020-10-30 15:58] wagner12345 opened #1032 "This analysis terminated unexpectedly"
* JASP version:

* OS name and version: macOS Sierra 10.12.6
* Analysis:
* Bug description: error in (structure(function (...) : Column I_AGRE not found!
* Expected behaviour:

#### Steps to reproduce:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

[2020-10-30 18:52] achroust opened #1055 "Adding missing factor level"
I am new to JASP and meta-analysis and hit a snag. When looking at effect of a factor (intervention type, two levels) the coefficient output box only lists one of the factors. I followed the steps to the best of my knowledge from the instructions (https://jasp-stats.org/2017/11/15/meta-analysis-jasp/). I recognize this is not an issue with the software but rather a user issue. If you could direct

[2020-10-30 22:58] Albens1234 opened #1033 "Analysis terminated unexpectedly"
* JASP version: 0.14.0.0

* OS name and version: Windows 10
* Analysis: Cronbach's alpha
* Bug description:Error in relyFit[['freq']][['omega.fit']] <- omega[['indices']]: replacement has length zero

Stack trace
tryCatchOne(expr, names, parentenv, handlers[[1]])

doTryCatch(return(expr), name, parentenv, handler)

withCallingHandlers(expr = analysis(jaspResults = jaspResults, dataset = dataset, o

[2020-11-01 16:08] NikitaKhromov-Borisov opened #1034 "problem with the opening the csv files"
* JASP version: 0.14

* OS name and version: WIn10 x64
* Analysis: opening the scv file
* Bug description:
![Open](https://user-images.githubusercontent.com/16406847/97808068-90bd2b80-1c75-11eb-9ebd-299211ee2427.jpg)

* Expected behaviour:

#### Steps to reproduce:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

[2020-11-02 01:16] Jacksonj1290 opened #1035 "PROCESS macro"
Andrew Hayes' has a free PROCESS macro that works with SPSS, SAS, and R
http://www.processmacro.org/index.html

It is great for performing 74 different mediation, moderation, and mediated-moderation analyses (aka indirect, conditional, and conditional indirect tests). It goes along with his book: Introduction to Mediation, Moderation, and Conditional Process Analysis
Second Edition A Regression-Ba

[2020-11-02 13:03] JorisGoosen commented on #992
Hello Oliver,

I've been looking at your logfiles and our code and I think I might have figured out what was going wrong.
If you could help me out by testing: https://static.jasp-stats.org/Nightlies/Windows/JASP-nightly-helpingOliver-16ef077c9af29bde37ee146490e0ccea36d6bcf7.msi

Then maybe we can get the fix into the next release.

[2020-11-02 13:50] JASPUser opened #1036 "One-sample t-test. z-test Effect Size CI is incorrect."
Win 7. JASP 0.14.0.0 See screenshots. The Cohen's d ES 0.655 is not even inside the given CI (6.122, 6.309). Should be an easy fix.
![image](https://user-images.githubusercontent.com/27625429/97874964-df4df100-1d6d-11eb-8065-90a7207b7472.png)
![image](https://user-images.githubusercontent.com/27625429/97875144-13c1ad00-1d6e-11eb-806b-9e1606e41610.png)
Can supply data on request.

[2020-11-02 14:20] vandenman commented on #1036
Hi, thanks for reporting this!

Unfortunately, I can't replicate this on Ubuntu 18.04. Can you perhaps send us the data? Just the one column `tslfest` should be sufficient to replicate the issue. If you prefer, you can also email the data to us.

[2020-11-02 14:23] JASPUser commented on #1036
Hi Don,
attached.

Has Psych data.

Small filesize  .sav

sincerely,

Peter Williams

Master of Statistical Science

La Trobe University & La Trobe College

Email: peter.williams@latrobe.edu.au

________________________________
From: Don van den Bergh <notifications@github.com>
Sent: Tuesday, 3 November 2020 1:20 AM
To: jasp-stats/jasp-issues <jasp-issues@noreply.github.com>
Cc: Peter Williams <Pe

[2020-11-02 14:25] vandenman commented on #1036
Unfortunately, GitHub ignores files sent as attachments. Could you perhaps use GitHub's website to upload the data?

[2020-11-02 14:31] JASPUser commented on #1036
Trying to upload file as a "csv.txt" attachment.
[survey5ED.csv.txt](https://github.com/jasp-stats/jasp-issues/files/5475655/survey5ED.csv.txt)

[2020-11-02 15:16] boutinb commented on #1027
Hi @alicatko Doe is happen during the installation or during the starting of JASP? Did you try to install for a single user (not for all)? What is exactly the error message? You can give a screen shot ?

[2020-11-02 15:18] boutinb commented on #1030
Hi @Tdraymon What is 'Discord'? Does it prevent you from running JASP?

[2020-11-02 15:21] boutinb commented on #1007
Hi @dhanson06 When you use sync data, you don't have to change the file, you can select another file, and the same analyses with the same settings will be run with the new data.

[2020-11-02 15:22] JoKeyser commented on #726
@tomtomme, great, you should be able to translate already, see https://hosted.weblate.org/projects/jasp/

@FransMeerhoff , I think this issue can be closed, unless you consider this still under evaluation?

[2020-11-02 15:25] boutinb commented on #1031
Hi @tomtomme You can change the german translation by using WebLate: just make an account and select the JASP project. If you do that this week, it will be probably added in the next minor release (0.14.1) (over ~2 weeks)

[2020-11-02 15:25] #726 closed

[2020-11-02 15:26] boutinb commented on #1032
Hi @wagner12345 Can you give more information: which analysis, which settings, etc?

[2020-11-02 15:27] boutinb commented on #1033
Hi @Albens1234 Could you give your JASP file where this error occurs?

[2020-11-02 15:31] boutinb commented on #1034
Hi @NikitaKhromov-Borisov Just to be sure: you can open this file with an editor like notepad or Excel, but you can't with JASP?

[2020-11-02 15:42] dhanson06 commented on #1007
Thank you so much for the reply.  I will try that.

Derek Hanson, PT, DPT
Assistant Professor
Internship Coordinator
Health Promotion & Wellness Program
SUNY-Farmingdale State College
________________________________
From: bruno boutin <notifications@github.com>
Sent: Monday, November 2, 2020 10:21 AM
To: jasp-stats/jasp-issues <jasp-issues@noreply.github.com>
Cc: Derek Hanson <hansond@farmingdale

[2020-11-02 15:42] boutinb commented on #1035
@EJWagenmakers Do you know PROCESS?
@Jacksonj1290 We are in the process to make it easier for the R programmer to add a module in JASP. It is already possible but in a beta mode in 0.14. Documentation is already here: https://github.com/jasp-stats/jasp-desktop/blob/development/Docs/development/jasp-adding-module.md
So if someone is willing to add a module for PROCESS, we will be happy to help.

[2020-11-02 15:50] Jacksonj1290 commented on #1035
Thanks for your speedy response. I use PROCESS, but I don't know much about programming. I will forward your message to Andrew Hayes, the developer of PROCESS.
@Jacksonj1290

[2020-11-02 15:58] wagner12345 commented on #1032
Hi! Yes! I was using the descriptive statistics to create plots and tables.
Is that what you meant?

On Mon, Nov 2, 2020 at 9:27 AM bruno boutin <notifications@github.com>
wrote:

[2020-11-02 16:19] boutinb commented on #1032
Could you give your JASP file (in a zip format, and using the GitHub Website)?

[2020-11-02 16:39] tomtomme commented on #1031
Thats great. I will do that.
But how about the dot-comma-issue? I guess that it is not possible to change that in weblate, too.

[2020-11-02 17:17] wagner12345 commented on #1032
Yes how do I do that?

On Mon, Nov 2, 2020 at 10:19 AM bruno boutin <notifications@github.com>
wrote:

[2020-11-03 04:48] RenzoLanfranco opened #1037 "JASP 0.14.0.0 doesn't show effect sizes in repeated-measures ANOVA's post-hoc comparisons (Cohen's d)"
* JASP version: 0.14.0.0

* OS name and version: Windows 10
* Analysis: Repeated-Measures ANOVA
* Bug description: ticking the effect size box doesn't make a difference for post hoc comparisons. It doesn't show Cohen's d scores.
* Expected behaviour: To do what it's supposed to do: show the effect sizes.

#### Steps to reproduce:
Just run a standard repeated-measures ANOVA with post-hoc comparison

[2020-11-03 08:45] boutinb commented on #1032
Hi @wagner12345 You drag and drop your file in a issue comment in the GitHub website. Do not use your email.

[2020-11-03 08:51] vandenman commented on #1037
Hi, thanks for reporting the issue. Unfortunately, I can't replicate the problem with the Bush Tucker example in the Data Library. Could you maybe attach the .jasp file to this issue? You will have to zip the file first otherwise GitHub complains.

[2020-11-03 09:34] boutinb commented on #1031
Yes that's true, the dot-comma issue does not depend on the translation. It is now always a dot notation for decimals. We could it make indeed more locale specific (or adding a preference setting). I will discuss it with my colleagues.

[2020-11-03 10:39] EJWagenmakers commented on #395
This issue recently came up again (sorry, we dropped the ball on this). Just to clarify: we do offer this functionality for linear regression, through the "WLS Weights" function, right? (see screenshot). So the request is to implement this for other analyses as well?
![image](https://user-images.githubusercontent.com/8603015/97975296-359c4d80-1dc9-11eb-912d-dbd5a11ed50b.png)
I'll also check out th

[2020-11-03 10:43] EJWagenmakers commented on #395
Hmm that SPSS html file is not very precise about the methodology that is used. Does there exist an R package? A quick Google search suggests the "survey" package (demo: https://cran.r-project.org/web/packages/pricesensitivitymeter/vignettes/using-weighted-data.html) and a book: Lumley, T (2010) Complex Surveys: A Guide to Analysis Using R

[2020-11-03 13:40] ArCourtin opened #1038 "Inverted alternative hypotheses option for Bayesian One sample Wilcoxon t-test"
JASP v 0.14 (was already the case in previous releases, though)
It appears that the one-sided alternative hypotheses options are interverted for the Bayesian one-sample t-test when using a Wilcoxon test (cf. caption)
![bugreport](https://user-images.githubusercontent.com/53186412/97991978-6341c080-1de2-11eb-93b9-d5d77a6ede41.png)

[2020-11-03 14:49] wstrube opened #1039 "Request considering JASP installation error (missing VCRUNTIME140.dll)"
* JASP version: 0.14

* OS name and version: Windows 64bit

* Analysis: none
* Bug description:

Dear Team of JASP!

As a new member oft he University of Augsburg I tried to install your awesome statistics software JASP today.
I received help by my IT team, as I’m working on a “protected” computer environment (working as a clinical researcher).
When I was trying to install the program and to open

[2020-11-03 15:05] boutinb commented on #1039
Dear @wstrube Which Windows version do you have: Windows 7, 8, 10 ?
Could you install manually the VC redistributables: https://support.microsoft.com/en-us/help/2977003/the-latest-supported-visual-c-downloads ? It should have been done with the installation of JASP, but maybe it did not go well.

[2020-11-03 15:09] wstrube commented on #1039
Many thanks! Installing an visual C update did the trick – I used this link:
https://aka.ms/vs/16/release/vc_redist.x64.exe

Best regards
Wolfgang

Von: bruno boutin [mailto:notifications@github.com]
Gesendet: Dienstag, 3. November 2020 16:05
An: jasp-stats/jasp-issues <jasp-issues@noreply.github.com>
Cc: Strube Wolfgang <Wolfgang.Strube@bkh-augsburg.de>; Mention <mention@noreply.github.com>
Betre

[2020-11-03 16:18] boutinb commented on #1039
Fine to hear! But still strange that the VC redistributables were not installed with JASP...

[2020-11-03 16:18] #1039 closed

[2020-11-03 16:56] JorisGoosen commented on #1039
@wstrube I am wondering, you mention you work within a "protected environment", does that mean you were only allowed to install per-user?

[2020-11-04 00:44] mabe08 commented on #1032
Hello, I am having the same issue. Not sure what to do. I am leaving a screenshot here. I used this today and then went to add a new data set so I closed it without saving. Once Iopen the new date set, the following comes up.
<img width="1552" alt="Screen Shot 2020-11-03 at 7 43 00 PM" src="https://user-images.githubusercontent.com/73918013/98055991-ca746a80-1e0c-11eb-8aca-2453b2d44983.png">

[2020-11-04 07:14] boutinb commented on #1032
@mabe08 This is apparently something else: you don't use the same analysis, and you get another error. I don't understand what you did exactly. Do you open JASP with some data file, add the Generalized Mixed Model analysis and get immediately this error? Or is it after setting some analysis options?

[2020-11-04 07:58] wstrube commented on #1039
Hi!
Yes that means I was only allowed to install per user and needed my IT service guys to log onto my account and punch in their password
Best regards
Wolfgang

Von: Joris Goosen [mailto:notifications@github.com]
Gesendet: Dienstag, 3. November 2020 17:57
An: jasp-stats/jasp-issues <jasp-issues@noreply.github.com>
Cc: Strube Wolfgang <Wolfgang.Strube@bkh-augsburg.de>; Mention <mention@noreply.git

[2020-11-04 08:25] TimKDJ commented on #1017
@Kucharssim the parameter type in the `gettextf()` is wrong:
https://github.com/jasp-stats/jasp-desktop/blob/b816e1224fc50abc1ad7cefdcaa318389e219cf2/JASP-Engine/JASP/R/semsimple.R#L489-L501
the `%i` should be a `%s`, as `names()` returns a character:
[code]

Would be good to fix this for 0.14.1

[2020-11-04 09:22] NenaRoncevic commented on #727
Dear colleagues, this is just to support idea to add options on standardized/adjusted standardized residuals in chi-square tests in future iterations of JASP. Thank you.

[2020-11-04 10:36] JorisGoosen commented on #1039
Aah thank you for the info, enjoy using JASP!

[2020-11-04 17:18] wagner12345 opened #1040 "This analysis terminated unexpectedly"
* JASP version:

* OS name and version:
* Analysis:
* Bug description:
* Expected behaviour:

#### Steps to reproduce:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

This analysis terminated unexpectedly.

Error in (structure(function (...) : Column CLASS_SIZE not found!

Stack trace
analysis(jaspResults = jaspResults, dataset = dataset, options = options, state = oldStat

[2020-11-04 22:18] mabe08 commented on #1032
I open JASP, open the data set and click on linear modeling I believe is
what it is called. Usually the information would begging to come up, that
is when the error comes up.

On Wed, Nov 4, 2020 at 2:14 AM bruno boutin <notifications@github.com>
wrote:

[2020-11-05 02:13] ConalMonaghan opened #1041 "Potential issues with SD calculated through the reliability function"
* JASP version: 0.13.1
* OS name and version:
* Analysis: The reliability module - inferential approach
* Bug description: SD produced through this module appears incorrect. For the reliability module, the mean produces the same esimate as the descriptives analysis module, however, standard deviation is roughly half that produced by the descriptives module. The SD produced by the descriptives pack

[2020-11-05 09:08] boutinb commented on #1032
Can you send us the JASP file (in a zip format) by using the GitHub website ( drag&drop on a new comment of this issue)?

[2020-11-05 09:12] boutinb commented on #1040
Hi @wagner12345 You have made another issue https://github.com/jasp-stats/jasp-issues/issues/1032 where I asked you to give me the JASP file...
But I see now that you use MacOS Sierra: this version is not anymore supported by Apple self, and we neither. So you have first to upgrade your OS.

[2020-11-05 09:52] TimKDJ commented on #1017
@christofnaegele: this should be fixed in 0.14.1 which we'll release in the coming weeks.

[2020-11-05 09:52] #1017 closed

[2020-11-05 10:22] juliuspf commented on #1041
Dear Conal, thanks for reporting this issue.

If I am not mistaken, the standard deviation in descriptives is computed for each variable, and not for a bunch of variables, whereas the standard deviation in the reliability module is computed for a bunch of variables. So it seems unlikely that these align. However, the SD in the reliability module takes the SD of the item means, e.g., with 5 items t

[2020-11-05 12:22] JohnnyDoorn commented on #1038
Fixed by https://github.com/jasp-stats/jasp-desktop/pull/4390
This will also be in the bug hotfix.

[2020-11-05 12:22] #1038 closed

[2020-11-05 13:10] jennawneal opened #1042 "Error in installing JASP with most recent Mac Catalina update"
<img width="420" alt="Screen Shot 2020-11-04 at 2 13 37 PM" src="https://user-images.githubusercontent.com/74001593/98244986-46ba9b00-1f3e-11eb-834a-afe2a077d5b5.png">
<img width="420" alt="Screen Shot 2020-11-04 at 2 13 37 PM" src="https://user-images.githubusercontent.com/74001593/98245009-50440300-1f3e-11eb-8254-6f9cade68b73.png">

* JASP version:  0.14
 MacOS
* OS name and version: Catalina 10

[2020-11-06 05:31] algncn7 opened #1043 "I can't open the app after installing it many times."
I have installed the app many times but I cannot open it. Please reply ASAP. My midterm exam is coming and I can't do my requirements because we need ro use this app.

jasp ver. : JASP 0.14.0.0
laptop specs: windows 10, 64 bit

[2020-11-06 07:47] EJWagenmakers commented on #1043
Dear algncn7,
What message are you getting, or does nothing happen? Do you have admin rights on your laptop? Have you tried our zip file? (it can just be unzipped and you can click the .exe file, no need for installation)
E.J.

[2020-11-06 08:11] tomtomme commented on #1043
https://static.jasp-stats.org/JASP-0.14.0-64bit.zip
heres the zip

[2020-11-06 08:13] tomtomme commented on #1042
MacOS says the file is damaged and I would treat it that way. Maybe he downloaded via a instable WLAN connection or something is wrong with his network-hardware. Try downloading via another computer and transfer the file via usb-stick. If this does not help, report back.

[2020-11-06 08:16] tomtomme commented on #1040
If you cannot update your OS for some reason, you could download an older JASP version https://jasp-stats.org/previous-versions/
Verstion 0.12 should work

[2020-11-06 08:19] tomtomme commented on #1034
Is it csv or scv. You wrote both. Did you create it yourself and how? Maybe it is not really a csv. Thus boutinb's suggestion to open it with notepad / a simple text editor. Then post a screenshot of the content.

[2020-11-06 08:23] tomtomme opened #1044 "I want to help translate the help-texts to german"
I already translated via weblate. However the help texts behind the blue (i) buttons seem not to be integrated into weblate. How can I contribute translations to german?

[2020-11-06 10:51] NikitaKhromov-Borisov commented on #1034
The problem is observed with any csv files and only with the newest JASP version 0.14.0. So I use the previous version 0.13.1

[2020-11-06 15:40] boutinb commented on #1044
Yes, that's true, the help texts are not yet integrated in WebLate. It will be done soon, and it will be available for 0.15. In 0.14 it is still done with apart md files.

[2020-11-06 15:49] boutinb commented on #1034
On Windows you can now install JASP in 2 ways now: for all users (as admin), or for yourself only (you don't need to be admin). How did you install JASP?

[2020-11-06 16:24] tomtomme commented on #1044
just great :dancers:

[2020-11-06 16:24] #1044 closed

[2020-11-06 17:20] NikitaKhromov-Borisov commented on #1034
just now I reinstalled JASP through the Advanced -> for all users and now
it's OK
Thanks.
BTW, I'm waiting for several years when you will correct the calculation of
the Phi coefficient for contingency tables
E.g.,

*Contingency Tables *

*Sever *

*mStKT *

*1 *

*2 *

*3 *

*4 *

*Total *

0

4

4

3

0

11

1

28

122

14

3

167

2

6

234

46

4

290

3

1

126

131

16

274

4

1

23

63

34

[2020-11-06 19:19] EJWagenmakers commented on #1034
Team, you can look at the phi coefficient? @JohnnyDoorn can you look at the CI for the effect size parameters in ANOVA?

[2020-11-08 07:28] brianmsm opened #1045 "Spreadsheet editor don't open"
* JASP version: 0.14

* OS name and version: Manjaro 20.2 GNU/Linux
* Analysis: This situation happens with all files that I test it. Include, the example files.
* Bug description: Whatever file .csv don't open spreadsheet editor when I click on cells.
* Expected behaviour: When I click on cells, an spreadsheet edito should open, like libreoffice (it's default editor in my system).

#### Steps to

[2020-11-09 01:21] romanogino opened #1046 "Rename Cronbach' alpha and McDonald's omega to 'coefficient', pay tribute to KR20 in help file"
Dear JASP Team

¿Could you add the Kuder Richardson test to JASP?

Best regards.
r.

[2020-11-09 08:40] boutinb commented on #1034
@vandenman Can you have a look to this last question?

[2020-11-09 09:46] JorisGoosen commented on #1045
Hello Brian,

Sorry to hear the spreadsheeteditor isn't opening.
Could I ask what desktop environment you are using?

[2020-11-09 15:46] brianmsm commented on #1045
I currently using KDE Plama 5.20

[2020-11-09 19:24] jennawneal commented on #1042
That didn't help. The issue seems to be a problem only for students with the most recent Mac Catalina update (I have another student who had a similar issue as well).

[2020-11-10 01:44] mike-ology commented on #379
I realise that this issue was closed some time ago, but it doesn't seem that this feature has been added yet? CFA still only allows scale variables to be entered, and there is no indicate that scale variables with ordinal data are handled differently in the analysis.

[2020-11-10 01:55] mike-ology commented on #893
+1 to the request.

I actually made a similar request over a year ago that was closed but didn't seem to result in any feature additions (#379). It would be nice to have some update on the status of this feature as I have seen it requested multiple times now. I do a lot of work using ordinal data (factor analyses of questionnaire responses) and it is a shame that JASP isn't fit for handling these

[2020-11-10 02:45] RenzoLanfranco commented on #1037
@vandenman sorry, I just realised it was a bug in the spreadsheet I imported into JASP. It wasn't a JASP bug.
Thanks for your time!

[2020-11-10 02:45] #1037 closed

[2020-11-10 03:39] ConalMonaghan commented on #1041
Thanks for responding here. So the SD for the reliability module is the distribution of the item means and not individual responses? Great to know, this is a nice additional function and I wonder if a small footnote explaining this difference would be helpful for people who confuse these two forms of variation. Will close.

[2020-11-10 03:39] #1041 closed

[2020-11-10 03:53] SKnHub commented on #379
True,  ordinal Factor analysis was not found included in the two subsequent jasp updates.Request the same at the earliest. On 10-Nov-2020 7:15 AM, Michael E <notifications@github.com> wrote:
I realise that this issue was closed some time ago, but it doesn't seem that this feature has been added yet? CFA still only allows scale variables to be entered, and there is no indicate that scale variables

[2020-11-10 08:37] juliuspf commented on #1046
Thank you for this feature request.
Is there a special reason why you do not want to use Cronbach's alpha? Alpha is a generalisation of KR20, and will be essentially the same under general assumptions.

[2020-11-10 08:39] juliuspf commented on #1041
Thanks. You are right. We are planning to add two different measures for mean and SD of a scale in the future (and label both accordingly)

[2020-11-10 09:37] boutinb commented on #379
@vandenman Can you have a look?

[2020-11-10 09:49] boutinb commented on #893
@JohnnyDoorn Can you have a look to this request?

[2020-11-10 10:16] JorisGoosen commented on #1045
Aah so this problem doesn't just affect @vandenman..

I'm trying to get a beta-build of flatpak up and running where the spreadsheeteditor will actually open on Plasma.
I'll post here if I manage to get that compiled.

[2020-11-10 10:19] vandenman commented on #1045
@JorisGoosen actually, the problem is solved with the latest flatpak release. I'm on Ubuntu 18.04 though with plasma 5.12.9

[2020-11-10 10:24] FransMeerhoff commented on #1042
Hi @jennawneal
I'm running here on MacOS Catalina Version 10.15.7 and can't reproduce the problem.
Could you ask the students:
1. To send the file info of the downloaded .dmg file (By right clicking on the file and choose 'Get Info')
![Screen Shot 2020-11-10 at 11 16 39](https://user-images.githubusercontent.com/15656960/98661248-83273600-2346-11eb-94d8-dcd9dccf0dea.png)
2. A wild guess: but could

[2020-11-10 10:58] JorisGoosen commented on #1045
@vandenman which version of flatpak are you on now?
And @brianmsm ?
`flatpak --version`

[2020-11-10 11:51] vandenman commented on #1045
[code]

[2020-11-10 12:32] brianmsm commented on #1045
I would assume that with Manjaro I would have the most up to date version of flatpak. It seems that it is not so.

[code]
So, Do I need to upgrade my version of flatpak?

[2020-11-10 12:38] brianmsm commented on #1045
I've just upgraded my version of flatpak from arch's repos, but the issue is still here.

[code]

[2020-11-10 13:50] romanogino commented on #1046
Sometimes students apply surveys with yes/not answers (binary data) and Cronbach is a little big for these questions. In essence, it is to teach students to apply and analyze simple surveys..
Best regards.

[2020-11-11 11:41] asgomes82 opened #1047 "Reliability analysis in descriptive module not found"
* JASP version: 0.14

* OS name and version: Windows 10
* Analysis: Reliability analysis
* Bug description: not found
* Expected behaviour: expected to be in descriptive statistics.

I've recently upgraded to v.0.14. Since then, I cannot find the reliability analysis.

Is it a bug? Did it changed the module where is presented?

Thank you.

#### Steps to reproduce:
1. Go to '...'
2. Click on '....'

[2020-11-11 12:12] vandenman commented on #1047
The reliability module was moved to a module in JASP 0.14. To get it back,
1. Click on the `+` in the topright of the jasp window. That opens up a menu where you can select `Reliability`.

![image](https://user-images.githubusercontent.com/21319932/98810287-49762e00-241f-11eb-8b31-bd492d601b68.png)

2. Once you've selected `Reliability` a new icon appears on the ribbon and you can do the analysis

[2020-11-11 12:37] asgomes82 commented on #1047
Perfect!
Thnak you very much.

[2020-11-11 12:38] #1047 closed

[2020-11-11 12:52] ilariagnd commented on #206
This year I will teach basic introductory medical statistics using JASP.  It would be really great to have a tool for survival analysis. Many thanks!

[2020-11-11 16:48] asgomes82 opened #1048 "Pathdiagram in SEM analysis"
* JASP version: 14

* OS name and version: windows 10
* Analysis: SEM analysis
* Bug description: attempt to select more than one element in integerOneIndex
* Expected behaviour: to generate the path diagram

I manage to generate path diagrams previously, but now it keeps appearing this information. The rest of the analysis is presented correctly.

#### Steps to reproduce:
1. Go to '...'
2. Click

[2020-11-11 16:57] asgomes82 commented on #1048
Sorry. It was a variable misscategorized. It is fixed.

[2020-11-11 16:57] #1048 closed

[2020-11-11 18:11] jennawneal commented on #1042
Using a different browser solved the problem!  Thanks so much for your help!

[2020-11-11 18:11] #1042 closed

[2020-11-11 20:39] janelle112 opened #1049 "This analysis terminated unexpectedly"
* JASP version: 0.11.1

* OS name and version: MacOS Catalina Version 10.15.7
* Analysis: ANOVA
* Bug description: Unable to calculate simple main effects within ANOVA
* Expected behaviour: Calculates simple main effects of my variables (each have more 2 or more levels but it says they don't)

#### Steps to reproduce:
1. Go to Simple Main effects
2. Click on Intensity (A) and move it to Simple Eff

[2020-11-12 04:04] brianmsm commented on #1046
KR-20 is a particular case of Cronbach's alpha. I don't think an additional option is necessary for something that is essentially the same.

[2020-11-12 04:08] romanogino commented on #1046
Thanks for the answer. It was just a proposal. Cronbach is also a very good option.
Best regards.
r

[2020-11-12 04:13] brianmsm commented on #903
I'd also like to have this feature in JASP.
For EFA with psych, is possible to use `polychoric` function within function for `parallel` or `fa` procedures.
For CFA with lavaan, you can include this with `ordered` argument within `cfa` or `sem` function. For example:
[code]

[2020-11-12 04:16] brianmsm commented on #898
The `reliability` function from `semTools` package can do this, include omega for correlated errors.

[2020-11-12 07:48] juliuspf commented on #1046
@EJWagenmakers do you have some thoughts?

[2020-11-12 08:13] EJWagenmakers commented on #1046
The consensus so far seems to be that the added value is limited. If other people bring the issue up again we can revisit it.

[2020-11-12 08:22] boutinb commented on #1049
Hi @janelle112, JASP 0.11.1 is quite old. We have now JASP 0.14. Can you try this version?

[2020-11-12 08:24] boutinb commented on #903
@Kucharssim Is it something you could implement?

[2020-11-12 09:47] tomtomme commented on #39
no, it is still an open issue. I can switch to german for the UI, but result tables still show for example 2.2 instead of 2,2.

[2020-11-12 09:49] tomtomme opened #1050 "Can D3.js visualization library be integrated in JASP"
I have no clue if you could even add javascript to the JASP code base, but D3.js seems like a very powerful solution to enhance graphing / plotting capabilities of JASP. See: https://flowingdata.com/2020/11/11/tour-of-the-d3-ecosystem/

[2020-11-12 11:53] Diesfeldt opened #1351 "InferentialPlotsCorrelation"
Problem: changing the alternative hypothesis from ‘correlated’ to ‘correlated positively’ does change the table output and does change the label BF+0 in the inferential plots, but it does not change the value of BF and the pizza-plot.
[InferentialPlotsCorrelation.docx](https://github.com/jasp-stats/jaspSummaryStatistics/files/5530425/InferentialPlotsCorrelation.docx)

[2020-11-12 15:00] jlwoodard opened #1051 "Prediction and Confidence Intervals in Regression in Predictor and Outcome Units"
* Enhancement: Allow users to decide whether to graph prediction and confidence intervals not only in residual units, but in raw score units for the predictor and outcome variables as well.
* Purpose: I am so happy to see the prediction and confidence intervals being made part of the regression options, but I could not see a way to prepare these graphs in units other than the residuals. I was not

[2020-11-12 17:46] tasha174 opened #1052 "JASP crashed"
* JASP version: 0.14
* OS name and version: KDE Flatpak runtime

* Analysis:
* Bug description:
* Expected behaviour:

#### Steps to reproduce:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

-----------------------------------------------------------------------

### Debug information:
**Engine # 0** process *crashed* and it's state is *initializing*.
**Engine # 1** proce

[2020-11-12 17:58] janelle112 commented on #1049
Yes, do I need to update the application? I have tried to look for this option with no success. Or is there a link to be able to download that newer version?
________________________________
From: bruno boutin <notifications@github.com>
Sent: Thursday, November 12, 2020 2:22 AM
To: jasp-stats/jasp-issues <jasp-issues@noreply.github.com>
Cc: Janelle Bobula <bobulaj@myumanitoba.ca>; Mention <mention

[2020-11-13 08:25] vandenman commented on #1049
@janelle112 you can obtain the latest version from https://jasp-stats.org/download/

[2020-11-13 11:41] tomtomme commented on #1045
I can confirm this. Also setting a text editor like kate to handle csv does not help. It worked with JASP 0.13 the last time I think.
I am also on manjaro KDE.
@brianmsm How did you update your flatpak to 1.8.2? There is only 1.8.1 in my list.

[2020-11-13 11:52] brianmsm commented on #1045
I downloaded the package from here: https://www.archlinux.org/packages/extra/x86_64/flatpak/download/

[2020-11-13 12:12] boutinb commented on #1050
@vandenman Can you have a look if it is something we could use for plot editing?

[2020-11-13 12:13] boutinb commented on #1051
@Kucharssim Can you have a look at this request?

[2020-11-13 12:15] boutinb commented on #1052
HI @tasha174 Can you describe precisely what you did with JASP before it crashes?

[2020-11-13 12:17] JorisGoosen commented on #1045
Yeah it is too bad but it seems to be caused by `Plasma` in combination with our version of Qt (still using 5.12 atm)...
If you run any other desktop environment the spreadsheet editor *will* open...

[2020-11-13 12:20] tomtomme commented on #1045
Thanks. I installed it successfully. That did not help me either. But I did notice:
If the file comes from /app/bin/Resources/Data Sets/Data Library/...
then - and only then - I can edit the file. However I do have no clue where this folder really is. Its not accessible with my filemanager. But the path is shown this way in jasp.

[2020-11-13 12:26] JorisGoosen commented on #1045
Ooh that is weird!

`/app/bin` is a fake root folder flatpak makes to run software from. This is actually (for jasp anyway) not real files but sort of a git-repo for files so it isn't really possible to find it normally.

The strange thing is that those files are the bundled datafiles and are the only ones that aren't supposed to be editable...

[2020-11-13 12:33] tomtomme commented on #1045
I can open them as .jasp - then I cannot edit, but he asks first to create a datafile. That I can only create in an "outside" folder. So no edit possiple.
But when I open it as .csv from the datalibrary I can edit. He asks me first which program to use and then I select the editor and it opens it "write protected". However I can make it writable with a press of a button in libreoffice calc. When I

[2020-11-13 12:36] JorisGoosen commented on #1045
Ah yeah ok, that is less weird then.

Well I will try to have this fixed for the upcoming 0.14.1 release (although I see in flatpak I already accidentally gave the latest version that number) .

In the meantime the workaround (when you do not want to switch desktop environment) is that you could just open the spreadsheet-editor separately and open your csv file. JASP will still sync with it even i

[2020-11-13 12:40] vandenman commented on #1050
Although D3.js certainly is a power graphing library, it would require a complete rewrite of all plots (which are currently written in R) as well as javascript integration into R. I suppose integrating javascript into R is possible with `V8`, but to do something like that we're talking years rather than weeks or months. I'd see more potential for something like [`plotly`](https://plotly.com/ggplot

[2020-11-13 13:17] boutinb commented on #1050
Also for your information: we will already implementing some plot editing features, that will be available in 0.15

[2020-11-13 13:27] tomtomme commented on #1045
good to know!!

[2020-11-13 13:29] tomtomme commented on #1050
thanks for looking into this. I will close this then for now :+1:

[2020-11-13 13:29] #1050 closed

[2020-11-15 05:57] zrocca opened #1053 "macOS Big Sur Compatibility Issue?"
* JASP version:0.14

* OS name and version: macOS 11.0.1
* Analysis:
* Bug description:  Can't change value data to be ordinal, nominal or scale.  Also, Can't click on the title row for each column to change the name.
* Expected behaviour: Should be able to reclassify the data and change the name of columns.

#### Steps to reproduce:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. Se

[2020-11-16 16:29] boutinb commented on #1053
Hallo @zrocca You can change the data type by clicking on the icon of the column header of the data.
There is no possibility to change the name of the columns directly in JASP, but you can double-click on the data panel, and it will open your data file with your preferred spreadsheet editor. You can then change column names, of data, and this change will be automatically synchronized in JASP.

[2020-11-16 16:49] rcarlton2 opened #1054 "Unexpected Termination Error in Generalized Linear Modeling"
* JASP version: 0.14

* OS name and version: MacOS Mojave and  replicated on High Sierra
* Analysis: Generalized Linear Modeling (Visual Modeling Module)
* Bug description: Output terminates with the following message:
This analysis terminated unexpectedly.
Error in gzfile(file, 'wb'): cannot open the connection
Stack trace
tryCatchOne(expr, names, parentenv, handlers[[1]])
doTryCatch(return(expr)

[2020-11-16 16:54] rcarlton2 commented on #1054
Zip file of the JASP data attached. This is just simulated data for practice purposes.
[Application 7 and 8 Data JASP.jasp.zip](https://github.com/jasp-stats/jasp-issues/files/5548438/Application.7.and.8.Data.JASP.jasp.zip)

[2020-11-16 19:07] zrocca commented on #1053
Hello,

Ive attached a screenshot that shows that I can’t change the data type from
nominal to ordinal. Also when I uploaded the spreadsheet the system
automatically labeled a V7V8 as you can see in the screenshot I was
wondering if there is any way to change that since those data points are
not in the original spreadsheet.

On Mon, Nov 16, 2020 at 8:29 AM bruno boutin <notifications@github.com>
w

[2020-11-17 10:51] TimKDJ commented on #684
The stem and leaf tables will be in JASP 0.15.
I don't think there are immediate plans for the dot plots.

[2020-11-17 12:06] boutinb commented on #1053
Hi @zrocca I don't the files you upload if you answer directly with your email. Please use GitHub to answer.
You can change a column to ordinal only if it contains integers. Maybe you have some not numeric values in it?

[2020-11-17 12:12] boutinb commented on #1054
Hi @dustinfife, can you have a look to this problem?

[2020-11-17 13:53] vandenman commented on #684
A dot plot implementation is here: https://github.com/jasp-stats/jasp-desktop/pull/4348. It still needs some work but it'll probably also make 0.15.

[2020-11-17 14:05] dustinfife commented on #1054
Yes, @boutinb, this is the issue I mentioned to you in email and should have been fixed on my end with my most recent commit on Github. (Long story short, I had a "save" in my file that I used for debugging purposes that I forgot to remove).

[2020-11-17 15:24] MAALKAN opened #1056 "GEE"
Would it be possible to include the option to do a generalised estimating equation in the mixed models feature please?

[2020-11-17 15:39] rcarlton2 commented on #1054
Thanks both of you, I’ll keep an eye out for the new version.

[2020-11-17 16:50] MAALKAN commented on #1054
Version 0.14.1 returns an error :
This analysis terminated unexpectedly.

Error in gzfile(file, 'wb'): cannot open the connection

Stack trace
tryCatchOne(expr, names, parentenv, handlers[[1]])

doTryCatch(return(expr), name, parentenv, handler)

withCallingHandlers(expr = analysis(jaspResults = jaspResults, dataset = dataset, options = options), error = .addStackTrace)

analysis(jaspResults = jas

[2020-11-17 19:10] FBartos commented on #1056
Hi @MAALKAN ,

thanks for the suggestion. We will look into it, but I wouldn't expect that we would implement gee very soon.

In the meantime, I think that the `Generalized Linear Mixed Model` analysis (with binomial family) from the `Mixed Models` module for the repeated measures and `Logistic Regression` from the `Regression` module for no repeated measures should be able to do the job.

Cheers,

[2020-11-17 19:32] mjkofler commented on #949
Issue remains in version 0.14

[2020-11-17 19:35] JohnnyDoorn commented on #949
Hi @mjkofler

Unfortunately we do not print effect sizes for interaction effects, since it does not seem very straightforward how to calculate this. I am aware of this, and want to start working on this in the next year (we are currently undertaking research project about ANOVA's and effect sizes that will hopefully provide more insight).

Kind regards
Johnny

[2020-11-17 19:41] mjkofler commented on #949
Thanks for the quick reply! Cohen’s d ESs were printed for interaction effects (between x repeated measure) in earlier versions of JASP. The group x time interaction is the critical test in RCTs, so the omission of corresponding effect sizes for these tests in more recent JASP versions was notable. Thanks!

[2020-11-17 20:24] SophiaQP opened #1057 "This analysis terminated unexpectedly. (Reliability - Single Test - Cronbach's, Cronach's (if item dropped))"
* JASP version: 0.9.2
 MasOS
* OS name and version: macOS Catalina Version 10.15.6
* Analysis: Reliability
* Bug description:
Error in relyFit[['freq']][['omega.fit']] <- omega[['indices']]: replacement has length zero

Stack trace
tryCatchOne(expr, names, parentenv, handlers[[1]])

doTryCatch(return(expr), name, parentenv, handler)

withCallingHandlers(expr = analysis(jaspResults = jaspResults, d

[2020-11-17 20:25] JohnnyDoorn commented on #949
We used a rough simple measure, which was the t statistic, divided by the square root of n. In the end I did not feel comfortable with that, so removed it, pending a better method. So if you want, you can apply this yourself, if you already need an effect size (albeit a rough one).

[2020-11-17 20:25] SophiaQP commented on #1057
Hi there! Not sure if I've filled this out 100%ly accurately, but let me know if any more information is needed

[2020-11-17 20:50] mjkofler commented on #949
Great might be the enemy of good in this case? Would it be possible to add it back for cases where the repeated measure has 2 levels, in which case the effect sizes would be straightforward, as paired samples T-tests just run separately for each of the between-subjects groups (which is already implemented when running paired samples T-tests, but saves a lot of time versus having to ‘select cases’

[2020-11-17 21:32] chantelanuit commented on #684
Nice addition. Thank you for the follow-up !

[2020-11-17 23:22] pattyswim commented on #1053
I am having the same problem. When I try to click on the icon to change the data type to scale, ordinal, or nominal the choices show up and I click on one, but nothing happens. Also the icon looks different. I am attaching a screen shot, I circled the icon in red.
<img width="606" alt="Screen Shot 2020-11-17 at 3 20 46 PM" src="https://user-images.githubusercontent.com/74630372/99462483-a0c94200-2

[2020-11-18 06:25] RMOCHI25 opened #1058 "JASP crashed"
* JASP version: 0.14
* OS name and version: Windows 10 (10.0)

* Analysis:
* Bug description:
* Expected behaviour:

#### Steps to reproduce:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

-----------------------------------------------------------------------

### Debug information:
**Engine # 0** process  is *running* and it's state is *settings*.
**Engine # 1** process

[2020-11-18 08:52] boutinb commented on #1053
This icon shows that it is Nominal Text type. I can see already that the data contains strings. This means that it cannot be changed in scale or ordinal type.

[2020-11-18 08:55] boutinb commented on #1057
Hi @SophiaQP, the JASP version you use is quite old. We have now 0.14 version here https://jasp-stats.org/download/
Can you try it, and check whether the problem still occurs.

[2020-11-18 08:57] boutinb commented on #1058
Hi @RMOCHI25 Could you add a more precise description of what you did to get this error?

[2020-11-18 09:56] ducatony opened #1059 "Survivorship analyses"
Hi all,

I was wondering if there has been (I presume there has, but I haven't been able to find it) a discussion on adding survivorship analyses to JASP, specifically Kaplan Meier with the comparisons as well as the Cox Regression analysis.

Kind regard,
Tony

[2020-11-18 10:31] #1053 closed

[2020-11-18 10:35] JorisGoosen commented on #1045
Maybe someone who is having some trouble opening the spreadsheet editor on linux with JASP 0.14 can help me out by testing the new beta release of JASP?

To do so you need to add `flathub-beta` as follows:
`flatpak remote-add flathub-beta https://flathub.org/beta-repo/flathub-beta.flatpakrepo`

And then you can install the jasp beta like: `flatpak install flathub-beta org.jaspstats.JASP`

To run t

[2020-11-18 10:46] tomtomme commented on #1045
It works!!!!
Tried with a .csv and edited in libreoffice.
Tried with a .sav and edited in pspp.
Nice work :+1:

[2020-11-18 11:16] tomtomme commented on #491
As some of the above charts are now available in jasps visual modeling I will close this for now. There are still gaps like area-charts, stacked charts, ring chart, barcode and radar / spider / web chart. But for those I will open a new issue.

[2020-11-18 11:16] #491 closed

[2020-11-18 11:31] tomtomme commented on #1045
I hit a snag. When I want to analyse any edited data file now jasp crashes. I just hit the button "descriptives" and its gone. This is for all file types and only with edited files. Its also for all analysis buttons, for some it just needs some seconds before it crashes.

last lines in konsole are:

[code]
then crash

[2020-11-18 11:33] tomtomme opened #1060 "Please add radar chart and heatmap"
JASP already greatly improved plotting especially with flexplot.
Now whats really missing are some plot types for 3 variables highligted in red.
The yellow ones are second priority because they are already covered by alternatives that show mostly the same information in a different style.
<img width="1355" alt="grafik" src="https://user-images.githubusercontent.com/4428185/99525496-307af900-299a-1

[2020-11-18 11:45] JorisGoosen commented on #1045
This might be an unknown issue, Ive certainly never seen it. You could make a new issue for that, but be careful to mention you've used the flatpak beta.

[2020-11-18 11:47] tomtomme commented on #647
I think its still valid. Its really hard for me to explain my students that metric variables are discrete or continuous - and then to explain to them, that JASP igores that and just tells the user to treat all metric variables as continuous.

[2020-11-18 11:50] JorisGoosen commented on #1045
Well, it is a beta version, although we honestly didn't change that much so Im a bit surprised. Would you be interested in helping us test the next release? I could add you to our "External Testers" team and you would then be granted access to the testing issue tracker. Where we could then make a new issue for this. Otherwise it would also be fine to make a new issue for it here in jasp-issues.

[2020-11-18 11:52] tomtomme commented on #396
I think this feature request is still valid. Maybe someone has now time to look into it again. Thx.

[2020-11-18 11:56] tomtomme commented on #1045
Thanks, I would like to beta-test and report issues :D

[2020-11-18 12:03] JorisGoosen commented on #1045
Ok @tomtomme Ive added you to the group and made an issue for the jasp crash: https://github.com/jasp-stats/jasp-test-release/issues/1054

Im guessing the crash on ods is related to the crash on running an analysis... But we'll have to see what is going wrong.

This issue is solved at least so Ill close it.

[2020-11-18 12:03] #1045 closed

[2020-11-18 12:05] Kucharssim commented on #1060
Hello @tomtomme,

thanks for the request. Regarding the heatmaps: I understand what you suggest with the plot in the Spiegel article, I think that should be doable. I am not sure which kind of heatmap you refer to with the wikipedia article. There are many different plots that can be described as a "heatmap". Would you want to be more specific?

[2020-11-18 12:16] vandenman commented on #396
@tomtomme would a frequency table in the screenshot below fulfill your needs?

![image](https://user-images.githubusercontent.com/21319932/99529484-2cea7080-29a0-11eb-80a8-46bff8b5772e.png)

[2020-11-18 12:29] tomtomme commented on #396
absolutely!!! thx ! :D

[2020-11-18 12:33] tomtomme commented on #1060
I think it would be nice to be able to add any metric variable and then to choose which one goes to X, to Y and to color. The specific one from wikipedia is not that important to me.

[2020-11-18 12:36] vandenman commented on #396
if you create an ordinal text variable like this:

![image](https://user-images.githubusercontent.com/21319932/99531400-f3673480-29a2-11eb-939b-ed35e22c7827.png)

then that should already work in the latest jasp version. just remember to filter out the missing values afterward.

[2020-11-18 12:37] juliusverrel commented on #385
this would be extremely helpful, helping to avoid having a separate file for each sub-analysis (as described above by @gkfb )

[2020-11-18 14:06] Kucharssim commented on #1060
Ok, that makes sense now!

[2020-11-18 14:41] JorisGoosen commented on #1058
Were you changing some settings in JASP perhaps?

[2020-11-18 23:30] bradyse commented on #1058
After my most recent Windows update, JASP (0.14) quit working. After reinstalling it, every attempt to open the program fails.

[2020-11-19 00:02] bradyse commented on #1043
I also have a Windows 10, 64 bit and the same thing happened to me (using the installer file), which was you click to open the app and nothing happens. When I tried to download the zip file, and install it that way, the following error occurred: "The application failed to start because no Qt platform plugin could be initialized. Reinstalling the application may fix this problem." But when I instal

[2020-11-19 01:09] summerloving opened #1061 "Error in gzfile(file, 'wb'): cannot open the connection"
* JASP version: 0.14
 MacOS
* OS name and version: macOS Big Sur Version 11.0.1
* Analysis: GLM
* Bug description: error in gzfile (file, 'wb'): cannot open the connection
* Expected behaviour: perform GLM

#### Steps to reproduce:
1. Go to 'GLM'
2. Choose 'DV'
3. Choose 'IV'
4. See error

[2020-11-19 07:59] FransMeerhoff commented on #647
Hi @vandenman
A recurring request. Can we make it a topic for 0.15 you think? Or do you have any other comment on this issue.
Cheers Frans

[2020-11-19 09:09] vandenman commented on #647
So we could implement this but you'd get tables like these:

![image](https://user-images.githubusercontent.com/21319932/99643098-93c56380-2a4c-11eb-8e28-8a6cd036b7c8.png)

For most continuous data, you'd get a table with as many rows as there are observations and the frequency for each row is 1 because all observations are unique. If your data set contains many observations (~1000) the output wou

[2020-11-19 09:13] boutinb commented on #1058
I have heard that sometimes there is a problem with the Visual C++ redistributable libraries. These libraries are shipped with JASP, but after a Windows upgrade something goes wrong. Could you install these libraries yourself: https://support.microsoft.com/en-us/help/2977003/the-latest-supported-visual-c-downloads
And then try again to start JASP.

[2020-11-19 09:15] EJWagenmakers commented on #647
What if we provide the table that corresponds to the histogram? So we indicate how many observations fall into a specific interval.

[2020-11-19 09:16] boutinb commented on #1061
Could you send us your JASP file (in a zip format, and by using the GutHub platform)?

[2020-11-19 09:17] boutinb commented on #1043
I have heard that sometimes there is a problem with the Visual C++ redistributable libraries. These libraries are shipped with JASP, but after a Windows upgrade something goes wrong. Could you install these libraries yourself: https://support.microsoft.com/en-us/help/2977003/the-latest-supported-visual-c-downloads
And then try again to start JASP.

[2020-11-19 09:25] vandenman commented on #647
@EJWagenmakers like a stem and leaf table? Granted, you still have to count the frequencies here though.

![image](https://user-images.githubusercontent.com/21319932/99646983-73e46e80-2a51-11eb-9e16-82600a1deb8f.png)

[2020-11-19 09:29] JorisGoosen commented on #1058
Bruno, if those are missing you get an explicit warning that the runtime is missing and JASP won't even start. Thus it will also not get to this crashreport.

[2020-11-19 09:35] JorisGoosen commented on #1058
What would be helpful is if @bradyse could start JASP and send us the logfiles.

To do so (s)he would have to open a command prompt, then navigate to the directory where JASP was installed by entering one of the following two commands (or one with the custom folder):
`cd "C:\Program Files\JASP\` or `cd "C:\Program Files (x86)\JASP\`

Then in that folder JASP can be started as:
`JASP --logToFile 1>

[2020-11-19 09:52] DrMarkGS opened #1062 "[Feature Request]: Median, IQR, MAD etc. for non-parametric ANOVAs & paired tTest"
Hi folks
When carrying out non-parametric analyses students are told to report the descriptives as median and IQR's or MAD.  However the default descriptives in t- tests, ANOVA etc are always mean, SD or SE.

Is there any possibility that if non-parametric analyses are selected that the descriptive show medians etc.  This will stop students naturally presenting the default means & SD which are ina

[2020-11-19 11:14] tomtomme commented on #647
Stem and leaf plot is nice! How did you make it?
But what EJWagenmakers suggests is an automatic construction of categories / classes. The histogram does this already. It shows for example values from 0 to 5, then 5 to 10 etc. It would be even better for the user to define the number of bins themselves. That might be however another issue.
To limit construction of the table to a certain number of

[2020-11-19 11:15] tomtomme commented on #1045
the above link leads to a 404 page...

[2020-11-19 11:23] tomtomme commented on #396
Thanks. I tried to reproduce this. It works for ordinal and nominal and is a great workaround. However I need this also vor metric / scale data. I know I can switch scales, but its not very practical.
Another caveat with your solution you mention:
After I counted the missing values I have to add them to the missing values afterward. Then, for a new dataset I have to remove those values from the mi

[2020-11-19 11:32] tomtomme commented on #532
this discussion moved to
Allow frequency tables for scale data
#647

So I can close this one.

[2020-11-19 11:32] #532 closed

[2020-11-19 11:39] tomtomme commented on #574
@boutinb: Is plot editing with label adjusting still in the pipeline? The feature did not make it for 0.13 or 0.14 as far as I can tell.

[2020-11-19 11:39] tomtomme commented on #231
My take on this here was formulated way to complicated and my proposed solution was maybe over engineered. I will think of a more pragmatic way to solve this and close this for now. Part of the problem is also discussed here now: Allow frequency tables for scale data
#647

[2020-11-19 11:39] #231 closed

[2020-11-19 12:07] boutinb commented on #574
No, that's true... but in 0.15 it will be there. Really!

[2020-11-19 12:07] boutinb commented on #1062
@EJWagenmakers ?

[2020-11-19 12:14] JorisGoosen commented on #1045
Have you accepted the invitation to the external testers team in jasp-stats?
Then you should be granted access there (if logged in ofc)

[2020-11-19 14:56] juliuspf commented on #1057
I am quite certain the version number she provided is inaccurate. Such an error would one occur in the two latest versions of JASP. @SophiaQP you might try the latest nightly (https://static.jasp-stats.org/Nightlies/) and check if the problem still occurs.

[2020-11-19 14:57] juliuspf commented on #1033
you might try the latest nightly (https://static.jasp-stats.org/Nightlies/) and check if the problem still occurs.

[2020-11-19 15:05] summerloving commented on #1061
[Screen Shot 2020-11-18 at 8.08.01 PM.zip](https://github.com/jasp-stats/jasp-issues/files/5567628/Screen.Shot.2020-11-18.at.8.08.01.PM.zip)

^^I think this should work now. Thanks!

[2020-11-19 15:12] ievagriffin opened #1063 "unexpected termination ANCOVA"
* JASP version: 0.9.0.1

* OS name and version: chrome os 86.0.4240.183
* Analysis: ANCOVA
* Bug description: error in loadNamespace(name): there is no package called "emmeans"
* Expected behaviour: compute marginal means for the data set

#### Steps to reproduce:
1. run ANCOVA with recall as dependent, group as fixed factor, and imagery as [covariate](
[ezyzip.zip](https://github.com/jasp-stats/j

[2020-11-19 15:12] tomtomme commented on #1045
That invitation was a bit hidden. Thx for the tip. Got it now.

[2020-11-19 15:13] tomtomme commented on #574
pressing thumbs :D

[2020-11-19 15:33] amandazhang0727 opened #1064 "can't change column type in JASP"
Hi I cannot change the column type in JASP, even for age and gender.
I understand that this is because it contains non-nominal context but the thing is I don't know how to edit it.
Can someone please help me?
I have sent the data set to a.ly@jasp-stats.org just now.

[2020-11-19 16:40] AlexanderLyNL commented on #1064
Hi Amanda,

Every column in JASP is read as a variable and it assumes that the first row in each column contains the name of the column. The third column of your data set has in the first cell "Status", which is the name of your column. The second cell is "Response type", because the second cell is text, the variable "Status" is now interpreted as a text variable. The third cell is "{importId: ...

[2020-11-19 17:35] boutinb commented on #1063
Hi @ievagriffin Could you use the last JASP version 0.14. If you are using RollApp, this version of JASP will be soon available.

[2020-11-20 08:25] boutinb commented on #1061
Hi @summerloving, could you try this version: http://static.jasp-stats.org/Nightlies/MacOS/JASP-nightly-stable-63e5395cc5fdb950150691db0e13d9ca0e8be715.dmg

[2020-11-20 08:28] boutinb commented on #1059
@EJWagenmakers Do you know this?

[2020-11-20 08:29] boutinb commented on #1054
Hi @rcarlton2 Could you try this version: http://static.jasp-stats.org/Nightlies/MacOS/JASP-nightly-stable-63e5395cc5fdb950150691db0e13d9ca0e8be715.dmg

[2020-11-20 08:31] EJWagenmakers commented on #1059
We expect to be able to add this before the summer (it is the thesis topic of one of our team members :-))
Cheers,
E.J.

[2020-11-20 08:31] #1059 closed

[2020-11-20 08:42] amandazhang0727 opened #1065 "odd df?"
Hi, I was doing a paired sample t-test between two sub-scales.
And I found the df(degree of freedom) was different between the two sub-scales.
There were 59 participants in the survey.The df is 58 and the df for the second scale was 57.
I was wondering what's wrong with the second sub-scale?

[2020-11-20 08:50] EJWagenmakers commented on #1065
Probably a missing value somewhere -- to check you can run Descriptives and check the table.
E.J.

[2020-11-20 09:07] amandazhang0727 commented on #1065
how do I deal with the missing value? Do i need to remove it?

[2020-11-20 09:12] EJWagenmakers commented on #1065
No, but it does mean that your test has a different df

[2020-11-20 09:17] amandazhang0727 commented on #1065
thank you so much, but still have one concern to go. do I need to report this situation when I'm writing data analysis report?

[2020-11-20 09:23] EJWagenmakers commented on #1065
Absolutely.

[2020-11-20 10:53] amandazhang0727 opened #1066 "how to calculate cronbach's alpha and how to find missing value"
Hi, another two questions:
1. How to calculate internal consistency when some of the items are asking the questions in the opposite way?
( E.g. some items asking people to rate "I think people are kind", and some items are like"I believe people are evil") Is there a detailed tutorial for this??

2. Just curious, how do I report the df like this: https://github.com/jasp-stats/jasp-issues/issues/106

[2020-11-20 11:03] vandenman commented on #1066
1. Under `Reverse-Scaled Items` you can specify which items correlate negatively with the scale. So if, for example, your questionnaire measures peoples' kindness, then it could make sense to drag an item like "I believe people are evil" to the box `Reverse-Scaled Items`.

![image](https://user-images.githubusercontent.com/21319932/99792601-a19be700-2b27-11eb-9292-8e9b028e3e16.png)

2. Well when y

[2020-11-20 11:13] amandazhang0727 commented on #1066
OMG thank you so much!! That's really helpful!

[2020-11-20 11:30] amandazhang0727 commented on #1066
Hi, it worked very well. Thank you.
One more question I'm concerning is, I am trying to calculate the reliability(internal consistency) for a single scale.
I'm using a single-test reliability analysis, noticed there is a label called bayesian reliability analysis.
When do people use bayesian reliability analysis?

[2020-11-20 12:00] EJWagenmakers commented on #1066
I think these kinds of questions are more appropriate for the JASP Forum.

[2020-11-20 12:27] MAALKAN commented on #1056
Thank you @FBartos for the feedback.

[2020-11-20 13:07] Daid13 commented on #1030
@boutinb it is a widely used communication app. One of its features is that it can (if set up to do) say what app or game you are using. Currently whenever JASP is in use it thinks that STAR WARS Jedi Knight: Jedi Academy is playing. Don't personally know enough about Rich Presence to know what it uses to recognise the game or app but seemingly something about JASP makes it appear like this Star W

[2020-11-20 13:12] App-State-Prof opened #1067 "Latest version of JASP in Rollapp?"
The web based access to JASP is great...for students with Chromebooks or older computers. The JASP version available through Rollapp is quite old. Is it possible to keep the latest version of JASP available in the web based option? Thank you.

[2020-11-20 13:52] vandenman commented on #1030
From [this discord blog](https://blog.discord.com/all-your-game-are-detection-fd06b1683137), it looks like it is Discord that detects JASP, rather than JASP communicating anything to Discord. As such it's probably possible to ignore JASP somewhere within the Discord settings.

Also, I cannot replicate this with Ubuntu 18.04, but my Discord never recognizes which games I'm playing though.

[2020-11-20 14:23] EJWagenmakers commented on #1067
Definitely! This will be done very soon.

[2020-11-20 14:24] #1067 closed

[2020-11-20 14:37] Lucadam opened #1068 "The engine crashed while trying to run this analysis..."
JASP version: 0.14
OS name and version: MacOS Big Sur 11.0.1
Analysis: Network Analysis
Bug description: "The engine crashed while trying to run this analysis..."
Expected behaviour: run the network analysis

Steps to reproduce:
1. Go to 'network'
2. Select variables
3. See error

[2020-11-20 15:03] EJWagenmakers commented on #1062
Makes perfect sense, we should do this. I'll assign this to @JohnnyDoorn for now (to do after he finishes his thesis, obviously)
E.J.

[2020-11-20 15:26] JohnnyDoorn commented on #1062
Yes, it would be great to have the descriptives of the ranktransformed data!

[2020-11-20 15:40] akashrajkn commented on #883
@boutinb abtest `v0.2.1` doesn't seem to fix the issue on Mac. Should we rewrite the abtest plots using ggplot2?

[2020-11-20 15:42] vandenman commented on #1068
Hi, thanks for reporting this! Unfortunately, I cannot reproduce this issue on Ubuntu 18.04. Could you perhaps share the jasp file that gave you this error, or the log files?

[2020-11-20 15:43] quentingronau commented on #883
On my Mac this works fine... Also, there is now 0.2.2 but the changes
should not affect the plotting at all.

On Fri, Nov 20, 2020 at 4:40 PM akash raj <notifications@github.com> wrote:

[2020-11-20 17:57] rnsoicher opened #1069 "Error in RM ANOVA - cannot allocate vector of size 1.1 Gb"
* JASP version: 0.11
* OS name and version: Windows 10
* Analysis: Repeated Measures ANOVA (one-way)
* Bug description: Receiving the error "Cannot allocate vector of size 1.1 Gb"
* Expected behaviour: F-Table with RM ANOVA results

#### Steps to reproduce:
1. Go to ANOVA
2. Click on Repeated Measures ANOVA
3. Put in four levels of Factor 1, Leave Factor 2 blank
4. Add four variables to the RM cel

[2020-11-20 18:20] rcarlton2 commented on #1054
@boutinb @dustinfife  Yes, that takes care of the issue! I can now run the generalized linear model without a problem.

[2020-11-20 18:20] #1054 closed

[2020-11-20 19:48] summerloving commented on #1061
I tried to download it, but my computer rejected it

[2020-11-20 19:56] summerloving commented on #1061
I had downloaded the Catalina version previously and I just downloaded the Mojave & High Sierra and I got the same error notification.

[2020-11-21 15:29] kndiaye85 opened #1070 "Bugs in linear regression"
* JASP version: JASP 0.11.1

* OS name and version:  Windows 10 Family version 1909
* Analysis:
* Bug description:
Problem 1) not possible to add all used variables as covariates
Problem 2) when trying to add variables working in total, the engine crashed and JASP closed
* Expected behaviour:
Problem 1) able to consider and add all variables I need
Problem 2) consider all variables to calculate th

[2020-11-21 15:55] djstepz1 commented on #73
Hi all,

Id agree with this.

I can see a big pitch here for a Jasp takeover (particuarly when it comes to SPSS) among universities and college academics and students if the ability to weight data was an added feature.

I too have been detered from using Jasp solely for this very it limits what i can do when working with survey data that requires weighting of the data prior to any form of analyses

[2020-11-22 08:57] IndrajeetPatil commented on #240
Apparently, only between-subjects designs are supported.

https://github.com/richarddmorey/BayesFactor/issues/150

[2020-11-22 08:57] #240 closed

[2020-11-22 12:33] djdekker commented on #1070
The error message suggests that you're having a problem with multicollinearity. Did you check for high VIF values ("Regression" > "Linear regression" > "Statistics" > "Collinearity diagnostics"), for example for K2, K3 and K4?

[2020-11-22 20:32] kndiaye85 commented on #1070
Thank you for your answer djdekker
Yes I have seen that probelm of collinearity. I just checked what you said and don't find any abnormality (see in screenshot).
What could explain the error with a high VIF value ?
Moreover I have also added Liberal, Salariat and Autres Stages and I don't see any explication about why collinearity isn't a problem there.

![Capture](https://user-images.githubuserco

[2020-11-23 09:20] boutinb commented on #1061
HI @summerloving What do you mean exactly by 'my computer rejected it' ? Could you not download it? Could you not start the setup by double-clicking on the dmg file? Or could you not start the installed JASP version?
This version is indeed not certified, but usually by right-clicking on the icon, the you can still start JASP.

[2020-11-23 09:21] boutinb commented on #1054
Nice!

[2020-11-23 09:24] boutinb commented on #1070
Hi @kndiaye85, you use version 0.11, which is quite old. Could use try the newest version (0.14): https://jasp-stats.org/download/ ?

[2020-11-23 09:40] boutinb commented on #1069
Could you try the last version of JASP (0.14): https://jasp-stats.org/download/

[2020-11-23 09:46] App-State-Prof opened #1071 "Flip variables tool"
There is a feature in reliability testing...to flip/reverse score variables for testing. Can you extend this feature so that flipped variables can be saved as a transformed variable in the data set?

[2020-11-23 09:48] App-State-Prof opened #1072 "Web access for JASP"
The need for easy web access to JASP is become more prevalent in my teaching/research courses. Rollapp is a good start, but it has low functionality and blocks full access unless you pay a subscription fee. In the future, might it be possible to consider an open source option for accessing the web based JASP version?