[2021-03-17 11:56] OehiAlm commented on #1193
I understand the concern. My intention here was to not have to do delete and then redo the analyses when updating the underlying data file. I could have easily done that since the project isnt that big, it's just a convenience thing of keeping the preferences/adjustments made in the existing analyses and just switching out the old variables for the new ones (or adding the new ones when the old one

[2021-03-17 12:08] boutinb commented on #1193
Hi @OehiAlm Yes, for sure JASP should not crash, and your example is really useful for me to make JASP more robust. Until now the changes in the data file are processed silently, but it is indeed a good idea to let know the user that the file has changed, and whether some used variables are missing.

[2021-03-17 12:19] OehiAlm commented on #1193
Awesome. Looking forward to it :)

[2021-03-17 15:40] aybukemah opened #1212 "Cohen's D effect size error"
* JASP version: 0.14.1

* OS name and version: Mac Mojave 10.14.6
* Bug description: I cannot calculate Cohen's D with effect size. It says 'note: computed effect sizes ignore the test value.
* I need to calculate one sample t-test cohen's d with a specific effect size.
<img width="1269" alt="Ekran Resmi 2021-03-17 18 38 50" src="https://user-images.githubusercontent.com/80841258/111495105-1a1a598

[2021-03-17 16:47] #1204 closed

[2021-03-17 16:53] vandenman commented on #1212
So this box:
![image](https://user-images.githubusercontent.com/21319932/111505809-4ed6e280-8749-11eb-8a6d-1cc9ce82c3f4.png)

displays a *known* bug. This will be fixed in the next version of JASP. So it's not necessary to open an issue when you see this.

If you really need the effect size for a particular value, you could create a new column where you subtract the test value from `SCmean` and th

[2021-03-17 16:53] #1212 closed

[2021-03-17 18:44] djdekker opened #1213 "Variable type changes upon spreadsheet sync"
* JASP version: 0.14.1
* OS name and version: macOS Big Sur 11.2.3
* Analysis: N/A
* Bug description: After syncing with the spreadsheet editor a variable type may change even if the values remain untouched.
* Expected behaviour: The variable type, once determined, stays the same after syncing with the spreadsheet editor.

Steps to reproduce:

[scores.csv.zip](https://github.com/jasp-stats/jasp-is

[2021-03-18 05:27] nndgsptn opened #1214 "JASP ran into problem loading"
* JASP version: 0.14.1
![Jasp error](https://user-images.githubusercontent.com/80874916/111577492-f5bc8c80-87e4-11eb-9712-7f9a1c15806a.png)

* OS name and version: Windows 10
* Analysis: Sorry, I don't know what happens here. It just automatically pops up when opening the app.
* Bug description:
* Expected behaviour:

#### Steps to reproduce:
1. Go to '...'
2. Click on '....'
3. Scroll down to '..

[2021-03-18 09:20] nndgsptn opened #1215 "Add "sorted by size" for Exploratory Factor Analysis"
Hello, Developer teams. I would like to suggest for improvement. Might it possible to add a "sorted by size" feature for EFA just like SPSS has as well? I think it's going to be useful to see each factor group sorted by its sizes. It will make the result factors more readable.
![Loading factor](https://user-images.githubusercontent.com/80874916/111601504-00871980-8805-11eb-8b83-655f81e1c4cd.png)

[2021-03-18 13:55] astefan1 opened #1216 "Version incompatibility?"
* JASP version: currently used version: f2cb223fef6b15089fd6e9da54825d370c1ece57, Nightly version: ??

* OS name and version: macOS Big Sur
* Analysis: not a particular analysis, issue occurs when (trying to) open JASP file
* Bug description: I'm not sure if you can reproduce this one, but I will give it a try: I created a couple of JASP files using a Nightly version that was released around the t

[2021-03-18 14:07] astefan1 commented on #1216
Alright, I was able to reproduce the problem with the latest Nightly version: af3bdf333aaf4de7d32913193a4b93c7bd5b545e.  If I try to open an old JASP file, I get the following error message:

<img width="401" alt="image" src="https://user-images.githubusercontent.com/32095181/111639445-9027ca80-87fb-11eb-85c9-9f5825374092.png">

[2021-03-18 14:29] vandenman commented on #1216
jasp files saved with the nightlies are probably not backward compatible. There is some stuff in place for that but not many modules implemented it yet. @JorisGoosen any suggestions?

[2021-03-18 15:05] JTPetter commented on #1209
No, the assumption checks for MANOVA (as most assumption checks) still need to be validated.

[2021-03-18 15:08] JTPetter commented on #1210
No, not yet!

[2021-03-18 15:30] JorisGoosen commented on #1216
The nightlies are totally not backwards compatible. For a variety of reasons...

It is possible to fix all of this manually by opening the jasp file as a zip and manually changing stuff in the `analyses.json` or whatever it was called. But I highly doubt it would be worth the effort unless it was some superimportant jasp-file with stuff in it you can't otherwise reproduce.

[2021-03-18 17:40] astefan1 commented on #1216
Okay, thanks for the quick reply! I already manually "converted" the nightly version to the currently used version, so no need to change stuff in the json file. However, it took me like 30-45 minutes, so I think it would be good if other people wouldn't run into these issues, otherwise a lot of time will be lost. I totally see that making the nightlies backwards compatible is not an option, but ma

[2021-03-18 17:54] astefan1 commented on #1216
Maybe something like: "We cannot ensure forwards or backwards compatibility of JASP files created with nightly builds. Please use the official version to share your work with others."?

[2021-03-19 00:01] JorisGoosen commented on #1216
Well, I had hoped that the current message was enough, aka this:

"These installers are generated automatically each night and contain development code; this means that they might not be stable.

**Use at your own risk!**

If you happen to find a bug in a nightly then it can't hurt to issue a bug report at our issue-tracker, but please be sure to mention that you used a nightly and indicate its co

[2021-03-19 06:20] ndpegram opened #1564 "Cannot use ordinal variables in CFA"
While attempting to do a factor analysis, the variable selection box only permits the addition of scale variables. Yet the description at https://rdrr.io/github/jasp-stats/jaspFactor/f/inst/help/confirmatoryfactoranalysis.md says that both scale and ordinal variables should be permitted (which is what I'd expect).

JASP 0.14.1
Windows 64 bit

[2021-03-19 09:05] boutinb commented on #1210
@vandenman Can you have a look?

[2021-03-19 09:42] JoKeyser commented on #1211
Just to add an opinion:

- Put the effect sizes into their own table (similar to SPSS), with columns called by the same labels as in the UI (i.e. Cohens'd, etc).
- I don't like the generic column title "Effect Size" to begin with, it seems potentially misleading to me, as one always has to look for the *Note* below the table to figure out what value was actually computed.

[2021-03-19 13:05] vandenman commented on #1210
Okay I think I figured out where the difference comes from, although I can't really judge whether what SPSS does makes sense...

I also don't have SPSS lying around so perhaps I'm not the right person to test this out.

If you go to ftp://public.dhe.ibm.com/software/analytics/spss/documentation/statistics/27.0/en/client/Manuals/IBM_SPSS_Statistics_Algorithms.pdf

then on page 811 there is
![image]

[2021-03-19 13:49] JorisGoosen commented on #1214
Nothing bad is going on except that a list of known bugs couldn't be downloaded, don't worry about it.

I am planing to change the message a bit to make this clearer.

[2021-03-19 13:49] JorisGoosen commented on #1214
Very related to our (private) issue: https://github.com/jasp-stats/INTERNAL-jasp/issues/1286

[2021-03-19 15:02] keunes commented on #1190
@boutinb I have three formats that I downloaded from SurveyMonkey, and indeed I could open a sav file and save it as a csv.
The thing is:
* the sav has numerical values and the labels added, but doesn't currently contain the questions
![image](https://user-images.githubusercontent.com/11229646/111799799-a309d000-88cb-11eb-92a9-09bd46803568.png)
* the two csv versions contain the questions, but the

[2021-03-19 15:06] keunes commented on #1189
for the time being, what you can do is to use the 'Export Data' menu: this generates a csv file

Hah, ok. I understand. I also have a CSV version of my dataset, so I can use that. But thanks for the tip :)

It was more about usability; just to get the vicious circle fixed for others. 'cause it's still odd that the 'custom editor' setting is ignored. I would expect LO to try and open it, then say "

[2021-03-19 16:58] HoracioSD commented on #523
Hi Murray, any news about this topic?

_______________________________________

Horacio Saravia Díaz
Unidad de Comunicación y Transferencia de Tecnología
Tel:        ++598 44522023 Int. 5235
Móvil:    ++598 91312010
E-mail:  ***@***.******@***.***>
Web:    www.inia.uy<http://www.inia.uy/>

[image002]

De: akmurrayku ***@***.***>
Enviado el: domingo, 11 de octubre de 2020 01:21 p.m.
Para: jasp-stat

[2021-03-19 19:16] nermd opened #1217 "GLM analysis terminated unexpectedly"
* JASP version: 0.14.3

* OS name and version: Fedora Linux using the Flatpak Distribution of JASP !!
* Analysis: Visual Modeling -> Generalized Linear Modeling
* Bug description: analysis terminated unexpectedly Error in gzfile(file, 'wb'): cannot open the connection
* Expected behaviour: analysis should run

#### Steps to reproduce:
1. Go to 'Visual Modeling -> Generalized Linear Modeling'
2. Ad

[2021-03-20 06:27] djdekker commented on #1211
I support @JoKeyser's suggestions.

[2021-03-20 12:21] boutinb commented on #1213
This is quite a funny bug.... JASP tries first to find the column separator in the file. As you have first only 1 column, no separator in the header can be find, and the ',' (comma) is taken as separator by default. As you have numbers with decimals with ',', they are seen as 2 different integers, but the second integer is ignored as there is only one column (if you had a '.' (dot) as decimal, the

[2021-03-21 07:49] littlebowwows opened #1218 "Unable to download JASP software"
Hello JASP team,

I hope you are well. I am writing to clarify some doubts i have regarding the installation of the software onto my macbook. I have followed all the instructions and steps necessary to get the program up and running, but it seems to not be able to open. The error message states "this was downloaded from a webpage" and when i tried clicking "open", JASP will not run.

May I know wh

[2021-03-21 12:31] astefan1 commented on #1216
Thanks! Yes, I read this. I guess I just assumed it would only affect the program itself (i.e., program might crash, analyses might not work), but I didn't expect that there would be an incompatibility in the saved files. Thanks for adding the additional warning! :-)

[2021-03-21 12:41] AlexanderLyNL commented on #1218
Hi Charmaine,

Could you please try to right-click the program in your Application folder and then select Open? This is a standard mac issue, but it'll open the second time you do this.

Cheers,
Alexander

[2021-03-21 19:06] romanogino opened #1219 "Descriptive statistic table"
Hello!

I suggest a descriptive table that lists all the desired variables, from top to bottom, and not only from left to right, to facilitate reading and analysis. It is especially useful in descriptive statistics.
I attach two screenshots, one from JASP and one from SPSS, to compare and better illustrate the idea.

Maybe JASP already has the option, but I can't find it and I have tried all the o

[2021-03-22 02:38] krutcher7069 opened #1220 "SEM (invariance)"
* JASP version: 0.14.1

* OS name and version: Windows 10
* Analysis: Invariance SEM
* Bug description:
![image](https://user-images.githubusercontent.com/67669189/111932992-248e7780-8af1-11eb-8558-f1cc77293a00.png)

* Expected behaviour: I expected a "normal" SEM output

#### Steps to reproduce:
1. Go to SEM and select Structural Equation Modeling
2. enter the following lavaan syntax:
stressor =~

[2021-03-22 08:40] boutinb commented on #1217
Hi @nermd, Can you send your JASP file (or your data file)?

[2021-03-22 09:37] #1205 closed

[2021-03-22 09:38] #549 closed

[2021-03-22 10:15] vandenman commented on #1219
I've added a checkbox:

![image](https://user-images.githubusercontent.com/21319932/111974575-d2088780-8aff-11eb-9fb2-6ed58b7568dc.png)

and when it's checked you obtain the bottom table rather than the top one:

![image](https://user-images.githubusercontent.com/21319932/111973993-59a1c680-8aff-11eb-9fec-1c92069366ee.png)

would that solve the issue?

[2021-03-22 11:26] EJWagenmakers commented on #1219
That looks awesome to me. I thought this was a good suggestion, it's great that you implemented it so quickly Don!

[2021-03-22 11:33] #1213 closed

[2021-03-22 13:23] keunes commented on #1190
I just managed to get an SPSS trial installed, and opened the same data file.

The file does contain the question labels:
![image](https://user-images.githubusercontent.com/11229646/111994787-739bd300-8b18-11eb-9c48-7d7cac5a0ea3.png)

But in the dataset view, SPSS also just display the question codes:
![image](https://user-images.githubusercontent.com/11229646/111994940-aa71e900-8b18-11eb-8948-a7d

[2021-03-22 14:45] romanogino commented on #1219
Dear @vandenman
Thank you very much!
Best regards.

[2021-03-22 14:45] #1219 closed

[2021-03-22 17:26] #1193 closed

[2021-03-23 10:31] mservantufc opened #1221 "Impossible to specify a contrast-specific error term in custom contrasts for within-subjects ANOVA (BUG)"
Hi,
In within-subjects designs, it is usually recommended to use a contrast-specific error term, because any degree of violation of the sphericity assumption will make the error term too small or too large for some comparisons (e.g., Boik, 1981). However, it is currently (JASP 14.1) impossible to use a contrast-specific error term when specifying custom contrasts. Unchecking
 "Assume equal varianc

[2021-03-23 10:47] 1995toilet opened #1222 "error ANOVA Descriptive statistics"
* JASP version: 0.14.1

* OS name and version: Windows 10
* Analysis: ANOVA
* Bug description: Analysis terminated unexpectedly
* Expected behaviour: descriptive statistics

#### Steps to reproduce:
1. Go to Repeated measures ANOVA, Rename RM Factor 1 as B, RM Factor 2 as C. rename levels for B as B1, B2 and B3. Rename C levels as C1, C2, and C3. Assign levels accordingly
2. Click on Descriptive s

[2021-03-23 14:26] boutinb commented on #1222
I can reproduce this problem just by setting one factor to 'C'  or 'E' (A, B, D or F work). In 0.15 this is solved apparently. @JohnnyDoorn do you know why it does not work in 0.14?
One workaround is just to avoid 'C' or 'E' as factor name.

[2021-03-23 16:04] W-Wentholt opened #1223 "Not able to adjust scaling funnel plot meta-analysis"
* JASP version: 0.14.1

* OS name and version: Windows
* Analysis: classical meta-analysis, random-effects model
* Bug description: scaling of funnel plot is not adjusted to the observed ES, omitting some studies from the funnel plot, affecting the clarity of visual inspection.
* Expected behaviour: either automatic adjustment of scaling to observed (or filled) ES, or possibility to manually adjus

[2021-03-23 16:51] astefan1 opened #1224 "Bayesian Linear Regression: Computation of P(incl) for analyses with interaction effects"
* JASP version: 0.14.1

* OS name and version:
macOS Big Sur
* Analysis:
Bayesian Linear Regression
* Bug description:
As far as I know, the prior probability for inclusion should be computed as "number of models that include the term divided by total number of models". This definition "works" for Bayesian ANOVA (with and without interaction effects) and for Bayesian Linear Regression without inte

[2021-03-23 18:27] astefan1 commented on #1224
Aaah, sorry, I just realized, this is actually a result of choosing model priors of beta binomial (1,1) instead of uniform! So it *is* a feature, not a bug ;-) The only thing I'm wondering is whether it would maybe make sense to change the default to uniform to achieve consistency across analyses?

[2021-03-23 18:30] EJWagenmakers commented on #1224
I thought we already changed the default to uniform?!

[2021-03-23 18:40] astefan1 commented on #1224
Hmmm... As far as I know I'm running the latest version, and there the default is the beta binomial

<img width="295" alt="image" src="https://user-images.githubusercontent.com/32095181/112200476-8fce6b80-8c0f-11eb-8c0a-8cb7e4e82817.png">

[2021-03-23 18:45] EJWagenmakers commented on #1224
It should be the uniform. The other option is just too confusing, also for teaching.

[2021-03-23 20:03] AlexanderLyNL commented on #1224
It is indeed more complex, but it's recommended so it has type I error control due to multiplicity. I think that a table showing the prior model probabilities would provide some insights to what this prior does.

[2021-03-23 20:05] vandenman commented on #1224
Actually, the Beta-Binomial is probably a better default and we should also implement it for the other analyses. It's on my to-do list.

Well, we discussed this before and that's why there is https://github.com/jasp-stats/INTERNAL-jasp/issues/528. With this (and similar issues) the question is a bit, do we want the defaults of JASP to reflect good statistical recommendations, or whatever makes tea

[2021-03-23 20:08] vandenman commented on #1224
@AlexanderLyNL I think the tables show this already. If you have an idea on how to make this more insightful, I'm all ears!

![image](https://user-images.githubusercontent.com/21319932/112211168-dc1fa880-8c1b-11eb-8dc0-f0af4622e6d1.png)

[2021-03-23 20:23] AlexanderLyNL commented on #1224
I thought that this Don van den Bergh guy already published this in one of his papers, but I can't remember which one. We can add an example in the help file with 3 variables, which would be a non-trivial example for the beta-binomial(1,1) prior model probabilities.

- The first three covariates are either "on" indicated by 1 or "off" indicated by 0
- Num refers to the number of active covariates

[2021-03-23 20:24] astefan1 commented on #1224
Hey, thanks for looking into this. I didn't mean to bring up old discussions, so whatever you guys decide is fine for me. I did run into this when preparing teaching materials, so I guess that's additional evidence that uniform is more intuitive for teaching.

[2021-03-23 20:28] astefan1 commented on #1224
@AlexanderLyNL Great explanation, thank you! :-) Do you happen to know the paper that explains why this is better for error control?

[2021-03-23 20:30] AlexanderLyNL commented on #1224
The reference for this is Scott, JG, Berger, JO (2006). An exploration of aspects of Bayesian multiple testing and perhaps https://psyarxiv.com/s56mk/

[2021-03-23 20:30] astefan1 commented on #1224
Thanks a lot!

[2021-03-23 20:30] AlexanderLyNL commented on #1224
Also https://psyarxiv.com/pqju6/

[2021-03-23 21:26] EJWagenmakers commented on #1224
imo people will be forever confused with the beta-binomial default. At some point I will be long dead and you will still be fielding the same question. That will then be my revenge :-)

[2021-03-24 11:10] JorisGoosen commented on #1218
And if that does not work, we would be interested to hear which version of MacOS you use.

[2021-03-24 11:11] #1214 closed

[2021-03-24 12:35] vandenman commented on #1215
I've changed it so that JASP first sorts by the absolute value of the loadings of the first factor, then by the absolute value of the loadings on the second factor, then the third, etc. It's still possible to get non-adjacent loadings whenever there are cross-loadings, but I don't think we can avoid that. The result looks like this:

![image](https://user-images.githubusercontent.com/21319932/1123

[2021-03-24 12:48] PSK11556 commented on #1186
Hello Don

Another challenge. When conducting an CFA in JASP. When I want to make
use of the Second Order Factor function and transferring three factors.
Then JASP adds a message that the model cannot be estimated due to non
convergence.

What could the problem be? I am adding screen shots.

All the best

Professor/ Moprofessor Stefan Kruger
Researcher in Positive Psychology /  Mmatlisisi wa mo Sa

[2021-03-24 14:10] boutinb commented on #1190
Hi @keunes, a big disadvantage with question label, is that they can be quite long, making it quite unclear in a Variables List to see exactly which question it is: as the variable name must be cut to fit the width of the list, and as many questions may start with the same words, many variable names would look the same (only if your cursor is on it, the whole question is then displayed in a toolti

[2021-03-25 02:27] nndgsptn commented on #1215
Hello, Sir. Thank you for your response. Yes, it does solve. How about the
instruction to do that? Where can I find the "sorted feature" in EFA? Is it
automatically now? Or should I update the JASP first?

Pada tanggal Rab, 24 Mar 2021 pukul 19.35 Don van den Bergh <
***@***.***> menulis:

[2021-03-25 02:28] nndgsptn commented on #1214
Thank you so much, Sir!

Pada tanggal Rab, 24 Mar 2021 pukul 18.11 Joris Goosen <
***@***.***> menulis:

[2021-03-25 02:49] akmurrayku commented on #523
Yes! There is now a module that can do this and it works beautifully! It's called "UFS - Tools for confidence intervals and other tricks." It has a Multi Response function.

![image](https://user-images.githubusercontent.com/72702092/112411251-98e03b00-8cea-11eb-962c-ea11a5da2cf0.png)

[2021-03-25 08:10] vandenman commented on #1215
Hi @nndgsptn, it's not yet available in JASP, this is just what my changes look like. The changes I've made to the codebase are under review right now. Once that is merged, this issue will be automatically closed. At most a day later, the updated code will be available in [a nightly version of JASP](http://static.jasp-stats.org/Nightlies/) and then you can try it out.

[2021-03-25 10:48] HoracioSD commented on #523
Thanks a lot! I will take a look.

_______________________________________

Horacio Saravia Díaz
Unidad de Comunicación y Transferencia de Tecnología
Tel:        ++598 44522023 Int. 5235
Móvil:    ++598 91312010
E-mail:  ***@***.******@***.***>
Web:    www.inia.uy<http://www.inia.uy/>

[image002]

De: akmurrayku ***@***.***>
Enviado el: miércoles, 24 de marzo de 2021 11:50 p.m.
Para: jasp-stats/ja

[2021-03-25 11:18] nndgsptn commented on #1215
Ok, I will wait for the update. Thank you in advance!

Pada tanggal Kam, 25 Mar 2021 pukul 15.10 Don van den Bergh <
***@***.***> menulis:

[2021-03-25 11:28] HoracioSD commented on #523
Murray, I´ve downloaded the latest version of Jasp and I dón’t know where to find the UFS -tools package you mention.

After that, I´ve tried to download the package from https://www.jamovi.org/library.html
But I have no idea how to use it with Jasp.
May I open or add this package to Jasp?

Sorry for my ignorance about that

_______________________________________

Horacio Saravia Díaz
Unidad de C

[2021-03-25 11:50] EJWagenmakers commented on #523
Yes, this is a different software program (they look very similar). We will look in to how we can make such content available within JASP.

[2021-03-25 12:10] HoracioSD commented on #523
Ah! Ok, Jamovi is other statistical software? If so, don´t worry! I will try it.
I´m not an user of Jasp, I´m only looking for a SPSS free alternative. I´ve tried PSPP but it have the same limitation with multiple response variables.

Thanks a lot!

_______________________________________

Horacio Saravia Díaz
Unidad de Comunicación y Transferencia de Tecnología
Tel:        ++598 44522023 Int. 523

[2021-03-25 15:50] mstruiksma opened #1225 "ANOVA descriptives to include marginal totals"
* Enhancement: When you tick the descriptives statistics for ANOVA you only get the means broken down by conditions, but not the marginal totals. When your interaction is not significant you want to be able to inspect the marginal totals.
* Purpose: I'm teaching my students in an introductory course to always report a full table when they run an ANOVA. Now they have to do a separate descriptives a

[2021-03-25 16:02] akmurrayku commented on #523
Oh my mistake! The names are similar (at least they both start with J!) and I posted similar questions in forums for both software systems. Yes, I have used JAMOVI with my class this semester and it's worked well. I'm sure JASP is a good option as well. We just have several faculty members trying various free alternatives to SPSS to evaluate them.

From: Horacio Saravia ***@***.***>
Sent: Thursday

[2021-03-25 19:43] bknakker commented on #1064
Dear Alexander and JASP team,

I'm not sure whether it is the same problem, but I also cannot change variable type (from scale to ordinal or from nominal to ordinal) as shown in this https://jasp-stats.org/wp-content/uploads/2019/02/change_var_type-smaller-file.gif animation.

JASP 0.14.1.0 running on Windows 10.

Kind regards,
Balázs

[2021-03-26 08:28] fischmobbing opened #1226 "error displaying values in correlation matrix"
* JASP version: 0.14.1

* OS name and version: Catalina 10.15.7
* Analysis:
* Bug description: random (?) errors in displaying values in the correlation matrix
* Expected behaviour: exact values
![Bildschirmfoto 2021-03-26 um 09 16 42](https://user-images.githubusercontent.com/81410616/112603613-86aeeb80-8e15-11eb-8f01-8cfb3f3f0ced.png)

[2021-03-26 08:49] vandenman commented on #1226
A number like `2.964e-4` is scientific notation for `0.0002962`. This is practical because it's decimal notation kinda gets ugly when numbers become very large or very small (e.g., `1.539e-16` is short for `0.0000000000000001539`). See also [Scientific notation](https://en.wikipedia.org/wiki/Scientific_notation).

[2021-03-26 08:51] fischmobbing commented on #1226
Thanks a lot for your quick help!

[2021-03-26 08:51] #1226 closed

[2021-03-26 12:05] vandenman commented on #684
Both have been added to JASP so I'm closing this issue (stem-and-leaf: https://github.com/jasp-stats/jaspDescriptives/pull/2, dot plots: https://github.com/jasp-stats/jaspDescriptives/pull/5). These will be available in the next jasp release (0.15)

[2021-03-26 12:05] #684 closed

[2021-03-26 20:07] teapot81 opened #1227 "CI error bars on rm-ANOVA much too small - can the Morey's correction be optional?"
Here is my descriptive plot for my repeated measures ANOVA in JASP: https://imgur.com/a/Li7B9NA I have selected 95% confidence interval.

The last two categories have a mean within 0.01 of each other and a standard deviation within 0.003. I expect the error bars to be very similar.

Here is the same data with 95% CI error bars in SPSS: https://imgur.com/a/ck2oxyK You will see they are huge in comp

[2021-03-27 15:08] keunes commented on #1190
I think that should be the way to go. Personally I typically prefer waiting longer for a proper fix, than waiting shorter for a workaround :)

[2021-03-29 17:33] Mgupta741225 opened #1228 "Nominal variables not getting added up as independent variables in Linear Regression module"
* JASP version:

* OS name and version:
* Analysis:
* Bug description:
* Expected behaviour:

#### Steps to reproduce:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

[2021-03-30 07:57] boutinb commented on #1228
Hi @Mgupta741225 This will be possible in the next release. For the time being, if your variable contains only numbers, you can change the type of your nominal variable into a scale variable by clicking on the type icon of the variable.

[2021-03-30 07:57] #1228 closed

[2021-03-30 10:55] #1189 closed

[2021-03-30 10:55] #1203 closed

[2021-03-30 14:20] renuchahal opened #1229 "blurred JASP graph outputs"
* JASP version: 0.14.1

* OS name and version: MacOS Catalina

* Bug description: everytime i generate any descriptive plots or graphs they are blurred, i tried everything from updating the software, selecting safe graphics mode, closing and reopening and resizing. but nothing seems to work

<img width="1440" alt="Screenshot 2021-03-30 at 14 39 26" src="https://user-images.githubusercontent.com/81

[2021-03-30 14:35] ismaelgutier commented on #892
That solved the problem, I ended up performing my analyses on R-Studio.

Thank you both very much

[2021-03-30 21:16] ethorman opened #1230 "Can't Open JASP"
* JASP version: 0.14.1

* OS name and version: Windows 64 Bit
* Analysis:
* Bug description: Each time I try to open JASP up from my computer, it takes me to the setup wizard and gives me the option to repair/change/uninstall. How do I rectify this situation so that I am actually able to open the program.
* Expected behaviour: I would like it to just open, I know how to go from there

#### Steps t

[2021-03-31 07:30] vandenman commented on #1229
If you increase the pixels per inch in the settings:
![image](https://user-images.githubusercontent.com/21319932/113106983-a7a38200-9203-11eb-8e84-a8b157f47adf.png)

does that solve the issue?

[2021-03-31 08:41] boutinb commented on #1230
Hi @ethorman How do you try to start JASP? Apparently you are starting the msi file (the installer). After installing JASP on your machine, you should have in C:\Program Files a JASP folder, where you can find the JASP.exe. Can you double-click this JASP.exe?

[2021-03-31 14:50] mspezio opened #1231 "Large datasets?"
* JASP version: 0.14.1

* OS name and version: Mac OS 10.15.7
* Analysis: Classical Independent Samples T-Test
* Bug description: T-Test not run on large dataset
* Expected behaviour: T-Test successful

[Data_5_9yearcutoff.csv.zip](https://github.com/jasp-stats/jasp-issues/files/6237427/Data_5_9yearcutoff.csv.zip)

Tried to conduct a T-Test using a large dataset with JASP. See attached image for t

[2021-03-31 17:54] felixchenier opened #1232 ""Copy" table option creates unaligned columns"
* JASP version: 0.14.1

* OS name and version: macOS Catalina

* Bug description: "Copy" table option creates unaligned columns

"Copy" option from table :
![Screen Shot 2021-03-31 at 13 51 00](https://user-images.githubusercontent.com/34967663/113188515-227e9400-9228-11eb-871a-df521a67dfc3.png)

generates these unaligned columns when pasting in Excel :

![Screen Shot 2021-03-31 at 13 52 11](https

[2021-03-31 17:55] felixchenier commented on #1153
I added an issue for the other related problem I talk about in the description.
#1232

[2021-03-31 19:51] akashrajkn commented on #1153
@boutinb any suggestions/comments for the below?

For the table copy in markdown feature,
1. We'd have to choose one of the extended syntaxes ([link](https://www.markdownguide.org/extended-syntax/)) - do we have a preference?
2. Many tables in jasp have overtitles (pic below). Markdown does not allow complex tables without using html code.
![overtitles](https://user-images.githubusercontent.com/69

[2021-03-31 20:00] akashrajkn commented on #70
As of v0.14.1, this does not occur (File attached for reference)

![lor](https://user-images.githubusercontent.com/6959308/113203492-65faf180-926c-11eb-9cdf-960db5802fb9.png)

[lor.zip](https://github.com/jasp-stats/jasp-issues/files/6239143/lor.zip)

[2021-03-31 20:00] #70 closed

[2021-03-31 21:10] akashrajkn commented on #608
(Workaround) In JASP v0.14.1, if you refresh the analysis, copy latex code works. I am still investing why this is happening

[relability_clip_problem_test.zip](https://github.com/jasp-stats/jasp-issues/files/6239257/relability_clip_problem_test.zip)

[2021-03-31 21:18] akashrajkn commented on #626
In JASP `v0.14.1`, this issue does not occure

[Bayesian_OneSampleTtest_v014.zip](https://github.com/jasp-stats/jasp-issues/files/6239577/Bayesian_OneSampleTtest_v014.zip)

[2021-03-31 21:18] #626 closed

[2021-04-01 00:16] felixchenier commented on #1153
@akashrajkn If I can give my two cents (for what it worth), I think that formatting is not especially important and that clear, light and aligned text is what we need. Everybody has different needs for formatting, therefore the only important thing in my opinion is to have clear, text data that happens to be compatible with most markdown formats. This means the simplest common denominator, with no

[2021-04-01 05:59] psychdata opened #1233 "negative sign missing in simple linear regression"
* JASP version: 0.14.1.0

* OS: Windows 10

* Analysis: (Simple) Linear Regression

* Bug description:  If X and Y are negatively correlated, then the negative sign in (simple) linear regression does not come for Y on X (the bug). I rechecked the same data I am using on RStudio, because this was extremely weird (negative correlation, but positive in a simple linear model) However, on R, the negati

[2021-04-01 07:08] vandenman commented on #1233
Could you provide the data you used to see this behavior?

I can't replicate this in JASP 0.14.3 on Ubuntu:
[code]
![image](https://user-images.githubusercontent.com/21319932/113256648-c2d8c500-92c9-11eb-987c-4c788a17e8b2.png)

[2021-04-01 07:23] vandenman commented on #1153
Concerning your use case:

One goal is to have R syntax that includes a print to ascii function. That way you could export the syntax of a JASP file, run it and then call something like `print(table, output = "ascii")`. Would that help your use case?

@akashrajkn

We could consider using `knitr`, see e.g., https://bookdown.org/yihui/rmarkdown-cookbook/kable.html#kable-formats. It supports many dif

[2021-04-01 09:12] Kucharssim commented on #1233
Could this be duplicate of https://github.com/jasp-stats/jasp-issues/issues/489?

[2021-04-01 09:52] hdarjus opened #1234 "JASP plugin interface for stochastic volatility models [`stochvol`]"
* Enhancement: Introduce stochastic volatility models
* Purpose: more models
* Use-case: financial and economic uses

**Describe the solution you'd like**
I would be happy to make the capabilities of [`stochvol`](https://cran.r-project.org/package=stochvol) available to the users of JASP.
I don't find any resources on how to write a plugin, please help me out.

**Additional context**
I am the main

[2021-04-01 09:58] AlexanderLyNL commented on #1234
Hi Darjus,

Thanks for reaching out! Here are some resources:
- https://www.youtube.com/watch?v=cw7v8YxCV8o&feature=youtu.be
- https://github.com/jasp-stats/jasp-desktop/blob/development/Docs/development/jasp-adding-module.md

But we can also set up a zoom call to discuss this further if you prefer that? Would that interest you? One of our specialist is @vandenman who might have more to add.

Chee

[2021-04-01 09:59] psychdata commented on #1233
@vandenman apologies, I cannot share the dataset with you. I rechecked it now, and it seems to flip sign depending on the presence and absence of the intercept. As I understand, this should not be taking place in at least a simple linear model?

[2021-04-01 10:07] hdarjus commented on #1234
Hi Alexander,

Thank you for your quick reply. I will take a look at the resources first and then get back to you if I need help. The description you wrote up looks really promising and exhaustive.

I just heard about JASP in the [newest ISBA Bulletin](https://bayesian.org/wp-content/uploads/2021/03/2103.pdf) and I find it really cool. Thanks for the nice contribution to science from my side.

Che

[2021-04-01 10:07] EJWagenmakers commented on #1234
We are about to turn to time series analysis anyway, so this would be very welcome!

[2021-04-01 10:07] #1234 closed

[2021-04-01 10:08] vandenman commented on #1233
The absence of an intercept is something that should be highly motivated. Without an intercept, all sorts of paradoxical results can happen. That's also why it's the default in R and JASP to include an intercept.

[2021-04-01 10:59] EJWagenmakers commented on #1234
Also, as Alexander said, do not hesitate to contact us for help (especially when you are trying to get going)

[2021-04-01 11:24] psychdata commented on #1233
@vandenman , makes sense, thank you!

If possible, if you have some academic material on this matter of removing the intercept for analysis and it consequent interpretation, please do share. Thanks!

[2021-04-01 12:17] felixchenier commented on #1153
@vandenman If I understand well what you suggest is that I use JASP GUI to create a JASP file that would create an R script that I could run and then call `print(table, output = "ascii")`. If this is what you mean, I think this is a very good idea, however it doesn't address this use case. I would have to install R and use two different programs for one analysis, which is not exactly what I aim to

[2021-04-01 12:31] vandenman commented on #1153
@felixchenier well, then it looks like we should implement something like `copy table as` -> \<a list of options for exporting\>. It would indeed be practical if we could use `knitr` to do the conversion for us.

[2021-04-01 16:02] lucieunice opened #1235 "Velicer MAP Test"
* Enhancement: Add Velicer MAP Test feature
* Purpose: Exploratory Factor Analysis

Hi! Is there any way of doing a Velicer MAP Test for Exploratory Factor Analysis in JASP? It is recommended in addition to parallel analysis and the eigenvalues method, and could be useful as an added feature!

Thanks :)

[2021-04-01 20:56] ilias-nikolakopoulos opened #1236 "Bayesian meta-analysis figure legends might be wrong(?)"
* JASP version: 0.14.1

* OS name and version: Windows 10
* Analysis: Bayesian meta-analysis
* Bug description: Prior and Posteriors effect size plot mentions the solid line as
"random H0".  (first image)
* Expected behaviour: According to the instructions, it should be mentioned as "random H1" (image 2).
*
![image](https://user-images.githubusercontent.com/67070810/113352804-65149f00-9302-11eb-9f

[2021-04-05 14:47] mjkofler opened #1237 "a and b pathways in Mediation not reported"
In Mediation Analysis (under the SEM menu), some pathways are not reported in the output, specifically:
a pathways (relations between the predictors and the mediators),
b pathways (relations between the mediators and the outcomes controlling for the predictors)

These pathways are of interest - could you please add a table with these results to the output (or add an option so they can be selected

[2021-04-06 12:36] CRobinho opened #1238 "Use of Data Library at Private University (licence question)"
Dear JASP-Team,

I am working in the psychology department at a private university in Germany and am currently planning a class in applied data analysis in the Psychology Bachelor Program. We are going to use JASP in that class.

As a private university, we are in the commercial sector (students pay a fee). Can I use the datasets in the data library with my students or is this not allowed (given a

[2021-04-06 15:09] EJWagenmakers commented on #1238
JASP is open-source software and you can use it however you please. The GNU public licenses under which JASP is released are mentioned at https://jasp-stats.org/faq/ Bottom line: yes, you can use JASP at your private university, no strings attached. If you like you can email us your university name at communications@jasp-stats.org and we will add it to our world map (https://jasp-stats.org/teachin

[2021-04-06 16:30] minoskritikos opened #1239 "there is no package called 'ragg'"
For a number of analyses, I get the error message "there is no package called 'ragg'" where a graph should be generated. I'm using a Mac and the latest version of JASP.

Please let me know if you require further info.

Thanks
<img width="1080" alt="Screen Shot 2021-04-06 at 12 29 27" src="https://user-images.githubusercontent.com/82049726/113746066-e8a00880-96d3-11eb-94e9-4bcea52a22d0.png">

[2021-04-07 00:40] mspezio opened #1240 "JASP does not report Posterior Parameter Distribution of Intercept in a fitted linear regression model"
* JASP version: 0.14.1

* OS name and version: Mac 10.15.7
* Analysis: Bayesian Linear Regression
* Bug description: No display of Posterior Parameter Distribution of Intercept for the Fitted Model
* Expected behaviour: Need a display of Posterior Parameter Distribution of Intercept for the Fitted Model

Data file is attached, along with the figures. Also, the correctly estimated Posterior Paramet

[2021-04-07 04:58] felixthcho opened #1241 "RM ANOVA post-hoc correction behaviour"
* JASP version: 0.14.1.0

* OS name and version: Windows 10 Home (18363.1440)
* Analysis: ANOVA (Repeated Measure ANOVA)
* Bug description: Post-hoc Scheffe adjusted p-value larger than that of Bonferroni/Holm adjusted when small (e.g. <0.5), but smaller when large (e.g. >0.5)
* Expected behaviour: Post-hoc Scheffe adjusted p-value consistently be the largest.

I am not entirely sure if this is a

[2021-04-07 07:48] boutinb commented on #1239
Hi @minoskritikos Can you specify which OS (Windows, Mac, Linux) en which version of the OS you use. And which JASP version you use?

[2021-04-07 07:50] boutinb commented on #1240
@TimKDJ Can you have a look to this issue?

[2021-04-07 08:20] JoKeyser commented on #1224
Maybe these alternative perspectives could also be distilled into a (few) sentence(s) in the help text?

[2021-04-07 10:47] sophieberkhout commented on #1236
Hi Ilias,

You are right, it should be Random H<sub>1</sub>. I will fix this.

Best,
Sophie

[2021-04-07 12:14] ilias-nikolakopoulos commented on #1236
Thank you Sophie, and thanks for the wonderful software!!

All the best,
Ilias

[2021-04-07 12:58] minoskritikos commented on #1239
Yes of course.

Mac OS Big Sur 14.2.3 - JASP 0.15 build Apr 2 2021 18:01:10

I've noticed this problem with a number of recent builds, both on my MacBook Pro 16 Intel and MacBook Air M1 running 14.2.3

Please let me know if you require further info.

Thanks

[2021-04-07 13:16] AlexanderLyNL commented on #1106
I've added some suggestions to the doc.

[2021-04-07 14:10] minoskritikos commented on #1239
I should add that if I reinstall the stable release 0.14, I don't have this issue.

[2021-04-07 15:01] boutinb commented on #1239
Hi @minoskritikos The nightly builds are highly unstable! You should use them only if you are looking for a special fix on an issue that is not yet solved in the official release.
This problem has also been seen by a colleague of mine, and should be solved soon.

[2021-04-07 15:01] #1239 closed

[2021-04-07 15:02] minoskritikos commented on #1239
Understood! I tried a nightly build and loved the raincloud plots, so I stuck with it. Good to know it will be solved soon.

Thanks

[2021-04-07 15:07] boutinb commented on #1239
If you load an older Nightly build, then it should work.

[2021-04-07 23:30] monkeymanz opened #1242 "JASP won't display any plot"
* JASP version:0.14.1.0

* OS name and version: Windows 10
* Analysis: Whenever I try to show any plots like a distribution plot, nothing will show. Have tried both the 64 and the 32 bit versions.
* Bug description: Will not display any plots whether a distribution plot or a scatter plot. Never did display anything since the beginning
* Expected behaviour: Should be displaying plots. The jasp for

[2021-04-08 07:39] boutinb commented on #1242
Hi @monkeymanz Really strange.... Could you send us the log files of the desktop and the engines: https://github.com/jasp-stats/jasp-desktop/blob/development/Docs/user-guide/logging-howto.md ?

[2021-04-08 11:22] JorisGoosen commented on #1120
Well, I have implemented this code in a separate branch (which means it isn't necessarily part of the next release yet.) at

Because while the added code works [we added `droplevels` to our factor/levels creation code in jasp quite some time ago](https://github.com/jasp-stats/jasp-desktop/commit/567c830a66083aa2f83ebd51c29e99a963287ce3).
And those newly added values well, they are dropped immediat

[2021-04-08 12:41] mjkofler opened #1243 "Lavaan in JASP not notifying when SEM solution is inadmissible (nonpositive definite covariance matrix)"
* JASP version: 0.14.1

* OS name and version: Mac Big Sur 11.1 + Windows version (same issue across platforms)
* Analysis: SEM (lavaan)
* Bug description: When solution is inadmissible (e.g., due to a nonpositive definite covariance matrix), JASP provides output as normal with no indication that the results are bad. Running same code in lavaan in R, and in MPLUS, both give the expected nonpositiv

[2021-04-08 12:47] mjkofler opened #1244 "Report sample size in SEM/lavaan"
* Enhancement: Report sample size in the output for SEM/lavaan
* Purpose: Allow user to know whether listwise deletion of missing data was used. Listwise deletion appears to be occurring even if ML estimator is selected, but without an option to show sample size analyzed, there isn't a straightforward way to check/know this. MPLUS emulation appears to use FIML and full sample (based on comparing J

[2021-04-08 14:53] SchlennoB commented on #1120
Take your time! I'm totally happy that you're working on that issue and anyway hadn't expected the feature coming with the next release.
(But of course can't wait to use the feature. Just because in my reality such "imperfect" datasets with missing values are rather the norm than the exception.)

So still: thank you for working on that!

[2021-04-08 16:03] Wouterwolf opened #1245 "Error Bayesian GLMM interaction term"
* JASP version: .14.1
* OS name and version: Windows 10
* Analysis: Bayesian GLMM
* Bug description: Error message when trying to compute Bayesian Gamma distribution GLMM (log link) with an interaction term of a continuous fixed factor (cue number) and a categorical fixed factor (age group) with a continuous DV (Latency)
* Expected behaviour: The model computing :)

#### Steps to reproduce:
1. Go

[2021-04-08 16:39] mjprioris opened #1246 "Error in Post-hoc estimation in RM ANOVA?"
Operating system: OX 10.15.7 CATALINA
JASP version 14

The same problem was note in
Operating system: windows 10
Jasp version 14.1

I have ran a RM ANOVA in an early version of JASP (I don´t know exactly which, I suppose it was v. 13) an I obtained post-hoc results that matched SPSS results. The following:

<img width="740" alt="Captura de pantalla 2021-04-08 a las 18 34 44" src="https://user-imag

[2021-04-08 18:53] monkeymanz commented on #1242
[JASP 2021-04-08 14_50_18 Desktop.log](https://github.com/jasp-stats/jasp-issues/files/6280846/JASP.2021-04-08.14_50_18.Desktop.log)

When I try to drag and drop the engine log files, it says that the file is empty and won't let me drag and drop it in.

[2021-04-08 20:03] JTPetter commented on #1246
Hi @mjprioris,
I've looked into this, but I fail to reproduce the issue. When I run the "AlcoholAttitudes" data set from the JASP data library through JASP 0.14.1 and SPSS 26 I get the same results. See here:
![image](https://user-images.githubusercontent.com/61797391/114088677-8e5e9d80-98b5-11eb-92b2-000763457603.png)
![image](https://user-images.githubusercontent.com/61797391/114088930-daa9dd80-

[2021-04-09 08:02] boutinb commented on #1242
Hi @monkeymanz Once you have set the log settings, you have to restart JASP. Can you then send again the log files?

[2021-04-09 08:49] Photeinos-Santas opened #1247 "ANOVA reports variance in dependent variable is equal to 0 after grouping on independent variables"
* JASP version: 0.14

* OS name and version: MacOS 11.2.3, MacBook Pro, Retina 15-inch, 2.5 GHz Intel Core i7, 16 GB 1600 MHz DDR3, NVIDIA GeForce GT 750 2 GB, Intel Iris Pro 1536 MB
* Analysis:  A dataset from a 2x8 factorial design (2 metals each at 8 concentrations) with 4 replicates per metal x concentration combination for a total of 64 observations and 3 dependent variables per observation w

[2021-04-09 10:28] mjprioris commented on #1246
Hi Jonas

Thank you very much for the quick response.
Please find  attached the database for the previous example.

I ran the analysis also directly in R and results do not match JASP 14 or  14.1

Here are the results from R

<img width="612" alt="Captura de pantalla 2021-04-09 a las 12 25 25" src="https://user-images.githubusercontent.com/41793848/114167114-d968c700-992e-11eb-9d92-ca5472cfdf16.pn

[2021-04-09 21:38] luciavitarobinia opened #1248 "Troubles installing Jasp on Mac OS Catalina. It will not let me! Please help urgently!"
* JASP version: Jasp for Catalina

* OS name and version: Catalina
* Analysis: It download the files and says that it cannot open. I do have XQuartz already installed.
* Bug description:
* Expected behaviour:

#### Steps to reproduce:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

[2021-04-10 00:40] monkeymanz commented on #1242
[JASP 2021-04-08 14_50_18 Engine 0.log](https://github.com/jasp-stats/jasp-issues/files/6288985/JASP.2021-04-08.14_50_18.Engine.0.log)
[JASP 2021-04-08 14_50_18 Engine 1.log](https://github.com/jasp-stats/jasp-issues/files/6288986/JASP.2021-04-08.14_50_18.Engine.1.log)
[JASP 2021-04-08 14_50_18 Engine 2.log](https://github.com/jasp-stats/jasp-issues/files/6288987/JASP.2021-04-08.14_50_18.Engine.2.

[2021-04-10 06:50] tomtomme commented on #1106
Thanks, but what is the idea behind those. Are they additions or replacements?

[2021-04-10 10:04] JTPetter commented on #1246
Hi María,

thanks for sharing the data set! I was able to reproduce the issue. The difference in results comes about when the option "Pool error terms for RM factors" is checked. This might not have been the default for previous versions of JASP, explaining the difference.
![image](https://user-images.githubusercontent.com/61797391/114266037-5742d600-99f4-11eb-8a3a-5f87935477d4.png)

Note how the

[2021-04-11 14:37] felipeviegas opened #1249 "RM Anova will not let you delete RM factors"
JASP is crashing once you try to delete any repeated measures factor that you assign to your RM ANOVA. I am using the latest version (0.14.1) and it was already going on in version 0.14. I updated it to see if it was solved. Every time I make any mistake while preparing the factors of the RM ANOVA, I have to delete the test and start over. If I try to delete the factor, JASP just crashes. I am on

[2021-04-11 16:18] meflaim opened #1250 "Repeated measures ANOVA undefined column selected"
* JASP version: 0.14.1

* OS name and version: Windows 10
* Analysis: Repeated measures ANOVA
* Bug description: Error in `[.data.frame`(dataset, do.call(order, dataset[, fixedB64, drop = FALSE]), : undefined columns selected
* Expected behaviour: descriptive statistics and effect size

#### Steps to reproduce:
1. Go to '...' Repeated measures ANOVA, 8 repeated measures
2. Click on '....' descript

[2021-04-11 16:24] meflaim commented on #1250
[github jasp issue-20210411T162326Z-001.zip](https://github.com/jasp-stats/jasp-issues/files/6292231/github.jasp.issue-20210411T162326Z-001.zip)

[2021-04-12 08:54] boutinb commented on #1248
Hi @luciavitarobinia Just to be sure:  You have downloaded the Catalina & Big Sur JASP version and you have in your download folder a JASP-0.14.1.0-postMojave.dmg file. If you double-click on it, what is the message error exactly? Can you also right-click on the dmg file, and select the 'Open' menu?

[2021-04-12 09:05] #1147 closed

[2021-04-12 09:06] Kucharssim commented on #1147
Hello @jasonckchan,

thank you for reporting this issue, you are right, it was a bug. This will be fixed in the next release.

[2021-04-12 10:26] boutinb commented on #1242
Hi @monkeymanz What strange is that I cannot see in the log that you have set the option Distribution Plot on. I would like to see exactly what JASP renders, both the analysis option, and the result, like this:
<img width="1325" alt="Screenshot 2021-04-12 at 12 22 34" src="https://user-images.githubusercontent.com/503332/114380055-e2a1a000-9b89-11eb-89ea-54cc207c4dca.png">

Could you send me such

[2021-04-12 11:16] vandenman commented on #1240
The reason why the results may differ a lot is that the Bayesian linear regression shows model-averaged posterior distributions.

So we take the posterior for the intercept of the model that includes the predictor and the posterior for the intercept of the model that excludes the predictor. Next, we average these distributions weighted by the posterior probability of the respective models.

Plots

[2021-04-12 13:34] monkeymanz commented on #1242
![image](https://user-images.githubusercontent.com/82124914/114402769-27214180-9b72-11eb-8110-cc55cd458bd1.png)
This is what is displayed, just two empty spaces.

[2021-04-12 14:04] JohnnyDoorn commented on #1249
Hi @felipeviegas,

Can you give a detailed step by step description of how you get the error? Because I cannot reproduce this.

Kind regards,
Johnny

[2021-04-12 14:04] #1246 closed

[2021-04-12 14:26] boutinb commented on #1242
@monkeymanz Could you click om the sub or dpr_scor label in the result. Normally it should appear a pop-up menu, when you can choose 'Save Image As'. Can you dave the image as a png, and check that this file afterwards exists on your PC?

[2021-04-12 14:36] felipeviegas commented on #1249
Hi Johnny,

I  do normal steps:

   - open my data file on jasp;
   - ask for a repeated measures anova;
   - start to configure repeated measures factor;

Then, if I make any mistake and I have to erase one of the factors,
clicking on the "x" to delete it, jasp will just close on me.
While I tried to record a video of the error, I realized that it will only
happen if I have not yet assigned any v

[2021-04-12 16:29] Kucharssim commented on #1197
Hello @FD511 ,

unfortunately, I cannot reproduce this error. I also do not see any attached file. Note that to attach a file to a GitHub issue, you need to upload it directly to the website, not send it by e-mail.

Thanks.

Best,
Simon

[2021-04-12 19:21] keecorby commented on #1248
I am having same problem it keeps opening a verifying window and after it says open but the program continues to not open. I have the quartz (maybe mispelled) downloaded as well and I did it before the jasp and it still does not work.

[2021-04-12 19:28] keecorby commented on #1218
Hello @JorisGoosen I am having same issue. I have tried to click it in applications and reached out to apple support but cant solve the issue. The version I am using is:
10.12.6
macOS Mojave

[2021-04-12 19:29] monkeymanz commented on #1242
![drp distribution plot](https://user-images.githubusercontent.com/82124914/114450095-9400ff80-9ba3-11eb-8887-6a926dce7cc6.png)
![sub distribution plot](https://user-images.githubusercontent.com/82124914/114450097-94999600-9ba3-11eb-8651-e9223b2886f4.png)
I was able to 'save the images as' onto my desktop and open them, so I guess they just aren't displaying the images.

[2021-04-13 07:38] boutinb commented on #1248
@keecorby Did you try to right-click the JASP icon, and select the Open menu?

[2021-04-13 08:17] mjprioris commented on #1246
Dear Jonas

Yes, that was the difference between programs. Thank you very much for your quick and helpful answer.

Best

María José

[2021-04-13 08:25] JorisGoosen commented on #1218
You said "click it in applications", I assume you mean left-click?
What happens if you try rightclicking and then choosing "open" from the menu?

If it keeps failing a screenshot of the error would be helpful.

[2021-04-13 09:51] boutinb commented on #1242
@monkeymanz OK, at least the JASP engines end the analyses work fine apparently. Could you try in Preferences/Interface menu to set the 'Safe Graphics Mode' (you will have to restart JASP)? And also can you try also the Dark Theme?

[2021-04-13 13:19] monkeymanz commented on #1242
![image](https://user-images.githubusercontent.com/82124914/114558961-39b27e00-9c39-11eb-9776-258248d0a428.png)
Sadly, the safe graphics mode and dark theme don't change anything. I did try them after resetting.

[2021-04-13 13:36] JorisGoosen commented on #1106
I'm fairly sure he meant those as replacements to get the sentences a bit shorter. I've asked Alexander to make the changes directly in the doc instead of putting them next to it like before.

[2021-04-13 13:41] #1194 closed

[2021-04-13 13:56] JohnnyDoorn commented on #1247
Hi @Photeinos-Santas,

As the error states, apparently there are cells of the interaction effect where the variance is 0 (e.g., all values are the same). Removing the interaction effect from your model (testing only the two main effects) does not give this error. I also see you have a limited sample size per cell, which might contribute to the problem.

Kind regards
Johnny

[2021-04-13 14:02] JorisGoosen commented on #1216
Okido, Ive added "Keep in mind that, as these versions are in active development, no attempt is made to ensure backward- or forward-compatibility between jasp-files made with nightlies. So if you want to share your work, or even load it with some other version of JASP, you should not use these nightlies but are better off using some official release of JASP. "

As you can now see on the nightlies

[2021-04-13 14:02] #1216 closed

[2021-04-13 14:17] JorisGoosen commented on #1231
So the problem here seems to not be the size of your data which, while respectable, is not crazy-large.
There seems to have been some problem in the analysis somewhere. But I didn't analyse to deeply because I simply tested the scenario out in 0.14.1 (jasp stumbled and got stuck) and a development version of 0.15 (can be downloaded from https://static.jasp-stats.org/Nightlies/ but those are highly

[2021-04-13 14:17] #1231 closed

[2021-04-13 14:22] Photeinos-Santas commented on #1247
Hi Johnny,
Thanks for your suggestions.
I will check them and let you know.
Best,
Photeinos

On Tue, Apr 13, 2021 at 4:56 PM JohnnyDoorn ***@***.***>
wrote:

[2021-04-13 15:30] tomtomme commented on #1106
Interesting. I thought the idea was to make the tooltips more verbose for newcomers. I guess it makes sense to stick to one paradigm. If we make some tooltips short and others longer... would look weird, wouldn't it?
________________________________________
Von: Joris Goosen ***@***.***>
Gesendet: Dienstag, 13. April 2021 15:36:58
An: jasp-stats/jasp-issues
Cc: Thomas Langkamp MSH Hamburg; Comment

[2021-04-13 15:39] EJWagenmakers commented on #1106
I personally like all tooltips to be as short as possible. I'll take a look tonight though

[2021-04-13 16:06] tomtomme commented on #1106
ok. then we had a misunderstanding as you said that the original tooltips were too short.... thus I created those longer ones.
________________________________________
Von: EJ ***@***.***>
Gesendet: Dienstag, 13. April 2021 17:39:53
An: jasp-stats/jasp-issues
Cc: Thomas Langkamp MSH Hamburg; Comment
Betreff: Re: [jasp-stats/jasp-issues] Remove mouse-overs /tooltips on ribbon icons  (#1106)

I pers

[2021-04-13 16:13] PUPU777 opened #1251 "Error: object 'xxx' not found."
When I use jasp to calculate the data, it just appeared the sentence that I wrote in title. Other people who are using the same data do not meet the same problem that I met. Also, when I tried to calculate and then failed because the object not found, the variable just become an empty set when I click descriptive.
![微信图片_20210414001144](https://user-images.githubusercontent.com/82463924/114585340-

[2021-04-14 06:17] GGBEE opened #1252 "JASP unexpected internal error"
![Screenshot 2021-04-14 at 2 13 37 PM](https://user-images.githubusercontent.com/82495460/114662925-17e5f380-9d2c-11eb-832e-1241732c7bae.png)

* JASP version:

* OS name and version:
* Analysis:
* Bug description:
* Expected behaviour:

#### Steps to reproduce:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

[2021-04-14 06:51] EJWagenmakers commented on #1106
Oh, I apologize for the confusion. I can't recall complaining about them being too short...(in the above, you'll see I argued they are mostly redundant) -- or was this someone else? Anyway, I will look now. (I was too optimistic about doing it yesterday evening)

[2021-04-14 08:01] EJWagenmakers commented on #1106
OK, so I went over the tooltips and proposed some changes. I like the tooltips to start with a verb (e.g., Explore / Evaluate / Quantify...etc). Anyway, I think that (with the exception of audit, but I let that slide) this is consistent and concise.

[2021-04-14 08:39] boutinb commented on #1252
Hi @GGBEE Can you tell which JASP version you use, which OS, etc... Could you also add a precise description of what you did: does this error comes up immediately when you start JASP, or when you load some data, or when you you add an analysis?

[2021-04-14 08:45] boutinb commented on #1251
Hi @PUPU777 Could you describe step by step precisely what you did? Did you load a data file or a JASP file? Then how did you have create your first Computed column. We need all the details (maybe with screenshot) to understand what has happened.

[2021-04-14 09:02] PUPU777 commented on #1251
Hi @boutinb  I loaded a data file and I have also tried JASP file, both of them met the same problem.

After I opened the file, I changed the type of column titled SDO1 from ordinal to scale.
![image](https://user-images.githubusercontent.com/82463924/114682439-ad3fb280-9d41-11eb-8aef-910c287c3b26.png)
then I created a new column called SDO1_r
![image](https://user-images.githubusercontent.com/824

[2021-04-14 09:04] boutinb commented on #1242
So apparently the browser used by JASP to display the result cannot load the png files. These files exist because you could save them in another folder. These files should be somewhere in a subfolder under the C:\Users\<username>\AppData\Local\JASP\temp folder. Can you see them?
Are you admin of your PC? Do you have a username with special characters?

[2021-04-14 09:13] boutinb commented on #1251
That's quite strange...
Which JASP version do you use, and which OS (with its version)?
Can you also try to make a computed column with another random name (eg. AAA), having for value just the value of an existing variables?

[2021-04-14 09:22] PUPU777 commented on #1251
@boutinb

I am using this version now. But I also tried the latest version 0.14.1, and it just didn't work either.

![image](https://user-images.githubusercontent.com/82463924/114686068-052be880-9d45-11eb-9200-c886fe64059e.png)

I use AAA as the new column's name and use the existing value 'patriot' but it is just the same result

![image](https://user-images.githubusercontent.com/82463924/1146868

[2021-04-14 09:27] boutinb commented on #1251
And which OS (with its version) do you use?

[2021-04-14 09:29] PUPU777 commented on #1251
@boutinb

I am using windows 10

[2021-04-14 09:48] boutinb commented on #1251
Really strange...
Could you set the log (https://github.com/jasp-stats/jasp-desktop/blob/development/Docs/user-guide/logging-howto.md). Then restart JASP, and just load a data file and make a simple Computed column, and after that, send me the log files (Desktop and Engines)?

[2021-04-14 09:52] tomtomme commented on #1106
Nice :)

The misunderstanding is on my head. I made "being redundant"
to "being to short" in my head.
I think: Take what you like from my work. It was fun anyway. I wrote my
tooltips with my students in mind, and thus they are a bit on the long
side. Long tooltips are unconventional for sure, but I think they can be
worth it if they save a student from the need to look into the way
longer help-tex

[2021-04-14 09:57] EJWagenmakers commented on #1106
Well it certainly made us think better about what we want to tooltips to be. If we have very many of them we could have a central option in preferences ("verbose" or "concise") but presently it does not seem worth it, The thing is also that the top vanishes after 2 seconds or so. Actually, I am not sure why it should time out at all -- removing it on mouse movement alone seems sufficient, and havi

[2021-04-14 10:06] PUPU777 commented on #1251
@boutinb

After I set the log and restart JASP, the calculation just worked successfully and the problem is fixed automatically. This is really strange. Thank you so much!!!

[2021-04-14 10:18] boutinb commented on #1251
???
And if you set the log off and restart JASP?

[2021-04-14 10:43] PUPU777 commented on #1251
@boutinb

When I set the log off and restart JASP, it doesn’t work again. Then I set back to log on, it works fine

[2021-04-14 12:25] boutinb commented on #1251
That is really really strange. Never heard such a behaviour... Even if it works, could send me the log files?

[2021-04-14 13:57] JorisGoosen commented on #1106
Yeah, having it time out doesn't seem sensible indeed. I'll see if I can prolong that.

[2021-04-15 00:14] monkeymanz commented on #1242
When I go into the 'temp' forlder, there is only a folder called '2748' which is empty. So no, I can't find those png files. I am the admin of this PC and my username does contain an apostrophe and a space.

[2021-04-15 01:20] GGBEE commented on #1252
Hi,

the error box came up after i have selected two variables into the 'variables' box for the correlation matrix. I hope this information is helpful.

Thanks.
________________________________
From: bruno boutin ***@***.***>
Sent: Wednesday, April 14, 2021 4:39 PM
To: jasp-stats/jasp-issues ***@***.***>
Cc: #GOH GINT# ***@***.***>; Mention ***@***.***>
Subject: Re: [jasp-stats/jasp-issues] JASP u

[2021-04-15 07:22] boutinb commented on #1252
Hi @GGBEE Can you give also which JASP version you use, and which OS (windows, Mac, Linux..) with its version you have?
Just to be sure: you have loaded a data file, added only the Correlation Matrix analysis, and selected two variables into the 'variables' box?
Could you als set up the log (https://github.com/jasp-stats/jasp-desktop/blob/development/Docs/user-guide/logging-howto.md) and send me t

[2021-04-15 07:25] boutinb commented on #1242
Hi @monkeymanz Can you use another user on your PC with only alphanumeric characters (without accents)?

[2021-04-15 08:44] clmcd opened #1253 "File not opening correctly in preferred editor"
* JASP version: 14.1
* OS name and version: Windows 10
* Bug description: I am opening a .jasp file in JASP. It was original a .sav file, which I then saved as .jasp. When I double click to edit, it doesn't know what program to use. I changed my preferred editor in Preferences to Excel. However, when the file opens in Excel, it appears to be a .sav file and doesn't display properly.
* Expected beh

[2021-04-15 08:50] PUPU777 commented on #1251
@boutinb

ok. when I tried to calculate with log on, it failed again. these are log files when I couldn't do calculation

[JASP 2021-04-15 16_25_13 Desktop.log](https://github.com/jasp-stats/jasp-issues/files/6316444/JASP.2021-04-15.16_25_13.Desktop.log)
[JASP 2021-04-15 16_25_13 Engine 0.log](https://github.com/jasp-stats/jasp-issues/files/6316445/JASP.2021-04-15.16_25_13.Engine.0.log)
[JASP 2021

[2021-04-15 15:49] petrapovalej opened #1254 "Jasp not synchronizing changes made in .csv in Excel"
Hi! Me and some of my students have a problem with synchronization. We save excel file as .csv with UTF8 encoding. When we import the .csv file to JASP and make some changes in Excel as editor for .csv files, the changes are not synchronized in JASP.
What can we do?

We are using Win10, Office 365 (Excel Version 2103) and JASP 0.14.1

[2021-04-16 06:43] ndpegram opened #1255 "Vector format export of fails"
* JASP version: 0.14.3
* OS name and version: Linux, Ubuntu 20.04 LTS
* Analysis: Graphic export error
* Bug description: When trying to export a scree plot to EPS, PDF or SVG, an error dialog appears with the message, "'x' is a list, but does not have components 'x' and 'y'". Note, the same plot exports successfully to PNG.
* Expected behaviour: Successful export.

#### Steps to reproduce:
Select

[2021-04-16 07:09] vandenman commented on #1255
@ndpegram Thanks for reporting this issue! I can replicate it on Ubuntu as well.

Note that this forum is *public*, so I've removed your upload and added my own which uses our dummy data set:

[cfa_pdf_export_fails.jasp.zip](https://github.com/jasp-stats/jasp-issues/files/6323163/cfa_pdf_export_fails.jasp.zip)
(rename and drop .zip)

It does look like the issue is fixed already in our current deve

[2021-04-16 08:26] boutinb commented on #1254
Hi @petrapovalej Just to be sure: if you have some changes in Excel, and then press CTRL-Y (shortcut for synchronization) do the change appear in JASP?
Also what is your 'Synchronize automatically on data file save' setting in Preferences/Data ?

[2021-04-16 08:57] boutinb commented on #1251
What I see is that you have a locale set to Chinese. I know that JASP has sometimes some problems with that, especially when R is used. Maybe by setting the log on, this overrules some R settings... We will have to understand this problem.
Fortunately you have now a workaround.
If you have some time, I would be quite interested to know if this version http://static.jasp-stats.org/Nightlies/Windows

[2021-04-16 12:19] petrapovalej commented on #1254
Hi! I find out that for some reason the synchronization option has turne
office. I really don't know how because a few days ago everything was
working.
The same happened to some of my students.
So now it's working.
Regards, Petra

On Fri, 16 Apr 2021, 10:26 bruno boutin, ***@***.***> wrote:

[2021-04-16 13:12] ndpegram commented on #1255
Great, thanks

[2021-04-16 13:12] #1255 closed

[2021-04-16 14:03] boutinb commented on #1254
Nice to hear it works now!

[2021-04-16 14:03] #1254 closed

[2021-04-16 14:07] boutinb commented on #1230
I close this issue since I don't get an answer. If you have still this problem, reopen this issue.

[2021-04-16 14:07] #1230 closed

[2021-04-16 14:08] boutinb commented on #1229
I close this issue since there is no answer. If this problem still occur, please reopen this issue.

[2021-04-16 14:08] #1229 closed

[2021-04-16 14:17] boutinb commented on #1253
Hi @boutinb JASP still knows that the source file was a sav file, and when you double-click the Data View, it tries to open this sav file. As apparently you don't have SPSS, it cannot open the file. The best you can do is to export the data (with the Export Data menu) to csv file, and then afterwards synchronize JASP with this csv file (with Sync Data menu).
We are aware that this situation is not

[2021-04-17 15:29] LaraKlacar opened #1256 "Unable to Open File"
JASP version: 0.14.1
MacOS
High Sierra
Unable to Open File
No entry (META-INF/manifest.xml) found in archive file

I am trying to upload an Excel sheet into JASP, but this code keeps popping up. I have made sure the file code is .ods
So should be working. Can someone please help me ASAP

If possible please attach your data and/or JASP file to the issue, this makes solving the bug a lot easier. If

[2021-04-18 00:16] clmcd commented on #1253
Thank you - that will be a helpful feature.
I did set my preferred editor to Excel, though, and it opens in Excel - I'm just curious about why it's not opening properly.
I was having issues when exporting to CSV, but I can now see that re-saving as a .jasp file from CSV seems to work - thanks!

[2021-04-18 00:16] #1253 closed

[2021-04-18 08:52] djdekker opened #1257 "Enhancement: Add 'Refresh' button to analysis title bar"
* Enhancement: Add a 'Refresh' button to the title bar of every analysis
* Purpose: Show the user how to refresh an analysis
* Use-case: When opening an analysis that was created with an older version of JASP

**Is your feature request related to a problem? Please describe.**
When opening an analysis created with an older version of JASP, the user is encouraged to refresh the analyses when they co

[2021-04-18 09:51] EJWagenmakers commented on #1257
I fully agree a refresh button or option would be very welcome.

[2021-04-19 06:40] PUPU777 commented on #1251
@boutinb

I found out when I turn the log on, it can just calculate once. and for the second calculation, it failed. so I tried to download the version you mentioned. this new version works very well. Thank you so much.

[2021-04-19 08:12] boutinb commented on #1257
We were already thinking of adding more options here, but it might be too many buttons. So maybe we should have dropdown menu here.

[2021-04-19 08:13] boutinb commented on #1251
Nice!

[2021-04-19 08:13] #1251 closed

[2021-04-19 08:48] vandenman commented on #1257
We once had the idea to add a hamburger menu with a dropdown for the analyses (if I remember correctly). @boutinb if you implement something like that it would be great to take into account that we probably want to extend to to allow for https://github.com/jasp-stats/INTERNAL-jasp/issues/528, https://github.com/jasp-stats/INTERNAL-jasp/issues/548, and https://github.com/jasp-stats/INTERNAL-jasp/is

[2021-04-19 08:56] boutinb commented on #1256
@LaraKlacar Could you send your ods file? Can you also try to save the Excel file in csv fomat and load with in JASP?

[2021-04-19 09:26] TZaks commented on #101
Is there an update on this? I am also in the position of having used JASP to estimate the factors, but need the scores for further analyses.

[2021-04-19 10:11] EJWagenmakers commented on #101
@vankesteren informed me the code does exist:
EFA: https://github.com/jasp-stats/jaspFactor/blob/389a04f7694b535774fd36b6eacad765d62e4a00/R/exploratoryfactoranalysis.R#L578
PCA: https://github.com/jasp-stats/jaspFactor/blob/389a04f7694b535774fd36b6eacad765d62e4a00/R/principalcomponentanalysis.R#L469

Will it be available in the next version, @JorisGoosen @vandenman

[2021-04-19 10:36] vandenman commented on #101
The code exists but it's currently not possible to export more than one column to the data set. As a temporary workaround, we could add a button that exports the factor scores as a csv or so.

[2021-04-19 12:35] TZaks commented on #101
That would be very helpful, if possible. Do we know the time frame?

Best,
Tara

On Mon, 19 Apr 2021 at 11:36, Don van den Bergh ***@***.***>
wrote:

[2021-04-19 17:38] Photeinos-Santas commented on #1247
Hi Johnny,
Your suggestion of removing the interaction term from the model and keeping the main effects only was not an option, because the interactions provide useful information.
Here is my workaround to the issue:
1. Add to one and subtract from another one of the interaction four identical replicate values the same small amount (e.g. 0.01). Adding and subtracting the same amount cancels out an

[2021-04-20 04:49] romanogino opened #1258 "Recoding variables in JASP"
Hello

Just a proposal for an enhancement:
Create an option to recoding variables for descriptive analysis.

**Describe the solution you'd like**
A new variable in a new column.

I use a lot of descriptive statistics with my students and recoding is very usual in any situation.

Best regards.

r.

[2021-04-20 18:08] bruno-fd opened #1259 "JASP results DWLS - Discrepancies with Lavaan"
* JASP version: 0.14.1.0
*OS name and version: Windows 10

Hello all,

I´m trying to figure out why fit indexes using Robust DWLS in JASP are, in general so good!
And why they are so discrepant in comparison to lavaan results using WLSMV.

When we request WLSMV in lavaan, it comes out with two colums (DWLS and Robust). So, If im not wrong, lavaan collumn 'robust' should be the same of JASP Robust

[2021-04-21 03:27] platjavi commented on #1259
Hello, i have a problem with the program on linux and Windows, when i try to do a  clasical one sample t-test I get a message that says the following:
Known bug: computed effect sizes ignore the test value. Could you help me to solve the problem?

Javier

[2021-04-21 04:37] aicooper opened #1260 "When trying to open a JASP file, JASP is not an available location"
* JASP version: 0.8.1

* OS name and version: OS X El Capitan
* Bug description: I have been unable to open any JASP files to perform tasks, I only have a singular data set which was downloaded from the same source I have been downloading the new files

#### Steps to reproduce:
1. Go to 'file-->open'
2. Click on 'downloads'
3. Scroll down to 'desired file'
4. unable to open file

[2021-04-21 07:20] boutinb commented on #1259
Hello @platjavi If you have an issue, please make a new one, and don't use an existing one: we use GitHub issues precisely to organize the issues. The warning you see is just to say that we know there is a bug in this analysis, and that will be fixed in the next release.

[2021-04-21 07:24] EJWagenmakers commented on #1259
The bug is discussed in various places on this GitHub page. @AlexanderLyNL could you point to a few relevant entries?

[2021-04-21 07:30] boutinb commented on #1260
Hi @aicooper Why do you use such an old Mac OS & JASP versions? Apple stopped supporting El Capitan already 3 years ago. Using such a version is quite dangerous (no security update). The last version of JASP supporting El Capitan is 0.9.2. If you really don't want to upgrade your Mac OS, you can still use this version https://static.jasp-stats.org/JASP-0.9.2.0-XCode8.2.dmg. But we don't make any s

[2021-04-21 07:30] #1260 closed

[2021-04-21 07:34] GithubUser699 opened #1261 "How to install jasp on Debian with gnome?"
We will use jasp and I have Debian linux with gnome.

This https://jasp-stats.org/download/ wasn't helpful as the only thing I could use is the flatpak version.

But it depends on kde which I don't have. So... how to install nativly on my gnome environment?

(yes, I tried "apt-get install jasp" and also looked at the software center. I also found this https://github.com/lindemann09/jasp-linux-inst

[2021-04-21 09:25] AlexanderLyNL commented on #1259
The following provides some background: https://github.com/jasp-stats/jasp-issues/issues/1173

[2021-04-21 10:26] JorisGoosen commented on #1261
Hello,

JASP cannot really run "natively" on gnome, as that would require it running with GTK.
Because JASP is based on qt we need that, and the "kde-flatpak" is only used because it contains Qt.

In short, I would use the flatpak if I were you. I personally run the `i3` wm aand also use the JASP flatpak there and it works fine.

The reason we use flatpak is because just getting accepted in the de

[2021-04-21 10:33] GithubUser699 commented on #1261
[code]

Won't that install kde (and maybe remove /break gnome)? I never used flatpack or anything which wasn't compatible with debian and gnome.

[2021-04-21 11:20] JorisGoosen commented on #1261
No it won't break gnome or actually install kde for that matter.

flatpak keeps separate dependencies from the system it runs on. This means that it can install the different parts on all kinds of linux systems. It won't otherwise interfere with your OS at all.

[2021-04-21 11:20] JorisGoosen commented on #1261
And it is fully compatible, really, no need to worry ;)

[2021-04-21 12:31] GithubUser699 commented on #1261
Okay, I trust you.

Everything still workes until now (after downloading) and jasp seems to works good as well.

Thank you for your fast help and for taking away my worries!

[2021-04-21 12:31] #1261 closed

[2021-04-21 17:53] JorisGoosen commented on #1261
You are welcome and I hope JASP will be a pleasure to use!

[2021-04-21 19:28] ilias-nikolakopoulos opened #1262 "Model function in K-Nearest Neighbors Classification"
Hi, is it possible to retrieve the exact function of the model to apply it to new datasets, after performing K-Nearest Neighbors Classification in the Machine Learning Module?

Thanks once again for the amazing software!

[2021-04-21 20:28] Zntznkv opened #1263 "Error resizing plot"
* JASP version: 0.14.1.0

* OS name and version: Windows 64-bit, 20H2
* Analysis: Descriptives
* Bug description: ERROR RESIZING PLOT, no plot object was found
* Expected behaviour: Can't see the whole plot, or graph seems to be cutted off (for example can't be seen whole legend, it's cutted).. I tried to resize the plot but error pops up every time
* UPDATE: I ran it again and I'm able to resized

[2021-04-22 07:31] boutinb commented on #1263
I think this problem will be solved in 0.15 with plot editing. But maybe can @vandenman better answer.

[2021-04-22 07:40] koenderks commented on #1262
Hi @ilias-nikolakopoulos,

Short answer: Currently this is not possible.

Long answer: For some time now we are playing with the idea of saving your trained model somewhere and having an extra analysis in the ML module in which you can apply the trained model to a new data set. There is an [early-stage implementation](https://github.com/jasp-stats/jaspMachineLearning/tree/prediction) of this in de

[2021-04-22 08:13] vandenman commented on #1263
Hi @Zntznkv and thanks for reporting the issue!

Would it be possible to share the .jasp file that causes an error upon resizing? That way I can verify whether this will be solved in the next release.

If yes, you can either attach the jasp file as a zip file to this issue (note that this is a public forum) or send it to me at d.vandenbergh <at> jasp-stats.org (in that case I'll delete the data se

[2021-04-22 11:27] boutinb commented on #1259
This issue is about a Lavaan problem from @bruno-fd. If @platjavi wants to add some comments, he should make another issue.
@Kucharssim could you answer the Lavaan problem?

[2021-04-22 15:04] ilias-nikolakopoulos commented on #1262
Sounds great, I just sent an email to sign up for beta testing!!

Thanks!!

[2021-04-22 19:40] paucaryomi opened #1264 "Mac Version 10.10.6"
* JASP version: Which one should i use?

* OS name and version: Mac 10.10.6
* Analysis:
* Bug description: Hello
I need assistance on what JASP link I can download for a Mac 10.10.6 version. I have attempted to download a few links from your page but my Mac continually pops up a message stating it's not compatible with my computer.

May you send any suggestions/ links that you may think could work

[2021-04-22 19:55] AlexanderLyNL commented on #1264
Hi Paucaryuomi,

You're using Mac OSX Yosemite. This version of mac OS hasn't been supported by Apple for almost four years (August 2017). This means that you're at risk of security breaches. For us this means that we are unable to make the newest JASP versions available for these older OS. I think that the following version might work:

https://static.jasp-stats.org/JASP-0.9.2.0-XCode8.2.dmg

Not

[2021-04-23 09:02] JorisGoosen commented on #1264
Also it doesn't include numerous bugfixes either, I would strongly recommend updating your MacOS or replacing either your laptop or use something like linux. But we can't help you out with getting a newer version of JASP running on such an outdated system.

Sorry about that.

[2021-04-23 09:02] #1264 closed

[2021-04-23 10:37] JorisGoosen commented on #1258
We are working towards some improvements in variables/levels/etc for columns and this is certainly one of the things on the list.

Im linking it to our (private) issue for that: https://github.com/jasp-stats/INTERNAL-jasp/issues/751

[2021-04-23 13:32] JoKeyser opened #1265 "Saving figures: Don't fail without file name extension."
* JASP version: 0.14.3

* OS name and version: Ubuntu 20.04
* Analysis: Descriptives, etc.
* Bug description: If the file name to save to does *not* include an extension, JASP fails with "Error message: Format incorrectly specified". This is irritating and redundant, since the saving dialog already specifies the file format, so the extension is actually specified from the UI.
* Expected behaviour:

[2021-04-23 14:06] romanogino commented on #1258
Thanks for the information. Best regards.
r.

[2021-04-23 17:47] JorisGoosen commented on #1258
This can stay open, to remind me in the future.

[2021-04-23 19:56] asjones987 commented on #1185
It wold be helpful if reading XLSX files was supported out of the box.  It sounds like some of the options are cross platform compatible.

https://www.marsja.se/r-excel-tutorial-how-to-read-and-write-xlsx-files-in-r/

http://www.sthda.com/english/wiki/r2excel-read-write-and-format-easily-excel-files-using-r-software

http://www.sthda.com/english/wiki/r-xlsx-package-a-quick-start-guide-to-manipulat

[2021-04-23 19:56] asjones987 commented on #611
It wold be helpful if reading XLSX files was supported out of the box.  It sounds like some of the options are cross platform compatible.

https://www.marsja.se/r-excel-tutorial-how-to-read-and-write-xlsx-files-in-r/

http://www.sthda.com/english/wiki/r2excel-read-write-and-format-easily-excel-files-using-r-software

http://www.sthda.com/english/wiki/r-xlsx-package-a-quick-start-guide-to-manipulat

[2021-04-23 20:13] hjosborn16 opened #1266 "Error loading scatterplot"
* JASP version: 0.14.1.0

* OS name and version: MacOS 10.14
* Analysis: Correlation plot under descriptives option
* Bug description: See attached screenshot for full error
* Expected behaviour: It should be loading a scatterplot between continuous variables. I'm submitting this error on behalf of a student in my statistics course.

#### Steps to reproduce:
1. Go to '...'
2. Click on '....'
3. Sc

[2021-04-24 08:03] JoKeyser commented on #1265
Another, related request:

It would be nice if JASP either:
- remembered the choice of file extension, or
- users can set their preference in the figure options (where you set the PPI etc)

Currently, JASP defaults to PNG every time I save an image.

[2021-04-24 10:13] Chokyotager opened #1267 "Allow header titles for columns to be used as ordinals for ANOVA, or any other ordinal-dependent test"
* Enhancement: Use of column lines instead of scale/ordinal data to perform ANOVA
* Purpose: Ease of use in this system
* Use-case: Ease of use from data imports

**Is your feature request related to a problem? Please describe.**
Say a 2D dataset of scores for children in a class looks like this:

**Name TestA TestB TestC TestD**
Alice 78 67 90 65 70
Bob 80 58 55 77 70
Calvin 66 53 52 50 49

In th

[2021-04-24 10:31] tomtomme opened #1268 "Update List of Youtube Tutorials"
You have a nice 2020 overview of JASP videos in this blog post:
https://jasp-stats.org/2020/02/11/how-to-use-jasp-jasp-on-youtube/

An Update would be great. During the last year many Youtubers added Tutorials. I also currently do one video a week to complement my virtual university seminars:
https://www.youtube.com/channel/UCjH2MCEThnoyDXTS31vCwZQ/videos

Only a few like me upload in german langu

[2021-04-24 11:58] EJWagenmakers commented on #1268
Thanks, we're on it

[2021-04-24 11:58] #1268 closed

[2021-04-25 10:36] djdekker commented on #908
There are still problems with the display of contingency tables in 0.15 (nightly build of April 24, 2021; commit 2cf137b5667f952f140a03ef324e8e820e737ade).

The contingency tables are updated incorrectly when variables are removed and/or added back in:

https://user-images.githubusercontent.com/5346286/115990276-9bbc9d00-a5c2-11eb-8561-261f92b8e741.mp4

[test.csv](https://github.com/jasp-stats/jas

[2021-04-26 07:59] boutinb commented on #1266
Hi @hjosborn16 The picture you send is from a really old JASP version, surely not from 0.14.1. Could you ask your student to use an up-to-date JASP version?

[2021-04-26 18:56] CharlesCousyn commented on #284
Any news from this feature? I'm very interested to perform with JASP a Bayesian non parametric One Way Anova in my current project. (Bayesian equivalent of Kruskal-Wallis H-test)

[2021-04-26 20:34] JohnnyDoorn commented on #284
Hi @CharlesCousyn,

Unfortunately we are still in the research phase with this analysis (there is no comprehensive way for a Bayes factor for this test yet, as far as I know), so it will still take some time before this analysis can be in JASP (perhaps a year or so).

Kind regards,
Johnny

[2021-04-26 21:23] CharlesCousyn commented on #284
Thank you for your response
I understand! Good luck with that!

[2021-04-27 00:28] IRoss10 opened #1269 "SEM Analysis terminated unexpectedly"
* JASP version: 0.14.1

* OS name and version: MacOS Big Sur 11.2.1
* Analysis: SEM
* Bug description: The below image appeared when I tried to enter my SEM model

I edited my syntax to be
narc =~ Pers.Narc01r.T11 + Pers.Narc02r.T11
and recieved the following message

![image](https://user-images.githubusercontent.com/82854588/116167237-2a582800-a743-11eb-9946-9581b089bb35.png)

[2021-04-27 19:48] mspezio opened #1270 "JASP Student t Distribution probability calculations are doubled"
* JASP version: 0.14.1
* OS name and version: Mac 10.15.7
* Analysis: Distributions > Normal
* Bug description: The probability density that JASP reports for df = 1000, ncp = 0, for 2.58 to infinity is 0.01. But this value should be 0.005010866. There seems to be a doubling of the probability density.
* Expected behaviour: As in R, 1-pt(2.58,1000) = 0.005010866

Is this fixed in the next version t

[2021-04-27 19:51] Kucharssim commented on #1270
Thank you for this report! The value is not doubled, but rounded to two decimal places... I'll see how we can handle this better

[2021-04-27 20:01] mspezio commented on #1270
Thank you Kucharssim, that's helpful. I found this for several of the other distributions as well, for binomial and Poisson. Others did not have such issues. For instructional purposes, to help students understand probabilities as areas under the pdf or pmf curves, it would be helpful to have JASP report the numbers rounded to 2 significant figures, after all of the decimal positions, equivalent t

[2021-04-28 07:20] JoKeyser commented on #1270
Maybe the module could use the number of decimal points that are wanted by the user's settings?

[2021-04-28 08:44] boutinb commented on #1269
Hi @IRoss10 Could you send your data, or your JASP file?

[2021-04-28 08:55] AugustOlsson opened #1271 "Feature request: Bayesian Logistic Regression"
Hi, a great addition would be the possibility to conduct Bayesian (binary) logistic regression as an alternative to the "standard" frequentist logistic regression. I do all the analyses I can using bayesian stats, and it is a bit messy to *have* to include a frequentist analyses together with otherwise bayesian analyses when I need to perform a logistic regression.

Best,
August

[2021-04-28 12:19] EJWagenmakers commented on #1271
Yes, this has been on our to-do list for a while; thanks for the reminder, I agree this is an important analysis.

[2021-04-28 19:07] JohnnyDoorn commented on #1156
Hi @joannarut,

Yes, unfortunately that is still the case, although we are releasing a new version within a couple of months.

Cheers
Johnny

[2021-04-28 19:19] joannarut commented on #1156
Hi @JohnnyDoorn
Thank you for letting me know! It's good that there is an easy fix, though!
Best regards,
Joanna

[2021-04-29 05:15] ilias-nikolakopoulos commented on #1262
Any help on how to get the tar.gz file requested from jasp to install the module?

Thanks again

[2021-04-29 07:51] vandenman commented on #1262
@ilias-nikolakopoulos are you working on Linux? If not, I'd recommend using a nightly version of JASP (available from https://static.jasp-stats.org/Nightlies/). These are made fresh every day and contain the latest version of all modules.

[2021-04-29 16:38] ilias-nikolakopoulos commented on #1262
Thanks! I was able to install the development ML module through the last nightly version; can’t wait to try it out!

[2021-04-29 18:26] moonlitpath66 opened #1272 "JASP crashed"
* JASP version: 0.14.3
* OS name and version: KDE Flatpak runtime

* Analysis:
* Bug description:
* Expected behaviour:

#### Steps to reproduce:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

-----------------------------------------------------------------------

### Debug information:
**Engine # 0** process *crashed* and it's state is *initializing*.
**Engine # 1** pro

[2021-04-29 18:55] Posh061090 opened #1273 "JASP won't run any analysis"
* JASP version:14.1

* OS name and version:
* Analysis:
* Bug description: Cant run any analysis. As soon as I have uploaded the data and select analysis the app freezes and doesnt respond to any action.
* Expected behaviour: Run the analysis

[All soil data.xlsx](https://github.com/jasp-stats/jasp-issues/files/6400934/All.soil.data.xlsx)

#### Steps to reproduce:
1. Go to '...'
2. Click on '....'

[2021-04-29 19:23] kevinsmia1939 opened #1274 "Does JASP provide Taguchi methods?"
* Enhancement: Add Taguchi methods analysis
* Purpose: For research and education
* Use-case: Taguchi methods have been use for industrial purpose to optimized manufacturing, it would be beneficial for engineering education

**Describe the solution you'd like**

Maybe provide similar layout to ANOVA but using Taguchi instead.

**Describe alternatives you've considered**

ANOVA has also been use, b

[2021-04-30 06:49] boutinb commented on #1272
Hi @moonlitpath66 Could you describe precisely what you do before the crash? Is it when starting JASP, when loading data, when starting an analysis?

[2021-04-30 06:51] boutinb commented on #1273
Hi @Posh061090 Which OS (Windows, Mac, Linux) do you use, and which version?

[2021-04-30 06:52] boutinb commented on #1274
@JohnnyDoorn Can you answer this request?

[2021-04-30 09:27] AlexanderLyNL commented on #1274
This might pop up in process control actually.

[2021-04-30 09:58] #902 closed

[2021-04-30 09:58] #999 closed

[2021-04-30 09:58] #1026 closed

[2021-04-30 09:58] #1122 closed

[2021-04-30 09:58] #1148 closed

[2021-04-30 11:03] Posh061090 commented on #1273
I just tried to run my stats again and now I am faced with a new problem. Please the attached screengrab showing the error code.

![JASP error](https://user-images.githubusercontent.com/83425612/116686599-50d0ca00-a9b4-11eb-8fd8-56d98f53ac3f.jpg)

[2021-04-30 11:09] vandenman commented on #1273
Hi @Posh061090 could you post the log files? This [guide](https://github.com/jasp-stats/jasp-desktop/blob/development/Docs/user-guide/logging-howto.md) explains how to turn on logging.

If you can first *delete* all logfiles, then recreate the crash, and then post all logfiles here (both of the form `JASP 2020-11-24 10_48_37 Desktop.log`, and of the form `JASP 2020-11-24 10_48_37 Engine 0.log`, no

[2021-04-30 11:37] Posh061090 commented on #1273
[JASP 2021-04-30 13_30_40 Desktop.log](https://github.com/jasp-stats/jasp-issues/files/6405001/JASP.2021-04-30.13_30_40.Desktop.log)
[JASP 2021-04-30 13_30_40 Engine 0.log](https://github.com/jasp-stats/jasp-issues/files/6405002/JASP.2021-04-30.13_30_40.Engine.0.log)

[2021-04-30 11:54] krutcher7069 opened #1275 "Is there a way to display the correlations among the latent variables?"
* JASP version: 0.14.1

* OS name and version: Windows
* Analysis: SEM
* Bug description: After having run the analysis, I scanned the output but couldn't find any table that contains the correlations among the latent variables
* Expected behaviour: I expected to find a table that contains the correlations among the latent variables

#### Steps to reproduce:
1. Go to SEM and then select Structural

[2021-04-30 12:48] JorisGoosen commented on #1273
Hey Portia,

Im not 100% sure this is what is causing your problem, but it can't hurt to try it.

If you go to "Main Menu -> Preferences -> Advanced Preferences"  then you see "Handling LC_CTYPE"
Can you choose `Keep LC_CTYPE at systemdefault.` there and then restart JASP?
Maybe that helps.

[2021-04-30 12:53] Posh061090 commented on #1273
I just tried your suggestion now, but the problem still persists. Thank you though :-)

[2021-04-30 13:29] Posh061090 commented on #1273
No problem, I appreciate the help :-). The app was working before without any issues. It only started giving me trouble yesterday when I upgraded to the latest version. Now even if I go back to the old version it gives the same trouble. If my location and username wasn't a problem before why would it be now? Sorry for the questions I am just trying to narrow things down.

[2021-04-30 13:37] ehsanparand opened #1276 "Problem with mixed model analysis"
This analysis terminated unexpectedly.

Error in `[.data.frame`(dataset, , .v(x)): undefined columns selected

Stack trace
analysis(jaspResults = jaspResults, dataset = dataset, options = options)

.mmRunAnalysis(jaspResults, dataset, options, 'BLMM')

.mmFitModelB(jaspResults, dataset, options, type)

.mmModelFormula(options, dataset)

sapply(temp_terms, function(x) typeof(dataset[, .v(x)]) = 'do

[2021-04-30 13:40] Posh061090 commented on #1273
I cannot change the username and location as this is a work laptop, not a personal one. I don't have administrative control on the pc

[2021-04-30 15:42] moonlitpath66 opened #1277 "JASP crashed. It happens when I try and run two JASPs programs at the same time. It freezes and crashes."
* JASP version: 0.14.3
* OS name and version: KDE Flatpak runtime

* Analysis:
* Bug description:
* Expected behaviour:

#### Steps to reproduce:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

-----------------------------------------------------------------------

### Debug information:
**Engine # 0** process *crashed* and it's state is *initializing*.
**Engine # 1** pro

[2021-04-30 15:45] moonlitpath66 commented on #1272
Hello, I sent in another report as I had the same issue today. It happens
when I try to open two separate JASP programs. I honestly do not mean to. I
am trying to work on an assignment for school. I do not think my computer
can handle the running capability. When I open a second JASP to run, it
will freeze up and crash.

On Fri, Apr 30, 2021 at 1:50 AM bruno boutin ***@***.***>
wrote:

[2021-04-30 19:56] nathgeig opened #1278 "JASP gets confused when I open a second dataset"
Using JASP version 0.14.1, I ran into an issue I haven't had before.  When I try to run analyses using datasets (e.g., a t-test with the Harpo dataset, or a correlation analysis with the Parenthood dataset), JASP isn't able to find the data.  For example, with the correlation analysis it says "Error in `[.data.frame`(dataset, vcomb[[i]]): undefined columns selected."

I tried restarting JASP and t

[2021-04-30 20:01] nathgeig commented on #1278
I should add to this that the filter section seems to say "No more data!" at the times when the analyses don't work.  Even though I haven't put any filters on.

[2021-05-01 11:38] krutcher7069 opened #1279 "[Feature Request]: add warning that parameters are estimated as equal across groups"
* JASP version: 0.14.1

* OS name and version: Windows
* Analysis: Multigroup SEM
* Bug description: After having run the analysis, I scanned the output but couldn't find the indirect effects for each group. There are indirect effects being reported but they don't belong to any of the groups I have
* Expected behaviour: I expected to find the indirect effects for each group

#### Steps to reproduc

[2021-05-03 08:11] boutinb commented on #1278
@nathgeig Quite strange, I cannot reproduce this. On which OS and version do you work? Can you also send us the log files: https://github.com/jasp-stats/jasp-desktop/blob/development/Docs/user-guide/logging-howto.md

[2021-05-03 10:10] PelleLovesPeace opened #1280 "Descriptive Plot in RMANOVA plots implausible measures"
Hello,

I have conducted a 5x3 RMANOVA in Jasp (Version 0.13.1. under MacOS Big Sur 11.3) with error rates (min=0%; max=100%).
When looking at the Descriptives, I get mean error rates between 25%-49% for every dependent variable (i.e. column).

After going through the statistics for the RMANOVA (which seemed plausible) I also made a descriptive plot here (3 factor levels on horizontal axis; 5 fact

[2021-05-03 10:57] JohnnyDoorn commented on #1280
Hi @PelleLovesPeace,

If I understand correctly, you get a different plot in the RM ANOVA descriptives plot, compared to the descriptives plot from the descriptives module? If so, I cannot replicate this on the latest version of JASP (0.14.1) - see screenshot below.
Perhaps you can try upgrading your JASP version, although I am not sure what could be going on.

Cheers
Johnny

![Screenshot from 202

[2021-05-03 14:03] Rudy-Labs commented on #1278
I get the following "You need a new application to open this link to ms-gamingoverlay"
Say right clip "Open with", select the jasp extension and remain the same.

[2021-05-03 14:14] PelleLovesPeace commented on #1280
Hi @JohnnyDoorn

thanks for the quick reply! I've updated to the newest version now. But the problem is something other than what you've described and is still there:
In the table for the descriptives the mean values are lower (& plausible) than what is shown in the descriptive plot (implausible).
For example: mean(A2B1) = 42.138 and in the plot it looks like it's something around 50.
Therefore I

[2021-05-03 14:25] JohnnyDoorn commented on #1280
Hi @PelleLovesPeace,

Ah I think I see. This is a tricky thing with RM ANOVA: the way that the cells are assigned to the factorlevel combination. If you look at my screenshot again, you'll see that I also made that mistake. For instance, (A3,B1) is mapped to (A1,B3). I redid the analysis with the correct assigning, see the plot below:
![Screenshot from 2021-05-03 16-25-42](https://user-images.gith

[2021-05-03 14:59] PelleLovesPeace commented on #1280
Hi @JohnnyDoorn

well, you're absolutely right about that! And for this simulated data it really seemed to solve the problem! I have now double-checked if this was also the problem for the "real" data. But here there seems to be yet another problem.

Sorry to "spam" with the unhandy variable names but I think this might be the easiest way to show you what I mean:
So this is the plot for my error r

[2021-05-03 15:00] #1273 closed

[2021-05-03 15:01] TESmith868 commented on #252
Is there any updates on this request? It seems rather difficult to find solutions or guides for using Multivariate Multiple Regression. Adding this feature would definitely open door for research. It can be done in r but the implementation is a bit tedious and lack the ease of adjustment to get the type of data you may require.

[2021-05-03 15:40] boutinb commented on #1273
Hi @Posh061090 Nice that it works! But do you have any idea why it works now?

[2021-05-03 15:41] boutinb commented on #252
@EJWagenmakers Is there any research on this topic?

[2021-05-03 16:04] boutinb commented on #908
@TimKDJ Heb je tijd om naar die issue te kijken?

[2021-05-03 18:54] djdekker opened #1281 "Results disappearing from table"
* JASP version: 0.15 (commit 7b7db7df90612ba3be1e455d1ee0292ed5f74056)
* OS name and version: macOS Big Sur 11.3
* Analysis: Classical Binomial Test
* Bug description: Results disappear from table and remain gone
* Expected behaviour: Results should come back

#### Steps to reproduce:
1. Open the attached dataset titanic_clean.jasp.
2. Click on **Frequencies** > **Classical Binomial Test**.
3. Pul

[2021-05-04 11:20] Posh061090 commented on #1273
I have no idea why it worked. I was just testing it when it started working and it ran the analysis so I don't know the cause and I didn't do anything differently than before.

[2021-05-04 12:48] domryan24 opened #1282 "Hi, NEW MAC CANT GET SPSS"
Hi,

I need to use JASP to edit and analyse my data file but I can only download my data into SPSS or CSV format - however whenever I try and open the CSV format the app automatically crashes everything, so I opted the SPSS format which worked - however I need to edit my data set and can't because it won't allow me to (as SPSS is not downloaded on my MAC and can't be due to the new M1 chip).

Does

[2021-05-04 13:11] boutinb commented on #1282
Hi @domryan24 Which version of JASP do you use? And which OS (and version) do you have?

[2021-05-04 13:45] domryan24 commented on #1282
Hi @boutinb, I've now been able to export the data set into a CSV film from JASP and then opened that CSV file and is now working - however (in my data set of 105) I'm doing correlation analyses and want scatterplots to show and use in my report - however not all my datapoint come onto the scatterplots when I try and do a correlation - is this the correct format (just looks strange with so little

[2021-05-04 13:45] domryan24 commented on #1282
Thank too @boutinb !!

[2021-05-04 14:06] areeq1 opened #1283 "Repeated Measure ANOVA (non-parametric) doesn't work! screenshot"
Dear JASP support team,

I tried to run the repeated measure ANOVA (the non-parametric version). The analysis works OK, but only when I insert the group factor the software won't run.

Please see the screenshot
![Screen Shot 2021-05-04 at 5 01 31 pm](https://user-images.githubusercontent.com/68887104/117016023-f361b380-acfa-11eb-841f-285da90815c1.jpg)

Thank you for your support,
Abdullah

[2021-05-04 15:30] JohnnyDoorn commented on #1283
Hi @areeq1,

Adding a grouping factor will lead to the test being the Durbin test (see https://en.wikipedia.org/wiki/Durbin_test).

It seems that your grouping factor (gender) is not balanced, so the test is not possible for this data.

Kind regards,
Johnny

[2021-05-04 15:39] areeq1 commented on #1283
Thank you for the prompt and useful response, Johnny!
Much appreciated

[2021-05-04 16:29] TESmith868 commented on #252
While I am not @EJWagenmakers might i suggest in the interim the use of PAST - https://www.nhm.uio.no/english/research/infrastructure/past/. Which is another free option, given that STATA, SAS and MPlus can perform multivariate multiple regression, however, of those three I think STATA's output is the most user friendly.

This will allow you to easily perform Multivariate Multiple Linear Regressio

[2021-05-04 19:08] EJWagenmakers commented on #252
PAST does look really nice, but for us R code is easier to implement. It seems one can use lm and just cbind (https://www.researchgate.net/post/Which_R_package_for_Multivariate_multiple_regression). It's definitely something we could add. Maybe something for @JohnnyDoorn at some point...

[2021-05-04 19:32] jubera opened #1284 "Bug report"
Hi,

I am trying to perform a Bayesian Generalized Linear Mixed Models analysis (family Binomial, link Logit), but I get the following error:

--------
This analysis terminated unexpectedly.

Error in if (nrow(temp_summary) = 1) {: argument is of length zero

Stack trace
tryCatchOne(expr, names, parentenv, handlers[[1]])

doTryCatch(return(expr), name, parentenv, handler)

withCallingHandlers(expr

[2021-05-04 20:17] Olipamsjasp opened #1285 "Help"
* JASP version:0.13.1.0

* OS name and version:
* Analysis:
* Bug description:
* Error: $ operator is invalid for atomic vectors

Stack trace
tryCatchOne(expr, names, parentenv, handlers[[1]])

doTryCatch(return(expr), name, parentenv, handler)

withCallingHandlers(expr = analysis(jaspResults = jaspResults, dataset = dataset, options = options), error = .addStackTrace)

analysis(jaspResults = jasp

[2021-05-04 20:52] TESmith868 commented on #252
That’s great @EJWagenmakers I really prefer the general formatting of JASP’s output and the ease of use. Further, the control of the input is what sets it apart. As identified above when implementing please take not about adding the R-square values for the predictors and the ability to compare the equivalence of coefficients between the models.

Re PAST I was only really suggesting it as an exampl

[2021-05-05 05:28] SootyBlue commented on #1082
I found a potential bug/error:

JASP version: 0.14.10
OS name and version:  Windows 10 & 20H2
Analysis: Bayesian Correlation Pairwise Plots (Kendalls Tau-B)

Bug description: Values shown on tables/graphs are incorrect to data file limits.

Expected behavior: Same values should be reported in the tables and figures for tau-b etc.

![image](https://user-images.githubusercontent.com/67675556/1171000

[2021-05-05 11:07] Kucharssim commented on #1082
Dear @SootyBlue,

thank you for posting, welcome!

I am not sure what do you show with the attached figures - are the plots incorrect? Are you referring to the same issue as @fplatz did? Thank you for clarifying.

Just for completeness, here is what I wrote to @fplatz over email about the current issue (correlation coefficient is different in the table and the plot), maybe that will clarify it as

[2021-05-05 11:20] Kucharssim commented on #1285
Thank you for the report!

I assume this came up in the reliability module? Can you give us more information about how to reproduce the issue, please?

[2021-05-05 15:56] Olipamsjasp commented on #1285
Hi
Yes, I was doing a Single-Test Reliabilty Analysis - Cronbach's a. And my variables are the items of a 24 item-questionarie that scales from 1 to 6 (Likert).

I'm using Jasp 0.14.1.0.

[2021-05-05 15:57] Olipamsjasp commented on #1285
This happens when I try to get the cronbach's a for a subscale of 8 items

[2021-05-05 17:32] Mindmodels commented on #252
Many thanks for the (slightly belated ;) feedback on this topic and the helpful tips!

[2021-05-05 23:22] romanogino opened #1286 "Not sure if it a bug"
* JASP version: 0.14.0
<!-- Windows 10
* Analysis: T
* Bug description: not sure if the plot and the p should be related.
* Expected behaviour: non-overlapping bars?

![2021-05-05_175646](https://user-images.githubusercontent.com/1270242/117220985-fe394880-adcd-11eb-8a42-82bfcfb510f1.jpg)

[2021-05-06 04:13] #1286 closed

[2021-05-06 04:14] romanogino commented on #1286
Sorry, found my own mistake.

[2021-05-06 07:53] juliuspf commented on #1285
Hi @Olipamsjasp, can you provide a .jasp file for your analysis?

[2021-05-06 09:56] TimKDJ commented on #908
It appears I worked on this last year, but then sort of... stopped.
I'll get back on it. It'd be great if you could test it once I finish https://github.com/jasp-stats/jaspFrequencies/pull/8 and it gets merged.

[2021-05-06 09:59] TimKDJ commented on #1281
Thanks for the heads up! I'm fairly confident this is caused by the problems with our state and it should be fixed by https://github.com/jasp-stats/jasp-desktop/pull/4508. If this turns out not to be the case I'll have a closer look.

[2021-05-06 10:08] boutinb commented on #1281
I can confirm this is the case. With my fix, this problem is also fixed.

[2021-05-06 10:13] #1281 closed

[2021-05-06 13:13] aimeewardle opened #1287 "Error chronbachs alpha reliability test"
See image attached. Trying to upload to reliability and it took 30 minutes before it said this...
![20210506_140901](https://user-images.githubusercontent.com/83768434/117304066-41022b80-ae75-11eb-84f4-5b1b2f822705.jpg)

[2021-05-06 13:33] boutinb commented on #1287
Hi @aimeewardle Which JASP version do you use? Which OS and version do you use? How big is your data? Could you share it? And what did you do exactly before getting this error (which  options did you use)?

[2021-05-06 13:35] aimeewardle commented on #1287
Jasper type is 14.0
Doing reliability test on questionnaire that has 146 questions so selected
each question and put them into variable section to do a chronbachs alpha.

On Thu, 6 May 2021, 14:33 bruno boutin, ***@***.***> wrote:

[2021-05-06 15:14] aimeewardle commented on #1287
It's as if the amount of data is too much for it to handle but I have my dissertation due and need it done

[2021-05-06 15:48] drbenvincent opened #1288 "clarify/update star ratings for supported correlations/effects"
I understand that there is no correct set of Bayes Factor thresholds, but is there a 'JASP recommended' scale? The advice in Wagenmakers et al (2018) and Doorn et al (2020), point to Bayes Factor thresholds of 3, 10, 30, 100.

But when making a table of Bayesian correlations in JASP and opting to "flag supporting correlations", it does so based on Bayes Factor thresholds of 10, 30, 100 (ie, missin

[2021-05-07 06:17] djdekker commented on #908
Sure, I'd be happy to test.

[2021-05-07 07:18] boutinb commented on #1287
Hi @aimeewardle, on which OS do you work (Mac, Windows, Linux), with which version?
You say you use JASP 0.14, but we have released a newer version 0.14.1, could you try it?
And my question about how big is your dataset, is to know how big in Mega Bytes is your datafile. Would it be possible to send us this datafile?

[2021-05-07 09:35] #1283 closed

[2021-05-07 09:38] JohnnyDoorn commented on #1280
Hi @PelleLovesPeace,

Are you able to share this data? That way I can take a closer look myself. You can also email it directly to me at j.b.vandoorn <at> uva.nl.
Alternatively, you can try updating your JASP version, because it might contain some improvements that would fix this issue (this is just a guess though).

Kind regards,
Johnny

[2021-05-07 09:50] JohnnyDoorn commented on #1267
Hi @Chokyotager,

We are currently working on a data reshaping tool, so that you can switch between wide and long formats of data. I am not entirely sure of timeline here - it's probably not in the next version, but probably in the one after that one.
@boutinb this is not really my thing though, so I'm unassigning myself here and you can assign the relevant developer.

Cheers
Johnny

[2021-05-07 10:02] JHBdeGroot opened #1289 "JASP file opening and loading but crashing before I see my analyses"
* JASP version: 0.14.1

* OS name and version: Mac OS Catalina 10.15.7
* Analysis: Problem opening JASP file
* Bug description: Opens and loads JASP file but it closes/crashes before showing analyses
* Expected behaviour: Correctly open JASP file and see analyses

#### Steps to reproduce:

I wanted to attach the file producing this problem but it's too big (40 MB vs. 10 MB limit). Let me know if t

[2021-05-07 10:20] jubera commented on #1284
I forgot to mention the following details:

JASP version:0.14.1
OS name and version: Mojave 10.14.6
Analysis: Bayesian Generalized Linear Mixed Models (family Binomial, link Logit)
Bug description: Error when introducing a covariate

[2021-05-07 10:35] jubera commented on #1284
Steps to reproduce:

- Go to the following link to download the .csv that I am using. Open it in JASP. Change "SsID" to nominal variable, and "Session" to ordinal:
https://www.dropbox.com/s/40ppukkm9mf70y3/TDT_5trials_before_TP_Accuracies_new_no_first_blocks.csv?dl=0

- Click on "Mixed Models" --> Bayesian Generalized Linear Mixed Models
- Family should be "Binomial", and Link, "Logit"
- Input "co

[2021-05-07 10:53] boutinb commented on #1289
Hi @JHBdeGroot Does this happen if you try a smaller file? 40MB should not be too big for JASP (I've just trued a file og 60 MB without problem). Can you zip your file and try to send it?

[2021-05-07 10:58] JHBdeGroot commented on #1289
Hi @boutinb  I'm getting the following error if I try to upload the zip file - Can I paste a Wetransfer/surffile link to the document?:
"Yowza, that’s a big file. Try again with a file smaller than 10MB."

[2021-05-07 11:35] boutinb commented on #1289
A Wetransfer link is OK.

[2021-05-07 11:39] JHBdeGroot commented on #1289
https://we.tl/t-Yipsu3tn8e

[2021-05-07 11:42] boutinb commented on #1289
Could you send the data file instead? I cannot load this JASP file...

[2021-05-07 11:46] JHBdeGroot commented on #1289
Yes, that's the problem I'm having with the JASP file, and I'm wondering why it occurs. Datafile can be accessed here.
https://we.tl/t-DNTvPD26Eg

[2021-05-07 12:54] boutinb commented on #1289
Hmm, I have no problem with the data file (it is quite small, so it is surely not a memory problem), I can load it and make analyses, save JASP, load the new JASP file without problem.
Here is my JASP file: https://we.tl/t-01dHNL98C6

[2021-05-07 12:57] JHBdeGroot commented on #1289
To be clear: I'm trying to open my analyses in JASP based on the SPSS-dataset. So I had done a ton of analyses in JASP already, but now I can't open the JASP file I send you anymore, and I'm wondering what's wrong.

[2021-05-07 13:28] JohnnyDoorn commented on #1280
Hi @PelleLovesPeace

I am replying here for visibility. I see now that there is quite some missingness in your data, which is no problem, but is causing different behavior in the RM ANOVA module and in the descriptives module:
- The descriptives module takes each column at a time, and computes the means, removing the missing value for that specific column. So here you get average values for 20+ ob

[2021-05-07 14:34] JHBdeGroot commented on #1289
I will try it out later - I'll let you know if I run into any other troubles, thank you for your help!

[2021-05-08 18:19] ghost opened #1290 "[Feature Request]: Showing 0-1 numbers according to APA rules"
<img width="199" alt="Bildschirmfoto 2021-05-08 um 20 13 13" src="https://user-images.githubusercontent.com/83881624/117549343-2dec8880-b03a-11eb-8e2b-8c2441bfd33d.png">

It´s unfortunately not possible to change (or I did not find how to..), how the results are being shown. According to the APA rules, 0 shouldn´t be shown, so it should be .45 and not 0.45.

**Describe the solution you'd like**
It

[2021-05-09 12:21] vandenman commented on #1290
It is unfortunately not possible to change this within JASP at the moment. However, you can copy a table and export it to Word or LibreOffice directly, after which you should be able to edit the table.

![image](https://user-images.githubusercontent.com/21319932/117571983-2f1cc480-b0d1-11eb-977a-a51806f113c6.png)

This is entirely correct. For future reference when we implement this, the apa7 says

[2021-05-09 13:25] mm987 commented on #1290
Thank you very very much for the quick response and for you suggestion, your idea was great! :)

[2021-05-09 13:40] MichlF opened #1291 "RM-ANOVA insufficient error message for failure to calculate sphericity test"
* JASP version: 14
* OS name and version: Win10
* Analysis:
* Bug description: I have an ANOVA with two RM factors with six levels each. When checking the box for Sphericity tests, it says "Cannot perform sphericity tests because there are only two levels of the RM factor". If I delete at least one of the levels for either factor, it works. If I delete one level of each factor it also works.
* Exp

[2021-05-09 13:58] MichlF opened #1292 "Pressing tab should select the new level instead of the next factor"
* Enhancement request:
* Issue:
Occurs for example when creating a repeated measures ANOVA with one factor of more than 3 levels: When labelling individual levels of the first factor, one can advance from one level to the next by pressing the TAB key. This works fine for the first three levels but when going from the third to the fourth level, the selection jumps to the second RM factor instead of

[2021-05-09 20:22] JohnnyDoorn commented on #1291
Hi @MichlF,

I tried to run the analysis in R (using the afex/car package), and get the following error:
[code]
I think this error has to do with having too many levels, compared to the number of observations. For the RM ANOVA, this is ok, but not for the multivariate follow-up tests. Another, more technical, way of saying this is that your design is not full rank. I am no expert in this, but you

[2021-05-10 07:14] #1280 closed

[2021-05-10 08:18] boutinb commented on #1289
OK fine, the new version should be released over some weeks.

[2021-05-10 08:18] #1289 closed

[2021-05-10 11:25] Bra-coder opened #1293 "JASP keeps on crashing when I try to open a datafile"
* JASP version: 14.01

* OS name and version: Windows
* Analysis:
* Bug description: Opening JASP is quite easy and works, but when I try to open a datafile JASP stops working when the loading bar is almost complete. I used JASP already with the same datafile, and this worked before. After a while it became harder to open the file, I had to try 4/5 times before it would open. Today I tried it for

[2021-05-11 09:14] albgre opened #1294 "Jasp crashes when deleting a factor in repeated mesures ANOVA"
* JASP version:  0.14.1

* OS name and version:
Windows 10 last update

* Bug description:
When setting Repeated Measures Factors in RM ANOVA, if you try to delete a factor by clicking on the X on the right side, JASP always crashes

--->

[2021-05-11 11:27] djdekker opened #1295 "ANOVA: Comma inserted in value of nominal variable"
* JASP version: 0.14.1
* OS name and version: macOS Big Sur 11.3.1
* Analysis: ANOVA – Post hoc test
* Bug description: Comma inserted in value of nominal variable
* Expected behaviour: The value of the nominal variable should not be modified

1. Open the dataset [test_space_comma.csv](https://github.com/jasp-stats/jasp-issues/files/6458795/test_space_comma.csv)

2. Note that the values of the nom

[2021-05-11 16:11] FBartos commented on #1284
Hi @jubera ,

thank you very much for reporting the issue and the great number of details for reproducing it. It really helps o lot!
I'm working on fixing it.

Best,
Frantisek

[2021-05-11 18:09] fabien-tell opened #1296 "import long format file for Repeated ANOVA"
Thanks for your great work. However, as an R user I was surprised, if I did well understand (I may be stupid) that we need a different format for repeated ANOVA. Instead of having factors (Categorical factors) and error factors (individual ID) in columns as well as the dependent variable, I had to redo all my csv files. For the other analysis the format is rather classic but not for this one. I kn

[2021-05-12 06:58] boutinb commented on #1296
Hi @fabien-tell This feature is in our pipeline. This won't be in the next release, but maybe the next one. For the time being, this pre-treatment has to be done indeed before loading the data file into JASP.

[2021-05-12 07:07] jubera commented on #1284
That's great news! Thanks for your help @FBartos

[2021-05-12 07:10] juliuspf commented on #310
Thanks. I agree. The Intrarater and Interrater agreement coefficients by means of the ICCs will be coming in the next release (only the frequentist version though), courtesy of Jan Simson. Cohens kappa is still on my todo list :)

[2021-05-12 07:55] fabien-tell commented on #1296
Thanks a lot.

[2021-05-12 07:55] #1296 closed

[2021-05-12 07:57] boutinb commented on #1293
Hi @Bra-coder Does it happen only for one datafile, or can you open other datafiles (like the ones in the Data Library)? If this is due to a particular datafile, how big is this file? Would it be possible to send this datafile (in a zip format)?

[2021-05-12 08:17] schubbiaschwilli opened #1297 "JASP crashed"
* JASP version: 0.14.1
* OS name and version: Windows 10 (10.0)

* Analysis:
* Bug description:
* Expected behaviour:

#### Steps to reproduce:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

-----------------------------------------------------------------------

### Debug information:
**Engine # 0** process *crashed* and it's state is *initializing*.
**Engine # 1** proce

[2021-05-12 08:17] #1297 closed

[2021-05-12 09:57] Kucharssim commented on #825
Thank you for the report. As it turns out, there is a similar issue: https://github.com/jasp-stats/jasp-issues/issues/1194. Recently, we made a fix to this bug, so the it should be working properly in the next release version of JASP.

Please reopen the issue if it reoccurs in the future.

[2021-05-12 09:57] #825 closed

[2021-05-12 10:30] FBartos commented on #1284
I'm closing the issue since the fix is already implemented in the development branch (and nightlies). It will be in the next release version. Thanks for the report!

Best,
Frantisek

[2021-05-12 10:30] #1284 closed

[2021-05-12 10:38] jubera commented on #1284
Thank you very much @FBartos !  I will check it out

[2021-05-12 14:43] djdekker commented on #1295
Something similar is happening in the Post Hoc Tests under the Repeated Measures ANOVA, where JASP replaces a space in the factor name with a period. Perhaps it is some kind of csv delimiter problem?

The issue has been around since JASP 0.13.

<img width="840" alt="rmanova" src="https://user-images.githubusercontent.com/5346286/117994857-1f0b1c00-b341-11eb-899a-0c84c4fe737f.png">

[2021-05-13 16:01] a501 opened #1298 "JASP not searchable in startmenu after installing"
* JASP version:
* 0.14.1   64bit

* OS name and version: Window 10
* Analysis:
* Opening Jasp after having closed it
* Bug description:
* When I install Jasp, I can open it directly by clicking the 'lunch JASP'. But when I close the program and I want to reopen it later, it is not opening. When I type in the windows search box 'JASP', it shows me the JASP 0.13.0 version, but I cannot open it (beca

[2021-05-14 15:41] dmurphy8 opened #1299 "confidence interval for an effect size in a repeated-measures ANOVA?"
* Enhancement: is there a way to get a confidence interval for effect sizes in a repeated-measures ANOVA?
* Purpose: compare the magnitude of effects
* Use-case:

**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**
 You can get a confidence interval for Cohen's d in t-tests so is there a way to do it in an ANOVA?

**Describe alternatives you've

[2021-05-16 14:55] wawieansaya commented on #1298
Same, I'm having a problem too
Each time I try to open JASP up from my computer, it takes me to the setup wizard and gives me the option to repair/change/uninstall. How do I rectify this situation so that I am actually able to open the program.
I don't know what to do I need this for my stats. How did you fix yours? Thank you

[2021-05-16 15:09] wawieansaya commented on #1230
I'm having a problem with that too. I cannot open it on my computer and always shows the option "repair/change/uninstall." Did you guys already fix the issue? If then, can you help me with how did you guys repair it? Thank you

[2021-05-16 20:02] AxiaMuller commented on #1287
I'm a Windows user, and the error is the same. I also have the latest version, downloaded it two days ago.

[2021-05-16 20:10] AxiaMuller commented on #1287
Also, I had missing values, so I replaced them with -999, added it to data preferences and then it crashed

[2021-05-17 07:29] boutinb commented on #1287
Hi @AxiaMuller Couls you send me your datafile (in a zip format)? And tell me exaclty each step you do before the crash?

[2021-05-17 07:38] boutinb commented on #1230
Hi @wawieansaya This issue was closed bacause I had no answer to my questions:
How do you try to start JASP? Apparently you are starting the msi file (the installer). After installing JASP on your machine, you should have in C:\Program Files a JASP folder, where you can find the JASP.exe. Can you double-click this JASP.exe?

[2021-05-17 10:43] JorisGoosen commented on #1298
Is it possible the registration in the start menu is a little bit off?
I've noticed this on occasion, when Ive just installed JASP (at least) I cannot find it by typing "JASP" into the search/start bar.

But opening the start menu and scrolling through all the apps you have installed and you should be able to find JASP under, well, "JASP".

Could you let me know if that at least starts JASP?

I ca

[2021-05-17 10:53] #1106 closed

[2021-05-17 12:10] raquellondon opened #1300 "[Feature Request]: Partial Bayesian correlations"
* Enhancement: The option to run partial Bayesian Correlations

**Describe the solution you'd like**
To be able to control for one or more variables when running Bayesian correlations in JASP.

**Describe alternatives you've considered**
Frequentist partial correlations :'(

Thanks!

[2021-05-17 12:13] a501 commented on #1298
Hello,

Yes indeed, in this way I can open it!!!
Thank you verymuch for your help!!

________________________________
Von: Joris Goosen ***@***.***>
Gesendet: Montag, 17. Mai 2021 12:44
An: jasp-stats/jasp-issues ***@***.***>
Cc: a501 ***@***.***>; Author ***@***.***>
Betreff: Re: [jasp-stats/jasp-issues] Can't open JASP, always need to uninstall than install again (#1298)

Is it possible the regi

[2021-05-17 13:07] boutinb commented on #1300
@EJWagenmakers & @Kucharssim : could you answer this request?

[2021-05-17 13:39] wawieansaya commented on #1230
Thank you for contacting me, I appreciate it a lot. I just started
installing it yesterday from this link https://jasp-stats.org/download/.
Then it always shows "change, repair, or remove installation" I tried to
click all of it but I can't still use the JASP. I don't think I have a JASP
folder.
[image: image.png]
[image: image.png]

On Mon, May 17, 2021 at 3:38 PM bruno boutin ***@***.***>
wrote:

[2021-05-17 15:08] boutinb commented on #1230
Hi @wawieansaya I saw you also mentioned your problem in issue #1298 and @JorisGoosen made an answer that seems to solve the problem. Can you try it?

[2021-05-18 14:06] asjones987 opened #1301 "Copying results into Word includes previously deleted analyses"
* JASP version: JASP 0.14.1
* OS name and version: Windows 10

I imported a small CSV file then added descriptive statistics and a few other modules. Some modules i removed others i clicked on then removed before even adding data fields.

The results window looked correct with the modules and options I selected. This included not showing modules on the left windows or results on the right window f

[2021-05-20 01:38] Type-token opened #1302 "Filter selection problem"
* JASP version:

* OS name and version:
* Analysis: T-Test
* Bug description: Filter selection Fail
* Expected behaviour:

#### Steps to reproduce:
1. Go to 'Open'
2. Click on 'Data Library\T-Tests'
3. Scroll down to 'Kitchen Rolls', Then click field name "Sex" and show the filter panel.  Then change the check logo in front of "M" to "X" so as to exclude male data. However, it won't work. Male dat

[2021-05-20 07:53] boutinb commented on #1302
Hi @Type-token I cannot reproduce this problem. Which version of JASP do you use, and which OS (Windows, Linux, Mac) and version do you use?

[2021-05-20 07:56] Type-token commented on #1302
windows 10 (64 bit), version 20H2; Jasp version 0.14.1.0  (64bit)

[2021-05-20 07:57] boutinb commented on #1301
Hi @asjones987 I cannot reproduce this problem, but maybe I don't do exactly what you describe. Could you indeed send your JASP file (first zip it to send it via GitHub)?

[2021-05-20 08:06] boutinb commented on #1302
Strange... @JorisGoosen or @vandenman can you reproduce this on your PC?

[2021-05-20 08:09] vandenman commented on #1302
I cannot reproduce it with JASP 0.14.3 on Ubuntu 20.04

[2021-05-20 08:34] Type-token commented on #1302
very strange. Vice versa. If only choose "M", the same bug happens.
![Filter Selection Failed 2](https://user-images.githubusercontent.com/64425323/118946694-3cfffe80-b989-11eb-9b76-777bae64e317.PNG)

[2021-05-20 08:38] boutinb commented on #1302
Could you give us your log files also: https://github.com/jasp-stats/jasp-desktop/blob/development/Docs/user-guide/logging-howto.md

[2021-05-20 09:32] Type-token commented on #1302
Hi, I try to find the log files here C:\Users\Joffice\AppData\Roaming\JASP\JASP\Logs
However, it is empty in the folder.

[2021-05-20 09:37] Type-token commented on #1302
[JASP 2021-05-20 17_34_34 Engine 3.log](https://github.com/jasp-stats/jasp-issues/files/6514701/JASP.2021-05-20.17_34_34.Engine.3.log)
Here is the log file. Thanks!

[2021-05-20 09:44] Type-token commented on #1302
[JASP 2021-05-20 17_41_40 Desktop.log](https://github.com/jasp-stats/jasp-issues/files/6514784/JASP.2021-05-20.17_41_40.Desktop.log)
[JASP 2021-05-20 17_41_40 Engine 0.log](https://github.com/jasp-stats/jasp-issues/files/6514785/JASP.2021-05-20.17_41_40.Engine.0.log)
[JASP 2021-05-20 17_41_40 Engine 1.log](https://github.com/jasp-stats/jasp-issues/files/6514787/JASP.2021-05-20.17_41_40.Engine.1.lo

[2021-05-20 10:08] boutinb commented on #1302
From the log, I can see that it seems the engines do not get at all the dataset. Can you load a dataset form your PC, add a simple analysis (Descriptives for example), and check whether it works?

[2021-05-20 11:33] JorisGoosen commented on #1302
Well, I've just tried it here on Windows x64 0.14.1 but I cannot reproduce this at all.

I will have a look at the logs though, maybe it'll tell me something.

[2021-05-20 11:47] JorisGoosen commented on #1302
Suppose this version, a nightly, works then keep in mind the warnings we have at our [nightly page](https://static.jasp-stats.org/Nightlies/):

[2021-05-20 13:18] jaume-masip opened #1303 "Effect sizes in post hoc tests for mixed ANOVAs"
* JASP version: 0.14.1

* OS name and version: macOS Big Sur Version 11.3.1
* Analysis: Classical Repeated Measures Anova - Post Hoc Tests for Intra x Inter interaction - "Effect size" selected
* Bug description: Effect sizes for pairwise comparisons not displayed in table in output. Selecting/unselecting "effect size" makes no difference. But the function works for main effect. It also worked for

[2021-05-20 13:40] asjones987 commented on #1301
I have attached my JASP File. I will also try uploading a video of my issue.

[Copy to Clipboard JASP.zip](https://github.com/jasp-stats/jasp-issues/files/6516344/Copy.to.Clipboard.JASP.zip)

[2021-05-20 16:29] #1166 closed

[2021-05-20 21:16] Type-token commented on #1302
Thanks. The nightly seems to work fine in my windows 10 pro 64bit laptop but not my home desktop (win 10, 64 bit , version 21H1).  Moreover, in R panel, some letters are missing.
<img width="1911" alt="Capture Jasp Filter problem" src="https://user-images.githubusercontent.com/64425323/119049825-9c92f400-b9f3-11eb-9e13-a351428a97fc.PNG">

[2021-05-21 00:56] Type-token commented on #1302
I tried the nighty in my office pc （Win 10, enterprise, 64 bit, version 20H2). Neither did it work. Whenever, I used filter, the R panel will pop up automatically. Moreover, when choosing "F" or "M" in the above examples, cases won't be excluded but all cases will be included. Then I turned Jasp off and tried it again. It turns out sometimes it works sometimes not. Very strange

[2021-05-21 08:55] boutinb commented on #1301
Hi @asjones987 Thanks, I can reproduce it. I put this bug in the backlog. For the time being as workaround, you can save the JASP file, close JASP, and load again the JASP file, then you don't have this problem anymore.

[2021-05-21 09:07] boutinb commented on #1302
The missing letters might be another problem. For this one could you go in JASP to Preferences/Interface and change the Interface font to Arial or Helvetica?
The first problem is quite an annoying one because we cannot reproduce it. What I can see is that the engine cannot read the data, and that is done by a so-called shared-memory. Are you admin of your PC? Maybe we will have to do special versi

[2021-05-21 11:01] JorisGoosen commented on #1302
I think what @boutinb is saying is probably right, how is your userfolder structure @Type-token ?

Because for now we are making use of boost's shared memory and it needs to store files in `%APPDATA%/Local/JASP/JASP/` (Or something like that, Im on linux now so can't check) and it might be possible that this goes wrong if that is perhaps a network drive, or well, something else perhaps.

This on t

[2021-05-21 13:06] asjones987 commented on #1301
Hi @boutinb, thanks for the follow-up. I did realize when making the video of the workaround.  Hopefully it is an easy fix that you all can get to sooner rather than later. I do understand priorities.  Good luck and thanks for supporting JASP.

[2021-05-21 14:21] mossackanme opened #1304 "Please consider adding Hayashi's Quantification Methods I-IV"
* Enhancement: Add Hayashi's Quantification Methods (HQM) I-IV
* Purpose: Research and education
* Use-case: HQM I-IV have been long known in Japanese-/Chinese-speaking academic societies. They are unique in approach but mathematically equivalent to other known methods in the West.

**Describe the solution you'd like**
Mathematically-speaking, HQM I is equivalent to _Regression Analysis_. HQM II i

[2021-05-21 14:40] Shalotted opened #1305 "Filtering Issues with Lesser than or equal to on Mac IOS version"
* JASP version: 0.14.1

* OS name and version: MacOS
* Analysis:
* Bug description: Filtering system does not filter out any data
* Expected behaviour:

#### Steps to reproduce:
1. Go to the filter box
2. Enter the equation you want to filter with < or lesser than or equal to
3. press on filter
4. See that your data that is over this value is still in your data set, and is not being picked up by t

[2021-05-21 16:53] Type-token commented on #1302
For the missing letters, even if the interface font is set to Arial in Jasp Version 0.14.1, it won't be fixed. However, for the nightly version, no such problems of missing letters.

[2021-05-21 17:01] Type-token commented on #1302
Yes, I am admin of my PC.

[2021-05-21 17:02] Type-token commented on #1302
I install Jasp 14.1 onto my C drive. When testing nightly version, it is put in C drive, which has 32G empty space.

[2021-05-22 03:41] proffsg2020 opened #1306 "Boxplots of r (categories) x c (categories) factors"
Assumptions of a two-way ANOVA relate to how the data fits the two-way ANOVA model and these are the following:

1. there should be no significant outliers in any cell of the design;
2. the distribution of the dependent variable should be approximately normally distributed in every cell of the design; and
3. the variance of the dependent variance should be equal in every cell of the design (known

[2021-05-22 08:59] djdekker opened #1307 "Pass-through filter bug"
* JASP version: 0.14.1
* OS name and version: macOS Big Sur 11.3.1
* Analysis: N/A
* Bug description: Typed value is not retained in pass-through filter
* Expected behaviour: Typed value is either being retained or else removed from display

#### Steps to reproduce:
1. Open dataset
[iqdata.csv.zip](https://github.com/jasp-stats/jasp-issues/files/6526122/iqdata.csv.zip)
2. Open pass-through filter

[2021-05-22 11:21] Chokyotager commented on #1267
Hi there,

Hopefully things can be improved this way! It'll make JASP a lot more usable.

Hilbert

[2021-05-23 06:59] Type-token commented on #1302
This won't work. Finally, when setting it to "Safe Graphics Mode" in the interface, the missing letter problem can be solved.

[2021-05-24 07:58] brianmsm opened #1308 "Failed start JASP in Manjaro GNU/Linux"
* JASP version: 0.14.3

* OS name and version: Manjaro KDE 5.21.5
* Bug description: Failed to start

[code]

[2021-05-26 04:29] MurtazaMahidolUniversity opened #1309 "Heteroscedasticity testing"
Jasp is fantastic but one feature missing is check for Heteroscedasticity. I use Gretl for that, but if there is an option to check for Heteroscedasticity in JASP, I can do all the regression testing in JASP.

[2021-05-26 06:40] vandenman commented on #1309
Just so I fully understand the feature request, you want to be able to test whether the residuals of linear regression are heteroscedastic or not?

[2021-05-26 06:54] MurtazaMahidolUniversity commented on #1309
Hi,

Thanks for the quick reply.

I don't have a very in-depth theoretical knowledge of statistics. So my
quantitative analysis is tool-functionality dependant.

When I use Gretl, I always check the Robust standard error before running
regression analysis to avoid any possible heteroscedasticity errors.
[image: image.png]

With JASP, there is no option to do so.

Is it possible to have this featur

[2021-05-26 07:00] boutinb commented on #1302
Hi @Type-token Fine the missing letter problem is fixed. One problem less. For the other problem, I will make a version with more logs, so that we can hope to have more information.

[2021-05-26 07:01] boutinb commented on #1304
@EJWagenmakers What do you think?

[2021-05-26 08:31] boutinb commented on #1305
Hi @Shalotted Quite strange, I cannot reproduce this problem. Could you send me your JASP file?

[2021-05-26 08:55] MyrtheV opened #1310 "Error network plot rollapp"
* JASP version: The JASP website says 0.14.1, but the rollapp website 0.14.3. When opening JASP it also says 0.14.3.
* OS name and version: RollApp, both on Chromebook and mac OS Catalina.
* Analysis: Network
* Bug description: Network plot does not show, results in error instead.
* Expected behaviour: Network plot.

#### Steps to reproduce:
1. Go to Network.
2. Drag a few variables to Dependent V

[2021-05-26 09:20] vandenman commented on #1310
As far as I know, RollApp uses Linux and the current Linux version is 0.14.3, due to some bug fixes specifically for Linux.

Here the screenshot for future reference:

![Screenshot 2021-05-24 20 56 08](https://user-images.githubusercontent.com/21319932/119635761-46b7b500-be14-11eb-8b75-7fbad69b9f5b.png)

it looks like RollApp messed up something with the default fonts and R cannot find them.

[2021-05-26 09:39] MyrtheV commented on #1310
Thanks! One thing to add: If I load the network example from the data library, I don't have this issue.

[2021-05-26 11:40] #908 closed

[2021-05-26 20:32] pbrunori92 opened #1311 "One Sample T Test"
* JASP version: 0.14.1

* OS name and version: MacOS MacBook Air 2019
* Analysis: One Sample T Test
* Bug description: Known bug: computed effect sizes ignore the test value.
* Expected behaviour:
[5.One-Sample t-test example - Weight Gain.csv.zip](https://github.com/jasp-stats/jasp-issues/files/6549477/5.One-Sample.t-test.example.-.Weight.Gain.csv.zip)

#### Steps to reproduce:
1. import data set

[2021-05-27 03:55] rosid-uhm opened #1312 "Plots fonts doesn't rendered."
* JASP version: 0.14.3

* OS name and version: Ubuntu 20.04 LTS
* Analysis: Descriptives
* Bug description: Plot fonts doesn't rendered properly
* Expected behaviour:

I already using the

`flatpak run --command=fc-cache org.jaspstats.JASP -f -v`

unfortunately it doesn't fix the problem.
I tried to reinstall JASP but it seems doesn't fix the issues.

![Screenshot from 2021-05-27 10-49-13](https:/

[2021-05-27 08:07] vandenman commented on #1311
Hi,

A known bug implies that somebody reported this issue, and subsequently, we updated our list of known bugs to warn people that this part of the analysis does not work. It's already on our radar and will be fixed in the next release.

[2021-05-27 08:07] #1311 closed

[2021-05-27 08:36] boutinb commented on #1302
Hi @Type-token Could you try this version http://static.jasp-stats.org/Nightlies/WindowsZip/JASP-nightly-development-1aae37ad72a110ad9152ffe666ce30cce509e88c.zip and send me the logs again?

[2021-05-27 08:40] boutinb commented on #1312
Hi @rosid-uhm Could you try to change in Preferences/Interface the 'Result & Help' fonts to Lucinda Grande or another standard fonts (like Arial)?

[2021-05-27 08:42] Type-token commented on #1302
hi, thanks. for the nightly version, may I know where to find the log files?

On Thu, May 27, 2021 at 4:36 PM bruno boutin ***@***.***>
wrote:

[2021-05-27 08:52] boutinb commented on #1302
They should appear at the same place, something like C:\Users\Joffice\AppData\Roaming\JASP\JASP\Logs, or you can click in Preferences/Advanced the Show logs button.

[2021-05-27 10:33] Type-token commented on #1302
Hi, Thanks. I've tested.  Seems this version works more swiftly.

At the beginning, the filter worked when I selected "F" or "M" for the column of "Sex".   However, when I cancel the filter by de-select "F" or "M", JASP will be stuck and crashed.

Moreover, when click open the R panel, the filter function can't go back and failed. Cf the following capture
![Capture 1](https://user-images.githubuse

[2021-05-27 10:56] boutinb commented on #1302
The thing is that the version I sent you is a development version (so not fully tested), and that you have just found a bug in this version! The Eye button does not work as wanted anymore. This will be fixed.
But can you filter and un-filter the data just by clicking the Filter column of the labels table? I see in the log that you could start an analysis, so it seems that the original problem you

[2021-05-27 11:10] Type-token commented on #1302
To my strange, the filter doesn't work again.
[JASP 2021-05-27 19_07_57 Desktop.log](https://github.com/jasp-stats/jasp-issues/files/6553494/JASP.2021-05-27.19_07_57.Desktop.log)
[JASP 2021-05-27 19_07_57 Engine 0.log](https://github.com/jasp-stats/jasp-issues/files/6553495/JASP.2021-05-27.19_07_57.Engine.0.log)

[2021-05-27 11:34] rosid-uhm commented on #1312
Hi @boutinb , i changed the fonts to Arial, Lucinda, and Times New Roman but it still there.

Any idea?
Do i need to uninstall other applications (R/ RStudio) since i read in other issues it caused by ggplot packages?

[2021-05-27 14:08] boutinb commented on #1302
OK, that's interesting. There is definitely a problem with the shared memory library we use (the boost library) with your PC.
If I have a look at the boost doc, I see:
`In those platforms, shared memory is emulated with mapped files created in a "boost_interprocess" folder created in a temporary files directory. In Windows platforms, if "Common AppData" key is present in the registry, "boost_inter

[2021-05-27 14:58] boutinb opened #1313 "Copy plot to word generates the warning: "additional permissions are required to access the following files""
* JASP version: 0.14
* OS name and version: MacOS Mojave
* Bug description:
Generate a plot in JASP, copy it with the menu, and paste it into a Word document. Then you get the warning: "additional permissions are required to access the following files"
* Expected behaviour:
This warning should not appear.

[2021-05-28 12:42] Sherlyally opened #1314 "Cannot install JASP software"
Why can't JASP software be downloaded?

Can you give me a link, so I can download JASP?

Please. I need JASP. I use JASP software to do my thesis.

I've also used JASP online via rollApp, but can't analyze many variables.

ASAP...

[2021-05-28 12:44] vandenman commented on #1314
download links are here: https://jasp-stats.org/download/

[2021-05-28 18:07] vandenman commented on #1314
Here is a [direct link](https://static.jasp-stats.org/JASP-0.14.1-64bit.msi) to download JASP 0.14.1 for Windows. If you use a computer where you do not have admin rights, you can try the [zip version](https://static.jasp-stats.org/JASP-0.14.1-64bit.zip). In case both of these fail, it would be great if you could tell us what exactly fails (e.g., error messages, screenshots etc.)

[2021-05-28 22:22] Sherlyally commented on #1314
I have tried it, both the link you provide and the zip version. but still it can't be downloaded.
![Screenshot (3)](https://user-images.githubusercontent.com/84972991/120047064-cffe0000-c03d-11eb-80f9-73376cf86d63.png)

[2021-05-29 14:35] vandenman commented on #1314
This looks more like an internet-related problem than that the download links do not work. If I connect with a VPN to a server in Indonesia (which GitHub lists as @Sherlyally's location) then the download works just fine.

@JorisGoosen did you experience this before/ is there any workaround for this situation?

@Sherlyally does this problem occur regardless of where you are connected to the intern

[2021-05-29 16:42] PBB-code opened #1315 "JASP won´t open my file"
* JASP version: 0.14.1

* OS name and version: Windows 10
* Analysis:
* Bug description: For a couple of days now I have problems to open a jasp file that I have been working on for the last weeks. I did some correlations and some regressional analysis, and never had problems to open my file. Now, it takes several minutes for JASP to open it, and since today it can´t be opened at all. Kind regards

[2021-05-30 05:38] Sherlyally commented on #1314
However, on January 16, 2021, I was able to download JASP (JASP 0.8.5.1).

Only under JASP 0.8.5 that I can download.

[2021-05-30 10:29] JorisGoosen commented on #1314
Sometimes `static.jasp-stats.org` can't be reached, but that is ok as i've also uploaded the installers here: https://github.com/jasp-stats/jasp-desktop/releases/tag/v0.14.1.0

So try https://github.com/jasp-stats/jasp-desktop/releases/download/v0.14.1.0/JASP-0.14.1-64bit.msi

I would **highly recommend using a newer version then 0.8.5.1** @Sherlyally !

[2021-05-31 06:57] vandenman commented on #1315
Hi @PBB-code, would it be possible to share the jasp file somehow so we can look into this? You can upload the file in this issue as a zip file (but note that this is a public forum) or email it to me directly at d.vandenbergh at jasp-stats.org

[2021-05-31 07:31] ko-ynu opened #1316 "I converted the menu to Japanese"
* Enhancement:Japanese Translation
* Purpose:I want you to take in  my translations
* Use-case: For japanese student and my student
[jasp_ja.zip](https://github.com/jasp-stats/jasp-issues/files/6568558/jasp_ja.zip)

[2021-05-31 08:24] Sherlyally commented on #1314
@JorisGoosen I am very very grateful to you. I can download the link.

[2021-05-31 08:33] Sherlyally commented on #1314
@vandenman @JorisGoosen thank you for helping me and thank you for solving my problem, now I can work on my thesis.
![Screenshot (4)](https://user-images.githubusercontent.com/84972991/120165240-912a9e80-c225-11eb-90e7-105a83228e77.png)

[2021-05-31 09:01] vandenman commented on #1314
@Sherlyally That message is nothing to worry about. At start, JASP downloads a list of known issues. Whenever you run an analysis for which we know that some subset might contain an error we show a message, for example:

![image](https://user-images.githubusercontent.com/21319932/120168239-f1f2b080-c1fe-11eb-83bd-2111ab684e3c.png)

The reason why the regular download link didn't work for you might

[2021-05-31 09:01] #1314 closed

[2021-05-31 09:11] Sherlyally opened #1317 "Can JASP analyze more than two variables?"
After I installed JASP, I tried to do my thesis. But the results are like this (I analyzed four variables and the variables I analyzed were favorable and unfavorable).
I saw on youtube the woman analyzed three variables and it worked (she uses JASP 0.13).
Is JASP only able to analyze a few variables and should always be favorable?

![Screenshot (5)](https://user-images.githubusercontent.com/849729

[2021-05-31 10:09] PBB-code commented on #1315
Hi, thanks for the fast reply. I´m going to ask my lecturer if it is fine with her to send you my file. Kind regards

[2021-05-31 17:23] socialistscholar opened #1318 "JASP crashed"
* JASP version: 0.14.1
* OS name and version: macOS 10.16

* Analysis: Analysis file wouldn't load.
* Bug description:
* Expected behaviour:

#### Steps to reproduce:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

-----------------------------------------------------------------------

### Debug information:
**Engine # 0** process *crashed* and it's state is *initializing

[2021-06-01 07:21] boutinb commented on #1318
Hi @socialistscholar Do you load a big datafile? Would it be possible to share this datafile? And also could you send us the log files: https://github.com/jasp-stats/jasp-desktop/blob/development/Docs/user-guide/logging-howto.md ?

[2021-06-01 10:57] MurtazaMahidolUniversity commented on #1309
Hi,

Below is the screenshot of the process plugin for SPSS. (
http://www.processmacro.org/download.html )
The HC1 option is used to avoid any possible heteroscedasticity errors when
making regression models.

[image: image.png]

JASP is so good on many fronts, except this one missing functionality. I
hope you guys can add this to JASP to make it the only needed tool for
academic researchers.

Bes

[2021-06-01 12:42] hynekcigler commented on #1315
Hi, I have been having very similar problem for about one year. If I double-click on the JASP file, nothing happens. I have to open JASP software and then use menu/open/... This is really annoying and it does not happen to me only, my colleagues and students have (sometimes) the similar experiences. I have Win 10.

[2021-06-01 13:29] hynekcigler opened #1319 "Factor Analysis (EFA/CFA/SEM module): Requested feature"
Hi,
I use JASP in my bachelor and master classes of psychometrics for EFA and CFA lectures. Students usually have previous experiences with SPSS, but as I prefer free software and as CFA is not implemented in SPSS, JASP is a clear choice (I tried out also JAMOVI and the problems are very similar to which I describe bellow).

First of all, CFA module in JASP is great, I like it. However, I am missi

[2021-06-01 13:47] vandenman commented on #1315
@hynekcigler, could you perhaps share the JASP file? While we can understand that this behavior is not very pleasant, we can do very little to solve it if we cannot replicate the problem.

[2021-06-01 13:55] vandenman commented on #1319
@JMBKoch could you take a look at the SEM-related issue?

@hynekcigler Thanks for the very detailed request! Most of your requests look very reasonable.

Some questions/ remarks:

Can you share a JASP file that replicates this bug? The error message by itself is insufficient to replicate the problem.

There is an open issue for this, but this is, unfortunately, more complicated than it sounds.

[2021-06-01 14:24] hynekcigler commented on #1319
@vandenman  I really apologize, I have tried it and I cannot get the same error, it is working well now. I should have saved an error :( I will provide it later if it occurs.

I am aware of it and it is not so necessary. However, an easy way to implement it (at least partially) is to provide item weight matrix, which could be used manually. With such a matrix, research would compute weighted mean

[2021-06-02 01:55] Elendil77 opened #1320 "The engine crashed while trying to run this analysis."
![image](https://user-images.githubusercontent.com/85206136/120412069-2192dd00-c313-11eb-90dd-483e293d07fc.png)* JASP version: 0.41.1

* OS name and version: MacOS Catalina
* Bug description: Jasp will not provide descriptive stats for a certain data set.
* Expected behaviour: Descriptive stats being provided.

#### Steps to reproduce:
1. Go to '...' Jasp, with this data set. (I for some reason ca

[2021-06-02 06:42] boutinb commented on #1315
Hi @hynekcigler There is maybe something wrong during the installation of JASP, so that the .jasp files do not get the right default associated application (JASP). We will have a look, but just to check: can you set this association manually (http://www.rawinfopages.com/tips/2014/11/change-the-default-programs-for-file-types-in-windows-8/), and tell us if it works?

[2021-06-02 06:46] boutinb commented on #1320
Hi @Elendil77 Does this happen only for some dataset? You can send us a dataset or a JASP file if you first zip it, and then drag & drop in GitHub.

[2021-06-02 07:14] hynekcigler commented on #1315
Thanks @boutinb. I tried some time ago, but I have tried once more. I see the JASP icon, but without an app name (which is strange). Unfortunately, there is not any option to brows a disk (Citing from the page you linked: "Unfortunately, there is no option to browse the disk and select any app you want. You can only select from the list. However, if you scroll right down to the bottom, there is an

[2021-06-02 11:47] JoKeyser commented on #1317
Disclaimer: I'm not part of the JASP team.
Of course JASP can analyze more than two variables.

Have you followed the advice given in the error message? "The variance-covariance matrix of the supplied data is not positive-definite. Please check if the variables have many missing observations or are collinear"

[2021-06-02 14:51] Elendil77 commented on #1320
Hey,
Yeah, it was specifically this dataset. I gave Jasp a spin using a different data set and it worked ok. Unfortunately the one that won’t work is the dataset for my midterm for my research methods class.
On Jun 2, 2021, 12:46 AM -0600, bruno boutin ***@***.***>, wrote:

[2021-06-03 10:12] Sherlyally commented on #1317
In my thesis, the statements in the measuring instrument that I use are not all positive.
Can JASP not be able to analyze measuring instruments in which there are positive and negative statements ?

[2021-06-03 10:44] Type-token commented on #1302
![Capture 2](https://user-images.githubusercontent.com/64425323/120632642-c50ef980-c49b-11eb-9364-8a35b5368709.PNG)
![Capture](https://user-images.githubusercontent.com/64425323/120632649-c6402680-c49b-11eb-8c28-da9d96f080d7.PNG)

[2021-06-03 11:29] boutinb commented on #1320
Hi @Elendil77 How big is your dataset? Can you share it with us?

[2021-06-03 11:39] JoKeyser commented on #1317
@Sherlyally , I believe your question is beside the point. JASP's error message is not about the raw data entries, but about the resulting [covariance matrix](https://en.wikipedia.org/wiki/Covariance_matrix) between your variables. It then suggests that you should please check if the variables have many missing observations or are collinear.

[2021-06-03 12:56] boutinb commented on #1316
Dear @ko-ynu, how did you generate this file? We use since some months WebLate (https://weblate.org/) to translate JASP. We use such a site since different people around the world are translating JASP and we need a way to coordinate this. We have written also a guide how to use WebLate to translate JASP (https://github.com/jasp-stats/jasp-desktop/blob/development/Docs/development/jasp-guideline-tr

[2021-06-03 13:24] omairess opened #1321 "SEM/Mediation: serious issue in table indirect effects: variables and estimates are mixed up!"
* JASP version: 0.14.1

* OS name and version: Win 10 64 bits

* Analysis: mediation analysis

* Bug description:
When using multiple predictors (independent variables), the variables and estimates in the indirect effects table are mixed up. I checked with Lavaan if the estimates are correct, and they are, however the table does not display them in relation with their variables:

The table lists t

[2021-06-03 15:03] #1321 closed

[2021-06-03 23:17] ko-ynu commented on #1316
Dear Team,

Thank you for your reply.
I have already translated some words on that system.
However, I found it very laborious to convert over 4000 words.
It takes time, but I try to translate little by little.

Best regard,

From: bruno boutin ***@***.***>
Sent: Thursday, June 3, 2021 9:57 PM
To: jasp-stats/jasp-issues ***@***.***>
Cc: ***@***.***; Mention ***@***.***>
Subject: Re: [jasp-stats/jas

[2021-06-04 06:24] JMBKoch commented on #1319
@vandenman  will do!

[2021-06-04 07:06] EJWagenmakers commented on #1316
Dear @ko-ynu,

Thanks for your translations. I realize that the Weblate "surprise" leads to additional work. We are grateful for anything you can do. Please note that the Weblate system should allow a much more efficient translation for future versions. Also, it may be a good idea to get into contact with the other Japanese translators, in order to distribute the workload.
Your efforts are really

[2021-06-05 00:14] kylebarrentine opened #1322 "Saving R code within a .jasp file"
* Enhancement: Saving R objects within a .jasp file. Would reduce the amount of redundant custom coding needed inside of R each time a user opens a .jasp file. Additionally, JASP could automatically print summaries of any saved objects within R upon opening a .jasp file.
* Purpose: Currently, when testing models within base R on the JASP interface, your R code is not saved alongside the other JASP

[2021-06-05 15:24] jbnezl commented on #1258
Any advice regarding how to change the variable type of variables that are in a SPSS file that has been imported into JASP?
The variables are Scales within the nomenclature of SPSS, but when I open the file in JASP, they are coded as nominal.
The file is clean. There are no text entries in the data fields. I am puzzled by the coding.
I can change type on a variable by variable basis, but this is a

[2021-06-05 15:40] AlexanderLyNL commented on #1258
I think that your scale variables contain fewer than 10 unique integers (1, 2, 3, etc). As such, JASP by default thinks that these variables are nominals. You can change the cut off of 10 to a lower number in the preference menu, see also

https://jasp-stats.org/wp-content/uploads/2021/04/Threshold.gif

[2021-06-05 16:00] romanogino commented on #1315
I have the same issue: if I double-click on the JASP file, nothing happens. I have to open JASP software and then use menu/open/...  and believe that .jasp files do not get the right default associated application (JASP 0.14.0).
![2021-06-05_105327](https://user-images.githubusercontent.com/1270242/120897611-a79d7500-c5ec-11eb-94ca-de24888cd713.jpg)

I could upload my data files, but I believe tha

[2021-06-05 20:39] jbnezl commented on #1258
Dear Alexander,

Thanks for the quick reply.

Unfortunately, this did not make a difference.

By the way, many of the entries are means, and so there are more than 10 unique values.
When the entry for a mean is a single digit (e.g., a mean of 3), the value label from the SPSS file is displayed.

For single digit variables (e.g., items within a scale) the variable is coded as nominal and the value

[2021-06-06 18:11] JorisGoosen commented on #1258
@AlexanderLyNL the SPSS files are read through a different importer, so the threshold for ordinal vs scalar is not used there.

@jbnezl I think it would be most practical if you make a separate issue for this and attach a datafile there, doesn't necessarily need to be the one you tried out now, as long as it acts as "weird" as you say. If you cannot share your datafile then you [can turn on loggin

[2021-06-06 19:24] jbnezl commented on #1258
Hi Joris,

Thanks for the offer.  I will set up a new thread and upload a data file there, probably tomorrow.

John

[2021-06-06 20:08] jbnezl opened #1323 "SPSS scalar column with labels become nominal-text, which is not practical"
* JASP version: 0.14
* OS name and version: Win 10 Pro
* Analysis:  Import data
* Bug description: Variables that are coded as scales in SPSS are coded as nominal in JASP
* Expected behaviour: Variable represented as scales in SPSS should be represented as scales in JASP.

#### Steps to reproduce:
1. Read the attached data file into JASP.
2. Look at the attributes assigned to the variables.
[JASP-

[2021-06-07 08:46] boutinb commented on #1322
@kylebarrentine This is a project we are working on, hopefully there will be a version this year with such possibility. But maybe can @TimKDJ tell more about it.

[2021-06-07 12:17] JorisGoosen commented on #992
Well, in case @OliverSchultheiss sees this, any nightly from https://static.jasp-stats.org/Nightlies/ should now contain the fix and I assume this was actually a fix and Ill close this issue now.

[2021-06-07 12:17] #992 closed

[2021-06-07 12:20] JorisGoosen commented on #1108
If I try to view files in OSF and set sorting to `None` I still see files.

[2021-06-07 12:56] JorisGoosen commented on #1108
So it seems that certain styles of logging into OSF require a secondary page in a browser for the full login.

This goes for both ORCID and other institutional logins. Because this would be a bit unwieldy to add to JASP (at least for now) I will just be placing a warning on the loginpage explaining that we currently *only* support logging into OSF through an actual OSF login.

[2021-06-07 13:56] JorisGoosen commented on #1323
@jbnezl I see in the loaded data I see:
![image](https://user-images.githubusercontent.com/29062713/121028860-710c5980-c7a8-11eb-8122-458a73ae2260.png)

JASP expects all the data in a scalar column to be a float/scalar. However, while your data seems to contain only scalar, some of your entries have a label.

For JASP, to be able to show this label the data is usually be converted to ordinal (inte

[2021-06-07 14:25] jbnezl commented on #1323
Dear Joris,

If I eliminate the value labels in the SPSS file, then JASP reads the data perfectly.
For large, multivariable data sets, which are becoming more common, this is far from convenient.
Might be useful to find a way to allow JASP to read files with value labelled variables that does not default to the value label when a cell entry corresponds to a value.
For example, in SPSS, I assigned

[2021-06-07 19:16] JorisGoosen commented on #1323
Dear John,

Ah ok good, so at least in some cases there is a workaround for this. Another way would be simply removing the labels in JASP. By which I mean renaming the label for `2` from `slightly agree` (or whatever it is now) to `2`. Once you've done this for all non-float labels you will be able to change the column to scale.

Well, usually people want to keep their labels, so dropping those wo

[2021-06-07 19:33] JorisGoosen commented on #1323
That might also be a good solution.

If you click on the column's name in the data view the variable editor will be opened (for everything except scalar anyway) and there you can edit the labels if so wished.

Thank you for letting me and us know and you are very welcome!

[2021-06-08 07:42] tomtomme opened #1324 "Add Covariance"
Add covariance to JASP.

[2021-06-08 07:56] tomtomme commented on #1324
Thx for the hint. The correlatin module may be an even better fit anyway.

[2021-06-08 12:16] tomtomme opened #1325 "Phi is always positive"
If one goes with this formula
![grafik](https://user-images.githubusercontent.com/4428185/121182811-bcd00900-c863-11eb-8735-b5fa132eea72.png)

representing this table
![grafik](https://user-images.githubusercontent.com/4428185/121182904-cfe2d900-c863-11eb-99e8-3a7e796a328c.png)

then Phi can be negative.
I always get only positive values of Phi with JASP. Most likeley because the formula JASP uses

[2021-06-08 12:21] tomtomme opened #1326 "Calculate Phi for 2xX tables too"
Currently Phi is only calculated for 2x2 tables in JASP.
However it is possible to calculate it for 2xX tables too.
It gives the same result as Cramers V, sure, so it seems superfluous. But its always hard to tell the students, whats possible and sensible, and then using some software to tell them, that the software thinks different for no apparent reason.

If Phi is superflous for 2xX tables it s

[2021-06-08 12:43] tomtomme opened #1327 "Flexplot Error with 3 categorial variables, one paneled"
repreoducible bug in visual modeling => flexplot (jasp 0.14.1 win10 and 0.14.3 flatpak linux)

If all 3 variables are nominal or ordinal in flexplot and one of the 3 is paneled I get this:
<img width="802" alt="Screenshot 2021-06-08 143930" src="https://user-images.githubusercontent.com/4428185/121186632-98762b80-c867-11eb-8a83-d962fda3d251.png">

If the same dependend variable is switched to scal

[2021-06-08 13:01] boutinb commented on #1315
On my PC (Windows 10), if I right-click on a file in Explorer, select Properties, and click the 'Open with' button, I get at the bottom of the list the possibility to select an application on my PC (Look for another app on this PC):
![searchapp](https://user-images.githubusercontent.com/503332/121189279-3d920380-c86a-11eb-9550-6bf9416f3fbe.png)

If I then set it for one jasp file, then all jasp fi

[2021-06-08 13:10] EJWagenmakers commented on #1325
Yes, definitely, it should be allowed to be negative.

[2021-06-08 13:33] victiane opened #1328 "Add the possibility of a qualitative variable in linear regression"
* Enhancement: it would be great to be able to put in qualitative variables in linear regression (for now from what I could do one can only put quantitative variables)
* Purpose: do social sciences regression
-

[2021-06-08 14:02] boutinb commented on #1327
@dustinfife Could you have a look at this issue?

[2021-06-09 02:47] vickyyytoriaaa opened #1329 "JASP Known Bug: Computed Effect Sizes Ignore the Test Value"
* JASP version: 0.14.1

* OS name and version: MacOS Catalina & BigSur
* Analysis:
* Bug description: *Known Bug: Computed Effect Sizes Ignore the Test Value*
<img width="636" alt="Screenshot 2021-06-09 at 10 46 10 AM" src="https://user-images.githubusercontent.com/85597585/121284743-ea728c00-c90f-11eb-963a-37c1d0ecd812.png">

* Expected behaviour:

#### Steps to reproduce:
1. Go to '...'
2. Click

[2021-06-09 06:53] vandenman commented on #1329
So this box:
![image](https://user-images.githubusercontent.com/21319932/111505809-4ed6e280-8749-11eb-8a6d-1cc9ce82c3f4.png)

displays a *known* bug. This will be fixed in the next version of JASP, so it's not necessary to open an issue when you see this.

If you really need the effect size for a particular value, you could create a new column where you subtract the test value from `SCmean` and th

[2021-06-09 06:53] #1329 closed

[2021-06-09 06:56] sblnin opened #1330 "[Feature-Request]: use filters in the analyses rather than in the data"
* Enhancement: Currently, filtering is done in the data sheet, and applies to all analyses in a JASP file. Often, however, one may want to perform different t-tests on different subgroups in the same JASP file, as follow-ups to an ANOVA. It would be fantastic, if one could include a filter in the analysis, so that it applies only to that analysis.
* Purpose: Followup statistics restricted to speci

[2021-06-09 09:08] hynekcigler commented on #1315
@boutinb Hi, thank you. However, I have tried, but it does not work. I choose JASP app, but nothing happen. Anyway, at my PC, association is the same is @romanogino described above.

[2021-06-09 10:22] djdekker commented on #1330
I'm experiencing this as well. JASP automatically updates all analyses when the user changes something in the data filters. This is not always what I'd like.

My suggestion is to place a lockpad icon to the bottom right corner of the output of every section.

By default, the lockpad is open. Clicking the open lockpad icon closes the lockpad (🔒) and fixes the output so that changing the filters wil

[2021-06-09 13:26] sbittman commented on #722
How do I open my font book?  Is this part of JASP, or my OS?

[2021-06-09 13:28] AlexanderLyNL commented on #722
This is part of macOS. You can open it in your Applications folder.

[2021-06-10 02:49] Chuziliang opened #1331 "Resquest for JASP ANCOVA code"
* JASP version: 0.14.1

* OS name and version: Window 10
* Analysis: 3 factors ANCOVA
* Bug description: Hi, I am doing a 3 factors ANCOVA analysis using JASP( 3 factors, and 1 covariance), I find the simple main effect result of JASP was not identicial to SPSS. So, can you provide me the code or the formula, how JASP doing ANCOVA. Thank you!

[2021-06-10 06:46] EJWagenmakers commented on #1331
@JTPetter: Did you discuss this case in your validation report?

[2021-06-10 06:58] Chuziliang commented on #1331
Thank you for your reply!
No, I didn't.
I just used JASP to analyze my data, and found the conflict result of simple main effect by coincidence(interestingly, the statistic results of main effect and interaction are the same). So I am interested in how JASP calculate the sum of square when doing multi factor ANCOVA, maybe we can find something in the code or the formula.

[2021-06-10 07:20] EJWagenmakers commented on #1331
Hi Chuziliang. My comment was meant for Jonas Petter, who did an extensive comparison between SPSS, R, Minitab, and JASP. See https://jasp-stats.org/2021/02/03/the-jasp-verification-project/

[2021-06-10 07:44] boutinb commented on #1330
We are thinking of implementing a filter per analysis. One big challenge for us it to make really clear to the (new) user that some analyses may use other filters than the 'global' one. It can be quite error prone if the user is not aware of it.
The lockpad icon is an interesting idea (even if a lockpad might be confusing, since only the filtering is locked, not the options of the analysis). The u

[2021-06-10 07:55] boutinb commented on #1315
That is quite strange you don't have the possibility to change the default app with an app on your PC. Maybe @JorisGoosen has an idea why? And also why the setup does not set this association automatically?

[2021-06-10 08:47] hynekcigler commented on #1315
@boutinb It works for all the other files, but not for JASP files.

[2021-06-10 08:47] JorisGoosen commented on #1315
Well, I honestly wouldn't know if it even works on my system as I never use this way of starting JASP.

Quite possibly something goes wrong in the installer, the way to set that up is a bit opaque.

First of all though the original issue here by @PBB-code was about a file that could be opened before and now no longer could be opened.
While @hynekcigler 's issue is that he cannot open a jasp-file b

[2021-06-10 09:01] hynekcigler opened #1332 "Wrong association of JASP file to JASP app"
* JASP version: 0.14.1

* OS name and version: Windows 10
* Czech local (but the same happens with Spanish as @romanogino reported here: #1315).
* This is follow-up of previous discussion started here #1315 .

JASP won't open the JASP file if double clicked. If selected "Open with", an association seems to be strange (see the screenshot). If I select JASP application using "Open with", nothing hap

[2021-06-10 09:05] vandenman commented on #1330
@boutinb one idea I had is something like this:

![filter_idea](https://user-images.githubusercontent.com/21319932/121496320-a5675c00-c9da-11eb-8918-86422fa397a0.png)

In this example, the filter applies to "Analysis 1" and "Analysis 2" but not to "Analysis 3".

Here, filters basically are a type of container for analyses. Users can then nest analyses inside filters, have multiple filters, and sim

[2021-06-10 10:27] JorisGoosen commented on #1332
Is it possible to upload the file here?

If not, I am interested in the name and location of the file mostly.

[2021-06-10 12:00] JorisGoosen commented on #232
The solution I made for this is:
On windows when a csv file lacks a BOM it assumes it is "natively encoded" which basically means: in the current locale.
This can of course go wrong, but in that case the only way around it is by using utf-8.

If however an utf-8 csv file is made without a BOM (with some other program or on linux/mac) then this heuristic goes wrong, which is why Ive added an option

[2021-06-10 13:21] AugustOlsson commented on #482
Hi,

There is as far as I can see still no possibility to edit the y-axes range in Jasp. It is especially disturbing that one can even get different y-axis when one has three variables and uses one of them for separate plots. I can get one Y-axis for one plot and another one for the other even though all data comes from the same analyses.

PS. There seems to be a potential bug in the repeated-meas

[2021-06-10 14:07] EJWagenmakers commented on #482
Hi AugustOlsson,

You raise both a feature request and a potential bug report. Wrt the first, the upcoming version of JASP will have a graph editor that allows you to change the axes ranges (and a number of other things, like tick marks and fonts). We are testing this version now and we hope to release it soon. Wrt the second, I recommend you make a separate request together with some screenshots

[2021-06-10 14:07] #482 closed

[2021-06-10 14:12] AugustOlsson commented on #482
Hi EJ,

Sorry for posting two things in one message. That was thoughtless of me. Sounds like a great addition with the graphtool (I would be pleased with just automatically having the same y-axis on graphs created within the same analysis). Thank you for your great work.

I'll write a more detailed bug-report when I have some time on my hands!

August

[2021-06-10 15:08] sblnin commented on #1330
Dear Bruno,

As far as I’m concerned, I would just add a horizontal filter tab in the analysis windows (like you have for options etc.), so that if I duplicate an analysis, it duplicates the filter, and I can then just edit the filter. Ideally, the filter would also add a note under the results table, like you have for one-tailed hypothesis for instance. “Note: the data is filtered for Group=1”. T

[2021-06-10 15:32] boutinb commented on #1302
Hi @Type-token Sorry for the late answer. I have to say that I am quite puzzled with your bug. The log says clearly that the boost library cannot find the shared memory which is used between the JASP and its engines. I can see that it can create the files it needs on your PC...
We are planning to change this shared memory by using a local database, but it will take some time...
Maybe @JorisGoosen

[2021-06-10 16:57] JorisGoosen commented on #1302
Hello @Type-token and @boutinb

I've been looking at logs and following this issue from the side. It does look strange.

So for this I've added way more logging to the processes in JASP that manage the shared memory.
That might help in figuring out where something goes wrong, hopefully.

A new nightly will be building soon and once done I will post it here so that @Type-token can hopefully give it

[2021-06-10 18:08] romanogino commented on #1332
Hi
I have been testing my JASP files with English letters and works correctly. I removed spaces, accents and others details from the Spanish language, set everything to English language and it can open the files. My new hypothesis is that it could be the language applied to name the files.
Best regards.
r.

[2021-06-10 20:35] hynekcigler commented on #1332
@romanogino you are probably right, great! :-)
Anyway, here are two files, both are located in c:\Users\Hynek\Dropbox\MU\_kos\jasp-issue\:

1. Original file with the issue: [vaha-original.jasp](https://www.dropbox.com/s/me23w2uhpow3qq1/vaha-original.jasp?dl=0).
2. New file without the issue: [vaha-en.jasp](https://www.dropbox.com/s/6ha2dzqrpzguhhw/vaha-en.jasp?dl=0).

Basically, both files are the

[2021-06-10 21:10] JorisGoosen commented on #1332
Good detective work both ^^

@romanogino so you say JASP does not work when you have spanish characters in the name of the file?

@hynekcigler I'll have to have a look at your files later, but it sounds like for you the changes are within the file?

[2021-06-10 21:26] romanogino commented on #1332
Hi
The problem was found in the file name., not inside the file.
![2021-06-10_162403](https://user-images.githubusercontent.com/1270242/121599317-7bc52980-ca08-11eb-8ab4-19c54696f493.jpg)

[2021-06-10 22:43] narcilili opened #1333 "linear regression error"
* JASP version: 0.14.1

* OS name and version: windows 10
* Analysis: simple linear regression of natural log transformed number of eggs on year
* Bug description: error message appears as shown in the snippet below
![egssjasp](https://user-images.githubusercontent.com/61888367/121605433-f7fa5400-ca7e-11eb-972e-15ea599b0a0f.JPG)

* Expected behaviour: the slope should be 0.223144

#### Steps to re

[2021-06-11 07:33] vandenman commented on #1333
The problem is that the variables `Ineggs` and `year` have a correlation of 1. Judging from their names and the data in the screenshot, it sounds like `Ineggs` is a linear function of `eggs`. You probably want to use only one of these two variables.

[2021-06-11 07:44] hynekcigler commented on #1332
@JorisGoosen My problem was inside the file, the value labels of the first variable "pohlavi" (sex). I hate these local languages issues, it happens all the time :-/

[2021-06-11 08:04] narcilili commented on #1333
hello vandenman,
thank you for your interest. yes, i spotted that right away. but, i was hoping that jasp would be able to estimate the intercept and slope even if the correlation coefficient is equal to 1. i tried using excel and there was no problem.
cheers

[2021-06-11 08:56] Ilse90 opened #1334 "BayesianLMM"
* JASP version: 0.14.1

* OS name and version: MACOS Big sur 11.4
* Analysis: Bayesian LMM
* Bug description: Error in if (var_name ≠ 'Intercept' && nrow(temp_summary) > 1) {: missing value where TRUE/FALSE needed
* Expected behaviour:

What can I do to perform this analysis?

[2021-06-11 09:55] JorisGoosen commented on #1332
@hynekcigler yeah sadly enough they do. Windosw also makes it extra hard sadly enough. All these things are very easy on Linux & Mac.

But, it *can* of course work on windows, I just need to find out what went wrong here. In fact I just created a new testversion of JASP, quite unstable as we are still testing lot's of things and even changing stuff.

But this one should handle certain imports bett

[2021-06-11 10:09] vandenman commented on #1333
@narcilili the problem with that is twofold:

1. If excel gives you a slope without any warnings then that is dubious as best and incorrect at worst. There is no single "slope" to be estimated. In fact, there are an infinite amount of possible pairs of values for the two slopes that are all statistically indistinguishable.

2. If you would do this in R (see below), then one of the two correlated p

[2021-06-11 11:22] alegra07 opened #1335 "How to Connect Data Points on Boxplot with Lines?"
* Enhancement: Connect Data Points on Boxplot with Lines
* Purpose: Highlight differences between paired replicates/conditions

Example from R:
![image](https://user-images.githubusercontent.com/85741791/121678728-d36e9e00-cab7-11eb-88d9-2b20ce79b238.png)

[2021-06-11 12:45] AlejandroPeru opened #1336 "Reliability"
* Purpose:
hello, regarding the reliability I found a material from Cho https://sci-hub.se/https://doi.org/10.1177%2F1094428116656239, which calculates formulas for the reliability of multidimensional, one-dimensional, bifactor and hierarchical tests. Which has been synthesized in an excel macro, I consider that it is compatible with the results of the AFC in Jasp. http://relcalc.blogspot.com/2016

[2021-06-11 13:15] AlejandroPeru commented on #1319
I support the request, it would also include the use of polychoric or tetrachoric matrices, which would allow working ordinal items (it can even be a separate module), Both for AFC and EFA, I commented on the work that a Spanish already did in a visual Basic application, the Factor, ideal for AFE. https://psico.fcep.urv.cat/utilitats/factor/Download.html
There you will find the base articles and t

[2021-06-11 13:59] romanogino commented on #1332
I had the problem of not being able to open the JASP files when I used strange letters or symbols in the variables, but it did not affect the association with the program. You could open the file and then the error would appear. On the other hand, when I used strange letters or symbols in the file name, the association for JASP does not work there.
I'm going to download the night version and try i

[2021-06-11 20:41] narcilili commented on #1333
hello vandenman,
 i am sorry if i did not make it clear that i have only one predictor variable--year--and one response or dependent variable--lneggs. the example you gave is quite different because it has two predictor variables. thank you for your continuing interest.
cheers

[2021-06-14 07:04] AnguloB opened #1337 "JASP quit unexpectedly after trying to open .sav"
* JASP version: 0.14.1.0

* OS name and version: macOS 11.4 (20F71)
* Bug description: When I try to open a .sav file (e.g, https://www.europeansocialsurvey.org/data/ ) JASP quit unexpectedly (see attached file for further detail).
* Expected behaviour: To open the file.

[report.zip](https://github.com/jasp-stats/jasp-issues/files/6646197/report.zip)

[2021-06-14 07:33] vandenman commented on #1333
@narcilili no worries, I guess I misunderstood.

To avoid any further misunderstandings, could you show me the analysis options you used? E.g., a screenshot like this or a list of options you selected:

![image](https://user-images.githubusercontent.com/21319932/121855174-57f93080-ccf3-11eb-8032-068dac404b70.png)

In particular, the stuff under `Model` is quite relevant.

[2021-06-14 07:48] #975 closed

[2021-06-14 08:14] JorisGoosen commented on #975
I've tested it and this problem will be fixed in 0.15

[2021-06-14 08:31] boutinb commented on #1337
Hi @AnguloB Which one did you try to load? I have tried on a Mac the EES 9 2018 SPSS file without problem.

[2021-06-14 08:36] AnguloB commented on #1337
I have tried with ESS9 - 2018  and with ESS6 - 2012.

With 2018 I have tried about 15~20 times and I have open it once. Then try to open again and failed.

[2021-06-14 09:13] narcilili commented on #1333
![jaspregressionerror](https://user-images.githubusercontent.com/61888367/121868294-649d7900-cd33-11eb-820e-630056986ed9.JPG)
hello vandenman,
here is a snippet of showing where i placed the predictor and response variables. thanks you,
cheers

[2021-06-14 09:17] #232 closed

[2021-06-14 09:19] JorisGoosen commented on #1332
I've been testing it here, changing my computer's locale all through europe and parts of asia. And none of the problems you (and others) describe seem to pop up now.

I will close this issue now, but I would still be grateful if (preferably) both of you could still test the special version for me. That way I can be sure that the next version of JASP will work for you.

If it is still broken feel f

[2021-06-14 10:51] MyrtheV opened #1338 "Reproducing JASP network in R"
* JASP version: 0.14.1

* OS name and version: MacOS Catalina
* Analysis: Network analysis
* Bug description: I am trying to reproduce a JASP network in R, but I am unable to replicate the network. Instead I get the error message that the "Correlation matrix is not positive definite". One suggestion made [here](https://github.com/SachaEpskamp/bootnet/issues/40) is that instead of using the "cor_au

[2021-06-14 11:07] vandenman commented on #1338
If I refresh the file on development I get the same error message:

![image](https://user-images.githubusercontent.com/21319932/121882540-f5af2880-cd10-11eb-9b3d-d5672a0530e7.png)

The latest release uses an older version of bootnet (version 1.2.4, the current CRAN version is 1.4.3.), so if you want to replicate the results you may need to downgrade bootnet.

[2021-06-14 11:10] MyrtheV commented on #1338
Ah okay, good to know! Thanks, this solves my issue.

[2021-06-14 11:10] #1338 closed

[2021-06-14 11:29] JorisGoosen commented on #1337
@AnguloB could you follow the guide at https://github.com/jasp-stats/jasp-desktop/blob/development/Docs/user-guide/logging-howto.md and post the logs here?

That way we can see where your JASP seems to crash.

[2021-06-14 11:32] JorisGoosen commented on #1330
This seems like a good suggestion but a bit different from the main issue here. Maybe a separate one for "locking filters" is good?
On the other hand, I'm working on a data-editing mode in JASP (which won't be in 0.15 for sure) which disables analysis refresh while editing data and we are planning of moving filtering and compute columns there too. So I guess that would in effect be a sort of lock,

[2021-06-14 11:56] MyrtheV opened #1339 "Total number of edges"
* JASP version: 0.14.1

* OS name and version: MacOS Catalina
* Analysis: Network analysis
* Bug description: I was wondering if 112 is supposed to represent to the total number of edges in the table. I don't think this is correct. With 16 nodes this should be 120 (16 * 15 / 2). This (120) is also what R returns.
<img width="503" alt="Schermafbeelding 2021-06-14 om 13 49 59" src="https://user-imag

[2021-06-14 11:59] vandenman commented on #1339
yeah there are some parenthesis missing, `nVar * (nVar-1L) %/% 2` should be `(nVar * (nVar-1L)) %/% 2`

[2021-06-14 12:28] JoKeyser opened #1340 "Translations: Binary files are trailing behind `.po` files..."
Hi @boutinb and @vandenman ,

I noticed that the binary translation files are trailing behind their `.po` files.
For example, in the Descriptives module, there are recent changes in the [`.po` files](https://github.com/jasp-stats/jaspDescriptives/tree/master/po) from Weblate, but the resulting [`.qm` files](https://github.com/jasp-stats/jaspDescriptives/tree/master/inst/qml/translations) are not y

[2021-06-14 13:13] #1339 closed

[2021-06-14 13:17] vandenman commented on #1340
@boutinb , I guess we can do this automatically with GitHub actions?

[2021-06-14 13:39] vandenman commented on #1333
@narcilili that makes sense, I've fixed this in the linked pull request. The output in the next version of JASP should look like this:

![image](https://user-images.githubusercontent.com/21319932/121901389-a4aa2f00-cd26-11eb-8023-8753ed617c73.png)

[2021-06-14 13:59] boutinb commented on #1340
It's updated each Saturday night automatically. So the nightly after the Saturday should get the translations. If you want it one earlier, you can ask me. We can also decide to trigger the actions more often.

[2021-06-14 14:01] JoKeyser commented on #1340
@boutinb , I guess 1x per week would be fine, but it seems to me that it wasn't updated in the last month, e.g. see https://github.com/jasp-stats/jaspDescriptives/commits/master/inst/qml/translations

[2021-06-14 17:38] hynekcigler commented on #1332
@JorisGoosen  Hi, unfortunately, it did not work on my PC. The behavior is the same with dev version as with the stable version. Anyway, I found a new and highly related bug, which I have not discovered before. I cannot open any file with local characters (e.g. vaha-original.jasp above) using JASP Open menu, if any other JASP file is already open. However, I can still open any file without local c

[2021-06-14 17:52] romanogino commented on #1332
Hello
Unfortunately, JASP 0.15 does not open files with accents (e.g. perception.jasp) but without the accent (e.g. perception.jasp) there is no problem. For now, it is best to use English words.
On the other hand, this new version brings a lot of improvements.
Best regards.

[2021-06-14 21:28] JorisGoosen commented on #1332
Aah too bad, but that is an interesting find, I'll check it out.

Well, there is also the possibility to set windows into utf-8 mode and it could solve all these problems. But it is only supported on Win10 and hasn't been extensively tested.

Although I think it would be easier for everyone if I can just manage to get JASP and windows to cooperate with regards to different locales...

[2021-06-14 22:07] narcilili commented on #1333
hello vandenman,
i tried using R and this is what i got
Call:
lm(formula = lneggs ~ year, data = lneggs)

Coefficients:
(Intercept)         year
     4.8520       0.2231

Residuals:
       Min         1Q     Median         3Q        Max
-4.444e-10 -2.444e-10 -4.444e-11  2.556e-10  4.555e-10

Coefficients:
             Estimate Std. Error   t value Pr(>|t|)
(Intercept) 4.852e+00  2.490e-10 1.949e+1

[2021-06-14 22:11] narcilili commented on #1333
hello vandenman,
i tried using R and this is what i got

Residuals:
       Min         1Q     Median         3Q        Max
-4.444e-10 -2.444e-10 -4.444e-11  2.556e-10  4.555e-10

Coefficients:
             Estimate            Std. Error   t value           Pr(>|t|)
(Intercept) 4.852e+00  2.490e-10 1.949e+10   <2e-16 ***
year        2.231e-01       4.425e-11 5.043e+09   <2e-16 ***
Signif. codes:  0

[2021-06-15 06:46] vandenman commented on #1333
Hi @narcilili

In the screenshot you posted, you regressed `year` on `Ineggs`. In the R code, however, you flipped this and regressed `Ineggs` on `year`. Note that the results are identical in terms of p-values:
[code]

<sup>Created on 2021-06-15 by the [reprex package](https://reprex.tidyverse.org) (v2.0.0)</sup>

In the screenshot I posted before, I regressed `year` on `Ineggs`, and you can see

[2021-06-15 07:17] AnguloB commented on #1337
The files :)
[logs.zip](https://github.com/jasp-stats/jasp-issues/files/6653579/logs.zip)

[2021-06-15 10:22] JorisGoosen commented on #1337
Well you found the logs and all that, thank you!
But there is a slight problem: you didn't load your `sav`-file after turning logging on right?
Because I don't see anything related to loading a `sav` in any of the logs.

Maybe you could try again? Thank you :)

[2021-06-15 10:52] JoKeyser opened #1341 "Enhancement: Zenodo for DOI generation and archiving"
* Enhancement: Let Zenodo automatically archive each version and create a DOI
* Purpose: Even more transparency and citability, less manual maintenance
* Use-case: Anyone who wants to refer to, or gain insight into each version of JASP

**Is your feature request related to a problem? Please describe.**

Currently there are >1 ways to find a citable reference:
- https://jasp-stats.org/faq/how-do-i-

[2021-06-15 11:40] AnguloB commented on #1337
I have loaded it twice now (I think also before). I hope the logs are ok now. Thank you.

[Logs 2.zip](https://github.com/jasp-stats/jasp-issues/files/6655289/Logs.2.zip)

[2021-06-15 11:51] rosid-uhm commented on #1312
Hmmm, it seems my device in the faulty here, the graphics card driver aren't properly installed in linux since my device support already ended years ago. Thanks for your help @boutinb !

[2021-06-15 11:51] #1312 closed

[2021-06-15 12:07] rosid-uhm opened #1342 "Problem loading known issues error"
* JASP version: 0.14.1

* OS name and version: Windows 10
* Analysis: idle
* Bug description: Error window
* Expected behaviour:

I started facing this around 2 days ago and it keep coming everytime i run JASP.
Even when it's idle, it's show up.

![Screenshot 2021-06-15 185159](https://user-images.githubusercontent.com/84888311/122049094-39d32380-ce0c-11eb-8e43-13890d9b07e9.png)

also provided som

[2021-06-15 12:20] vandenman commented on #1342
Nothing to worry about, it means that jasp could not access the server with the list of known issues. This will be clearer in the upcoming version.

[2021-06-15 12:20] #1342 closed

[2021-06-15 12:42] JorisGoosen commented on #1337
Thank you!

This does include it and well, yeah it does indeed crash. I can see where but to be able to fix it I will need your data-file.
Is it possible to share the entire file with me?

Otherwise I could also try it with a part of the file: I think I will need the column `livecnta` but it might be another one.
So preferably the whole file and otherwise just that column.

[2021-06-15 12:58] AnguloB commented on #1337
Yes, of course, this data is available for everybody.
[ESS9e03_1.sav.zip](https://github.com/jasp-stats/jasp-issues/files/6655675/ESS9e03_1.sav.zip)

[2021-06-15 21:27] narcilili commented on #1333
hello vandenman,
you have been so helpful, thank you. but, just for the record i clearly wrote in my first comment : "Analysis: simple linear regression of natural log transformed number of eggs on year."  i hope you have a pleasant day.
cheers

[2021-06-16 14:13] #1244 closed

[2021-06-16 18:46] JTPetter commented on #1331
@Chuziliang Hello! Would you mind sharing your data set and/or JASP-file, so I could try and replicate the issue?

[2021-06-18 09:21] journalofarthroplasty commented on #1320
metoo

[2021-06-18 09:30] #1333 closed

[2021-06-19 16:45] JoKeyser commented on #1340
@boutinb  , I believe I found at least one problem with the [current version of generateLanguageFiles.sh#L55](https://github.com/jasp-stats/jasp-actions/blob/821ca06de3abc9041eadf15b5010a1611d123e29/translations/generateLanguageFiles.sh#L55), where no QMFILE variable is defined for most modules (other than jasp-desktop).
I attempted a fix in https://github.com/jasp-stats/jasp-actions/pull/8

[2021-06-21 10:07] #1307 closed

[2021-06-21 10:12] JoKeyser commented on #1340
@boutinb , thanks for merging, I'm glad my hunch about the `.qm` files was correct.

One more question/doubt remains in my head: Are the `.mo` files also taken care of? I'm not sure if they are (supposed to be) handled with the same script? (I don't have time this week to really check this.)

[2021-06-21 10:32] JorisGoosen commented on #1337
Aah I misread the first comment, but thank you for making it easier for me ^^

[2021-06-21 11:50] boutinb commented on #1340
It's a good point... I'll have a look

[2021-06-21 13:26] #1315 closed

[2021-06-21 13:26] #1332 closed

[2021-06-21 13:41] JorisGoosen commented on #1302
@Type-token do you think you have the chance to test out a new nightly?

See here: https://static.jasp-stats.org/Nightlies/ and I'd recommend just using the `zip64` one as you don't need to install anything, it takes a little while to start up btw so give it some time.

[2021-06-22 04:55] Elendil77 commented on #1320
absolutely- I am sorry I just saw this.
 Research Methods Midterm(excel).csv
<https://drive.google.com/file/d/1dGjFJoFTT5HNHRWGHn91OOzcwh3pxE1B/view?usp=drive_web>

On Thu, Jun 3, 2021 at 5:29 AM bruno boutin ***@***.***>
wrote:

[2021-06-22 06:35] areeq1 opened #1343 "Bootstrapping in RM ANOVA"
Thank you for all effort you put into developing JASP.

I notice that ANOVA has a bootstrapping function (which is nice), but when I checked the RM ANOVA I was unable to see this.

Can you please add bootstrapping function to the RM ANOVA?

Much appreciated

[2021-06-22 07:12] vandenman commented on #1320
Hi @Elendil77 it looks like I don't have access to that link. I've requested access with my gmail account and you should have received an email about that now. Also, would it be alright if I reupload the file here as a zip so that my colleagues can also access it? Note that you can always upload any file on GitHub as long as it's a zip file.

[2021-06-22 07:22] vandenman commented on #1343
@JohnnyDoorn I think (but might be wrong) that you implemented the bootstrapping for the other ANOVAs. Is this something you could do and have time for?

[2021-06-22 08:44] Kucharssim commented on #1328
Dear @victiane,

thank you for the request. If I understand it correctly, you would like to use categorical variables as predictors in linear regression. This is already implemented and will be part of the next release of JASP.

Please reopen this issue in case I misunderstood your request, or if you want to follow up with something more specific regarding this request. Thank you.

[2021-06-22 08:44] #1328 closed

[2021-06-22 08:48] juliuspf commented on #1336
Thanks for the request and the information. I am working on Bayesian versions of omega-hierarchical and -total. Those will then be implemented together with the frequentist versions. Those will be the versions for continuous scales. When the categorical versions will be ready I cannot say.

[2021-06-22 09:07] JorisGoosen commented on #1337
Aah, so this also works fine on my mac... Which means I will have to make a version of JASP with some more logging to be able to pinpoint the exact problem.

[2021-06-22 11:53] boutinb commented on #1337
Loading the sav file on 0.14.1 crashes for me. On 0.15 it goes really slow.... I have a look.

[2021-06-22 12:09] vandenman commented on #1335
Hi @alegra07 the next version of JASP will include raincloud plots like these:

![image](https://user-images.githubusercontent.com/21319932/122921942-6682c000-d363-11eb-9cf3-18c0bd3e87c9.png)

is that what you had in mind?

[2021-06-22 12:27] Ilse90 commented on #1334
I see that I did not wrote the complete error previously:

This is the whole bug description:

Error in if (var_name ≠ 'Intercept' && nrow(temp_summary) > 1) {: missing value where TRUE/FALSE needed

Stack trace
tryCatchOne(expr, names, parentenv, handlers[[1]])

doTryCatch(return(expr), name, parentenv, handler)

withCallingHandlers(expr = analysis(jaspResults = jaspResults, dataset = dataset, op

[2021-06-22 12:44] JorisGoosen commented on #1337
Also look at that PR, it fixes that problem. It was logging too much

[2021-06-22 12:45] JorisGoosen commented on #1337
(I think anyway)

[2021-06-22 12:52] JorisGoosen commented on #1337
@AnguloB could you try out https://static.jasp-stats.org/Nightlies/MacOS/JASP-nightly-development-3013d805aba58e62313731d810da70cba239683d.dmg

It might work and otherwise will have way more informative logs for us.

[2021-06-22 13:13] AnguloB commented on #1337
I have installed and the problem persists (I have attached logs).
[Logs.zip](https://github.com/jasp-stats/jasp-issues/files/6694449/Logs.zip)

[2021-06-22 13:16] JorisGoosen commented on #1337
Well, the logfile size went down at least, and I can now see sort of where it breaks for you. I'll make another version.

[2021-06-22 13:56] Elendil77 commented on #1320
I'm sorry it didn't give you access. I've given it now. Absolutely you can
reupload it as a zip. I don't know how to do that or I would have done it
myself.

On Tue, Jun 22, 2021 at 1:12 AM Don van den Bergh ***@***.***>
wrote:

[2021-06-22 14:31] vandenman commented on #1320
No worries!

@boutinb here is the zip file: [Research Methods Midterm(excel).zip](https://github.com/jasp-stats/jasp-issues/files/6695148/Research.Methods.Midterm.excel.zip)

[2021-06-22 16:09] boutinb commented on #1320
OK, I can reproduce the error now...

[2021-06-22 19:38] FBartos commented on #1334
Hi @Ilse90 ,

sorry for getting so late to you.

I have recently fixed a similar issue for the new release. Could you please save the analysis that throws error as a .JASP file, zip it, and upload it here? I could test whether the latest fix solves the issue. If not, I will resolve it and make sure it will work with the new release.

Cheers,
Frantisek