[2021-06-23 06:31] Ilse90 commented on #1334
Hi Frantisek,

Thank you for reaching out. Please find attached the file. I am looking forward to hearing from you.

Regards, Ilse

[MFB-vALIC LMM 22-6-2021-1.jasp.zip](https://github.com/jasp-stats/jasp-issues/files/6699464/MFB-vALIC.LMM.22-6-2021-1.jasp.zip)

[2021-06-23 09:22] FBartos commented on #1334
Hi Ilse,

thanks for the file. I was able to reproduce the bug. It's unfortunatelly a different issue I was dealing with previously, but I will work on it to make it work with the next release.

Cheers,
Frantisek

[2021-06-23 09:24] Ilse90 commented on #1334
Dear Frantisek,

Thank you for your quick reply and for looking at the issue. Can you please send a message in this chat when the bug is solved in the next release? Thanks in advance!

Regards, Ilse

[2021-06-23 09:35] FBartos commented on #1334
I will link the fix to the issue to this report, so when it is merged you will recieve a notification regarding this thread. Then, it will be a part of the new release version of JASP, mentioned on twitter and everywhere else. Would that be sufficient?

Regards,
Frantisek

[2021-06-23 09:36] Ilse90 commented on #1334
Great! Thanks a lot :)

[2021-06-23 14:00] boutinb commented on #1320
[Research Methods Midterm(excel) copy.csv.zip](https://github.com/jasp-stats/jasp-issues/files/6702355/Research.Methods.Midterm.excel.copy.csv.zip)
@Elendil77 Your file had 100000 lines of empty cells. I have removed them (cf zip file), and it works now.

[2021-06-23 14:28] dustinfife commented on #1327
Sorry for the delayed response. There is an error in how flexplot is handling things, but the user shouldn't be able to plot three categorical variables. I'll work on the error message. In the meantiem, Bruno, is there an easy way to specify in the qml that you can't have more than two categorical variables when the outcome is categorical?

[2021-06-23 14:58] JorisGoosen commented on #1165
Well, I've tested this in the current development version, but locally compiled and it seems to work now.

But I will have to wait for issue https://github.com/jasp-stats/INTERNAL-jasp/issues/1348 to be resolved so that I can try it out in flatpak, because it might behave different.

[2021-06-23 16:12] boutinb commented on #1327
I thought it was possible, but by testing it, I see that it cannot... The allowedColumns property is not as dynamic as it should be. I'll see if there is a simple way to fix this.

[2021-06-24 06:58] Type-token commented on #1302
hi, thanks for the update! I try the jasp zip x64 released on June 23. The filter has not yet worked. Cf. the following capture
<img width="1911" alt="Capture Jasp Filter problem" src="https://user-images.githubusercontent.com/64425323/123216854-8ef1f200-d4fc-11eb-8466-5506d739d73a.PNG">

[2021-06-24 07:33] JorisGoosen commented on #1302
Thank you for testing, could you also upload the logs?

[2021-06-24 08:42] Type-token commented on #1302
Here come
[JASP 2021-06-24 14_39_02 Desktop.log](https://github.com/jasp-stats/jasp-issues/files/6707709/JASP.2021-06-24.14_39_02.Desktop.log)
[JASP 2021-06-24 14_39_02 Engine 0.log](https://github.com/jasp-stats/jasp-issues/files/6707711/JASP.2021-06-24.14_39_02.Engine.0.log)
[JASP 2021-06-24 14_39_02 Engine 1.log](https://github.com/jasp-stats/jasp-issues/files/6707712/JASP.2021-06-24.14_39_02.E

[2021-06-24 12:38] JorisGoosen commented on #1337
@AnguloB do you think you could give the following a spin: https://static.jasp-stats.org/Nightlies/MacOS/JASP-nightly-ariadneSpecial-f20eded03476589e73cf68f8438cf6487ea63433.dmg

Thanks for bearing with us in this bughunt!

[2021-06-24 16:18] JorisGoosen commented on #1302
So...

I can see in the 14_49_57 log that initially it *does find* the shared memory a la:
[code]

It can find it again a few times later, but then the xth time it loses the file (I guess it got deleted somehow?)
[code]

But we aren't cleaning it up, and this seems to go right in most systems... The problem is that boost doesn't seem to have any function that return the path to the file in questio

[2021-06-24 23:47] JorisGoosen commented on #1302
Alright, so this next version should be a bit more conservative with its shared memory unloading and thus as well with the reloading.
Hopefully that will make it also a bit better behaved on your system.

Same as before, could you try out the following and let us know how it goes?
https://static.jasp-stats.org/Nightlies/WindowsZip/JASP-nightly-lessSharedMemUnReLoading-e6f13e19f4cca5a7f83731d85baa5

[2021-06-25 07:05] AnguloB commented on #1337
@JorisGoosen Here my logs again..

[Logs.zip](https://github.com/jasp-stats/jasp-issues/files/6714220/Logs.zip)

[2021-06-25 07:30] JorisGoosen commented on #1337
Are you perhaps running an M1 macbook?

[2021-06-25 07:34] AnguloB commented on #1337
No, 2015 macbook (And also tried with 2016 Macbook but not with the nightly versions).

[2021-06-25 07:49] JorisGoosen commented on #1337
Ok good, just wanted to make sure!

[2021-06-25 08:22] #1236 closed

[2021-06-25 10:03] JorisGoosen commented on #1337
Alright, this next version has a slightly bit more logging and hopefully also a fix, so maybe this time it will actually work.

https://static.jasp-stats.org/Nightlies/MacOS/JASP-nightly-ariadneSpecial-2f53b46afed521c5209f747f868a054997d71a82.dmg

No hurry though! I might have time to look at the logs later today (if it works I would still like to see them) but on monday is more likely.

[2021-06-28 00:34] stonegold546 opened #1344 "Error installing developer module: when trying to import bbmle"
* JASP version: 0.14.3
* OS name and version: Pop!_OS 20.04 LTS
* Analysis: Install developer module
* Bug description: When I attempt to install the developer module at [stonegold546/intervalReg](https://github.com/stonegold546/intervalReg) that uses the `bbmle` package, I get the following pop-up error message:

1: Setting LC_CTYPE failed, using "C"
2: Setting LC_COLLATE failed, using "C"
3: Set

[2021-06-28 07:19] AnguloB commented on #1337
Unfortunately, it has crashed again. Here the logs!
[Logs.zip](https://github.com/jasp-stats/jasp-issues/files/6724222/Logs.zip)

[2021-06-28 10:26] JMBKoch commented on #1279
@krutcher7069: When doing Multigroup SEM using the `lavaan` syntax, regression coefficients are estimated to be equal across the groups when they are given the same label. This is the case here, where the coefficients are labeled a, b, c, and d _for all groups_. Consequently, also the indirect effects are estimated to be equal across groups. If you want the indirect effects to be estimated per gro

[2021-06-28 11:40] EJWagenmakers opened #1345 "[Frequentist logistic regression]: add Firth logistic regression"
From the JASP email:

"Ideally, I would be very happy to see a tutorial video that shows how to prepare a dataset and then use JASP to perform a Log-F (m,m) logistic regression as described here:
http://irea.ir/files/site1/files/bmj.i1981.full.pdf"

[2021-06-28 13:28] JorisGoosen commented on #1302
@Type-token ?

[2021-06-28 15:14] JorisGoosen commented on #1337
Ok, I do think we are getting closer, even if it doesn't feel like it, hopefully you can try out: https://static.jasp-stats.org/Nightlies/MacOS/JASP-nightly-ariadneSpecial-4193936839e2bdb48becf6ab7bbf0010677e9ab6.dmg

[2021-06-28 15:53] boutinb commented on #1340
Yes there were still some problems. I have just solved them.

[2021-06-28 15:53] #1340 closed

[2021-06-29 06:17] AnguloB commented on #1337
Not yet [Logs 2.zip](https://github.com/jasp-stats/jasp-issues/files/6731110/Logs.2.zip)

[2021-06-29 08:42] JorisGoosen commented on #1337
@AnguloB can you maybe try something else entirely, if you go to `File menu -> Preferences -> Interface` and then enable `Safe graphics mode`, does that help?

And as an aside, how much free space do you have on your harddrive?

[2021-06-29 08:49] AnguloB commented on #1337
It has also crashed :(

Right now I have 24.62 GB

[2021-06-29 08:55] JorisGoosen commented on #1337
Can you send me the crashreport?

Because it seems that JASP now stops in a different place than before... So I'm thinking that maybe it is only tangentially related to loading the .sav...

[2021-06-29 10:32] SteffiPeykarjou opened #1346 "Bayesian rmANOVA terminates unexpectedly"
Hi guys,

I am trying to run a Bayesian Repeated Measures ANOVA, a regular analysis that I am using a lot. For some reason, I keep getting an error running the analysis with the attached dataset (never had that before). I tried Jasp versions 0.13.1 and 0.14 on Windows 10 PCs.

I am trying to use two between-subjects factors (cond, median-split (Anzahl Trials Fam), and structure the input using two

[2021-06-29 10:33] SteffiPeykarjou commented on #1346
[Hip_FPVS+Hip_Fam_mediansplit_NumTrialsFam.txt](https://github.com/jasp-stats/jasp-issues/files/6732695/Hip_FPVS%2BHip_Fam_mediansplit_NumTrialsFam.txt)

[2021-06-29 13:16] WimRoest opened #1347 ".TXT file closes JASP instead of JASP opening .TXT file"
* JASP version: 0.14.1.0
 Windows 10
* OS name and version:
* Analysis:
* Bug description: Downloaded JASP last week and opened one datafile with no problem. It opened and I could analyze data. On opening the second data file today (A downloaded Google form datafile in CSV format). First saved file as _.txt (Tab delimited)_ and tried to open file but without success. JASP does not open the file an

[2021-06-29 13:32] boutinb commented on #1347
Hi @WimRoest Could you tell us which OS (Wndows, Mac, Linux) and which OS version you use? Cold you also give this file?

[2021-06-29 13:52] WimRoest commented on #1347
Windows 10 Pro, version 2004, OS build 19041.1052

File attached.
[Technology Readiness and Acceptance Survey.txt](https://github.com/jasp-stats/jasp-issues/files/6733860/Technology.Readiness.and.Acceptance.Survey.txt)

[2021-06-29 14:11] WimRoest commented on #1347
@boutinb
I think I have the solution to this issue. This is what I did and it opened perfectly: (1) I first opened a version of the data file directly from the Google form as a Google "Sheets". This gave me all the columns and contents for each cell in the correct place. (2) Then I downloaded into Excel format from Sheets as an Excel spreadsheet; (3) Then I saved to folder in .TXT (Tab Delimited)

[2021-06-29 15:31] AnguloB commented on #1337
:)
[Logs.zip](https://github.com/jasp-stats/jasp-issues/files/6734638/Logs.zip)

[2021-06-29 15:42] JorisGoosen commented on #1337
Aah I meant the thingy MacOS shows you when the app crashes ^^

[2021-06-29 15:45] AnguloB commented on #1337
[textt.zip](https://github.com/jasp-stats/jasp-issues/files/6734742/textt.zip)

[2021-06-29 16:45] JorisGoosen commented on #1337
Aah, well "luckily" the error is indeed in reading the sav file...

For my own administration:
[code]

[2021-06-29 19:34] JasperRobinson commented on #1182
Me too.

I'm trying to drill down into a mixed ANOVA interaction. I remember this working on older versions but neither 0.14.0 nor 0.14.1 seem to run. I can't remember which older version last worked.

I'm on macOS 11.4

[2021-06-30 07:49] boutinb commented on #1347
Hi @WimRoest, I had a look to your txt file, and it is indeed quite a weird file. It starts like this:
`"Timestamp,""Username"",""I have read the above information and am willing to participate"",`
And JASP has to guess here what are the delimiters to read the names of the columns...
JASP should not crash, but its algorithm won't be intuitive enough to understand this file (it can see that the del

[2021-06-30 07:49] #1347 closed

[2021-06-30 10:44] JasperRobinson commented on #1182
Thank you. I can't share the data file with you—it contains confidential data.

But, I found the same problem using a sample data set from Jasp. This has the same structure as my data set: 1 between subject variable; 1 within-subject variable.

This was under ANOVA heading and was Andy Field's "Erotic Pictures & Love". Gender was a 2-level between-subject variable and the 3 continuous variables we

[2021-06-30 11:29] Type-token commented on #1302
Hi, Thanks. This version works better. seems the filter works now except that sometimes it will cause a crash. Then I have to end the process and reopen it again. cf

![Jasp crash](https://user-images.githubusercontent.com/64425323/123952930-41ccbf00-d9d9-11eb-80c8-39317e68e7f9.PNG)
[JASP 2021-06-30 19_16_36 Desktop.log](https://github.com/jasp-stats/jasp-issues/files/6740461/JASP.2021-06-30.19_16

[2021-07-02 11:05] glaswasser opened #1348 "Bug: Bayesian Correlation Table: JASP does not show flagged supported correlations"
* JASP version: 0.14.1

* OS name and version: mac os catalina 10.15.7 (19H524)
* Analysis: Bayesian Correlation
* Bug description: when copying latex code for the table, flagged supported correlations are commented out and not marked in table
* Expected behaviour: flagged supported correlations should be marked both in the table and explained below

#### Steps to reproduce:
(Take any dataset, it

[2021-07-02 14:39] daamartins opened #1349 "Color bar in correlation matrix heatmap"
Dear all

Thank you so much for all the work you have put in setting this great tool. I am wondering whether it is possible to get the color bars for the heatmaps of correlation matrices? I cannot really find them. Is there an equivalent in ggplot that i could use?

Thanks

[2021-07-03 17:49] RenzoLanfranco commented on #1303
I'm having the same issue but with RM ANOVAs. I think there's a glitch in the calculation of the effect sizes of each pairwise comparison. The Cohen's d scores aren't shown.

[2021-07-03 18:17] dkp commented on #1153
Yes please...I just found I wanted this feature!

[2021-07-05 07:17] vandenman commented on #1279
I think that would be a good idea!

[2021-07-05 14:28] vandenman commented on #1349
Hi @daamartins, the R code for the color bar is `ggplot2::scale_fill_gradient2(limits = c(-1, 1), na.value = "white")` ([source](https://github.com/jasp-stats/jaspRegression/blob/9d0d59cf80170d4e861315cc683ba287f3c4bc19/R/correlation.R#L1122)). For more details on this scale, see https://ggplot2.tidyverse.org/reference/scale_gradient.html

[2021-07-05 14:51] vandenman commented on #1346
Hi @SteffiPeykarjou, thanks for the report!

Could you maybe describe the structure of the `Repeated Measures Factors` a bit more? In particular I'm unsure what I should enter here to replicate the problem:
![image](https://user-images.githubusercontent.com/21319932/124487281-d0ad5300-ddae-11eb-9acf-b9e012f3e1d4.png)

You can also upload the .jasp file here directly, if you zip it first.

One thin

[2021-07-05 19:31] SteffiPeykarjou commented on #1346
Hi @vandenman,
thanks a lot for your help, I really appreciate it!
I tried with the reduced model as you suggested, which gives me a new error. I think I made an error with my columns, but can't figure out what it was. I am attaching the original analysis and the adapted one, that's probably the easiest way. Thanks for any further suggestions!
Best
Steffi
[Hip_FPVS+Hip_Fam_mediansplit_NumTrialsFam

[2021-07-06 15:37] boutinb commented on #1303
Hi @JohnnyDoorn Can you have a look at this issue?

[2021-07-06 16:44] PerPalmgren opened #1350 "Letter not detected in regression output"
* JASP version: 14.1

* OS name and version: Windows
* Analysis:
* Bug description: When I run a regression analysis, the coefficient output that JASP is producing does NOT seem to recognize the Swedish letter "ö", despite I am using a CSV-UTF8 file. This has been fine in other JASP outputs, when I have been running other types of analysis
* Expected behaviour:

#### Steps to reproduce:
1. Go to '

[2021-07-07 07:47] vandenman commented on #1350
Hmm the attached file indeed has this issue. However, on Ubuntu 20.04, the letter is displayed fine once I refresh the file:
![image](https://user-images.githubusercontent.com/21319932/124720056-07e34780-df08-11eb-849a-3c43570b0ce6.png)

@PerPalmgren does the issue persist if you adjust the results font?
![image](https://user-images.githubusercontent.com/21319932/124720185-2d705100-df08-11eb-9f5c-

[2021-07-07 07:58] JohnnyDoorn commented on #1182
Hi @JasperRobinson,

I think this issue has been fixed in the new release that will be released in the next months - it was indeed an issue with too many zeroes in the data set. Apologies for the inconvenience.

Cheers
Johnny

[2021-07-07 07:58] #1182 closed

[2021-07-07 08:15] PerPalmgren commented on #1350
Hi,
I have tried to change the font in the “settings” but this does not resolve the problem 😢. I really would like this to work so I can use the program my new Swedish statistics course🙏.

Per J. Palmgren | DC, FRCC, MMedEd, PhD |
Associate Professor |
Department of Learning, Informatics, Management and Ethics |
Karolinska Institutet | Tomtebodavägen 18A | 171 77 Stockholm |
Tel. + 46 8 524 85 294

[2021-07-07 08:28] JohnnyDoorn commented on #1303
Hi @jaume-masip,

I removed the computation for effect sizes since I believed they were not correct, and wanted to err on the side of caution since it is not straightforward to compute effect sizes for interaction effects. We are currently sorting this out, and hopefully we will add proper effect size measures for interactions in the next version of JASP (after 0.15). Apologies for the inconvenien

[2021-07-07 11:20] boutinb commented on #1350
Hi @PerPalmgren Which fonts do you use for Result & Help?

[2021-07-07 11:28] PerPalmgren commented on #1350
I use default “Arial”

Per J. Palmgren | DC, FRCC, MMedEd, PhD |
Associate Professor |
Department of Learning, Informatics, Management and Ethics |
Karolinska Institutet | Tomtebodavägen 18A | 171 77 Stockholm |
Tel. + 46 8 524 85 294<tel:+%2046%208%20524%2085%C2%A0294>
***@***.******@***.***> | ki.se<http://ki.se/>
________________________________

Karolinska Institutet – a medical university

7

[2021-07-07 12:24] JorisGoosen commented on #1337
Hello @AnguloB

I've been thinking and tinkering and I think I might have a version of JASP that can load the file: https://static.jasp-stats.org/Nightlies/MacOS/JASP-nightly-ariadneSpecial-8bedf81ff79c507b7a687bd43719f1e3f74ae379.dmg

I personally have a weird crash right now if I scroll right in the data **and** have JASP fullscreen, with the sav file from here. So don't put it fullscreen when t

[2021-07-07 12:53] boutinb commented on #1350
And in the Data View, as in the Analysis Options View, can you see this ö well displayed? Which fonts do you use (Interface fonts settings) ? Did you try to use the same fonts for the results?
If the problem still persist, could you send the log file of the engine: https://github.com/jasp-stats/jasp-desktop/blob/development/Docs/user-guide/logging-howto.md ?

[2021-07-07 13:13] AnguloB commented on #1337
Wow! I can open it now and do some descriptive statistics. In my computer works great in full screen. Thank you. Do you plan to incorporate the fix in future JASP versions?

I don’t know if it is related but recently I have also experienced a similar crash with a csv (I can’t attach the file because is sensitive information): in this case this version-fix doesn’t solve that problem.

[2021-07-07 13:33] PerPalmgren commented on #1350
Hi,
In the data view it is ok, and I can see the “ö”. I have tried to change and use the same fonts for interface and results but without success and the problem is still there. When I run other analysis such as ANOVA or T-test there is no problem, it only seems to be problematic with the output when running regression models.
I attach a zip-fil with the log files.
Really happy that you try to hel

[2021-07-07 13:40] boutinb commented on #1350
Can you use the GitHub website (by dragging the file in a comment) to send the log file? Via email it does not work.

[2021-07-07 14:01] PerPalmgren commented on #1350
Ok!
[Per´s JASP log.zip](https://github.com/jasp-stats/jasp-issues/files/6777765/Per.s.JASP.log.zip)

[2021-07-07 19:54] SchwingMC opened #1352 "Is it possible to deactivate scientific notation in the output viewer?"
* Enhancement:Deactivate scientific notation
* Purpose: Some graphs and outputs are looking more streamlined.
* Use-case:

**Is your feature request related to a problem? Please describe.**

Some graphs are in scientic notation while this is not necassary.
![image](https://user-images.githubusercontent.com/85257001/124820511-de5d0700-df6d-11eb-9eb2-e9e60047a6de.png)

**Describe the solution you'd

[2021-07-07 20:56] izahn opened #1353 "conda package"
I would like to use JASP on a University HPC where flatpak is not available. Toward that end I am working on building a conda-forge package for JASP over in https://github.com/conda-forge/staged-recipes/pull/15529. If there is anyone here who would like to join me in this effort please let me know. I would be delighted to have a co-maintainer for the conda-forge package!

[2021-07-07 21:16] JorisGoosen commented on #1337
Awesome!

Yeah the fix will be in the upcoming version of course, which we hope to have out by beginning september at the latest.

About the csv, it won't be related to the specific issue here because the problem was in the particular code for reading spss(/sas/stata) files. With csv it might be related to having "strange" characters (not really strange, just from an american perspective) although

[2021-07-07 21:17] #1337 closed

[2021-07-08 07:22] boutinb commented on #1352
I don't think it's possible, @vandenman ? But in the next release (end of Augustus probably), there will be a plot editing feature: you can then specify the ticks with their value/label on each axe.

[2021-07-08 07:31] vandenman commented on #1352
@SchwingMC This is not possible, as scientific notation avoids that different axis labels overlap. You sort of already see this happening with -40000 and -20000, so we set a cutoff at 1e5 to switch to scientific notation. Of course, this isn't always appropriate, as in your example. With the plot editing feature in the next release you should be able to do something like this:
![image](https://use

[2021-07-08 07:36] boutinb commented on #1350
It is really strange that a table from an ANOVA or T-Test analysis displays correctly the ö, and not a regression analysis. We have made substantial changes in 0.15 (next release) in the regression analyses. Maybe this problem is then fixed. Could you try it: http://static.jasp-stats.org/Nightlies/Windows/JASP-nightly-development-16009c4ff93f15056002867a04dd06f4b42f6c9b.msi ?
It it still does not

[2021-07-08 07:46] PerPalmgren commented on #1350
Unfortunately, I can't download the JASP program unless I get a clearing code from the IT department from my university. I guess that is not so good before the official release. When is this planned for?
Could I send you my raw data as compressed excel file for you to investigate?

Per J. Palmgren | DC, FRCC, MMedEd, PhD |
Associate Professor |
Department of Learning, Informatics, Management and E

[2021-07-08 10:07] boutinb commented on #1350
There is also the possibility to install JASP with zip file: http://static.jasp-stats.org/Nightlies/WindowsZip/JASP-nightly-development-16009c4ff93f15056002867a04dd06f4b42f6c9b.zip
You don't need admin tights for this.

[2021-07-08 10:17] PerPalmgren commented on #1350
This is too complicated for me🙄 and I do not dare to do this 😜. Thanks, any way! Hopefully it will be resolved in the updated JASP version🙏.
Per

Per J. Palmgren | DC, FRCC, MMedEd, PhD |
Associate Professor |
Department of Learning, Informatics, Management and Ethics |
Karolinska Institutet | Tomtebodavägen 18A | 171 77 Stockholm |
Tel. + 46 8 524 85 294<tel:+%2046%208%20524%2085%C2%A0294>
***@**

[2021-07-08 21:42] akashrajkn commented on #1348
Thank you for reporting the issue.

**Regarding the first issue**

This is the output I get after uncommenting the footnotes (for reference):
![aaa_table_1](https://user-images.githubusercontent.com/6959308/124993309-7e855f80-e044-11eb-90c2-f9f66dc3d9a1.png)

I can fix it the output as follows:
![aaa_table_2](https://user-images.githubusercontent.com/6959308/124993379-95c44d00-e044-11eb-9a1b-14476

[2021-07-09 07:21] boutinb commented on #1353
Hi @izahn It's really great that you want to do this. I have no experience in Conda, so I'm afraid I cannot help you much in writing the scripts. But I see for example that you have to replace the hard coded '/usr/' folder to the '$PREFIX' environment variable. Such things could be done directly in the JASP repository. So if you need that, don't hesitate to ask.
Also you need to list the R package

[2021-07-09 07:38] glaswasser commented on #1348
For the first issue I think you missed my point. The error is in the 10th point: Not only in the legend, the flagged correlations are commented out, but IN THE TABLE, the correlations are NOT FLAGGED (as written in "10. See error: flagged correlations are not marked by stars **in table** (and badly formatted below the table, _which is a minor problem_)". There are no stars INSIDE THE TABLE even wh

[2021-07-09 07:43] boutinb commented on #1350
Hi @PerPalmgren As I cannot reproduce your issue, I cannot do much to fix it. I know it asks you some time, and you have probably many other things to do, but It would be really a pity if this problem is still not solved in 0.15. It is really possible to install JASP on Windows even if you are not admin of your own PC, even by using the installation file ( http://static.jasp-stats.org/Nightlies/Wi

[2021-07-09 07:57] vandenman commented on #1353
Perhaps you can borrow that from our flatpak setup. That way, you ensure that you always use the same packages as flatpak. The easy way is to do this is to download the latest version of the flatpak archive from http://static.jasp-stats.org/flatpak_archive.tar.gz.

The slightly more complicated way is to generate this archive yourself. For that, you can use this file https://github.com/vandenman/j

[2021-07-09 08:09] PerPalmgren commented on #1350
Hi Bruno,
Using the way you suggested still required me a password, but I have contacted my IT department and asked them to provide me with a code. I will try to download 15.0 and run my regression analysis .
I will return to you as soon as possible 😎😜.
All the best
Per

Per J. Palmgren | DC, FRCC, MMedEd, PhD |
Associate Professor |
Department of Learning, Informatics, Management and Ethics |
Kar

[2021-07-09 08:26] akashrajkn commented on #1348
@glaswasser I see the issue now. Thank you for clarifying it - I'll take a look at it

[2021-07-09 08:42] PerPalmgren opened #1354 "[Feature Request]: Edit plots that are part of multiple smaller figures"
* JASP version: 0.19.3 - 0.97.1

![IM4FVQCL6U10](https://user-images.githubusercontent.com/79397662/125050362-3006ae00-e0a2-11eb-800e-d6fda0885c4c.png)

Being able to customize if scientific notation is shown and being able to edit multi-plots

[2021-07-09 08:48] vandenman commented on #1354
possible duplicate of https://github.com/jasp-stats/jasp-issues/issues/1352

The scientific notation is there to avoid the y-axis labels from becoming too large. The next version of JASP will allow you to modify the plot labels and remove the scientific notation if you prefer.

[2021-07-09 10:55] PerPalmgren commented on #1350
Hi Bruno,
I manage to download JASP 0.15. I have run the regression and it seems to be ok  (print screen attached) with the letter “ö” 😊😜🙏. Two questions! When will the official 0.15 be released? Do I need to remove this 0.15 version when it is launched, or will it update automatically?
All the best
Per

Per J. Palmgren | DC, FRCC, MMedEd, PhD |
Associate Professor |
Department of Learning, Inform

[2021-07-09 10:57] izahn commented on #1353
Thanks @boutinb and @vandenman , appreciate your support and help! I've invited you to be listed as co-maintainers of the conda package -- I would do the heavy lifting but it would be great to have you there for support.

Thanks for the invitation to work here to make packaging easier e.g. by replacing hard-coded `/usr` in the JASP code base. I'll take you up on that!

The R package issue is one t

[2021-07-09 11:09] PerPalmgren commented on #1350
Hi Bruno,
I saw a glitch on when I took her for a spin. In the Descriptive plots in the One sample t-test the value zero (0) on the Y-axis looks very strange (like It is superimposed). I attach the JASP file.
All the best
Per

Per J. Palmgren | DC, FRCC, MMedEd, PhD |
Associate Professor |
Department of Learning, Informatics, Management and Ethics |
Karolinska Institutet | Tomtebodavägen 18A | 171

[2021-07-09 11:24] PerPalmgren commented on #1350
Ignore the glitch I mentioned “it was me who was to quick” 😊

Per J. Palmgren | DC, FRCC, MMedEd, PhD |
Associate Professor |
Department of Learning, Informatics, Management and Ethics |
Karolinska Institutet | Tomtebodavägen 18A | 171 77 Stockholm |
Tel. + 46 8 524 85 294<tel:+%2046%208%20524%2085%C2%A0294>
***@***.******@***.***> | ki.se<https://eur01.safelinks.protection.outlook.com/?url=http%3

[2021-07-09 11:31] vandenman commented on #1350
Hi, @PerPalmgren thanks for the quick reply and I'm happy to read that 0.15 solves the issue! From your message, it looks like you attached files, but unfortunately that doesn't get forwarded to us. To include attachments, you must directly use the GitHub website.

The next release is planned for after the summer holidays.

@boutinb probably knows the answer to that.

[2021-07-09 11:54] vandenman commented on #1353
This might be possible and using those would probably speed up the installation process. However, I can think of a couple of things that may or may not be a problem:

1. JASP internally uses `renv` to handle dependency management. From 0.15 onward, the different jasp modules (which are essentially R packages) all have their own library. I have no idea how this interacts with the folder structure a

[2021-07-09 12:48] izahn commented on #1353
Hmm, I'll need to figure out how to handle this. `conda` and `renv` overlap almost entirely, the main difference being that `conda` is not R specific (e.g., you can't in principle install jasp using `renv`, but you can do so using conda). I don't think jasp modules being R packages should pose any problem, but figuring out how to reconcile `renv` and `conda` package management features will take s

[2021-07-09 12:52] PerPalmgren commented on #1350
Thanks,
However, when I run a scatter plot in Descriptive in version 0.15 it does not see to recognize the Scandinavian letters å, ä and ö (it use to do that in version 0.14.1) 😢😢😢. See attached photo. Does JASP use CSV UTF-8 everywhere?
![Picture2](https://user-images.githubusercontent.com/79397662/125080508-2b072600-e0c5-11eb-9d0e-be55d4227ba5.png)

[2021-07-09 13:14] vandenman commented on #1353
So as long as a few basic packages are available, JASP installs all missing dependencies while building using `renv`. At that point, the `renv` cache is also created so that packages can be efficiently reused. If conda allows internet access while building then that should sort itself out.

If by release, you mean a tag, then no most of these do not. We know all of the maintainers though so I gues

[2021-07-09 14:28] boutinb commented on #1350
What strange.... But I see that you use another file. Is this file also in UTF-8? Could you send it to us? And also the log files?

[2021-07-09 14:39] izahn commented on #1353
Conda-forge policies [discourage external dependencies](https://conda-forge.org/docs/maintainer/adding_pkgs.html#avoid-external-dependencies), and from a practical standpoint I want to use conda-forge R packages and avoid installing a separate set of R packages just for jasp. It sounds like we should be OK if all R dependencies are installed via conda at build time. Does "missing dependency" here

[2021-07-09 15:00] izahn commented on #1353
I also notice that the `renv` folks have thought about conda integration over in https://github.com/rstudio/renv/issues/80. Maybe worth seeing if the `renv` devs have any thoughts about the conda/renv integration issues we are discussing here.

[2021-07-09 15:53] PerPalmgren commented on #1350
Thus is also a UTF-8 file. I did a second one (attached) just in case.
It woks fin for the regression now but the variable labels for the X the Y axis on the plots seems problematic.
I also attach the log files.
Per😎
[16b Multipel linjär regression (hierarkisk).zip](https://github.com/jasp-stats/jasp-issues/files/6792545/16b.Multipel.linjar.regression.hierarkisk.zip)
[Log JASP.15 PP.zip](https://g

[2021-07-09 15:57] PerPalmgren commented on #1354
I could not see this new function in 0.15(that I am trying now have the opportunity to try as there has been a problem with the Swedish letters  (å, ä, ö) in the regressions.😎
Per

[2021-07-09 16:55] suhrudp opened #1355 "JASP crashed"
* JASP version: 0.14.1
* OS name and version: Windows 10 (10.0)
* Analysis:
* Bug description:
* Expected behaviour:

#### Steps to reproduce:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

-----------------------------------------------------------------------

### Debug information:
**Engine # 0** process *does not exist (anymore)* and it's state is *stopped*.
**Engine

[2021-07-09 18:17] vandenman commented on #1355
Hi @suhrudp, could you provide a bit more information on what you were doing when JASP crashed?

[2021-07-09 22:17] RaoVNV commented on #206
Agree with fellow commenters. The only reason I'm not using JASP is because I teach survival analysis, and I only want my students to have to learn one software. Looking forward to the day that JASP can do KM curves and PH regression.

[2021-07-10 06:22] FBartos commented on #206
I can completely understand that.

The good thing is that I will start implementing these analyses in a couple of weeks and even though they won't make it into the upcoming release, I'm confident that they will be in the next one!

[2021-07-12 07:42] vandenman commented on #1354
If you click on the name of a plot:
![image](https://user-images.githubusercontent.com/21319932/125249292-5b350b80-e2f5-11eb-824f-717a0b7ae47c.png)

you should get a menu like this, where you can select plot editing:
![image](https://user-images.githubusercontent.com/21319932/125249341-6d16ae80-e2f5-11eb-847c-fb5341167e42.png)

[2021-07-12 08:42] PerPalmgren commented on #1354
It seems to work in distributions plots but not in scatter plots.

[2021-07-12 08:44] vandenman commented on #1354
If you're getting this error message:
![image](https://user-images.githubusercontent.com/21319932/125257871-195c9300-e2fe-11eb-97a6-17d269f08117.png)

then it is not supported (and probably won't be supported for the upcoming release).

[2021-07-12 09:04] TriRob opened #1356 "Display ratios in forest plot"
* Enhancement: Meta-Analysis for binary outcomes
* Purpose: Pooling estimates from studies with binary outcomes (e.g. risk ratios, odds ratios).
* Use-case: Many outcomes in the field of health and medicine are binary (heart attack, stroke, remission, death, clinically meaningful treatment response etc.) and require relevant meta-analytic options.

**Additional context**
Hi, I work in the health a

[2021-07-12 09:36] PerPalmgren commented on #1354
Yes! It was this error message..
That is sad it will not be in the new version 😢
Per

Per J. Palmgren | DC, FRCC, MMedEd, PhD |
Associate Professor |
Department of Learning, Informatics, Management and Ethics |
Karolinska Institutet | Tomtebodavägen 18A | 171 77 Stockholm |
Tel. + 46 8 524 85 294<tel:+%2046%208%20524%2085%C2%A0294>
***@***.******@***.***> | ki.se<https://eur01.safelinks.protection

[2021-07-12 10:56] AlexanderLyNL commented on #1354
One way to hack this is by saving the plot as a pptx-file and edit it in powerpoint or google slides, also available in 0.14.1

https://jasp-stats.org/wp-content/uploads/2020/07/Save_Plot_Powerpoint-1.gif

[2021-07-12 11:17] PerPalmgren commented on #1354
My concern was primarily for when using JASP in teaching in during online statistic labs.

Per J. Palmgren | DC, FRCC, MMedEd, PhD |
Associate Professor |
Department of Learning, Informatics, Management and Ethics |
Karolinska Institutet | Tomtebodavägen 18A | 171 77 Stockholm |
Tel. + 46 8 524 85 294<tel:+%2046%208%20524%2085%C2%A0294>
***@***.******@***.***> | ki.se<http://ki.se/>
______________

[2021-07-13 00:26] rkela opened #1357 "could'nt install JASP"
* JASP version: JASP 0.14.1

* OS name and version: Chromebook 32-bit
* Analysis:  I was typing the codes in the terminal, and it was all good until I typed "flatpak --user remote-add --if-not-exists flathub https://dl.flathub.org/repo/flathub.flatpakrepo" and it said, "command not found". I did it like you showed in the pictures, so I don't know what I did wrong
 Is the problem with my Chromebook

[2021-07-13 06:53] vandenman commented on #1357
Hi @rkela, what do you get when you run `flatpak --version` in a terminal? If that also returns `command not found` you should probably double-check if installing flatpak went correctly.

[2021-07-13 14:06] FBartos opened #1358 "Add GLMM Signal Detection Theory"
* Enhancement: GLMM approach to Signal Detection Theory

details and example analyses in the original post:
https://forum.cogsci.nl/discussion/7311/using-generalized-linear-mixed-model-for-signal-detection-theory

[2021-07-13 15:04] boutinb commented on #1356
@sophieberkhout Can you answer this request?

[2021-07-14 10:10] sophieberkhout commented on #1356
JASP already provides various random-effects models. A random-effects model can be fitted with one of the various estimators for the amount of heterogeneity (you can find these in the 'Method' dropdown menu):

- Maximum Likelihood
- Restricted ML
- DerSimonian-Laird
- Hedges
- Hunter-Schmidt
- Sidik-Jonkman
- Empirical Bayes
- Paule-Mandel

I believe it is even possible to conduct the HKSJ method

[2021-07-14 10:54] AnguloB opened #1359 "Unexpected behavior opening .csv with text columns"
* JASP version:  0.14.1

* OS name and version:  MacOs. BigSur MacBook Pro
* Bug description: When I try to open .csv with long strings and lots of rows JASP crashes. When I try to open the same file but with less rows and with the problematic row, it doesn’t crash but there are missing rows (and there is no warning). With R (and excel) I can open it with any problem.

#### Steps to reproduce:
1.

[2021-07-14 16:28] TriRob commented on #1356
Many thanks, Sophie! That's very helpful! I was confused by the forest plot. I think it would be useful to have available more interpretable effect measures such as odds rations or risk ratios as the output in the forest plot. This seems to be restricted to log odds ratios (https://jasp-stats.org/2017/11/15/meta-analysis-jasp/). Maybe there could be an option where this is back transformed in the

[2021-07-15 11:10] Ilse90 commented on #1334
Hi Frantisek,

Do you maybe know when the next JASP version will be launched?

Regards,
Ilse

[2021-07-15 14:25] boutinb commented on #1359
Hi @AnguloB I see the problem. Apparently when a row has more than 4096 characters, JASP crashes. I will fix this problem.

[2021-07-15 15:54] FBartos commented on #1334
Hi Ilse,

the planned launch is at the end of Augustus.
(it's taking a bit longer than expected, but we have many new features that require extensive testing)

Cheers,
Frantisek

[2021-07-16 08:51] sophieberkhout commented on #1356
I see. As you are probably aware, when using ratios as effect sizes, you need to take the log (for normality) to be able to conduct the meta-analysis. However, I agree that it would be nice if the forest plot could show the ratios without the log. I will see if I can add this functionality.

[2021-07-16 12:20] Ilse90 commented on #1334
Thank you for letting me know!

[2021-07-16 12:39] sophieberkhout commented on #1223
Sorry for the late response. It indeed looks like the scaling of the funnel plot is off. I will fix it.

ps. Soon it will be possible to edit plots in JASP :)

[2021-07-16 13:36] sophieberkhout commented on #524
I believe the problem here was a BF of infinity. An appropriate error message was added a while ago.

[2021-07-16 13:36] #524 closed

[2021-07-17 08:03] sachinthorat5989 opened #1360 "Jasp crashes while changing variable labels"
* JASP version: the latest one i guess

* OS name and version: linux mint 20.1
* Analysis:
* Bug description: window just closed after hitting enter to change the variable labels
* Expected behaviour:

#### Steps to reproduce:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

[2021-07-18 12:25] TriRob commented on #1356
Thanks a lot!

[2021-07-19 11:46] FBartos opened #1361 "[Feature-Request]: better handling of different effect sizes in `Meta-Analyses`"
The current handling of different effect sizes across the analyses included the Meta-Analysis module could be improved (it's very heterogenous now, mostly due to me adding options for using correlations or log(OR) within some of the modules).

I think that we could create a solution to this problem that could be applied universally across the whole module. We could have two separate analyses dedic

[2021-07-21 12:16] JorisGoosen commented on #1302
Well good that it works a bit better, sadly enough I see in the 17_44_45 Engine 1 log that it still fails to find the shared memory suddenly (which is probably why JASP stops responding):
[code]

I'm quite mystified why those files keep disappearing... I would really like to solve it and help you out with our next version but I am running out of ideas. Is there some kind of filesystem cleaner runn

[2021-07-21 13:31] Type-token commented on #1302
What are  filesystem cleaners? I use 360 antivirus.

On Wed, Jul 21, 2021 at 8:17 PM Joris Goosen ***@***.***>
wrote:

[2021-07-21 13:44] JorisGoosen commented on #1302
Well, I wouldn't know for sure. But I find it mysterious that the backing file that boost-shared-memory uses keeps disappearing on your system..

Basically the file is there for a while and then at some point JASP tries to reload from it and it fails because: `Error when retrieving the data set: The system cannot find the file specified.`  so it has somehow gone missing.
This would be a file in `c

[2021-07-21 13:47] JorisGoosen commented on #1302
Figuring out if it is Norton would of course be easy, simply disable Norton entirely for a bit, run JASP and see if it doesn't crash then.

And I'm fairly sure windows wouldn't be automatically cleaning up stuff (and enabling it looks a bit complicated anyway: https://docs.microsoft.com/en-us/troubleshoot/windows-server/backup-and-storage/automating-disk-cleanup-tool) so most likely that isn't run

[2021-07-21 15:06] #1198 closed

[2021-07-22 10:47] boutinb commented on #1360
Hi @sachinthorat5989 Do you use flatpak to run JASP?

[2021-07-22 11:03] fqixiang commented on #707
I looked into this issue. The R code used to calculate sensitivity and specificity in JASP is correct (which is based on the HMeasure function from an existing library called hmeasure). I also ran a logistic regression model myself on a data set I am familiar with; the output sensitivity and specificity scores are also correct. So I don't think there is something to be fixed on the JASP part. The

[2021-07-22 11:03] #707 closed

[2021-07-22 11:11] #1359 closed

[2021-07-22 11:59] sachinthorat5989 commented on #1360
I have tried opening with and without flatpak. Got similar responses.

On Thu, 22 Jul 2021, 16:18 bruno boutin, ***@***.***> wrote:

[2021-07-22 14:29] JorisGoosen commented on #1360
How do you open JASP without flatpak?

[2021-07-22 15:45] TarandeepKang opened #1362 "Multiple imputation"
* Enhancement: Adding a multiple imputation routine
* Purpose: better handling of missing data
* Use-case: missing data are common in quantitative studies using questionnaires, which are widely used in psychology, epidemiology, and some other areas of medicine, especially in cases where trimming/winsorisation is not sufficient to deal with greater numbers of missing data points. See for example th

[2021-07-22 15:50] EJWagenmakers commented on #1362
We are in fact already in the process of implementing MICE. It takes a little longer than expected, because in the mean time we also added data editing.
Cheers,
E.J.

[2021-07-22 16:01] TarandeepKang commented on #1362
That must be the fastest response in history! In any case, now I will be able to help our UGs and my R-phobic PhD supervisor transition away from SPSS, because JASP will be able to fulfil all of their needs. Thank you again for all the hard work, folks!

[2021-07-22 16:46] sachinthorat5989 commented on #1360
The option available in programs menu. I don't know the technical term
about it.

On Thu, 22 Jul 2021, 19:59 Joris Goosen, ***@***.***> wrote:

[2021-07-22 19:32] JorisGoosen commented on #1360
Ok, well if you open "File Menu -> About" and then look there which version do you have?

[2021-07-24 15:45] Ankeetal opened #1363 "Timestamp's string invalid SPSS datafile"
* JASP version: 0.14.1

* OS name and version: Windows
* Bug description: Tried to open an SPSS (sav) datafile and received the following error message: the timestamp's string is invalid. JASP could therefore not open the file (but SPSS could). I have been able to open other SPSS datafiles (same version) without this error.
* Expected behaviour:

#### Steps to reproduce:
NA

<!--- A note from the

[2021-07-25 08:23] sachinthorat5989 commented on #1360
[image: image.png]
There you go.

On Fri, Jul 23, 2021 at 1:02 AM Joris Goosen ***@***.***>
wrote:

[2021-07-25 11:37] JorisGoosen commented on #1360
Sorry @sachinthorat5989 but you have to go to https://github.com/jasp-stats/jasp-issues/issues/1360 to upload your attachment there, github drops any attachments in emails...

[2021-07-25 13:07] sachinthorat5989 commented on #1360
the installed version is 0.14.3

On Sun, Jul 25, 2021 at 5:07 PM Joris Goosen ***@***.***>
wrote:

[2021-07-25 15:11] tomtomme opened #1364 "Add Kendall tau c, gamma, somers d, descr. which spearman in use and missing BS CIs"
We have spearman and kendall tau b for ordinal correlations. But kendall tau c is needed for non-quadratic matrices (where var x and y have different range).

While we are at it we could add gamma and somers d to the mix and state their differences in the help text. (Currently the help text states no difference at all between spearman and kendall tau b.)

Also: spearman has a correction formula fo

[2021-07-25 22:22] Yazeed80 opened #1365 "I a new user and I need help with this notification: This analysis terminated unexpectedly. Error in lavaan::lavTestLRT(semContainer[['semResultsList']]$object$semResults): lavaan ERROR: model did not converge Stack trace tryCatchOne(expr, names, parentenv, handlers[[1]]) doTryCatch(return(expr), name, parentenv, handler) withCallingHandlers(expr = analysis(jaspResults = jaspResults, dataset = dataset, options = options), error = .addStackTrace) analysis(jaspResults = jaspResults, dataset = dataset, options = options) .semMainTable(semContainer, options, dataset, ready, position = 1) lavaan::lavTestLRT(semContainer[['semResultsList']]$object$semResults) stop('lavaan ERROR: model did not converge')"
* JASP version:0.14.10

* Bug description:
* I a new user and I need help with this notification:  This analysis terminated unexpectedly.   Error in lavaan::lavTestLRT(semContainer[['semResultsList']]$object$semResults): lavaan ERROR: model did not converge  Stack trace tryCatchOne(expr, names, parentenv, handlers[[1]])  doTryCatch(return(expr), name, parentenv, handler)  withCallingHandlers(expr

[2021-07-26 07:19] agnesegattone opened #1366 "data layout in network analysis"
[pre+post.jasp.zip](https://github.com/jasp-stats/jasp-issues/files/6891103/pre%2Bpost.jasp.zip)

* JASP version: 0.14.1

* OS name and version: MacOS Big Sur
* Analysis: Network Analysis
* Bug description: This analysis is terminated unexpectedly.
Error in if curve (curve[I] = 0 & !XKCD & knots[I] = 0) {: missing value where TRUE/FALSE needed
* Expected behaviour: The network plot of the second n

[2021-07-26 08:32] Kucharssim commented on #1364
Hello @tomtomme,

Thanks for the suggestions!

This has been implemented recently and will be part of the next release.

Otherwise great suggestions, I think we should definitely take a look into the ties and give that information to the user. I am not opposed to adding new coefficients, curious what @AlexanderLyNL and @EJWagenmakers think?

Best,
Simon

[2021-07-26 20:33] djdekker opened #1367 "Feature Request: Data sets from Hand et al. (1994)"
* Enhancement:
  Add the data sets of **D.J. Hand, F. Daly, A.D. Lunn, K.J. McConway, & E. Ostrowski. (1994). _A Handbook of Small Data Sets_. Springer** to the JASP Data Library (if the publisher agrees, of course). It would be the third book after Field and Moore et al.

* Purpose:
  Offer plenty of small datasets taken from real life for teaching and practicing purposes.

* Use-case:
  For teac

[2021-07-26 21:22] App-State-Prof opened #1368 "Graphics for classification and regression trees?"
Good afternoon, I had submitted for this in 2020. Is it possible to add the option for decision tree graphics in the JASP machine learning module?

Graphic below comes from add on in R studio called Radiant:

![image](https://user-images.githubusercontent.com/33431829/127060924-27562d57-6824-4385-b4fc-fdcdf31d2383.png)

Thank you,

[2021-07-27 11:31] AnthonyWonga opened #1369 "Option to align dots when error bars are displayed in descriptive plots"
* Enhancement: An option to align dots with error bars in descriptive plots
* Purpose: For making figures similar to those in mainstream journals
* Use-case: Making figures for publication

**Is your feature request related to a problem? Please describe.**
When JASP produces descriptive plots, the dots do not align on a straight vertical line when error bars are included (see below with data from

[2021-07-27 17:18] mikefmikef opened #1370 "Problem with Mediation analysis"
* JASP version: Most recent (downloaded in last few days)
* OS name and version: Windows
* Analysis: Mediation
* Bug description:
When I use the following data with Mediator analysis (using bootstrap):

A column: Independent variable
B column: Medator variable
C column: Dependent variable

A      B                      C
1.32	0.000798458	20
0.81	0.000771	        27
1.49	0.001319925	22.8
1	0.001804

[2021-07-28 07:19] vandenman commented on #1366
hi @agnesegattone in order to upload a jasp file here, you either need to zip the file, or change the extension of the file to .zip. It would be very helpful if you could upload the file, as otherwise, it will be difficult to debug this issue.

[2021-07-28 07:22] vandenman commented on #1365
Hi @Yazeed80 could you upload the jasp file here (as a zip file) so that we could inspect the issue?

[2021-07-28 07:26] agnesegattone commented on #1366
Hi @vandenman, thanks for the tip! I just added the data as a zip file.

[2021-07-28 08:40] teamagilelaura opened #1371 "Linear regression - Casewise Diagnostics - Amount of outliers does not decrease after filtering case numbers out"
* JASP version: 0.14.1
* OS name and version: MacOS BigSur 11.4
* Analysis: Linear Regression (Classical)
* Bug description: In the _casewise diagnostics_ I have cases that are reported as outliers, e.g. case number 48. As soon as I filter out case number 48 and run the analysis again, it shows a new case number as an outlier, e.g. 47. Hereby, overall the amount of case numbers stays the same, the

[2021-07-28 09:35] vandenman commented on #1371
@teamagilelaura by default, cases with a standardized residual above 3 are interpreted as outliers. However, when you filter out outliers, you effectively change the entire standardization process (which is based on all data). I would not recommend filtering out all outliers by default, only to further inspect these cases for any particular oddities (which may be grounds to exclude them). In addit

[2021-07-28 14:21] jubera opened #1372 "Mean vs Median (Bayesian LMM)"
Hi,

I am performing Bayesian LMM analysis with JASP. I would like to perform a graph to see the raw means vs the estimated means.

However, JASP output gives the Median and the lower and upper 95% HPD (see screenshot attached). Would it be possible to get the means in addition to the medians? or maybe my question does not make sense at all (?)

Thanks in advance for your help!

Esperanza

![Scree

[2021-07-28 14:42] teamagilelaura commented on #1371
Thank you very much @vandenman !

[2021-07-28 14:42] #1371 closed

[2021-07-29 09:30] pheemmmy opened #1373 "JASP on Windows doesn't open at all"
I downloaded the latest version of JASP, I couldn't open it.
I uninstalled and downloaded the previous versions, I still couldn't open them.
Please kindly advise.

[2021-07-29 10:02] pheemmmy commented on #543
I am using windows. I tried the safe graphics command. It doesn't work.
How can I undo the safe graphics?.

I still couldn't open.
It installed properly.

[2021-07-29 10:38] JorisGoosen commented on #543
Hello @pheemmmy please just open a new issue for this and describe your situation more carefully there, see https://jasp-stats.org/2018/03/29/request-feature-report-bug-jasp/

[2021-07-29 11:21] pheemmmy commented on #543
Thank you,
I opened a new issue already. Thank you

On Thu, Jul 29, 2021 at 11:38 AM Joris Goosen ***@***.***>
wrote:

--
*Kind regards,*

*OLAJIDE O. EMMANUEL*
*LinkedIn: **www.linkedin.com/in/emmanuel-olajide
<http://www.linkedin.com/in/emmanuel-olajide>*

[2021-07-29 18:22] izahn commented on #1353
Based on the discussion here it seems like there will be some changes required when 0.15 is released. Nevertheless I plan to move forward with packaging 0.14 since all the work for that has already been done. I now have all the R package dependencies packaged in conda-forge, and the JASP conda-forge recipe itself has been updated and re-submitted in https://github.com/conda-forge/staged-recipes/pu

[2021-07-30 14:28] meaadk commented on #90
Hello,
what happened to the editing of the y axis range? how can i control it and change the range (min and max).
thank you

[2021-07-30 15:05] vandenman commented on #90
This will be available in the upcoming release.

[2021-07-30 16:24] teapot81 opened #1374 "Can't change scalar data to ordinal"
* JASP version: 0.14.1
* OS name and version: Mac 11.4
* Analysis: Not got far enough to do any analysis
* Bug description: See title
* Expected behaviour: It should just work

#### Steps to reproduce:
1. Have an ordinal dataset of 1, 1.5, 2, 2.5 etc. (These are ordinal categories of disability).
2. Try to change it from Scale to Ordinal
3. Despair when nothing happens

<img width="73" alt="Screen

[2021-07-30 19:03] vandenman commented on #1374
So the latest development version at least shows an error message when I try to change contOrdinal from `Scale` to `Ordinal`:
![image](https://user-images.githubusercontent.com/21319932/127699005-d23cd472-9130-47e2-ae27-7d61ea00cc1c.png)

The issue is with the decimal values. A workaround is recoding the column into consecutive integers. To do so, click `Computed Column`:

![image](https://user-im

[2021-07-30 19:36] tomtomme commented on #1364
Thx for the fast reply. I updated the above accordingly and added some references and details.

[2021-07-31 13:48] mikefmikef commented on #1370
I THINK I've found the source of the error - it is because of this column of data:

0.000798458
0.000771
0.001319925
0.001804233
0.002713422
0.002418353
0.004975053
0.003740752
0.005883473
0.006377
0.010447035

I think JASP struggles with this data because it takes all of them as 0. When i multiply this column by 1000, to make them all greater than 1, the analysis proceeds without error message re

[2021-08-04 17:35] GregBorghi opened #1375 "3-way RM ANOVA"
* JASP version: 0.14.1

* OS name and version: Windows 10
* Analysis: Bayesian RM ANOVA
* Bug description: When attempts to run a 3-way (2x2x2) RM factor ANOVA that comprehend a single between-subject factor with 2 levels and 2 covariates, the software enters in a permanent state of loading and the charging bar does not move (I tried to leave it for like 2 hours but the charging bar was still at 0

[2021-08-04 17:45] GregBorghi opened #1376 "Error when Adding Interaction effect to Bayesian RM ANOVA"
* JASP version: 0.14.1
* OS name and version: Windows 10
* Analysis: Bayesian RM ANOVA
* Bug description: when running a 2-way (2x2) ANOVA with 1 between subject factor with 2 levels and 2 covariates the moment I add the Cortisol covariate in the interaction terms the analysis present this error --> "Error in array(0, dim = c(steps, nparam, 2), dimnames = list(NULL, names(weightedMeans), : length

[2021-08-05 11:45] vandenman commented on #1375
So there are an incredibly large number of models present. If I were you, I'd delete all interactions effects, unless you actually have hypotheses about them. You can do so by going to `Models` and removing all the terms that contain an interaction effect. You can select a range of models by holding shift or ctrl, similar to how you can select multiple files in windows explorer.

Once I remove all

[2021-08-05 12:10] vandenman commented on #1376
Thanks for reporting this issue! Luckily, I could not replicate it in our current development version (I recently fixed a bug similar to this one and it seems like it also solved your issue). If you'd like, you can use a nightly version (available at https://static.jasp-stats.org/Nightlies/), but there should also be a new release in a month or so that contains the fixed version.

As in #1375, the

[2021-08-05 13:45] kshitizkz commented on #90
Changing the y axis range would be VERY useful.

Also, although I figured out a hack (very new to JASP), it would be very useful if we could plot multiple box plots in a single figure. Right now it plots each box-plot in a single image.

[2021-08-05 13:58] vandenman commented on #90
@kshitizkz if you want multiple box plots in a single figure and your data is in long format (i.e., one column with data and another column that indicates the category) then you could do something like this:

![image](https://user-images.githubusercontent.com/21319932/128362562-593eae0b-ae4d-42bc-b8ac-0401ba53aff5.png)

[2021-08-06 07:53] sachinthorat5989 commented on #1360
Found any issues?

[2021-08-07 07:50] FBartos commented on #1372
Hi Esperanza,

I'm sorry but it's not currently possible to obtain the desired output. We are using the `emmeans` package and it seems to only provide medians and 95% HPD.

Best,
Frantisek

[2021-08-07 10:08] AlexanderLyNL commented on #1372
To clarify, the table shows a summary of the posterior of the marginal means. For instance, the posterior median 1.039 can be used as a point estimate for the marginal mean for Row 1 and Session 1. After data observation, the table shows that there is a 95% probability that the marginal mean of Row 1 and Session 1 is between 0.845 and 1.229.

[2021-08-07 10:45] JorisGoosen commented on #1360
@sachinthorat5989 we are working really hard on releasing the next version of JASP, which contains many changes and fixes.

I haven't had any issues with that one working on linux but maybe something is different in your system.

What you could do to help me out is:
- enable safe graphics in filemenu->preferences-advanced->safe-graphics
- try installing the beta version of JASP (maybe this one is

[2021-08-09 13:09] kylebarrentine opened #1377 "SSO connection to OSF"
The connection to OSF only allows for manual logins, would enjoy the addition of the SSO logins so that I am able to load data from my university.

[2021-08-10 11:36] Ziggyblake opened #1378 "Crash on cluster analysis when adding predicted clusters (linux)"
* JASP version: 0.14.3
* OS name and version: Linux mint 20.1
* Analysis: Everytime I try to run a cluster analysis it works properly, but when I want to add the cluster to the data ("Add predicted clusters to data") JASP totaly crashes and closes. I have tried to uninstall and reinstall, through the software manager and through the flatpak, the error is still here. A few month ago it used to work

[2021-08-10 12:16] vandenman commented on #1378
I can replicate this on flatpak 0.14.3, the current flatpak beta branch, but not on a locally build development version.

[2021-08-11 10:27] showers14 opened #1379 "[Feature Request]: data file stratification / spliting (split files)"
* Enhancement:sort cases by AUTHOR definition.
* Purpose:SPLIT FILE LAYERED BY AUTHOR definition.
* Use-case:

**Is your feature request related to a problem? Please describe.**

no
**Describe the solution you'd like**

in spss，there is an option called "Split files" in DATA OPTION, author could spilt data into groups, check the results of each group.
**Describe alternatives you've considered**

n

[2021-08-11 11:01] vandenman commented on #1379
Does this relate to a specific analysis? Perhaps descriptives or meta-analysis?

[2021-08-11 14:40] kornbrot opened #1380 "JASP crashed"
* JASP version: 0.13.1
* OS name and version: macOS 10.16
* Analysis:
* Bug description:
* Expected behaviour:

#### Steps to reproduce:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

-----------------------------------------------------------------------

### Debug information:
**Engine # 0** process *crashed* and it's state is *initializing*.
**Engine # 1** process *cra

[2021-08-11 20:12] kriscoul opened #1381 "JASP won't open after install"
* JASP version: 0.14.1

* OS name and version: MacOS Big Sur version 11.4
* Bug description: When I try to open JASP after installing it, JASP does not open and I get an error message saying "JASP quit unexpectedly". I've tried reinstalling and still get the same issue. Please advise.

[2021-08-12 09:09] vandenman commented on #1378
@JorisGoosen it looks like this happens more generally on flatpak (e.g., Network analysis is also affected). Perhaps the computed column stuff goes wrong somewhere?

[2021-08-12 13:08] JorisGoosen commented on #1378
Yeah indeed, even adding a computed column and filling it with values crashes...

I am having quite some trouble getting the debugsymbols loaded in flatpak though...

[2021-08-13 11:47] Ziggyblake commented on #1378
PS: most machine learning algorithms do the same when you want to add the data, its not only the "clustering" ones.
Any tricks on how to get past the bug while waiting for your brilliant brains to find a solution?
Thanks

[2021-08-13 12:01] vandenman commented on #1378
@Ziggyblake JASP 0.14 does not have the issue, so you could try using that version (see [downgrading flatpak](https://docs.flatpak.org/en/latest/tips-and-tricks.html#downgrading)). The alternative is to not save anything to the dataset, but I guess that's not a very nice option.

[2021-08-13 13:48] TarandeepKang commented on #1379
No, in SPSS this is just a general data management feature. It is applicable across multiple analyses: https://libguides.library.kent.edu/spss/splitdata  relatedly, it would probably also be useful to add a weighting function, this popped into my mind as a similar data management feature that is useful across multiple analyses.

[2021-08-13 14:06] vandenman commented on #1379
possibly related: https://github.com/jasp-stats/jasp-issues/issues/395 & https://github.com/jasp-stats/jasp-issues/issues/635

[2021-08-13 15:53] SkillTone opened #1382 "Need a dedicated Add-on for Econometrics Modelling in JASP to work Time Series and Panel Model"
* Enhancement: I am from Bangladesh and would like to request to make a dedicated feature for Econometrics modelling, such as Time series analysis, Panel modelling etc. I tried to find in R commander , and found https://www.youtube.com/watch?v=iV8_G70vPNI link. But this is not working. Our students are very happy to use JASP but need this dedicated feature like Machine Learning in JASP. No existin

[2021-08-13 19:05] djdekker commented on #1295
I tried today's (August 13) nightly build of JASP 0.15 and found that the spurious periods in the RM ANOVA Post Hoc Tests no longer appear.

But the spurious commas in the ANOVA Post Hoc Tests are still around:
<img width="1775" alt="spurious_commas" src="https://user-images.githubusercontent.com/5346286/129406889-b304a496-1daf-4ef0-9763-07f3686e03bd.png">

[2021-08-13 19:29] EJWagenmakers commented on #1382
Thanks, these are very much on our radar!
Cheers,
E.J.

[2021-08-14 19:55] Ziggyblake commented on #1378
@vandenman thank you, but version 14.0.0 fails to launch. I can install it via flatpak, but I can't run it.

14.0.1 and 14.0.2 and 14.0.3 all work fine, but they all have the cluster bug.
I'll try with 13.1 later. Thank you.

[2021-08-14 23:18] izahn commented on #1353
JASP 0.14.3 is now available via condo-forge. The repository is at https://github.com/conda-forge/jasp-feedstock. If you are interested in assisting with maintaining the condo-forge package please open an issue or submit a pull request there.

[2021-08-14 23:36] #1353 closed

[2021-08-16 01:07] romanogino opened #1383 "Descriptive sum for Likert or any scale"
Hello

Just to improve JASP, I suggest adding the summation option in the descriptive statistics. That column or result is missing in the reports.

JASP is an excelent softaware!!

Best regards.
r.
![JASP](https://user-images.githubusercontent.com/1270242/129498736-40093850-b3e9-4869-a45f-1a057346f5d2.jpg)
![SPSS](https://user-images.githubusercontent.com/1270242/129498737-8e520350-8b3e-4f6c-aeec-

[2021-08-16 01:21] romanogino opened #1384 "Display order descriptive statistics"
Hello everybody

Just other suggestion: ascending or descending display order, alphabetical or list of variables, for descriptive statistics.
To continue improving JASP.
Best regards.

![jasp 02](https://user-images.githubusercontent.com/1270242/129499421-8ce7fed8-0373-4620-aaed-db854e913523.jpg)
![SPSS 02](https://user-images.githubusercontent.com/1270242/129499422-35db6ccf-f917-4c12-8ccf-2e08fd4

[2021-08-16 07:11] vandenman commented on #1384
Hi @romanogino, the order in tables is typically not fixed but instead follows the order in which you enter the variables:

![image](https://user-images.githubusercontent.com/21319932/129524824-78210426-a17e-4112-a524-8873d879a567.png)

If you wish the enter variables alphabetically, you can first sort the variables in the input list:
![image](https://user-images.githubusercontent.com/21319932/129

[2021-08-16 07:15] vandenman commented on #1383
Hi @romanogino, I think you can find the `sum` under `Central Tendency`:

![image](https://user-images.githubusercontent.com/21319932/129525287-b035775b-da71-4853-9ab6-49ebf364af2e.png)

In the upcoming release, however, the location of `sum` has been moved to the group `Distributions`.

[2021-08-16 10:13] boutinb commented on #1366
@vandenman Could you check this issue with the file sent by @agnesegattone ?

[2021-08-16 10:20] boutinb commented on #1373
Hi @pheemmmy Could you tell which version of Windows you use? And what do you mean exactly when you say it does not open: do you see nothing or do you see an error message, if yes which one?

[2021-08-16 10:30] boutinb commented on #1380
Hi @kornbrot Could you try the last version of JASP (0.14.1). Also if the problem still occurs, could you describe exactly what you do? How do you start JASP: clicking JASP icon, by loading a file? Do you get any error message?

[2021-08-16 10:42] boutinb commented on #1353
Thank you really much for your work!

[2021-08-16 10:44] JorisGoosen commented on #1381
Hello @kriscoul

Well, I also run Big Sur 11.4 and it does work for me...

Maybe you could try one of our development versions: https://static.jasp-stats.org/Nightlies/MacOS/JASP-nightly-development-6f00996c6355ebf73012dc7685ed7d43db924a6f.dmg

I wouldn't recommend using it to heavily, but it is roughly the upcoming version and we are running tests now. Would be good to know whether it works or no

[2021-08-16 11:10] vandenman commented on #1295
@TimKDJ This behavior was introduced by your PR: https://github.com/jasp-stats/jasp-desktop/pull/4144

I'm not sure why we need to split on `[ ,]`, do you still remember?

Fixing this is straightforward, but hopefully, you remember in what scenarios we do need to split and paste again so I don't accidentally break things.

[2021-08-16 12:16] romanogino commented on #1383
Dear @vandenman
Thanks for the information, it is useful.
Best regards.
r.

[2021-08-16 12:16] #1383 closed

[2021-08-16 12:17] romanogino commented on #1384
Dear @vandenman
I am very accustomed for looking all the options in the windows.
Thanks for the information, it is useful.
Best regards.
r.

[2021-08-16 12:17] #1384 closed

[2021-08-17 08:58] TimKDJ commented on #1295
I recall that `emmeans` first returned comma delimited results and they changed that to space delimited: https://github.com/jasp-stats/jasp-desktop/pull/4122
As we were flipping between versions of `emmeans` I made it compatible with either delimiter in the PR you linked.

Do we decode the factor levels before we perform this string splitting?

[2021-08-17 09:10] vandenman commented on #1295
In the things I tested, the factor levels were never encoded in JASP. So if there is a space in the level things just go wrong. However, what I do see is this:
[code]
but if we'd do something like this:
[code]
we obtain the desired results. I just don't know when the additional string splitting is needed.

[2021-08-17 14:38] JorisGoosen commented on #1350
Hey @PerPalmgren

I think I've fixed the problem, could you try out one of the following two:
https://static.jasp-stats.org/Nightlies/Windows/JASP-nightly-fixOutputWindows-20333849051a46c05e33a728ab140e036a8a0326.msi

https://static.jasp-stats.org/Nightlies/WindowsZip/JASP-nightly-fixOutputWindows-20333849051a46c05e33a728ab140e036a8a0326.zip

It *should* be fixed now I hope.

[2021-08-17 17:41] katelyn8401 opened #1385 "jasp won't open"
I downloaded the jasp application and I have Mac Catalina. I clicked on that and it downloaded just fine. I went to open the disc on my home screen and it opened and had the jasp with an arrow pointing to the applications folder. However, I went to double click on the jasp application and then it did warn me that this was an internet application and I pressed open and then the app just disappeared

[2021-08-18 02:00] knlyyl opened #1386 "Urgent (have assignment due in an hour)"
* JASP version: most recent

* OS name and version: macOS Catalina version 10.15.7
* Analysis:
* Bug description:
This analysis terminated unexpectedly. Error in parse(text = x, keep.source = FALSE): :2:0: unexpected end of input
1: resids ~
   ^
Stack trace
* Expected behaviour:

#### Steps to reproduce:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

[2021-08-18 07:11] vandenman commented on #1386
Hi @knlyll, sorry to hear about your assignment. Could you maybe post the jasp file with the bug in this issue? If so, you have to zip the file before uploading, otherwise, GitHub won't let you upload it.

[2021-08-19 09:20] phimi602 opened #1387 "Cannot Assign Test Set Indicator for Boosting Regression - Key analysis outlined in a preregistration!"
* JASP version:

* OS name and version: **Microsoft Windows 10 Enterprise**
* Analysis: **Boosted Regression in the Machine Learning module**
* Bug description:
![ScreenShotBUG](https://user-images.githubusercontent.com/65332772/130042428-29ed8f89-bc47-46aa-8ecc-26c6a64f34c9.png)
[BoostingRegressionBugWhenAssigningTestSetIndicator.csv](https://github.com/jasp-stats/jasp-issues/files/7013190/Boosti

[2021-08-19 11:09] JorisGoosen commented on #1350
@PerPalmgren ?

[2021-08-19 11:34] teapot81 commented on #1374
Wow, thanks! I didn't expect there to be a fix.

[2021-08-19 11:38] koenderks commented on #1387
Thanks for reporting. I've implemented a fix in https://github.com/jasp-stats/jaspMachineLearning/pull/58 and hopefully we can make sure that this does not occur in the next version of JASP.

![image](https://user-images.githubusercontent.com/25059399/130062268-37e7a0a6-e4da-486c-aff7-33347696449b.png)

[2021-08-19 11:42] vandenman commented on #1374
Happy to help, I'm closing this now but if there is anything else feel free to open another issue!

[2021-08-19 11:42] #1374 closed

[2021-08-19 11:50] #1387 closed

[2021-08-19 12:22] TimKDJ commented on #363
This will be included in 0.15

[2021-08-19 12:22] #363 closed

[2021-08-19 13:22] PerPalmgren commented on #1350
Hi,
I am in holiday for two more weeks and without computer. Sorry! But check when I am back.
Per

Per J. Palmgren | DC, FRCC, MMedEd, PhD |
Associate Professor |
Department of Learning, Informatics, Management and Ethics |
Karolinska Institutet | Tomtebodavägen 18A | 171 77 Stockholm |
Tel. + 46 8 524 85 294<tel:+%2046%208%20524%2085%C2%A0294>
***@***.******@***.***> | ki.se<http://ki.se/>
______

[2021-08-19 13:24] TarandeepKang opened #1388 "Additional regression types: Ridge, Lasso and Elastic Net"
* Enhancement: Implement additional regression procedures including Ridge, Lasso & Elastic Net
* Purpose: These methods provide solutions to multicolinearity issues
* Use-case: for datasets in which variables are correlated with one another, and linear regression is inappropriate. Often useful for analysis of survey datasets, as in social psychology psychiatry and epidemiology

These and other reg

[2021-08-19 13:35] JorisGoosen commented on #1350
Enjoy your holiday!

[2021-08-19 13:46] Kucharssim commented on #1388
Dear @TarandeepKang,

Thank you for the suggestion. Is there anything that is missing if you open Machine Learning Module -> Regularized Linear Regression? This analysis offers Lasso, Ridge, and Elastic Net as well. But we will be of course interested if there is anything in particular that keeps you away from using JASP for this purpose.

Best,
Simon

[2021-08-19 13:49] phimi602 commented on #1387
Thanks for your effort! So before the next version, can I run the new code in the R-module in JASP, or do I simply have to wait until the next version is released?

Best,

Philip

________________________________________________
Dr. Philip Millroth

Researcher

Department of Psychology

Uppsala University, Sweden

https://www.researchgate.net/profile/Philip_Millroth

______________________________

[2021-08-19 13:56] koenderks commented on #1387
Hi Philip,

One possible option is to wait for a day (or maybe two) until there is a new development build of JASP available at https://static.jasp-stats.org/Nightlies/. There will be a build every night, so probably tomorrow around this time there is a version available where this fix is implemented. Be aware that these builds are still under development, but I can verify that this feature works.

[2021-08-19 14:22] TarandeepKang commented on #1388
Thank you for this prompt response! I’m afraid it was all my fault, for looking only under the regression module, and not investigating the machine learning one. Thank you again for all your hard work!

Sent from Yahoo Mail for iPhone

On Thursday, August 19, 2021, 14:46, Simon Kucharsky ***@***.***> wrote:

Dear @TarandeepKang,

Thank you for the suggestion. Is there anything that is missing if y

[2021-08-19 14:43] Kucharssim commented on #1388
No worries! Glad that I could help!

[2021-08-19 14:43] #1388 closed

[2021-08-19 19:11] PerPalmgren commented on #1350
Thanks🤩
Joris, one question! Do you think the new version of JASP will be released before september?
Per

Per J. Palmgren | DC, FRCC, MMedEd, PhD |
Associate Professor |
Department of Learning, Informatics, Management and Ethics |
Karolinska Institutet | Tomtebodavägen 18A | 171 77 Stockholm |
Tel. + 46 8 524 85 294<tel:+%2046%208%20524%2085%C2%A0294>
***@***.******@***.***> | ki.se<http://ki.se/>

[2021-08-20 05:39] phimi602 commented on #1387
Awesome, thanks!

________________________________________________
Dr. Philip Millroth

Researcher

Department of Psychology

Uppsala University, Sweden

https://www.researchgate.net/profile/Philip_Millroth

________________________________
Från: Koen Derks ***@***.***>
Skickat: den 19 augusti 2021 15:56:37
Till: jasp-stats/jasp-issues
Kopia: Philip Millroth; Author
Ämne: Re: [jasp-stats/jasp-issu

[2021-08-20 08:30] koenderks commented on #1387
It seems like the installers with this fix included are available on https://static.jasp-stats.org/Nightlies/.

Windows installer: https://static.jasp-stats.org/Nightlies/Windows/JASP-nightly-development-6ae18c5e9a9381f7fa44af82b2ee90485734ccaa.msi
Mac installer: https://static.jasp-stats.org/Nightlies/MacOS/JASP-nightly-development-6ae18c5e9a9381f7fa44af82b2ee90485734ccaa.dmg

Let me know if you

[2021-08-20 09:17] phimi602 commented on #1387
Actually, seems like the fix does not work beyond that test-dataset I sent (see picture below). Which is weird, because it did indeed work for the other dataset :/ Attached is the dataset that now does not work

[cid:adfb55a7-ac27-436e-9ab7-4d17584f9043]

________________________________________________
Dr. Philip Millroth

Researcher

Department of Psychology

Uppsala University, Sweden

https://

[2021-08-20 09:18] koenderks commented on #1387
Hmmm, interesting find. I think the data set you attached does not show properly, can you reupload it here?

[2021-08-20 09:27] phimi602 commented on #1387
[BoostingRegressionBugWhenAssigningTestSetIndicator - NEW.csv](https://github.com/jasp-stats/jasp-issues/files/7020534/BoostingRegressionBugWhenAssigningTestSetIndicator.-.NEW.csv)

[2021-08-20 09:27] phimi602 commented on #1387
![image](https://user-images.githubusercontent.com/65332772/130212402-0aebeba4-862e-451a-b5a9-03127708f263.png)

[2021-08-20 09:41] koenderks commented on #1387
I can get this to work by removing the `Dur.R` variable since it contains missing data. Is that intentional?

[2021-08-20 10:32] phimi602 commented on #1387
Alright, that's a bit weird but I can work with that - thanks! :)

[2021-08-20 11:08] koenderks opened #1389 "Find out why test set indicator shows error with missing data"
This is a new issue relating to https://github.com/jasp-stats/jasp-issues/issues/1387. It seems like using these data:
[BoostingRegressionBugWhenAssigningTestSetIndicator.-.NEW.csv](https://github.com/jasp-stats/jasp-issues/files/7021050/BoostingRegressionBugWhenAssigningTestSetIndicator.-.NEW.csv)

this error occus:
![](https://user-images.githubusercontent.com/65332772/130212402-0aebeba4-862e-45

[2021-08-20 11:08] koenderks commented on #1387
Yeah, we need to dive a little bit deeper into this to understand why it won't take those columns. I have made a new issue in https://github.com/jasp-stats/jasp-issues/issues/1389 to follow up on this.

[2021-08-20 12:40] romanogino opened #1390 "Independent Samples T-Test table"
Hello

* JASP version: 0.15 night version
Windows 10
* Analysis:
* Bug description: The Independent Samples T-Test for the Mann-Whitney U test seems to report W in tables, not the U. It is just a detail, but for my students is very confused.
* Expected behaviour: Table with U in the head for the Mann-Whitney test.
* It is indicated in the table footer, but I would still appreciate consideration of

[2021-08-20 20:15] JorisGoosen commented on #1350
We are now aiming for and hoping for the exact beginning of september.

If you want to prepare for classes you can use one of the `development` nightlies at https://static.jasp-stats.org/Nightlies/

We are now testing them and are getting ready to push it out to the world (if nothing explodes of course)

[2021-08-21 06:26] Stats1010 opened #1391 "JASP crashes on opening"
* JASP version: 0.14.1.0
* OS name and version: Windows
* Analysis:
* Bug description: When trying to open a JASP file that I've been doing analysis in, it does not open anymore. It crashes every time I try to  open it. Its been working fine but now all of a sudden the file won't open.
* Expected behaviour: The file should open as normal.

[2021-08-22 10:03] PerPalmgren commented on #1350
Hi Joris,
I am still on holiday. I cant download the new version through the nigthlies (because I need a clearing code form my university ). But I have confidence in you :-)
However I saw that in 0.15 version I tried before the summer the letters å, ä och ö are also problematic in the descriptive  tab (see below), so maybe you need to verify this on all statistical tests.
All the best
Per
![image]

[2021-08-22 12:37] mikefmikef commented on #1370
Just to correct something above -
my fudge is by multiplying by 10,000. Not just by 1,000 as it says above.

[2021-08-22 12:41] mikefmikef commented on #1370
But of course, doing fudges to get things working leaves the worry that the results returned aren't proper. Can you let me know if using this fudge permits the return of valid results?
   P.S. just to define "fudge" (as I've just realized this use might not be widely known outside of the UK) - it is slang for when you do something ugly/improper/imperfect to just get something working. A quick, dir

[2021-08-22 20:14] raianali opened #1392 "Filter is better linked to a specific test/analyses"
* Enhancement: Filtering of data now applies to all the analyses/tests in the workbook file - it is better to link the filter to one or more selected analyses/tests.

* Purpose: Different analyses/tests within the same workbook requires different filters.
* Use-case: I may filter out those who specified Age as 'Prefer not to Say' for one ANOVA test that is relevant to Age but will return them if a

[2021-08-22 20:22] raianali opened #1393 "Hide/Unhide Columns which are relevant to a certain test"
* Enhancement: currently all columns will be visible all the time and in all tests in the same way. An enhancement is to make the user able to focus on a few columns in each test and hide/unhide others
* Purpose:  make it easy to visualise what matters for a test/analysis
* Use-case: I need to do analysis focusing on Age, Gender, scores on a couple of subjects and psychometrics but not all. I thin

[2021-08-23 07:12] vandenman commented on #1392
This is definitely on our radar, see also https://github.com/jasp-stats/jasp-issues/issues/1330.

[2021-08-23 07:29] raianali commented on #1392
many thanks -- and yes I see the challenge in being error-prone for new users. Save Filter used it for analysis is perhaps the easy shortcut. I.e. create a filter and give it a name and then drag and drop like what we do in the data fields. I should have perhaps put this comment on that #1330

[2021-08-23 08:35] vandenman commented on #1389
So the reason why is the following:

in https://github.com/jasp-stats/jaspMachineLearning/blob/7a5ac1164eec15db340163f865f4a9b43ad5b707/R/commonMachineLearningRegression.R#L44-L52 we read the dataset and then do:
[code]
before then, the test set indicator contains both 0 and 1. After dropping the missings, only 0 remains. If you remove `Dur.R`, which happens to contain some missing values that cau

[2021-08-23 08:48] JorisGoosen commented on #1350
I hope to have those covered, however I have seen another problem for a galician user, where it isnt the data but the r-analyses that are displayed wrong.

I do think your example above should be fixed, or at least I hope ;)

[2021-08-23 17:05] JorisGoosen commented on #1393
Good idea!

I don't think this will be included in the short term but it fits with upcoming column searching/filtering behaviour for sure.

[2021-08-23 19:16] raianali commented on #1393
Thanks Joris -- it would not be indeed a high priority requirement

[2021-08-24 14:29] boutinb commented on #1391
Could you send us the JASP file? For this zip it, and drag & drop it in a comment of this issue in GitHub.

[2021-08-24 16:58] Ascrypto opened #1394 "Analysis terminated unexpectedly"
* JASP version: 0.14.1
* OS name and version: MacOS Big Sur
* Analysis: Independent samples T-Test (Assumption Checks)
* Bug description:
This analysis terminated unexpectedly.
Error in .ttestIndependentEqVarFill(equalityVariance, dataset, options): object 'result' not found
Stack trace
tryCatchOne(expr, names, parentenv, handlers[[1]])
doTryCatch(return(expr), name, parentenv, handler)
withCallin

[2021-08-25 08:15] Stats1010 commented on #1391
hi team, here it is :) greatly appreciate your help, especially any tips so this doesn't happen again - mid-thesis at the moment so very stressful having JASP not cooperate! :)

[Cleaned data for analysis JASP.zip](https://github.com/jasp-stats/jasp-issues/files/7045009/Cleaned.data.for.analysis.JASP.zip)

[2021-08-25 14:10] boutinb commented on #1385
Hi @katelyn8401, sorry for the late answer.
Just to be sure, did you download the Catalina & Big Sur Mac OS version (the name of the dmg file should be JASP-0.14.1.0-postMojave.dmg)? Then did you drag the JASP icon to the Application icon? This is in order to copy it to the application folder, if not it will stay in an 'image' that can be easily removed. If you did copy JASP to the Application fol

[2021-08-25 14:12] boutinb commented on #1394
If you have updated your Mac OS, maybe you need to download the right JASP dmg file in the Download page: https://jasp-stats.org/download/. Could you remove JASP and download the Catalina & Big Sur version?

[2021-08-25 14:32] Ascrypto commented on #1394
Resolved. Thank you.

[2021-08-25 14:32] #1394 closed

[2021-08-25 16:41] #1350 closed

[2021-08-25 19:45] mplee3 opened #1395 "Repeated Measures ANOVA crash - no Descriptive statistics"
* JASP version: 0.14.1.0
* OS name and version: Windows 10 Enterprise
* Analysis:
* Bug description: Receive error when checking the "Descriptive Statistics" box for a completed Repeated Measures ANOVA analysis. Previously stated here - https://github.com/jasp-stats/jasp-issues/issues/1250
* Expected behaviour: presents the descriptive statistics for a repeated measures ANOVA

Steps to reproduce:

[2021-08-26 08:20] PerPalmgren opened #1396 "Notification "Engine crashed""
* JASP version: 0.15
* OS name and version: Windows
* Analysis:
* Bug description: I was trying out the beta version during a flight (no internet). When I tried to make a graph bigger (by pulling the corner) the program crashed time after time. See print screen below:
*
![JASP distribution plot](https://user-images.githubusercontent.com/79397662/130927727-57e66729-a591-46ce-94a2-2155b07a4971.png)

[2021-08-27 08:09] JaumeLloria opened #1397 "JASP closes when removing a level of the factors of a Repeated Measures ANOVA"
* JASP version: 0.14.00
 Windows 10
* Bug description: JASP shuts down suddenly when I remove a level of the factors of a RM ANOVA. Clicking in the "x" for removing the level shuts down the software. It happens to me when I have done a copy of the previous analysis (to do not have to select all the options that my analysis include again and just change the variables in which the analysis is going

[2021-08-27 11:38] CRobinho opened #1398 "Bayes factor robustness check error in German version"
Dear support team,

during the 2021 JASP workshop, I encountered an error. In JASP 0.15 ("Workshop 2021 version") under Bayesian independent samples t-test, the bayes factor robustness check works in English language but not in German (maybe a problem with the Umlaut).

This happened for the stereograms dataset and it also happened for the invisibility cloak dataset in the library. A screenshot is

[2021-08-28 13:33] CRobinho commented on #1398
Hi, unfortunately, the error persists

[JASP 2021-08-28 15_26_18 Desktop.log](https://github.com/jasp-stats/jasp-issues/files/7070769/JASP.2021-08-28.15_26_18.Desktop.log)
[JASP 2021-08-28 15_26_18 Engine 0.log](https://github.com/jasp-stats/jasp-issues/files/7070770/JASP.2021-08-28.15_26_18.Engine.0.log)

[2021-08-28 20:32] Ascrypto opened #1399 "Multicollinearity for Logistic regression"
Hello,

I am sure someone has already requested this feature. Will it be added any time soon?

I appreciate the effort you put into the software.

[2021-08-30 09:15] boutinb commented on #1399
@EJWagenmakers Could you answer this request?

[2021-08-30 18:43] EJWagenmakers commented on #1399
I am not sure what feature is requested exactly. Multicollinearity is a general challenge for regression analyses, and several strategies can be applied to overcome it. So multicollinearity is a problem -- @Ascrypto, does your request concern a remedial strategy, or a warning flag, or something else?

[2021-08-30 20:09] Ascrypto commented on #1399
I can see that there is a collinearity diagnostic for linear regression but not for logistic regression.

[2021-08-30 22:34] EJWagenmakers commented on #1399
Ah I see. This is a good point! This looks like it should be straightforward...

[2021-08-31 01:12] catalinah12 opened #1400 "cannot install software"
* JASP version: 0.14.1-64 bit

* OS name and version: Windows 10
* Analysis: Home network works just fine, yet software won't download due to "network issue"
* Bug description: couldn't download- network issue
* Expected behaviour: Will download about 1/4 of the way, then fail to download rest of the software even when network is working completely fine

[2021-08-31 08:21] boutinb commented on #1400
Strange, I have just tried to download the file, and it works in 2 minutes (300 MB). I have put this file in wetransfer: https://we.tl/t-dAUUmmMvSI
Maybe the network connection with wetransfer is better.

[2021-08-31 21:06] catalinah12 commented on #1400
Hi, thanks for the help. The connection with wetransfer definitely worked. I managed to download the software and it's installing at the moment. Thanks again!

[2021-08-31 21:06] #1400 closed

[2021-09-01 01:57] MalavikaSunil commented on #320
Hello, I am trying to change the datatype of the column and I am unable to do so. I have to change to ordinal. Could you please tell me what is going wrong?
![image](https://user-images.githubusercontent.com/89886678/131599193-133c7e92-fed4-4f7d-95f6-17924b9959af.png)

[2021-09-01 02:03] MalavikaSunil opened #1401 "Changing datatype of the column"
* Purpose: change the datatype from nominal to ordinal
* Use-case: I have to change it to this scale in order to produce mean, median and mode.

I want to change the data type of my variable from nominal to ordinal. I have tried hovering the mouse and changing but it does not change. I am not understanding what is going on.

Please provide a solution to change from nominal to ordinal so that I can

[2021-09-01 07:23] gvleioras commented on #320
There are some comments further up on this topic. Basically, if I understand it correctly, your values are text, and therefore are treated as categories. You could make them numbers and keep the values as labels. I am not from the JASP group, so I hope it's ok that I reply, JASP guys. If not, let me know and I will not do it again :-)

[2021-09-01 07:28] vandenman commented on #1401
First of all, it is rather meaningless to compute the mean of entirely categorical input, such as `{""ImportId"":""QID3_2""}` and `Describe yourself as ...`.

I take it that you want to convert the text values `Agree` and `Neutral` (and perhaps `Disagree`?) to numeric?

It should indeed be easier to do this. Here's a workaround for now. In the example below, I'll use our debug data set and change

[2021-09-01 07:31] vandenman commented on #320
@gvleioras it's perfectly fine to reply, no worries! @MalavikaSunil also made a dedicated issue for this (see https://github.com/jasp-stats/jasp-issues/issues/1401) and I think it's better to continue the discussion there.

[2021-09-01 13:58] hannibalthomm opened #1402 "JASP crashed"
* JASP version: 0.14.1
* OS name and version: Windows 10 (10.0)
* Analysis:
* Bug description:
* Expected behaviour:

#### Steps to reproduce:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

-----------------------------------------------------------------------

### Debug information:
**Engine # 0** process *crashed* and it's state is *initializing*.
**Engine # 1** proces

[2021-09-01 21:36] mmatis commented on #1360
This is happening to me to. Just straight-up crash to desktop whenever I try to change labels, re-order labels, or filter out rows. I've tried the stable AND beta flatpak version as well as with/without Safe-Graphics turned on.

Specs:
Manjaro Linux x86_64
Kernel: 5.13.12-1-MANJARO
DE: Cinnamon
CPU: AMD Ryzen 7 3700X (16) @ 3.600GHz
GPU: NVIDIA GeForce RTX 2060
Memory: 5475MiB / 32028MiB

I have a

[2021-09-02 09:16] JaumeLloria commented on #1397
Great! Thanks a lot for your answer. I'll just wait until you release the new version of JASP.

Thanks again for you work

[2021-09-02 11:11] corbeyers opened #1403 "JASP crashed"
* JASP version: 0.14.1
* OS name and version: Windows 10 (10.0)
* Analysis:
* Bug description:
* Expected behaviour:

#### Steps to reproduce:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

-----------------------------------------------------------------------

### Debug information:
**Engine # 0** process *does not exist (anymore)* and it's state is *initializing*.
**En

[2021-09-03 15:45] AlexanderLyNL opened #1404 "SumStats: Bayes T-test - BF01 - BF Robustness check reported max BF01 incorrectly produces value for BF10"
* JASP version: 0.15.b

* OS name and version: macOS 10.14.6 Mojave
* Analysis: SumStats - Bayes T-test - BF01 - BF Robustness check
* Bug description: Reported by Han Diesfeldt via email (thanks)
* JASP file: https://www.dropbox.com/s/lwx3ms6ypz4cqa0/bfRobustnessPlotUpsideDown.jasp?dl=0
1. In plot BF Robustness check: Reported max BF01 = 0.07831, but it should be max BF01 = 1/0.07831 = 12.769
2.

[2021-09-03 16:09] AlexanderLyNL commented on #1098
I'm adding Amir, because he's trying to build on an M1 chip, so perhaps he might have some ideas.

[2021-09-03 16:13] AlexanderLyNL commented on #1024
Might be related to the too many devices bug

https://github.com/jasp-stats/jasp-issues/issues/1025

There was another issue that was similar to this, but on a different OS, but I can't find it at the moment.

[2021-09-04 06:45] FBartos commented on #1334
Hi Ilse,

the issue is currently fixed in the development version. It will be out with the next release but you can also check it out with a [Nightly](http://static.jasp-stats.org/Nightlies/) if you wish.

Best,
Frantisek

[2021-09-04 06:45] #1334 closed

[2021-09-04 06:57] FBartos commented on #1245
Hi @Wouterwolf ,

I'm sorry for not responding earlier. I have recently implemented fixes that should address this type of error. Could you please send me the .jasp file to f.bartos96@gmail.com so I can verify that the issue is indeed fixed?

Best,
Frantisek

[2021-09-06 07:22] vandenman commented on #1025
This was probably fixed in https://github.com/jasp-stats/jaspGraphs/pull/31. If I refresh the file now, everything just works. @JohnnyDoorn Can you confirm this?

[2021-09-06 09:51] #1011 closed

[2021-09-06 10:23] boutinb commented on #1360
Hi @mmatis Could you tell exactly what is your reproduction path? Which which data set? Could you also then send the jasp file also (you have first to zip it, and drag & drop in this issue)?

[2021-09-06 10:36] boutinb commented on #1402
@hannibalthomm Can you give more details how JASP crashed? Did it crash when starting, when loading a file when doing some manipulations?

[2021-09-06 10:37] boutinb commented on #1403
Hi @corbeyers Can you give more details how JASP crashed? Did it crash when starting, when loading a file when doing some manipulations?

[2021-09-06 13:26] FBartos commented on #1245
I verified that the issue was resolved.

[2021-09-06 13:26] #1245 closed

[2021-09-06 13:27] Wouterwolf commented on #1245
Great, thanks.
Does this mean I have to update JASP?

Best,

Wouter Wolf PhD
Assistant Professor
Department of Developmental Psychology
Utrecht University
Wouter Wolf PhD - Sociale Wetenschappen - Universiteit Utrecht (uu.nl)
<https://www.uu.nl/medewerkers/WWolf>
www.wouterwolf.com

On Mon, Sep 6, 2021 at 3:26 PM FBartos ***@***.***> wrote:

[2021-09-06 13:30] FBartos commented on #1245
The fixes will be part of the upcoming release or you can test them out in a Nightly (http://static.jasp-stats.org/Nightlies/).

Thanks again for the help,
Frantisek

[2021-09-06 13:31] Wouterwolf commented on #1245
Yep, sorry, I saw the other email just now :)

Thanks!

Wouter Wolf PhD
Assistant Professor
Department of Developmental Psychology
Utrecht University
Wouter Wolf PhD - Sociale Wetenschappen - Universiteit Utrecht (uu.nl)
<https://www.uu.nl/medewerkers/WWolf>
www.wouterwolf.com

On Mon, Sep 6, 2021 at 3:30 PM FBartos ***@***.***> wrote:

[2021-09-06 14:49] armsgeor opened #1405 "Program won't open"
* JASP version: I have tried Catalina and Mojave version and the 9.2 version.

* OS name and version: High Sierra 10.3
* Analysis: I can download Catalina and Mojave version but they won't open, the app verifies then when I click open the app from the dock disappears and nothing opens.
* Bug description:
* Expected behaviour:

#### Steps to reproduce:
1. Go to '...'
2. Click on '....'
3. Scroll do

[2021-09-06 15:09] alexa619 opened #1406 "I am attempting to download JASP on my Macbook Air Version 10.14.6, but when I click the application the popup below comes up. I attempted to use the web browser, but that will also not work and freezes when I attempt to open a document on my laptop. Please advise."
* JASP version:

* OS name and version: MAC 10.14.6
* Analysis: I am attempting to download JASP on my Macbook Air Version 10.14.6,  but when I click the application the popup below comes up. I attempted to use the web browser, but that will also not work and freezes when I attempt to open a document on my laptop.
<img width="519" alt="Screen Shot 2021-09-06 at 11 08 58 AM" src="https://user-image

[2021-09-07 05:47] PetBuj opened #1407 "[Feature Request]: non-hierarchical clustering improvements"
only one thing remains from the original suggestions:

Non-hierarchical clustering
--> compute variability measure from 2 up to a given number of clusters.

For example in NCSS, there is a table of the odd of withinn-clusters variability and total variability. Then, it is clear how the higer number of cluster decreases the ‚inner‘ variability of clusters.

[2021-09-07 07:09] boutinb commented on #1405
Hi @armsgeor We have a version that should work for High Sierra, and it the one with the button 'Mojave & High Sierra'. After starting the dmg file, you should copy it into the Application folder. There it should not disappear.
FYI: High Sierra is not supported by Apple anymore, so we won't probably support High Sierra for our next release. It is anyway highly recommended not to stay on a not supp

[2021-09-07 07:16] boutinb commented on #1406
Hi @alexa619 I don't understand exactly what you do. JASP is not a web application, it does not work on a webbrowser. You have to download the 'Mojave & High Sierra' version, start the downloaded dmg file, copy the JASP app to the Applications folder, and then click on the JASP icon in the Application folder? You get maybe a warning because it is an app downloaded from the internet.

[2021-09-07 07:16] vandenman commented on #1407
Hi @PetBuj Thanks for the suggestions!

You can do a MANOVA for this purpose. A MANOVA takes the correlation between the dependent variables into account whereas multiple independent ANOVAs ignore this.

Good idea!

Bayesian linear regression does this. In a frequentist setting, this is a bit more tricky because it can blow up the type-I error rate.

Could you elaborate a bit on this? Is there a r

[2021-09-07 07:25] PetBuj commented on #1407
Hi Don,

Thank you for so fast response and also for clarification of some my remarks. Regarding #4, for example in NCSS, there is a table of the odd of withinn-clusters variability and total variability. Then, it is clear how the higer number of cluster decreases the ‚inner‘ variability of clusters. Maybe, there is somethig, but I didn’t find it.

Best regards,

P. Bujok

From: Don van den Bergh

[2021-09-07 07:52] amirmasoudabdol commented on #1406
Hi @alexa619, would you please send a screenshot of the same dialog again but this time press the "Show Details" and then take the screenshot. I'm interested to see what kind of information is provided by Apple. If there are a lot of text in there, please copy and paste it here that we can read. I'm not sure, but maybe there is some more information there that could help us understand the problem.

[2021-09-07 08:44] amirmasoudabdol commented on #1098
I can work on this, but as @JorisGoosen said, it's not yet supported. It's available on Qt 5.15.5 and soon on Qt 6.2. We don't have access to the 5.15.5 since it's under the commercial license for now. But, as soon as the native build is available I can work on it. For now, JASP runs fine on top of Rosetta 2 and I believe everything works just fine.

I think I should have a few meetings with Joris

[2021-09-07 11:13] JorisGoosen commented on #1360
The logfiles are probably enough info for the repro-path, sending the file to `joris at jorisgoosen.nl`  with reference to this issue could be useful perhaps.
But there are a couple of issues with flatpak crashing hard that I really want to have fixed for the upcoming release. It seems there are a few ways this happens and your problem seems one of them.

[2021-09-07 14:27] armsgeor commented on #1405
Hi,So I copied it into the application folder. It still won't open. The application bounces in the dock while its verifying then when the window pops up asking if I want to open I click open there is a pause and the JASP application disappears from the dock and nothing ever opens. 

[2021-09-07 15:06] alexa619 commented on #1406
[cid:f0a4868d-8cc8-400c-ba32-58c899da66cd]
________________________________
From: Amir Masoud Abdol ***@***.***>
Sent: Tuesday, September 7, 2021 3:53 AM
To: jasp-stats/jasp-issues ***@***.***>
Cc: Alexa V Nohavicka ***@***.***>; Mention ***@***.***>
Subject: Re: [jasp-stats/jasp-issues] I am attempting to download JASP on my Macbook Air Version 10.14.6, but when I click the application the popup

[2021-09-07 17:30] JeffS1984 opened #1408 "Problems with mac High Sierra 10.13.16"
* JASP version: 0.14 and 0.9.2

* OS name and version: High Sierra 10.13.16
* Analysis: I have a student who tries to open JASP, and it immediately quits unexpectedly.  I see on this message board that this issue was raised in July 2020 (#885). Should I have the student try a different version of JASP, like 0.11 or something? Thank you!
* Bug description:
* Expected behaviour:

#### Steps to repro

[2021-09-08 05:49] MalavikaSunil opened #1409 "Jasp not displaying the exact value"
* JASP version: 0.14.1.0

* OS name and version: Windows 10
* Analysis: Structural Equation Modelling
* Bug description:
* Expected behaviour:
![SEM 2021-09-08 074847](https://user-images.githubusercontent.com/89886678/132453533-1fb07e0e-7af0-41db-abcc-2ec7054a57ba.png)

#### Steps to reproduce:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

If you didn't feel all fields

[2021-09-08 07:05] vandenman commented on #1409
Could you explain more clearly what the problem is?

For example, is this about seeing something like `2.757e-10` (first value in the column p)?

If the issue is about only seeing 3 digits after the decimal point, you can increase the number of digits in the menu:
![image](https://user-images.githubusercontent.com/21319932/132462193-b6fd043b-4461-4879-b4b0-234d09db6904.png)

[2021-09-08 07:08] MalavikaSunil commented on #1409
Hi ,

Yes ,
* For example, is this about seeing something like 2.757e-10 (first value in the column p)?* .... this is indeed the issue ..Could you tell me what can be done?

[2021-09-08 07:18] vandenman commented on #1409
So it is not possible to adjust this, at least not right now, because a value like `2.220e-16` would be printed as `0.000000000000000222`, which will quickly make the table become too wide to become readable.

[2021-09-08 07:39] MalavikaSunil commented on #1409
Yes...thank you for that.
Also, I am unable to process the path diagram. Could you tell me what can be the issue mainly for that to happen?

[2021-09-08 07:42] vandenman commented on #1409
Is there an error when you click on path diagram? Or would you like a quick run-through of how to interpret it?

[2021-09-08 07:46] MalavikaSunil commented on #1409
![PD_2021-09-08 094510](https://user-images.githubusercontent.com/89886678/132468030-b2670f3b-1c2a-4c2d-b481-efb297b5e734.png)
This is how I have been getting.

[2021-09-08 07:47] vandenman commented on #1409
Oh yeah, that's an error. Would it be possible to share a jasp file that led to this error?

[2021-09-08 07:51] MalavikaSunil commented on #1409
[SEM testing 1.csv](https://github.com/jasp-stats/jasp-issues/files/7126988/SEM.testing.1.csv)

[2021-09-08 08:00] vandenman commented on #1409
could you also share the model code for the SEM model?

[2021-09-08 08:01] MalavikaSunil commented on #1409
#latent variables
ER =~ B_1 + B_2 + B_3 + B_4 + B_5 + B_6 + B_7 + B_8 + B_9 + B_10
TD =~ C_1 + C_2 + C_3 + C_4 + C_5 + C_6 + C_7 + C_8 + C_9 + C_10 + C_11 + C_12 + C_13  + C_14
FP =~ D_1 + D_2 + D_3 + D_4 + D_5 + D_6 + D_7 + D_8 + D_9 + D_10 + D_11 + D_12 + D_13 + D_14 + D_15+D_16+D_17+D_18+D_19+D_20+D_21+D_22+D_23+D_24+D_26+D_27+D_28+D_29+D_30+D_35+D_36+D_37+D_38+D_45+D_46+D_47+D_48+D_49+D_51+D_5

[2021-09-08 08:02] MalavikaSunil commented on #1409
This is the first code I am testing ...So I have taken only one variable at the "Residual Relation"

[2021-09-08 08:22] vandenman commented on #1409
Well, I tried your code in the new release (which should be out in a couple of weeks) and got this figure:

![image](https://user-images.githubusercontent.com/21319932/132473329-94aeb486-d51b-43a3-b333-01308d5c78e0.png)

this is not very pretty, but with so many variables there is nog real hope for a pretty plot.

[2021-09-08 08:38] MalavikaSunil commented on #1409
What should be done to the current version so that I can get a path diagram this way?

[2021-09-08 08:50] JoKeyser opened #1410 "Compile error on Linux: Missing #include for constants?"
When I try to compile current `development` (commit `fe9e83473ec512806d821dc495d48c373bbe5ccf`) on Linux, I get errors about undeclared identifiers `DBL_MAX`, `DBL_EPSILON`, and `FLT_EPSILON`.

This is easy to fix by `#include <float.h>`, or maybe another include... I'm not sure though where to put it best, or if it should be included only for Linux, so I don't propose a PR.

[2021-09-08 09:36] AugustOlsson commented on #90
@vandenman

If its tricky to include customizable y-axis, just changing the script so that when one plots data by separate plots the same y-axis scale is used for both plots would be extremly good (e.g. when one has 3 independent variables, e.g. in a mixed anova).

As it is now, I get different axis for the different y-axis of the two "separate plots" which is very unfortunate. This was however no

[2021-09-08 09:47] MalavikaSunil commented on #1409
I have tried multiple times but I get an error for the path diagram :(

[2021-09-08 11:13] vandenman commented on #90
Hi @AugustOlsson, the next version of JASP should allow you to customize the axes:
![image](https://user-images.githubusercontent.com/21319932/132499344-1e47c18e-fe23-4373-bf54-adae73eaebb4.png)

It's also on our to-do list to add a checkbox that ensures that the y-axes are the same by default.

[2021-09-08 11:39] vandenman commented on #1410
@JoKeyser what version of GCC do you have? Recently, @JMBKoch had the same issue while compiling. I believe that adding `#include <cfloat.h>` fixed the issue for him though.

[2021-09-08 11:43] JMBKoch commented on #1410
@JoKeyser @vandenman I can confirm that this was the fix in my case.

[2021-09-08 11:50] boutinb commented on #1405
But is JASP still in the Application folder? If yes, can you click on it?

[2021-09-08 13:47] BubblesTheBomb opened #1411 "JASP crashes when creating a computed column"
* JASP version: 0.14.3
* OS name and version: Manjaro Linux; Build ID: rolling GNOME Version: 3.38.3
* Analysis:
* Bug description: [birthWeight(1).zip](https://github.com/jasp-stats/jasp-issues/files/7129220/birthWeight.1.zip)
* Expected behaviour:

#### Steps to reproduce:
1. Go to add column
2. Create a computed Column
3. Multiply Mother's body mass by 0.46
4. Press Compute Column
5. See error

[2021-09-08 13:52] JoKeyser commented on #1410
@vandenman , I'm trying GCC version 11.1.0 on Arch Linux.

To be more precise, inserting `#include <float.h>` into file [`utils.h`](https://github.com/jasp-stats/jasp-desktop/blob/development/Common/utils.h) resolves the error.
If I replace that with `#include <cfloat.h>`, I get an error to "'cfloat.h' file not found".
When I try `#include <cfloat>` (note missing `.h`), it also compiles fine.

Not

[2021-09-08 14:48] vandenman commented on #1410
I think `<cfloat>` is the c++ version of `<float>`, which is a c header. But either one should be fine.

[2021-09-08 14:49] pass202 opened #1412 "This analysis terminated unexpectedly. Error in lavaan::lavTestLRT(semContainer[['semResultsList']]$object$semResults): lavaan ERROR: model did not converge Stack trace"
Hey Guys! I need your help! This is my written syntax, but JASP ends the analysis!
Can you help me or does someone see the problem?

* Measurmentmodel
HH =~ HH1 + HH2 + HH3 + HH4 + HH5 + HH6 + HH7+ HH8+ HH9+ HH10
AG =~ AG1 + AG2 + AG3 + AG4 + AG5 + AG6 + AG7+ AG8+ AG9+ AG10
EM =~ EM1 + EM2 + EM3 + EM4 + EM5 + EM6+ EM7+ EM8+ EM9+ EM10
IM =~ IM1 + IM2 + IM3
RD =~ RD1 + RD2 + RD3
RU =~ RU1 + RU2 + RU

[2021-09-08 14:50] vandenman commented on #1410
but this seems to be a GCC 11 issue (JMBKoch has the same version, also on Arch) because older versions (e.g., GCC 9.3) do not need this header to be included.

[2021-09-08 15:16] boutinb commented on #1408
Hi @JeffS1984 High Sierra is not supported anymore by Apple anymore, so we will end the support of this version also with our next release. It is also highly recommended not to stay on a OS version which is not supported: any security breach won't be fixed anymore.
But JASP 0.14.1 used to work on High Sierra (at least if the right dmg file was downloaded from our website, called JASP-0.14.1.0-preC

[2021-09-08 15:18] boutinb commented on #1406
Hi @alexa619 We cannot see the image on GitHub. If you want to show a picture, please use the GitHub website and drag & drop the picture in a comment of this issue.

[2021-09-08 15:21] amirmasoudabdol commented on #1410
I think we can probably eliminate this issue by using the [numeric_limits](https://en.cppreference.com/w/cpp/types/numeric_limits) interface, and move away from macros. The `<limits>` header can be universally used as long as the compiler meets the selected standard. I think most floating limits are available from C++11 onward.

[2021-09-08 16:11] JoKeyser commented on #1410
@amirmasoudabdol , the parts that I understand sound promising :D. I'm happy to test a branch with that idea...

[2021-09-08 16:25] amirmasoudabdol commented on #1410
That'd be great! I just pushed a branch to address this. I hope it works! 🙏🏼

[2021-09-09 06:46] kornbrot opened #1413 "mac cannot open latest JASP dmg"
* JASP version:

* Mac big sur 11.5.2
* download new version
* discimagemounter.app will not open doiwnloaded file
* Expected behaviour: install latest version JKASP
see
![image](https://user-images.githubusercontent.com/4971306/132636300-d851ebc5-7cac-4a82-b5d0-4efd742dfddd.png)
please help
installing previous versions always perfect

#### Steps to reproduce:
1. Go to '...'
2. Click on '....'
3.

[2021-09-09 06:52] amirmasoudabdol commented on #1413
This might be a small hiccup on Mac. Please try to restart your Mac, download the image again, and try again. It sometimes happens that Mac gets confused if it's already opened the DMG file or not. Often un-mounting the image and opening it again helps but I think since you might have done this a few times, there might be more images open, and now Mac is really confused! 😅

I don't think it's nece

[2021-09-09 08:52] Ilse90 commented on #1334
Dear Frantisek,

Thank you for teaching out and I am glad to hear that the issue is fixen. Do you have any idea around what time the next version will be released?

Cheers,
Ilse

[2021-09-09 09:43] #1370 closed

[2021-09-09 10:53] JMBKoch commented on #1275
@krutcher7069 This is very much possible! A correlation is nothing than a standardized covariance. So, in order to display the latent correlations you need to look into the standardized model output. See this example where I fit a CFA model with the well-known Holzinger Swineford data from lavaan.

![exampleLvCor0](https://user-images.githubusercontent.com/67152739/132673126-048d61c6-447c-4f3b-8a0

[2021-09-09 10:53] #1275 closed

[2021-09-09 11:38] FBartos commented on #1334
Dear Ilse,

we are in the final stages of preparing the new version (the aim is within two months I think). Unfortunately, I can't pinpoint the precise date yet.

Best,
Frantisek

[2021-09-09 11:39] hcsmith1123 opened #1414 "Error with custom contrasts"
* JASP version: 0.14.1

* OS name and version: MacOS
* Analysis: Repeated Measures ANOVA
* Bug description:
*
<img width="863" alt="Screen Shot 2021-09-09 at 7 35 06 AM" src="https://user-images.githubusercontent.com/90391871/132679233-1acb7349-8791-4637-af5f-4ea5d85d8c96.png">

* Expected behaviour:

#### Steps to reproduce:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

[2021-09-09 13:50] kornbrot commented on #1413
Thanks

It is not downloading dmg correctly

It goes on a long time and I end up with a  large .part file and a .dmg with 0 bytes
See below
Its still giving me the file not recognized message

HELP

[cid:07312369-A05C-4465-8DAF-EA607B4DEF3B]

On 9 Sep 2021, at 07:53, Amir Masoud Abdol ***@***.******@***.***>> wrote:

This might be a small hiccup on Mac. Please try to restart your Mac, download the

[2021-09-09 13:52] fqixiang commented on #1051
@jlwoodard Sorry this took a long time. I just briefly looked into this. Just to be sure: is your request about the partial plots where you would like the x-axis and y-axis to be on the original measurement units of the variables? See below.
![image](https://user-images.githubusercontent.com/20680189/132695078-abb2de4f-36af-454b-b72a-6a3cf0a68196.png)

If this is the case, then I don't think your

[2021-09-09 13:58] kornbrot commented on #1413
Ps. It downloads and installs other .dmg files fine
I just tried scrivener.dmg as test

Am running big sur 11.5.2
Would I try for earlier Mac version??
Alll hel gratefully rewcieved

On 9 Sep 2021, at 07:53, Amir Masoud Abdol ***@***.******@***.***>> wrote:

This might be a small hiccup on Mac. Please try to restart your Mac, download the image again, and try again. It sometimes happens that Mac g

[2021-09-09 14:09] amirmasoudabdol commented on #1413
@kornbrot, Unfortunately I cannot see your attached screen shots. GitHub doesn't handle this very well when you reply to the email! Would you please upload it on the website?

What browser are you using to download JASP? JASP has a relatively large DMG file, are you sure that you have enough space on your system? Maybe all those broken downloads filled up your storage?

[2021-09-09 14:27] jlwoodard commented on #1051
@fqixiang Thank you for getting back to me! I see your point regarding the partial plots, but I think being able to plot the prediction intervals and confidence intervals is essential for any regression. What I am hoping to achieve is illustrated on this page: https://rpubs.com/Bio-Geek/71339. You will see that the IV and DV are on their respective original measurement scales. Such a plot can indi

[2021-09-09 14:30] kornbrot commented on #1413
thanks for trying - I am now trying to download on safari rather than firefox
i have plent of room on hard disc
how much storage do I need in bfowser - can I chnage it?
diana

[2021-09-09 14:39] amirmasoudabdol commented on #1413
If you have enough storage on your computer, you don't need to change anything. Hopefully it works with Safari! 🤞🏼

[2021-09-09 14:51] kornbrot commented on #1413
have 63gb on hard disc and 107gb on icloud i have tried downloaing to both
will delete all current files restart and try safari or maybe chrome
thanks for help

[2021-09-09 14:52] kornbrot commented on #1413
ps. what about the cache?

[2021-09-09 14:57] amirmasoudabdol commented on #1413
You really don't have to worry about it then. And what link are you using to download JASP from? Maybe make sure that there are no `.part` file or other JASP files in your Downloads folder.

[2021-09-09 15:14] fqixiang commented on #1051
@jlwoodard Hi, thanks for the clarification. The exiting partial plots option does already provide confidence and prediction intervals. I looked at the link you provided - that is a special case (only one IV and one DV in a regression model) of **marginal effect plots** that I mentioned earlier (which are quite different from partial plots). Of course, confidence and prediction intervals are possi

[2021-09-09 15:18] Kucharssim commented on #1051
I agree that marginal plots would be nice to implement!

[2021-09-09 15:22] boutinb commented on #1414
HI @hcsmith1123 Could you describe precisely what you do (which options you click) before getting this error? Wuould it possible to get also the data you use, or even the JASP file? For this you have to zip it, and drag & drop it in a new comment of this issue in GitHub.

[2021-09-09 16:05] kornbrot commented on #1413
so sorry.
turns out being connected to internet by ethernet AND wifi is a BAD ideachrome said 'networ problem' so i turned off wifi
all well
so sorry to have wasted your time

[2021-09-09 16:18] amirmasoudabdol commented on #1413
No worry! 🙂 Happy that it works now!

[2021-09-09 16:18] #1413 closed

[2021-09-09 17:37] JeffS1984 commented on #1408
Thank you boutinb! The student has tried everything 0.9-0.14. He seems pretty good with a computer so I don't think he is doing anything weird. I may just give him alternative assignments not using JASP.

[2021-09-10 10:59] JohnnyDoorn commented on #1024
For me this is now fixed

[2021-09-10 10:59] #1024 closed

[2021-09-10 11:01] JohnnyDoorn commented on #1025
@vandenman Yes, everything now works for me.

[2021-09-10 11:01] #1025 closed

[2021-09-10 14:49] JohnnyDoorn commented on #1025
Confirmed!

[2021-09-10 14:50] JoKeyser commented on #1411
I can reproduce this on Ubuntu 20.04.3 and JASP 0.14.3.
(To use the data, I had to rename the extension `.zip` to `.jasp`.)
More importantly, it's independent of that data set - if I just load the sleep data from the data library and compute a column, it crashes the same way.
The last message from JASP is:
[code]

[2021-09-11 12:52] averixus opened #1415 "Stacked bar chart option for descriptive statistics"
Enhancement: An option to create stacked bar charts in descriptive statistics, with multiple variables combined into a single bar.

Purpose: To display multiple variables in combination rather than only in the form of separate charts.

[2021-09-11 17:38] SirOttomano opened #1416 "p-values into the weights matrix of the network analysis"
* Enhancement: Hi, I would ask you if it is possible to add the p-values into the weights matrix of the network analysis. When this matrix is computed by using the option "cor_auto" (because I have a database made by continuous, binary and ordinal variables), I cannot know the exact correlation method applied; thus,  I cannot compute the p-value with JASP neither by using another software.
* Purpo

[2021-09-13 13:41] annagilioli opened #1417 "Repeated Measures ANOVA Error: some parameters are not estimable"
* JASP version: 0.14.1
* OS name and version: macOS, Mojave 10.14.6
* Analysis: Repeated Measures ANOVA
* Bug description: I am trying to conduct a repeated measures ANOVA in JASP. I have three repeated measures factors. I would like to add 12 covariates which are subtests of Questionaries and one between subjects factor (Sex) to my analysis. Unfortunately, I am getting the following error when I

[2021-09-13 13:42] annagilioli commented on #1417
<img width="1440" alt="Schermata 2021-09-13 alle 15 38 05" src="https://user-images.githubusercontent.com/90626270/133094178-b5830570-4e37-4cbf-b5f1-afb4222d54a8.png">

[2021-09-13 16:03] lentilha commented on #1411
I have the same problem using Ubuntu 20.04.3
JASP also crashed after I computed the new column externally and uploaded the new dataset and tried to plot the data computed in the new column

[2021-09-14 08:02] vandenman commented on #1412
Hi @pass202 could you perhaps share the dataset or jasp file that led to the error?

[2021-09-14 11:25] JorisGoosen commented on #1165
Ok, it seems that the Qt we are using broke JASP, so a workaround for now is:
`flatpak update --commit 4f232783b07952a4627a186c8020a362d2458c4b2d6046fbd0b43d3f44c551a7 org.kde.Sdk/x86_64/5.15`
After that JASP should work fine.

Once [this issue at kde](https://bugs.kde.org/show_bug.cgi?id=442422) is resolved I can actually debug what is wrong with it, but I am assuming that having a new version of

[2021-09-14 11:25] JorisGoosen commented on #1378
Ok, it seems that the Qt we are using broke JASP, so a workaround for now is:
`flatpak update --commit 4f232783b07952a4627a186c8020a362d2458c4b2d6046fbd0b43d3f44c551a7 org.kde.Sdk/x86_64/5.15`
After that JASP should work fine.

Once [this issue at kde](https://bugs.kde.org/show_bug.cgi?id=442422) is resolved I can actually debug what is wrong with it, but I am assuming that having a new version of

[2021-09-14 11:25] JorisGoosen commented on #1360
Ok, it seems that the Qt we are using broke JASP, so a workaround for now is:
`flatpak update --commit 4f232783b07952a4627a186c8020a362d2458c4b2d6046fbd0b43d3f44c551a7 org.kde.Sdk/x86_64/5.15`
After that JASP should work fine.

Once [this issue at kde](https://bugs.kde.org/show_bug.cgi?id=442422) is resolved I can actually debug what is wrong with it, but I am assuming that having a new version of

[2021-09-14 11:26] JorisGoosen commented on #1411
Ok, it seems that the Qt we are using broke JASP, so a workaround for now is:
`flatpak update --commit 4f232783b07952a4627a186c8020a362d2458c4b2d6046fbd0b43d3f44c551a7 org.kde.Sdk/x86_64/5.15`
After that JASP should work fine.

Once [this issue at kde](https://bugs.kde.org/show_bug.cgi?id=442422) is resolved I can actually debug what is wrong with it, but I am assuming that having a new version of

[2021-09-14 12:51] mmatis commented on #1360
Is there any special env variable or parameter I should be running when I launch JASP? I installed org.kde.Sdk and then installed the specific commit, but JASP still crashes in the same fashion. BTW, I produced logs using the example data sets and posted them in my original message.

[2021-09-14 13:30] JorisGoosen commented on #1360
I might have copied the wrong commit...

I'm checking it out now

[2021-09-14 13:48] JorisGoosen commented on #1360
Maybe you can try out `flatpak update --user --commit=212d267860a3001081816007b074dd57993335aec23485c082d40034c6a5b857 org.kde.Platform/x86_64/5.15` ?

I was testing with the Sdk but that is for building, while Platform is for distribution. So hopefully this helps.

[2021-09-14 14:06] vandenman commented on #1410
@amirmasoudabdol this can be closed now right?

[2021-09-14 14:21] #1410 closed

[2021-09-14 14:27] mmatis commented on #1360
Success! That second workaround stopped the crashing. Thank you!

[2021-09-14 17:11] JoKeyser commented on #1411
@JorisGoosen , the workaround works for me, both on stable and beta, albeit with another commit, as you corrected already in #1360, i.e. after
`flatpak update --commit=212d267860a3001081816007b074dd57993335aec23485c082d40034c6a5b857 org.kde.Platform/x86_64/5.15`.

[2021-09-15 09:33] zijunke opened #1418 "Undefined columns selected"
* JASP version: 0.14.1.0

* OS name and version: Windows 11 (Surface)
* Analysis: Binomial Estimation using Learn Bayes
* Bug description:  The analysis terminated when we dragged the levels of a binary variable to the Sucesses or Failures boxes.
Error message returned "Error in '[.data.frame'(.readDataSetToEnd(columns = options[['selectedVariable']]), : undefined columns selected
Stack trace"

*

[2021-09-15 10:24] Ziggyblake commented on #1378
error: org.kde.Sdk.Debug/x86_64/5.15 not installed

When trying to install it "flatpak install --user org.kde.Sdk.Debug/x86_64/5.15" :
Looking for matches ...
error: No remote refs found similar to ‘org.kde.Sdk.Debug/x86_64/5.15'

I'm quite a linux/flatpak noob to be honnest I might be doing something wrong. Thanks for your help anyway.

[2021-09-15 11:13] JorisGoosen commented on #1378
Hey sorry, I did something wrong!

But I couldn't find all the issues where I did so...

You should actually try:
`flatpak update --commit=212d267860a3001081816007b074dd57993335aec23485c082d40034c6a5b857 org.kde.Platform/x86_64/5.15`

[2021-09-16 09:43] kornbrot opened #1419 "JASP crashed"
* JASP version: 0.14.1
* OS name and version: macOS 10.16

* Analysis:
* Bug description:
* Expected behaviour:

#### Steps to reproduce:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error
This version of JASP will only a 2 levels in rpeated measures ANOVA see attached file
[Dulithraw_factorial_data15Sept21.xlsx](https://github.com/jasp-stats/jasp-issues/files/7176656/Dulithra

[2021-09-16 09:48] amirmasoudabdol commented on #1419
Would you provide your steps that led to this crash?

[2021-09-16 09:58] kornbrot commented on #1419
enter mncr as level1, enter mnhit as level2
enter mnmiss as level 3 and get a great big X
click on the x and jasp crashes

[2021-09-17 11:54] icekylin opened #1420 "Incomplete translation does not work"
After this commit [#4623](https://github.com/jasp-stats/jasp-desktop/pull/4623) the Chinese and Spanish Select languages  can not work.
I tried to the daily build（zip package）, and the language of the JASP interface cannot be selected from Chinese and Spanish.
Maybe even if the translation file is incomplete, we can make it available, which will be beneficial to both localized translators and user

[2021-09-17 12:06] AlexanderLyNL commented on #1420
Thanks for the report. For me the same issue, neither, Chinese nor Spanish are working for me, but Japanese and English is working. Settings:

**OS**
macOS 11.5

**Commit**
https://github.com/jasp-stats/jasp-desktop/commit/184c617e27177e72f7467c622b1e98b90fe7188f

[2021-09-18 07:24] kornbrot commented on #1419
have provided steps and datafile
any progress?
please can you send me a file where ANOVA repeated does work
thnaks
diana

[2021-09-19 07:19] icekylin commented on #1420
Whether the latest news about this bug？

[2021-09-19 11:05] PerPalmgren commented on #1396
﻿Hi,
I hope you are fine.
Two questions:
- Could you please send me the latest ”nightly” so I can test the upcoming 0.15
- Do you have an official release date?
Kind regards
Per Palmgren

Per J. Palmgren | DC, FRCC, MMedEd, PhD |
Associate Professor |
Department of Learning, Informatics, Management and Ethics |
Karolinska Institutet | Tomtebodavägen 18A | 171 77 Stockholm |
Tel. + 46 8 524 85 294<

[2021-09-20 06:52] amirmasoudabdol commented on #1419
Please attach your JASP file. This way I could make sure that I'm looking at the same analysis that you are using. Prepare your model, then Save your project as JASP file, and attach the file.

[2021-09-20 07:01] amirmasoudabdol commented on #1396
You can download the latest Nightly [here](http://static.jasp-stats.org/Nightlies/), and the release date is just around the corner! 🙂

[2021-09-20 08:34] JorisGoosen commented on #1165
@fkroener if you try out the fix above you should be able to use JASP

[2021-09-20 08:35] JorisGoosen commented on #1378
@Ziggyblake ?

[2021-09-20 09:08] PerPalmgren commented on #1396
Hi,
Is it possible fo you to sen me a link to a download because I don’t know how to handle a whole Zip-file.
Kind regards
Per

Per J. Palmgren | DC, FRCC, MMedEd, PhD |
Associate Professor |
Department of Learning, Informatics, Management and Ethics |
Karolinska Institutet | Tomtebodavägen 18A | 171 77 Stockholm |
Tel. + 46 8 524 85 294<tel:+%2046%208%20524%2085%C2%A0294>
***@***.******@***.***>

[2021-09-20 09:11] amirmasoudabdol commented on #1396
If you are using Windows, I believe you can just download the MSI file, and that is just a normal Window installer package. [This one](http://static.jasp-stats.org/Nightlies/Windows/JASP-nightly-development-61a659d99e452e6302669e9781d53c45bda702a1.msi) should do it, it's for 64bit systems.

[2021-09-20 09:20] PerPalmgren commented on #1396
Yes, I am using Windows. What is the MSI file?
Do you mean the JASP .exe. file?
Per

***@***.***

Per J. Palmgren | DC, FRCC, MMedEd, PhD |
Associate Professor |
Department of Learning, Informatics, Management and Ethics |
Karolinska Institutet | Tomtebodavägen 18A | 171 77 Stockholm |
Tel. + 46 8 524 85 294<tel:+%2046%208%20524%2085%C2%A0294>
***@***.******@***.***> | ki.se<https://eur01.safelink

[2021-09-20 09:24] amirmasoudabdol commented on #1396
This link, http://static.jasp-stats.org/Nightlies/Windows/JASP-nightly-development-61a659d99e452e6302669e9781d53c45bda702a1.msi

Clicking on it will download the latest Nightly, and you can then double click on it and it let you install the new version.

[2021-09-20 11:09] Ziggyblake commented on #1378
Thanks ! It works perfectly.
Thank you so much.
Have a great day.

[2021-09-20 11:32] JorisGoosen commented on #1378
Aah great!

Adding the `--user` flag might also help, but then it all needs to be installed as user.

[2021-09-20 11:44] #1420 closed

[2021-09-20 16:20] brandenjohnson1 opened #1421 "Changing data type at multiple points"
* Enhancement: To allow people to change the data type at multiple points or in multiple ways, rather than just when one first opens the data file and can click on the column heading
* Purpose: If one begins a data analysis and realizes that the JASP assignment of data type erroneously prevents one from using that particular statistic, there is no way to change the data type then and there. One mu

[2021-09-21 08:45] tomtomme opened #1422 "interval plots broken, show always same mean and interval across groups"
JASP 0.15 beta 20.9.2021 (flatpak linux build)

<img width="293" alt="grafik" src="https://user-images.githubusercontent.com/4428185/134140267-b4bcfa5b-890f-48fe-adf4-1b47b020de60.png">

In descriptives the interval plots are broken. They show always the same mean and interval across groups. They should be different as can be seen in the table above, where mean and standard error differ.
I guess t

[2021-09-21 08:49] tomtomme commented on #1327
still broken in JASP 0.15 beta 20.9.2021 (flatpak linux build)

[2021-09-21 08:53] tomtomme commented on #1327
And as you can see here, it used to work just fine. I can still open the jasp file containing this in the new beta. I do not get why you two say it should not work to begin with.

<img width="1357" alt="grafik" src="https://user-images.githubusercontent.com/4428185/134141728-8350220e-53b1-4a8a-bd43-b92cf29f87e0.png">

[2021-09-21 08:59] tomtomme commented on #1364
I have written an extensive review of the current literature on gamma vs spearman vs kendal vs pearson for my german textbook (work in progress). I would translate it, if needed for documentation when to use which.

[2021-09-21 09:01] tomtomme commented on #1326
still broken in JASP 0.15 beta 20.9.2021 (flatpak linux build)

[2021-09-21 09:03] tomtomme commented on #1325
still broken in JASP 0.15 beta 20.9.2021 (flatpak linux build)

[2021-09-21 09:08] tomtomme commented on #1060
not yet in JASP 0.15 beta 20.9.2021 (flatpak linux build)

[2021-09-21 09:09] Kucharssim commented on #1060
It was not merged yet - we postponed it for 0.16

[2021-09-21 09:09] tomtomme commented on #1031
not yet in JASP 0.15 beta 20.9.2021 (flatpak linux build)

[2021-09-21 09:10] tomtomme commented on #1060
so cool :D

[2021-09-21 09:11] EJWagenmakers commented on #1325
This is hot-fix worthy imo

[2021-09-21 09:21] JohnnyDoorn commented on #1417
Hi @annagilioli ,

If you do not have missing data, then this is a bit strange. Could you send me your jasp file so I can take closer look? You can email it to johnnydoorn <at> gmail <dot> com.

Kind regards
Johnny

[2021-09-21 10:03] #1325 closed

[2021-09-21 10:10] #1422 closed

[2021-09-21 10:55] JorisGoosen commented on #1031
Aah no, we totally forgot about this, but it is too late for this release.

[2021-09-21 11:58] EJWagenmakers commented on #1031
Do we even want to do this though? Might just be confusing

[2021-09-21 12:08] JorisGoosen commented on #1031
It *is* confusing but sadly enough this is how things are. German (and dutch) excel also do this.

[2021-09-21 13:06] tomtomme commented on #1031
It gets even more confusing if you look at this map closely. Dot and Comma are not the only guys in town.
<img width="1351" alt="grafik" src="https://user-images.githubusercontent.com/4428185/134175839-f2379258-da50-4928-9176-f8220181379c.png">

[2021-09-21 13:12] FBartos opened #1423 "[Learn Bayes] - Binomial ***: Remove sequential analysis output when changing data input"
Some sequential analysis output keeps being displayed even if the sequential analysis was deactivated due to a change in data input.

[2021-09-21 15:29] JorisGoosen opened #1424 "Flatpak issues - crashing JASP"
tl;dr
Workaround is as follows:
[code]

This will install a version of the kde platform from `build of org.kde.Sdk, Thu 26 Aug 2021 12:59:37 PM UTC (cb705061cdcb8ba73d87d310166bca55fe366e1e)`.

If you build locally you might want to downgrade the sdk also, as:
[code]

### Why is the workaround needed?

It turns out that some newer updates to `org.kde.Platform` (which we use because it contains Qt,

[2021-09-21 16:32] JohnnyDoorn commented on #1417
Hi @annagilioli,

I checked, and there seems to be an issue with the afex package and its checking for the data structure - I am already in touch with the maintainer of the package, and hopefully this can be fixed soon.

Kind regards,
Johnny

[2021-09-21 17:10] annagilioli commented on #1417
Thank you Johnny. May I have to do an upgrade of the package?

Best wishes,
Anna

Il giorno mar 21 set 2021 alle ore 18:32 JohnnyDoorn <
***@***.***> ha scritto:

--
Anna Gilioli, Ph.D Student
Department of Biomedical, Metabolic and Neural Sciences
University of Modena and Reggio Emilia
Via Campi 287, 41100 Modena, Italy
tel: +39.3312381604
mailto: ***@***.*** ***@***.***>

[2021-09-21 22:43] JorisGoosen commented on #1031
Haha, yeah definitely something to get implemented then!

Funny the middle-east decided to go with their own solution ^^

[2021-09-22 07:53] amirmasoudabdol commented on #1031
Considering the evolution of the numeral system (from Hindu-Arabic), it's funny that the rest of the world decided to go with their different solutions! 😅😉

Jokes aside, Momayyez is technically a different name for comma, and as long as we support both Point and Comma systems, we should be fine. The difference between Momayyez and Comma is very minimal, so basically, the entire world is actually u

[2021-09-22 08:18] EJWagenmakers commented on #1031
It will be less confusing if we implement the comma-period convention as an option in the general preferences.

[2021-09-22 08:50] amirmasoudabdol commented on #1031
There are a lot of utilities in [QML](https://doc.qt.io/qt-5/qml-qtqml-locale.html), and [JS](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Number/toLocaleString) (even R) to do this properly. If we decide to do this, it needs to be consistence, and propagate to analysis controls, etc. As we are offering more languages, we need to start thinking about these more

[2021-09-22 09:00] JorisGoosen commented on #1031
Well, we should rely on the system for sure.

It is just that someone long ago decided that dots are the way to go internally and we've never bothered to change because the app was in english anyway.

https://doc.qt.io/qt-5/qlocale.html#decimalPoint

[2021-09-22 09:00] tomtomme commented on #1031
Sounds good to me :)
Maybe JASP could detect the used locale of the operating system on installation and switch language, dot and comma depending on the settings of the operating system. This is how most software handles it as far as I know.
@amirmasoudabdol I would not go for Momayyez either for the same reasons you named. We would be the only software around implementing it.

[2021-09-22 22:43] ovari opened #1425 "Add Weblate link to README"
Should the correct link be added to the [README.md](https://github.com/jasp-stats/jasp-issues) file?

Do all the files at https://hosted.weblate.org/projects/jasp/ need to be translated or just https://hosted.weblate.org/projects/jasp/jaspdesktop/?

What do you think?

Thank you

[2021-09-22 22:48] ovari commented on #1425
Sorry for the noise. It is already there at https://hosted.weblate.org/projects/jasp/

[2021-09-22 22:50] ovari commented on #1425
Should the correct link be added to the README file?

Do all the files at https://hosted.weblate.org/projects/jasp/ need to be translated or just https://hosted.weblate.org/projects/jasp/jaspdesktop/?

Thank you

[2021-09-22 22:54] AlexanderLyNL commented on #1425
You raise a fair point. The translation guides can be found in our main repository and not in our issue repository, see the bottom of https://github.com/jasp-stats/jasp-desktop/ and https://github.com/jasp-stats/jasp-desktop/blob/development/Docs/development/jasp-guideline-translators.md in particular. The latter guide, written by Johannes Keyser, can also be found here https://jasp-stats.org/tran

[2021-09-22 23:31] ovari commented on #1425
Thank you for your links.

[2021-09-22 23:31] #1425 closed

[2021-09-23 04:54] reichsatcwu opened #1426 "The "developer cannot be verified" Issue on macOS"
* JASP version: .15.0.1 whatever is on your site this evening.

* OS name and version: Big Sur 11.4

MacOS refuses to open the file once it's in the applications folder because "developer cannot be verified" that there is no malware. There is no way to bypass this.

<img width="256" alt="Screen Shot 2021-09-22 at 9 33 19 PM" src="https://user-images.githubusercontent.com/91240016/134456203-82a3b1c

[2021-09-23 06:57] amirmasoudabdol commented on #1426
We are aware of this issue and working on a fix for it. For now, you can follow this instruction:

[2021-09-23 10:01] Veelgehoord opened #1427 "Failed update on Pop!_OS"
* JASP version: 0.15.0
 Linux (Pop!_OS)
* Analysis: Update halts
* Bug description: flatpak update gives an error
* Error: app/org.jaspstats.JASP/x86_64/stable is not available

[2021-09-23 19:53] AlexanderLyNL commented on #63
Done in JASP 0.15

[2021-09-23 19:53] #63 closed

[2021-09-23 19:54] AlexanderLyNL commented on #451
Now possible with basic plot editing in JASP 0.15

[2021-09-23 20:29] reichsatcwu commented on #1426
Thank you for the help. I didn't have the option to override yesterday and do now. Everything is up and running!

In case anyone else searches this issue: I updated to the newest Big Sur v. 11.6 last night.

[2021-09-23 21:35] EJWagenmakers commented on #451
But this isn't possible as an automatic setting across multiple figures at the same time, right?.You would have to change every figure by hand, which is tedious. Whenever you do "split by" you'd probably want the option to set a common scale somehow...

[2021-09-24 01:05] kc2nc90 opened #1428 "[Feature Request]: Translation to code (Python, R) from analyses"
* Enhancement: Translation to code (Python, R) from analyses
* Purpose: Support developing coding skills along side data analysis skills

**Describe the solution you'd like**
Perform data analysis and see behind the curtain for how the coding that runs the analysis looks. Thanks for your work!

[2021-09-24 01:11] kc2nc90 commented on #1428
Edge Centrality in Network Analysis-- cannot resize to read list. Thanks for any guidance!

Would love eigenvector centrality option for network analysis.  Thanks for your excellent work!

[2021-09-24 08:08] JohnnyDoorn commented on #1417
Hi @annagilioli,

After checking with the maintainer of afex and checking it against the output of the stats::aov function, it seems that there is indeed an issue with your data in combination with the specified model. The specified design has a rank deficiency, meaning the coefficient for PCS_M cannot be estimated because the column can be written as a function of the other variables included in

[2021-09-24 08:08] #1417 closed

[2021-09-24 11:55] AlexanderLyNL commented on #1378
This seems to be fixed. So I'm closing this, please reopen if not. Thanks for the report.

[2021-09-24 11:55] #1378 closed

[2021-09-24 11:56] vandenman commented on #1366
Hi so I looked a bit deeper into this and the reason this fails is that your column names are called differently in the pre and post analyses (e.g., Income_T0 vs Income_T3). When exporting the layout, we add the names like so:
![image](https://user-images.githubusercontent.com/21319932/134654752-7caff7c2-ff14-4656-b722-07b632ad313f.png)

The reason we add the names, is that if you'd want to reuse

[2021-09-24 12:01] AlexanderLyNL commented on #808
Dear @ilias-nikolakopoulos,

We just released JASP 0.15. Could you please try again with the new version to check whether it's really fixed?

Cheers,
Alexander

[2021-09-24 12:19] oguzkarayemis commented on #1427
This worked for me.
First remove the current installation: `flatpak remove org.jaspstats.JASP`
Second reinstall with this command: `flatpak install flathub org.jaspstats.JASP`

[2021-09-24 15:11] #1423 closed

[2021-09-24 15:26] #165 closed

[2021-09-24 16:06] AlexanderLyNL opened #1429 "Descriptives: Percentiles cannot be negative. Please add lower bound to the UI"
**Operating system:**
macOS 11.5 Big Sur

**Commit ID:**
https://github.com/jasp-stats/jasp-desktop/commit/f6ba93bde91dcf36e936e64603a8c541545d0987

**JASP file / screenshot:**
<img width="2352" alt="Screenshot 2021-09-16 at 00 10 48" src="https://user-images.githubusercontent.com/10271675/133516690-c6eb76a7-6b5a-4b9a-9a7d-1f581e442f87.png">

https://www.dropbox.com/s/rell9f5kpljbv2a/plotEdit2.jas

[2021-09-25 09:01] jbingram commented on #1424
Error: While pulling app/org.jaspstats.JASP/x86_64/stable from remote flathub: Server returned status 404: Not Found

[2021-09-25 09:02] jbingram commented on #1427
Error: While pulling app/org.jaspstats.JASP/x86_64/stable from remote flathub: Server returned status 404: Not Found

[2021-09-25 10:11] JorisGoosen commented on #1424
Can you reach `flathub.org` in the webbrowser?

[2021-09-26 21:01] AlexanderLyNL opened #1430 "ifElse broken in compute column point-and-click interface"
**JASP version:**
0.15

**OS name and version:**
macOS 11.5 and Windows 10

**Analysis: **
Compute column click interface

**Bug description:**
- Originally reported here https://forum.cogsci.nl/discussion/5671/ifelse#latest
- Compute column ifElse broken.
- Data type not read correctly it seems

https://www.dropbox.com/s/98kycsztqoppm6p/ifElseBrokenComputeColumn.jasp?dl=0

**Expected behaviour:**

[2021-09-26 23:55] R180 opened #1431 "Glitches, JASP 0.15.0: (1) Recurring "JASP has been installed from a Zip. (2) 3-5 sec. filter delay"
I've noticed some glitches in JASP 0.15.0 (Windows 10):

(1) There's a recurring announcement that "JASP has been installed from a Zip. . ." However, it is not a one-time thing. It happens every time I double-click a jas file to launch JASP. See the image, below.

![image](https://user-images.githubusercontent.com/16230091/134828643-b777b11d-9b66-427a-9b93-e4ff384a523d.png)

(2) There's a 3- to 5-

[2021-09-27 01:22] R180 commented on #1431
Update: This slowdown doesn't just occur for filtering. Many operations take a very long time to complete, even with file as simple as an ANOVA on the Tooth Growth data set. Saving takes half a minute.

[2021-09-27 08:40] shelbyf8 opened #1432 "Number of observations is <2 in Mean Speed on subject"
* JASP version: Jasp 0.15.0.0
 windows
* OS name and version: windows 10 home
* Analysis: anova
* Bug description:
* Expected behaviour: it won’t let me complete my anova test.
![Uploading image.jpg…]()

#### Steps to reproduce:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

[2021-09-27 08:41] JoKeyser commented on #1424
I hit the 404 like @jbingram just when trying to `flatpak update` as well (and yes, flathub.org is reachable in principle). It seems to me that flathub is a bit flaky, it 404's at different stages of the download (sometimes it stops at 9%, 12%, or at 23%).
Here one example:
[code]

[2021-09-27 08:41] shelbyf8 commented on #1432
![Uploading image.jpg…]()

This is my data.

[2021-09-27 09:01] vandenman commented on #1432
@shelbyf8 did you mean to upload your data? Also, what analysis did you run, and with what options?

As an aside from that, it's not possible to conduct a Repeated Measures ANOVA with fewer than 2 observations after grouping on subject.

[2021-09-27 09:31] shelbyf8 commented on #1432
I’m running a classical anova, not a repeated measures anova. I’m honestly not even sure if this is right, it’s for one of my classes but I’ve never done anything like this. I appreciate your response.

[2021-09-27 09:47] vandenman commented on #1432
@shelbyf8 could you share the jasp file? In order to upload it, you have to zip it first. Note that your previous attempt didn't succeed (you may have to wait until the upload completes before clicking comment).

[2021-09-27 12:32] Lokis123 commented on #1092
Hi @boutinb! I have a similar issue. JASP won't start on my computer and after enabling logging to my '%USERPROFILE%\AppData\Roaming\JASP\JASP\Logs folder' the only logs that appear are called 'startup.log' and 'JASP <DATE> <TIME> Desktop.log'. The latter contains:

What specifically is JASP trying to access? I have limited rights on this machine as it is my work system. I imagine that could be pa

[2021-09-27 12:49] Lokis123 opened #1433 "JASP won't start"
* JASP version: 0.14.1
* OS name and version: Windows 10 Enterprise, 21H1
* Analysis:
* Bug description: JASP won't start after install. After enabling logging to %USERPROFILE% the log 'JASP <date> <time> Desktop.log' appears. It contains only "interprocess exception! No access". I have limited rights/access to this machine, but what is JASP trying to access?.
* Expected behaviour: App to open as

[2021-09-27 16:40] JorisGoosen commented on #1433
It sounds like the boost shared memory fails to create the required files, might be related to what @boutinb talks about in https://github.com/jasp-stats/jasp-issues/issues/1302#issuecomment-849666054

[2021-09-27 16:41] JorisGoosen commented on #1433
He mentions that the docs of boost say: ```
In those platforms, shared memory is emulated with mapped files created in a "boost_interprocess" folder created in a temporary files directory. In Windows platforms, if "Common AppData" key is present in the registry, "boost_interprocess" folder is created in that directory (in XP usually "C:\Documents and Settings\All Users\Application Data" and in Vis

[2021-09-27 18:31] CogniMath opened #1434 "[Bug]: Network module - different results in jasp 0.14.1 and 0.15"
* JASP version: 0.15 and 0.14.1

* OS name and version: Windows 10
* Analysis: Network module
Hello, I have the following problem as shown in the image. When I perform the same analysis in version 0.15 (left in the image) I obtain an error message; on the other hand, performing the same analysis in version 0.14.1 (right in the image) I obtain the network plots and results from the analysis. Thank

[2021-09-28 02:04] Sh1706 opened #1435 "Does JASP work on Mac Os Big Spur, because it downloads but wont open on my Mac"
* JASP version:

* OS name and version: Mac Os Big Spur 11.5.2
* Analysis:
* Bug description: <!--- The download from the JASP website will not open, it says is cannot ID the developer which means that Mac security setting will not allow it due to Malware risk

[2021-09-28 03:35] Sh1706 commented on #1435
https://jasp-stats.org/download/

[2021-09-28 06:36] vandenman commented on #1434
Hi @CogniMath thanks for reporting this issue! Would it be possible to share the .jasp file? Note that to upload jasp files you have to zip them first.

[2021-09-28 07:06] JoKeyser commented on #1435
@Sh1706 , your issue seems to be known, please read the information in issue #1426, including a workaround how to install it until it the problem is fixed. Maybe that works for you?

[2021-09-28 13:33] beu-uni-duesseldorf opened #1436 "JASP 0.15 Machine Learning Classification K-Nearest Neighbors"
Hi,
I like to work with JASP 0.15 Machine Learning Classification K-Nearest Neighbors tool
and the results are very impressive, but
it would be helpful to have some informations about the used cut-offs, classification values, etc in the final model solution.
Further it would be great to save the model to apply it to new data.

Best, Markus

[2021-09-28 14:59] #1051 closed

[2021-09-28 15:08] koenderks commented on #1436
Hi @beu-uni-duesseldorf,

Thanks for your compliment and for your feedback. We are actively working to implememt functionality that allows you to save a fitted model and apply it to new data (see https://github.com/jasp-stats/jaspMachineLearning/pull/26). This is on the agenda!

For you other request, do you think it is possible to clarify a bit further what type of output you want to see? Maybe y

[2021-09-28 16:47] beu-uni-duesseldorf commented on #1436
Hi,

thanks for your quick response

I am glad to hear that you are working on saving models

Sorry for my unclear other comments

I will try to make it clearer with an example

This is a snippet of my data

And this is the result page

Now I would like to have some informations oft he model in terms of my Predictor variables

For example „TBR gesamt“ higher than cut-off xxx leads to Maligne=1 for

[2021-09-28 20:14] NikitaKhromov-Borisov opened #1437 "several suggestions"
Please remove, finally, once and for all the spaces between e and the exponent like 9e-6, but not 9e{space]-6!.

It is illogical to present confidence intervals for marginal means in ANOVA, but not when comparing two samples.

Present confidence intervals for Cohen's d in ANOVA, not only for t-test.

The greatest misconception is to calculate phi in contingency tables only for 2x2 tables.

For all

[2021-09-29 05:40] R180 commented on #1431
Another update:

Re-installation was only a temporary fix. The problem has returned.

[2021-09-29 07:59] JorisGoosen commented on #1431
@R180  Where did you install JASP to?

And perhaps you could upload the logs as described [here](https://github.com/jasp-stats/jasp-desktop/blob/development/Docs/user-guide/logging-howto.md) it might tell me something.

It might take a while for me to actually work on this though as Im on vacation, but this sounds like a very annoying issue so I thought I'd ask for more info.

[2021-09-29 08:40] JorisGoosen commented on #1424
Well, I have no clue why you are running into 404 errors?

I just tried installing JASP from flathub, from scratch (as in, not updating a previous one) and it can find everything it needs and installs fine.

Have you tried first uninstalling all versions of JASP you have and then trying it again?

[2021-09-29 09:40] jbingram commented on #1424
$ flatpak remove JASP
Uninstall complete.
$ flatpak install JASP
Looking for matches…
Found ref ‘app/org.jaspstats.JASP/x86_64/stable’ in remote ‘flathub’ (system).
Use this ref? [Y/n]:

org.jaspstats.JASP permissions:
    ipc       network              wayland              x11
    dri       file access [1]      dbus access [2]

    [1] home, xdg-config/kdeglobals:ro
    [2] com.canonical.AppMenu.

[2021-09-29 10:01] JorisGoosen commented on #1424
Can you try out `flatpak repair` as described: https://docs.flatpak.org/en/latest/flatpak-command-reference.html#flatpak-repair

Perhaps something went wrong locally?
Although your error looks suspicously similar to the problem I had with `org.kde.Sdk.Debug` as alluded to in https://bugs.kde.org/show_bug.cgi?id=442422 (which is why I can't solve the crash problem jasp has, as I cant debug it)

[2021-09-29 12:00] JoKeyser commented on #1424
The `flatpak repair` didn't work for me, but after uninstalling and then re-installing, it finally worked! So it may have been some local problem.

[2021-09-29 13:17] boutinb opened #1438 "Windows cannot uninstall JASP"
* JASP version: 0.15
* OS name and version: Windows 10
* Bug description:
You cannot uninstall the msi file on Windows
The problem is that the wrong command is set in the registry:

![Problem med JASP](https://user-images.githubusercontent.com/503332/135275609-4e7e93a9-17b9-47fb-9211-1d864b98b1f7.JPG)

It should be  misexec.exe / X  instead of  misexec.exe / I

[2021-09-29 14:13] R180 commented on #1431
I installed JASP to a Windows 10 machine. I accepted all defaults. It's currently in: C:\Program Files (x86)\JASP
Here are some logs:

00:00:00.000: EngineRepresentation::sendLogCfg()
00:00:00.000: sending to jaspEngine: {
   "typeRequest" : "logCfg",
   "where" : "file"
}

00:00:00.064: message received from engine #0: {
   "typeRequest" : "logCfg"
}
...
00:01:41.455: MainWindow::~MainWindow()
00

[2021-09-29 14:15] R180 commented on #1431
Here they are as attachments
[JASP 2021-09-29 10_01_43 Engine 0.log](https://github.com/jasp-stats/jasp-issues/files/7252641/JASP.2021-09-29.10_01_43.Engine.0.log)
[JASP 2021-09-29 09_59_29 Desktop.log](https://github.com/jasp-stats/jasp-issues/files/7252643/JASP.2021-09-29.09_59_29.Desktop.log)
[JASP 2021-09-29 09_59_29 Engine 0.log](https://github.com/jasp-stats/jasp-issues/files/7252644/JASP.20

[2021-09-29 15:14] #1438 closed

[2021-09-29 15:23] tomtomme commented on #1437
some of those issues are already raised in separate issues. If you want someone to look into yours, you need to file one issue at a time and check before which ones are already raised.

[2021-09-29 15:25] tomtomme commented on #1427
I can confirm this. JASP installs only from flathub-beta, not from flathub-stable

[2021-09-29 15:31] vandenman commented on #1427
@Veelgehoord could you try `flatpak repair`?

See also https://github.com/jasp-stats/jasp-issues/issues/1424#issuecomment-930030925

[2021-09-29 15:39] tomtomme commented on #1424
Confirmed. I had beta and stable on manjaro. Stable would not install. After removing both, stable installs fine.

[2021-09-29 15:42] tomtomme commented on #1427
repair did something... needed to deinstal both after and installed stable only. That fixed it.

[2021-09-29 15:47] jbingram commented on #1427
Weird. The procedure "remove JASP stable -> repair ->  install" was not working this morning and yesterday on 3 computers.
Just retried now and everything works on all computers.
NB: I had no beta version installed

[2021-09-29 15:48] jbingram commented on #1424
Weird. The procedure "remove JASP stable -> repair ->  install" was not working this morning and yesterday on 3 computers.
Just retried now and everything works on all computers.
NB: I had no beta version installed
Thanks for your help guys. Much appreciated

[2021-09-29 18:09] NikitaKhromov-Borisov commented on #1437
Sorry me, but
If you are really interested in improving the program, then please organize
the communication so that it would be convenient for the user.
Best regards,
Dr. Nikita Khromov-Borisov

ср, 29 сент. 2021 г. в 18:23, Thomas Langkamp ***@***.***>:

[2021-09-29 18:49] JorisGoosen commented on #1424
I guess flathub itself had a problem and they've now solved it? Or it took a while for them to process the new version...
Good to hear it works now though

[2021-09-29 19:41] TarandeepKang opened #1439 "Bayesian and frequentist Poisson regression"
In a partial repeat of #59 I would like to again request the addition of poisson regression models, in their various forms. Just today I came across this paper, which presents the Bayesian implementation, along with associated code:

https://arxiv.org/abs/2109.09520

I am not knowledgeable enough to determine if this Bayesian implementation is the ideal one, but I trust one of the team will be abl

[2021-09-29 20:43] Kucharssim commented on #1439
Dear @TarandeepKang,

thank you for the suggestion! Support of GLMs including Poisson regression is something we have on our to-do list of features that we would very much like to offer; I cannot give you the exact timeline, but it's something we plan to work on very soon!

[2021-09-29 20:57] EJWagenmakers commented on #1437
Hi Nikita,

Thanks for your suggestions; we realize these are freely given, and we do appreciate them. We are already working to address several (@amirmasoudabdol, you were looking at improved formatting for scientific notation I believe; @FBartos, can you add the comment on phi to the project "more love for contingency tables"? ). I'll have to look into some of the others. If you want to help us

[2021-09-30 06:34] PerPalmgren opened #1440 "Problem when uninstalling!"
* JASP version: 0.15

* OS name and version: Windows
* Analysis: I ma very happy to see the new JASP version. You have done a great job guys :-). I love your program. I am using the program for our doctoral students but the IT-department says there is a problem uninstalling JASP, they mean there is an error in your msi-file, thus when it is going to uninstall it is trying to install once more. The

[2021-09-30 06:41] Lokis123 commented on #1433
It seems you are right! I have been given write permissions to the folder %ALLUSERSPROFILE%\boost_interprocess, and the app started properly! I encountered another error after this (regarding the lack of a driver for OpenGL or something), but that was temporarily solved through starting JASP with 'JASP --safeGraphics'.
Thank you so much for following up on this as fast as you did!

[2021-09-30 06:41] #1433 closed

[2021-09-30 07:00] tomtomme commented on #1437
I apologize for my original comment, it sounded rude in hintsight.
You are certainly right, that it could be easier for us users to raise issues. To organize issue-communication in another way JASP would need to switch the platform - a huge undertaking. I just wanted to point out, how you could improve your way to help - and yes, it is great that you want to help in the first place!

[2021-09-30 08:51] boutinb commented on #1440
Yes we have seen this error. Cf https://github.com/jasp-stats/jasp-issues/issues/1438
Maybe they can have a look to this version https://static.jasp-stats.org/Nightlies/Windows/JASP-nightly-development-580450fc96173b0ea077bebe8f7e8b0d91998fd5.msi (this is not a signed version, so Windows will warn you not to use it).
If this fix solves your problem we can maybe add this fix as a hotfix for the 0.1

[2021-09-30 08:59] boutinb commented on #1433
What a good news! It is also good for us to know this.

[2021-09-30 09:07] JMBKoch commented on #1319
@juliuspf  see 1. under "Minor Requests".

[2021-09-30 09:19] boutinb commented on #1431
Hi @R180 I'm not sure that if it has to do with your problem, but we have seen that there is something during the uninstall. So not everything is removed when you re-install a JASP version. Could you try this version: https://static.jasp-stats.org/Nightlies/Windows/JASP-nightly-development-580450fc96173b0ea077bebe8f7e8b0d91998fd5.msi (be careful this is a development version not signed, so Windows

[2021-09-30 09:27] boutinb commented on #1092
Hi @Hardknox51 I think @Lokis123 found the problem: https://github.com/jasp-stats/jasp-issues/issues/1433. You need to have write permission to the folder %ALLUSERSPROFILE%\boost_interprocess

[2021-09-30 09:56] TimKDJ commented on #1431
I can reproduce this. If I double click on a .jasp file then the zip warning is shown despite the fact I have the MSI installed

[2021-09-30 10:35] R180 commented on #1431
Hi @boutinb
Thanks for providing the installation file. Unfortunately I cannot try it, currently. I have 'administrative privileges that normally let me enter an administrative user ID and password to "run as administrator." However, this does not work for the file you provided. (I get an error message that says: "The system administrator has set policies to prevent this installation.")

[2021-10-01 20:10] brandenjohnson1 opened #1441 "JASP crashed"
* JASP version: 0.14.1
* OS name and version: Windows 10 (10.0)
* Analysis:
* Bug description:
* Expected behaviour:

#### Steps to reproduce:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

-----------------------------------------------------------------------

### Debug information:
**Engine # 0** process  is *running* and it's state is *idle*.
**Engine # 1** process *c

[2021-10-02 16:18] PerPalmgren opened #1442 "A post hoc analysis for Pearson’s chi-squared test for categorical data"
* Enhancement: Posthoc for Chi-square
* Purpose: Not have to calculate by hand
* Use-case:

**Is your feature request related to a problem? Please describe.**
 When computing Pearson’s Chi-squared test the only result you get is that you know that there is a significant difference in the data. When using larger contingency tables like 3x3 or even 2x3 it is cumbersome to search which parts of the d

[2021-10-03 00:28] R180 opened #1443 "Unfortunately the plot cannot be resized. Error message: no plot was found"
JASP 0.15 Windows 10 ANOVA

If I open JASP and then open from the JASP data library the _tooth-growth-data-set-and-pre-performed-analysis_, and then attempt to re-size the plot, I get the following error message.

**_Unfortunately the plot cannot be resized. Error message: no plot was found If the problem persists, please report the message above at: https://jasp-stas.org/bug-reports_**

See the f

[2021-10-03 13:35] R180 opened #1444 "Resizing plots: Provide a way for the user to know and reproduce the exact amount of resizing."
Currently, the user can drag the lower corner of a plot's output field to resize and change the dimensions of a plot. (This is sometimes necessary, for example, when the plot would otherwise be too narrow to accommodate the horizontal-axis labels.)

However, there's currently no way for the user to do this consistently since the plot's output field deforms in a gradual continuous manner, with no f

[2021-10-04 09:39] boutinb commented on #1443
Hi @R180 Thank you for reporting this error.
Apparently this JASP file was not correctly refreshed for the 0.15 release. I see this error in other JASP files of the Data Library. A simple workaround is to refresh the analysis (CTRL-R for example, or Refresh All in Dropdown menu of the title), this recreates the plot objects, and you can resize it without error.
We will pay attention to refresh cor

[2021-10-04 09:39] #1443 closed

[2021-10-04 09:44] boutinb commented on #1441
Hi @brandenjohnson1 We have a new version 0.15 (https://jasp-stats.org/download/). Could you try it?

[2021-10-04 13:21] Sal-Ramos opened #1445 "[Feature Request]: Cochran-Mantel-Haenszel & McNemar test"
Hello all,

First of all I would like to thank you for the awesome initiative (JASP). I use it regularly not only to teach but also to do the great majority of my statistical analyses. It easy to install, it has Windows, MacOs and Linux versions, it is easy to use and easy to report the results. Really amazing software!

I would like to suggest a new feature: the Cochran-Mantel-Haenszel test.

It

[2021-10-04 17:14] EJWagenmakers commented on #1445
Indeed! @FBartos, can you add this to "more love for contingency tables"?

[2021-10-05 00:32] brandenjohnson1 opened #1446 "Analysis terminated unexpectedly on 15.0"
* JASP version: 15.0.0.0
* OS name and version: Windows 10 64-bit
* Analysis: Confirmatory Factor Analysis

I had just downloaded the latest version. I had specified the observed variables, and was in the process of requesting various data (e.g., model plots) when I got the error message.

[NOAARAS_Merged_BJworking_Trust.zip](https://github.com/jasp-stats/jasp-issues/files/7281991/NOAARAS_Merged_B

[2021-10-05 14:48] arciniegasdiaz opened #1447 "Improve help files - correlation types"
Hello good,
I have a query regarding the correlation matrix that JASP uses for its analyzes. For example, for factor analysis a type of correlation matrix is ​​needed, which depends on the type of variable and its distribution.
I use the R programming language and in this I can do all kinds of correlations and add them to my analysis. Based on this, I would like you to help me understand under wha

[2021-10-05 15:05] daniel04bolivar commented on #1447
Hey friend, I also have the same doubt.
I look forward to a prompt reply.

[2021-10-05 15:20] boutinb commented on #1418
Hi @zijunke Could you give your JASP file?

[2021-10-05 15:57] JohnnyDoorn commented on #1442
I think this belongs in the "more love for contingency table" project, which I think @FBartos is undertaking?

[2021-10-06 14:30] boutinb commented on #1440
I have made a new signed msi file for 0.15. If you now download and install the JASP 0.15 version for Windows, you should get the right uninstall command in the registry.

[2021-10-07 11:00] harcel opened #1448 "JASP crashes on network graphics settings"
* JASP version: 0.15

* OS name and version: Linux, Pop!_OS 21.04

* Analysis: When I try to add the x-ccordinates of the network plot to the data set, all is fine, then including the y-coordinate as well makes JASP crash (repeatedly).
* Bug description: [bug.zip](https://github.com/jasp-stats/jasp-issues/files/7302189/bug.zip)
* Expected behaviour: I expected both x and y to be added to the data

[2021-10-07 14:04] wschelle opened #1449 "Cannot open / load saved analysis .jasp file"
* JASP version: currently V0.15.0 (but also experienced it with V0.14.1)

* Windows 10 (laptop, core i7, 8 GB RAM) & 7 (desktop, core i5, 16 GB RAM):
* Analysis: Linear Mixed Models
* Bug description: I ran a couple of linear mixed model analyses. Saved the results. But now I cannot open the saved jasp-files. When I try to open them, I do see a progress bar (loading data, loading jasp file), but w

[2021-10-07 22:12] agarza7 opened #1450 "JASP in arm64 for Raspberry pi"
There is some version  of JASP for arm64 cpu? I want to run it on a Raspberry pi.

Thanks

[2021-10-08 10:24] boutinb commented on #1447
@Kucharssim Could you answer this?

[2021-10-08 15:55] agarza7 commented on #1450
Not yet, but I will try. Thanks

[2021-10-08 16:06] boutinb commented on #1448
Hi @harcel It does not crash for me... But I am on MacOS. Maybe can @akashrajkn try it?

[2021-10-08 16:15] boutinb commented on #1449
I cannot reproduce this problem.
Could you send your JASP file (rename it with the zip extension, and you can drag & drop it on a new comment of this issue in GitHub)?

[2021-10-10 07:38] rafiulbiswas opened #1451 "Feature request: Multinomial Logistic Regression"
In SPSS there are can be performed both binary logistic regression and multinomial logistic regression. Here, in JASP i can perform only binary logistic regression. There is no option to perform multinomial logistic regression.
![image](https://user-images.githubusercontent.com/8818508/136686885-68ee333d-d2eb-4a60-93ec-6148eed67ce9.png)
To work with categorical data with more than two categories I

[2021-10-10 07:48] #1389 closed

[2021-10-11 09:43] kevinvschie opened #1452 "Feature request: Variable descriptions"
* Enhancement: it is customary to have short variable names in JASP (or any data processor really). However, these short names (though well-intended) may not always clearly communicate what is measured. Even very clear descriptors (e.g., "age") may cause confusion (e.g., measured in months [for infants/children] or in years). If there was a place where one could add more information pertaining to

[2021-10-11 14:36] icekylin opened #1453 "Feature request-Polt rotate x axis labels"
Often times it is useful to rotate the x axis labels to be vertical if there are too many labels and they overlap. This function accomplishes that and ensures the labels are horizontally centered relative to the tick line.

Consider enabling this function in the polts editing menu and adding corresponding buttons.

 Here is a good tool and example [https://github.com/daattali/ggExtra#rotatetextx--

[2021-10-12 01:59] R180 commented on #1431
Update: Increasingly, I've gotten "(not responding)" warnings. Despite repeated re-installs and re-boots, JASP has gotten slower and slower. It's too slow to use, now. I hope I have better luck with the next version.

[2021-10-12 14:22] MartinaFanghella opened #1454 "Error: JASP crashes after computing Bayesian Repeated-Measures ANOVA"
* JASP version: JASP 0.14.1.0
* OS name and version: Windows 10 Pro
* Analysis: Bayesian repeated-measures ANOVA
* Bug description: [JASP_Error.zip](https://github.com/jasp-stats/jasp-issues/files/7330659/JASP_Error.zip)
* Expected behaviour: I am trying to run a Bayesian Repeated-Measures ANOVA, but at the end of computation JASP crashes.

#### Steps to reproduce:
1. Go to 'Bayesian Repeated Meas

[2021-10-12 14:59] linjansen opened #1455 "[Bug]: Cannot plot the posterior - possibly too concentrated near 0."
### JASP Version

0.14

### Commit ID

_No response_

### JASP Module

jaspTTests

### What analysis are you seeing the problem on?

_No response_

### What OS are you seeing the problem on?

macOS Big Sur 11.6

### Bug Description

 I keep encountering a problem in the Bayesian Independent Samples T-test that I did not have a couple of years ago (when I used an earlier version of JASP). Namely, w

[2021-10-12 15:48] verboten999 opened #1456 "[Bug]: Crash either when moving around to see data, or random crash when trying to open menu tab"
### JASP Version

0.15

### Commit ID

_No response_

### JASP Module

_No response_

### What analysis are you seeing the problem on?

_No response_

### What OS are you seeing the problem on?

windows 10

### Bug Description

Crash either when moving around to see data, or random crash when trying to open menu tab

### Expected Behaviour

Dragging the data view shouldn't make it crash and return

[2021-10-13 07:57] yumnazusmani opened #1458 "[Bug]: JASP refuses to show all the features"
### JASP Version

0.15

### Commit ID

_No response_

### JASP Module

jaspDescriptives

### What analysis are you seeing the problem on?

_No response_

### What OS are you seeing the problem on?

Windows 10

### Bug Description

<img width="960" alt="2021-10-13" src="https://user-images.githubusercontent.com/92427715/137090856-558223db-aad9-4286-9a8f-73d95e5a2f54.png">
JASP refuses to show all t

[2021-10-13 08:52] juliuspf commented on #1446
@brandenjohnson1 thanks for the issue! Unfortunately, I cannot unzip your zip file on my computer. Could you describe which variables you used in what factor structure? Or, alternatively, upload a workable zipped jasp file?

[2021-10-14 07:23] #1458 closed

[2021-10-14 10:20] JPKushvah opened #1459 "[Bug]: "ANOVA analysis file is not loading""
### JASP Version

0.15

### Commit ID

_No response_

### JASP Module

jaspMixedModels

### What analysis are you seeing the problem on?

ANOVA

### What OS are you seeing the problem on?

Window 10

### Bug Description

I have performed the repeated measures analysis in jasp. I have saved the output files on a external HDD. Currently, I am not able to open the file. Initially it was all perfect.

[2021-10-16 02:12] Becca268 opened #1460 "JASP crashed"
* JASP version: 0.15
* OS name and version: Windows 10 Version 2009
* Analysis:
* Bug description:
* Expected behaviour:

#### Steps to reproduce:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

-----------------------------------------------------------------------

### Debug information:
**Engine # 0** process *crashed* and it's state is *initializing*.

[Commit used](ht

[2021-10-17 02:13] baiwen26 opened #1461 "[Bug]: JASP Not Responding"
### JASP Version

0.15

### Commit ID

_No response_

### JASP Module

jaspAnova

### What analysis are you seeing the problem on?

ANOVA & Descriptives

### What OS are you seeing the problem on?

Windows 10

### Bug Description

I am able to open the file and click on maybe one thing before it stops responding and freezes. The file was sent to me by someone else, so I also tried uploading the da

[2021-10-17 11:19] izahn opened #1462 "Release full jasp-desktop bundle"
Since version `0.15.0` it seems that jasp desktop cannot be built from the official github release. Downloading https://github.com/jasp-stats/jasp-desktop/archive/refs/tags/v0.15.0.tar.gz, extracting it, and running `qmake` / `make` fails with

[code]
because the released tarball does not contain all the submodules needed to build jasp-desktop.

The build instructions at https://github.com/jasp-st

[2021-10-17 17:50] R180 commented on #1431
Yes. I have student who can't use JASP anymore either, because of the slow-down. My system is a university-owned, Windows 10 system. Hers is a very different, personally-owned Windows 10 system. So the problem definitely isn't specific to my computer.

[2021-10-18 07:32] amirmasoudabdol commented on #1462
Hi @izahn, thanks for reaching out. I believe that tarball is generated by GitHub, and I agree, it should either be self-contained, or not be there. I don't even think it contains the `.git` folder, so it's not even possible to update the submodules when you download it.

As for the better solution for this, we are considering an alternative that might simplify the build procedure. I will keep you

[2021-10-18 11:38] Pkidd1 commented on #1460
Hi,
I'm having a similar problem to that above. Using Windows 10, Version 21H1. JASP closes as soon as any actions are performed e.g. just opening a data set causes a crash.
I've tried uninstalling and re-installing the package. Any other advice?

Thanks
Paul

[2021-10-18 11:42] #1462 closed

[2021-10-18 14:02] Pkidd1 opened #1463 "[Bug]: JASP crashes as soon as I try to run any type of analysis"
### JASP Version

0.15

### Commit ID

_No response_

### JASP Module

jaspRegression

### What analysis are you seeing the problem on?

Correlation analysis

### What OS are you seeing the problem on?

Windows 10 Home

### Bug Description

JASP crashes as soon as I try to run any type of analysis on a data set (.sav file). The whole program just closes without any other notification or warning. I

[2021-10-18 17:17] P300 opened #1464 "[Bug]: Repeated measures anova error"
### JASP Version

0.15

### Commit ID

_No response_

### JASP Module

jaspAnova

### What analysis are you seeing the problem on?

_No response_

### What OS are you seeing the problem on?

mac OS Big Sur 11.6

### Bug Description

This analysis terminated unexpectedly.

[code]

### Expected Behaviour

No table displayed

### Steps to Reproduce

the error occurred after filling out the blanks in

[2021-10-19 01:34] karlatarinn opened #1465 "[Bug]: Error in if ((misc$estType = 'pairs') && (paste(c('', by), collapse = ',') ≠ : missing value where TRUE/FALSE needed"
### JASP Version

0.9.2

### Commit ID

_No response_

### JASP Module

jaspAnova

### What analysis are you seeing the problem on?

repeated measures anova.

### What OS are you seeing the problem on?

windows 10

### Bug Description

will display error message after placing variable. will not run analyzes

### Expected Behaviour

to run a sphericity test

### Steps to Reproduce

conduct repeated

[2021-10-19 09:24] #1320 closed

[2021-10-19 19:37] djdekker opened #1466 "Use system language as default JASP interface language"
* Enhancement: use the system language as the default interface language for JASP
* Purpose: make JASP easier to use
* Use-case: general use

**Describe the solution you'd like**
I'd like to suggest that JASP checks the language of the operating system upon the first boot and sets the JASP interface language accordingly (if the system language is available in JASP). If the system language is not a

[2021-10-19 19:50] djdekker opened #1467 "[Bug]: Languages mixed up in One Sample T-Test note"
### JASP Version

0.15

### Commit ID

_No response_

### JASP Module

jaspTTests

### What analysis are you seeing the problem on?

One Sample T-Test

### What OS are you seeing the problem on?

macOS 11.6 Big Sur

### Bug Description

In the note under the one sample t-test output, the English text and the translation (Dutch, German) are mixed up.

<img width="404" alt="Schermafbeelding 2021-10-

[2021-10-20 08:45] amirmasoudabdol commented on #1467
Thanks for reporting this. We will look into this!

[2021-10-21 15:39] tomtomme opened #1468 "[Bug]: One Sample z- & t-Test do not update descriptive plot if µ is changed"
### JASP Version

0.15

### Commit ID

_No response_

### JASP Module

jaspTTests

### What analysis are you seeing the problem on?

t- and z-Test

### What OS are you seeing the problem on?

manjaro linux

### Bug Description

One Sample z- & t-Test do not update descriptive plot if µ is changed. I have to unselect and reselect descriptive plot to update the shown µ (dashed line).

### Expected B

[2021-10-22 08:32] bojanadinic opened #1469 "[Bug]: Undefined column selected"
### JASP Version

0.14

### Commit ID

_No response_

### JASP Module

jaspMixedModels

### What analysis are you seeing the problem on?

Linear Mixed Models

### What OS are you seeing the problem on?

Windows 10

### Bug Description

![bug](https://user-images.githubusercontent.com/92977448/138420972-65d8b7e7-aabc-4850-981b-65b6b4c5d2a7.png)

### Expected Behaviour

Analysis should be work. The

[2021-10-22 18:05] ghost opened #1470 "Weird output results"
Hi all,
I think this has been posted somewhere but I did my best to search for this with no luck! I would be thankful for any thoughts.
I'm having strange and weird reported values in my output and couldn't understand how can they be interpreted. something like '6.22e - 3' and '3.54e - 3'. See that screenshot as well

Any help?

![Screen Shot 2021-10-22 at 9 02 53 pm](https://user-images.githubuse

[2021-10-24 10:19] PerPalmgren opened #1471 "[Feature Request]: Total percentage in confusion matrix when running a logistic regression"
* Enhancement:
* Purpose:
* Use-case:

**Is your feature request related to a problem? Please describe.**
No overall percentage in the classification table/confusion matrix. when running logistic regression.

**Describe the solution you'd like**
It would great with classification table  with the total percentage of cases overall that were correctly classified ("Overall Percentage" ). This is possi

[2021-10-25 07:39] #1470 closed, assigned to nobody

[2021-10-25 09:00] ionutgolet opened #1472 "Simple solution for a technical documentation of JASP"
* Enhancement:
The specific r packages names  from https://jasp-stats.org/r-package-list/ should be included in JASP help for each specific feature/functionality.

* Purpose:
This simple solution would be a valuable replacement for a technical documentation of JASP. The technical documentation is necessary for any statistical software especially if it is used in scientific research. This would imp

[2021-10-25 09:15] #1472 closed, assigned to nobody

[2021-10-25 23:29] raphaelvallat opened #1473 "[Bug]: Kendall's W statistic is calculated on the transposed data"
### JASP Version

0.15

### Commit ID

_No response_

### JASP Module

jaspAnova

### What analysis are you seeing the problem on?

Friedman non-parametric test for repeated measures design

### What OS are you seeing the problem on?

macOS Big Sur 11.5.2

### Bug Description

I believe that the Kendall's W statistic in the Friedman test for repeated measures design is incorrectly calculated on th

[2021-10-26 09:44] JoKeyser opened #1474 "[Bug]: Untranslatable string "Click here to add text""
### JASP Version

0.15

### Commit ID

_No response_

### JASP Module

_No response_

### What analysis are you seeing the problem on?

Any analysis, the bug is in jaspDesktop

### What OS are you seeing the problem on?

Ubuntu

### Bug Description

When adding a Note to analysis results, there is a hard-coded English string that cannot yet be translated.

In current development branch, the string

[2021-10-26 12:39] #1473 closed, assigned to JohnnyDoorn

[2021-10-26 14:02] shun2wang opened #1475 "[Feature Request]: Add regression line equation and R^2"
### Description

In many cases, we need to get the regression line equation or the fitted curve equation,and R^2.

### Purpose

Intuitively get the equations and R^2 in the plots.

### Use-case

_No response_

### Is your feature request related to a problem?

N/A

### Describe the solution you would like

_No response_

### Describe alternatives that you have considered

See here:https://stackove

[2021-10-27 11:53] herberthoijtink opened #1476 "Feature request: Cohen's kappa"
Dear JASP team,
Can you add Cohen’s kappa to JASP? We need it in some if our courses.
All the best,
Herbert Hoijtink
Utrecht University

[2021-10-28 07:43] Sbonelo22 opened #1478 "Cannot find Gdata"
### JASP Version

0.14

### Commit ID

_No response_

### JASP Module

jaspDescriptives

### What analysis are you seeing the problem on?

_No response_

### What OS are you seeing the problem on?

windows 10

### Bug Description

I needed to access the built in "Gdata" data set to familiarise myself with JASP but its not there on the built in data sets.

### Expected Behaviour

Find the "Gdata" d

[2021-10-28 15:52] #1468 closed, assigned to nobody

[2021-10-28 15:52] iijpma opened #1479 "[Bug]: Crash during scrolling to the right in wide dataset"
### JASP Version

0.15

### Commit ID

_No response_

### JASP Module

_No response_

### What analysis are you seeing the problem on?

n.a.

### What OS are you seeing the problem on?

Windows 10

### Bug Description

We have a wide dataset with many variables (573 columns). When I scroll to the right in the dataset, JASP closes suddenly during scrolling and I have to start up JASP again. This do

[2021-10-28 17:13] PerPalmgren opened #1480 "[Feature Request]: Plots in Descriptives"
### Description

_No response_

### Purpose

Improved interpretations of plots

### Use-case

_No response_

### Is your feature request related to a problem?

I think it would be a very nice feature to be able to turn of "N" and "Missing" when running an exploration of data (I often ask my students to look at the shape of data first.) The uncompleted table disturbs.  Further, it would be great to

[2021-10-29 10:17] PerPalmgren opened #1481 "[Feature Request]: Hosmer-Lemeshow goodness of fit test for logistic regression"
### Description

Perform a Hosmer-Lemeshow test when running a logistic regression

### Purpose

Possibility to perform perform a  goodness of fit test

### Use-case

_No response_

### Is your feature request related to a problem?

It would be of great value when running a logistic regression to have the possibility in JASP to perform a Hosmer-Lemeshow goodness of fit test.  The HLtest function c

[2021-10-30 12:43] icekylin commented on #1474
But when I added “JASP/jaspGraphs” as a new translation for Simplified Chinese according to the above steps, I was prompted that I did not have permission. Does this mean what the administrator needs to do？

[2021-10-30 12:44] icekylin commented on #1474
@JoKeyser But when I added “JASP/jaspGraphs” as a new translation for Simplified Chinese according to the above steps, I was prompted that I did not have permission. Does this mean what the administrator needs to do？

[2021-10-30 13:40] JorisGoosen commented on #1431
Thank you for pointing that out, I think @boutinb intended it as a drop-in replacement for 0.15.0.0 with just a fix for MSI and the zip-warning. And only on windows, so I guess the idea was to keep things simple. But I agree it is a bit confusing...

[2021-10-30 13:53] R180 commented on #1431
OK. But I have installed this 0.15.0.1 on my system, and have even removed it an installed in again--it does not affect or solve the "zip-warning." Are you sure the fix has actually been deployed?

[2021-10-30 16:19] tomtomme commented on #1360
can confirm that this helps with labeling and filtering on manjaro, latest flatpak beta and older

[2021-10-30 16:50] JoKeyser opened #1482 "Weblate: JASP exceeds the limits of the Libre plan"
### Description and context

When trying to add Simplified Chinese to the jaspGraphs component (https://hosted.weblate.org/languages/zh_Hans/jasp/), I get logged out and get this message:

When I try to get information about any project alert (the red exclamation marks `!` in Weblate), I get this message:

Maybe there is some misunderstanding or buggy configuration on Weblate's end?
This may be re

[2021-10-30 16:53] JoKeyser commented on #1474
@icekylin , hm, I'm not sure to be honest, but I think it should work. I guess there may be something wrong with Weblate itself, or its configuration with JASP.
I've opened another issue #1482 to track this problem separately there.

[2021-10-30 17:57] mickeywilson5 opened #1483 "[Feature Request]: Bar Graph in Descriptives with error bars"
### Description

Bar Graph in Descriptives with SEM

### Purpose

Giving the user the option of either a scatter graph or bar graph (as in excel bar graph) for a quick interpertation of the data

### Use-case

_No response_

### Is your feature request related to a problem?

Everytime I add ordinal or nomial catagory to the Descriptives "split" option I always get a scatter plot. There is no optio

[2021-10-30 18:09] JorisGoosen commented on #1431
Ah sorry, no it seems that only contained the fix for making the uninstaller work properly.

However, you describe two problems, one is the warning, which shows up when starting or loading a file.

But also that the application is slow, this I cannot reproduce nor can I see in the logs where this slowdown occurs.
So if you could help me out by trying out the suggestions and perhaps answer my quest

[2021-10-30 20:41] R180 commented on #1431
The C drive is a local drive.
[Test File  10-30-2021.zip](https://github.com/jasp-stats/jasp-issues/files/7447526/Test.File.10-30-2021.zip)

If I open the JASP test file I created (attached) and then attempt to "SAVE AS" something like "Backup File," nothing happens in the interface for two minutes. Only then does the "Saving JASP file" message to appear. If in one of the ANOVAs, I check the omega

[2021-10-30 20:42] R180 commented on #1431
Oh. and safe graphics made no difference.

[2021-10-31 03:11] PaulGinns opened #1484 "[Feature Request]: MLR Estimator for CFA/SEM"
### Description

Request to expand the estimators available for CFA/SEM

### Purpose

_No response_

### Use-case

_No response_

### Is your feature request related to a problem?

The MLR estimator is not available

### Describe the solution you would like

Make all estimators available in lavaan available through JASP

### Describe alternatives that you have considered

_No response_

### Additi

[2021-10-31 04:40] icekylin commented on #1482
Thank you for your report. In fact, I also encountered it. I have already reported this problem in [weblate issue #6376](https://github.com/WeblateOrg/weblate/issues/6736)  , so that we can determine the cause of the problem together.

[2021-10-31 06:58] Lizyy14 opened #1485 "[Bug]: Descriptive statistic there can't click in with reliability statistic"
### JASP Version

0.15

### Commit ID

_No response_

### JASP Module

jaspDescriptives

### What analysis are you seeing the problem on?

 Descriptive statistic there can't click in with reliability statistic

### What OS are you seeing the problem on?

window 10

### Bug Description

[Bug]: Descriptive statistic there can't click in with reliability statistic

### Expected Behaviour

![image](ht

[2021-10-31 11:42] Diesfeldt opened #1486 "[Bug]: Bayesian A/B test does not run"
### JASP Version

0.15

### Commit ID

_No response_

### JASP Module

jaspSummaryStatistics

### What analysis are you seeing the problem on?

Bayesian A/B-Test

### What OS are you seeing the problem on?

Windows 10

### Bug Description

I tried to use Bayesian A/B test but I received an error message, see below.
[ErrorABTest.docx](https://github.com/jasp-stats/jasp-issues/files/7448663/ErrorABT

[2021-10-31 12:06] icekylin opened #1487 "[Feature Request]: Add a‘ Refresh button’ to all analysis pages"
### Description

Although the analysis can be performed automatically in most cases, in some cases the analysis action will not be performed automatically. For example, when performing model fitting exploration, and when some plot actions are performed, there are situations where the analysis cannot be run automatically.

### Describe the solution you would like

I recommend adding a button with a

[2021-10-31 13:01] EJWagenmakers commented on #1486
Hmm it works for me. What data are you analyzing?

[2021-10-31 13:10] Diesfeldt commented on #1486
Hi Erik Jan,

Thank you very much for your response. Actually I started to analyse data from a study (enclosed) suggesting that there is no association between the risk of a spontaneous abortion and vaccination against Covid-19. I used the A/B test succesfully many times in JASP14 and higher, but now I tried JASP issue 15, and the A/B test does not run.

Hope you can advise me, kind regards,

Han

[2021-10-31 13:41] EJWagenmakers commented on #1486
Right. But I am on the same system as you and it does work for me. Does it fail for all data? You are using SummaryStats -- which 4 numbers are you inputting?

Cheers,
E.J.

[2021-10-31 16:00] boutinb commented on #1482
We have indeed some problem with our WebLate license. But this one is I think only a temporary: if you try to add this component the day after, it should work.

[2021-10-31 16:09] boutinb commented on #1474
@icekylin We have a problem with our WebLate license, but I hope it will be solved soon.
@JoKeyser the javascript strings are now not translated. There are not so many fortunately, but we need to solve this indeed.

[2021-10-31 16:16] boutinb commented on #1485
The reliability is an extra module you can load here:
<img width="701" alt="Screenshot 2021-10-31 at 17 14 38" src="https://user-images.githubusercontent.com/503332/139592680-15090839-2434-4781-a078-f74687f91124.png">

[2021-10-31 16:19] boutinb commented on #1487
You can already refresh all analyses by typing the shortkey CTRL-R (or CMD-R with Mac)

[2021-10-31 23:03] akashrajkn commented on #1486
@Diesfeldt I am not able to reproduce (I'm using windows 11 though). Could you share the `.jasp` file?

[2021-11-01 03:29] icekylin opened #1488 "[Bug]: Additional Translated Strings"
### JASP Version

0.15

### Commit ID

_No response_

### JASP Module

jaspVisualModeling

### What analysis are you seeing the problem on?

Visual Modeling-Linear Modeling-Result-Regression Slopes and Intercept

### What OS are you seeing the problem on?

Windows 10

### Bug Description

I am the only Simplified Chinese translator.
But I'm not sure where the string ‘ 尾’ came from. I looked in the

[2021-11-01 07:01] TaliRaveh opened #1489 "[Bug]: Issue with unpermitted RM levels names in RM Anova"
### JASP Version

0.15

### Commit ID

_No response_

### JASP Module

jaspAnova

### What analysis are you seeing the problem on?

Repeated measures ANOVA

### What OS are you seeing the problem on?

Windows 10

### Bug Description

Attempting to run a mixed ANOVA with two repeated measured factors and one between-subject factor. At first I get empty tables in the results section and then an erro

[2021-11-01 08:01] icekylin commented on #1482
I just tried it and it still doesn't work. When I try to add ‘jaspGraphs’, there is no response for a long time. I will be forced to log out and prompt "rate limit"  if I try it again.

[2021-11-01 08:02] Diesfeldt commented on #1486
Hi Eric-Jan,

Indeed, I am using SummaryStats. The four numbers are (group 1) 1128/13160 and (group 2) 20139/250944. Using these numbers I received the error message. I then tested the module using simpler numbers, suchs as 20/100 and 25/100, but the error message appeared again.

Thanks for your help, best wishes,

Han

Verzonden vanuit Mail<https://go.microsoft.com/fwlink/?LinkId=550986> voor Wi

[2021-11-01 08:10] amirmasoudabdol commented on #1488
AFIAK, the jaspVisualModelling is provided by @dustinfife, here https://github.com/dustinfife/flexplot. So, you might find your answer there? If not, @boutinb might have some ideas?

[2021-11-01 08:20] Diesfeldt commented on #1486
Hi Akash,

Thanks. I enclose the jasp-file. I started using the four numbers (group 1): 1128/13160 and (group 2): 20139/250944. Using these numbers I received the error message. I then tested the module using simpler numbers, suchs as 20/100 and 25/100, but the error message appeared again.

Thanks for your help, best wishes,

Han

Verzonden vanuit Mail<https://go.microsoft.com/fwlink/?LinkId=5509

[2021-11-02 09:31] iijpma commented on #1479
Dear Bruno,

I attached the dataset with fictive date (same number of rows and columns).

Kind regards,

Dr. I. (Irene) IJpma
Senior onderzoeker afdeling Praktijkgericht Wetenschappelijk Onderzoek (PWO) | Zorggroep Alliade
De Wissel 1, 9244 EW Beetsterzwaag | Postadres: Antwoordnummer 92442, 9244 ZC Beetsterzwaag
M. 06-10022896 | ***@***.******@***.***> | secretariaat: ***@***.******@***.***>
Aanw

[2021-11-02 10:19] JorisGoosen commented on #1479
@iijpma I'm sorry but the attachments in email-responses are not uploaded to github... So if you could go to https://github.com/jasp-stats/jasp-issues/issues/1479 and upload it there (in a zip) then it will actually be here.

Besides that, I am wondering if you could also [upload the logs of this crash](https://github.com/jasp-stats/jasp-desktop/blob/development/Docs/user-guide/logging-howto.md)?

[2021-11-02 10:21] JorisGoosen commented on #1474
We could just set them on the `WebChannel` in `MainPage.qml` as properties and in QML so that they are easily available as `jasp.blablaText` in JS. Should be quite easy honestly.

[2021-11-02 16:26] boutinb commented on #1467
This is solved for next release (next week hopefully)

[2021-11-02 16:26] #1467 closed

[2021-11-02 16:28] #1441 closed

[2021-11-02 16:29] #1223 closed

[2021-11-02 21:31] Xeonen opened #1490 "[Bug]: JASP Freezing for 5 to 60 Seconds and Buttons Get Slow After Tabbing to Another Window and Back"
### JASP Version

0.15

### Commit ID

_No response_

### JASP Module

_No response_

### What analysis are you seeing the problem on?

General JASP Interface

### What OS are you seeing the problem on?

Windows 10

### Bug Description

If I move to another window and move back to JASP, it takes a few seconds for JASP to respond. Moreover, in any analysis, clicking options will cause JASP to freez

[2021-11-03 00:03] SomeUserName1 opened #1491 "[Bug]: Flatpak - Locales Crash and Computed Column Crash"
### JASP Version

0.15

### Commit ID

_No response_

### JASP Module

jaspDescriptives

### What analysis are you seeing the problem on?

On start up and on creating a computed column

### What OS are you seeing the problem on?

Arch Linux 5.14.14-arch1-1, plasma-desktop 5.23.1-1 (KDE)

### Bug Description

## First Bug: On startup
When starting the program using
[code]
I get the following except

[2021-11-03 00:17] akashrajkn commented on #1486
@Diesfeldt I think you missed attaching the jasp file. Can you convert it to a zip file and upload it here?

[2021-11-03 08:11] JMBKoch commented on #1484
This feature is already available, although I understand the confusion. The MLR estimator is basically the ML estimator with robust standard errors. Hence, if you chose "ML" as estimator and the "robust" error calculation, that corresponds to the MLR estimator.

[2021-11-03 08:27] Diesfeldt commented on #1486
Hi Akash,

Thanks again. I attached the zip-file. As I said, I started Stats Summary Bayesian A/B test using some large numbers and the program failed. Right now I also cannot use it when inserting smaller numbers. Hope you can help.

Best wishes,

Han

Verzonden vanuit Mail<https://go.microsoft.com/fwlink/?LinkId=550986> voor Windows

Van: akash ***@***.***>
Verzonden: woensdag 3 november 2021 01

[2021-11-03 08:37] amirmasoudabdol commented on #1490
I cannot reproduce this issue. A few questions

1. Does this only happen when you tab between apps? So, if you just run the analysis, save your file, and continue working on JASP, everything works smoothly?
2. Do you know if your computer were particularly busy at that time?
3. Do you use a particularly large dataset?

[2021-11-03 12:01] ajestudillo opened #1492 "[Feature Request]: CI in descriptives table"
### Description

When you do a test statistic, such as a t-test, there is an option to include CI in the graph. I think it would be a good to have the same option for the descriptives table.

### Purpose

the CI for the means can be seen numerically.

### Use-case

_No response_

### Is your feature request related to a problem?

There is not a numerical indicator of CI for means

### Describe the

[2021-11-03 13:19] Diesfeldt commented on #1486
[ErrorABTest.zip](https://github.com/jasp-stats/jasp-issues/files/7467795/ErrorABTest.zip)

[2021-11-03 13:53] JohnnyDoorn commented on #1489
Hi @TaliRaveh,

Thanks for your bug report, I will work on fixing this for the next release. In the meantime, it seems that the error can be avoided by changing your RM level names. The level name of "n" seems to be the evildoer here, so if you rename this to something else (e.g., "nn"), your RM ANOVA will run.

Kind regards
Johnny

[2021-11-03 13:54] boutinb commented on #1486
@akashrajkn it is indeed quite simple to reproduce it (on Mac also): just add an SS Bayesian A/B test, and set some values in Group 1 & Group 2 and you get this error
<img width="334" alt="Screenshot 2021-11-03 at 14 50 20" src="https://user-images.githubusercontent.com/503332/140072437-3ccf6f38-65ff-46b4-b958-a21399a149fb.png">
I see that the bslib package needs a htmltool with version >= 0.5.2,

[2021-11-03 14:22] TaliRaveh commented on #1489
Thank you so much!

On Wed, Nov 3, 2021, 15:53 JohnnyDoorn ***@***.***> wrote:

[2021-11-03 14:56] boutinb commented on #1488
The R side of the Visual Modeling module is just a wrapper of the flexplot R package of @dustinfife. So the translations are not made inside JASP. I don't think that Dustin uses gettext to give the possibility to translate his package.

[2021-11-03 15:35] boutinb commented on #1431
So apparently the analyses self are not slow, but the interface self is really slow.
Do you have the same problem when you just start JASP, load a data file, add a Descriptives analysis: is the reaction of the interface still so slow (clicking on a checkbox takes 10 seconds before the checkmark appears)?
Could you give us the RAM & CPU of your PC (https://www.drivereasy.com/knowledge/how-to-check-

[2021-11-03 17:57] dustinfife commented on #1488
It looks like it doesn't like the use of a beta (β) sign, and it's replacing all beta signs with that character. @boutinb, is there a way to include special characters in tables headings? RIght now, flexplot is typing that symbol directly to label the columns.

[2021-11-03 19:07] uta-connolly opened #1493 "[Feature Request]: Standardized factor loadings with CFA"
### Description

Looking for standardized factor loadings with CFA

### Purpose

To compare factor loadings on a standardized scale when using confirmatory factor analysis

### Use-case

_No response_

### Is your feature request related to a problem?

_No response_

### Describe the solution you would like

_No response_

### Describe alternatives that you have considered

_No response_

### Addi