[2020-07-01 16:17] BLueBLack053 commented on #830
Umm, yeah

i understand "change the language setting of your PC to english" means i need to set the language to English (United States), which boutinb said.

And now, i follow your link(@JorisGoosen) and change my region settings of my computer too

And this is JASP log again

[JASP 2020-07-02 01_15_34 Desktop.log](https://github.com/jasp-stats/jasp-issues/files/4859064/JASP.2020-07-02.01_15_34.De

[2020-07-01 16:18] BLueBLack053 commented on #830
Oh, my!

Now i can run my JASP normally!

i think someone can run JASP in the region settings "English(United Kingdom)" of his of her computer !

[2020-07-01 16:36] BLueBLack053 commented on #830
I'm sorry to plus new question

i got "unable to start png() device" message in path diagram when i try to run SEM...

Please can you answer to me? or i need to write new issue?

[2020-07-01 17:08] BLueBLack053 opened #835 "i got "unable to start png() device" message in path diagram when i try to run SEM..."
i got "unable to start png() device" message in path diagram when i try to run SEM...

Please can you answer to me? or i need to write new issue?

[2020-07-01 17:22] JorisGoosen commented on #835
So that means the engine now works then?

[2020-07-01 17:24] JorisGoosen commented on #830
Aah!

So the region is related to it somehow. Good to know!

Ill change the other issue into your Sem question.

[2020-07-01 17:26] BLueBLack053 commented on #835
yeah, engine work well now.
But after then, i got "unable to start png() device" message in path diagram when i try to run SEM
Sorry too much question T^T

[2020-07-01 17:26] JorisGoosen commented on #835
Are you now using the version of JASP I send you?
Because maybe you could use this one: http://static.jasp-stats.org/JASP-0.13.0.0-64bit.msi
It is the unsigned version of 0.13 that we are releasing tomorrow.

[2020-07-01 17:27] JorisGoosen commented on #835
Perhaps you could add the logs of this problem?

[2020-07-01 17:31] BLueBLack053 commented on #835
Actually, i used the version of 0.13 when engine works well
But i got "unable to start png() device" message, and i delete 0.13 and reinstall 0.12
And same message is shown

here is the logs after "unable to start png() device" message

[JASP 2020-07-02 02_28_53 Engine 1.log](https://github.com/jasp-stats/jasp-issues/files/4859409/JASP.2020-07-02.02_28_53.Engine.1.log)
[JASP 2020-07-02 02_28_53 En

[2020-07-01 17:48] JorisGoosen commented on #835
Aah yes I see.

Im sorry but apparently something goes wrong because of your username, which Im guessing is in hangul. Because I see the following error in the log:
`C:/Users/???/AppData/Local/JASP/temp/20548/tmp0/\file48f819d060bf`

We really tried to get everything working properly with all sorts of charactersystems. But somehow this is still going wrong...
I will need to have a look at this.

I

[2020-07-01 18:23] BLueBLack053 commented on #835
Oh, yeah

after i make new user with just latin characters, i can solve problems

Sincerely thank your kind help

[2020-07-02 00:17] DocGavin commented on #803
Goede dag Erik-Jan
I got the model to run in R using R-Studio but the same model in JASP throws an error
Model Syntax
# no SDQ total
CNSDQ.T1 <-  '
# CNI1
ENN1 =~ lambda_1_1*CN2t1 + lambda_1_2*CN1t1 + lambda_1_3*CN3t1 + lambda_1_4*CN4t1 + lambda_1_5*CN5t1 + lambda_1_6*CN7t1
EMN1 =~ lambda_2_1*CN12t1 + lambda_2_2*CN6t1 + lambda_2_3*CN14t1
RN1 =~ lambda_3_1*CN18t1 + lambda_3_2*CN8t1 + lambda_3_3*CN1

[2020-07-02 15:42] TarandeepKang opened #836 "Mixed Models: assumption checks and model performance"
* Enhancement: add the ability to check assumptions of mixed models and quantify the performance of models
* Purpose: improve transparency of analysis
* Use-case: mixed models are becoming increasingly widely used in social and behavioural sciences as well as other branches of science, adding this features will enable users to conform to best practice, without learning to code.

**Is your feature

[2020-07-02 15:44] EJWagenmakers commented on #836
@FBartos (maybe contact Henrik about this as well)

[2020-07-02 18:29] LeighAnnVaughn opened #837 "JASP is not producing results tables"
* JASP version: 0.13.0.0 (this also happened with 0.12.0.0)

* OS name and version: Windows
* Analysis: all
* Bug description: In earlier versions of JASP and in the instructional videos, clicking on the type of analysis that you want to run automatically brings up a table that gets populated with your variables and results. The current and previous versions of JASP (indicated above) show no table

[2020-07-03 08:54] Liesbeth-Tip opened #838 "Dataset from SPSS breaks all analyses"
Hi, I get the following when trying to get my descriptives:
This analysis terminated unexpectedly.
Error in analysis(dataset = dataset, options = options, perform = perform, : unused arguments (perform = perform, callback = the.callback, state = oldState)

It happens only with one dataset, another dataset works fine.
I have missing values (88 and 99) in this dataset but have changed my preferences

[2020-07-03 09:15] Liesbeth-Tip commented on #837
Same is happening with me, no output.

[2020-07-03 17:28] jdebeer2005 opened #839 "Changing type of column while ANOVA, ANCOVA, CFA is active leads to crash"
* JASP version:0.13

* OS name and version:win 10
* Analysis: trying to change variable type from nominal to scale and JASP closes - Repeatedly
* Bug description:trying to change variable type from nominal to scale and JASP closes - Repeatedly
* Expected behaviour:  Change variabel type smoothly
[Raw Data from Chris Lord.zip](https://github.com/jasp-stats/jasp-issues/files/4870825/Raw.Data.from.Ch

[2020-07-03 17:37] jdebeer2005 commented on #839
JASP team -this is really a bad feature.  If the data is not recognized as scalar and put in a nominal, and we cannot change, that is a bad deal.  Essentially I am locked out of my analysis.

[2020-07-03 18:28] EJWagenmakers commented on #839
I can confirm that changing "FillWt" from ordinal to continuous indeed makes JASP crash. Nothing appears to be wrong with FillWt (Descriptives returns a mean etc., no missing values). This is strange; let's check the scale transformations in general.
@jdebeer2005 : thanks for reporting this and adding the .jasp file. We'll fix this asap (together with another few mishaps).
E.J.

[2020-07-03 18:33] jdebeer2005 commented on #839
Thanks, I had to un-install V132, and re-install v12

From: EJWagenmakers <notifications@github.com>
Sent: Friday, July 3, 2020 11:29 AM
To: jasp-stats/jasp-issues <jasp-issues@noreply.github.com>
Cc: jdebeer2005 <jdebeer2005@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [jasp-stats/jasp-issues] JASP closing unexpectedly (#839)

I can confirm that changing "FillWt" from ordinal to

[2020-07-03 19:46] AlexanderLyNL commented on #839
This seems to be a Windows thing. It doesn't crash on mac. @FBartos could you check? Also could you check if this occurs on the nightly or zipped version?

[2020-07-03 21:48] FBartos commented on #839
I tried both the release and zipped nightly version and I can load and change the variable types:
![image](https://user-images.githubusercontent.com/38475991/86498509-63737600-bd86-11ea-8fdc-498ef00d0932.png)
but it crashes when I open the zipped .jasp, and change the variable afterward.

I did some more experimentation and it seems to crash using these steps:
1) load the .csv dataset
2) open ANOV

[2020-07-04 14:50] djdekker commented on #839
Here is another data set with a similar (or the same?) problem in JASP 0.13:

1. load the .csv dataset
2. open ANOVA (no need to set Dependent Variable or Fixed Factors)
3. go to variables overview and change "teacher" to Nominal  =>  CRASH

[ANOVA_teachers.csv.zip](https://github.com/jasp-stats/jasp-issues/files/4873016/ANOVA_teachers.csv.zip)

[2020-07-04 15:04] FBartos commented on #839
I did some more testing and it's not dependent on the dataset (it can be reproduced with the debug dataset as well).

From the main ribbon, I found that the following analyses crash if they are opened while the variable type is being changed:

- ANOVA
- ANCOVA
- Confirmatory Factor Analysis

[2020-07-04 15:30] AlexanderLyNL commented on #839
Thanks for testing this out, this is really helpful. I can reproduce this error on mac now. I wonder if it's related to some qml edits we did recently. @FBartos it's weekend, don't forget to relax.

[2020-07-04 16:59] srk7774 opened #840 "Search box for Dataset"
* Enhancement: Provide a search box for datalibrary search instead of looking in a particular folder.
* Purpose: Saves lot of time

[2020-07-04 17:22] djdekker commented on #715
This one is solved with JASP 0.13. Closing the issue.

[2020-07-04 17:22] #715 closed

[2020-07-04 17:36] djdekker commented on #487
With JASP 0.13 this does not happen anymore. Closing the issue.

[2020-07-04 17:36] #487 closed

[2020-07-04 18:40] djdekker opened #841 "Reliability - Options grayed out inconsistently"
* JASP version: 0.13
* OS name and version: macOS Catalina 10.15.5
* Analysis: Reliability
* Bug description: Options are grayed out inconsistently
* Expected behaviour: Options are always grayed out when the statistic they belong to is not selected

#### Steps to reproduce:
1. Open debug data set.
2. In the Reliability module, drag the variables contcor1, contcor2 and contOutlier into the Variabl

[2020-07-05 15:50] kornbrot opened #842 "mixed ANOVA results ≠ repeated ANOVA results"
* JASP version: 0.13
* OS name and version: mac OS cartalina  10.15.5
* Analysis: design Between (2)xWithin(2)xwithin 3
*** Results from  comparing repeated and mixed methods  do not agree**
Why not? Is there a good theoretical reason?
Spreasdsheeet has long and wide version of data and results form mixed and repeated
Results form analyses in SPSS also shown
SPSS repeated, wiithin subjects is iden

[2020-07-05 16:03] kornbrot commented on #842
To obtain REPEATED import wide form Spreadsheet
Construct repeateed
To obtain MIXED import long form Spreadsheet
MIXED analysis with pno as groupng factor

It would be so WONDERFUL if it worked!

[2020-07-05 21:12] tegedik opened #843 "JASP keeps crashing on MacOS (intel iris GPU) even in safe graphics mode"
* JASP version: 0.13

* OS name and version: MacOS Catalina  10.15.5
* Analysis: any analysis, even scrolling in the program
* Bug description: JASP crashes unexpectedly
* Expected behaviour:

#### Steps to reproduce:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

I know this is an ongoing issue for macbooks with Intel Iris GPU, but even safe graphics mode does not work a

[2020-07-06 02:24] psych919 opened #844 "Ordinal CFA Invariance Question"
I am attempting to run a CFA with ordinal data including invariance analyses. The assignment box only allows continuous variables to be entered, although it is possible to select estimators that account for ordinal data (WLS, DWLS). Would the use of an estimator thus allow for you to run the CFA appropriately if your data is ordinal (even though the data type has to be categorized as scale to move

[2020-07-06 05:03] nahorp commented on #802
2nd

Also, Bayes Factors for Bayesian Mixed Models?

[2020-07-06 05:08] nahorp opened #845 "Bayes Factors for Bayesian Generalized Mixed Models"
Hello :)

Really _really_ pleased to see generalized mixed models in JASP (both the frequentist and Bayesian versions), thank you!

How easy or hard would it be to have Bayes Factors for the Bayesian GLMMs?

[2020-07-06 08:36] TheDom42 commented on #33
I'm also very interested in using long format data in JASP. As far as I can tell from the implementation of the LMMs and the accompanying GIF in JASP 0.13, long data seems to be fully implemented now, is that correct? Or is this only the case for LMMs?

[2020-07-06 09:00] srk7774 opened #846 "PLS SEM algorithm"
* Enhancement: Structural Equation Modelling can be done using covarience based sem (which is already available in JASP using lavaan package) and Partial least squares algorithm (PLS SEM) which is currently not avaialble.
* Purpose:  PLS SEM can be used when latent variables have formative constructs.

**Describe the solution you'd like**

There is an R package already available "PLSPM".

**Descri

[2020-07-06 09:45] mocherry23 opened #847 "Windows Installation"
* JASP version: JASP-0.13.0.0

* OS name and version: Windows 10 Enterprise Version 1803, 64-Bit

None of the installation options for Windows works. I have tried:
The 64-bit Windows installer.
The 32-bit installer.
The pre-installed 64-bit or 32-bit versions.

Installation proceed without any problems. When trying to run the program nothing happens.
???

Thanks and best
Matthias

[2020-07-06 10:03] knamesnik opened #848 "Model Constraints in Bain ANOVA"
* JASP version: 13

* OS name and version: Windows 10
* Analysis: Bain ANOVA
* Bug description: I am updating our instructions for students how to enter the hypotheses in the Model Constraints box in the newest version of JASP. In the past a period was used to separate variable and level (e.g. group.blu) whereas in the newest version the period is no longer needed (e.g. groupblu). When I was runni

[2020-07-06 10:14] KaNa-67 opened #849 "A Histogram of a 7 likertskala ist mixed"
* JASP version: 0.13

* OS name and version: Windows 8.1
* Analysis:
* Bug description: The ratings in the histogram schould be from 1 to 7. In 2 cases it ist 2,3,4,5,6,7,1 and 2,3,5,6,7,1,4 in the other 3 ist works properly. I could´t find an excuse in the exeldata.
![Histogramfehler](https://user-images.githubusercontent.com/67901688/86582526-0c39f500-bf82-11ea-9fbf-e2d8ea04e56e.jpg)

* Expected

[2020-07-06 10:24] JorisGoosen commented on #33
Im going to guess it was a special conversion specifically for that analysis, like with ANOVA RM, right @FBartos ?

[2020-07-06 10:28] FBartos commented on #33
Long data are the only possible input for LMMs and as far as I know, it's (unfortunately) the only analysis that supports them.

[2020-07-06 10:28] JorisGoosen commented on #847
Hello Matthias,

Could you download https://www.dependencywalker.com/ and use it to open "C:\Program Files\JASP\JASP.exe" ?
And then attach the dwi log here?

Then we can have a look if there is something going wrong loading dlls.

[2020-07-06 10:41] EJWagenmakers commented on #849
That's strange -- could you send us (part of) the (anonimized) data, so we can confirm and investigate?
Cheers,
E.J.

[2020-07-06 11:02] EJWagenmakers commented on #845
Doing that is clearly on our agenda, but some care is needed wrt the prior distributions, which is why we started with the easier solution

[2020-07-06 11:03] EJWagenmakers commented on #802
Yes, clearly on our agenda. The BayesFactor package already implements a mixed model, but we want to look at this a little more closely.
E.J.

[2020-07-06 11:05] EJWagenmakers commented on #844
@vankesteren

[2020-07-06 11:58] nahorp commented on #845
Great to hear @EJWagenmakers, looking forward to it!

[2020-07-06 12:09] EJWagenmakers opened #850 "JASP 0.13 cannot be placed in the ribbon at the bottom of the screen"
On my windows laptop, dragging the JASP icon to the ribbon below (to have it nest between the programs that I want to have available immediately) does not work. Similarly, if I have a JASP file open, no icon is placed on the ribbon; so when I open another program and it visually blocks JASP, there is no hint that JASP is active -- for all other programs on my computer, the icon on the ribbon provi

[2020-07-06 12:17] EJWagenmakers opened #851 "Mangled name in 0.13"
In the table note for the Analysis of Effects -- Matched models (Bayesian ANOVA's) we say:
"Analysis suggested by Sebastiaan Matht" His last name is "Mathot", with an "accent circumflex" on the o, so "o-dakje". So this entire letter dropped out. In addition to correcting this, maybe we can include it in a unit test, because this is not the first time we experience this issue.

![image](https://use

[2020-07-06 12:20] EJWagenmakers commented on #850
Update: when JASP is active there is an icon on the ribbon. The reason I did not notice if at first is that it is not the JASP logo, but just a blank sheet of paper.
![image](https://user-images.githubusercontent.com/8603015/86592467-d56cda80-bf93-11ea-8343-c0f7fb114ea7.png)

[2020-07-06 12:32] EJWagenmakers opened #852 "Analysis of Effects: Across Matched Models"
Maybe not a bug, but I agree with this user (https://forum.cogsci.nl/index.php?p=/discussion/6290/how-to-compute-the-bayes-factor-inclusion-in-jasp#latest) that it is strange and potentially confusing that the table of effects shows prior and posterior inclusion probabilities that do not compute to the inclusion BF. It seems more straightforward to report the prior and posterior inclusion probabil

[2020-07-06 15:45] JorisGoosen commented on #843
Hey tegedik, sorry to hear JASP is crashing for you so badly.

We sadly don't really know what causes it. No that we've released 0.13 I was thinking of upgrading some of the libraries that we use. Maybe one of those causes this problem.

I can send you a link with a testversion once we have one and then you can help us out by telling us if it stops crashing, or at the very least crashes less..

So

[2020-07-06 16:34] jachymDvorak opened #853 "Reliability analysis does not work for 30 and more items"
* JASP version: 0.13

* OS name and version: Windows 10 Pro 64 bit
* Analysis: Single-test Reliability analysis
* Bug description: When I add more than 30 items to reliabiity analysis (I have 36), I get the following error: Error: $ operator is invalid for atomic vectors
* Expected behaviour: analyze all 36 items

#### Steps to reproduce:
1. Go to 'single test reliability analysis"
2. Add at least

[2020-07-06 17:33] antboxg commented on #853
Hi, I have errors too (other data, in v0.12 is OK):

![192412](https://user-images.githubusercontent.com/67921129/86621384-635dbb00-bfbe-11ea-8328-131444703617.png)
or
![192840](https://user-images.githubusercontent.com/67921129/86621760-09112a00-bfbf-11ea-9271-7c8827a0e464.png)

JASP 013, Win 10Pro 64bit

[2020-07-06 19:31] dustinfife opened #854 "Flexplot's added variable plots are not showing up"
* JASP version: .13
* OS name and version: Mac OSX Catalina 10.15.4
* Analysis: Linear modeling
* Bug description: Added variable plots return an empty plot
* Expected behaviour: Added variable plots should return a plot

#### Steps to reproduce:
1. Go to Visual Modeling
2. Click on Linear Modeling
3. Select a DV and 2+ IVs
4.Check Results Display->Added variable plot

I have fixed this issue with

[2020-07-06 21:47] JorisGoosen opened #855 "Error in Reliability"
Originally posted by @antboxg in https://github.com/jasp-stats/jasp-issues/issues/853#issuecomment-654371108

Hi, I have errors too (other data, in v0.12 is OK):

![192412](https://user-images.githubusercontent.com/67921129/86621384-635dbb00-bfbe-11ea-8328-131444703617.png)
or
![192840](https://user-images.githubusercontent.com/67921129/86621760-09112a00-bfbf-11ea-9271-7c8827a0e464.png)

JASP 013,

[2020-07-06 21:49] JorisGoosen commented on #855
@Antboxg could you add a jasp-file that shows this error?
Aka, save the file you are working on when you see this error and attach that here (possibly zipped if github complains).

[2020-07-06 21:51] JorisGoosen commented on #851
This probably got lost somewhere in all the translation stuff. I remember seeing this name come by in several different forms, I think all somehow with the "o-dakje" but why it eventually disappeared is a good one.

[2020-07-06 21:52] JorisGoosen commented on #850
Does it still have the "blank page" icon after rebooting?

[2020-07-06 21:55] JorisGoosen commented on #837
Sorry to hear it and too bad we didn't fix the error in two versions.

Let's see if we can do something about it.

Could you both try to run an analysis in JASP after turning on "log to file" in preferences -> advanced. And then attach the "Desktop" logfile here?

Besides that, do you know which GPU is in your computer?

[2020-07-06 22:28] JorisGoosen commented on #831
This certainly sounds odd!

I could have a look as to what is going wrong. You can reach me at "j.c.goosen at uva.nl" for the csv.

I do already see something that could be going wrong here though. It seems there are textfields in the data. It might be that these contain for instance comma's. And seeing how CSV stands for Comma Separated Value this might be causing the problem. Some software tries

[2020-07-06 22:29] EJWagenmakers commented on #850
Restart fixed it!

[2020-07-06 22:29] #850 closed

[2020-07-07 06:36] tegedik commented on #843
Thank you, I will be waiting for a test version. I guess this bug affects a small group of users and is not as pressing as other issues, but I really liked to use JASP. It is a great software and gets better every day (thanks!).

[2020-07-07 07:09] FBartos commented on #842
Hi @kornbrot ,

I looked into the dataset and verified that results we provide in Mixed Models module correspond to the results you would get from R:

[code]

Could you please send me the JASP analysis file for the repeated measures ANOVA analysis? I tried to specify the same model but I did not manage to do so. Could it be because there are 3 levels of w1 instead of 2?

![image](https://user-imag

[2020-07-07 07:27] mocherry23 commented on #847
Dear Joris, version 012.2 runs o.K.Attached is the dwi I get when trying to run the latest Version. Zipped as otherwise too large! ThanksMatthias Gesendet von Mail für Windows 10 Von: Joris GoosenGesendet: Montag, 6. Juli 2020 12:28An: jasp-stats/jasp-issuesCc: mocherry23; AuthorBetreff: Re: [jasp-stats/jasp-issues] Windows Installation (#847) Hello Matthias,Could you download https://www.dependen

[2020-07-07 07:35] antboxg commented on #855
I'm uploading files...

[errors.zip](https://github.com/jasp-stats/jasp-issues/files/4883259/errors.zip)

[2020-07-07 07:49] LeireIglesias1 opened #856 "Downloading Jasp 0.13.0 preCatalina"
Hello, I was trying to download JASP 0.13.0.0 pre- Catalina as I have the operating system macOS Mojave version 10.14.6.

I download it and then it does the verification step as shown,
<img width="413" alt="Screenshot 2020-07-06 at 23 44" src="https://user-images.githubusercontent.com/67946799/86739643-51b7fa00-c036-11ea-94b1-5558ee30437f.png">
 and then another step and then finally passes to sho

[2020-07-07 08:55] JorisGoosen commented on #843
Well it is pressing, it is just that the only way I can think of hopefully fixing this implies upgrading many things so we wanted to wait for this 0.13 release. I will upload the testversion somewhere today and then let's see if we can make it a lot better today...

[2020-07-07 08:56] JorisGoosen commented on #847
Hey Matthias,

Could you actually go to the github website and this issue at https://github.com/jasp-stats/jasp-issues/issues/847 and upload the file there? They do not take the attachments from email...

[2020-07-07 09:40] JasperRobinson opened #857 "macOS wrongly thinks Jasp is unable to open .csv files"
* JASP version: 0.11.1

* OS name and version: macOS 10.15.5
* Analysis: ⌘ Clicking on a .csv file gives the option "Open With" and a selection of likely applications.
* Bug description: Jasp does not appear as an application capable of opening .csv files.

This means that it is necessary either to:
1. Put Jasp on the mac's dock and drag the .csv onto it while holding ⌥ ⇧, or;
2. Get the Open With

[2020-07-07 09:42] jjcosta1 opened #858 "Difference in (CFA) RMSEA values with MPLUS 8.1!"
* JASP version: 0.12.2

* OS name and version: Mac OS Mojave 10.14.6
* Analysis: CFA indice RMSEA very different from MPLUS 8.1
* Bug description:
In AFC, how is it possible that the JASP and Mplus programs present for the same data and the same factorial structure (18 items distributed over 6 factors, all categorical variables, in a sample of 399 subjects) so different adjustment index values ? T

[2020-07-07 09:46] JasperRobinson opened #859 "HTML "Export Results" | Descriptive Plot missing"
* JASP version:
0.11.1

* OS name and version: macOS 10.15.5

* Bug description: The HTML file created with "Export Results" is almost always missing the rendered Descriptive plot. There's a box where it should be, but the graph is missing.

It usually appears but you have to keep exporting the results until it works.

[2 - AE Phase 2 NOFEED-wide.jasp.zip](https://github.com/jasp-stats/jasp-issues

[2020-07-07 10:10] JasperRobinson opened #860 "Easier entry of "Repeated Measures Cells" | saved templates? Consistent keyboard entry key?"
* Enhancement:
1. Improve specification of "Repeated Measures Cells" (rows that specify levels of a within-subject variable).

2. Allow creation of analysis templates/allow Jasp to point to different data sets.

* Purpose:
Massively speed up analysis and reduce errors.

1. I almost always perform the same analysis on multiple data files, which have a common structure.
2. E.g., at the moment, I'm r

[2020-07-07 10:20] juliuspf commented on #855
Thank you. The first screenshot is expected behaviour so far. The second one is part of a larger issue of non-invertible matrices that we are looking into.

[2020-07-07 10:28] EJWagenmakers commented on #860
Yes, we should give this some attention. @JohnnyDoorn ?

[2020-07-07 10:55] juliuspf commented on #853
Thanks. This problem is related to non-invertible matrices. Since your data example does not result in all non-invertible bootstrap matrices, it can be solved by updating the R-package to the latest commit, @JorisGoosen? However, the issue of non-invertible matrices is part of another problem we are looking into

[2020-07-07 11:04] JorisGoosen commented on #839
Aah yes, this crashes everywhere...

[2020-07-07 11:21] #839 closed

[2020-07-07 11:34] LeighAnnVaughn commented on #837
Hi, Joris.
Thanks for your reply. I have attached the log files from the one minute of work I attempted to do on JASP, in which I opened two data files. Today, in addition to JASP producing no tables, it also crashed while trying to run the drag and drop filter. I had not tried to use that filter. Each time I opened a file, JASP automatically tried to use the filter and then crashed.

My computer'

[2020-07-07 11:54] donovaly opened #861 "Jasp cannot be installed without admin privileges"
I wanted to try out JASP on my PC at work. This is impossible because JASP's installer requires admin privileges, which one of course doesn't have (my colleagues at the University also don't have admin privileges). Admins are also lazy and dependent on your organization, you must first explain why a program is important for your work, then the IT guys must check if giving a new program admin privi

[2020-07-07 12:10] donovaly opened #862 "Jasp 0.13.0 uses ms-gamingoverlay links (thus the XBox game bar to be installed)"
JASP 0.13.0, Windows 10, 2004

To reproduce:
1. call JASP as normal user (no admin privileges)

result: you always get this Windows dialog:
![rdJphNSOrp](https://user-images.githubusercontent.com/1828501/86778210-6312fd80-c05a-11ea-9bdb-5fc7a91f805f.png)
(translation of the dialog: "You need a new app to open this ms-gamingoverlay-link".
When I now click OK, Windows Store offers me to install the

[2020-07-07 12:11] mocherry23 commented on #847
[JASP.zip](https://github.com/jasp-stats/jasp-issues/files/4884712/JASP.zip)

[2020-07-07 12:21] JorisGoosen commented on #853
@juliuspf what do you mean by that? The user is on windows with the release version of 0.13 so that should be this: https://github.com/jasp-stats/jasp-required-files/tree/Windows/R/library/Bayesrel

Or are you talking about some other package?

[2020-07-07 12:22] EJWagenmakers commented on #862
Yeah this makes no sense. Statistical analysis is not gaming.
@JorisGoosen ?

[2020-07-07 12:25] JorisGoosen commented on #837
Thank you for the response Leigh Ann, but sadly enough GitHub does not copy the attachments from email-responses to issues.
Would you be so kind as to attach the log here in the issue: https://github.com/jasp-stats/jasp-issues/issues/837

[2020-07-07 12:26] EJWagenmakers commented on #861
Did you see that we offer a preinstalled zip file, which allows you to install JASP without admin privileges?

[2020-07-07 12:27] JorisGoosen commented on #857
Aah, well it seems that we are not registering it correctly as being capable of that. I assure you that JASP *can* open csv files.
This is a good one to add to the installer though!

[2020-07-07 12:29] LeighAnnVaughn commented on #837
Thanks for letting me know. I trust that the following files attached correctly.

[JASP 2020-07-07 07_17_00 Engine 1.log](https://github.com/jasp-stats/jasp-issues/files/4884809/JASP.2020-07-07.07_17_00.Engine.1.log)
[JASP 2020-07-07 07_17_00 Engine 2.log](https://github.com/jasp-stats/jasp-issues/files/4884810/JASP.2020-07-07.07_17_00.Engine.2.log)
[JASP 2020-07-07 07_17_00 Engine 3.log](https://

[2020-07-07 12:35] mocherry23 opened #863 "too many open devices???"
* JASP version: 0.12.2

* OS name and version: Windows 10, 64-bit
* Analysis:
* Bug description: when working with large data tables I get the error "too many open devices" for many of the options

Best
Matthias

[2020-07-07 12:39] juliuspf commented on #853
Sorry. Well I fixed the problem for this particular type of data (data that results in some bootstrapped covariance matrices being non-invertible, but not all) in the R-package Bayesrel; once a new version of JASP uses the 0.6.5.2 version of Bayesrel, this issue can be closed

[2020-07-07 12:41] JasperRobinson commented on #857
Thank you!

Yes, Jasp *can* open .csv files

It’s also odd that macOS doesn’t ‘learn’ this once it has successfully opened once—but that’s a matter for a different forum!
On 7 Jul 2020, 13:27 +0100, Joris Goosen <notifications@github.com>, wrote:

[2020-07-07 12:55] JorisGoosen commented on #862
Ah wow, what a weird error. It seems that because we use OpenGL to render JASP Microsoft has decided we need the xbox game bar. And steal links somehow?

I didn't even know you could *not* install that bar. I will have a look and see if I can do something about this.

Very aggressive policy at work btw @donovaly because this game bar by itself really doesn't allow for any gaming...

[2020-07-07 13:11] JorisGoosen commented on #837
The files got through and were quite informative.

In fact, it seems that something in the naming of the columns of your data let the engine (where we run the code for analyses and filters) crash somehow. I think.

Now, I see in the logfile the names of the columns because you imported them from spss/stata/sas and that importcode describes what it does. The actual data is not included of course.

[2020-07-07 13:12] JorisGoosen commented on #837
And in case you want to mail it you can reach me at "j.c.goosen at uva.nl".

[2020-07-07 13:45] JorisGoosen commented on #843
@tegedik would you like to give http://static.jasp-stats.org/Nightlies/MacOS/JASP-nightly-qt5.15-022ce5da27692d754dfa14d69f9d74bb28b5e57c.dmg a go?

It isn't signed or notarized so Apple will complain, or suggest you throw it in the trashcan... But if you choose "open" from the contextmenu twice it will actually allow you to open it.

[2020-07-07 14:01] JorisGoosen commented on #843
Ah, and another version of JASP, but if the first one does not crash anymore there is no point in trying this one: http://static.jasp-stats.org/Nightlies/MacOS/JASP-nightly-noQuartz-2c2b3a6466f2afcdf449f02ec113cb1d98ceb56a.dmg

[2020-07-07 14:14] JorisGoosen commented on #837
It seems I cannot reproduce this problem with a dummy dataset based on just the columnnames.

It would be incredibly helpful if I could have the data you used to figure out what is going wrong here.

[2020-07-07 14:14] JohnnyDoorn commented on #860
Hi @JasperRobinson,

Thank you for your input! Yes, I have noticed that the widget can be a bit tricky sometimes, also due to it being relatively small. I have noticed that in 0.13 it is a bit easier to move around with Tab - which version are you currently using? I think additional changes in the QML, like the ones you're suggesting, would be interesting for @boutinb.

As for the making a templat

[2020-07-07 14:20] JorisGoosen commented on #862
Aah if I can believe the following website you can get rid of this warning by doing the following:
https://www.minitool.com/news/ms-gaming-overlay-popup.html

And if that helps I would suggest asking your admin to disable this by default. Because if the gamebar is removed then this option should be off...

[2020-07-07 14:20] JorisGoosen commented on #862
And I mean specifically the part called "Option 1: Disable Game Bar"

[2020-07-07 14:29] JorisGoosen commented on #861
@donovaly if you would like to help us out with this that could be great. I have set up the WIX code but basically have stopped paying attention to it as it seems to do all we want.

For most users the zipped version of JASP is good enough.
But if you want to have a go at it you can find the wix stuff here: https://github.com/jasp-stats/jasp-desktop/tree/stable/Tools/wix
And to build the installer

[2020-07-07 14:33] JorisGoosen commented on #858
So I cannot answer this question I am afraid but I have assigned someone to this issue who can. He is on a vacation though, so it might take a while before he gets back to you.

[2020-07-07 14:36] JorisGoosen commented on #856
This happens only with JASP?

It could very well be that it will eventually finish verifying and finish. But I haven't seen this problem before, nor heard about it from someone else.

Perhaps you can try some of the suggestions in this stack overflow post: https://apple.stackexchange.com/questions/216188/apps-not-opening-verifying

[2020-07-07 14:37] jjcosta1 commented on #858
Hi

Thanks for the quick answer.

I'm very interested in this situation.

Thnk you,

jjmc

A 2020-07-07 15:33, Joris Goosen escreveu:

Links:
------
[1]
https://github.com/jasp-stats/jasp-issues/issues/858#issuecomment-654906158
[2]
https://github.com/notifications/unsubscribe-auth/AQGOBKNAL5YFUXOGF7A76I3R2MW4NANCNFSM4OSUJJQQ

[2020-07-07 14:45] LeighAnnVaughn commented on #837
Thanks, Joris. I'll email you a data file directly.

******************************
Leigh Ann Vaughn
Professor
Department of Psychology
1119 Williams Hall
Ithaca College
Ithaca, NY 14850-7290
(607) 274-7353
http://faculty.ithaca.edu/lvaughn/
******************************

________________________________
From: Joris Goosen <notifications@github.com>
Sent: Tuesday, July 7, 2020 10:14 AM
To: jasp-s

[2020-07-07 14:47] JorisGoosen commented on #847
So it seems that that all loads properly.

Could you try starting JASP from the commandline like so: `"C:\Program Files (x86)\JASP\JASP" --logToFile` and then see if you have any logfiles in `C:\Users\**YOUR USERNAME HERE**\AppData\Roaming\JASP\JASP\Logs`?

If you already have 0.12.2 installed you could also just enable logging there.

And, is your computer set up running in a german locale by any

[2020-07-07 14:54] JorisGoosen commented on #838
I saw you had trouble running 0.13 so I guess you cannot use that until we fix that problem.

There were some changes to the backend of JASP for reading files from SPSS that might have fixed this problem. Because in the previous version there was an issue with certain types of missing values.

But that would not have caused all analyses to break I think.

Is it possible for you to send me the data

[2020-07-07 15:04] vankesteren commented on #858
Hi @jjcosta1

this is strange. just to check: did you make the variables categorical (ordered, ![image](https://user-images.githubusercontent.com/11596858/86801027-e68d1880-c073-11ea-962b-ae8cd8b6a5f2.png)) in the JASP interface?

Erik-Jan

[2020-07-07 15:07] jdebeer2005 commented on #839
Team, JASP still crashes when changing from scale to nominal values on the data set I sent in.  I reloaded a fresh copy of 0.13 on to Windows 10, started to run a mixed effects model and wanted to change parada from scale to nominal, and JASP stopped.
08:02 Jul 7, 2020, west Coast US time

JDB

[2020-07-07 15:10] AlexanderLyNL commented on #839
Hi JDB,

It's correct that it's not fixed in the version you downloaded, but it's fixed in our development plan. Once we fix up some other smaller issues, we will release a new version.

Cheers,
Alexander

[2020-07-07 15:14] JorisGoosen commented on #863
The errormessage refers to plot-devices in R.

Is it possible to share the jasp-file where this occurs? Or describe a bit what you are doing?

For instance: are you changing options for an analysis that will output plots with a large dataset?

I also assume that once this message pops up the best thing to do is save your work and restart JASP because it seems somehow the devices R uses to plot are

[2020-07-07 15:24] AlexanderLyNL commented on #843
This works well for me and it feels much more stable on my macOS 10.13.6 (High Sierra). I'm not sure how easy it is to port the Windows development to Qt 5.15 as well. Or we can just wait until Frans and Bruno are back to help out with that.

[2020-07-07 15:35] JorisGoosen commented on #837
Aah, ok so the problem is caused by the fact that the column between `debtimer_Click_Count` and `af1r` has no name in JASP.
It also seems to have no information or labels in it.

I will be making JASP a little bit more resilient with regard to this kind of data, but in the meantime you could work with the data if you remove that column from the sourcedata.

[2020-07-07 15:39] jdebeer2005 commented on #839
Ah Ha, Sorry, I thought when it was closed it was fixed.  I can wait.

Thanks

JDB

[2020-07-07 16:16] JorisGoosen commented on #837
Ow, the column "transformed_variables" somehow doesn't seem to get a name, never mind my workaround in that case. I will just have to fix it here.

[2020-07-07 16:30] JorisGoosen commented on #837
Removing that column should still work though, as the problem seems to be that it contains no data whatsoever.

[2020-07-07 16:44] #837 closed

[2020-07-07 16:46] JorisGoosen commented on #843
Windows is easy, in fact it is already done and standing ready on the nightlies. Transitioning flatpak will be harder. But if you both get way less crashes then before this is a very good sign and I will move it into stable.

[2020-07-07 18:14] LeighAnnVaughn commented on #837
Hi, Joris.
Thank you! How fascinating that this was the cause of the problem. It is easy for me to take out that empty column, and JASP works fine when I do.

Best wishes,
Leigh Ann

******************************
Leigh Ann Vaughn
Professor
Department of Psychology
1119 Williams Hall
Ithaca College
Ithaca, NY 14850-7290
(607) 274-7353
http://faculty.ithaca.edu/lvaughn/
****************************

[2020-07-07 20:07] vandenman commented on #852
I'll look at this more in detail in August but your reply looks correct to me.

One way to make this less confusing is to also report posterior exclusion probabilities for matched models. That way, the inclusion Bayes factor can always be computed with just the quantities in the table. For Bayesian linear regression, we could also report prior exclusion probabilities since there we don't have the

[2020-07-07 20:44] AlexanderLyNL opened #864 "Descriptives allowing frequency tables for continous variables again?"
Use-case provided by JASP lecturer: For an `age` variable (scale/continuous) you cannot extract from a histogram the number of 23-years old participants. This can be changing the type of `age`, or by allowing frequency tables for continuous variables.

-1.a One problem is that the frequency tables can get uninformative and overwhelming when you have both continuous and discrete variables. For inst

[2020-07-07 22:01] LeireIglesias1 commented on #856
Thanks!! It had been happening for a while, but not with other applications, so I assumed there was a problem with the download. But I restarted my computer and tried again and it worked, so it was an easy fix finally.

[2020-07-07 22:20] donovaly commented on #862
Many thanks. This helps.

They are already annoyed why I make so much trouble - I should not waste my time in 0.x programs (like the version number says anything about the bug level). Also therefore I opened issue #861.

However, thanks for the workaround. The question is now how to communicate the solution.

[2020-07-07 22:23] donovaly commented on #861
OK. I am an NSIS guy but think I can do this with WIX nevertheless. I am now in vacation and will have a look when I am back. So give me about 2 weeks.

[2020-07-07 22:31] mupeker opened #865 "This analysis terminated unexpectedly."
* JASP version:13

* OS name and version:W10
* Analysis: reliabilty
* Bug description:
Error: $ operator is invalid for atomic vectors

Stack trace
tryCatchOne(expr, names, parentenv, handlers[[1]])

doTryCatch(return(expr), name, parentenv, handler)

withCallingHandlers(expr = analysis(jaspResults = jaspResults, dataset = dataset, options = options), error = .addStackTrace)

analysis(jaspResults

[2020-07-08 07:01] mocherry23 commented on #863
Dear Joris,

in the attachment you find the data file I have been using (jasp.txt) and the log-files and error messages I get when starting Jasp from the command line as you have suggested.
Mind, this is with version 0.12.2. Insatllation the latest version does not work at all (ref. other issue I have opened).
When using all the variables (except V1) and performing a standard correlation analysis,

[2020-07-08 08:45] JorisGoosen commented on #861
Any help would certainly be appreciated and if you get stuck on something let us know.
Enjoy your vacation!

[2020-07-08 08:46] JorisGoosen commented on #856
Aah good to hear!

[2020-07-08 08:46] #856 closed

[2020-07-08 08:48] JorisGoosen commented on #862
Well, they kind of broke the system by roughly removing the gaming bar without disabling such settings... But good luck communicating to annoyed system admins!

[2020-07-08 08:48] #862 closed

[2020-07-08 09:10] jjcosta1 commented on #858
Dear Erik-Jan

When I make the variables ordinal, I'm unable to put them in the factors
window.

Is it normal? To assign each variable to each factor I must put the in
scale format.

Thanks,

jjmc

A 2020-07-07 16:04, Erik-Jan van Kesteren escreveu:

Links:
------
[1] https://github.com/jjcosta1
[2]
https://user-images.githubusercontent.com/11596858/86801027-e68d1880-c073-11ea-962b-ae8cd8b6a5f2.pn

[2020-07-08 09:28] JorisGoosen commented on #865
Thank you for reporting this error, we are working on it in a private issue at https://github.com/jasp-stats/INTERNAL-jasp/issues/974 and another public issue here: https://github.com/jasp-stats/jasp-issues/issues/855

[2020-07-08 09:28] #865 closed

[2020-07-08 09:30] JorisGoosen commented on #859
Have you tried our new release? 0.13?

Maybe the problem has been fixed already.

[2020-07-08 09:32] JorisGoosen commented on #854
I will add the new version of flexplot to our repositories.

What exactly do you mean by "fixing the install developer module" feature? Was there an issue related to this?
I will be focussing on fixing bugs in 0.13 for a while and then I will continue working on modules. I am not aware of any particular bug in the install developer module feature though, so if you would like me to fix something th

[2020-07-08 09:43] JorisGoosen commented on #834
@krutcher7069 we would like to fix this bug of course. But could you perhaps try to attach the file again?
This uhm, does usually work. As in, it has never not worked for me.

[2020-07-08 09:59] JorisGoosen commented on #863
Ah, well, the logs of JASP starting are for your issue at https://github.com/jasp-stats/jasp-issues/issues/847 and they would have to be made by starting the 0.13 version. What you could do is download the [zipped installer](http://static.jasp-stats.org/JASP-0.13.0.0-64bit.zip), unzip it and double-click JASP.exe. This will generate (hopefully) some logs that will tell me at what exact point JASP

[2020-07-08 10:00] JorisGoosen commented on #847
The relevant part from a comment in #863:
The logs here would have to be made by starting the 0.13 version.
What you could do is download the [zipped installer](http://static.jasp-stats.org/JASP-0.13.0.0-64bit.zip), unzip it and double-click JASP.exe.

 This will generate (hopefully) some logs that will tell me at what exact point JASP well, stops starting... The thing with "locales" is probably r

[2020-07-08 11:43] jjcosta1 commented on #858
Hi

I've tried to do CFA with ordinal variables but JASP (0.13) does not
allow to put items inside the factors boxes if they are described as
categorical.

As you know, this feature is presented as a JASP 0.13 version in _New
Features and improvements as_

 	* SEM module
 	* Allow ordinal variables in CFA

Yours sincerely,

jjmc

A 2020-07-08 10:10, José Costa escreveu:

Links:
------
[1] https://

[2020-07-08 11:46] elenapapanik commented on #320
I imported my raw data in JASP but impossible to change the column type.  I follow the guidelines to change the column type, I click as appropriate, but no change takes place.Could you please help me to find the solution to my problem?

[2020-07-08 11:50] krutcher7069 commented on #834
I have been trying to generate the R-squareds, but nothing seems to work.
It really is wonderful that you are willing to help with this problem.
Thank you very much!

On Wed, 8 Jul 2020 at 16:43, Joris Goosen <notifications@github.com> wrote:

[2020-07-08 11:55] AlexanderLyNL commented on #834
Could you please add the jasp file as a zip to this thread, by going to https://github.com/jasp-stats/jasp-issues/issues/834? Otherwise, we can't see what's happening.

[2020-07-08 11:57] AlexanderLyNL commented on #320
@elenapapanik could you please add the jasp file as a zip to a new thread, by going to https://github.com/jasp-stats/jasp-issues/issues/new?assignees=&labels=&template=bug_report.md&title= and by filling out the requested information?

[2020-07-08 12:04] krutcher7069 commented on #834
I'm sorry. I have added the jaspp file as a zip.

On Wed, 8 Jul 2020 at 18:55, AlexanderLyNL <notifications@github.com> wrote:

[2020-07-08 12:06] AlexanderLyNL commented on #834
Unfortunately, it doesn't work by mail. Could you please add the jasp file to the thread instead?

[2020-07-08 12:08] krutcher7069 commented on #834
I think it works now.

Thank you for your patience.

[Need help (Thank you).zip](https://github.com/jasp-stats/jasp-issues/files/4890515/Need.help.Thank.you.zip)

[2020-07-08 12:08] tegedik commented on #843
Thank you @JorisGoosen, I tried both versions. The version ("qt5.15") in the first link (https://github.com/jasp-stats/jasp-issues/issues/843#issuecomment-654871944) worked really well for me. I ran several analyses and JASP did not crash (I find a bug in the mixed models module, but I will post another report for that).

Unfortunately, the second version ("noQuartz", https://github.com/jasp-stats

[2020-07-08 12:13] AlexanderLyNL commented on #843
Thanks for testing this for us!

Is the bug you found in Bayesian (G)LMM? Or in classical? This is expected, and there's no need to report this, because you're on pre-Catalina. If the bug is in classical (G)LMM, then we would appreciate a bug report.

[2020-07-08 12:19] vankesteren commented on #858
Hi @jjcosta,

this is a mistake in the release notes. CFA will soon allow ordinal variables, but does not yet. This is immediately the reason for the difference between JASP and MPLUS. We will fix the release notes, thank you for reporting this!

[2020-07-08 12:19] #858 closed

[2020-07-08 12:19] tegedik commented on #843
It is both on Bayesian and classical GLMM. A very strange bug. I will post a full request, but shortly: when there is a missing value on the binary outcome (even a single NA), the analysis with binomial family and logit link function throws this error: "Generalized linear mixed model with binomial family and logit link function requres [sic] that the dependent variable contains only 0 and 1."

[2020-07-08 12:25] EJWagenmakers commented on #320
Does your column contain text of any kind? In that case, "text" is the only category available.
@AlexanderLyNL @JorisGoosen We have had a discussion how to make this clearer. Maybe we should not remove the options to change the scale, but I think it would be nice to have a mouse over (or feedback message) saying something like "Some cells contain text. Unable to change scale."

[2020-07-08 12:32] jjcosta1 commented on #858
Hi

Thank you for your help. Keep up the good work,

jjmc

A 2020-07-08 13:19, Erik-Jan van Kesteren escreveu:

Links:
------
[1] https://github.com/JJCosta
[2]
https://github.com/jasp-stats/jasp-issues/issues/858#issuecomment-655483968
[3]
https://github.com/notifications/unsubscribe-auth/AQGOBKMM72ZFCLSCUJ2ZNYLR2RP57ANCNFSM4OSUJJQQ

[2020-07-08 13:01] elenapapanik opened #866 "difficulty to change from nominal to ordinal variable"
* JASP version: jasp 0.13.0.0-64bit

* OS name and version: windows 10 pro, 2004
* Analysis:  I imported my raw data in JASP but impossible to change the column type.
* Bug description: I follow the guidelines to change the column type, I click as appropriate, but no change takes place.
[pms-covid19.zip](https://github.com/jasp-stats/jasp-issues/files/4890769/pms-covid19.zip)

#### Steps to reprod

[2020-07-08 13:17] JorisGoosen commented on #843
So Im afraid I cannot help with the bug you found. But I will be replacing the installers on the website with new ones that use qt 5.15, you will need the preCatalina version. This might solve some of the problems in MM.

[2020-07-08 13:19] AlexanderLyNL commented on #866
The reason why this is not working, is because almost every one of your columns are read in as text. Whenever a column contains an entry that cannot be converted into a number, this column will be interpreted as a text column.

For instance, in V2 there's an entry such as `8-12`, which is read as a text, because it is unclear for R on how to convert that into a number. Furthermore, in V3 there are

[2020-07-08 13:19] #866 closed

[2020-07-08 13:22] AlexanderLyNL commented on #843
That will solve the Bayesian LMM problem, but not the problem that the error message is not informative enough. Thanks for also reporting the bad error message. @FBartos could you please have a look at how the missing values are dealt with in (Bayesian) GLMM and LMM.

[2020-07-08 13:24] mocherry23 commented on #863
Dear Joris,

thanks for your patience.
I now have downloaded and unpacked version 0.13.0.0 as per your suggestion. Then I tried to run it from the command line. The resulting logs are attached. The problem remains: nothing happens.

Thanks and best
matthias
[logs with jasp o.12.0.0.zip](https://github.com/jasp-stats/jasp-issues/files/4890870/logs.with.jasp.o.12.0.0.zip)

[2020-07-08 13:26] elenapapanik commented on #866
Thanks a lot

[2020-07-08 13:40] JorisGoosen commented on #863
Hey Matthias,

No problem, and these logs are the right ones indeed!
JASP seems to stop at an unexpected place for me...

I am installing a german version of windows in a VM now to see if I can then reproduce it here...

[2020-07-08 13:46] FBartos commented on #843
Hi @tegedik ,

thanks for reporting this. Yes, you are right. I fear that the variable checking procedures do not consider and omit NAs values from the dependent variables yet. I will work on fixing this issue.

[2020-07-08 13:48] FBartos opened #867 "Mixed Models - dependent variable checks cannot deal with NAs"
as reported here: https://github.com/jasp-stats/jasp-issues/issues/843

[2020-07-08 13:56] AlexanderLyNL commented on #843
Hi @tegedik,

Frantisek made the issue for you, so you don't need to report the bug anymore, unless you find something else of course. Thanks again for testing this for us. I close this issue now. Please reopen, if the issue reappears.

Cheers,
Alexander

[2020-07-08 13:56] #843 closed

[2020-07-08 14:26] ArCourtin opened #868 "Major inconsistency between frequentist and bayesian non parametric paired t-test"
* JASP version:0.13

* OS name and version: Windows 10
* Analysis: (bayesian) paired t-test
* Bug description: The W value returned by the Bayesian and parametric paired t-test are inconsistent. BF and p-values interpretation lead to drastic differences of decision on H0 rejection.
* Expected behaviour: I'm unusure wether the W statistic are supposed to be exactly equal between the 2 tests but I a

[2020-07-08 14:29] MarCordero opened #869 "analysis terminated unexpectedly"
* JASP version: 0.12.2.0
 Windows 10 Pro
* Analysis: Repeated Measures ANOVA
* Bug description:
This analysis terminated unexpectedly.

Error in if (xr[2] - xr[1] > 1000) {: missing value where TRUE/FALSE needed

Stack trace
tryCatchOne(expr, names, parentenv, handlers[[1]])

doTryCatch(return(expr), name, parentenv, handler)

withCallingHandlers(expr = analysis(jaspResults = jaspResults, dataset

[2020-07-08 14:32] EJWagenmakers commented on #868
@JohnnyDoorn

[2020-07-08 15:07] JorisGoosen commented on #863
Ok, so actually, for me in a fresh german windows install 0.13 works fine...

Could you try this test version of JASP 0.13 with qt 5.15 out?
http://static.jasp-stats.org/Nightlies/WindowsZip/JASP-nightly-qt5.15-c2fc3a8ccbc98a40939c05a600e0fbbc64784dd0.zip

[2020-07-08 15:08] JorisGoosen commented on #863
And if it also doesn't work, please upload the logs, thanks!

[2020-07-08 15:22] JorisGoosen commented on #826
Hmm, I just installed Elementary and it already installed the dutch stuff for me. And, perhaps not so surprising, jasp worked.

After removing the dutch languagepacks and restarting it still works.

Could you run `locale -a` in a terminal and post the output here?

[2020-07-08 15:45] tegedik commented on #843
Thanks a lot @JorisGoosen , @AlexanderLyNL  and @FBartos . Surely you are a great team.

[2020-07-08 15:59] JorisGoosen commented on #869
Does this happen with every dataset?
Or, if it is possible to share this data you could perhaps attach it here at the issue? (Zipped)

[2020-07-08 16:00] JorisGoosen commented on #869
Or actually, maybe you could try the new release? 0.13?

[2020-07-08 16:05] JorisGoosen commented on #843
Thank you very much @tegedik!
And [here](static.jasp-stats.org/JASP-0.13.0.0-preCatalina.dmg) you can find the new installer for mac that should hopefully not crash and is also meant for pre-Catalina systems like the one you are using.

[2020-07-08 17:15] ksteppler opened #870 "Reliability"
* JASP version: 0.12.2

* OS name and version: Windows 10 Home
* Analysis: Reliability Cronbach's alpha
* Bug description: When I try to run my reliability test it gives me this error.
![image](https://user-images.githubusercontent.com/68024466/86948564-89907180-c10a-11ea-997d-4ae1abbc74f9.png)

I have narrowed the problem down to errors in two columns from the data (v5 and v8).
![image](https://u

[2020-07-08 18:03] elenapapanik commented on #320
Παρόλο που δίνω αριθμητικές τιμές , δεν καταφέρνω καμία αλλαγή.

[2020-07-08 18:06] elenapapanik commented on #320
I change the entries to numbers and even then I can't change it.

[2020-07-08 18:52] MarCordero commented on #869
Thank you @JorisGoosen for your quick response. I have seen that the problem is due to the format of some cells... Here I attach you one of the files
[dataset.zip](https://github.com/jasp-stats/jasp-issues/files/4892666/dataset.zip)

The .csv files I have obtained from Matlab after I pre-analysed the data there. I opened the .csv file to check it and for some reason, the values in some of the cell

[2020-07-08 19:27] JorisGoosen commented on #869
If I look in the csv file I see a large set of numbers, all having decimals as denoted by the dot.
JASP will never interpret a dot as thousands, always as the denoter of decimals. And because some locales use commas to denote decimals we convert those commas to dots before doing further processing.

But it seems the problem here is that you have the data specified in Matlab and it isn't exported p

[2020-07-08 19:28] JorisGoosen commented on #320
@elenapapanik could you please just open a new issue for this?

[2020-07-08 20:14] MarCordero commented on #869
I see... Yes, maybe Matlab exported the data wrongly but it is very hard to do it since I am using a specific plugin for analysing my data. I was checking when was NaN appearing and actually the error is caused due to the fact that I do not have between-subject conditions so there are no possible values there to compare. And the dot error is exclusively seen in Excel or LibreOffice, but you are ri

[2020-07-08 20:14] #869 closed

[2020-07-08 20:54] JorisGoosen commented on #869
No problem and good luck with your data!

[2020-07-09 01:11] jdebeer2005 opened #871 "JASP maxes out at 17,745 observations"
* JASP version: 0.13
win 10
* OS name and version:
* Analysis: JASP will not run a complete contingency report, maxes out at 17,745 ob
* Bug description:
* Expected behaviour:  I expect it to report 23,000 plus obs

#### Steps to reproduce:
1. Go to '...' jaxp file
2. Click on '....'  contingency
[2020-Mar-May_JDB.zip](https://github.com/jasp-stats/jasp-issues/files/4893949/2020-Mar-May_JDB.zip)

[2020-07-09 02:31] jdebeer2005 commented on #871
Please ignore, my fault, I that blocked some variables and observations.

very sorry.

[2020-07-09 05:46] ArCourtin commented on #868
The inconsistency in W is also present in JASP v0.12.2 but the corresponding BF and p-value seemed to be in agreement.
Same dataset in JASP V0.12.2:
![image](https://user-images.githubusercontent.com/53186412/87001716-560c2080-c1b8-11ea-88db-48a70eec90ab.png)

[2020-07-09 06:36] juliuspf commented on #540
I think with the new release, we can close this issue

[2020-07-09 06:59] mocherry23 commented on #863
Dear Joris,

so, this versions does not work either: It produces an error message: "vcruntime140.1.dll not found ..."
When staring from the command line no log files are produced at all.

[2020-07-09 08:28] JasperRobinson commented on #860
Thanks for this useful advice Johnny,

I was using V 0.11 but have retested this morning with 0.13—here's what I found running some similar within-subjects parametric ANOVAs: [That reminds me: it would be great if Jasp checked for updates]

1. Inputing new Repeated Measures Cells is unchanged. So, tabbing to the first 2 pre-installed row works nicely—i.e., each tab press jumps to the next row for

[2020-07-09 08:30] JorisGoosen commented on #863
Aah yes, because it is a zip it does not include the visual studio distributable: https://aka.ms/vs/16/release/vc_redist.x64.exe

[2020-07-09 08:31] JasperRobinson commented on #859
Thank you Joris—I didn't realise that I was out of date!

All good now in 0.13 for me—The "Descriptive Plot" *did* appear in the first "Export Data" .html file. I didn't need to repeat the export to get it to appear. :-)

[2020-07-09 08:34] AlexanderLyNL commented on #540
Hi Julius, do you mean that this is solved with 0.13, or the next one? I think you mean 0.13, so I close this. If not, please reopen.

[2020-07-09 08:34] #540 closed

[2020-07-09 08:46] JorisGoosen commented on #871
No problem

[2020-07-09 08:46] #871 closed

[2020-07-09 09:06] JorisGoosen commented on #859
Aah you didn't see a "download new version" button in the welcome page?
Anywway, good it works now!

[2020-07-09 09:06] #859 closed

[2020-07-09 09:33] AlexanderLyNL opened #872 "R4 upgrade: data.frame stringsAsFactor=FALSE"
Related to: https://github.com/jasp-stats/INTERNAL-jasp/issues/935

https://developer.r-project.org/Blog/public/2020/02/16/stringsasfactors/index.html

- Affects `data.frame` and `read.table`
- Might affect us via Rinside?

**Potential problems:**
- Order of levels of a categorical text variable different on different machines: https://github.com/jasp-stats/jasp-issues/issues/849 depending on the

[2020-07-09 11:15] juliuspf commented on #870
Can you try updating your JASP to the newer version 0.13?

[2020-07-09 11:16] juliuspf commented on #540
Ja sorry, with the recent release 0.13.0 we fixed this issue.

[2020-07-09 13:07] asdeden commented on #826
Dear Goosen,

After getting driver problems with several other linux distros (Mint, Manjaro and MX Linux), I sadly switched back to Windows 10. My computer has AMD CPU and GPU. I will test Linux again in future, if new linux kernels provide better support for AMD hardware.

Thank you for your support and assistance.

[2020-07-09 13:07] #826 closed

[2020-07-09 14:33] JorisGoosen commented on #826
Ah yes I know that pain.

My previous laptop had the same problem. I would have hoped that with the new opensource amd drivers these kind of problems would be gone. Ah well.

[2020-07-09 15:05] ASarafoglou commented on #796
I do not think that I can fix this issue before the next release, without having the JASP programmers around to help me out (I haven't coded for JASP since December). I would be thankful if the task would get allocated to somebody else, who can probably fix this issue in 20 minutes.

[2020-07-09 15:06] mocherry23 commented on #863
Dear Joris,

o.K. after installing this, the program runs.
When more than 30 variables are in the analysis, neither scatter plots nor heatmaps are produced though. Do you think that is a problem of my system only.
Also, do you plan to include the possibility to export graphs as .svg files?

Thanks so far, I will certainly try other modules and capabilities. So far, I really like waht I am seeing.

[2020-07-09 15:07] koenderks commented on #815
@FelipeMAffonso If you want, you can preview the new feature by downloading the JASP nightly built from https://static.jasp-stats.org/Nightlies/ (the latest).

[2020-07-09 15:56] juliuspf commented on #870
I am almost certain this is fixed in 0.13.0, so I am going to close it, please reopen when the problem resurfaces.

[2020-07-09 16:33] JorisGoosen commented on #863
Hmm, well. I don't know if that is supposed to happen or not.
If you feel it is weird, maybe you can open a new issue for it? Also describing in which analysis and also make sure to mention you got a slightly experimental version from me.

I am actually surprised we aren't supporting export to svg yet. And in fact, it seems nobody has requested it yet. I will make an issue for it because it should

[2020-07-09 16:33] #863 closed

[2020-07-09 16:34] JorisGoosen opened #873 "Save image as SVG"
As suggested/requested in https://github.com/jasp-stats/jasp-issues/issues/863

It would indeed be nice to support this. Especially given the fact that we already support rendering all plots to svg anyway.
Those few remaining issues with that will have to be solved.

[2020-07-09 16:47] ksteppler commented on #870
This did not fix the problem. Instead, it still tells me the variance is 0 for v5 and v8, but now it won't let me run the test without those two columns.

[2020-07-09 16:52] ksteppler commented on #870
This did not fix my problem. It still says the variance is 0.

Thanks,
Kyla Steppler

From: Julius Pfadt<mailto:notifications@github.com>
Sent: Thursday, July 9, 2020 9:56 AM
To: jasp-stats/jasp-issues<mailto:jasp-issues@noreply.github.com>
Cc: STEPPLER, KYLA C<mailto:steppler@email.sc.edu>; Author<mailto:author@noreply.github.com>
Subject: Re: [jasp-stats/jasp-issues] Reliability (#870)

I am alm

[2020-07-09 18:15] JorisGoosen commented on #854
Ok, so flexplot has been updated @dustinfife if you want me to have a look at whatever it is that is going wrong with devmodule you should make an issue for it.

[2020-07-09 18:15] #854 closed

[2020-07-09 18:19] AlexanderLyNL commented on #870
Could you please add the jasp file as a zip to this thread?

[2020-07-09 20:29] FelipeMAffonso opened #874 "[Request] SPRITE Procedure for Audit/Data Generation"
* Enhancement: add the SPRITE procedure to JASP.
* Purpose: SPRITE is a tool that generates data/histograms based on parameters such as means, SDs, and ranges.
* Use-case: With this tool:

1) One could check for irregularities/data plausibility when no raw data is available. One could check the potential distributions that are generated by SPRITE and see the plausibility
2) One could generate data

[2020-07-09 20:55] FelipeMAffonso commented on #815
Hi @koenderks I had some trouble trying to use this feature.

I generated the following dataset:

55.34
41.24
66.64
32.54
5.4
44454.4
68452.4
4554.4
9.4
774564.4
785453.4
878.4
3.7
3.8

The leading digit looks good:

![image](https://user-images.githubusercontent.com/57021043/87089266-2c78e680-c204-11ea-9c96-d9e18395780a.png)

But the last just doesn't seem right!

![image](https://user-images.git

[2020-07-09 20:56] FelipeMAffonso commented on #815
Of course, the categorization below assumes fixed positions. But it would be nice to have "first, second, ..., last", but these should be split by whether it's before or after the decimal point. To detect fraud, it's nice to see the last digit (after the decimal point) and see whether the distribution is uniform

[2020-07-09 20:58] ksteppler commented on #870
I have a few that I need it for, but here is one of them.

Thanks,
Kyla Steppler

From: AlexanderLyNL<mailto:notifications@github.com>
Sent: Thursday, July 9, 2020 12:19 PM
To: jasp-stats/jasp-issues<mailto:jasp-issues@noreply.github.com>
Cc: STEPPLER, KYLA C<mailto:steppler@email.sc.edu>; Author<mailto:author@noreply.github.com>
Subject: Re: [jasp-stats/jasp-issues] Reliability (#870)

Could you

[2020-07-10 07:44] juliuspf commented on #870
Did you mean to include a file? Anyhow, I know that the error handling does prevent variables that have a variance of 0 being entered into the analysis, because this breaks the check if variables are correlated negatively with the scale (at least that is the first thing it breaks).

[2020-07-10 07:45] juliuspf commented on #870
@AlexanderLyNL If the user is set on including a variable that has no variance into the analysis, an option would be to make the check how variables are correlated with the scale optional. I would have to check what this means for the rest of the analysis. What do you think?

[2020-07-10 09:31] EJWagenmakers opened #875 ""Copy Citations" for Bayesian Meta-Analysis"
Meta-analysis module -> Bayesian meta-analysis.

Currently, the "copy citations" feature offers no useful references. Actually, the help file *is* really good in that respect. Can we:
1. Make available the references from the help file in the "copy citations" feature? (as an aside, should this be done automatically, for all analyses?)
2. Add, both to the help file *and* to the "copy citations" fea

[2020-07-10 10:10] juliuspf commented on #870
Okay, I checked it, and adding variables with variance of zero leads to a non-invertible covariance matrix, which breaks some coefficients. Thus, so far such variables cannot be included in the analysis.

[2020-07-10 10:16] EJWagenmakers commented on #870
Yeah that makes sense, they should not be included. If such a case is detected, an appropriate warning should be given (e.g., "Variable XYZ has zero variance. Remove XYZ to continue."

[2020-07-10 10:18] juliuspf commented on #870
this is what we do:
<img width="479" alt="Screenshot 2020-07-10 at 12 17 54" src="https://user-images.githubusercontent.com/38500953/87144058-7666d880-c2a7-11ea-85a6-7cbde658bcab.png">

[2020-07-10 10:42] AlexanderLyNL commented on #870
I agree, it's reasonable to throw an error if the variance is zero.

[2020-07-10 13:09] juliuspf commented on #111
All these are fixed with 0.13.0, and this can be closed.

[2020-07-10 13:12] #111 closed

[2020-07-10 14:49] EJWagenmakers commented on #873
Yes, and Richard M. tells me that svg plays well with Word too, so it would be nice to have.

[2020-07-10 20:29] kampfq opened #876 "JASP won't start on macOS big sur"
* JASP version: 0.13

* OS name and version: macOS 11 Beta 2
* Analysis: -
* Bug description: JASP does not start, crashes immediatly.

[2020-07-11 08:56] djdekker opened #877 "Move explanatory footnote text to "Show info for this analysis""
* Enhancement: Move explanatory footnote text to "Show info for this analysis"
* Purpose: Keep output as clean as possible; distinguish results from their interpretation
* Use-case: All explanatory footnotes

**Is your feature request related to a problem? Please describe.**
In the Paired Samples T-Test, an explanatory footnote is printed below the Assumption Checks:

<img width="351" alt="explana

[2020-07-11 11:02] EJWagenmakers opened #878 "JASP file does not render on OSF"
This JASP file, created with 0.13, does not render on the OSF: https://osf.io/mskxz/
(I can download it and open it fine; also, other jasp files do display -- for instance, from the same directory, https://osf.io/u6zvk/ does work. I am not sure whether this problem holds for all of 0.13, or is somehow specific to this particular file.

[2020-07-11 13:34] gfaity commented on #33
I'm also interesting in the possibility of using long format in t-test by exemple. I actually work with R (long format) but with new results I prefer to do a counter analysis with Jasp (to avoid human error).
And when I give my student some data to analyze, it would gain time instead of changing the format of my data before giving them.

[2020-07-11 16:20] srk7774 commented on #782
@JohnnyDoorn @FelipeMAffonso I am trying to replicate the findings in jasp.   I specified the following contrasts.  Facta: (2 -1 -1) , factb: (0 -1 1) and would like to check the interaction at level 1 of factc.  Could you please specifiy the values to be entered in the jasp contrasts.
The above example is taken from Design and analysis by Keppel (4th Ed.).
Results: F = 14.017/1.889 = 7.42
F(1,70)

[2020-07-11 17:39] JorisGoosen commented on #33
Well it certainly is on my to-do list, I'm hoping to have the time to wokr on it somewhere in the coming months.

[2020-07-13 00:59] ndpegram commented on #73
I realise this has languished for a while. I'd like to comment that the lack of the ability to weight data was one of the strongest arguments against our institution adopting JASP rather than SPSS. This is significant for us as most of our research projects are in the social sciences.

[2020-07-13 08:25] akashrajkn commented on #796
I'll take this issue

[2020-07-13 08:27] JorisGoosen commented on #876
I don't think it will have very high prio to get JASP to work on a beta version of macOS but it is good to be prepared for trouble. It seems like the new version will be quite an upgrade so Im not surprised things aren't working as expected...

[2020-07-13 08:28] Diesfeldt commented on #796
Thank you very much.

Best,

Han Diesfeldt

Verzonden vanuit Mail<https://go.microsoft.com/fwlink/?LinkId=550986> voor Windows 10

Van: akash raj<mailto:notifications@github.com>
Verzonden: maandag 13 juli 2020 10:25
Aan: jasp-stats/jasp-issues<mailto:jasp-issues@noreply.github.com>
CC: Diesfeldt<mailto:h.diesfeldt@outlook.com>; Mention<mailto:mention@noreply.github.com>
Onderwerp: Re: [jasp-stats

[2020-07-13 08:30] JorisGoosen commented on #875
Yeah this is what the plan is with the combination of https://github.com/jasp-stats/INTERNAL-jasp/issues/445 and https://github.com/jasp-stats/INTERNAL-jasp/issues/740

[2020-07-13 08:31] #870 closed

[2020-07-13 14:23] #830 closed

[2020-07-13 14:23] #835 closed

[2020-07-13 14:24] JorisGoosen commented on #830
In the next version you will be able to use your normal account.

[2020-07-13 14:24] JorisGoosen commented on #835
Idem here, in the next version you should be able to use your normal account.

[2020-07-13 14:33] gtobin26 opened #879 "Linear Regression Plot"
* Enhancement:  Create a plot for a simple single XY dependent/independent relationship
* Purpose:  To provide a regression plot showing the individual data points, the line of best fit, the confidence lines for the predicted line of best fit, and the confidence limits of the prediction of Y from X.  Unless I have missed it, JASP has no option to plot this type of graph yet has excellent plots for

[2020-07-13 14:36] AlexanderLyNL commented on #877
I agree, with this. Though, I leave it open as a first issue for someone starting with programming. It's not that big of a nuisance I reckon.

[2020-07-13 14:58] #815 closed

[2020-07-13 15:21] #841 closed

[2020-07-13 15:21] #853 closed

[2020-07-13 15:21] #855 closed

[2020-07-13 15:39] #867 closed

[2020-07-13 16:32] 16665k00 opened #880 "Mediation with a Categorical Outcome"
Will it be possible to update the mediation analysis so as to allow for categorical outcome variables? (e.g., correct/incorrect, yes/no, and so on).

[2020-07-13 19:21] Prof360 opened #881 "JASP stops working in Windows 10"
* JASP version: 0.13

* OS name and version: Windows 10
* Analysis:  Stops working
* Bug description:  Keep getting a message form Windows saying "The program has stopped working" and then it shuts it down
* Expected behaviour:  I expect it to keep working more than 5 minutes at a time.  I uninstalled it, then reinstalled it, but it still keeps shutting down after a few minutes

<

[2020-07-14 11:19] JorisGoosen commented on #881
Sorry to hear JASP keeps crashing on you.

Could you help me out by describing the problem a bit more?
As in, does JASP work for a bit?
Can you load data?
Can you actually run an analysis at all?
Does it crash for every analysis?
Are you using your own data?
Can you open a file from the data library and refresh that?

Because with the information you have now given me I cannot begin to figure out

[2020-07-14 14:51] JorisGoosen commented on #878
Sure, but could you attach the original file?

[2020-07-14 18:02] djdekker commented on #849
I remember having seen this same issue with ordinal data and bar charts. The "fix" was to switch the column type from ordinal to scale and back to ordinal. I could not succesfully reproduce the issue afterwards.

[2020-07-15 08:40] mshyde commented on #540
Hi Julius,

I just downloaded the newest version for Mac, but the reliability analyses aren't available in this version. I double-checked if it's the right version after installing. I was wondering whether there are any updates on this?

[2020-07-15 08:50] EJWagenmakers commented on #540
In the latest version, Reliability have moved away from the ribbon and is now available as a module. (click on the + sign on the top right to see the modules, then check the box to activate)

[2020-07-15 08:52] JorisGoosen commented on #878
Hmm, I dont know what you did but if I download your file, refresh it and save it on my own OSF I get the functioning report: https://osf.io/xq4nd/ So I will close this issue.

[2020-07-15 08:52] #878 closed

[2020-07-15 08:52] juliuspf commented on #540
see here: https://jasp-stats.org/wp-content/uploads/2020/07/Bayesian_Reliability-1.gif

[2020-07-15 09:02] mshyde commented on #540
Thank you! Perfect. And I am sorry I didn't see that, I only checked all the dropdown menus from the modules that I had already added.

I had just downloaded an older version and just reverse coded my items manually before entering them, which worked as well, but it's nice to use one version again!

[2020-07-15 10:03] EJWagenmakers commented on #878
OK maar ik kan de werkende file niet zien, want daarvoor heb ik access nodig. Die heb ik aangevraagd. Je kunt me deze file ook mailen -- dan overschrijf ik de oude.
Misschien komt het omdat de eerdere versie gemaakt was onder de Mac, terwijl ik hem heb geedit met Windows? Het is zo langzamerhand het enige wat ik kan bedenken.

[2020-07-15 11:13] JorisGoosen commented on #878
Misschien heb je hem gesaved terwijl ie nog aan het rekenen was? Dat kan ook soms dingen verstoren.
Ik neem aan dat je ondertussen wel bij de file kan. Maar anders zie hier.
[MensErgerJeNietCombined.jasp.zip](https://github.com/jasp-stats/jasp-issues/files/4924764/MensErgerJeNietCombined.jasp.zip)

Het zou op zich ook goed zijn om te testen of zelf de file laden van je eigen osf, refreshen met Ctr

[2020-07-15 13:14] EJWagenmakers commented on #878
"Het zou op zich ook goed zijn om te testen of zelf de file laden van je eigen osf, refreshen met Ctrl+R en saven op de osf het probleem ook verhelpt."

Ja, dat verhelpt het probleem! Dank
E.J.

[2020-07-15 21:04] parperis opened #882 "Single-Test Reliability Analysis terminates unexpectedly"
* JASP version: 0.13

* OS name and version: Windows 10
* Analysis:  Single-Test Reliability Analysis
* Bug description: When I try running a single-test reliability analysis and add reverse-scaled items, the analysis terminates.
* Expected behaviour: Compute with the (three in this case) reversed items.

* Full Error Message:

This analysis terminated unexpectedly.
Error in dataset[, cols] <- mat

[2020-07-15 21:25] parperis commented on #882
So, it seems that renaming the Variables from their Greek name to English (well,... Greeklish to be honest), fixes the issue.

[2020-07-16 03:21] itremont opened #883 "layout of sequential analysis in Bayesian A/B test is not right."
* JASP version: **013**

* OS name and version: **MacOS  Catalina version 10.15.6 (19G73)**
* Bug description: **Layout of sequential analysis is off: 1. Subheading "Prior Probabilities" is cut off; 2. Proportion wheel for posterior probabilities  is within legend. Not good for publication! 3. The xy graph also looks weird but I am not sure about its appearance. **
* Expected behaviour:

#### Step

[2020-07-16 06:57] eminSerin opened #884 "CFA plot could not be saved."
* JASP version: 0.13

* OS name and version: MacOS Mojave 10.14.6
* Analysis: Confirmatory Factor Analysis
* Bug description: I can't save a CFA model plot as any format other than .png. When I try it, I get the error below.

<img width="419" alt="jaspError" src="https://user-images.githubusercontent.com/26147797/87637205-91739580-c74a-11ea-8f07-b63638aa0d3e.png">

[2020-07-16 08:15] djdekker commented on #884
Same is happening here in JASP 0.13 on macOS Catalina 10.15.6.
<img width="532" alt="errormessage" src="https://user-images.githubusercontent.com/5346286/87644826-efa17800-c74c-11ea-8753-da16a16e2777.png">
Of all the file types in the list, only png works correctly.
<img width="296" alt="filetypes" src="https://user-images.githubusercontent.com/5346286/87644902-0b0c8300-c74d-11ea-91b9-b1d836f00dfd

[2020-07-16 08:43] anne992 opened #885 "Not able to open Jasp on Mac"
I got a big issue  .

There is a Problem with the Installation for Jasp with my Macbook. I have been trying the Installation for weeks now. And even a Apple Employee does not know the Problem. They have instaled the right Software and I did every step which is on the Jasp website for trouble with Jasp under Mac OS .Could you please help me?I need it for the the University and I feel like that I al

[2020-07-16 09:27] eminSerin opened #886 "CFA Model Plot with Standardized Parameters"
* JASP version: 0.13

* OS name and version: MacOS Mojave 10.14.6
* Analysis: Confirmatory Factor Analysis
* Bug description: I am not sure if it's a bug. JASP always provides CFA model plots with unstandardized parameters regardless of whether or not standardization is selected.
* Expected behaviour: When you select standardization in the "Advanced" menu, the parameters in the CFA model plot shou

[2020-07-16 09:29] eminSerin commented on #885
Please provide more detailed information about the version of your OS (e.g., Catalina 10.15.5) and JASP (e.g., 0.13) you are trying to install.

[2020-07-16 11:45] EJWagenmakers commented on #885
It may be the fact that you have a Mac with Intel Iris GPU? We have solved this issue in the upcoming release, which is imminent. @Joris, what do you suggest -- try a nightly?
If that still does not work for you, we will indeed need more information.

[2020-07-16 15:18] estherweijman opened #887 "Large difference in Bayes Factors in Student vs. Wilcoxon One Sample T-Tests"
* JASP version: 0.13
* OS name and version: macOS High Sierra 10.13.6
* Analysis: Bayesian One Sample T-test
* Bug description: There's is a large difference in the Bayes Factors with the student and Wilcoxon signed-rank test, even though the variable and other settings are the same for the two procedures.
* Expected behaviour: Somewhat similar Bayes Factors for the two procedures.

Steps to repro

[2020-07-17 04:53] itremont commented on #883
BTW, apologize for repeating images.

[2020-07-17 09:15] EJWagenmakers commented on #883
Thanks. I ran this on 0.13.1, under Windows, and it *does* give the desired result:
![image](https://user-images.githubusercontent.com/8603015/87769817-6a869380-c81e-11ea-927b-2965b05ad7ba.png)

@Akash, strange that the plots would change depending on the operating system!
Also, @Akash, note that the input fields start with a "0". For some input fields in JASP, we want users to be able to input fr

[2020-07-17 09:25] Marian-Popa opened #888 "Reliability: Average interitem correlation 95%CI, do not include point estimate!"
* JASP version:
0.13.1
* OS name and version:
Windows 10
* Analysis:
Reliability
* Bug description:
In Reliability Statistics table, the point estimate for Average interitem correlation is .21 and the 95%CI are reported as .87 - .84
At the same time, in the Cronbach's alpha column 95%CI values are not displayed. I assume there are the two limits displayed wrong on the column Average interitem corr

[2020-07-17 09:31] EJWagenmakers commented on #887
@JohnnyDoorn
Thanks for sending the .jasp file. I looked, and I think this makes sense. Anytime there is a large discrepancy between the parametric and the nonparametric procedure this suggests a closer examination of the data. And indeed, the data are not normally distributed. In particular, there are many outliers, and there are clusters of dprime where a number of people have exactly the same d

[2020-07-17 09:35] EJWagenmakers commented on #887
However, when I run the classical Student t and Wilcoxon, I get about the same result! (with both p-values being very low). Let me run the Bayesian Wilcoxon again, with more iterations....
@JohnnyDoorn : dprime is positive on average, but the Bayesian measure of effect size is *negative*. How come?

[2020-07-17 09:41] EJWagenmakers commented on #887
This is with 10,000 iterations:
![image](https://user-images.githubusercontent.com/8603015/87772725-69effc00-c822-11ea-99e7-d55309fa1c41.png)

Maybe the discrepancy has something to do with how ties are handled?

[2020-07-17 09:45] JorisGoosen commented on #885
The problem with Intel Iris GPU was only *after* installing.

@eminSerin is right, we would need to know which version of MacOS @anne992 is using and it would also be good if she was trying the latest installer (0.13.1).

[2020-07-17 09:54] JorisGoosen opened #889 "Plots on linux are only saved as png"
Flatpak version 0.13.1 on Arch Linux.

If I try to save any plot as anything it always saves as png.
So if I select pdf it gives it the extension pdf but it saves a png anyway...

[2020-07-17 09:54] JorisGoosen commented on #889
I was looking at #884 when I noticed this.

[2020-07-17 10:08] anne992 commented on #885
Hey Guys thanks für those quick  answers . I have installed evers single Version of jasp which is listed on the homepage. I could not Open one of them Even the latest Version. My Mac OS Version is High sierra 10.13.6 . Thats the latest version that was instaled by an Apple emplyoee to help me out with Jasp

________________________________
Von: Joris Goosen <notifications@github.com>
Gesendet: Fri

[2020-07-17 10:18] eminSerin commented on #885
That's very weird. What's the error you have? Could you post the screenshot of the error warning? High Sierra is not the latest version of MacOS, but it's not very old either, thus it should okay for JASP. If you could share the error warning, you could find the solution faster.

[2020-07-17 10:27] anne992 commented on #885
There is no Error warning. After the Installation the jasp Programm ask me if i want to open it.And when i press Yes there is nothing hapend. Like i do have the JASP symbol on my mac but when i double click it to open it,  there is nothing open up.

Holen Sie sich Outlook für iOS<https://aka.ms/o0ukef>
________________________________
Von: Emin Serin <notifications@github.com>
Gesendet: Friday, Ju

[2020-07-17 11:59] JorisGoosen commented on #885
I think @AlexanderLyNL is still working on High Sierra as well, or maybe he upgraded?

@anne992 what I have noticed on some older macos' is that you have to right-click the JASP icon and choose "open". Then for some reason it didnt do anything and then the second time you do it it would work.

But I thought we had fixed that.

If you've tried that and it still doesn't work I would ask you to do th

[2020-07-17 13:13] AlexanderLyNL commented on #885
@anne992 Just to double check, did you downloaded the version mentioned with the smaller font?

http://static.jasp-stats.org/JASP-0.13.1.0-preCatalina.dmg

- Once downloaded, I open the dmg and move it to the Applications folder
- To open it the first time, I go to Applications folder, right click on JASP and press Open
- For me the first time it doesn't really open, but the second time I only nee

[2020-07-17 13:40] juliuspf commented on #888
Thank you. This is my bad, two columns are switched. alpha and the average correlation. I am restructuring the module to get rid of this, and simplify the order of things.

[2020-07-17 14:46] JorisGoosen commented on #882
I'll have a look, Greek is too beautiful a language to not support it properly!

[2020-07-17 17:31] Simon4819 opened #890 "ROC and cut-off procedures"
I can use JASP to get ROC, AUC, sensitivity and specificity.
But I cannot get around to getting Pairwise Values for the Coordinates of the ROC so that I can determine cut-off value for the variable in question. I am using the latest JASP version.
Can you help?
Regards,
 Dr Simon Sandett Namnyak

* Enhancement:
* Purpose:
* Use-case:

**Is your feature request related to a problem? Please describe.

[2020-07-17 19:53] itremont commented on #883
Dear EJ:
Thanks for your comments. Yes, i did try on Windows, no problem at all.  This happens only on Mac, with the latest version of Catalina. I haven’t tried on older versions.

[2020-07-18 23:02] itremont commented on #883
Gentlemen:
I tried on Linux Ubuntu 19.10 and I had a similar bug to MacOS. My impression is that things are made to work primarily for Windows.

[2020-07-19 09:14] parperis commented on #882
Thanks Joris. I'm a bit worried now that keeping the original Greek names for the variables might have caused any other issues I haven't noticed so, after finishing with everything, I might go back and rename them all to make sure I get the same results.

[2020-07-19 21:17] donovaly commented on #861
Here is the installer ready to be tested:
https://github.com/donovaly/JASPInstProj/releases/tag/0.1

I decided not to improve the existing installer but to re-use the installer I wrote for the FreeCAD project.
Why?
* The FreeCAD installer is a bit more complex and it has been proven stable for over a year now (for sure more than 100k installations)
* I can provide more features the current install

[2020-07-20 00:56] sujitiiml opened #891 "RTaxometrics"
Kindly consider including the RTaxometrics package in JASP.

It is the standalone package developed by John Ruscio for conducting psychometric analysis and is widely published in well-reputed journals. Further, taxometric analysis is an essential part of a psychometricians toolkit, enabling us to determine whether the underlying latent structure of a construct is Categorical or Dimensional.

[2020-07-20 10:20] JorisGoosen commented on #891
To add a package to JASP would not be sufficient for using it as an analysis I'm afraid.
A form describing the options and an R-function that can handle these values is also necessary.

Have you used RTaxometrics?

[2020-07-20 11:04] EJWagenmakers commented on #891
I think this is a request to implement the functionality of this package as a JASP module. We've discussed the possibility of adding IRT models before, but never got around to it. We are about to implement a bunch of modules, so let's keep this option in reserve until we have more time.

[2020-07-20 11:05] EJWagenmakers commented on #891
...or until many users start to ask for it :-)

[2020-07-20 11:09] anne992 commented on #885
Thank you guys i will try it out

Holen Sie sich Outlook für iOS<https://aka.ms/o0ukef>
________________________________
Von: AlexanderLyNL <notifications@github.com>
Gesendet: Friday, July 17, 2020 3:14:11 PM
An: jasp-stats/jasp-issues <jasp-issues@noreply.github.com>
Cc: anne992 <anne16es@hotmail.de>; Mention <mention@noreply.github.com>
Betreff: Re: [jasp-stats/jasp-issues] Not able to open Jas

[2020-07-20 16:47] ismaelgutier opened #892 "I cant run t o Mann-Whitney tests when mean (and variance) in a condition is equal to 0"
* Enhancement: I would like to propose the running of t tests or Mann-Whitney tests when I have a condition of 60 items with all 0 on it and its variance is 0.
* Purpose: I need to compare a condition (of 60 items) with a given mean (e.g., 34) with other condition with a mean of 0 as sum of its items (variance = 0).
* Use-case: I cannot compare two conditions when one of them has as mean 0 (varian

[2020-07-20 17:28] Marian-Popa commented on #891
Then count a second vote... for when you have more time :-)

I did not use taxometric analysis, probably like many of those who use JASP. But also neither Bayesian analysis nor network analysis, and yet their appearance in JASP was a breath of fresh air that enriched scientific research in psychology.
Taxometric analysis broadens the vision and understanding of latent constructs (so dear to psycho

[2020-07-20 18:44] EJWagenmakers commented on #892
If you want to compare to a condition with variance zero, aren't you looking for a one-sample t-test instead?

[2020-07-21 02:33] AlejandroPeru opened #893 "polychoric matrix / Matrices policóricas"
Sobre las matrices policóricas, sugiero que las puedan implementar, actualmente hay una tendencia en psicometría, en especial el  análisis factorial y la estimación de coefcinientes de confiabilidad, debido a que estas matrices policóricas/tetracóricas toman en cuenta la ordinalidad del ítem en relación al nivel de medición continuo de la variable latente. Sería interesante que revisaran el trabaj

[2020-07-21 08:03] EJWagenmakers commented on #893
Automatic translate (of interest to @vandenman , @juliuspf  @JohnnyDoorn):
"Regarding polychoric matrices, I suggest that they can be implemented, currently there is a trend in psychometry, especially factor analysis and estimation of reliability coefficients, because these polychoric / tetrachoric matrices take into account the ordinality of the item in relation to the level of continuous measure

[2020-07-21 09:35] AlejandroPeru commented on #893
@e

[2020-07-21 09:38] JorisGoosen commented on #861
Hey @donovaly, first of all I appreciate the effort you've put into this!

But we actually used NSIS before and the whole reason we stopped using that is because having an exe as an installer leads to errors such as "installing can be harmful". Also, with an MSI the whole install process and all files are integrated neatly with Windows.

And we can sign it properly so that the installer mentions "

[2020-07-21 09:40] JorisGoosen commented on #861
Aah, well it seems to be about 100M smaller, which is a nice thing. I will test out your installer on a VM later today.

[2020-07-21 09:55] akashrajkn commented on #883
@EJWagenmakers I will take a look at this. I suspect the plots issue is due to the style restrictions in the abtest pacakge: `N.B.: This plot has been designed to look good in the following format: In inches, 530 / 72 (width) by 400 / 72 (height); in pixels, 530 (width) by 400 (height).`

[2020-07-21 11:15] JorisGoosen opened #894 "Compress Windows installer some more"
I noticed that the NSIS installer that @donovaly made for #861 was significantly smaller than our MSI.
Nsis: ~280MB
MSI: ~358MB

So I looked if the MSI could be compressed more and tested it with: https://github.com/jasp-stats/jasp-desktop/commit/e594a13149060fe814a28a01a397e29cb1521ddf

Now the installer is ~317MB

Mind you, this is all according to firefox, it seems the calculation on the nightl

[2020-07-21 11:15] #894 closed

[2020-07-21 13:31] jubera commented on #320
Hi! I have a similar problem. I want to use LMM but I cannot change the variable type of the random effects group (that in my dataset is the participant's number). How should I proceed? thanks for the help

[2020-07-21 15:34] TomasAPalma commented on #782
Hi guys,

I have a potentially silly question: I am running JASP version 0.13.1 (Mac), and, surprisingly, I don't have the option to perform custom contrasts for interactions!? As you can see in the attached screenshot, when I go the contrasts option within ANOVA, the interaction between the two factors is not listed there. I might be missing something, though. Can you help out?

Thanks!
Tomás Pal

[2020-07-21 17:01] donovaly commented on #861
As I wrote

This was the only reason? You cannot influence what Windows does and will do in the future. maybe in future you need to specially sign *.msi files etc. We had the same issue with FreeCAD and found out that Microsoft "learns" that it is a harmless installer. After some days nobody got the "can be harmful" message. Besides this, it is of course the case that installing anything can be da

[2020-07-21 18:06] JorisGoosen commented on #891
We can leave this open @sujitiiml then someone can pick this up at some point

[2020-07-21 20:07] PeterKlaren opened #895 "Same working directory for "R in JASP" as for JASP proper"
* Enhancement: Set the working directory for "R in JASP" as the same as that of JASP proper.
* Purpose: Ease of use of "R in JASP", would be great for learners of JASP to replicate JASP's analyses using R scripts.
* Use-case:

**Is your feature request related to a problem? Please describe.**
No problem.

**Describe the solution you'd like**
Upon starting "R in JASP" the getwd() function returns t

[2020-07-22 01:16] sujitiiml commented on #891
Sure @JorisGoosen

[2020-07-22 08:04] FransMeerhoff commented on #851
Not reproducible on 0.13.1
@JorisGoosen : Agree?

[2020-07-22 08:21] MortenHesse opened #896 "Cannot select variables for factor analyses"
* JASP version:13.1

* OS name and version: Windows 10
* Analysis: All factor analyses,
* Bug description: Cannot select my variables. I can select them in the sense that I can click on them, and they become dark blue, but I cannot get the models to run, and no output is produced.
* Expected behaviour: I want to be able to select N variables and run the measurement model.

#### Steps to reproduce:

[2020-07-22 08:25] JorisGoosen commented on #851
Have you tried Windows?

[2020-07-22 09:13] vankesteren commented on #880
Yes, this would be really nice to have!

[2020-07-22 09:22] vankesteren commented on #880
I just checked -- this is already available for binary outcomes. You have to set your outcome variable to "ordinal" (![image](https://user-images.githubusercontent.com/11596858/88159221-4b687700-cc0d-11ea-9612-13baf78e6d1b.png)). The model plot will not be available, but the mediation model parameter estimates will be.

We should also change this in the help file, as it currently states the follow

[2020-07-22 09:37] 16665k00 commented on #880
Thanks! I have just tried this, and received the following error message: "FIML missing value handling only available when all endogenous variables are of scale type. Ordinal endogenous variables in the model: VariableNameHere"

However, if I change the outcome category to a scale value (and the outcomes themselves to 1 and 0), then it works...

[2020-07-22 09:43] vankesteren commented on #880
yes, you need to switch to "listwise deletion" under advanced > missing value handling

[2020-07-22 09:53] 16665k00 commented on #880
It works! But note - rather than "listwise deletion" it actually reads "Exclude cases listwise".

Many thanks!

[2020-07-22 10:09] AlejandroPeru opened #897 "RESULTADOS DIFERENTES ENTRE SEM Y CFA"
* JASP version: 0.13.1

* OS name and version: Windows 10
* Analysis: CFA and SEM
* Bug description: The model is not admissible: lavaan WARNING: covariance matrix of latent variables
                is not positive definite;
                use lavInspect(fit, "cov.lv") to investigate.
He econtrado el error cuando utilizo Análisis factorial confirmatorio. Sin enbargo cuando ejecuto la misma sinta

[2020-07-22 10:15] AlejandroPeru opened #898 "Include reliability output in SEM and factor module"
He observado la nueva función de fiabilidad, es muy buena, me puse a pensar que sería interesante y muy útil que la confiabilidad fuese como un output del análisis de la estructura del instrumento, sería más escalrecedor de en qué se basa el programa para estimar las medidas de fiabilidad, además de darnos indicios de la calidad del modelo. Así mismo la oportunidad de incluir situaciones como cuan

[2020-07-22 10:48] JorisGoosen commented on #851
On linux it looks good btw.

[2020-07-22 11:13] JorisGoosen commented on #861
Ok, the translations are nice, but Im sure those could also just be part of the MSI. The other options for installing silently are also supported by windows-installer/msi. In fact, that is all basic functionality that is provided by MSI.

No it isn't the only reason. In fact, we already sign the msi with an official key which is why it says "Universiteit van Amsterdam" during install. The other re

[2020-07-22 12:45] EJWagenmakers commented on #898
Google translate:
"I have observed the new reliability function, it is very good, I thought that it would be interesting and very useful if the reliability were as an output of the analysis of the structure of the instrument, it would be more scanty of what the program is based on. estimate the reliability measures, in addition to giving us indications of the quality of the model. Likewise, the op

[2020-07-22 12:47] EJWagenmakers commented on #897
Google translate:
"I have found the error when I use Confirmatory Factor Analysis. However when I run the same syntax in SEM if it works I can't find that error. In other experiments I have carried out I have also found different results between CFA and SEM.
I don't know if they could clarify my doubt why different results happen"

[2020-07-22 12:52] AlejandroPeru commented on #849
La solución seria que revises el label de los datos

[2020-07-22 12:55] FransMeerhoff commented on #851
On Windows indeed not good. But the translation differs there anyway 'Beschrijvend' instead of 'Beschrijvende statistiek' ??
I'll  have a look

[2020-07-22 14:38] donovaly commented on #861
Dear Joris,

It seems you don't like other installer frameworks. I mean of course the other installers around follow the instillation guidelines of Windows too. So there are no DLL hooks and of course they use the correct registry folders

Fine. This can be done with NSIS as well. As you see, I signed my installer (using a key I created) while the installer is created. You can easily replace the .

[2020-07-22 17:49] jubera opened #899 "Error in dimnamesGets(x, value): invalid dimnames given for “dgCMatrix” object"
* JASP version: 0.13.1
* OS name and version: Mojave 10.14.6
* Analysis: Bayesian Linear Mixed  Models
* Bug description: Error in dimnamesGets(x, value): invalid dimnames given for “dgCMatrix” object

I run classic LMMs in my data file and it run correctly. However, when I've tried to run Bayesian LMMs... "This analysis terminated unexpectedly."

I would really appreciate if you could help me to

[2020-07-22 20:25] AlejandroPeru commented on #898
Sobre omega corregido cuando existen errores relacionados: https://journals.sagepub.com/doi/abs/10.1177/01466216010251005

[2020-07-22 20:26] AlejandroPeru commented on #896
revisa el nivel de medición , jasp asume que son de escala (intervalo o razón)

[2020-07-22 20:50] AlejandroPeru commented on #898
@EJWagenmakers  sobre alfa ordinal http://www.psicothema.com/psicothema.asp?id=3572

[2020-07-22 21:05] AlejandroPeru commented on #893
http://www.scielo.edu.uy/scielo.php?script=sci_arttext&pid=S1688-42212013000200005  @EJWagenmakers

[2020-07-23 07:27] FBartos commented on #899
Hi @jubera and thanks for reporting the issue.

I tried reproducing it and I wanted to check whether this setting corresponds to the one you run the model (or did you change anything in the `Model`/`Options` tab?):
![image](https://user-images.githubusercontent.com/38475991/88261312-5206f500-ccc6-11ea-87e5-f9646ab90364.png).

If that is so, it might be macOS specific. I think that we had a similar

[2020-07-23 07:49] jubera commented on #899
Hi @FBartos, thanks for the quick answer!

I could not get to that screen. So, I did not change anything in the Model/Options tab.

So, as you said, it should be macOS specific. I am going to try to run it in a Windows computer, and see if it works.

Thanks a lot for your help!
Esperanza

[2020-07-23 08:29] TimKDJ commented on #899
We actually needed to create two installers for MacOS specifically to deal with this problem, one for versions below Catalina and one for Catalina.
If you use http://static.jasp-stats.org/JASP-0.13.1.0-preCatalina.dmg to download JASP 0.13.1 it should run.

<img width="266" alt="jasp_mac_installer" src="https://user-images.githubusercontent.com/18737241/88266088-e37a6500-ccce-11ea-831e-367d032cbe6

[2020-07-23 08:55] jubera commented on #899
Hi @TimKDJ
thanks a lot for this! it works now indeed. I'm sorry that I wasn't careful enough to see it.
Best wishes!

[2020-07-23 09:12] TimKDJ commented on #899
Glad to hear it works!

[2020-07-23 09:12] #899 closed

[2020-07-23 09:43] JorisGoosen commented on #861
Hey Uwe,

Well, it is just that we used to use NSIS and the arguments I reiterated to you are the ones that convinced me to switch to wix/msi. I especially like the fact that when the setup gets killed the previous state is restored. That is a big advantage in case anything goes wrong. Ive seen very messy install-folders resulting from things like that. Im not trying to bash NSIS or your work but

[2020-07-23 10:57] JorisGoosen commented on #882
Hey Parperis, I would expect any problems with non-latin characters to lead to problems like the one you posted already.

But it can't hurt to make sure.
Would it be possible for you to attach the original datafile/jaspfile with the greek spelling?

[2020-07-23 11:08] AlexanderLyNL commented on #897
I vaguely remember a discussion where it is mentioned that in the R code CFA does an extra check, which is not done for SEM.

https://github.com/jasp-stats/jasp-test-release/issues/91#issuecomment-500772935

Regarding differences between CFA and SEM, I'd be happy to see an inventory of it, so we can look into them further. One obvious thing that can differ is due to column type.

[2020-07-23 12:48] donovaly commented on #861
Then you misunderstood the concept of "installation". Extracting a ZIP does no installation.
What does installing for the current user do?:
- it registers the program to the user registry that you can start if from the start menu
- it registers the file extensions ".jasp" to the user registry so that the user can double-click on a .jasp file and JASP will be opened
- it adds the program to the lis

[2020-07-23 13:09] JorisGoosen commented on #861
And you are certainly right about that, this would be quite an improvement over the zip.

Again, I'm not disagreeing with you on the need for this. The question just never arose and I also only have limited time.

I can certainly work out how to do these things by myself if need be. I am just working on the actual application at the moment and trying to add support for other much needed functional

[2020-07-23 13:21] JorisGoosen commented on #861
Aah and a point about the installer not being translated, this was not very useful up until this point because JASP was also not translated. This is in fact one of our current projects.

[2020-07-23 13:30] amchagas opened #900 "Add Jasp to Open Neuroscience"
Hello!

We are reaching out because we would love to have your project listed on [Open Neuroscience](<https://open-neuroscience.com>), and also share information about this project:

Open Neuroscience is a community run project, where we are curating and highlighting open source projects related to neurosciences!

Briefly, we have a website where short descritptions about projects are listed, with

[2020-07-23 14:26] skollgrim opened #901 "Selecting a custom spreadsheet editor not working"
* JASP version: 0.13.1

* OS name and version: Windows 10
* Bug description: Having selected to use a custom spreadsheet editor and pointing it to excel it still decides to use the default, which in my case is SPSS.

[2020-07-23 15:18] JohnnyDoorn commented on #782
Hi @srk7774 ,

I am not entirely sure what you mean. If you want those contrast analyses for a specific level of a factor, this is not yet possible yet unfortunately (see also comments above).
Or are you getting wrong results compared to your source?

Kind regards,
Johnny

[2020-07-23 15:19] JohnnyDoorn commented on #782
Hi Tomas,

I checked with my version, and there I do have the interaction effect. Is
the interaction effect in your model, and are you JASP 0.13.1?

Cheers
Johnny

On Tue, 21 Jul 2020 at 17:35, TomasAPalma <notifications@github.com> wrote:

[2020-07-24 08:21] anne992 commented on #885
@joris Goosen do you might tellin me how to open an terminal on Mac
Or anyone please

Holen Sie sich Outlook für iOS<https://aka.ms/o0ukef>
________________________________
Von: anne bola <anne16es@hotmail.de>
Gesendet: Monday, July 20, 2020 1:09:45 PM
An: jasp-stats/jasp-issues <reply@reply.github.com>; jasp-stats/jasp-issues <jasp-issues@noreply.github.com>
Cc: Mention <mention@noreply.github.co

[2020-07-24 09:30] JorisGoosen commented on #885
See any of the [following search results](https://www.google.com/search?q=open+terminal+mac).

[2020-07-24 15:10] EJWagenmakers commented on #879
Thanks for the suggestion. I'll add this one to our list of figures that we want to include in a future release (no promises when this will happen, but it is on our radar now)

[2020-07-24 15:14] gtobin26 commented on #879
That’s great.  I understand that you have other priorities.  When you come to do it, if you need some worked examples with intermediate stages to check the program, let me know.  I have lots from perfect fits to scatter plots.

Thanks for considering the option.

Graham
On 24 Jul 2020, 16:10 +0100, EJ <notifications@github.com>, wrote:

[2020-07-24 15:53] josecrocha opened #902 "STANDARD DEVIATION IN RELIABILITY ANALYSIS"
* JASP version: 0.11.1

* OS name and version: MACOS SIERRA
* Analysis:
* Bug description:
There is an error on SD calculation when asking for Reliability Analysis->Scale Statistics->Standard Deviation, the result is not correct.

* Expected behaviour:

#### Steps to reproduce:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

[2020-07-25 07:28] AlejandroPeru commented on #902
Ahora estamos en la 0.13.1

[2020-07-25 22:31] HGZM2020 commented on #390
Hi, I am new user and have the same issue (Results are not displayed) in version 0.13.1 running in Windows 7 / 64 bits. Please, could you help me?

[2020-07-26 09:56] JorisGoosen commented on #390
@HGZM2020 could you please open a new issue? And have you tried turning on safe graphics? (Please answer in the new issue)

[2020-07-26 13:35] andersolarsson commented on #310
+ 1 here, getting Cohen's Kappa and Interrater Agreement would be extremely useful for the classes I teach as well as for research. As a bonus, if Krippendorf's alpha could be integrated that would be fantastic.

[2020-07-26 13:37] andersolarsson commented on #279
Further editing possibilities for graphs would be extremely helpful for the classes I teach as well as for research - scale changes, adding and removing labels, customising colors et.c.

[2020-07-26 14:29] EJWagenmakers commented on #310
Good suggestions! @juliuspf

[2020-07-26 14:32] EJWagenmakers commented on #279
In the next blog post we show how changing labels, fonts, colors etc can be handled through our new "save as pptx" feature. We are working on a more elegant solution that also allows scale changes.

[2020-07-26 14:32] #279 closed

[2020-07-26 17:01] wjames35 commented on #279
Thank you for keeping me posted! You all have done a wonderful service creating JASP! Best, Brian
________________________________
From: EJ <notifications@github.com>
Sent: Sunday, July 26, 2020 9:32 AM
To: jasp-stats/jasp-issues <jasp-issues@noreply.github.com>
Cc: Brian Richards(2) <brichards2@shawnee.edu>; Author <author@noreply.github.com>
Subject: Re: [jasp-stats/jasp-issues] Further Customiz

[2020-07-26 19:10] ivmcphail commented on #893
I want to second this request. If the polychoric/tetrachoric approach to correlations and Exploratory Factor Analysis and Confirmatory Factor Analysis (and the various analyses within EFA/CFA, like polychoric parallel analysis) could be added to JASP Factor Analysis module, that would be very excellent! I use these features in R a lot and will be doing so a lot in the future, and having a faster w

[2020-07-26 19:13] ivmcphail commented on #891
I'm glad to see someone has requested RTaxometrics be added to JASP. John Ruscio has created a pretty user-friendly R package, but having RTaxometrics in JASP would be a great feature to add in.

As well, as mentioned, considering adding in IRT or other mixture modelling approaches (like Latent Profile/Class Analysis) would be fantastic.

[2020-07-26 19:25] ivmcphail opened #903 "Polychoric/tetrachoric factor analysis"
Hi JASP team,

First, let me thank you for all the great new features that have been recently added to JASP! I have recently used the factor analysis module for a project and the ease of analysis and the figures that it automatically produces were very welcome and amazing!

In other research projects, I have used polychoric and tetrachoric factor analysis in R. It is really nice that R allows this

[2020-07-26 19:31] ivmcphail opened #904 "Imputing Missing Data functionality"
Hi again JASP Team,

I wanted to make a second feature request. I have been working with R and SPSS to do analyses with multiply imputed datasets as a means of dealing with missing data. Having the option of (a) creating multiple imputed datasets in JASP and (b) conducting analyses on multiple imputed datasets in JASP may be an interesting addition.

Within R, one of the main packages for multiple

[2020-07-26 19:38] EJWagenmakers commented on #904
This is under active development, so I'll close this issue :-) Good suggestion! :-)

[2020-07-26 19:38] #904 closed

[2020-07-26 23:27] sushiman opened #905 "Moderated Mediation"
<Hi all,
I was wondering whether and if JASP will eventually include a moderated mediation analysis section with included path diagram. The PROCESS macro implements this statistical term quite well, however, I believe JASP would be able to improve on this.

What are your thoughts?

[2020-07-27 03:07] HGZM2020 opened #906 "Jasp 0.13.1.0: results do not display"
Hi, I am new user and have the Results are not displayed in version 0.13.1.0 running in Windows 7 / 64 bits. Please, could you help me? I don't know how to turn safe graphics on.

* JASP version: 0.13.1.0

* OS name and version: Windows 7 / 64 bits
* Analysis: Results are not displayed
* Bug description: Results are not displayed, but it is possible to copy the output panel.
* Expected behaviour:

[2020-07-27 08:22] adrianwroblewski opened #907 "JASP 0.13.1.0: JASP file keeps crashing"
* JASP version: 0.13.1.0

* OS name and version: Windows 10
* Analysis: JASP keeps crashing when trying to open file (210MB large)
* Bug description: JASP file cannot be opened after trying to save changes. JASP tries to open it and is closed immediately without any note.

[2020-07-27 08:47] juliuspf commented on #898
I am identifying three issues here (correct me if I am wrong):

1. Put reliability analysis within structural equation modelling
2. Add reliability statistics for correlated errors
3. Add versions of the reliability statistics for ordinal data

[2020-07-27 08:55] juliuspf commented on #898
1. We mix two types of reliability statistics, on the one hand, alpha etc are lower bounds and based on CTT, on the other hand, omega is a factor analytic measure. Thus, I do not recommend the move of the reliability statistics, however, it might be an option to display omega for a factor model in the CFA module. Keep in mind though, when we leave unidimensionality, we have to implement omega-hier

[2020-07-27 11:53] JorisGoosen commented on #907
Could you describe the file? Is it for instance an csv of spss file?
What kind of data does it contain?
Have you opened your system monitor (Ctrl + Shift + Esc) to check it perhaps your systems RAM is full?

Do you think there is a possibility you could share this file?

[2020-07-27 11:53] JorisGoosen commented on #906
Could you attach a screenshot of JASP I am curious to see what exactly you mean.

[2020-07-27 11:55] JorisGoosen commented on #900
Hello thanks for reaching out!

I'll ask someone to have a look.

[2020-07-27 13:10] ivmcphail commented on #904
Fantastic to hear this! A big thanks to the JASP team for taking on what must be a huge task to include imputation functionality. Can't wait!

[2020-07-27 13:34] vankesteren commented on #905
It is currently not an explicit separate analysis, but you could include an interaction term in the mediation analysis (depending on which moderation effects you want to include). For example, for this model:
![image](https://user-images.githubusercontent.com/11596858/88547727-64fb2b80-d01e-11ea-81cc-be3dbf997e7b.png)

you can include `W` and a new computed variable `W*X` as a predictor, and you w

[2020-07-27 13:51] djdekker opened #908 "Bug in display of Contingency Tables"
* JASP version: 0.13.1
* OS name and version: macOS 10.15.6 Catalina
* Analysis: Contingency Tables & Bayesian Contingency Tables
* Bug description: table is still shown (but with wrong variable) after removing variable from analysis
* Expected behaviour: table should be removed when removing variable from analysis

#### Steps to reproduce:

1. open contingency_display_bug.jasp (attached as a .zip

[2020-07-27 14:59] singmann opened #909 "Calculating signal detection theory (SDT) measures requires whitelisting qnorm"
A popular framework for analysing accuracy data in psychology is signal detection theory (SDT). It allows transforming the proportion of hits ("yes" responses to signal items) and false alarms ("yes" responses to noise items) into measures of discriminability and response biases. Popular measures are `d'` and `c`, where for example [`d'` is defined as](https://en.wikipedia.org/wiki/Sensitivity_ind

[2020-07-27 17:17] itremont opened #910 "Missing data in descriptives but... nothing seems missing!"
* JASP version: 0.13.1

* OS name and version: MacOS 10.15.6
* Analysis: descriptives
* Bug description: I opened a dataset converted from excel to csv format. There are 35 cases of patients with COVID-19 admitted to the UTMB hospital in Galveston, Texas. All these subjects died, and are part of a larger cohort. I am running interim descriptives to screen for data integrity. When I run a descripti

[2020-07-27 18:44] socialpsysteph opened #911 "Missing Reliability Analysis"
* JASP version: 0.13.1

* OS name and version: Windows 10
* Analysis: When I open up JASP, there is no drop down menu under Descriptives. The option to run a reliability analysis is missing.
![Annotation 2020-07-27 144414](https://user-images.githubusercontent.com/62213961/88579229-b94edd00-d017-11ea-97c9-535828c80b73.png)

[2020-07-27 18:52] Kucharssim commented on #911
Hello @socialpsysteph,

since JASP version 0.13, Reliability is its own module. To activate it, click on the `+` sign on the upper right of the JASP window, and click on `Reliability` to activate the module, see the screenshot:

![Screenshot 2020-07-27 at 20 50 31](https://user-images.githubusercontent.com/7093546/88579813-f2547500-d04a-11ea-986e-fbff3d4c1c40.png)

[2020-07-27 18:58] socialpsysteph commented on #911
Oh, thank you so much!!

[2020-07-27 19:16] #911 closed

[2020-07-28 08:26] Kucharssim commented on #910
Hello @itremont,

thank you for reporting this issue and for the enclosed files - I can reproduce the problem you found.

The problem is that JASP loads the file with the last 9 rows empty. This is because the exported `.csv` file also has 9 rows empty, you can see that by opening the file in a text editor - the file ends with a bunch of empty data:
![Screenshot 2020-07-28 at 10 20 09](https://use

[2020-07-28 08:51] JorisGoosen commented on #909
We have added some special cases of the distributions to JASP:
[code]
I'll add the ones you requested to the whitelist now though.

[2020-07-28 09:01] JorisGoosen commented on #909
I'm adding these:
[code]

[2020-07-28 09:04] #909 closed

[2020-07-28 09:04] #910 closed

[2020-07-28 09:11] JorisGoosen commented on #902
No hablo espanol, English please.

[2020-07-28 09:11] JorisGoosen commented on #902
@josecrocha have you tried 0.13.1?

[2020-07-28 09:33] JorisGoosen commented on #895
What do you think @EJWagenmakers, @TimKDJ or @AlexanderLyNL ?
Would that be a logical place?

The pro of the current random temp folder is that nothing messy happens in the users documents-folder but the con is that well, as @PeterKlaren stated, you have to type in a whole directory or path to get somewhere useful.

Maybe it would be good to set the working directory to Documents/home?

[2020-07-28 09:36] JorisGoosen commented on #840
@FransMeerhoff you could add a `SortFilterProxyModel` to the data library list, and perhaps change it into a tree structure?

[2020-07-28 09:37] JorisGoosen commented on #838
Ive heard nothing.

[2020-07-28 09:37] #838 closed

[2020-07-28 09:39] JorisGoosen commented on #788
These would be the output tables then.

[2020-07-28 09:41] JorisGoosen commented on #818
If you create a computed column with R-code, does that not give you ample opportunities to transform the data as you see fit?

As in, a scalar column "V1" can be converted easily to a two-level ordinal by the R code `ifelse(V1 < 0.5, "small", "big")` or something like that.

[2020-07-28 09:42] JorisGoosen commented on #824
Aah yeah, this is an annoying thing indeed.

[2020-07-28 09:43] Liesbeth-Tip commented on #838
Hi Joris,
My apologies! I had not checked the messages recently. I somehow managed to solve the problem by updating missing values with a lot of extra values. Sorry for not responding!
Best wishes,
Liesbeth

________________________________
Van: Joris Goosen <notifications@github.com>
Verzonden: dinsdag 28 juli 2020 11:37
Aan: jasp-stats/jasp-issues <jasp-issues@noreply.github.com>
CC: Liesbeth-Ti

[2020-07-28 09:44] JorisGoosen commented on #831
Have you tried this out in 0.13.1 ?
And without any response from you I will not be able to debug this problem.

[2020-07-28 09:44] EJWagenmakers commented on #902
It is too bad GitHub does not do automatic translations, like in gmail. For our non-English users, I think that using Google translate is the best option.

[2020-07-28 09:45] JorisGoosen commented on #786
@DrMarkGS do you still get this problem with the 0.13.1 release of JASP?

[2020-07-28 09:58] TimKDJ commented on #895
The proposed solution by @PeterKlaren sounds sensible to me.
Not entirely sure where it should point to for OSF datafiles though.

[2020-07-28 09:59] JorisGoosen commented on #838
No problem, glad to hear it works!

[2020-07-28 10:05] FransMeerhoff commented on #840
@JorisGoosen @AlexanderLyNL
Yes that might be a good idea.

[2020-07-28 10:08] koenderks commented on #874
Isn't this possible using the 'Discovering Distributions module" @Kucharssim?

[2020-07-28 10:42] JorisGoosen commented on #831
I got a response from @cmgreene in the mail stating:

Sadly enough the attachment got lost somewhere along the way and Ive requested it again, in the original format.

[2020-07-28 10:50] EJWagenmakers commented on #831
Hmm. So what can we do to prevent such mishaps in the future? Going to the file history and using the older version of JASP ought to be enough to recover all analyses of course, but perhaps there is a better solution -- let's discuss on Slack.

[2020-07-28 11:49] JorisGoosen commented on #895
Then we could have users home directory.

[2020-07-28 11:50] JorisGoosen commented on #840
I could also make that? Or help you out when you want to work on it.

[2020-07-28 11:51] JorisGoosen commented on #851
But after you build, is the .po file changed? (Aka with generating of language files?)

because in that case you could push the change and we can see if a new nightly has it fixed.

[2020-07-28 11:53] JorisGoosen commented on #831
I'm afraid I don't have enough information to know what is going on. Did @cmgreene use a new version of JASP? Or just reload the same file in the same JASP?

[2020-07-28 12:14] cmgreene commented on #831
I hadn't changed anything - same version of jasp, same csv file, just one
day I opened it up and got error messages for all my analyses and found
that the data had been corrupted. I just reopened it with jasp version
0.13.1, but the same issue is present.

Ciara Greene, BA PhD PGDip FPsyS
Associate Professor
School of Psychology
University College Dublin
Belfield
Dublin 4
Ireland
Tel: +353 (0)1 71

[2020-07-28 12:28] AlexanderLyNL commented on #874
Perhaps Felipe can describe use-cases and Simon can show how to do this with the Discover statistics module. We can then track possible overlap and possiblities for extensions.

[2020-07-28 12:34] AlexanderLyNL commented on #895
Agree

[2020-07-28 12:38] AlexanderLyNL commented on #840
I was hoping that this would be part of the spreadsheet redesign of the data model. If it takes too long to include the search, then let's just do this as part of the data model redesign. Otherwise, please implement this @FransMeerhoff

[2020-07-28 12:51] FelipeMAffonso commented on #874
If the "Discovering Distributions" is the "Show Distribution" using certain parameters, then not. At least I couldn't do it.

I believe that behind this module similar operations are made, but what we can do with it is different.

So, here is the tool: https://steamtraen.shinyapps.io/rsprite/

If we put these parameters (range, sample size, mean, SD, decimal places, etc), you can generate several

[2020-07-28 13:17] #888 closed

[2020-07-28 13:32] JorisGoosen commented on #840
It's a different model, so there isn't a lot of synergy there.

[2020-07-28 13:39] Kucharssim commented on #874
To summarise, the idea of SPRITE is to check whether we can recreate a plausible looking data set from summary statistics (i.e., sample data that have some fixed summary stats), in "discover distributions" we generate data by fixing the underlying parameters of the distribution (e.g., population mean), which results in sampling variability of the summary statistics. To me, these are very different

[2020-07-28 13:40] josecrocha commented on #902
When you use MacOS Sierra, this is the most updated version. Nevertheless, you may look if the problems persists in earlier versions.

[2020-07-28 13:48] juliuspf commented on #902
@josecrocha Could this be the same issue? https://github.com/jasp-stats/jasp-issues/issues/540

[2020-07-28 13:51] AlexanderLyNL commented on #874
I'm not yet convinced that this needs to be high on our priority list. Perhaps I'm missing a convincing use-case. The rSprite webapp seems to be based on fitting a multinomial onto some summary stats, but I'm not sure how informative this is for me.

[2020-07-28 13:53] josecrocha commented on #902
It may be... I will update my Sierra machine to test it... Thanks!

[2020-07-28 13:53] FelipeMAffonso commented on #874
Hmm. I agree. Nevermind! I think there are more important things to be prioritized.

[2020-07-28 13:53] #874 closed

[2020-07-28 13:55] juliuspf commented on #902
Well, did you reverse scale an item? If that is indeed the same issue, unfortunately only the the new version of JASP fixes your problem

[2020-07-28 14:09] vankesteren commented on #846
Duplicate of #354

[2020-07-28 14:09] #846 closed

[2020-07-28 14:20] itremont commented on #910
Dear Simon & Joris:
I appreciate your finding a fix so fast. Yes, that does it.
I apologize if I keep bringing up issues that may be trivial.  I ain’t no computer geek.
Ivo

[2020-07-28 14:22] AlexanderLyNL commented on #818
I think that there are multiple issues described in the first post: (1) the creation of dummy variables, which can be solved as described by what Joris suggested, and (2) interaction terms.

I'm not sure if the screenshot refers to (2), but to visually check for a possible interaction, between day1 and music, I'd recommend going to Descriptives and split by music.

Perhaps I'm missing the point he

[2020-07-28 14:55] JorisGoosen commented on #910
Luckily we are computer geeks and we do not mind helping at all!

[2020-07-28 15:21] FransMeerhoff commented on #851
Changing the Unicode flag on the Windows build machine solves this issue.
@FBartos Could you check this and that probably also https://github.com/jasp-stats/INTERNAL-jasp/issues/921 is solved?

[2020-07-28 16:12] AlexanderLyNL commented on #900
EJ just did this. Please reopen if something's still unclear. Thanks again for reaching out.

[2020-07-28 16:12] #900 closed

[2020-07-28 17:22] HGZM2020 commented on #906
Thank you. I active Safe Graphics Mode (in Preferences/Interface)  and now it is working. First, it didn't work, but I resarted the laptop and now it is working.

[2020-07-28 17:45] JorisGoosen commented on #906
Good to hear!

[2020-07-28 17:45] #906 closed

[2020-07-28 17:59] singmann commented on #909
Great thanks. Do you have a rough estimate when the next JASP version with this fix will be available to download?

[2020-07-28 18:25] JorisGoosen commented on #909
Well a proper release, I don't know. But the [nightlies](https://static.jasp-stats.org/Nightlies/) already contain it.

[2020-07-29 07:00] vankesteren commented on #886
Oh yes, this seems like a bug. I'll look into it!

[2020-07-29 07:14] vankesteren commented on #886
Ah yes, this was not implemented. I've now added an extra button in the plot to show the standardized parameters:
![image](https://user-images.githubusercontent.com/11596858/88768811-e61c0500-d17b-11ea-8eb6-86aec12fd122.png)

Expect this in a release of JASP soon!

[2020-07-29 07:14] #886 closed

[2020-07-29 07:41] FransMeerhoff commented on #851
@EJWagenmakers : Could you check if the problem still exits on the Windows nightly?

[2020-07-29 09:04] vankesteren commented on #890
How would you like to see this? Is an ROC curve plot enough?

[2020-07-29 09:52] cumtbfengjunda opened #912 "JASP crashed"
* JASP version: 0.13.1
* OS name and version: Windows 10 (10.0)

* Analysis:
* Bug description:
* Expected behaviour:

#### Steps to reproduce:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

-----------------------------------------------------------------------

### Debug information:
**Engine # 0** process  is *running* and it's state is *initializing*.
**Engine # 1** p

[2020-07-29 11:24] DrMarkGS commented on #786
Hoi Joris
All seems fine at the moment
Mark

From: Joris Goosen <notifications@github.com>
Sent: 28 July 2020 10:45
To: jasp-stats/jasp-issues <jasp-issues@noreply.github.com>
Cc: Mark Goss-Sampson <M.A.Goss-Sampson@greenwich.ac.uk>; Mention <mention@noreply.github.com>
Subject: [EXTERNAL] Re: [jasp-stats/jasp-issues] Data synch issue reappeared (#786)

<https://github.com/DrMarkGS>
This message o

[2020-07-29 11:36] #786 closed

[2020-07-29 15:51] vicenteinefo opened #913 "Add Odds Ratio (OR) calculation at the contingency tables procedure"
* Enhancement: In the contingency tables procedure, why JASP calculates OR as log OR instead of the "normal" OR?
It would be possible to add the "normal" OR calculation?
It also, would be useful to add the possibility of determine the level of the confidence interval manually.
* Purpose: To add a more user-friendly OR measure
* Use-case: The Log Odds Ratio is a bit confusing, isn't it?

![Captura

[2020-07-29 17:30] singmann commented on #909
Thanks a lot. It is working great!

[2020-07-29 18:24] JorisGoosen commented on #909
Enjoy!

[2020-07-30 08:07] vicenteinefo opened #914 "Column order option does not work"
* JASP version: 0.13.1

* OS name and version: MacOS 10.15.6
* Analysis: Contingency tables
* Bug description: Ascending and descending column order option does not work, the data of the table does not change the order
* Expected behaviour: the order of the column should be modified

#### Steps to reproduce:
1. Open the attached file
2. Scroll down to Options section
3. Click on Ascending or Desce

[2020-07-30 08:17] vicenteinefo opened #915 "Log Odds Ratio value not updated"
* JASP version: 0.13.1

* OS name and version: Mac OS 10.15.6
* Analysis: Contingency tables
* Bug description: The Log Odds Ratio value is not updated when the row order is changed, but yes when the "Refresh all" option is applied
* Expected behaviour: Log Odds Ratio updated when any option is changed

#### Steps to reproduce:
1. Open the attached file
2. Scroll down to 'Log Odds Ratio' and see t

[2020-07-30 08:17] RossRobinson2 opened #916 "JASP Crashed and New Column Could not be created"
* JASP version:

* OS name and version:  Windows
* Analysis: Completing descriptive Statistics
* Bug description: Error message stated something wrong with the internal engine and crashed. I now cannot reload previous saved files too.

* Expected behaviour:

#### Steps to reproduce:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

[2020-07-30 12:54] famuvie opened #917 "Jasp crashes system on Linux Mint 20 (ulyana)"
* JASP version: 0.13.1.0

* OS name and version: Linux Mint 20 (ulyana) (based on Ubuntu 20.04 (focal fossa))
* Analysis: The first 3 or 4 times this happened, the app closed abruptly but the system continued to work. On one occasion I managed to capture JASP freezing (but the system working)
![jasp_freezes](https://user-images.githubusercontent.com/5693966/88924972-3d050580-d274-11ea-97ed-faf8e97

[2020-07-30 12:56] famuvie commented on #917
For the record, in another computer with Ubuntu 18.04 (bionic) I don't have this problem.

[2020-07-30 19:35] williamstome opened #918 "RM-ANOVA in 1.13.1 *extremely slow* on Linux."
* JASP version: 1.13.1

* OS name and version: Ubuntu 18.04
* Analysis: Bayesian RM-ANOVA
* Bug description: analysis is many times slower than in previous versions (hours in 1.13.1 vs seconds or minutes in older version (0.9ish).

[2020-07-30 22:49] hpooch20 commented on #776
Is that your solution? Learn Lavaan syntax and do the SEM approach for invariance testing? I hope not. Why would you guys go to all the trouble to design an easy interface for invariance testing in CFA when it can only be useful if there happens to be perfect full invariance of a model right off the bat. **That almost never happens in real life**. Isnt the point of JASP to make things easier and g

[2020-07-30 23:23] ataylor92110 opened #919 "JASP crashes with request for marginal means on significant 2-way ANOVA"
* JASP version:0.11

* OS name and version: Windows
* Analysis: Repeated Measures ANOVA requested marginal means for interaction effect
* Bug description: System crashes but gives me this error message:
This analysis terminated unexpectedly.
Error in if (is.finite(value)) {: argument is of length zero
Stack trace
analysis(dataset = dataset, options = options, perform = perform, callback = the.call

[2020-07-30 23:25] ataylor92110 commented on #919
OH, I didn't complete that. You want to click on Additional Options
Scroll down to Marginal Means and click on estmFMF * GPAhilo

[2020-07-31 08:45] AlexanderLyNL commented on #776
Hi @hpooch20,

What Van Kesteren meant is that as a **temporary solution** you can use SEM, as we have not yet got around to implement this.

We get many requests of the form "implement X", but typically without a hint of what a good and intuitive interface is. That's okay, but it means that we require more time and have to think a bit harder about the UI. The following helps speed up the process:

[2020-07-31 08:46] AlexanderLyNL commented on #919
Could you please check whether this bug is still in the newest version? You can find JASP 0.13.1 on our download page: https://jasp-stats.org/download/

[2020-07-31 08:49] AlexanderLyNL commented on #916
Could you please fill out the bug report template more fully? Otherwise we can't help you further. Which version of Windows? Which JASP version? etc. To speed up the process, it would be good to add the jasp file as a zip to this thread.

[2020-07-31 09:31] AlexanderLyNL commented on #892
One sample version solves the problem. Please reopen if something's still unclear.

[2020-07-31 09:31] #892 closed

[2020-07-31 11:40] hpooch20 commented on #776
Thank you very much for your prompt response. I understand and wish you well in all of your efforts!

Sent from my iPad
Please excuse my frequent typoos

[2020-07-31 14:21] ataylor92110 commented on #919
That fixed it. Thank you.

Annette

Annette Kujawski Taylor, Ph.D.
Professor, "Retired," Psychological Sciences
University of San Diego
taylor@sandiego.edu

On Fri, Jul 31, 2020 at 1:47 AM AlexanderLyNL <notifications@github.com>
wrote:

[2020-07-31 15:03] AlexanderLyNL commented on #919
Thanks for the confirmation.

[2020-07-31 15:03] #919 closed

[2020-07-31 17:43] hpooch20 commented on #776
I would think the interface part would not have to be complex. JASP frequently uses a box with all items or variables listed on the left and a box on the right where one can indicate which variables should be included by way of an arrow button between the 2 boxes pointing toward the right. I would set it up for partial metric or scalar invariance so that all but one loading in metric analysis or a

[2020-07-31 18:08] FBartos commented on #851
Not sure how should I try it @FransMeerhoff . I build JASP using stable and the bug is still there.

[2020-08-01 10:19] JorisGoosen commented on #851
@FBartos yeah it depends on how and where it is built. You should check [a nightly](https://static.jasp-stats.org/Nightlies/).

[2020-08-01 10:21] Golden-Retriever-1 commented on #801
Thank you for your answer. Until this is realized, can you recommend an alternative software/tool which can calculate these three Bayesian procedures?

- Confirmatory Factor Analysis (CFA)
- Exploratory Factor Analysis (EFA)
- Principal Component Analysis (PCA)

Of course, my preference is JASP but until the Bayesian procedures are made available I have to consider alternatives (all other Bayesian

[2020-08-01 11:03] djdekker commented on #918
JASP is also **extremely** slow in calculating ANOVA in comparison to SPSS 26 (I'm using JASP 0.13.1 on macOS 10.15.6).

I did a performance test on the attached data set of 10,000 cases.

SPSS 26: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;0.13 seconds
JASP 0.13.1:  &nbsp;**532.98** seconds

<img width="2560" alt="JASP_vs_SPSS" src="https://user-images.githubusercontent.com

[2020-08-01 11:18] EJWagenmakers commented on #918
Thanks for reporting this. Clearly this should not happen. I wonder whether some non-parametric bootstraps are being conducted automatically? I've assigned this to our ANOVA expert.

[2020-08-01 12:38] djdekker commented on #918
The cause of the slowdown was probably already introduced in JASP 0.12, not in JASP 0.13.

I tried exactly the same analysis in earlier versions of JASP. Versions 0.10.2 and 0.11.1 both produced their output in a fraction of a second. But JASP 0.12.2 shows the same behaviour as JASP 0.13.1.

[2020-08-02 18:50] FBartos commented on #851
thanks. I tested that using the Win64 .zip (https://github.com/jasp-stats/jasp-desktop/commit/aa58ce28119c95567fbdc35a0ed6ed63d8bc668a) and it still doesn't work.

[2020-08-03 08:22] boutinb commented on #901
Hallo @skollgrim, what is the type of the file you want to edit? Is it a specific SPSS type file (like .sav)?

[2020-08-03 08:43] boutinb commented on #914
@TimKDJ This is a problem in ContingencyTables: the columnOrder option is passed to the analysis, but apparently the handling (line 636/674: ss.matrix <- ss.matrix[ , ncol(ss.matrix):1] does not do what it should do.

[2020-08-03 08:46] boutinb commented on #914
@vandenman Maybe if you are back from your holidays, you can take this issue over.

[2020-08-03 08:48] skollgrim commented on #901
Yes it was and I guess that solves the problem and we can close this.

[2020-08-03 08:50] #901 closed

[2020-08-03 09:50] Golden-Retriever-1 opened #920 "Bayesian t-test: Robustness check, indication of numerical values of shown priors in addition to the graphical plot"
* Enhancement: Indicate the cauchy prior width for user prior, wide prior, and ultra wide prior numerically (possible outside the figure in an additional table)
* Purpose: Enable the user the possibilty to indicate the cauchy priors (user, wide, and ultra wide priors) numerically in text in a report/manuscript when the figure is not required/takes too much space.
* Use-case: Several, of course. Wh

[2020-08-03 15:22] JorisGoosen commented on #851
On my system both the latest zip and msi work fine.

I will try on a korean system as well.

[2020-08-03 15:48] LauriJC opened #921 "Hierarchical Clustering"
* Enhancement: Under Linkage, it would be very helpful to have Ward as an option.  In my field, Ward is seen as the optimal linkage because it not only averages distance between all members of the clusters but also adjusts for covariances.
* Purpose:  Cluster analysis in Machine Learning - Hierarchical clustering
* Use-case: Not sure what this is here but provided information about for use

**Is y

[2020-08-04 06:18] AlejandroPeru commented on #898
Muchas gracias, sería un gran avance que lo tengan en cuenta.

[2020-08-04 06:20] AlejandroPeru commented on #898
@juliuspf sobre el artículo en el que estás trabajando me gustaría poder leerlo cuando ya lo tengas listo. una ultima consulta, tendrásbilbiografía sobre la fiabilidad con métodos bayesianos como ahora  ha incluido jasp, te agradecería que me compartas.

[2020-08-04 09:49] JorisGoosen commented on #851
Ok, so on a korean windows I also get "Mathôt"...

@FBartos could you maybe try again and with an msi?
Otherwise I'm afraid I'm going to have to make a czech windows VM...

[2020-08-04 10:53] FBartos commented on #851
hmm, I found an interesting interaction of problems (that's the same across released 13.1 and the nightly):

"Mathôt" alone is working
`estimatesTable <- createJaspTable(title = gettext("Estimation Summary (Mathôt) "))`
![image](https://user-images.githubusercontent.com/38475991/89285280-5d580a00-d650-11ea-897a-d9a95c646ef3.png)

"μ" alone is not working
`estimatesTable <- createJaspTable(title =

[2020-08-04 13:37] JorisGoosen commented on #851
It still is weird that it *does* work on a korean system and not on a czech one though...

[2020-08-04 13:59] watsodw opened #922 "No File tab visible on Mac Mojave."
I just installed JASP on my Mac Mojave box. There is no File tab visible.

[2020-08-04 14:10] Ed-Houghton commented on #73
_> I realise this has languished for a while. I'd like to comment that the lack of the ability to weight data was one of the strongest arguments against our institution adopting JASP rather than SPSS. This is significant for us as most of our research projects are in the social sciences._

Agree with the above point. The lack of weighting on JASP is a real barrier to colleagues using this fantasti

[2020-08-04 14:36] JohnnyDoorn commented on #887
Hi @estherweijman ,

Thanks for reporting this. The Wilcoxon signed rank test was recently implemented while we were still working out the statistical details. We had chosen to add some steps to the algorithm to make it more stable, but it turned out that this can lead to very conservative Bayes factors that should not be conservative. In the next release, we will have removed this step and use ot

[2020-08-04 14:54] EJWagenmakers commented on #73
Yes. @boutinb , can you bump the priority on this? We should assign this to someone, let's discuss this on Slack.

[2020-08-04 15:09] vandenman commented on #873
@JorisGoosen

This makes it seem a little bit easier than it was ;)

I've got this working on [this branch](https://github.com/vandenman/jasp-desktop/tree/svg_device) without the issues we had before. Now you can both save an image as `svg` and images shown in JASP are by default `svg` files.

Before I open a PR, are we sure that we want that all plots are `svg` files by default?

If yes, I may ne

[2020-08-04 15:51] JorisGoosen commented on #873
Well, I don't think we need to change the default to svg, I think @TimKDJ will kill me if I suggest that now :p
But we could just add it as an option right?
For "Save plot as"

Would still be nice to check if it looks good in word, but how could they mess up rendering an svg?

[2020-08-04 18:55] madtownpeters opened #923 "JASP for Mac Won't Open"
* JASP version:0.13.1 but I've also tried to download multiple versions - none will open

* OS name and version: Mc High Sierra 10.13.6
* Bug description: JASP will not open. When I click on the application, I get an error that says JASP quit unexpectedly.

[2020-08-04 20:23] FBartos commented on #851
@JorisGoosen all of the examples above work on the Korean and English, or only the first one?

[2020-08-04 20:41] JorisGoosen commented on #851
Aah I did not check your examples yet.
(It is pretty annoying to work in a korean windows as I can't read most texts :p)

[2020-08-04 20:44] FBartos commented on #851
I kinda suspect that anything but 1) won't work even in the English one and that we were just using an incorrect example for testing (the first one which you were using works in Czech too)

[2020-08-05 01:05] jopwonya opened #924 "JASP crashed"
* JASP version: 0.13.1
* OS name and version: Windows 10 (10.0)

* Analysis:
* Bug description:
* Expected behaviour:

#### Steps to reproduce:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

-----------------------------------------------------------------------

### Debug information:
**Engine # 0** process  is *running* and it's state is *idle*.
**Engine # 1** process

[2020-08-05 07:35] #880 closed

[2020-08-05 07:41] vankesteren commented on #896
@MortenHesse did this help? This is indeed probably the issue, you need to change the variable type to ordinal or scale!

[2020-08-05 07:43] vankesteren commented on #884
Thank you for the report, sorry for the late response, we will look into it soon!

[2020-08-05 09:01] Kucharssim commented on #68
We will have this in linear regression, @maltelueken is just working on this: https://github.com/jasp-stats/jasp-issues/issues/879.

[2020-08-05 12:09] MortenHesse commented on #896
Thanks so much for your attempt. I wasn’t able to change the format, and it seemed to be ordinal already.

Fra: Erik-Jan van Kesteren <notifications@github.com>
Sendt: 5. august 2020 09:42
Til: jasp-stats/jasp-issues <jasp-issues@noreply.github.com>
Cc: Morten Hesse <mh.crf@psy.au.dk>; Mention <mention@noreply.github.com>
Emne: Re: [jasp-stats/jasp-issues] Cannot select variables for factor analys

[2020-08-05 12:16] vandenman commented on #889
Same on Ubuntu. I don't have this problem on development though.

[2020-08-05 13:21] FransMeerhoff commented on #923
Dear @madtownpeters ,

Sorry to hear that you have this problem.

If you are sure that you have downloaded the http://static.jasp-stats.org/JASP-0.13.1.0-preCatalina.dmg version and overwrite the last installation can you check the following from a terminal:

Some info in now shown on the screen.
Can you copy that info and add it to this issue?
(If you do not know how open a terminal press on the

[2020-08-05 15:49] amsa1234 opened #925 "Serial Mediation"
Hi, thanks for the terrific work that you do. Right now, the mediation feature appears to allow for the use of multiple mediators. However, multiple mediation can be parallel or serial. I believe that, at present, the JASP mediations with multiple mediators are all parallel mediation. Is it possible to set up the mediation so that we can have serial mediation as well (i.e., A -> M1 -> M2 -> B, whe

[2020-08-06 09:27] JorisGoosen commented on #889
Yeah, I think I caused it through some code I added in https://github.com/jasp-stats/jasp-desktop/commit/88572e1437463a548219bfb325a0e137d5b69074

Im guessing the type-selection in the linux widget doesn't go right.
I still need to check it with "non-native filedialogs" though, maybe the Qt one behaves better.

[2020-08-06 09:50] #873 closed

[2020-08-06 10:04] estherweijman commented on #887
Hi @EJWagenmakers and @JohnnyDoorn,

Thank you both for your explanations and efforts. Are you able to give an indication of when the next release will be available (roughly)?

Kind regards,
Esther

[2020-08-06 14:54] koenderks commented on #921
Thanks, very useful and easy to implement. Consider it done via https://github.com/jasp-stats/jasp-desktop/pull/4222. I've added methods `ward.D`, `ward.D2`, `mcquitty`, and `median`.  Will be in the next version of JASP.

[2020-08-06 16:51] BearDr opened #1010 "[Feature Request]: meta-regression / sub-group analyses in the Bayesian Meta-analysis"
The Hunter & Schmidt meta-analysis has incorporated analysis of subsets of data but not the Bayesian meta-analysis. Could someone please add that capability? For instance, operational, financial and market performance are all subsets of overall firm performance. HS provides the details of each subset when the subset column is added as 'factor'. Bayes does not have the capability to add 'factor'. I

[2020-08-06 17:46] LauriJC commented on #921
Awesome!

[2020-08-07 09:19] Tudan90 commented on #924
I keep getting this message when trying selecting my data in the contingency tables tab. How can this be resolved?
![Capture](https://user-images.githubusercontent.com/69343875/89630575-7a324e80-d897-11ea-868f-304d46d55361.JPG)

[2020-08-07 09:21] BRauchbauer opened #926 "reloading jasp data file from csv does not work in version 0.13"
* JASP version: 0.13

* OS name and version: Windows 10
* Analysis:
* Bug description: data editing in .csv file does not transfer to jasp file
* Expected behaviour:

#### Steps to reproduce:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

[2020-08-07 09:22] Tudan90 opened #927 "Jasp crashed: Many more empty cells than valid cells"
* JASP version:

* OS name and version: Windows
* Analysis: Contigency tables
* Bug description: jasp crash
![Capture](https://user-images.githubusercontent.com/69343875/89630848-d5fcd780-d897-11ea-959a-3c351d833ba6.JPG)

* Expected behaviour:

#### Steps to reproduce:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

[2020-08-07 09:43] AlexanderLyNL commented on #926
We have no idea how to solve this without the jasp and csv file. You can add them as a zip to this thread,

https://github.com/jasp-stats/jasp-issues/issues/926

if you'd like us to look into this.

[2020-08-07 09:44] AlexanderLyNL commented on #927
We have no idea how to solve this without the jasp. You can add them as a zip to this thread,

https://github.com/jasp-stats/jasp-issues/issues/927

if you'd like us to look into this.

[2020-08-07 09:44] AlexanderLyNL commented on #927
Also please complete the issues template to provide us with the information to study this issue.

[2020-08-07 10:12] Tudan90 commented on #927
I am not sure I can follow. Do you need the Jasp version I am using? If yes it is 0.11.1.0

[2020-08-07 10:14] Tudan90 commented on #927
If you mean these points:

Expected behaviour:
Steps to reproduce:
Go to '...'
Click on '....'
Scroll down to '....'
See error

I have absolutely no clue what is expected. Sorry, but you would need to talk me through this...

[2020-08-07 10:16] AlexanderLyNL commented on #927
So you're using version JASP 0.11.1. Could you please try the same thing with the newest version of JASP? See

https://jasp-stats.org/download/

If JASP crashes for certain analyses, then it would be good to save the jasp file, add that jasp file to a zip and then send it to us, by adding it to the thread.

[2020-08-07 10:29] Tudan90 commented on #927
![Capture](https://user-images.githubusercontent.com/69343875/89636850-2cbadf00-d8a1-11ea-8e78-d98b11c5716c.JPG)
That's the message that came up now. I did not even select the data yet...

[2020-08-07 10:35] Tudan90 commented on #927
[Decoded Quick & Arch- Preservation comparisons only.zip](https://github.com/jasp-stats/jasp-issues/files/5040865/Decoded.Quick.Arch-.Preservation.comparisons.only.zip)

I am doing a study on skeletal preservation (Quantiative 0%-100% (scale data), and Quantitative 1-3-> poor to good) and try to test it against grave location (inside/outside of the church) and whether the presence of grave goods (

[2020-08-07 10:42] AlexanderLyNL commented on #927
Okay what I see is that the data contains many many more columns and rows, which are viewed as missing data. This might be confusing for jasp.

- On my mac 10.13.6, the contingency table analysis in jasp 0.13.1 doesn't crash immediately
- Could you tell me how you recorded the data? Did you use some kind of program for this?
- @koenderks would you be able to check this on Windows and see what kind

[2020-08-07 10:50] koenderks commented on #927
@AlexanderLyNL On my computer I am able to open the .jasp file and select contingency tables without causing a crash

![image](https://user-images.githubusercontent.com/25059399/89638711-8d034e00-d8ac-11ea-9490-969dae436a43.png)

[2020-08-07 14:39] gimagarotto opened #928 "mgm estimator bug"
* JASP version: 0.12.2.0

* OS name and version: Windows 10
* Analysis: Network analysis
* Bug description: Error in if (options[['estimator']] = 'mgm' && options[['mgmVariableType']] ≠ : missing value where TRUE/FALSE needed

Stack trace
tryCatchOne(expr, names, parentenv, handlers[[1]])

doTryCatch(return(expr), name, parentenv, handler)

withCallingHandlers(expr = analysis(jaspResults = jaspRes

[2020-08-07 15:09] frdcv opened #929 "Issues with display of icons and characters"
*** JASP version:** 0.13.1 (64 bits)

*** OS name and version:** Windows 10
* Analysis: Checkmarks and other characters or icons appear as empty rectangles.
* Bug description: Please see the attached image. Checkmarks and other special characters like greek letters are not appearing in JASP, instead, it shows empty/blank rectangles. My default app language is English on my system settings. This mi

[2020-08-07 16:50] dustinfife opened #930 "Error loading developer module (missing description.json file)"
* JASP version:
* OS name and version: Mac 10.15.4
* Analysis: NA
* Bug description: After specifying the correct folder in developer mode (preferences->advanced). I click on "Install Developer Module," then get this error:

<img width="429" alt="Screen Shot 2020-08-07 at 12 38 47 PM" src="https://user-images.githubusercontent.com/7094676/89668626-123a3300-d8ac-11ea-84fd-f61948178022.png">

* Expe

[2020-08-07 16:57] BRauchbauer commented on #926
attached is a jasp file and the corresponding csv file
the jasp version is 0.13.1 which I recently updated

thanks!

Am Fr., 7. Aug. 2020 um 11:43 Uhr schrieb AlexanderLyNL <
notifications@github.com>:

[2020-08-07 23:42] saurabhr opened #931 "Export indivdual tables to .doc/.docx"
please!

[2020-08-08 07:02] Tudan90 commented on #927
I have tried it again now and it works absolutely fine. Thank you for your help!

[2020-08-08 07:13] Tudan90 commented on #927
I recorded the data on Microsoft Excel. I am not sure why it shows all these additional columns/rows. I used to have some more variables in the columns, but as it kept crashing I split my original datasheet into separate ones based on the topic I want to analyse and deleted those. The datasheet used to be formatted as a table and I have noticed that this caused some problems from time to time, esp

[2020-08-08 07:52] djdekker commented on #918
With the latest nightly (August 7, commit 01ac0bf67ecd953e00af5ccf5c12d050d449ac8c) calculating this ANOVA on my computer takes about 3 seconds. A lot better than before! But still not as fast as SPSS...

[2020-08-08 10:23] AlexanderLyNL commented on #918
@djdekker thanks for testing this for us. This is really useful.

[2020-08-08 10:27] AlexanderLyNL commented on #931
Hi @saurabhr,

This is feature we implemented in JASP some time ago. Perhaps even at the start. The following gif shows how

https://jasp-stats.org/wp-content/uploads/2017/10/tableCopy.gif

@mellevdlinde we should make people aware of this again.

Cheers,
Alexander

[2020-08-08 10:27] #931 closed

[2020-08-08 15:19] hallcg1 opened #932 "Factor Analysis item issue"
Good morning,

I am a student and relatively new to JASP. I have been experimenting with a couple of data sets provided by my professor, and it seems when I try to run a Factor Analysis on the data set, I am unable to get the item(s) to move to the Variable column. I have tried the same data set with other tests in JASP, but only when I try to run a Factor Analysis with the program do I encounter

[2020-08-08 16:25] AlexanderLyNL commented on #932
Hi Chris,

One underlying assumption of PCA is that the variables you apply it on are continuous variables, see the ruler at the right bottom of the box "Variables". The items in the left box are interpreted as ordinal (three bars), which is why they cannot be entered in the analysis.

To overrule this PCA restriction, you can change the type of your variables in the data pane. Alternatively, you

[2020-08-08 16:35] hallcg1 commented on #932
Thank you for the quick response, Alexander. I adjusted the Preferences and I am still having the same issue. I have included an image before of my current settings, and have also included the zipped data files that I have been testing.

Chris
![Capture](https://user-images.githubusercontent.com/69393341/89715444-31e46080-d96b-11ea-93ee-278b69c1efb4.PNG)
[Data files.zip](https://github.com/jasp-st

[2020-08-08 17:08] AlexanderLyNL commented on #932
Hi Chris,

The reason why 9 doesn't works, is because you have about 4 unique values per column. So to have jasp interpret every column with 4 or more values as a continuous variable, you have to change that 9 into a 4.

For your data set, however, I changed your columns from ordinal to scale manually. I can only do this for

[Sense of Humor Scale Example (3).jasp.zip](https://github.com/jasp-stat

[2020-08-08 17:17] AlexanderLyNL commented on #932
Correction, you can do the same thing for

Factor Analysis Managerial Scale Example (4)

and change the type of each column from ordinal to scale. The provided columns are not text variables, but ordinals with labels. So you can change the type of the columns.

Cheers,
Alexander

[2020-08-08 17:34] djdekker opened #933 "Labels not being displayed anymore in spreadsheet"
* JASP version: 0.13.1
* OS name and version: macOS 11.0 Big Sur (public beta)
* Analysis: N/A (spreadsheet)
* Bug description: labels are not shown anymore in spreadsheet after changing variable type ordinal -> scale -> ordinal
* Expected behaviour: for ordinal variables, labels are always shown in the spreadsheet

Steps to reproduce:
1. Open test.jasp.
2. Change the variable type of v1 from ordi

[2020-08-08 18:05] AlexanderLyNL commented on #933
Thanks for the report! Another very useful find!

@JorisGoosen I can replicate this on macOS 10.13.6 High Sierra.
- The ordinal information is retained after switching from ordinal-scale-ordinal, but I suspect only partially
- After switching from ordinal-scale-ordinal, and reversing order of all factors leads to label information being destroyed
- After switching from ordinal-scale-ordinal, and c

[2020-08-09 00:15] hallcg1 commented on #932
Thank you for the clarification, Alexander!  I appreciate you explaining this for me. :-)

[2020-08-09 00:15] #932 closed

[2020-08-09 17:03] JoKeyser opened #934 "Clarify wording in explanation on Benford's Law (Audit/JfA module)"
* JASP version: 13.1
* Analysis: Audit -> Benford's Law
* Bug description:
Sorry if this is a bit nitpicky.
During translation work, I stumbled across the explanatory text in Benford's Law (in `stable`, see e.g. [here](https://github.com/jasp-stats/jasp-desktop/blob/stable/JASP-Engine/JASP/po/R-JASP.pot#L811)), emphasis mine:

At first reading, I got confused which use of "number" refers to the *d

[2020-08-09 19:39] AlexanderLyNL commented on #934
Hi Johannes,

Thanks for pointing this out. This is very useful. @koenderks could you look into this?

Cheers,
Alexander

[2020-08-10 07:04] djdekker opened #935 "Minor display glitch in spreadsheet"
* JASP version: 0.13.1
* OS name and version: macOS 11.0 Big Sur (public beta)
* Analysis: N/A (spreadsheet)
* Bug description: JASP displays "Column Name/Title here" instead of variable name
* Expected behaviour: the variable name should be displayed

1. Open JASP;
2. open a data set;
3. click on the name of a nominal variable;
4. see the "Column Name/Title here".

This seems to happen only in th

[2020-08-10 07:13] boutinb commented on #925
@AlexanderLyNL Do you know who can answer this question?

[2020-08-10 07:15] boutinb commented on #887
We plan to release a new version beginning of September

[2020-08-10 07:19] boutinb commented on #924
Can you send us your JASP file, and a precise description of what you do before it crashes?
Use GitHub to send the JASP file (you have first to transform it as a zip file).

[2020-08-10 09:06] boutinb commented on #929
Seems to be a fonts issue. JASP uses Sans Serif family fonts, and it depends on the machine (and the characters that has to be displayed) to specify which specific fonts wil be used. Apparently your machine does not have a Sans Serif fonts that can display special symbols.
It is possible to add fonts to your machine: https://www.digitaltrends.com/computing/how-to-install-fonts-in-windows-10/
I am

[2020-08-10 09:21] boutinb commented on #930
@dustinfife Your module (https://github.com/jasp-stats/VisualModeling) was already updated: the description.json is now a description.qml.  It is better to clone this repository and to update this one. I will add then your changes to the main repository.  It is a bit awkward now, but over 1 month (after 0.14) this repository will be directly a submodule of the main (jasp-desktop) repository and al

[2020-08-10 09:24] boutinb commented on #926
@BRauchbauer, what do you do exactly: you load first a csv file in JASP, change one cell of this csv file, and you do not see this change in JASP?

[2020-08-10 09:59] AlexanderLyNL commented on #925
I think that Van Kesteren can best answer this. At the same time, I think that this can be done manually with duplicate analysis and gradually add terms in the subsequent analysis.

[2020-08-10 10:11] #914 closed

[2020-08-10 10:17] JorisGoosen commented on #929
Sadly enough the font in JASP is not configurable at the moment.
FreeSans works and is inside JASP but not used because people were complaining it wasn't "pretty" enough I think.

For @frdcv 's problem though: maybe the system default font could be changed and maybe that would use a different font?
Im not at all sure of this though...

[2020-08-10 10:17] JorisGoosen commented on #929
@frdcv what are your "region" settings?

[2020-08-10 12:34] JorisGoosen commented on #930
And @dustinfife the log files can always be found through Preferences->Advanced->Browse/Open logfiles

[2020-08-10 12:42] JorisGoosen commented on #922
This is correct, can we help you find what you are looking for?

Files can be opened through clicking the blue "hamburger" menu at the left top.

[2020-08-10 12:42] #922 closed

[2020-08-10 12:44] JorisGoosen commented on #927
It is quite possible that sometime during all these transformations excel outputted data in a format JASP didn't get.

Now however you seem to be able to load the data properly so I guess this issue can be closed.

[2020-08-10 12:44] #927 closed

[2020-08-10 13:05] koenderks commented on #934
Thanks for the suggestion, I agree that this is more clearly formulated. I will make these adjustments on the R side. @FransMeerhoff  can you give a little suggestion on the best course of action from there? I believe these changes will then automatically show up in the next versions of the .po files, correct?

[2020-08-10 13:29] dustinfife commented on #930
Sorry, let me clarify. I know it was updated universally for JASP users, but I'm developing some new features. I want to test these features on my local version of JASP. It used to be that I could do so by clicking "install developer module," but not anymore.

Currently, I'm bypassing that by doing the following:

1. Reinstalling flexplot in R.
2. Copying the build files from R's local library ove

[2020-08-10 13:34] dustinfife commented on #930
Thanks, @JorisGoosen. I was able to see the log files. In there it says,

"00:00:53.106: Trying to find 'description.json' in folder: '/Users/fife/Documents/R Packages/flexplot'
00:00:53.108: Trying to find 'description.json' in folder: '/Users/fife/Documents/R Packages/flexplot/build'
00:00:53.109: Trying to find 'description.json' in folder: '/Users/fife/Documents/R Packages/flexplot/build/js'"

[2020-08-10 14:06] JorisGoosen commented on #930
Well, as @boutinb mentioned, we changed the way the description for a module is read.
As you can see in this commit from may: https://github.com/jasp-stats/VisualModeling/commit/958c3c04daa62b472d6adc4bd40f18bf8fbe5ecf#diff-ad3d79da558ecb11e5d3e206e0cca3e0 `description.json` has been replaced by `Description.qml`.

Description.qml ought to be in the 'inst' folder.
The code is still looking for 'de

[2020-08-10 14:07] JorisGoosen commented on #930
Then you can make your changes there and test them as a developer module and when it is done we can move the code to `stable`.

[2020-08-10 16:19] harveyalone opened #936 "JASP crashed"
* JASP version: 0.13.1
* OS name and version: Windows 10 (10.0)

* Analysis:
* Bug description:
* Expected behaviour:

#### Steps to reproduce:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

-----------------------------------------------------------------------

### Debug information:
**Engine # 0** process *does not exist (anymore)* and it's state is *initializing*.
**E

[2020-08-11 06:49] BRauchbauer commented on #926
Exactly. I click on the data in jasp to change it - Csv file opens, I add a data column and save csv file - jasp doesn’t update

Sent from my iPhone

[2020-08-11 07:36] FransMeerhoff commented on #934
@koenderks
If you take care of the R-side, I'll make a PR with Dutch translation to check. OK for time being?

[2020-08-11 08:57] #68 closed

[2020-08-11 08:57] #879 closed

[2020-08-11 12:46] Kucharssim commented on #765
Hello @donovaly,

thank you for the report.

I am unable to reproduce this issue in JASP 13.1 or in the upcoming next version of JASP. Please reopen the issue if the problem persists.

[2020-08-11 12:46] #765 closed

[2020-08-11 12:49] JorisGoosen commented on #884
On linux with `stable` I *can* save it in other formats.

[2020-08-11 13:18] #828 closed

[2020-08-11 13:18] #868 closed

[2020-08-11 13:18] #887 closed

[2020-08-11 14:06] #935 closed

[2020-08-11 14:06] #933 closed

[2020-08-11 14:47] boutinb commented on #926
Which spreadsheet editor do you use to edit your csv file? Can you try also notepad to change just one value?

[2020-08-11 16:03] AlexanderLyNL commented on #934
Fixed

[2020-08-11 16:03] #934 closed

[2020-08-11 17:59] JorisGoosen commented on #889
Yeah, pretty weird. So the flatpak "native filedialog" messes things up.
If you select the non-native one things work as expected.

It seems our code doesn't expect the data it gets back from that "native" filedialog portal..

[2020-08-11 18:42] #889 closed

[2020-08-11 18:56] #292 closed

[2020-08-12 03:11] frdcv commented on #929
Hi! @JorisGoosen, @boutinb, thank you for helping me with this. Today I tried changing the system font to **SansSerif** via editing the registry, as described here: winaero.com/blog/change-system-font-windows-10/
It did not work out, as the error remained.
As for my language setting, my default app and windows display language is English (United States). This is also in my "system locale" setting.

[2020-08-12 08:15] AlexanderLyNL commented on #929
Hi Fausto,

Any chance your username has a character with an accent such as ñ?

Cheers,
Alexander

[2020-08-12 11:17] boutinb commented on #929
Hi @frdcv, to know which font is used, I will teach you how to modify a file that describes the analyse options (of the Descriptives analysis), in order to add a text that prints the family font that is currently used. This file is in:
C:\Program Files\JASP\resources\Descriptives\qml folder and its name is Descriptives.qml.
. First, make a backup of this file: with File Explorer, go to the folder,

[2020-08-12 21:09] #277 closed

[2020-08-12 21:09] #890 closed

[2020-08-13 09:41] boutinb commented on #936
What do you do exactly? Do you start JASP by clicking its icon, and it crashes immediately?

[2020-08-13 12:22] jubera opened #937 "Bayesian Linear Mixed Models with Poisson distributions"
* Enhancement: Bayesian Linear Mixed Models with Poisson distributions
* Purpose:
* Use-case:

**Describe the solution you'd like**
Implementation

[2020-08-13 12:26] EJWagenmakers commented on #937
If you go to "Mixed Models" on the JASP ribbon, you'll find the Bayesian Generalized LMMs in there, and this includes the Poisson case.
E.J.

[2020-08-13 12:26] #937 closed

[2020-08-13 14:24] jubera commented on #937
That's wonderful news! thanks a lot. I'm sorry that I did not see it before by myself, but I did only check in Bayes Linear Mixed Models

[2020-08-15 05:56] djdekker commented on #918
JASP Version: 0.14 Nightly 075f70b4e3b7cd994b0efe9bf78da79cc6468b83 (August 14)
OS: macOS 11.0 Big Sur (Public beta)

&nbsp;
JASP 0.14 is still noticeably slower than JASP 0.10.2 and SPSS 26. I ran two analyses with a larger dataset (attached as a .zip file) and obtained these results:

**ANOVA** (Total profit ~ Region, Item type, Sales channel)
JASP 0.14&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;29.04s
JASP 0

[2020-08-15 07:20] djdekker opened #938 "Large dataset: Crash when changing variable type"
* JASP version: 0.14 (nightly build of August 14th, 075f70b4e3b7cd994b0efe9bf78da79cc6468b83)
* OS name and version: macOS 11.0 Big Sur (Public beta)
* Analysis: N/A (spreadsheet)
* Bug description: JASP crashes when changing variable type in a large dataset
* Expected behaviour: JASP should not crash

**Steps to reproduce**
1. Open the attached dataset, which contains 85,938 cases.
2. In the spre

[2020-08-15 14:32] frdcv commented on #929
@AlexanderLyNL
Hi Alex!, no, just my four initials, they are as common as the ABCD.

[2020-08-15 14:40] frdcv commented on #929
Hi Bruno @boutinb! It shows SansSerif. Great tutorial btw. What would you suggest next?

![JASP issue showing chars and icons2 jpeg](https://user-images.githubusercontent.com/68574437/90314575-5ba50680-deda-11ea-901b-14f2625b408b.png)

[2020-08-15 15:17] frdcv commented on #929
Just in case, I have tried by changing the default windows font from Segoe UI to Tahoma, and the same issue still remains.
Regards

[2020-08-16 14:59] djdekker opened #939 "Getting inappropriate descriptives for nominal variable"
* JASP version: 0.14 nightly of August 14 (075f70b4e3b7cd994b0efe9bf78da79cc6468b83)
* OS name and version: macOS 11.0 Big Sur (public beta)
* Analysis: Descriptives
* Bug description: After changing variable type from scale to nominal, the descriptives are not updated.
* Expected behaviour: Statistics like mean, median and std. deviation are not shown for nominal variables.

#### Steps to reprodu

[2020-08-16 15:37] AlexanderLyNL commented on #939
Hi djdekker,

Thanks for the report. However, this is expected behaviour. The number used for a nominal variable are there to convey group membership. Neither their face value, nor the resulting means and variances of these numbers have a proper interpretation. The rows Mean, Std. Deviation, etc are still shown because they are ticked in the section "Statistics". An alternative would be to remove

[2020-08-16 17:15] AlexanderLyNL commented on #918
Hi @djdekker,

Thanks for another great test. When you run the new analyses, do you also include plots?

There are two main reasons why an analysis in the new version could be slower: (1) additional data checks that were added to the analyses, and (2) the new plotting system. You pointing out the unacceptable decreases in computation time for this particular analysis was very helpful for us, and I

[2020-08-16 17:37] AlexanderLyNL commented on #939
Okay, clearly I misread your message. I remember that at one stage we indeed removed the output such as Mean, Std. Deviation, etc for nominal and ordinal variables. However, it seems that we reverted that change again. I can't remember why exactly. My guess now is that there was some uproar about it and that we caved in.

I do agree with the original poster though that Mean, Std. Deviation etc are

[2020-08-17 07:58] boutinb commented on #929
@frdcv Now you know how to change dynamically a QML file, you can add the following line in Descriptives.qml:
[code]
Check then that the font is really changed in Descriptives (it shows 'font: Segoe UI'). If this is the case, this code change the fonts for all analyses, so also the Distribution - Normal.
On my PC, the "Segoe UI" font renders correctly the symbols.
I know this is not the right way

[2020-08-17 09:01] vandenman commented on #928
Thanks for reporting the error!

Unfortunately, I can't replicate this error with the latest JASP version (0.13.1). Could you check if the error persists with the latest version? You can get it from https://jasp-stats.org/download/

If the error persists, could you perhaps share the data so I can reproduce the error?

[2020-08-17 12:12] shariellen opened #940 "Wilcoxon signed ranks show p < .001 and statistic of 0"
* JASP version:  0.13.1

* OS name and version:  Windows 8.1 enterprise
* Analysis: Paired samples t test
* Bug description:  Running Wilcoxon on 10 pairs (N = 32).  All  p values reporting p < .001.  Value of statistic is 17, 8.5, 8.5, 8, 7 and Five Zeros.  How can a Wilcoxon of  p < .001 be equal to zero?  I also ran the student t test and those look correct, same p < .001 but values from 6.5 to

[2020-08-17 14:19] frdcv commented on #929
Dear Bruno (@boutinb),

It worked beautifully! Now I can see my check icons, Mu and Sigma as intended. Thanks a lot to you and to @AlexanderLyNL!
Best regards and success! I will now proceed to mark this conversation as closed.

![Picture1](https://user-images.githubusercontent.com/68574437/90406131-57a7ee80-e06a-11ea-98a9-1b6b2d6aa117.png)

[2020-08-17 14:19] #929 closed

[2020-08-17 14:35] JohnnyDoorn commented on #940
Thanks for reporting this on GitHub as well!
From my reply on twitter: This is normal behavior, as the test-value of the signed rank statistic is equal to n*(n+1)*0.5. So any deviation from this value (lower or higher) will go towards evidence against H0, so the p-values you report seem to make sense.

You can try this in R:
wilcox.test(-(1:10)) # all negative differences, will give V = 0, p-value

[2020-08-17 14:35] #940 closed

[2020-08-17 17:58] LeoSokolovic opened #941 "JASP crashed"
* JASP version: 0.13.1
* OS name and version: Windows 10 (10.0)

* Analysis:
* Bug description:
* Expected behaviour:

#### Steps to reproduce:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

-----------------------------------------------------------------------

### Debug information:
**Engine # 0** process *crashed* and it's state is *initializing*.
**Engine # 1** proce

[2020-08-17 17:59] LeoSokolovic commented on #941
The error is probably related to the problems with R that I'm having in the new prerelease version of Windows 10 (20190.rs_prerelease.200807-1609)

[2020-08-18 06:25] boutinb commented on #929
In the next release, you will be able to change default preferences to solve this.

[2020-08-18 09:21] #915 closed

[2020-08-18 14:00] JorisGoosen commented on #941
This might be the case but you've  also not described what you are actually doing.

Are you starting jasp, loading something? Doing something?

[2020-08-18 14:18] LeoSokolovic commented on #941
Oh sorry! I just started it. That was it.

[2020-08-18 17:17] JorisGoosen commented on #941
Aah ok!

Do you think you could send me some logs of JASP starting?
If logging isn't turned on yet you could start JASP from a command prompt by first navigating to the directory where you installed it.
And then starting jasp there as `JASP.exe --logToFile` after that you can find the logfiles in your documents directory under (a hidden folder called) Appdata in `JASP/Logs`.

[2020-08-18 21:19] PeterKlaren opened #942 "Inconsistent choice of (in)dependent variable in Descriptive correlations"
* JASP version: 0.13.1

* OS name and version: Windows 10 Home 64-bit
* Analysis: Descriptives, asking for a correlation plot and a scatter plot.
* Bug description: Using only two variables, the variables on the x- and y-axes switch between the correlation plot and scatter plot.
* Expected behaviour: In particular when only using two variables, I would expect both plots to use the same variables o

[2020-08-19 04:08] ndpegram opened #943 "Chart text not displaying on linux"
* JASP version: 0.13.1
* OS name and version: Ubuntu 20.04.1 LTS
* Analysis: Bug in chart creation. Possible font issue.
* Bug description: Chart type displaying as tofu (empty square boxes).
* Expected behaviour: Labels displayed in readable type.

1. Open the Presidents' Height sample file.
1. Create the Height Ratio boxplot as per the instructions under "Filtering a Continuous Column" in the tu

[2020-08-19 08:21] JoKeyser commented on #943
@ndpegram, have you tried to refresh the fonts, as described at https://jasp-stats.org/linux-installation-guide/ "Font problem in plots"?
"To solve this problem you can simply execute the following in a terminal:"
[code]

[2020-08-19 08:24] boutinb commented on #912
Sorry for the late answer... But could you be a bit more explicit: what do you do exactly? Do you double-click the JASP icon, and it crashes immediately, or is it when you load a file?

[2020-08-19 09:33] Kucharssim commented on #942
Dear @PeterKlaren,

thanks for the report, and I agree. I will look into it.

We have just implemented this, and it will appear in the next release!

[2020-08-19 09:51] Kucharssim opened #944 "GLM with a binary response - aggregated"
See comment: https://github.com/jasp-stats/jasp-desktop/pull/4248#issuecomment-675982709

[2020-08-19 12:08] kornbrot commented on #944
GLM with a binary response - aggregated #944
wbe.xlsxhas expanded data: response = F10 (values 0 or 1), within factor = W1_2_3, random factor = pno
**wbe.xls** has aggregate data: response = freq, number of participants = Nmax [need to make sure its ordinal, for some reason]. wbe.xlsx has fromat I am hoping to use
note as before, gave identical results in R
[wbe.xlsx](https://github.com/jasp-stats

[2020-08-19 13:11] idhussain commented on #342
@EJWagenmakers @JohnnyDoorn @TimKDJ

Any luck with the addition of this feature?

Regards, Shahid

[2020-08-20 09:23] FBartos commented on #944
Dear Diana,

I have taken a closer look and the problem doesn't seem to be in accepting 0/1 as proportions but rather the rounding of proportions you introduced while computing the `proptn` variable.
(It's possible that proportions 0/1 weren't possible in 13.0 version, if you are still using it, update to 13.1 please.)

We internally check whether the supplied proportions are indeed valid proporti

[2020-08-20 15:23] PeterKlaren commented on #942
A simple solution perhaps is to consistently make the first listed variable the independent variable, and the other one(s) the dependent variable(s).

[2020-08-20 15:25] TESmith868 opened #945 "[Feature Request]: Add reverse binomial regression and BARP"
Great programme, really user friendly.
I would like to ask for/suggest the following adding:
1) reverse binomial regression
2) BARP (Bayesian additive regression trees (BART) when combined with post-stratification)
3) Bayesian Logistic Regression

Thank you!

[2020-08-20 18:28] kornbrot commented on #944
Zillion apologies
Had put frequency of targets not proportion into response variable [that’s how it is in SPSS] am complete idiot!
Good news jasp can use aggregate binomial for input, logit link BUT
Bad news results different for expanded  and aggregate
Expanded  gives same results as R model with W1_2_3|pno) for random. No problems
JASP Aggregate gives error message
Warning: Random slopes of ‘'W1

[2020-08-20 18:35] kornbrot commented on #944
Here are results of my analyses.
My proportions are fine. Made error of putting in frequency of targets as response - not proportions
Now corrected BUT now get error message when try wiht aggregate, see above.
I notice that JASP has single covariance matrix for within W1_2_3 . Think that's right
R has separate covariances for B2=1 and B2=2, but not same for aggregate and extended, sigh..
[Kornbrot

[2020-08-21 02:08] ndpegram commented on #943
That's it exactly. Thanks I'd missed that.

[2020-08-21 02:08] #943 closed

[2020-08-23 15:37] PeterKlaren opened #946 "[Feature Request]: Unambiguous annotations in Contingency Tables analysis"
* Enhancement: Replace "Log Odds Ratio" with "Ln Odds Ratios", clarify "Notes", complete "Show info for this analysis."
* Purpose: To obtain unambiguous and complete notations.
* Use-case: In particular novices (1st year non-mathematically inclined bio/med/soc/psy students) could do with clear annotations and help functions, I think.

**Is your feature request related to a problem? Please describe

[2020-08-23 18:27] naj-tay opened #947 "JASP crashed"
* JASP version: 0.13.1
* OS name and version: Windows 10 (10.0)

* Analysis:
* Bug description:
* Expected behaviour:

#### Steps to reproduce:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

-----------------------------------------------------------------------

### Debug information:
**Engine # 0** process *crashed* and it's state is *initializing*.
**Engine # 1** proce

[2020-08-23 18:28] #947 closed

[2020-08-23 18:37] naj-tay opened #948 "JASP crashed"
* JASP version: 0.13.1
* OS name and version: Windows 10 (10.0)

* Analysis:
* Bug description:
* Expected behaviour:

#### Steps to reproduce:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

-----------------------------------------------------------------------

### Debug information:
**Engine # 0** process *crashed* and it's state is *initializing*.
**Engine # 1** proce

[2020-08-24 09:37] boutinb commented on #945
@EJWagenmakers What do you think of these suggestions?

[2020-08-24 14:27] #796 closed

[2020-08-24 14:31] PeterKlaren commented on #946
In reproducing JASP's output in R (fisher.test in the stats package) I now see that Fisher's exact test odds ratio is calculated using the conditional Maximum Likelihood Estimate (MLE) rather than the unconditional MLE that appears to be the conventional one. (This is from the ?fisher.test help page, and the explanation is a bit esotheric to me.) The values of the two odds ratios hardly differ. Wh

[2020-08-24 17:16] mjkofler opened #949 "Effect sizes for post-hoc interactions not printing"
* JASP version: 0.13.1

* OS name and version: macOS Catalina 10.15.6
* Analysis: Repeated measures ANOVA (Classical)
* Bug description: under the Post Hocs Tests menu, clicking "Effect Size" used to print Cohen's d effect size for each post hoc contrast. in 0.13.1 it still does this for main effects but not for interactions (other columns print as expected, i.e., mean difference, SE, t, p)
* Expe

[2020-08-26 12:07] JoKeyser commented on #661
#4031 was merged, it should trickle down to Weblate soon for further edits. I'm closing this issue.

[2020-08-26 12:07] #661 closed

[2020-08-26 12:33] EJWagenmakers commented on #661
I'm thrilled to see the German translation! Total geil! :-)

[2020-08-28 07:21] boutinb commented on #938
@JorisGoosen Do you think you can still fix this for 0.14? If it can't be fix next week, it must be postponed to 0.15

[2020-08-28 07:28] boutinb commented on #851
@FransMeerhoff, @FBartos , @JorisGoosen: can this issue still be solved for 0.14 (next week, we should stop all development on 0.14). If not it has to be postponed to 0.15

[2020-08-28 07:29] boutinb commented on #824
@JorisGoosen Did you have a look to this issue? If not it has to be postponed to 0.15

[2020-08-28 07:31] boutinb commented on #861
@JorisGoosen Should this issue be postponed to 0.15?

[2020-08-28 07:40] FBartos commented on #851
I'm not sure, but the issue seems to be just on my laptop (i.e., other people can see the "≤" in figures whereas I can't. I'm building a new PC next week and it will hopefully fix it.

[2020-08-28 07:40] boutinb commented on #808
Is this already solved?

[2020-08-28 07:42] boutinb commented on #882
I think this one has to be postponed to 0.15

[2020-08-28 07:48] boutinb commented on #851
It is maybe a font problem... I have just merged a PR where you can change the fonts of the results or the interface.

[2020-08-28 08:05] TimKDJ commented on #851
I've not seen a fix to this problem (it's because of UTF-8 problems on Windows with gettext). Any unicode in gettext is hidden from the user. It's actually a massive problem that cannot be pushed to 0.15, which is why I repeatedly put so much emphasis on solving this.

@boutinb open the following file and refresh it on MacOS:
[unicode-problems-windows.zip](https://github.com/jasp-stats/jasp-issues

[2020-08-28 08:28] FBartos commented on #851
@boutinb changing fonts doesn't fix the disappearing  "≤" in figures

[2020-08-28 08:37] vandenman commented on #851
@boutinb the fonts for the interface are completely separate from the fonts that R uses for plots. R currently looks at the system default and uses whatever font that is.

@FBartos if you've got some spare time, you could try out https://github.com/jasp-stats/jasp-desktop/pull/4219 to see if that works for you. That PR should allow you to specify a custom font for the plots.

[2020-08-28 08:49] FBartos commented on #851
@vandenman thanks, I will check it next week

[2020-08-28 09:55] Manuel-Sp1211 opened #950 "Fit of path analysis"
* JASP version: 0.13.1

* OS name and version: Catalina 10.15.6
* Analysis: SEM - Medition analysis
* Bug description: Path analysis with observed variables do not provide fit indices (CFI, RMSEA, etc.) How can I get this indices to report in a paper?
* Expected behaviour:

#### Steps to reproduce:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

[2020-08-28 12:09] #852 closed

[2020-08-28 12:34] ilias-nikolakopoulos commented on #808
Yes!!

On Fri, Aug 28, 2020 at 2:41 AM bruno boutin <notifications@github.com>
wrote:

Ilias Nikolakopoulos, MD
Research Fellow, Center for Coronary Artery Disease,
Minneapolis Heart Institute Foundation,
920 E 28th Street, Core Lab
Minneapolis
MN

[2020-08-28 13:03] JorisGoosen commented on #938
I would have to look at the issue with the data etc, next week I can do that. And know more.

[2020-08-28 13:04] CdeMills opened #951 ""INSTALLPATH" not used for all the binaries"
* JASP version: 0.11

* OS name and version: CentOS-8 x86_64

* Analysis: Some of the binaries may be installed elsewhere than /usr/bin by tweaking JASP.pri. I would like to keep all programs under /usr/bin managed by "dnf"

* Bug description: "jasp" is still installed as /usr/bin/jasp

* Expected behaviour: jasp should be installed as "$INSTALLPATH"/jasp

#### Steps to reproduce:
1. edit JASP.pri

[2020-08-28 13:06] JorisGoosen commented on #861
I don't think this will be too much work and it would be nice if we support this sooner rather than later.

[2020-08-28 13:09] JorisGoosen commented on #808
Sorry, but I was under the impression it was only "solved" because @ilias-nikolakopoulos switched to a computer where the username doesnt contain greek?

So if (s)he would use the other username, is it solved then?

[2020-08-28 13:10] JorisGoosen commented on #824
Did not have a look but probably the dependencies aren't right and the plot is being rendered again or something like that.
But this seems like this could easily be postponed to 0.15 anyway.

[2020-08-28 13:39] ilias-nikolakopoulos commented on #808
Hi! It worked with a username containing latin characters. I haven't tried
with any Greek usernames again since all my usernames are now in english.

Thanks,
Ilias
*Ilias Nikolakopoulos, MD*
*Research Fellow*

Center for Coronary Artery Disease
<https://mplsheart.org/ccad-science-center-2/>, Minneapolis Heart Institute
Foundation

Phone (w): 612-863-1039

Address: 920 East 28th Street, Core Lab, M

[2020-08-28 13:52] CdeMills opened #952 "Read ~/.Renviron on linux at startup"
* Enhancement: Take into account R_*_USER variables found in ~/.Renviron
* Purpose: R permits to have packages installed in some path where the user has write access by defining 3 variables: R_HOME_USER, R_PROFILE_USER and R_LIBS_USER. This way, user installed packages take precedence over system-packages. This mechanism should be used by JASP, including during its compilation and installation, to

[2020-08-28 14:10] vandenman commented on #952
Not a complete solution but a workaround is:

- set the environment variable `R_HOME` to wherever you installed R (leave it empty for `/usr/lib/R`).
- set the environment variable `JASP_R_Library` to wherever you want your library to be.

That way, the R version I use when building jasp matches the current release, as do all the R packages. At the same time, if I want to use R for something else (

[2020-08-28 15:42] JorisGoosen commented on #808
Efgaristo!

But that does mean this issue isn't actually solved.

[2020-08-28 15:46] ilias-nikolakopoulos commented on #808
Wow your Greek is impressive!
You are certainly very welcome.
Well, let me know if you want me to test this out again some time in the
future.

Thanks,
Ilias

*Ilias Nikolakopoulos, MD*
*Research Fellow*

Center for Coronary Artery Disease
<https://mplsheart.org/ccad-science-center-2/>, Minneapolis Heart Institute
Foundation

Phone (w): 612-863-1039

Address: 920 East 28th Street, Core Lab, Minnea

[2020-08-29 09:23] #921 closed

[2020-08-29 21:23] CdeMills commented on #952
Hello,
thanks for the tip. Tried ... but didn't work. And qt-creator is only for qt4 ?

Regards

Pascal

[2020-08-30 12:41] Anatoliy-Livov commented on #354
In my faculty, from Lecturers to Phd students, if they did SEM,  SmartPLS is preferred but it's commercial software and my school doesn't buy. Many students even lecturers choose pirated or trial version. I think if JASP supported PLS-SEM, it will be a good news for them.

[2020-08-31 07:28] naj-tay opened #953 "JASP crashed"
* JASP version: 0.13.1
* OS name and version: Windows 10 (10.0)

* Analysis:
* Bug description:
* Expected behaviour:

#### Steps to reproduce:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

-----------------------------------------------------------------------

### Debug information:
**Engine # 0** process *crashed* and it's state is *initializing*.
**Engine # 1** proce

[2020-08-31 09:07] vankesteren commented on #950
Hi Manuel, mediation analysis indeed does not have this option currently. For now, you can copy-paste the syntax generated by the mediation analysis into the SEM analysis for obtaining these metrics. To get the syntax, go to options  and tick "lavaan syntax".

[2020-08-31 10:46] boutinb commented on #953
Hi @naj-tay Could you be a bit more specific: does it happen when you just start JASP, when loading a file or doing an analysis?

[2020-08-31 11:52] JorisGoosen commented on #952
Im not sure I understand the issue here?

It seems that @CdeMills wants to use their own R-library right?
I think it should be possible to set R_HOME to whatever and you can use the local R however you like as far as I know.
Just start JASP like: `R_HOME=/usr/bla/bla jasp`

It would be good to support the R environ properly for those people compiling JASP themselves. It is just that usually people

[2020-08-31 13:42] naj-tay commented on #953
When i start jasp. Thanks.

Le lun. 31 août 2020 à 12:47 PM, bruno boutin <notifications@github.com> a
écrit :

[2020-08-31 15:58] sierraisawk opened #954 "JASP 0.13.1.0"
* JASP version: 0.13.1.0

* OS name and version: MacOS Catalina 10.15.6
* Analysis: Trying to download a file from my web browser safari to open through JASP and it is not working
* Bug description:
* Expected behaviour: need the file to be opened through JASP and not my computer's applications

I can not attach a JASP file unfortunately

[2020-08-31 16:46] #954 closed

[2020-09-01 04:31] LeonieBorne opened #955 "Problem starting JASP"
* JASP version: 0.13.1 (same problem if I try version 0.11.0 or 0.12.1)

* OS name and version: Ubuntu 20.04 (but I had the same problem with Ubuntu 18.04)
* Analysis: I try to launch JASP as normal.
* Bug description:

When I launch JASP, the following window opens:

![jasp-bug](https://user-images.githubusercontent.com/19991748/91794602-cedea480-ec5e-11ea-9433-9dad0a78576b.png)

This is the erro

[2020-09-01 06:22] ReannCalumbay opened #956 "JASP crashed"
* JASP version: 0.13.1
* OS name and version: Windows 7 (6.1)

* Analysis:
* Bug description:
* Expected behaviour:

#### Steps to reproduce:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

-----------------------------------------------------------------------

### Debug information:
**Engine # 0** process *crashed* and it's state is *initializing*.
**Engine # 1** process

[2020-09-01 08:18] TimKDJ commented on #918
@williamstome: could you provide a .jasp file with the RM ANOVA that runs very slow? This will help us narrow down what sort of data this problem occurs with.

@djdekker: there is a fix to the AN(C)OVA that will be available in tomorrow's nightly. Could you check if this speeds up the ANOVA for you? I tried your dataset but unfortunately (?) it seems to be quite speedy already even without @vanden

[2020-09-01 08:51] kornbrot opened #957 "bayes failure for linear mixed"
* JASP version:

* OS name and version:0:13.1
* Analysis: bayes linear mixed
* Bug description:
won't run has message
This analysis terminated unexpectedly.

Error in dimnamesGets(x, value): invalid dimnames given for “dgCMatrix” object

Stack trace

To receive assistance with this problem, please report the message above at: https://jasp-stats.org/bug-reports
* Expected behaviour:

#### Steps to

[2020-09-01 08:55] TimKDJ commented on #957
I'm assuming you're using MacOS, but are not on Catalina?
If so, see if this solves your problem: https://github.com/jasp-stats/jasp-issues/issues/899#issuecomment-662883316

[2020-09-01 09:09] ReannCalumbay opened #958 "JASP crashed"
* JASP version: 0.13.1
* OS name and version: Windows 7 (6.1)

* Analysis:
* Bug description:
* Expected behaviour:

#### Steps to reproduce:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

-----------------------------------------------------------------------

### Debug information:
**Engine # 0** process *crashed* and it's state is *initializing*.
**Engine # 1** process

[2020-09-01 09:30] kornbrot commented on #957
I am on Catalina, sorry should have said.
Also having trouble with contrasts in nonBayes generalised linear because if select only 2 levels of factor within specify contests still want to know about 3 levels
Will have to stick with R or SPSS
best
Diana

On 1 Sep 2020, at 09:55, Tim de Jong <notifications@github.com<mailto:notifications@github.com>> wrote:

I'm assuming you're using MacOS, but are

[2020-09-01 09:43] TimKDJ commented on #957
Could you verify that you clicked the correct installer at https://jasp-stats.org/download/?
On Catalina you need to install JASP with http://static.jasp-stats.org/JASP-0.13.1.0-Catalina.dmg
On High Sierra and Mojave you need http://static.jasp-stats.org/JASP-0.13.1.0-preCatalina.dmg

I've only seen the error you reported when the MacOS version did not line up with the correct installer.

Could yo

[2020-09-01 10:50] kornbrot commented on #957
Thanks
Done that
Now works for Bayes linear mixed, but had been hoping to see Bayes Factor and p(null), p(fixed= within)
Have output warning message in red, query in green
Bayesian Linear Mixed Models
Intercept
95% CI
Estimate        SE      Lower   Upper   R-hat   ESS (bulk)      ESS (tail)
0.191600                0.011761                0.168930                0.215215                1.000777

[2020-09-01 11:03] TimKDJ commented on #957
I'm sorry, but I'm not sure what you mean by this.
When you reply by email to the GitHub issues all attachments and styling is lost.
It's much better to go to https://github.com, log into your GitHub account and then post in [this issue](https://github.com/jasp-stats/jasp-issues/issues/957).
You'll also be able to attach the .jasp file (either rename .jasp to .zip, or compress it to .zip directly)

[2020-09-01 11:07] kornbrot commented on #957
Ok

On 1 Sep 2020, at 12:03, Tim de Jong <notifications@github.com<mailto:notifications@github.com>> wrote:

Have output warning message in red, query in green

I'm sorry, but I'm not sure what you mean by this.
When you reply by email to the GitHub issues all attachments and styling is lost.
It's much better to go to https://github.com<https://github.com/>, log into your GitHub account and then p

[2020-09-01 11:59] Manuel-Sp1211 opened #959 "robust ML and Satorra Bentler Chi square"
JASP version: 0.13.1
OS name and version: Catalina 10.15.6
Analysis: SEM - Medition analysis
Bug description: Could I get the robust Maximum Likelihood with the Satorra Bentler Chi-square and other robust statistics with JASP for CFA and SEM models?
Expected behaviour:

#### Steps to reproduce:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

[2020-09-01 12:24] boutinb commented on #953
If you go to C:\Users\<your name>\AppData\Roaming\JASP\JASP\Logs do you see some log files? If yes, can you send me these files (in a zip)?

[2020-09-02 07:09] FBartos commented on #957
Hi Diana, thanks for the report.

Unfortunately, we do not support Bayes factors for mixed effect models yet. We are planning to add them eventually but it won't be in the next release.

Regarding this error, could you do as Tim suggested and upload the zipped .jasp file than can be produced from JASP?

Cheers,
František

[2020-09-02 10:08] FloSchuberth commented on #354
And of course, if you do not want to wait till PLS is implemented in JASP, you can use R package cSEM (sorry for the self-promotion).

[2020-09-02 13:47] #938 closed

[2020-09-02 18:31] Anatoliy-Livov commented on #354
For business research students, it is quite hard to master R for
statistical analysis. I hope that JASP should be more windowed to be more
friendly for business research students.

On Wed, 2 Sep 2020 at 18:08, FloSchuberth <notifications@github.com> wrote:

[2020-09-03 13:11] #851 closed

[2020-09-03 22:08] g30diaz opened #960 "Syntax Mode"
* Enhancement:
* Purpose:
* Use-case:

**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2020-09-03 22:13] EJWagenmakers commented on #960
High priority, under development, & making good progress!

[2020-09-03 22:13] #960 closed

[2020-09-03 22:15] g30diaz commented on #960
Great to hear this! Thank you!

George Diaz

"Finishing is better than starting, patience is better than pride."
On Sep 3, 2020, 3:13 PM -0700, EJ <notifications@github.com>, wrote:

[2020-09-04 08:44] FloSchuberth commented on #354
Yes, I fully understand that and I guess that is also the reason for JASP. Let's hope that you will find there soon an implementation of PLS-PM.

[2020-09-04 12:12] robkoper opened #961 "Exploratory Factor crashes"
* JASP version: 0.13.1

* OS name and version: OSX Catalina 10.15.5
* Analysis:
Exploratory Factor Analysis
* Bug description:
I read a csv file with likert scale items (1-7). It reads it as ordinal data (I had to change it manually to scale variables).
Running Factor Analysis results with a certain number of variables to the message below:

_**The following problem(s) occurred while running the a

[2020-09-04 13:23] TarandeepKang commented on #24
I would like to second the request for robust analyses, and add that Wilcox has now published an R package with an associated Behaviour Research Methods paper, which documents all of his procedures. https://doi.org/10.3758/s13428-019-01246-w

[2020-09-05 04:29] ElJefito opened #962 "JASP crashed"
* JASP version: 0.13.1
* OS name and version: Windows 10 (10.0)

* Analysis:
* Bug description:
* Expected behaviour:

#### Steps to reproduce:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

-----------------------------------------------------------------------

### Debug information:
**Engine # 0** process *crashed* and it's state is *initializing*.
**Engine # 1** proce

[2020-09-05 08:26] giuconte opened #963 "JASP crashed"
* JASP version: 0.13.1
* OS name and version: Windows 10 (10.0)

* Analysis:
* Bug description:
* Expected behaviour:

#### Steps to reproduce:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

-----------------------------------------------------------------------

### Debug information:
**Engine # 0** process *crashed* and it's state is *initializing*.
**Engine # 1** proce

[2020-09-05 08:27] giuconte opened #964 "JASP crashed"
* JASP version: 0.13.1
* OS name and version: Windows 10 (10.0)

* Analysis:
* Bug description:
* Expected behaviour:

#### Steps to reproduce:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

-----------------------------------------------------------------------

### Debug information:
**Engine # 0** process *crashed* and it's state is *initializing*.
**Engine # 1** proce

[2020-09-05 13:00] boutinb commented on #955
@JorisGoosen or @vandenman, do you have any idea about this problem?

[2020-09-05 13:03] boutinb commented on #956
Could you be a bit more specific: does it happen when you just start JASP, when loading a file or doing an analysis?
If you go to C:\Users<your name>\AppData\Roaming\JASP\JASP\Logs do you see some log files? If yes, can you send me these files (in a zip)?
Also did you try to install the pre-installed version: http://static.jasp-stats.org/JASP-0.13.1.0-64bit.zip?

[2020-09-05 13:03] boutinb commented on #962
Could you be a bit more specific: does it happen when you just start JASP, when loading a file or doing an analysis?
If you go to C:\Users\AppData\Roaming\JASP\JASP\Logs do you see some log files? If yes, can you send me these files (in a zip)?
Also did you try to install the pre-installed version: http://static.jasp-stats.org/JASP-0.13.1.0-64bit.zip?

[2020-09-05 13:04] boutinb commented on #963
Could you be a bit more specific: does it happen when you just start JASP, when loading a file or doing an analysis?
If you go to C:\Users\AppData\Roaming\JASP\JASP\Logs do you see some log files? If yes, can you send me these files (in a zip)?
Also did you try to install the pre-installed version: http://static.jasp-stats.org/JASP-0.13.1.0-64bit.zip?